[2021-01-26 19:51] #3244 closed

[2021-01-26 22:32] antoineco commented on #2750
/remove-lifecycle stale

[2021-01-27 00:21] #4759 closed

[2021-01-27 12:51] vaikas opened #4796 "kind lint fails with timeout error."
**Describe the bug**

https://github.com/knative/eventing/pull/4795/checks?check_run_id=1776637063

Noticed this in a PR that I put together:
[code]

 **Expected behavior**
Lint to work reliably.

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative release version**
HEAD

 **Additional context**
Add any other context about the problem here such as proposed priority

[2021-01-27 13:30] Shashankft9 commented on #4757
I just checked, I do get this at the startup:
[code]

[2021-01-27 13:40] lionelvillard commented on #4757
That's explain why you don't get traces but that does not explain why it works for APIServerSource. Can you do:

[code]

and share the result?

[2021-01-27 14:08] Shashankft9 commented on #4757
[code]

[2021-01-27 14:12] Shashankft9 commented on #4757
hmm i am using the image after doing some code change here: https://github.com/Shashankft9/eventing/blob/master/pkg/adapter/v2/config.go#L187
I changed `e.Component` to `""` to make APIServerSource traces to work. context: https://github.com/knative/eventing/issues/1889#issuecomment-762033421

[2021-01-27 14:30] lionelvillard commented on #4757
thanks @Shashankft9  I see what's wrong, K_TRACING_CONFIG is missing. The controller does not set it.

[2021-01-27 14:31] lionelvillard commented on #4757
@cr22rc Do you have cycles to look at this one?

[2021-01-27 14:33] lionelvillard commented on #4762
still seeing failures.

[2021-01-27 15:29] n3wscott commented on #4513
/assign

[2021-01-27 17:12] slinkydeveloper commented on #4736
cc @skonto for feedback

[2021-01-27 17:37] kthakar1990 commented on #4769
@skonto we have a requirement for couple of metrics for our source and I had presented about that in a community workgroup meeting today.

They asked me to connect with you to see if I can contribute in this work with you all and get our requirements added along with the same PR that you are working on. This is the [issue](https://github.com/knative/eventing/issues/4736) for your reference.

Pleas

[2021-01-28 10:55] #3118 closed

[2021-01-28 11:58] skonto commented on #4736
@kthakar1990 feel free to add the required metrics via a PR. I will also share shortly a doc to collaborate on defining what metrics Serving/Eventing requires to be exposed and what is the current status so we can collaborate on this.
/cc @aliok  @bharattkukreja @evankanderson

[2021-01-28 12:12] knative-test-reporter-robot opened #4799 "[flaky] test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1beta1/min-event_encoding_structured_version_0.3"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1beta1/min-event_encoding_structured_version_0.3
* **Repository name**: eventing

[2021-01-28 12:12] knative-test-reporter-robot opened #4800 "[flaky] test/conformance.TestSourceStatus/Long_living_sources_have_Ready_status_condition"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestSourceStatus/Long_living_sources_have_Ready_status_condition
* **Repository name**: eventing

[2021-01-28 12:12] knative-test-reporter-robot opened #4801 "[flaky] test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1beta1/min-event_encoding_binary_version_0.3"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1beta1/min-event_encoding_binary_version_0.3
* **Repository name**: eventing

[2021-01-28 12:12] knative-test-reporter-robot opened #4802 "[flaky] test/conformance.TestBrokerV1Beta1DataPlaneConsumer/MTChannelBasedBroker-eventing.knative.dev/v1beta1/Events_are_delivered_to_multiple_subscribers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerV1Beta1DataPlaneConsumer/MTChannelBasedBroker-eventing.knative.dev/v1beta1/Events_are_delivered_to_multiple_subscribers
* **Repository name**: eventing

[2021-01-28 12:13] knative-test-reporter-robot opened #4803 "[flaky] test/conformance.TestBrokerV1Beta1DataPlaneIngress"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerV1Beta1DataPlaneIngress
* **Repository name**: eventing

[2021-01-28 12:13] knative-test-reporter-robot opened #4804 "[flaky] test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1beta1/full-event_encoding_binary_version_1.0"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1beta1/full-event_encoding_binary_version_1.0
* **Repository name**: eventing

[2021-01-28 12:13] knative-test-reporter-robot opened #4805 "[flaky] test/conformance.TestSourceStatus/Long_living_sources_have_Ready_status_condition/ApiServerSource-sources.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestSourceStatus/Long_living_sources_have_Ready_status_condition/ApiServerSource-sources.knative.dev/v1
* **Repository name**: eventing

[2021-01-28 12:13] knative-test-reporter-robot opened #4806 "[flaky] test/conformance.TestBrokerV1Beta1DataPlaneConsumer"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerV1Beta1DataPlaneConsumer
* **Repository name**: eventing

[2021-01-28 12:13] knative-test-reporter-robot opened #4807 "[flaky] test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1beta1/min-event_encoding_structured_version_1.0"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1beta1/min-event_encoding_structured_version_1.0
* **Repository name**: eventing

[2021-01-28 13:35] skonto commented on #4769
I did a quick PoC on the new lib for the metrics stuff and tried to emulate the memstats we have in knative/pkg, [here](https://gist.github.com/skonto/f9b0511da30d61af337d32672bffd4d3) is a sample of the latter. Here are the [issues](https://github.com/skonto/test-otel#known-issues) I spotted. I didnt want to jump in directly of porting stuff in knative.dev before we know what is working and what

[2021-01-28 15:16] vaikas commented on #4762
https://github.com/knative-sandbox/eventing-autoscaler-keda/pull/73
Should fix it (with the kafka caveat as mentioned in the issue).

[2021-01-28 22:10] xtreme-sameer-vohra commented on #4796
/assign

[2021-01-29 05:24] #3119 closed

[2021-01-29 12:55] cardil opened #4810 "[QE] Wathola sender is affected by Coordinated Omission Problem"
**Describe the bug**
The _wathola_ sender - a testing utility that is used to assert continual propagation of events is affected with [The Coordinated Omission Problem](https://jaxenter.com/performance-problems-pre-production-tests-114128.html). Target service response time is now influencing the rate that the sender is sending the events, as sending is synchronous and single threaded.

 **Expecte

[2021-01-29 13:40] kthakar1990 commented on #4736
@skonto I was told by @vaikas and others that you're working on a PR and I can work with you to get my changes added to that PR.. So, for clarification when you said feel free to add the required metrics via PR.. is there an existing code or a PR that you have submitted where I am supposed to add my changes or are you asking me to go on about this requirement independently. I would not mind either

[2021-01-29 13:45] cardil commented on #4810
/area test-and-release
/assign

[2021-01-29 13:49] cardil commented on #4810
I could do this, but maybe someone different is interested in this refactoring?

[2021-01-29 14:23] cardil opened #4812 "[QE] Allow override transport for wathola sender with plugin system"
**Problem**
Currently, [_wathola_ sender](https://github.com/knative/eventing/blob/master/test/upgrade/README.md#probe-test), a tool used in eventing upgrade tests, can send events only using HTTP POST request to a specified URL. That's okay for most of the tests, but in some cases it's lacking. Mostly for testing various Knative sources. In those tests we would like to send events directly to a g

[2021-01-29 14:23] cardil commented on #4812
/area test-and-release
/assign

[2021-01-29 15:04] skonto commented on #4736
@kthakar1990 I replied on slack as well. You could add your metrics in the current implementation, my PoC is irrelevant to the metrics you want to add. I guess there is a misunderstanding there, what I am working on is evaluating of moving to open telemetry go lib at some point. At some point these migration may affect existing metrics but its to early.
I am not working on adding the metrics you n

[2021-01-29 15:09] zhongduo commented on #4812
You might want to check out the cloudevents [sdk-go](https://github.com/cloudevents/sdk-go/tree/master/v2), I think it has some binding and transport supports.

[2021-01-29 16:19] cardil commented on #4812
@zhongduo right, there's [gochan protocol](https://github.com/cloudevents/sdk-go/tree/master/v2/protocol/gochan) that I can use to send an event to a different place, but that will also require some change in sender code to allow influencing that from outside packages.

[2021-01-29 17:07] zhongduo opened #4813 "Potential reconciler loop when multiple brokers try to reconcile triggers without brokers"
**Describe the bug**
When having multiple broker controllers installed, all the controllers might potentially reconcile triggers without valid broker to set the status to `BrokerDoesNotExist` to be compliant with the spec. The problem is that these broker reconcilers might not use exactly the same string for the status. As a result, the trigger status will keep updating, which then causes all the

[2021-01-29 18:24] pierDipi commented on #4813
This is not only about the exact same string but the entire condition set, are you sure https://github.com/google/knative-gcp/pull/2109/commits/49572f505d7aa25c611cd699477aff2f22a382f5 solves the problem?

https://github.com/knative/eventing/issues/3094 contains a bit of background on custom conditions set.

What about an additional controller that owns triggers without a broker?
(Some contention

[2021-01-29 19:00] #4540 closed

[2021-01-29 19:00] zhongduo commented on #4813
@pierDipi your understanding of the problem is definitely correct. The problem will persist if multiple reconcilers are trying to change the conditionSet differently. Somehow I thought "BrokerDoesNotExist" was part of our spec somewhere.... The PR in knative gcp is really just a workaround to work with both mtbroker and gcp broker and yes it does work around my problem, but it might not solve othe

[2021-01-29 21:02] zhongduo commented on #4813
Grant also mentioned that this issue might exist in `channel` too. I think the general solution requires some in-depth discussion. The real question is how to decide the ownership of resources.

[2021-01-30 12:10] #4804 closed

[2021-01-30 12:10] #4800 closed

[2021-01-30 12:10] #4806 closed

[2021-01-30 12:10] #4807 closed

[2021-01-30 12:10] #4803 closed

[2021-01-30 12:10] #4805 closed

[2021-01-30 12:10] #4802 closed

[2021-02-01 08:46] antoineco opened #4819 "Adapter shared main exits with 0 on error"
**Describe the bug**

When `adapter.Start()` returns an error, the shared main logs that error, but exits with an error code of `0` like nothing happened.

https://github.com/knative/eventing/blob/9dc57e2344579c3bceea306594eba1c52b9cb625/pkg/adapter/v2/main.go#L197-L201

 **Expected behavior**

The shared main exits with an error code >= `1` so that Kubernetes interprets the failure correctly.

 *

[2021-02-01 10:37] slinkydeveloper opened #4821 "Implement the spec change of Delivery field in mtbroker"
Look at https://github.com/knative/eventing/pull/4654 for more details. mtbroker needs to be changed to be compliant with the new meaning of `BrokerSpec.Delivery`

[2021-02-01 10:37] slinkydeveloper commented on #4821
/assign

[2021-02-01 15:52] #4819 closed

[2021-02-01 16:18] vaikas opened #4825 "Downstream tests failing with gnostic hash mismatch."
**Describe the bug**
Downstream tests are failing with a mismatch hash. This is not related to eventing, as we observe these kinds of failures also in other repos, but just jotting this down here so we can keep track of it.

Here's couple of examples:
https://github.com/knative/eventing/pull/4824/checks?check_run_id=1807924930
https://github.com/knative/eventing/pull/4824/checks?check_run_id=18079

[2021-02-01 17:40] grantr commented on #4825
Looks like others are having the same problem https://github.com/google/gnostic/issues/238

[2021-02-01 17:47] grantr commented on #4813
We might be able to use managed fields for this? But I don't know how they really work so maybe I'm wrong about that.

[2021-02-01 17:51] vaikas commented on #4812
@slinkydeveloper do we think this might be functionality for the eventshub since it's using the cloudevents, etc.?

https://github.com/knative-sandbox/reconciler-test/tree/master/cmd/eventshub

[2021-02-01 18:04] grantr commented on #4791
@pierDipi does #4811 fix this? @vaikas thought it might.

[2021-02-01 18:08] grantr commented on #4778
This hasn't failed in 10 days. Seems like it might have been related to the webhook HA change instability. I'll close and let Prow reopen if it's still flaky

[2021-02-01 18:08] #4778 closed

[2021-02-01 18:15] grantr commented on #4753
According to @lionelvillard we need to replace Lease-based leader election with a different strategy that doesn't rely on the apiserver.

[2021-02-01 18:19] grantr commented on #4748
Another way to do this would be to add a field selector. Then you could add a field selector clause like `metadata.name=test`

[2021-02-01 18:21] vaikas commented on #4515
@slinkydeveloper can this be closed now?

[2021-02-01 18:25] grantr commented on #4742
Haven't seen this since

[2021-02-01 18:25] #4742 closed

[2021-02-01 18:32] pierDipi commented on #4791
No, it doesn't, KinD E2E tests don't use chaosduck: https://github.com/knative/eventing/blob/d58bd38861b30b56c3325bf96a0841208b086767/.github/workflows/kind-e2e.yaml#L161-L162

[2021-02-01 18:38] slinkydeveloper commented on #4515
No, need to implement the change to the mtbroker

[2021-02-01 18:38] slinkydeveloper commented on #4515
/assign

[2021-02-01 19:03] vaikas commented on #4791
zomg, that's right I already asked that earlier :)

Thanks!

[2021-02-01 19:10] slinkydeveloper commented on #4812
Maybe? I'm not really sure what's the requirement here.

I do actually wonder why we don't use eventshub (which is meant to be the one stop for all utilities to send/receive/transform events) for upgrade tests

[2021-02-01 20:57] Harwayne commented on #1889
/unassign
/assign Shashankft9

I'm sad that the old solution was lost during some past refactor, but glad that it still works.

[2021-02-01 21:33] bharattkukreja commented on #4769
@skonto can you share the branch with your changes? (I want to take up other areas for API Server Source migration). I am a little concerned about the issues because otel is supposed to be backwards compatible.

[2021-02-02 14:14] vaikas commented on #4796
Failed here again:
https://github.com/knative/eventing/pull/4828/checks?check_run_id=1809691351

[2021-02-02 14:20] vaikas commented on #4812
@slinkydeveloper that's why I wanted to loop you in here to see if we can utilize eventshub for all the needs. I wasn't sure if maybe it was missing something. looks like we want to maybe have something like kafka sender, and for example in knative-sandbox/eventing-rabbitmq we have a sender that knows how to send native rabbitmq messages to exercise the source.

[2021-02-02 16:12] xtreme-sameer-vohra commented on #4796
Created a [PR](https://github.com/knative-sandbox/.github/pull/91) in the .github repo which is the source of truth for github workflows

[2021-02-02 18:36] #4796 closed

[2021-02-03 01:22] bharattkukreja opened #4831 "Record retry metrics"
**Problem**
Currently we are recording metrics for events that are sent to a subscriber (event_count, dispatch latencies etc), however we don't have any metrics corresponding to delivery failures (i.e when the Trigger's request does not succeed and the event is sent back to the broker to be delivered again to the subscriber). It'll be really useful to have retry metrics to allow better debugging a

[2021-02-03 01:24] bharattkukreja commented on #4831
/assign bharattkukreja

[2021-02-03 08:58] slinkydeveloper opened #4833 "Implement TriggerSpec.Delivery for mtbroker"
**Problem**
After https://github.com/knative/eventing/pull/4832 we need to implement the `BrokerSpec.Delivery` and `TriggerSpec.Delivery` according to the spec. Now the mtbroker implements only `BrokerSpec.Delivery`.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for? User

**Exit Criteria**
`BrokerSpec.Delivery` and `TriggerSpec.Del

[2021-02-03 10:03] maschmid opened #4834 "Broker doesn't retry on "unexpected EOF" reading replies"
**Describe the bug**
Having a broker (mtbroker backed by InMemoryChannel, or KafkaChannel) with retries configured

[code]

and triggers subscribing knative services.

One of the ksvcs, written in golang, returns new events as replies.

The applications sporadically loses events when stream is unexpectedly terminated becase of a golang bug affecting the knative serving service

(see https://github

[2021-02-03 16:06] slinkydeveloper commented on #4834
My opinion is that I consider the unexpected EOF on response a user error (sometimes it's even caused by a svc bug) and we shouldn't retry user errors, because they may cause unexpected behaviours from the user side.

IMO If a user needs to push back messages to the broker delivery in an "affordable" way, we should just tell him "send a request to the broker ingress"

[2021-02-03 16:10] lamw opened #4835 "Include default imagePullPolicy in eventing manifests"
**Problem**

We ([VMware Event Broker Appliance team](https://vmweventbroker.io/)) plan to incorporate the Knative Eventing components into our solution. One of the customer requirements is to not to require an internet or network proxy for deployment and the solution should be completely self-contained within the appliance. This means we pre-download all required containers, including Knative ima

[2021-02-03 16:18] maschmid commented on #4834
Note that flows ( https://knative.dev/docs/eventing/flows/sequence/ ) also depend on using replies...

Also, if the user specifies non-zero `delivery.retry`, they already must be prepared for the possibility of having the service invoked more than once with the same event.

Another point is that if you'd front the service by a proxy that would verify the responses are complete and a valid cloudeve

[2021-02-03 16:23] vaikas commented on #4834
Just making sure I understand what's happening first :)

We send an event, function responds but something goes wrong and we get EOF and the event is not retried?
My knee jerk reaction is that we should retry that, just like at the protocol level failure we'd retry, why not retry at the network level?

[2021-02-03 16:25] lionelvillard commented on #4835
I'm guessing assigning this field might break existing downstream pipeline. @cr22rc @matzew @grantr @antoineco ?

[2021-02-03 16:34] antoineco commented on #4835
I think it should be OK, as long as it's set to Kubernetes' default (`IfNotPresent`).

My only (air quote) concern with this request is that, for example, we at TriggerMesh also inject things like affinities and tolerations to all Knative manifests. Does it mean upstream should include these? (I don't have the answer, if it helps the community then yes. If users expect manifests to be as neutral a

[2021-02-03 17:29] vaikas opened #4836 "Plan for removal of v1beta1 APIs for {messaging, eventing, flows}"
**Problem**
We need a plan for the removal of v1beta1 APIs. As per our deprecation policy:
https://knative.dev/community/contributing/mechanics/release-versioning-principles/

We guarantee 9 months of support for v1beta1 APIs. This makes the release 2021/05/18 the earliest release that we can remove it. If we want to target that we should start planning for that.

We should also look at adding the

[2021-02-03 18:24] cardil commented on #4812
@slinkydeveloper I'm not aware of this eventshub thing. Can you provide some knowledge links, so I can read more what is the purpose of it?

On the other hand I'll try to provide some background here for you what upgrade tests are doing with their wathola tool.

The overall picture can be seen in https://github.com/knative/eventing/blob/master/test/upgrade/README.md#probe-test paragraph.

TL;DR -

[2021-02-03 18:32] zhongduo opened #4837 "Per trigger delivery spec should not be a MUST"
**Describe the bug**
In #4654 the Per trigger delivery spec is set as a MUST, this will break existing broker implementations that cannot support it.

 **Expected behavior**
We should keep compatibility with brokers that cannot support per trigger delivery spec by changing it to SHOULD.

[2021-02-03 18:32] zhongduo commented on #4837
/cc @slinkydeveloper @vaikas @lionelvillard @grantr

[2021-02-03 18:49] zhongduo commented on #4813
In today's Eventing WG meeting, @vaikas shared the same point with @pierDipi that there can be a tiny controller to reconcile resources without explicit ownership, like this trigger without broker. And a broker shouldn't try to reconcile the trigger if it does not explicit own it.

[2021-02-03 18:50] zhongduo commented on #4813
@n3wscott also mentioned we can do some fancy thing using reconciler queue, would you mind elaborating the idea?

[2021-02-03 18:52] #4837 closed

[2021-02-03 23:00] antoineco commented on #4835
By the way, taking about injecting custom configuration fields into Knative's release manifests, I shared an example that uses `kustomize` [here](https://github.com/antoineco/knative-kustomize-example) (it's built inside `kubectl`, nothing else to install).

It should be slightly more maintainable than `sed` commands, in case that's an option you can consider for your pipeline.

[2021-02-04 01:28] #4124 closed

[2021-02-04 08:25] slinkydeveloper commented on #4812
@cardil eventshub is able to perform the same exact tasks, with the difference that today it doesn't record the aggregation of events, but it record them one by one https://github.com/knative-sandbox/reconciler-test/tree/master/pkg/test_images/eventshub
eventshub "toolkit" includes the code to perform assertions on the received events. All the mentioned features actually belong to eventshub I beli

[2021-02-04 13:20] matzew commented on #2426
So... I'd be interested in landing `high-availablity` for the operator (see: https://github.com/knative/operator/pull/444 )  - since that's already there for serving (only serving ... :roll_eyes: )

And some HPA def: https://github.com/knative/eventing/pull/4792

And perhaps others - how to add those ?  Also.... This is HA for the operator (but the eventing bits deployed by that). Still relevant h

[2021-02-04 13:40] aliok commented on #2426
I would like to add these items that I am working on:
- Kafka channel unification
- Kafka component code share

Makes sense?
Wanted to add directly to the doc and ask feedback there, but I see no links.
cc @devguyio

[2021-02-04 13:46] devguyio commented on #2426
@aliok thanks for pointing it out. This is the doc, added to the description as well https://docs.google.com/document/d/1yu1FAcDqJatuAVwyT3gyr6Yq2sRtIn1Sc4HQDVlr09s/edit

[2021-02-04 13:52] vaikas commented on #4813
I think @n3wscott was simply saying that to avoid potential races when a new resource is created, we could introduce a delay in the reconciler queue so that the mini-controller would not reconcile resources immediately, but after some short delay.

[2021-02-04 14:02] #4709 closed

[2021-02-04 14:57] vaikas commented on #4836
The deprecation notice requires k8s 1.19 so we can't do that since our minimum supported k8s version is 1.18.

[2021-02-04 15:00] vaikas commented on #4836
So, looking at the release schedule this would happen for v0.23.

[2021-02-04 15:09] zhongduo commented on #4813
Ah, thanks for the explanation. That makes sense.

On Thu, Feb 4, 2021 at 8:53 AM Ville Aikas <notifications@github.com> wrote:

[2021-02-04 17:41] vaikas commented on #3133
We'll visit after the scoping document gets ratified to find a place and who needs to do what with this.

[2021-02-04 21:50] cardil commented on #4812
@slinkydeveloper I agree that we should unify those two in single configurable tooling.

But, I don't think, I should make this quite large unifying effort while addressing this issue.

Maybe even more, judging by features alone, it looks to me like wathola already have more features useful for upgrade tests then eventshub. That's why I'm not entirely convinced, that we should move wathola feature

[2021-02-05 08:03] slinkydeveloper commented on #4812
What I'm saying is that we should address first the problem of having 2 test images with similar goals, and then move forward with addressing the remaining issues.

That's ok too for me, as long as we keep the "result image" in reconciler-test repo and it keeps the same features and the same assertion system (publish events via k8s events with EventInfo structure, all the various reply options, et

[2021-02-05 13:46] cardil commented on #4812
I have to do knative-sandbox/eventing-kafka#67, so I really would like to do it here. And then make that refactoring unifying effort.

The other way around would make postponing knative-sandbox/eventing-kafka#67 quite a lot, and that's not good.

[2021-02-05 16:50] slinkydeveloper commented on #4812
Can we have this change to wathola "contained" only in eventing-kafka as a "temporary solution" and then we put our hands on the refactoring/unification effort? Sooner we unify that code, better is for everybody and simpler is to perform such unification. If we diverge too much in features, the unification task will just become more complex

[2021-02-05 20:07] cardil commented on #4812
@slinkydeveloper I can agree to such plan.

[2021-02-06 00:03] yuzisun opened #4844 "single tenant IMC missing RBAC for the leases"
**Describe the bug**
[code]

 **Expected behavior**
should have the proper RBAC for HA when running imc dispatcher in tenant namespace

 **To Reproduce**
Create imc channel with `eventing.knative.dev/scope: namespace` and then you will see the error in imc dispatcher log in tenant namespace

[code]
 **Knative release version**
0.17.0

 **Additional context**
Add any other context about the problem

[2021-02-06 00:04] yuzisun commented on #4844
/cc @lionelvillard

[2021-02-06 01:27] #2974 closed

[2021-02-08 11:58] pierDipi opened #4847 "Consistently handle filters with empty string as value on optional attributes and extensions"
**Describe the bug**

// filtering by equality. Only exact matches will pass the filter. You can use the value ''
// to indicate all strings match.

Our implementation:

https://github.com/knative/eventing/blob/daa085d6063cd15f643a0e9373641e29d31157a4/pkg/eventfilter/attributes/filter.go#L37-L74

---
Given a filter like:
[code]
and an event like:
[code]
the filter passes even though there is no su

[2021-02-08 14:19] zhongduo commented on #4847
IMO empty string should have the same meaning as not having the key, which means all strings.

[2021-02-08 17:51] lberk commented on #4831
@bharattkukreja I've optimistically put this in the `v0.21.0` milestone (which is Feb 16th/pkg Feb 23rd/eventing), but if it doesn't land in `v0.21.0` no worries, can always push it back, thanks for working on this!

[2021-02-08 18:11] bharattkukreja commented on #4831
Sounds good. Thank you @lberk. It'll most likely be delayed and go into the next one. I'll keep this thread updated.

[2021-02-08 19:28] pierDipi commented on #4847
This is what we're doing in Kafka broker. so +1.
However, another understandable opinion that came up during a meeting was that it seems wonky since it's equivalent to no filter for that attribute.

@knative/eventing-wg-leads, please, share your opinions.

[2021-02-08 23:31] eclipselu opened #4852 "PingSource: event consumer should receive the actual data when using dataBase64"
**Describe the bug**
Currently when specifying dataBase64 in PingSource, event consumer receives the base64 encoded data, e.g.

If we create pingsource like this:

[code]

Consumer will receive:

[code]

dataBase64 is base64 encoded because binary data cannot be represented in yaml, this is an implementation detail that should not concern consumers. Consumer should just get the actual data the sou

[2021-02-09 12:10] knative-test-reporter-robot opened #4856 "[flaky] pkg/inmemorychannel.TestDispatcher_dispatch"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/inmemorychannel.TestDispatcher_dispatch
* **Repository name**: eventing

[2021-02-09 17:14] slinkydeveloper commented on #4834
Discussed during the Event Delivery WG February 9, 2021: We should retry this error. We also expressed interest in letting the user configure retry policies

[2021-02-09 20:16] lionelvillard commented on #4486
When the dependency is not available, the trigger is marked as not ready, reason `DependencyDoesNotExist`.

[2021-02-09 23:34] #4852 closed

[2021-02-10 08:30] slinkydeveloper commented on #1777
This was done and then removed, I'll close it

[2021-02-10 08:30] #1777 closed

[2021-02-10 14:10] lionelvillard commented on #2005
/remove-lifecycle stale

[2021-02-10 16:30] devguyio commented on #4762
Fixed

[2021-02-10 16:30] #4762 closed

[2021-02-10 19:31] lionelvillard commented on #3299
/remove-lifecycle stale

[2021-02-10 19:40] lionelvillard opened #4865 "Promote PingSource to v1"
**Problem**
PingSource is now ready to be promoted to v1

Persona:
**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve?

**Additional context

[2021-02-10 21:04] grantr commented on #4847
+1 to the behavior suggested by @zhongduo and implemented in the Kafka broker. It is unfortunate that there's no way to match a message missing an attribute, but perhaps that should be handled by a different filter type specifically for matching attribute presence.

[2021-02-10 22:24] lamw commented on #4835
Thanks to @dprotaso, it looks like the default behavior of Knative Eventing (e.g. not including `imagePullPolicy`) actually gives us the desired behavior. More details https://github.com/knative/serving/issues/10689#issuecomment-777076082

[2021-02-10 22:24] #4835 closed

[2021-02-10 23:03] grantr opened #4868 "Protocol version and feature negotiation between sender and receiver"
**Problem**
HTTP POST is currently the only officially supported delivery protocol. This protocol is intentionally simple: no streaming, no session-specific variables or caching, no options. It's the easiest delivery protocol to implement and understand, plus it works well with Knative Serving. It's a good default choice.

Other protocols can offer higher performance or more features if both sende

[2021-02-10 23:28] vaikas commented on #4847
Hm, I'm not sure. I actually think if we change it to mean there's no event, then it's not possible to say to have a filter that gets all the events that have a particular extension regardless of what it is. I'm actually thinking we should possibly change the Subject = ''
to only match if there's a subject on the event.

Otherwise it seems goofy because then:
<missing> myextension => all events th

[2021-02-11 10:38] slinkydeveloper opened #4871 "Failing tests with new test framework"
We should investigate this flakyness of the new test framework and figure out if it's the code itself, or some bug in the test framework https://github.com/knative/eventing/pull/4869/checks?check_run_id=1876170654

[2021-02-11 10:41] slinkydeveloper commented on #4871
For sure this should not happen after the test goroutine completed:

[code]

[2021-02-11 11:35] pierDipi commented on #4871
Duplicate: https://github.com/knative/eventing/issues/4637

[2021-02-11 11:37] slinkydeveloper commented on #4871
I'm sorry, I'm going to close it

[2021-02-11 11:37] #4871 closed

[2021-02-11 13:08] slinkydeveloper commented on #4834
/assign

[2021-02-11 13:17] slinkydeveloper commented on #4834
/unassign

Now that I'm looking at it, for this particular issue, the "original" problem is that the filter_handler doesn't execute retries at all, it's related to https://github.com/knative/eventing/issues/4821

[2021-02-11 13:25] slinkydeveloper opened #4873 "Implement the DeliverySpec in trigger filter dispatcher"
**Describe the bug**
With `BrokerSpec.Delivery` and `TriggerSpec.Delivery` users can configure delivery options. We need to implement these options (retries)

 **Expected behavior**
Retry works as expected

[2021-02-11 13:25] slinkydeveloper commented on #4834
Depends on https://github.com/knative/eventing/issues/4873

[2021-02-11 13:28] slinkydeveloper commented on #4873
/kind good-first-issue

[2021-02-11 13:31] slinkydeveloper commented on #4873
Depends on https://github.com/knative/eventing/pull/4832

[2021-02-11 14:03] slinkydeveloper commented on #4868
Duplicate of https://github.com/knative/eventing/issues/4868, can we close one of the two?

[2021-02-11 14:03] slinkydeveloper commented on #1349
Is this still relevant? @vaikas

[2021-02-11 14:06] pierDipi commented on #4834
Isn't the downstream dispatcher (channel dispatcher) responsible for retrying?

[2021-02-11 14:07] slinkydeveloper commented on #4834
Please let's move this discussion in #4873

[2021-02-11 14:07] slinkydeveloper commented on #4873
It kinda is, but does it really makes sense? Wouldn't it be better to give this concern to the filter handler which already run the filtering etc?

[2021-02-11 14:16] slinkydeveloper commented on #4486
IIUC this issue is duplicate of https://github.com/knative/eventing/issues/1396 and https://github.com/knative/eventing/issues/2003, can we close the old ones?

[2021-02-11 14:19] slinkydeveloper commented on #2411
I believe this is mostly done, re-open if you need it

[2021-02-11 14:20] #2411 closed

[2021-02-11 14:20] slinkydeveloper commented on #2460
@devguyio is this still relevant? can we close it?

[2021-02-11 14:22] slinkydeveloper commented on #2153
Is this still relevant? Since I see you worked on this in more specific issues, can we close this more general issue?

[2021-02-11 14:22] slinkydeveloper commented on #2154
Is this still relevant? Since I see you worked on this in more specific issues, can we close this more general issue?

[2021-02-11 14:22] slinkydeveloper commented on #2161
Is this still relevant? Since I see you worked on this in more specific issues, can we close this more general issue?

[2021-02-11 14:22] slinkydeveloper commented on #2191
Is this still relevant? Since I see you worked on this in more specific issues, can we close this more general issue?

[2021-02-11 14:23] slinkydeveloper commented on #2152
Is this still relevant? Since I see you worked on this in more specific issues, can we close this more general issue?

[2021-02-11 14:52] slinkydeveloper commented on #2266
Looping in a googler which might provide some help @grantr

[2021-02-11 14:53] slinkydeveloper commented on #2461
Is this still relevant? Can we close it?

[2021-02-11 14:53] lionelvillard commented on #4486
#1396 and #2003 are different issues.

[2021-02-11 14:56] slinkydeveloper commented on #2464
It sounds like this was fixed with https://github.com/triggermesh/pkg/commit/76b1a0d8134f5a5d4172a8b95b0e6ce47b92c0f7, reopen if you need it

[2021-02-11 14:56] #2464 closed

[2021-02-11 14:58] slinkydeveloper commented on #2474
@vaikas can this be closed? I see https://github.com/knative/eventing/issues/2470 is fixed

[2021-02-11 15:00] slinkydeveloper commented on #2507
Is that related to #4868? Can we close it in favour of #4868?

[2021-02-11 15:02] slinkydeveloper commented on #2614
We have a spec that address all the above aspects https://github.com/knative/eventing/blob/master/docs/spec/data-plane.md I'm going to close this and the related issues, reopen if you need it

[2021-02-11 15:02] #2614 closed

[2021-02-11 15:02] #2658 closed

[2021-02-11 15:02] #2656 closed

[2021-02-11 15:02] #2657 closed

[2021-02-11 15:05] slinkydeveloper commented on #2665
That is not a guarantee we support, we support only at least once, while volatile components (in memory channel) supports only best effort guarantee.

Since the release 0.12 is very old and we don't support it anymore, i'm going to close this issue. If we need to take an action item related to this topic on a recent release, please open another issue

[2021-02-11 15:05] #2665 closed

[2021-02-11 15:09] slinkydeveloper commented on #2738
Closing as this seems to have been already implemented, reopen if you need it

[2021-02-11 15:09] #2738 closed

[2021-02-11 15:37] slinkydeveloper commented on #2750
Is this still relevant? Can we close it? @vaikas @n3wscott

[2021-02-11 15:40] slinkydeveloper commented on #2901
Is this still relevant? Since I see you worked on this in more specific issues, can we close this more general issue?

[2021-02-11 15:49] slinkydeveloper commented on #2980
AFAIK this is solved and implemented in the adapter code, am i right? Can we close it?

[2021-02-11 15:53] pierDipi commented on #4873
I left a comment in #4832, which seems relevant to answer your question.

[2021-02-11 15:55] slinkydeveloper commented on #3069
@travis-minke-sap can you provide a patch for this issue?

[2021-02-11 15:56] slinkydeveloper commented on #3092
/unassign

I'm not working actively on this anymore

[2021-02-11 15:59] slinkydeveloper commented on #3096
Is this still relevant? I see the doc is quite old, I'm going to close it. Reopen if you need it.

I was wondering, since this is a broader discussion (which i believe is super important) than a technical issue, can we have it in the mailing list? It will have far much visibility than a github issue in the 4th page :smile:

[2021-02-11 15:59] #3096 closed

[2021-02-11 16:00] slinkydeveloper commented on #3126
@skonto is this issue still useful? Or is there an updated one and we can close this one?

[2021-02-11 16:03] slinkydeveloper commented on #3188
AFAIK all Kafka components have already support for partitionKey and ordering of events. Other channels/broker implementation have support for ordering and ahead of time blocking support too. I'm going to close it since it's mostly outdated and generic. If you're interested to have ahed of time blocking ordering support in IMC, please open an issue for that.

[2021-02-11 16:03] #3188 closed

[2021-02-11 16:04] slinkydeveloper commented on #3263
Since it seems like we want to take the discovery api direction, can we close this issue and open it in discovery repo? @vaikas

[2021-02-11 16:05] slinkydeveloper commented on #3299
Is this still relevant?

[2021-02-11 16:06] vaikas commented on #3263
Well, I think keeping track of it here would make more sense for discoverability. Using discovery for it however makes sense to me.

[2021-02-11 16:09] slinkydeveloper commented on #3422
Closed as it seems like this is actually done by the sample source, reopen if you need it

[2021-02-11 16:11] nicolaferraro commented on #3188
Thanks @slinkydeveloper, good to know that this is implemented.

[2021-02-11 16:11] lionelvillard commented on #2980
/remove-lifecycle stale

[2021-02-11 16:12] lionelvillard commented on #2980
it's not done yet.

[2021-02-11 16:12] slinkydeveloper commented on #3567
Broader scope doc: https://docs.google.com/document/d/1TGtzYZjukEm1657XEQgTF-FUwoLGrVmLErRcCYaeLjw/edit?usp=sharing

[2021-02-11 16:13] slinkydeveloper commented on #3590
AFAIK this one was solved with #4675, i'm going to close it, reopen if you need it

[2021-02-11 16:13] #3590 closed

[2021-02-11 16:16] pierDipi commented on #3590
No, https://github.com/knative/eventing/pull/4579.

/reopen

[2021-02-11 16:17] slinkydeveloper commented on #3933
/priority critical-urgent

[2021-02-11 16:18] slinkydeveloper commented on #3911
@runzexia from my understanding this issue is solved and we can close it, right?

[2021-02-11 16:20] pierDipi commented on #3911
No, we should add this to the spec and create a conformance test.

[2021-02-11 16:21] slinkydeveloper commented on #4125
I guess this is an easy fix, for whoever is interested

/kind good-first-issue

[2021-02-11 16:26] slinkydeveloper commented on #4446
Seems like it was discussed and we can close this. Reopen if you need it

[2021-02-11 16:26] #4446 closed

[2021-02-11 16:29] slinkydeveloper commented on #4495
No need to keep this one opened, let's continue to discuss in https://github.com/knative/eventing/issues/3359

[2021-02-11 16:29] #4495 closed

[2021-02-11 16:33] slinkydeveloper commented on #4512
@vaikas Is this still relevant? I see 0.20 as release

[2021-02-11 16:35] slinkydeveloper commented on #4514
Since the kn workaround seems like was merged, can we close this one @aliok ?

[2021-02-11 16:40] slinkydeveloper commented on #4632
/kind good-first-issue

If you need any help with this issue, feel free to reach me out and I'll help

[2021-02-11 16:43] slinkydeveloper commented on #4628
This sounds like a duplicate of #4633? Would the #4633 solve your issue?

[2021-02-11 16:45] travis-minke-sap commented on #3069
Created a [PR]( https://github.com/knative/eventing/pull/4875)...

So, after further review it seems that ChannelReference is never really used anywhere.  Still good to expose it for manual debug scenarios and/or potential future use/logging.

[2021-02-11 16:46] slinkydeveloper commented on #4825
This one is 100% solved, right?

[2021-02-11 16:47] travis-minke-sap commented on #3069
Also... I think there was confusion - the "Uknown" means this is an "UnknownChannel"  Error and not that this an "Unknown" Channel Error ; ).   Meaning... the error is that we don't know (couldn't) find the channel and not that it represents some vague "unknown" type of Channel related error.    (took me a minute to grok the question ; )

[2021-02-11 16:56] slinkydeveloper commented on #3911
/kind good-first-issue

For whoever wants to add a conformance test, you can get in touch with me and i can guide you through

[2021-02-11 17:02] vaikas commented on #4825
yep.

[2021-02-11 17:02] #4825 closed

[2021-02-11 17:10] antoineco commented on #4628
Actually the dupe is #4633, but #4633 has a full repro included. Let's merge the 2 by updating the description in one of them maybe?

[2021-02-11 17:22] slinkydeveloper commented on #4633
Closed as this is duplicated of #4628

[2021-02-11 17:22] #4633 closed

[2021-02-11 17:57] #3069 closed

[2021-02-11 18:27] dug commented on #4486
Hey sorry to say but your tagging the wrong dug in these issues I've never worked with knative in my life and doubt I ever will just so you all know I'm not the person your all probably looking for.

[2021-02-11 18:36] lionelvillard commented on #4486
Ooops my bad, sorry about that. Feel free to unsubscribe (see notifications on the right side panel).

[2021-02-11 19:02] slinkydeveloper commented on #1889
Fixed by https://github.com/knative/eventing/pull/4842

[2021-02-11 19:02] #1889 closed

[2021-02-12 01:05] n3wscott commented on #2750
@grantr is working on this.

[2021-02-12 07:22] slinkydeveloper commented on #2750
/assign @grantr

[2021-02-12 09:16] skonto commented on #3126
@slinkydeveloper let's keep this is an umbrella ticket for the Eventing migration work.

[2021-02-12 09:24] maschmid opened #4876 "webhook CrashLoopBackOff with "Failed to start informers", "failed to wait for cache at index 4 to sync", when sources.knative.dev/v1beta1 SinkBindings exist"
**Describe the bug**
When sources.knative.dev/v1beta1 SinkBindings already exist on the cluster during eventing-webhook startup, the webhook doesn't ever become ready in a CrashLoopBackOff, waiting for `eventing-webhook-certs` to be populated

It seems that the informers go through the sinkbindings, but listing them calls the webhook itself (for conversion) before it's ready, which fails with

[co

[2021-02-12 09:30] matzew commented on #4876
Is it _just_ with `SinkBindings` ?

What about upgrades with the Operator (e.g. changing the `version` field, on the `KnativeEventing` CRD) ?

[2021-02-12 09:37] antoineco commented on #4876
Seems very much related to https://github.com/knative/operator/issues/292

[2021-02-12 09:41] antoineco commented on #2750
@grantr are you taking over Nacho's proposal or planning on taking a different approach?

[2021-02-12 10:13] maschmid commented on #4876
I don't think so, the original issue in https://github.com/knative/operator/issues/292 was a lack of liveness probe initial delay. In this case the informers will give up even if we lenghten the liveness probe delay

[2021-02-12 12:11] #4856 closed

[2021-02-12 13:29] slinkydeveloper commented on #4873
/close

[2021-02-12 13:29] #4873 closed

[2021-02-12 13:29] #4821 closed

[2021-02-12 13:30] slinkydeveloper commented on #4833
/kind good-first-issue

[2021-02-12 13:30] slinkydeveloper commented on #4833
Please get in touch with me if you wanna tackle this issue, I can guide you through!

[2021-02-12 13:36] slinkydeveloper commented on #4834
This doesn't depend on #4873 and it should be an easy fix. The filter http handler must return a retryable status code in case unexpected eof happens and then the caller "channel" will take care of retrying

[2021-02-12 17:03] #4055 closed

[2021-02-12 17:03] cr22rc commented on #4055
Not needed

[2021-02-14 01:31] #3631 closed

[2021-02-15 08:09] rhuss commented on #4486
I don't think this unpredictability is a good UX. Maybe throwing an error in the case when referencing an unknown source should yield a similar error as when pointing to an entity that is not a source, instead of silently ignoring it (at least the users expressed an intention which you should not just ignore).

Another question: If such a source does not exist when the trigger is created (and you

[2021-02-15 11:29] aliok commented on #4514
Let's keep this open since this is a `good-first-issue`? At least until the bot marks it stale?

[2021-02-15 16:24] lionelvillard commented on #4486
I totally agree, the annotation shouldn't be ignored.

The general question is what is the systematic way for sugar controllers to asynchronously report errors. AFAIK we currently don't have a mechanism in Knative for multiple controllers to dynamically extend and participate in the resource set of conditions. There is a way to dynamically add informative annotations in the resource status, but th

[2021-02-15 17:10] #4757 closed

[2021-02-15 17:51] lionelvillard commented on #4481
/remove-lifecycle stale

[2021-02-16 16:13] matzew commented on #4876
@maschmid do you have a yaml for

[code]

?

Not sure why I'd create `Sinkibings` when the `KnativeEventing` is de-installed ? what's the case ?

[2021-02-16 16:21] matzew commented on #4834
@slinkydeveloper Isn't that just a matter of handling it here properly ?

https://github.com/knative/eventing/blob/master/pkg/mtbroker/filter/filter_handler.go#L213-L217

[2021-02-16 16:23] matzew commented on #4834
@maschmid do yoyu have some test-case yaml for this to share?

[2021-02-16 16:36] slinkydeveloper commented on #4834
@matzew yes, in case of err at this line https://github.com/knative/eventing/blob/master/pkg/mtbroker/filter/filter_handler.go#L214 it should reply back with a non 200 status code

[2021-02-16 16:38] maschmid commented on #4834
@matzew  `writeResponse` should already be setting proper response error status correctly if the event was not read, so IMHO it may be that it is not an issue in the broker after all. In our original discussion with @slinkydeveloper  we've thought we are sure that broker doesn't retry on EOF (which is kind of true, but irrelevant, as now we've realized it is actually channel's responsibilty to do

[2021-02-16 16:41] matzew commented on #4834
@slinkydeveloper I can do that tomorrow or so, adding the check

[2021-02-16 16:44] maschmid commented on #4834
@matzew  Any EOF during reply parsing should be handled by https://github.com/knative/eventing/blob/bb87cb13f77a7df783a632f05698050d9186d0da/pkg/mtbroker/filter/filter_handler.go#L277-L284 already (or potentially before that... ), so I think this case is already covered...

[2021-02-16 16:51] slinkydeveloper commented on #4834
/assign

[2021-02-16 19:10] matzew commented on #4834
@maschmid yes - and it does return currently a 502 ... so should be good?

But see the PR that changes it to 500 status code :thinking:

[2021-02-16 19:11] vaikas commented on #4496
This should've been fixed by:
https://github.com/knative/eventing/pull/4741

Let's reopen if it comes back.

[2021-02-16 19:11] #4496 closed

[2021-02-16 19:13] vaikas commented on #4847
@grantr @pierDipi @zhongduo Thoughts on ☝️ seemingly unpopular opinion :)

[2021-02-16 20:26] pierDipi commented on #4847
@vaikas it makes a lot of sense to me your opinion, and since it increases the filter's expressivity, I like it. :+1:

[2021-02-16 21:33] lionelvillard commented on #4488
PingSource cannot leverage v2/adapter client to support ceOverrides Extensions because the client is shared by all PingSource instances.

[2021-02-16 21:33] #4488 closed

[2021-02-17 08:12] maschmid commented on #4834
502 should work as well, In https://github.com/knative/eventing/blob/master/pkg/kncloudevents/message_sender.go#L164 we retry anything >=300  , so I don't think any change is necessary now...

[2021-02-17 08:14] slinkydeveloper commented on #4834
@maschmid Are we 100% sure the error is at line 277 and not here?

[code]

[2021-02-17 08:21] maschmid commented on #4834
@slinkydeveloper  I am not sure... The error in the logs was "msg":"failed to write response","error":"unexpected EOF"

But anyway, as I said above, I now tend to believe the "unexpected EOF" error in the broker logs was a red herring, and, without further evidence, we should just close this. (at this point we don't have any evidence that broker-filter *doesn't* return a 5xx error in this case)
[c

[2021-02-17 08:21] slinkydeveloper commented on #4834
Ok I'm going to close it, if it pops up again and you have a repro for that, reopen it

[2021-02-17 08:21] #4834 closed

[2021-02-17 09:46] #4515 closed

[2021-02-17 09:50] slinkydeveloper commented on #4637
/assign

I'm looking at it too

[2021-02-17 10:10] slinkydeveloper commented on #4637
Ok I know the problem, it's in the reconciler test execution

[2021-02-17 10:13] slinkydeveloper commented on #4637
Check this out https://github.com/knative-sandbox/reconciler-test/pull/96

[2021-02-17 15:29] devguyio opened #4892 "Event discovery"
**Problem**
Event discovery have been a needed feature with many attempts to implement it. There's a need that users can discover various existing eventing components. One attempt to solve it was via the event registry and EventType CRD #929. The new [Discovery API](https://github.com/knative-sandbox/discovery) offers a more promising approach.

We need a more unified story for discovery in eventi

[2021-02-17 15:53] devguyio commented on #4892
@n3wscott @grantr I created this as the overarching event discovery roadmap item. Feel free to be co-assign yourself with @matzew if that's an issue under your focus.

[2021-02-17 16:47] skonto commented on #4769
@bharattkukreja the branch is https://github.com/skonto/pkg/tree/otel, this is where we agreed to work on the api server source migration. The otel is backwards compatible at the shim layer but not 100% check [here](https://www.jaegertracing.io/docs/1.21/opentelemetry/). However for the metrics spec part and the metrics implementation does not seem the case.

[2021-02-17 16:50] n3wscott commented on #4847
We have clarified this in the CloudEvents spec and the ruling might apply here: an empty string is not allowed, and a nil value is equivalent to not set.

[2021-02-17 18:12] matzew commented on #4892
perfect!

[2021-02-18 11:26] matzew commented on #4876
@maschmid anything for a reproducer yaml or so ?

[2021-02-18 11:45] matzew commented on #4876
I get

[code]

when I do step 3) after I deleted the `KnativeEventing` (with the knative/operator master branch)

[2021-02-18 11:58] maschmid commented on #4876
With OpenShift serverless 1.13 , https://gist.github.com/maschmid/e0b04e9f4a6341ebf50d4076bb63a6c8

[2021-02-18 11:59] maschmid commented on #4876
On eventing master, sinkbindings are stored as v1, so you cannot create v1beta1 without conversion (which will also mean that the issue is probably not present anymore on master, as the stored version and the version the webhook lists are the same, so the conversion is no longer attempted)

[2021-02-18 13:15] matzew commented on #4876
master of knative/operator

On Thu 18. Feb 2021 at 13:00, Marek Schmidt <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2021-02-18 19:12] zhongduo commented on #4847
With Scott's input, I will vote for empty string is same as not set unless you think it worths an error in this case.

[2021-02-18 21:30] pierDipi commented on #4847
@vaikas are you ok with that?

[2021-02-19 00:25] davidkarlsen commented on #4876
+1 sitting with a broken cluster as well, OCP 4.6.16, serverless operator 1.13.0. Is there anyway to get rid of the serverless component?

[2021-02-19 02:18] vaikas commented on #4847
I would like to (I think) be able to express something like this:
 * Send all events with an extension foo (don't care about what value is, but must have it) to XYZ
 * Send all events with an extension foo set to "THISVALUE" to XYZ2
So, I'm not sure how we could do this with how the CloudEvents spec defined this.

[2021-02-19 08:45] maschmid commented on #4876
To remove all v1beta1 sinkbindings on OpenShift,

[code]

If KnativeEventing is not installed, you may need to remove their finalizers as well.
[code]

[2021-02-19 12:08] knative-test-reporter-robot opened #4898 "[flaky] test/rekt.TestBrokerIngressConformance/Assert#02/[Stable/MUST]ingress_supports_v1.0_deliver_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/Assert#02/[Stable/MUST]ingress_supports_v1.0_deliver_the_event
* **Repository name**: eventing

[2021-02-19 12:08] knative-test-reporter-robot opened #4899 "[flaky] test/rekt.TestBrokerIngressConformance/Assert#02"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/Assert#02
* **Repository name**: eventing

[2021-02-19 17:38] n3wscott commented on #4847
I am remembering something long ago where we tried for a moment to have `XYZ: "*"` and we changed that to just be the empty string to avoid the case of not being about to filter on `XYZ: "*"`

This is what the spec says: `The value '' to indicate all strings match.`

https://github.com/knative/eventing/blob/master/docs/spec/spec.md#triggerfilter

So I am not sure what this issue is really about,

[2021-02-19 19:09] #3861 closed

[2021-02-19 19:40] lionelvillard opened #4901 "[KNEP] Streaming Processing"
**Description**
The goal of this proposal is to build an efficient event mesh that allows stateless and stateful even processing. We want to empower end users to describe event flows, made by streams and processors

**Design Doc**: https://docs.google.com/document/d/1faKMPjvctSLzobuxOnG95S4mzYYoN_fd01psD-dIYpo/edit#

**Main Contact**: Lionel Villard

[2021-02-20 12:10] knative-test-reporter-robot opened #4902 "[flaky] test/rekt.TestBrokerIngressConformance/Assert#03/[Stable/MUST]ingress_supports_v1.0_deliver_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/Assert#03/[Stable/MUST]ingress_supports_v1.0_deliver_the_event
* **Repository name**: eventing

[2021-02-20 12:10] knative-test-reporter-robot opened #4903 "[flaky] test/rekt.TestBrokerIngressConformance/Assert#01"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/Assert#01
* **Repository name**: eventing

[2021-02-20 12:10] knative-test-reporter-robot opened #4904 "[flaky] test/rekt.TestBrokerIngressConformance/Assert#03"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/Assert#03
* **Repository name**: eventing

[2021-02-20 12:10] knative-test-reporter-robot opened #4905 "[flaky] test/rekt.TestBrokerIngressConformance/Assert#01/[Stable/MUST]ingress_supports_v0.3_deliver_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/Assert#01/[Stable/MUST]ingress_supports_v0.3_deliver_the_event
* **Repository name**: eventing

[2021-02-22 02:54] yuzisun commented on #4844
@lberk Any update on the issue ? is this going to be fixed in 0.21.0?

[2021-02-22 13:52] lionelvillard commented on #3359
/remove-lifecycle stale

[2021-02-22 13:59] lionelvillard commented on #3359
The CNCF Serverless WG is working on a proposal: https://github.com/cloudevents/spec/pull/771

[2021-02-22 17:12] n3wscott opened #4907 "[WIP] ignore, testing"
This
is
a
multi
line
string

- [ ] Getting Started demo using the component.
- [ ] Sample minimum of component
- [ ] Sample complete resource of component
- [ ] Fully documented features and options, including
    - [ ] All spec fields
    - [ ] All status fields
    - [ ] Any magic labels or annotations that apply.

[2021-02-22 17:46] n3wscott opened #4909 "[1.0] Fully document apiserversources.sources.knative.dev"
Related to https://github.com/knative/docs/issues/3268
The following work needs to be validated for apiserversources.sources.knative.dev to be ready for 1.0:
- [ ] Getting Started demo using the component.
- [ ] Sample minimum of component
- [ ] Sample complete resource of component
- [ ] Fully documented features and options, including
    - [ ] Explanation of resource.
    - [ ] All spec fields

[2021-02-22 17:46] n3wscott opened #4910 "[1.0] Fully document brokers.eventing.knative.dev"
Related to https://github.com/knative/docs/issues/3268
The following work needs to be validated for brokers.eventing.knative.dev to be ready for 1.0:
- [ ] Getting Started demo using the component.
- [ ] Sample minimum of component
- [ ] Sample complete resource of component
- [ ] Fully documented features and options, including
    - [ ] Explanation of resource.
    - [ ] All spec fields
    - [

[2021-02-22 17:46] n3wscott opened #4911 "[1.0] Fully document channels.messaging.knative.dev"
Related to https://github.com/knative/docs/issues/3268
The following work needs to be validated for channels.messaging.knative.dev to be ready for 1.0:
- [ ] Getting Started demo using the component.
- [ ] Sample minimum of component
- [ ] Sample complete resource of component
- [ ] Fully documented features and options, including
    - [ ] Explanation of resource.
    - [ ] All spec fields
    -

[2021-02-22 17:46] n3wscott opened #4912 "[1.0] Fully document containersources.sources.knative.dev"
Related to https://github.com/knative/docs/issues/3268
The following work needs to be validated for containersources.sources.knative.dev to be ready for 1.0:
- [ ] Getting Started demo using the component.
- [ ] Sample minimum of component
- [ ] Sample complete resource of component
- [ ] Fully documented features and options, including
    - [ ] Explanation of resource.
    - [ ] All spec fields

[2021-02-22 17:46] n3wscott opened #4913 "[1.0] Fully document eventtypes.eventing.knative.dev"
Related to https://github.com/knative/docs/issues/3268
The following work needs to be validated for eventtypes.eventing.knative.dev to be ready for 1.0:
- [ ] Getting Started demo using the component.
- [ ] Sample minimum of component
- [ ] Sample complete resource of component
- [ ] Fully documented features and options, including
    - [ ] Explanation of resource.
    - [ ] All spec fields
    -

[2021-02-22 17:46] n3wscott opened #4914 "[1.0] Fully document inmemorychannels.messaging.knative.dev"
Related to https://github.com/knative/docs/issues/3268
The following work needs to be validated for inmemorychannels.messaging.knative.dev to be ready for 1.0:
- [ ] Getting Started demo using the component.
- [ ] Sample minimum of component
- [ ] Sample complete resource of component
- [ ] Fully documented features and options, including
    - [ ] Explanation of resource.
    - [ ] All spec field

[2021-02-22 17:46] n3wscott opened #4915 "[1.0] Fully document parallels.flows.knative.dev"
Related to https://github.com/knative/docs/issues/3268
The following work needs to be validated for parallels.flows.knative.dev to be ready for 1.0:
- [ ] Getting Started demo using the component.
- [ ] Sample minimum of component
- [ ] Sample complete resource of component
- [ ] Fully documented features and options, including
    - [ ] All spec fields
    - [ ] All status fields
    - [ ] Any ma

[2021-02-22 17:46] n3wscott opened #4916 "[1.0] Fully document pingsources.sources.knative.dev"
Related to https://github.com/knative/docs/issues/3268
The following work needs to be validated for pingsources.sources.knative.dev to be ready for 1.0:
- [ ] Getting Started demo using the component.
- [ ] Sample minimum of component
- [ ] Sample complete resource of component
- [ ] Fully documented features and options, including
    - [ ] Explanation of resource.
    - [ ] All spec fields
    -

[2021-02-22 17:46] n3wscott opened #4917 "[1.0] Fully document sequences.flows.knative.dev"
Related to https://github.com/knative/docs/issues/3268
The following work needs to be validated for sequences.flows.knative.dev to be ready for 1.0:
- [ ] Getting Started demo using the component.
- [ ] Sample minimum of component
- [ ] Sample complete resource of component
- [ ] Fully documented features and options, including
    - [ ] Explanation of resource.
    - [ ] All spec fields
    - [ ]

[2021-02-22 17:46] n3wscott opened #4918 "[1.0] Fully document sinkbindings.sources.knative.dev"
Related to https://github.com/knative/docs/issues/3268
The following work needs to be validated for sinkbindings.sources.knative.dev to be ready for 1.0:
- [ ] Getting Started demo using the component.
- [ ] Sample minimum of component
- [ ] Sample complete resource of component
- [ ] Fully documented features and options, including
    - [ ] Explanation of resource.
    - [ ] All spec fields

[2021-02-22 17:46] n3wscott opened #4919 "[1.0] Fully document subscriptions.messaging.knative.dev"
Related to https://github.com/knative/docs/issues/3268
The following work needs to be validated for subscriptions.messaging.knative.dev to be ready for 1.0:
- [ ] Getting Started demo using the component.
- [ ] Sample minimum of component
- [ ] Sample complete resource of component
- [ ] Fully documented features and options, including
    - [ ] All spec fields
    - [ ] All status fields
    - [

[2021-02-22 17:46] n3wscott opened #4920 "[1.0] Fully document triggers.eventing.knative.dev"
Related to https://github.com/knative/docs/issues/3268
The following work needs to be validated for triggers.eventing.knative.dev to be ready for 1.0:
- [ ] Getting Started demo using the component.
- [ ] Sample minimum of component
- [ ] Sample complete resource of component
- [ ] Fully documented features and options, including
    - [ ] All spec fields
    - [ ] All status fields
    - [ ] Any

[2021-02-22 17:55] n3wscott opened #4921 "[1.0] API for apiserversources.sources.knative.dev is v1"
The following work needs to be validated for apiserversources.sources.knative.dev to be ready for 1.0:
- [x] apiserversources.sources.knative.dev is served v1 by default
- [x] Previous served versions are deprecated and removed according to the Knative API process.
- [x] v1 OpenAPI schema in CRD is complete.
- [x] apiserversources.sources.knative.dev has a validating webhook with 100% coverage acc

[2021-02-22 17:55] n3wscott opened #4922 "[1.0] API for brokers.eventing.knative.dev is v1"
The following work needs to be validated for brokers.eventing.knative.dev to be ready for 1.0:
- [x] brokers.eventing.knative.dev is served v1 by default
- [x] Previous served versions are deprecated and removed according to the Knative API process.
- [x] v1 OpenAPI schema in CRD is complete.
- [x] brokers.eventing.knative.dev has a validating webhook with 100% coverage according to its spec.

[2021-02-22 17:55] n3wscott opened #4923 "[1.0] API for channels.messaging.knative.dev is v1"
The following work needs to be validated for channels.messaging.knative.dev to be ready for 1.0:
- [x] channels.messaging.knative.dev is served v1 by default
- [x] Previous served versions are deprecated and removed according to the Knative API process.
- [x] v1 OpenAPI schema in CRD is complete.
- [x] channels.messaging.knative.dev has a validating webhook with 100% coverage according to its spec

[2021-02-22 17:55] n3wscott opened #4924 "[1.0] API for containersources.sources.knative.dev is v1"
The following work needs to be validated for containersources.sources.knative.dev to be ready for 1.0:
- [x] containersources.sources.knative.dev is served v1 by default
- [x] Previous served versions are deprecated and removed according to the Knative API process.
- [x] v1 OpenAPI schema in CRD is complete.
- [x] containersources.sources.knative.dev has a validating webhook with 100% coverage acc

[2021-02-22 17:55] n3wscott opened #4925 "[1.0] API for eventtypes.eventing.knative.dev is v1"
The following work needs to be validated for eventtypes.eventing.knative.dev to be ready for 1.0:
- [ ] eventtypes.eventing.knative.dev is served v1 by default
- [ ] Previous served versions are deprecated and removed according to the Knative API process.
- [ ] v1 OpenAPI schema in CRD is complete.
- [ ] eventtypes.eventing.knative.dev has a validating webhook with 100% coverage according to its s

[2021-02-22 17:55] n3wscott opened #4926 "[1.0] API for inmemorychannels.messaging.knative.dev is v1"
The following work needs to be validated for inmemorychannels.messaging.knative.dev to be ready for 1.0:
- [x] inmemorychannels.messaging.knative.dev is served v1 by default
- [x] Previous served versions are deprecated and removed according to the Knative API process.
- [x] v1 OpenAPI schema in CRD is complete.
- [x] inmemorychannels.messaging.knative.dev has a validating webhook with 100% covera

[2021-02-22 17:55] n3wscott opened #4927 "[1.0] API for parallels.flows.knative.dev is v1"
The following work needs to be validated for parallels.flows.knative.dev to be ready for 1.0:
- [x] parallels.flows.knative.dev is served v1 by default
- [x] Previous served versions are deprecated and removed according to the Knative API process.
- [x] v1 OpenAPI schema in CRD is complete.
- [x] parallels.flows.knative.dev has a validating webhook with 100% coverage according to its spec.
    - [

[2021-02-22 17:55] n3wscott opened #4928 "[1.0] API for pingsources.sources.knative.dev is v1"
The following work needs to be validated for pingsources.sources.knative.dev to be ready for 1.0:
- [ ] pingsources.sources.knative.dev is served v1 by default
- [ ] Previous served versions are deprecated and removed according to the Knative API process.
- [x] v1 OpenAPI schema in CRD is complete.
- [x] pingsources.sources.knative.dev has a validating webhook with 100% coverage according to its s

[2021-02-22 17:55] n3wscott opened #4929 "[1.0] API for sequences.flows.knative.dev is v1"
The following work needs to be validated for sequences.flows.knative.dev to be ready for 1.0:
- [ ] sequences.flows.knative.dev is served v1 by default
- [ ] Previous served versions are deprecated and removed according to the Knative API process.
- [ ] v1 OpenAPI schema in CRD is complete.
- [ ] sequences.flows.knative.dev has a validating webhook with 100% coverage according to its spec.
    - [

[2021-02-22 17:55] n3wscott opened #4930 "[1.0] API for sinkbindings.sources.knative.dev is v1"
The following work needs to be validated for sinkbindings.sources.knative.dev to be ready for 1.0:
- [x] sinkbindings.sources.knative.dev is served v1 by default
- [x] Previous served versions are deprecated and removed according to the Knative API process.
- [x] v1 OpenAPI schema in CRD is complete.
- [x] sinkbindings.sources.knative.dev has a validating webhook with 100% coverage according to it

[2021-02-22 17:55] n3wscott opened #4931 "[1.0] API for subscriptions.messaging.knative.dev is v1"
The following work needs to be validated for subscriptions.messaging.knative.dev to be ready for 1.0:
- [x] subscriptions.messaging.knative.dev is served v1 by default
- [x] Previous served versions are deprecated and removed according to the Knative API process.
- [x] v1 OpenAPI schema in CRD is complete.
- [x] subscriptions.messaging.knative.dev has a validating webhook with 100% coverage accord

[2021-02-22 17:55] n3wscott opened #4932 "[1.0] API for triggers.eventing.knative.dev is v1"
The following work needs to be validated for triggers.eventing.knative.dev to be ready for 1.0:
- [x] triggers.eventing.knative.dev is served v1 by default
- [x] Previous served versions are deprecated and removed according to the Knative API process.
- [x] v1 OpenAPI schema in CRD is complete.
- [x] triggers.eventing.knative.dev has a validating webhook with 100% coverage according to its spec.

[2021-02-22 18:08] #4637 closed

[2021-02-22 18:12] n3wscott opened #4933 "[1.0] Conformance testing for apiserversources.sources.knative.dev"
The following work needs to be validated for apiserversources.sources.knative.dev to be ready for 1.0:
- [ ] apiserversources.sources.knative.dev is fully documented in the [Eventing Spec](https://github.com/knative/eventing/tree/master/docs/spec) document.
- [ ] apiserversources.sources.knative.dev has a 100% coverage conformance test based on the spec.
    - [ ] Conformance tests are documented

[2021-02-22 18:12] n3wscott opened #4934 "[1.0] Conformance testing for brokers.eventing.knative.dev"
The following work needs to be validated for brokers.eventing.knative.dev to be ready for 1.0:
- [ ] brokers.eventing.knative.dev is fully documented in the [Eventing Spec](https://github.com/knative/eventing/tree/master/docs/spec) document.
- [ ] brokers.eventing.knative.dev has a 100% coverage conformance test based on the spec.
    - [ ] Conformance tests are documented and vendor-able for down

[2021-02-22 18:12] n3wscott opened #4935 "[1.0] Conformance testing for channels.messaging.knative.dev"
The following work needs to be validated for channels.messaging.knative.dev to be ready for 1.0:
- [ ] channels.messaging.knative.dev is fully documented in the [Eventing Spec](https://github.com/knative/eventing/tree/master/docs/spec) document.
- [ ] channels.messaging.knative.dev has a 100% coverage conformance test based on the spec.
    - [ ] Conformance tests are documented and vendor-able fo

[2021-02-22 18:12] n3wscott opened #4936 "[1.0] Conformance testing for containersources.sources.knative.dev"
The following work needs to be validated for containersources.sources.knative.dev to be ready for 1.0:
- [ ] containersources.sources.knative.dev is fully documented in the [Eventing Spec](https://github.com/knative/eventing/tree/master/docs/spec) document.
- [ ] containersources.sources.knative.dev has a 100% coverage conformance test based on the spec.
    - [ ] Conformance tests are documented

[2021-02-22 18:12] n3wscott opened #4937 "[1.0] Conformance testing for eventtypes.eventing.knative.dev"
The following work needs to be validated for eventtypes.eventing.knative.dev to be ready for 1.0:
- [ ] eventtypes.eventing.knative.dev is fully documented in the [Eventing Spec](https://github.com/knative/eventing/tree/master/docs/spec) document.
- [ ] eventtypes.eventing.knative.dev has a 100% coverage conformance test based on the spec.
    - [ ] Conformance tests are documented and vendor-able

[2021-02-22 18:12] n3wscott opened #4938 "[1.0] Conformance testing for inmemorychannels.messaging.knative.dev"
The following work needs to be validated for inmemorychannels.messaging.knative.dev to be ready for 1.0:
- [ ] inmemorychannels.messaging.knative.dev is fully documented in the [Eventing Spec](https://github.com/knative/eventing/tree/master/docs/spec) document.
- [ ] inmemorychannels.messaging.knative.dev has a 100% coverage conformance test based on the spec.
    - [ ] Conformance tests are docum

[2021-02-22 18:12] n3wscott opened #4939 "[1.0] Conformance testing for parallels.flows.knative.dev"
The following work needs to be validated for parallels.flows.knative.dev to be ready for 1.0:
- [ ] parallels.flows.knative.dev is fully documented in the [Eventing Spec](https://github.com/knative/eventing/tree/master/docs/spec) document.
- [ ] parallels.flows.knative.dev has a 100% coverage conformance test based on the spec.
    - [ ] Conformance tests are documented and vendor-able for downstr

[2021-02-22 18:12] n3wscott opened #4940 "[1.0] Conformance testing for pingsources.sources.knative.dev"
The following work needs to be validated for pingsources.sources.knative.dev to be ready for 1.0:
- [ ] pingsources.sources.knative.dev is fully documented in the [Eventing Spec](https://github.com/knative/eventing/tree/master/docs/spec) document.
- [ ] pingsources.sources.knative.dev has a 100% coverage conformance test based on the spec.
    - [ ] Conformance tests are documented and vendor-able

[2021-02-22 18:12] n3wscott opened #4941 "[1.0] Conformance testing for sequences.flows.knative.dev"
The following work needs to be validated for sequences.flows.knative.dev to be ready for 1.0:
- [ ] sequences.flows.knative.dev is fully documented in the [Eventing Spec](https://github.com/knative/eventing/tree/master/docs/spec) document.
- [ ] sequences.flows.knative.dev has a 100% coverage conformance test based on the spec.
    - [ ] Conformance tests are documented and vendor-able for downstr

[2021-02-22 18:12] n3wscott opened #4942 "[1.0] Conformance testing for sinkbindings.sources.knative.dev"
The following work needs to be validated for sinkbindings.sources.knative.dev to be ready for 1.0:
- [ ] sinkbindings.sources.knative.dev is fully documented in the [Eventing Spec](https://github.com/knative/eventing/tree/master/docs/spec) document.
- [ ] sinkbindings.sources.knative.dev has a 100% coverage conformance test based on the spec.
    - [ ] Conformance tests are documented and vendor-a

[2021-02-22 18:12] n3wscott opened #4943 "[1.0] Conformance testing for subscriptions.messaging.knative.dev"
The following work needs to be validated for subscriptions.messaging.knative.dev to be ready for 1.0:
- [ ] subscriptions.messaging.knative.dev is fully documented in the [Eventing Spec](https://github.com/knative/eventing/tree/master/docs/spec) document.
- [ ] subscriptions.messaging.knative.dev has a 100% coverage conformance test based on the spec.
    - [ ] Conformance tests are documented and

[2021-02-22 18:12] n3wscott opened #4944 "[1.0] Conformance testing for triggers.eventing.knative.dev"
The following work needs to be validated for triggers.eventing.knative.dev to be ready for 1.0:
- [ ] triggers.eventing.knative.dev is fully documented in the [Eventing Spec](https://github.com/knative/eventing/tree/master/docs/spec) document.
- [ ] triggers.eventing.knative.dev has a 100% coverage conformance test based on the spec.
    - [ ] Conformance tests are documented and vendor-able for d

[2021-02-22 18:26] n3wscott opened #4945 "[1.0] E2E testing for apiserversources.sources.knative.dev"
The following work needs to be validated for apiserversources.sources.knative.dev to be ready for 1.0:
- [ ] Smoketest for minimum required fields.
- [ ] Smoketest for all supported full field variants.
- [ ] Simple integrations.
- [ ] Complex integrations.
- [ ] Document how to use the E2E tests outside Eventing.
    - [ ] Tests is intended to be vendored and ran in alternate implementations, whe

[2021-02-22 18:26] n3wscott opened #4946 "[1.0] E2E testing for brokers.eventing.knative.dev"
The following work needs to be validated for brokers.eventing.knative.dev to be ready for 1.0:
- [x] Smoketest for minimum required fields.
- [ ] Smoketest for all supported full field variants.
- [ ] Simple integrations.
- [ ] Complex integrations.
- [ ] Document how to use the E2E tests outside Eventing.
    - [ ] Tests is intended to be vendored and ran in alternate implementations, where appli

[2021-02-22 18:26] n3wscott opened #4947 "[1.0] E2E testing for channels.messaging.knative.dev"
The following work needs to be validated for channels.messaging.knative.dev to be ready for 1.0:
- [x] Smoketest for minimum required fields.
- [ ] Smoketest for all supported full field variants.
- [ ] Simple integrations.
- [ ] Complex integrations.
- [ ] Document how to use the E2E tests outside Eventing.
    - [ ] Tests is intended to be vendored and ran in alternate implementations, where app

[2021-02-22 18:26] n3wscott opened #4948 "[1.0] E2E testing for containersources.sources.knative.dev"
The following work needs to be validated for containersources.sources.knative.dev to be ready for 1.0:
- [x] Smoketest for minimum required fields.
- [x] Smoketest for all supported full field variants.
- [x] Simple integrations.
- [x] Complex integrations.
- [x] Document how to use the E2E tests outside Eventing.
    - [x] Tests is intended to be vendored and ran in alternate implementations, whe

[2021-02-22 18:26] n3wscott opened #4949 "[1.0] E2E testing for eventtypes.eventing.knative.dev"
The following work needs to be validated for eventtypes.eventing.knative.dev to be ready for 1.0:
- [ ] Smoketest for minimum required fields.
- [ ] Smoketest for all supported full field variants.
- [ ] Simple integrations.
- [ ] Complex integrations.
- [ ] Document how to use the E2E tests outside Eventing.
    - [ ] Tests is intended to be vendored and ran in alternate implementations, where ap

[2021-02-22 18:26] n3wscott opened #4950 "[1.0] E2E testing for inmemorychannels.messaging.knative.dev"
The following work needs to be validated for inmemorychannels.messaging.knative.dev to be ready for 1.0:
- [ ] Smoketest for minimum required fields.
- [ ] Smoketest for all supported full field variants.
- [ ] Simple integrations.
- [ ] Complex integrations.
- [ ] Document how to use the E2E tests outside Eventing.
    - [ ] Tests is intended to be vendored and ran in alternate implementations, w

[2021-02-22 18:27] n3wscott opened #4951 "[1.0] E2E testing for parallels.flows.knative.dev"
The following work needs to be validated for parallels.flows.knative.dev to be ready for 1.0:
- [ ] Smoketest for minimum required fields.
- [ ] Smoketest for all supported full field variants.
- [ ] Simple integrations.
- [ ] Complex integrations.
- [ ] Document how to use the E2E tests outside Eventing.
    - [ ] Tests is intended to be vendored and ran in alternate implementations, where applic

[2021-02-22 18:27] n3wscott opened #4952 "[1.0] E2E testing for pingsources.sources.knative.dev"
The following work needs to be validated for pingsources.sources.knative.dev to be ready for 1.0:
- [ ] Smoketest for minimum required fields.
- [ ] Smoketest for all supported full field variants.
- [ ] Simple integrations.
- [ ] Complex integrations.
- [ ] Document how to use the E2E tests outside Eventing.
    - [ ] Tests is intended to be vendored and ran in alternate implementations, where ap

[2021-02-22 18:27] n3wscott opened #4953 "[1.0] E2E testing for sequences.flows.knative.dev"
The following work needs to be validated for sequences.flows.knative.dev to be ready for 1.0:
- [ ] Smoketest for minimum required fields.
- [ ] Smoketest for all supported full field variants.
- [ ] Simple integrations.
- [ ] Complex integrations.
- [ ] Document how to use the E2E tests outside Eventing.
    - [ ] Tests is intended to be vendored and ran in alternate implementations, where applic

[2021-02-22 18:27] n3wscott opened #4954 "[1.0] E2E testing for sinkbindings.sources.knative.dev"
The following work needs to be validated for sinkbindings.sources.knative.dev to be ready for 1.0:
- [ ] Smoketest for minimum required fields.
- [ ] Smoketest for all supported full field variants.
- [ ] Simple integrations.
- [ ] Complex integrations.
- [ ] Document how to use the E2E tests outside Eventing.
    - [ ] Tests is intended to be vendored and ran in alternate implementations, where a

[2021-02-22 18:27] n3wscott opened #4955 "[1.0] E2E testing for subscriptions.messaging.knative.dev"
The following work needs to be validated for subscriptions.messaging.knative.dev to be ready for 1.0:
- [ ] Smoketest for minimum required fields.
- [ ] Smoketest for all supported full field variants.
- [ ] Simple integrations.
- [ ] Complex integrations.
- [ ] Document how to use the E2E tests outside Eventing.
    - [ ] Tests is intended to be vendored and ran in alternate implementations, wher

[2021-02-22 18:27] n3wscott opened #4956 "[1.0] E2E testing for triggers.eventing.knative.dev"
The following work needs to be validated for triggers.eventing.knative.dev to be ready for 1.0:
- [ ] Smoketest for minimum required fields.
- [ ] Smoketest for all supported full field variants.
- [ ] Simple integrations.
- [ ] Complex integrations.
- [ ] Document how to use the E2E tests outside Eventing.
    - [ ] Tests is intended to be vendored and ran in alternate implementations, where appl

[2021-02-22 19:03] n3wscott opened #4957 "[1.0] Define SLO for Eventing Components"
See https://docs.google.com/document/d/1i5wfLldNI8gw8hvQPaO5XegVCJ5dga3_U9xgBueFGY8/edit?resourcekey=0-3Ni-QVVakAQGW-jWnO82kQ#heading=h.14rqui414lao as an example SLO used for serving.

[2021-02-22 19:34] n3wscott opened #4958 "[1.0] Code Coverage needs to be increased >=80% in paths"
To be 1.0 ready, we need to get to have at least 80% Code Coverage.
Please review https://codecov.io/gh/knative/eventing/tree/master/%i

[2021-02-22 19:34] #4958 closed

[2021-02-22 19:35] n3wscott opened #4959 "[1.0] Code Coverage needs to be increased >=80% for paths"
To be 1.0 ready, we need to get to have at least 80% Code Coverage.
Please review https://codecov.io/gh/knative/eventing/tree/master/paths

[2021-02-22 19:35] #4959 closed

[2021-02-22 19:36] n3wscott opened #4960 "[1.0] Code Coverage needs to be increased >=80% for pkg/adapter/v2"
To be 1.0 ready, we need to get to have at least 80% Code Coverage.
Please review https://codecov.io/gh/knative/eventing/tree/master/pkg/adapter/v2

[2021-02-22 19:36] n3wscott opened #4961 "[1.0] Code Coverage needs to be increased >=80% for pkg/duck"
To be 1.0 ready, we need to get to have at least 80% Code Coverage.
Please review https://codecov.io/gh/knative/eventing/tree/master/pkg/duck

[2021-02-22 19:36] n3wscott opened #4962 "[1.0] Code Coverage needs to be increased >=80% for pkg/kncloudevents"
To be 1.0 ready, we need to get to have at least 80% Code Coverage.
Please review https://codecov.io/gh/knative/eventing/tree/master/pkg/kncloudevents

[2021-02-22 19:36] n3wscott opened #4963 "[1.0] Code Coverage needs to be increased >=80% for pkg/broker"
To be 1.0 ready, we need to get to have at least 80% Code Coverage.
Please review https://codecov.io/gh/knative/eventing/tree/master/pkg/broker

[2021-02-22 19:36] n3wscott opened #4964 "[1.0] Code Coverage needs to be increased >=80% for pkg/mtbroker/filter"
To be 1.0 ready, we need to get to have at least 80% Code Coverage.
Please review https://codecov.io/gh/knative/eventing/tree/master/pkg/mtbroker/filter

[2021-02-22 19:36] n3wscott opened #4965 "[1.0] Code Coverage needs to be increased >=80% for pkg/broker/ingress"
To be 1.0 ready, we need to get to have at least 80% Code Coverage.
Please review https://codecov.io/gh/knative/eventing/tree/master/pkg/broker/ingress

[2021-02-22 19:36] n3wscott opened #4966 "[1.0] Code Coverage needs to be increased >=80% for pkg/reconcile/apiserversource"
To be 1.0 ready, we need to get to have at least 80% Code Coverage.
Please review https://codecov.io/gh/knative/eventing/tree/master/pkg/reconciler/apiserversource

[2021-02-22 19:36] n3wscott opened #4967 "[1.0] Code Coverage needs to be increased >=80% for pkg/reconcile/channel"
To be 1.0 ready, we need to get to have at least 80% Code Coverage.
Please review https://codecov.io/gh/knative/eventing/tree/main/pkg/reconciler/channel

[2021-02-22 19:36] n3wscott opened #4968 "[1.0] Code Coverage needs to be increased >=80% for pkg/reconcile/mtbroker"
To be 1.0 ready, we need to get to have at least 80% Code Coverage.
Please review https://codecov.io/gh/knative/eventing/tree/master/pkg/reconciler/mtbroker

[2021-02-22 19:36] n3wscott opened #4969 "[1.0] Code Coverage needs to be increased >=80% for pkg/reconcile/parallel"
To be 1.0 ready, we need to get to have at least 80% Code Coverage.
Please review https://codecov.io/gh/knative/eventing/tree/master/pkg/reconcile/parallel

[2021-02-22 19:36] n3wscott opened #4970 "[1.0] Code Coverage needs to be increased >=80% for pkg/reconcile/pingsource"
To be 1.0 ready, we need to get to have at least 80% Code Coverage.
Please review https://codecov.io/gh/knative/eventing/tree/master/pkg/reconciler/pingsource

[2021-02-22 19:36] n3wscott opened #4971 "[1.0] Code Coverage needs to be increased >=80% for pkg/reconcile/sequence"
To be 1.0 ready, we need to get to have at least 80% Code Coverage.
Please review https://codecov.io/gh/knative/eventing/tree/master/pkg/reconciler/sequence

[2021-02-22 19:36] n3wscott opened #4972 "[1.0] Code Coverage needs to be increased >=80% for pkg/reconcile/source"
To be 1.0 ready, we need to get to have at least 80% Code Coverage.
Please review https://codecov.io/gh/knative/eventing/tree/master/pkg/reconciler/source

[2021-02-22 19:36] n3wscott opened #4973 "[1.0] Code Coverage needs to be increased >=80% for pkg/reconcile/subscription"
To be 1.0 ready, we need to get to have at least 80% Code Coverage.
Please review https://codecov.io/gh/knative/eventing/tree/master/pkg/reconciler/subscription

[2021-02-22 19:36] n3wscott opened #4974 "[1.0] Code Coverage needs to be increased >=80% for pkg/reconcile/sugar"
To be 1.0 ready, we need to get to have at least 80% Code Coverage.
Please review https://codecov.io/gh/knative/eventing/tree/master/pkg/reconcile/sugar

[2021-02-22 22:18] vaikas opened #4975 "Kind e2e test install flaking with etcdserver failing."
**Describe the bug**
While going through the failed scheduled actions, noticed there were a few of these there:

https://github.com/knative/eventing/runs/1943605862?check_suite_focus=true
[code]

And:
https://github.com/knative/eventing/runs/1944607121?check_suite_focus=true
[code]

And:
https://github.com/knative/eventing/runs/1937843065?check_suite_focus=true#step:9:203
[code]

 **Expected behav

[2021-02-22 22:22] vaikas commented on #4791
I went through the failed actions for the last 2 weeks, and I only see install failures related to the etcdserver failures:
https://github.com/knative/eventing/issues/4975

I'm wondering if this got fixed by:
https://github.com/knative/eventing/pull/4741

I'm closing, we can reopen if it comes back.

[2021-02-22 22:22] #4791 closed

[2021-02-22 22:31] vaikas commented on #4847
So, after all the chattery, I'm thinking that my original suggestion was to change the Subject = '' to only match if there's a subject is what we should be doing? If so, @pierDipi would you mind creating an issue for that and let's put that on the roadmap for .22?

[2021-02-23 12:11] knative-test-reporter-robot opened #4976 "[flaky] test/rekt.TestBrokerIngressConformance/Assert"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/Assert
* **Repository name**: eventing

[2021-02-23 12:11] knative-test-reporter-robot opened #4977 "[flaky] test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v0.3_deliver_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v0.3_deliver_the_event
* **Repository name**: eventing

[2021-02-23 17:12] cpanato commented on #4974
I will check this
/assign

[2021-02-23 17:13] cpanato commented on #4961
will check this one as well
/assign

[2021-02-23 18:42] vaikas commented on #4967
FYI, after changing the /pkg/reconcile/ => /pkg/reconciler it takes me here which is a good start:
https://codecov.io/gh/knative/eventing/tree/master/pkg/reconciler/channel

But, then after clicking on a file results in badness:
https://codecov.io/gh/knative/eventing/src/master/pkg/reconciler/channel/channel.go

Is something configured incorrectly here? @n3wscott

[2021-02-24 10:59] cpanato commented on #4974
@n3wscott running the test with coverage turned on I got for the `pkg/reconcile/sugar`

[code]

[2021-02-24 16:14] n3wscott commented on #4974
/close fixed by #4978

[2021-02-24 16:16] n3wscott commented on #4974
@cpanato looks like @vaikas sniped ya 😄

[2021-02-24 17:35] #2426 closed

[2021-02-25 00:49] #4968 closed

[2021-02-25 01:32] #2357 closed

[2021-02-25 12:12] #4977 closed

[2021-02-25 12:12] #4976 closed

[2021-02-25 12:12] knative-test-reporter-robot opened #4981 "[flaky] test/conformance.TestBrokerTracing/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerTracing/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2021-02-25 12:12] #4981 closed

[2021-02-25 12:12] knative-test-reporter-robot opened #4982 "[flaky] test/conformance.TestBrokerTracing/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerTracing/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2021-02-25 12:12] knative-test-reporter-robot opened #4983 "[flaky] test/conformance.TestBrokerTracing/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerTracing/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2021-02-25 12:12] #4983 closed

[2021-02-25 12:12] knative-test-reporter-robot opened #4984 "[flaky] test/conformance.TestBrokerTracing/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerTracing/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2021-02-25 12:12] knative-test-reporter-robot opened #4985 "[flaky] test/conformance.TestBrokerTracing"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerTracing
* **Repository name**: eventing

[2021-02-25 15:08] lionelvillard opened #4986 "Remove use of finalizer in PingSource adapter"
**Problem**
The use of finalizers in the PingSource adapter is overkill since updating the internal state cannot fail.

Similar to https://github.com/knative/eventing/issues/4509

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

*

[2021-02-26 08:36] faruryo opened #4987 "Excessive number of Replicas for eventing-webhook"
**Describe the bug**
The number of pods in eventing-webhooks is the largest, even though it is not used very often.

[code]

[code]

[code]

 **Expected behavior**

In this case, I think a replica number of 1 is sufficient.

I'm assuming one of the reasons is that I have a poor CPU, but is there any room for configuration?
(Intel(R) Core(TM) i3-10110U CPU @ 2.10GHz)

 **To Reproduce**

It happens

[2021-02-26 12:08] knative-test-reporter-robot opened #4988 "[flaky] test/conformance.TestBrokerTracing/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerTracing/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2021-02-26 12:08] knative-test-reporter-robot opened #4989 "[flaky] test/conformance.TestBrokerTracing/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerTracing/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2021-02-26 19:27] vaikas commented on #4989
Here's the failure from the logs:

[code]

[code]

Found this:
https://stackoverflow.com/questions/36375030/kubectl-error-from-server-no-ssh-tunnels-currently-open

[2021-02-26 22:57] vaikas commented on #4976
Actual test failing was #4977

[2021-02-26 23:13] vaikas commented on #4987
Thanks for the detailed report! Looks like you installed this with the operator? Is that true? Looks like the release should be using requests of 20m (which seems actually quite low):
https://github.com/knative/eventing/blob/master/config/core/deployments/webhook.yaml#L55

So, I wonder if that value is coming from the operator as a default?
Looking at the v0.21.0 release.yaml (eventing-core.yaml)

[2021-02-27 15:54] pierDipi commented on #4847
That should happen for all [optional attributes](https://github.com/cloudevents/spec/blob/v1.0.1/spec.md#optional-attributes), subject was just an example, that are for CE v1.0:
- datacontenttype
- dataschema
- subject
- time

The same should be for all optional attributes of CE v0.3, that I can't easily find.

Do we really need a different issue? Or we can use this one?

[2021-02-28 12:12] #4573 closed

[2021-02-28 12:12] #4801 closed

[2021-02-28 12:12] #4985 closed

[2021-02-28 12:12] #4988 closed

[2021-02-28 12:12] #4989 closed

[2021-02-28 12:12] #4982 closed

[2021-02-28 12:12] #4799 closed

[2021-02-28 12:12] #4984 closed

[2021-03-01 02:56] zhaojizhuang opened #4994 "subscriber's NameSpace do not work in Trigger"
**Describe the bug**
subscriber's NameSpace do not work in Trigger

**`Trigger` and `Broker` in namespace `default`,  and ksvc in namespace `event-example`**
I found that `trigger.spec.subscriber.ref.namepace` not work

I found the comment `We will use the Namespace of Trigger as the Namespace of dest.Ref`
https://github.com/knative/eventing/blob/master/pkg/reconciler/mtbroker/trigger/trigger.go#L

[2021-03-01 03:09] zhaojizhuang commented on #4994
/assign

[2021-03-01 05:06] faruryo commented on #4987
@vaikas Thanks for the reply!

I was thinking that perhaps the yaml per your presentation was used from knative-operator.
I will also take a look at the source code of knative-operator.

[2021-03-01 06:21] antoineco commented on #4645
This was supposedly fixed in 0.20 by knative/pkg#2005. I will test and report.

[2021-03-01 08:05] slinkydeveloper commented on #3312
/reopen

[2021-03-01 08:06] slinkydeveloper commented on #3312
/remove-lifecycle stale

[2021-03-01 12:10] knative-test-reporter-robot opened #4996 "[flaky] test/e2e.TestChannelNamespaceDefaulting"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelNamespaceDefaulting
* **Repository name**: eventing

[2021-03-01 16:57] pierDipi commented on #4996
knative/pkg#1509
[code]

[2021-03-01 17:03] pierDipi commented on #4902
[code]

Similar to https://github.com/knative/eventing/issues/4637 which seems to be solved in https://github.com/knative-sandbox/reconciler-test/pull/96

[2021-03-01 17:05] pierDipi commented on #4902
cc @slinkydeveloper @n3wscott
just in case this would ring a bell to you.

[2021-03-01 17:44] lberk commented on #4865
@lionelvillard any preference or recommendation for priority and milestone to target?

[2021-03-01 17:56] lberk commented on #4986
If we remove the finalizers we have to make sure the existing finalizers are also removed.  This might require a post-install job to ensure.

[2021-03-01 17:58] lberk commented on #4975
@pierDipi assigning this to you as this week's community contact volunteer (thanks!)

[2021-03-01 18:09] lberk commented on #4907
@n3wscott feel free to reopen this issue, going to close for now.

[2021-03-01 18:09] #4907 closed

[2021-03-01 18:38] vaikas commented on #4847
@pierDipi it's perfect the way it is, thank you!

[2021-03-01 19:03] pierDipi commented on #4847
Ok, great!

This should be a good first issue, if there is something unclear, reach out to one of us or leave a comment on this issue.
/good-first-issue

[2021-03-01 21:00] n3wscott commented on #4960
/assign

[2021-03-01 22:30] devguyio opened #4998 "Revisit and document eventing use cases"
Create a markdown file under `/doc` that documents the use cases of Knative Eventing.

Given how vast eventing domain is, alignment and clarity about which use cases does Knative Eventing support currently and which not.

## Current/Previous work
* [Knative Eventing use cases and product requirements - 2019](https://docs.google.com/document/d/10cPG5yAGAEUCPwmg1cMCqIM7EM7y3wUGmfPcyfFfwcc/edit)
* St

[2021-03-01 23:57] vaikas commented on #4994
The one thing we talked about at the triage meeting today was that there had been previous discussions about this in the past and at the time we did not want to allow for this. Nobody could recall off the top of our heads why that may be the case, but @grantr was going to dig up the issues just to make sure there were no valid reasons.
Thanks!

[2021-03-02 00:42] grantr commented on #4994
Some existing issues about this are #4628 #4633 #4026. Unfortunately none of these issues contain the historical context of why this was not allowed. You can also see in https://knative.slack.com/archives/C017X0PFC0P/p1606811947160400 that I thought this was already supported by the MT broker.

My only memory is that we disallowed this feature because it is technically an exfiltration flaw that al

[2021-03-02 03:00] zhaojizhuang commented on #4994
@grantr @vaikas Thank you both so much for the in depth reply!

[2021-03-02 12:10] #4904 closed

[2021-03-02 12:10] #4902 closed

[2021-03-02 13:08] zhaojizhuang commented on #4986
/assign

[2021-03-02 14:09] lionelvillard commented on #4865
Let's target 0.22

/cc @n3wscott @vaikas

[2021-03-02 15:06] omerbensaadon commented on #4998
I love this idea. It jives well with the UX WG's epic https://github.com/knative/ux/projects/4

@csantanapr and I have discussed making a "knative-awesome" repo which contains all of the cool projects which leverage Knative.

Is this related? Or do you view this as an addition to the existing Eventing docs?

[2021-03-02 17:01] vaikas commented on #4994
I'm fine with adding it, we can make it a configuration option for MT broker as well. @grantr would you mind taking a look at the spec to see if it needs any tweaking with this change?

[2021-03-02 19:05] pierDipi commented on #4975
Let's see if https://github.com/knative/eventing/pull/4997 helps.

[2021-03-02 21:25] #4960 closed

[2021-03-02 22:29] n3wscott commented on #4964
/assign @vaikas

[2021-03-02 23:14] #4844 closed

[2021-03-02 23:14] #4964 closed

[2021-03-03 10:11] devguyio commented on #4998
I few this as a sort of "reference use cases" with PMs, engineers, and end users as target audience. I can imagine it'd be useful in documentation etc, however it's primary target audience are the eventing contributors because:
- Many times we get stuck trying to solve a problem (or even evaluate it) in many different ways because there's no clear alignment on what are our "supported" use cases.
-

[2021-03-03 11:53] csantanapr commented on #4998
I think this goes along with the Eventing documentation on understanding the concepts by utilizing use cases to explain them.

That's one level of “use case” to explain how something works (ie small and precise)

Then comes the next level that builds on top, “solutions” which typically would be compose of multiple uses cases to solve a problem (composition)

[2021-03-03 16:44] matzew commented on #2050
/reopen

[2021-03-03 16:44] matzew commented on #2050
/remove-lifecycle stale

[2021-03-03 21:20] n3wscott commented on #4972
/assign

[2021-03-04 01:34] #4437 closed

[2021-03-04 02:48] lionelvillard commented on #3785
/remove-lifecycle stale

[2021-03-04 07:52] #4972 closed

[2021-03-04 18:55] n3wscott commented on #4957
/assign

[2021-03-04 18:55] n3wscott commented on #4957
I am looking at this in the background.

[2021-03-04 18:56] n3wscott commented on #4954
/assign

[2021-03-05 02:04] #4994 closed

[2021-03-05 07:24] pierDipi commented on #4628
This feature will be available in the release.

/assign zhaojizhuang
/close

[2021-03-05 07:24] #4628 closed

[2021-03-05 10:53] matzew commented on #4876
OK, I've looked at this again.

This does only happen if you use knative/operator (or distribution) 0.19.x  WITH the `v1beta1` of the Sinkbindig.

However, using `v1` does not cause this problem!

[2021-03-05 12:10] #4996 closed

[2021-03-05 13:58] matzew commented on #4876
On Sinkbinding `v1`, its prevented to create `sinkbinding` CRs, after the `KnativeEventing` is deleted.

See:

[code]

[2021-03-05 17:35] vaikas commented on #4973
This was fixed as a side-effect of #5005

[2021-03-05 17:35] #4973 closed

[2021-03-05 22:15] pierDipi commented on #4975
The last failure due to this was Mar 1st. (I'm just keeping track of relevant events)

[2021-03-06 12:11] #4899 closed

[2021-03-06 12:11] #4898 closed

[2021-03-08 07:38] pierDipi commented on #2841
/remove-lifecycle stale

[2021-03-08 07:49] slinkydeveloper commented on #4617
/remove-lifecycle-stale

[2021-03-08 08:26] aliok opened #5023 "Conflicting channel services"
**Describe the bug**
IMC channel reconciler creates a service for the channel resource. It names it as `<IMC.metadata.name>-kn-channel`.
KafkaChannel implementations and possibly other Channel implementations also follow the same behavior.

Because of that, it is not possible to create an IMC and KafkaChannel with the same name.

Need to fix this in KafkaChannel as well: https://github.com/knative

[2021-03-08 08:33] aliok commented on #5023
Since this is an edge case, I say this is a low priority.

It is a good first task, except the upgrade problems.

[2021-03-08 13:04] matzew commented on #4876
The lisiting of the Sinkbindings `v1` were added in https://github.com/knative/eventing/commit/b2387dbd2ff176cb5fea79673fb0540a6e2bc898  by @capri-xiyue

Should that be kept at v1beta1 ?   :thinking:

[2021-03-08 17:58] lberk commented on #4645
@antoineco any results from your tests?

[2021-03-08 18:00] lberk commented on #4632
@antoineco is this issue still relevant (v0.20 was released several weeks ago)

[2021-03-08 18:06] antoineco commented on #4632
Yes, if a Broker was created in the v1beta1 API version, the ownerReference will stay on that version, even after upgrading Knative.

We could also decide that v1beta1 -> v1 is not something we want to care about anymore, but we do have some fairly ancient Brokers at TriggerMesh that exhibit this behaviour.

[2021-03-08 18:12] lberk commented on #4595
@AlexandraRoatis  is this issue still relevant? (v0.20 was released several weeks ago)

[2021-03-08 18:12] lberk commented on #4592
@cardil is this issue still relevant? (v0.20 was released several weeks ago)

[2021-03-08 18:13] lberk commented on #4547
@n3wscott  is this issue still relevant? (v0.20 was released several weeks ago)

[2021-03-08 18:13] lberk commented on #4512
@vaikas is this issue still relevant? (v0.20 was released several weeks ago)

[2021-03-08 18:23] grantr opened #5027 "Changing MT Broker channel type maybe causes channel name conflict"
_This is a speculative issue. I haven't actually confirmed this is an issue, just jotting it down since @vaikas mentioned it during triage_

**Describe the bug**
If an MT broker already exists, and I try to change its channel type, it may try to create a channel with the new type, but the same name as the old one. That will trigger #5023 and the new channel will never become ready. The channel may

[2021-03-08 18:24] grantr commented on #4486
This issue is still in v0.21.0. @lionelvillard should we move this to a future release milestone or backlog?

[2021-03-08 18:25] grantr commented on #4831
This issue is still in v0.21.0. @bharattkukreja are you still working on this? Should we move this to a future release milestone or backlog?

[2021-03-08 18:26] grantr commented on #4736
This issue is still in v0.21.0. Should we move it to a future release milestone or to the backlog?

[2021-03-08 18:26] grantr commented on #4754
This issue is still in v0.21.0. Should we move it to a future release milestone or to the backlog?

Also is it still critical-urgent if it's been unchanged for over a month? @pierDipi

[2021-03-08 18:27] grantr commented on #4501
This issue is still in v0.21.0. Since it has had no activity and has no assignee, I'm moving it to backlog. Feel free to object if that doesn't work for you!

[2021-03-08 20:42] n3wscott commented on #4547
I never gave it a release, that was you 😉

Still want this. Still working on it

[2021-03-08 21:02] pierDipi commented on #4754
It seems this was fixed by @lionelvillard in https://github.com/knative/eventing/pull/4906.

/close

[2021-03-08 21:02] #4754 closed

[2021-03-08 21:41] bharattkukreja commented on #4831
This was deprioritized so I'll close it for now.

[2021-03-08 21:41] #4831 closed

[2021-03-08 22:49] vaikas opened #5030 "Building images that are not used in e2e tests"
**Describe the bug**
While looking at a failed kind e2e tests (scheduled) run here:
https://github.com/knative/eventing/runs/2054065344?check_suite_focus=true

I noticed this:
[code]

I was curious why the e2e tests failed, and there are no logs, but it found it odd that it took 18 minutes to install Knative eventing. Also found it surprising that we build all these architectures which are not use

[2021-03-08 23:37] vaikas commented on #4963
Only #4965 remains under this directory, so closing this.

[2021-03-08 23:37] #4963 closed

[2021-03-08 23:56] vaikas commented on #5030
This is actually a bigger problem since even our PROW builds build these.

https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_eventing/5031/pull-knative-eventing-integration-tests/1369065759463968768

[code]

[2021-03-09 00:13] #4971 closed

[2021-03-09 01:09] n3wscott commented on #4952
/assign

[2021-03-09 02:04] #5030 closed

[2021-03-09 08:14] rhuss commented on #2003
/remove-lifecycle stale

[2021-03-09 08:14] #2003 closed

[2021-03-09 14:51] cr22rc opened #5038 "Pingsource schedule defaults to pods local timezone"
**Describe the bug**
The pingsource today will interpret the schedule  with no timezone to be just the pods local timezone. If pods are distributed across different timezones  this could lead to issues  of ping being sent differently depending on what pod the leader is.
Even without this issue, user should be able to decided what timezone the default should be.

 **Expected behavior**
Pingsource s

[2021-03-09 14:58] cr22rc commented on #5038
Proposed solution is to use the current configuration in the pingsource webhook  to allow service providers to specify a default timezone if none is provided when creating the pingsource.  If this is not set, the default will be the current behavior. While not ideal it should not incur a breaking change.

[2021-03-09 15:23] #4986 closed

[2021-03-09 16:50] devguyio opened #5039 "Knative Eventing v1.0"
### Description
Getting Knative Eventing to v1.0 release.

Work is being tracked via this [Git Hub project](https://github.com/knative/eventing/projects/19) .

[2021-03-09 17:40] vaikas commented on #1976
/remove-lifecycle stale
Related to v1 work.

[2021-03-10 03:11] faruryo commented on #4987
I checked again, and the cpu requests are set to 20m.
It looks like they increased the number of pods to try to meet the target 100%, since the cpu is sometimes used more than 20m.

In the operator, knative-eventing@v0.21.0, this yaml will be deployed:
https://github.com/knative/operator/blob/main/cmd/operator/kodata/knative-eventing/0.21.0/2-eventing-core.yaml

The above yaml was downloaded from

[2021-03-10 10:32] antoineco commented on #4512
I noticed that yesterday. All in-memory channels created before 0.20 are un-deletable because they contain a `finalizer` that no controller acts upon.

We are already on 0.21 so we can probably consider the damage done and move on. Or maybe provide a clean up script outside the regular releases for folks who ran into this.

[2021-03-10 14:43] ctron opened #5046 "Allow providing arbitrary HTTP headers for a `uri` style destination"
**Problem**

Using a `uri` as a destination (e.g. in a `Sequence`) the receiving endpoint might be secured and require additional information to allow access.

One way to achieve this may be a custom header, which currently cannot be presented as only a URI can be provided.

I guess the same is true when using a `ref` instead of a `uri`.

**[Persona:](https://github.com/knative/eventing/blob/main/

[2021-03-10 14:46] slinkydeveloper commented on #5046
Interesting, this might require to modify the `Destination` duck type... @vaikas @n3wscott any thoughts?

[2021-03-10 14:53] ctron opened #5047 "Allow using OAuth2 for destinations"
**Problem**

Using a `uri` or `ref` as a destination (e.g. in a `Sequence`) the receiving endpoint might be secured and require credentials to allow access.

Using `uri` it is currently possible to provide "username/password" credentials. However, OAuth2 is a reasonable choice for authentication as well.

KNative eventing should allow to use OAuth2 for authenticating towards a receiving service.

[2021-03-10 16:09] nicolaferraro commented on #4295
Sorry, I just found out that it was removed. Actually, it was used at least in Camel K to distinguish where a message comes from when a ksvc is subscribed to two or more channels. Is there any other mechanism equivalent to that (other than requiring that the user attaches specific headers to the messages)?

[2021-03-10 16:34] vaikas commented on #5046
I'd be down to define this more. When we were working on defining the Destination we did talk about some other things that we might want to bake in there, and one of the use cases was tokens. I not convinced however that we want to expand Destination to include a token (visible to anybody that can see the resources), but maybe a ref to a secret or something, but would be good to define couple of u

[2021-03-10 16:58] slinkydeveloper commented on #4935
Any existing tests already covering these subjects should be ported to reconciler-test

[2021-03-10 16:58] slinkydeveloper commented on #4933
Any existing tests already covering the subject should be ported to reconciler-test

[2021-03-10 16:58] slinkydeveloper commented on #4934
Any existing tests already covering the subject should be ported to reconciler-test

[2021-03-10 16:58] slinkydeveloper commented on #4936
Any existing tests already covering the subject should be ported to reconciler-test

[2021-03-10 16:59] slinkydeveloper commented on #4937
Any existing tests already covering the subject should be ported to reconciler-test

[2021-03-10 16:59] slinkydeveloper commented on #4938
Any existing tests already covering the subject should be ported to reconciler-test

[2021-03-10 16:59] slinkydeveloper commented on #4939
Any existing tests already covering the subject should be ported to reconciler-test

[2021-03-10 16:59] slinkydeveloper commented on #4940
Any existing tests already covering the subject should be ported to reconciler-test

[2021-03-10 17:00] slinkydeveloper commented on #4943
Any existing tests already covering the subject should be ported to reconciler-test

[2021-03-10 17:00] slinkydeveloper commented on #4944
Any existing tests already covering the subject should be ported to reconciler-test

[2021-03-10 17:00] slinkydeveloper commented on #4945
Any existing tests already covering the subject should be ported to reconciler-test

[2021-03-10 17:00] slinkydeveloper commented on #4947
Any existing tests already covering the subject should be ported to reconciler-test

[2021-03-10 17:00] slinkydeveloper commented on #4948
Any existing tests already covering the subject should be ported to reconciler-test

[2021-03-10 17:00] slinkydeveloper commented on #4949
Any existing tests already covering the subject should be ported to reconciler-test

[2021-03-10 17:00] slinkydeveloper commented on #4950
Any existing tests already covering the subject should be ported to reconciler-test

[2021-03-10 17:00] slinkydeveloper commented on #4951
Any existing tests already covering the subject should be ported to reconciler-test

[2021-03-10 17:00] slinkydeveloper commented on #4952
Any existing tests already covering the subject should be ported to reconciler-test

[2021-03-10 17:01] slinkydeveloper commented on #4956
Any existing tests already covering the subject should be ported to reconciler-test

[2021-03-10 17:01] slinkydeveloper commented on #4953
Any existing tests already covering the subject should be ported to reconciler-test

[2021-03-10 17:01] slinkydeveloper commented on #4954
Any existing tests already covering the subject should be ported to reconciler-test

[2021-03-10 17:35] n3wscott commented on #4952
Added smoke tests and several variants, we do not yet have a smoke test for complex integrations.

/unassign

[2021-03-10 18:31] n3wscott commented on #4948
/assign

[2021-03-10 18:41] nicolaferraro commented on #4295
I'm not really keen on using (and decoding) observability information for doing business logic, such as an aggregator or a normalizer...

[2021-03-10 21:33] vaikas opened #5051 "Broker spec does not seem to specify the Delivery part of the spec and what should happen."
**Describe the bug**
We don't seem to have anything here for delivery:
https://github.com/knative/eventing/blob/main/docs/spec/broker.md

This field is not in the spec and it should:
https://github.com/knative/eventing/blob/main/pkg/apis/eventing/v1/broker_types.go#L81

 **Expected behavior**
All the fields in the broker to be surfaced in the Spec.

 **To Reproduce**
Look at the spec, compare with

[2021-03-10 22:09] n3wscott commented on #4948
/unassign

Basic smoke test added.

[2021-03-10 22:29] n3wscott commented on #4947
/assign

[2021-03-11 21:54] vaikas commented on #5051
@AlexandraRoatis is this something that you might be able to tackle?

[2021-03-12 00:36] cr22rc opened #5058 "Timezone not added to schedule in runner.go"
**Describe the bug**
Timezone in CR has no affect.

[2021-03-12 13:52] cr22rc commented on #5058
Addressed with #5059  PR

[2021-03-12 13:52] #5058 closed

[2021-03-14 03:23] duglin commented on #2721
/remove-lifecycle stale

[2021-03-15 12:22] cardil commented on #4592
Yep, it is. It's not connected to any version, as it's rather a e2e test setup.

[2021-03-15 16:38] grantr commented on #5038
This fix should be backported when it's in

[2021-03-15 16:42] grantr commented on #5039
I wonder if we can link directly to the project in the roadmap? Then this issue isn't needed.

[2021-03-15 16:44] lberk commented on #5046
@ctron could you elaborate a bit more on the use-case so we can ensure any security requirements are properly met while integrating this into our apis?

[2021-03-15 16:46] lberk commented on #5047
@ctron is this related to #5046 as well?
@julz @evankanderson would you be willing to take a look at this?

[2021-03-15 16:54] n3wscott commented on #4954
/unassign

Added a simple smoke test

[2021-03-15 16:58] n3wscott commented on #4944
/assign

[2021-03-15 17:03] ctron commented on #5047
To some degree related. The alternative to my use case in Eclipse Ditto is to use "oauth". Both ways are not supported by Knative.

However, using OAuth2 in my use case might have downsides, as the "pre-authenticated" mode might allow to identify an internal user more easily. Also it might be more efficient to have a static header, compared to an oauth2 flow.

So both use cases are valid IMHO. Hav

[2021-03-15 18:19] senthilnathan opened #5069 "Improve debug messages from sequence-controller"
**Describe the bug**
When spec.channelTemplate.apiVersion of kind Sequence is incorrect, the sequence is not getting ready.  However, the warning message is not very helpful in resolving this issue.

 **Expected behavior**
When a sequence flow is not becoming ready, the warning/error message needs to clearly point to the reason for the failure.

 **To Reproduce**
Install Knative eventing release 0

[2021-03-15 19:26] AlexandraRoatis commented on #5051
Unfortunately, I cannot take this on at the moment. I'm occupied with internal tasks right now.

[2021-03-15 22:05] csantanapr opened #5073 "Update community contact md file with query for docs issues that need attention"
Update this doc https://github.com/knative/eventing/blob/main/support/COMMUNITY_CONTACTS.md
Add info on which query to use to find doc issues that need help from eventing engineering

[2021-03-15 22:05] csantanapr commented on #5073
/assign

[2021-03-15 22:26] #5073 closed

[2021-03-16 13:33] slinkydeveloper opened #5076 "Reconciler-test prow job doesn't collect pod logs"
Can't see in the artifacts the pod logs https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_eventing/5068/pull-knative-eventing-reconciler-tests/1371592466553114624

[2021-03-16 21:27] n3wscott opened #5081 "Spec says trigger.spec.broker gets defaulted, but this does not happen in the code."
**Describe the bug**
Create a valid trigger:

[code]

Fails to be created with `trigger.go:91: Trigger.eventing.knative.dev "mytrigger" is invalid: spec.broker: Required`
But the spec says this:

`Triggers SHOULD be assigned a default Broker upon creation if no Broker is specified by the user.` [trigger spec](https://github.com/knative/specs/blob/9ec2257dba11bdaefefd67f2f6c9943879bd2586/specs/even

[2021-03-16 21:35] grantr commented on #5081
Bug in the spec. There are a few issues with the context here, but this was an intentional decision to change the behavior of Trigger v1 from its v1beta1 behavior. The spec should have been updated.

[2021-03-16 22:49] #5081 closed

[2021-03-17 01:38] #4494 closed

[2021-03-17 07:10] pierDipi commented on #3681
/remove-lifecycle stale

[2021-03-17 11:39] slinkydeveloper opened #5086 "[Experimental] `KReference.Group` to avoid being explicit on the `APIVersion`"
**Description**
I propose to add a new field to `KReference`, called `Group`. For example, in order to refer to a `KafkaChannel`, more than using this one:

[code]

The user will be able to just use this:

[code]

This approach brings the following benefits:

* User doesn't need to care about api versions when referencing to other resources, so definitely better UX
* Simpler upgrades when some api

[2021-03-17 14:00] aavarghese commented on #4966
/close fixed by #5067

[2021-03-17 14:00] aavarghese commented on #4970
/assign

[2021-03-17 16:06] #4966 closed

[2021-03-18 10:27] matzew commented on #5086
it sounds like a limitation in the first place... but I am not sure if ignoring the version is a good idea... b/c they shapes could be completely different (e.g. `v1alpha1`  versus `v2`)

/cc @vaikas

[2021-03-18 10:43] slinkydeveloper commented on #5086
But the shape ain't nothing to do with the fact that I'm referring to A or B or C, right?

[2021-03-18 14:01] faruryo commented on #4987
Thanks for confirming that, @lberk.
I'll try!

I'm afraid I don't understand why limits needs to be multiplied by 5 for requests.
I thought it was requests or HorizontalPodAutoscaler averageUtilization that needs to be changed since limits is not a problem.
I hope you can help me.

#2204 seems to be set to change resources, but I don't understand the rationale for setting the value.

[2021-03-18 17:37] vaikas commented on #5086
Yeah, the shape is different so you need to know which version of the resource you're getting so you can patch the right resource. Also, knowing the version is important to set up the informers, etc. otherwise you're going to have racy time.

[2021-03-18 17:47] slinkydeveloper commented on #5086
Can't we discover that while fetching the resource? And isn't the `storage` version one anyway for every CRD?

[2021-03-18 20:58] knative-test-reporter-robot opened #5095 "[flaky] test/rekt.TestBrokerIngressConformance"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance
* **Repository name**: eventing

[2021-03-18 20:58] knative-test-reporter-robot opened #5096 "[flaky] test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event
* **Repository name**: eventing

[2021-03-18 20:58] knative-test-reporter-robot opened #5097 "[flaky] test/upgrade.TestEventingUpgrades/InstallingBase/EventingLatestRelease"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestEventingUpgrades/InstallingBase/EventingLatestRelease
* **Repository name**: eventing

[2021-03-18 20:58] knative-test-reporter-robot opened #5098 "[flaky] pkg/inmemorychannel.TestDispatcher_dispatch"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/inmemorychannel.TestDispatcher_dispatch
* **Repository name**: eventing

[2021-03-19 12:09] knative-test-reporter-robot opened #5103 "[flaky] test/rekt.TestBrokerIngressConformance"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance
* **Repository name**: eventing

[2021-03-19 12:09] knative-test-reporter-robot opened #5104 "[flaky] test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event
* **Repository name**: eventing

[2021-03-19 20:18] aavarghese commented on #4967
/assign

[2021-03-19 22:22] csantanapr opened #5107 "Update community contacts doc to link to the UX issue template"
Update community contacts doc to link to the UX issue template

This was suggested by TOC this week during UX WG status

[2021-03-19 23:02] #5107 closed

[2021-03-20 12:09] knative-test-reporter-robot opened #5110 "[flaky] test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event
* **Repository name**: eventing

[2021-03-20 12:09] knative-test-reporter-robot opened #5111 "[flaky] test/rekt.TestBrokerIngressConformance"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance
* **Repository name**: eventing

[2021-03-21 12:10] knative-test-reporter-robot opened #5113 "[flaky] test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event
* **Repository name**: eventing

[2021-03-21 12:10] knative-test-reporter-robot opened #5114 "[flaky] test/rekt.TestBrokerIngressConformance"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance
* **Repository name**: eventing

[2021-03-21 20:04] kthakar1990 commented on #4736
@grantr I have raised a [PR](https://github.com/knative/eventing/pull/5115) that addresses this issue.. once that gets merged..we can close this.

[2021-03-22 06:10] denny-lclin opened #5118 "Error handling for Sequence&Parallel"
**Problem**
There is no 'delivery' segment in Sequence&Parallel as in Broker/Subcription. Maually modify a generated by Sequence&Parallel would failed to pass the admission webhook validation (could not be patched: admission webhook "validation.webhook.eventing.knative.dev" denied the request: validation failed: Immutable fields changed)

**[Persona:](https://github.com/knative/eventing/blob/main/

[2021-03-22 12:09] knative-test-reporter-robot opened #5119 "[flaky] test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event#01"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event#01
* **Repository name**: eventing

[2021-03-22 12:09] knative-test-reporter-robot opened #5120 "[flaky] test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event
* **Repository name**: eventing

[2021-03-22 12:09] knative-test-reporter-robot opened #5121 "[flaky] test/rekt.TestBrokerIngressConformance"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance
* **Repository name**: eventing

[2021-03-22 15:47] vaikas commented on #5086
Yes, that's why the label on the resource indicated which duck it conforms to. I don't quite understand what the storage has to do with it, but yes, there can only be one storage version for a given CRD.

[2021-03-22 16:14] slinkydeveloper commented on #5086
And that's exactly my point. When the user gives us:

[code]

The duck controller can discover from kube what is the storage version of `messaging.knative.dev` `KafkaChannel`, and then the controller can just query the stored versions to perform the changes on it. E.g. in this case, the controller finds out `v1beta1` is the stored version, so it will just use `messaging.knative.dev/v1beta1` `Kafka

[2021-03-22 16:23] #4987 closed

[2021-03-22 16:39] grantr commented on #5069
This bug probably applies to Parallel as well. Might be a good first issue, or might be more complex than that, not sure.

[2021-03-22 16:41] grantr commented on #5076
Ville says this might be caused by the namespace being torn down before the pod logs can be collected. Is this a problem with reconciler-test or with eventing?

[2021-03-22 16:41] grantr commented on #5076
@slinkydeveloper are you looking into this one?

[2021-03-22 16:44] slinkydeveloper commented on #5076
This should have been fixed by https://github.com/knative-sandbox/reconciler-test/pull/143, but i didn't checked

[2021-03-22 16:45] grantr commented on #5086
This is going to be a tough one to fix since the reference shape is foundational to a lot of our apis.

[2021-03-22 16:50] grantr commented on #5118
Thanks for the request @denny-lclin! Where would you like the delivery spec to apply in the sequence? At every step, or only some steps? Do you need to be able to override delivery spec for a single step?

[2021-03-22 23:00] n3wscott commented on #4935
/assign

[2021-03-23 12:08] knative-test-reporter-robot opened #5128 "[flaky] test/rekt.TestBrokerIngressConformance"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance
* **Repository name**: eventing

[2021-03-23 12:08] knative-test-reporter-robot opened #5129 "[flaky] test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event
* **Repository name**: eventing

[2021-03-23 12:08] knative-test-reporter-robot opened #5130 "[flaky] test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event#01"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event#01
* **Repository name**: eventing

[2021-03-23 12:59] slinkydeveloper commented on #5086
Please check out the https://github.com/knative/eventing/pull/5131

[2021-03-23 13:46] aliok commented on #5086
#5131 looks good to me.

The PR does something *only* if the version is missing the in the subscription ref.
That is backward compatible.

I don't think this would require us to change any other code to adapt the code here.

[2021-03-23 14:08] slinkydeveloper commented on #5086
I honestly don't wanna dig in the semver magic :smile: I also think is more "correct" to use the storage version because:

* you don't to pay unnecessary roundtrips through version conversions
* the storage version is the ultimate source of truth for every controller operating on that resource

[2021-03-23 14:34] #4970 closed

[2021-03-23 18:51] n3wscott commented on #5086
An `apiVersion` without version is not an `apiVersion`.

#5131 is breaking the contract we have with the resources. The subscription should just go ready false and an operator should fix it. No need for magic here.

[2021-03-23 21:57] vitreuz opened #5137 "PingSource sink field is unpopulated on non-storage versions"
**Describe the bug**
PingSource is missing "sink" info on the non-storage versions. (v1alpha1, v1beta1)

 **Expected behavior**
Given that both v1alpha1 and v1beta1 are supposed to satisfy the v1 duck type, and their api schemas show the full sink field, I expect them to properly populate the sink field on these non-storage versions.

 **To Reproduce**

1. create a ping source following the first

[2021-03-24 00:00] antoineco commented on #4645
@lberk still occuring on v0.21.0

[2021-03-24 00:46] xtreme-sameer-vohra commented on #4962
/assign

[2021-03-24 00:55] cheskayang opened #5139 "can trigger subscribe to a broker in a different namespace?"
**Describe the bug**
I'm following [this guide](https://knative.dev/docs/eventing/broker/kafka-broker/) here and set up a default broker as the Kafka broker.
I have the default broker in the `default` namespace, with annotation
[code]

And I have a source and trigger in a different namespace `ns-a` , the source is sending events to the default broker (I have to specify the namespace for this to wo

[2021-03-24 01:42] #3351 closed

[2021-03-24 07:36] matzew commented on #5086
Can you share details on what you mean with "an operator should fix it" ?

[2021-03-24 14:56] lionelvillard commented on #5137
@vitreuz the v1beta2 spec is actually stored in the `pingsources.sources.knative.dev/v1beta2-spec` annotation in v1beta1.  I don't recall why this has been done this way, maybe @eclipselu remembers.

[2021-03-24 15:10] eclipselu commented on #5137
it's because v1beta2 was not the storage version when introduced, and has added feature that v1beta2/v1alpha1 do not support, to store v1beta2 object, it needs to be converted to v1beta1, if we do a straightforward conversion, the added feature in v1beta2 will be lost. So storing the whole v1beta2 spec in annotation is the way we chose to mitigate the issue.

See [here](https://github.com/knative/

[2021-03-24 15:13] eclipselu commented on #5137
/assign @eclipselu

[2021-03-24 21:33] eclipselu commented on #5137
I think duckv1.SourceSpec should be populated and https://github.com/knative/eventing/blob/ca7329ac2ccdd561f8e4a6e9984aa8f29b305550/pkg/apis/sources/v1beta1/ping_conversion.go#L172 should be changed to checking if JsonData is empty and v1beta2 annotation exists, because when converting from v1beta2 -> v1beta1, JsonData will not be populated.

[2021-03-24 22:06] vaikas opened #5143 "Broker accepts malformed events."
**Describe the bug**
Broker accepts malformed events.

As part of the conformance tests, added a test for dropping required fields. Broker happily accepts them. Once I PR, I'll link it here.

But in the conformance tests, they are failing with (for example):
[code]

 **Expected behavior**
Broker to conform to the Spec and reject malformed CloudEvents.

 **To Reproduce**
Steps to reproduce the beha

[2021-03-25 03:51] denny-lclin commented on #5118
Hi @grantr, I think a format like
[code]
is reasonable for common use case.

And a per sequence/parallel delivery config like
[code]
with the *per steps* > *per sequence* overwrite definition will be a nice-to-have feature.

By the way, may I ask that what's the definition of 'event delivery failure' in knative ecosystem ? (Or where can I look it up) I've discovered that the http response without

[2021-03-25 06:15] Shashankft9 commented on #3785
I was also evaluating the best way to deploy knative in such architecture where there are multiple user clusters, to make it central I would run serving in just one cluster and this is where it would make sense to have eventing deployed in the same cluster as well and then the source to connect with different clusters using kubeconfig.
+1 for this feature

[2021-03-25 06:41] denny-lclin opened #5146 "Deletion of Subscription hangs forever when the subscription status.Ready is not True"
**Describe the bug**
When a Subscription is not in a Ready status (e.g Reason: ChannelReferenceFailed, SubscriberResolveFailed) ,
```kubectl delete subscription {subscription name}``` just hangs there after ```subscription.messaging.knative.dev "subscription name" deleted``` message printed. The subscription still exist.

 **Expected behavior**
A Subscription should be able to be deleted even if t

[2021-03-25 08:27] embano1 opened #5147 "Kubernetes Service as Sink only works with Port 80"
**Describe the bug**
When using `v1/Service` and `kind: Service` as `sink`, i.e. Kubernetes Service instead of `KService`, all eventing components using that specific `sink` will only work if the `Service` is exposed on port `80` (`targetPort` can be different).

According to @n3wscott this is due to the specific Kubernetes `Service` resolver defaulting to port `80`, ignoring the specified port on

[2021-03-25 08:44] slinkydeveloper commented on #5147
@embano1 I'm trying to understand how it should work: what happens if the `Service` specifies multiple ports? Which one should be picked?

[2021-03-25 08:52] slinkydeveloper commented on #5076
Still nothing: https://console.cloud.google.com/storage/browser/knative-prow/pr-logs/pull/knative_eventing/5131/pull-knative-eventing-reconciler-tests/1374356764438302720/artifacts/1af3210f-8bde-11eb-b171-3a77f5e8ce1e?pageState=(%22StorageObjectListTable%22:(%22f%22:%22%255B%255D%22))&prefix=&forceOnObjectsSortingFiltering=false

@n3wscott can you check this out?

[2021-03-25 08:56] slinkydeveloper commented on #5146
Judging from the issue description, I guess something is broken in the finalizer... I think you can force the removal of the subscription removing the finalizer. This guide explains how to do that for a namespace, but you can apply the same guide to the broken subscription: https://medium.com/@craignewtondev/how-to-fix-kubernetes-namespace-deleting-stuck-in-terminating-state-5ed75792647e

Can you

[2021-03-25 09:00] slinkydeveloper commented on #5139
With 0.22 it will be possible to create a trigger where the subscriber is in another namespace https://github.com/knative/eventing/pull/4995. This is slightly different from your use case, because you'll still need to create the trigger in the same namespace of the broker, but will this solve your issue?

[2021-03-25 09:59] denny-lclin commented on #5146
@slinkydeveloper  Do you mean the log when I try to delete the Subscription? I don't  see any new log generated in eventing-controller pod after `kubectl delete`.  (only `warnings.go:67] apiextensions.k8s.io/v1beta1 CustomResourceDefinition is deprecated in v1.16+, unavailable in v1.22+; use apiextensions.k8s.io/v1 CustomResourceDefinition` after a few minutes which doesn't look relative to it)

[2021-03-25 10:23] slinkydeveloper opened #5148 "[Experimental] DeliverySpec Timeout"
**Description**
Sink services are usually very heterogeneous, each one with different response time characteristics, depending on their functionality, the way they're implemented, the guarantees the user wants. Because of that, timeouts of a request, when dispatching an event, may vary. `DeliverySpec` doesn't give the ability to the user to specify the timeout of the single request, so we usually

[2021-03-25 10:23] slinkydeveloper commented on #5148
/assign

[2021-03-25 10:42] matzew commented on #5148
I think it is very reasonable to have some timeout notion configurable

/cc @lionelvillard

[2021-03-25 12:09] knative-test-reporter-robot opened #5150 "[flaky] test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event#01"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event#01
* **Repository name**: eventing

[2021-03-25 12:09] knative-test-reporter-robot opened #5151 "[flaky] test/rekt.TestBrokerIngressConformance"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance
* **Repository name**: eventing

[2021-03-25 14:52] guimou commented on #4876
Note in case it helps: this happened to me  when a KafkaSource object had been created in a project without the CRD and the controller being deployed before (the user had skipped this step when configuring Serverless).
Thanks again @maschmid for the workaround, which was to delete the KafkaSource object. As it was impossible to do this directly, I deleted the CRD, then reinstalled the component pr

[2021-03-25 16:25] slinkydeveloper commented on #5148
Spec PR: https://github.com/knative/specs/pull/15
API PR: https://github.com/knative/eventing/pull/5149

[2021-03-25 17:01] n3wscott commented on #5147
The rules on which to pick is interesting. Assuming the svc is always on `:80` also seems wrong.  Let's collect several examples of services that have interesting config.

[2021-03-25 18:54] cheskayang commented on #5139
@slinkydeveloper thank you very much for the reply.
This answered my question (i.e. confirmed broker and trigger needs to be in the same namespace).

I'm still a bit confused about how to achieve my use case.  I have an event linked from a source in namespace `ns-a`,  and svcs in `ns-b` and `ns-c` both want to process this event (basically an event-driven pattern with svcs in different domains wan

[2021-03-26 12:10] knative-test-reporter-robot opened #5157 "[flaky] _build_tests.Verify_CodeGen"
### Auto-generated issue tracking flakiness of test
* **Test name**: _build_tests.Verify_CodeGen
* **Repository name**: eventing

[2021-03-26 12:10] knative-test-reporter-robot opened #5158 "[flaky] test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event
* **Repository name**: eventing

[2021-03-26 12:10] knative-test-reporter-robot opened #5159 "[flaky] test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event#01"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event#01
* **Repository name**: eventing

[2021-03-26 12:10] knative-test-reporter-robot opened #5160 "[flaky] test/rekt.TestBrokerIngressConformance"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance
* **Repository name**: eventing

[2021-03-26 17:17] zhaojizhuang commented on #5147
How about supporting users to specify ports by themselves in `sink.ref` ?

[2021-03-26 19:19] embano1 commented on #5147
@slinkydeveloper we could establish a convention to use named ports, eg "http" in such cases.

@zhaojizhuang we have all the details so it should be possible without additional configuration (complexity).

[2021-03-27 12:09] knative-test-reporter-robot opened #5163 "[flaky] test/rekt.TestSmoke_Broker"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestSmoke_Broker
* **Repository name**: eventing

[2021-03-27 12:09] knative-test-reporter-robot opened #5164 "[flaky] test/rekt.TestSmoke_Broker/Setup/install_broker_"name63-01234567890123456789012345678901234567890123456789012345""
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestSmoke_Broker/Setup/install_broker_"name63-01234567890123456789012345678901234567890123456789012345"
* **Repository name**: eventing

[2021-03-27 12:09] knative-test-reporter-robot opened #5165 "[flaky] test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event#01"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event#01
* **Repository name**: eventing

[2021-03-27 12:09] knative-test-reporter-robot opened #5166 "[flaky] test/rekt.TestBrokerIngressConformance"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance
* **Repository name**: eventing

[2021-03-28 12:10] knative-test-reporter-robot opened #5167 "[flaky] test/rekt.TestSmoke_Broker"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestSmoke_Broker
* **Repository name**: eventing

[2021-03-28 12:10] knative-test-reporter-robot opened #5168 "[flaky] test/rekt.TestSmoke_Broker/Setup/install_broker_"name63-01234567890123456789012345678901234567890123456789012345""
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestSmoke_Broker/Setup/install_broker_"name63-01234567890123456789012345678901234567890123456789012345"
* **Repository name**: eventing

[2021-03-28 12:10] knative-test-reporter-robot opened #5169 "[flaky] test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event#01"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event#01
* **Repository name**: eventing

[2021-03-28 12:10] knative-test-reporter-robot opened #5170 "[flaky] test/rekt.TestBrokerIngressConformance"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance
* **Repository name**: eventing

[2021-03-29 07:21] slinkydeveloper commented on #930
/remove-lifecycle stale

[2021-03-29 12:08] knative-test-reporter-robot opened #5172 "[flaky] test/rekt.TestBrokerIngressConformance"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance
* **Repository name**: eventing

[2021-03-29 12:08] knative-test-reporter-robot opened #5173 "[flaky] test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event
* **Repository name**: eventing

[2021-03-29 12:08] knative-test-reporter-robot opened #5174 "[flaky] test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event#01"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event#01
* **Repository name**: eventing

[2021-03-29 16:43] lberk commented on #5147
@embano1 is there any chance you'd be interested in putting a PR together for this?

[2021-03-29 16:46] lberk commented on #5146
@slinkydeveloper moving this to v0.23 as v0.22 is tomorrow

[2021-03-29 16:52] grantr commented on #5146
(it was actually my mistake)

[2021-03-29 16:57] grantr commented on #5137
This might miss the 0.22.0 release, but we can get it into a 0.22.x point release.

[2021-03-29 17:42] n3wscott commented on #5174
dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 17:42] #5174 closed

[2021-03-29 17:44] n3wscott commented on #5173
dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 17:44] #5173 closed

[2021-03-29 17:44] n3wscott commented on #5170
dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 17:44] #5170 closed

[2021-03-29 17:47] n3wscott commented on #5169
Dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 17:47] #5169 closed

[2021-03-29 17:48] n3wscott commented on #5167
Dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 17:48] #5167 closed

[2021-03-29 17:49] n3wscott commented on #5166
Dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 17:49] #5166 closed

[2021-03-29 18:32] n3wscott commented on #5164
/close
dup of https://github.com/knative/eventing/issues/5172

[2021-03-29 18:32] #5164 closed

[2021-03-29 18:32] n3wscott commented on #5150
dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 18:33] #5150 closed

[2021-03-29 18:33] n3wscott commented on #5151
dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 18:33] #5151 closed

[2021-03-29 18:33] n3wscott commented on #5158
dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 18:33] n3wscott commented on #5159
dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 18:33] #5158 closed

[2021-03-29 18:33] n3wscott commented on #5160
dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 18:33] n3wscott commented on #5163
dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 18:33] #5160 closed

[2021-03-29 18:33] #5163 closed

[2021-03-29 18:34] n3wscott commented on #5157
/close

bad timing.

[2021-03-29 18:34] #5157 closed

[2021-03-29 18:35] n3wscott commented on #5148
I believe this should be pushed to after we become v1.0 ready. It changes the spec of so many resources.

[2021-03-29 18:35] n3wscott commented on #5165
dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 18:35] #5165 closed

[2021-03-29 18:36] n3wscott commented on #5168
dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 18:36] #5168 closed

[2021-03-29 18:36] n3wscott commented on #5095
dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 18:36] n3wscott commented on #5096
dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 18:36] #5095 closed

[2021-03-29 18:36] n3wscott commented on #5097
dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 18:36] #5096 closed

[2021-03-29 18:36] n3wscott commented on #5098
dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 18:36] #5097 closed

[2021-03-29 18:36] n3wscott commented on #5103
dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 18:36] #5098 closed

[2021-03-29 18:36] n3wscott commented on #5104
dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 18:36] #5103 closed

[2021-03-29 18:36] n3wscott commented on #5110
dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 18:36] #5104 closed

[2021-03-29 18:36] n3wscott commented on #5111
dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 18:37] n3wscott commented on #5113
dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 18:37] #5111 closed

[2021-03-29 18:37] n3wscott commented on #5119
dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 18:37] #5113 closed

[2021-03-29 18:37] n3wscott commented on #5120
dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 18:37] #5119 closed

[2021-03-29 18:37] n3wscott commented on #5121
dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 18:37] #5120 closed

[2021-03-29 18:37] n3wscott commented on #5128
dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 18:37] #5121 closed

[2021-03-29 18:37] n3wscott commented on #5129
dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 18:37] #5128 closed

[2021-03-29 18:37] n3wscott commented on #5130
dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 18:37] #5129 closed

[2021-03-29 18:37] #5130 closed

[2021-03-29 18:37] n3wscott commented on #5114
dup of https://github.com/knative/eventing/issues/5172
/close

[2021-03-29 18:37] #5114 closed

[2021-03-29 19:02] cardil opened #5176 "[QE] Passing a custom config template for upgrade tests is limiting (and cumbersome)"
**Describe the bug**
The PR #4615 have introduced a way to pass a custom config template. But, passing it is limited to a relative path of default [config.toml](https://github.com/knative/eventing/blob/9362696751eb3511e9154fe95125207f4c8bec79/test/upgrade/prober/config.toml) file.

This is cumbersome, as seen in: https://github.com/google/knative-gcp/blob/930cae634aa9fdb1ee5064091680668e3711f236/t

[2021-03-29 19:03] cardil commented on #5176
/area test-and-release
/kind cleanup

[2021-03-29 19:03] cardil commented on #5176
/assign

[2021-03-29 19:35] slinkydeveloper commented on #5172
Attempt to fix it https://github.com/knative-sandbox/reconciler-test/pull/156

[2021-03-29 20:50] n3wscott commented on #4943
/assign

[2021-03-30 12:12] knative-test-reporter-robot opened #5178 "[flaky] test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_deprecated_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_deprecated_triggers
* **Repository name**: eventing

[2021-03-30 12:12] knative-test-reporter-robot opened #5179 "[flaky] .Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Test
* **Repository name**: eventing

[2021-03-30 12:12] knative-test-reporter-robot opened #5180 "[flaky] test/rekt.TestBrokerIngressConformance"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance
* **Repository name**: eventing

[2021-03-30 12:12] knative-test-reporter-robot opened #5181 "[flaky] test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event
* **Repository name**: eventing

[2021-03-30 14:20] #4962 closed

[2021-03-30 15:19] n3wscott commented on #5172
I think a combo of knative-sandbox/reconciler-test#156 and https://github.com/knative/eventing/pull/5175 might have fixed this. Closing and we can reopen if we get more flakes (or the bot will add more issues)

/close

[2021-03-30 15:19] #5172 closed

[2021-03-30 16:24] slinkydeveloper commented on #5148
As explained here, I think this is an important feature and we should do it before v1 https://github.com/knative/specs/pull/15#issuecomment-808024302

[2021-03-31 00:18] vaikas opened #5185 "Fake ducks might not work with k8s 1.20 clients"
**Describe the bug**
Just jotting down this that _might_ be a bug. While working on the rabbitmq broker, we noticed that if I used 1.20 k8s clients, I couldn't use ducks in our tests. Problem was a panic while doing a get for dynamic client. This results in a panic, and when reverting back to 1.19 it worked just fine.

@n3wscott for 👀  also.

 **Expected behavior**
A clear and concise description

[2021-03-31 16:09] n3wscott commented on #5185
Ok I figured out how to fix this.

For every GVK that will be used in the test you also need to register a ListKind, for example the `RabbitmqCluster` and `RabbitmqClusterList`:

[code]

[2021-04-01 12:09] knative-test-reporter-robot opened #5189 "[flaky] test/rekt.TestBrokerIngressConformance"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance
* **Repository name**: eventing

[2021-04-01 12:09] knative-test-reporter-robot opened #5190 "[flaky] test/rekt.TestBrokerIngressConformance/BrokerIngress1.0structured/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/BrokerIngress1.0structured/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event
* **Repository name**: eventing

[2021-04-01 12:09] knative-test-reporter-robot opened #5191 "[flaky] test/rekt.TestBrokerIngressConformance/BrokerIngress1.0binary/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/BrokerIngress1.0binary/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event
* **Repository name**: eventing

[2021-04-01 14:27] aliok commented on #4876
I did some investigation here: https://github.com/knative-sandbox/eventing-kafka/issues/494#issuecomment-811934265

Similar problem I guess. Probably the same thing described above is happening for SinkBinding indirectly because of KafkaSourceBinding.

[2021-04-01 19:24] duglin opened #5193 "[ping] support content-encoding http header"
I would be good if ping supporting specifying the content-encoding http header when setting it up. Similar to how they can define the content-type header.

[2021-04-02 12:10] knative-test-reporter-robot opened #5194 "[flaky] test/rekt.TestBrokerIngressConformance"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance
* **Repository name**: eventing

[2021-04-02 12:10] knative-test-reporter-robot opened #5195 "[flaky] test/rekt.TestBrokerIngressConformance/BrokerIngress1.0structured/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/BrokerIngress1.0structured/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event
* **Repository name**: eventing

[2021-04-02 12:10] knative-test-reporter-robot opened #5196 "[flaky] test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Control_Plane/Conformance/Assert/[Stable/MUST]Spec_and_Status_Requirements_for_Subscribers_Each_channel_CRD_MUST_contain_an_array_of_subscribers:_spec.subscribers._Each_channel_CRD_MUST_have_a_status_subresource_which_contains_[subscribers_(as_an_array)]._The_ready_field_of_the_subscriber_identified_by_its_uid_MUST_be_set_to_True_when_the_subscription_is_ready_to_be_processed."
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Control_Plane/Conformance/Assert/[Stable/MUST]Spec_and_Status_Requirements_for_Subscribers_Each_channel_CRD_MUST_contain_an_array_of_subscribers:_spec.subscribers._Each_channel_CRD_MUST_have_a_status_subresource_which_contains_[subscribers_(as_an_array)]._The_ready_

[2021-04-03 01:57] #4593 closed

[2021-04-03 12:10] knative-test-reporter-robot opened #5197 "[flaky] test/rekt.TestBrokerIngressConformance/BrokerIngress1.0binary/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/BrokerIngress1.0binary/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event
* **Repository name**: eventing

[2021-04-03 12:10] knative-test-reporter-robot opened #5198 "[flaky] test/rekt.TestBrokerIngressConformance"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance
* **Repository name**: eventing

[2021-04-03 12:10] knative-test-reporter-robot opened #5199 "[flaky] test/rekt.TestBrokerIngressConformance/BrokerIngress1.0structured/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/BrokerIngress1.0structured/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event
* **Repository name**: eventing

[2021-04-03 12:10] knative-test-reporter-robot opened #5200 "[flaky] test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Control_Plane/Conformance/Assert/[Stable/MUST]Spec_and_Status_Requirements_for_Subscribers_Each_channel_CRD_MUST_contain_an_array_of_subscribers:_spec.subscribers._Each_channel_CRD_MUST_have_a_status_subresource_which_contains_[subscribers_(as_an_array)]._The_ready_field_of_the_subscriber_identified_by_its_uid_MUST_be_set_to_True_when_the_subscription_is_ready_to_be_processed."
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Control_Plane/Conformance/Assert/[Stable/MUST]Spec_and_Status_Requirements_for_Subscribers_Each_channel_CRD_MUST_contain_an_array_of_subscribers:_spec.subscribers._Each_channel_CRD_MUST_have_a_status_subresource_which_contains_[subscribers_(as_an_array)]._The_ready_

[2021-04-04 07:38] knative-test-reporter-robot opened #5202 "[flaky] test/conformance.TestChannelForwardHeadersPrependedWithKnative/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelForwardHeadersPrependedWithKnative/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2021-04-04 07:38] knative-test-reporter-robot opened #5203 "[flaky] test/conformance.TestChannelForwardHeadersPrependedWithKnative"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelForwardHeadersPrependedWithKnative
* **Repository name**: eventing

[2021-04-04 07:38] #3826 closed

[2021-04-04 12:10] #5178 closed

[2021-04-04 12:10] #5179 closed

[2021-04-05 16:39] grantr commented on #5193
@duglin do you have a use case for this, or is this request coming from a desire for completeness?

[2021-04-05 16:43] duglin commented on #5193
haven't had a customer complain yet, so it's being a bit proactive since I know that content-type alone won't be sufficient to programmatically know if the sink needs to base64 decode the data or not.

[2021-04-05 16:47] grantr commented on #5176
@cardil are you working on this now? Do you expect to get it in by next release (0.23) or after that?

[2021-04-05 17:08] grantr commented on #5193
Are you hoping to get this into the spec for 1.0?

[2021-04-05 17:18] duglin commented on #5193
Seems like a good thing ;-)

[2021-04-05 17:20] grantr commented on #5139
If your producer supports fanout upstream, as shown in your diagram, and you don't need broker features (like persistence/retry, delivery options, event filtering, or event reply), then you might not need a broker at all, you can just do this:

[code]

If you expect to do fanout across multiple namespaces frequently, I recommend the second scenario (with a single broker).

[2021-04-05 17:41] cardil commented on #5176
Not so actively. I think I'll propose some solution, but i think after 0.23.

[2021-04-06 12:14] slinkydeveloper opened #5204 "[Experimental] Enhanced Trigger filters via adopting CloudEvent Subscriptions API"
### Description

Trigger Filter API should conform to the CNCF CouldEvents [Subscriptions API](https://github.com/cloudevents/spec/blob/master/subscriptions-api.md) in order to support more complex predicates, the newly born CloudEvents Expression Language and any additional custom language/predicate vendors wants to include in their offerings.

### Feature Track

https://hackmd.io/@devguyio/H1Mg3

[2021-04-06 12:14] slinkydeveloper commented on #5204
/assign

[2021-04-06 13:49] slinkydeveloper commented on #5204
cc @duglin

[2021-04-06 14:40] n3wscott commented on #5148
And as I said here: it has long lasting effects: https://github.com/knative/specs/pull/15#discussion_r601651639

If this value changes in the core, then every CRD needs to be updated or they can not round trip with the timeout.

[2021-04-06 15:10] slinkydeveloper commented on #5148
This is not a problem, we can deal with it in the weeks prior to the next release, we've plenty of time for it.

We're also going to remove v1beta1 APIs #5201, so it's even less a problem.

[2021-04-06 15:24] n3wscott commented on #5148
This is a very very real problem if v1 continues to be a sliding scale for anyone who has developed any component that exists outside the knative repos. We need to put a stop to the feature creep until we can cut a v1/GA version of Eventing.

[2021-04-06 18:22] #4836 closed

[2021-04-06 18:34] n3wscott commented on #4967
@aavarghese still working on this one?

[2021-04-06 19:25] aavarghese commented on #4967
@n3wscott I was, and then got into some other work. If I'm blocking progress on this, I can remove myself. Please let me know. My attempt 2 weeks ago didn't help with increasing coverage. So need to look deeper.

[2021-04-07 10:27] acodetailor opened #5209 "when trigger have only one service and the service return event , the event send to broker will be send to service and broker's delivery."
**Describe the bug**
i create a broker with delivery 、 a trigger 、a service with return event, when i send a event to broker ,broker's delivery and service will receive the event ,delivery will retry send to broker 。 if the service not return event , everything is ok , event will not be send to delivery。

 **Expected behavior**
delivery will not receive event

 **To Reproduce**
create a broker wit

[2021-04-07 12:10] #5203 closed

[2021-04-08 12:09] knative-test-reporter-robot opened #5211 "[flaky] .Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Test
* **Repository name**: eventing

[2021-04-08 12:09] knative-test-reporter-robot opened #5212 "[flaky] test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Control_Plane/Conformance/Assert/[Stable/MUST]Spec_and_Status_Requirements_for_Subscribers_Each_channel_CRD_MUST_contain_an_array_of_subscribers:_spec.subscribers._Each_channel_CRD_MUST_have_a_status_subresource_which_contains_[subscribers_(as_an_array)]._The_ready_field_of_the_subscriber_identified_by_its_uid_MUST_be_set_to_True_when_the_subscription_is_ready_to_be_processed."
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Control_Plane/Conformance/Assert/[Stable/MUST]Spec_and_Status_Requirements_for_Subscribers_Each_channel_CRD_MUST_contain_an_array_of_subscribers:_spec.subscribers._Each_channel_CRD_MUST_have_a_status_subresource_which_contains_[subscribers_(as_an_array)]._The_ready_

[2021-04-08 12:09] knative-test-reporter-robot opened #5213 "[flaky] test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_deprecated_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_deprecated_triggers
* **Repository name**: eventing

[2021-04-08 19:31] cardil opened #5215 "[QE] Allow to change the Eventing upgrate tests SUT (system under test)"
**Problem**
Eventing upgrade tests use static SUT (system under test) - a default broker with trigger.

https://github.com/knative/eventing/blob/4a3216ca221e32f9f4820130b83f0f45764a0321/test/upgrade/prober/configuration.go#L131-L133

In different cases it's actually required to replace that with different configuration of eventing bits we'd to test. One of such example would be knative-sandbox/eve

[2021-04-08 19:32] cardil commented on #5215
/area test-and-release
/assign

[2021-04-09 13:33] aavarghese commented on #4611
/reopen

[2021-04-10 01:57] #3121 closed

[2021-04-10 01:57] #3120 closed

[2021-04-10 01:57] #3115 closed

[2021-04-10 12:07] knative-test-reporter-robot opened #5219 "[flaky] test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Control_Plane/Conformance/Assert/[Stable/MUST]Spec_and_Status_Requirements_for_Subscribers_Each_channel_CRD_MUST_contain_an_array_of_subscribers:_spec.subscribers._Each_channel_CRD_MUST_have_a_status_subresource_which_contains_[subscribers_(as_an_array)]._The_ready_field_of_the_subscriber_identified_by_its_uid_MUST_be_set_to_True_when_the_subscription_is_ready_to_be_processed."
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Control_Plane/Conformance/Assert/[Stable/MUST]Spec_and_Status_Requirements_for_Subscribers_Each_channel_CRD_MUST_contain_an_array_of_subscribers:_spec.subscribers._Each_channel_CRD_MUST_have_a_status_subresource_which_contains_[subscribers_(as_an_array)]._The_ready_

[2021-04-10 12:07] knative-test-reporter-robot opened #5220 "[flaky] test/rekt.TestBrokerIngressConformance/BrokerIngress1.0structured/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/BrokerIngress1.0structured/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event
* **Repository name**: eventing

[2021-04-10 12:07] knative-test-reporter-robot opened #5221 "[flaky] test/rekt.TestBrokerIngressConformance"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance
* **Repository name**: eventing

[2021-04-11 12:08] knative-test-reporter-robot opened #5222 "[flaky] test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Control_Plane/Conformance/Assert/[Stable/MUST]Spec_and_Status_Requirements_for_Subscribers_Each_channel_CRD_MUST_contain_an_array_of_subscribers:_spec.subscribers._Each_channel_CRD_MUST_have_a_status_subresource_which_contains_[subscribers_(as_an_array)]._The_ready_field_of_the_subscriber_identified_by_its_uid_MUST_be_set_to_True_when_the_subscription_is_ready_to_be_processed."
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Control_Plane/Conformance/Assert/[Stable/MUST]Spec_and_Status_Requirements_for_Subscribers_Each_channel_CRD_MUST_contain_an_array_of_subscribers:_spec.subscribers._Each_channel_CRD_MUST_have_a_status_subresource_which_contains_[subscribers_(as_an_array)]._The_ready_

[2021-04-11 12:08] knative-test-reporter-robot opened #5223 "[flaky] test/rekt.TestBrokerIngressConformance/BrokerIngress0.3binary/Assert/[Stable/MUST]ingress_supports_v0.3_deliver_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/BrokerIngress0.3binary/Assert/[Stable/MUST]ingress_supports_v0.3_deliver_the_event
* **Repository name**: eventing

[2021-04-11 12:08] knative-test-reporter-robot opened #5224 "[flaky] test/rekt.TestBrokerIngressConformance"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance
* **Repository name**: eventing

[2021-04-11 12:08] knative-test-reporter-robot opened #5225 "[flaky] test/rekt.TestBrokerIngressConformance/BrokerIngress1.0structured/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/BrokerIngress1.0structured/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event
* **Repository name**: eventing

[2021-04-11 12:08] knative-test-reporter-robot opened #5226 "[flaky] test/rekt.TestBrokerIngressConformance/BrokerIngress1.0binary/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/BrokerIngress1.0binary/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event
* **Repository name**: eventing

[2021-04-11 12:08] knative-test-reporter-robot opened #5227 "[flaky] pkg/inmemorychannel.TestDispatcher_dispatch"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/inmemorychannel.TestDispatcher_dispatch
* **Repository name**: eventing

[2021-04-12 12:09] knative-test-reporter-robot opened #5228 "[flaky] test/rekt.TestBrokerIngressConformance/BrokerIngress1.0binary/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/BrokerIngress1.0binary/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event
* **Repository name**: eventing

[2021-04-12 12:10] knative-test-reporter-robot opened #5229 "[flaky] test/rekt.TestBrokerIngressConformance/BrokerIngress1.0structured/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/BrokerIngress1.0structured/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event
* **Repository name**: eventing

[2021-04-12 12:10] knative-test-reporter-robot opened #5230 "[flaky] test/rekt.TestBrokerIngressConformance"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance
* **Repository name**: eventing

[2021-04-12 12:10] knative-test-reporter-robot opened #5231 "[flaky] test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Control_Plane/Conformance/Assert/[Stable/MUST]Spec_and_Status_Requirements_for_Subscribers_Each_channel_CRD_MUST_contain_an_array_of_subscribers:_spec.subscribers._Each_channel_CRD_MUST_have_a_status_subresource_which_contains_[subscribers_(as_an_array)]._The_ready_field_of_the_subscriber_identified_by_its_uid_MUST_be_set_to_True_when_the_subscription_is_ready_to_be_processed."
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Control_Plane/Conformance/Assert/[Stable/MUST]Spec_and_Status_Requirements_for_Subscribers_Each_channel_CRD_MUST_contain_an_array_of_subscribers:_spec.subscribers._Each_channel_CRD_MUST_have_a_status_subresource_which_contains_[subscribers_(as_an_array)]._The_ready_

[2021-04-12 16:41] lberk commented on #5209
@acodetailor thanks for reporting this -- would you be willing to include/attach the yaml you were using for us to help reproduce/diagnose the issue? thanks!

[2021-04-12 16:42] lberk commented on #5209
Also would you be willing to use a more recent version? does this happen on v0.22? (just comparing for more information)

[2021-04-12 16:55] lberk commented on #5204
@slinkydeveloper just curious -- did you see this as being a subsequent effort/included to the feature gating/experimental feature process?
Your awesome [proposal](https://docs.google.com/document/d/1AoH0FyLeuHIg5snrlCKzELQv-NEA6bbjTU2Qv3zlW5k/edit#heading=h.km2w7njoy1t1) lists this as an example but I didn't see it listed in the steps for the issue -- just wanted to check out loud

[2021-04-12 17:03] lberk commented on #5038
@cr22rc looking at the priority of this item -- is this something still actively being worked on?

[2021-04-12 17:04] lberk commented on #4769
@skonto looking at the date we first triaged the issue -- moving it back to the backlog for now -- feel free to move it once you get some spare cycles to work on it! Thanks!

[2021-04-12 17:09] lberk commented on #4645
@antoineco are you still working on this? I moved this to the v0.23 milestone for now, if you don't have any spare cycles (just looking at the dates on this issue), would you mind unassigning yourself and perhaps moving the issue to the backlog? thanks!

[2021-04-12 17:16] antoineco commented on #4645
I never managed to find a way to intentionally reproduce this issue, despite spending 3 entire days on it, so eventually I gave up. All I know is that metrics will break after up 4 hours after a restart, consistently.

I think we should close otherwise it's gonna rot here.

[2021-04-12 17:16] #4645 closed

[2021-04-12 17:25] grantr commented on #4512
0.20 is old enough now that I don't think it's worth trying to fix this automatically. I added a note pointing to @antoineco's comment in the 0.20.0, 0.20.1, 0.20.2, and 0.20.3 release notes:

## Known Issues
- InMemoryChannel objects created before release 0.20 may have an extra finalizer that blocks their deletion. Use the script in https://github.com/knative/eventing/issues/4512#issuecomment-79

[2021-04-12 17:25] #4512 closed

[2021-04-12 17:27] grantr commented on #5193
Seems like a useful addition, but probably won't get to this for 1.0.

[2021-04-12 17:44] slinkydeveloper commented on #5204
@lberk I'm waiting for the experimental features proposal to be accepted to refactor this issue and move forward with the process

[2021-04-12 19:40] grantr commented on #5213
This seems to be the actual failure:

`creation.go:580: Failed to configure pod "dumper-testany-testany--extname2-extvalue2": Operation cannot be fulfilled on resourcequotas "gke-resource-quotas": StorageError: invalid object, Code: 4, Key: /registry/resourcequotas/test-default-broker-with-many-triggers-test-default-brokerxl95c/gke-resource-quotas, ResourceVersion: 0, AdditionalErrorMsg: Precondit

[2021-04-12 20:00] eclipselu opened #5232 "Remove PingSource spec annotations"
**Problem**
When [introducing PingSource v1beta2](https://github.com/knative/eventing/pull/4474) in 0.20 release, we added PingSource spec annotations to help the conversion as v1beta1 was the storage version and v1beta2 has new features that cannot be persisted in v1beta1.

Given that we flipped storage version to v1beta2 in 0.21, there's no need to keep these 2 annotations. We'll need to remove

[2021-04-12 20:46] #5137 closed

[2021-04-12 23:27] grantr commented on #5213
Seems to be a GKE flake according to @vaikas

[2021-04-12 23:27] #5213 closed

[2021-04-13 02:19] acodetailor commented on #5209
this a my broker ,with a delivery service。

kind: Broker
metadata:
  annotations:
    eventing.knative.dev/broker.class: MTChannelBasedBroker
    eventing.knative.dev/creator: kubernetes-admin
    eventing.knative.dev/lastModifier: kubernetes-admin
  creationTimestamp: "2021-03-11T07:09:33Z"
  generation: 1
  labels:
    k8s.haier.net/tenant: scode
  name: ihaier
  namespace: console-demo-dev
  re

[2021-04-13 02:20] acodetailor commented on #5209
this a my broker ,with a delivery service。

apiVersion: eventing.knative.dev/v1
kind: Broker
metadata:
annotations:
eventing.knative.dev/broker.class: MTChannelBasedBroker
eventing.knative.dev/creator: kubernetes-admin
eventing.knative.dev/lastModifier: kubernetes-admin
creationTimestamp: "2021-03-11T07:09:33Z"
generation: 1
labels:
k8s.haier.net/tenant: scode
name: ihaier
namespace: console-demo-

[2021-04-13 11:57] VerstraeteBert opened #5236 "Dead links in metric docs"
The [metrics doc](https://github.com/knative/eventing/blob/main/docs/metrics.md) contains dead links on setting up metric scraping for eventing.

[2021-04-13 12:08] knative-test-reporter-robot opened #5237 "[flaky] test/rekt.TestBrokerIngressConformance/BrokerIngressConformanceBadEvent/Setup/broker_is_addressable"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/BrokerIngressConformanceBadEvent/Setup/broker_is_addressable
* **Repository name**: eventing

[2021-04-13 12:08] knative-test-reporter-robot opened #5238 "[flaky] test/rekt.TestBrokerIngressConformance/BrokerIngress1.0structured/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/BrokerIngress1.0structured/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event
* **Repository name**: eventing

[2021-04-13 12:08] knative-test-reporter-robot opened #5239 "[flaky] test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Control_Plane/Conformance/Assert/[Stable/MUST]Spec_and_Status_Requirements_for_Subscribers_Each_channel_CRD_MUST_contain_an_array_of_subscribers:_spec.subscribers._Each_channel_CRD_MUST_have_a_status_subresource_which_contains_[subscribers_(as_an_array)]._The_ready_field_of_the_subscriber_identified_by_its_uid_MUST_be_set_to_True_when_the_subscription_is_ready_to_be_processed."
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Control_Plane/Conformance/Assert/[Stable/MUST]Spec_and_Status_Requirements_for_Subscribers_Each_channel_CRD_MUST_contain_an_array_of_subscribers:_spec.subscribers._Each_channel_CRD_MUST_have_a_status_subresource_which_contains_[subscribers_(as_an_array)]._The_ready_

[2021-04-13 12:08] knative-test-reporter-robot opened #5240 "[flaky] test/rekt.TestBrokerIngressConformance/BrokerIngress1.0structured/Setup/broker_is_addressable"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/BrokerIngress1.0structured/Setup/broker_is_addressable
* **Repository name**: eventing

[2021-04-13 12:08] knative-test-reporter-robot opened #5241 "[flaky] test/rekt.TestBrokerIngressConformance"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance
* **Repository name**: eventing

[2021-04-13 12:08] knative-test-reporter-robot opened #5242 "[flaky] test/rekt.TestBrokerIngressConformance/BrokerIngress1.0binary/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/BrokerIngress1.0binary/Assert/[Stable/MUST]ingress_supports_v1.0_deliver_the_event
* **Repository name**: eventing

[2021-04-13 12:08] knative-test-reporter-robot opened #5243 "[flaky] test/rekt.TestBrokerConformance/Knative_Broker_Specification_-_Control_Plane/Trigger,_Given_Broker/Assert/[Stable/SHOULD]Conformance_Triggers_SHOULD_include_a_Ready_condition_in_their_status."
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerConformance/Knative_Broker_Specification_-_Control_Plane/Trigger,_Given_Broker/Assert/[Stable/SHOULD]Conformance_Triggers_SHOULD_include_a_Ready_condition_in_their_status.
* **Repository name**: eventing

[2021-04-13 12:08] knative-test-reporter-robot opened #5244 "[flaky] test/rekt.TestBrokerWithDLQ//Setup/trigger_goes_ready"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerWithDLQ//Setup/trigger_goes_ready
* **Repository name**: eventing

[2021-04-13 12:09] knative-test-reporter-robot opened #5245 "[flaky] test/rekt.TestBrokerConformance/Knative_Broker_Specification_-_Control_Plane/Broker/Assert/[Stable/SHOULD]Conformance_While_a_Broker_is_Ready,_it_SHOULD_be_a_valid_Addressable_and_its_`status.address.url`_field_SHOULD_indicate_the_address_of_its_ingress."
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerConformance/Knative_Broker_Specification_-_Control_Plane/Broker/Assert/[Stable/SHOULD]Conformance_While_a_Broker_is_Ready,_it_SHOULD_be_a_valid_Addressable_and_its_`status.address.url`_field_SHOULD_indicate_the_address_of_its_ingress.
* **Repository name**: eventing

[2021-04-13 12:09] knative-test-reporter-robot opened #5246 "[flaky] test/rekt.TestBrokerAsMiddleware//Setup/trigger_goes_ready"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerAsMiddleware//Setup/trigger_goes_ready
* **Repository name**: eventing

[2021-04-13 12:09] knative-test-reporter-robot opened #5247 "[flaky] test/rekt.TestBrokerIngressConformance/BrokerIngress0.3binary/Setup/broker_is_addressable"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/BrokerIngress0.3binary/Setup/broker_is_addressable
* **Repository name**: eventing

[2021-04-13 12:09] knative-test-reporter-robot opened #5248 "[flaky] test/rekt.TestBrokerConformance/Knative_Broker_Specification_-_Control_Plane/Broker/Assert/[Stable/SHOULD]Conformance_Broker_objects_SHOULD_include_a_Ready_condition_in_their_status"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerConformance/Knative_Broker_Specification_-_Control_Plane/Broker/Assert/[Stable/SHOULD]Conformance_Broker_objects_SHOULD_include_a_Ready_condition_in_their_status
* **Repository name**: eventing

[2021-04-13 12:09] knative-test-reporter-robot opened #5249 "[flaky] test/rekt.TestBrokerIngressConformance/BrokerIngress1.0binary/Setup/broker_is_addressable"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/BrokerIngress1.0binary/Setup/broker_is_addressable
* **Repository name**: eventing

[2021-04-13 12:09] knative-test-reporter-robot opened #5250 "[flaky] test/rekt.TestBrokerIngressConformance/BrokerIngress0.3structured/Setup/broker_is_addressable"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/BrokerIngress0.3structured/Setup/broker_is_addressable
* **Repository name**: eventing

[2021-04-14 10:36] slinkydeveloper commented on #5204
@lberk refactored as experimental feature :)

[2021-04-14 10:38] slinkydeveloper commented on #5148
Refactored this issue as experimental feature, per proposal https://docs.google.com/document/d/1AoH0FyLeuHIg5snrlCKzELQv-NEA6bbjTU2Qv3zlW5k/edit?usp=sharing

[2021-04-14 11:02] slinkydeveloper commented on #5086
Looping in eventing wg leads @lionelvillard @grantr @vaikas @devguyio how should we move this one forward? Is this a good candidate as [experimental feature](https://docs.google.com/document/d/1AoH0FyLeuHIg5snrlCKzELQv-NEA6bbjTU2Qv3zlW5k/edit?usp=sharing) (since it's a behavioural change of a field?)

[2021-04-14 12:07] knative-test-reporter-robot opened #5252 "[flaky] test/rekt.TestBrokerConformance/Knative_Broker_Specification_-_Control_Plane/Broker/Assert/[Stable/SHOULD]Conformance_Broker_objects_SHOULD_include_a_Ready_condition_in_their_status"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerConformance/Knative_Broker_Specification_-_Control_Plane/Broker/Assert/[Stable/SHOULD]Conformance_Broker_objects_SHOULD_include_a_Ready_condition_in_their_status
* **Repository name**: eventing

[2021-04-14 12:07] knative-test-reporter-robot opened #5253 "[flaky] test/rekt.TestBrokerIngressConformance"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance
* **Repository name**: eventing

[2021-04-14 12:07] knative-test-reporter-robot opened #5254 "[flaky] test/rekt.TestBrokerIngressConformance/BrokerIngress1.0structured/Setup/broker_is_addressable"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/BrokerIngress1.0structured/Setup/broker_is_addressable
* **Repository name**: eventing

[2021-04-14 12:08] knative-test-reporter-robot opened #5255 "[flaky] test/rekt.TestBrokerConformance/Knative_Broker_Specification_-_Control_Plane/Broker/Assert/[Stable/SHOULD]Conformance_While_a_Broker_is_Ready,_it_SHOULD_be_a_valid_Addressable_and_its_`status.address.url`_field_SHOULD_indicate_the_address_of_its_ingress."
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerConformance/Knative_Broker_Specification_-_Control_Plane/Broker/Assert/[Stable/SHOULD]Conformance_While_a_Broker_is_Ready,_it_SHOULD_be_a_valid_Addressable_and_its_`status.address.url`_field_SHOULD_indicate_the_address_of_its_ingress.
* **Repository name**: eventing

[2021-04-14 12:08] knative-test-reporter-robot opened #5256 "[flaky] test/rekt.TestBrokerAsMiddleware//Setup/trigger_goes_ready"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerAsMiddleware//Setup/trigger_goes_ready
* **Repository name**: eventing

[2021-04-14 12:08] knative-test-reporter-robot opened #5257 "[flaky] test/rekt.TestBrokerIngressConformance/BrokerIngressConformanceBadEvent/Setup/broker_is_addressable"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/BrokerIngressConformanceBadEvent/Setup/broker_is_addressable
* **Repository name**: eventing

[2021-04-14 12:08] knative-test-reporter-robot opened #5258 "[flaky] test/rekt.TestBrokerIngressConformance/BrokerIngress0.3binary/Setup/broker_is_addressable"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/BrokerIngress0.3binary/Setup/broker_is_addressable
* **Repository name**: eventing

[2021-04-14 12:08] knative-test-reporter-robot opened #5259 "[flaky] test/rekt.TestBrokerIngressConformance/BrokerIngress0.3structured/Setup/broker_is_addressable"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerIngressConformance/BrokerIngress0.3structured/Setup/broker_is_addressable
* **Repository name**: eventing

[2021-04-14 12:08] knative-test-reporter-robot opened #5260 "[flaky] test/rekt.TestBrokerWithDLQ//Setup/trigger_goes_ready"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerWithDLQ//Setup/trigger_goes_ready
* **Repository name**: eventing

[2021-04-14 17:46] rhuss commented on #1940
Let's close this as it seems to going into the direction to leverage the Discovery API to hold those CLI related meta-data, so let's continue as part of the conversation how to integrate this meta-data into the Source type

[2021-04-14 17:46] #1940 closed

[2021-04-15 01:25] #3806 closed

[2021-04-15 12:11] mgencur opened #5264 "Prober in upgrade tests panics when fetching report too early"
**Describe the bug**
The prober panics here: https://github.com/knative/eventing/blob/main/test/upgrade/prober/verify.go#L56
This can happen when some events were missed during the upgrade. The "Finished" event is just a regular event and can be missed. If the Prober doesn't get this Finished event it panics. The panic causes the whole test suite to fail. Tests that were supposed to run after curr

[2021-04-15 14:26] #5264 closed

[2021-04-15 19:23] omerbensaadon commented on #4909
Done in https://github.com/knative/docs/pull/3404/files as apart of `docs/eventing/sources/apiserversource/getting-started/_index.md`

Where "Sample minimum of component" is a barebones implementation, also done in https://github.com/knative/docs/pull/3404/files as a part of `docs/eventing/sources/apiserversource/getting-started/_index.md`

[2021-04-15 19:24] omerbensaadon commented on #4909
@abrennan89 @n3wscott the rest are still //TODO yeah?

[2021-04-15 19:28] omerbensaadon commented on #4910
https://github.com/knative/docs/pull/3427 is relevant here

[2021-04-15 19:31] omerbensaadon commented on #4910
https://github.com/knative/specs/blob/main/specs/eventing/broker.md

Done here?

[2021-04-15 19:36] omerbensaadon commented on #4910
- [ ] Getting Started demo using the component.

Check out https://julz.github.io/docs/dev/getting-started/first-cloud-event/

Does this satisfy this requirement?

[2021-04-15 19:40] omerbensaadon commented on #4910
Will wait to check anything else off until @abrennan89 is done with https://github.com/knative/docs/pull/3427

It looks like her PR currently covers:

[2021-04-15 19:48] omerbensaadon commented on #4911
Looks like delivery of #3425 should cover:

[2021-04-15 19:49] omerbensaadon commented on #4911
I think

Is covered by: https://github.com/knative/specs/blob/main/specs/eventing/channel.md?

[2021-04-15 19:50] omerbensaadon commented on #4912
Covered here? https://github.com/knative/docs/blob/ea26207311e96551ec78726b335c4fc207718648/docs/reference/api/eventing/eventing.md#containersource

[2021-04-15 19:51] omerbensaadon commented on #4909
- [ ] All spec fields
Done in https://github.com/knative/docs/blob/ea26207311e96551ec78726b335c4fc207718648/docs/reference/api/eventing/eventing.md#apiserversource

Opening issue for status

[2021-04-15 19:55] omerbensaadon commented on #4910
Looks like spec has been delivered, Status looks like it needs an update.
https://github.com/knative/docs/blob/ea26207311e96551ec78726b335c4fc207718648/docs/reference/api/eventing/eventing.md#broker

[2021-04-15 20:32] n3wscott commented on #4910
we would need a link from docs to the spec?

[2021-04-15 21:05] n3wscott opened #5266 "MTChannelBasedBroker impl ignores trigger.spec.delivery when creating subscriptions."
**Describe the bug**
trigger.spec.delivery is not propagated to subscriptions when using MTChannelBasedBroker classed Brokers.

 **Expected behavior**
trigger.spec.delivery is used if provided.

 **To Reproduce**
Set trigger delivery specs and see that they are not used.

 **Knative release version**
0.22

[2021-04-15 21:05] n3wscott commented on #5266
/assign

[2021-04-15 22:29] #5266 closed

[2021-04-15 23:22] omerbensaadon commented on #4910
I'll create a new issue for that!

[2021-04-16 06:10] slinkydeveloper commented on #4833
Fixed by #5267

[2021-04-16 06:10] #4833 closed

[2021-04-16 12:09] knative-test-reporter-robot opened #5269 "[flaky] test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Control_Plane/Conformance/Assert/[Stable/MUST]Spec_and_Status_Requirements_for_Subscribers_Each_channel_CRD_MUST_contain_an_array_of_subscribers:_spec.subscribers._Each_channel_CRD_MUST_have_a_status_subresource_which_contains_[subscribers_(as_an_array)]._The_ready_field_of_the_subscriber_identified_by_its_uid_MUST_be_set_to_True_when_the_subscription_is_ready_to_be_processed."
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Control_Plane/Conformance/Assert/[Stable/MUST]Spec_and_Status_Requirements_for_Subscribers_Each_channel_CRD_MUST_contain_an_array_of_subscribers:_spec.subscribers._Each_channel_CRD_MUST_have_a_status_subresource_which_contains_[subscribers_(as_an_array)]._The_ready_

[2021-04-17 01:24] #3662 closed

[2021-04-17 12:08] knative-test-reporter-robot opened #5270 "[flaky] test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Control_Plane/Conformance/Assert/[Stable/MUST]Spec_and_Status_Requirements_for_Subscribers_Each_channel_CRD_MUST_contain_an_array_of_subscribers:_spec.subscribers._Each_channel_CRD_MUST_have_a_status_subresource_which_contains_[subscribers_(as_an_array)]._The_ready_field_of_the_subscriber_identified_by_its_uid_MUST_be_set_to_True_when_the_subscription_is_ready_to_be_processed."
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Control_Plane/Conformance/Assert/[Stable/MUST]Spec_and_Status_Requirements_for_Subscribers_Each_channel_CRD_MUST_contain_an_array_of_subscribers:_spec.subscribers._Each_channel_CRD_MUST_have_a_status_subresource_which_contains_[subscribers_(as_an_array)]._The_ready_

[2021-04-17 14:53] pierDipi commented on #4975
I've not seen this error for a long time, closing.

[2021-04-17 14:53] #4975 closed

[2021-04-18 12:08] knative-test-reporter-robot opened #5271 "[flaky] test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Control_Plane/Conformance/Assert/[Stable/MUST]Spec_and_Status_Requirements_for_Subscribers_Each_channel_CRD_MUST_contain_an_array_of_subscribers:_spec.subscribers._Each_channel_CRD_MUST_have_a_status_subresource_which_contains_[subscribers_(as_an_array)]._The_ready_field_of_the_subscriber_identified_by_its_uid_MUST_be_set_to_True_when_the_subscription_is_ready_to_be_processed."
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Control_Plane/Conformance/Assert/[Stable/MUST]Spec_and_Status_Requirements_for_Subscribers_Each_channel_CRD_MUST_contain_an_array_of_subscribers:_spec.subscribers._Each_channel_CRD_MUST_have_a_status_subresource_which_contains_[subscribers_(as_an_array)]._The_ready_

[2021-04-19 12:11] knative-test-reporter-robot opened #5274 "[flaky] test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Control_Plane/Conformance/Assert/[Stable/MUST]Spec_and_Status_Requirements_for_Subscribers_Each_channel_CRD_MUST_contain_an_array_of_subscribers:_spec.subscribers._Each_channel_CRD_MUST_have_a_status_subresource_which_contains_[subscribers_(as_an_array)]._The_ready_field_of_the_subscriber_identified_by_its_uid_MUST_be_set_to_True_when_the_subscription_is_ready_to_be_processed."
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Control_Plane/Conformance/Assert/[Stable/MUST]Spec_and_Status_Requirements_for_Subscribers_Each_channel_CRD_MUST_contain_an_array_of_subscribers:_spec.subscribers._Each_channel_CRD_MUST_have_a_status_subresource_which_contains_[subscribers_(as_an_array)]._The_ready_

[2021-04-19 16:39] vaikas commented on #5270
There's few of these, @n3wscott will take a looksie, just tagging this one, but they are all probably the same issue.

[2021-04-19 16:40] vaikas commented on #5260
@lionelvillard would you mind taking a look please.

[2021-04-19 16:40] pierDipi commented on #4847
/assign Shashankft9

[2021-04-19 16:40] vaikas commented on #5259
@lionelvillard would you mind looking at the flakes please.

[2021-04-19 16:42] vaikas commented on #5256
Closing, bunch of things were fixed last week.

[2021-04-19 16:42] #5256 closed

[2021-04-19 16:42] vaikas commented on #5250
probably fixed by some fixes last week.

[2021-04-19 16:42] #5250 closed

[2021-04-19 16:42] vaikas commented on #5249
probably fixed by some fixes last week.

[2021-04-19 16:42] #5249 closed

[2021-04-19 16:43] vaikas commented on #5247
probably fixed by some fixes last week.

[2021-04-19 16:43] vaikas commented on #5248
probably fixed by some fixes last week.

[2021-04-19 16:43] #5248 closed

[2021-04-19 16:45] vaikas commented on #5215
This is precisely what we're trying to address with reconciler-test framework. Our conformance tests do precisely these, so it should be possible to take advantage of this. You can see how we do these for example for rabbitmq to run conformance against rabbitmq:
https://github.com/knative-sandbox/eventing-rabbitmq/tree/main/test/conformance/testdata/with-operator

[2021-04-19 16:45] vaikas commented on #5215
@cardil ☝️

[2021-04-19 16:49] vaikas commented on #5209
@lionelvillard would you mind taking a look.
Is the issue that the `cms-exception02-30388a` is receiving the reply that it produced? If so, that's expected since there's no `filter` on the trigger so it will receive all the events (including the reply that it produced).

[2021-04-19 17:29] n3wscott opened #5277 "[pkg/eventfilter/attributes/filter.go] Filter method should be rewritten to me more performant."
This entire method should be rewritten to me more performant. No need to explode the event for filters that do not care about most of the attributes.

_Originally posted by @n3wscott in https://github.com/knative/eventing/pull/5273#r616041295_

[2021-04-19 17:56] #4847 closed

[2021-04-19 18:26] vaikas commented on #5118
Given the focus on getting the API to v1, I don't think we can make these changes prior to it. But this seems like a useful feature and it's been discussed just right now there doesn't seem to be resources to get this in (including the docs, tests, etc. etc.).
As far as preference for what abstractions to use, I personally think that Broker/Trigger model is easier to reason about.
Lastly, our apol

[2021-04-19 19:01] benmoss commented on #4965
/assign

[2021-04-19 23:15] #5270 closed

[2021-04-19 23:42] #4965 closed

[2021-04-20 06:30] acodetailor commented on #5209
`cms-exception02-30388a` receive the event i send to the broker ，repeat many times ， i think this is caused by delivery`s retry mechanism。and normally, event should not be sent to delivery。

[2021-04-20 13:10] lionelvillard commented on #5209
@acodetailor can you check what is the return code sent by handler-delivery? If it's an error code (e.g. 404), the broker will retry sending the event to the service.

[2021-04-20 13:58] lionelvillard commented on #5259
Apparently the broker is ready but the observedGeneration != 0:

[code]

`unable to get a reconciled resource (status.observedGeneration != 0)` is misleading. I'm guessing it's a timeout. It'd be nice to print the actual error @n3wscott.

[2021-04-20 14:26] abrennan89 commented on #4910
/assign

[2021-04-20 15:13] n3wscott commented on #4913
WARNING: EventType is not a v1 object yet.

[2021-04-20 16:51] devguyio commented on #5258
closing for being old and a lot of changes happened in the tests, if it still flakes it'll be open again

[2021-04-20 16:51] #5258 closed

[2021-04-20 16:51] devguyio commented on #5257
closing for being old and a lot of changes happened in the tests, if it still flakes it'll be open again

[2021-04-20 16:51] #5257 closed

[2021-04-20 16:51] devguyio commented on #5255
closing for being old and a lot of changes happened in the tests, if it still flakes it'll be open again

[2021-04-20 16:51] #5255 closed

[2021-04-20 16:51] devguyio commented on #5254
closing for being old and a lot of changes happened in the tests, if it still flakes it'll be open again

[2021-04-20 16:51] #5254 closed

[2021-04-20 16:52] devguyio commented on #5253
closing for being old and a lot of changes happened in the tests, if it still flakes it'll be open again

[2021-04-20 16:52] #5253 closed

[2021-04-20 16:52] devguyio commented on #5252
closing for being old and a lot of changes happened in the tests, if it still flakes it'll be open again

[2021-04-20 16:52] #5252 closed

[2021-04-20 16:52] devguyio commented on #5246
closing for being old and a lot of changes happened in the tests, if it still flakes it'll be open again

[2021-04-20 16:52] #5246 closed

[2021-04-20 16:52] devguyio commented on #5245
closing for being old and a lot of changes happened in the tests, if it still flakes it'll be open again

[2021-04-20 16:52] #5245 closed

[2021-04-20 16:52] devguyio commented on #5244
closing for being old and a lot of changes happened in the tests, if it still flakes it'll be open again

[2021-04-20 16:52] #5244 closed

[2021-04-20 16:53] devguyio commented on #5243
closing for being old and a lot of changes happened in the tests, if it still flakes it'll be open again

[2021-04-20 16:53] #5243 closed

[2021-04-20 16:53] devguyio commented on #5242
closing for being old and a lot of changes happened in the tests, if it still flakes it'll be open again

[2021-04-20 16:53] #5242 closed

[2021-04-20 16:53] devguyio commented on #5241
closing for being old and a lot of changes happened in the tests, if it still flakes it'll be open again

[2021-04-20 16:53] #5241 closed

[2021-04-20 16:53] devguyio commented on #5240
closing for being old and a lot of changes happened in the tests, if it still flakes it'll be open again

[2021-04-20 16:53] #5240 closed

[2021-04-20 16:53] devguyio commented on #5239
closing for being old and a lot of changes happened in the tests, if it still flakes it'll be open again

[2021-04-20 16:53] #5239 closed

[2021-04-20 16:53] devguyio commented on #5238
closing for being old and a lot of changes happened in the tests, if it still flakes it'll be open again