[2019-12-03 21:49] yolocs commented on #2254
/area performance

[2019-12-03 21:51] yolocs commented on #2254
/assign @grantr

[2019-12-03 21:51] mikehelmick commented on #2254
related #1555

[2019-12-03 21:52] yolocs commented on #2254
/assign @yolocs

[2019-12-03 21:53] grantr commented on #2254
/unassign

[2019-12-03 22:08] aliok commented on #1921
I also thought so :)

+1

+1

Just thinking out loud, specifically talking about KafkaSource:
* Once the backing Kafka service is addressable we can extract the URL
* However, KafkaSource controller somehow needs to find the Kafka service, so that it can create a SinkBinding to get the extracted URL injected into the `subject`
* How can KafkaSource controller find the Kafka service though?

I am s

[2019-12-03 22:22] loonybear commented on #2003
I don't think it is safe to assume a trigger is always created with a filter attribute on type.

I don't know how broker works so my question might not be valid:
Say I have a Source of kind SourceA, SourceA has 4 registered event types
Say I have a Trigger, with an dependency annotation on the Source, without any filter on event type.

Then does this mean all 4 event types are now going to trigger

[2019-12-03 22:25] loonybear commented on #2003
So if we specify eventType in SourceSpec, then we know exactly which event type will invoke my Trigger subscriber.

And we can still support all event types triggering (the case I [described](https://github.com/knative/eventing/issues/2003#issuecomment-561384350) above), via wild card or some sort, or just leave Source.Spec blank.

[2019-12-03 22:26] loonybear commented on #2003
@nachocano

[2019-12-03 22:38] aliok commented on #1921
Oh, the binding controller/operator will then need to touch the deployment but that deployment is watched and reconciled by the source controller.

[2019-12-04 00:43] vaikas commented on #2187
These are all what I'd expect as well to be like so, with the only question being why on failure to get source it's marked as False instead of Unknown. But, I do think it makes sense since if we're unable to get the Source (Not Exist, or auth failure, or ...) we're unable to make forward progress since we need to get it, so I'm totes fine with calling it False.

[2019-12-04 13:08] xorver commented on #2187
@capri-xiyue I think it'll more closely follow the rules described in https://github.com/knative/docs/blob/master/docs/serving/spec/knative-api-specification-1.0.md#error-signalling

If we have PubSub with the only dependency in PullSubscription, and PullSubscription status tells `reconciliation is not yet complete and success or failure is not yet determined`, then telling the same about status o

[2019-12-04 13:57] lionelvillard commented on #2187
In general, I would expect the dependent to report the status of the dependency, as is. If the dependency do not exist, then I would expect the condition to be false. Going back to the trigger example, @dgerd's table is what I would expect.

[2019-12-04 14:34] lionelvillard commented on #1921
@aslom ^^^

@aliok Related to https://github.com/knative/eventing-contrib/issues/655

[2019-12-04 15:36] n3wscott opened #2260 "Trigger status conditions has nouns as type"
Currently the trigger object has two weird status condition types:

`Broker`:

[code]

This should be `BrokerReady` to let the operator understand what is true or false or unknown.

`Dependency`:

[code]

This should be `DependencyReady` to let the operator understand what is true or false or unknown.

[2019-12-04 16:51] dgerd commented on #2187
Following up on @vaikas comment, I do think that the "failed to get" is probably the most interesting example and I think I am becoming more convinced on Unknown/Unknown instead of False/False for this case. It is a failure to be able to make progress on the dependency, but the Source actually could be Ready. We don't know as there is the problem with our informer or api server.

[2019-12-04 17:10] aslom commented on #2254
@yolocs could you show what is current architecture - ingress channel how it is used in particualr?
Also in the flow what is `channel outbound` and why is it used twice?

`(channel outbound) -[req]-> (filter service) -[req]-> (consumer) -[resp with event]-> (filter) -[resp with event]-> (channel outbound) -[ack message]-> (the real channel e.g. kafka)`

[2019-12-04 17:27] aslom commented on #2254
We could discuss it in more detail Channels WG? Add to agenda https://docs.google.com/document/d/1uxlulaAf2m_yZUqCIeI-inul2gsqP69PElnZdO0FHUo/edit#heading=h.pd8ef9j5o38k

[2019-12-04 17:37] capri-xiyue commented on #2187
@dgerd Regarding the "failed to get"  case, if there is something wrong with the informer or api server and the source actually could be Ready, and we set the status to "Unknown", what do we expect users or upper layer to do in this case? Keep pooling and wait it to become True or False which will probably not happen if there is no human intervention regarding informer or api server?  Should we av

[2019-12-04 17:45] n3wscott commented on #2187
@capri-xiyue I think @dgerd is saying that there is a difference between "auth errors to the api server" and "the resource does not exist".

I think auth errors end up as false, not exist is unknown.

As a general comment, the "keep polling" thing is a bit funny because you should always be polling. The state can change for any number of reasons at any time.

[2019-12-04 17:57] grantr commented on #2187
Rereading this thread, I think @sixolet's suggestion of a grace period in https://github.com/knative/eventing/issues/2187#issuecomment-554494137 is a good compromise. The grace period doesn't violate the rules above, because the trigger does eventually progress to False if the dependency fails to be detected within the grace period.

I'm not sure how to implement this correctly. I think it would r

[2019-12-04 18:09] grantr commented on #2187
Oops, hit send too soon. Meant to ask this to clarify where people's current thoughts are:

Do we agree that the only remaining issue is how to avoid this sequence of Ready states: `Unknown -> False (<10 seconds) -> Unknown/True`?

Do we agree that the case "expected resource does not exist **and** I have permission to check" is the only one that will cause that progression?

[2019-12-04 18:12] yolocs commented on #2254
"Channel outbound" is the channel component which pushes events to subscribers. For IMC, it's the imc-dispatcher. The flow above has `[req]` and `[resp]`. "Channel outbound" makes a `[req]` and in the end it will receive a `[resp]` - that's why it appeared twice.

I'll try to create a nicer flow chart to explain the broker internals.

[2019-12-04 18:14] dgerd commented on #2187
I would expect them to wait and then eventually timeout. The API server or informer problem may actually be transient (i.e. 500 type errors, throttling, etc)

The problem with this definition is that "no progress without human intervention" is extremely difficult to define. Take out of capacity errors for example. If my cluster is full I will never progress until something disappears or my cluster

[2019-12-04 18:22] vaikas commented on #2187
Yeah, I wasn't quite sure if we wanted to tack on the additional complexity at that layer, I mentioned different failure cases, but wanted to point out that there's more knowledge in some cases than others. If we know something doesn't exist, that does seem like False is more appropriate and on errors where we fail to actually get the resource for other reasons, Unknown seems more appropriate. Jus

[2019-12-04 18:22] dgerd commented on #2187
@grantr We do have something like this grace period in Serving for Pod/Deployment status. While I agree that it is possible and an option I did want to understand more why in this case a client (or controller) couldn't/wouldn't just serialize these operations if flipping to "False" on failure to find dependency isn't what is desired:

[code]

[2019-12-04 18:35] grantr commented on #2187
@dgerd I'm not sure what `Subscription` you're referring to. Is this the source that the trigger's creator (the client) has declared a dependency on?

I imagine the desire from the client perspective is to avoid encoding the relationship graph and the set of possible states into the client.

[2019-12-04 19:07] dgerd commented on #2187
Whoops. I mean't Source. Edited the comment.

[2019-12-04 20:00] lionelvillard commented on #2254
I drew one a long time ago. Not sure if it's accurate

![broker 001](https://user-images.githubusercontent.com/6598801/70176618-c6911300-16a6-11ea-9457-570b73ff116b.jpeg)

[2019-12-04 21:27] yolocs commented on #2254
Thanks, @lionelvillard! Nice chart and I think it's still accurate.

What I'm proposing is to have (5) directly link back to the "broker ingress" rather than going through the "broker ingress channel" (called topic in this chart).

[2019-12-04 22:30] aliok commented on #1921
thanks @lionelvillard for the link. really valuable information.
what is discussed there would solve my problem, if/when implemented. [Service binding operator](https://github.com/redhat-developer/service-binding-operator) from Red Hat has plans to inject configmaps/secrets into CRs already (not specific to Knative).

[2019-12-04 23:06] lionelvillard commented on #1921
The service binding operator is very interesting and related to `SinkBinding`. There is also a Operator Framework Subgroup working on this: https://drive.google.com/drive/folders/1blHR35QAJgHfnrvRR_MV5bx9N6vgXm_u

Service Binding Operator should be called Binding Operator and be more flexible to where to inject bindings. Then SinkBinding becomes:

[code]

[2019-12-05 00:16] yolocs commented on #2254
/proposed-0.12

[2019-12-05 06:49] #2246 closed

[2019-12-05 10:03] xorver commented on #2187
There are two things here
1. Returning Unknown when dependency exists and returns Unknown (as shown in [the table](https://github.com/knative/eventing/issues/2187#issuecomment-561325883)). Does anyone disagree and prefer to keep returning False?
2. Returning Unknown when dependency does not exist. I don't have strong opinion on it. From my point of view as user the best would be (the higher the be

[2019-12-05 11:40] aliok commented on #1921
@sbose78 ^^

[2019-12-05 11:46] meteatamel opened #2266 "Default installation of Knative on GKE should work with Knative Services as event sinks"
**Describe the bug**
Currently, the default installation [instructions](https://knative.dev/docs/install/knative-with-gke/) for Knative on GKE tell you to create a GKE cluster with Istio add-on. When you do this, you **cannot** use Knative Services as event sinks in Triggers for example. You need to update the Istio installation to use cluster local gateway. This is described in some [other page](

[2019-12-05 13:19] yuxiaoba opened #2267 "Sources-controller running error: panic: runtime error: invalid memory address"
**Describe the bug**
The source controller keeps carshloopbackoff
[code]

 **Expected behavior**
All pod are running normally

 **To Reproduce**
Apply the deployment yaml.

 **Knative release version**.
Knative 0.10

 **Additional context**
[code]

[2019-12-05 13:46] lionelvillard commented on #2267
Do you have ContainerSources in your cluster?

[2019-12-05 14:03] lionelvillard commented on #2187
For me:
- when the dependency exists, then the dependant status should be the dependency Ready status. Simple.
- when the dependency readiness cannot be established (the dependant couldn't get the dependency for various reason), the status should be Unknown
- when the dependency does not exist, the status should be False.

I don't like the grace period because that's yet something else to explain

[2019-12-05 19:30] capri-xiyue commented on #2187
@xorver
I think the dependency listed in https://github.com/knative/eventing/issues/2187#issuecomment-561325883 is different from the dependency you mentioned in PubSub and PullSubscription.
I think we have two kinds of dependencies

For the dependency listed in https://github.com/knative/eventing/issues/2187#issuecomment-561325883, the Source(dependency) is not created or owned by Trigger. But in

[2019-12-05 19:39] capri-xiyue commented on #2187
For me, I agree with what @dgerd mentioned. Just update the table for the case "Failed to get source"

CRD | Scenario | ConditionType | ConditionStatus | Trigger Status
-- | -- | -- | -- | --
trigger | Source does not exist | "Dependency" | False | False
trigger | Source is not ready, the observedGeneration (status) != generation (spec) | "Dependency" | Unknown | Unknown
trigger | Source is not re

[2019-12-05 22:00] akashrv opened #2271 "Upgrade tests for knative eventing"
**Problem**
Found basic issues when upgrading my cluster from v0.10.1 to current head (v0.11.0). This was fixed asap when brought up in slack channel. However it exposed a gap in E2E tests. Ideally any such change that breaks a running application in previous version should be rejected.
Refer to serving to figure out how many older versions we support for upgrade tests.

**Exit Criteria**
Set of E

[2019-12-05 22:04] akashrv commented on #2138
Is this resolved or still an issue?

[2019-12-05 22:05] akashrv commented on #2078
@n3wscott Could we verify if this is fixed? #2047 is fixed and update the issue accordingly?

[2019-12-05 22:06] grebois commented on #2138
@akashrv I'm still having this issue with the latest Istio 1.4.1 and Knative 0.10

[2019-12-05 23:14] yolocs opened #2272 "Security use cases"
/area security

**Problem**
Parent: https://github.com/knative/eventing/issues/1449
We want to come up with and agree on valid security use cases. Only based on that can we properly define security policy.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Consumer/Producer/Integrator

**Exit Criteria**
Document (as checked in markdown) what security use cases we wan

[2019-12-05 23:26] aaron-lerner commented on #2187
What does the process look like for a trigger transitioning from False for non-existent source to True for source is True? Does it go to Unknown after the source is created but before the source is True? Is it guaranteed to go to Unknown in between or if a source becomes True very quickly after creation, can the trigger jump from False to True?

[2019-12-05 23:27] aaron-lerner commented on #2187
Also, one thing I don't see mentioned is that in practice we've been adding an ownerReference on that the source pointing to the trigger. Correct me if I'm wrong, but the trigger being referenced needs to exist before adding the ownerRef can be added. This means we can't realistically create the source before the trigger.

[2019-12-05 23:31] capri-xiyue commented on #2187
I think it might be False -> True if a source becomes True very quickly after creation.
I don't think we can guarantee it goes to Unknown in between.

[2019-12-05 23:32] yolocs commented on #2272
Here are the use cases I come up with.

**Fundamental**
- All end to end communication are encrypted
- All end to end communication are authenticated

**Eventing Specific**
1. Specify whether a sender is allowed to send events (that match a specific filter rule) to a receiver? (receiver authorizes sender)
2. Specify whether a receiver is allowed receive events (that match a specific filter rule) f

[2019-12-05 23:34] yolocs commented on #2272
Also paste use cases from security task force.

- A service must have an identity, it can be permitted to receive or send events.
- An event type is a unique identifier. When a customer refers to a specific event type, it has only one meaning, only one schema, regardless of which service emitted that event type.
- Given an identified service, identify which event types that service is allowed to e

[2019-12-05 23:38] capri-xiyue commented on #2187
If it is not possible to create the source before trigger, does it works for you guys that CLI decides to implement a grace period because CLI implementors know what can change quickly @aaron-lerner  @xorver ?

[2019-12-05 23:47] yolocs opened #2273 "Security policy definition and API"
/area security

**Problem**
Parents: https://github.com/knative/eventing/issues/1449, https://github.com/knative/eventing/issues/2272
After we have a clear picture of use cases, we need to come up with security policy definitions.
- What's the API to *enable* security features? And what's the scope (per namespace? per component?)?
- What policy definitions we need? Is enforcement on data plane or

[2019-12-06 00:39] mikehelmick commented on #2271
cc @mayaspivak

[2019-12-06 00:45] aaron-lerner commented on #2187
Yes, I think a grace period on the client side should be ok.

[2019-12-06 15:52] mikehelmick commented on #2272
/cc @mikehelmick

[2019-12-06 15:53] mikehelmick commented on #2273
/cc @mikehelmick

[2019-12-06 17:24] n3wscott opened #2274 "[WIP] Alternate Broker Implementations"
**Problem**
The broker is introduced as a blackbox component where the only the functionality is what should matter. For integrations of Knative on special situations (like a hosted solution, or integrating with existing messaging frameworks) there is a need to have more control over more of the components internal to the broker.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/p

[2019-12-06 17:27] yolocs opened #2275 "Define FilterRule as a separate resource"
/kind proposal

Potential related areas:
/area security

**Problem**
To have `FilterRule` as a CRD. Here is one rough definition:

[code]

In trigger CRD, instead of referencing a broker and a `TriggerFilter`, it references a `FilterRule`.

[code]

This `FilterRule` could be a potential enabler for the following scenarios.

Scenario 1: Managed filter rules.

When the system admin wants fine contro

[2019-12-06 19:10] ahmetb opened #2276 "Eventing spec <=> docs mismatch"
I am looking at what fields can be specified under `filter:`

According to spec.md (https://github.com/knative/eventing/blob/ec187bd81dda36899c7dc65649839a6ef364d938/docs/spec/spec.md) only a field named `sourceAndType:` can be specified.

According to docs (https://knative.dev/docs/eventing/broker-trigger/#trigger-filtering) there's a field named `attributes:` which is not mentioned in spec.md.

[2019-12-06 19:13] yolocs opened #2277 "Add trigger identity so that events from different triggers could be authenticated differently"
/area security
/kind proposal

**Problem**
Add an `Identity` attribute to the `TriggerSpec`. To begin with, the `Identity` could just be a k8s service account. But we should allow external identity (e.g. OpenID). By default, if identity is not specified, then some common identity could be used. The trigger identity could enable the following scenario:

1. (Major) When events are pushed to a consum

[2019-12-06 19:18] grantr commented on #2276
The docs are correct, the spec is obsolete. Good catch.

[2019-12-06 19:22] ahmetb commented on #2276
I guess I need to fix the bug in the API docs generator at some point so we can re-enable.

[2019-12-06 19:29] n3wscott commented on #2275
Why a single rule? If you are going to decouple these, might as well make the rule a list.

[2019-12-06 19:33] aslom commented on #2221
@caitengwei good point - i have modified diagram (in google slides the same link as above and screenshot below)

![image](https://user-images.githubusercontent.com/1648338/70350662-23bacf00-1835-11ea-8d67-b932afcebac4.png)

I am thinking to add list of steps involved in typical operations - similar to Architecture diagram description for https://cri-o.io/ - any other ideas how to explain knative e

[2019-12-06 19:55] yolocs commented on #2275
Could you articulate what you mean? A rule list in trigger?

[2019-12-06 21:12] jwtodd commented on #2267
I believe I have a similar issue running with a CronJobSource, which when i changed it to use a uri sink vs a ref i reliably get this failure, same stack trace as above.

[2019-12-06 21:37] yolocs commented on #2254
Found in the comment:

https://github.com/knative/eventing/blob/ec187bd81dda36899c7dc65649839a6ef364d938/pkg/reconciler/broker/broker.go#L145-L149

Since we now have `Destination` instead of `Channel` in the `Reply`. It seems there is no more reason to have the ingress channel.

[2019-12-06 21:38] wu105 commented on #1991
tested v0.10.0, webhook and activator in namespace knative-serving and webhook in knative-eventing still have the same issue, on k8s v1.12 (although too low, the pod should not be getting "" as the k8s version):
[code]

[2019-12-06 21:44] n3wscott commented on #2275
Instead of:

[code]

How about:

[code]

[2019-12-06 21:47] n3wscott commented on #2275
what is the contract for `EvaluatorURL` ?

This is basically asking for dynamic auth/validation webhooks for triggers.

[2019-12-06 22:15] yolocs commented on #2275
That's a good question and I don't have an answer. I think we can start without custom evaluator and keep the static validation in webhook.

Some thoughts on the contract of the evaluator. It at least needs to provide two APIs:
1. Validate the `Conditions` of a `FilterRule`.
2. Given an event and `FileRule` returns whether the event matches the `Conditions`.

[2019-12-06 23:14] lionelvillard commented on #2275
For Sequence and Parallel we decided (for now) to rely on user-provided functions to do the filtering. Can/should we do the same for triggers?

Related comment: I think we should think about providing a set of builtin functions, like filtering, that can be used for both triggers (filtering functions) and flows.

[2019-12-06 23:51] yolocs commented on #2275
@lionelvillard It seems you're more interested in custom filtering? Could you provide some examples on how you run flows with custom filtering functions?

[2019-12-07 01:40] #2276 closed

[2019-12-07 07:54] caitengwei commented on #2221
@aslom This diagram is great. It answers how messaging pub/sub scenario works in Knative Eventing.
I'm thinking of adding other Knative Eventing models like triggers, sequences, and parallels. Readers would have a better understanding of the big picture.

[2019-12-07 20:19] akashrv commented on #2274
Let's make sure we have defined
 - what a Broker is in terms of control plane and data plane contract?
 - What makes a Broker a Knative conformant broker? Especially how end users consume it.
Adding @grantr who has been working on this so that we can combine the effort.

[2019-12-07 20:20] akashrv commented on #2271
/label proposal

[2019-12-09 13:20] josiemundi commented on #2138
hi grebois, not sure if this will help but I had a similar issue, with similar error message type and it was because I did not have the Istio cluster local gateway enabled, which I think you need to be able to sink to a Knative Service.

[2019-12-09 23:30] vaikas commented on #2267
I think this is due to a failure to resolve the sink and the resulting error log message is panicing. Could you share what your containersource looks like?

I'll try to work on a repro though, I'm pretty sure I know what the problem is but if you have it handy would be great to test it.

[2019-12-09 23:52] vaikas commented on #2267
For example, are you using deprecated fields for the sink by any chance? Anyways, I have a PR coming out shortly that will fix some errors for sure.

[2019-12-10 00:12] grantr opened #2287 "Brokers persist messages unnecessarily"
**Problem**
The current design of the broker delivers all messages to an internal channel. This is intended to allow stateless publishers to transfer responsibility for delivering the message to the Broker.

Several sources (Kafka, Pubsub, GitHub, etc), are capable of handling their own persistence, buffering, and retry. Using a Broker with these sources incurs unnecessary resource usage (and cost

[2019-12-10 00:31] grantr opened #2288 "Broker requires unnecessary event deliveries"
**Problem**
Imagine a Source `github` delivering 100 events per second connected to a Broker with 10 triggers, none of which are interested in events from `github`. The Broker will persist each of those 100 events in its channel, and deliver each one 10 times, for total delivery of 1000 events per second to the filter, all of which are immediately dropped.

A source delivering an event to a Broker

[2019-12-10 01:06] lionelvillard commented on #2288
Related to broker capabilities, in particular whether the broker supports event replay. In that case the broker should still receive and store events but should not forward them until the creation of a Trigger interesting in `github` events.

[2019-12-10 02:10] #2267 closed

[2019-12-10 06:58] xorver commented on #2187
Yes, if the PubSub -> PullSubscription does not produce this problem, then for PubSub -> Trigger I can solve it either by waiting for PubSub or applying grace period.

[2019-12-10 08:49] grebois commented on #2138
Hi @josiemundi actually that was one of my first thoughts, and I even deleted the default local gateway and created my own but didn't work out, would you try the yaml's I posted and try them in your setup just to double check?

[2019-12-10 14:52] lionelvillard commented on #2131
Added in https://github.com/knative/eventing/pull/2207

[2019-12-10 14:52] #2131 closed

[2019-12-10 15:26] lionelvillard commented on #2275
@yolocs here some custom filtering examples: https://knative.dev/docs/eventing/samples/parallel/multiple-branches/

We could provide builtin filtering functions as part of Knative. `FilterRule` could be one of those filtering functions, that can be used for both flows and triggers.

From a performance perspective (upstream filtering), since `FilterRule` is completely transparent (modulo `evaluator

[2019-12-10 16:04] matzew commented on #2288
I like the idea of the reply here

[2019-12-10 16:07] matzew commented on #2287
This would mean we introduce some level of "guarantee" on the sources? Based on configuration _and_ guarantees, "double persistence" would be off ?

[2019-12-10 16:10] matzew commented on #2274
I generally like the idea of re thinking broker, and allowing brokers without channels.

What does that mean for the current API ? Currently the API contains `channelTemplateSpec` field - a broker w/o channels would not need this - or should generally not expose the channels it is _perhaps_ using, internally (if so)

How do we move forward w/ beta1 API for the broker?  If we know already we prefer

[2019-12-10 16:15] matzew commented on #2254
+1 I guess :-)

/cc @vaikas @Abd4llA

[2019-12-10 16:16] matzew commented on #2212
+1

[2019-12-10 16:16] matzew commented on #2211
+1

[2019-12-10 16:17] matzew commented on #2076
we have https://github.com/knative/sample-source

/close

[2019-12-10 16:17] #2076 closed

[2019-12-10 16:17] matzew commented on #2075
/close

[2019-12-10 16:17] #2075 closed

[2019-12-10 16:20] matzew commented on #1889
/close

[2019-12-10 16:28] matzew commented on #1022
/close

CCP is no longer a thing

[2019-12-10 16:28] #1022 closed

[2019-12-10 16:29] matzew commented on #891
should we close this @n3wscott  ?

[2019-12-10 18:43] vaikas opened #2296 "Add retries for setting status."
**Problem**
As per PR in the serving stack, there should be retries / fallbacks on the code paths that set the Status.
https://github.com/knative/serving/pull/6162

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.
Once the Status u

[2019-12-10 19:14] lionelvillard commented on #2275
related to https://github.com/knative/eventing/issues/1527

[2019-12-10 19:28] mikehelmick commented on #2275
I think there's an advantage to having building in filtering and we should consider enhancing what is already there. I know that @grantr is interested in that subject.

I don't want to **rely** on user written functions for trigger filtering, but perhaps adding that as an option if we find that the built in language isn't sufficient.

Of course, implementing the filter as a function allows an appl

[2019-12-10 20:26] lionelvillard commented on #1837
This is relevant for multi-tenant systems, as well as DLC support.

/milestone v0.12.0

[2019-12-10 21:33] lionelvillard commented on #2154
/milestone 0.12.0

[2019-12-10 21:48] vaikas opened #2298 "Remove deprecated fields support resources using Destination"
**Problem**
Previously there were couple of ways to specify a Sink (or a target of an action). in 0.10 release we unified them to use Destination. In order to be backwards compatible, we made some fields Deprecated, as per:
https://docs.google.com/document/d/1EAf9NLwDX3c9DS8lr6KxjtgRXUmkFGIcG6DeAYd5UHI/edit#heading=h.gi54ux468kck

**[Persona:](https://github.com/knative/eventing/blob/master/docs/p

[2019-12-11 00:06] yolocs opened #2301 "Allow eventing to make use of knative serving"
**Problem**
In eventing there are places where we'd like to make use of knative serving capabilities, e.g. from https://github.com/knative/eventing/issues/2154, there are attempts to run broker ingress/filter as knative services so that they can autoscale.
This doesn't imply a runtime dependency on serving (as we can make it configurable for whether to use kn service), but it will likely introduce

[2019-12-11 10:53] josiemundi commented on #2138
hi @grebois I tried your example and it works for me (both in istio labelled namespace and non-istio labelled). Do you have the istio-system pod 'cluster-local-gateway' up? As per [this](https://knative.dev/docs/install/installing-istio/) example under 'Updating your install to use cluster local gateway).

It should look like something like this if you ```kubectl get pods -n istio-system```:
[code

[2019-12-11 13:54] lionelvillard commented on #2301
I was just referring to the fact that both serving and eventing have a dependency on `pkg/apis` including pkg duck types.

AFAICT, we just need to introduce a code dependency on the apis (and generated client/injection), which is much more manageable compare to having a dependency on internal code.

[2019-12-11 14:14] lionelvillard commented on #2005
@akashrv Can you create milestone v0.13.0. I'd like to defer all issues related to flow to 0.13.

/milestone v0.13.0

[2019-12-11 14:42] lionelvillard commented on #1521
/milestone v0.13.0

[2019-12-11 14:42] lionelvillard commented on #1862
/milestone v0.12.0

[2019-12-11 14:44] lionelvillard commented on #2211
/assign

[2019-12-11 16:12] yolocs commented on #2301
@grantr I remember you mentioned that it (separating serving api out) was considered before but somehow got dropped. Can you still find any history discussion, or who from the serving team could help?

[2019-12-11 16:33] grantr commented on #2288
/area performance

[2019-12-11 16:33] grantr commented on #2287
/area performance

[2019-12-11 16:45] lionelvillard opened #2302 "Sequence should support delivery specification"
**Problem**
Sequence does not support deadLetterSink

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

A sequence with dead letter sink.

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve?

[2019-12-11 16:56] grantr commented on #1521
/milestone v0.13.0

[2019-12-11 16:58] bbrowning commented on #2301
Does Eventing just want request-based autoscaling for Eventing pods? Or does something in Eventing actually want the Service/Revision/Configuration APIs of Serving?

[2019-12-11 17:04] yolocs commented on #2301
Currently I'm looking at the autoscaling capability. But I'm not sure if other folks have different potential usage of serving.

[2019-12-11 17:32] bbrowning commented on #2171
We probably should, more holistically, think about a feature track, design doc, etc for Knative multitenancy. Should we start baking multitenant pieces into Knative control planes themselves? Or should we deploy separate Knative control planes per tenant (namespace, in this specific case)? What are our boundaries and what's the security model as you cross tenant boundaries?

[2019-12-11 17:33] lionelvillard commented on #2301
I think we only care about request-based autoscaling.

[2019-12-11 17:40] yolocs commented on #2301
@vaikas @mattmoor for suggestions.

[2019-12-11 17:42] cardil commented on #2271
Tests should:

 * install the previous release,
 * run some tests,
 * install HEAD,
 * run some tests,
 * install the previous release (again),
 * and run some final tests.

That will allows us to test that we don't break things between releases.

There should be only smoke tests executed. We shouldn't validate as many things, just that it works at all.

[2019-12-11 17:44] cardil commented on #2271
I'm currently working to prepare those upgrade & downgrade tests. The goal is to have same thing as in serving.

[2019-12-11 18:42] matzew commented on #2171
+1 on design doc

On Wed 11. Dec 2019 at 18:32, Ben Browning <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2019-12-11 18:50] lionelvillard commented on #2171
Is this something Knative serving has discussed in the past? @bbrowning

I'll start working on the feature track ....

[2019-12-11 20:37] lionelvillard commented on #2302
/area api

[2019-12-11 23:03] grantr opened #2306 "Define Broker conformance"
**Problem**
Recent docs ([What is a Broker](https://docs.google.com/document/d/1tboBBr6QQp_5NlZf1XqJVDhbaor7S0ZDHnB3bDJSANo) and [Alternate Broker Proposal](https://docs.google.com/document/d/1pBLkMptwbdEHUgjn1K5Obf7Xe-G9PFGChQcDCZE9vMQ)) have highlighted the absence of a definition of what a Broker is and does and how we evaluate if something is a Broker or not. As we start improving the Broker's

[2019-12-12 09:12] grebois commented on #2138
@josiemundi Thanks a lot for the follow up, this is what's on my istio-system namespace;

[code]

The following yaml;

[code]

works as you mention;

[code]

but as soon as I enable istio, I get:

[code]

this is the final yaml:

[code]

I'm currently running istio 1.4.0

[2019-12-12 10:03] xorver commented on #2266
I'm hitting the same problem, for now I've switched to 0.10 release third_party dirs, in my case this is working with v0.10.0 eventing/serving
[code]

[2019-12-12 13:49] bbrowning commented on #2171
@lionelvillard I believe the only thing ever really discussed in Serving was whether we should support deploying a Serving Control Plane per namespace that only operates on resources in that namespace. However, I don't know of any in-depth docs or discussion there other than the question of if we should do that.

[2019-12-12 15:46] josiemundi commented on #2138
@grebois can you try just running the original namespace yaml without Istio enabled and then run it. Then manually label the namespace with:

[code]

I also had trouble when I tried deploying the yaml with Istio enabled but when I manually do it, it works fine.

[2019-12-12 17:21] lionelvillard commented on #2301
Ideally `revision` is the only thing we need but AFAIK it does not expose a `service`.  I think we should probably consume Knative Serving the way it's supposed to be consumed, meaning starting with Knative Service.

[2019-12-12 17:30] mattmoor commented on #2301
I think that so long as we have a clean out-of-box install story for eventing that doesn't require serving, then having a dependency is fine.  `eventing-contrib` depends on serving, and that's fine.

Whether we choose to separate things by repository or by release artifact is worth discussing, but it should certainly be possible for folks to take advantage of serving if it's there.

My $0.02.

[2019-12-12 17:31] mattmoor commented on #2301
cc @vaikas

[2019-12-12 18:16] chizhg opened #2311 "Set resource requests and limits for data plane pods"
**Problem**
When the SUT is under high load, the required CPU and memory resources for data plane will also rise. If they don't get enough resources, the SUT will become unstable, e.g. event delivery latency will be high, event will be lost, or the SUT will eventually crash.

**Exit Criteria**
Benchmark the SUT with different loads, get more visibility on the required resources for data plane comp

[2019-12-12 18:43] n3wscott commented on #1500
TODO:

 - [] Update Eventing
 - [] Update Eventing Contrib
 - [] Update Docs

[2019-12-12 18:48] n3wscott opened #2312 "Followup on sources api migration."
Reminder after 0.13 cuts, follow up and remove the old refs to `sources.eventing.knative.dev`

/assign

[2019-12-12 18:49] n3wscott commented on #2312
Look for

[code]

[2019-12-12 19:01] yolocs commented on #2301
Another idea I have is to have some kind of dynamic injection, like what we have for the default broker channel. For example, in the config we can specify a default service provider.

[code]

And eventing control plane just generate the pod spec and fill into the {{.podSpec}}.

[2019-12-12 20:57] josiemundi commented on #2138
@grebois I just tried this again with your original namespace yaml and it worked. Here below a check that the Istio injection was enabled and the result below:

[code]

Result:

[code]

The only difference I can see is that I am using the knative Istio-lean.yaml and the cluster-local-gateway only, I could try it with full Istio.

I also changed the service yaml to include the cluster local label a

[2019-12-12 21:40] davyodom commented on #2288
The single channel design of the broker is also causing many unnecessary deliveries on the subscriber side.  It would be better to group related events into different channels, and triggers would only have subscriptions to the correct channels (and therefore subsets of events) and not to 100% of events sent to the current single broker channel.  This would also seem to be necessary for features su

[2019-12-12 22:45] #2254 closed

[2019-12-13 05:56] chizhg commented on #2311
## In-Memory Channel
When in-memory channel is under high load, `imc-dispatcher` is the key component that will take the most CPUs and memory resources. This tests is targeted to measure the performance, and find out the proper resource requests and limits for `imc-dispatcher`.

### Environment
Running the benchmark on a GKE cluster:
- node number: 3
- machine type: n1-standard-4 (4 vCPUs, 15GB me

[2019-12-13 08:19] slinkydeveloper commented on #2311
@chizhg This sounds really strange honestly, based on previous results and profiling...

Wdym? What was the sender configuration? And if the sender was only one, ingress was definitely less loaded than egress

[2019-12-13 08:20] slinkydeveloper commented on #2311
It's CPU intensive because the GC has too much work to do :)

[2019-12-13 08:41] meteatamel commented on #2266
Yes, that's a workaround. I'm looking for a more permanent solution. When I follow Knative on GKE installation instructions, Knative services should just work as event sinks in Knative eventing.

[2019-12-13 18:42] #1862 closed

[2019-12-13 22:13] chizhg commented on #2311
1. It seems I was wrong about the event size, I tried to rerun the test with message size set to 8192, but the receiver was overloaded and unable to produce any results. I've updated the results, we may need further tests for different message sizes.
2. In that test the sender had `--pace=1000:120`, and when I changed to `--pace=1100:120`, the benchmarking result became unstable and lost a lot of

[2019-12-14 01:21] chizhg opened #2321 "Support configuring resource requests and limits for broker-filter and broker-ingress"
**Problem**
When broker is under high load, `broker-filter` and `broker-ingress` will need more resources to handle the requests, so there should be a way to configure resource requests and limits for them.

But now since they are created at runtime when the namespace is annotated, see
https://github.com/knative/eventing/blob/f543a4662db0f98054d47fa4ab6779789152e8e9/pkg/reconciler/broker/resources

[2019-12-14 01:26] chizhg commented on #2321
/area performance

[2019-12-16 10:51] grebois commented on #2138
Hi @josiemundi, are you sure the istio proxy is running? I create a new cluster, installed istio using https://knative.dev/docs/install/installing-istio/#installing-istio-with-sidecar-injection and afterwards created the cluster local gateway with https://knative.dev/docs/install/installing-istio/#updating-your-install-to-use-cluster-local-gateway, but when I apply the yaml, only the queue-proxy i

[2019-12-17 03:04] aslom commented on #2221
@caitengwei that would be great - feel free to modify linked google slide and/or create new slide based on it to add ne components if it is hard to fit them in the existing slide

[2019-12-18 17:30] lionelvillard commented on #2302
Currently Sequence is seen as being an atomic unit and for the usecase above it is recommended to use channel/subscription instead.

I personally think that not allowing `delivery` on higher-level constructs like Sequence and Parallel  diminishes their usefulness. It might even scared people off when they start to realize it's not possible to fine-control event delivery. Potentially each subscribe

[2019-12-18 18:29] vaikas commented on #2301
As discussed in the meeting, my thinking is that we should not take a hard dependency on serving as in that being the only thing that works with Eventing. Better would be to find a way to make it pluggable, since some pieces might require things like queue based scaling which Serving currently has no answer to. There's for example some work going on with KEDA project to understand where we can lea

[2019-12-19 07:49] chizhg commented on #1904
The current way the performance test infra is written makes it impossible for us to add custom [Analyzers](https://github.com/google/mako/blob/master/docs/ANALYZERS.md) for each benchmark.
We need to do some refactor first to allow each benchmark define its own analyzer.

[2019-12-20 16:12] matzew opened #2337 "reply on subscription broken"
Using the following yaml, for a subscription

[code]

gives me this error:

[code]

This is also reproducable when you run this Sequence demo:
https://github.com/knative/docs/tree/master/docs/eventing/samples/sequence/sequence-reply-to-event-display

[code]

[2019-12-27 19:52] xphoniex opened #2344 "no matches for kind "Sequence" in version "flows.knative.dev/v1alpha1""
**Describe the bug**
I'm trying to create a `Sequence` resource using this yaml but it's failing:
[code]
 **Expected behavior**
For the `Sequence` to be created?

 **Knative release version**
Knative 0.10

 **Additional context**
Full error:
[code]
Did I miss installing something? I just checked the `release.yaml` and `serving.yaml` files I used to install knative and they don't have anything like

[2019-12-27 20:01] grantr commented on #2344
The `flows.knative.dev` API group was introduced in [v0.11.0](https://github.com/knative/eventing/releases/tag/v0.11.0). If you're using v0.10.0, Sequence is in `messaging.knative.dev`.

Replace `apiVersion: flows.knative.dev/v1alpha1` with `apiVersion: messaging.knative.dev/v1alpha1` and you should see the Sequence created successfully.

[2019-12-27 20:01] #2344 closed

[2019-12-28 16:28] xphoniex commented on #2039
I'm facing this very same issue:
[code]
There's a strange networking bug in minikube where a pod cannot reach itself through a service. I think that's what's happening here. (For reference https://github.com/kubernetes/minikube/issues/2460 & https://github.com/kubernetes/minikube/issues/1568)

[2020-01-03 04:41] patrickshan opened #2350 "Add an option to opt out sinkbindings mutating webhook"
**Problem**
Currently it's opt in for `sinkbindings.webhook.sources.knative.dev` Mutating webhook and there is no way to opt out at the moment as it's reconciled by a controller even if you update that webhook config. so instead of using this namespace selector:
[code]
it has an option to opt out which will use a different namespace select like this:
[code]
This will be helpful for running knative

[2020-01-05 23:09] chizhg commented on #2011
/assign

[2020-01-05 23:11] chizhg commented on #1945
/assign

[2020-01-06 07:18] chizhg opened #2352 "E2E test for default broker should be able to test any channels"
**Problem**
We have an E2E test for default broker - https://github.com/knative/eventing/blob/master/test/e2e/broker_default_test.go, but it's only testing the default channel - InMemoryChannel. We should modify it to let it be able to test other channel implementations.

**Exit Criteria**
The E2E test can be used to test other channel implementations, like https://github.com/knative/eventing/blob

[2020-01-06 15:51] liu-cong commented on #1777
Hi I am interested in this.

@Abd4llA , let me know if you are still working on this. Otherwise I can take it over. Thanks!

[2020-01-06 22:56] #2187 closed

[2020-01-07 00:12] n3wscott opened #2355 "attempt to clean up overrides now k8s has bumped"
Do we still need this override? Did you try without ?

_Originally posted by @antoineco in https://github.com/knative/eventing/pull/2354_

[2020-01-07 18:20] cardil opened #2357 "Lost events due to 502 Bad Gateway error"
**Describe the bug**
Continuously feeding events to broker with reasonable rate (10 msec interval) with Knative Service configured (by eventing trigger) to receive them I regularly see about 2% loss of events if knative service is scaled to zero (sometimes it passes).

I was using default eventing broker, which by default uses in memory channel. I see the events are lost in `default-broker-filter`

[2020-01-07 23:45] n3wscott opened #2360 "[sources] update CRD to print the status.sinkURI in custom columns."
would it make sense to additionally print the status.sinkURI? to make it easier to see what things have been resolved to?

_Originally posted by @vaikas in https://github.com/_render_node/MDExOlB1bGxSZXF1ZXN0MzYwMjAzNzcw/pull_requests/unread_timeline_

[2020-01-08 00:07] vaikas commented on #2360
FYI, if this is a TODO, I think in the past for some reason they don't have enough context (not sure if it's time limited, or something else), but clicking on them has basically resulted in 404s. So not sure if github issue, or something else (or squashing, or anything else), but these have been a total pain to use.

[2020-01-08 15:18] liu-cong commented on #2260
/assign

[2020-01-08 15:51] #2260 closed

[2020-01-08 16:58] yolocs opened #2365 "Add or surface serviceAccountName to source/channel API"
**Background**
As ongoing work for https://github.com/knative/eventing/issues/1449, we want to move on the direction to have identity-based service-to-service authorization. The "identity" usually means k8s service accounts.

**Problem**
Currently, when creating a channel (or source), there is no consistent way to specify (or at least surface) a service account to run the underlying workload. When

[2020-01-08 16:58] yolocs commented on #2365
@lionelvillard @vaikas

[2020-01-08 19:30] mikehelmick commented on #2357
Related to #2210  ?

[2020-01-08 19:40] lionelvillard commented on #2365
How does this related to the various authentication and authorization capability provided by the backend channels/sources? For instance, Kafka allows fined-grained ACLs. Are you suggesting SA should be used for configuring ACLs?

[2020-01-08 20:09] lionelvillard commented on #1758
From a multi-tenancy perspective, `ConfigMapPropagation` does not seem to the right solution. In a multi-tenant environment, what's is needed (I think) is when a namespace is created all configmaps are copied over, without keeping a reference to the original. Copy and forget. Then each tenant can modify them at will.

Instead of "when a namespace is created", it could be "when the first eventing r

[2020-01-08 20:11] yolocs commented on #2365
At the moment I'm only thinking about service-to-service auth where the policy will be defined in some sort of knative policy CRD. And there will be policy enforcer for each opt-in workload. I'm still working on a detailed design.

In general, I think knative auth can co-exist with any application native auth capabilities. E.g. you can opt-out your kafka channel for policy enforcement and continue

[2020-01-08 20:36] lionelvillard commented on #2365
Can you give an example of service-to-service auth? Do you mean Knative eventing services (like broker-filter) or services in general?

[2020-01-08 20:52] yolocs commented on #2365
Services in general. Eventing services are still services. A channel is a service (or services like ingress and egress could be different services) with identity A and a receiver is a service with identity B.

The policy defines whether B should accept events from A. The scope of security policy no longer fits into eventing (or serving). But we haven't figured out where we should put the security

[2020-01-08 22:31] cardil commented on #2357
Kinda. But retry actually will hide this bug. I think we should not get 502 error in first place.

[2020-01-09 16:06] liu-cong commented on #2186
/assign

[2020-01-09 18:46] #2186 closed

[2020-01-10 15:19] cardil commented on #2271
I have advanced work on this task. I have prepared a tool (https://github.com/cardil/wathola) that I want to use to send events continuously and make sure that all these events have been sent exactly once.

This tool uses 3 components: _sender_, _forwarder_, and _receiver_. _Sender_ is the usual Kubernetes pod that publishes events to the default broker with given interval. When it closes (`SIGTER

[2020-01-10 17:07] liu-cong commented on #2019
@lionelvillard I can give it a try if you don't mind.

[2020-01-10 19:53] grantr commented on #1758
Thanks @lionelvillard for thinking about this from a multi-tenant perspective!

Let me know if I'm interpreting incorrectly, but it seems you're expecting that tenants would prefer to have the link between the original and the copy severed once the copy is made, because they'll have their own modifications.

This is possible with ConfigMapPropagation **if** the tenant removes the `knative.dev/conf

[2020-01-10 20:56] liu-cong commented on #2060
I am interested to work on this.

[2020-01-10 22:15] n3wscott opened #2375 "Fill out the open api for broker delivery to include the internal fields."
TODO: Fill out the open api for broker delivery to include the internal fields.

_Originally posted by @n3wscott in https://github.com/knative/eventing/pull/2305/review_comment/create_

[2020-01-12 07:34] GRuuuuu opened #2376 "no matches for kind "GitHubSource" in version "sources.eventing.knative.dev/v1alpha1""
**Describe the bug**
Hi, I followed this guide to test githubsource.
 -> [knative/GitHubSource](https://knative.dev/docs/eventing/samples/github-source/)

But I got this error.
[code]

 **To Reproduce**
step :

1. Install CRDs
[code]

2. Install Resources
[code]

and following this guide ->  [knative/GitHubSource](https://knative.dev/docs/eventing/samples/github-source/)

I got error in "Create Ev

[2020-01-13 04:20] chizhg commented on #2271
@cardil thanks for working on this!

I agree we should have tests using `Serving`, to ensure the compatibility with the same `Knative` version. Actually we already have such tests in project https://github.com/google/knative-gcp.

There are a few other thoughts in my mind:
1.  In the existing e2e tests, we are creating all resources with code instead of YAML files. So I think it would be better to

[2020-01-13 11:41] cardil commented on #2271
Awesome.

Yes. I was about to do that with Go client. YAML files are just my PoC scratchbook.

Hmm. Theoretically it can be done. I will write it as a probe, and that can be deployed and ran in single e2e test. In upgrade test the probe will be running in background while upgrade and downgrade.

Yes. I'm doing the same, but also I have `/result` REST endpoint that ease the verification process and

[2020-01-13 16:57] meteatamel commented on #2266
I also talk about this with some partial solution in this blog post: https://medium.com/google-cloud/how-to-properly-install-knative-on-gke-f39a1274cd4f

[2020-01-13 17:07] #2211 closed

[2020-01-13 17:18] houshengbo commented on #2271
@cardil @chizhg I refer to this issue in the design doc about how operator can do upgrade: https://docs.google.com/document/d/1HEH9b4XWqFXtitAeHvCzymEG8-dtKH5y.

The upgrade tests for both of serving and eventing can be crucial for the whole upgrade process. When we upgrade to the new version of knative, by applying the YAML of the new version, operator can help with is to remove the obsolete reso

[2020-01-13 17:40] grantr commented on #1869
/milestone v0.12.0

[2020-01-13 17:42] grantr commented on #1921
@n3wscott is this issue still relevant?

[2020-01-13 18:40] grantr commented on #2288
/milestone clear

[2020-01-13 18:40] grantr commented on #2287
/milestone clear

[2020-01-13 20:01] houshengbo commented on #2376
I am expecting more explanation in this section: https://knative.dev/docs/eventing/#sources, about how to install the eventing sources. GitHubSource is one of them, and all the available sources are be found here: https://knative.dev/docs/eventing/sources/index.html. The repo is https://github.com/knative/eventing-contrib.

However, there should be instruction on how to install the sources.

[2020-01-13 20:25] grantr commented on #1987
I'd really like to get this done by 0.12!

/milestone v0.12.0

[2020-01-13 20:26] grantr commented on #1987
/kind good-first-issue

[2020-01-13 20:26] grantr commented on #1268
/milestone clear

[2020-01-13 20:28] grantr commented on #1991
/milestone clear

Is this issue still relevant @wu105?

[2020-01-13 20:28] grantr commented on #1921
/milestone clear

[2020-01-13 22:11] grantr commented on #1934
I think this was fixed by https://github.com/knative/eventing/pull/2021. Please reopen if I'm wrong about that.

[2020-01-13 22:11] #1934 closed

[2020-01-13 22:15] grantr commented on #1437
Is this really a good first issue? I have no idea what's going on here and I doubt a new contributor would either. I'm removing the label, but if you disagree feel free to add it again and explain why.

/remove-kind good-first-issue

[2020-01-13 22:16] grantr commented on #1018
This seems like it should maybe be integrated with https://github.com/knative/eventing/issues/1777

[2020-01-13 22:16] wu105 commented on #1991
no longer have the problem in v0.11.0.  thanks!

[2020-01-13 22:16] #1991 closed

[2020-01-13 22:18] grantr commented on #895
Is this still relevant? Seems like a dupe of https://github.com/knative/eventing/issues/1740.

[2020-01-13 22:20] grantr commented on #1708
@grac3gao do you know the current status here? Can this be closed?

[2020-01-13 22:20] yolocs commented on #1987
/assign

[2020-01-13 22:21] grantr commented on #527
This might be closeable after the work done for https://github.com/knative/eventing/issues/1708. @grac3gao, is there anything left for this?

[2020-01-13 22:44] shefaliv commented on #1952
/assign

[2020-01-14 00:59] grantr commented on #1646
Attributes can no longer be numeric types in CloudEvents, so this is now obsolete.

[2020-01-14 00:59] #1646 closed

[2020-01-14 01:00] grantr commented on #1845
@aslom do you know the state of this effort? Do we have a conformance test for channels now?

[2020-01-14 01:01] grantr commented on #1777
/propose 0.13
/milestone clear

[2020-01-14 01:04] grantr commented on #1894
@aslom does #907 fix this?

[2020-01-14 01:05] grantr commented on #1960
@aslom do you know the state of this effort? Do we have a conformance tests for channel metadata now?

[2020-01-14 01:05] grantr commented on #1850
@aslom do you know the state of this effort? Do we have a conformance test for this?

[2020-01-14 01:06] grantr commented on #2044
/milestone clear

[2020-01-14 01:06] grantr commented on #2044
/kind good-first-issue

[2020-01-14 05:37] GRuuuuu commented on #2376
Thanks for your help. I worked :)

[2020-01-14 05:37] #2376 closed

[2020-01-14 12:40] cardil commented on #2271
@houshengbo Prober will be in general code, not `_test`, so it will be easy to vendor it in operator and invoke prober directly in operator e2e test.

[2020-01-14 18:24] zargarpur commented on #903
/assign

[2020-01-14 18:26] zargarpur commented on #903
Looking at the `eventing-controller` & `eventing-webhook` logs I see

{
   "level":"info",
   "ts":"2020-01-14T14:50:50.193Z",
   "logger":"controller.knative-eventing-namespace-controller.event-broadcaster",
   "caller":"record/event.go:274",
   "msg":"...",
   "commit":"aac1cec",
   "knative.dev/controller":"knative-eventing-namespace-controller"
}

So I think this issue is already fixed

[2020-01-14 19:21] grantr commented on #2360
@n3wscott can you fix the link in your comment to point to the code you're talking about?

[2020-01-14 19:27] grantr commented on #2350
@vaikas is this fixed now that #970 is in?

[2020-01-14 19:27] zargarpur commented on #903
/close

[2020-01-14 19:27] #903 closed

[2020-01-14 19:29] grantr commented on #2337
Just saw this. @matzew is this still an issue? Why are the e2e tests passing if replies are broken generally?

[2020-01-14 19:39] lionelvillard commented on #1758
I wonder if there is an easier way to do this by providing an `auto` mode (ie. `knative.dev/config-propagation: auto`). In this mode:
- configuration parameters that have been modified by the tenants are not overridden
- new keys (occurring the original and not in the copy) are copied over (eg. when upgrading Knative)
- any additional keys in the copy are not deleted (eg. logging parameter overrid

[2020-01-14 20:02] yolocs commented on #2301
I have put more thinking on this topic.

My assumption is that "pluggable" here means having pluggable autoscaling mechanism for eventing workloads, e.g. use ksvc for some while KEDA for some others.

My conclusion: there is no natural way to make it pluggable. To make things pluggable, we usually need to find a common interface first so that different autoscaling mechanism can implement the inter

[2020-01-14 20:11] bskaplan commented on #898
Is this still an issue? I don't see this pattern used anywhere in the knative eventing code, just in vendored packages.

[2020-01-14 20:27] grantr commented on #1758
The auto mode seems similar to `kubectl apply`. Seems like a useful feature and could probably be implemented similarly (with an annotation on the copy that records the state of the original at the time of last update). Server side apply might make it easier to implement.

I don't agree it's **easier** than straight copying - it seems more difficult to implement correctly because there's field val

[2020-01-14 20:36] grantr commented on #898
You're right, I don't see the map-as-struct pattern used anymore in eventing or eventing-contrib.

/close

[2020-01-14 20:36] #898 closed

[2020-01-14 20:36] grantr commented on #898
Thanks for investigating this @bskaplan!

[2020-01-14 20:44] lionelvillard commented on #1758
I meant easier for users. After all they matter more than us :-)

I would expect the OwnerReference to be removed when the label is not set to `copy`.

[2020-01-14 22:31] chizhg commented on #2352
/kind test-and-release

[2020-01-14 22:32] chizhg commented on #2352
/remove-kind test-and-release

[2020-01-14 22:32] chizhg commented on #2352
/remove-kind feature-request

[2020-01-14 22:33] chizhg commented on #2352
/area test-and-release

[2020-01-14 22:46] vaikas commented on #2350
No, Eventing needs to use this in the webhook. I haven't had a chance to add that bit in yet however.

[2020-01-15 00:49] grac3gao commented on #1758
Currently, CMP will show error if user deletes/changes copy label in Copy ConfigMap

I will change to that. I am working on adding an array of copy configmap statuses under CMP (https://github.com/knative/eventing/pull/2333#discussion_r365338481) so that user can know each copied configmap status under CMP status. If the copy configmap label is not set to `copy`, I am thinking of also indicating t

[2020-01-15 16:06] mikehelmick commented on #2306
/cc @mikehelmick

[2020-01-15 16:12] vaikas commented on #2306
We decided to separate Trigger moving to v1beta1 separate from the Broker as it has been baking for awhile and as per the v1beta1 WG meeting on 2020-01-15, we decided we'll move the Trigger to v1beta1 targeting the 0.13 release.
DIscussion about Broker scheduled for 2020-01-22 as part of the Eventing API WG (8am Seattle time).

[2020-01-15 18:51] #1987 closed

[2020-01-16 00:13] zargarpur commented on #1134
/assign

[2020-01-16 02:07] Abd4llA commented on #2171
@lionelvillard what I didn't understand from the design doc is how will the picture look like in the case of as single tenant clusters? I don't think we can presume that all knative installtions will be in multi-tenant environments.

[2020-01-16 02:39] chizhg opened #2390 "More reliable validation approach in E2E tests"
**Problem**
In the current E2E tests, when the service receives an event, we log that event and do validation by checking the logs. This is not elegant and it would be hard to check the detailed format of the event.
We should have a better way to do the validation, preferably a receiver that exposes an endpoint which we can query for the structured received events.

**Exit Criteria**
A receiver se

[2020-01-16 13:51] davyodom opened #2392 "Status and additional dataplane requirements in channel conformance doc"
Channel conformance document does not currently contain status subresource requirements for a channel implementation.  Additionally, it does not explicitly state where events should be delivered for subscriptions.

[2020-01-16 15:03] lionelvillard commented on #2171
@Abd4llA that's my biggest concern. For now I claim we don't need a "single-tenant" Knative, ie there is no real advantage of installing the dispatchers in knative-eventing.

What do you think?

[2020-01-16 16:55] aslom commented on #2154
Related issues that may make it easier is to allow configuring dispatcher per-user namespace: https://github.com/knative/eventing/issues/2171 and https://github.com/knative/eventing/pull/2333

[2020-01-16 17:12] grantr commented on #2171
Data point: currently the GCP PubSub channel has no cluster-wide dispatcher.

In theory, a cluster-wide dispatcher can scale more efficiently than namespaced dispatchers because it aggregates many bursty workloads into a single one. E.g. 10 namespaces each with a minutely CronJobSource will require 10 mostly-idle namespaced pods or 1 slightly-less-idle cluster-wide pod.

For now I prefer option 1

[2020-01-16 18:06] ericlem commented on #2208
/assign

[2020-01-16 18:20] lionelvillard commented on #2171
k8s and Knative can help with allocating resources efficiently across multiple pods. In particular all dispatchers should scale down to zero when not used and scale up as needed.

From a scalability PoV, it's better to have one dispatcher per namespace. For instance `imc-dispatcher` and `kafka-dispatcher` does not scale based on the number of channels and subscribers. For Kafka it is particularly

[2020-01-16 19:11] matzew commented on #2171
have support for different kafka backends, instead of one global one would be great addition - currently, one global Kafka for all channels, feels a bit limiting

[2020-01-16 19:35] cardil commented on #2357
This issue was confirmed on GCP with code in master in this PR #2388 latest build
https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_eventing/2388/pull-knative-eventing-integration-tests/1217883556135571456

[2020-01-16 22:27] grantr commented on #2357
I formatted one of those reverse proxy error messages from the activator into a gist here in case that helps anyone gain insight: https://gist.github.com/grantr/86c77b6627e459edb4cdcc6337b45f4d.

Naively, it seems that a 502 indicates a problem with the connection between the activator and the revision pod. A 502 response in this case seems like a bug (in serving) because normally the revision tim

[2020-01-16 22:44] cardil commented on #2357
I don't know. But, Openshift has now a known performance regression that couse scale from zero time to be around ~10 sec.

But that isn't the case on GCP I believe. Also minikube also spins from zero fast (under a second).

I've managed to reproduce those errors on minikube with 2msec intervals, today, if I remember correctly.

I think that having more then 1 worker node is helpful in reproduction

[2020-01-16 23:29] grantr opened #2396 "Namespace reconciler doesn't use listers for all child resources"
**Describe the bug**
Namespace reconciler hits the API server directly during reconcile.

 **Expected behavior**
The reconciler uses listers to hit the informer cache instead.

 **To Reproduce**

 **Knative release version**
0.11.0

 **Additional context**

/cc @nachocano
/kind good-first-issue

[2020-01-16 23:33] whaught commented on #2396
/assign

[2020-01-16 23:48] grantr opened #2397 "Namespace reconciler uses tracker to watch owned objects"
**Describe the bug**
The Namespace reconciler uses the tracker to reconcile ServiceAccount objects. The tracker should only be used for objects with unknown types at compile time.

 **Expected behavior**
Use informer event handlers in the controller constructor to enqueue ServiceAccounts owned by Brokers.

 **To Reproduce**

 **Knative release version**
0.11

 **Additional context**

/cc @nachocan

[2020-01-16 23:51] bskaplan commented on #2397
/assign

[2020-01-16 23:55] davyodom opened #2398 "Filter should return http response code from target back to channel dispatcher"
**Describe the bug**
The filter handler of the broker implementation returns a 400 Bad Request status when 429 errors are returned from the target.  Other response codes were not explicitly tested. Channel reply behavior will be different for different response codes, the real response should be propagated back.  See https://github.com/cloudevents/sdk-go/blob/master/pkg/cloudevents/transport/http/

[2020-01-17 04:32] chizhg opened #2399 "E2E test for ConfigMapPropagation"
**Problem**
As talked offline, we should add an E2E test for ConfigMapPropagation after https://github.com/knative/eventing/pull/2333 is merged.

**Exit Criteria**
An E2E test is added for ConfigMapPropagation and it can consistently pass

/cc @grac3gao

[2020-01-17 04:32] chizhg commented on #2399
/area test-and-release

[2020-01-17 07:58] #2392 closed

[2020-01-17 13:19] Abd4llA opened #2401 "Rename Knative Channels Working Group to Knative Eventing Delivery"
## Description
During the [approval discussion](https://docs.google.com/document/d/1aMu4ezjXR8qAOSgh-Yo04MwfspVZDRVF5O095UZZlWY) of the `Channels Working Group` with the TOC, the scope was increased to include all eventing delivery aspects of Knative. That means this includes topics such as broker eventing delivery efficiency, trigger filtering efficiency etc. So I propose to change the working gr

[2020-01-17 17:22] mikehelmick commented on #2398
I was able to reproduce this.
It looks like the broker filter passes the the error code back fine

I think this bug is in cloudevents SDK

[2020-01-17 17:24] mikehelmick commented on #2398
/assign

Also - working on a fix either way

[2020-01-17 17:33] davyodom commented on #2398
I was looking at this a bit too, I saw that the http transport of the cloud event sdk returns an err if the response code is non 200 https://github.com/cloudevents/sdk-go/blob/master/pkg/cloudevents/transport/http/transport.go#L237.  This eventually bubbles up to https://github.com/cloudevents/sdk-go/blob/master/pkg/cloudevents/transport/http/transport.go#L601 which returns a BadRequest I think. I

[2020-01-17 18:23] Abd4llA commented on #2171
IMHO Knative will have a wide adoption and usage of single tenant clusters, specifically by end users. Specially the eventing scenarios. As @grantr mentioned, the scaling aspects and also from a resources utilization perspective, a cluster wide dispatcher(s) are something not to be thrown away lightly.

[2020-01-17 19:31] akashrv commented on #2399
/proposal 0.12

[2020-01-17 19:34] akashrv commented on #1449
proposal/0.13

[2020-01-17 19:36] akashrv commented on #1449
proposal 0.13

[2020-01-17 19:44] chizhg commented on #2399
/label proposal/0.13

[2020-01-17 23:26] yolocs opened #2405 "Make broker ingress/filter serving compatible"
**Background**
As part of https://github.com/knative/eventing/issues/2301, we want to make it possible for broker to make use of ksvc for filter/ingress.

**Problem**
The current filter/ingress implementation has a couple of things are incompatible with serving.
* Filter/ingress uses the default 9090 as the metrics port. This is conflict with serving's queue proxy which also uses 9090 as the metri

[2020-01-17 23:27] yolocs commented on #2405
@grac3gao

[2020-01-17 23:51] yolocs commented on #2405
There was an attempt to support certain downward API at https://github.com/knative/serving/pull/4102.

[2020-01-18 20:41] mikehelmick commented on #2398
actually I was able to fix this entirely within the filter_handler code.

[2020-01-19 22:31] mikehelmick commented on #1449
Feature track proposal for how to approach this
https://docs.google.com/document/d/1Nymrlp__dXKsp02Dpif0GN_Pskm6YXv6WjeF8trYzzk/edit#

I expect that we'll land this functionality over both 0.13 and 0.14

[2020-01-20 02:32] jjangga0214 commented on #1633
@grantr Hi, I just made a helm chart with plain serving manifest. And this issue happens when `helm install` as well(even multiple times).

[code]

Do you know how this could be resolved with helm?

Regardless of anwser, thanks for a great project!

[2020-01-20 09:06] GRuuuuu opened #2409 ".default.svc.cluster.local on {ip}: no such host"
**Describe the bug**

During Webhook test, I got an error from log.

[code]

[code]

 **Expected behavior**
when looking inside logs from `pod/githubsourcesample-....` that created by github webhook event,
It should similar to :
[code]

 **To Reproduce**

one thing different is I use nginx for domain proxy.
so It seems like this :
mydomain.com:80 -> nginx -> {istio-ingressgateway ip}:31380

 **Kna

[2020-01-20 10:07] slinkydeveloper commented on #2039
FYI I've created a little script to run kind + knative: https://gist.github.com/slinkydeveloper/193b44e8b15492c8584863411e1bc53e

[2020-01-20 10:38] #2398 closed

[2020-01-20 20:39] aslom commented on #1894
@grantr which #907 ? https://github.com/knative/eventing/pull/907/files (github links to it)?

[2020-01-20 20:40] aslom commented on #1845
Going to updated to latest delivery spec

On Mon, Jan 13, 2020 at 8:00 PM Grant Rodgers <notifications@github.com>
wrote:

[2020-01-20 20:43] aslom commented on #2301
There should be some way to detect if KEDA (knative serving) is installed? If it is not installed then controller would log error and not use KEDA (knative serving) and switch to fallback without scaling?

[2020-01-20 21:11] chizhg opened #2411 "Determine the Channel spec for retrying"
**Problem**
As discussed in https://github.com/knative/eventing/pull/2322, Channels should retry on sending the events that fail to be delivered, if the response codes indicate to do so.

Before making the changes, there are two things that need to be determined:
1. Which response codes are retryable and which are not?
2. How many times it needs to retry? And what's the time interval (exponential

[2020-01-20 22:23] matzew commented on #2411
thanks for bringing this up!

Lets talk in the Thursday call about this

On Mon 20. Jan 2020 at 22:11, Chi Zhang <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-01-21 11:04] cardil commented on #2357
I've manage to reproduce errors from PR #2388 on a GCP Kubernetes cluster identical to the one used in Prow.

Below are test results. There ware 10 lost events, 505 total.

I think it might be different cause as I didn't seen there any 502 Bad Gateway errors from activator.

I've published logs (with log level "error" only) here: https://gist.github.com/cardil/1a334495c551fba6300c14ae812d5f01. The

[2020-01-21 17:06] n3wscott commented on #2025
CronJob Plus SinkBinding

[2020-01-21 17:09] n3wscott opened #2412 "Name CronJobSoure"
`CronJobSource` feels misnamed because it is unlike an extension to k8s `CronJobs` where you can pass an image to, it is a periodic static payload event generator.

It does use cron time as part of the arguments.

It takes a fixed payload now and sends that to a sink on a cron period.

What should this thing be called??

[2020-01-21 17:17] n3wscott commented on #2412
I feel like `Cron` is a right word, and `Source` could be correct, and the `Job` part throws me off because you can't really provide a job for this thing to do.

[2020-01-21 17:17] n3wscott commented on #2412
`CronTemplateSource`

It is a Cron of a template sending to a sink.

[2020-01-21 17:18] n3wscott commented on #2412
`TemplateSource`

The cron part is implied by the spec and we could open it up to be a one off?

[2020-01-21 17:19] n3wscott commented on #2412
`CloudEventSource`

It sends a CloudEvent to a sink.

it is not the same as a http proxy that cloudevents the payload, that would be something like a `CloudEventProxy`

[2020-01-21 17:21] n3wscott commented on #2412
`CloudEventsTemplate`

It is a template that sends cloudevents to a sink. (the source part is implied by the api group)

[2020-01-21 17:32] nachocano commented on #2412
I think Cron and Source should be there. IMO having Source as a suffix is a good practice, even though it might be clear from the apiGroup. Some folks (including myself) usually look at the kind, and if it's self-explanatory, even better...
On a similar note, ApiServer instead of ApiServerSource will be quite confusing..

If Job is the controversial part, then we can remove it and maybe have:

Cro

[2020-01-21 17:47] n3wscott commented on #2412
I just don't like the studded for most cases.

[2020-01-21 17:50] grantr commented on #2412
I agree the Job part is confusing because it's unrelated to k8s Job and CronJob. Thanks for coming up with some creative options @n3wscott. Of all the proposals so far, my favorite is `CronSource` It seems accurate and unlikely to confuse anyone.

[2020-01-21 19:46] aslom commented on #2412
Maybe `CloudEventSource` if `CronSource` is still confusing?

[2020-01-21 20:51] grantr commented on #2306
I created another doc for hammering this out here: [Broker Conformance Spec WIP](https://docs.google.com/document/d/1zjkaO_Nu6Zt4OmzBEmCMTBPj2JtGCSyYgGG5pVyLlBU).

[2020-01-21 22:07] lionelvillard commented on #2412
Cron = Command Run ON

`ScheduleSource` ?

[2020-01-21 22:07] vaikas opened #2416 "Figure out the appropriate fields in v1beta1 SubscribableStatus."
**Describe the bug**
As part of the work in:
https://github.com/knative/eventing/pull/2373
and in particular: Subscribable duck type in the Subscribable.Status.Subscribers[] array, there was a question about if there's enough fields there to convey enough information and if the fields are aptly named. In order to make progress on the major parts, we're going to restrict that struct conversation to

[2020-01-21 23:48] ericlem commented on #2390
/assign

[2020-01-22 00:21] n3wscott commented on #2360
I did it already 🙄

fixed by https://github.com/knative/eventing/pull/2359/files#diff-ee42208366017f48869cd6ffb33a1c4cR56-R58

/close

[2020-01-22 00:21] #2360 closed

[2020-01-22 00:43] n3wscott commented on #2412
oh I kinda like `ScheduleSource` how would you feel if it was more like `ScheduledSource`

[2020-01-22 01:51] #1134 closed

[2020-01-22 02:05] vaikas commented on #2416
This also applies in Sequence / Parallel, since they are exposed there in a similar fashion.

[2020-01-22 08:35] rhuss commented on #2412
Does not any source sends cloud events to a sink ? This is too generic IMO.

[2020-01-22 08:42] rhuss commented on #2412
Other suggestions:

* SchedulerSource
* TimerSource

Or some names which focus on the constant data that is sent:

* AlarmSource
* PingSource

Tbh, I would love to see two such sources:

* A `PingSource` for firing events in regular intervals (e.g. with a default schedule of "* * * * *" but overridable). The ping payload would be a constant field (like now)
* A`CronJobSource` which takes a full po

[2020-01-22 10:23] antoineco commented on #2412
So far `ScheduledSource` is what resonates the best with me. It's too the point and not overly specific ("cron" is a software utility, not an english word) 👌

I don't think it is necessary to include the term "template" in the name, this will be clear from the Source's spec. Likewise, as @rhuss mentioned, all sources emit "events", so I would exclude that term as well.

[2020-01-22 14:17] lionelvillard commented on #2412
+1 for `ScheduledSource`.

[2020-01-22 14:32] lionelvillard commented on #1758
Maybe a better alternative to configmap for overriding config values is to use annotations.

[2020-01-22 15:26] lionelvillard opened #2421 "Determining ConfigMapPropagation lifecycle"
**Problem**
`ConfigMapProgragation` objects are automatically created by the namespace controller, along with the default broker. However, it is possible to manually create brokers, event sources, channels, and all these components potentially need access to the namespace configmaps.

Should the namespace label be automatically added by each eventing controller (eg. InMemory, ScheduledSource, etc.

[2020-01-22 15:26] lionelvillard commented on #2421
/milestone v0.13.0-M1

[2020-01-22 16:43] aslom commented on #2412
`ScheduledSource` sounds good to me too

[2020-01-22 17:04] matzew commented on #2401
Discussion from last weeks call, see https://docs.google.com/document/d/1uxlulaAf2m_yZUqCIeI-inul2gsqP69PElnZdO0FHUo/edit

[code]

[2020-01-22 17:09] aslom commented on #2412
Other possibility `S7Source` (saves 7 letters when compared ot wrting `Scheduled` 😱 )

[2020-01-22 17:16] lionelvillard commented on #2171
/label proposal/0.13

[2020-01-22 17:17] lionelvillard commented on #2421
/label proposal/0.13

[2020-01-22 17:20] rhuss commented on #2412
Sorry to play the German here :), but is it really the `Source` that gets `Scheduled` ? Any other source that I know uses the scheme `<Noun>Source` (`ApiServerSource`, `GitHubSource`, `KafkaSource`). So in this sense, it would be more natural to call it `SchedulerSource`.

[2020-01-22 17:21] rhuss commented on #2412
(also it might be confused with _container scheduling_,  but that's probably only a minor issue)

[2020-01-22 17:27] n3wscott commented on #2412
That is my hangup with Schedule**r**Source

but you make a compelling case for `ScheduleSource`.

[2020-01-22 17:31] nachocano commented on #2412
+1 to `ScheduleSource` over `ScheduledSource`...

[2020-01-22 17:35] antoineco commented on #2412
We have a winner! 🏆 🎉

[2020-01-22 17:44] n3wscott commented on #2412
`EventSendOn` aka `ESON`

taking a page from `CRON = Command Run ON`

🦆

[2020-01-22 17:48] n3wscott commented on #2412
`SendOnSource` SOS

[2020-01-22 17:48] rhuss commented on #2412
`ScheduleSource` is ok, but whats about a `PingSource`, which an optional schedule (and by default pinging every minute/second) and data ? I mean, we are not really actively starting something periodically, we just firing constant data.

[2020-01-22 17:50] rhuss commented on #2412
`HeartbeatSource` would another suitable name focussing on the most prominent use case of this source.

[2020-01-22 17:51] n3wscott commented on #2412
I do like `PingSource`, if you make a PingSource and make no change to the spec it does a ping like you say at 1 minute and there are some places to change the default payload and the default time...

I like it.

[2020-01-22 17:52] n3wscott commented on #2412
PingSource I would assume also logs the round trip time for each send event. Or maybe that is the main metric it is exposing.

[2020-01-22 17:54] grantr commented on #2412
My gut reaction favors PingSource with ScheduleSource a close second. My rationalization is that "Ping" seems like it describes the event more than "Schedule" which describes the configuration of the event. But I would be happy with either. @n3wscott has a point that PingSource might be a better name for something that is measuring a round trip time.

ScheduledSource sounds wrong to me for the rea

[2020-01-22 21:10] grantr commented on #1500
@n3wscott can this be closed?

[2020-01-22 21:51] #2412 closed

[2020-01-22 22:09] akashrv opened #2426 "Knative Eventing overall roadmap for 2021 (includes all WGs and Taskforces)"
Each individual WG and Taskforce related to Eventing need to define its roadmap and then create an overall roadmap for Knative Eventing.
It will help us stay focused and plan milestones for rest of the year.
We have also gotten this request in different customer engagements and/or discussions.

Current WIP doc: https://docs.google.com/document/d/1yu1FAcDqJatuAVwyT3gyr6Yq2sRtIn1Sc4HQDVlr09s/edit

[2020-01-22 22:14] grantr commented on #2212
I'm a bit confused by this issue, specifically the Problem statement. IIUC Broker/Trigger does retry failed events if the channel supports retry. That should be every channel except IMC. What additional behavior do you expect?

[2020-01-22 22:15] vaikas commented on #1498
Fixe.

[2020-01-22 22:15] #1498 closed

[2020-01-22 22:16] akashrv commented on #2401
I am a bit confused with the proposal and the direction here. As per our mission Eventing contains 3 parts - Developer Experience, Event Delivery, Event Sources (or ecosystem). Having sources as a separate WG made sense as it reuired dedicated focus. Also having dedicated focus on messaging channels esp to build expertise around different channel implementation such as kafka, and natss made sense.

[2020-01-23 12:52] #2208 closed

[2020-01-23 13:18] Abd4llA commented on #1912
I have a feeling this was already cleaned up. Should we close this if you can confirm?

[2020-01-23 13:51] Abd4llA commented on #2426
I strongly second this. I always loved [Autoscaling WG roadmap](https://github.com/knative/serving/blob/master/docs/roadmap/scaling-2019.md)

[2020-01-23 14:57] matzew commented on #2401
Fair point. So perhaps... not sure... we keep the Channels as something that messaging focused, and keep the overall "Eventing delivery" contract as the core of the Eventing WG ?

 In an org. chart I see it like this

[code]

Reflecting the summary from last weeks Channel's call...

IMO keeping the delivery aspects on the Eventing WG, would match well, that this concept applies to _all_ components

[2020-01-23 20:35] grantr commented on #1873
/close

No new reports of this, seems like it was a one-time thing.

[2020-01-23 20:35] #1873 closed

[2020-01-23 20:37] grantr commented on #1435
/kind good-first-issue

[2020-01-23 20:42] grantr commented on #1952
Fixed by #2389

[2020-01-23 20:42] grantr commented on #1952
/close

[2020-01-23 20:50] grantr commented on #1952
/reopen

Closed this too soon: https://github.com/knative/eventing-contrib/pull/839 is still unmerged.

[2020-01-23 23:02] paulrossman opened #2434 "Knative Eventing issue triage proposal"
Proposed sprint planning process. Includes proposed changes to repo labels and projects. Soliciting review, comments and changes.

[Knative Eventing issue triage proposal](https://docs.google.com/document/d/1tVhGKSBYxonw5aWjB8vkm5nGrHq4Wi0F2pYtutYep9M/edit?usp=sharing)

[2020-01-23 23:52] grantr opened #2435 "ConfigMapPropagation tracks all ConfigMaps in original namespace"
**Describe the bug**
ConfigMapPropagation controller reconciles all ConfigMaps in the original namespace because it needs to know when an original is updated to no longer match the CMP selector.

 **Expected behavior**
ConfigMapPropagation controller only reconciles the ConfigMaps that are or were previously originals.

 **To Reproduce**

 **Knative release version**
HEAD

 **Additional context**

[2020-01-23 23:58] grantr opened #2436 "ConfigMapPropagation controller uses the tracker for a known GVK"
**Describe the bug**
The ConfigMapPropagation controller uses the tracker to watch notifications for a constant GVK (ConfigMap).

 **Expected behavior**
The tracker is only used to watch dynamic GVKs that are unknown at runtime. Informer event handlers expressed in the controller's constructor are clearer indicators (to me) of what watch events will trigger a reconcile.

 **To Reproduce**

 **Knat

[2020-01-24 00:05] grantr commented on #2435
CMP controller also tracks all ConfigMaps in the CMP namespace. This should similarly be restricted to ConfigMaps that are either owned by a CMP or have the copy label.

[2020-01-24 01:01] grantr opened #2437 "ConfigMapPropagation deletes all OwnerReferences when abandoning a copy"
**Describe the bug**
When a copy ConfigMap is no longer labeled as a copy, the ConfigMapPropagation controller deletes all owner references from the ConfigMap.

 **Expected behavior**
The ConfigMapPropagation controller deletes only the CMP owner reference from the ConfigMap.

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative release version**
HEAD

 **Additional context**
I expect th

[2020-01-24 01:03] grantr commented on #2437
Any fix for this should also add a test case for abandoning a ConfigMap with multiple owner references.

[2020-01-24 06:47] chizhg opened #2438 "E2E test for Registry"
**Problem**
We don't have any E2E test coverage for [Registry](https://github.com/knative/eventing/tree/master/docs/registry)

**Exit Criteria**
We have a base testing framework for writing E2E test for Registry, and have E2E tests that cover all Eventing Sources.

[2020-01-24 06:48] chizhg commented on #2438
/area test-and-release

[2020-01-24 16:46] akashrv commented on #1850
@matzew Could you please plan this under Channels WG and then mark it with the correct milestone?

[2020-01-24 16:47] akashrv commented on #1845
@matzew Could you please plan this under Channels WG and then mark it with the correct milestone?

[2020-01-24 16:50] lionelvillard commented on #2302
/label proposal/0.13

[2020-01-24 16:50] mikehelmick commented on #2272
/close

security use cases are captured in the security feature proposal
https://docs.google.com/document/d/1Nymrlp__dXKsp02Dpif0GN_Pskm6YXv6WjeF8trYzzk/edit?ts=5e26534f#heading=h.40sx8g1rk63h

[2020-01-24 16:50] #2272 closed

[2020-01-24 20:43] #1952 closed

[2020-01-25 20:29] mattmoor commented on #2052
Have we asked them?  Have we opened a PR to add this functionality upstream?

This was a bit of a shock for me because generally when we do this we reference the version we're backporting it from (e.g. higher kube version) or the PR where we're adding it upstream, but there are no discernable attempts to do so here.

[2020-01-27 03:08] vaikas opened #2443 "Creating a Broker and wiring CronJobSource to it fails with No TTL specified, dropping."
**Describe the bug**
Creating a Broker (using labeling a namespace), then wiring a Cron Job Source to it, events are not delivered to Trigger Subscribers. Looking at the logs for the filter pods on the namespace, they are dropping the messages with "No TTL specified dropping..."

 **Expected behavior**
Creating a Broker, sending events to it via CronJobSource they will get delivered.

 **To Reprod

[2020-01-27 18:06] n3wscott commented on #2443
need to add this first:

[code]

[2020-01-27 18:09] n3wscott commented on #2443
I have tested this with in memory channel and head broker, and it worked.

[2020-01-27 18:10] vaikas commented on #2443
Oops, I was a terrible bug reporter. I was using Kafka as the Channel Implementation. I'll play with this little more.

[2020-01-28 00:42] grantr commented on #2357
/label proposal/0.13

[2020-01-28 00:42] grantr commented on #2355
/label proposal/0.13

[2020-01-28 00:43] grantr commented on #2350
/label proposal/0.13

[2020-01-28 00:43] grantr commented on #2337
/label proposal/0.13

[2020-01-28 00:44] grantr commented on #2312
/label proposal/0.14

[2020-01-28 00:44] grantr commented on #2306
/label proposal/0.13

[2020-01-28 00:45] grantr commented on #2298
Seems like this is fixed. @vaikas reopen if not

/close

[2020-01-28 00:45] #2298 closed

[2020-01-28 00:46] grantr commented on #2274
/label proposal/0.14

[2020-01-28 00:47] grantr commented on #2221
/label proposal/0.13

[2020-01-28 00:48] grantr commented on #2188
/kind good-first-issue

This might already be fixed, but we should investigate.

[2020-01-28 00:48] grantr commented on #2163
/label proposal/0.13

[2020-01-28 01:00] grantr commented on #2052
I believe there was certainty that this change would not be allowed, but I don't remember the details and haven't been able to find them after some digging. It might be worth contacting OpenCensus again to get some fresh eyes.

[2020-01-28 06:03] yolocs commented on #2443
@vaikas it seems we can close this?

[2020-01-28 06:04] yolocs commented on #2301
/propose 0.13

[2020-01-28 06:05] yolocs commented on #2405
/label proposal/0.13

[2020-01-28 11:16] nachtmaar commented on #1912
@Abd4llA Yes true, only found one occurence and created a PR for it. Afterwards we can close this issue.

[2020-01-28 11:47] #1912 closed

[2020-01-28 14:04] Abd4llA commented on #1777
@liu-cong I missed the notification for this issue and was originally assigned so that one of my team would work on it, however due to a change in priority it never got started. always feel free to also give me a nudge on slack directly :)

[2020-01-28 19:18] #2405 closed

[2020-01-28 21:03] liu-cong commented on #1018
@milantracy, seems like this has been dropped. Do you mind me taking this over?

I am working on configuring probes for the broker #2394. And I am glad to address this as they share majority of the code.

[2020-01-28 22:10] prasanthpagolu commented on #2039
Thanks @slinkydeveloper I had to make minor changes for newer version and also for few bugs that I encountered, attaching it here if it may help others:
[kind-knative.sh.zip](https://github.com/knative/eventing/files/4124893/kind-knative.sh.zip)

[2020-01-29 02:53] devguyio opened #2460 "Decide on the future of the Broker and Trigger"
**Background**
After working with the Channel/Subscription models and gathering feedback from users, there was an agreement that the event consumers for the [MVP usecases](https://docs.google.com/document/d/1TdpjFOh2lvFfkyFXBUjCSGxH-PnPV6fkDjEkKY24Vug/edit) want to consume events based on the CloudEvents attributes without a knowledge of how it gets routed or produced (i.e. which channel they need

[2020-01-29 02:57] Abd4llA commented on #2460
The absence of a definition of what a Broker is and does and how we evaluate if something is a Broker or not lead to @grantr working on [Broker Conformance Spec](https://docs.google.com/document/d/1zjkaO_Nu6Zt4OmzBEmCMTBPj2JtGCSyYgGG5pVyLlBU)

Issue #2306

[2020-01-29 02:58] grac3gao opened #2461 "Using HPA to scale out default broker"
**Problem**

I would like to bring it up for discussion for using HPA to scale out default broker's ingress and filter pod. It will not be a competitor for other outside scale out resources (like KSVC or KEDA), but just an improvement for current default broker. The purpose for it is providing user a scale out option for eventing in the initial status, when using eventing alone without other depen

[2020-01-29 03:01] Abd4llA commented on #2460
@n3wscott started a discussion around alternate Broker implementations with [a proposal ](https://docs.google.com/document/d/1pBLkMptwbdEHUgjn1K5Obf7Xe-G9PFGChQcDCZE9vMQ/edit#)

Issue #2274

[2020-01-29 04:16] mikehelmick commented on #2460
Can we discuss this issue in the v1beta1 task force on Wednesday?

[2020-01-29 05:04] grac3gao commented on #2421
Could you explain more about this scenario? Especially for the 2 labels, ‘the one we have today’ means the namespace’s `knative-eventing-injection=enabled` label?

Trigger reconciler has a check for namespace label (it will label the namespace to enable a default broker if trigger is created https://github.com/knative/eventing/pull/2034, this is only for default broker) I think the solution of thi

[2020-01-29 11:02] matzew commented on #2460
IMO another short coming is that the trigger/filter is incredibly limited and covers only a small amount of use cases. That said there is currently no good way to "plug in" some custom filtering implementation.

This makes the user fallback to "traditional" (or stable) channel/subscription model...

[2020-01-29 14:40] lionelvillard commented on #2421
yes

Great! This could be generalized to other resources. However when creating a source, I wouldn't expect to see a Broker being automatically created. Thus the idea of having two labels.

I don't have answers yet to your other questions.

[2020-01-29 15:16] rhuss opened #2464 "Strange effects with wrong apiVersion/kind in SinkBinding subject"
**Describe the bug**

When using a subject in a `SinkBinding` that refers to either a non-podspecable resource (e.g. CronJob:batch/v1beta1) or a faulty resource describption (like Job:batch/v1beta1 instead of Job:batch/v1), then no error is returned, but the status of this binding remains:

[code]

Furthermore, this resource can not be deleted anymore, because the delete operation hangs forever. I

[2020-01-29 15:36] lionelvillard commented on #2461
have you considered testing Ksvc *with* HPA: https://knative.dev/docs/serving/configuring-autoscaling/#configuring-horizontal-pod-autoscaler-hpa ?

[2020-01-30 07:19] mikehelmick commented on #1449
Feature track proposal has been significantly updated:

https://docs.google.com/document/d/1Nymrlp__dXKsp02Dpif0GN_Pskm6YXv6WjeF8trYzzk/edit?ts=5e26534f#

[2020-01-30 07:22] grac3gao commented on #2461
@lionelvillard  It will have event lost starting from early stage (900:60) as well if **only** configure ksvc itself and imc-dispatcher. The result is https://mako.dev/run?run_key=5621188137058304&~pl=1&~pe=1&~st=1&~dl=1&~de=1&~dt=1&~pet=1&~det=1, using 4 Imc-dispatcher, ksvc with configured HPA.

I would like to point out that this HPA is not a competitor with KSVC. The purpose for it is providin

[2020-01-30 16:17] n3wscott opened #2470 "[Proposal] for all of eventing, all object-ref must have a Namespace."
**Problem**

Tracker needs namespace. We are talking about supporting cross-namespace refs in the future. But at the moment namespace is mostly restricted to remain blank.

**Proposal**

- Add namespace defaulting to the webhook defaulters for the ref to match the object in question.
- Use the validate in webhook Restrict namespace in refs to match the object in question to keep the api the same f

[2020-01-30 16:22] aslom commented on #2460
We should record the goals for broker such as that in-memory version is not for production use. And optimized implementations may not be using channels. Other changes?

[2020-01-30 16:44] grantr opened #2471 "Channel spec doesn't specify the reply contract"
**Describe the bug**
Channel spec doesn't say anything about replies, but this is a key feature of the channel data plane contract.

 **Expected behavior**
Reply handling is specified as something that all channels must support.

 **Knative release version**
0.12.0

 **Additional context**

To disambiguate, I recommend defining separate terms for the event sent from the channel to the subscriber a

[2020-01-30 16:54] n3wscott opened #2472 "[Proposal] Broker spec should take in a service account?"
**Problem**
No way to have two service accounts that are different between two brokers in the same namespace.

**Proposal**

Option 1 - Move this into the config.
Option 2 - Add service account to the spec of broker.

/cc @vaikas

[2020-01-30 17:08] grantr commented on #2470
:+1: I would scope this down to Destination instead of all object refs.

[2020-01-30 17:46] rhuss opened #2474 "[Proposal] Don't update "namespace" for sink and subject in SinkBinding.Spec"
**Problem**

Currently, the controller managing the sink binding updates fields in the `spec:` section to add a default namespace to sinks and subjects, which, however, is always the same as the sink binding's namespace. This is unexpected as the `spec:` is usually reserved for the user's resources declaration, and `status:` is used for controller status output.

**[Persona:](https://github.com/kn

[2020-01-30 17:50] rhuss commented on #2474
The situation is a bit similar to the unused Pod spec fields of a `Configuration`. They are not filled in but just ignored (right?, maybe the `image:` field is mangled, not sure).

Don't touching anything in `spec:` parts would also help for forthcoming `import` / `export` feature for the `kn` client, to find out which should be removed (everything below `status:`) and what should be kept (everyth

[2020-01-30 18:11] andreiac-silva commented on #1573
Hi folks.
Do you have any idea about when Dead Letter feature will be supported by kafka channels?
Thanks.

[2020-01-30 18:23] lionelvillard commented on #1573
@andreiac-silva it might be supported already. Have you tried?

[2020-01-30 18:58] grac3gao opened #2476 "Audit controllers use the tracker for a known GVK"
**Describe the bug**
As #2436 mentioned, auditing controllers use the tracker for a known GVK which has OwnerReference with current controller resource.

 **Expected behavior**
The tracker is only used to watch dynamic GVKs that are unknown at runtime. Informer event handlers expressed in the controller's constructor are clearer indicators (to me) of what watch events will trigger a reconcile.

 *

[2020-01-30 23:07] n3wscott commented on #2470
I disagree, I think we should consider all object-refs. The answer could be different for each case.

[2020-01-31 00:20] grac3gao commented on #2436
It seems trackers are also used for some known GVK when the association between this tracked resource and the reconciler's master resource is loose.
In [Knative Duck Typing](https://docs.google.com/document/d/16j8C91jML4fQRQPhnHihNJUJDcbvW0RM1YAX2REHgyY/edit#heading=h.n8a530nnrb), it introduced tracker by the following:

In ConfigMapPropagation (`cmp`) controller, there are two types of configmap

[2020-01-31 00:22] grantr commented on #2436
Sounds good, thanks for investigating @grac3gao!

/close

[2020-01-31 00:22] #2436 closed

[2020-01-31 00:36] vaikas commented on #2470
I think we should actually introduce: KnativeReference (or just ObjectReference because they are packaged, so that shouldn't be a problem), though I kind of feel like not calling it ObjectReference is good. As per this issue that merged into k8s:
https://github.com/kubernetes/kubernetes/pull/87459
Seems like we should just do it now. Nice thing is that it should be wire compatible so that's nice f

[2020-01-31 12:53] andreiac-silva commented on #1573
@lionelvillard I haven't tested it yet. I've seen the support information in knative documentation.
But I'm going to test it, thank you for the answer.

[2020-01-31 14:50] n3wscott commented on #1921
SinkBinding takes care of this.

[2020-01-31 14:50] #1921 closed

[2020-01-31 17:03] davyodom commented on #2460
I've tried to compile an initial list of what should be there in order to use the current broker implementation in a production context for the project I am working on.  Not all of these issues would apply to everyone and not all are completely mandatory, but hopefully this helps start a discussion.  I think they are general enough that they shouldn't dictate a separate broker implementation thoug

[2020-01-31 18:14] n3wscott commented on #2470
That sounds fine, do you also want to require (maybe with a default also) the namespace in that resource?

It would help our usage with Tracker.

[2020-01-31 18:43] grac3gao commented on #2476
Checked every controller(except legacy ones), only namespace controller has such case. And it is being fixed by #2440

[2020-01-31 18:43] #2476 closed

[2020-01-31 19:05] lionelvillard opened #2484 "EventTypes should be registered by the EventType controller only"
**Problem**
Today each source implementation creates EventType objects. This is an unnecessary burden for the Source implementors.

An EventType consists of:
- a type. Those are available in the source CRD
- a source. Unique per source instance. Should be part of the Source status
- a broker, a schema and a description. All these fields can easily be populated by the EventType controller

**[Perso

[2020-01-31 19:22] vaikas opened #2485 "Document resources created as well as the reasons for them"
**Problem**
There are many k8s resources that get installed as part of Knative. We should document them properly as well as why certain resources are necessary. For example:
 * Configmaps - necessary to actually configure the system
* active components (controllers, webhooks, etc)
* Service accounts, roles, etc.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Ever

[2020-01-31 21:19] mikehelmick commented on #2472
I'm in favor of option 2 - making the SA an optional field on the broker.

[2020-02-03 13:31] matzew commented on #2471
/assign @matzew

[2020-02-03 13:35] matzew commented on #2337
@grantr I just tested this again, and the error is still there (using 0.12)

[2020-02-04 01:11] aslom commented on #2153
@zroubalik @matzew @n3wscott @lionelvillard
I have created an experimental version of scaling Kafka Source by using KEDA. For details how to run see README in PR: https://github.com/knative/eventing-contrib/pull/886

I will show quick demo in knative source WG and also here is video https://youtu.be/-zv-6DcU794 and slides showing current status and future plans:
https://docs.google.com/presentatio

[2020-02-04 01:25] #2399 closed

[2020-02-04 02:54] n3wscott opened #2493 "ConfigMapPropagation should not be in eventing."
**Describe the bug**
ConfigMapPropagation does not belong in eventing.

[2020-02-04 10:18] matzew commented on #2471
@grantr I added the suggested section in https://github.com/knative/eventing/pull/2494

I also _started_ in the initial/reply event.

However, once we are extracting the "delivery parts" to a seperate spec, this might be even more handy to differenciate between these event types.

However, I am not sure I like the current working HTTP event.  I changed some of that to _initial event_ - currently w

[2020-02-04 15:01] lionelvillard commented on #2434
The proposal looks good to me. Is this proposal meant to eventually be adopted by the entire Knative community?

[2020-02-04 15:47] lionelvillard opened #2497 "Clarify the scope of each data-plane component"
**Problem**
There is a wild disparity wrt scoping:
- **cluster-scope**: these are components deployed in `knative-eventing` and they handle resources in all namespaces. Example: in-mem dispatcher, kafka dispatcher, etc..)
- **namespace-scope**: these are components deployed in a namespace. They handle resources in the namepace. Example: broker filter
- **resource-scope**: same as namespace-scope e

[2020-02-04 15:54] ryandawsonuk commented on #1708
I'd like to be able to send arbitrary custom headers to the broker and have them be passed on to the service. Would that fall under this or would that be a new issue?

[2020-02-04 16:16] mikehelmick commented on #1708
@ryandawsonuk Why are CloudEvents extension attributes not a fit for what you're trying to do?

[2020-02-04 16:43] ryandawsonuk commented on #1708
Good point, extension attributes look like the way to go. Will look at using extension attributes on the CloudEvent rather than headers on the message. Thanks @mikehelmick

[2020-02-04 17:27] nachocano opened #2499 "Rename SinkBinding?"
**Problem**
In 0.12 we introduced SinkBindings, and together with ApiServerSource and PingSource form the core eventing sources.
IMO we should try to maintain consistency in how we name sources (especially the core ones), so that is crystal clear, even by just looking at its Kind, that is a source.
XSource kind of naming seems to have worked well, and we are using it mostly everywhere. We've been

[2020-02-04 17:30] n3wscott commented on #2499
Personally I hate Source in the resource name but folks want it...

[2020-02-04 17:34] n3wscott commented on #2499
The thinking with this name is that other bindings around the env are binding this to that. In the case of LogBinding (OSBAPI), it binds a log collector to a subject. SinkBinding binds a resolved sink+sugar for cloudevents into a subject.

It does not bind a source to a subject, the subject is the source implementation. The binding provides the rest of the control plane contract to that implementa

[2020-02-04 17:54] mattmoor commented on #2499
Source in the resource name is kinda silly if you primarily deal with yaml because it's always right there in the apiVersion:
[code]

In Go style, this is often referred to as stutter with the package name.

It's also notable that SinkBinding has a wholly different arity than a typical source because it's a meta source.  I can use a selector to turn every Deployment in the namespace into a Source,

[2020-02-04 17:54] rhuss commented on #2499
+1 for being consistent with other sources naming. If `SinkBinding` **IS-A** source, then it should follow the (implicit) naming convention for sources, i.e. having a `Source` suffix in the name.

What is the key-characteristics that all sources have in common ? If we look at the intersection of all sources out there, it's that a source pumps _something_ into **sink**. The same what a `SinkBinding

[2020-02-04 18:01] rhuss commented on #2499
True, but reasoning about objects seldomly involves the API group (expect when dealing with yaml): Documents, clients arguments, `kubectl get` output,, .. doesn't include the group.

A _meta source_ is a source, too, isn't it ? Technically I totally agree with you, that a `SinkBinding` is only one half of the equation, but one can equally take the POV, that it's just a super set for a `DeploymentS

[2020-02-04 18:20] nachocano commented on #2499
Yes, that's why I think the naming should be driven by the subject... which is the actual source

[2020-02-04 18:35] grac3gao commented on #1708
@grantr The fix in the eventing side is merged by PR https://github.com/knative/eventing/pull/1754. @n3wscott mentioned in this issue that he was going to work on a fix in the Cloud Event sdk side. I think this issue will be closed after both sides' fix are done(eventing and CE).
Do you know the current status for Cloud Event SKD regarding this tracing issue? @n3wscott

[2020-02-04 18:42] n3wscott commented on #1758
ConfigMapPropagation does not belong in Eventing.

#2493

[2020-02-04 18:45] grac3gao commented on #2493
Where do you think it could be in? @yolocs opened an issue in  https://github.com/knative/pkg/issues/956 discussing about moving some APIs (which could be beneficial to multiple repos) to pkg repo, like ConfigMapPropagation API, serving's Certificate API. Maybe it can be discussed further based on that point.

[2020-02-04 18:49] n3wscott commented on #2493
I think ConfigMapPropagation did not get the correct process to being added to Knative. There was no feature track, and it was never talked about in a working group meeting. There was no agreement in https://github.com/knative/eventing/issues/1758 on a solution. The proposal did not get support from the Eventing working group leads.

/cc @vaikas @lionelvillard

[2020-02-04 19:09] matzew commented on #2499
I like BindingSource - or PodspecableSource

On Tue 4. Feb 2020 at 19:20, Ignacio (Nacho) Cano <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2020-02-04 19:12] n3wscott opened #2500 "[Proposal] shape of ApiServerSource sources.knative.dev/v1alpha2"
Writing this here to have conversations, related to #2491

v1alpha1 min:

[code]

v1alpha1 full:

[code]

v1alpha2 min:

[code]

v1alpha2 full:

[code]

[2020-02-04 19:15] n3wscott commented on #2500
@vaikas

[2020-02-04 19:22] rhuss commented on #2499
Is the referenced subject as much the source implementation like it is the Kafka cluster for a KafkaSource (with the KafkaSource controller providing the 'binding') ?

In the context of Knative (which added it own interpretation of what a "source" is), I think the naming should be driven by the sink aspect (as this is the common part of all sources).

[2020-02-04 19:42] rhuss commented on #2500
Why would you want to allow all kind of mutations for specifying a GVK ? (and what is the use case to use a resource instead of a GVK ?) That makes it harder for clients, also to reason about.

The only use case I could imagine would be a custom API server without a corresponding CRD. I would keep it simple (but maybe would allow to leave out the kind to match everything from an apiVersion).

[2020-02-04 19:52] n3wscott commented on #2500
OK Ville and I talked off line and I am going to take another crack at this with the following changes:

- resource --> resources
- ownedBy array --> single
- grvk -> back to apiVersion+kind

[2020-02-04 19:58] n3wscott commented on #2500
ownedBy -> owner

[2020-02-04 20:59] n3wscott commented on #2461
I think this is out of scope for core eventing and could be solved with broker class.

See https://docs.google.com/document/d/1pBLkMptwbdEHUgjn1K5Obf7Xe-G9PFGChQcDCZE9vMQ/edit

[2020-02-04 21:36] lionelvillard commented on #2500
the problem with just having `Kind` is there is no safe way to get the corresponding resource. Is that still the case?

[2020-02-04 22:15] aslom commented on #2153
I have test failing as I made optional

[code]

and they end up serialized as "null" instead of not serialized:

[code]

https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_eventing-contrib/886/pull-knative-eventing-contrib-integration-tests/1224786419201871873

It seems that the best solution may be to use the smae approach tha serving is using:
https://knative.dev/docs/serving/co

[2020-02-05 00:20] grac3gao commented on #2461
This HPA thing is an improvement idea only for the default broker, and is not related on other alternative broker design. If we still regard default broker as a part of core eventing, I don’t think this issue is out of scope for core eventing.

Are you referring to the TODO section of Default Broker Implementation or referring to the potential that other alternative brokers (rather than default br

[2020-02-05 00:20] mattmoor commented on #2499
Except the SinkBinding doesn't pump anything into the sink, it binds that information into the podspecable so that it can.

I would say that the SinkBinding IS-A Binding too, perhaps moreso than it is a Source because it's a sort of meta-Source or Source factory.  By the logic that these things should both appear in the name, SourceBinding feels most consistent to me.

[2020-02-05 00:25] mattmoor commented on #2499
To further clarify my preference for ordering here: What comes first feels like the qualifier on what comes second.  It is a Binding, what is it Binding?  The Source information into the PodSpecable.  Ergo SourceBinding or PodSpecableSourceBinding, though the latter is quite a mouthful. 🤣

`{Subject}{Content}Binding` feels like the right anatomy of Binding names to me, even if it results in huge n

[2020-02-05 01:03] n3wscott commented on #2461
That one ☝️

[2020-02-05 03:12] ian-mi commented on #2248
@chizhg Can you check whether this issue is mitigated after PR #2503?

[2020-02-05 07:20] grac3gao commented on #2461
@n3wscott  Does that mean that you think it is conflicting to add scale out improvement in default broker while other alternative brokers will have some scale out feature? I think there is no conflict for that.
One alternative broker has scale out feature doesn't mean that other alternative broker implementations cannot have (correct me if this is wrong). Same, this HPA is about default broker imp

[2020-02-05 09:10] rhuss commented on #2499
Looks like we have some hard time to decide whats being the main noun in a combined word  describing two nearly equivalent aspects. As a German I have **huge** experience in squeezing many words in a single word, so you have to trust me ;-P

Jokes aside, let me bring in another perspective from the client side: The decision we have to make is whether we should offer the binding management on the s

[2020-02-05 09:19] rhuss commented on #2499
But the PodSpecable is not a Source, too, as it lacks the sink reference (brought in by the binding). An then why not `CloudEvent` instead of `Source` as this might better pinpoint the "content" ? E.g. `PodSpecableCloudEventBinding` (did I mention that I'm German speaking ? :)

I think we should not strive for absolut technical correctness but for describing the usage best to provide a coherent UX

[2020-02-05 09:39] rhuss commented on #2500
yes, that's still true (like for service `Service`). But we could _leave out_ the kind and the register for all events from any resource in that API group. This e.g. might be useful to implement e.g. a Knative serving tracker which picks up all events from Knative serving and e.g. creates some kind of real-time metrics out of it.

But wouldn't you in that case just provide the `apiVersion` (i.e. t

[2020-02-05 13:58] lionelvillard commented on #2500
k8s REST API needs the resource plural name. It could be derived automatically from GVK by fetching the corresponding CRD and get the plural. Maybe that what we should do. For now we decided to allow `Resource` just in case `UnsafeGetResourceFromKind` does not work.

[2020-02-05 14:26] lionelvillard commented on #2337
Are you running on minikube: https://github.com/knative/eventing/issues/2039 ?

[2020-02-05 15:06] zroubalik commented on #2153
I don't have a strong opinion on the options.

IMHO `pollingInterval` and `cooldownPeriod` ARE specific to KEDA and aren't generic concepts, because you can eventually replace KEDA with another scaling tool, that is not using this properties/concepts. just my 2 cents

[2020-02-05 15:36] davyodom commented on #2461
This scope of the default broker was discussed in the last channel WG meeting, it seemed there that the general consensus is for the default broker to be improved to have more production qualities (and alternate brokers will still also need to exist in some cases).  This scale out capability would seem to fit in the default broker according to that discussion. Perhaps this needs to be discussed in

[2020-02-05 16:52] aslom opened #2507 "Discovering supported delivery features"
**Problem**
Different implementations of sources, channles, brokers may have different features affecting security, quality of service etc. but it is not possible today to discover them programmatically only by reading documentation and even then it is hard to compare as they ofetn do not use shared vocabulary.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event

[2020-02-05 16:57] aslom commented on #2507
@evankanderson @vaikas @lionelvillard @markfisher @slinkydeveloper @n3wscott  please add your comments

[2020-02-05 16:58] lionelvillard commented on #2500
`controller` is needed in the serverless operator usecase. For instance, `Foo` creates `Deployment`. Watch for `Deployment` and send event corresponding to the owner, to requeue it.

[2020-02-05 17:01] aslom commented on #2507
@matzew that could be added to channel (or delivery?) specification? https://github.com/knative/eventing/blob/master/docs/spec/channel.md

[2020-02-05 17:01] aslom commented on #2507
@n3wscott and that could work also with duck typing?

[2020-02-05 17:16] evankanderson commented on #2507
A few items that came up so far:

* Partitioning [both number of partitions as well as partitioning function]
* Ordering / head of line blocking (I prefer the latter as it makes clear that there is a tradeoff being made)
* Batching / multi-event transactions
* Durability: at least once or at most once semantics

The first two items (at least) are important when designing streaming scenarios where

[2020-02-05 17:22] aslom commented on #2497
Not only documentation but also have some metadata in CRDs to discover want scopes given component supports? So users could query and different setups could be tested?

[2020-02-05 17:31] yolocs commented on #2493
I also don't think it should belong to eventing. Knative today lacks a repo to hold common reusable controllers. If we have that, it would be very natural to move ConfigMapPropagation there. I think serving might also have some component worth moving there.

[2020-02-05 18:11] lionelvillard commented on #2493
On the other hand only Knative Eventing needs it. AFAIK, Serving does not install any components in user-namespace.

[2020-02-05 19:50] nachocano commented on #2499
+100

[2020-02-05 19:53] nachocano commented on #2499
I'm fine with this. I think is better than `SinkBinding`

[2020-02-05 21:40] akashrv commented on #2460
#2275

[2020-02-05 22:26] n3wscott commented on #2500
I think you do this:

[code]

I am adding a special case to the api when the owner == the resource, it is a filter pass.

[code]

[2020-02-05 22:28] n3wscott commented on #2500
In the case of k8s resources, this can be pulled out of known maps. In the case of CRDs the correct answer is to look it up from the CRD. First pass is `UnsafeGuessToResource`

[2020-02-05 22:32] n3wscott commented on #2500
The bigger issue is version, I think the version part of the apiVersion should be ignored when comparing things like owner.  `Foo.foo.dev/v1beta1` ==  `Foo.foo.dev/v1`

hm, does this work if `Foo.foo.dev/v1beta1` ==  `Foo.foo.dev/v2` ? I think it still does because that is how it is being stored and loaded. The version is for the shape of the resource, not the identity of the resource.

[2020-02-05 22:56] lionelvillard commented on #2500
still not the same as before. Now the filters apply to all resources, with one special rule (the owner being itself). The label selector applies to all, breaking the previous behavior.

I'm not so sure what's the motivation for changing the current API. What's wrong with it?

[2020-02-05 23:48] grac3gao commented on #2493
The initial purpose of `configmappropagation` is an implementation-level change mainly for broker, but not a feature-level change. Later, as comments in PR and issue shows, it seems there are some potential usages outside of broker. I think the main points here are:
1. First, finding whether there is use cases outside of Eventing, this will help to decide if we need to put it outside of eventing (

[2020-02-06 00:22] mattmoor commented on #2499
Binding is a duck too.  The spec is literally the blending of two ducks 😂

[code]

[2020-02-06 00:24] grac3gao commented on #2078
Faulty sink issue was fixed by https://github.com/knative/pkg/pull/880. After fixing, broker will have status if the channel uses a non-existent api group and the error message in reconciler will mention cannot list the api group (but not block the reconciler from recovery). I'll close this issue. Feel free to reopen it if there is any other behaviors we should have for this case.

[2020-02-06 00:24] #2078 closed

[2020-02-06 00:32] grac3gao commented on #1462
I feel this issue is a sister issue of #2047 related on faulty sink, as the error behavior are the same. The fix of that issue is https://github.com/knative/pkg/pull/880

[2020-02-06 00:35] grantr commented on #1462
Makes sense, let's close and see if it comes back up.

/close

[2020-02-06 00:35] #1462 closed

[2020-02-06 01:04] grantr commented on #2460
/assign

[2020-02-06 01:04] lionelvillard commented on #2499
Let's start with the basics (from the source spec):

[code]

The important bit here is `relays`. And that's exactly what `SinkBinding` is doing: it relays events produced by a Podspecable to a sink. This is exactly what the `GithubSource` source is doing, modulo the need for converting events to CloudEvent ones. `SinkBinding` does not convert (it could?)

As such, I now think `BindingSource` is a

[2020-02-06 01:30] n3wscott commented on #2499
it really is not: Take a deployment case, the source is the combo of the deployment and SinkBinding. The SinkBinding augments the runtime contract of the container in the deployment to allow it to adhere to some of what is required for the impl to understand where to send an event (the sink) and how to argument it (the ceOverrides)

SinkBinding does this runtime augmentation. It also fulfills the

[2020-02-06 02:31] n3wscott commented on #2493
Maybe we shouldn't either?

[2020-02-06 02:33] n3wscott commented on #2474
If we want to support cross namespace delivery then we need the namespace in the refs

[2020-02-06 02:34] n3wscott commented on #2474
Defaulting webhooks change the spec all the time

[2020-02-06 03:24] n3wscott commented on #2484
We should revisit EventType. It should not be linked to the broker. We likely should remove it and align with the CloudSubscriptions work being done in CloudEvents.

Thanks for bringing this up, we have until 0.13 cuts to prevent it from going to v1beta1 and I think we should no promote it in the current state.

[2020-02-06 03:26] n3wscott commented on #2507
Even if a channel impl supports ordering, we don't know if our receive adapters will deliver in order based on the scaling ideas we are looking at

[2020-02-06 03:28] n3wscott commented on #2472
I think 1 is the correct solution. A service account in the spec of broker is a leak of the underlying broker impl

[2020-02-06 03:33] n3wscott commented on #2471
It is talked about here https://github.com/knative/eventing/blob/master/docs/spec/spec.md#spec-3

[2020-02-06 03:34] n3wscott commented on #2443
No I think the other channel impls might now work in the broker. We need a test to close this.

[2020-02-06 03:51] n3wscott commented on #2461
We talked about the need for a broker to have prod like qualities but not that it needs to be in core. A prod install of eventing my require some eventing contrib parts.

We should rethink the entire broker impl, call it a PoC, and redesign what it could be as a production grade impl over attempting to take the PoC broker impl and ship it as production.

[2020-02-06 04:35] mikehelmick commented on #2484
Strong objection to removing EventType altogether.

I agree that they should not be linked to a Broker and would like to see that change.

I would like to see EventType extended to (optionally) store the actual data of the event schema. This would allow developers to have an easy mechanism for creation and management of custom event types, keeping the entire experience on cluster.

[2020-02-06 04:53] mattmoor commented on #2497
In addition to documenting the scope of particular dataplane component as `foo-scope`, it is important to quantify the per-`foo` overhead incurred by that implementation.  I would also argue that if we want different flavors of these, that what we really want are different "classes" of resource instead of different modes(?).  I also think that we cannot be ignorant to the per-`foo` cost when choos

[2020-02-06 05:07] mikehelmick commented on #2484
Added a PR that shows what I'm thinking for schema storage inline

[2020-02-06 09:10] rhuss commented on #2499
This is the part where I'm struggling a bit. What would be the both ends of such a `SlackBinding` ?

* For `Slack` I assume its a CRD. Why it's not combined together with the `SlackBinding` CRD to a single CRD, as I suppose that the slack-spec is very specific and not implemented by anyone else ? (i.e. `Slack` is much more specific than `PodSpecable`, too specific to be used as an interface)
* How

[2020-02-06 09:33] rhuss commented on #2500
Why is the label selector on every resource and not top-level in `spec:` ? I guess the most common use-case for labels used with multiple resources is to filter on the same labels. Restricting this to be on the resource level unnecessarily leads to duplication.

[2020-02-06 13:42] matzew commented on #2499
I agree I think the is actually more complicated from users perspective / UX, rather than some good/clean `BlahSource` CRD, that sinks to some "service"

[2020-02-06 14:26] lionelvillard commented on #2493
yes. Related to https://github.com/knative/eventing/issues/2497

[2020-02-06 14:51] lionelvillard commented on #2497
@mattmoor +1 for classes.

How confident are we about achieving 1. without 2, specially wrt. scalability?

The out-of-the-box default should be `cluster-scope`. The dependency on `serving` is an orthogonal issue.

[2020-02-06 15:10] mattmoor commented on #2497
At that point we're in "activator" territory, so we have the same "problem" in serving (so `2.` isn't a silver bullet!).  We also have the same problem for the gateway pods of every KIngress implementation.

I think there's two elements to my answer:
1. I think we can get a long way towards `1.` by having HPA over the shared resource.
1. `3.` for shared system components a baseline of 1-2 pods is

[2020-02-06 15:37] lionelvillard commented on #2500
@n3wscott got it! What about updating the source spec with design principles? Here one:

[code]

That's at least true for `GithubSource` (ie only one ownerAndRepository per spec corresponding a a single fixed source `https://github.com/ownerAndRepository`) and for `KafkaSource`.

By applying this design principle to `ApiServerSource`, the source is a single k8s resource. Here an example:

full v1a

[2020-02-06 15:41] lionelvillard commented on #2497
Yup I agree for `3.`

[2020-02-06 15:59] rhuss commented on #2500
@lionelvillard As mentioned elsewhere I think it would be cool to have a single ApiServerSource to allow to monitor multiple resources. Let's assume you want to track all the resources of your app which are labeled with `app: myapp` (let's say 10 objects). In the 1:1 case, you would have to create 10 COs with the same label selector. If you now want to change the selector for some reason you have

[2020-02-06 16:47] n3wscott commented on #2500
I think this example looks optimized for reconciliation, I do like the general shape but I do not think it helps use cases where reconciliation is not the focus.

I think these do the same thing:

[code]

vs

[code]

I think where the reconciler focused ApiServerSource falls down is when we want to just watch a labeled subset of a set of resources only:

[code]

in the above case I just want to se

[2020-02-06 19:35] yolocs commented on #2493
From https://github.com/knative/eventing/issues/2497, I do like the idea of defaulting to `cluster-scope`. But it's not a MUST, isn't it? For user who prefers `namespace-scope`, it seems `configmappropagation` is still needed.

[2020-02-06 21:27] #2397 closed

[2020-02-07 12:59] slinkydeveloper commented on #2507
To be honest, I don't understand what do you mean for partitioning in `Channel` abstraction.
I see partitioning as a concept quite hard to abstract between different transports. Some transports could not have any support for it.

How do you perform batching? Based on what criteria? Also, you need to save state (and persist it) for intermediate event buffers, where should these buffers live?
Even i

[2020-02-07 13:46] lionelvillard commented on #2507
not every channel. It all depends on the underlying messaging system.

[2020-02-07 14:18] slinkydeveloper commented on #2507
@lionelvillard are you proposing that `Channel` spec has "no delivery guarantee" semantic too?

[2020-02-07 14:43] matzew commented on #2507
I think it would be good if users could choose a `Channel` based on `delivery features`.

so for `partitioning`, a imaginary list could return:
* `KafkaChannel`
* `PulsarChannel`

[2020-02-07 14:48] markfisher commented on #2507
Most of these properties (perhaps apart from "is partitioning supported?") cannot be described as characteristics of the Channel alone, because the overall behavior being described spans interactions from the producer to the consumer and the ultimate handler/processor.

For example, even if a Channel is backed by a broker with strict-ordering-per-partition semantics, as soon as any downstream comp

[2020-02-07 15:19] lionelvillard commented on #2507
@slinkydeveloper not at all. I'm just saying Knative Eventing should not be restricted to only support at least one guarantee.

And I agree with @markfisher guarantees go beyond the underlying messaging system itself.

[2020-02-07 16:47] davyodom commented on #2460
The questions which seem to be floating around without a clear consensus are :

[2020-02-07 16:57] davyodom commented on #2460
The questions which seem to be floating around without clear consensus are:
1) Should a default broker exist in eventing-core?
2) Should this default broker have production-like qualities or should a different one be created in eventing-contrib?
3) Should the prod-like broker be channel based and expand on the current impl in eventing?
4) Is the full set of features/qualities in the comments above

[2020-02-07 17:20] grantr commented on #2052
I asked around and it seems this change was never floated to the OpenCensus community. So

No, and no, but should and should :)

[2020-02-07 17:39] matzew commented on #2350
We just got bitten by this too.

failurePolicy: Fail while hooking CREATE and UPDATE for all daemonsets, statefulsets, deployments and jobs on the cluster.

[2020-02-07 19:33] akashrv commented on #2460
My 2 cents:

[akashrv] Yes. Or at least part of default install (release yaml). A customer should not be forced into a vendor-written broker and should have a Knative OSS alternative.

[akashrv] What does a "production-like broker mean" is debatable. Example certain delivery semantics could be transport specific, but we can always define some minimum spec for something to be called as Broker and #

[2020-02-07 21:05] Abd4llA commented on #2426
Linking #2460, since it is an overarching issue for the broker and will probably affect this roadmap

[2020-02-07 22:24] n3wscott commented on #2274
https://github.com/knative/eventing/pull/2456

[2020-02-07 22:24] n3wscott commented on #2274
after #2456, https://github.com/knative/eventing/pull/2468

[2020-02-07 22:38] evankanderson commented on #2274
/assign @vaikas @lionelvillard

Needs a WG lead to assign reviewers.

[2020-02-07 22:39] evankanderson commented on #2274
(Interested parties should feel free to suggest themselves as proposal approvers for the WG lead to delegate to.)

[2020-02-08 00:37] grantr commented on #2274
:hand: for approver

[2020-02-08 01:13] n3wscott opened #2523 "Eventing needs e2e tests for eventing-contrib integrations."
**Problem**
If knative/eventing makes a breaking change for `knative/eventing-contrib` there is no feedback loop.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributors.

**Exit Criteria**
We, the developers of Knative, understand when our changes break downstream dependencies. In this case, `eventing` breaking `eventing-contrib`

**Time Estimate (optional):

[2020-02-08 16:05] mattmoor commented on #2052
@grantr thanks and thanks :)

[2020-02-09 03:08] ian-mi commented on #2052
It appears that this patch is needed to adopt the parent span without creating a new child span. Have we considered whether the correct behavior is actually to create a new child span in the channel dispatcher? I can see this span being potentially useful.

[2020-02-10 07:02] tzununbekov commented on #2464
fwiw, we're working on a fix
https://github.com/triggermesh/pkg/commit/76b1a0d8134f5a5d4172a8b95b0e6ce47b92c0f7

[2020-02-10 07:45] vaikas commented on #2484
I agree with the original motivation here, namely:
 1. make it easy for the Source writer to "do the right thing".
A source writer should already provide the list of eventtypes that it produces, and there are already proposals to reduce the work of the source writer as linked in the issues above.
As far as removing the eventtypes, I do not personally think they should be removed as they serve as a

[2020-02-10 07:48] vaikas commented on #2474
Is the issue that we should not support namespace as a field? Seems like we want to support it and need it for cross namespace delivery? Is this something that could/should be done in the defaulting webhook instead of the controller?

[2020-02-10 07:49] vaikas commented on #2474
is this related to #2470

[2020-02-10 08:15] rhuss commented on #2474
Yes, but a user could instead set those default fields herself, too. This is not the case he (at least she can't set it to a different namespace). But ok, if you *plan* to support those cross-namespaces in the future (however they could be introduced later then, too).

[2020-02-10 08:17] rhuss commented on #2474
At the moment, specifying that namespace field with a value that is different from the current namespace leads to a validation error. Which surprised me (therefor that issue).

[2020-02-10 08:40] vaikas commented on #2434
Looks good
/lgtm
We can fine tune it as we see fit, also might be useful to bring this to TOC and see how all this jives with the other working groups and their processes. Things like priorities and so forth sure would be nice if they were in sync across the repos.

[2020-02-10 23:37] #2437 closed

[2020-02-11 09:44] vaikas commented on #2128
Thanks for picking this up @grac3gao as I was working through the refactoring of the Broker/Trigger reconcile, there are several inconsistencies between what's written in the defaulting and what the validation actually did.

[2020-02-11 12:35] vaikas commented on #2443
https://github.com/knative/eventing-contrib/pull/905

[2020-02-11 19:55] montaro opened #2536 "broker_filter_event_count metric false increment"
**Describe the bug**
`broker_filter_event_count` is incremented with label `status_code=417` for unmatched events.

 **Expected behavior**
`broker_filter_event_count` is incremented only if the event matches the triggers

 **To Reproduce**
I created two triggers, each has a different event type as follows:
First: (Type: `order.created`)
[code]
Second: (Type: `order.placed`)
[code]
Sending a messag

[2020-02-11 19:59] nachocano commented on #2536
/assign

[2020-02-12 01:19] grac3gao commented on #2128
I was wondering if you thought these inconsistencies were related to `ChannelDefaulterSingleton`? If it is possible, would you mind pointing me one place that is inconsistent?

[2020-02-12 07:46] nicolaferraro opened #2544 "Cannot restart Minikube after installing Knative because of legacysinkbindings webhook failure"
**Describe the bug**
Installing Knative serving+eventing+monitoring 0.12.0 on Minikube with official instructions from doc, Istio lean.

If I stop minikube and I restart it again, I get:

[code]

 **Expected behavior**

It should be possible to stop and start Minikube..

 **To Reproduce**
- Download latest minikube
- Follow steps in doc for 0.12.0 to install Knative with Istio-lean
- Deploy a samp

[2020-02-12 12:10] vaikas commented on #2128
Sure thing, so in the defaulter here:
https://github.com/knative/eventing/blob/master/pkg/apis/eventing/v1alpha1/broker_defaults.go#L29

There's this comment:
		// The singleton may not have been set, if so ignore it and validation will reject the Broker.

But the validation considers nil template as ok:
https://github.com/knative/eventing/blob/master/pkg/apis/eventing/v1alpha1/broker_validation.g

[2020-02-12 13:33] lionelvillard commented on #2544
/cc @mattmoor @n3wscott

[2020-02-12 15:36] mattmoor commented on #2544
Did excluding the built-ins from being registered by default make 0.12?

[2020-02-12 16:20] #2443 closed

[2020-02-12 17:34] n3wscott opened #2551 "[Heads Up] Please watch for behavior changes on all reconcilers, and report!"
The new generated reconcilers do some new things around what is an error, and when is that error bubbled up to the `Reconcile` method which results in a requeue and re-reconcile.

In the new world we care a bit more when we throw errors all the way up to force requeue. So please test and record any changes that are unexpected. The generated code is new, but based on what we have learned over the l

[2020-02-12 19:57] n3wscott commented on #2499
This is what you provide ^^

This is what you have to implement in a custom crd:

[code]

[2020-02-12 19:58] n3wscott commented on #2499
`[SlackBinding] --> [Deployment] <-- [SinkBinding]` could be the implementation details that the `[SlackSource]` does

[2020-02-12 20:01] n3wscott commented on #2499
`SinkBinding` is intended to be a building block, which is why the name is correct with what it does.

[2020-02-12 22:00] grac3gao commented on #2128
@vaikas It helps. Thank you!

[2020-02-12 22:50] grantr commented on #2499
This seems different than how SinkBinding has been presented in the past. I don't know about others but my understanding was that SinkBinding was intended to be user API, which is why ContainerSource was argued to be unnecessary.

**Do we expect normal users to create SinkBindings?** I would love some clarity on the expected use cases.

[2020-02-13 00:48] paulrossman commented on #2426
Started [document](https://docs.google.com/spreadsheets/d/10XRHJO7fg93advH67NKNgBTCxep0VfhvhJ8Rc6jipQU/edit#gid=1690166615) for capturing roadmap items.

[2020-02-13 07:35] ian-mi opened #2559 "Tracecontext propagation should be used instead of B3"
**Describe the bug**
The [distributed tracing extension](https://github.com/cloudevents/spec/blob/master/extensions/distributed-tracing.md) states that the traceparent and tracestate headers must be used to propagate tracing attributes.

 **Expected behavior**
Trace context sent in W3C tracecontext format should be propagated by eventing components.

 **To Reproduce**
Send events using ochttp trac

[2020-02-13 14:28] vaikas opened #2562 "Template to track v1beta1 tasks for a given resource"
For each of the resources that's going for the v1alpha1 <-> v1beta1 conversion, figured that we'll create an issue that has the following check lists in it. Each resource will be stored as v1alpha1 and we need to serve both v1alpha1 v1beta1.

For main background reading material:
https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning/

Add Ope

[2020-02-13 16:29] aslom commented on #2401
Discussed in February 13 WG meeting

[2020-02-13 18:47] #2536 closed

[2020-02-13 19:09] vaikas opened #2570 "Configmap propagation issue with name too long? Fails in tests?"
**Describe the bug**
As witnessed in the failing integration tests here (after I added event dumping support there)::
https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_eventing/2569/pull-knative-eventing-integration-tests/1228014617725243392

There are events like this there:
       test_runner.go:136: EVENT: {{ } {eventing.15f30897543cce6c  test-default-broker-with-many-deprecat

[2020-02-13 19:10] vaikas commented on #2570
https://github.com/knative/eventing/pull/2569

[2020-02-13 19:16] n3wscott commented on #2570
extra context, this is why we wrote https://github.com/knative/pkg/blob/master/kmeta/names.go

[2020-02-13 19:18] matzew commented on #2401
Proposal to TOC for renaming:

https://docs.google.com/document/d/1cSTc9FA9DWS198OOQeUUHOicnvM0jAQNPMb_Ln297jc/edit#

[2020-02-13 19:26] vaikas commented on #2570
Thanks @n3wscott was just looking up where the short name library stuff was 💪

[2020-02-14 00:04] #2570 closed

[2020-02-14 00:09] ericlem opened #2573 "Define and test expectations for Broker behavior during upgrade"
**Problem**
We want to clearly define and verify the behavior of brokered event flows during upgrade, not just pre and post upgrade so we can give consumers a better overall description of expected behavior at all times.

There has been some work to add tests for upgrade and downgrade and this work has indicated there may be some issues in these areas. (https://github.com/knative/eventing/issues/2

[2020-02-14 00:10] ericlem commented on #2573
/assign

[2020-02-14 01:24] grantr commented on #895
I'm considering this a dupe of #1740 and #1861 and closing in favor of #1740.

/close

[2020-02-14 01:24] #895 closed

[2020-02-14 01:26] grantr commented on #1708
@ian-mi has volunteered to take over the followup on this.

/unassign @n3wscott
/unassign @grac3gao
/assign @ian-mi

[2020-02-14 01:47] grantr commented on #1500
All linked issues/PRs have been closed or merged. I'm calling this one done but please reopen if not.

/close

[2020-02-14 01:47] #1500 closed

[2020-02-14 02:12] nachocano commented on #2551
I'm seeing a problem with the dependency annotation in the trigger.
The trigger is not becoming ready after a source which the trigger depends on becomes ready...
Steps to reproduce:

1. Create a Trigger with a dependency annotation

[code]
Will be marked with DependencyDoesNotExists

2. Create the Source with

[code]

The source is created, it becomes ready but the Triggers stays Ready=False, Dep

[2020-02-14 02:50] grantr commented on #2493
ConfigMapPropagation was added to fix #1758. That issue explains the problem and describes proposed solutions. Community members including @n3wscott and @lionelvillard are recorded as recognizing that #1758 is valid and approving the approach of a controller copying configmaps between namespaces. I'm happy to argue about whether ConfigMapPropagation is the right solution, but that doesn't seem to

[2020-02-14 05:35] vaikas opened #2575 "DependencyNotFound not reconciled correctly after dep comes up"
**Describe the bug**
Create a trigger with a dependency to a source that doesn't exist. Trigger is marked correctly as not having a dependency, but after creating the dependency, the Trigger does not get reconciled correctly. Reported in #2551 https://github.com/knative/eventing/issues/2551
by @nachocano

 **Expected behavior**
After creating the missing dependency, the Triggers gets reconciled to

[2020-02-14 06:02] #2575 closed

[2020-02-14 14:17] vaikas opened #2580 "Mismatch between subscription and underlying channel"
There's been a lot of flakiness as of late, and as part of tracking it down, jotting down some of the things that I've seen happen. This happens typically with the many trigger tests. Here's typically what happens in those cases, the subscription thinks it's in a good state, IMC does not have the subscription and Trigger does not come ready because subscription is actually not ok.

Here's an examp

[2020-02-14 14:18] vaikas commented on #2551
https://github.com/knative/eventing/issues/2580
There's been lots of flakiness as of late, could use some more 👀 on this issue.

[2020-02-14 14:21] vaikas commented on #2580
Forgot to mention that looking at the IMC logs, there are tons of messages about updatestatus failures due to concurrent writes.

[2020-02-14 16:02] sbgreene1307 opened #2581 "Disabling Knative Eventing Tracing Breaks Istio Tracing"
**Describe the bug**
If you disable knative-eventing tracing via config-tracing, you break istio sidecar tracing. For a sampled request, you will see spans from all sidecar request (inbound and outbound) up to the point of the inbound request to the sidecar of broker ingress pod.

 **Expected behavior**
Disabling knative-eventing tracing doesn't break traces from istio sidecars.

 **To Reproduce**

[2020-02-14 17:20] lionelvillard commented on #2580
Right and then it fails because of the default controller rate limiter (15 failures wait 163s for next retry).

Both the subscription controller and the in-memory controller are modifying the channel status. Maybe only one controller should do it.

[2020-02-14 17:30] grantr commented on #2580
IIUC the subscription controller shouldn't be modifying the channel status. It should only be modifying the spec.

[2020-02-14 17:55] nachocano opened #2582 "Add E2E test for DependencyAnnotation in Triggers"
**Problem**
In order not to regress the dependencyAnnotation functionality, we need an e2e test that first creates a Trigger with the dependency annotation, and then the source. Both should become ready...

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
An e2e test to avoid regressions on the dependency annotation functionality

**Ti

[2020-02-14 18:33] lionelvillard commented on #2580
ah yes you are right :-) Same problem though, right?

[2020-02-14 18:55] grantr commented on #2580
Yes :)

[2020-02-14 19:35] #2171 closed

[2020-02-14 19:42] aslom commented on #2153
@zroubalik I used your suggestion with minor modification for class as prefix in annotation field name:
[code]

Details in https://github.com/knative/eventing-contrib/pull/886/commits/aa0079ada03535521e0896b2e125d536b365ac5a

[2020-02-14 19:45] aslom opened #2584 "Define scaling annotations for eventing"
**Problem**
Knative serving provides [annotations](https://github.com/knative/serving/tree/master/docs/scaling) and we should consider using them for eventing to keep serverless consistent scaling configuration for Knative users

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
Event consumer
System Integrator
Contributors

**Exit

[2020-02-14 19:46] aslom commented on #2584
As a first proposal please consider:

[code]

It reuses `autoscaling.knative.dev/minScale` and `autoscaling.knative.dev/maxScale` from Knative Serving and class extension mechanism to add optional KEDA specific parameters

[2020-02-14 19:51] aslom commented on #2584
I think having consistent annotation across Serving and Eventing for autoscaling is big win for serverless developer experience in Knative. And in Eventing to have scaling configuration work for all data plane objects starting with sources, then channels and brokers.

[2020-02-14 19:55] nachocano commented on #2584
hmm not sure if we should be using autoscaling...
For serving folks, having autoscaling.knative.dev/class:
keda.autoscaling.knative.dev, would mean that there is a podautoscaler
configured that uses keda, and that is not the case. It might be
confusing...

maybe couple this to sources?
    sources.knative.dev/minScale: "0"
    sources.knative.dev/maxScale: "10"
    sources.knative.dev/autoscalerCl

[2020-02-14 23:30] grac3gao commented on #2582
/assign

[2020-02-18 05:17] nachocano commented on #2584
Actually, I may take this back... Might need something similar for channels for example, so coupling it with sources might not be the right thing to do...

[2020-02-18 13:05] L-Angel commented on #2544
i encountered the same problem

[2020-02-18 15:01] n3wscott commented on #2499
I would expect users to use SinkBinding if they are coding something. And I would expect Contributors to leverage SinkBinding in their source implementation as an internal detail.

[2020-02-18 15:42] vaikas commented on #2580
What I find extremely odd is that the Spec is empty for subsribers. So even if updatestatus fails, seems odd that there's no subscriptions marked despite the generation indicating that 16 updates to the spec have been done.

[2020-02-18 17:08] n3wscott commented on #2584
I think there are some levels of control that you want to have the knobs (like our Queue sources) and others where the controller knows it is a bad idea to scale in some way (like strict quotas on an API).

Have a think about what that might look like for the resources in question and ask if it makes sense for each of them to be able to control KEDA or whatever in this way. I suspect that the high

[2020-02-18 17:31] grac3gao opened #2594 "Use ChildName for the copy ConfigMap name in ConfigMapPropagation"
**Problem**
Use ChildName for the copy ConfigMap name in ConfigMapPropagation and move the `knative.dev/config-original` label to an annotation to avoid length or character restrictions. The new annotation will be used to get the original ConfigMap name as the replacement of https://github.com/knative/eventing/blob/e26ca3e23fc4b3f2decfe6f4f3059c09b1696045/pkg/reconciler/configmappropagation/config

[2020-02-18 18:59] duglin commented on #891
@n3wscott we can close this now, right?

[2020-02-18 19:47] grantr commented on #2296
Is this resolved by the generated reconcilers?

[2020-02-18 21:25] ian-mi commented on #2499
+1 to a Source-style name.

I believe SinkBinding puts the focus on the wrong place, on what the resource does vs. what it is. This makes it non-obvious that it is meant to be a source without reading the documentation.

SinkBinding provides a contract for creating sources, and that contract so happens to involve a sink binding. However binding a sink is not unique to SinkBinding, every Source mus

[2020-02-18 23:37] grantr commented on #1777
/assign @liu-cong

[2020-02-19 00:30] #2582 closed

[2020-02-19 00:33] grantr opened #2597 "Add at-least-once semantics to the default channel implementation"
**Problem**
InMemoryChannel is a bad default channel. It delivers at most once, and it loses all queued messages on restart. IMC as a default might have been fine for early-stage prototyping, but we've always acknowledged it's wrong for (most) actual workloads. As we change our Knative Eventing marketing from "don't run this alpha" to "ready for feedback beta" we should also upgrade our default im

[2020-02-19 00:40] bskaplan commented on #2597
/assign

[2020-02-19 04:59] #1953 closed

[2020-02-19 17:18] lberk commented on #2523
While we might not want to test all of eventing-contrib on every single eventing commit, It would be advantageous to make sure we're able to tie the breakage back to a potential commit (both for diagnosis purposes as well as potential ownernship for the necessary fixes)

[2020-02-19 19:07] aslom opened #2603 "Update documentation process in CONTRIBUTING.md"
**Problem**
User facing eventing  documentation (knative.dev/docs and https://knative.dev/docs/ ) is not in sync with knative releases in partiular sample code.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributors

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.
Contributors know what is expected to subm

[2020-02-19 19:08] aslom commented on #2603
As a solution it was proposed that for user facing PRs rto equire opening docs issue. And maybe to put milestone on docs issue so we know what release it would apply to?

[2020-02-19 19:32] aslom commented on #2603
@grantr @lionelvillard @vaikas @n3wscott opened PRs to describe need ot open docs issue for user facing PRs https://github.com/knative/eventing/pull/2604
and added section to DEVELOPMENT for contribution as it is easy to miss otherwise (I did miss it ...) https://github.com/knative/eventing/pull/2605

[2020-02-19 23:12] n3wscott opened #2609 "Handwritten OpenAPI in Eventing missed fields."
**Describe the bug**
As we migrate to v1beta1 and conversion webhooks, we are finding a lot of places where the openapi was not kept in-sync with what the shape of the type should be. The new default in the api server is to drop unknown fields unless `x-kubernetes-preserve-unknown-fields: true` is added to all objects that are not correct.

 **Expected behavior**
The OpenAPI inside of our CRDs is

[2020-02-19 23:16] n3wscott commented on #2609
Also note that in https://github.com/knative/eventing/pull/2554 I had to update almost all OpenAPIs to be _valid_ for the k8s API Server.

[2020-02-19 23:20] grantr commented on #2609
Big :+1: to OpenAPI schema generation. An incorrect schema is worse than no schema.

In the short term, I would be fine with removing any or all OpenAPI specifications until we have a generation solution. I believe from the user's perspective there's no behavior change since our webhooks validate object schemas based on the Go types. The other use case I know of for the OpenAPI schemas is generati

[2020-02-19 23:26] nachocano commented on #2609
Note that tooling might be using the schema. I'm almost sure we are using
it in gcloud, but mainly for google sources. Maybe the kn cli is using some
of the ones in core, not sure...
If it doesn't break things, I'd rather not remove it for now if possible.

And also a big 👍 for schema generation

On Wed, Feb 19, 2020 at 3:20 PM Grant Rodgers <notifications@github.com>
wrote:

[2020-02-19 23:43] n3wscott commented on #2609
Note: it is not valid today so even if tooling is using it, that tooling is using wrong schema... Seems like less of a bug to remove it.

[2020-02-19 23:47] n3wscott commented on #2609
@nachocano if gcloud cares about the schema then you should look at schema generation.

[2020-02-19 23:51] nachocano commented on #2609
yeah, but it all boils down to priorities...

On Wed, Feb 19, 2020 at 3:47 PM Scott Nichols <notifications@github.com>
wrote:

[2020-02-20 01:31] vaikas opened #2610 "Make Implementation channel the source of truth."
**Describe the bug**
Today we have channels.messaging.knative.dev which is used to create channels where a user does not have to care what the underlying channel implementation is. You create a channel and it creates a backing channel based on defaults, so that's all cool.

There's a Subscription, where in subscription.spec.channel you specify which channel to create subscriptions to. This part ag

[2020-02-20 05:22] vaikas commented on #2296
Yes, genreconcilers handle it properly.

[2020-02-20 05:22] #2296 closed

[2020-02-20 11:26] johanbrandhorst commented on #2409
Could this be because the `Host` header is not set in the request from the `Trigger`? I've been debugging a similar issue, and I know that my knative services are not being woken unless the Host header is set correctly.

[2020-02-20 13:31] lionelvillard commented on #2409
What's your environment? Did you configure istio with cluster-local-gateway?

[2020-02-20 13:35] johanbrandhorst commented on #2409
Not OP, but my environment uses `gloo` and an AWS LoadBalancer with a URL - not an IP as appears in the installation docs: https://knative.dev/docs/install/knative-with-gloo/#configuring-dns. My LB:
[code]

Trying to curl the knative services URL directly gives a 404, but specifying a host header works. I'm currently debugging whether allowing the trigger to specify the host header fixes my issue

[2020-02-20 13:40] #2603 closed

[2020-02-20 16:36] vaikas commented on #2610
As discussed on 2020-02-20 Delivery working group meeting, we'll proceed with this plan.

[2020-02-20 16:38] aslom opened #2614 "Document data plane delivery contract for eventing"
**Problem**
Knative eventing users should have one place to find what is supported for eventing delivery to user provided components that act as sinks to eventing producers (sources, channels, brokers). We also should link to one document from eventing components specifications to increase consistency (for example what versions of CloudEvents are supported across components)

**[Persona:](https://

[2020-02-20 19:39] #2302 closed

[2020-02-20 19:43] vaikas commented on #2597
I'd suggest that we look at something like Kafka or some other existing channel implementations, and focus on:
 - making the installation easy (strimzi for kafka for example)
 - document the limits that you get "out of the box" without having to go learn about the underlying implementation

[2020-02-20 21:51] aslom commented on #2614
I created initial version for data plane eventing contract.

There are few issues that need to be addressed

CloudEvents version supported - especially 0.2 that is now allowed for Sources so it should be added as requirement for Sinks?

Content modes - to fully support "HTTP Protocol Binding for CloudEvents" means that Batch Content Mode MUST be supoprted by Sinks (Addressable or Callable)?

Are a

[2020-02-21 08:20] kunal-kushwaha commented on #1645
@grantr : I think 4 spaces and indenting list items for all should be fine. Let's decide on the style so that a PR can be made.

[2020-02-21 14:28] #2610 closed

[2020-02-21 15:42] lionelvillard commented on #2609
we should be able to leverage the work that has already been done in https://github.com/kubernetes-sigs/controller-tools

[2020-02-21 17:50] liu-cong commented on #2493
[Hierarchical Namespace Controller (HNC)](https://github.com/kubernetes-sigs/multi-tenancy/tree/master/incubator/hnc) seems to be a promising solution. Reasons for it:
* We don't have to maintain the CMP logic and argue about where it should go
* HNC can propagate not only configmaps, but also RBAC, secrets, and more. Of course these are all configurable
* HNC comes from a "multi-tenancy" angle. I

[2020-02-21 18:05] alexander-alvarez commented on #2544
I'm getting this on a kubernetes cluster when trying to install the `kafka-source.yml`
Istio `1.4.5`
knative source and eventing: `0.12`

[2020-02-21 18:24] grantr commented on #2544
@mattmoor looks like no, and maybe not 0.13 either unless we act fast: https://github.com/knative/eventing/issues/2350

[2020-02-21 18:27] grac3gao opened #2624 "Broker can't recreate once get deleted"
**Describe the bug**
Deleting the default broker (namespace has label `knative-eventing-injection=enabled`), it can't recreate a new broker

 **Expected behavior**
namespace reconciler should recreate a new broker

 **To Reproduce**
1. label namespace with `knative-eventing-injection=enabled`
2. Wait for the default broker beacome ready
3. Delete default broker
4. No new default broker created

 *

[2020-02-21 18:27] grac3gao commented on #2624
/assign

[2020-02-21 18:31] nachocano commented on #2499
We agreed to reach a conclusion by end of this week. Here is the vote summary I compiled from the issue (correct me if I'm wrong):

yeays: @nachocano , @rhuss, @matzew, @lionelvillard, @ian-mi
nays: @n3wscott, @mattmoor

Split decision, but it seems that the majority of folks prefer a name consistent with the way we've been using to name Sources (i.e., XSource), considering that we are presenting

[2020-02-21 18:41] nachocano commented on #2499
/assign

[2020-02-21 18:42] liu-cong commented on #2350
/assign

[2020-02-21 19:08] lionelvillard commented on #2499
Well it's not a Source, this is a component helping source developers to easily write their own source.

@n3wscott Is that the right way of phrasing it?

[2020-02-21 19:11] nachocano commented on #2499
I agree it's not a Source, so I think we shouldn't advertise it as a "core" Source. For me the core ones are:
ApiServerSource
PingSource
ContainerSource (which IMO shouldn't have been deprecated)

and then we present SinkBindings as a construct to build other powerful sources

[2020-02-21 19:11] n3wscott commented on #2499
It is a component that understands the control place runtime contract of Source and applies that to a container.

It being a Source lets things like https://github.com/n3wscott/graph understand that a custom source that a dev writes with a [deployment + sinkbinding] LOOKS like a source, but is not alone. This is the same role as ContainerSource except now we do not limit to just deployments.

[2020-02-21 19:15] n3wscott commented on #2499
It is a Source duck. It really is. It is not enough alone to be an event producer, it needs the custom code.

ContainerSource was a nice idea to start and it ends up being too much baggage for us to carry. The amount of feature creep needed to make ContainerSource correctly.

[2020-02-21 19:19] n3wscott commented on #2499
I think SinkBinding could be moved to a `binding.knative.dev` group and remain a source ducktype.

It should not be renamed to XXXSource just because it implements that duck.

[2020-02-21 19:20] bskaplan commented on #2597
Trusting users to read the documentation and see that the default install of eventing is in not well suited for production use is not exactly a great experience. I don't think documentation is sufficient- we should either require users to explicitly choose a channel implementation or have a default channel that can reasonably be used in production, at least for small scale systems.

[2020-02-21 19:24] n3wscott commented on #2350
@vaikas added this to pkg weeks ago.

[2020-02-21 19:27] nachocano commented on #2499
+1 (for me this is another way of saying we are not going to advertise SinkBinding as a core Source)

[2020-02-21 19:30] nachocano commented on #2499
No, it should not. I think it should be named XXXSource if we are going to present it as a core Source, which it seems that we are finally agreeing that is not :)

[2020-02-21 19:34] n3wscott commented on #2499
The only thing that matters is Eventing, which includes `knative/eventing-contrib`.

I do not know what you mean by "advertised" as a Source.

We do not agree.

[2020-02-21 19:38] nachocano commented on #2499
I see

[2020-02-21 19:40] nachocano commented on #2499
Say for example to put it as the same level than ApiServerSource and PingSource.

[2020-02-21 19:48] n3wscott commented on #2499
It is as useful or maybe more useful than `ApiServerSource` or `PingSource`.

[2020-02-21 20:08] vaikas commented on #2597
You still have to somewhere define what "production use" means. There are some bounds and they should be documented. Just like in Serving, there comes a point where you have to tweak some knobs and slide some sliders.
But, I think we agree on the goals. My worry is that we should probably not be in the business of trying to create a persistent channel implementation and instead use something that

[2020-02-21 20:21] bskaplan commented on #2597
It looks like someone already did:

https://knative.dev/docs/eventing/channels/channels-crds/

And yeah, the idea is not to write a whole thing from scratch. I'm looking at sticking sequential keys in an embedded database and reading from the top just so we can resume processing in the event of a pod restart.

[2020-02-21 22:04] #2624 closed

[2020-02-21 22:13] nachocano opened #2629 "Filter namespace controller calls based on eventing annotation"
**Problem**
Now that an [annotation filter function](https://github.com/knative/pkg/blob/3a272190c3e22b5b9fc5508a8fe255b5a1510389/reconciler/filter.go#L22) is available in pkg, we should use it in the namespace reconciler to avoid [unnecessary calls](https://github.com/knative/eventing/blob/43a5ee288d9bd241809959867f204120f56c882a/pkg/reconciler/namespace/namespace.go#L102)

**[Persona:](https://g

[2020-02-21 22:13] aslom commented on #2614
Interesting discussion in PR about what MUST and what SHOULD be supported: https://github.com/knative/eventing/pull/2618#pullrequestreview-362586214

I think we need to be very precise what is absolutely required (MUST) for every Sink? And what is optional (SHOULD) and then what happens is Sink does not support something but an eventing component tries to use functionality in Sink?

[2020-02-21 22:16] aslom commented on #2614
For example if for some reason Sink only supports Structured Content Mode?

[2020-02-23 07:05] coryrc commented on #1894
Two solutions (not mutually exclusive) are available:

1. Use `gotestsum` instead of go-junit-reporter
2. Open a separate log file: https://github.com/knative/pkg/blob/a2e3b66654c1bcd82df07f8b4c45b19bad7ab21a/test/logging/logging.go#L154

[2020-02-23 07:06] coryrc commented on #1894
@aslom @grantr was referring to pkg#907; that is my "solution #2" in the previous comment.

[2020-02-23 09:46] johanbrandhorst commented on #2266
This also seems to be a problem with the default installations using gloo installed using https://knative.dev/docs/install/knative-with-gloo/.

[2020-02-24 06:07] Divya063 commented on #2629
I would like to work on this issue.

[2020-02-24 13:00] lionelvillard commented on #2629
/assign @Divya063

[2020-02-24 17:53] lionelvillard opened #2633 "Subscription deletion stuck when channel is deleted first"
**Describe the bug**
Subscriptions cannot be deleted when its associated channel is deleted first. The finalizer is not removed.

 **Expected behavior**
Subscriptions deletion should succeed.

 **To Reproduce**
1. Create an in-mem channel
2. Create a subscription pointing to the channel above
3. Delete channel
4. Delete subscription -> stuck!

 **Knative release version**
master

 **Additional con

[2020-02-24 18:59] grantr commented on #2633
Do these controllers use generated reconcilers? cc @n3wscott

[2020-02-24 19:19] lionelvillard commented on #2633
yes.

[2020-02-24 22:18] lionelvillard opened #2636 "check eventing.knative.dev/scope is not modified"
**Problem**
eventing.knative.dev/scope can be modified and it should not until we properly test that switching from ns to cluster and vice-versa preserves guarantees (like ordering, etc...)

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been r

[2020-02-24 22:44] lionelvillard opened #2637 "trim down permissions when in-mem ns-scoped dispatcher is disabled."
**Problem**
- the in-mem ns-scoped dispatcher feature cannot be disabled.
- when the in-mem ns-scoped dispatcher is disabled, the controller is given too much permissions (write access on SAs and rolebindings)

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
operator

**Exit Criteria**
A measurable (binary) test that would indicat

[2020-02-25 02:40] n3wscott opened #2641 "Flakes in Subscription test when using Channel."
**Describe the bug**
Sometimes Channel tests flake when using Channel. When the Channel goes ready the subscription is sometimes not reconciled.

 **Expected behavior**
Subscriptions go ready for ready channels.

 **To Reproduce**
Try Channel based e2e test a few times.

 **Knative release version**
post 0.12, pre-0.13: master.

 **Additional context**
This is likely caused by the channelTracker c

[2020-02-25 04:11] #2641 closed

[2020-02-25 14:16] matzew opened #2642 "RBAC issue with configmappropagations"
**Describe the bug**

Running HEAD on openshift, I get:

[code]

 **Expected behavior**

before the `configmappropagations` work, this worked ;-)

/cc @grac3gao
/cc @grantr

[2020-02-25 15:49] slinkydeveloper opened #2643 "CronJob event source attempts to invoke zipking when not needed"
**Describe the bug**
CronJob event source attempts to invoke zipkin even when `config-tracing` ConfigMap is left empty

 **Expected behavior**
CronJob event souce should not attempt to invoke zipkin

 **To Reproduce**
Steps to reproduce:

* Create a knative service
* Create a cronjob source using a knative service as a sink, eg with kn: `kn source cronjob create my-cron  --schedule "* * * * */1" -

[2020-02-25 16:00] sciamp-dev commented on #2643
Hello, I'm a student looking forward to partecipate in this year GSoC with JBoss/Knative.
I'd like to work on this :)

[2020-02-25 16:00] sciamp-dev commented on #2643
/assign

[2020-02-25 16:26] aslom commented on #923
That could may be addressed with vertical scaling? Did anybody try using VPA with Knative eventing controllers?
https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler
https://github.com/knative/serving/issues/2929

[2020-02-25 17:05] liu-cong opened #2644 "Document how to opt in/out sinkbinding webhook"
**Expected behavior**
Document how to use #2634

[2020-02-25 17:13] liu-cong commented on #2644
/assign

[2020-02-25 17:20] liu-cong commented on #2644
oops, wrong place
https://github.com/knative/docs/issues/2246

[2020-02-25 17:20] #2644 closed

[2020-02-25 18:31] n3wscott opened #2647 "e2e test needed for PingSource at v1alpha2"
Can you create the accompanying issues for docs + e2e tests?

_Originally posted by @vaikas in https://github.com/knative/eventing/pull/2607#issuecomment-590979117_

/assign

[2020-02-25 19:10] grantr commented on #1025
/close

Fixed by #2473

[2020-02-25 19:10] #1025 closed

[2020-02-25 21:40] ian-mi commented on #1708
I've verified that trace IDs are now propagated.

[2020-02-25 21:56] ian-mi opened #2648 "Broker Output Spans do not Descend from Input Spans"
**Describe the bug**
Broker output spans are not descendants of the input span, causing traces to appear as multiple disconnected groups of spans.

 **Expected behavior**
Traces through a broker should appear as a single connected tree.

 **To Reproduce**
Enable trace output in eventing and send an event to a broker with trace headers set.

 **Knative release version**
0.12

[2020-02-25 22:17] #2350 closed

[2020-02-25 22:24] ian-mi commented on #1708
/close

[2020-02-25 22:24] #1708 closed

[2020-02-26 08:07] ryandawsonuk opened #2652 "Switching on and off Istio sidecars"
Here’s my scenario. I setup a cluster with istio and knative eventing. To begin with istio sidecar injection is on in knative and default namespaces. I have a broker and trigger in the default namespace and the trigger is for a k8s service. Messages go through the broker and reach the service. I then turn off sidecar injection on the default namespace and delete all pods in default (so they come b

[2020-02-26 13:10] vishaltak commented on #1573
@lionelvillard - I added the DLQ config to my Broker(backed by Kafka). I created another trigger which routes it to a KService which uploads the event to S3(let's say upload-service). When I send an event to the Broker(from inside a Pod by executing a curl), the event is uploaded to S3 and the Kafka Topic "last offset" and "consumer offset" are in sync(as expected).

I then added a bug in upload-s

[2020-02-26 14:02] #2642 closed

[2020-02-26 14:32] matzew commented on #2551
I can confirm that _this_ issue, reported here by @nachocano

https://github.com/knative/eventing/issues/2551#issuecomment-586063937

is no longer, w/ HEAD ...

/cc @vaikas

[2020-02-26 14:33] lionelvillard commented on #1573
@vishaltak Thanks! I'll take a look at it.

[2020-02-26 15:57] #2647 closed

[2020-02-26 16:56] aslom commented on #2584
Based on two experimental implementations (Kafka and @nachocano  gcp) I have documented annotations used in PR https://github.com/knative/eventing/pull/2655

[2020-02-26 16:59] aslom opened #2656 "Document what versions of CloudEvents HTTP binding are supported"
**Describe the bug**
Currently we support HTTP Protocol Binding for CloudEvents 0.3 and 1.0 (in channels and brokers) and maybe 0.2 (in sources)

 **Expected behavior**
Document what is supported and have one place document what MUST be supported

 **To Reproduce**
Read docs for channels and sources [Source Delivery specification](https://github.com/knative/eventing/blob/master/docs/spec/sources.m

[2020-02-26 17:01] aslom opened #2657 "Document HTTP methods supported in Knative eventing"
**Describe the bug**
Currently we support HTTP Protocol Binding for CloudEvents but HTTP methods are not defined in it. Currently HTTP POST is what channels are using and I think sources as well

 **Expected behavior**
Document what is supported and have one place document what MUST be supported

 **To Reproduce**
Read docs for channels and sources
[Source Delivery specification](../spec/sources.m

[2020-02-26 17:13] aslom opened #2658 "Document CloudEvent content modes supported in Knative eventing"
**Describe the bug**
Currently we support HTTP Protocol Binding for CloudEvents and it seems `Binary Content Mode` and `Structured Content Mode` MUST be supported in data-plane. However, `Batched Content Mode` may or may not be supported?

 **Expected behavior**
Document what is supported and have one place document what MUST be supported

 **To Reproduce**
Read docs for channels and sources - Bat

[2020-02-26 17:25] aslom commented on #2614
Opened issues to document what is supported in data-plane ^^

[2020-02-26 19:00] aslom opened #2660 "Require go 1.14 and use go modules"
**Problem**
Vendor directory is very time and energy consuming and make reading PRs much harder
Go 1.14 arrived and modules are ready for production: https://blog.golang.org/go1.14
with modules support:
https://golang.org/doc/go1.14#introduction
https://golang.org/doc/go1.14#tools

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
Vendo

[2020-02-26 21:10] aslom commented on #2660
Based on discussion in slack it seems that main blocker is codegen. However, k8s may alreayd solved it with https://github.com/kubernetes/sample-controller/blob/master/hack/update-codegen.sh

[2020-02-26 21:21] dprotaso opened #2661 "Some eventing types are setup for conversion (in webhook/main.go) but the webhook client config is missing in the CRD definitions"
**Describe the bug**
Saw this in the webhook logs

`
{"level":"error","ts":"2020-02-26T19:32:02.959Z","logger":"eventing-webhook","caller":"controller/controller.go:409","msg":"Reconcile error","commit":"41562ab","error":"custom resource \"eventtypes.eventing.knative.dev\" isn't configured for webhook conversion","stacktrace":"knative.dev/eventing/vendor/knative.dev/pkg/controller.(*Impl).handleEr

[2020-02-27 08:08] slinkydeveloper opened #2664 "Use new cloudevents/bindings in In Memory Channel dispatcher"
**Problem**
Now the InMemoryChannel dispatcher uses the `Client` APIs of cloudevents/sdk-go

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
InMemoryChannel dispatcher uses only the [bindings](https://github.com/cloudevents/sdk-go/tree/master/pkg/binding) APIs of cloudevents/sdk-go

**Time Estimate (optional):**

[2020-02-27 10:42] cardil opened #2665 "[regression] Upgrade to latest breaks receiving events or produce event doubles"
**Describe the bug**

In PR #2388 I was observing a couple (~2%) of lost events during upgrade & downgrade. Recently (after merging master) I see that after doing upgrade to latest **all subsequent** events sent to default broker were lost.

[code]

Such error can be seen here: https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_eventing/2388/pull-knative-eventing-integration-tests

[2020-02-27 12:12] JosepSampe opened #2666 "Some events are lost on the path"
**Describe the bug**
By using the InMemoryChannel some events are lost and never reach the final service.

 **Expected behavior**
No events should be lost

 **Knative release version**
<= v0.12.1

 **Additional context**
In my use case, I have an external Kafka deployment (on VMs), and I use the kafkaEventSource to poll those events and send them to an internal knative service. To do so I use an I

[2020-02-27 13:56] lionelvillard commented on #2664
Sounds very interesting! @slinkydeveloper do you have a document/slides describing what's the binding API?

[2020-02-27 14:10] slinkydeveloper commented on #2664
I'm working on it, I have to document it first in cloudevents/sdk-go project and then I'll try to create to explain how to use them in eventing.

[2020-02-27 15:45] dsimansk opened #2668 "Subscription finalizer is blocking namespace deletion"
**Describe the bug**
The issue started to manifest itself in knative/client E2E tests running against nightly releases. The tests prepare namespace with labe to inject broker, create, update, delete triggers and finally teardown method deletes the testing namespace. However, the namespace is stuck in terminating state with `subscription` resources left there.

E2E tests [log dump](https://storage.

[2020-02-27 15:59] aslom commented on #2154
I have wrote down ideas about re-usable components for channels / delivery
https://docs.google.com/presentation/d/1KxWNXrMki2JgC-D92cuWuedR77fh4ZGODHrW-XNgwR4/edit?usp=sharing

[2020-02-27 16:11] mikehelmick commented on #2666
The in memory channel does not guarantee delivery and is not a recommended choice for production workloads. It also doesn't have the requisite scaling capabilities built in to handle this kind of throughput.

In this case - have you considered making the sink of the KafkaEventSource be the consuming service itself.

[2020-02-27 16:19] JosepSampe commented on #2666
@mikehelmick Yep, I already tested my service as the sink of the KafkaEventSource, however the performance (events /seconds) is reduced by ~2x

By using the IMC (CPU limit set to 1500m (no event is lost)) I get ~1075 events/second
By using my service as sink of the KafkaEventSource I get ~535 events/second

[2020-02-27 16:25] slinkydeveloper commented on #2154
@aslom for what regards kafka channel, I already wrote a document a while ago about it with a complete plan, and i'm working on it now: https://docs.google.com/document/d/1ve1pAfs1uPRQVi8VxrUbpchrbSf7S3N2_seoIU9XBx4/edit?usp=sharing

[2020-02-27 16:34] aslom commented on #2154
@markfisher shred link to diagram from previous discussion this topic: https://docs.google.com/drawings/d/1muhTBFfzuV1JrEEj-6hmWLWFjk7Sq-Khb6jC1q_hOM4/edit

[2020-02-27 16:41] matzew commented on #2584
I am a bit worried that here in eventing we "just" leverage KEDA, for autoscaling, and (re)using same annotations that the autoscaler in serving uses.

I'd rather like to see some way of integrating both, and than defining APIs here, for usage.

I fear a bit of are just adding KEDA here, but are leaving our own knative autoscaler from serving.

Perhaps there is interest in having some deeper integ

[2020-02-27 16:56] matzew commented on #2656
Can we agree that we support 0.3 and 1.0 (recommended) ?

Channel should, either
* not allow 0.2 or lower
* be more lenient to older versions, and warn ?

Should sources really emit 0.2? If we have "just" source->service, IMO no big deal....
but if we say channels support only 0.3/1.0 - than this might be a problem

thoughts?

[2020-02-27 17:10] matzew commented on #2658
I think one reason why we have no BATCH yet, is that it is currently very verbose?

https://github.com/cloudevents/spec/blob/master/http-protocol-binding.md#33-batched-content-mode

[2020-02-27 17:32] markfisher commented on #2154
That doc might be confusing given the scope/granularity of Channel today. Basically a Channel in the current model would encompass all of the components between the 2 yellow Service boxes in that diagram. The purpose of the diagram (as well as I can recall) was to propose that "channel" could be a much simpler-scoped, lower level building block that acts only as a way to read and/or write Cloud Ev

[2020-02-27 17:57] vaikas commented on #2665
Thank you!!!
From the logs, there are all kinds of errors (can't mount volumes, etc.) and it's tricky to see the end state of the objects during the failure. Would it be possible to add use of Tracker for the created resources (like in the eventing e2e tests for resources created), so we can see the status of all the objects on a failed test.

[2020-02-28 00:02] TristonianJones commented on #2460
Regarding Triggers, [Tekton](https://github.com/tektoncd/triggers) implemented CEL-based triggers using the [Knative filtering proposal](https://github.com/knative/eventing/blob/master/docs/broker/filtering.md#examples) from @grantr as a reference. FYI @wlynch

[2020-02-28 01:34] mattmoor commented on #2584
cc @vagababov too

I think I'm missing some context here.  Who wants to fill me in so I can help? 🤓

[2020-02-28 10:27] cardil commented on #2665
What is totally strange is that latest changes in #2388 are now back to reporting an only couple of missing events instead of dropping all subsequent.

Somehow described here behavior must be lurking somewhere between 206b8ea...daed3c3

[2020-02-28 11:35] cardil commented on #2665
I notice that after tests there are left the 2 triggers I create, and a default broker. All of them should be deleted by test, but they have `finalizers` field that prevents them to be deleted. Removing the field, release them.

[2020-02-28 13:28] dsimansk commented on #2668
I managed to reproduce the behaviour with plain yamls also:

1. Minikube with latest nightly preinstalled
2. Apply following cmds
[code]
3. Check `kubectl get all` that there's only `sub` resource left ([whole yaml](https://gist.github.com/dsimansk/cdab1faac0a580886b9da4e7061b7b1e))
[code]
4. `kubectl get ns` will display test ns in `Terminating` state
5. After removing the finalizer the stuck sub

[2020-02-28 14:01] lionelvillard commented on #2668
Thanks! It seems to me it's a duplicate of https://github.com/knative/eventing/issues/2633.

[2020-02-28 14:16] dsimansk commented on #2668
Indeed this issue is just another manifestation of the above problem.

@lionelvillard thanks for pointing that out and sorry I should have used search first. :)

/duplicate

[2020-02-28 14:45] matzew commented on #2668
/close

[2020-02-28 14:45] #2668 closed

[2020-02-28 15:16] slinkydeveloper opened #2671 "Convert channel base data structures/interfaces to use cloudevents/sdk-go bindings"
**Exit Criteria**
The following modules contains the base logic used by `InMemoryChannel`, `KafkaChannel` and `NatssChannel`:

* `knative.dev/eventing/pkg/channel`: `EventReceiver`, `EventDispatcher`
* `knative.dev/eventing/pkg/channel/fanout`: `Handler`
* `knative.dev/eventing/pkg/channel/multichannelfanout`: `Handler`
* `knative.dev/eventing/pkg/kncloudevents`

Those should be converted to use t

[2020-02-28 15:17] slinkydeveloper commented on #2664
Depends on #2671

[2020-02-28 15:19] slinkydeveloper opened #2672 "Convert sources base data structures/interfaces to use cloudevents/sdk-go bindings"
**Exit Criteria**
The following modules contains the base logic used by most of sources:

* `knative.dev/eventing/pkg/adapter`: `Main`
* `knative.dev/eventing/pkg/kncloudevents`

Those should be converted to use the [bindings](https://github.com/cloudevents/sdk-go/tree/master/pkg/binding) APIs of cloudevents/sdk-go.
In order to support bindings we need to remove all usages of `cloudevents.Client`

[2020-02-28 15:25] slinkydeveloper commented on #2672
/assign

[2020-02-28 17:51] #2500 closed

[2020-02-28 18:10] cardil commented on #2665
I think that's not true. Sometimes only couple events get lost, but sometimes it totally breaks.

[2020-02-28 19:21] AceHack commented on #2633
How do you work around this issue?

[2020-02-28 19:21] AceHack commented on #2668
How do you work around this issue?

[2020-02-28 19:22] nachocano commented on #2633
/assign

[2020-02-28 19:24] nachocano commented on #2633
@AceHack I was about to start on fixing this...

I guess the workaround is edit the subscription and remove its finalizer manually, and it should get deleted...

[2020-02-28 20:00] matzew commented on #2668
no work ariund, but this is a dup

see comments above.

On Fri 28. Feb 2020 at 20:21, Aaron Stainback <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2020-02-28 23:47] #2633 closed

[2020-02-29 00:22] #2661 closed

[2020-02-29 17:36] #2128 closed

[2020-03-02 08:02] dsimansk commented on #2668
@AceHack
The most straightforward workaround is to remove finalizer, e.g.:
[code]

[2020-03-02 14:57] nlopezgi commented on #2664
I'd like to help with this issue.

[2020-03-02 15:46] n3wscott opened #2681 "Fix ducktype versioning issue with CO annotations with versions?"
/assign @vaikas

We will let this hack in today because we know it will with with known channels, but @vaikas is going to work up something to allow the CO to describe the duck version it supports in annotations. For example:

[code]

Note this is on the CO, not the CRD. So based on the version requested will will require the conversion webhook to update the CO duck label to the correct version fo

[2020-03-02 15:53] slinkydeveloper commented on #2664
/assign @nlopezgi

[2020-03-02 18:24] nachocano commented on #2668
This was fixed last friday here: https://github.com/knative/eventing/pull/2676.
Pull latest master and it should work

[2020-03-03 01:13] #2681 closed

[2020-03-03 09:10] #2306 closed

[2020-03-03 12:04] knative-test-reporter-robot opened #2685 "[flaky] test/e2e.TestDefaultBrokerWithManyTriggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDefaultBrokerWithManyTriggers
* **Repository name**: eventing

[2020-03-03 12:04] knative-test-reporter-robot opened #2686 "[flaky] test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_deprecated_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_deprecated_triggers
* **Repository name**: eventing

[2020-03-03 17:09] grantr commented on #2163
/remove-label proposal/0.13
/label proposal/0.14

[2020-03-03 17:09] grantr commented on #2179
/label proposal/0.14

[2020-03-03 17:19] grantr commented on #2239
128 * 8Kb = 1Mb. 8k seems like a really big event to me. 4k might be more reasonable. But I haven't done any research on event size statistics.

[2020-03-03 17:20] grantr commented on #2271
/remove-label proposal/0.12
/label proposal/0.14

[2020-03-03 17:22] grantr commented on #2390
/label proposal/0.14

[2020-03-03 17:23] grantr commented on #2497
/label proposal/0.14

[2020-03-03 17:23] ericlem commented on #2573
/label proposal/0.14

[2020-03-03 17:24] grantr commented on #2671
/label proposal/0.14

[2020-03-03 17:30] #1869 closed

[2020-03-03 17:38] vaikas opened #2689 "channel.spec is out of date, needs to have channelable duck type v1beta1 label, plus udpate spec/status."
**Describe the bug**
https://github.com/knative/eventing/blob/master/docs/spec/channel.md
is out of date. It needs to add a requirement for labeling which duck channelable it conforms to by adding a label: `messaging.knative.dev/subscribable`
For example we do this in v1beta1 inmemorychannel like so:
pkg/apis/messaging/v1beta1/in_memory_channel_defaults.go

 **Expected behavior**
There should be a

[2020-03-03 17:49] #1435 closed

[2020-03-03 17:51] ericlem commented on #1634
/assign

[2020-03-03 17:54] #1758 closed

[2020-03-03 17:59] ericlem commented on #1945
/assign

[2020-03-03 18:01] ericlem commented on #1945
This should be fixed by https://github.com/knative/eventing/pull/2663

[2020-03-03 18:02] ericlem commented on #1945
/label proposal/0.14

[2020-03-03 18:25] grantr commented on #1945
/milestone v0.14.0

[2020-03-03 18:26] grantr commented on #1905
/milestone clear

[2020-03-03 18:27] ericlem commented on #2573
/milestone v0.14.0

[2020-03-03 18:27] aslom commented on #2666
When using Kafka based channel instead of IMC do you loose events?

[2020-03-03 18:27] grantr commented on #1904
/milestone clear

[2020-03-03 18:27] grantr commented on #2271
/milestone 0.14.0

[2020-03-03 18:28] grantr commented on #2573
/milestone v0.14.0

[2020-03-03 18:28] grantr commented on #2271
/milestone v0.14.0

[2020-03-03 18:29] grantr commented on #1976
/milestone v0.14.0

[2020-03-03 18:30] zargarpur commented on #2396
/assign

[2020-03-03 18:30] grantr commented on #2396
/unassign whaught

[2020-03-03 18:52] aslom commented on #2658
Based on CloudEvents SDK go code the batched content is not supported:
https://github.com/cloudevents/sdk-go/blob/b309ba97adf9316d0af17e25b712bb1c34713db6/pkg/cloudevents/transport/http/codec_v1.go#L60

As we use sdk-go then batched content mode is currently not supported in Eventing 0.13 and should be recorded in spec for data-plane as not supported? @matzew @slinkydeveloper

[2020-03-03 18:56] aslom commented on #2657
@matzew @grantr @lionelvillard do yo know about any use of other than HTTP POST method in eventing or eventing-contrib?

By searching code I can see several places where HTTP POST method is only one allowed:
https://github.com/knative/eventing/search?q=POST+method&unscoped_q=POST+method
https://github.com/knative/eventing-contrib/search?q=POST+method&unscoped_q=POST+method

[2020-03-03 19:00] aslom commented on #2656
Only place where I found v0.2 mentioned is in sources spec: https://github.com/knative/eventing/blob/e9c58408bc2d96214f6bfae546466864931cf68b/docs/spec/sources.md

Based on searching:
https://github.com/knative/eventing/search?q=v0.2&type=Code
https://github.com/knative/eventing-contrib/search?q=v0.2&type=Code

Baed on this I propose we remove v0.2 from Sources spec? for 0.14? @matzew @grantr @lio

[2020-03-03 19:01] aslom commented on #2614
I have investigated opened issues and put together recommendations for changes. Please review them. Are there any other issues for data-plane in general and Sink in particular?

[2020-03-03 19:23] aslom opened #2690 "Update Channels spec with information about Reply and Subscribers"
**Describe the bug**
Currently Reply support is not described in Channels spec - users can only find it by following link `spec.subscribable.subscribers` to source code
https://github.com/knative/eventing/blob/master/pkg/apis/duck/v1alpha1/subscribable_types.go

 **Expected behavior**
Reply was described in Channles data-plane part.

 **To Reproduce**
Search for 'reply' in https://github.com/knati

[2020-03-03 19:23] aslom commented on #2690
/cc @matzew @lionelvillard @grantr

[2020-03-03 19:26] aslom commented on #2584
@mattmoor this is part of making eventing sources scalable - you can see whole history and discussion in https://github.com/knative/eventing/issues/2153

[2020-03-03 19:32] aslom commented on #2584
@n3wscott how would you control what knobs/parameters are allowed for autoscaling? Do you have example(s) for it?

[2020-03-03 21:28] akashrv commented on #2221
/assign @bskaplan

[2020-03-03 21:45] grantr commented on #2470
@vaikas can this be closed with #2490?

[2020-03-04 00:03] lionelvillard commented on #2656
sounds good to me.

[2020-03-04 00:18] #2470 closed

[2020-03-04 00:18] vaikas commented on #2470
yep

[2020-03-04 04:26] vishaltak commented on #1573
@paulrossman  Can we have some resources/articles/documentation to fix/bypass this issue before it's closed?

[2020-03-04 08:16] slinkydeveloper commented on #2658
Agree, we should document it

[2020-03-04 11:13] matzew opened #2695 "Trigger now requires a filter"
getting:
[code]
for a trigger like:
[code]
which is pretty much similar to this one from the docs:
https://github.com/knative/docs/blob/e0657a35364a5b462f5681dfa3b267a184a5fd04/docs/eventing/broker-trigger.md#trigger

Also, the types clearly say it is optional: https://github.com/knative/eventing/blob/master/pkg/apis/eventing/v1beta1/trigger_types.go#L77-L78

[2020-03-04 11:40] matzew commented on #2695
I think we want to port the potential fix also to the release-0.13 branch

/cc @grantr @vaikas @lionelvillard

[2020-03-04 12:04] knative-test-reporter-robot opened #2697 "[flaky] _go_tests.DataRaceAnalysis"
### Auto-generated issue tracking flakiness of test
* **Test name**: _go_tests.DataRaceAnalysis
* **Repository name**: eventing

[2020-03-04 12:04] knative-test-reporter-robot opened #2698 "[flaky] pkg/channel/fanout.TestFanoutHandler_ServeHTTP/reply_fails"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/channel/fanout.TestFanoutHandler_ServeHTTP/reply_fails
* **Repository name**: eventing

[2020-03-04 12:04] knative-test-reporter-robot opened #2699 "[flaky] pkg/channel/fanout.TestFanoutHandler_ServeHTTP"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/channel/fanout.TestFanoutHandler_ServeHTTP
* **Repository name**: eventing

[2020-03-04 14:34] #2695 closed

[2020-03-04 14:44] lionelvillard commented on #1573
this is a reasonable request :-) Reopening.

[2020-03-04 15:57] #2689 closed

[2020-03-04 16:44] aslom commented on #2614
Based on https://github.com/knative/eventing/issues/2656 only v03 and v1.0 versions of HTTP Protocol Binding for CloudEvents  are supported and issue to remove v0.2 from Sources spec

[2020-03-04 16:51] aslom commented on #2614
Based on https://github.com/knative/eventing/issues/2657 only HTTP POST is only required HTTP method for Sink

[2020-03-04 16:55] aslom commented on #2614
Based on https://github.com/knative/eventing/issues/2658 `Binary Content Mode` and `Structured Content Mode` MUST be supported in data-plane and `Batched Content Mode` is not supported and not required (it is not supported in sdk-go)

[2020-03-04 17:58] #2312 closed

[2020-03-04 19:05] aslom commented on #2584
Currently it is not clear that push based event sources can use Knative Serving autoscaling annotations without any changes. Going ot modify PR to reflect ithttps://github.com/knative/eventing/pull/2655

[2020-03-04 19:10] aslom commented on #2584
Other unaddressed problem is to be able to provide targeted autoscaling for more complex components such as channels and brokers. For example I may want to have ingress to never scale to zero (when working as ksvc) but for dispatcher part to allow scaling to zero (as scaling deployments replicas form zero may be fast enough with KEDA). In such situation there should be different minScale annotatio

[2020-03-04 19:21] aslom commented on #2584
Updated PR with clarifications about different types of autoscaling and different Knative Eventing objects: https://github.com/knative/eventing/pull/2655/files#diff-9dab640b44f6688997a48fd33f01b501

[2020-03-04 19:54] grantr opened #2704 "Broker conformance test: Control plane"
**Problem**
We need a conformance test of the [Broker control plane specification](https://github.com/knative/eventing/blob/master/docs/spec/broker.md).

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
A conformance test that produces a conformant/non-conformant result and can be applied to any Broker implementation.

**Time Estimate

[2020-03-04 20:02] grantr opened #2705 "Broker conformance test: data plane"
**Problem**
We need a conformance test of the [Broker data plane specification](https://github.com/knative/eventing/blob/master/docs/spec/broker.md).

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
A conformance test that produces a conformant/non-conformant result and can be applied to any Broker implementation.

**Time Estimate (op

[2020-03-04 21:12] aslom opened #2706 "Remove CloudEvents v0.2 from Source spec"
**Describe the bug**
Version 0.2 of HTTP Protocol Binding for CloudEvents should not be described as supported for Knative Event Source

 **Expected behavior**
Only supported versions should be listed

 **To Reproduce**
https://github.com/knative/eventing/blob/e9c58408bc2d96214f6bfae546466864931cf68b/docs/spec/sources.md#source-event-delivery

 **Knative release version**
0.14

 **Additional conte

[2020-03-04 21:14] aslom commented on #2614
Document supported versions in Sources https://github.com/knative/eventing/issues/2706

[2020-03-04 21:27] aslom commented on #1845
/unassign

[2020-03-04 21:28] #2396 closed

[2020-03-04 21:40] grantr commented on #2005
/assign @zargarpur

[2020-03-04 22:00] yolocs commented on #2301
Based on a [poll](https://knative.slack.com/archives/C9JP909F0/p1583343331177400) conducted in slack, this seems to be the wrong time to introduce this change. Thus, I'm closing this issue.

[2020-03-04 22:00] #2301 closed

[2020-03-05 15:51] matzew commented on #1765
Some work is in there: https://github.com/knative/eventing/blob/master/test/conformance/channel_tracing_test.go#L29

[2020-03-05 15:53] matzew commented on #1765
/assign @matzew

[2020-03-05 17:23] JosepSampe commented on #2666
In my use case I have a service (worker) limited to scale to only 1 pod. So seems the problem comes from the fact that If I have only one pod accepting events, and if the `imc-dispacther` has too many CPU resources, the `imc-dispacther` overloads my service, and then at some point after processing most of the events, it starts to produce `504 Gateway Timeout` and `503 Service Unavailable` errors.

[2020-03-05 18:23] aslom commented on #2584
Based on discussion it seems that eventing autoscaling should be made easy to configure per cluster or per domain - added short description and TODO to https://github.com/knative/eventing/pull/2655/files#diff-9dab640b44f6688997a48fd33f01b501

[2020-03-05 18:25] aslom commented on #2666
Thank you for describing it. That is definitely something we should test in future. Can you share your test setup and workload generator? In smaller cluster the problems should be event faster to reproduce?

[2020-03-05 20:02] zargarpur opened #2711 "Specifying Broker's default Channel is not compatible with past configuration"
**Describe the bug**
When creating a Broker, it uses some default Channel implementation.

Previously, this default was specified through the default-ch-webhook ConfigMap. But with the changes in https://github.com/knative/eventing/pull/2651 it references a different ConfigMap and the existing configuration in default-ch-webhook is ignored.

That new configuration defaults to the InMemory channel

[2020-03-05 21:01] vaikas commented on #2711
I think we should have made action required in the release notes and to move the configmap to the new version.

[2020-03-05 21:27] grantr commented on #2711
We should definitely update the release notes. @vaikas can you add the action required bullet?

[2020-03-05 23:09] vaikas commented on #2711
Ok, I added a bullet there, please lmk if it is clear enough. I added to .13 and .13.1.

[2020-03-06 01:26] vaikas commented on #2711
I also went to update the docs, but found this:
https://github.com/google/knative-gcp/pull/608

So, can I close that in lieue of that?
@zargarpur

[2020-03-06 04:13] nachocano commented on #2046
/assign @ian-mi  as I know you've been working on tracing and faced this issue.

[2020-03-06 06:44] #2390 closed

[2020-03-06 12:03] knative-test-reporter-robot opened #2712 "[flaky] pkg/channel/fanout.TestFanoutHandler_ServeHTTP/zero_subs_succeed"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/channel/fanout.TestFanoutHandler_ServeHTTP/zero_subs_succeed
* **Repository name**: eventing

[2020-03-06 12:03] knative-test-reporter-robot opened #2713 "[flaky] test/e2e.TestTriggerDependencyAnnotation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestTriggerDependencyAnnotation
* **Repository name**: eventing

[2020-03-06 12:03] #2698 closed

[2020-03-06 13:43] RikusdeM commented on #2409
Had the same bug for the past day where Knative Serving services where not being resolved on the internal network. After looking at [https://medium.com/google-cloud/cluster-local-issue-with-knative-eventing-v0-9-0-a1fee2215cfe](medium) I managed to solve this issue.
Basically it boils down to
`kubectl apply -f https://github.com/knative/serving/blob/master/third_party/${VERSION}/istio-knative-extr

[2020-03-06 16:12] johanbrandhorst commented on #2409
In my case updating my gloo version fixed the issue.

[2020-03-06 16:49] zargarpur commented on #2711
Sure I'll go ahead and do that

[2020-03-06 16:49] #2711 closed

[2020-03-06 17:51] ericlem commented on #1945
The recordevents pod checked in in https://github.com/knative/eventing/pull/2663 provides an api for retrieving events AND http headers.

[2020-03-06 17:57] ericlem commented on #1945
/close

[2020-03-06 17:57] #1945 closed

[2020-03-06 19:56] lionelvillard opened #2714 "Better error message when PingSource Spec is invalid"
**Problem**
Trying to apply this yaml:

[code]

leads to this error:

[code]

The error message could be more explicit on where is the error (line number would be great) and what are the expected fields.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
event producer

**Exit Criteria**
A measurable (binary) test that would indicat

[2020-03-06 21:03] vaikas opened #2715 "Cluster scoped resources should make a good effort of being unique in the k8s ecosystem"
**Describe the bug**
Some cluster named resources created do not have names that can cause problems with other things running on the cluster.
Basically the same as:
https://github.com/knative/serving/issues/7154

 **Expected behavior**
Installing Knative shouldn't affect the installation of other k8s based projects

 **To Reproduce**

 **Knative release version**
.13

 **Additional context**
Gener

[2020-03-07 00:16] duglin opened #2718 "Support putting infrastrucure outside of user's namespace"
**Problem**

We're running Knative in a managed environment. As such we'd like to hide as much of the infrastructure as possible from the user since they won't be able to manage them - nor do we want them to even see them. For example, when it comes to the user deploying event sources we'd like it so that the only things they see in their namespace are the knService (sink) and the event source CR.