[2020-05-23 18:53] #3189 closed

[2020-05-23 18:53] vaikas commented on #3199
Fixed by #3196

[2020-05-23 18:53] #3199 closed

[2020-05-24 08:19] bvboca commented on #3183
kubectl get configmaps -n knative-eventing

[code]
kubectl describe configmap config-br-defaults  -n knative-eventing
[code]

[2020-05-24 08:30] bvboca commented on #3183
anyone helps, please?

[2020-05-24 11:33] sebgoa opened #3201 "PingSource does not get correct sink"
**Describe the bug**
When running a PingSource whose sink is a k8s service and not a ksvc, the URL for the sink does not seem to have the correct port of the service.

[code]

But

[code]

Hence the logs of the pingsource adapter show:

[code]

 **Expected behavior**
Expected the sink URL to be the correct one of the service on port 8080

 **Knative release version**
0.14.2

[2020-05-25 09:41] cardil opened #3203 "Migrate v1alpha1 to v1beta1 for eventing upgrade tests"
**Problem**
Eventing upgrade tests are using `v1alpha1` API version. In 0.16 this type of API is planned to be dropped. We should migrate upgrade test to `v1beta1`.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for? _Contributors_

**Exit Criteria**
`v1alpha1` API is no longer used in eventing upgrade tests.

**Time Estimate (option

[2020-05-25 09:41] cardil commented on #3203
/assign @cardil

[2020-05-25 11:10] cardil commented on #3203
/label proposal/0.16

[2020-05-26 13:13] lionelvillard commented on #3201
@sebgoa it's not possible to specify a different port for k8s service when using `ref`. Instead, use `uri`:

[code]

[2020-05-26 15:46] n3wscott commented on #3157
You should inject a channel between the source and the n consumers.

[2020-05-26 18:45] lionelvillard commented on #3157
I agree with injecting a channel. I wonder if the SinkBinding controller and the SinkBinding library is the right place to do this. WDYT @n3wscott ?

[2020-05-26 19:04] sebgoa commented on #3201
thanks got it, it works

[2020-05-26 19:04] #3201 closed

[2020-05-26 19:51] grantr commented on #3201
@sebgoa if you need this feature, can you create an issue? It seems at least technically possible to detect the appropriate port to use by looking at the Service's ports spec.

[2020-05-26 21:11] vaikas commented on #3139
I'll remove the ChannelBasedBroker

[2020-05-26 21:11] vaikas commented on #3139
oops, just was going to comment, not close and comment :( :)

[2020-05-27 01:18] n3wscott commented on #3157
I would not overload sink binding to do this. First how would you tell the control plane who a subscriber should be? I think this comes back to the idea of leveraging subscriptions to any object? I am not sure why this needs to be a magic layer in Knative to be honest, we have the building blocks to provide this, and the Flow would have been the object at the highest level of the model to enable w

[2020-05-27 07:35] sebgoa commented on #3201
I don't need it at this point, but fwiw the use-case is:

I want to use a knative source to send events to the Tekton event listener:

https://github.com/tektoncd/triggers/issues/586

[2020-05-27 15:41] lionelvillard opened #3210 "RFC: Supporting Multi-tenant receive adapters"
Let's discuss about multi-tenant receive adapters!

**Problem Statement**

Single-tenant receive adapters handle only one source (CO) at a time, i.e. there is a one-to-one mapping between receive adapter and source specification. While this architecture works well for high volume, always "on" event sources, it is not optimal (i.e. waste precious resources, cpu and memory) for sources producing "fe

[2020-05-27 15:57] antoineco commented on #3210
I think it makes a lot of sense, kudos for suggesting this 👍

A few challenges I can envision:
* for sources with a pull model, we will eventually have a single component that binds to multiple credentials. It can be difficult to ensure that "tenant1" doesn't reference a secret belonging to "tenant2" by abusing a flaw of a multi-tenant source. We did this by enforcing namespace isolation in the NG

[2020-05-27 16:24] vaikas commented on #3210
For push based, at a first glance at least, seems fairly similar to what the Broker is already doing routing the events based off of a triggers/XXX/yyy. We should try to leverage work there as well as not duplicate this and hoist the common bits into something reusable.

[2020-05-27 16:37] grantr commented on #2935
This is in 0.15

[2020-05-27 16:37] #2935 closed

[2020-05-27 16:38] #2434 closed

[2020-05-27 16:45] grantr opened #3211 "List of v1 API open issues"
This is a list of the issues in the API we'd like to fix or resolve before calling it v1.

Here's a doc where we can jot down our ideas: https://docs.google.com/document/d/1mHwJPij2dOxii5FTAb_eACHyFfLwhjdlF0_oEjhIFAI/edit

I'll update this list as we think of new items. I also created a [v1 project](https://github.com/knative/eventing/projects/15) for progress tracking.

- [x] [Clarify the purpose

[2020-05-27 16:51] grantr commented on #3138
/project v1

[2020-05-27 16:51] grantr commented on #3138
/project v1 To do

[2020-05-28 03:59] coryrc commented on #1894
/unassign
Solution remains as I stated and updated in knative/pkg#907, it just needs to be done.

[2020-05-28 12:03] knative-test-reporter-robot opened #3216 "[flaky] test/conformance.TestChannelTracingWithReply/Channel-messaging.knative.dev/v1alpha1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelTracingWithReply/Channel-messaging.knative.dev/v1alpha1
* **Repository name**: eventing

[2020-05-28 12:03] #2685 closed

[2020-05-28 12:03] knative-test-reporter-robot opened #3217 "[flaky] test/conformance.TestChannelTracingWithReply"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelTracingWithReply
* **Repository name**: eventing

[2020-05-28 12:03] knative-test-reporter-robot opened #3218 "[flaky] test/conformance.TestChannelTracingWithReply/Channel-messaging.knative.dev/v1alpha1/includes_incoming_trace_id"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelTracingWithReply/Channel-messaging.knative.dev/v1alpha1/includes_incoming_trace_id
* **Repository name**: eventing

[2020-05-28 12:14] slinkydeveloper commented on #3210
Agree, i see how the single receive adapter model it's a waste of resources for "webhook/notifications" like events from external systems like GH. On the other side of the spectrum,   I think it works pretty well with queue event sources like kafka, aws sqs and so on.

What I wish to understand is: what is the line between:

* the resource efficiency of the MT receive adapter model
* the scalabili

[2020-05-28 13:08] lionelvillard commented on #3210
@antoineco

| We did this by ...

Are you saying you have mt source adapters?

For push-based, this seems to be a recurring pattern, for the broker and also for the MT Github adapter (https://github.com/knative/eventing-contrib/pull/1148)

[2020-05-28 13:11] antoineco commented on #3210
No, I'm just saying we had a similar problem with multi-tenancy and secrets.

[2020-05-28 13:33] lionelvillard commented on #3157
I don't think we need a new abstraction. Direct delivery is IMHO a good abstraction, we (Knative authors) "just" need to make the implementation efficient and scalable (which might sounds magic).

I agree we do have (almost?) all the building blocks we need. We just need to figure out how to put them together so that direct delivery scales out-of-the-box.

[2020-05-28 19:30] vaikas opened #3222 "Possible flake with unit test: TestReceiverReceive"
**Describe the bug**
https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_eventing/3212/pull-knative-eventing-unit-tests/1266085156708421633

 **Expected behavior**
Test not to flake.

 **To Reproduce**
Just seen this a few times while doing testing.

 **Knative release version**
HEAD

 **Additional context**
Add any other context about the problem here such as proposed priority

[2020-05-28 19:38] vaikas commented on #3222
From the head, you can repro this with:
go test -race -count=1000 -run ^TestReceiverReceive$ ./test/upgrade/prober/wathola/receiver/...

[code]

[2020-05-28 19:42] vaikas commented on #3222
Failures from the above tests:

[code]

[2020-05-28 19:43] vaikas commented on #3222
@cardil would you mind taking a looksie?

[2020-05-28 20:39] vaikas commented on #3217
#3218 is the actual test failure.

[2020-05-28 20:41] vaikas commented on #3218
Fixed by #3215

[code]

[2020-05-28 20:41] #3218 closed

[2020-05-28 20:41] vaikas commented on #3216
Fixed by #3215

[2020-05-28 20:54] #3216 closed

[2020-05-28 21:01] vaikas opened #3225 "Add a post-install step that deletes the Deprecated deployments."
**Problem**
As part of the #3212 we discussed different ways to clean up the old Deployments. Currently the PR turns the old Deployments to replicas = 0.
Perhaps we should add a post-install job that would actually clean those up properly? Seems like a bigger issue, so opening up an issue to discuss this.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Operator

*

[2020-05-28 21:08] n3wscott commented on #3225
+1 on : I think we should delete the deployments in a post-install script and drop the files from the repo.

[2020-05-29 10:18] cardil commented on #3222
/assign @cardil

[2020-05-29 11:42] Shashankft9 opened #3230 "Getting error while sinking to a service using kafkasource"
**Describe the bug**
I am having troubles sending a message from kafka to a ksvc through the kafkasource CRD. Sometimes the messages are sent successfully, but sometimes I get this error saying that the kafkasource failed to send the message quoting an error like this:

`{"level":"debug","ts":"2020-05-29T11:24:09.812Z","caller":"adapter/adapter.go:130","msg":"Error while sending the message","erro

[2020-05-29 18:56] grantr opened #3235 "Broker docs still refer to ChannelBasedBroker"
The Broker docs at https://github.com/knative/eventing/tree/master/docs/broker imply that the ChannelBasedBroker still exists, but it doesn't and the instructions will fail if they try to use it. The MT Broker is documented below, so we just need to delete the obsolete parts.

[2020-05-29 18:57] #2704 closed

[2020-05-29 19:49] pierDipi commented on #3235
There is a related issue at docs repo https://github.com/knative/docs/issues/2516.

[2020-05-29 20:01] #1959 closed

[2020-05-30 02:24] mattmoor opened #3239 "HA Webhook"
**Problem**
We would like to be able to operate our webhook in an HA fashion by horizontally scaling it.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Operators wanting to provide an HA Knative environment.

**Exit Criteria**
The webhook can tolerate partial disruptions without any visible impact on control plane interactions.

**Time Estimate (optional):**
Once

[2020-05-31 12:03] knative-test-reporter-robot opened #3240 "[flaky] pkg/inmemorychannel.TestDispatcher_dispatch"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/inmemorychannel.TestDispatcher_dispatch
* **Repository name**: eventing

[2020-06-01 08:51] slinkydeveloper commented on #3230
/assign

[2020-06-01 09:46] slinkydeveloper commented on #3230
`dial tcp timeout` means that your service, for some reason, is not reachable by the `KafkaSource` receive adapter, any clue why?

[2020-06-01 09:54] Shashankft9 commented on #3230
Its reachable most of the times, and the times when I get this error, I try to do a simple curl on the service just to check if the service has become inaccessible, but thats not the case as well, the curl works.

[2020-06-01 09:58] slinkydeveloper commented on #3230
Well in the meantime that you do curl, maybe your service became reachable again. I can't really help without more informations :smile:

[2020-06-01 10:03] Shashankft9 commented on #3230
I understand, but after the curl, I send the messages through kafka again and the same error pops up. The service is accessible but somehow at certain times kafkasource fails to reach it.
I can try to reproduce this scenario again and inform you.

[2020-06-01 10:04] slinkydeveloper commented on #3230
That would be awesome!

[2020-06-01 10:28] Shashankft9 commented on #3230
so, I just made 2 kafkasources, one for a ksvc event-display and another one for a ksvc datafetch-go with same topic name. And then I send the message to this topic, but it got sent only for event-display.  For the other one the logs are not coming up, not even any error (timeout or 404)

![error2](https://user-images.githubusercontent.com/48708039/83400579-b91fd000-a420-11ea-962d-fce8959f94f3.png

[2020-06-01 10:37] slinkydeveloper commented on #3230
Are you sure you're not using the same consumer group name for both sources? Otherwise, that behaviour is intended

[2020-06-01 10:55] Shashankft9 commented on #3230
Oh? I was using the same consumer group.

I changed the consumer group now, and the logs are coming up, but see these snaps:

![working4](https://user-images.githubusercontent.com/48708039/83402431-5d574600-a424-11ea-9033-b1bccf0400d8.png)
![error4](https://user-images.githubusercontent.com/48708039/83402444-621bfa00-a424-11ea-90f6-8329717def43.png)
![error5](https://user-images.githubusercontent.

[2020-06-01 11:32] slinkydeveloper commented on #3230
I'm not sure i can help you more than that :( Let me know if you have more informations about that

[2020-06-01 11:51] Shashankft9 commented on #3230
I just redeployed the datafetch-go ksvc and it works with all config changes, be it topic name or the consumer group name.  (including the config in the snaps that i showed you above)

I really think there is something in the logic thats malfunctioning here, because the service is accessible from my other controllers everytime, just this kafkasource deployment fails to reach it sometimes, and that

[2020-06-01 14:21] lionelvillard commented on #3157
For the record, PingSource is special because of its bursty and predicable traffic behavior. For schedule below a certain threshold (e.g. 2mn) connections should be kept opened.

[2020-06-01 17:58] grantr opened #3242 "MT Broker guesses wrong about the address of the GCP Pubsub channel"
**Describe the bug**
The MT broker currently uses a heuristic to guess the address of the channel for the broker:
https://github.com/knative/eventing/blob/bdc48890f0e46a95e1bd4bb253b27b3af9ed5d05/pkg/mtbroker/ingress/ingress_handler.go#L135-L141

This works for the IMC and probably other channels, but the GCP Pubsub channel has a different addressing scheme. A channel called `pubsub` will have the

[2020-06-01 19:19] Harwayne opened #3244 "ConfigMap missing causes Webhook to fail causing ConfigMap to be uncreatable"
**Describe the bug**
The Webhook refuses to start unless the `default-ch-webhook` ConfigMap is present and properly formatted.

https://github.com/knative/eventing/blob/bdc48890f0e46a95e1bd4bb253b27b3af9ed5d05/cmd/webhook/main.go#L114-L115

The Webhook is setup to validate changes to ConfigMaps. If the Webhook fails, then the create/update ConfigMap request is rejected.

https://github.com/knative

[2020-06-01 20:06] lberk commented on #3242
This should probably follow the same solution we had for the original broker.

[2020-06-01 20:09] lberk commented on #3240
Possibly related to #2357

[2020-06-01 20:11] grantr commented on #2357
We just saw a 502 error in tests that seems similar (https://github.com/knative/eventing/issues/3240)

[2020-06-01 20:11] lberk commented on #3235
/assign @vaikas

[2020-06-01 20:17] lberk commented on #3225
We might also want to make sure we track
- SA's
- Deployments
- CM's

[2020-06-01 20:33] grantr commented on #3173
@chaodaiG should we open an issue in test-infra to track this?

[2020-06-01 21:30] chaodaiG commented on #3173
Doesn't seem like a bug or feature request in test-infra to me. Please follow the way how serving separates tests in presubmit here: https://github.com/knative/test-infra/blob/025029c28e21216f8eaa7edb6ec9dfd34b031c2c/config/prod/prow/config_knative.yaml#L38

[2020-06-02 08:09] Shashankft9 commented on #3230
hey @slinkydeveloper can you try reproducing the same thing in your system. I can give you a test case which always produces the error, so that you can better check why its happening once the error comes in your system, create
1. two ksvc in different namespaces.
2. one topic `testing` with 3 partitions.
3. two kafkasources in the default namespace, each having different consumer groups (`knative-

[2020-06-02 09:20] Shashankft9 commented on #3230
Observation:
1. Once the message sent to a particular kafka consumer group failed, I am unable to send any message to that consumer group again even after delete and recreation of the kafkasource; almost like something gets corrupted. **As soon as I change the consumer group and recreate, works smoothly.**

2. Even after applying different topics to both the kafksources, one of the kafksource depl

[2020-06-02 11:26] matzew commented on #3235
/close

1. already capture in #3139
2. here is a PR: https://github.com/knative/docs/pull/2533

[2020-06-02 11:26] #3235 closed

[2020-06-02 11:28] matzew commented on #3139
I keep it open util last two are merged.

doc and operator are pending

[2020-06-02 14:00] aliok commented on #1765
@Harwayne I see the test in https://github.com/knative/eventing/blob/master/test/conformance/helpers/channel_tracing_test_helper.go is doing pretty much what's described in this ticket.

Is there anything else that's missing in your opinion?
If not, let's close this one.

[2020-06-03 01:57] iyinoluwaayoola commented on #2039
Indeed it's related, this fixed it for me. https://github.com/kubernetes/minikube/issues/1568#issuecomment-308674617

[2020-06-03 06:12] rhuss opened #3253 "PingSource and ApiServerSource doesn't set extension headers for ceOverride"
**Describe the bug**

Having an `PingSource` like

[code]

does any extra headers to the generated events:

[code]

 **Expected behavior**

I would expect extensions headers to be added to the generated events.

 **To Reproduce**

Create a PingSource and watch the events:

[code]

(with kn from master or 0.15.1 to be released today)

 **Knative release version**

Master

 **Additional context**

T

[2020-06-03 08:31] Shashankft9 commented on #3230
Hey, think I might have found the cause of the problem here,
I am getting this log in the `kafka-controller-manager` pod everytime I create the` KafkaSource`:

`{"level":"error","ts":"2020-06-03T07:58:06.581Z","logger":"kafka-controller","caller":"source/kafkasource.go:138","msg":"Unable to create the receive adapter{error 25 0  KafkaSource created deployment: \"default/kafkasource-kafka-source-90

[2020-06-03 11:47] #3222 closed

[2020-06-03 11:51] cardil commented on #3173
/assign @cardil

[2020-06-03 12:03] knative-test-reporter-robot opened #3255 "[flaky] test/test_images/wathola-receiver.TestReceiverMain"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/test_images/wathola-receiver.TestReceiverMain
* **Repository name**: eventing

[2020-06-03 16:38] whaught commented on #3099
/close

[2020-06-03 16:38] #3099 closed

[2020-06-03 18:00] vaikas opened #3261 "Add a 'Preinstall' storage migrator for Brokers."
**Problem**
Before removing the v1alpha1 API for Brokers, they need to be migrated to v1beta1 storage. We did not do this as part of v0.15 because it's lossy. So, before an upgrade, need to run a job to migrate Brokers to v1beta1.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Everybody

**Exit Criteria**
Once a tool exist that will upgrade storage version to v1b

[2020-06-03 19:17] #3084 closed

[2020-06-03 19:53] vaikas opened #3263 "Have a way to list available BrokerClasses"
**Problem**
We currently have no good way to discover all the available BrokerClasses on a cluster.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Everybody

**Exit Criteria**
When a user has a way to discover available BrokerClasses.

**Time Estimate (optional):**
3-5

**Additional context (optional)**
Add any other context about the feature request here.

[2020-06-03 19:54] vaikas commented on #3263
@n3wscott good candidate use case for discovery api?

[2020-06-03 22:09] #3261 closed

[2020-06-04 03:22] duglin opened #3265 "allow for webhooks to exclude certain namespaces"
**Problem**
Some webhooks such as: https://github.com/knative/eventing-contrib/blob/master/kafka/source/config/500-webhook-configuration.yaml#L18 do not limit themselves to just certain namespaces. This can be problematic if that webhook is acting up (e.g. the service is not responding), and the request that is being processed is not related to Knative at all but instead could be something critica

[2020-06-04 09:37] slinkydeveloper opened #3267 "Port e2e tests to new event sender and event record images"
**Problem**
e2e test code now uses old images event details/event logger and old event sender which uses sdk-go v1. We should port our tests to use the new test images and then prune these old images from our codebase.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for? Knative developer

**Exit Criteria**
e2e tests should be pruned

[2020-06-04 09:38] slinkydeveloper commented on #3104
I'm gonna close this in favour of #3267

[2020-06-04 09:38] #3104 closed

[2020-06-04 10:13] cardil commented on #2665
I've observe interesting thing in latest code. In PR #3260 I restore original upgrade prober setting to have 10ms interval between events.

Much more events were propagated: 18.4k and there was only 12 missing ones. No doubles. That's 0.065% error rate.

It looks like we lost 3 events at the beginning, and couple more somehow in the middle.

[code]

Log: https://prow.knative.dev/view/gcs/knative-p

[2020-06-04 10:44] slinkydeveloper commented on #3267
/help
/good-first-issue

[2020-06-04 11:02] Abd4llA commented on #3122
/assign

[2020-06-04 11:07] #3105 closed

[2020-06-04 11:09] Abd4llA commented on #3116
/assign

[2020-06-04 12:03] knative-test-reporter-robot opened #3270 "[flaky] test/test_images/wathola-forwarder.TestForwarderMain"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/test_images/wathola-forwarder.TestForwarderMain
* **Repository name**: eventing

[2020-06-04 13:18] cardil commented on #3270
/assign @cardil

[2020-06-04 13:19] cardil commented on #3255
/assign @cardil

[2020-06-04 13:25] lionelvillard opened #3271 "Change PingSource storage version to v1alpha2"
**Problem**
Change PingSource storage version to v1alpha2

[2020-06-04 16:19] #3203 closed

[2020-06-04 19:41] nlopezgi commented on #3267
I'm starting work on the parallel tests (in case anyone else is working on these let me know to not duplicate work)

[2020-06-05 10:02] slinkydeveloper commented on #3267
I'm gonna port channel chain tests

[2020-06-05 11:10] slinkydeveloper commented on #3267
I'm gonna port broker test with many trigger + default broker (they use the same helpers in helpers/broker_test_helper.go)

[2020-06-05 12:04] #3255 closed

[2020-06-05 12:04] #3270 closed

[2020-06-05 14:13] nlopezgi commented on #3267
Continuing with sequence tests

[2020-06-05 17:53] duglin opened #3281 "Showing eventing errors to user"
Today when something goes wrong with processing of an eventing artifact (either a CR or the event itself), depending on when it happens the error information will appear to the user in one of two ways:
- CR.status.condition
- Events associated with the CR

Side note: today we may not be as consistent w.r.t. generating events in the adapter that end up on the CR, but I view that as just a todo item

[2020-06-05 19:10] nlopezgi commented on #3267
Moving on to Default channel test

[2020-06-05 20:06] nlopezgi commented on #3267
Channel dead letter sink is next

[2020-06-05 20:42] nlopezgi commented on #3267
Trying Channel event transformation for subscription next

[2020-06-07 12:03] knative-test-reporter-robot opened #3287 "[flaky] test/conformance.TestChannelTracingWithReply/Channel-messaging.knative.dev/v1beta1/includes_incoming_trace_id"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelTracingWithReply/Channel-messaging.knative.dev/v1beta1/includes_incoming_trace_id
* **Repository name**: eventing

[2020-06-08 12:04] knative-test-reporter-robot opened #3291 "[flaky] test/conformance.TestChannelTracingWithReply/InMemoryChannel-messaging.knative.dev/v1beta1/includes_incoming_trace_id"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelTracingWithReply/InMemoryChannel-messaging.knative.dev/v1beta1/includes_incoming_trace_id
* **Repository name**: eventing

[2020-06-08 14:30] nlopezgi commented on #3267
Moving on to Conformance/Channel tracing

[2020-06-08 14:35] FWiesner opened #3294 "Support arrays with Trigger filters"
**Problem**
When subscribing to the broker with interest in multiple event types, you currently have to create multiple `Trigger` instances. In particular with Kafka this leads to the unfortunate situation that you get multiple consumer groups and lose the sequential context enforced with the partition key.

Say you have the situation that you want to enforce sequential delivery of

[code]

Assumi

[2020-06-08 17:10] n3wscott opened #3295 "Request for sources.knative.dev api feedback for v1alpha2 --> v1beta1"
We are looking at moving the sources api to `v1beta1`.

This is a request for any feedback or changes needed for the following resources:

- ApiServerSource
- ContainerSource
- PingSource
- SinkBinding

[2020-06-08 20:05] lberk commented on #3271
related: https://github.com/knative/eventing/pull/3274

[2020-06-08 20:16] lberk commented on #3281
@duglin could you give a concrete example of where you see this happening?

[2020-06-08 20:18] vaikas commented on #3291
[code]
Does this code create pods differently from the other path (where we added retries?)

[2020-06-08 20:29] vaikas commented on #3291
So, the error looks like it's taking the path, and it's failing with some other kind of error.

[2020-06-08 20:34] grantr commented on #3281
IMO K8s Events and status.conditions have different purposes:
- K8s Events log the history of the object's state transitions and transient errors. The object became ready. The reconcile failed, then succeeded.
- Conditions show the object's current state and are a complete description of that state.

If there's ever a situation in which an event is the primary source of truth about the current sta

[2020-06-08 21:05] duglin commented on #3281
Let's say the sink returns a 404 - how would that get bubbled up to the user?

[2020-06-08 21:08] vaikas commented on #3281
Yeah, so the one question was around whether this was data plane or control plane. For data plane events, I'd expect you'd see this from monitoring, not in your control plane objects.

[2020-06-08 21:10] vaikas commented on #3281
As in, same way as if you're getting 404's from a Knative Service, it doesn't surface in the Revision/Service objects?

[2020-06-08 22:19] duglin commented on #3281
But for knServices the client will see the 404.

As I said, yes it might be possible to see it by trolling thru the logs/monitoring info, but that's not a great UX and even harder when it's a MT component.  Plus, the logs might be on a component the user doesn't have access to.

This isn't so much about whether it's possible to "eventually" find the info... it's about how hard we're going to make

[2020-06-08 22:26] vaikas commented on #3281
which client (which will see 404)? the client off of the interwebs accessing the service, how do you see that helping the operator of the service? I guess I'm little confused how exposing these via control plane objects is any better than exposing them through the monitoring system. You probably want to see other additional statistics anyways.

[2020-06-09 00:17] duglin commented on #3281
I'm not interested in gather stats, I'm interested in helping the user figure out why they're not getting events. The first place I suspect most people will look when they don't get events (but they expected to) in at the CR.

I think the status.Condition section will be useful in cases where the setup of the CR itself failed - bad creds, bad repo, missing sink URL, ...  But what if the infrastruc

[2020-06-09 06:39] slinkydeveloper commented on #3267
I'm gonna do broker with dls

[2020-06-09 07:57] rhuss commented on #3295
For the ApiServerSource there was a request to be able to filter on a resource's name with a trigger (not only the type). Not sure if this is easily possible already, but maybe the name could be added to a filterable attribute.

Also not sure if this affects the ApiServerSource resource schema at all though (or is just an implementation detail)

Otherwise, I'm not aware of any other feedback yet c

[2020-06-09 08:00] rhuss commented on #3295
Beside the name of a resource, copying over the labels of resources to filterable attributes would be nice, so that you emulate a label selector for trigger filters. Maybe another attribute like `mode` would be interesting to influence the data that gets copied over to filterable CE attributes ?

[2020-06-09 12:03] #3287 closed

[2020-06-09 13:38] lionelvillard commented on #3281
I totally agree with this statement.

You might be able to do this for permanent errors (if there is such thing). For transient errors, when do you clear the CR status? How often do you update the CR? Do you suggest to do a sampling and in the CR display stats (e.g. 0.1% timeout  error per sec) ?

What I've seen in the CR status is an URL pointing to the monitoring dashboard.

[2020-06-09 13:44] n3wscott commented on #3295
Thanks for the feedback @rhuss, we will take a look.

[2020-06-09 13:49] duglin commented on #3281
My current thoughts around "clearing the CR status" is that we won't. If we call the field appropriately (e.g. "last-seen-error" or something like that) and if it includes a timestamp then I think that's fine.

Clearing it upon the next time we successfully deliver an event means that people will miss intermittent errors and as a user I'd prefer to see an old error than no errors at all.  Hence, t

[2020-06-09 15:28] lionelvillard commented on #3295
For the PingSource, I have seen requests for supporting firing the event once on a specific date. OpenWhisk (among others) supports it: https://github.com/apache/openwhisk-package-alarms

[2020-06-09 16:14] cr22rc opened #3299 "Knative Tenant Targeted Logging"
**Problem**
In a mult-tenant environment  provide logging from kNative services that are specific to a particular tenant.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
The feature is for end users (tenant) needing logging that is necessary to diagnose issues with their Knative application. In such an mulit-tenant it is not feasible to give the tenant full Knativ

[2020-06-09 16:54] slinkydeveloper commented on #3267
I'll take the remaining ones about broker (channel flow & event transformation with trigger)

[2020-06-10 12:03] knative-test-reporter-robot opened #3303 "[flaky] _go_tests.DataRaceAnalysis"
### Auto-generated issue tracking flakiness of test
* **Test name**: _go_tests.DataRaceAnalysis
* **Repository name**: eventing

[2020-06-10 14:41] slinkydeveloper opened #3304 "Configure tracing in e2e tests"
**Problem**
Now e2e tests have an hardcoded configuration for pointing to a zipkin instance. Make this value configurable

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for? Knative developer

**Exit Criteria**
I can configure zipkin to run the e2e tests

[2020-06-11 00:00] grac3gao opened #3305 "Shall Finalizer mark resource sub-conditions when it fails?"
**Problem**
When finalizing resources, the status is not updated. Thus, hung deletes aren't communicated to user when looking at object's condition.

Is it necessary to mark condition when finalizeKind returns errors?

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate

[2020-06-11 00:08] grac3gao commented on #3305
Some notes from WG meeting:
1. We need to confirm if it is possible to update the status when finalized.
2. If it is possible, we should mark conditions.

With @n3wscott's investigation, we can update the status of a resource that is being deleted.

[2020-06-11 06:36] cmllong opened #3306 "sequence only work in the first step"
**Describe the bug**
use offical demo "Using Sequence with Broker and Trigger"
the second kservice don't receive events,only first received.
first kservice received
![image](https://user-images.githubusercontent.com/6829848/84352850-a9f30c00-abf0-11ea-9fb5-cc3cdfe1834a.png)
second kservice not work
![image](https://user-images.githubusercontent.com/6829848/84352925-c727da80-abf0-11ea-874e-d00d6e3c

[2020-06-11 12:04] knative-test-reporter-robot opened #3309 "[flaky] test/upgrade.TestPreUpgrade/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestPreUpgrade/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-06-11 12:04] knative-test-reporter-robot opened #3310 "[flaky] test/upgrade.TestPreUpgrade"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestPreUpgrade
* **Repository name**: eventing

[2020-06-11 15:14] slinkydeveloper opened #3312 "HTTP/2 support in Knative Eventing"
**Problem**
Support HTTP/2

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for? Users/Developers

**Exit Criteria**

* All Knative Eventing components supports HTTP/2 transparently
* Users should be able to use HTTP/2 with possibly little/zero configuration
* Support HTTP/2 in the full event flow

**Additional context (optional)**
I p

[2020-06-11 15:36] slinkydeveloper commented on #3312
I'm doing some experiments here to enable **eventing components** to use http/2: https://github.com/knative/eventing/compare/master...slinkydeveloper:http_2_channel

My take up to this point is:

* H2C on ingress side is not hard, the `h2c` handler in std lib does the work for us https://github.com/knative/eventing/compare/master...slinkydeveloper:http_2_channel#diff-118f928fc3170f6eaeb7fdaa2d42d6

[2020-06-11 15:52] evankanderson commented on #3166
/assign @tcnghia

[2020-06-11 15:53] evankanderson commented on #3167
/assign @grantr

[2020-06-11 15:55] evankanderson commented on #3133
/assign @pmorie @evankanderson

[2020-06-11 18:41] mgencur commented on #2776
I've attached a possible solution. Instead of creating just one common namespace, make sure there are no random suffixes so the NS names are predictable.

[2020-06-12 07:37] cmllong commented on #3306
oh!!!!!!!
check k8s network is working

i find error log in
service : imc-dispatcher like
"Failed to forward reply Post http://example-inbound-channel.default.svc.cluster.local"
it means service can't access itself, there is a problem with k8s network

[2020-06-12 07:37] #3306 closed

[2020-06-12 12:05] #3303 closed

[2020-06-12 12:05] knative-test-reporter-robot opened #3314 "[flaky] test/e2e.TestSingleStructuredEventForChannelV1Beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleStructuredEventForChannelV1Beta1
* **Repository name**: eventing

[2020-06-12 12:05] knative-test-reporter-robot opened #3315 "[flaky] test/e2e.TestSingleStructuredEventForChannelV1Beta1/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleStructuredEventForChannelV1Beta1/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-06-12 14:20] Shashankft9 commented on #3230
Closing this, as this was resolved in the master branch.
ref: https://github.com/knative/eventing-contrib/pull/1311

[2020-06-12 14:20] #3230 closed

[2020-06-12 14:39] Shashankft9 commented on #3210
I have one question - I could imagine how the single-tenancy is fine enough for kafkasource right now but wouldn't the single kafkasource deployment for one serverless app an overhead here too, while comparing it to a single kafkasource deployment (for a namespace or the cluster) for all the serverless apps?
For example, I have 3 apps that I am deploying through knative and for them to get request

[2020-06-12 18:35] lionelvillard commented on #3295
we also need to support timezone

[2020-06-12 23:31] capri-xiyue opened #3318 "subscription can't be marked ready with v1beta1 pubsub channel"
**Describe the bug**
subscription can't be marked ready with ready v1beta1 pubsub channel.

 **Expected behavior**
subscription can be marked ready with ready v1beta1 pubsub channel

 **To Reproduce**
1. Create v1beta1 pubsub channel
[code]

2. Create event display
[code]

3. Create subscription
[code]

 **Knative release version**

 **Additional context**
Add any other context about the problem h

[2020-06-13 00:20] #3318 closed

[2020-06-13 01:16] capri-xiyue commented on #3318
This only happens after we change pubsub channel yaml storage version to v1beta1. Not sure which side(pubsub channel or susbscription) goes wrong. Closed it until I figure out which side goes wrong.

[2020-06-13 12:03] #3310 closed

[2020-06-13 12:03] #3309 closed

[2020-06-14 12:03] #3315 closed

[2020-06-14 12:03] #3314 closed

[2020-06-15 11:33] aliok commented on #1765
/close

I am going to close this one. I think the current channel tracing conformance tests do more than what's defined in the spec.

[2020-06-15 11:33] #1765 closed

[2020-06-15 16:43] antoineco opened #3321 "Add constants for supported Eventing labels and annotations"
**Problem**
We don't have any constant set for common labels and annotations such as
* messaging.knative.dev/subscribable
* ...

This can lead to repetition in the code base, especially in projects that use Knative as a dependency.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributors

**Exit Criteria**
Supported labels and annotations are defined as public

[2020-06-15 16:47] antoineco opened #3322 "Fix comment of test.InitializeEventingFlags func"
This comment is outdated:
https://github.com/knative/eventing/blob/040361ecec2315382c67d442d49a73a6e3c95117/test/e2e_flags.go#L47-L49

see https://github.com/knative/eventing/pull/3319#discussion_r440286127

---

I've no context of this whole comment so I'd like to keep it out of this PR scope. I'll follow up on slack on it though since I've came across it. Good catch :+1:

_Originally posted by @

[2020-06-15 19:45] #2979 closed

[2020-06-15 19:57] lionelvillard commented on #3253
It should work for ApiServerSource.

[2020-06-15 20:16] lberk commented on #3305
Just as a follow up: it was confirmed that we can update the status of a resource that is being deleted.

For exit criteria on this issue, it'd be nice to have a full list of areas/instances this happens (in eventing)

[2020-06-15 20:26] lberk commented on #3299
It would be helpful to coordinate with Serving (possibly other wg's) to make sure we standardise on the labels used to log.

@coryrc @evankanderson

[2020-06-16 00:21] lionelvillard commented on #3253
/assign @cr22rc

[2020-06-16 08:41] slinkydeveloper commented on #3267
I'll take the broker tracing conformance tests

[2020-06-16 08:58] aliok commented on #3304
This would be nice to have.
When I do something around tracing, I always end up doing some manual config for Zipkin to install it on `istio-system` namespace etc.

[2020-06-16 10:10] matzew commented on #3304
yeah, it would be nice

[2020-06-16 11:22] matzew commented on #3304
is it possible to install the zupkin bits onto a different namespace ?

I personally find the hard-coded reference to `istio-system` (very) confusing

[2020-06-16 11:22] matzew commented on #3304
@Harwayne any thoughts, Adam ?

[2020-06-16 13:16] antoineco commented on #3281
The GitHub example might not be a great one because a source adapter should have no business updating statuses of Kubernetes objects.

I started a somewhat similar discussion at cloudevents/sdk-go#514 because I was lacking the context from the CloudEvents SDK in case of delivery errors. The answer I got is that errors generated by the CloudEvents SDK should always be returned as a new CloudEvent.

[2020-06-16 13:38] slinkydeveloper commented on #3267
I'm removing the old bits

[2020-06-16 14:39] lionelvillard commented on #3271
done https://github.com/knative/eventing/pull/3274

[2020-06-16 14:39] #3271 closed

[2020-06-16 14:41] #3267 closed

[2020-06-16 14:56] duglin commented on #3157
It feels a bit like this issue is trying to cover many different topics and I'm getting confused. If it's just me, then ignore this comment:

Some questions:
- are we talking about push or pull model?  e.g github vs kafka model
- are we talking about scaling the adapter due to the size/amount of incoming events?
- are we talking about how to deal with outbound connections (adapters -> sink) due to

[2020-06-16 15:18] lionelvillard commented on #3210
We talked about this during last week source WG meeting. Here the main points:
- Move to namespaced-mt, option to have a cluster scoped Mt in the future
- Anti-pattern to have 1:1 adapter to resource.

On the first point, what about reversing the statement: Move to cluster scoped-mt, option to have a namespace-scoped Mt in the near future, to be consistent with the rest of Knative.

We discussed t

[2020-06-16 15:20] lionelvillard commented on #3210
@Shashankft9 you got this right. Thanks a lot for you feedback!

[2020-06-16 15:39] nachocano commented on #3210
SGTM. I'll create a tracking issue in knative-gcp as well because we are interested in this for our Google sources. Hope to be able to work on this sometime soon.

[2020-06-16 17:22] lionelvillard commented on #3157
It's more an issue for pull model.

Not in this issue. Trying to reduce a bit the scope of this overarching issue: https://github.com/knative/eventing/issues/2153.

Yes. This issue applies to multi-tenant receive adapters that can handle many outbound connections.

That's one possible solution. The one I'm favoring right now.

this is an attempt to reduce the scope of this discussion.

Yes. On the

[2020-06-16 19:49] vaikas commented on #3321
That particular constant is defined here, and others should indeed go there as well :)
https://github.com/knative/eventing/blob/master/pkg/apis/messaging/register.go#L25

[2020-06-16 19:49] vaikas commented on #3321
Not saying there's not additional work but that particular one has a const already :)

[2020-06-16 19:55] antoineco commented on #3321
Ping @Abd4llA, can't remember if you were using that one in your tests or not.

[2020-06-16 21:03] danielhelfand commented on #2714
Seeing this error coming from [knative/pkg](https://github.com/knative/pkg/blob/9d7c06b6ab647bcb2e414e90d740b26915917cbf/webhook/resourcesemantics/validation/validation_admit.go#L206). Going to open an issue there to discuss, but would be interested in picking this up if no one is working on this.

[2020-06-17 00:12] n3wscott commented on #3210
Yes sounds good. No option to have 1:1 in same namespace. Always namespace Mt 😅, option in the future to have cluster mt

[2020-06-17 11:15] matzew commented on #3139
/close

all done

[2020-06-17 11:15] #3139 closed

[2020-06-17 11:22] matzew commented on #3003
@vaikas @grantr - see #3238

[2020-06-17 14:28] lionelvillard commented on #3210
I updated the [PR](https://github.com/knative/eventing/pull/2775) accordingly, except that we need the option today.

[2020-06-17 15:05] lionelvillard commented on #3157
I updated the title to better reflect what this issue is about.

I'm working on a PoC heavily influenced by the [Per-Reconciler Leader Election Feature Track](https://docs.google.com/document/d/1i_QHjQO2T3SNv49xjZLWlivcc0UvZN1Tbw2NKxThkyM/edit#). The initial plan is:
- Add bucket-based leader election in the adapter shared main. Leader election is optional (the mt github adapter is already HA and

[2020-06-17 17:09] grantr commented on #3003
We don't have the v1alpha1 types anymore, so this can be closed

[2020-06-17 17:09] #3003 closed

[2020-06-17 17:39] vaikas opened #3335 "Implement v1 API for flows.* resources"
**Problem**
Add V1 api for flows.*

As discussed today, we'll break the tasks down by the api group. This issue tracks the work for that. We should create other issues to track, eventing / messaging. Also as discussed in the meeting, I offered to jot down some representative PRs that are necessary for the work, and hopefully will help folks doing the work:
Introduce types:
https://github.com/knati

[2020-06-17 17:49] lionelvillard commented on #3335
I can work on this one.

[2020-06-17 18:18] vaikas opened #3336 "Implement V1 API for messaging.* resources."
Problem
Add V1 api for messaging.*

As discussed today, we'll break the tasks down by the api group. This issue tracks the work for that. Also as discussed in the meeting, I offered to jot down some representative PRs that are necessary for the work, and hopefully will help folks doing the work:
Introduce types:
#2407

Defaulting webhook:
#2645

Conversions:
#2611
(but since the functions were ren

[2020-06-17 18:18] vaikas opened #3337 "Implement V1 API for eventing.* resources."
Problem
Add V1 api for eventing.*

As discussed today, we'll break the tasks down by the api group. This issue tracks the work for that. Also as discussed in the meeting, I offered to jot down some representative PRs that are necessary for the work, and hopefully will help folks doing the work:
Introduce types:
#2407

Defaulting webhook:
#2645

Conversions:
#2611
(but since the functions were rena

[2020-06-18 09:25] slinkydeveloper commented on #3157
ah ok so you want to use leader election in order to perform static partitioning?

[2020-06-18 12:07] cr22rc commented on #3299
How can we proceed to make this a standardized practice in Knative? Not seeing too much momentum here.  @coryrc @evankanderson
Thanks.

[2020-06-18 13:00] lionelvillard commented on #3157
yes :-)

[2020-06-18 13:22] #3253 closed

[2020-06-18 16:34] #3107 closed

[2020-06-18 16:43] pierDipi commented on #3103
:tada:

/close

[2020-06-18 16:43] #3103 closed

[2020-06-19 11:24] matzew commented on #3295
do we really need that on the pingsource ?

[2020-06-19 11:24] matzew commented on #3295
would that be a more specific use-case?

[2020-06-19 12:28] matzew opened #3349 "Switch to CRDs v1"
/area API
/kind process

#Describe the feature
Since https://github.com/knative/pkg/pull/1391/files happened, we should be able to adopt the apiextensions.k8s.io/v1 apiGroup.

[2020-06-19 12:28] matzew commented on #3349
For serving project there is already a PR from @dprotaso for this: https://github.com/knative/serving/pull/8259

[2020-06-19 12:42] nlopezgi commented on #3336
I'm taking a stab at helping with this one.

[2020-06-19 13:12] lionelvillard commented on #3295
timezone is needed when triggering an event at a particular time (e.g. `Every Saturday at 23:45`).

It seems that's a common use-case.

[2020-06-19 13:35] matzew commented on #3336
@nlopezgi do you need help, e.g. on doing conversion?

[2020-06-19 13:37] matzew commented on #3337
For Trigger, there is the discussion, to introduce some sort of EL for `v1`.  /cc @grantr @slinkydeveloper

[2020-06-19 13:42] slinkydeveloper commented on #3337
@grantr I can open a new issue and start investigating on it, is that ok for you?

[2020-06-19 13:53] slinkydeveloper commented on #1845
/assign

[2020-06-19 14:05] aliok opened #3351 "`default-ch-webhook` configmap is named bad"
**Describe the bug**
[code]
It doesn't play nice with the other configmaps' naming convention.

 **Expected behavior**
Should be named `config-ch-defaults`

 **Knative release version**
0.15

[2020-06-19 14:09] aliok commented on #3351
Possible migration tasks out of it:
1. Duplicate `default-ch-webhook` configmap with new name and delete the old one.
2. Operator's `KnativeEventing` CR's `spec.config` field might have this configmap.

[2020-06-19 22:13] #3239 closed

[2020-06-22 06:29] pierDipi commented on #2848
/assign
/unassign vaikas

[2020-06-22 07:00] aliok commented on #1958
/close

We're good in terms of this test.

Closing this ticket as:
- we already check if there's a URL reported [1](https://github.com/aliok/eventing/blob/d306a0c93669f13bd872c285f6564d25ef3c1a88/test/conformance/helpers/channel_status_test_helper.go#L92)
- the URL is already checked for validity [2](https://github.com/knative/eventing/blob/a613036d353aac15741a99e5a50a5007a46bc26e/vendor/knative.d

[2020-06-22 07:00] #1958 closed

[2020-06-22 08:26] aliok commented on #3337
/assign

I am interested in this :)

[2020-06-22 08:33] slinkydeveloper opened #3359 "Expression language for Trigger filter"
**Problem**
Now the `Trigger` filtering abilities are poor, because they require direct match on specific `CloudEvent` attributes.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
User

**Exit Criteria**
`Trigger` APIs should have a more powerful filtering abilities

**Time Estimate (optional):**
2

**Additional context (optional)**
Together with @grantr we discuss

[2020-06-22 08:33] slinkydeveloper commented on #3337
Opened an issue for the trigger EL thing https://github.com/knative/eventing/issues/3359

[2020-06-22 09:12] matzew commented on #3349
/assign

[2020-06-22 09:20] slinkydeveloper commented on #1845
This is not valid/doesn't map to the actual behaviours of the channel:

* there aren't any DTE attributes, all tracing is done through standard tracing attributes (not ce-traceparent etc)
* knative appends an attribute called `ce-knativehistory`, which includes the list of knative components the event went through

I'm gonna open a pr to fix it

[2020-06-22 09:21] matzew commented on #3359
I'd highly appreciate this for our `v1` API shape

[2020-06-22 11:59] FWiesner commented on #3359
❤️ this

[2020-06-22 12:00] FWiesner commented on #3294
#3359 makes this enhancement request obsolete.

[2020-06-22 12:03] knative-test-reporter-robot opened #3365 "[flaky] test/conformance.TestChannelForwardHeadersPrependedWithKnative"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelForwardHeadersPrependedWithKnative
* **Repository name**: eventing

[2020-06-22 12:03] knative-test-reporter-robot opened #3366 "[flaky] test/conformance.TestChannelForwardHeadersPrependedWithKnative/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelForwardHeadersPrependedWithKnative/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-06-22 12:03] knative-test-reporter-robot opened #3367 "[flaky] test/conformance.TestChannelForwardHeadersPrependedWithKnative/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelForwardHeadersPrependedWithKnative/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-06-22 13:59] nlopezgi commented on #3336
Thanks @matzew , I think I'm pretty close to getting the conversion working correctly, I could not finish it last friday but I should be done with this very soon. Will holler if I need a hand.

[2020-06-22 15:10] slinkydeveloper commented on #3294
@FWiesner yes i would prefer to have a full fledged EL to define predicates, more than implementing some `anyOf`/`allOf`/`oneOf` solutions like that

[2020-06-22 15:35] #3116 closed

[2020-06-22 19:44] FWiesner commented on #3294
@slinkydeveloper I know, but I am realistic enough not to ask for too much at a time :) I'm closing the issue now

[2020-06-22 19:44] #3294 closed

[2020-06-22 20:08] lberk commented on #3367
This test looks like it failed with:

`TestChannelForwardHeadersPrependedWithKnative/Channel-messaging.knative.dev/v1beta1: event_info_store.go:103: Failed to start the EventInfoStore associated to pod 'conformance-headers-recordevents-pod-binary': timeout forwarding port: pod conformance-headers-recordevents-pod-binary in state Pending, wanted Running`

Any suggestions on how to make this test a

[2020-06-22 20:09] lberk commented on #3366
@slinkydeveloper @ericlem
Hey, same issue here with:
`    TestChannelForwardHeadersPrependedWithKnative/InMemoryChannel-messaging.knative.dev/v1beta1: event_info_store.go:103: Failed to start the EventInfoStore associated to pod 'conformance-headers-recordevents-pod-binary': timeout forwarding port: pod conformance-headers-recordevents-pod-binary in state Pending, wanted Running`

[2020-06-22 20:10] lberk commented on #3365
@slinkydeveloper @ericlem
And same with this failure as well:
`    TestChannelForwardHeadersPrependedWithKnative/InMemoryChannel-messaging.knative.dev/v1beta1: event_info_store.go:103: Failed to start the EventInfoStore associated to pod 'conformance-headers-recordevents-pod-binary': timeout forwarding port: pod conformance-headers-recordevents-pod-binary in state Pending, wanted Running`

[2020-06-22 22:54] n3wscott commented on #3225
/assign

[2020-06-23 04:08] matzew commented on #3351
@aliok can you PR a rename ? and open up the discussion ?

[2020-06-23 08:26] Abd4llA commented on #3117
/assign

[2020-06-23 12:04] knative-test-reporter-robot opened #3373 "[flaky] test/e2e.TestApiServerSource/event-ref-match-label"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestApiServerSource/event-ref-match-label
* **Repository name**: eventing

[2020-06-23 12:04] knative-test-reporter-robot opened #3374 "[flaky] test/upgrade.TestPostUpgrade"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestPostUpgrade
* **Repository name**: eventing

[2020-06-23 12:04] knative-test-reporter-robot opened #3375 "[flaky] test/e2e.TestPingSourceV1Alpha2"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestPingSourceV1Alpha2
* **Repository name**: eventing

[2020-06-23 12:04] knative-test-reporter-robot opened #3376 "[flaky] test/e2e.TestPingSourceV1Alpha2EventTypes"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestPingSourceV1Alpha2EventTypes
* **Repository name**: eventing

[2020-06-23 12:04] knative-test-reporter-robot opened #3377 "[flaky] test/e2e.TestApiServerSource/event-ref-match-label-expr"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestApiServerSource/event-ref-match-label-expr
* **Repository name**: eventing

[2020-06-23 12:04] knative-test-reporter-robot opened #3378 "[flaky] test/conformance.TestChannelEventModesAndSpecVersions/Channel-messaging.knative.dev/v1beta1/encoding_binary_version_1.0"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelEventModesAndSpecVersions/Channel-messaging.knative.dev/v1beta1/encoding_binary_version_1.0
* **Repository name**: eventing

[2020-06-23 12:04] knative-test-reporter-robot opened #3379 "[flaky] test/e2e.TestTriggerDependencyAnnotation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestTriggerDependencyAnnotation
* **Repository name**: eventing

[2020-06-23 12:04] knative-test-reporter-robot opened #3380 "[flaky] test/conformance.TestChannelEventModesAndSpecVersions"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelEventModesAndSpecVersions
* **Repository name**: eventing

[2020-06-23 12:04] knative-test-reporter-robot opened #3381 "[flaky] test/e2e.TestApiServerSource/event-ref-unmatch-label"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestApiServerSource/event-ref-unmatch-label
* **Repository name**: eventing

[2020-06-23 12:04] knative-test-reporter-robot opened #3382 "[flaky] test/upgrade.TestPostUpgrade/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestPostUpgrade/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-06-23 12:51] slinkydeveloper opened #3383 "Investigate recent data-plane related e2e/conformance test flakyness"
**Describe the bug**
Tests using recordevents test image are flaky

 **Expected behavior**
No flakyness

 **Additional context**
It seems like most flaky tests are broken because of:

[code]

Could that be that we need to increase the timeout?

/assign
/cc @ericlem

[2020-06-23 13:37] aliok commented on #3122
/close

Fixed by https://github.com/knative/eventing/pull/3340

[2020-06-23 13:37] #3122 closed

[2020-06-23 14:21] houshengbo opened #3386 "Release all the upgrade jobs in one artifact"
## Describe the feature
As Knative operator is implementing the feature to download knative artifacts online, eventing component needs to offer a mechanism to fetch all the upgrade related jobs.

By far, Knative eventing releases eventing-crds.yaml for CRDs, eventing-core.yaml for core resources. Whether we can release an artifacts called `eventing-upgrade.yaml` or any other valid name, to hosting

[2020-06-23 16:02] aslom opened #3387 "simpler observability for Knative eventing system components"
**Problem**
no easy way to observe what is going on in Knative eventing system components, users may not have to system namespaces where knative eventing is installed

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

Event consumer (developer)
System Integrator
Contributors

**Exit Criteria**
User can oobserver Knative eventing sy

[2020-06-23 16:05] n3wscott commented on #3387
We should explore producing cloudevents in response to milestones in progress on our control and data planes.

These could optionally be sunk to Kubernetes Events, or to a Broker and then directed to a namespace for a user to observe errors in their multi-tenant control planes without leaking secret info.

It is an interesting thing to explore.

[2020-06-23 16:11] aslom commented on #3387
More on problem: when Knative is installed some of its components may be in system namespaces such as mt-broker or sources [link](https://github.com/knative/eventing/blob/a3eab46b5f0fb3f39a92372b45ee2fb92f918527/docs/multitenancy.md)  how do we get logs (and other observability) to user namespace?

For getting logs: https://github.com/knative/eventing/issues/3299

[2020-06-23 16:12] aslom commented on #3387
One idea was to make system logs and events into CloudEvents that are then routed to user namesapce @n3wscott ?

[2020-06-23 16:17] slinkydeveloper commented on #3359
I'm starting to lean towards using Javascript. I know it may sound crazy, but:

* There are engines/engine bindings out there for every language, so it's not problematic from the Trigger API adoption POV.
* It's super easy to integrate with: the trigger impl just needs to parse the js, inject the attributes as variables into the scope, then execute it. Nice and smooth.
* It already has all the bui

[2020-06-23 16:21] slinkydeveloper commented on #3359
Another alternative could be using Json Schema, but I feel this could make the predicates too much convoluted both to read and write:

[code]

[2020-06-23 16:22] aslom commented on #3387
I was thinking that may work great if users can create in user namespace special Knative Eventing Observability CR for diagnostic and do not need ot run multiple logs or describe or install additinal tools or require system namespaces permissions:

[code]

after applying CR in user namespace

[code]

then user can describe created object and see status of knative eventing in their namespace, k8s e

[2020-06-23 16:28] nachocano commented on #3359
@grantr put some thought on this sometime back. Might be worth syncing with him.
IIRC he used CEL https://github.com/google/cel-spec, but there were some problems regarding scalability.

[2020-06-23 16:31] slinkydeveloper commented on #3359
I checked out CEL, problem is that the only implementation out there is for Golang. I wish to avoid locking the "implementatibility" of Eventing APIs (in particular of the data-plane) to Golang only.

[2020-06-23 16:31] FWiesner commented on #3359
@slinkydeveloper The problem with the JavaScript filter engine is that you will have a hard time validating the content. Not only you need syntactical validation, but functional checks as well. Worst would be that a filter JS expression shows to be wrong in seldom situations that haven't been tested and where you're live in production already

[2020-06-23 16:32] vaikas commented on #3359
I'm totally on board with making the filter expressions more powerful. My $.02 is that this can be an additive (backwards compatible) change to the API and we do not have to get it in .16 where we bump the Trigger spec to v1.

wrt: javascript, I just can never remember how many = I have to specify to actually get the sane semantics :) jk

[2020-06-23 16:37] slinkydeveloper commented on #3359
We can perform a pretty simple validation on control plane side trying to execute the predicate, giving to it an dummy cloudevent and check if it fails badly with an error or returns a boolean value.

Well, because all/most attributes (in the first iteration at least) are supposed to be compared strings, you just need `==`

[2020-06-23 16:44] FWiesner commented on #3359
well, the filter could behave differently on Wednesdays when the temperature is below freezing point ;) To prevent that you'd have to limit Javascript to be able to only use builtins that you provide

[2020-06-23 16:47] lionelvillard commented on #3359
We had a lot of discussions about filtering in the past. I encourage you to look for all the open issues related to this topic.

A good starting point is Grant's proposal: https://github.com/knative/eventing/blob/master/docs/broker/filtering.md

I remember one thing we talked about is being able to do filtering at the source, in particular when the source is a SQL database.

[2020-06-23 17:41] matzew commented on #3359
+1 on that @vaikas

[2020-06-23 17:49] lionelvillard commented on #3387
Note that we also want consistency with Serving and I'm not 100% sure a hard dependency on CloudEvents is the right direction but worth a try.

The key point here is to agree on the need to produce diagnosis events in our data planes, other than metrics. How it's implemented is a different question.

@dprotaso @mattmoor @mdemirhan thoughts?

[2020-06-23 18:05] jchesterpivotal commented on #3359
I think this would be problematic in the long run. Lots of scope for unexpected pauses and a shiny magnet for injection attacks.

[2020-06-23 18:18] lionelvillard commented on #3157
The k8s leader election impl is buggy: https://github.com/kubernetes/kubernetes/pull/91942, and not ideal. We need a way plug alternative implementations.

[2020-06-23 18:30] grantr commented on #3359
I agree with @vaikas and others on timing: This is important but seems like it can be a backward compatible addition post-v1. I welcome contrary opinions. :smiley:

I commented on the (in)feasibility of Javascript as a filtering language at https://github.com/knative/eventing/blob/master/docs/broker/filtering.md#javascript-or-lua:

To be fair, this line of argument is mostly sourced from the autho

[2020-06-23 18:52] antoineco commented on #3359
Big fan of the idea of having the possibility to use a remote filter here ☝️ It might not be the most performant approach, but it surely avoids implementing something that's either too opinionated or not powerful enough.

[2020-06-23 19:52] nachocano commented on #3295
@bryeung mentioned that @bharattkukreja might have some cycles to help with this.

As he is getting started in the project, I was thinking he can do simpler one(s) first, and then help more with the ones that need more changes, e.g., ApiServerSource, PingSource.

@n3wscott @lionelvillard  how that sounds? ContainerSource, SinkBinding promotion to v1beta1?

[2020-06-23 21:55] vaikas commented on #2848
Thanks @pierDipi for looking into this. Do we have any idea of the breakdown of the where the time goes after your fixes in #3358? I'm really surprised it gave no speed ups :(

[2020-06-23 23:03] capri-xiyue opened #3392 "Differentiate among "True", "False and "Unknown" when propagate Deployment Availability for sources."
**Problem**
Currently when we propagate deployment availability, we only set "true" or "false". https://github.com/knative/eventing/blob/13e513727e771624bbd2f02c61fb4e640a7a4239/pkg/apis/sources/v1alpha2/apiserver_lifecycle.go#L93.

**Exit Criteria**
Differentiate among "True", "False and "Unknown" when propagate Deployment Availability

[2020-06-23 23:10] capri-xiyue commented on #3392
@nachocano

[2020-06-23 23:18] capri-xiyue commented on #3392
/assign @capri-xiyue

[2020-06-23 23:18] capri-xiyue commented on #3392
related to https://github.com/google/knative-gcp/issues/1332

[2020-06-23 23:24] grantr commented on #3386
I'm fine with a predictable name here. What do you imagine the contents of `eventing-upgrade.yaml` are?

Will we keep the existing single-version upgrade yamls? If not how do users upgrade manually?

[2020-06-23 23:29] vaikas commented on #3386
I'm fine with this approach and if we run into issues we can then adjust, but 👍

[2020-06-23 23:30] n3wscott opened #3393 "Upgrades for 0.15 may not work in k8s 1.18"
**Describe the bug**
Tried to launch the 0.15 eventing upgrade script,

[code]

 **Expected behavior**
Upgrade upgrades

 **To Reproduce**
Was using kind 0.8.1 with default cluster version: 1.18

 **Knative release version**
0.15

[2020-06-23 23:31] n3wscott commented on #3393
I have only seen this once, I will keep playing to see if I have the steps right.

[2020-06-23 23:33] vaikas commented on #3393
is there no webhook conversion for eventtypes? and you're upgrading from .14?

[2020-06-23 23:35] n3wscott commented on #3393
I am trying these steps:

## kind start cluster:

[code]

## install knative eventing 0.14:

[code]

## monitor

[code]

## app install

[code]

## Upgrade to Eventing 0.15

[code]

## upgrade to Eventing 0.16 (nightly)

[code]

# clean up

[code]

[2020-06-23 23:35] n3wscott commented on #3393
so, install 0.14, update to 15, update to nightly 16

[2020-06-23 23:37] vaikas commented on #3393
and update to 15 is failing, or update to nightly 16 is failing?

[2020-06-23 23:38] n3wscott commented on #3393
the update to 15 is what threw the error, but let me confirm I did not have the nightly update pending. 😬

[2020-06-23 23:50] n3wscott commented on #3393
ah you know what the issue is, the nightly docs are out of date:

I updated with

[code]

and it should be

[code]

[2020-06-23 23:51] n3wscott commented on #3393
And then attempting to run the correct job (pre-install) post-install causes:

[code]

[2020-06-24 06:13] pierDipi commented on #2848
We've got no improvements, closing :(
reference: https://github.com/knative/eventing/pull/3358#issuecomment-648451816

/close

[2020-06-24 06:13] #2848 closed

[2020-06-24 07:27] slinkydeveloper commented on #3359
If we say that the filter is a remote service, we don't need it to be a JS specific thing. But that increases the usage complexity, the roundtrips required to serve a message and the filter service capacity must be pretty big. I feel we could mitigate a bit the problem with some engineering (sidecar service with UDS HTTP/2 connection for example), but you're still introducing a performance penalty

[2020-06-24 08:21] FWiesner commented on #3359
related topic: in case we get Turing-complete filters, please also consider result filters to decide on redelivery or posting to different channels

[2020-06-24 12:05] #3152 closed

[2020-06-24 12:05] #3366 closed

[2020-06-24 12:05] #3367 closed

[2020-06-24 12:05] #3365 closed

[2020-06-24 12:06] houshengbo commented on #3386
If we have this file, like `eventing-upgrade.yaml`, it will (for now) contain the content of upgrade-to-v.yaml and storage-mingration.yaml, because both of them are upgrade necessary.
If we have new resources for upgrade in future, we can also add them into this `eventing-upgrade.yaml`.

[2020-06-24 12:22] lionelvillard commented on #3386
| to hosting all the upgrade jobs.

Do you mean all the upgrade jobs from one release to the next (e.g from 0.14 to 0.15), or all jobs for all releases?

[2020-06-24 12:26] #3321 closed

[2020-06-24 13:43] houshengbo commented on #3386
Take 0.15.0 release for example, eventing-upgrade.yaml needs to contain upgrade-to-v0.15.0.yaml and storage-version-migration-v0.15.0.yaml, because they are both upgrade-necessary jobs.
["eventing-upgrade.yaml"]="upgrade-to-v0.15.0.yaml storage-version-migration-v0.15.0.yaml"

For 0.16.0 release, based on current code, eventing-upgrade.yaml should contain pre-install-to-v0.16.0.yaml.
["eventing-up

[2020-06-24 14:37] cr22rc commented on #3299
@aslom I don't see #3387 as being a replacement for this. I  don't think it would create entries in log files that are in order within the log message events and certainly not with the log message from the user application log. It probably won't scale to handle general logging either.

I think this is more suited as an alternative to #3281

[2020-06-24 15:03] duglin commented on #3387
How do you see this being related to #3299 ?

As an end user, I think the most important thing to see are errors. Ideally, I think those should be associated with the entity the error is about from the user's POV. For example, an error with the github source/adapter should probably be related to (seen thru) the Github CR. A more generic error reporting thing (e.g. logDNA) might be useful, but I te

[2020-06-24 16:01] #3386 closed

[2020-06-24 16:33] lionelvillard commented on #3157
Targeting 0.16 for mtping.

/milestone 0.16

[2020-06-24 17:15] vaikas opened #3404 "Clean up LGTM.com alerts"
**Describe the bug**
There are 3 unused variables as shown here:
https://lgtm.com/projects/g/knative/eventing/snapshot/946effc77e1847b610a7161f209d02a2b62c40e1/files/pkg/reconciler/source/crd/crd.go?sort=name&dir=ASC&mode=heatmap

 **Expected behavior**
No alerts

 **To Reproduce**
Look at the LGTM alerts tab.

 **Knative release version**
head

 **Additional context**
Add any other context about

[2020-06-24 20:13] grantr opened #3408 "Keeping up with eventing in a dependent repo"
Many repositories and projects take a significant dependency on Knative Eventing. I'd like to ask contributors to **describe your observations or experiences of difficulty dealing with the Eventing dependency**.

Let me say up front that I'm not looking to reduce velocity or add gates to the PR process, and I don't think anyone else is either. We all want to move fast. I'm not implying that any of

[2020-06-24 20:26] grantr commented on #3408
Some observations to start off:

In https://github.com/google/knative-gcp, we've recently seen CI failures related to the removal of v1alpha1 APIs and the ST broker. To be clear, both of these changes were expected and communicated well in advance.

The root cause seems to be that we install the latest nightly of eventing when running E2E tests, even if the eventing code in that nightly hasn't yet

[2020-06-24 21:29] #3383 closed

[2020-06-24 21:44] anishj0shi commented on #3404
/assign

[2020-06-24 22:24] #3404 closed

[2020-06-25 06:53] matzew commented on #3408
On our openshift/knative-eventing repo we had to deal with the fact as well, that MASTER changed. I was aware of the changes, so I could pre-active do something, and we got working CI soon.

We had that before and I remember some change that was around image renames (or relocations) (e.g. some relocates on `/cmd/blah/foo to `/cmd/else`), that I also had to catch up. Did not see the PR directly, bu

[2020-06-25 06:55] matzew commented on #3408
I think yours is a bit different to ours, as we do not really develop much on-top of our `release-next` branch (unless we really must work around something). But for developing features on top of some codebase, it might be perhaps better to go w/ a released version, since that is stable.

We communicate versions and support to teams, that than build something on-top (e.g. integerations or UI/wizza

[2020-06-25 07:12] #3392 closed

[2020-06-25 09:18] aliok opened #3411 "eventing.* resources v1 umbrella task"
Based on a discussion here: https://knative.slack.com/archives/C9JP909F0/p1593003339137900

1. https://github.com/knative/eventing/issues/3337: Implement V1 API for eventing.* resources.
2. Add new version to CRD and update the CRD field descriptions (see the chat)
3. Update docs and examples
4. Update e2e tests to use v1: https://github.com/knative/eventing/pull/3430
5. Make v1 the storage versio

[2020-06-25 10:07] slinkydeveloper commented on #3304
I started removing the hardcoded values in pkg: https://github.com/knative/pkg/pull/1448

[2020-06-25 10:14] slinkydeveloper commented on #2039
This fixed it for me: https://github.com/kubernetes/minikube/issues/1568#issuecomment-308674617

[2020-06-25 10:44] aliok commented on #3411
I need your feedback @lionelvillard @vaikas on the order and also the sensibility of the tasks

[2020-06-25 12:06] #3378 closed

[2020-06-25 12:06] #3375 closed

[2020-06-25 12:06] #3373 closed

[2020-06-25 12:06] #3374 closed

[2020-06-25 12:06] #3380 closed

[2020-06-25 12:06] #3377 closed

[2020-06-25 12:06] #3382 closed

[2020-06-25 12:06] #3381 closed

[2020-06-25 12:06] #3379 closed

[2020-06-25 12:39] lionelvillard commented on #3411
I would put 5 before 3, to encourage people to use the v1 ASAP.

Thanks for putting this together!

[2020-06-25 12:58] aliok commented on #3411
Ok, let me wait a little more to see if there's any other input and then update the PR desc.
thanks!

[2020-06-25 16:07] mattmoor commented on #3167
Waiting on https://github.com/knative/community/issues/152

[2020-06-25 16:07] mattmoor commented on #3166
Waiting on https://github.com/knative/community/issues/152

[2020-06-25 16:12] mattmoor commented on #3133
Conversations about restarting the stalled functions WG process are ongoing.  We've had a retrospective last week (what went well, what didn't, what do we want to do differently).  One of the things identified was the proposed project scope statement made things more confusing not less.  There is a focused conversation (today) to iterate on the new project scope statement (invite sent to knative-d

[2020-06-25 21:22] evankanderson commented on #3167
#125 should have up-to-date instructions on how to do this.

[2020-06-25 21:23] evankanderson commented on #3166
Directions in #125 if this should go in `knative-sandbox`.

[2020-06-25 21:53] houshengbo opened #3419 "Make filenames configurable for Probe Tests"
**Describe the bug**
This is a handy improvement for Probe Tests.
As Operator consolidates upgrade tests for both serving and eventing, it needs to launch two Probe tests. However, both of the probe tests hard-codes the same filename. If we launch them within the same script, there will be conflict, ending up with the latter probe test overwriting the previous probe test.

 **Expected behavior**
W

[2020-06-25 22:28] grantr commented on #3167
(Pasting in the proposed template from https://github.com/knative/community/pull/125)

## Repo information

Org: knative-sandbox

Repo: discovery

Purpose (Description):The Discovery API’s goal is to enable interactions with a cluster and its resources: built in types, CRDs and COs. These interactions will begin with a focus on allowing cluster level understanding of all the resources for which in

[2020-06-25 23:04] cr22rc commented on #3281
/bark

[2020-06-26 07:43] slinkydeveloper commented on #1845
Checklist of things tested:

* [ ] _Every Channel MUST expose either an HTTP or HTTPS endpoint_: at 26/jun/2020 the HTTPS endpoint is not exposed by any of the eventing components
* [ ] _Support v0.3 and v1.0_: tested with #3362
* [ ] _The Channel MUST NOT perform an upgrade of the passed in version. It MUST emit the event with the same version._: tested with #3362
* [ ] _It MUST support both Bina

[2020-06-26 11:51] aliok opened #3422 "In-memory SinkBinding exploration"
**Problem**
Currently some event sources use SinkBinding to bind the source to the sink:
- Sample source: https://github.com/knative-sandbox/sample-source/blob/master/pkg/reconciler/resources/sink_binding.go#L20
- DockerHubSource: https://github.com/tom24d/eventing-dockerhub/blob/master/pkg/reconciler/source/dockerhubsource.go#L83
- ...

This approach is creating a SinkBinding CR. An alternative w

[2020-06-26 13:58] #3419 closed

[2020-06-26 16:12] nachocano opened #3426 "Move ContainerSource to v1beta1"
**Problem**
We need to promote ContainerSource to v1beta1.
Some tasks this will entail, and can probably be done in different PRs.

- v1beta1 types with UTs
- add new version to CRD
- defaulting and conversion webhook
- Update docs and examples (most in knative/docs)
- Migrate reconciler to v1beta1 with UTs
- Update e2e tests to use v1beta1

**[Persona:](https://github.com/knative/eventing/blob/ma

[2020-06-26 16:14] nachocano commented on #3426
fyi @bryeung

[2020-06-26 17:03] #2913 closed

[2020-06-26 17:06] nachocano commented on #3426
Synced offline with @bharattkukreja.
Decided to have e2e tests for v1alpha2 and v1beta1. So we should follow what SinkBinding is doing in their tests.
This should be done in multiple PRs as mentioned in the description

[2020-06-26 19:16] vaikas commented on #3411
Yes, reconciler can wait and can happen even after .16. Otherwise, looks good. Guess, move 3 to 6 and 6 to 7.

Thanks!!

[2020-06-26 22:52] grantr commented on #3167
https://github.com/knative-sandbox/discovery. I think this is probably ready to start taking contributions, **but** https://github.com/knative/community/pull/170 and https://github.com/knative/website/pull/187 are still open, and I'm not sure exactly what the impact is.

[2020-06-26 23:38] n3wscott commented on #3422
@mattmoor and I had been talking about this and we think it could be a good middle ground to use the logic of sink binding is doing but keep in the controller.

[2020-06-29 15:49] nlopezgi commented on #3336
I think that with #3435 we should be done with this issue? Let me know if something is pending to work on it.

[2020-06-29 16:08] #3349 closed

[2020-06-29 20:10] grantr commented on #3393
@n3wscott did you track this down yet? Is there still an upgrade issue?

[2020-06-29 20:15] grantr commented on #3411
This issue only applies to the eventing.knative.dev group, right? So we probably need more issues for messaging and flows.

[2020-06-29 20:15] #3337 closed

[2020-06-29 20:16] grantr commented on #3411
1-4 need to be done for 0.16.0. The others can happen in later releases.

[2020-06-29 20:20] grantr commented on #3422
@n3wscott ok to assign this one to you if you're already looking at it?

[2020-06-29 20:36] grantr commented on #2933
@n3wscott any progress on this?

[2020-06-29 20:38] grantr commented on #3263
/milestone clear

Let's postpone this, since we think the discovery API will be the best solution long term.

[2020-06-29 22:07] n3wscott commented on #2933
no I was not working on this, fell off the radar

[2020-06-29 22:08] n3wscott commented on #3422
Yeah this was something I was going to look at when I had a moment. Unless someone gets to it first.

[2020-06-29 22:29] grantr commented on #2933
Ok np, can unassign if you'd like someone else to pick it up

[2020-06-29 23:01] vaikas opened #3438 "Broker silently eats failures."
**Describe the bug**
If a response from a function is invalid, there's no way for user to see this. It's also treated silently as if no event was received.

 **Expected behavior**
User should be able to see these.

 **To Reproduce**
Produce invalid response.
https://github.com/knative/eventing/blob/master/pkg/mtbroker/filter/filter_handler.go#L261

 **Knative release version**

 **Additional conte

[2020-06-29 23:03] vaikas commented on #3438
@mattmoor

[2020-06-30 00:30] #3335 closed

[2020-06-30 08:43] matzew commented on #3336
@nlopezgi I think so too.   Do you mind creating an umbrella task like @aliok  did https://github.com/knative/eventing/issues/3411  ?

[2020-06-30 08:43] matzew commented on #3336
/close

[2020-06-30 08:43] #3336 closed

[2020-06-30 08:43] matzew commented on #3335
@lionelvillard Do you mind creating an umbrella task like @aliok  did https://github.com/knative/eventing/issues/3411  ?

[2020-06-30 08:47] matzew commented on #3426
@n3wscott do we have similar issues for PingSource and SinkBi ding?

[2020-06-30 11:06] matzew commented on #3295
Any update here, on the desired features?

[2020-06-30 11:29] #3304 closed

[2020-06-30 12:04] knative-test-reporter-robot opened #3442 "[flaky] test/e2e.TestChannelChain"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelChain
* **Repository name**: eventing

[2020-06-30 12:04] knative-test-reporter-robot opened #3443 "[flaky] test/e2e.TestChannelChain/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelChain/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-06-30 12:04] #3240 closed

[2020-06-30 12:35] lionelvillard opened #3444 "flows.* resources v1 umbrella task"
Based on https://github.com/knative/eventing/issues/3411

   - [x] Implement V1 API for flows.* resources.
      - [types](https://github.com/knative/eventing/pull/3354)
      - [conversion](https://github.com/knative/eventing/pull/3417)
   - [x] Add new version to CRD
      -    [CRD](https://github.com/knative/eventing/pull/3418)
   - [ ] update the CRD field descriptions (see the chat)
   - [x]

[2020-06-30 12:41] matzew commented on #3444
great list /cc @aliok

[2020-06-30 13:56] nlopezgi opened #3446 "messaging.* resources v1 umbrella task"
**Problem**
- Creating an issue similar to https://github.com/knative/eventing/issues/3411 as indicated in https://github.com/knative/eventing/issues/3336#issuecomment-651649527

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**

 * #3336: Implement V1 API for messaging.* resources. (DONE)
 * Add new version to CR

[2020-06-30 13:57] nlopezgi commented on #3336
Created https://github.com/knative/eventing/issues/3446, but I'm not planning on working on this task for the remainder of this week and likely next one. If this is of high priority lets sync to see what's the best strategy to get this landed in time.

[2020-06-30 18:40] #2497 closed

[2020-06-30 18:47] lionelvillard commented on #3210
we have an initial plan.

[2020-06-30 18:47] #3210 closed

[2020-06-30 19:11] grantr commented on #3138
This is a great discussion; thanks everyone for participating! Here's how I understand the sentiments presented so far:

1. There is uncertainty about how users and operators will want to use Eventing and how contributors will implement Brokers.
1. The uncertainty contributes to a lack of consensus about how broker defaulting could be made useful.
1. The lack of consensus leads to universal agreem

[2020-06-30 19:56] vaikas commented on #3438
Little more context on this. If I as a developer try to write a function that say, transforms or decorates an event, and make a programming error, the broker treats this as a successful delivery. I think it's a mistake and if a function returns 200 with body the intent is to return a CloudEvent and if it is not, it should be treated as an error.

[2020-06-30 20:05] #1845 closed

[2020-06-30 20:18] grantr commented on #3438
I agree that this should be considered a delivery failure.

The only subtlety I see here is that there may be situations when it's unclear what the user's intent is: no reply vs yes reply but reply is malformed. This is a hypothetical since I don't know of any specific situations. A clear and explicit definition in the spec of what signals are to be used to detect a reply would help (maybe this ha

[2020-06-30 20:46] grantr commented on #3438
Bit more on the above. The [delivery spec](https://github.com/knative/eventing/blob/3fab60cb4804c02986bd6f1894acbcd4f6fe3343/docs/spec/data-plane.md#http-support) says this:

This is ambiguous when the response in using binary mode and the event has no data at all ([allowed by the spec](https://github.com/cloudevents/spec/blob/master/spec.md#event-data)). Then a valid event response would have 2xx

[2020-06-30 21:16] lionelvillard commented on #3438
@grantr Good catch! "with empty body and no ce-specversion header (the other attributes are ignored)". Otherwise there is an attempt to forward the event. How does that sound?

[2020-06-30 23:07] vaikas commented on #3446
I can tackle the docs for v1 messaging unless that's been spoken for.

[2020-07-01 00:12] vaikas commented on #3446
https://github.com/knative/docs/pull/2630

[2020-07-01 15:53] aslom opened #3455 "Improve UX Knative Eventing Broker (configuration feedback, observability, ...)"
**Problem**
There is lot of "magic" going with brokers with many ways that they can be configured: defaults after injection enabled annotation (not clear about it ordering), without defaults,  trigger annotation, also webhook, more?
https://knative.dev/docs/eventing/broker/mt-channel-based-broker/
https://knative.dev/docs/eventing/broker/index.html#complete-end-to-end-example
https://knative.dev/d

[2020-07-01 15:53] aslom commented on #3138
The uncertainty is more than how it operates but also what to do when it does something unexpected or do nothing (most common problem ...). I think it is related to improving Observability https://github.com/knative/eventing/issues/3387 and in general to user experience for brokers https://github.com/knative/eventing/issues/3455

[2020-07-01 16:10] aslom commented on #3455
Example UX issues: which configs users are supposed to modify? How do they now config is still valid and what is the problem? How to modify with multiple namespaces and different backends (imc, kafka, ...)?

And how do you debug if configuration is wrong? For example using wrong v1alpha1 instead v1beta1 that is just ignored?

[2020-07-01 17:06] slinkydeveloper commented on #3312
I made a doc to explain better the proposal here: https://docs.google.com/document/d/1yVvNKNm9AbZbGg43uRRXOLBmjhGrC-Rhchje7_cWcu0/edit?usp=sharing

[2020-07-01 20:27] #3438 closed

[2020-07-01 20:55] #3225 closed

[2020-07-01 21:41] devguyio opened #3458 "Decide on Eventing v1.0 release criteria"
**Description**
With Knative Eventing 0.16 release, we are starting to serve v1 APIs. However, that does not necessarily mean we are read for Knative Eventing v1.0 release. Knative Eventing needs to meet a set of criteria in order to qualify for a v1.0. This issue is about collecting that criteria and collaborating on them. Please collaborate and comment on the proposal doc.

[Criteria Proposal](h

[2020-07-01 22:17] devguyio commented on #3458
/area area/test-and-release

[2020-07-01 22:17] devguyio commented on #3458
/area test-and-release

[2020-07-01 22:19] devguyio commented on #3458
/area-test-and-release

[2020-07-01 22:22] devguyio commented on #3458
/woof

[2020-07-01 22:27] vaikas commented on #3446
FYI, working on e2e-tests + crd changes.

[2020-07-01 22:31] devguyio commented on #3458
/area test-and-release

[2020-07-01 22:32] devguyio commented on #3458
/kind proposal

[2020-07-02 02:08] houshengbo opened #3462 "Install knative eventing and run test cases under any namespace"
**Describe the bug**
The test cases stick to the only ns `knative-eventing`.

 **Expected behavior**
We should make it configurable to run the test cases and install eventing under any ns.

 **Knative release version**
All

 **Additional context**
None

[2020-07-02 02:08] houshengbo commented on #3462
/assign @houshengbo

[2020-07-02 15:35] slinkydeveloper commented on #2643
/close

[2020-07-02 15:35] #2643 closed

[2020-07-02 17:59] itsmurugappan opened #3464 "Namespaced admin Cluster Role for Bindings"
**Problem**
In 0.15 release bindings were introduced in eventing contrib, but the clusterole which would give namespace admin to create binding were missed.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

Event consumer

**Exit Criteria**
Namespace users should be able to create bindings

**Additional context (optional)**

Since

[2020-07-02 19:08] vaikas opened #3466 "Can not downgrade after upgrade to 0.16 cleanly."
**Describe the bug**
As part of the upgrade/downgrade tests  we're seeing this:

[code]

And its' because the released version of Subscription had this there:
[code]

 **Expected behavior**
upgrade / downgrade to work.

 **To Reproduce**
upgrade to .16 and downgrade to .15

 **Knative release version**

 **Additional context**
Perhaps we need to cut .15.3 with the webhook fixed?

[2020-07-02 19:15] n3wscott commented on #3466
I can take a look at this.

[2020-07-02 19:15] n3wscott commented on #3466
/assign

[2020-07-02 21:18] vaikas opened #3469 "e2e tests failing because knative-monitoring namespace does not exist."
**Describe the bug**
Tests are failing with:

[code]

 **Expected behavior**
tests work

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative release version**

 **Additional context**
Add any other context about the problem here such as proposed priority

[2020-07-02 21:48] #3469 closed

[2020-07-02 21:57] n3wscott commented on #3466
/assign @vaikas

[2020-07-02 23:20] #3464 closed

[2020-07-03 00:58] vaikas commented on #3466
If you upgrade to .16, before downgrading to .15 you have to do this:
kubectl patch crd subscriptions.messaging.knative.dev --type='json' -p '[{"op" : "remove", "path" : "/spec/conversion/webhook"},{"op":"replace", "path":"/spec/conversion/strategy","value" : "None"}]'

[2020-07-03 10:32] aliok opened #3474 "Make Subscribable type and its subtypes convert from/to v1/v1alpha1"
**Problem**
KafkaChannel for example is being bumped from v1alpha1 to v1beta1. But the Subscribable API it uses jumps from v1alpha1 to v1.
I needed to hardcode some stuff in my PR: https://github.com/knative/eventing-contrib/pull/1371

We should better implement this conversion support.

**Additional context (optional)**
See slack chat: https://knative.slack.com/archives/C9JP909F0/p159376472827320

[2020-07-03 10:37] aliok commented on #3474
/assign

[2020-07-03 12:05] knative-test-reporter-robot opened #3478 "[flaky] test/e2e.TestTriggerNoBroker"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestTriggerNoBroker
* **Repository name**: eventing

[2020-07-03 12:05] knative-test-reporter-robot opened #3479 "[flaky] test/e2e.TestParallel"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestParallel
* **Repository name**: eventing

[2020-07-03 12:05] knative-test-reporter-robot opened #3480 "[flaky] test/e2e.TestBrokerChannelFlowV1Beta1BrokerV1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowV1Beta1BrokerV1
* **Repository name**: eventing

[2020-07-03 12:05] knative-test-reporter-robot opened #3481 "[flaky] test/conformance.TestBrokerTracing/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerTracing/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-07-03 12:05] knative-test-reporter-robot opened #3482 "[flaky] test/e2e.TestTriggerNoBroker/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestTriggerNoBroker/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-07-03 12:05] knative-test-reporter-robot opened #3483 "[flaky] test/e2e.TestChannelBasedBrokerWithManyTriggers/Channel-messaging.knative.dev/v1/test_default_broker_with_many_attribute_and_extension_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelBasedBrokerWithManyTriggers/Channel-messaging.knative.dev/v1/test_default_broker_with_many_attribute_and_extension_triggers
* **Repository name**: eventing

[2020-07-03 12:05] knative-test-reporter-robot opened #3484 "[flaky] test/e2e.TestParallel/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestParallel/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-07-03 12:05] knative-test-reporter-robot opened #3485 "[flaky] test/conformance.TestBrokerTracing"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerTracing
* **Repository name**: eventing

[2020-07-03 12:05] knative-test-reporter-robot opened #3486 "[flaky] test/e2e.TestChannelDeadLetterSink"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelDeadLetterSink
* **Repository name**: eventing

[2020-07-03 12:05] knative-test-reporter-robot opened #3487 "[flaky] test/e2e.TestChannelDeadLetterSink/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelDeadLetterSink/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-07-03 12:05] knative-test-reporter-robot opened #3488 "[flaky] test/e2e.TestChannelBasedBrokerWithManyTriggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelBasedBrokerWithManyTriggers
* **Repository name**: eventing

[2020-07-03 12:05] knative-test-reporter-robot opened #3489 "[flaky] test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1Beta1/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1Beta1/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-07-03 12:05] knative-test-reporter-robot opened #3490 "[flaky] test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1Beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1Beta1
* **Repository name**: eventing

[2020-07-03 12:05] knative-test-reporter-robot opened #3491 "[flaky] test/e2e.TestBrokerChannelFlowV1Beta1BrokerV1/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowV1Beta1BrokerV1/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-07-03 19:17] vaikas commented on #3491
https://github.com/knative/eventing/pull/3496

[2020-07-03 19:17] vaikas commented on #3490
https://github.com/knative/eventing/pull/3496

[2020-07-03 19:18] vaikas commented on #3489
https://github.com/knative/eventing/pull/3496

[2020-07-03 19:18] vaikas commented on #3488
https://github.com/knative/eventing/pull/3496

[2020-07-03 19:18] vaikas commented on #3487
https://github.com/knative/eventing/pull/3496

[2020-07-04 02:32] #3462 closed

[2020-07-04 12:05] knative-test-reporter-robot opened #3498 "[flaky] test/e2e.TestParallelV1/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestParallelV1/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-07-04 12:05] knative-test-reporter-robot opened #3499 "[flaky] test/e2e.TestSingleStructuredEventForChannelV1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleStructuredEventForChannelV1
* **Repository name**: eventing

[2020-07-04 12:05] knative-test-reporter-robot opened #3500 "[flaky] test/e2e.TestSequence/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSequence/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-07-04 12:05] knative-test-reporter-robot opened #3501 "[flaky] test/e2e.TestTriggerNoBroker/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestTriggerNoBroker/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-07-04 12:05] knative-test-reporter-robot opened #3502 "[flaky] test/e2e.TestEventTransformationForSubscription"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForSubscription
* **Repository name**: eventing

[2020-07-04 12:05] knative-test-reporter-robot opened #3503 "[flaky] test/e2e.TestEventTransformationForSubscription/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForSubscription/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-07-04 12:05] knative-test-reporter-robot opened #3504 "[flaky] test/e2e.TestSequence"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSequence
* **Repository name**: eventing

[2020-07-04 12:05] knative-test-reporter-robot opened #3505 "[flaky] test/e2e.TestParallelV1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestParallelV1
* **Repository name**: eventing

[2020-07-04 12:05] knative-test-reporter-robot opened #3506 "[flaky] test/e2e.TestSingleStructuredEventForChannelV1/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleStructuredEventForChannelV1/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-07-04 17:06] vaikas commented on #3506
https://github.com/knative/eventing/pull/3496

[2020-07-04 17:06] #3506 closed

[2020-07-04 17:06] vaikas commented on #3505
https://github.com/knative/eventing/pull/3496

[2020-07-04 17:09] vaikas commented on #3504
https://github.com/knative/eventing/pull/3496

[2020-07-04 17:09] #3504 closed

[2020-07-04 17:09] vaikas commented on #3503
https://github.com/knative/eventing/pull/3496

[2020-07-04 17:10] vaikas commented on #3502
https://github.com/knative/eventing/pull/3496

[2020-07-04 17:10] vaikas commented on #3500
https://github.com/knative/eventing/pull/3496

[2020-07-04 17:10] #3500 closed

[2020-07-04 17:10] vaikas commented on #3499
https://github.com/knative/eventing/pull/3496

[2020-07-04 17:10] vaikas commented on #3498
https://github.com/knative/eventing/pull/3496

[2020-07-04 17:10] #3498 closed

[2020-07-04 17:11] vaikas commented on #3491
https://github.com/knative/eventing/pull/3496

[2020-07-04 17:11] #3487 closed

[2020-07-04 17:11] #3486 closed

[2020-07-04 17:12] #3485 closed

[2020-07-04 17:12] #3484 closed

[2020-07-04 17:12] vaikas commented on #3484
https://github.com/knative/eventing/pull/3496

[2020-07-04 17:13] vaikas commented on #3483
https://github.com/knative/eventing/pull/3496

[2020-07-04 17:13] vaikas commented on #3481
https://github.com/knative/eventing/pull/3496

[2020-07-04 17:13] #3481 closed

[2020-07-04 17:15] vaikas commented on #3501
There's been a few failures that look like this:
[code]

[code]

[code]

[2020-07-04 17:16] vaikas commented on #3478
dupe #3482

[2020-07-04 17:16] #3478 closed

[2020-07-04 17:17] vaikas commented on #3479
https://github.com/knative/eventing/pull/3496

[2020-07-04 17:17] #3479 closed

[2020-07-04 17:17] vaikas commented on #3480
https://github.com/knative/eventing/pull/3496

[2020-07-05 05:41] nak3 opened #3508 "Can not add annotation to pod template in pingsource-jobrunner deployment automatically"
**Describe the bug**

- As an user, I would like to add an annotation to pingsource-jobrunner pod. But the deployment is created by eventing and it seems impossible to add the annotation automatically.

**Expected behavior**

- We would like to `sidecar.istio.io/inject: "true"` annotation to pingsource deployment's pod template like:

[code]

**To Reproduce**

- There is no way to add annotation t

[2020-07-05 12:03] #3482 closed

[2020-07-06 09:15] pierDipi commented on #3094
I'm interested in working on this.

For now, I would go ahead with: (1)

And as a longterm goal building this: (2)

What do you think?

/assign

[2020-07-06 10:13] pierDipi commented on #3094
A solution to:

might be a map `brokerClass -> ConditionSet` and in `GetConditionSet() apis.ConditionSet` we return a `ConditionSet` accordingly.
Might it work?

[2020-07-06 12:05] #3501 closed

[2020-07-06 15:22] n3wscott opened #3512 "Use string consts for annotation key/values."
/good-first-issue

There are some constants available for both of these hardcoded strings if you want to change them.

_Originally posted by @aliok in https://github.com/knative/eventing/pull/3507/files_

[2020-07-06 18:54] n3wscott opened #3513 "e2e tests should not ko apply config directly."
**Describe the bug**
Our e2e tests use `ko apply` on our collection of config, but it is not 100% sure that the config the e2e tests use will be the same nor in the same order as a release we are about to ship.

 **Expected behavior**
We test e2e with the same resulting manifests we use for releases.

 **Knative release version**
currently 0.16

 **Additional context**
We should change the e2e scr

[2020-07-06 19:13] lionelvillard commented on #3513
Good idea! It should be possible to call `hack/release.sh` from the e2e script to generate the release artifacts.

[2020-07-06 19:36] vaikas opened #3515 "trigger.spec.broker should be immutable"
**Describe the bug**
Trigger.spec.broker should be immutable. There's even code there, but it's not correctly invoked.

 **Expected behavior**
trigger.spec.broker is immutable field.

 **To Reproduce**
create trigger, kubectl edit a broker field, it's accepted.

 **Knative release version**
head

 **Additional context**
Add any other context about the problem here such as proposed priority

[2020-07-06 19:38] vaikas opened #3516 "BrokerClass should be immutable"
**Describe the bug**
You should not be able to change the BrokerClass of a Broker. There's even code there in CheckImmutableFields, but it's not invoked correctly.

 **Expected behavior**
BrokerClass should not necessarily be changeable.

 **To Reproduce**
Create Broker, edit it to point to different BrokerClass by changing the annotation.

 **Knative release version**
Head

 **Additional context*

[2020-07-06 20:49] vaikas opened #3518 "Channel.spec.channelspec is immutable, but not properly checked."
**Describe the bug**
Similar to #3515 where the code for checking for immutable fields exists but is never called.

 **Expected behavior**
Channel.spec.channeltemplatespec is immutable

 **To Reproduce**
Create channel, change the channeltemplatespec, should fail, doesn't.

 **Knative release version**
head

 **Additional context**
Add any other context about the problem here such as proposed prio

[2020-07-06 21:00] sebgoa commented on #3359
I am curious to read a clear use-case for this. What type of events getting in and why do you need advanced filtering. I have my views but it would be nice to read it clearly in this issue.

[2020-07-06 21:05] vaikas opened #3521 "subscription.spec.channel should be immutable"
**Describe the bug**
subscription.spec.channel should be immutable, but the code is not wired up.

 **To Reproduce**
create subscription, modify channel should fail, but it doesn't.

 **Knative release version**

 **Additional context**
Add any other context about the problem here such as proposed priority

[2020-07-06 22:22] #3521 closed

[2020-07-06 22:28] n3wscott opened #3524 "[MTBroker] No way to set default max ttl for events on ingress."
**Describe the bug**
No way to set default max TTL, defaults to 255

 **Expected behavior**
I can change the value

 **To Reproduce**
send an event that loops 256 times.

 **Knative release version**
0.16

 **Additional context**
https://github.com/knative/docs/issues/2646

Will be a good-first-issue when we decide a solution for this (config map or envvar, or?).

[2020-07-06 23:05] #3518 closed

[2020-07-06 23:45] #3516 closed

[2020-07-07 01:00] #3515 closed

[2020-07-07 10:04] FWiesner commented on #3524
@n3wscott being able to configure a back-off strategy would also be highly appreciated

[2020-07-07 10:06] FWiesner commented on #3524
The code you referred to btw links to #1777

[2020-07-07 13:21] tommyreddad commented on #3242
/assign

[2020-07-07 14:10] n3wscott commented on #3524
Back off is something different, we use ttl to track how many times something loops through the broker attempting to prevent infinite loops.

The delivery object could add a retry/back off strat.

[2020-07-07 15:49] nachocano commented on #3422
@aliok are you planning to work on this one?

[2020-07-07 17:00] lionelvillard opened #3529 "sources.* resources v1beta1 meta umbrella task"
Here the list of sources to move to v1beta1, with additional features based on [feedback](https://github.com/knative/eventing/issues/3295), and tentative assignment:

 - [x] ApiServerSource (@capri-xiyue )
   - be able to filter on a resource's name
 - [x] ContainerSource (@bharattkukreja)
       - issue here https://github.com/knative/eventing/issues/3426
 - [x] PingSource (@lionelvillard)
    -

[2020-07-07 17:10] n3wscott opened #3530 "[Cleanup] Migrate source/CRD reconciler to Genreconciler."
**Problem**
See https://github.com/knative/eventing/blob/master/pkg/reconciler/source/crd/crd.go

This code was written before the genreconciler understood how to make a reconcilers for out-of-tree resources.
We can replace the CRD reconciler with the genreconciler ReconcileKind version.

The byproduct here is we will enable that controller to have the fancy leader election code work out of the bo

[2020-07-07 17:12] mattmoor commented on #3530
We should be able to eliminate a whole bunch of setup for the Event Recorder in controller.go too.

[2020-07-07 18:32] #3512 closed

[2020-07-07 19:16] vayyappaneni opened #3532 "storage-version-migration job never completes on istio enabled cluster"
## What version of Knative?
0.15.2

## Expected Behavior

storage-version-migration job to finish on istio enabled cluster

## Actual Behavior

storage-version-migration job never completes on istio enabled cluster

## Steps to Reproduce the Problem

Install 0.15.2 on istio enabled cluster with auto-injection enabled

## Related
This is the same issue from here
https://github.com/knative/eventing-

[2020-07-07 19:36] houshengbo opened #3535 "Align the eventing-upgrade yaml name with the one in knative serving"
**Describe the bug**
The name eventing-upgrade.yaml does not align with the name of yaml file in knative serving.

 **Expected behavior**
As https://github.com/knative/serving/pull/8514 proposed, eventing-upgrade should be changed into `eventing-post-install-jobs.yaml`.

 **Knative release version**
Master

[2020-07-07 19:42] ar-mi6 commented on #3532
The annotations are there in knative-serving and It'd be nice to have this in eventing as well.

[2020-07-07 19:50] AceHack commented on #3532
I'm having this issue too

[2020-07-07 20:16] n3wscott commented on #3513
Serving already does this: https://github.com/knative/serving/blob/1bbe2e3e16b991e86dfaa6e84c59f51e15f44cd2/test/e2e-common.sh#L142

which is done via https://github.com/knative/serving/blob/1bbe2e3e16b991e86dfaa6e84c59f51e15f44cd2/hack/generate-yamls.sh

And also used in the release: https://github.com/knative/serving/blob/1bbe2e3e16b991e86dfaa6e84c59f51e15f44cd2/hack/release.sh#L27

[2020-07-07 22:01] vaikas opened #3538 "Hard to debug failed upgrade tests"
We have a few tests that are failing with something like this:

[code]

It's not possible to understand from here if the trigger was created, what state it is and so forth. For e2e tests, they dump the state of the resources they have created at the end (as well as k8s events), we should have that kind of information available for these tests as well. Or if it's already there, maybe the way we exi

[2020-07-07 22:31] cardil commented on #3538
Sure. I can take a look at this. Shortly.

[2020-07-07 23:51] vaikas commented on #3538
Awesome. I started playing around moving it to use more standard resource creation (ala, e2e style + waits, etc.)
But ima call it a night so maybe that will help you, maybe not :) If not, I'll pick this up tmw.

[2020-07-08 10:11] aliok commented on #3422
I don't have the cycles @nachocano

@tom24d was bringing this up, let's ask him first

[2020-07-08 11:18] tom24d commented on #3422
@nachocano I would love to, but I am a bit lack of time to tackle on this for now. Please feel free to take this if you want.👍

[2020-07-08 12:04] knative-test-reporter-robot opened #3540 "[flaky] 3.40% tests failed in repo eventing on 2020-07-08 10:53:12 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 3.40% tests failed in repo eventing on 2020-07-08 10:53:12 +0000 UTC
* **Repository name**: eventing

[2020-07-08 15:59] #3211 closed

[2020-07-08 16:12] #3138 closed

[2020-07-08 16:42] grantr commented on #1976
Existing spec docs for v1alpha1 and v1beta1:
- https://github.com/knative/eventing/blob/master/docs/spec/spec.md
- https://github.com/knative/eventing/blob/master/docs/spec/spec_v1alpha1.md

[2020-07-08 17:01] grantr opened #3541 "Review and refresh new user docs"
**Problem**
Heard about Knative, came to knative.dev. What is it for? What do I do with this? How do I hold it?

https://knative.dev/development/eventing/ (the prerelease version currently) has some good material here. @vaikas wrote a walkthrough at https://docs.google.com/document/d/1pL-p3Urm7RCWt_ZDbhMM52sMpMUhO3L-UFeaEXO4FiI/edit.

**[Persona:](https://github.com/knative/eventing/blob/master/do

[2020-07-08 17:09] grantr commented on #1519
Superseded by #3541

[2020-07-08 17:09] #1519 closed

[2020-07-08 18:47] vaikas commented on #3540
I think this is actually the root cause of the failures. Seems like this was the root cause, and caused all the other tests to fail if I read the logs correctly:
https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-eventing-continuous/1280756772721659905

[code]

[2020-07-08 18:54] grantr commented on #2212
Retries are currently impossible to test in this repo because the only channel we have access to is InMemoryChannel which doesn't retry ever. It might be worth adding optional cheap and cheerful retries to IMC (in memory only, maybe one retry maximum) so that this important feature of the Broker can be tested adequately.

[2020-07-08 19:02] nachocano opened #3544 "Move SinkBinding to v1beta1"
**Problem**
We need to promote SinkBinding to v1beta1.
Some tasks this will entail, and can probably be done in different PRs.

- [x] v1beta1 types with UTs
- [x] add new version to CRD
- [x] defaulting and conversion webhook
- [x] Update docs and examples (most in knative/docs)
- [x] Migrate reconciler to v1beta1 with UTs
- [x] Update e2e tests to use v1beta1
- [ ] Make v1beta the storage version

[2020-07-08 20:32] #3538 closed

[2020-07-08 21:59] #3540 closed

[2020-07-08 22:25] grantr commented on #3094
:+1: to your plan @pierDipi. The issue of multiple broker classes controlled by a single container is theoretical right now (afaik), so no need to focus on that. A solution for one broker class per container would probably be easier to develop and immediately useful to broker developers.

[2020-07-08 22:38] #3535 closed

[2020-07-09 00:45] tcnghia commented on #3166
Repo is created here https://github.com/knative-sandbox/integration

[2020-07-09 12:03] knative-test-reporter-robot opened #3549 "[flaky] test/e2e.TestEventTransformationForTriggerV1BrokerV1Beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1BrokerV1Beta1
* **Repository name**: eventing

[2020-07-09 12:03] knative-test-reporter-robot opened #3550 "[flaky] test/upgrade.TestContinuousEventsPropagationWithProber"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestContinuousEventsPropagationWithProber
* **Repository name**: eventing

[2020-07-09 12:04] knative-test-reporter-robot opened #3551 "[flaky] test/e2e.TestChannelClusterDefaulter/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelClusterDefaulter/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-07-09 12:04] knative-test-reporter-robot opened #3552 "[flaky] test/e2e.TestEventTransformationForTriggerV1BrokerV1Beta1/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1BrokerV1Beta1/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-07-09 12:04] knative-test-reporter-robot opened #3553 "[flaky] test/e2e.TestChannelClusterDefaulter"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelClusterDefaulter
* **Repository name**: eventing

[2020-07-09 12:04] knative-test-reporter-robot opened #3554 "[flaky] test/e2e.TestChannelChain/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelChain/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-07-09 13:15] FWiesner opened #3555 "DeliverySpec.backoffDelay does not accept RFC3339 duration, but timestamp"
https://github.com/knative/eventing/blob/a6b7494a5b8fbb2e9574dfbe54fbb9dad53ad121/pkg/apis/duck/v1/delivery_types.go#L70

It was possible to set `2019-10-12T07:20:50.52Z` as value, but not `P1S`

[2020-07-09 13:28] FWiesner commented on #3555
`time.ParseDuration()` uses a custom format, not RFC3339 and `time.Parse(...)` parses timestamps. You might need https://github.com/peterhellberg/duration/blob/master/duration.go or similar

[2020-07-09 15:48] #3532 closed

[2020-07-09 16:13] vaikas commented on #3551
TestChannelClusterDefaulter/InMemoryChannel-messaging.knative.dev/v1: event_info_store.go:105: Failed to start the recordevent pod 'e2e-defaulter-recordevents-pod': etcdserver: request timed out

[2020-07-09 16:14] vaikas commented on #3553
#3551
That's the actual test failure. Closing this dupe.

[2020-07-09 16:14] vaikas commented on #3549
#3552
Closing this, since that's the actual failure.

[2020-07-09 16:18] vaikas commented on #3552
TestEventTransformationForTriggerV1BrokerV1Beta1/InMemoryChannel-messaging.knative.dev/v1beta1: send_event.go:40: Failed to get the URI for &TypeMeta{Kind:Broker,APIVersion:eventing.knative.dev/v1beta1,}-e2e-eventtransformation-broker

[2020-07-09 16:19] vaikas commented on #3554
TestChannelChain/Channel-messaging.knative.dev/v1: send_event.go:59: Failed to send event Validation: valid
        Context Attributes,
          specversion: 1.0
          type: dev.knative.test.event
          source: http://e2e-channelchain-sender.svc/
          id: dummy
          datacontenttype: application/json
        Data (binary),
          {
            "msg": "TestSingleEvent a962f2ea-

[2020-07-09 16:48] vaikas commented on #3550
https://github.com/knative/eventing/pull/3539
Hasn't failed since, closing. I'm sure this will be reopened if that's not the case.

[2020-07-09 16:48] #3550 closed

[2020-07-09 17:01] grantr commented on #3555
@lionelvillard What was the intent for valid values for this field?

[2020-07-09 17:29] #3167 closed

[2020-07-09 18:34] vaikas opened #3558 "Audit and validate the categories for CRDs"
**Describe the bug**
Some of the CRD categories appear to be wrong (at least subscription shows up under eventing) vs. (channels, imc). We should make sure we audit and validate them.

https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#categories

 **Expected behavior**
If I ask for messaging components, subscription for example should be there.
A clea

[2020-07-09 18:51] lionelvillard commented on #3555
The intent is to use the [ISO8601](https://en.wikipedia.org/wiki/ISO_8601#Durations) duration format which is not covered by RFC3339 (only mentioned in the [Appendix A](https://tools.ietf.org/html/rfc3339#appendix-A)).

We need to fix our doc and implementation.

Thanks @FWiesner for reporting this!

[2020-07-09 19:06] FWiesner commented on #3555
btw what is the default value?

[2020-07-09 19:22] lionelvillard commented on #3555
AFAIK, there is no channel implementations supporting retries and there is no predefined default values.

[2020-07-09 20:51] FWiesner commented on #3555
@lionelvillard I've heard repeatedly the `KafkaChannel` would

[2020-07-09 21:48] vaikas commented on #3094
@grantr when you say multiple broker classes controlled by a single container, do you mean a single controller process?

[2020-07-09 21:53] vaikas commented on #3054
I started looking at this and thought about just fixing the "top level" description for the crd, and then I ran into this. Just jotting this down, not saying this is the problem, but...
https://github.com/kubernetes/kubernetes/issues/82407

[2020-07-09 23:06] grantr commented on #3094
@vaikas correct

[2020-07-10 02:29] LiYa-Xu opened #3559 "No matches for kind "CustomResourceDefinition" in version "apiextensions.k8s.io/v1" with kube 1.17"
**Describe the bug**
Can not apply eventing.yaml

 **Expected behavior**
apply eventing succeed

 **To Reproduce**
Upgrade kube to 1.17.0

 **Knative release version**
0.16.0

 **Additional context**
+kubectl get ns/knative-eventing

[code]

[2020-07-10 05:26] mattmoor commented on #3530
/assign

[2020-07-10 17:33] #3530 closed

[2020-07-10 22:30] #3094 closed

[2020-07-12 12:03] knative-test-reporter-robot opened #3566 "[flaky] 1.72% tests failed in repo eventing on 2020-07-12 10:53:11 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.72% tests failed in repo eventing on 2020-07-12 10:53:11 +0000 UTC
* **Repository name**: eventing

[2020-07-13 11:29] devguyio opened #3567 "Decide on Eventing v1.0 release criteria"
**Description**
With Knative Eventing 0.16 release, we are starting to serve v1 APIs. However, that does not necessarily mean we are read for Knative Eventing v1.0 release. Knative Eventing needs to meet a set of criteria in order to qualify for a v1.0. This issue is about collecting that criteria and collaborating on them. Please collaborate and comment on the proposal doc.

[Criteria Proposal](h

[2020-07-13 11:29] devguyio commented on #3567
/area test-and-release
/kind proposal

[2020-07-13 11:30] devguyio commented on #3458
Duplicate of #3567

[2020-07-13 11:30] #3458 closed

[2020-07-13 11:33] devguyio commented on #3567
A few questions remain open:

1. By when do you think we should be ready with this release criteria ? I feel that this might drive our planning for next release(s).
1. Does this need to be coordinated with TOC or SC ?

/cc @vaikas @lionelvillard @grantr
/cc @evankanderson , specially question 2.

[2020-07-13 12:03] knative-test-reporter-robot opened #3568 "[flaky] test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1beta1/min-event_encoding_structured_version_0.3"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1beta1/min-event_encoding_structured_version_0.3
* **Repository name**: eventing

[2020-07-13 12:03] knative-test-reporter-robot opened #3569 "[flaky] test/conformance.TestChannelDataPlaneSuccess"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess
* **Repository name**: eventing

[2020-07-13 12:03] #3551 closed

[2020-07-13 12:42] evankanderson commented on #3567
Historically, Steering has suggested that the project should coordinate release numbers across the project, and that we should guide it's by indicating the maturity out each component as "stable" or the equivalent.

I thing the last time this was discussed was probably around May 2020 in the TOC meeting.

[2020-07-13 13:21] lionelvillard commented on #3567
I feel this should be done ASAP, but I also feel it's not unique to Eventing. In particular I'm thinking that whatever set of criteria we defined should probably be reflected in the release versioning principles document, specifically this section: https://github.com/knative/community/blob/master/mechanics/RELEASE-VERSIONING-PRINCIPLES.md#project-feature-and-sub-feature-phase-principle

WDYT?

[2020-07-13 13:43] slinkydeveloper commented on #3121
/assign

[2020-07-13 15:21] MIBc commented on #3558
I can help.

[2020-07-13 16:04] aslom commented on #3455
Main docs:
https://knative.dev/docs/eventing/broker/
and
https://knative.dev/docs/eventing/broker/defaults-br-config/

[2020-07-13 16:39] vaikas commented on #3466
This (the need to run a patch) was added to our release notes as action required.

[2020-07-13 16:39] #3466 closed

[2020-07-13 16:39] vaikas commented on #3569
Dupe of #3568

[2020-07-13 16:42] vaikas commented on #3568
Failed with not being able to fetch the events.
[code]

[2020-07-13 16:46] devguyio commented on #3567
/assign
/milestone v0.17.0

[2020-07-13 16:48] vaikas opened #3570 "Make the eventstore pods more resilient to failures. Causing flakes in our tests."
**Describe the bug**
Many recent flakes have had errors that looks like so (just choosing one example, but there are others). These cause flaky tests, so we should really figure out what's going on here so that our tests stability improves.

[code]

 **Expected behavior**
Test infra to be more robust towards failures.

 **To Reproduce**
Look at some recent flakey tests failures and grep for this s

[2020-07-13 18:36] vaikas commented on #3568
#3570

[2020-07-13 18:36] vaikas commented on #3566
#3570

[2020-07-13 18:47] vaikas commented on #3559
Couple of things, I noticed you used the out of date install instructions from the looks of it:
https://knative.dev/docs/install/any-kubernetes-cluster/

so the proper way to install the CRD definitions would be:
[code]

However, it seems like your cluster does not have the api-resources which is preventing the creation of the CRDs that we need.

What does this show for you?

[code]
I actually don

[2020-07-13 19:48] #3281 closed

[2020-07-13 20:05] grantr commented on #3570
@ericlem @slinkydeveloper @cardil I think you're all involved in this new testing infrastructure. Any idea what could be causing this?

[2020-07-13 20:10] vaikas commented on #3559
Could you also attach output of:
[code]

[2020-07-13 20:15] mattmoor opened #3571 "mtping should enable the adapter leader election functionality."
As discussed [here](https://github.com/knative/eventing/pull/3564#discussion_r453121530)

[2020-07-13 20:35] grantr commented on #1755
@Harwayne friendly ping on this :)

[2020-07-13 20:38] lberk commented on #1777
@n3wscott Circling back on this -- it might help if we had a more concrete list of settings we want, it could be a rather broad set of configuration switches otherwise

[2020-07-13 20:40] lberk commented on #1894
@aslom I think this has been fixed -- would you be willing to reproduce/confirm this and close if it's no longer applicable? thanks!

[2020-07-13 20:44] mattmoor commented on #3571
/assign @lionelvillard

[2020-07-13 20:44] lberk commented on #2715
it would be good to have this sorted out and audited with #3567

[2020-07-13 20:46] lberk commented on #2721
@duglin is this still a priority for you?  Do you have anybody that has spare cycles to pick this up?

[2020-07-13 20:52] lberk commented on #2841
@nlopezgi word through the grapevine is that you were working on something somewhat related to this -- is this an issue you'd be able to pick up?

[2020-07-13 21:00] lberk commented on #3041
/close
please feel free to reopen if you see the issue reproduced again

[2020-07-13 21:00] #3041 closed

[2020-07-13 21:01] lionelvillard commented on #2949
`TestPostMessage_ServeHTTP` should be renamed to reflect that fact that no server is actually being started.

[2020-07-13 21:10] vaikas commented on #3524
I think this could be an env variable say, MAX_TTL and we just plumb that through here.

Define it here:
https://github.com/knative/eventing/blob/master/cmd/mtbroker/ingress/main.go#L75

Set the default there to 255.

validate it and pass that in here instead:
https://github.com/knative/eventing/blob/master/cmd/mtbroker/ingress/main.go#L149

[2020-07-13 21:31] #3095 closed

[2020-07-13 21:34] duglin commented on #2721
we do still want it - but other work items are taking priority right now.  If someone else wants to jump in.... :-)

[2020-07-14 00:57] LiYa-Xu commented on #3559
@vaikas Thanks for your response !
kubectk version :
[code]
And customresourcedefinitions like below:
[code]

[2020-07-14 01:45] LiYa-Xu opened #3578 "TestTriggerDependencyAnnotation fails"
**Describe the bug**
TestTriggerDependencyAnnotation is failing consistently.

 **Expected behavior**
test should pass

 **To Reproduce**
[code]
 **Knative release version**
v0.15.2

 **Additional context**

###############

[code]

[2020-07-14 01:51] vaikas commented on #3559
Yeah, so your k8s cluster is still on 1.15, see the server version, that doesn't have the necessary bits. Eventing 0.16 had minimum version of k8s 1.16. if you can't upgrade to 1.16 of k8s, you have to use eventing 0.15. sorry for terseness, on the phone

[2020-07-14 02:19] LiYa-Xu commented on #3559
@vaikas  Thanks for your help ,will have a try .

[2020-07-14 07:00] slinkydeveloper commented on #3570
I had a look a while ago and I added a wait for the event record pod to be ready before starting invoking it. That change seemed to have fixed the issue, but now it's back again here...

[2020-07-14 08:42] aliok commented on #3474
/close

All refactoring and clean up PRs are merged

[2020-07-14 08:42] #3474 closed

[2020-07-14 08:43] aliok opened #3579 "Make eventing.* v1 resources the stored version"
Part of https://github.com/knative/eventing/issues/3411

Bump the storage version

Also think about if there's a need for a migration tool, similar to https://github.com/knative/eventing/blob/master/config/pre-install/v0.16.0/storage-version-migration.yaml

[2020-07-14 08:44] aliok opened #3580 "Make reconcilers use eventing.* v1 resources"
Part of https://github.com/knative/eventing/issues/3411

Make reconcilers use eventing.* v1 resources

[2020-07-14 08:46] aliok opened #3581 "Make flows.* v1 resources the stored version"
Part of https://github.com/knative/eventing/issues/3444

Bump the storage version

Also think about if there's a need for a migration tool, similar to https://github.com/knative/eventing/blob/master/config/pre-install/v0.16.0/storage-version-migration.yaml

[2020-07-14 08:47] aliok opened #3582 "Make reconcilers use flows.* v1 resources"
Part of https://github.com/knative/eventing/issues/3444

Make reconcilers use flows.* v1 resources

[2020-07-14 08:48] aliok opened #3583 "Make messaging.* v1 resources the stored version"
Part of https://github.com/knative/eventing/issues/3446

Bump the storage version

Also think about if there's a need for a migration tool, similar to https://github.com/knative/eventing/blob/master/config/pre-install/v0.16.0/storage-version-migration.yaml

[2020-07-14 08:49] aliok opened #3584 "Make reconcilers use messaging.* v1 resources"
Part of https://github.com/knative/eventing/issues/3446

Make reconcilers use messaging.* v1 resources

[2020-07-14 08:51] aliok commented on #3446
@nlopezgi
I created 2 tickets:
- https://github.com/knative/eventing/issues/3583 --> stored version bump
- https://github.com/knative/eventing/issues/3584 --> reconciler to use bumped versions

Mind adding these to the issue description?

[2020-07-14 11:21] zroubalik opened #3585 "Reconcilers for flows.* v1 types are not generated"
**Describe the bug**
`flows.* v1` types are missing `// +genreconciler` marker, therefore reconcilers are not generated for these types, see:
https://github.com/knative/eventing/blob/master/pkg/apis/flows/v1/sequence_types.go#L36
https://github.com/knative/eventing/blob/master/pkg/apis/flows/v1/parallel_types.go#L35

 **Expected behavior**
Reconcilers are generated

 **To Reproduce**
`./hack/updat

[2020-07-14 13:04] #3585 closed

[2020-07-14 17:42] vaikas commented on #3580
I'll tackle this.

[2020-07-14 17:48] aliok commented on #3584
/assign

[2020-07-14 19:28] vaikas commented on #3242
So, ideally we'd just get the channel as duckv1.Channelable and use the Status.Address from the channel. The caveat is that it really has to come from the Channel that's being used for any given broker, because for different broker instances they could be using different underlying channels.
So the simplest solution that I see is to set up a tracker for duckv1.channelables in the main, then grab t

[2020-07-14 20:48] lionelvillard opened #3588 "PingSource migration job to remove finalizer"
**Problem**
in 0.16, the PingSource mt-adapter adds and removes a finalizer. It is not added or removed in 0.17.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How many developer-days do you think

[2020-07-14 20:56] #3580 closed

[2020-07-14 23:20] mattmoor opened #3590 "Enabling HA and chaosduck for IMC yields failures"
In the context of [this PR](https://github.com/knative/eventing/pull/3565) I tried enabling HA of the imc-controller process and "chaos".

It resulted in these failures during e2e: https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_eventing/3565/pull-knative-eventing-integration-tests/1283163740094599169

To reproduce things, sync past #3565 landing (or pull in the PR) and change:

[2020-07-14 23:22] mattmoor opened #3591 "Enabling HA and chaosduck for MT Broker yields failures"
In the context of [this PR](https://github.com/knative/eventing/pull/3565) I tried enabling HA of the mt-broker-controller process and "chaos".

It resulted in these failures during e2e: https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_eventing/3565/pull-knative-eventing-integration-tests/1283139079159943170

To reproduce things, sync past #3565 landing (or pull in the PR) and c

[2020-07-14 23:31] mattmoor commented on #3591
/assign @vaikas

[2020-07-15 02:12] vaikas commented on #3591
So here are just some rando observations from digging through the (huge number of :) ) logs. I decided to focus on only one of the failures for now, namely this one:

TestEventTransformationForTriggerV1Beta1BrokerV1/InMemoryChannel-messaging.knative.dev/v1beta1
[code]

So, what's interesting about that is that the Status is empty, aka, not even initialize conditions. As if it's never been reconcil

[2020-07-15 02:23] vaikas commented on #3591
I very well might have sliced the logs wrong, but the fact that we don't see our broker entries in the logs is troubling.
https://github.com/knative/eventing/blob/master/pkg/reconciler/mtbroker/broker.go#L104

[code]

https://github.com/knative/eventing/blob/master/pkg/reconciler/mtbroker/broker.go#L126

[code]

Would at least me to expect that log entry (which I see printed for the default broker

[2020-07-15 04:19] mattmoor commented on #3591
_I wanted to trace through things to create a bit of a map to help myself jump around._

When failover happens, this is the path things should take...

1. We see the log statements above from this line of k8s' [leaderelection.go](https://github.com/knative/eventing/blob/bd330541d94130a7e7b499e1a7319ccd9afc001d/vendor/k8s.io/client-go/tools/leaderelection/leaderelection.go#L252)
2. That returns to

[2020-07-15 04:24] mattmoor commented on #3591
I've created a stacked PR that re-enables HA/chaos for the broker here: https://github.com/knative/eventing/pull/3594

[2020-07-15 05:27] LiYa-Xu commented on #3559
@vaikas
After I upgraded my kube version to 1.17 and I apply latest release v0.16.2 ,I failed on case
[code]
Could you please help me ?

[2020-07-15 12:03] #3568 closed

[2020-07-15 13:04] lionelvillard commented on #3559
I believe this was answered in slack: https://knative.slack.com/archives/C9JP909F0/p1594790488460200

@LiYa-Xu can we close this?

[2020-07-15 13:51] LiYa-Xu commented on #3559
@lionelvillard Yes , above issue was fixed . But I met other issues :(
Like below :
[code]

[2020-07-15 18:03] arzarif commented on #3295
It would be great to be able to use ApiServerSources to extract information from remote clusters by providing a kubeconfig. Currently, an ApiServerSource can only interface the cluster it's running on.

I briefly talked to a couple of folks in the Slack channel and the idea of using a binding (something like the GithubBinding) to implement this came up. @mattmoor, @antoineco

[2020-07-15 19:59] grantr commented on #2757
Since we decided not to make authorization policy a core feature of Knative, the Eventing components in this repo will continue to support structured encoding. As Mike mentions above, an authorization system integrated with Eventing may choose to reject as unauthorized requests that use structured encoding.

[2020-07-15 19:59] #2757 closed

[2020-07-15 20:28] antoineco commented on #3295
I think the KubeconfigBinding would be a nice addition to the existing source indeed.

It doesn't have to influence the graduation to beta though. The Binding can be implemented regardless of the API version, since it applies to the Pods created by sources, and not to the source objects themselves.

[2020-07-15 21:16] mattmoor commented on #3591
Ville and I debugged this some, and what is interesting is that:
1. The leader pods had REALLY deep backlogs in their workqueues: ~125 entries
2. The non-leader pods had virtually empty workqueues.

The processing time for things on the leader were >1s, which smells like client-side rate limiting (we've seen it go as high as ~10s in the past).  The default client-side rate limiting in client-go is

[2020-07-15 21:35] mattmoor commented on #3590
Opened https://github.com/knative/eventing/pull/3598 to start debugging this.

[2020-07-16 00:37] capri-xiyue commented on #3529
I'm willing to work on ApiServerSource. @nachocano @lionelvillard  Can you help add my name for the apiserversource. I don't have the permission to do that part.

[2020-07-16 00:49] nachocano commented on #3529
Awesome, done! Thanks Xiyue!

[2020-07-16 12:06] knative-test-reporter-robot opened #3604 "[flaky] test/e2e.TestParallelV1/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestParallelV1/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-07-16 13:48] lionelvillard commented on #3295
Today, bindings only works with PodSpecable and APIServerSource is not. The APIServerSource implementation might use *under the cover* a PodSpecable per source or one for all in the same service account, but this is not available to the  binding.

[2020-07-16 15:07] lionelvillard opened #3606 "Move pingsource to v1beta1 umbrella issue"
**Problem**
We need to promote PingSource to v1beta1.

- [x] v1beta1 types with UTs
- [x] add new version to CRD
- [x] defaulting and conversion webhook
- [x] Update docs and examples (most in knative/docs)
- [x] Update e2e tests to use v1beta1
- [x] Migrate reconciler to v1beta1 with UTs
- [x] Make v1beta the storage version

[2020-07-16 15:11] vaikas commented on #3480
dupe of #3491

[2020-07-16 15:12] vaikas commented on #3491
[code]
The last failure was:
https://github.com/knative/pkg/issues/1509

[2020-07-16 15:48] vaikas commented on #3591
I broke out the improvements into their own PR (#3609) so that we can get those in while we continue to debug the issues.

[2020-07-16 17:05] capri-xiyue opened #3611 "Move APIServerSource to v1beta1"
**Problem**
We need to promote APIServerSource to v1beta1.
Some tasks this will entail, and can probably be done in different PRs.

- v1beta1 types with UTs
- add new version to CRD
- defaulting and conversion webhook
- Update docs and examples (most in knative/docs)
- Migrate reconciler to v1beta1 with UTs
- Update e2e tests to use v1beta1
- Make v1beta the storage version

**[Persona:](https://g

[2020-07-16 17:06] capri-xiyue commented on #3611
fyi: @lionelvillard @nachocano

[2020-07-16 19:59] capri-xiyue commented on #3529
@lionelvillard @n3wscott @nachocano
Just wanna clarify some questions for ApiServerSource.
1. Have the opensource community decided that v1beta1 ApiServerSource is gonna support filtering on a resource's name? Or the additional feature requests needed for v1beta1 ApiServerSource is still under discussion?
2.  For the filtering on a resource's name, does it mean that we will have ApiServerSource Sp

[2020-07-16 20:14] capri-xiyue commented on #3611
related to #3529

[2020-07-16 20:20] vaikas commented on #3544
Also need to run a storage version migration job after the storage has been flipped. Something like this:
https://github.com/knative/eventing/blob/master/config/pre-install/v0.16.0/storage-version-migration.yaml

[2020-07-16 20:37] nachocano commented on #3544
Thanks I wasn't aware of this, as is my first conversion/migration issue.
Will add that now.

[2020-07-16 20:37] capri-xiyue commented on #3295
the changes seems to be data plane wise
I will start with the move to v1beta1 first, and in case we need additional fields, we can always add them.
Are you folks ok with this? @nachocano @lionelvillard

[2020-07-16 20:47] nachocano commented on #3295
I'm fine with that. I think @rhuss suggestions can be handled without changing the API, is just a matter of creating a CE with more extension attributes.
Not entirely sure about the change of specifying a kubeconfig. But I think if we need to change the API for that, it will be an additive change and it should be fine.

So, I'm fine if you start with the move.
Let's hear from @lionelvillard

[2020-07-16 21:30] lionelvillard commented on #3295
I agree with @nachocano. It's all additive changes so we are fine.

[2020-07-16 22:14] lionelvillard commented on #3529
My take on this:
1. I think we should go for it
2. I would consider supporting [field selector](https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors/) which support name selector.
3. yes
4. maybe an optional way to connect to another cluster.

[2020-07-16 22:46] nachocano opened #3615 "Make SinkBinding v1beta1 the stored version and add a migration tool"
**Problem**
In 0.17, we promoted SinkBinding to v1beta1.
This is to track that we should make v1beta1 the storage version for 0.18, and we should add a migration tool for it.
Similar to: https://github.com/knative/eventing/blob/master/config/pre-install/v0.16.0/storage-version-migration.yaml

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this fea

[2020-07-16 22:48] nachocano commented on #3544
Added a separate issue for migration and flipping the storage bit, as it has to be done after 0.17 cuts.
https://github.com/knative/eventing/issues/3615

Closing this issue then

[2020-07-16 22:48] #3544 closed

[2020-07-16 22:50] nachocano commented on #3426
We should move flip the storage bit in 0.17. We should do so for 0.18.
And we should add a migration tool.
@bharattkukreja can you create an issue similar to https://github.com/knative/eventing/issues/3615 to track that once this one is done?

[2020-07-17 07:42] Benson666 opened #3618 ""x509: certificate signed by unknown authority" was promoted when I installed Channel component."
**Describe the bug**
I have completed Serving and Eventing compont installation. Like this:
[code]
And When I implemented "kubectl apply --filename https://github.com/knative/eventing/releases/download/v0.16.0/in-memory-channel.yaml"， I got the message below:
`Error from server (InternalError): error when creating "in-memory-channel.yaml": Internal error occurred: failed calling webhook "config.we

[2020-07-17 10:05] slinkydeveloper commented on #3555
Seems like in golang stdlib there is no way to define how to parse a duration... https://github.com/knative/eventing/issues/3555

[2020-07-17 10:05] pierDipi commented on #3555
/assign

[2020-07-17 10:09] slinkydeveloper commented on #3555
There is this library https://github.com/senseyeio/duration/blob/master/duration.go which implements this library but then uses its own `Duration` type more than the one in the stdlib. We might take inspiration for the parsing part, but then use the golang stdlib type... wdyt @pierDipi ?

[2020-07-17 10:14] pierDipi commented on #3555
This lib seems maintained https://github.com/rickb777/date (latest release 4 days ago), and also, it supports converting the parsed duration to the standard `time.Duration`.

[2020-07-17 10:14] slinkydeveloper commented on #3555
cool, then sgtm!

[2020-07-17 10:20] MIBc commented on #2933
I meet the same issue. I deleted sinkbind by delete `finalizers` manually.

[2020-07-17 12:49] pierDipi commented on #2210
/assign

[2020-07-17 12:50] pierDipi commented on #2212
/assign

[2020-07-17 12:58] pierDipi commented on #2212
/unassign lionelvillard

[2020-07-17 13:29] lionelvillard commented on #3618
@Benson666 Can you try deleting the certificates in `knative-eventing` and `knative-serving`? Look for `eventing-webhook-certs` and `serving-webhook-certs`.

[2020-07-17 13:58] #3555 closed

[2020-07-17 14:18] lionelvillard opened #3621 "Create separate artifacts for core sources"
**Problem**
There is no way today to only install core sources independently of the rest of eventing.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
system integrator

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.
three new release artifacts, one per core source

**Time Esti

[2020-07-17 14:19] lionelvillard commented on #3621
@cr22rc

[2020-07-17 17:06] capri-xiyue opened #3622 "DeepCopy is not needed in the conversion code"
**Problem**
For the conversion code, the code style is inconsistent, sometimes we use DeepCopy, sometimes we don't.
Examples: https://github.com/knative/eventing/blob/a0a5daf6d775d56ada43b011fccc1db94f8701bf/pkg/apis/sources/v1alpha1/apiserver_conversion.go#L119
      https://github.com/knative/eventing/blob/a0a5daf6d775d56ada43b011fccc1db94f8701bf/pkg/apis/sources/v1alpha1/apiserver_conversion.go

[2020-07-17 17:09] capri-xiyue opened #3623 "Use apis.HTTP() instead of apis.ParseURL() in the codebase"
**Problem**
In the codebase, we use apis.ParseURL() in a lot of places. As @aliok suggested, https://github.com/knative/eventing/pull/3616#discussion_r456273469, apis.HTTP() is more convenient. We can use apis.HTTP() instead of apis.ParseURL() in the codebase

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
Use

[2020-07-17 17:19] capri-xiyue commented on #3622
kind/good-first-issue

[2020-07-17 17:21] capri-xiyue commented on #3622
This is a good-first-issue

[2020-07-17 17:26] pierDipi commented on #3623
/good-first-issue

[2020-07-17 17:28] capri-xiyue commented on #3622
/good-first-issue

[2020-07-17 17:53] capri-xiyue commented on #3529
@lionelvillard  Thanks for the clarification!

[2020-07-17 19:19] grantr opened #3626 "prefix channelAddress annotation with knative.dev/"
nit. I do wonder if this should be prefixed with knative.dev/channelAddress.
Since it's set by the controller there are no issues like with the meta where annotations could collide, so it's fine to go in as is but we might want to think about this before cutting the release.

_Originally posted by @vaikas in https://github.com/knative/eventing/pull/3612#discussion_r456622088_

[2020-07-17 19:43] #3242 closed

[2020-07-17 20:32] capri-xiyue opened #3628 "Decouple ApiServerSourceEventTypes with ApiServerSource version."
**Problem**
Currently each version of ApiServerSource defines a set of ApiServerSourceEventTypes though they are the same.
Examples:

v1alpha1: https://github.com/knative/eventing/blob/master/pkg/apis/sources/v1alpha1/apiserver_types.go#L48

v1alpha2: https://github.com/knative/eventing/blob/9f9526035f7af309320074f1a866792ecae28d57/pkg/apis/sources/v1alpha2/apiserver_types.go#L52

It will be bette

[2020-07-17 20:33] capri-xiyue commented on #3628
good-first-issue

[2020-07-17 20:34] capri-xiyue commented on #3628
/good-first-issue

[2020-07-17 20:34] capri-xiyue commented on #3628
/cleanup

[2020-07-17 20:39] capri-xiyue opened #3629 "Clean up duplicate listers for testing, have a good structure of testing package, make it consistent among all resources."
**Problem**
In knative-eventing, we have three files which define listers:
https://github.com/knative/eventing/blob/master/pkg/reconciler/testing/v1/listers.go
https://github.com/knative/eventing/blob/master/pkg/reconciler/testing/v1beta1/listers.go and
https://github.com/knative/eventing/blob/master/pkg/reconciler/testing/listers.go.
Some listers are duplicate among those three files. Some resour

[2020-07-17 20:40] capri-xiyue commented on #3629
/good-first-issue

[2020-07-17 21:31] capri-xiyue opened #3630 "Make ApiServerSource v1beta1 the stored version and add a migration tool"
**Problem**
In 0.17, we promoted ApiServerSource to v1beta1.
This is to track that we should make v1beta1 the storage version for 0.18, and we should add a migration tool for it.
Similar to: https://github.com/knative/eventing/blob/master/config/pre-install/v0.16.0/storage-version-migration.yaml.
But need to check whether the upgrade issue for v1alpha1 apiseversource gets solved or not:
https://gi

[2020-07-17 21:32] capri-xiyue commented on #3611
Added a separate issue for migration and flipping the storage bit, as it has to be done after 0.17 cuts.
#3630

[2020-07-17 23:07] capri-xiyue opened #3631 "Deduplicate e2e test code for sources"
**Problem**
Currently when we do e2e tests for different versions of sources like sinkbinding, we duplicate a lot of code in sources e2e testing.
It will be better if we can deduplicate code of e2e tests for sources

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
Deduplicate e2e test code for sources

**Time Es

[2020-07-18 02:05] MPeyrard86 opened #3633 "Error: "Trigger had a different UID""
**Describe the bug**
I have configured two Knative Services to communicate with each other via Knative Eventing. Our system manually creates the broker via yaml files (as opposed to installing the broker via annotation), as well as the trigger. The broker is backed by the Kafka Channel that is provided under Knative contrib.  The service that produces the event does an HTTP POST to the broker addr

[2020-07-18 12:04] knative-test-reporter-robot opened #3635 "[flaky] test/e2e.TestSinkBindingV1Alpha2CronJob"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSinkBindingV1Alpha2CronJob
* **Repository name**: eventing

[2020-07-18 12:04] knative-test-reporter-robot opened #3636 "[flaky] test/conformance.TestChannelDataPlaneFailure"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneFailure
* **Repository name**: eventing

[2020-07-18 12:04] knative-test-reporter-robot opened #3637 "[flaky] test/conformance.TestChannelDataPlaneFailure/Channel-messaging.knative.dev/v1/expecting-405"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneFailure/Channel-messaging.knative.dev/v1/expecting-405
* **Repository name**: eventing

[2020-07-18 12:04] knative-test-reporter-robot opened #3638 "[flaky] test/e2e.TestChannelClusterDefaulter/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelClusterDefaulter/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-07-18 12:04] knative-test-reporter-robot opened #3639 "[flaky] test/e2e.TestSinkBindingV1Beta1Deployment"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSinkBindingV1Beta1Deployment
* **Repository name**: eventing

[2020-07-18 12:04] #3604 closed

[2020-07-18 12:04] #3505 closed

[2020-07-18 12:04] knative-test-reporter-robot opened #3640 "[flaky] test/e2e.TestApiServerSourceV1Beta1EventTypes"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestApiServerSourceV1Beta1EventTypes
* **Repository name**: eventing

[2020-07-18 18:35] mattmoor opened #3642 "TestPingSourceV1Alpha2EventTypes has a race"
**Describe the bug**

The test flakes with the following error message:
[code]

The offending check seems to be here: https://github.com/knative/eventing/blob/4f19a2c359713d25216b47f5c127a594490b6dcc/test/e2e/source_ping_test.go#L159-L171

Prior to this check, the test waits for test resources to be ready, but given how event types are populated in the system, this isn't actually a sure sign that

[2020-07-18 18:35] mattmoor commented on #3642
cc @vaikas @lionelvillard

[2020-07-18 18:51] mattmoor commented on #3642
The logs above were in one of my PRs, but I also see a failure in testgrid last night (same error line): https://storage.googleapis.com/knative-prow/logs/ci-knative-eventing-continuous/1284501429259603968/build-log.txt

[2020-07-19 12:04] knative-test-reporter-robot opened #3644 "[flaky] test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1/full-event_encoding_binary_version_1.0"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1/full-event_encoding_binary_version_1.0
* **Repository name**: eventing

[2020-07-19 15:16] lionelvillard commented on #3642
I was aware of the flake but so far couldn't find where it's coming from. It seems you found it. Thanks @mattmoor!

[2020-07-19 18:36] mattmoor commented on #3591
Hmm, looking at your PR with debug logging that enables chaos on mt-broker, I still see some reconciles taking >1s, so I wonder whether we still have some paths through ReconcileKind making too many calls 🤔

I see some keys take <1ms:
[code]

Where others still take >1s:
[code]

For this last one, there is a large gap (~1.2s) in the logs between it hitting the following path and the ultimate log s

[2020-07-19 18:38] mattmoor commented on #3591
I'm kind of concerned about the fanout in the Broker controller having unbounded arity and performing a virtually unbounded number of writes under certain circumstances 🤔

[2020-07-19 18:53] duglin opened #3645 "extract ping source from knEventing core yaml"
This will allow someone to install the ping source w/o the rest of eventing - if they don't need it.

See: https://github.ibm.com/coligo/eventing/issues/80

[2020-07-19 18:53] #3645 closed

[2020-07-20 12:04] knative-test-reporter-robot opened #3648 "[flaky] test/e2e.TestChannelBasedBrokerWithManyTriggers/Channel-messaging.knative.dev/v1/test_default_broker_with_many_attribute_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelBasedBrokerWithManyTriggers/Channel-messaging.knative.dev/v1/test_default_broker_with_many_attribute_triggers
* **Repository name**: eventing

[2020-07-20 12:04] knative-test-reporter-robot opened #3649 "[flaky] test/e2e.TestSingleBinaryEventForChannelV1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleBinaryEventForChannelV1
* **Repository name**: eventing

[2020-07-20 12:04] knative-test-reporter-robot opened #3650 "[flaky] test/e2e.TestChannelNamespaceDefaulter/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelNamespaceDefaulter/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-07-20 12:04] knative-test-reporter-robot opened #3651 "[flaky] test/e2e.TestSingleStructuredEventForChannelV1Beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleStructuredEventForChannelV1Beta1
* **Repository name**: eventing

[2020-07-20 12:04] #3638 closed

[2020-07-20 12:04] #3635 closed

[2020-07-20 12:04] knative-test-reporter-robot opened #3652 "[flaky] test/e2e.TestChannelDeadLetterSinkV1/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelDeadLetterSinkV1/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-07-20 12:04] knative-test-reporter-robot opened #3653 "[flaky] test/e2e.TestSingleStructuredEventForChannelV1/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleStructuredEventForChannelV1/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-07-20 12:04] knative-test-reporter-robot opened #3654 "[flaky] test/e2e.TestSingleStructuredEventForChannelV1Beta1/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleStructuredEventForChannelV1Beta1/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-07-20 12:04] knative-test-reporter-robot opened #3655 "[flaky] test/e2e.TestChannelDeadLetterSinkV1/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelDeadLetterSinkV1/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-07-20 12:04] knative-test-reporter-robot opened #3656 "[flaky] test/e2e.TestChannelNamespaceDefaulter"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelNamespaceDefaulter
* **Repository name**: eventing

[2020-07-20 12:04] knative-test-reporter-robot opened #3657 "[flaky] test/e2e.TestSingleBinaryEventForChannelV1/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleBinaryEventForChannelV1/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-07-20 12:04] knative-test-reporter-robot opened #3658 "[flaky] test/e2e.TestChannelDeadLetterSinkV1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelDeadLetterSinkV1
* **Repository name**: eventing

[2020-07-20 12:04] knative-test-reporter-robot opened #3659 "[flaky] test/e2e.TestChannelBasedBrokerWithManyTriggers/Channel-messaging.knative.dev/v1beta1/test_default_broker_with_many_attribute_triggers_using_v1beta1_trigger"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelBasedBrokerWithManyTriggers/Channel-messaging.knative.dev/v1beta1/test_default_broker_with_many_attribute_triggers_using_v1beta1_trigger
* **Repository name**: eventing

[2020-07-20 13:01] lionelvillard commented on #1837
@matzew can we close this now?

[2020-07-20 16:10] lionelvillard opened #3662 "Add PingSource upgrade tests"
**Problem**
There is no upgrade tests for PingSource

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
system integrator

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.
Upgrade tests

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve?
1

[2020-07-20 17:15] n3wscott commented on #3606
adding timezones will make it incompatible with a K8s CronJob?

[2020-07-20 17:24] lionelvillard commented on #3606
yes: https://github.com/kubernetes/kubernetes/issues/47202

[2020-07-20 17:28] #3611 closed

[2020-07-20 17:54] #3558 closed

[2020-07-20 18:10] n3wscott commented on #3622
This is a pretty tricky issue, you have to understand which things are copying memory and which things are just copying pointers. If you just copy the pointers, then later in the code you modify the original version, you will mistakenly also update the converted version, or vice versa.

[2020-07-20 18:42] lionelvillard commented on #3621
/assign @cr22rc

[2020-07-20 18:43] cr22rc commented on #3621
/assign @cr22rc

[2020-07-20 19:02] lionelvillard commented on #3606
CronJobber uses a field: https://github.com/hiddeco/cronjobber

[2020-07-20 20:14] n3wscott opened #3664 "[PingSource] AddSchedule will not respect the sigterm signals"
The call to `ctx := context.Background()` in mtping `AddSchedule` will not respect the sigterm signals from the main thread as it is currently written.

_Originally posted by @n3wscott in https://github.com/knative/eventing/pull/3663/files#diff-5390d1ede3bf0adb8d5cf405c936a83dR87_

[2020-07-21 07:09] vaikas opened #3667 "Create documentation for how to run conformance tests against a pre-existing broker."
**Problem**
Tests were added here: 👍 #3531 one feature of it that allows a broker developer to run these tests against pre-existing brokers, we should document how to run those tests. (go test ./... etc)

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
System Integrator

**Exit Criteria**
When a developer of new broker can look at the docs and figure out from docum

[2020-07-21 07:10] vaikas commented on #3667
Also should probably have documentation for this as well?
https://github.com/knative/eventing/pull/3603

[2020-07-21 08:46] slinkydeveloper commented on #3570
I start having the feeling the problem is the port forwarding, i'm working on increasing the logging there: https://github.com/knative/pkg/pull/1531#event-3570010357

[2020-07-21 10:30] #2210 closed

[2020-07-21 10:30] #2212 closed

[2020-07-21 12:04] knative-test-reporter-robot opened #3672 "[flaky] pkg/utils/cache.TestPersistedStore"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/utils/cache.TestPersistedStore
* **Repository name**: eventing

[2020-07-21 12:04] #3644 closed

[2020-07-21 13:08] lionelvillard commented on #3570
@slinkydeveloper maybe you can look for inspiration there: https://github.com/knative/pkg/blob/master/test/logstream/kubelogs.go

[2020-07-21 13:48] cr22rc commented on #3664
/assign @cr22rc

[2020-07-21 14:14] pierDipi commented on #2665
For the record after #2932 we see

Latest run from `testgrid`: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-eventing-continuous/1285558395314638849

@cardil What is your goal here, exactly once?

I think it's acceptable to have duplicated events and the test now should fail if there are events lost.

[2020-07-21 14:22] cardil commented on #2665
I think the goal should be to send every event just once. Doubles should not be default behavior, as users may produce systems that will not tolerate doubles well enough.

[2020-07-21 15:12] nachocano commented on #3426
@bharattkukreja can we close this issue? I saw that the reconciler changes were merged, same with docs.
Where you able to create an issue to track the storage bit flip for 0.18?

[2020-07-21 15:20] bharattkukreja opened #3674 "Make ContainerSource v1beta1 the stored version and add a migration tool"
**Problem**
In 0.17, we promoted ContainerSource to v1beta1.
This is to track that we should make v1beta1 the storage version for 0.18, and we should add a migration tool for it.
Similar to: https://github.com/knative/eventing/blob/master/config/pre-install/v0.16.0/storage-version-migration.yaml

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this

[2020-07-21 15:21] bharattkukreja commented on #3426
Yep, this issue can be closed. Issue to track the storage bit flip for 0.18: https://github.com/knative/eventing/issues/3674

[2020-07-21 15:24] nachocano commented on #3426
Fixed by PRs linked to the issue.
Closing

[2020-07-21 15:24] #3426 closed

[2020-07-21 15:32] aslom commented on #2901
Putting together google doc to summarize options: https://docs.google.com/document/d/18Ma-uqsB0SYzwvRZ_rz5c8m21JAXGP0oLZpr8W0Jwak/edit?usp=sharing

[2020-07-21 16:31] capri-xiyue opened #3675 "Request for ApiServerSource is able to filter on a resource's name with a trigger (not only the type)."
**Problem**
We are going to move the sources api to `v1beta1`.
For ApiServerSource, there are some features requests like:
https://github.com/knative/eventing/issues/3295#issuecomment-641105306
https://github.com/knative/eventing/issues/3295#issuecomment-641106861

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**

[2020-07-21 16:32] capri-xiyue commented on #3295
I created a new issue to discuss the new feature requests for ApiSeverSource
https://github.com/knative/eventing/issues/3675

[2020-07-21 16:47] capri-xiyue commented on #3675
@rhuss
Maybe I have some misunderstanding about the new feature requests of  filter on a resource's name. Just wanna clarify it:
Does it mean we will have spec like this:
[code]
And it supports send events for `add`, `update`, `delete` of v1 namespace with name `filternamespace`

Or does it mean we need to add some attributes into the event fired by ApiServerSource, currently the event looks like

[2020-07-21 18:19] tommyreddad commented on #3626
/assign

[2020-07-22 12:06] #3656 closed

[2020-07-22 12:06] #3658 closed

[2020-07-22 12:06] #3654 closed

[2020-07-22 12:06] #3651 closed

[2020-07-22 12:07] #3659 closed

[2020-07-22 12:07] #3648 closed

[2020-07-22 12:07] #3650 closed

[2020-07-22 12:07] #3652 closed

[2020-07-22 12:07] #3655 closed

[2020-07-22 12:50] vaikas opened #3681 "Remove the webhook retry hack."
**Describe the bug**
As a workaround for
https://github.com/knative/pkg/issues/1509

Added a retry for webhook failures. Once that's been fixed, remove the hackity hack.

[2020-07-22 16:00] vaikas commented on #3591
I'm kind of concerned also about these? So, unless I'm mistaken these will count towards the API client quota that we believed was causing issues. If that's indeed the case, seeing bursts like these would basically almost even cap the default burst quota unless I'm misunderstanding. That's 8 API ops within a second and defaults are 5/10. Is that right @mattmoor ?

[code]

[2020-07-22 16:41] vaikas commented on #3591
I've been wading through the HTTP logs to figure out if there are any unnecessary calls for us. So far at least if a Controller gets killed and there is a broker / trigger in the ready state (so, also messaging resources, etc.) there are no unnecessary API calls that I can see. As in, there are none. The one exception is the get to imc, which I _believe_ to be because there's no lister yet in the

[2020-07-22 16:56] vaikas commented on #3591
Ok, it's not quite as bad, so we don't actually exhaust our entire 5/sec api quota, just 4/sec :)
https://github.com/knative/pkg/issues/1541

[2020-07-22 17:03] cr22rc commented on #3664
So there's an adapter.Start that has the context from the parent with the signal handler.
Which does as a Start on the CronJobRunner. That does a  wait on the context.Done (stopCh)
Once done the cron.Stop() is called
This stop any future events from happening.
If some in the short time are add to the schedule it should have any affect.

[2020-07-22 17:45] lionelvillard commented on #3591
to be clear, this is 5/sec api quota per host, right?

[2020-07-22 21:26] grantr commented on #3675
/assign danyinggu

[2020-07-22 21:43] grantr commented on #3675
/assign @danyinggu

[2020-07-23 05:02] vaikas opened #3686 "Test failed with no address though channel is supposedly ready."
**Describe the bug**
While looking for a test failure here:

https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_eventing/3599/pull-knative-eventing-integration-tests/1286134876558331904

I noticed this:
[code]

Which is quite odd, since right above it will fail if the resource is not ready, yet the object is not ready.
https://github.com/knative/eventing/blob/master/test/e2e/helper

[2020-07-23 05:29] mattmoor commented on #3591
@lionelvillard yes.  It's cooperative and we raise it under certain circumstances, but that's the default.

[2020-07-23 05:38] vaikas commented on #3591
I thought it was per client and not per host? If I create two clients from the same host they could have different quotas?

[2020-07-23 05:45] mattmoor commented on #3591
Yes, I was interpreting what @lionelvillard was asking as "per-replica" vs. all the replicas collectively.

I believe that this may even be the quota *per clientset*, but it is possible that the sharing of `rest.Config` shares the quota.

[2020-07-23 05:59] vaikas commented on #3591
Yeah, just wanted to make sure I didn't misremember :)

[2020-07-23 07:11] #3626 closed

[2020-07-23 08:56] rhuss commented on #3675
@capri-xiyue @danyinggu The uses case is to allow filtering on the resource's name in a trigger because a certain sink might be interested only on a specific resource, identified by name. This idea could be extended to copy over other meta-data from the resource watched to the attributes of the generated CEs. Labels would be a perfect fit so that a `Trigger` then can also filter on labels like a l

[2020-07-23 11:04] vaikas commented on #3591
Just more debugging and something that I'm finding interesting, so jotting it down here, and making sure I'm not misreading something.
https://storage.googleapis.com/knative-prow/pr-logs/pull/knative_eventing/3599/pull-knative-eventing-integration-tests/1286205844102320129/artifacts/k8s.log.txt

Here's a snippet for a failed test.

[code]

clean it up a little bit and shortening, check me on this

[2020-07-23 11:42] cr22rc commented on #3664
@n3wscott  Close or other concerns ?

[2020-07-23 12:05] vaikas commented on #3622
Yeah, as @n3wscott says we have to be little careful about it. For example in places where we modify things (like, set the annotations / labels for example to indicate the channelable version, we do have to make deep copy, of at least some fields.

[2020-07-23 12:06] knative-test-reporter-robot opened #3688 "[flaky] test/e2e.TestChannelBasedBrokerWithManyTriggers/Channel-messaging.knative.dev/v1/test_default_broker_with_many_deprecated_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelBasedBrokerWithManyTriggers/Channel-messaging.knative.dev/v1/test_default_broker_with_many_deprecated_triggers
* **Repository name**: eventing

[2020-07-23 12:07] knative-test-reporter-robot opened #3689 "[flaky] test/e2e.TestChannelBasedBrokerWithManyTriggers/Channel-messaging.knative.dev/v1beta1/test_default_broker_with_many_attribute_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelBasedBrokerWithManyTriggers/Channel-messaging.knative.dev/v1beta1/test_default_broker_with_many_attribute_triggers
* **Repository name**: eventing

[2020-07-23 12:07] knative-test-reporter-robot opened #3690 "[flaky] test/e2e.TestSingleBinaryEventForChannelV1/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleBinaryEventForChannelV1/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-07-23 12:08] vaikas commented on #3623
Luckily not too many files ;)

[code]

[2020-07-23 12:10] pierDipi commented on #3443
[code]

[2020-07-23 12:14] pierDipi commented on #3690
[code]

[2020-07-23 12:24] vaikas commented on #3554
[code]

The above error should've been fixed by: https://github.com/knative/eventing/pull/3685

[2020-07-23 12:25] vaikas commented on #3442
dupe of #3554

[2020-07-23 12:27] vaikas commented on #3649
[code]
Should be fixed by #3685

[2020-07-23 12:28] vaikas commented on #3488
[code]
Should be fixed by #3685

[2020-07-23 12:33] lionelvillard commented on #3622
To be clear, the `ConvertTo` and `ConvertFrom` contract does not require `DeepCopy()`. That's said, sure you need to be careful about it!

[2020-07-23 12:37] pierDipi commented on #3689
[code]

[2020-07-23 12:38] pierDipi commented on #3688
[code]

[2020-07-23 13:32] vaikas commented on #3591
One more... Just been playing with the traces more and for each Trigger created, we'll see the following (totally expected from the code). The only thing I'm curious is the two watches being set up from the looks of it.

[code]

[2020-07-23 14:24] n3wscott commented on #3664
I think we should write a test to make sure it does turn off cleanly

[2020-07-23 15:53] lionelvillard commented on #3664
agree. We need a test with in-flight long-running requests and make sure it completes when the graceful period exceeds the request time. I'm also adding e2e HA tests stressing this aspect, but we also need unit tests.

[2020-07-23 16:05] evankanderson commented on #3166
/close

[2020-07-23 16:05] #3166 closed

[2020-07-23 16:51] lionelvillard commented on #3675
This requirement makes sense because today `Trigger` does not support content-based filtering, is that right @rhuss ?

[2020-07-23 18:26] nachocano commented on #3675
It seems to me that @rhuss proposal can be done both at the data plane level and also control plane.

The problem of doing it at the data plane would be that we need to parse the event payload to extract the appropriate fields to be set as context attributes. Do folks think that is acceptable?
I haven't used ApiServerSource myself. Quick question, is the CE payload a k8s Event, right? I'm asking t

[2020-07-23 19:26] capri-xiyue commented on #3675
@nachocano Here is the example event emitted by ApiServerSource
<img width="615" alt="Screen Shot 2020-07-16 at 1 27 49 PM" src="https://user-images.githubusercontent.com/52932582/88330088-bb473200-ccdf-11ea-8abb-00216837d8f9.png">

[2020-07-23 19:37] ar-mi6 opened #3700 "Enable securityContext on imc dispatcher to set allowPrivilegeEscalation"
**Describe the bug**
(CIS_Docker_CE_v1.1.0 - 5.25) Restrict container from acquiring additional privileges

 **Expected behavior**
Pod should allow setting securityContext for imc dispatcher container, similar to imc controller.

 **To Reproduce**
Scan pods for security vulnerabilities and compliance.

 **Knative release version**
0.16.1

[2020-07-23 19:40] vayyappaneni commented on #3700
We are also having the same problem, compliance issue. It would be good to have the security context enable like in Imc controller.

[2020-07-23 20:25] danyinggu commented on #3675
I just tried more examples using the current APIServerSource. If we're listening to Kind:Pod, the CE will be like this
[code]
Seems like the `InvolvedObject` is not in the data payload but metadata is here.

[2020-07-23 21:51] capri-xiyue commented on #3675
I think this can be done with both control plane and data plane.
If we do that with control plane,  we can use https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors/ in spec. The advantage of that is we will only fire events which matches the criteria  which is more efficient and it doesn't depend on the trigger. In addition, it will support all filters that Field Selec

[2020-07-24 01:45] zhaogaiwen opened #3701 "can not find the message sinking to the service"
**Describe the question**
when i send message to the topic through the command below，i can not find the consumer that consumes the message,what is more,i cannot find any error

bin/kafka-console-producer.sh --bootstrap-server 12.16.241.22:9092 --topic test

![image](https://user-images.githubusercontent.com/35682644/88353886-b9d64200-cd91-11ea-8b83-600ab7dcd371.png)

[2020-07-24 09:20] aliok opened #3702 "Migrate fanout message handler to duck v1"
**Problem**
Fanout message handler uses duck v1beta1 api and because of that we can't migrate the KafkaChannel to use v1 duck api.

https://github.com/knative/eventing/blob/15f4c11484d2c6735754e8eb43358efe9b627625/pkg/channel/fanout/fanout_message_handler.go#L39

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A

[2020-07-24 09:25] slinkydeveloper commented on #3702
/assign

[2020-07-24 12:06] knative-test-reporter-robot opened #3704 "[flaky] test/conformance.TestChannelSpec/Channel_spec_allows_subscribers#01"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelSpec/Channel_spec_allows_subscribers#01
* **Repository name**: eventing

[2020-07-24 12:06] knative-test-reporter-robot opened #3705 "[flaky] test/conformance.TestChannelSpec/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelSpec/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-07-24 12:06] #3552 closed

[2020-07-24 12:06] knative-test-reporter-robot opened #3706 "[flaky] test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-07-24 12:06] knative-test-reporter-robot opened #3707 "[flaky] test/e2e.TestChannelBasedBrokerWithManyTriggers/InMemoryChannel-messaging.knative.dev/v1beta1/test_default_broker_with_many_attribute_triggers_using_v1beta1_trigger"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelBasedBrokerWithManyTriggers/InMemoryChannel-messaging.knative.dev/v1beta1/test_default_broker_with_many_attribute_triggers_using_v1beta1_trigger
* **Repository name**: eventing

[2020-07-24 12:06] knative-test-reporter-robot opened #3708 "[flaky] test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1
* **Repository name**: eventing

[2020-07-24 12:06] knative-test-reporter-robot opened #3709 "[flaky] test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-07-24 12:06] #3657 closed

[2020-07-24 12:12] pierDipi commented on #3704
[code]

Proposed solutions:
- `Update()` -> `Patch()`
- Use `retry.RetryOnConflict()`

https://github.com/knative/eventing/blob/ce4fa36eed3ae8a5120e90f949510418f6fa33a6/test/conformance/helpers/channel_spec_test_helper.go#L120-L123

[2020-07-24 12:14] pierDipi commented on #3705
[code]

Proposed solutions:
- `Update()` -> `Patch()`
- Use `retry.RetryOnConflict()`

https://github.com/knative/eventing/blob/ce4fa36eed3ae8a5120e90f949510418f6fa33a6/test/conformance/helpers/channel_spec_test_helper.go#L120-L123

[2020-07-24 12:22] pierDipi commented on #3706
[code]

[2020-07-24 15:25] matzew opened #3712 "Skipping versions ?"
**Problem**
Users might be interested in skipping versions

**Additional context (optional)**

I installed 0.14.2:
* `k apply -f https://github.com/knative/eventing/releases/download/v0.14.2/eventing.yaml`

Next I tried to jump straight to 0.16, by running:
* `k apply -f https://github.com/knative/eventing/releases/download/v0.16.1/pre-install-to-v0.16.0.yaml`

followed by a install of eventing, l

[2020-07-24 15:31] n3wscott commented on #3712
Can't skip versions.

[2020-07-24 15:59] danyinggu commented on #3675
@rhuss @lionelvillard @nachocano I checked the code base a bit. I think it would be more efficient for us to change the control plane to add a field selector. Roland mentions users may want to filter by `label` in Trigger, currently, there's already a `labelSelector` field in Spec, which means that users can already set it up in source to listen to some specific labels to ease the effort of Trigge

[2020-07-24 16:16] rhuss commented on #3675
Maybe we can go for a hybrid approach ? I think the name of a resource should be copied of to a CE attribute in the data plane, as this is probably one of the main use case (no numbers though): A generic source and 1..N triggers selecting on different names.

I can live with label selectors in the control plane as this is directly supported by the watch endpoint, so very efficient.
For annotations

[2020-07-24 17:31] grantr commented on #3675
In general I am :+1: to adding extension attributes to the event by default if they might be useful for routing and filtering purposes. Adding separate object name, namespace, and resource name (as in `triggers.eventing.knative.dev`) attributes to each event is a minimal change that enables the basic use cases mentioned above.

Copying maps like label and annotations into attributes safely will be

[2020-07-24 18:16] aslom opened #3714 "Make easier to run knative code locally for testing and development"
**Problem**
It is very good to be able to test code locally and several components in Knative Eventing like Receive Adapter can be tested locally but they require setting NAMESPACE, K_LOGGING_CONFIG, K_METRICS_CONFIG

If env vars are not set the error is:

[code]

As workaround developers have to set empty code:

[code]

The idea is if there is no NAMESPACE env var then do not require K_LOGGING_CO

[2020-07-24 18:19] aslom commented on #3714
It may be as simple as modifying knative.dev/eventing/pkg/adapter/v2/config.go to make them not required.

[2020-07-24 18:29] capri-xiyue commented on #3622
I just checked some docs.
It looks like Conversion functions must not mutate the source object. As I've mentioned in this comments:
https://github.com/knative/eventing/pull/3616#issuecomment-659743307.
"as long as the object is a pointer or the struct contains pointer or array, we should use deep copy when doing conversion."
If that's this case, I think we can just close the issue.

[2020-07-24 18:29] #3622 closed

[2020-07-24 18:51] capri-xiyue opened #3716 "Conversion function must not mutate the source object"
**Describe the bug**
As "Programming Kubernetes: Developing Cloud-Native Applications" mentioned,
"Conversion functions must not mutate the source object"
Otherwise id the source object is from informer, this is highly dangerous because informers have a shared cache and mutating pod makes the cache inconsistent.
So we need to do deep copies if necessary to avoid undesired and potentially dangerous

[2020-07-24 19:58] capri-xiyue commented on #3716
Not sure whether we need this issue or not:
It looks like pkg/webhook already handles the deep copy https://github.com/knative/pkg/blob/a86246d33588e7b9d0eca1aae47ab38b6fb63f6b/webhook/resourcesemantics/conversion/conversion.go#L109. Therefore we don't need it in our side

[2020-07-24 20:06] capri-xiyue commented on #3716
talked with @n3wscott  offline, "besides the webhook, we also call conversions directly for some ducktypes"

[2020-07-25 02:52] MPeyrard86 commented on #3633
After playing around with this some more, it looks like I can't delete and then re-publish another trigger with the same name. The broker filter never forgets the original, and never updates it with the new one. It's probably relevant to mention that I was managing my K service with helm. And as I was doing a lot of testing and debugging, I was doing a lot of ``helm delete --purge`` commands follo

[2020-07-25 12:04] #3649 closed

[2020-07-25 12:04] knative-test-reporter-robot opened #3717 "[flaky] test/e2e.TestChannelChainV1/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelChainV1/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-07-25 12:04] knative-test-reporter-robot opened #3718 "[flaky] test/e2e.TestChannelChainV1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelChainV1
* **Repository name**: eventing

[2020-07-25 12:04] #3689 closed

[2020-07-25 12:04] #3688 closed

[2020-07-25 12:04] #3690 closed

[2020-07-26 12:05] #3709 closed

[2020-07-26 12:05] #3707 closed

[2020-07-26 12:05] knative-test-reporter-robot opened #3720 "[flaky] pkg/utils/cache.TestPersistedStoreInterrupted"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/utils/cache.TestPersistedStoreInterrupted
* **Repository name**: eventing

[2020-07-26 12:05] knative-test-reporter-robot opened #3721 "[flaky] test/e2e.TestChannelChain/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelChain/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-07-26 12:05] #3443 closed

[2020-07-27 12:03] knative-test-reporter-robot opened #3722 "[flaky] test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1
* **Repository name**: eventing

[2020-07-27 12:03] knative-test-reporter-robot opened #3723 "[flaky] test/e2e.TestContainerSourceV1Beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestContainerSourceV1Beta1
* **Repository name**: eventing

[2020-07-27 12:03] #3717 closed

[2020-07-27 12:03] #3718 closed

[2020-07-27 12:03] knative-test-reporter-robot opened #3724 "[flaky] test/e2e.TestChannelClusterDefaulter/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelClusterDefaulter/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-07-27 12:04] knative-test-reporter-robot opened #3725 "[flaky] test/conformance.TestBrokerV1Beta1ControlPlane"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerV1Beta1ControlPlane
* **Repository name**: eventing

[2020-07-27 12:04] knative-test-reporter-robot opened #3726 "[flaky] test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1/full-event_encoding_binary_version_0.3"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1/full-event_encoding_binary_version_0.3
* **Repository name**: eventing

[2020-07-27 12:04] knative-test-reporter-robot opened #3727 "[flaky] test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-07-27 12:15] pierDipi commented on #3503
Failed run: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-eventing-continuous/1287551460719988736

[code]

[2020-07-27 14:09] aliok commented on #3584
/unassign

This is a big task and I will be on PTO for a week. Unassigning from myself in case somebody wants to pick it up.

[2020-07-27 16:05] #3702 closed

[2020-07-27 16:28] grantr commented on #3633
@MPeyrard86 thanks for the report and sorry you're having trouble. Have you tried reproducing this with a more recent version than 0.14.1?

[2020-07-27 16:29] aslom commented on #2153
Updated status and options for scaling pull-based event sources in https://github.com/knative/eventing/issues/2901#issuecomment-661933152

[2020-07-27 16:30] aslom commented on #2154
Updating current status of autoscaling and channels: https://docs.google.com/document/d/18Ma-uqsB0SYzwvRZ_rz5c8m21JAXGP0oLZpr8W0Jwak/edit#heading=h.ga53edbcomm2

[2020-07-27 17:18] MPeyrard86 commented on #3633
Not yet. We plan on upgrading in the near future when we upgrade our version of Kubernetes.

[2020-07-27 17:41] danyinggu commented on #3675
Sync with @rhuss offline, we agreed that we can start with copying the resource's name to the CE attribute.

We will discuss later on about labels and annotation.

[2020-07-27 18:32] vaikas opened #3730 "Test fails without retrying on concurrent modifications."
**Describe the bug**
Related to #3599 we found this odd failure that looks like updateOrFail that fails the test instead of retrying for concurrent mods.

[code]

 **Expected behavior**
Tests to always pass :)

 **To Reproduce**
Not sure, just saw in the test logs.

 **Knative release version**
HEAD

 **Additional context**
Add any other context about the problem here such as proposed priority

[2020-07-27 18:52] nachocano commented on #2750
Here are some initial thoughts on how we can improve EventType before promoting it to v1 (or maybe v1beta2?):
https://docs.google.com/document/d/1LtDPmithgr6Myj9eagIQ6IHQjsjAtzZlX3d0D4fw2A0/edit#

It'd be great to get feedback from folks:
/cc @vaikas

[2020-07-27 20:11] lberk commented on #3578
This test seems to pass in Knative CI (we haven't seen this in flaky tests since mid-june).  Would you be willing to elaborate a bit more on the testing environment this is failing in?  Any help in diagnosing the difference in environment would be helpful.
related: #3379

[2020-07-27 20:12] lberk commented on #3578
Have you tried the most recent 0.15 point release? (v0.15.4) are you seeing the same behaviour there?

[2020-07-27 20:13] lberk commented on #3570
/assign @slinkydeveloper

[2020-07-27 20:21] lberk commented on #3588
/assign @lionelvillard

[2020-07-27 20:46] lberk commented on #3629
@devguyio Would you be willing to take a look at this in your testing cleanup? Would you have any priority suggestions?

[2020-07-27 20:47] lberk commented on #3631
@devguyio would you be willing to add this one as well to your tests cleanup?  Likewise, any suggestions on priority?

[2020-07-27 20:59] lberk commented on #3633
@MPeyrard86 would you be willing to provide a bit more yaml so that we could more easily reproduce your setup?  Have you tried eventing release v0.14.2?

An alternative might be to try running the conformance tests on your currently setup broker, which can be done by running in a similar manner to e2e tests:
` cd $GOPATH/knative.dev/eventing/test/conformance && go test -race -count=1 -tags=e2e -ti

[2020-07-27 23:33] #3714 closed

[2020-07-28 07:29] rhuss commented on #3675
👍 also for adding the namespace and full resource kind along with resource's name to the attributes as these are scalar values and we have full controll over the attribute name (e.g. `name`, `namespace` and `resource`).

wrt/ annotations and labels, as discussed with @danyinggu I think adding labels might be possible by filtering all characters that are not allowed (e.g. a label name `my-label` wo

[2020-07-28 07:57] pierDipi opened #3732 "Remove deprecated-channel-broker.yaml from release assets"
**Describe the bug**
`ChannelBasedBroker` has been removed in favor of `MTChannelBasedBroker`.

 **Expected behavior**
No `deprecated-channel-broker.yaml` in release assets.

 **Knative release version**
`>= 0.16.*`

[2020-07-28 08:10] devguyio commented on #3117
Fixed by #3605 & #3680
/close

[2020-07-28 08:10] #3117 closed

[2020-07-28 08:13] slinkydeveloper commented on #3115
/assign

[2020-07-28 08:14] slinkydeveloper commented on #3115
BTW we also have _RECOMMENDED_ which i think it's yet another level (maybe lower than _SHOULD_).

[2020-07-28 08:22] devguyio commented on #3117
/area kafka

[2020-07-28 10:01] slinkydeveloper commented on #3115
I investigate a bit on this issue and I've found that it can't be done properly without do changes up to the test infra: we're introducing the funky idea that test failures could be of different levels: success/should/reccomended/failure.
So we need the test harness in pkg to support collecting these new "test levels", then in test-infra to report them properly, then in eventing to use them.

Beca

[2020-07-28 10:07] slinkydeveloper commented on #3121
I investigate this issue. First of all, it depends on #3115, then we probably need to refactor a good part of our conformance test utilities to do that.

In particular, setup the source through `SetupClientOption` signature is not adequate for me, because I need to return the `eventTracker` from the function setup and this `eventTracker` must be used by a different function that stimulates the sou

[2020-07-28 11:34] #3730 closed

[2020-07-28 12:06] knative-test-reporter-robot opened #3735 "[flaky] test/e2e.TestSequenceV1/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSequenceV1/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-07-28 12:06] #3134 closed

[2020-07-28 12:06] knative-test-reporter-robot opened #3736 "[flaky] test/e2e.TestSequenceV1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSequenceV1
* **Repository name**: eventing

[2020-07-28 12:06] knative-test-reporter-robot opened #3737 "[flaky] test/e2e.TestEventTransformationForTriggerV1BrokerV1Beta1/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1BrokerV1Beta1/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-07-28 12:06] knative-test-reporter-robot opened #3738 "[flaky] test/e2e.TestTriggerDependencyAnnotation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestTriggerDependencyAnnotation
* **Repository name**: eventing

[2020-07-28 12:06] #3483 closed

[2020-07-28 13:03] lionelvillard commented on #3675
This is not great UX. Too many rules to remember. Let's not forget we are doing this just because of the Trigger shortcomings. I would rather focus on fixing Trigger (the last issue on this topic is this one: https://github.com/knative/eventing/issues/3359)

[2020-07-28 15:08] danyinggu commented on #3675
@rhuss When we discussed offline, we agreed to copy name as an extension first, but not mentioned about `namespace` and `kind`. Do you need these two to be copied as extension attributes as well? If so, I can add these two. Just want to confirm.

After our discussion and based on @lionelvillard's comment, I also think filtering all characters that are not allowed is not that helpful and the user c

[2020-07-28 15:49] nachocano commented on #3675
I'm fine with adding namespace and kind as well. Let's do it.

I'd rather not add a modified version of the label names so that they comply with CE naming restrictions.

[2020-07-28 17:35] feitnomore commented on #2994
I'm getting a similar behavior on 0.16:

source.yaml:
[code]

service.yaml:
[code]

error:
`50s         Warning   SinkNotFound                          pingsource/source                                                              Sink not found: {"ref":{"kind":"Service","namespace":"default","name":"service","apiVersion":"serving.knative.dev/v1"}}`

[2020-07-28 17:58] #3591 closed

[2020-07-28 19:27] grantr commented on #3675
There is a difference between kind and resource in the Kubernetes API: kind is the singular class name (ApiServerSource) while resource is the API associated with that kind (apiserversources). An explanation of the difference is available in the [kubebuilder docs](https://book.kubebuilder.io/cronjob-tutorial/gvks.html). In some cases, a kind may be associated with multiple resources (the Scale kin

[2020-07-28 19:51] lionelvillard commented on #3675
By shortcomings I mean Trigger does not support content-based filtering.

[2020-07-28 21:03] #3571 closed

[2020-07-28 23:23] MPeyrard86 commented on #3633
@lberk When I run this command, it tells me that there are no tests to run. I assume I did something wrong.
[code]
We will likely upgrade to the latest knative version once we upgrade our version of Kubernetes.

I've also done some more digging, and it seems like deleting triggers is very problematic. Even when I delete them via ``kubectl``, not just via ``helm``. The filter pod keeps logging erro

[2020-07-28 23:37] grantr commented on #3633
Just to reduce the size of the uncertainty cone, can you tell us which Broker class you're using? An easy way to tell is by checking for an annotation on the Broker like `eventing.knative.dev/broker.class: MTChannelBasedBroker`. What's the value of that annotation?

[2020-07-29 02:11] MPeyrard86 commented on #3633
We are currently using the ``ChannelBasedBroker``. And I can confirm that after deleting a trigger, the subscription for that trigger still exists in the channel spec. Its ``Generation`` was incremented from 1 to 2, so it did recognize that _something_ happened to that resource.

[code]

[2020-07-29 12:06] knative-test-reporter-robot opened #3748 "[flaky] test/e2e.TestEventTransformationForSubscriptionV1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForSubscriptionV1
* **Repository name**: eventing

[2020-07-29 12:06] #3636 closed

[2020-07-29 12:06] #3704 closed

[2020-07-29 12:06] #3503 closed

[2020-07-29 12:06] #3553 closed

[2020-07-29 12:06] #3727 closed

[2020-07-29 12:06] #3502 closed

[2020-07-29 12:06] #3726 closed

[2020-07-29 12:06] #3637 closed

[2020-07-29 12:06] knative-test-reporter-robot opened #3749 "[flaky] test/e2e.TestEventTransformationForSubscriptionV1/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForSubscriptionV1/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-07-29 12:06] #3724 closed

[2020-07-29 12:06] #3723 closed

[2020-07-29 12:31] pierDipi commented on #3721
[code]

[2020-07-29 12:39] vaikas opened #3750 "Failed to get resources ready failing with webhook."
**Describe the bug**
Last few continuous test failures have been of the form:

https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-eventing-continuous/1288276236098867200

[code]

And:
https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-eventing-continuous/1288397032322502656

[code]

https://github.com/knative/pkg/issues/1509

 **Expected behavior**
Tests to pass continuousl

[2020-07-29 13:11] vaikas commented on #3750
Looks like both of these flaked with this issue here:
#3442

[2020-07-29 14:01] #3750 closed

[2020-07-29 16:24] aslom commented on #2221
/assign

[2020-07-29 16:46] grantr commented on #3633
I assume the deleted Trigger is the one corresponding to the Subscription with UID `bfa65e22-a22a-44df-8821-dcc07140e54f`. Does the Subscription object with that UID still exist or was it deleted along with the Trigger?

Here's a 3rd debugging step: Create the trigger again with the same name. What changes in the Channel spec?

[2020-07-29 18:52] #3664 closed

[2020-07-30 12:06] knative-test-reporter-robot opened #3756 "[flaky] test/conformance.TestChannelForwardHeadersPrependedWithKnative/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelForwardHeadersPrependedWithKnative/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-07-30 12:06] #3736 closed

[2020-07-30 12:06] #3737 closed

[2020-07-30 12:06] knative-test-reporter-robot opened #3757 "[flaky] test/conformance.TestChannelForwardHeadersPrependedWithKnative"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelForwardHeadersPrependedWithKnative
* **Repository name**: eventing

[2020-07-30 12:06] #3738 closed

[2020-07-30 12:06] #3549 closed

[2020-07-30 12:06] #3735 closed

[2020-07-30 13:17] MPeyrard86 commented on #3633
I confirmed that the ``Subscription`` resources are deleted when the triggers are deleted. However, the ``KafkaChannel`` does not look like it's in a good state after deleting, and especially after re-adding the triggers:

[code]

To summarize: It shows four subscribers in the channel spec, when in fact there are only two. Those that are on ``Generation: 2`` were deleted. Those that are at ``Gener

[2020-07-31 12:04] knative-test-reporter-robot opened #3764 "[flaky] test/conformance.TestChannelStatus/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatus/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-07-31 12:04] #3721 closed

[2020-07-31 12:04] #3442 closed

[2020-07-31 12:04] knative-test-reporter-robot opened #3765 "[flaky] test/conformance.TestChannelStatus/Channel_has_required_status_fields#02"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatus/Channel_has_required_status_fields#02
* **Repository name**: eventing

[2020-07-31 12:04] #3554 closed

[2020-07-31 12:04] knative-test-reporter-robot opened #3766 "[flaky] test/conformance.TestChannelSpec/Channel_spec_allows_subscribers#03"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelSpec/Channel_spec_allows_subscribers#03
* **Repository name**: eventing

[2020-07-31 16:24] ssandanshi commented on #3700
Adding more securityContext fields would really help. Its now part of the milestones for the 0.17.0 release for Knative/serving (https://github.com/knative/serving/issues/7924). Can we add it to eventing and eventing-contrib as well?

[2020-08-01 00:07] MPeyrard86 commented on #3633
@grantr So it sounds like a ``KafkaChannel`` specific error, then? Should I log another bug under the contrib project?

[2020-08-01 12:04] #3756 closed

[2020-08-01 12:04] #3757 closed

[2020-08-02 12:05] #3705 closed

[2020-08-02 12:05] knative-test-reporter-robot opened #3769 "[flaky] test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1Beta1/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1Beta1/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-08-03 12:05] knative-test-reporter-robot opened #3772 "[flaky] test/e2e.TestApiServerSourceV1Alpha2EventTypes"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestApiServerSourceV1Alpha2EventTypes
* **Repository name**: eventing

[2020-08-03 12:05] knative-test-reporter-robot opened #3773 "[flaky] test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-08-03 14:27] cpate3 opened #3775 "unable to see Broker in the namespace once knative-eventing injection label"
**Describe the bug**
Not automatically create a Broker named default in the default namespace once "kubectl label namespace default knative-eventing-injection=enabled". Even manually creating broker through YAML in different namespace cause READY state blank

 **Expected behavior**
Have a usecase to integrate AWS SNS topic events into Knative eventing service in Kubernetes. The expected result of

[2020-08-03 14:36] pierDipi commented on #3773
We have something weird in this test.

First, we wait for all test resources to become ready
[code]
Then the test fails:
[code]
and then we get an event which says the channel isn't ready:
[code]

It might be related to this `FIXME`
https://github.com/knative/eventing/blob/324a54f95a4c812a510e88feb3f2bb88a05c9644/test/lib/operation.go#L107

@chizhg, is the same behavior you saw before?