[2019-02-15 16:13] chirino commented on #816
If you guys think something like this is in scope for this eventing working group, we could extract and contribute an interface that's similar that we have been using in the [Syndesis](https://syndesis.io/) project that allows 3rd party UI driven configuration of event sources.

[2019-02-15 17:00] bbrowning commented on #815
That would be one option. Or, we may want to have some additional optional attributes that Knative Sources add to the CloudEvent. I'm not sure of the extension mechanism there, but we have several pieces of metadata - namespace and name, perhaps others - that may be generally useful to have inside the events.

[2019-02-15 17:43] evankanderson commented on #815
/area ux-decision

[2019-02-15 17:43] evankanderson commented on #814
/area ux-decision

[2019-02-15 18:29] akashrv opened #818 "Finalize the proposals for MVP design"
- Please target the [MVP defined here: ](https://docs.google.com/document/d/1TdpjFOh2lvFfkyFXBUjCSGxH-PnPV6fkDjEkKY24Vug/edit#heading=h.za9yscoyxzq7)
- Create google docs for your proposals in the [team folder](https://drive.google.com/corp/drive/folders/1S22YmGl6B1ppYApwa1j5j9Nc6rEChlPo) by 02/20/2019 and [link in the decision document](https://docs.google.com/spreadsheets/d/16aOhfRnkaGcQIOR5kium

[2019-02-15 18:35] akashrv commented on #818
/label proposal

[2019-02-15 18:38] akashrv commented on #818
/kind proposal

[2019-02-15 18:39] akashrv commented on #818
/area ux-decision

[2019-02-15 18:39] akashrv commented on #818
/kind proposal

[2019-02-15 18:46] akashrv commented on #818
1. [Broker / Trigger formal doc](https://docs.google.com/document/d/1cRk8dko2zN3CthYwCuC1esZPoW_5roCDHw0K8cd2yVo/edit)
2. [Knative Eventing Primitives Presentation 2019-02-06](https://docs.google.com/presentation/d/1hAvYlpwGsWCad6drIGWaPMnGNOPeGwBH-QQEgNaYXXM/edit#slide=id.g4e1f619a01_0_0)

Please comment inside the google docs mentioned above

[2019-02-15 18:58] evankanderson commented on #818
Decision document: https://docs.google.com/spreadsheets/d/16aOhfRnkaGcQIOR5kiumld-GmrgGBIm9fppvAXx3mgc/edit#gid=0

I suggest using a separate document for each UX proposal, and linking them from the decision doc and this issue.

[2019-02-15 23:14] evankanderson commented on #816
/area ux-discussion

I think this is an interesting area for exploration... could you do a short proposal/presentation for the 2/27 eventing WG meeting?

[2019-02-16 15:44] bbrowning commented on #815
Having `channel` and `bucket` keys feels awkward, when the values of each key are really just an object reference. So, if we're going to add a new key, I'd actually prefer perhaps `from` that can take either a `Channel` or a `Bucket`.

Example from a Channel:
[code]

Example from a Bucket:
[code]

This may imply creating a new interface that represents the opposite thing as `Addressable`.

Related

[2019-02-18 17:02] chirino commented on #816
Sure.  I'll also try to extract the gist of API interface into an openapi document so it can be shared at the meeting.

[2019-02-18 19:49] chirino commented on #816
Initial pass at extracting that api is at:
https://app.swaggerhub.com/apis/chirino/event-source-config/1.0.0?loggedInWithGitHub=true#/default/validate

[2019-02-20 07:36] radufa commented on #781
Fixed by PR: https://github.com/knative/eventing/pull/796

[2019-02-20 07:36] #781 closed

[2019-02-20 18:55] n3wscott opened #823 "diff --no-dereference is not supported on mac."
see https://github.com/knative/eventing/commit/30fff490dc67ac1984f04a1b536a82583a6e8a77#commitcomment-32397573

/assign @dprotaso

[2019-02-20 20:09] dprotaso commented on #823
/close

Installing gnu tools works as a workaround

Additionally, the bash scripts require bash 4 - which isn’t included as part of MacOS. So there’s a larger question of what is officially supported by Knative

[2019-02-20 20:15] n3wscott commented on #823
/reopen

Let's talk about what is supported and/or document how to get the scripts to work on mac.

/cc @mattmoor

[2019-02-20 20:31] adrcunha commented on #823
Several scripts (notably the ones widely used, like e2e-tests.sh) were fixed to work natively on Mac (i.e., not depend on bash 4 features). "--no-dereference" is used in all verify-codegen.sh scripts in Knative, so this is not restricted to eventing.

[2019-02-21 14:12] marcello-mirenda opened #827 "Azure AKS error: Unable to create configMap noticer."
## Expected Behavior
in-memory-channel-dispatcher-5758f86c6c-cbflc status -> running

## Actual Behavior
in-memory-channel-dispatcher-5758f86c6c-cbflc status -> Waiting: CrashLoopBackOff

## Steps to Reproduce the Problem

1. Follow the instructions from https://github.com/knative/docs/blob/master/install/Knative-with-AKS.md
2. Access the dashboard
3. Goto namespace knative-eventing / pods

## Add

[2019-02-22 01:10] evankanderson commented on #827
Hello,

Which version of Knative are you running? We just released 0.4.0 a few days ago, so it's not clear if this was the old or the new release. (I'm guessing it was the 0.3.0 release because I see my machine's name in the stack traces, and the 0.4.0 release was mostly built by automation rather than my running tools by hand.)

[2019-02-22 01:14] vaikas-google opened #830 "Document the release process adequately"
## Expected Behavior
There should be a set of steps that are reproducible and verifiable for cutting a release, since it has some manual pieces.

## Actual Behavior
not that.

## Steps to Reproduce the Problem

1.
2.
3.

## Additional Info

[2019-02-22 08:03] marcello-mirenda commented on #827
Hello Evan,

this issue is regarding version 0.3.0. I also tried the version 0.4.0 with other problems.

[2019-02-22 08:33] marcello-mirenda commented on #827
Hello Evan,
I just saw that you have updated the instructions from https://github.com/knative/docs/blob/master/install/Knative-with-AKS.md to the 0.4.0 version.

I'm going to try this version again.

You can close this issue if you want. In case any other comment coming from me will be about the 0.4.0 version.

Thanks

[2019-02-22 21:47] yuzisun opened #836 "kafka channel provisioner status is not marked Ready after upgrading to 0.3/0.4 release"
## Expected Behavior
The kafka channel provisioner status should be marked `Ready` after deployment
## Actual Behavior

## Steps to Reproduce the Problem
1. upgrade knative eventing to 0.3.0/0.4.0 release and `kaka-channel-controller` is getting permission error for updating kafka channel provisoner status, looks like in the kafka release yaml it is missing the rbac rule for `clusterchannelprovisi

[2019-02-25 02:27] Disturbing opened #837 "[Question] How to trigger event via http within the cluster"
Reference to my question in the docs: https://github.com/knative/docs/issues/668

I want to write a PoC to trigger an event with an HTTP endpoint.  The end goal here is for example if I want a service or function to guarantee send an email without blocking the user registration I want to queue up the event that sends the email.

Would love my microservice to queue up this event/job.

Please advise

[2019-02-25 19:22] evankanderson commented on #837
We're currently discussing a model which would have a centralized "Broker" which would receive events and route them based on contents.

Barring that, you would need to select a Channel and read the `status.address.hostname` field to find the service address that the the Channel receives CloudEvents on. This experience for "white box" events is currently more complicated than we'd like, so it's no

[2019-02-26 00:39] Disturbing commented on #837
Okay, sounds good. If you need and contribution towards that, let me know.

Until then, I'll have to live with PubSub :).

Closing this question for now.

[2019-02-26 00:40] #837 closed

[2019-02-27 18:53] Harwayne commented on #836
I think this was fixed by #764, which should be in the 0.4.0 release ([YAML](https://github.com/knative/eventing/blob/86064bdeeb7635ae7dfe903bd085ede9ea29b4aa/contrib/kafka/config/kafka.yaml#L40)).

[2019-02-27 23:52] akashrv commented on #779
After digging around this issue here is a proposal:
1. We will add a check in channel validation webhook that the provisioner specified is of apiVersion: eventing.knative.dev/v1alpha1 and  kind: ClusterChannelProvisioner.
2. We will not check if the provisioner is installed or not, and here is the reasoning:

It seems channel provisioners exist so that a "developer" can query and check what kind o

[2019-03-01 16:14] bbrowning commented on #779
So, as a user, when I create a Channel that specifies a provisioner that is not installed, how will I know I did something wrong? And how will I know how to fix it?

[2019-03-02 02:00] akashrv commented on #779
@bbrowning: Please see the above PR.
Created a default channel controller. This controller will watch every Channel and set its ProvisionerInstalled condition to false if there is no provisioner that watches the channel
This condition will be set to true by individual controllers when they start watching the Channel
There were concerns about multiple controllers trying to update the status of the

[2019-03-04 18:50] akashrv opened #848 "Update the documentation and debugging section with info about new channel-default-controller"
I'd actually update the Release Notes seciton, since it has user visible changes. Also, we should make sure to update documentation with this information and probably update the debugging also. Not as part of this PR, but we should probably create an issue to track or put out a PR to update those.

_Originally posted by @vaikas-google in https://github.com/knative/eventing/pull/843#issuecomment-46

[2019-03-04 18:51] akashrv commented on #848
/assign

[2019-03-04 22:49] yuzisun commented on #620
wondering the same, could not think of a reason why this is needed.

[2019-03-04 23:17] lindydonna opened #849 "Start a document for personas and user stories"
Create a document in the shared team drive that covers the following:
- Detailed use cases for a concrete, by simple, end-to-end scenario
- Expected personas for Knative eventing
- User stories that use these personas and cover these use cases, in the style, "As a function developer, I want to do **X** so that **Y**"

[2019-03-04 23:27] lindydonna commented on #849
/assign

[2019-03-05 17:20] carusology opened #852 "Roadmap link leads to restricted Google Doc"
## Expected Behavior

Either:
1. The roadmap navigated to via the link on the README is able to be opened, or
2. The roadmap referenced in the README mentions that the roadmap is locked down from random user access, and the best way to request access is via {steps}.

## Actual Behavior

The roadmap navigated to via the link on the README cannot be accessed, and there is no reference in the README

[2019-03-05 18:06] evankanderson commented on #852
The roadmap is somewhat out of date as well -- we should move the contents to GitHub and revise them.

@vaikas-google do you want me to try to move over and revise, or is there a better process than me pulling dates out of thin air?

[2019-03-05 18:35] vaikas-google commented on #852
well, I'm about to be done for the day, tomorrow I can take a crack.

On Tue, Mar 5, 2019 at 8:06 PM Evan Anderson <notifications@github.com>
wrote:

[2019-03-06 00:41] lindydonna commented on #849
Work in progress draft: https://docs.google.com/document/d/15uhyqQvaomxRX2u8s0i6CNhA86BQTNztkdsLUnPmvv4

[2019-03-06 04:30] akashrv opened #854 "Propagate the status that a provisioner is down or corrupt to the user."
If a provisioner stops working or is corrupt, then that status should be propagated to the user wither through the Channel object and\or the ClusterChannelProvisioner object.

Originally posted by @n3wscott  in [#843 (comment)](https://github.com/knative/eventing/pull/843#pullrequestreview-211036254)

[2019-03-06 14:15] vaikas-google commented on #852
Sigh, there's also roadmap.md in the eventing root, which is inconsistent with the Google doc. I also poked around a few different repos and while I could find serving/docs/roadmap they seem to be out of date. I'd prefer to work on updating the roadmap using Google doc and then either move it to markdown in the repo or keep it in the Google doc (with appropriate location / permissions of course) d

[2019-03-06 14:25] vaikas-google commented on #852
#817 is blocked due to some lint failures. It would fix the immediate problem of pointing out why this document appears to not exist.

[2019-03-06 15:32] lukas-lansky commented on #827
I see this issue with KNative 0.4.0 at AKS, k8s 1.12.5.

[code]

[2019-03-06 22:26] nachocano opened #860 "Document few messages from current event sources"
By documenting few examples of how our current event sources are sending cloud events into the eventing mesh, we might be able to better understand what we actually need for a first cut of Registry (and also some of the filtering for Broker/Trigger)

Below there are few dumps from the message_dumper. Only the HTTP headers are included. Most of the events below were sent using cloud events spec v0.

[2019-03-06 22:26] nachocano commented on #860
/cc @nachocano

[2019-03-06 22:30] nachocano commented on #860
/kind doc

[2019-03-06 22:31] nachocano commented on #860
FYI
@Harwayne
@grantr

[2019-03-06 22:33] nachocano commented on #860
/assign

[2019-03-06 23:05] nachocano commented on #860
My takeaways so far from this are:

1. We cannot use the **Ce-Eventtype** or **Ce-Type** header values as the name of potential Custom Objects of Kind **EventType** in the Registry, as they may not conform to Kubernetes naming formats. Some options could be:
    * Given that we are changing the types right now (e.g., from repo:push to dev.knative.source.bitbucket.repo:push), we might just change i

[2019-03-06 23:14] nachocano commented on #860
fyi @akashrv

[2019-03-07 00:59] grantr commented on #860
I think my preferred solution to problem #1 is to add a `type` field to `EventType` that is the authoritative CloudEvent type, making the `EventType` `meta.name` field non-authoritative (but ideally as close to the actual type as possible).

(uninteresting fields removed from the following examples for clarity)
[code]

[code]

The user story for "list all event types" is equivalent because the eve

[2019-03-07 07:35] #779 closed

[2019-03-07 15:12] matzew opened #863 "Kafka channel ReplicationFactor"
## Expected Behavior

provide `args` for `ReplicationFactor` of a topic (via channel)

## Actual Behavior

not possible

[2019-03-07 15:12] matzew commented on #863
/assign

[2019-03-07 15:15] matzew commented on #863
The replications is hard coded to `1`, while the number of partions is configurable

https://github.com/knative/eventing/blob/master/contrib/kafka/pkg/controller/channel/reconcile.go#L205-L207

[2019-03-07 18:02] nachocano commented on #860
@grantr Makes sense! Let me recap.

The `type` attribute here (what I called `alias`) should be what it comes in the cloud event Ce-Eventtype or Ce-Type headers, right? There were some discussions on not changing the types in the receive adaptors, as we are currently doing. But for this discussion, whatever comes in those headers, would be our authoritative type. And based on that, we can generate

[2019-03-07 21:27] Harwayne commented on #860
FYI @vaikas-google, @evankanderson. I think these real world examples are key to understanding what the registry should look like. Furthermore, any proposal we have should show what these events look like in that proposal.

Thanks @nachocano!

[2019-03-08 00:33] Harwayne opened #867 "Move ResolveSubscriberSpec out of the Subscription Controller"
From https://github.com/knative/eventing/pull/866#pullrequestreview-212092455:

ResolveSubscriberSpec is currently a method in the Subscription Controller, but is used by multiple controllers (Subscription and Trigger for now). As it is used by multiple controllers, it should be moved out of the existing location and into a more generic one.

[2019-03-08 13:42] #863 closed

[2019-03-08 14:29] nak3 opened #870 "Kafka channel controller keeps restarting if fails to build admin client"
## Expected Behavior

Controller(`reconcile()`) should keep running and trying to reconcile __without restarting__ even if it failed.

## Actual Behavior

Controller keeps restarting due to following fatal error.

https://github.com/knative/eventing/blob/55e0b84c7c636262276822644387ab62072859ee/contrib/kafka/pkg/controller/channel/reconcile.go#L140

## Steps to Reproduce the Problem

#### 1. Setti

[2019-03-08 17:58] adrcunha opened #873 "Setup automatic dot releases"
Let's stop building eventing releases from workstations. :)

Currently, whenever a new release branch is created on GitHub (as of today that will start with release-0.5), within 3 hours a new release will be built and published to GitHub automatically.

Let's also enable automatic minor releases ("dot" releases): every Tuesday 2:19PST, if the latest eventing release branch contains any new PRs, a

[2019-03-08 17:58] adrcunha commented on #873
/cc @grantr

[2019-03-08 20:50] bbrowning commented on #779
Thanks for improving this experience!

[2019-03-08 23:13] #873 closed

[2019-03-11 22:38] markfisher commented on #867
Should Trigger have a "subscriber"? Obviously a Subscription has a subscriber, but for a Trigger it seems like it should be different terminology so as not to blur the lines between eventing and messaging. In the Trigger case, it's not subscribing to a specific destination but instead "observing" events based on a filter, or it could be a "handler" for the events that match its selection criteria.

[2019-03-11 22:51] Harwayne commented on #867
Regardless of what it is called on each side, both eventing and messaging have a need to determine a concrete URL given an ObjectReference to an Addressable or K8s Service. That logic should be moved out of its current location in the Subscription Controller into a more generic location.

[2019-03-11 23:01] markfisher commented on #867
I can see the point in having shareable logic for "resolveObjectReferencetoURL", but that's different than sharing at the level of the "Subscriber" terminology.

[2019-03-12 15:26] brosner opened #885 "GCP PubSub source and channel should behave similar to avoid double topics"
I recently went through a QA cycle using knative 0.4.0 and noticed the behavior of the GCP PubSub source was different than the channel. I am using a GCP PubSub source that delivers directly to the event handler service. When the event handler fails due to a bug the redelivery was very aggressive.

When I dug into the code it seemed that GCP PubSub channel implementation was much more resilient to

[2019-03-12 17:02] #274 closed

[2019-03-12 17:45] #870 closed

[2019-03-12 18:39] derberg commented on #816
hey, just curious question as in Kyma we have some experience in rendering specs, like https://asyncapi.com/asyncapi-react/ or the JSON Schemas of information passed as part of https://www.openservicebrokerapi.org/ (where we use https://github.com/mozilla-services/react-jsonschema-form)

looking on your example, do I get it right, that you suggest it makes sense to use openapi for events registry?

[2019-03-12 21:54] n3wscott commented on #860
Also, don't think of type as headers, they are context attributes on the cloudevent, the headers are just that projection onto binary http.

[2019-03-12 21:56] nachocano commented on #860
Makes sense. Should called them context attributes instead. Thanks for the clarification

[2019-03-13 00:59] akashrv opened #888 "Proposal for planning future releases"
This is a proposal to streamline planning for KNative eventing. We will use release 0.6 to try this out and see how it works
- Release happens every 6 weeks (No changes here). Current release cutoff is same as next release start.
- Any time folks can create new GitHub issue, and tag it as user story, improvements or bugs.
   - Scenarios and User Stories coming from PMs based on customer feedback w

[2019-03-13 00:59] akashrv commented on #888
/kind proposal

[2019-03-13 14:40] chirino commented on #816
react-jsonschema-form seems really interesting, if we standardize on that, then we can further reduce the complexity of the proposed example.

Basically, if we could provide both the jsonschema and an optional UISchema for an event source, we should be 80% of the way there.  Both those should be static to the source, so perhaps we just annotate the Event Source CRD with those schemas.

The only fe

[2019-03-13 16:19] vaikas-google commented on #888
"New project and milestone will be created for each release to track progress"

serving uses milestones for releases and projects for larger chunks of work. I could for example see that something like Registry (or Broker / Trigger, etc.) could be a project.

[2019-03-13 17:58] grantr opened #890 "Trigger controller (and possibly others) status update is incorrect"
From https://github.com/knative/eventing/pull/788#discussion_r264932180

I'm not sure why this refetch is necessary. Maybe because of the finalizer update above? Anyway I think this update logic is incorrect.

IIUC, the flow here is:

1. Get latest trigger (triggerA)
1. Make updates to triggerA
1. Get latest trigger (triggerB)
1. if triggerB finalizers != triggerA finalizers
  Update triggerB with

[2019-03-13 18:15] n3wscott opened #891 "Use cloudevents sdk"
Use https://github.com/cloudevents/sdk-go

/assign

[2019-03-13 18:19] n3wscott opened #892 "Add spec for Broker/Trigger to spec"
Document it

/assign

[2019-03-13 19:00] evankanderson commented on #888
A few suggested amendments/comments:

* I think there's scope to discuss "Scenarios" as well as "User Stories" in the leadup to the release planning meeting (i.e. issues with larger scope than a 2 week). If we do that, we should be sure that the scenarios have work breakdowns within them that align with the "user story" size.
* I think we should differentiate "we think this is important" feature d

[2019-03-13 20:36] csantanapr commented on #888
Thank you Evan for putting this breakdown together and giving more details on the topic

+1

Carlos Santana
——————————————
Senior Technical Staff Member (STSM)
@csantanapr
Time Zone GMT-5

[2019-03-13 21:31] grantr commented on #888
I agree with this approach. I think some aspects of projects and milestones lend themselves to this usage.

Milestones are single-repo only, not cross-repo, and either on or off for an issue. This binary yes/no status meshes well with release planning IMO. I wouldn't do progress tracking with milestones. A milestone on an issue indicates _a decision was made_ about when work will be completed. If

[2019-03-13 22:12] Harwayne commented on #885
This is because I wrote the Source first and used what I learned from that to write the Channel, along with the backoff work done by @nachocano.

I always intended to back port all the niceties from the Channel to the Source, I just haven't had time to do so. @nachocano do you have the time and interest to do so?

Also which slack?

[2019-03-13 22:13] Harwayne opened #893 "Move getRequiredEnv to a common location"
_Originally posted by @n3wscott in https://github.com/_render_node/MDE3OlB1bGxSZXF1ZXN0UmV2aWV3MjAyNzgwNTI3/pull_request_reviews/more_threads_

`getRequiredEnv` has been copy-pasted a few times, move it to a single common location. Or switch to something like https://github.com/kelseyhightower/envconfig.

[2019-03-13 22:17] Harwayne opened #894 "Broker and Trigger OpenAPI schema"
The Broker and Trigger CRDs should include an OpenAPI spec, so that K8s will reject obviously incorrect objects. This should probably wait until #862 is merged, to have a generally accepted shape for the objects.

_Originally posted by @n3wscott in https://github.com/_render_node/MDExOlB1bGxSZXF1ZXN0MjUxMjU2MDQ0/timeline/more_items_

[2019-03-13 22:19] nachocano commented on #885
@Harwayne I'm currently busy with prototyping registry, but in a few days I may be able to get into this.
@brosner are interested in adding some of the backoff functionality into the GCP PubSub source?

[2019-03-13 22:33] Harwayne opened #895 "status.conditions.reason should be actionable"
Looking at a Broker/Trigger/Channel/Subscription's `status.conditions` should provide actionable feedback. In particular, if a condition has status of `False`, then it should have a useful reason and message.

If possible, the reason should be actionable by itself, as it is more often visible from a simple `kubectl get`, rather than needing to get the YAML.

A few concrete issues:
* `Broker` hard

[2019-03-13 22:35] Harwayne opened #896 "status.conditions.message should be actionable"
This is very closely related to #895.

Looking at a Broker/Trigger/Channel/Subscription's status.conditions.message should provide actionable feedback. In particular, if a condition has status of False, then it should have an actionable message, meaning that given that message I should know what to fix to make forward progress.

[2019-03-13 22:38] Harwayne opened #897 "Move Broker's Ingress Handler to pkg"
The Broker's Ingress HTTP Handler is defined in its `main.go`. It should be moved to somewhere in `pkg/` so that it can be properly unit tested and to match our general code architecture (i.e. main contains only as much it has to).

_Originally posted by @akashrv in https://github.com/_render_node/MDExOlB1bGxSZXF1ZXN0MjUxMjU2MDQ0/timeline/more_items_

[2019-03-13 23:00] Harwayne opened #898 "Generate logical Set Structs"
In various places we use `map[foo]struct{}` to represent a Set of `foo`s, similar to K8s' https://godoc.org/k8s.io/apimachinery/pkg/util/sets.

We should use `go generate` to create these instead.

This will also give us better knowledge of `go generate` to start generating other code snippets, such as each object's `UpdateStatus` method and the generic parts of the `Reconcile` method.

_Originall

[2019-03-13 23:34] brosner commented on #885
I would love to tackle an implementation but likely won’t be able to get to it until the weekend.

[2019-03-13 23:50] nachocano commented on #885
@brosner OK, I'm currently working on some other stuff, so I don't have much free cycles. If you can work on it, it'd be great! And there is no rush on my end (i.e., doesn't need to be done for the weekend :))

[2019-03-14 01:17] #693 closed

[2019-03-14 03:34] #867 closed

[2019-03-14 05:02] Harwayne opened #899 "Trigger responses go back into the Broker"
#788 creates the Broker and Trigger objects, but any response from a Trigger is simply dropped. It should be sent back into the Broker.

[2019-03-14 05:05] Harwayne opened #900 "Events should not be allowed through the Broker too many times"
#899 will cause responses from Triggers to feed back into the Broker. We need to be careful to not create an infinite loop.

My simple proposal is to attach a time to live (TTL) attribute to the Cloud Event as it goes through the Broker. Every iteration through the Broker will decrement the TTL. Once it reaches zero, the Broker will drop it or send it to a bad event Channel. Note that we will remo

[2019-03-14 07:53] matzew commented on #891
:+1:   happy to help/review

[2019-03-14 07:53] matzew opened #901 "e2e test for Apache Kafka CCP"
Currently the code base lacks a e2e test for the Apache Kafka `CCP`, as mentioned by @grantr in #879

[2019-03-14 07:55] matzew commented on #901
For this @syedriko is interested in working on that. Perhaps good to check with @yuzisun on this, to avoid double efforts

[2019-03-14 13:07] n3wscott commented on #893
/assign

On Wed, Mar 13, 2019, 3:14 PM Adam Harwayne <notifications@github.com>
wrote:

[2019-03-14 13:18] syedriko commented on #901
@yuzisun, do you mind me taking #901?

[2019-03-14 13:45] duglin commented on #888
I'd rephrase this to say that any new ones won't be included in the upcoming release. You don't want to stop people form opening new issues/PRs at any time. Rather, they just may not make the current train.

[2019-03-14 16:58] Harwayne commented on #901
https://github.com/knative/eventing/pull/772 added a flag to be able to switch the provisioner used. I then manually ran the existing e2e test against Kafka and it passed.

[2019-03-14 17:04] Harwayne opened #903 "Controller and Webhook Versions"
## Expected Behavior

Given a running Eventing Controller/Webhook Pod, we should be able to see which version of Knative it is running. This should be possible both for official releases and dev builds (possibly just include the git commit and if the working tree was clean or dirty).

## Actual Behavior

Developer builds of the Eventing Controller will output a line like:

[code]

## Steps to Repr

[2019-03-14 17:04] #620 closed

[2019-03-14 17:14] Harwayne commented on #900
https://github.com/Harwayne/knative-eventing/pull/27 is a prototype, letting a given message go through the Broker only 10 times.

[2019-03-14 17:15] Harwayne commented on #899
https://github.com/Harwayne/knative-eventing/pull/24 and https://github.com/Harwayne/knative-eventing/pull/25 are two ways to do this. The latter is preferred, as we expect to move to the CloudEvents SDK anyway.

[2019-03-14 17:24] grantr commented on #903
This error message comes from https://github.com/knative/pkg/blob/c1003234031b04fbb5dbb43e9f6a72a4b96a53fd/logging/config.go#L58 and https://github.com/knative/pkg/blob/684620ff81ae137be5cda634a03831b373adc4eb/changeset/commit.go

[2019-03-14 17:31] Harwayne opened #904 "Broker & Trigger Metrics"
Broker and Trigger should export metrics.

Examples:

* Number of events by type through a Broker.
* Number of events by type through a Trigger.

[2019-03-14 17:31] Harwayne commented on #904
https://github.com/Harwayne/knative-eventing/pull/23 is early work adding metrics to the Broker.

[2019-03-14 17:34] akashrv commented on #888
Thanks for reviewing and providing good suggestions. I'll  play around with GitHub issues, check with serving, and then update docs to send a PR.

[2019-03-14 17:54] syedriko commented on #901
/assign @syedriko

[2019-03-14 19:17] grantr opened #905 "Pushing reply events directly into the Broker's channel bypasses Broker ingress"
Pushing reply events directly into the Broker's channel bypasses any filtering or other functionality of the Broker ingress. One solution is creating a separate Channel to receive replies, plus a Subscription from that Channel to the Broker's ingress.

_Originally posted by @grantr in https://github.com/knative/eventing/pull/788/files#r265727842_

[2019-03-14 19:27] grantr opened #906 "Trigger cannot reply back to the Broker"
The existing code doesn't push back any replies, because the message dispatcher library we are using doesn't return anything, so nothing was ever replied.

_Originally posted by @Harwayne in https://github.com/knative/eventing/pull/788#discussion_r265728856_

[2019-03-14 19:50] #906 closed

[2019-03-14 19:51] Harwayne commented on #905
This is very related to #899.

[2019-03-14 21:26] #818 closed

[2019-03-15 18:48] evankanderson commented on #900
Is the TTL part of the Cloud Event, or an internal Broker implementation
detail?

I'm slightly concerned that #899 may be making a forward promise which we
don't fully understand.

On Thu, Mar 14, 2019 at 10:14 AM Adam Harwayne <notifications@github.com>
wrote:

--
Evan Anderson <argent@google.com>

[2019-03-15 22:09] n3wscott opened #909 "We need to document our service account and roles story"
I am fairly confused on how we `eventing` plans to use service accounts and roles. This came up because I was unable to get broker to work without creating a service account and role in my namespace but there was already a cluster role for a service account that does not get installed as part of the normal process.

We need to give a story how we are managing these and when we make a new one.

[2019-03-16 21:14] epicfaace commented on #816
@chirino FYI, react-jsonschema-form does have the "conditionally showing fields based on field values" functionality, see https://react-jsonschema-form.readthedocs.io/en/latest/dependencies/#dynamic

[2019-03-17 04:18] nak3 opened #912 "Kafka: TLS connection between Broker and Consumer/Producer"
Support TLS connection between Broker and Consumer/Producer. This feature should

- [ ] Enable/Disable TLS (`Config.Net.TLS.Enable`) by env value.
- [ ] Insert certs by Secret.

SASL based auth should be considered after this implementation.

[2019-03-17 04:19] nak3 commented on #912
Can I work on this?

cc @matzew

[2019-03-17 07:22] matzew commented on #912
:+1:

[2019-03-17 16:05] evankanderson commented on #912
This is for the implementation of the Kafka channel, and possibly the Kafka event importer (aka EventSource)?

/assign nak3

Sounds good. We also need a more comprehensive story for authenticating between the high-level components. See thoughts in #705 on options for implementing authenticated and private delivery between high-level components like Channels and Brokers and Addressables.

[2019-03-18 16:33] n3wscott commented on #909
There is a better option for adding roles: https://github.com/knative/serving/blob/070c82894b8b4ed24447012d7c0f10fc40e611c8/test/config/200-clusterrole.yaml#L24

Role based label selector.

[2019-03-18 16:36] Harwayne commented on #909
I think this needs to be more specific. What do you want documented and where?

I believe this came from working with #788 (specifically this [comment](https://github.com/knative/eventing/pull/788#issuecomment-473462003)), so the way Broker & Trigger use `ServiceAccount`s and RBAC.

You are correct that this is a bug that the Broker says it is ready before its constituent pieces say they are ready

[2019-03-18 16:50] Harwayne opened #915 "Only Mark Broker Ready=True if all constituent pieces are Ready=True"
The Broker has multiple constituent pieces. If any of them are not Ready=True, then the Broker itself cannot be Ready=True.

_Originally posted by @akashrv in https://github.com/knative/eventing/timeline_

[2019-03-18 18:25] Harwayne opened #916 "Aggregated ClusterRole for Addressables"
## Expected Behavior

I should be able to create a `ServiceAccount` and give it RBAC permissions to resolve all known `Addressable`s. If a new `Addressable` Kind is created, my `ServiceAccount` should get permission to resolve it as well, without needing any work specific to this `ServiceAccount`.

## Actual Behavior

Today all the `ServiceAccount`s seem to get their own custom `ClusterRole`s that

[2019-03-18 18:52] evankanderson commented on #527
/good-first-issue

[2019-03-18 18:52] evankanderson commented on #527
/remove-kind good-first-issue

Apparently we had two different ways to say this.

[2019-03-18 19:03] evankanderson commented on #268
/kind bug

[2019-03-18 19:04] evankanderson commented on #224
Can this be closed?

It looks like @vaikas-google commited a PR.

[2019-03-18 19:05] evankanderson commented on #207
This is a dup of #749

[2019-03-18 19:05] evankanderson commented on #207
/close

[2019-03-18 19:05] #207 closed

[2019-03-18 20:29] grantr commented on #916
/good-first-issue

[2019-03-18 20:39] evankanderson commented on #916
/milestone v0.5.0

This will make Brokers and Sources both much more useful and easier to
manage consistently.

On Mon, Mar 18, 2019 at 1:29 PM Grant Rodgers <notifications@github.com>
wrote:

--
Evan Anderson <argent@google.com>

[2019-03-18 21:11] evankanderson commented on #909
Here's a user story and a success test for the *contributor* persona:

* I can read a document in knative-eventing's `/docs` subtree and understand how ServiceAccounts and Roles are used by knative-eventing.
* From the document, I can correctly predict for a given set of component installs: the number of ServiceAccounts, their names, and what permissions they have.

[2019-03-18 21:12] evankanderson commented on #909
/kind feature-request

[2019-03-18 21:16] Harwayne opened #918 "Triggers don't use Istio VirtualServices"
## Current Behavior

Triggers create `VirtualService`s to allow all of the Triggers for a single Broker to be handled by a single `Deployment` (the HTTP host header is used to determine which Trigger the request was made for).

## Desired Behavior

Triggers should not create any `VirtualService` (or K8s `Service`s). Instead, the single `Deployment`'s binary can use the HTTP path to determine which

[2019-03-18 22:08] evankanderson commented on #623
/priority 2
/kind feature-request

Hello Andy,

Is this something you're likely to look at soon?

[2019-03-18 22:12] evankanderson commented on #174
It looks like this is >6 months old. Closing.

[2019-03-18 22:12] #174 closed

[2019-03-18 22:15] evankanderson commented on #250
Overall coverage is 80.7%: https://testgrid-dot-knative-tests.appspot.com/knative-eventing#coverage

We should re-file more specific bugs as needed.

[2019-03-18 22:15] #250 closed

[2019-03-18 22:16] evankanderson commented on #251
/kind feature-request
/priority 2

[2019-03-18 22:16] evankanderson commented on #282
We have no more ClusterBuses.

[2019-03-18 22:16] #282 closed

[2019-03-18 22:17] evankanderson commented on #289
We moved these (including the in-memory channel) to `contrib/` by general agreement, to separate them from the core.

[2019-03-18 22:17] #289 closed

[2019-03-18 22:18] evankanderson commented on #327
Is this obsolete?

/kind bug
/priority 2

[2019-03-18 22:37] n3wscott commented on #327
/close

we do this today.

[2019-03-18 22:37] #327 closed

[2019-03-18 23:02] Harwayne commented on #900
The proposal is to make the TTL an internal Broker implementation detail. Concretely done by adding and removing Cloud Event attributes in the proper locations. They will never be seen by any code other than the Broker and Trigger logic itself (e.g. not seen by the function that is the subscriber of a Trigger).

[2019-03-19 04:32] Abd4llA commented on #916
I would love to work on this

[2019-03-19 08:39] vrock28 opened #922 "Need to embed the right link to eventing docs in eventing README"
## Expected Behavior
The actual link to eventing docs should be https://github.com/knative/docs/tree/master/docs/eventing in the hyperlink provided in the README section of https://github.com/knative/eventing

## Actual Behavior
The current link to eventing docs at https://github.com/knative/eventing under README section is broken and is pointing to https://github.com/knative/docs/tree/master/even

[2019-03-19 16:29] grantr commented on #922
/good-first-issue

Thanks for noticing and creating an issue @vrock28!

[2019-03-19 16:53] grantr commented on #916
/assign @Abd4llA

It's all yours!

[2019-03-19 18:24] grantr commented on #900
This specific proposal doesn't alter the event outside the broker because it only applies to reply events, so the Trigger filter can strip and reapply the TTL attribute inside the event delivery request handler.

If we later want cycle detection on consume-produce flows that don't use reply, like publishing a transformed message to the Broker's ingress, we'll need cooperation from client code (or

[2019-03-19 19:18] grantr opened #923 "Determine proper memory request and limit for control plane pods"
Control plane pods (controller and webhook) are limited to 1GiB of memory as of #921. This is probably much too high for these relatively low throughput Go processes.

I'd like to gather some metrics on how much memory these processes actually need so we can set memory requests and limits appropriately. For the controller we should pay attention to how memory usage scales as the number of cached o

[2019-03-19 20:13] evankanderson commented on #923
/kind feature-request

[2019-03-19 20:17] evankanderson commented on #900
/kind feature-request

[2019-03-19 21:59] #888 closed

[2019-03-19 22:40] akashrv commented on #918
/kind feature-request

[2019-03-19 22:44] akashrv commented on #915
/kind bug

[2019-03-19 22:44] akashrv commented on #915
/kind: bug

[2019-03-19 22:45] akashrv commented on #912
/kind feature-request

[2019-03-19 22:47] akashrv commented on #905
/kind bug

[2019-03-19 22:47] akashrv commented on #904
/kind feature-request

[2019-03-19 22:48] akashrv commented on #903
/kind feature-request

[2019-03-19 22:49] akashrv commented on #922
/kind bug

[2019-03-19 22:50] akashrv commented on #901
/kind feature-request

[2019-03-19 22:52] akashrv commented on #899
/kind bug
related to #905

[2019-03-19 23:06] Harwayne opened #925 "Subscription.Reply to non-Channels"
**Problem**
The existing `Subscription` object restricts replies to go only to `Channel`s. It should be allowed to go to any Addressable.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event Consumer

**Exit Criteria**
`Subscription`'s reply can point to Knative and K8s `Service`s.

**Time Estimate (optional):**
1 day.

**Additional context (optional)**
This came

[2019-03-19 23:54] grantr commented on #925
Maybe don't need this right away if we keep the broker ingress channel, see https://github.com/knative/eventing/pull/917#discussion_r267141953.

[2019-03-20 00:13] grantr commented on #922
Closed by #920

[2019-03-20 00:13] #922 closed

[2019-03-20 00:23] grantr opened #926 "Rename go packages for Broker and Trigger"
Some of the go package names for the Broker and Trigger code are not especially clear about their purpose. Once we have final names for these objects, we should do a rename pass on the package names.

/cc @Harwayne

/kind bug

[2019-03-20 00:30] grantr opened #927 "[BUG] Issue template nits"
**Describe the bug**

* The feature request template description is "Suggest an idea for this project about", which isn't a complete sentence.

* The bug template adds `[BUG]` to the title, which seems like unnecessary noise. The issue is pre-labeled with `kind/bug`, so it's already identifiable as a bug individually and in a list.

* The example of "Additional context" is proposed priority, which

[2019-03-20 00:36] grantr opened #928 "Use predicate filter to select objects to reconcile"
_Is this a feature request or not? It's really more of a code health issue._

**Problem**

Currently we have ad-hoc conditions in controller reconcile loops to avoid reconciling objects that are not controlled by this controller. It would be cleaner to use a predicate to filter those out in the controller-runtime library. See https://github.com/kubernetes-sigs/controller-runtime/tree/master/pkg/pr

[2019-03-20 02:02] nachocano opened #929 "Event Registry"
**Problem**
We need to provide Event Consumers with a mechanism to discover what event types they can consume from the eventing mesh.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event Consumer

**Exit Criteria**
Executing `kubectl get eventtypes -n <namespace>` returns the event types available for consumption in that particular namespace.

**Time Estimate (op

[2019-03-20 02:29] nachocano opened #930 "Advanced Filtering on Triggers"
**Problem**
We need more advanced filtering mechanisms than just exact match on Cloud Event types and sources.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event Consumer

**Exit Criteria**
Being able to configure advanced filters on triggers, either with CEL or some other language. E2E tests are necessary.

**Time Estimate (optional):**
~2 weeks, depending on

[2019-03-20 05:29] akashrv commented on #890
/assign akashrv

[2019-03-20 05:29] akashrv commented on #890
/kind bug

[2019-03-20 05:30] akashrv commented on #891
/kind feature-request

[2019-03-20 05:31] akashrv commented on #885
/kind bug

[2019-03-20 05:32] akashrv commented on #854
/kind feature-request

[2019-03-20 05:33] akashrv commented on #836
@yuzisun Could you verify if this got fixed in 0.4 and close this issue?

[2019-03-20 05:34] akashrv commented on #827
/kind bug

[2019-03-20 05:35] akashrv commented on #816
/kind feature-request

[2019-03-20 05:36] akashrv commented on #787
Is there a way to mark anything as deprecated? Is there a deprecation followed by removal policy that Knative follows?

[2019-03-20 05:36] akashrv commented on #787
/kind feature-request

[2019-03-20 05:38] akashrv commented on #777
/kind feature-request

[2019-03-20 05:39] akashrv commented on #898
/kind feature-request

[2019-03-20 05:40] akashrv commented on #897
/kind feature-request

[2019-03-20 05:40] akashrv commented on #896
/kind bug

[2019-03-20 05:41] akashrv commented on #895
/kind bug

[2019-03-20 05:41] akashrv commented on #894
/kind bug

[2019-03-20 05:42] akashrv commented on #892
/kind doc

[2019-03-20 06:24] Fredy-Z opened #931 "e2e test for simple delivery"
Currently we do not have an e2e test case for the simple delivery scenario - direct delivery from a source to a single service.

I would like to add one as my start in this project.

/kind feature-request
/assign @Fredy-Z

[2019-03-20 10:52] duglin commented on #929
Do you have a suggestion for how Kn gets this information? Does each Kn EventSource have built-in knowledge of the event types coming from its event producers? Does it query the event producers periodically?

[2019-03-20 18:21] grantr opened #934 "Advertise current filters to upstream event publishers"
**Problem**
Event producers want to know at publish time when an event is useful and when it can be dropped. This allows for greater efficiency for use cases in which the majority of events are uninteresting.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Producer or Operator (operator's concern is maintaining network QoS)

**Exit Criteria**
An event source insid

[2019-03-20 18:58] evankanderson commented on #931
If you are only testing direct Source --> Service delivery, you may want to do your work in `eventing-sources`. I think @bbrowning may have recently added a test here: https://github.com/knative/eventing-sources/tree/master/test/e2e

[2019-03-20 20:12] vaikas-google opened #938 "[BUG] Broker / Trigger unnecessarily have DeprecatedGeneration"
**Describe the bug**
DeprecatedGeneration is not necessary and Broker / Trigger were created with them. We should remove them ASAP so we do not need to do unnecessary conversions in the future as well have tech debt from the get go.

 **Expected behavior**
Standard CRD Generation is used.

 **Knative release version**

 **Additional context**
Add any other context about the problem here such as pr

[2019-03-20 20:20] Fredy-Z commented on #931
I see, thanks for letting me know, Evan.
Do you think if a test case that has one channel and multiple subscriptions will be useful? I was just thinking about working on a simple scenario as a warm-up and of course making some contributions :-) If it works, I can turn to this implementation.
Thanks!

[2019-03-20 20:31] #899 closed

[2019-03-20 20:31] #905 closed

[2019-03-20 20:42] vaikas-google commented on #929
In my opinion there are couple of things here that are at play.
Kn EventSource (CRD) is a Potential Source of events. Unless a Custom Resource is created (aka, CRD is reified and hence a dataplane is established), they are only that, potential events and they should not be listed in the Registry as available because without a configured CR, the events are not available for consumption.

Kn EventSo

[2019-03-20 21:04] evankanderson commented on #931
I think that test only works for a specific source (the kubernetes event source). Testing another source such as cron or containersource (we have a lot of containersources) would be useful there.

In this repo, tests for one Channel with multiple subscriptions or or multiple Channels (no event leakage between channels) would be useful, as would tests for Broker and Trigger (@Harwayne could point o

[2019-03-20 22:13] nachocano commented on #929
I'm more into this idea but I think it may add more burden to Kn Source developers (I think we call them Receive Adapter authors), as their controllers will need to take care of creating the EventTypes.
Also, what if there are two CRs, e.g, GitHub_sample_1 that listens to pull_requests from user1 repo1, and GitHub_sample_2 that also listens to pull_requests but from user2 repo2. And they are both

[2019-03-20 22:32] vaikas-google commented on #929
Sorry, are you saying that they should be listed in the registry or not by default? I do agree that Source should be part of this, that's what I _tried_ (but poorly) say here:
"
eventtype, broker

I think there are use cases obvs for things like source there as well, but at the very least I see the two entries above as necessary for being able to create a trigger without resorting to some other OO

[2019-03-20 22:43] nachocano commented on #929
@duglin some Kn Sources have that info. For example, GitHubSource CRD has the list of event types that we can create webhooks for. I also have a PR pending for a BitBucket one, where we also have that list.
If you look at the AWS SQS adapter code, you can see that it only sends "aws.sqs.message" as event type, the CronJob one sends "dev.knative.cronjob.event", and so on.

I guess we might not know

[2019-03-20 22:44] Harwayne opened #939 "Performance Tests"
**Problem**
We don't know performance numbers for Eventing objects.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event Consumer and Contributer

**Exit Criteria**
A set of tests that repeatably produce performance metrics.

**Time Estimate (optional):**

**Additional context (optional)**
The metrics I think are interesting (all of which will be unique per `Clus

[2019-03-20 22:59] nachocano commented on #929
If we are going with the approach of creating the registry entries upon CR instantiation, then I think we should have that "source" information as part of the EventType data type. The downside is that the registry will grow pretty fast.

[2019-03-20 23:13] Fredy-Z opened #940 "e2e test case for one channel and multiple subscriptions"
Currently we do not have an e2e test case for the scenario that has one channel and multiple subscriptions.

/kind feature-request
/assign @Fredy-Z

[2019-03-20 23:14] Fredy-Z commented on #931
Close this issue, will turn to working on #940
/close

[2019-03-20 23:14] #931 closed

[2019-03-21 00:03] vaikas-google commented on #929
My preference would be to add source there and add them to the registry when a CR is created. I am not sure I buy the argument that the registry will grow pretty fast, I think that populating all the namespaces with all the possible events would grow faster than only showing the events that have been created subscriptions to :)

[2019-03-21 00:53] nachocano commented on #929
Valid point, and you are probably right :) I guess I'm envisioning a system where plenty of CRs will be created.

[2019-03-21 14:04] n3wscott commented on #891
/close
Done!

[2019-03-21 14:05] n3wscott commented on #891
/reopen
oh, wait not done...

[2019-03-21 15:40] matzew opened #944 "Remove deprecated Kafka client libray"
**Problem**
Currently we use a deprecated API, see: https://github.com/bsm/sarama-cluster#deprecation-notice.

**Exit Criteria**
Compatible change w/ the newer version of the libray.

**Time Estimate (optional):**
2 days work, including testing and documentation.

Needs release notes?

[2019-03-21 18:10] n3wscott opened #946 "It would sure be nice to know if we are broken at head of other Knative Deps"
**Problem**

We dep on knative/pkg, but on a revision. We never know if we are broken for the next release until it is cut and we try to integrate it. At that point, it is too late.

[2019-03-21 18:44] #836 closed

[2019-03-21 20:29] grantr opened #948 "Document available metrics from each component"
**Problem**
#937 adds metrics to one component (Broker ingress) and some other components likely already expose metrics. These  should be documented so Developers and Operators can know what metrics are available to query.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer and Operator

**Exit Criteria**
A document listing available metrics exposed by compo

[2019-03-21 20:29] grantr commented on #948
@akashrv I don't know if this is a feature request or a bug.

[2019-03-21 20:36] adrcunha commented on #940
@jessiezcc FYI

[2019-03-21 21:06] vaikas-google opened #950 "Wire context through appropriately"
**Problem**
Many of our methods do not take in context object. This means that we use context not necessarily in a consistent way. This is problematic if we want to handle things like cancelation consistently.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Internal

**Exit Criteria**
Once the methods that should have context (i.e. should be cancelable for example

[2019-03-22 00:02] grantr commented on #904
Partial fix at #937

[2019-03-22 16:35] vaikas-google commented on #734
Just tickling this issue again. My understanding is that there are two pretty big problems with the use of controller runtime:
 1. Harder to test reconcilers
 2. Monitoring will take extra work

Serving will not move to controller runtime at least some time after 1.0, more and more features are being added to pkg/ that we'll effectively have to redo in eventing impl and I'm concerned that by not h

[2019-03-22 16:38] vaikas-google commented on #734
@mdemirhan - Thoughts on monitoring since you have spent a fair amount of time on this :)
@mattmoor - Thoughts on impact for production readiness and what work would have to be reimplemented.

[2019-03-22 16:51] grantr commented on #734
Curious about this one. What makes reconcilers harder to test in eventing?

[2019-03-22 16:56] n3wscott commented on #734
We have a much harder time testing real reconciliation in eventing compared to what serving can do if you look at the test coverage numbers. We are getting better because we shim and sync caches but this work has already happened in serving and we are duplicating effort with no benefit to Knative as a whole.

[2019-03-22 21:00] n3wscott opened #955 "[BUG] Eventing CRDs do not have age in default table view"
**Describe the bug**
I do this:

[code]

and I can't see the age column. This happens for all our CRDs. AGE drops if we have custom columns defined.

 **Expected behavior**
Show the age column.

 **Knative release version**
master@March 16, 2019

[2019-03-22 22:12] evankanderson commented on #787
We can add a `Severity: Warning` condition indicating the the objects will be removed. On the other hand, we've also supported `in-memory-channel` for at least one releases overlapping the new `in-memory` Provisioner, so I think we could evict this for 0.5.0 or 0.6.0.

[2019-03-22 22:24] n3wscott opened #956 "[BUG] Broker/Trigger is not cleaning up subscriptions."
**Describe the bug**
Using broker/trigger, I ended up with the following:

[code]

Wow.

 **Expected behavior**
I only have one of each.

 **To Reproduce**
Use broker/trigger. Create and delete triggers. End up with this:

[code]

 **Knative release version**
master@March 22, 2019

[2019-03-22 22:55] #892 closed

[2019-03-25 12:10] andyliuliming commented on #623
Hi @evankanderson sorry for the late response, occupied by other things these days, may not be able to to look at it  : (

[2019-03-25 17:02] n3wscott opened #968 "[BUG] 'Any' is added to Type and Source as default in Triggers."
As of March 25, 2019 we are adding the string `"Any"` to `Type` and `Source`. I think this is pretty weird and a mistake. We should unto this. Nil or empty string should be used.

My weird emitter wants to use event type `"Any"`, but now I can't filter on that. :(

[2019-03-25 17:02] n3wscott commented on #968
/cc @Harwayne

[2019-03-25 17:39] evankanderson commented on #968
Agree -- this is also different from what we [wrote in the decision document](https://github.com/knative/eventing/blob/master/docs/decisions/broker-trigger.md#trigger-object-definition).

[2019-03-25 20:42] evankanderson commented on #734
/kind feature-request

[2019-03-25 20:49] vaikas-google commented on #705
Let's break this down to Generic Security Requirements for now, then gather the requirements and then generate more fine grained issues to track.

[2019-03-25 21:30] Harwayne commented on #968
I have a preference towards `Any` above the empty string, but not a strong one. In my mind I read it as 'allow anything through'.

As for the decision document, the structure of the objects differ in a few ways. E.g.
* Broker has an optionally non-empty `spec`.
* Trigger's type and source filters are one layer further in.

[2019-03-25 21:40] evankanderson commented on #705
This needs to be broken down into smaller steps. It may be worth using a Project to track this. Some sample stories/steps:

* List of minimal "allowable" sharing cases.
* Implementation of TLS between data plane components.
* Peer-to-peer authentication technology between data plane components (recommend OAuth?)
* Decision about how to perform authz between data plane components (i.e. which identi

[2019-03-26 16:15] #938 closed

[2019-03-26 17:49] Harwayne commented on #968
/assign @vaikas-google

We should figure out exactly what this looks like before the release is cut.

[2019-03-26 19:48] #900 closed

[2019-03-26 20:28] vaikas-google commented on #968
Let's go with the "" string to denote all events. I think I personally would prefer *, but between the two, I think the "" is fine.
As far as the other indentation issues, let's create another issue for it.

[2019-03-26 20:36] n3wscott commented on #956
/cc @Harwayne

[2019-03-26 21:22] matzew commented on #787
generally like this, @evankanderson  have some "deprecation" warning, and kill it with :fire: afterwards

[2019-03-26 23:11] lindydonna commented on #294
/kind feature-request

[2019-03-27 11:04] matzew commented on #925
:+1:

[2019-03-27 11:11] matzew commented on #930
@evankanderson while I like the idea, not sure if - for 0.6 we should introduce some "language" for _advanced_ filters

[2019-03-27 12:51] sebgoa commented on #787
This needs to be clearly stated in the release-notes with a DEPRECATION warning.

[2019-03-27 14:22] n3wscott commented on #956
/assign

I am going to look into this.

[2019-03-27 14:28] n3wscott opened #980 "Cleanup: Add lifecycle style grouping for resources"
Please see https://github.com/knative/serving/blob/master/pkg/apis/serving/v1alpha1/configuration_lifecycle.go for an example. We should do this for the eventing api group.

/good-first-issue

[2019-03-27 15:02] bbrowning commented on #939
I'm assuming this would only deal with performance of actual Eventing components and not things like Eventing Sources. So, the tests will directly push events into Broker/Channel instead of those events originating from a source in the eventing-sources repo.

[2019-03-27 15:36] bbrowning commented on #930
I feel like something a bit more advanced is warranted. Even if it's not a full-blown expression language, it would be great to expand exact matching to fields in the Cloud Event data or allow some kind of basic wildcard matching.

To give some concrete samples of more advanced filtering I'd like:
* I want to receive all events from the K8s Event Source for namespace foo with `Reason: RevisionRead

[2019-03-27 15:37] Harwayne commented on #939
@bbrowning Yes, my intention was that these tests would be around the performance of the core eventing pieces (Channels, Subscriptions, Brokers, and Triggers). I think using something to artificially create and push events, instead of a real event source, will make the tests more repeatable, and therefore more useful.

We should have similar tests for sources, but those may be much more specific.

[2019-03-27 15:52] bbrowning commented on #934
This only applies when a source sinks to a `Broker`, right? Sinking to anything else does not give us the necessary information for filtering?

[2019-03-27 15:59] grantr commented on #934
The general idea could apply to any sink that wishes to implement advertisement, but concretely the feature request is to add advertisement capability to `Broker`.

[2019-03-27 16:39] bbrowning commented on #950
I'd call this a technical task we just need to fix versus an actual feature request. Or, would fixing this provide some new feature we don't have today?

[2019-03-27 16:41] bbrowning commented on #948
I'd say the feature was added in the linked PR. And, this isn't really a bug. We do have a label of `kind/doc` that perhaps is the best to use here?

[2019-03-27 20:25] vaikas-google opened #982 "Audit RBAC rules for Controller / Webhook to minimal set."
I wonder if this is a candidate for a (namespaced) `Role` so the webhook doesn't have access to all secrets everywhere. Seems like maybe configmaps and deployments permissions could also be namespaced.

_Originally posted by @grantr in https://github.com/knative/eventing/pull/872_

[2019-03-27 20:39] Harwayne commented on #968
/assign @Harwayne

[2019-03-27 20:44] Harwayne opened #983 "[BUG] Broker & Trigger do not match design"
From #968.

**Describe the bug**
Broker and Trigger are specified in the [decision document](https://github.com/knative/eventing/blob/master/docs/decisions/broker-trigger.md#trigger-object-definition). They are different than the current implementation.

Examples:
* Broker has an optionally non-empty `spec`.
* Trigger's type and source filters are one layer further in.

 **Expected behavior**
The

[2019-03-27 20:44] Harwayne commented on #983
/assign @vaikas-google

[2019-03-27 20:45] vaikas-google opened #984 "Change webhook RBAC to talk about apps.deployments instead of v1beta1.deployments"
**Problem**

In the pkg/webhook we use extensions.v1beta1.deployments
but in our eventing/controller we use apps.v1.deployments

and that means that our deployments RBAC are little different between the two.

We should upgrade to latest pkg and then update these:
https://github.com/knative/pkg/pull/345

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona

[2019-03-27 21:10] vaikas-google commented on #982
We should audit the verbs as well as cluster/namespace access rights for each of the resources.

[2019-03-27 21:11] vaikas-google commented on #982
This is a follow-up issue to #872 where we created explicit ServiceAccounts and Bindings so that we have better control on what is required to run these pieces and what access they have. We should audit and minimize the required access.

[2019-03-27 21:14] #749 closed

[2019-03-27 21:22] vaikas-google commented on #983
TL;DR I don't view the Decision Document as an authoritative spec. The document explicitly states:
 **(including rough YAML definitions; final naming and field definitions subject to change based on implementation experience).**

So, if our implementation experience states otherwise, then that's what we should do.

Regarding the non-empty spec. In the decision it was decided it should be "empty fo

[2019-03-27 22:09] lindydonna commented on #705
/milestone 0.6

[2019-03-27 22:55] #968 closed

[2019-03-27 23:23] #984 closed

[2019-03-27 23:29] grantr commented on #705
/milestone v0.6.0

[2019-03-28 14:07] #894 closed

[2019-03-28 15:10] syedriko commented on #901
I'm wondering if this test can be implemented as an invocation of https://github.com/knative/eventing/pull/976?

[2019-03-28 15:59] Harwayne opened #991 "[BUG] Subscriber.dnsName is misnamed, it is actually a URI"
**Describe the bug**
`Subscription`s and `Trigger`s both have a `spec.subscriber.dnsName` field. It is not a DNS name, it is a full URI. The name of the field is very misleading.

 **Expected behavior**
The name of the field should be `uri`, not `dnsName`.

[2019-03-28 16:44] Harwayne opened #993 "[BUG] Remove the deprecrated subscriber.dnsName"
**Describe the bug**
`subscriber.dnsName` is a deprecated field.

 **Expected behavior**
Remove the field in the release after the field is marked as deprecated (expected to be 0.5.0).

Related to #991.

[2019-03-28 16:56] Harwayne commented on #955
/assign

[2019-03-28 17:00] Harwayne commented on #983
/close

Based on @vaikas-google's feedback, the design is not authoritative, so our implementation does not need to conform to it exactly.

[2019-03-28 17:00] #983 closed

[2019-03-28 17:12] #991 closed

[2019-03-28 21:43] vaikas-google opened #1002 "Revisit the decision for CRD for Channels instead of single CRD with opaque data inside of it."
**Problem**

Background:
https://docs.google.com/document/d/1IiPq5FP74mT4bm8V__dzCI7Dh2n9GCzgib_S3lboJWg/edit#heading=h.leipbgd2g5d5

'
Currently the Channels are implemented using a "provisioner" pattern. This at the highlevel means roughly the following:
1. There's one Channel CRD which contains a single field runtime.rawextension which contains all the configurable options
2. Specific Channel C

[2019-03-28 21:53] pmorie commented on #1002
I'm supportive of avoiding being prescriptive about how people deploy things into Kube and at a gut level feel that the provisioner pattern fits the bill as prescriptive. There are so very many different tools and ways that people use to deploy things into Kube, and selection of that tool or DIY is a very personal decision for many developers. Given that we already have a very decoupled and decent

[2019-03-28 22:38] vaikas-google commented on #1002
Putting this into 0.6 so we can vote on it also

[2019-03-28 23:31] csantanapr commented on #1002
+1 "Operator" all the things

[2019-03-29 00:30] evankanderson commented on #930
Discussing with @lindydonna, it may make sense to actually go all the way in and then figure out what the commonalities are. (i.e. start with a full CEL expression or some equivalent, and then figure out that most customers end up writing "source like X, type is Y, and extracted field Z is present.")

The rationale being that once we have the advanced model, it's easy to implement the common items

[2019-03-29 00:41] grantr commented on #930
:+1: Also consider that CEL may be a similar amount of work to prototype as homegrown simpler filtering. See https://github.com/grantr/cel-playground.

[2019-03-29 10:24] nerusnayleinad opened #1005 "gcppubsubsource won't get deleted"
I made a test yesterday with knative eventing (pubsub), which failed, and now I can't delete gcppubsubsource object from my cluster. It is just stuck there.

I tried forcing it, but nothing. I end up deleting the cluster.

[2019-03-29 17:34] akashrv commented on #1002
Just noting down another perspective that will also help make an informed decision:

Questions is: Will channels be exposed to developers or will they be used by operators only?

One pro of provisioner pattern + default provisioner is that the developer doesn't have to worry about the underlying eventing tech or type of channels. The operator has configured the default one and as a developer I jus

[2019-03-29 18:13] evankanderson commented on #944
/kind cleanup
/remove-kind feature-request

[2019-03-29 19:33] jmulcahyTSC commented on #623
My company would love this as a new feature, given we are trying to adopt kubernetes and knative.

[2019-03-29 21:03] vaikas-google commented on #704
@Harwayne think you might be able to update this for Broker/Trigger model for the Tuesday release?
https://www.knative.dev/docs/eventing/debugging/

[2019-03-29 22:14] n3wscott opened #1009 "Update why patchmerge on channel subscribers"
https://github.com/knative/eventing/pull/981#discussion_r270587240

/assign

[2019-03-29 22:16] n3wscott opened #1010 "[BUG] Update k8s go-client, we are using a super old one."
Please?

[2019-03-29 22:37] #956 closed

[2019-03-30 03:10] n3wscott opened #1011 "[BUG] there is an issue with TTL in the broker"
This code: https://github.com/botless/commands/blob/autotrigger-resp/pkg/commands/commands.go#L77

[code]

no response on fib 8, and I get this error

[code]

but nothing ever sets TTL that i can see in the code.

and then another fun error:

[code]

I think we are holding the request chain open?

[2019-03-30 03:10] n3wscott commented on #1011
/cc @Harwayne

[2019-03-30 03:27] n3wscott commented on #1011
OK root cause is the defaultTTL is 10.

But a response should not count in this way, it should be ingress'ed back to the broker as a new event.

[2019-04-01 15:21] n3wscott opened #1012 "[Cleanup] newK8sService and newVirtualService should be in resources dir for trigger rec"
Clean this up.

[2019-04-01 16:45] n3wscott commented on #1012
/assign

[2019-04-01 17:53] Harwayne commented on #1011
Responses are the _only_ thing that counts. The TTL is protection against infinite loops. For example, a trigger that accepts all events and returns the same event slightly modified (perhaps sets a timestamp in it).

I think the better answer is to make the TTL an optional attribute on the Broker's spec.

[code]

Then users can choose anything from 1 to int MaxInt32.

[2019-04-01 18:15] Harwayne commented on #294
To be clear about this feature request. Which of the following are we trying to do?

1. Be able to run with istio-lean, i.e. run without sidecars on every `Pod`, but still require Istio to be installed.
1. Be able to run without Istio at all.

My reading of the issue thus far is that it wants to be able to remove Istio in its entirety. Is that correct?

[2019-04-01 18:39] grantr commented on #1011
:+1: to making this configurable (though `ttl` is not a clear enough field name IMO). Perhaps a short-term solution would be to change the default ttl to something that looping demos are unlikely to hit, like 1000-10000.

[2019-04-01 19:44] n3wscott commented on #1011
I would expect `TTL` to be a time.Duration.

`MaxCycles` or `ReplyDepth` or something perhaps?

[2019-04-01 20:00] Harwayne commented on #1011
I chose `TTL` as an allusion to [IP packet TTL](https://en.wikipedia.org/wiki/Time_to_live). Although I see that it was renamed to 'hop limit' in IPv6 due to the confusion. `MaxCycles` and `ReplyDepth` both sound reasonable to me.

[2019-04-01 20:05] n3wscott commented on #939
I would like to work on this one, would be happy if anyone wanted to join me as well.

/assign

[2019-04-01 20:20] akashrv commented on #294
It is to remove Istio dependency.
The problems seems to be similar to #918

[2019-04-01 22:58] evankanderson commented on #294
I believe that we are attempting #2, because the only feature we are using is the peer-to-peer mesh (for header rewriting). I think if we could stop rewriting headers, then we wouldn't need to use Ingress either, and could simply use Kubernetes Services.

[2019-04-01 23:12] #955 closed

[2019-04-02 01:37] Abd4llA commented on #916
/assign

[2019-04-02 02:47] Harwayne commented on #939
/assign

I would also like to help. I have some ideas on how to implement "Latency between sending an event into a Broker and receiving that event via a Trigger."

[2019-04-02 10:20] #1012 closed

[2019-04-02 14:40] Abd4llA commented on #904
I would love to work on this if that's fine for everyone?

[2019-04-02 17:45] shashwathi commented on #980
/assign

[2019-04-02 18:35] grantr commented on #1011
Closing this since the TTL was actually working properly, but was too low. #1016 fixed that.

[2019-04-02 18:35] #1011 closed

[2019-04-02 18:41] grantr opened #1018 "Add a field to configure Broker TTL (and possibly rename TTL)"
**Problem**

Brokers currently have a hardcoded TTL of 255. As mentioned in #1011, for some use cases TTL needs to be configurable to allow legitimate looping.

Also from #1011: TTL is a confusing name for this field since it implies the value is a duration, but it's actually a count. Apparently IPv4 has an equivalent TTL field but it was renamed to hop limit in IPv6.

**[Persona:](https://github.

[2019-04-02 20:45] grantr commented on #916
Bumping this to v0.5.1.

/milestone v0.5.1

[2019-04-02 20:46] grantr commented on #704
/milestone v0.5.1

[2019-04-02 20:54] grantr opened #1019 "[BUG] NATSS CCP test can flake on minute boundary"
**Describe the bug**
Got a flake of this test during [the v0.5.0 build](https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-eventing-auto-release/1113170595467497472/):

[code]

 **Expected behavior**
No flakes

 **To Reproduce**
Probably very difficult to repro since the timing must occur across minute boundary. Could add a sleep to force the issue.

 **Knative release version**
v0.

[2019-04-02 21:06] grantr commented on #704
/milestone v0.6.0

[2019-04-02 21:10] akashrv commented on #294
Here is the proposal for this change and I have it working on my local machine. Just need to clean the code and will send a PR.

- [ ]  Extend  duck.Addressable by adding Port and Path to it. [PR](https://github.com/knative/pkg/pull/362)

- [ ] Update Event Sources to start consuming Port and Path along with HostName

- [ ]  Get rid of K8s Service and Istio Virtual Service for Channels and change

[2019-04-02 21:28] #916 closed

[2019-04-03 08:22] abbi-gaurav commented on #1019
I would propose a couple of improvements
* Consider using liveness and readiness probes that ensure the NATSS CCP are actually able to connect and send and receive data from NATSS.
* Currently the NATSS dispatcher has both control plane (subscription lifecycle) and data plane (storing and dispatching events) in a single app. We should probably consider decoupling these two aspects.
@grantr @bbrown

[2019-04-03 12:46] abbi-gaurav opened #1022 "Proposed improvements in NATSS CCP"
I would propose a couple of improvements in NATSS CCP.
* Consider using liveness and readiness probes that ensure the NATSS CCP are actually able to connect and send and receive data from NATSS. This will be helpful to get the provisioner to self-heal.
* Currently the NATSS dispatcher has both control plane (subscription lifecycle) and data plane (storing and dispatching events) in a single app. W

[2019-04-03 17:28] grantr opened #1025 "PR template should have examples of good release notes"
**Problem**
Release note sections are useful for compiling release notes, but few PRs have them. @lberk suggested [on slack](https://knative.slack.com/archives/C9JP909F0/p1554311970099900) that examples of useful release notes in the PR template might help new contributors know how to write them.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit

[2019-04-03 23:20] akashrv commented on #294
Here are my initial thoughts: [Remove Istio dependency in Eventing](https://docs.google.com/document/d/1Yvb8GP_ldtuqaQOimPm8-JjEuxKjXmcqzPvfuJFfIF8)

Please add comments in the doc for better collaboration.

[2019-04-04 00:18] evankanderson commented on #1025
/kind chore
/remove-kind feature-request

[2019-04-04 03:41] n3wscott commented on #939
@Harwayne check out https://github.com/n3wscott/knperf

[2019-04-04 07:26] radufa commented on #1019
I'll have a look into it

[2019-04-04 08:15] dicarlo2 commented on #1022
On your second point, pulling out the event receiver logic into its own app would be fairly straightforward and would allow for horizontal scalability. I was actually planing on taking a stab at that in the next few days.

On the other hand, pulling out the dispatch logic would be nontrivial at best, and I'd rather see that work done inside the common eventing library rather than in the NATSS disp

[2019-04-04 10:12] matzew opened #1027 "[Improvement] share common Kafka code between CCP and Source"
**Describe the bug**
We have a KafkaSource and we have a Kafka channel. Both have code sections that READ/consumes messages from Apache Kafka and routes them to HTTP.

 **Expected behavior**
Ideally the two different component (Kafka CCP and Kafka Source) would share some code (e.g. in knative/pkg repo)

relates to: https://github.com/knative/eventing/issues/944

and should be addressed when https

[2019-04-04 16:31] #1019 closed

[2019-04-04 20:34] bbrowning commented on #1022
At a high level, one of the things we want to evaluate in Eventing is moving from the ClusterChannelProvisioner model to a model like we have for Eventing Sources where every Channel implementation has its own CRD and controller. We separate control plane (controller) from data plane (receive adapter) in Eventing Sources and I think that's generally a good thing to do.

[2019-04-04 21:41] shashwathi commented on #993
/assign

[2019-04-05 00:43] n3wscott commented on #993
Serving has not been deleting keys, we should not delete until v1beta1

[2019-04-05 09:45] abbi-gaurav commented on #1022
@dicarlo2 I agree with you splitting up the event receiver logic.

For the control plane/data plane in subscription controller, I see the following problems at present:
* Not possible to shard and scale event distribution. I have similar sentiments that it can be solved in a generic fashion that is applicable to other CCP (or whatever new concept will come up).
* Apart from scaling, I see the issu

[2019-04-08 06:48] Fredy-Z opened #1034 "[Improvement]Run the e2e test cases in parallel"
**Problem**
Currently the e2e test cases are running sequentially and it's time consuming. It will need an even longer time to finish as the number of test cases increases.

**Exit Criteria**
Running all e2e test cases in parallel, and there is no conflict between the test cases.

[2019-04-08 06:49] Fredy-Z commented on #1034
/assign @Fredy-Z

[2019-04-08 15:10] abbi-gaurav opened #1036 "Channel subscription relationship model can lead to resource exhaustion."
**Description**
In a  typical business scenario, a serverless will be configured to react on a particular business event. e.g. a lambda sending a promotional code on an `item.purchased` event type. In business systems, there can be 100s even 1000s of such event types which could be of interest.

In the existing model, one subscribes to a channel which in domain terms based on the above example wil

[2019-04-08 18:10] Fredy-Z commented on #1018
/cc @Fredy-Z
I'll add new e2e test cases after the change is made.

[2019-04-08 18:11] #940 closed

[2019-04-08 22:28] nachocano commented on #929
/assign

[2019-04-08 22:40] JungukCho opened #1039 "How to run function compositions"
I want to compose multiple functions on KNative.
For example, result of A is input to B whose result is input to C.

Based on my understanding, the eventing enables this on Knative Serving
However, I could not find simple examples to run on my private KNative testbed.
Would you please let me know the steps to run a simple example with two functions?

In addition,  if I want to run K8s (e.g., Guest

[2019-04-08 22:49] nachocano commented on #929
Some design discussion going on in https://github.com/knative/eventing/pull/1015
If people think it might be better a doc instead of a markup, I can start a doc as well.

Need to give credit to @vaikas-google and @grantr for the good ideas in the proposal. Bad ones are all mine :)

[2019-04-08 22:55] nachocano commented on #904
@Abd4llA fine with me!

@grantr , @Harwayne are you guys working on this? I know Grant already did the Broker one, so I guess Triggers are remaining?

[2019-04-08 22:59] nachocano commented on #930
Grant is taking care of this one!

/assign @grantr

[2019-04-08 23:01] grantr commented on #904
I added a couple metrics to the Broker ingress in #937, but the trigger receiver still needs metrics. You're welcome to it @Abd4llA!

/assign @Abd4llA

[2019-04-09 00:03] #980 closed

[2019-04-09 01:03] Fredy-Z opened #1041 "Add e2e test cases for GCP PubSub CCP"
**Problem**
Currently we do not have e2e test cases that cover GCP PubSub CCP.

**Exit Criteria**
1. Test cases for GCP PubSub CCP are added, and can be consistently passed.
2. Test cases for different CCPs should be able to run in parallel, and should not conflict with each other.

/assign @Fredy-Z

[2019-04-09 18:51] whynowy opened #1043 "[BUG] Natss Channel doesn't work with Istio 1.1.x"
**Describe the bug**
After installing Istio 1.1.x in a k8s cluster, both Natss controller and dispatcher in knative-eventing namespace can not connect to natss service.

[code]

 **Expected behavior**
Natss channel works.

 **To Reproduce**
Upgrade Istio to 1.1

 **Knative release version**
V0.5.0

 **Additional context**
No.

[2019-04-09 19:16] abbi-gaurav commented on #1043
We discovered this recently while upgrading Kyma to Istio 1.1. It seems this issue was discovered in the past with Istio. For some unknown reason, NATSS started working with Istio at some 0.x.

Here are some related issues
https://github.com/istio/istio/issues/10832
https://github.com/istio/old_issues_repo/issues/338
https://github.com/nats-io/nats-operator/issues/88

For Kyma there was no other o

[2019-04-09 20:36] whynowy commented on #1043
@abbi-gaurav : Thanks for the information I disabled sidecar injection for natss statefulset and now it's working.

What is the reason we put Natss on the mesh?

[2019-04-09 23:14] n3wscott commented on #1039
The broker supports responses from trigger, that new event can be wired to another function, etc.

But nothing does this magically yet in Knative, we are working on this idea a bit in the background.

[2019-04-09 23:16] n3wscott commented on #1036
Give Broker/Trigger a try. It does what you want.

[2019-04-10 06:33] radufa commented on #1043
A temporary simple solution to secure NATSS is to use "Authenticated Users": https://nats.io/documentation/streaming/nats-streaming-tls/
That means the the client pods (NATSS Controller + Dispatcher) and the NATSS Server pod should use the same "user" based on a shared secret done at the installation time. Of course, for a production ready solution, you have to thing how to rotate the credentials,

[2019-04-10 08:14] dicarlo2 commented on #1022
I thought about the sharding problem a bit more and it's definitely possible to split the control/data planes at the expense of reactivity to changes in the subscriptions in the system. That is, we could have a control plane that launches a set of pods with a sharding configuration for a given set of subscriptions, by launching each pod with a list of subscriptions that it should handle. Then when

[2019-04-10 14:32] nzoueidi commented on #527
I would like to work on this. Any help or hints would be more than appreciated.

[2019-04-13 18:57] abbi-gaurav commented on #1022
Hi @dicarlo2,
In general, I like the approach proposed. Should we also consider the possibility of scaling-in/out the pods to handle the subscriptions?

On a side note, I believe we could definitely start with decoupling the event storage part to a separate stateless app before improving on the subscription handling.

[2019-04-13 20:05] abbi-gaurav opened #1050 "[BUG] Creating a broker creates duplicate backing resources."
**Describe the bug**
On creating a broker, one can see two `channel` resources and related services created.

[code]

 **Expected behavior**
A broker should be mapped to a single channel and related resources.

 **To Reproduce**

1. Install in-memory-channel CCP
1. Install a sample broker
[code]

 **Knative release version**
v0.5.0

 **Additional context**
- env = minikube

[2019-04-14 21:04] n3wscott commented on #1050
/close
The broker uses two channels internally. Working as intended.

[2019-04-14 21:04] #1050 closed

[2019-04-15 16:30] grantr commented on #1050
For posterity: the current implementation of the broker creates one channel for distributing events to trigger subscribers, and one channel for collecting replies from subscribers to feed back into the broker ingress.

See more details at [docs/broker#implementation](https://github.com/knative/eventing/tree/9ad7999b1f35c2ab4a0a9d953ee1ba3aedcc5c55/docs/broker#implementation).

[2019-04-15 19:09] akashrv opened #1053 "[Improvement] Rename fanout sidecar to be specific to in-memory implementation"
**Problem**
Today fan-out sidecar is implemented as a re-usable container. Rename it to be specific to in-memory channel implementation. Refer [to this conversation](https://github.com/knative/eventing/pull/1044/files#r275499611) for more details

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
Developer. This is an Improvement

*

[2019-04-15 20:12] #918 closed

[2019-04-15 20:25] n3wscott commented on #734
/assign

[2019-04-16 17:09] akashrv opened #1059 "[BUG] Kafka /etc/config-provisioner is not watched and auto-loaded in the controller."
**Describe the bug**
Kafka controller reads the the kafka bootstrap_servers or provisionerConfig from kafka-channel-controller-configMap. However it doesn't update the provisionerConfig when the configMap changes.
I deployed kafka provisioner and the provisioner state was not turning Ready. After going through controller logs I found that the bootstrap_servers I mentioned in the configMap was wron

[2019-04-16 18:08] Harwayne commented on #607
/close

As of #1044, `in-memory` no longer uses ConfigMaps. The code has been removed. Similar code in Kafka is being removed in #1058.

[2019-04-16 18:08] #607 closed

[2019-04-17 16:50] Harwayne commented on #1002
/assign

[2019-04-17 17:05] grantr commented on #1002
The default Channel CRD could coexist alongside the individual CRDs. The default channel controller would become the Channel controller and would be responsible for creating an instance of the individual channel CRD that has been selected as the default whenever a Channel is created. It's slightly more complicated than the current default channel controller but not overwhelmingly so.

I'm not asse

[2019-04-17 18:02] #1034 closed

[2019-04-17 20:23] n3wscott commented on #734
_TL;DR_: The benefits of development being in alignment out-weighs all arguments for core Knative Components. Core Knative (build, eventing and serving) will use [pkg/controller](https://github.com/knative/pkg/controller) until releasing v1.0.

The plan  is to compromise. Eventing core aligns with serving and build, eventing sources continues to explore the controller space.

It is a huge benefit

[2019-04-17 21:54] mattmoor opened #1063 "Add user info annotations to Broker / Trigger"
**Problem**
Eventing should decorate key objects with user info annotations like Serving does with Service.

You can see the logic Serving uses [here](https://github.com/knative/serving/blob/c2c8c0fc0021666cb2d1cae28ebafd8066a2b0fc/pkg/apis/serving/v1alpha1/service_defaults.go#L31-L48).

/kind good-first-issue

[2019-04-17 22:10] n3wscott commented on #734
_Tracking of eventing migration work_

## TODO

[ ] - broker
[ ] - channel
[ ] - namespace
[ ] - [subscription](https://github.com/knative/eventing/pull/1057)
[ ] - trigger
[ ] - Wire in Stats in eventing.

[2019-04-17 22:27] Harwayne commented on #787
#1062 added a deprecation condition. That will go out in 0.6.0, so it is safe to remove in 0.7.0.

[2019-04-17 22:27] Harwayne commented on #787
/assign

[2019-04-17 22:28] Harwayne commented on #915
/assign

[2019-04-17 22:29] n3wscott opened #1065 "Remove k8s-dynamic-fake-simple.patch when we upgrade to k8s 1.13 or later."
See: https://github.com/knative/eventing/pull/1057#discussion_r276411475

[2019-04-18 00:08] vaikas-google opened #1067 "Be able to define a simple pipeline"
**Problem**
It would be nice to define a simple pipeline F1->F2->F3 in a user friendly way.
You can do this today manually by specifying the channels and subscriptions. It would be nice to just define a sequence of functions (and likely a ChannelProvisioner) and the Pipeline controller would then create the Channels and Subscriptions for them. This should also be able to be used in a Trigger objec

[2019-04-18 00:12] satansk commented on #1063
I would like to pick it :)

[2019-04-18 00:13] evankanderson commented on #1063
Excellent!

I believe in particular the goal is to have top-level objects like Broker
and Trigger (maybe also Channel and Subscription) annotated with
best-effort "who touched this last" information, which can be handy for
lightweight debugging and audit purposes, even if not a full audit logging
solution.

On Wed, Apr 17, 2019 at 5:12 PM Song Kun <notifications@github.com> wrote:

--
Evan Anderso

[2019-04-18 12:46] lionelvillard commented on #1067
There is a proposal here: https://docs.google.com/document/d/1vG11SMg3rkvcwEyI_jblsYPfzptfzAxJgJGL_eX5Hn0/edit#heading=h.kdgu3otgt0my

[2019-04-18 13:17] scothis commented on #1067
I implemented this concept as a PoC a few months ago. Feel free to use as much (or little) as is helpful. https://github.com/scothis/eventing/blob/sequence/pkg/apis/eventing/v1alpha1/sequence_types.go

[2019-04-18 19:08] akashrv commented on #1067
#1039 sounds similar.

[2019-04-18 20:19] grantr opened #1068 "Rename `testing2` import in subscription tests"
Can we call this import something more descriptive than `testing2`? I suggest `rectesting`

_Originally posted by @grantr in https://github.com/knative/eventing/pull/1057#discussion_r276794842_

/cc @n3wscott

[2019-04-18 21:23] vaikas-google commented on #734
I'll tackle Trigger

[2019-04-19 02:30] #915 closed

[2019-04-19 16:23] abbi-gaurav opened #1070 "NATS CCP is missing liveness and readiness probes"
**Describe the bug**

[NATSS CCP](https://github.com/knative/eventing/blob/master/contrib/natss/config/provisioner.yaml) is composed of two deployments
* natss-controller : acts on the channels lifecycle
* natss-dispatcher : acts on subscription lifecycle and store and dispatch events.

Currently, they are missing the liveness and readiness probes. This can cause problems when the controller or di

[2019-04-19 16:47] nachocano commented on #734
@n3wscott let me grab the Broker one. Can you edit the list and put me in that one?

[2019-04-19 18:38] #1041 closed

[2019-04-19 19:14] akashrv opened #1072 "KafkaConsumers subscribe/unsubscribe can fail and need to be handled in UpdateConfig"
**Describe the bug**
Refer to contrib/kafka/pkg/dispatcher/dispatcher.go, UpdateConfig function.
kafkaConsumers are subscribed and unsubscribed in a for loop, but the error returned is never handled. Error must be handled and returned back so that the reconciler re-tries update.

 **Expected behavior**
If Subscribe or Unsubscribe fails, the error must be handled, logged and returned back so the Up

[2019-04-21 22:40] deissnerk commented on #934
Good point, but isn't it even more important for a source to know what upstream events to subscribe to? The traffic from outside into the cluster is usually the more expensive resource, isn't it?
I suppose you have already an idea how to implement this? Just curious. 😃

[2019-04-22 01:34] Fredy-Z opened #1076 "[BUG]E2E test for GCP PubSub CCP is flaky"
**Describe the bug**
E2E test cases for GCP PubSub CCP fail intermittently. More details can be found in the [testgrid](https://testgrid.knative.dev/knative-eventing#continuous).

 **Expected behavior**
All tests can pass consistently.

 **To Reproduce**
There is no consistent way to reproduce. From the [testgrid](https://testgrid.knative.dev/knative-eventing#continuous), we can see a couple of te

[2019-04-22 04:58] Fredy-Z opened #1077 "[BUG]E2E test for default Broker is flaky"
**Describe the bug**
The E2E test case for testing the default broker, which uses `in-memory` ClusterChannelProvisioner, is flaky. Please refer the detailed log [here](https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-eventing-continuous/1120168060297154560).

 **Expected behavior**
The test case can pass consistently for a fixed version of project.

 **To Reproduce**
There is no f

[2019-04-22 17:46] evankanderson commented on #934
If we are using CEL, we can use [partial evaluation](https://github.com/google/cel-go#partial-state) across a known partition in the upstream (e.g. by event type, by table, etc) once the CEL information is available at the Source. e.g. for the GitHub source, the webhook could register the set of interested events for a repo by attempting to apply the CEL filter against an empty or prototype event

[2019-04-22 17:46] evankanderson commented on #934
Also, until the CEL filters can be propagated upstream to the Broker ingress, they won't be available to be copied to the sources.

[2019-04-22 19:34] n3wscott opened #1080 "[BUG] Namespace Reconciler Bugs found while migrating."
Related to #734, #1069

While moving the namespace reconciler to pkg/controller I found the following bugs:

1. The namespace reconciler does not watch the resources it creates. The controller will not heal if one of those components are deleted.

2. The namespace reconciler does not clean up brokers it had created as a result of a namespace annotation. The resources should be deleted when the lab

[2019-04-22 19:39] n3wscott opened #1081 "[BUG] Subscription Reconciler bugs found while migrating."
Related to #734, #1057

While moving the subscription reconciler to pkg/controller I found the following bugs:

1. Subscription reconciler does not validate the internal data before attempting to reconcile. This results in fetch attempts of a resource named "".

2. Get a badly formatted error "Failed to update Subscription's status: status does not contain address" when reply is not addressable.

[2019-04-22 19:45] n3wscott commented on #734
## Bugs found:

- Subscription: https://github.com/knative/eventing/issues/1081
- Namespace: https://github.com/knative/eventing/issues/1080

[2019-04-22 21:00] grantr opened #1082 "Choose an import ordering convention and write a tool to format imports that way"
From https://github.com/knative/eventing/pull/1078. There are a few different ideas of how to order imports and where the line breaks should be. Let's decide which style makes sense to the most people, then implement a formatter in sockpuppet that can reformat imports automatically.

Examples of conventions that have been proposed:

[code]

[code]

[code]

/good-first-issue

[2019-04-22 21:02] #1068 closed

[2019-04-22 21:41] n3wscott opened #1084 "[BUG] Channel Reconciler bugs found while migrating."
Related to #734, #1083

While moving the channel reconciler to pkg/controller I found the following bugs:

1. No input validation happened. There are many things that are a pointer that can be nil, like the provisioner ref. I fixed that one, but there might be more like that.

2. No input validation on empty ref for provisoner. results in needing to use `WithChannelProvisionerNotFound("", "")`

[2019-04-22 22:16] evankanderson opened #1085 "When the data plane can't reach the apiserver, it silently fails to forward"
**Describe the bug**
In a non-default namespace, the `default-broker-filter` deployment fails to actually load any Trigger data, and instead reports:
[code]
and
[code]

 **Expected behavior**
Broker and Trigger work in a namespace other than the `default` namespace.

 **To Reproduce**
Deploy Broker/Trigger to a non-default namespace and then attempt to deliver via Trigger.

 **Knative release vers

[2019-04-22 22:17] evankanderson commented on #1085
/priority awaiting-more-evidence

We should repro with an e2e test or by hand?

[2019-04-22 22:20] mchmarny commented on #1085
I can use [this](https://github.com/mchmarny/knative-eventing-demos/tree/master/twitter-search-to-firebase) source/trigger/service combo to replicate in `demo` namespace. Will try to validate in `default`

[2019-04-22 22:25] evankanderson commented on #1084
/unkind bug
/kind chore

I think the request here is to do an audit of the Channel Reconciler with an eye to improving the testing?

[2019-04-22 22:25] evankanderson commented on #1084
/nokind bug
/kind cleanup

[2019-04-22 22:26] evankanderson commented on #1084
/remove-kind bug

[2019-04-22 22:38] n3wscott commented on #1085
/cc @nachocano
Nacho is currently rewriting the broker controller.

[2019-04-22 22:43] evankanderson commented on #1082
My $0.02:

1. dot imports are a bad idea, let's not do them.
2. Can we just use `gofmt` and pack things together such that `gofmt` produces only one reasonable choice?

I don't see a particular reason to try to separate out the `github.com/knative/blah` imports further than sorting already provides.

[2019-04-23 17:46] Harwayne commented on #1085
I don't think this is caused by using a Broker in a non-default namespace. The Broker e2e tests have been running in a non-default namespace since their creation.

[TestDefaultBrokerWithManyTriggers](https://github.com/knative/eventing/blob/master/test/e2e/broker_trigger_test.go#L59) runs in a non-default namespace (its name is generated [here](https://github.com/knative/eventing/blob/de0edc16df1b

[2019-04-23 18:47] lindydonna commented on #705
Update: I'm working on this. Am currently working to understand how auth is done in GCP, as that will provide one set of product requirements (though exhaustive, of course).

[2019-04-23 18:58] evankanderson commented on #1085
I think mark indicated that deleting and re-creating the pods got him unstuck.

However, the Broker and Triggers' `status` was `Ready` during this entire incident, despite the fact that the actual filter was unable to talk to the apiserver. I wonder if there is a way that we could detect this and report a failed status when the broker-filter pod(s) are unable to talk to the apiserver.

[2019-04-23 19:29] n3wscott commented on #1082
Agreed, except in tests.

Yes, but also make a block of k8s.io imports for readability.

[2019-04-23 20:08] aslom commented on #680
Is there common problems / troubleshooting docs somewjere for eventing?

Just applied v0.5 following
https://github.com/knative/docs/blob/master/docs/install/Knative-with-any-k8s.md#installing-knative

and got:

[code]

running again worked fine

[code]

[2019-04-23 20:16] evankanderson commented on #1025
/kind cleanup

[2019-04-23 20:39] vaikas-google opened #1093 "Clean up when Tracker when trigger deleted?"
Nifty. Does this need any clean up when trigger is being deleted?

_Originally posted by @Harwayne in https://github.com/knative/eventing/pull/1079_

[2019-04-23 22:26] Fredy-Z commented on #1076
E2E tests for GCP PubSub CCP is disabled for now #1094 .
We will enable it after this issue being resolved.

[2019-04-24 02:39] Fredy-Z commented on #1076
One example:
https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-eventing-continuous/1120319055757053952#teste2e-testmaintestsinglebinaryevent-gcp-pubsub

The sender pod got `500 Internal Server Error` when sending an event.

[2019-04-24 16:31] evankanderson commented on #1085
Renaming this bug; it appears to have been an intermittent network issue,

The larger issue is that _all the objects reported `Ready`_, but no Triggers were actually being routed. Traffic went as follows:

[source] --> [broker-filter] --> [broker-internal-channel] --> [subscription] --> [broker-filter] 🗑

[2019-04-24 17:40] shashwathi commented on #1081
/assign

[2019-04-24 19:49] n3wscott opened #1096 "[Proposal] Eventing Perf Testing"
## Objective

Knative Eventing needs a reproducible way to perform performance testing. We would run these tests after releases and nightly builds to detect performance changes. The set of tests should be something anyone can run that has a kubernetes cluster. Ideally a solution could be used by any Knative project.

Non-goal: perf testing in minikube.

Non-goal: Test Eventing Sources (though not

[2019-04-24 19:49] n3wscott commented on #1096
/kind proposal

[2019-04-25 21:28] akashrv commented on #939
https://github.com/knative/eventing/issues/1096

[2019-04-25 23:30] Fredy-Z commented on #1096
It would be great if we can have a common framework for all the testing (e2e, conformance, perf, stress), but to me there are some other things we need to consider:
1. The current `bash` script is used by `Prow` to set up the test environment. In the script, we use `ko apply -f config/...` to install all the dependencies. This is also the standard way for the user to install a new `provisioner` or

[2019-04-26 15:46] #1081 closed

[2019-04-26 17:33] shashwathi commented on #1080
/assign

[2019-04-26 17:52] syedriko opened #1109 "[BUG] eventing controller and source-controller fall off main() on shutdown signal"
**Describe the bug**
Eventing controller and source-controller fall off main() on shutdown signal giving embedded controllers no chance to shut down cleanly

 **Expected behavior**
On shutdown signal, eventing controller and source-controller shut down the embedded controllers and then return from main()

 **To Reproduce**
Start either controller or source-controller, let initialize, ^C, watch log

[2019-04-26 20:13] vaikas-google commented on #1077
Looks like the type2-source1 is not being found, the other 3 event-types are there.

e2e.go:405: Could not find content "Body-type2-source1" for dumper-testany-testany/logevents. Found "2019/04/22 03:47:02 will listen on :8080\n2019/04/22 03:47:45 Validation: valid\nContext Attributes,\n  specversion: 0.2\n  type: type1\n  source: source1\n  id: 5a5062aa-772f-474c-8886-7c0805df8a2f\n  time: 2019-0

[2019-04-29 18:23] grantr commented on #1085
@Harwayne has been working on making sure `Ready` status is only reported when the data plane is truly ready: #1064 #1071. Those PRs were merged before this bug was reported, but maybe the report was made with an older nightly? :crossed_fingers:

[2019-04-29 21:43] Harwayne commented on #1085
That's not quite accurate. Those PRs don't mark the Broker/Trigger ready until all their pieces are ready, but that is all control plane activity. In particular, if the Pod is healthy and available, even when it can't talk to the API server, then we would still have this problem. An 'easy' fix would be to crash loop the container until it can talk to the API server. A better fix would be to add a

[2019-04-29 21:58] grantr commented on #1085
IIUC this used to be impossible or at least very difficult with mTLS enabled in Istio. According to https://github.com/istio/istio/issues/4429 that's fixed, but unclear whether the fix is released.

@tcnghia can we start using liveness and readiness probes in the data path yet?

[2019-04-30 16:37] sebgoa opened #1125 "ChannelProvisioner should be "multi-tenant""
Taking the GCP pubsub channel provisioner as an example, it is not multi-tenant.

It assumes one GCP project and only one pubsub service account.

We should be able to run multiple GCP pubsub channel provisioners that could point to different GCP project, and we should be able to create those per namespace.

[2019-04-30 18:34] tcnghia commented on #1085
@grantr  In serving we have been using readiness probe in data path for a while now.  @ZhiminXiang is busy with AutoTLS work and hasn't gotten to confirming mTLS (probe rewrite) yet.  May be we will put more investigation in 0.7 milestone after AutoTLS is done.

[2019-04-30 18:54] #1109 closed

[2019-04-30 20:00] Harwayne commented on #1125
This will interact with #1002.

There are a few possible solutions in the existing Provisioner model:

1. Create multiple `ClusterChannelProvisioner`s. Each one corresponds to a single GCP (project, secret). They are all available in all namespaces.
    - This could either have one dispatcher per CCP, or a single dispatcher shared by all.
1. Create a `ChannelProvisioner` CRD. This is similar to `C

[2019-04-30 23:00] Harwayne commented on #1076
With the help of @Fredy-Z, I investigated this and believe I found the root cause. The GCP PubSub Subscription took three seconds to create:

[code]

This was problematic for multiple reasons:
1. This blocked the reconcile queue for three seconds.
1. The `Channel` and `Subscription` objects were both marked as `Ready=true` the entire time.

Problem 1 is likely something we need to be more vigilant

[2019-04-30 23:30] Harwayne commented on #1080
The [old reconciler did](https://github.com/knative/eventing/blob/release-0.5/pkg/reconciler/v1alpha1/namespace/namespace.go#L92-L108d). This was missed during migration. I think #1127 fixed this for the new reconciler.

I don't agree. Deleting all the created resources means _all_ `Broker`s in the namespace stop working, as their `ServiceAccount` and RBAC permissions are deleted out from under th

[2019-04-30 23:36] n3wscott commented on #1080
I think this is WAI if they stop working because the service account that was created for them is removed because the injected accounts and roles are removed. It could be a security risk to let the continue to use that service account. Trust the operator.

I agree, I was asking for a test to confirm that it does not inject on-top of the existing broker. The existing broker should remain untouched.

[2019-05-01 00:33] evankanderson commented on #1080
Can we use OwnerReferences to prevent the deletion of the RBAC and ServiceAccount for additional Brokers? I.e. have the Broker add at least the OwnerReference for ServiceAccount, and possibly also for RoleBindings (though that sounds scarier)?

Testing that we don't take over a pre-existing Broker seems useful. This would even allow the pattern of annotating the namespace and then deliberately rem

[2019-05-01 01:17] n3wscott commented on #1080
We can do that but my opinion is that if something is using the injected account and creds they are doing it wrong. I would expect to be able to disable eventing if I can enable it.

It is a tricky thing, injected pods from istio are not removed, but you can also turn that behavior for future pods. Is there an example of this elsewhere in Kubernetes?

[2019-05-01 01:21] n3wscott commented on #1080
I see both arguments, but using the injected service account is like watching YouTube from iMessage when YouTube is blocked... It works but not by intent.

[2019-05-01 06:40] sebgoa commented on #1125
2. or 3.

[2019-05-01 07:54] matzew opened #1129 "[BUG] webhook service is binding to a priviliged controller"
**Describe the bug**

Under OpenShift which does not allow by default to run pods as user the webcontroller is crashing due of this error message :

[code]
 **Expected behavior**

installs nicely

 **Additional context**

Same as https://github.com/tektoncd/pipeline/issues/719

[2019-05-01 16:13] Harwayne commented on #1002
https://docs.google.com/document/d/1ksWRrVxNDseeyFv0Qr98wNKuLBb4MXKv76t6jRoQpUU/edit documents the trade-offs for provisioners vs. CRDs.

[2019-05-01 16:37] akashrv commented on #1080
The label is "knative-eventing-**injection**:enabled", and not "knative-eventing:enabled."
In that case isn't the current behavior of not to delete anything when the label is removed correct?
And when the label is present, make sure that there is always a default broker. If broker gets deleted, re-create it.

[2019-05-01 17:20] shashwathi commented on #1080
Yes I like this idea. This provides more guarantee for additional brokers in the namespace that SA and rolebinding wont be deleted.

I am not in favor of this design. Removing the annotation or explicitly disabling should undo the action of creating resources. Otherwise user has to manually track the resources created and explicitly delete them.

In ideal case if adding label has effect of creatin

[2019-05-01 17:35] grantr commented on #1080
I don't think we should remove anything when the label is removed, least of all the Broker.

The default injected Broker is not just a kick-the-tires construct; it's intended for use in production deployments as well (I'm predicting that most production deployments will have a single Broker per namespace). Brokers are stateful workloads and may have unrecoverable data and configuration (in Trigger

[2019-05-01 17:42] vaikas opened #1134 "Audit openapi specs for completeness (description, etc.)"
Can we add a "description" to all these fields? Most of the existing ones don't specify them, but we should so that you get a more descriptive message what these fields are. This can be done as a follow on, just jotting it down as I see them.

_Originally posted by @vaikas-google in https://github.com/knative/eventing/pull/1108/files_

[2019-05-01 18:18] Harwayne commented on #1080
Because we annotate all the resources, I think the following command would delete them all. Yes the user needs to manually run the command, but they don't need to keep track of what was created, which will change over time (#1121  adds two more things that will be created).

[code]
---

My hesitation with that is that the user experience is very different if the number of Brokers drops to 0. For e

[2019-05-01 18:22] Harwayne commented on #1080
What security risk do you foresee?

[2019-05-01 21:11] #294 closed

[2019-05-01 21:27] akashrv commented on #1096
Few question that can be resolved orthogonal to the test infra discussion.
- Where will the results be saved? and how to look at the historical tend?
- Could you add some more specifics about the perf test itself?
  - What results will be measured? Is it just E2E event latency or even breakdown of latency as the event moves through the eventing components.
 - What topology (or multiple topologies)

[2019-05-01 23:03] akashrv commented on #1076
I think there is no harm in two reconcilers trying to update conditions in a mutually exclusive manner.
One way could be that the subscription reconciler never calls MarkChannelReady. Instead it sets a new condition - "AddedToChannel" or "SubsrcibedToChannel". And then the channel reconciler will set MarkChannelReady when the backing channel implementation is ready, which will eventually set the R

[2019-05-01 23:05] lionelvillard commented on #1134
I'll look into this

[2019-05-01 23:33] vaikas-google commented on #1134
Here's one example:
https://github.com/vaikas-google/gcs/blob/master/config/gcs.yaml

[2019-05-02 14:19] sebgoa opened #1144 "Delete `knative-sources` namespace when upgrading to 0.6.0"
With the move of CronJob sources to the main eventing controller, folks need to delete the `knative-sources` namespaces when then upgrade from 0.5.x to 0.6.0.

Otherwise we experience creation of multiple CronJob pods.

Deleting the namespace `knative-sources` got us back to a good working state with regards to cronjob sources.

[2019-05-02 14:35] sebgoa commented on #1144
So hold on this.

Looks like the error we saw was caused because `eventing-sources` was on a released version and we  upgraded `eventing` to HEAD.

[2019-05-02 14:39] n3wscott commented on #1144
Yeah, no need to do this if you upgrade both components to `0.6.0`

[2019-05-02 14:39] n3wscott commented on #1144
/close

[2019-05-02 14:39] #1144 closed

[2019-05-02 14:43] sebgoa commented on #1144
sorry for the noise, but I can confirm if you keep eventing and eventing-sources in sync cronjob and the other sources work well.

[2019-05-02 20:23] akashrv commented on #1043
/close

[2019-05-02 20:23] #1043 closed

[2019-05-02 22:58] #1129 closed

[2019-05-03 16:13] n3wscott opened #1151 "Container Source should support Secrets"
**Problem**
I want to give container source a secret. This is solved in Serving by the object being PodSpecable

**Exit Criteria**
I can mount a secret for container source.

**Additional context (optional)**
ContainerSource : https://github.com/knative/eventing/blob/master/pkg/apis/sources/v1alpha1/containersource_types.go

PodSpecable: https://github.com/knative/pkg/blob/6916051a96ae4d87d0e0e557

[2019-05-03 20:22] grantr opened #1153 "[BUG] Receiver can misdeliver events to Trigger with same name as previous Trigger"
**Describe the bug**
Currently the broker receiver identifies triggers [by namespaced name only](https://github.com/knative/eventing/blob/e88640ba0072e2ccc1c05a95c086b8d7f1591d4b/pkg/broker/receiver.go#L121), creating Subscriptions with subscriber URIs that include the trigger namespaced name in the path:

[code]

This works fine until the Trigger is deleted and a new Trigger is created with the s

[2019-05-06 06:49] matzew opened #1156 "[BUG] Remove Kafka Dispatcher Statefulset"
In 0.6.0 the dispatcher was implemented by a `Deployment` and the `StatefulSet` was deprecated and kept in the configuration w/ `replicas: 0`.

In 0.7.0 we need to remove this section from the yaml file

[2019-05-06 06:50] matzew commented on #1156
/assign @matzew

[2019-05-06 16:46] n3wscott opened #1159 "[BUG] trigger/resources.NewSubscription should use kmeta.NewControllerRef"
**Describe the bug**
Use `kmeta.NewControllerRef`.

 **Additional context**
See https://github.com/knative/eventing/blob/da72a315ff8375cb1176c6f1d5fc34c53662ee76/pkg/reconciler/cronjobsource/resources/receive_adapter.go#L50

[2019-05-06 16:49] n3wscott opened #1160 "[BUG] provsioners.newDispatcherService() does not use kmeta.NewControllerRef"
**Describe the bug**
Use `kmeta.NewControllerRef`.

 **Additional context**
See https://github.com/knative/eventing/blob/da72a315ff8375cb1176c6f1d5fc34c53662ee76/pkg/reconciler/cronjobsource/resources/receive_adapter.go#L50

[2019-05-06 17:45] evankanderson commented on #1085
I believe we've also removed the Istio requirement at this point.

[2019-05-06 21:47] akashrv commented on #224
/close

[2019-05-06 21:47] #224 closed

[2019-05-06 23:38] akashrv commented on #1156
/milestone v0.7.0

[2019-05-07 02:19] n3wscott commented on #1134
/reopen

lets do this for all our openapi.

[2019-05-07 02:36] n3wscott opened #1165 "[BUG] Mixed istio cluster causes inmemory channel to no longer work."
**Describe the bug**
Isito has to be on for the entire cluster or off for the entire cluster for inmemory channels to work.

 **Expected behavior**
I can have a cluster with istio in one namespace and no istio in another and eventing still works fine.

 **To Reproduce**
Setup a namespace with istio injected in one namespace, and another without. One namespace will not work depending on how the inm

[2019-05-07 02:37] n3wscott commented on #1159
/good-first-issue

[2019-05-07 02:37] n3wscott commented on #1160
/good-first-issue

[2019-05-07 02:52] n3wscott commented on #1134
/reopen

lets do this for all our openapi.

[2019-05-07 07:43] matzew opened #1166 "[BUG] e2e on minikube failing ?"
running e2e tests on local minikube, I get:

[code]

[2019-05-07 07:44] matzew commented on #1166
@Fredy-Z seen this too ?

[2019-05-07 07:46] matzew commented on #1166
Doing `k get pods -n test-default-broker-with-many-triggers` gives me:

[code]

[2019-05-07 07:48] matzew commented on #1166
I see some `...UpdateStatusFailed` events, when doing `k get events -n test-default-broker-with-many-triggers`

like:
[code]

[2019-05-07 08:10] matzew commented on #1085
related: https://github.com/knative/eventing/issues/1166  ?

[2019-05-07 08:42] matzew commented on #1166
Now,... when I do this:

[code]

I see no issues w/ **THAT** test ...

[2019-05-07 14:53] #1160 closed

[2019-05-07 15:08] #1053 closed

[2019-05-07 16:44] satansk commented on #1159
Hi @n3wscott , I find several other places like

[code]

Do them need to be fixed too?

[2019-05-07 17:15] #1159 closed

[2019-05-07 17:30] n3wscott commented on #1159
Heck yeah!

[2019-05-07 18:16] vaikas-google commented on #777
@Harwayne Did we not change these to be 'generate-name'?

[2019-05-07 18:18] Harwayne commented on #777
Yes, the K8s Services are generateName, which is why they aren't deterministic.

[2019-05-07 18:20] vaikas-google commented on #1002
https://docs.google.com/spreadsheets/d/14uj8A3NzGhHzCbcRbVnLItHhRytct09M9jxRGykrhcw/edit#gid=0

[2019-05-07 18:22] #777 closed

[2019-05-07 18:24] vaikas-google commented on #1165
@akashrv

[2019-05-07 18:27] vaikas-google commented on #1151
Possibly some additional context.
https://github.com/knative/eventing-sources/issues/18
https://github.com/knative/eventing-sources/issues/55

[2019-05-07 19:04] akashrv commented on #1165
/assign @akashrv

[2019-05-07 21:30] grantr commented on #904
@Abd4llA mind if I take a crack at this?

[2019-05-07 21:35] akashrv commented on #1165
I cannot repro this.
- I installed istio from 0.5.2 serving release. And then installed eventing from current master.
- Edited istio policy to always inject sidecar when namespace is annotated (Please note that by default this is not enabled with the istio installation that we have with serving)
- Created two namespaces - one with annotation: sidecar.istio.io/injection:enabled and one without it.

[2019-05-07 21:36] akashrv commented on #1165
/close

[2019-05-07 21:36] #1165 closed

[2019-05-07 23:05] mikehelmick commented on #705
/assign

[2019-05-08 00:06] lindydonna commented on #705
This will slip to 0.7, as this is a complex space. Ideally I'll have a doc early in the milestone.

[2019-05-08 00:07] lindydonna commented on #705
/milestone 0.7

[2019-05-08 00:08] lindydonna commented on #705
/milestone v0.7.0

[2019-05-08 00:15] satansk commented on #1159
So I will fix it later :)

[2019-05-08 01:42] nachocano opened #1182 "Broker Policies"
**Problem**
As a `Cluster Configurator` I need a way to configure different ingress policies in Brokers. E.g., allow any event to enter the mesh, only allow the pre-registered events, etc.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
`Cluster Configurator`

**Exit Criteria**
E2E tests.

**Time Estimate (optional):**
~1-2 weeks (depending on the design discussio

[2019-05-08 01:44] nachocano commented on #1182
[Here](https://github.com/knative/eventing/pull/1121) are some initial ideas that didn't make it into 0.6.

[2019-05-08 01:44] nachocano commented on #1182
/assign

[2019-05-08 15:51] Harwayne opened #1189 "[BUG] Channel and Subscription Readiness"
**Describe the bug**
Creating a `Channel` and adding a new `Subscription` to that Channel leave both the Channel and Subscription `Ready=true`, before events sent to the Channel will be sent to the Subscriber.

 **Expected behavior**
If both the Channel and Subscription are `Ready=true`, then the control plane should expect any event sent to the Channel will be sent to the Subscriber. Data plane r

[2019-05-08 15:53] Harwayne commented on #1189
**Proposed Solution**
After talking with @grantr, we propose the following:

* Channel readiness represents that the Channel is ready to receive events. It makes no guarantees about which subscribers will receive those events.
* Subscription readiness represents that events sent to the Channel will be sent to the subscriber.

But this introduces something odd, the Subscription controller needs to

[2019-05-08 20:27] #1153 closed

[2019-05-09 05:34] akashrv commented on #1010
@n3wscott I noticed you updated client-go version to  "kubernetes-1.12.6". Could this bug be closed?

[2019-05-09 13:09] mtnygard commented on #827
I can confirm this issue still happens with release 0.5.0

[2019-05-09 14:09] akashrv commented on #827
@mtnygard Could you deploy from master and check once? In 0.6 (to be released next week) we have removed this dependency on configmap for fanoutsidecar.

[2019-05-09 14:18] mtnygard commented on #827
@akashrv I can give it a try. I'm pretty new to knative so have just been following the "Install on Azure Kubernetes Service (AKS)" guide from knative.dev docs.

To install from master, do I just replace the  filenames like `https://github.com/knative/serving/releases/download/v0.5.0/serving.yaml` with URLs that point into the master tree? Or do I actually need to clone the repo and run a build?

[2019-05-09 14:22] Abd4llA commented on #904
/assign @grantr

[2019-05-09 16:00] n3wscott opened #1196 "Include sources.eventing.knative.dev in validation webhook."
**Problem**
We do not leverage the eventing validation webhook to check incoming sources.

**Exit Criteria**
ContainerSource, ApiServerSource, and CronJobSource all implement Validatable and are checked on creation.

**Additional context (optional)**
https://github.com/knative/eventing/pull/1175#discussion_r282290030

[2019-05-09 17:35] akashrv commented on #827
You can get the latest nightly build here: https://console.cloud.google.com/storage/browser/knative-nightly
In your case, you could apply the eventing release yaml. Eventing doesn't depend on istio or serving.

[2019-05-09 20:56] nachocano opened #1202 "Revise decision whether to create EventTypes only for Broker sinks"
**Describe the bug**
This came out in code reviews as we are automatically creating EventTypes on Source controllers only if the Sink type is a Broker. Example:

[code]
**Expected behavior**
Figure out if we want this or not. If not, then EventType spec will have to change as we are using a Broker field. It should be Sink instead.

/cc @n3wscott

[2019-05-09 22:18] n3wscott commented on #1189
What should the channel do for events when half their subscribers are ready? Are they ready?

[2019-05-09 22:23] Harwayne commented on #1189
The proposal says yes, the Channel is ready. The Subscriptions that the Channel has not yet said are ready, would not be ready.

This is a horribly mangled version of what the YAML would look like.

[code]

[2019-05-09 22:33] nachocano opened #1205 "Change CloudEvent source attribute in KafkaSource"
**Describe the bug**
As of today, the CloudEvent `source` attribute being set in the KafkaSource is the message topic, which seems insufficient to identify from which cluster it came from.

 **Expected behavior**
I think we also need to add which cluster the topic came from. What if there are two Kafka clusters in my environment that send messages to the the same topic name. How would I be able to

[2019-05-09 22:44] nachocano commented on #1205
I suggest the CloudEvent source to be one of the bootstrap servers (probably the first one, if multiple ones are specified), plus the message topic.

Something like:

`my-cluster-kafka-bootstrap.kafka:9092/my-topic`

As I'm not very familiar with Kafka, I'd like your input @matzew before proceeding with this.
Do you think this is the right approach? Would the consumerGroup be useful to have here a

[2019-05-09 22:44] nachocano commented on #1205
/assign

[2019-05-10 04:28] akashrv commented on #1036
In addition to what Scott mentioned that Broker/Trigger will give you the abstraction that you are looking for, channels have now been updated to not have a istio virtual service and just have a K8s external name service which just does redirection at DNS level rather than forwarding or proxying. So I don't think they can be qualified as heavy anymore.

[2019-05-10 04:30] akashrv commented on #928
I think we can close this as we have moved to pkg/controllers.

[2019-05-10 04:31] akashrv commented on #928
/close

[2019-05-10 04:31] #928 closed

[2019-05-10 09:35] matzew commented on #1205
/assign @matzew

[2019-05-10 17:19] n3wscott opened #1211 "[Proposal] CloudEventsBridge"
While working on the CloudEvents demo, I created the start of something maybe useful. Because the transport is injected into the cloudevents client, you can use it to bridge between two transports with only worrying about setting up the two transports, and then the bridge is the same code. This means the Producer could be AMQP and the Consumer is a HTTP Target.

More interestingly, The producer co

[2019-05-10 18:37] nachocano commented on #1205
/cc @n3wscott it'd be great to have your input on this one as well

[2019-05-10 18:54] matzew commented on #1205
Actually, the `my-cluster-kafka-bootstrap.kafka` is never just one broker - it's a list of borkers that the client (consumer in this case) uses to connect to the cluster.  the actual URL of the node is not really something that relevant here. Messages are on partitioned topics.

What's than more relevant here is the actual `topic` and perhaps it's partition, which is already used in the ID .

`myt

[2019-05-10 19:19] danp commented on #1205
Using `bootstrapServers` here doesn't seem quite right, especially since that's typically a list and it can change as the infrastructure changes.

I can see topic not being enough on its own, such as if you have many independent installs of some software that use the same topic but in their own environments.

Perhaps factoring in the resource name or adding a `sourcePrefix` or similar attribute wo

[2019-05-10 19:34] nachocano commented on #1205
I think partition might be more suitable for CloudEvent `subject` than `source`. I think `source` is fine with topic, but I think we need something extra there to identify the kafka cluster it came from.

[2019-05-10 19:40] nachocano commented on #1205
Hmm, I'm not entirely sure. Can you give me an example? Adding `sourcePrefix` would require to change the KafkaSource spec?

[2019-05-10 19:42] akashrv commented on #897
kind/good-first-issue

[2019-05-10 19:55] evankanderson commented on #1205
Can we use `advertised.host.name` or `rest.advertised.host.name` from the Broker config, if that is available via the client? http://kafka.apache.org/090/documentation.html#brokerconfigs

I don't see an easy way to access it from the client, though.

[2019-05-10 20:01] evankanderson commented on #1205
It may be possible to extract this with the `DescribeConfigs` RPC.

[2019-05-10 20:02] nachocano commented on #1205
@n3wscott suggested something similar to what we did with CronJobSource...

/apis/v1/namespaces/<namespace>/kafkasources/<kafka-source-name>#<topic>

[2019-05-10 20:12] matzew commented on #1205
it’s not optimal ... but ok w/ that. IMO the source name is also not that
important

-1 on host/broker ... seems really odd

On Fri 10. May 2019 at 22:02, Ignacio Cano <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2019-05-10 20:15] nachocano commented on #1205
I think it is pretty important in order to properly filter stuff in Triggers (assuming you are using the Broker/Trigger model).

[2019-05-10 20:23] matzew commented on #1205
ok, but that's more a knative concern - nor really for kafka or the app
consuming the event

On Fri, May 10, 2019 at 10:15 PM Ignacio Cano <notifications@github.com>
wrote:

--
Matthias Wessendorf

github: https://github.com/matzew
twitter: http://twitter.com/mwessendorf

[2019-05-10 21:11] #1002 closed

[2019-05-10 21:14] akashrv commented on #904
Also complete: #948

[2019-05-10 21:20] vaikas-google commented on #909
Make this part of the required documentation overhaul for 0.6 release

[2019-05-10 21:21] akashrv commented on #897
/kind good-first-issue

[2019-05-10 21:24] akashrv commented on #854
/close

[2019-05-10 21:24] #854 closed

[2019-05-10 21:31] vaikas-google opened #1213 "Define a Spec for Channels, control and data plane"
**Problem**
Current Spec needs to be more well defined. We need to define the Control Plane spec (aka, what should the Spec be (Subscribable duck) as well as Status (Addressable, etc.). This needs to be spelled out so that we can then create Conformance Tests for Channels.

We also need to clearly define the dataplane contract (event formats, response codes, etc. etc.).

This becomes super importa

[2019-05-10 21:33] n3wscott commented on #734
/close

[2019-05-10 21:33] #734 closed

[2019-05-10 21:33] n3wscott commented on #734
Chanel migrations will be tracked when we move them to CRDs.

[2019-05-10 21:35] n3wscott commented on #939
/milestone 0.7.0

[2019-05-10 21:46] akashrv opened #1214 "Modify GCP pubsub channel to use CRD"
**Problem**
Refer to decision made in #1002
This feature request is to update GCP Pubsub channel

There re few more improvement to do while making this change:
- [ ] Move to operator
- [ ] #419 rename to correct external brand name
- [ ] #1125 Should we do this for GCP pubsub channel?
-[ ] #854 Improve status to correctly propagate channel health

[2019-05-10 21:49] akashrv opened #1215 "Modify in-memory channel to use CRD"
Refer to decision made in #1002
This feature request is to update in-memory channel

[2019-05-10 21:49] akashrv commented on #1215
/assign @vaikas-google

[2019-05-10 21:51] akashrv opened #1216 "Modify kafka channel to use CRD"
Refer to decision made in #1002
This feature request is to update in-memory channel

[2019-05-10 21:51] akashrv opened #1217 "Modify natss channel to use CRD"
Refer to decision made in #1002
This feature request is to update in-memory channel

[2019-05-10 22:00] akashrv commented on #1070
/kind good-first-issue

[2019-05-10 22:01] akashrv commented on #1189
/unkind bug

[2019-05-10 22:01] akashrv commented on #1189
/remove kind/bug

[2019-05-10 22:01] akashrv commented on #1189
/kind feature-request

[2019-05-10 22:13] akashrv commented on #1189
/remove-kind bug

[2019-05-11 02:50] vaikas-google opened #1218 "Move InMemory channel to CRD + pkg/controller"
**Problem**
As decided in the #1002 move the canonical In Memory Channel to use CRD as well as pkg/controller

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
Once the InMemory channel has been implemented as a CRD vs provisioner.

**Time Estimate (optional):**
3

[2019-05-11 07:21] #1205 closed

[2019-05-13 13:58] alanconway commented on #1211
I am thinking almost exactly the same thoughts over on https://github.com/knative/eventing-sources/issues/343 - the core idea is that an eventing source/emitter can be though of as a pair of cloudevent transports embedded in some controller/adapter logic. The emitting end is normally HTTP  but once you have a pluggable transport abstraction you can combine any pair you like on either side.

The cl

[2019-05-13 14:26] n3wscott commented on #1211
@alanconway Glad we are on the same page! Let me give an idea I have for the SDK: I think it would be interesting to allow the transport to be given a hook to be provided a way to convert a raw transport.Message into a CloudEvents Event if it is not one already.

At the moment the SDK only converts cloudevents.Event -> transport.Message -> sent via transport and back. But perhaps it could also go

[2019-05-13 14:45] n3wscott opened #1224 "[BUG] Subscription controller should mark channels not ready when updating their spec?"
**Describe the bug**
When the subscription controller updates the subscribers on a channel, the channel remains ready.

 **Expected behavior**
The subscription controller should mark the channel as not ready until the channel controller has a chance to reconcile the new subscribers into the channel implementation.

 **To Reproduce**
Use channels and subscriptions.

 **Knative release version**
0.5

[2019-05-13 14:46] n3wscott commented on #1224
This is a bug and an open question. Before work is done we should have a discussion as a group here.

/cc @Harwayne @grantr

[2019-05-13 14:48] n3wscott commented on #1224
Alternate implementation: The channel controller sees the subscriber list change and marks the channel as unready if it understands it will take some time to realize the new subscriber list, or updates and no unready change.

[2019-05-13 15:08] alanconway commented on #1211
@n3wscott here's some stuff I sketched out before - it was done in great ignorance of knative, coming from the AMQP/MQTT angle, and is mostly irrelevant now but has a few ideas that might be worth salvaging. https://github.com/alanconway/lightning/blob/master/README.md
- for non-validating bridges/sources it has a generic version-neutral form of event (just a map[string]interface)
- it allowed str

[2019-05-13 16:15] Harwayne commented on #1224
Isn't this a duplicate of #1189?

[2019-05-13 16:22] n3wscott commented on #1224
yeah it is.
/close

[2019-05-13 16:22] #1224 closed

[2019-05-13 16:33] grantr commented on #830
Does https://github.com/knative/eventing/blob/master/hack/release.md fix this?

[2019-05-13 16:37] evankanderson commented on #1211
I chatted with Scott about this, and it seems like there are two possible software outputs:

1. _Sink_ and _Source_ adapters for bridging events into and out of the cluster.
2. Extensions to the _Addressable_ interface so that (for example) a source could deliver directly to the underlying transport (such as AMQP, Kafka, or PubSub) of a Channel.

For item 1, it's important to be able to specify th

[2019-05-13 16:40] evankanderson commented on #1211
For the second item (extensions to _Addressable_ to support direct delivery to underlying transports), I'll file a separate issue.

[2019-05-13 16:57] n3wscott opened #1225 "Integrate Knative Eventing into metrics Scrapers/Dashboards."
**Problem**
Serving sets up all the metrics scrapers and dashboards. We want the same charts for Eventing. We need a way to extend these.

**Exit Criteria**
I see the metrics from Eventing.

[2019-05-13 16:57] n3wscott commented on #1225
/cc @mdemirhan

[2019-05-13 17:24] evankanderson opened #1226 "Support for transport negotiation"
**Problem**
Today, all Knative events are delivered via HTTP/JSON. It may be more efficient (for example) to support direct delivery from one Kafka topic to another after function transformation.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
This allows Developers to build more efficient systems, which allows Operators to provision fewer resources for the same s

[2019-05-13 18:07] Fredy-Z opened #1227 "[BUG]It seems a Subscription with only "reply" but no "destination" does not make sense"
**Describe the bug**
Based on the logic from https://github.com/knative/eventing/blob/0a97ffcd0a93861a4e8fa2a7be82356530d1fd02/pkg/provisioners/message_dispatcher.go#L93, if a `Subscription` only has `destination` but no `reply`, it will send the message to `destination` and simply swallow the response, which actually has the same effect when the `Subscription` only has `reply` but no `destination

[2019-05-13 18:13] grantr commented on #1227
I think the bug is allowing `reply` without `destination`. We should validate that `destination` is always present, and make `reply` optional. Is that the validation you're proposing to add @Fredy-Z?

[2019-05-13 18:33] evankanderson commented on #1227
Yes, `destination` without `reply` makes perfect sense (and means to ignore any returned data). `reply` without `destination` is nonsensical, as there is no reply to be routed to the next Channel.

[2019-05-13 18:33] Fredy-Z commented on #1227
Or in the opposite, validate that `reply` is always present, and make `destination` optional :)
The current code logic is making me feel that the two settings are essentially doing the same thing.

[2019-05-13 18:46] grantr commented on #1227
Conceptually `destination` and `reply` are different:

- `destination` specifies where to deliver the events coming in from the Channel. This can point to any Addressable.
- `reply` specifies where to deliver the events received from the destination in response to a delivery. In the current interface spec, this must always point to a Channel.

The `reply` field is optional because some use cases d

[2019-05-13 18:54] Fredy-Z commented on #1227
I see, thanks for the explanation!
So it does make sense to add such a validation? Can I go ahead and submit a PR?
Actually according to your reasoning, I have an e2e test case that uses Channel/Subscription in the wrong way - https://github.com/knative/eventing/blob/0a97ffcd0a93861a4e8fa2a7be82356530d1fd02/test/e2e/channel_chain_test.go#L72

[2019-05-13 19:44] evankanderson commented on #1227
Reply is also supposed to only be a Channel, not an arbitrary endpoint.

*From: *Chi Zhang <notifications@github.com>
*Date: *Mon, May 13, 2019 at 11:54 AM
*To: *knative/eventing
*Cc: *Evan Anderson, Comment

I see, thanks for the explanation!

--
Evan Anderson <argent@google.com>

[2019-05-13 20:01] nachocano commented on #929
Done with first iteration of Registry!

[2019-05-13 20:01] #929 closed

[2019-05-13 21:45] grantr commented on #1227
I apologize @Fredy-Z, I was wrong about the spec! It [addresses this explicitly](https://github.com/knative/eventing/blob/51ba5cf9b4272f8e1ac9ff5a98769bada918fcb8/docs/spec/spec.md#spec-3):

| Field                  | Type           | Description                                                                       | Constraints        |
| ---------------------- | -------------- | ----------------

[2019-05-13 21:49] grantr commented on #1227
Those names were chosen in https://github.com/knative/eventing/pull/563. The original names for `subscriber` and `reply` were `call` and `result` respectively.

[2019-05-14 01:54] nachocano commented on #860
This help fixing #929

[2019-05-14 01:54] #860 closed

[2019-05-14 05:01] matzew commented on #1213
/assign @matzew

[2019-05-14 05:58] alanconway commented on #1211
Once you start to think about a multi-transport event mesh, it makes sense to also consider using non-HTTP transports inside kubernetes, and then the idea of "inside" and "outside" kubernetes becomes less important. What you have is a collection of routing elements that can speak multiple transports. In many/most deployments the elements "inside" k8 will use HTTP and there may be some edge element

[2019-05-14 16:55] grantr commented on #930
/milestone v0.7.0

[2019-05-14 20:05] n3wscott commented on #950
This might be done now after the move to `pkg/controller` as it requires this style.

[2019-05-14 20:18] Fredy-Z opened #1233 "[BUG]E2E test for Kafka CCP is flaky"
**Describe the bug**
According to the test history shown on testgrid, most of recent failing e2e tests are using Kafka CCP.

 **Expected behavior**
The e2e tests can consistently pass.

 **To Reproduce**
There is no stable steps to reproduce.

 **Additional context**
It's possibly the same issue that causes the flakiness for GCP PubSub - https://github.com/knative/eventing/issues/1076

[2019-05-14 21:27] nachocano commented on #891
@n3wscott this is done right? can be closed?

[2019-05-14 21:32] n3wscott commented on #891
It is not done. Channels just pass a whitelist of headers.

[2019-05-14 21:34] nachocano commented on #891
Got it, thanks!

[2019-05-14 22:50] #1218 closed

[2019-05-15 06:09] matzew commented on #901
/close

@Fredy-Z did this, see:  https://github.com/knative/eventing/pull/1161

[2019-05-15 06:09] #901 closed

[2019-05-15 08:59] matzew commented on #1022
I'd think that this would be implemented after #1217 is landing ?

[2019-05-15 12:18] sebgoa opened #1237 "Add Secrets to Channel Spec"
**Problem**
Channel spec only offer `Arguments` as `runtime.RawExtension` type to be able to customize them.

A User may want to pass some secret to a provisioner so that the provisioner creates a channel with some private settings.

**Exit Criteria**
Create a Channel that look like this:

[code]

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve?

**Addit

[2019-05-15 12:21] sebgoa commented on #1151
You cannot mount but you can use a secret to set an environment variable.

we do it all the time:

https://github.com/triggermesh/knative-lambda-sources/blob/master/awssqs/sqs-source.yaml

[2019-05-15 12:30] syedriko commented on #901
Yay!

[2019-05-15 13:25] #1156 closed

[2019-05-15 14:00] lionelvillard commented on #1067
I'm going to take a stab at it. I started to gather some requirements listed below. Not a complete list by no mean, and it goes beyond defining simple pipelines.

- being able to orchestrate the flow of function using connectors like sequence, conditional, error handling and iteration.
- being able to connect functions returning non-cloudevent compatible response
- being able to directly connect f

[2019-05-15 15:58] grantr commented on #904
#1177 didn't quite make 0.6.
/milestone v0.7.0

[2019-05-15 17:20] akashrv commented on #704
/milestone v0.7.0

[2019-05-15 17:21] akashrv commented on #939
/milestone v0.7.0

[2019-05-15 17:22] akashrv commented on #1189
/milestone v0.7.0

[2019-05-15 17:23] akashrv commented on #1217
/milestone v0.7.0

[2019-05-15 17:23] akashrv commented on #1216
/milestone v0.7.0

[2019-05-15 17:23] akashrv commented on #1215
/milestone v0.7.0

[2019-05-15 17:23] akashrv commented on #1214
/milestone v0.7.0

[2019-05-15 17:24] akashrv commented on #1213
/milestone v0.7.0

[2019-05-15 17:24] akashrv commented on #1151
/milestone v0.7.0

[2019-05-15 17:25] akashrv commented on #1151
/milestone v0.7.0

[2019-05-15 17:25] akashrv commented on #925
/milestone v0.7.0

[2019-05-15 17:27] akashrv commented on #787
/milestone v0.7.0

[2019-05-15 17:31] akashrv commented on #1096
related to (pre-req) #939

[2019-05-15 17:41] vaikas-google commented on #1067
I'd prefer to start with a simple sequence as described in the proposal.
non-cloudevents seems bad as the entire assumption has been to standardize on cloud events, so it would be odd to wire a pipeline in and get something else out of there.
I think one of the important aspects of this work would be indeed to wire functions in without involving the broker so that the intermediate events are not v

[2019-05-15 18:53] nachocano commented on #1214
@Harwayne do you want me to give it a shot at this one?
Or you were planning on working on this for 0.7?

I'm not entirely sure all the changes it entails but I can start looking.

[2019-05-15 18:56] Harwayne commented on #1214
/assign @nachocano

Go for it!

[2019-05-15 19:16] vaikas-google commented on #1214
This should also move to messaging.knative.dev as part of that work as per.
https://github.com/knative/eventing/blob/master/docs/decisions/eventing-and-messaging.md

[2019-05-15 19:16] vaikas-google commented on #1215
This should also move to messaging.knative.dev as part of that work as per.
https://github.com/knative/eventing/blob/master/docs/decisions/eventing-and-messaging.md

[2019-05-15 19:16] vaikas-google commented on #1216
This should also move to messaging.knative.dev as part of that work as per.
https://github.com/knative/eventing/blob/master/docs/decisions/eventing-and-messaging.md

[2019-05-15 19:16] vaikas-google commented on #1217
This should also move to messaging.knative.dev as part of that work as per.
https://github.com/knative/eventing/blob/master/docs/decisions/eventing-and-messaging.md

[2019-05-15 19:48] nachocano commented on #1214
Sounds good! Will do

On Wed, May 15, 2019 at 12:16 PM Ville Aikas <notifications@github.com>
wrote:

[2019-05-15 19:55] lionelvillard commented on #1067
@vaikas-google yes we should start simple. I agree that wiring functions directly is important for various reasons. I also think there should be an option to use a broker to persist intermediate state.

I didn't go very far, so please share what you have so far, thx.

[2019-05-15 20:38] vaikas-google commented on #1067
https://github.com/knative/eventing/pull/1239

[2019-05-15 20:43] nachocano commented on #1214
@Harwayne @vaikas-google @evankanderson
I'm starting to look at this, and there is [this old proposal](https://github.com/knative/eventing/issues/419 ) of also renaming gcppubsub to google-cloud-pubsub or maybe cloud-pubsub. I don't think the latter one is appropriate though. But if we are planning on renaming, this might be the right time.
Would you guys be OK to rename it to google-cloud-pubsub?

[2019-05-15 21:26] #1063 closed

[2019-05-15 23:09] nachocano opened #1240 "Decide backwards compatibility requirements for Channels CRD changes"
**Problem**
As we are moving away from the channel provisioner model towards the operator one, there is a need to decide what is the backwards compatibility we want to maintain for the provisioner-based channels, if any.

**Exit Criteria**
Decision on how to address backwards compatibility for moving the channels to CRDs.

**Time Estimate (optional):**
1-2 days.

**Additional context (optional)**

[2019-05-15 23:09] nachocano commented on #1240
/assign

[2019-05-15 23:19] nachocano commented on #1240
AFAIK the InMemory channel changes introduced a new CRD, but didn't touch the existing provisioner-based one . Therefore, the two can co-exist, there will be two controllers. I'm not entirely sure if the idea is to mark the provisioner model as deprecated in 0.7, and remove it in 0.8? Or just get rid of it in 0.7.

A similar decision needs to be made for the other Channels. I'm starting to work on

[2019-05-15 23:21] nachocano commented on #1240
/cc @vaikas-google @Harwayne @grantr @evankanderson
Need your input on this. The sooner we can agree on this, the better, so that we can use the same approach in all of the other channels.

[2019-05-15 23:28] nachocano commented on #1214
I actually think it would be a good idea to do the renaming. This will make it easier for backwards compatibility with the other provisioner-based one. We mark gcppubsub as deprecated in 0.7, and remove it entirely in 0.8.

[2019-05-15 23:46] Harwayne commented on #1240
If we intend to run both CRDs and Provisioners in parallel for a long time, then I would want to use a single controller. If we plan to remove the Provisioners quickly, then I am fine having them be completely distinct controllers.

A possible hybrid is to use new CRD controllers, then alter the provisioner controllers to proxy CRD<->Channel with Provisioner. That way the behavior is identical, ev

[2019-05-15 23:55] nachocano commented on #1240
Another unrelated but relevant question is whether we should be using controller-runtime for Channel controllers. All but the new InMemory CRD one use controller-runtime. IIRC all but the InMemory one were going to be moved to eventing-contrib (once eventing-sources is renamed). In the current eventing-sources we are still using controller-runtime.

[2019-05-16 00:00] nachocano commented on #1240
I think that is the plan, but I'm not sure. I'll vote for this option....
Also, if we have two completely distinct controllers, we can start writing them with the serving infra we introduced in 0.6 to unify the controllers (not controller-runtime)... But I guess that will depend on whether we are planning on moving eventing-sources to that infra, as it seems that sources and channels will end up l

[2019-05-16 00:04] akashrv commented on #1240
My two cents:
If we are moving to a newer model, then we should deprecate the older one asap esp. because we have the liberty to do so in alpha. Keeping both running side-by-side just increases the tax to support both - Deprecate provisioners in 0.7, remove provisioners n 0.8.
Moreover, are there production customers that we will break and is it worth all the extra work/effort?
If it is about buil

[2019-05-16 00:08] nachocano commented on #1240
+1

I don't think so. IMO is not worth the extra effort, but I might be wrong.

[2019-05-16 00:33] vaikas-google commented on #1214
I think google-cloud-pubsub or google-pubsub would be good. cloud-pubsub seems not clear enough.

[2019-05-16 03:05] akashrv commented on #1214
google-cloud-pubsub aligns with the brand name.

On Wed, May 15, 2019 at 5:33 PM Ville Aikas <notifications@github.com>
wrote:

--
Regards,
Akash

[2019-05-16 03:20] nachocano commented on #1214
Cool! I already started the code with that one. google-cloud-pubsub it is!

On Wed, May 15, 2019 at 8:05 PM Akash Verenkar <notifications@github.com>
wrote:

[2019-05-16 16:44] vaikas-google commented on #1240
My preference is to create a new separate controller and we can keep the existing ones as they are. This is what I did with the in-memory one also.

[2019-05-16 17:09] nachocano commented on #1240
Upon some offline discussions, we agreed that we will have the two controllers coexist, and mark the provisioner-based one deprecated in 0.7. They will be removed in 0.8 and we will just keep the operator-based ones.

Also, the new channel controllers should use knative/pkg controller infra instead of controller-runtime.

[2019-05-16 17:09] #1240 closed

[2019-05-16 19:30] Harwayne commented on #1237
/close

With the decision in #1002 (deprecating `Channel` in favor of individual CRDs), I think this will become a feature of individual CRDs, based on their needs for secrets.

[2019-05-16 19:30] #1237 closed

[2019-05-16 20:02] n3wscott commented on #939
/unassign

[2019-05-16 20:58] nachocano commented on #1214
Stopping this as @n3wscott wants to drive it outside our knative-eventing repo. Go for it!

[2019-05-16 20:58] nachocano commented on #1214
/assign @n3wscott

[2019-05-16 20:59] nachocano commented on #1214
/unassign @nachocano

[2019-05-17 10:08] #787 closed

[2019-05-17 19:57] Harwayne opened #1250 "Fixed names rather than Generate Name"
**Problem**
Numerous resources are created with GenerateName. If the listers are stale, this can cause the resources to be created multiple times, as an existing resource is not found. We should use predetermined, fixed names, rather than GenerateName, so that we will get 409, rather than duplication when the lister is stale.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/perso

[2019-05-17 21:08] ian-mi commented on #1250
I saw this issue with the hello world sample after performing an upgrade to 0.6. Here one can see many redundant subscriptions for the two sample triggers:

$ kubectl get triggers -n kn-eventing-sample
NAME                 READY   REASON   BROKER    SUBSCRIBER_URI                                                    AGE
event-display-dev    True             default   http://event-display-dev.kn-even

[2019-05-17 22:57] aliok opened #1251 "Duck type user info annotation logic"
**Problem**
Recently user info annotations are added to the Knative eventing resources with https://github.com/knative/eventing/pull/1111 (thanks @satansk).

As noted in [this comment](https://github.com/knative/eventing/pull/1111/files/e5d95085e97a3be667b92cd02ad499f666d72a7a#diff-c84cdbf5b7cb84f7edf8e4e86f75d139) we can get rid of some duplicate code using duck typing.

 **Additional context**
T

[2019-05-17 22:58] aliok commented on #1251
@satansk please let me know if you're interested in this (as you're the author of the original PR) or I would also be interested in this as it is a good first task.

[2019-05-17 23:24] evankanderson commented on #1039
Take a look at #1239 to see if it meets your needs

[2019-05-18 05:10] satansk commented on #1251
Hi @aliok , just go ahead!

And I think both eventing and serving will need this duck type.

[2019-05-18 21:46] aliok commented on #1251
ok, taking this one then.

[2019-05-20 04:43] nachocano commented on #1216
@matzew are you planning on working on this one? If not, let me know and I can start with a first pass...

[2019-05-20 12:27] matzew commented on #1216
@nachocano I think that the next weeks I am good busy with this task:
https://github.com/knative/eventing/issues/1213

Would you mind, starting? I am happy to help/review. when you port this to a `KafkaChannel` CRD

[2019-05-20 14:38] nachocano commented on #1216
Sounds good! Will start with this one then! Thanks!

On Mon, May 20, 2019 at 5:27 AM Matthias Wessendorf <
notifications@github.com> wrote:

[2019-05-20 17:03] nachocano commented on #1216
/assign

[2019-05-21 23:20] nachocano commented on #1216
This change seems bigger than I initially thought. Here are some of the items we need to get it done

- [ ] Create new `KafkaChannel` CRD, with types, validation, defaults, etc. **[nacho, WIP]**
- [ ] Create new Kafka controller using pkg/controller. **[nacho, WIP]**
- [ ] Subscription controller needs to  update subscriber list on XChannel (e.g., InMemoryChannel, KafkaChannel, GcpPubSubChannel, e

[2019-05-22 15:00] matzew opened #1260 "[BUG] rename webhook"
**Background:**

In knative-build, it's actually named `build-webhook`:  https://github.com/knative/build/blob/master/config/webhook.yaml#L18

But on both others, eventing and serving, it's just `webhook` ...
• https://github.com/knative/serving/blob/master/config/webhook.yaml#L18
• https://github.com/knative/eventing/blob/master/config/500-webhook.yaml#L18

**Problem:**

Now, when (for what ever

[2019-05-22 17:51] evankanderson commented on #1260
+1

/kind cleanup

[2019-05-22 18:19] matzew commented on #1260
/assign @matzew

[2019-05-22 18:23] lionelvillard opened #1262 "Allows APIServerSource to watch for objects controlled by a given kind of object"
**Problem**
The API Server event source does not provide a way to watch for resources controlled by a given resource kind.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
Event producer

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.
Create three objects A, B ,C of kind K1, K2

[2019-05-22 18:24] lionelvillard commented on #1262
/assign @lionelvillard

[2019-05-22 20:27] akashrv commented on #1189
/assign @akashrv

[2019-05-22 23:28] Harwayne commented on #939
/unassign

I don't have the bandwidth to look at this now.

[2019-05-22 23:31] Harwayne commented on #1216
I think #1149 actually did this already. Namely it added code to track arbitrary CRDs and already passes the Channel as an ObjectReference to track.

[2019-05-23 07:42] matzew commented on #1260
We could do a "old named" deployemnt w/ `replicas:0` and a renamed w/ `1` ?   and in 0.8.0 we remove the "old" name ?

[2019-05-24 05:33] chizhg opened #1267 "Define Subscriber as a duck type"
**Problem**
As a [comment](https://github.com/knative/eventing/pull/1254#discussion_r287054077) from Evan, since both `Subscription` and `Trigger` have `SubscriberSpec` in their spec, it would be nice if we define it as a duck-type.

**Exit Criteria**
Change `SubscriberSpec` to a duck type that is shared by `Subscription` and `Trigger`.

[2019-05-24 08:11] whynowy opened #1268 "[BUG] NATSS Dispatcher doesn't work for existing channel/sub after reconnection"
**Describe the bug**
NATSS dispatcher can reconnect if the connection is lost for some reason, however after reconnection, it doesn't dispatch messages for existing chan/sub. New created chan/sub works.

 **Expected behavior**
It should work for existing chan/sub

 **To Reproduce**
1. Create a NATSS chan, a service and a subscription, use "* * * * *" cronjobsource for testing;
2. Kill all NATSS PO

[2019-05-24 12:33] csantanapr opened #1272 "Add imagePullPolicy to ContainerSourceSpec API"
**Problem**
I hit this today on the ✈️ while writing some container source examples (nodejs), I wanted to set the ImagePullPolicy to `Never` and the spec doesn't allow it.
I think ImagePullPolicy is one of the basic ContainerSpec in K8s that should be allowed.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
[System Integrator](https://github.com/knative/eventing/b

[2019-05-24 19:53] Fredy-Z opened #1273 "Add E2E test case to test Broker and Channel together"
**Problem**
We need one E2E test case to test Broker and Channel together.

**Exit Criteria**
The E2E test case is added. It uses both Broker and Channel to build the topology. And it verifies the destinations receive correct events and there is no leakage.

/assign @Fredy-Z

[2019-05-24 20:34] chizhg opened #1274 "Add E2E test case to test Provisioner/Channel's persistence feature"
**Problem**
A couple of Provisioner/Channel implementations support persistence, like `GCP PubSub`. We need E2E test case to verify this feature.

**Exit Criteria**
An E2E test case is added to verify the persistence feature for channels that support it.

[2019-05-24 20:36] Fredy-Z opened #1275 "Add E2E test case to test Provisioner/Channel's redelivery feature"
**Problem**
A couple of Provisioner/Channel implementations support redelivery, like `GCP PubSub`. We need E2E test case to verify this feature.

**Exit Criteria**
An E2E test case is added to verify the redelivery feature for channels that support it.

[2019-05-25 16:21] sebgoa commented on #1214
I am looking forward to see this. This should be "multi-tenant" in the sense that a user with no privilege in `knative-*` namespaces should be able to use this CRD in his/her own namespace using a private service account key and project.

[2019-05-25 16:24] sebgoa commented on #1272
See: https://github.com/knative/eventing-sources/issues/55

I would close this issue and move the discussion to 55

[2019-05-25 16:49] csantanapr commented on #1272
Thanks @sebgoa I didn’t see #55 pod spec is much better

[2019-05-28 20:57] nachocano commented on #925
/assign

[2019-05-28 23:07] mikehelmick commented on #705
Here is a proposal for security principles to follow. This serves as a basis for a design and also provides a high level design sketch. If these principles seem acceptable, I will follow with a detailed design and we'll begin implementation tasks.

# Security Principles

## Boundaries

The first thing to look at is the various places where data needs to cross security boundaries. From here, we can

[2019-05-28 23:24] lindydonna commented on #705
Note: Mike's proposal uses the term "importer" to refer to what is currently called "Event Source." We found that the term "importer" caused much less confusion than "source."

[2019-05-28 23:33] evankanderson commented on #705
Workload identity reference docs:

https://static.sched.com/hosted_files/kccna18/91/submitted.pdf
https://thenewstack.io/no-more-forever-tokens-changes-in-identity-management-for-kubernetes/
https://github.com/Azure/aad-pod-identity

[2019-05-28 23:42] evankanderson commented on #705
I think Mike assumed one item that isn't clear here -- **standardizing on OpenID / JWTs** with `sub` and `aud` claims (and targets verifying the `aud` claims).

Rationale for preferring JWTs over something like x509 certs:
1. JWTs are well-understood and widely supported ([>80 libraries and >15 languages at jwt.io](https://jwt.io/))
2. JWTs are more easily supported by Kubernetes (using x509 certs

[2019-05-29 05:00] mikehelmick commented on #705
Thanks @evankanderson

Those comments veer into the detailed design bit. To enable the point-to-point auth, we are proposing to use the workload identity/service account and JWTs. In addition to the `sub` and `aud` claims, receivers will need a configuration back to the issuer (`iss`) to verify the token.

It is easy to map cluster generated tokens that are automatically refreshed at half their ex

[2019-05-29 08:04] richard2006 opened #1285 "[BUG]Failed to list v1alpha1.EventType errors"
**Describe the bug**
When getting start with Eventing 0.6.0, I found the `Failed to list *v1alpha1.EventType` errors in eventing-controller logs. And then cause all the informers will not be started in eventing-controller.

 **Expected behavior**
Should not have the `Failed to list *v1alpha1.EventType` errors.  I think the `EventType` crd  of release.yaml maybe not be installed.  And it should add

[2019-05-29 17:28] #1273 closed

[2019-05-29 18:51] jingweno commented on #1151
I'm interested in taking a stab on this. I'm thinking of changing `ContainerSourceSpec` to contain `Template corev1.PodTemplateSpec` and `Sink *corev1.ObjectReference`. Can I confirm that’s what we want to move forward?

[code]

[2019-05-29 19:25] #1260 closed

[2019-05-29 20:26] alanconway commented on #705
Are all connections in the diagram are TLS encrypted to avoid snooping and MITM attacks? Perhaps that should be explicitly stated.

[2019-05-29 21:29] evankanderson commented on #705
Would requiring a CNI implementation with encryption support be acceptable for on-cluster networking?

For off-cluster networking, TLS encryption (or equivalent, e.g. IPSec) would seem to be required.

[2019-05-29 21:44] Harwayne opened #1291 "Use envconfig"
**Problem**
We use a handful of different functions to extract environment variables. We should standardize on one, [envconfig](https://github.com/kelseyhightower/envconfig).

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
All environment variables read are read exclusively via envconfig.

**Time Estimate (optional):**
How many devel

[2019-05-29 21:45] Harwayne commented on #1291
/kind good-first-issue

[2019-05-29 22:26] nachocano commented on #1285
@richard2006 can you apply again the yaml with `kubectl apply --filename https://github.com/knative/eventing/releases/download/v0.6.0/release.yaml`. I think it should work.
By not having the `knative.dev/crd-install` label, a race condition can occur, and then the controller starts before the CRD is applied.
Thanks for catching this. Do you want to go ahead and fix it? Or do you prefer me to do it

[2019-05-29 22:27] vaikas-google opened #1292 "Create "Channelable" Duck Type"
**Problem**
We do not have a Duck type that represents a Channel, so you have to deal with Subscribable and Addressable. When dealing with Channel CRD you should just be able to deal with Channelable (Unless you're actually reifing one)

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
System Integrator

**Exit Criteria**
When our reconcilers can use Channelable Duc

[2019-05-29 22:32] nachocano commented on #1292
/assign

[2019-05-29 22:33] nachocano commented on #1285
/kind good-first-issue

[2019-05-30 02:04] richard2006 commented on #1285
Yeah, I'd like to fix it. I have tried to find how to edit the `https://github.com/knative/eventing/releases/download/v0.6.0/release.yaml`.  But I didn't find it .  Can you direct me where I can edit the release.yaml and eventing.yaml ?  thanks.

[2019-05-30 02:33] nachocano commented on #1285
@richard2006 you won't be able to change the release.yaml.

The way to do the fix is to fork the repo, update config/300-eventtype.yaml in your fork, and then create a pull request. Once merged to master, the fix will then be available in the next release.
You can checkout [this development guide](https://github.com/knative/eventing/blob/master/DEVELOPMENT.md) for how to create the fork, and setup

[2019-05-30 03:11] richard2006 commented on #1285
@nachocano thanks. I have created a pull request.

[2019-05-30 13:15] lionelvillard commented on #1292
I currently see `Channelable` as some sort of base type for channel. In particular I would except `ChannelSpec` to be specialized, eg. a "brancher" channel would take a set of two subscriptions. Does this make sense?

[2019-05-30 16:22] #1285 closed

[2019-05-30 17:23] nachocano commented on #925
@Harwayne can you close this one? It seems I cannot as I didn't create it?
This was fixed in https://github.com/knative/eventing/pull/1283

[2019-05-30 18:57] alanconway commented on #705
Not sure, I don't know how an encrypted CNI would work in terms of controlling keys, certs etc.

TLS provides privacy and authentication, under the strict control of each endpoint - the connected entities establish trust and private comms with each other and don't have to trust anyone else. I guess Tokens would fill the authentication need, and a encrypted CNI could provide privacy, but now everyb

[2019-05-30 19:48] evankanderson commented on #705
An encrypted CNI establishes network encryption between Kubernetes Nodes (which are all assumed to be on a flat-topology (directly reachable by IP) network. The key distribution and encryption is handled by the cluster operator rather than by the individual components. This is often done using IPSec, but there are various IP encapsulation strategies available.

The connected entities need some mec

[2019-05-30 20:14] nachocano commented on #1189
@akashrv [this PR](https://github.com/knative/eventing/pull/1301) will help out with this... There is a new Channelable duck type which has the status fields in this proposed solution.

[2019-05-30 21:06] lionelvillard commented on #930
Have you guys thought about providing the same capability to `Subscription`? @nachocano @grantr @evankanderson

[2019-05-30 21:12] grantr commented on #930
@lionelvillard yep, that's come up before. At the time it was argued that adding filtering to the Subscription interface is a burden for channel authors because the dispatcher is more complex to implement. From a user perspective, a world in which each channel implements filters slightly differently makes channels less interchangeable than they are today.

[2019-05-30 21:38] nachocano commented on #1292
The idea of this new type is that if Channels implement Channelable (which they should), then they will conform to the Addressable and Subscribable contracts. If you look at the [Subscribable](https://github.com/knative/eventing/blob/2213e00268f2ff7605ef1e485c6ef1a6413931bd/pkg/apis/duck/v1alpha1/subscribable_types.go#L30) duck type, it means that you can set a list of subscribers in the Channel s

[2019-05-30 21:42] nachocano commented on #1292
@vaikas-google I think this can be closed as we already merged Channelable. Reconcilers can now start using this new type,  as stated in the exit criteria. I cannot close it myself as I didn't open it, so if you agree, please do so! Thanks!

[2019-05-30 22:57] #1291 closed

[2019-05-30 23:08] nachocano opened #1307 "EventType CRD should include an openAPIV3Schema"
**Describe the bug**
`config/300-eventtype.yaml` does not have an openAPIV3Schema validation schema as the other CRDs (e.g., `300-subscription.yaml`, `300-trigger.yaml`, etc.)

 **Expected behavior**
Include an openAPIV3Schema to the EventType CRD

 **Additional context**
Look at the [eventtype_types.go](https://github.com/knative/eventing/blob/cf52ba8c3251edca008880974dc7d1e18ea8bf6c/pkg/apis/eve

[2019-05-30 23:09] nachocano commented on #1307
/kind good-first-issue

[2019-05-30 23:23] xliuxu commented on #1307
I would like to pick up this.

[2019-05-30 23:27] nachocano commented on #1307
Great!
/assign xliuxu

[2019-05-31 14:00] lionelvillard opened #1310 "Add content-based event filtering"
**Problem**
Event subscribers want to receive only events they are interested in. They don't want to be overloaded with unwanted events. They also don't know what to do when they don't want an event (return an error?)

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event consumer

**Exit Criteria**
An event subscriber does not receive events when their content mat

[2019-05-31 14:53] alanconway commented on #705
@evankanderson I think that makes sense. It is worthwhile spelling out the trust requirements.
1. containers can't snoop on each others connections
2. intruders with unauthorized network access can't snoop on connections
3. trust: the cloud provider can snoop on or modify anything

My default threat  model is "if I don't understand it, it's probably not safe :)"
Thanks for taking the time to expla

[2019-05-31 15:16] #1292 closed

[2019-05-31 15:41] mikehelmick commented on #785
/assign

[2019-05-31 15:43] mikehelmick commented on #785
Corrected link for working groups specification.

https://github.com/knative/community/blob/master/WORKING-GROUPS.md

[2019-05-31 16:27] Harwayne commented on #1310
Can you give a few examples of the kind of filtering you are interested in?

[2019-05-31 16:54] lionelvillard commented on #1310
Here some examples using JsonPath + comparison operators:
[code]

[2019-05-31 17:02] Harwayne commented on #1310
To be sure I understand, these are checks against the data attribute of the Cloud Event, which we (implicitly?) assume is JSON. Is taht correct?

[2019-05-31 17:10] #1307 closed

[2019-05-31 17:19] lionelvillard commented on #1310
That's correct. JsonPath could be used when the data is JSON. Somewhere we will have to specify want kind of data the event subscriber is expected. Maybe there should be one `Filter` per content type (`JsonFilter`, `XmlFilter`, ...)

[2019-05-31 17:50] evankanderson commented on #705
No problem -- it helps to know what you're trying to defend against.

I think we have three or four different profiles of operators:

1. **Public Cloud Providers.**
   We want to build something which can be shipped by cloud providers and work, but most cloud providers will go over everything and add their own integrations with the rest of their cloud products.

   Most public cloud providers will

[2019-05-31 21:12] nachocano opened #1317 "Add E2E test to Kafka Channel CRD"
Problem
A new [`KafkaChannel` CRD](https://github.com/knative/eventing/blob/master/contrib/kafka/config/300-kafka-channel.yaml) is available. We need an E2E test case to properly verify this feature.

Exit Criteria
An E2E test case is added to verify the `KafkaChannel` CRD.

[2019-05-31 21:12] nachocano commented on #1317
as an FYI to have it on the radar
@Fredy-Z

[2019-05-31 23:04] nachocano commented on #1217
grabbing this one as nobody has
/assign

[2019-06-01 10:27] srvaroa commented on #1310
We maintain an event bus that collects events from multiple systems (e.g. GitHub, Travis, Spinnaker, Kubernetes, and a few others). A number of tools (mostly for automation, and analytics) listen on these events, filter for a particular type, and act on them. A typical case are GitHub bots, which is a good use case for this feature.

In our infra, a bot would be listening GitHub stream, but is int

[2019-06-01 19:05] Fredy-Z opened #1318 "Add E2E test for tracing"
**Problem**
Tracing will be supported in all eventing components, we need E2E test cases to verify the behavior and ensure it will not be broken.

**Exit Criteria**
E2E test cases are added and can consistently pass.

[2019-06-03 11:21] matzew opened #1322 "[BUG] remove old webhook confg"
In 0.7.0 we did rename the webhook, to be `eventing-webhook`, see:

For 0.8.0 the `replicas: 0` Deployment needs to be removed, including a release note...

/milestone v0.8.0
/assign @matzew

[2019-06-03 13:33] lionelvillard commented on #1310
@srvaroa thanks for sharing this use case. Very interesting!

AFAIK, jq is much more expressive compare to JsonPath. Do you have filtering expressions that can't be expressed in JsonPath?

In any case, we want to be flexible in the language used to filter events, either to support different content-type (eg XPath for XML) or various levels of filtering complexity and/or expertise (eg. jq vs jsonpa

[2019-06-03 16:31] nachocano opened #1325 "Webhooks for Channels"
**Problem**
With the move to channel CRDs, we will need to start creating webhooks for the different channel implementations, e.g., kafka, natss, etc. This comes with the burden of having many images laying around, which we have to maintain and cost money (as they typically use k8s Deployments).

A potential solution would be to have a Knative Service for these, so that they would scale to 0 and w

[2019-06-03 16:45] grantr commented on #1325
It might make more sense to run the webhook in the same pod as the controller. I think we separate them now for RBAC purposes, but if we could find a solution it could reduce the number of pods for all Knative projects, not just Channel CRDs.

[2019-06-03 16:55] Harwayne opened #1326 "[BUG] Source Controller Service Account"
**Describe the bug**
The [Eventing Source Controller](https://github.com/knative/eventing/blob/master/config/500-sources-controller.yaml) uses the same ServiceAccount, `eventing-controller`, as the core [Eventing Controller](https://github.com/knative/eventing/blob/master/config/500-controller.yaml). According to Eventing's [Service Account docs](https://github.com/knative/eventing/blob/master/doc

[2019-06-03 17:33] #1216 closed

[2019-06-03 18:50] nachocano commented on #925
/close
this was fixed in #1283

[2019-06-03 18:50] #925 closed

[2019-06-03 19:39] wlynch commented on #930
Hi! Just want to chime in here after talking to @vaikas-google at Kubecon.

I suspect that we might want to extend advanced filtering past CEL expressions, since there will often be scenarios where triggers might want to fetch additional data to make decisions on triggering.

The motivating example here is that for source triggering you might need to make calls back to GitHub to fetch additional m

[2019-06-03 21:19] nachocano opened #1328 "Add E2E test to NATSS CRD"
Problem
A new NatssChannel CRD is available (once [this](https://github.com/knative/eventing/pull/1327) is merged). We need an E2E test case to properly verify this feature.

Exit Criteria
An E2E test case is added to verify the NatssChannel CRD.

[2019-06-03 21:20] nachocano commented on #1328
as an FYI to have it on the radar
@Fredy-Z

[2019-06-03 23:06] evankanderson commented on #930
Looking up additional information outside the event itself seems like it could be the first step in a [Pipeline](https://github.com/knative/eventing/pull/1239), and the filter could then choose to either return no event (drop event) or the same event (identity transformation).

This can also be accomplished today by delivering from a Trigger to a Channel -> Subscription (Filter) -> Channel configu

[2019-06-03 23:35] nachocano commented on #1217
We need the following that will be needed for every channel CRD implementations:

- [ ] Permissions to update channels from the subscription controller. This is needed for every channel. Thanks @akashrv who found the problem while testing the Kafka CRD. In my cluster it was working as I had an old admin role. The aggregate roles might work for this.
- [ ] Have a defaulting mechanism for specifying

[2019-06-04 01:57] nachocano commented on #1215
I'm working on the dispatcher part. Will have a PR ready by tomorrow...

[2019-06-04 02:00] vaikas-google opened #1331 "[BUG] Can't specify the CRD based Channel to use for Broker."
**Describe the bug**
After moving to the CRD based implementations for Channels, there's no way to specify which Channel CRD to use in the Broker.

 **Expected behavior**
You should be able to specify a ChannelTemplate that will be used to create Channels by the Broker.

 **To Reproduce**
Try to specify a CRD based channel, won't go.

 **Knative release version**

 **Additional context**
Add any o

[2019-06-04 06:46] srvaroa commented on #1310
I think JsonPath will go a long way, although as you say remaining flexible is a big pro. In my mind the idea would be to support some form of configuration such as:

config:
  matcher:jsonpath
  - routes:
    expression: $SOME_JSONPATH_EXPR
    target: $URI
  - route
    expression:  $SOME_OTHER_JSONPATH_EXPR
    target: $URI

The `matcher` node would apply to all events passing through this filt

[2019-06-04 06:47] srvaroa commented on #1250
@Harwayne I have started with this

[2019-06-04 07:28] matzew opened #1333 "[BUG] In Memory CCP dispatcher can not list configmaps"
when installing the knative-eventing into a different ns, than "knative-eventing", I am getting this"

[code]

I see that @Harwayne added a `Role` with `configmaps` resources in #1199

Updating the _existing_ `ClusterRole` (`k edit ...`) by adding the following:

[code]

I am getting the `in-memory-channel-dispatcher` pod to stop complaining:

[code]

[2019-06-04 11:13] bacherfl opened #1336 "[BUG] NATSS Dispatcher cannot send events to Subscribers with 'cluster-local' label"
**Describe the bug**
NATSS dispatcher cannot send incoming events to a subscriber (ksvc) of a channel, if the label `serving.knative.dev/visibility: cluster-local` is set for the service.
Dispatcher logs:

[code]
After removing the label `serving.knative.dev/visibility: cluster-local` from the Ksvc, the dispatcher could send the events successfully.

 **Expected behavior**
Events should be sent to

[2019-06-04 14:41] #1251 closed

[2019-06-04 18:21] nachocano commented on #1331
fyi @Harwayne @akashrv

[2019-06-04 19:56] nachocano opened #1342 "Add E2E test to InMemory Channel CRD"
Problem
A new InMemoryChannel CRD is available (once [this PR](https://github.com/knative/eventing/pull/1339) is merged it should work e2e). We need an E2E test case to properly verify this feature.

Exit Criteria
An E2E test case is added to verify the InMemoryChannel CRD.

[2019-06-04 19:56] nachocano commented on #1342
@Fredy-Z to have it on your radar

[2019-06-04 20:14] Fredy-Z opened #1343 "Support for default channel"
**Problem**
Under provisioner implementation, we have a mechanism to use a `ConfigMap` to set up default provisioner. If we do not specify `Provisioner` when we create channels, the default one will be used.
However, when we switch to the implementation by using different CRDs for different channels, we do not have such functionality.

**Exit Criteria**
There is a similar mechanism to set default

[2019-06-04 21:24] grantr opened #1344 "Rename Source concept and objects to Importer"
**Problem**
We decided to rename the Source concept to Importer. See https://github.com/knative/eventing-sources/issues/402 for background.

Now that the decision is made, we need to actually make the change in docs and code. This issue tracks that effort.

/milestone 0.8

[2019-06-04 21:25] grantr commented on #1344
/milestone v0.8.0

[2019-06-04 23:12] nachocano commented on #1343
This is related to this https://github.com/knative/eventing/issues/1331

[2019-06-04 23:12] nachocano commented on #1343
/milestone v0.7.0

[2019-06-05 00:00] grantr commented on #1343
Adding this to 0.7 because it's a clear regression from 0.6

/milestone v0.7.0

[2019-06-05 00:32] akashrv commented on #1189
TODO:
- [ ]  Contract changes
- [ ] Subscription controller change
- [ ] Remove permissions that are given to each CRD channel in config/200-controller-clusterrole.yaml
- [ ] Kafka Controller
- [ ] In-memory controller
- [ ] GCP Pubsub controller
- [ ] natss controller

[2019-06-05 03:58] Fredy-Z opened #1347 "[BUG]ApiServerSource does not work"
**Describe the bug**
Follow the [instruction](https://github.com/knative/docs/tree/release-0.6/docs/eventing/samples/kubernetes-event-source) and run with the code of Eventing master branch, `ApiServerSource` does not work.

 **Expected behavior**
`ApiServerSource` works as expected.

 **To Reproduce**
Steps:
1. Install Serving 0.6
2. Install Eventing with `ko apply -f config/` and `ko apply -f co

[2019-06-05 05:29] vaikas-google commented on #1151
Please create or (reference if there's already one) an issue to make corresponding documentation changes so they are reflected here:
https://knative.dev/development/eventing/samples/container-source/

[2019-06-05 05:48] #1151 closed

[2019-06-05 05:48] #1333 closed

[2019-06-05 05:49] vaikas-google commented on #930
Yeah, so my thinking was that we should be just building a "filtering function", that looks like just a normal function that would then handle these more advanced filtering capabilities. At least until we more experience with them, it seems like general purpose compute should be handled by a function and then it can either emit events that the "real function" can take action on (if using triggers)

[2019-06-05 06:00] jingweno opened #1348 "Update container source documentation for `template` field"
**Problem**
Update container source documentation for https://github.com/knative/eventing/pull/1321 so that the `template` field is reflected [here](https://knative.dev/development/eventing/samples/container-source/)

**Exit Criteria**
Documentation is updated for the `template` field.

**Additional context (optional)**
* https://github.com/knative/eventing/pull/1321#issuecomment-498943501

[2019-06-05 06:01] jingweno commented on #1348
/assign @jingweno

[2019-06-05 06:03] jingweno commented on #1348
/kind doc

[2019-06-05 06:45] vaikas opened #1349 "Validate Channel CRD specs as early and thoroughly as possible."
**Problem**
As discussed here:
https://github.com/knative/eventing/pull/1239#discussion_r290293324

It would be great to validate Template Spec for Channel CRDs as early as possible. This would involve fetching the underlying CRD and using the openapi schema to do validation. Note that this may not be comprehensive, as some of them might do more complicated validation as well, but might be a start

[2019-06-05 13:36] lionelvillard commented on #1347
/assign @lionelvillard

[2019-06-05 14:12] lionelvillard commented on #1347
@Fredy-Z it's working for me when I do this:

[code]

[2019-06-05 14:34] n3wscott commented on #1347
Perhaps the RBAC settings are missed by @Fredy-Z ?

[2019-06-05 15:03] lionelvillard opened #1353 "[BUG] The eventing controller keeps reconciling"
**Describe the bug**
The eventing controller reconciles objects that have already been reconciled

 **Expected behavior**
Reconcile should only be called when needed

 **To Reproduce**
`kubectl logs -lapp=eventing-controller -n knative-eventing -f`

 **Knative release version**

master

 **Additional context**

Here an example of what is constantly being reconciled (about 30 reconciles per second)

[2019-06-05 15:25] Abd4llA commented on #1217
@nachocano apologies for late replies, we had some internal delays and had planned to work on it for next release starting next week. Thanks for picking it up! We can test on Kyma once you have a PR if you'd like.

[2019-06-05 16:17] nachocano commented on #1217
@Abd4llA thanks Ahmed! This PR #1327 was merged yesterday night and included the changes. There is a follow up that should get in today (https://github.com/knative/eventing/pull/1341). After that one gets in, I'll ping you to see if you can test it in Kyma!

[2019-06-05 17:59] nachocano commented on #1343
/unassign

[2019-06-05 17:59] nachocano commented on #1343
Grant offered to look at this one. Thanks Grant!

/assign @grantr

[2019-06-05 18:14] nachocano commented on #1217
@Abd4llA #1341 is merged. Can you guys test it on Kyma, both the previous provisioner model, and the new CRD one? Note that the previous yaml is now under `config/provisioner`. The new ones are just under `config`

[2019-06-05 20:58] #1317 closed

[2019-06-05 20:58] Fredy-Z commented on #1347
Sorry it was a false alarm...
I will add an e2e test case for it.

[2019-06-05 20:58] #1347 closed

[2019-06-05 23:36] Fredy-Z opened #1356 "Add an e2e test case for ApiServerSource"
**Problem**
`ApiServerSource` is one of the core sources living under eventing repo, but we do not have an e2e test case to validate it.

**Exit Criteria**
An E2E test case is added to verify the `ApiServerSource`.

[2019-06-05 23:36] Fredy-Z commented on #1356
/cc @Fredy-Z

[2019-06-05 23:36] Fredy-Z commented on #1356
/assign @Fredy-Z

[2019-06-06 16:47] #1067 closed

[2019-06-06 17:56] Harwayne commented on #704
The parts of this issue:

- [x] Broker Ingress #1290
- [ ] Broker Filter #1295
- ClusterChannelProvisioners
    - [x] in-memory #1199
    - [x] gcp-pubsub #1231
    - [x] natss #1204
    - [x] kafka #1203
- Importers
    - [ ] ApiServerSource #1358
    - [ ] CronJobSource #1358
- [ ] Documentation

[2019-06-06 21:47] nachocano commented on #1215
- [ ] Stats in the controller still missing

[2019-06-06 21:58] nachocano commented on #1216
/open

[2019-06-07 01:20] lionelvillard commented on #1310
@vaikas-google What do you think about this (in the context of pipelining)?

[2019-06-07 05:44] vaikas-google commented on #1310
this seems like it would be useful general purpose function. You pass the filter expression as config into it and it could be the first stage in the pipeline. Then if we get some experience in there could see on generalizing that and make it easier to streamline the user experience.

[2019-06-07 08:01] matzew opened #1367 "[BUG] document sampel for Sequence"
Le'ts have some doc for the `Pipeline` CRD, with some background (E.g. reply channel)

sample (taken from PR)
[code]

[2019-06-07 13:48] #785 closed

[2019-06-07 16:08] mikehelmick commented on #785
Opened pull request to link this on the community repo

https://github.com/knative/community/pull/14

[2019-06-07 16:50] n3wscott opened #1370 "[BUG] SinkReconciler does not make sense."
**Describe the bug**
in pkg/duck/sinks.go, there is a new SinkReconciler. It does not reconcile sinks, it just reads from a sink and understands their addressable endpoint.

 **Expected behavior**
Rename this to something that makes sense. Also consider moving to knative/pkg

 **Knative release version**
0.6

 **Additional context**
https://github.com/knative/eventing/pull/1352#discussion_r2916123

[2019-06-07 19:27] grantr opened #1371 "Broker metrics should include time-in-flight metric from arrival at Broker until start of dispatch"
We should have a metric that measures arrival at the Broker's ingress to delivery to the trigger subscriber. This involves multiple hops so it's more complex than other in-process metrics.

_Originally posted by @evankanderson in https://github.com/knative/eventing/pull/1177#discussion_r283577706_

/kind feature

[2019-06-07 19:27] grantr commented on #1371
/good-first-issue

[2019-06-08 20:41] moficodes commented on #1371
Is it possible to get some guidance on how does one gets started with this issue. I have never contributed to Knative and I see the good first issue label and would like to see if I can help.

@grantr

[2019-06-10 06:45] vaikas-google commented on #1272
Closing this because this has been merged:
https://github.com/knative/eventing/pull/1321

[2019-06-10 06:45] #1272 closed

[2019-06-10 06:48] #1215 closed

[2019-06-10 07:45] vaikas-google opened #1375 "[BUG] ChannelableStatus missing duckv1beta1.Status"
**Describe the bug**
Currently ChannelableStatus does not have duckv1beta1.Status field in it, which makes working on them hard because you can't really decipher the Status of the Channel using the Channelable duck type.

 **Expected behavior**
ChannelableStatus exposes duckv1beta1.Status

To be able to consistently decipher CRD based Channel statuses, they should expose duckv1beta1.Status which t

[2019-06-10 07:46] vaikas-google commented on #1375
@akashrv @nachocano @matzew Thoughts? I think this was just an oversight and makes operating on Channels using ducks harder because we're left to just using AddressStatus to figure out if the channel is ready in various Propagate methods.

[2019-06-10 08:00] vaikas-google opened #1376 "Rename Pipeline to Sequence"
**Problem**
To reduce potential confusion with Tekton Pipelines, we should rename the Knative resource to Sequence which still conveys the meaning that the functions are executed sequentially.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
Once the resource has been renamed to Sequence.

**Time Estimate (optional):**
1-2

**Additional

[2019-06-10 16:11] grantr opened #1378 "Move broker/trigger data plane to pkg/controller"
For consistency as requested by @vaikas-google in https://github.com/knative/eventing/pull/1177#discussion_r291911184

[2019-06-10 16:34] grantr commented on #1376
:+1: OpenWhisk also calls these sequences: https://github.com/apache/incubator-openwhisk/blob/master/docs/actions.md#creating-action-sequences

[2019-06-10 16:43] nachocano commented on #1375
This seems about right. @akashrv has been playing more with channels' statuses than me, let's see if he agrees.

[2019-06-10 17:42] akashrv commented on #1375
We could do this for Channelable only, however I can see one limitation of doing this that we need to be aware of. We could have types that implement multiple duckTypes. Example: Channelable is a subscribable as well as addressable and inlines AddressStatus and SubscribableTypeStatus. If we add duckv1beta1.Status to Chanellable (or any duckType) then I am not sure how combining multiple duckTypes

[2019-06-10 18:14] nachocano commented on #1342
Solved by @Fredy-Z , closing it

[2019-06-10 18:14] #1342 closed

[2019-06-10 19:54] #1331 closed

[2019-06-10 21:57] Fredy-Z opened #1380 "Add e2e test cases for Broker that uses Channel CRDs"
**Problem**
Broker now supports using `Channel CRDs` as it's transport layer, and `provisioner` will be deprecated soon. We need an e2e test case to test it.

**Exit Criteria**
An e2e test case using `Broker` with `Channel CRDs` is added, and it can consistently passing.

/assign @Fredy-Z

[2019-06-10 23:29] evankanderson commented on #1371
One way to do this would be to add a CloudEvents attribute at the ingress side of the Broker with the arrival time of the Event (see #1177 for the different parts of the Broker routing). During the Trigger dispatch, you could remove the attribute, subtract `Now()` from the stored time, and have the routing duration from beginning to end of the Broker.

If you take the approach mentioned above, you

[2019-06-11 01:13] lindydonna opened #1381 "Make it easier to consume events directly from specific sources"
I’m a PM at Google, working on the CLI and UI experience for GCP products built on Knative Eventing. The current system has a lot of granular objects that can be combined in very flexible ways. Unfortunately, this makes it quite difficult to create a user experience for some common cases. I think these considerations would apply to most vendors who are building products on top of Knative, so I’d l

[2019-06-11 01:42] duglin commented on #1381
Great topic. First a question, on your 2, why would Service1 and Service2 get dup events? Wouldn't Service1 only see events driven by the first EventSource+Trigger?

I haven't had a chance to fully think through how this would look, but in the times when I did ponder it, I would think about what I would want to say as an end using trying to hook these things up. And it usually comes down to someth

[2019-06-11 02:29] #1227 closed

[2019-06-11 13:01] vaikas-google opened #1383 "[BUG] Broker gets stuck with NoAddress using channel CRDs"
**Describe the bug**
When you create a Broker with a channel CRD it can get stuck into a NoAddress state because the Broker does not notice that the channel has been updated / status changed.
vaikas@penguin:~/projects/go/src/github.com/knative/eventing$ kubectl -n newbroker get broker
NAME          READY   REASON      HOSTNAME                                     AGE
broker-test   False   NoAddress

[2019-06-11 13:05] vaikas-google commented on #1383
Even when I add code in #1384 to track changes to Channels, I sometimes do not get notifications. I'm debugging this and I'm hoping that I'm doing something really dumb. But what I'm seeing is that sometimes (same controller running) when I delete / recreate brokers, the tracker does not make the appropriate callbacks to enqueue the broker. It seems as though they are not registered, even though b

[2019-06-11 13:15] vaikas-google commented on #1375
I'm not sure I grok the problem there. I think I'm typically going to use Channelable (and need status for example in Pipelines, Broker, and we'll probably need it in the Subscription also?)
so, if we add duckv1beta1.Status to Channelable, then it would say that the Channelable Duck must implement the status.
Is the problem that if you then combine NEWFOO that is made of Channelable and some other

[2019-06-11 16:26] nachocano commented on #1383
@akashrv was seeing some problems with the reconciler not being called. And he was seeing some race conditions that incorrectly patched the subscribers of a channel. Might be related to this, though not sure

[2019-06-11 17:34] akashrv opened #1387 "Move artifacts from eventing/contrib folder into eventing-contrib repo"
**Problem**
Title is self explanatory

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
contributor

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.
No contrib folder and non-core components in eventing repo

**Time Estimate (optional):**
3 to 4

**Additional context (optional)**

[2019-06-11 17:54] akashrv commented on #1383
I noticed this with subscription controller. I updated channel manually and the subscription controller reconcile was never triggered. It uses addressableinfromer. Whenever I tried to debug from local machine I wasn't able to repro. I couldn't find a consistent way to repro it. Probably similar issue that Ville saw with Broker controller when watching channels using addressableinformer. I am not a

[2019-06-11 17:55] akashrv commented on #1383
/milestone v0.7.0

[2019-06-11 18:38] #1328 closed

[2019-06-11 18:41] nachocano commented on #1217
/close
Closing this as the e2e test is merged in https://github.com/knative/eventing/pull/1355
The default channel mechanism is being tracked in a separate [issue](https://github.com/knative/eventing/issues/1343), and is a cross-channel feature, thus there is no need to keep this one open.

[2019-06-11 18:41] #1217 closed

[2019-06-11 21:40] nachocano commented on #1383
Related although not the same.. I created a Broker with the following yaml

[code]
And it never becomes Ready, saying "SubscriptionNotReady". The msg is: "ingress Subscription is not ready: Subscription not marked by Channel as Ready: [channel.Status.SubscribableStatus is nil]"

[2019-06-11 21:43] nachocano commented on #1383
Discard, I was using an old imc-controller/dispatcher

[2019-06-11 22:08] nachocano commented on #1383
@vaikas-google @akashrv @grantr
Related but not the same. I just created a Trigger to point to that Broker that has a channel CRD, but is not working. The trigger never becomes Ready saying "Trigger reconciliation failed: failed to find Broker's Trigger channel".
Looking at the trigger controller code, we are still using the channelLister in `getChannel` to list old Channel objects. We should also

[2019-06-12 01:15] Fredy-Z opened #1388 "Add e2e test case for Sequence"
**Problem**
A new Pipeline/Sequence CRD has been added. We need e2e test coverage for it.
https://github.com/knative/eventing/pull/1239
https://github.com/knative/eventing/issues/1376

**Exit Criteria**
e2e test case(s) are added and can consistently pass.

/assign @Fredy-Z

[2019-06-12 02:32] sixolet commented on #1381
Two unrelated and contradictory views of this problem, neither of which introduces a new object:

1. "Storm" is and has always been the Event Importer. Event importers can send to any target, including directly to a Service. Event Importers should include in their spec whatever users tend to need to subscribe to the right events for their problem domain, including whatever filtering they need. Bro

[2019-06-12 14:21] deissnerk commented on #1381
@duglin I like the overall vision. A while ago I wrote this [document](https://docs.google.com/document/d/1AOTMPDnLKIW2H3uw4JN3DlRUrByxtajjoMyonZVNPfI/edit?usp=sharing). Terminology is still kind of messy, but the overall idea is to define Broker as something that takes a Trigger (My service wants to get events of type a from source b) as input and configures so-called Routers and Sources (now Imp

[2019-06-12 15:47] ryandawsonuk commented on #1383
I also hit this issue. I was only able to get it working with the label namespace approach.

[2019-06-12 15:51] ryandawsonuk commented on #1367
I guess this relates to https://github.com/knative/eventing/issues/1067 ?

[2019-06-12 15:59] ryandawsonuk opened #1392 "'No TTL seen, dropping' when firing event manually for broker-trigger example"
I'm following the example at https://knative.dev/docs/eventing/broker-trigger/

In place of my-service I've deployed the event-display service. But it doesn't get that far. When I fire the CloudEvent it hits the broker which returns a 202. But it never hits the service and in the default-broker-filter logs I see this:

{"level":"warn","ts":"2019-06-12T15:25:39.969Z","logger":"provisioner","caller"

[2019-06-12 21:53] vaikas-google commented on #1383
Ok, so after much debugging, I _believe_ the problem is that we can not use a shared AddressInformer because then the callbacks don't get set up properly because it's creating an informer and reusing it, so since we have many controllers running in the same binary, they don't track things properly. So, I think everything that's using AddressInformer, should create their own AddressInformer.
As far

[2019-06-13 03:22] #1383 closed

[2019-06-13 13:13] ryandawsonuk commented on #1383
I've now installed eventing again from latest master using `ko`. Now I'm struggling to get a broker up even with `kubectl label namespace default knative-eventing-injection=enabled` - even that option is getting stuck at `NoAddress` for me now. With 0.6 release that was working.

[2019-06-13 14:00] ryandawsonuk opened #1395 "heartbeats event not passing filter for broker-trigger example"
I've been working through the broker-trigger example at https://knative.dev/docs/eventing/broker-trigger/

The heartbeats service doesn't seem to be at github.com/knative/eventing-sources/cmd/heartbeats/ anymore and its definition seems to have changed. I had to change the yaml to:

[code]
I then deployed that with ko from within my GOPATH. That deploys and successfully sends events.

The example

[2019-06-13 14:25] ryandawsonuk commented on #1392
I don't see a TTL attribute at https://github.com/cloudevents/spec/blob/master/json-format.md

It looks like the attribute is called [knativebrokerttl](https://github.com/knative/eventing/blob/7081d16201af6c375a9911412a447a62a16662e6/pkg/broker/ttl.go#L26)

I tried adding a 'knativebrokerttl: 5' header but am still getting the same error.

I notice the error message above mentions an attribute 'Kn

[2019-06-13 14:42] lionelvillard opened #1396 "Conditional Routing"
**Problem**
There is currently no easy way to route events based on some arbitrary conditional logic.

This is problem for both, eventing and messaging. For eventing, a route corresponds to a trigger (but filtering is very limited #930). For messaging there is no support at all (other than implementing the logic in functions)

**[Persona:](https://github.com/knative/eventing/blob/master/docs/perso

[2019-06-13 15:12] duglin commented on #1396
@lionelvillard there's also the abstract concept of routing to versions of a service based on something other than the %-based routing we have today in the KnService traffic block.  Do you see this issue as fundamentally a different problem or a variant of it? I suspect it's different since I think in this one you're talking about "choosing which service to route to" while the other idea is "choos

[2019-06-13 15:14] vaikas-google opened #1397 "[BUG] Can't create triggers when using Channel CRDs"
**Describe the bug**
When you use Channel CRD as the Broker spec, Triggers created will fail because they can't resolve the trigger/ingress channels.

 **Expected behavior**
Trigger should not care whether the channels are legacy or CRD based.

 **To Reproduce**
Create a Broker with a channel CRD (say, IMC channel)
Create a trigger, and it gets stuck with can't resolve channels.

 **Knative releas

[2019-06-13 15:45] lionelvillard commented on #1396
@duglin There is definitively some overlaps between service mesh routing vs application-level routing, eg. routing based on HTTP headers. Maybe some of the conditions expressed at the application level can be "pushed down" to the service mesh level, for better performance.

[2019-06-13 19:42] lionelvillard opened #1402 "Pipeline controller cannot create Kafka channel"
**Describe the bug**
The eventing controller does not have access to the Kafka resources.

 **To Reproduce**
Create a pipeline using Kafka channel:

[code]
 **Knative release version**
master

[2019-06-13 19:53] #1397 closed

[2019-06-13 20:29] mikehelmick commented on #1381
/assign mikehelmick

[2019-06-13 21:15] lindydonna commented on #1381
@duglin said:

We answered this in the WG meeting this week, but so that the discussion is recorded: note that Trigger is always used with Broker. So, if a customer does EventSource -> Trigger it always goes to Broker. If the EventSource/Importer is connected directly to the sink, as mentioned by @sixolet, then the duplicate problem is sidestepped entirely.

[2019-06-13 21:50] grantr commented on #1381
I tend to generalize the two scenarios thusly:

1) I wish to express interest by specifying the attributes of the **event source**.
2) I wish to express interest by specifying the attributes of the **event**.

In some cases, the specification of the event source attributes and the event attributes are identical. For example:

[code]

Assuming GitHub credentials are identified by some other mechani

[2019-06-14 08:51] #1402 closed

[2019-06-14 09:44] #1376 closed

[2019-06-14 10:02] vaikas-google commented on #1353
I'm unable to reproduce this failure. Do you have sample set of yamls that I could use to try to debug this? Alternatively, is this still happening to you in the head?