[2021-04-20 16:53] #5238 closed

[2021-04-20 16:53] devguyio commented on #5237
closing for being old and a lot of changes happened in the tests, if it still flakes it'll be open again

[2021-04-20 16:53] #5237 closed

[2021-04-20 16:53] devguyio commented on #5231
closing for being old and a lot of changes happened in the tests, if it still flakes it'll be open again

[2021-04-20 16:53] #5231 closed

[2021-04-20 16:53] devguyio commented on #5230
closing for being old and a lot of changes happened in the tests, if it still flakes it'll be open again

[2021-04-20 16:53] #5230 closed

[2021-04-20 16:53] devguyio commented on #5229
closing for being old and a lot of changes happened in the tests, if it still flakes it'll be open again

[2021-04-20 16:53] #5229 closed

[2021-04-20 16:54] devguyio commented on #5228
closing for being old and a lot of changes happened in the tests, if it still flakes it'll be open again

[2021-04-20 16:54] #5228 closed

[2021-04-20 16:54] devguyio commented on #5227
closing for being old and a lot of changes happened in the tests, if it still flakes it'll be open again

[2021-04-20 16:54] #5227 closed

[2021-04-20 16:55] #5190 closed

[2021-04-20 16:55] #5191 closed

[2021-04-20 16:55] #5194 closed

[2021-04-20 16:55] #5195 closed

[2021-04-20 16:55] #5196 closed

[2021-04-20 16:55] #5197 closed

[2021-04-20 16:55] #5198 closed

[2021-04-20 16:55] #5199 closed

[2021-04-20 16:55] #5200 closed

[2021-04-20 16:55] #5202 closed

[2021-04-20 16:55] #5211 closed

[2021-04-20 16:55] #5212 closed

[2021-04-20 16:55] #5219 closed

[2021-04-20 16:55] #5220 closed

[2021-04-20 16:55] #5221 closed

[2021-04-20 16:55] #5222 closed

[2021-04-20 16:55] #5223 closed

[2021-04-20 16:55] #5224 closed

[2021-04-20 16:55] #5225 closed

[2021-04-20 16:55] #5226 closed

[2021-04-20 16:55] #4903 closed

[2021-04-20 16:55] #4905 closed

[2021-04-20 16:55] #5180 closed

[2021-04-20 16:55] #5181 closed

[2021-04-20 16:55] #5189 closed

[2021-04-20 17:39] jeanabraham opened #5286 "Unable to connect Knative to external Kafka brokers (IBM Event Streams)"
**Describe the issue**

Note: This is just an issue I'm facing, and likely not a bug. I wasn't sure how I could open an issue without it getting tagged as a bug.

kafka-ch-dispatcher fails to start.

[code]

Logs:
[code]

 **Expected behavior**
kafka-ch-dispatcher starts successfully

 **To Reproduce**
Steps to reproduce the behavior.

1. Setup IBM Event Streams on IBM Cloud with basic configurati

[2021-04-20 18:11] lionelvillard commented on #5286
@jeanabraham make sure that SASL and TLS are both enabled. Are you using the OpenShift console to configure Kafka?

[2021-04-20 18:41] benmoss commented on #5277
/assign

[2021-04-20 19:30] jeanabraham commented on #5286
@lionelvillard  Yes, I'm using Openshift console to install KnativeKafka. Bootstrap server list from IBM Event Stream resource page.

![image](https://user-images.githubusercontent.com/81090/115453125-43b21f00-a1ed-11eb-866c-a0d4d37a6358.png)

Secret setup as below:
[code]

[2021-04-20 19:37] lionelvillard commented on #5286
@matzew @lberk How to enable TLS and SASL from the console?

[2021-04-20 19:52] lberk commented on #5286
@lionelvillard the documentation linked specifies that several of the key names in the secret must not be changed (and it seems like they are).  Could you please correct that and ensure the auth secret namespace is specified.  If needed perhaps only try for a single bootstrap server (just to reduce the number of moving parts to start)

[2021-04-20 20:01] jeanabraham commented on #5286
@lberk thanks.  The below is the JSON that IBM ES generated, which I've mapped to Openshift Secret accordingly. Also, tried with 1 broker, and got the same error.

[code]

[2021-04-20 20:25] lberk commented on #5286
@jeanabraham thanks, could you elaborate a bit more on how you modified the secret creation to match the documentation cited? thanks!

[2021-04-20 20:58] jeanabraham commented on #5286
@lberk I'm actually using sasl.mechanism 'PLAIN' as below without .pem certificates based on credentials listed when creating an new IBM ES instance. I think the warning `Use the key names ca.crt, user.crt, and user.key. Do not change them.` applies only when using certs.

If PLAIN is not valid, any ideas on how to get the right certificates for IBM ES instance? Thanks!

[code]

[2021-04-20 21:51] #5277 closed

[2021-04-20 22:28] aavarghese commented on #4967
@n3wscott added a test that should up coverage for channel today. PR open.

[2021-04-20 23:09] #5143 closed

[2021-04-21 09:33] snneji commented on #4911
@omerbensaadon do you mean https://github.com/knative/docs/issues/3425? The link you provided goes to the eventing repo.

[2021-04-21 12:11] #5274 closed

[2021-04-21 12:11] #5271 closed

[2021-04-21 12:11] #5269 closed

[2021-04-21 12:11] knative-test-reporter-robot opened #5291 "[flaky] test/rekt.TestBrokerConformance/Knative_Broker_Specification_-_Control_Plane/Event_Routing_Spec/Assert/[Stable/SHOULD]Conformance_"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerConformance/Knative_Broker_Specification_-_Control_Plane/Event_Routing_Spec/Assert/[Stable/SHOULD]Conformance_
* **Repository name**: eventing

[2021-04-21 12:22] BbolroC opened #5292 "Enable to scale the chaosduck down to zero in the prow test"
## Expected Behavior

If an environment variable (e.g. `SCALE_CHAOSDUCK_TO_ZERO`) is set to 1 when running the `test/e2e-tests.sh`, the chaosduck deployment scales the corresponding pod down to 0.

## Actual Behavior

Once the script runs, there is no way of turning off the chaosduck before the function `go_test_e2e`  starts.

## Suggestion

[code]

## Additional Info

At the moment, one of the pr

[2021-04-21 12:41] jeanabraham commented on #5286
@lberk This did the trick. Thanks!
[code]

[2021-04-21 12:55] omerbensaadon commented on #4911
Yes! Sorry about that

[2021-04-21 13:18] jeanabraham commented on #5286
Reopening Issue.

@lberk it was running successfully, and then error'd out again with the original issue reported above.

[2021-04-21 13:30] snneji commented on #4914
@n3wscott, would this be covered when documenting channels?

[2021-04-21 13:39] lionelvillard commented on #5286
You shouldn't need to set the client TLS certificates. Also SASL type to PLAIN also works for me.

To sum up: 1-way TLS is enough to connect to ES. I just don't know how to enable it using the OpenShift console.

FWIW, here an article on how to connect ES to KafkaSource, from the command line: https://dettori.medium.com/build-event-driven-applications-with-knative-and-crossplane-8c3fd1a50f6

This

[2021-04-21 13:52] aliok commented on #4921
/assign

[2021-04-21 14:02] skonto opened #5293 "Broker ingress handler does not propagate tracing info from a source"
**Describe the bug**

I spotted what it seems a difference between Serving and Eventing wrt tracing.
I see that the [broker ingress handler](https://github.com/knative/eventing/blob/main/pkg/broker/ingress/ingress_handler.go) and others do not mix with the special [opencensus http handler](https://github.com/knative/pkg/blob/main/tracing/http.go#L43). This means that they cannot extract the reques

[2021-04-21 14:06] skonto commented on #5236
/assign skonto

[2021-04-21 15:32] jeanabraham commented on #5286
@lionelvillard Thanks. I’m trying to get the ES connection to work with via the Knative CRD `Broker` configured to `kafka-broker-config`, similar to how it's [documented here](https://knative.dev/docs/eventing/broker/kafka-broker/#create-a-kafka-broker).

When I install the KnativeKafka plugin based on [instructions here](https://access.redhat.com/documentation/en-us/openshift_container_platform/4

[2021-04-21 16:15] omerbensaadon commented on #5086
FWIW, this **_is_** cleaner UX

[2021-04-21 16:37] skonto opened #5294 "Introduce broker quotas"
**Problem**
Other systems like Kafka have a [quota framework](https://docs.confluent.io/platform/current/kafka/design.html#quotas) that allows admins to limit applications from overloading the brokers.
This is useful in a multi-tenant scenario where multiple apps are hitting the same Eventing installation.
Although part of this could be solved via a Service mesh where there is a limit on request r

[2021-04-21 17:20] grantr commented on #5086
My concerns with this feature are technical. The k8s API requires a version identifier to access a resource, so we have to deduce what the version is, and there may be situations in which the version cannot be deduced or the deduction is incorrect. If the technical difficulties can be worked out, then I agree this change would result in an improved UX.

The current behavior must always be supporte

[2021-04-21 17:55] #4967 closed

[2021-04-21 18:27] jeanabraham commented on #5286
@lionelvillard was able to connect to the broker atlast after creating new credentials on IBM ES.

Now when I create KafkaSource via Openshift Console, I get this error. Any ideas? Thanks!

`conversion webhook for sources.knative.dev/v1beta1, Kind=KafkaSource failed: Post "https://kafka-source-webhook.knative-eventing.svc:443/resource-conversion?timeout=30s": service "kafka-source-webhook" not fou

[2021-04-21 18:54] abrennan89 commented on #4910
Issue moved to [knative/docs #3488](https://github.com/knative/docs/issues/3488) via [**ZenHub**](https://www.zenhub.com/)

[2021-04-21 18:59] abrennan89 commented on #4910
/close

[2021-04-21 18:59] #4910 closed

[2021-04-21 19:54] vaikas commented on #5086
@slinkydeveloper Thanks for nudging us and making sure this gets eyeballs, and our apologies for taking so long to find the time to make sure we bring our concerns out in a researched manner.

TL;DR:
* let's not overload the semantic meaning of `APIVersion`
* let's add `Group` into KReference
* Use the logic of peeking at the CRD for stored version to determine what version to use

@n3wscott and I

[2021-04-22 07:20] matzew commented on #5143
/assign

[2021-04-22 07:43] slinkydeveloper commented on #5086
I personally don't see how there could be any difficulties in that sense, because whatever version the user pushed, the version living in the server is only one. And as you pointed out, we have the annotation to get the duck type version, hence from my understanding this seems to me an orthogonal problem, not related to this particular issue, but due the fact that k8s allows storing a CR only with

[2021-04-22 08:21] matzew commented on #4645
@skonto do you have some cycles to look at this ?

[2021-04-22 09:21] skonto commented on #4645
@matzew afaik this is the same as these:
https://github.com/knative/serving/issues/11019
https://github.com/knative/serving/issues/10421
https://github.com/knative/serving/issues/10906
Fixed with:
https://github.com/knative/pkg/commit/6c2f94a4d6a0328d63f5fa16f7890d8e4516a2d0
The fix is available in 0.22+

[2021-04-22 14:15] matzew commented on #5286
/close
b/c it really is that issue: https://github.com/knative-sandbox/eventing-kafka/issues/562

[2021-04-22 14:15] #5286 closed

[2021-04-22 14:17] benmoss commented on #4969
/assign

[2021-04-22 15:50] benmoss commented on #4969
The coverage missing in this is all error handlers in https://github.com/knative/eventing/blob/7775e372bdc033da163cfb01194785d11a4f7d93/pkg/reconciler/parallel/parallel.go, I don't think it's really worth it to expend the effort to find ways to trigger and assert on all these paths

[2021-04-22 15:56] benmoss commented on #4969
/unassign

[2021-04-22 18:57] benmoss commented on #5146
/assign

[2021-04-23 06:23] matzew commented on #4926
I have a question, regarding this. Looking here: https://github.com/knative/eventing/blob/main/config/channels/in-memory-channel/resources/in-memory-channel.yaml#L224-L226  I see that is the case.

Removing the `v1beta1` shape for this... is a different task? also part of 0.23 / V1.0 ?

[2021-04-23 08:12] skonto commented on #4645
I guess it is otherwise brokers may fail (although restarts fixes it as I remember from the failure in in my local env).

[2021-04-23 15:23] cardil commented on #5215
@vaikas I'm not sure what you are suggesting. I think I can't use here the reconciler-test framework, as upgrade tests are rather specific. Also, eventing test prober is eventing specific, as it focuses on continual propagation of events. Sorry, but I don't get you, on this...

[2021-04-24 12:07] knative-test-reporter-robot opened #5301 "[flaky] kubetest2.Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: kubetest2.Test
* **Repository name**: eventing

[2021-04-26 14:03] lionelvillard commented on #4928
I'll look at adding PingSource v1 API.

[2021-04-26 14:35] antoineco commented on #4632
Closing otherwise this will rot.

[2021-04-26 14:35] #4632 closed

[2021-04-26 16:34] vaikas commented on #5301
Looks like we need to update the ko flags:
[code]

[2021-04-26 16:35] vaikas commented on #5301
@slinkydeveloper would you mind taking a look?

[2021-04-26 16:36] vaikas commented on #5294
I think this might also apply to things like Channels?

[2021-04-26 16:42] vaikas commented on #5292
@BbolroC This looks fine to me, would you mind creating a PR? :) Thanks!

[2021-04-26 16:44] vaikas commented on #5291
Looks like a missing event delivery:
[code]

[2021-04-26 16:44] vaikas commented on #5291
@slinkydeveloper would you mind looking at this?

[2021-04-26 16:50] vaikas commented on #5291
Also of concern is the fact that many of the tests seem to be skipped now? This one had 4 skips.

[2021-04-26 16:53] vaikas commented on #5215
I was merely talking about the set up phase, where we can provide the yaml files that set up the tests. So, I meant using it if it works for you, if not, you could probably use some of the installation logic that allows overrides, etc. And if I'm just not getting what your problem is, sorry :)

[2021-04-26 17:12] vaikas commented on #5076
We added list of resources in the reconciler-test for each Feature. If the test fails before deleting the resources, we could grab the logs here for pods before deleting:
https://github.com/knative/eventing/blob/a62ed6adfa5944201bebb852ab1b9d6ad85450b9/test/rekt/features/broker/control_plane.go#L376

[2021-04-26 17:14] vaikas commented on #4876
@matzew @aliok would you mind taking a look at this and update as necessary?

[2021-04-26 17:15] vaikas commented on #5293
@skonto would you mind tackling this?

[2021-04-26 17:50] n3wscott commented on #5086
Re: `APIGroup` please call it `Group`, this will match with the usage in CRDs.

[2021-04-26 18:01] vaikas commented on #5301
Thanks @markusthoemmes
FIxed by:
https://github.com/knative/eventing/pull/5303

[2021-04-27 01:25] #1396 closed

[2021-04-27 07:30] maschmid opened #5312 "e2e flakes on "No API token found for service account""
**Describe the bug**

We're seeing test failures

[code]

 **Expected behavior**
tests should retry Pod creation on "No API token found for service account" errors

 **To Reproduce**
Run tests on slower clusters

 **Knative release version**
0.20

 **Additional context**

[2021-04-27 08:14] #5312 closed

[2021-04-27 09:12] skonto commented on #5293
@vaikas I can do it but I am wondering if it is good to have a correct tracing chain or is it better to avoid it because of the overhead added (which is alot)?

[2021-04-27 09:13] skonto commented on #5294
@vaiks yes correct.

[2021-04-27 13:42] snneji commented on #4918
/assign

[2021-04-27 19:04] vaikas commented on #5301
looks like the sliding window might be confused by the trailing 5 failures from yesterday before the fix. Looks pretty solid, closing again, let's see tmw.

[2021-04-27 19:44] vaikas commented on #5293
This also is bit interesting in as to how it relates to the Spec. Currently we have this:
 https://github.com/knative/specs/blob/main/specs/eventing/broker.md#observability

Oh snap, totes forgot about that. Seems like there's a few things (not sure how many are doable, etc.):
 1. Figure out if we can slim down the allocs on the call. I reckon this is not doable or serving probably would've done i

[2021-04-27 19:59] abrennan89 commented on #4917
https://github.com/knative/docs/pull/3504 improves the sequence docs a little by moving the samples to the main docs

[2021-04-27 23:05] devguyio commented on #4398
/remove-lifecycle stale

[2021-04-28 01:25] #1226 closed

[2021-04-28 10:03] cardil opened #5322 "`test/lib/creation.go` funcs should accept `context.Context`"
**Describe the bug**
Most of the functions in `test/lib/creation.go` are creating their own background context within the function. That prevents the operation to be stopped from outside for ex. in case of timeout.

 **Expected behavior**
None of the `context.Context` objects should be created within those create functions.

[2021-04-28 10:03] cardil commented on #5322
\area test-and-release
\assign

[2021-04-28 10:04] cardil commented on #5322
/area test-and-release
/assign

[2021-04-28 13:14] abrennan89 commented on #4916
Issue moved to [knative/docs #3507](https://github.com/knative/docs/issues/3507) via [**ZenHub**](https://www.zenhub.com/)

[2021-04-28 13:15] abrennan89 commented on #4911
Issue moved to [knative/docs #3508](https://github.com/knative/docs/issues/3508) via [**ZenHub**](https://www.zenhub.com/)

[2021-04-28 13:20] abrennan89 commented on #4911
/close
Tracked in /docs now

[2021-04-28 13:20] #4911 closed

[2021-04-28 13:20] abrennan89 commented on #4916
/close
Tracked in /docs now

[2021-04-28 13:20] #4916 closed

[2021-04-28 15:01] abrennan89 commented on #4918
/close
This is tracked in /docs now instead

[2021-04-28 15:02] #4918 closed

[2021-04-28 19:25] lionelvillard commented on #4928
default webhook has [100% coverage](https://00f74ba44b2746323856c014f4fb03ba30a4f9da59-apidata.googleusercontent.com/download/storage/v1/b/knative-prow/o/pr-logs%2Fpull%2Fknative_eventing%2F5324%2Fpull-knative-eventing-go-coverage%2F1387395589720772608%2Fartifacts%2Fline-cov.html?jk=AFshE3UbWsvGSVRwCoACiX85VRK5ioeQZKInj0x86iVQQi7h6DF0WjiocCHpoUszs98IfI2oTNHLN5_lBCv98VCRa3TlwVOdzYrZQo9zIlXBylEs3ctI

[2021-04-28 19:28] lionelvillard commented on #4928
same for [validation webhook](https://00f74ba44b2746323856c014f4fb03ba30a4f9da59-apidata.googleusercontent.com/download/storage/v1/b/knative-prow/o/pr-logs%2Fpull%2Fknative_eventing%2F5324%2Fpull-knative-eventing-go-coverage%2F1387395589720772608%2Fartifacts%2Fline-cov.html?jk=AFshE3UbWsvGSVRwCoACiX85VRK5ioeQZKInj0x86iVQQi7h6DF0WjiocCHpoUszs98IfI2oTNHLN5_lBCv98VCRa3TlwVOdzYrZQo9zIlXBylEs3ctIIinCRa

[2021-04-28 20:02] #5146 closed

[2021-04-28 21:49] #5292 closed

[2021-04-28 21:55] n3wscott commented on #4948
lies.
https://github.com/knative/eventing/pull/5050

[2021-04-29 09:39] mgencur commented on #2776
/reopen
/remove-lifecycle stale

Hello, I'm re-opening this because this is a long-term issue that needs to be resolved.  The issue description has it all: there are environments with restricted user privileges where people won't be able to run the tests.

Previously, there were some solutions tried in https://github.com/knative/eventing/pull/3313:
* Having namespace names generated based on the t

[2021-04-29 14:50] benmoss commented on #4948
/assign

[2021-05-01 12:10] knative-test-reporter-robot opened #5332 "[flaky] test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Data_Plane/Delivery_Spec_1/Setup/install_subscription3"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Data_Plane/Delivery_Spec_1/Setup/install_subscription3
* **Repository name**: eventing

[2021-05-01 12:10] knative-test-reporter-robot opened #5333 "[flaky] test/conformance.TestChannelDataPlaneFailure"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneFailure
* **Repository name**: eventing

[2021-05-01 12:10] knative-test-reporter-robot opened #5334 "[flaky] test/conformance.TestChannelDataPlaneFailure/InMemoryChannel-messaging.knative.dev/v1/expecting-405"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneFailure/InMemoryChannel-messaging.knative.dev/v1/expecting-405
* **Repository name**: eventing

[2021-05-01 12:10] knative-test-reporter-robot opened #5335 "[flaky] test/conformance.TestChannelDataPlaneSuccess"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess
* **Repository name**: eventing

[2021-05-01 12:10] knative-test-reporter-robot opened #5336 "[flaky] test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1/min-event_encoding_binary_version_1.0"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1/min-event_encoding_binary_version_1.0
* **Repository name**: eventing

[2021-05-03 12:11] #5335 closed

[2021-05-03 12:11] #5333 closed

[2021-05-03 12:11] #5336 closed

[2021-05-03 12:11] #5334 closed

[2021-05-03 16:43] lberk commented on #5332
@antoineco mind taking a look this week as the community contact? thanks!

[2021-05-03 19:19] benmoss commented on #4948
/close

[2021-05-03 19:19] #4948 closed

[2021-05-04 12:10] knative-test-reporter-robot opened #5340 "[flaky] test/rekt.TestSmoke_Broker//Setup/install_broker_"name63-01234567890123456789012345678901234567890123456789012345""
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestSmoke_Broker//Setup/install_broker_"name63-01234567890123456789012345678901234567890123456789012345"
* **Repository name**: eventing

[2021-05-04 12:10] knative-test-reporter-robot opened #5341 "[flaky] test/rekt.TestSmoke_SinkBinding"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestSmoke_SinkBinding
* **Repository name**: eventing

[2021-05-04 12:10] knative-test-reporter-robot opened #5342 "[flaky] test/rekt.TestSmoke_SinkBinding/SinkBinding_goes_ready./Setup/install_a_sinkbinding#02"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestSmoke_SinkBinding/SinkBinding_goes_ready./Setup/install_a_sinkbinding#02
* **Repository name**: eventing

[2021-05-04 12:10] #5332 closed

[2021-05-04 12:10] knative-test-reporter-robot opened #5343 "[flaky] test/rekt.TestSmoke_Broker"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestSmoke_Broker
* **Repository name**: eventing

[2021-05-04 12:18] antoineco commented on #5340
/assign

[2021-05-04 12:18] antoineco commented on #5343
/assign

[2021-05-04 12:18] antoineco commented on #5342
/assign

[2021-05-04 12:18] antoineco commented on #5341
/assign

[2021-05-05 12:00] aliok commented on #4945
/assign

[2021-05-05 12:01] aliok commented on #4921
/unassign

[2021-05-05 13:39] aliok opened #5347 "Set podAntiAffinity for control plane"
**Problem**
Knative Operator scales the control plane components here: https://github.com/knative/operator/blob/5256c63d62089234f1849df93e827dcf49582791/pkg/reconciler/common/ha.go#L36

However, not all of the deployments for these components use podAntiAffinity.

Example deployment that uses it: https://github.com/knative/eventing/blob/7d123334b5f4d4ca6a1229f8f2bdb1a629f74bee/config/brokers/mt-ch

[2021-05-05 13:57] matzew commented on #5347
/cc @lberk
/assign @matzew

[2021-05-05 16:16] n3wscott commented on #4932
/assign

[2021-05-05 16:24] n3wscott commented on #4922
/assign

[2021-05-05 16:30] n3wscott commented on #4923
/assign

[2021-05-05 16:51] n3wscott commented on #4938
This issue does not make a ton of sense, IMC is being tested and tracked by the conformance tests for Channel.
/close

[2021-05-05 16:51] #4938 closed

[2021-05-05 16:53] n3wscott commented on #4930
/assign

[2021-05-05 17:01] n3wscott commented on #4926
/assign

[2021-05-05 18:36] #4930 closed

[2021-05-05 18:42] antoineco opened #5353 "ContainerSource CRD: metadata fields directly under "spec.template""
**Describe the bug**

In the ContainerSource CRD, all ObjectMeta fields are nested directly under `spec.template` instead of `spec.template.metadata`. This prevents users from setting those fields in their Pod template.

https://github.com/knative/eventing/blob/abd3bdd90793952d7158066693607306fddb4464/config/core/resources/containersource.yaml#L82-L93

 **Expected behavior**

 **To Reproduce**

 *

[2021-05-05 18:47] n3wscott opened #5354 "[Cleanup] Tune the webhook requirements now that we do not run conversions"
@n3wscott would you also mind creating an issue to tune the webhook requirements now that we do not run conversions again? Should be more in tune with what Serving has.

_Originally posted by @vaikas in https://github.com/knative/eventing/issues/5350#issuecomment-832916520_

[2021-05-05 19:35] #4932 closed

[2021-05-05 20:05] #4922 closed

[2021-05-05 23:45] cardil commented on #4810
/remove-lifecycle stale

[2021-05-06 06:19] Shashankft9 commented on #4748
/remove-lifecycle stale

[2021-05-06 06:55] mvinkler opened #5357 "Introduce a way how to run the e2e TS without admin permissions"
**Problem**
At this point, it is not possible to run eventing e2e TS with a regular user on Openshift. The problem is IMO usage of Kubernetes events.

Right now, each test creates a service account, a role and rolebinding for event logging. The role has two policy rules.
[Second rule](https://github.com/knative/eventing/blob/main/test/lib/recordevents/resources.go#L146) is similar to
```oc create

[2021-05-06 07:06] mvinkler opened #5358 "Introduce a flag to disable copying pull secret in e2e TS"
**Problem**
At this point, it is not possible to run eventing e2e TS with a regular user on Openshift.
There is https://github.com/knative/eventing/issues/5357 as a main issue, but there is also this side issue - a regular user cannot copy `kn-eventing-test-pull-secret` pull secret here: https://github.com/knative/eventing/blob/main/test/lib/creation.go#L526
The related comment says that this is n

[2021-05-06 07:26] mgencur commented on #5357
@mvinkler Do you think that pre-creating the namespaces and calling `oc create role testrole --verb=create,get,list,watch --resource=events -n XXX` on all the namespaces would resolve this? Or the command is different for each namespace? The tests could be modified in the way that, if the role is already there just keep running (or we could skip creating the role by a flag).

[2021-05-06 07:28] mgencur commented on #5358
@mvinkler Do you think pre-creating the namespaces and copying the pull-secret in advance by admin user would resolve this? The tests could skip this step if the pull-secret is already there.

[2021-05-06 07:35] mvinkler commented on #5357
I think that should work. So admin would pre-create the namespaces and service accounts (or just the roles) for these namespaces and the e2e TS would reuse these.

[2021-05-06 07:37] mvinkler commented on #5358
If a regular user can check if a pull-secret is already present, then it would work.

[2021-05-06 12:09] #5340 closed

[2021-05-06 12:09] #5342 closed

[2021-05-06 12:09] #5343 closed

[2021-05-06 12:09] #5341 closed

[2021-05-06 15:48] rhuss commented on #3133
/remove-lifecycle stale

[2021-05-06 17:33] n3wscott commented on #4926
/close

[2021-05-06 17:33] #4926 closed

[2021-05-06 17:35] n3wscott commented on #4931
/assign

[2021-05-06 17:44] benmoss commented on #4947
/assign

[2021-05-06 21:16] n3wscott commented on #3422
We should do this for ContainerSource in eventing.

[2021-05-06 22:32] evankanderson opened #5363 "Resolved Trigger `deadLetterSink` is not available in `status`"
**Describe the bug**
Another annoying spec question:
For Trigger, we have `status.subscriberUri` for the resolved URI of `spec.subscriber`, but there’s no `status.deadLetterUri` for the resolution of `spec.delivery.deadLetterSink`.

It also appears that `BrokerStatus` does not contain a `deadLetterUri`, but the `BrokerSpec` contains a `delivery` option.

Population of these fields from the appropr

[2021-05-06 23:18] evankanderson opened #5364 "Channel go definitions: ¯\_(ツ)_/¯"
**Describe the bug**
Hey, it looks like there might be an API bug in Channel:
`ChannelableStatus` contains a `DeadLetterChannel` of type `*duckv1.KReference`, documented as:

but `ChannelableSpec` contains a `DeliverySpec` which has a `DeadLetterSink` of type `duckv1.Destination`, which could be a URL.
This means that either `spec.delivery.deadLetterSink.ref` is unresolved in `status`, or that the

[2021-05-06 23:19] evankanderson commented on #5364
/meow

Please poke me to update the content in https://github.com/knative/specs/tree/main/specs/eventing once this is resolved.

[2021-05-06 23:24] n3wscott commented on #4921
/assign

[2021-05-06 23:39] #4923 closed

[2021-05-06 23:41] n3wscott commented on #4924
/assign

[2021-05-07 00:14] n3wscott commented on #4961
howdy @cpanato you still taken a crack at this or should we take over?

[2021-05-07 00:22] n3wscott commented on #4595
/assign @evankanderson

[2021-05-07 01:22] evankanderson commented on #4595
I'm gonna have a few more annoying questions/bugs that I'll reference here.

[2021-05-07 07:18] cpanato commented on #4961
@n3wscott oh! i missed/forgot this one :( my fault

I will take care this over the weekend

[2021-05-07 12:06] #4921 closed

[2021-05-07 12:41] duglin opened #5368 "Allow for blocking of NS->NS eventings via Sink specification"
There are going to be some environments where tenants are isolated by namespaces, and in those cases the idea of someone creating an eventing CR to send events to a different NS's sink becomes problematic. While there will be cases where this will be ok, we should consider if there are some config options we can have that would allow people to configure this on a case-by-case basis.

Some options:

[2021-05-07 14:41] n3wscott commented on #4943
/open

WHOOPS!! wrong issue.

[2021-05-07 14:42] n3wscott commented on #4931
Fixed by https://github.com/knative/eventing/issues/4931

[2021-05-07 14:43] #4931 closed

[2021-05-07 15:09] #4961 closed

[2021-05-07 15:33] n3wscott commented on #4929
/assign

[2021-05-07 16:47] #4924 closed

[2021-05-07 16:47] #5353 closed

[2021-05-09 13:50] evankanderson commented on #5364
Interesting comment on the original definition: https://github.com/knative/eventing/pull/1949#discussion_r328193021

Also ref the original doc: https://docs.google.com/document/d/1qRrzGoHJQO-oc5p-yRK8IRfugd-FM_PXyM7lN5kcqks/edit#heading=h.k1s530888nl1

[2021-05-10 12:41] matzew commented on #4950
adding a smoke test in this PR: https://github.com/knative/eventing/pull/5371

[2021-05-10 14:34] vaikas commented on #5364
The original intent I think was that for some native implementations, they could expose a channel (in the status) that you could expose a a Rref (not URL, since it's a Ref to Channel) that you could then subscribe to using a Subscription if you wanted to receive the dead lettered events there. So, the Spec.Delivery says I'd like you to send dead lettered events here, but the Status would say, I al

[2021-05-10 14:38] runzexia opened #5374 "trigger ready slow because addressable not ready"
**Describe the bug**
mtbroker controller would not care about addressable is ready.
which cause retry backoff, but when addressable ready, mtbroker controller would not receive notification.

 **Expected behavior**
trigger reconcile immediate after addressable update

 **To Reproduce**
1. create ksvc (need a long time became ready) & create trigger use that ksvc as subscriber
2. wait ksvc ready
3.

[2021-05-10 14:44] vaikas commented on #5374
Just to make sure I understand, are you saying that the lag between addressable becoming ready and when broker sees it ready is too long (the time between steps 2 and 3 in your example)? Meaning that perhaps we're not setting the tracker up properly?

[2021-05-10 14:54] runzexia commented on #5374
yes, I saw the sourceTracker in the code, but not have addressableTracker

[2021-05-10 14:54] vaikas commented on #5291
/close
this has not been failing and lots of work has gone in there so probably got fixed somewhere along the way. It will get reopened if it comes back.

[2021-05-10 14:54] #5291 closed

[2021-05-10 14:55] vaikas commented on #5260
/close
This has not been failing for awhile, probably got fixed somewhere along the way. It will get reopened if that's not the case.

[2021-05-10 14:56] #5260 closed

[2021-05-10 14:57] vaikas commented on #5259
/close
Closing this since it hasn't been failing, lots of work has gone here and it will get reopened if it's still flaky.

[2021-05-10 15:01] matzew opened #5375 "Flaky API Server Source rekt test"
There is a flaky test on the API Server Source, the `TestApiServerSourceDataPlane_ResourceMatching` test.

See here: https://storage.googleapis.com/knative-prow/pr-logs/pull/knative_eventing/5371/pull-knative-eventing-reconciler-tests/1391741188385542144/build-log.txt

[2021-05-10 15:03] vaikas commented on #5374
Lol, well, looks like there's a comment there that there should be one :)
https://github.com/knative/eventing/blob/main/pkg/reconciler/broker/trigger/trigger.go#L73

Maybe it's not set up correctly or there's a bug somewhere.
https://github.com/knative/eventing/blob/25f0fcb068f312a272c13211f80e5af12877e3b4/vendor/knative.dev/pkg/resolver/addressable_resolver.go#L41

[2021-05-10 16:33] lberk commented on #5374
@runzexia are you able to test and reproduce on a newer version of knative? there have been some bug fixes in this area since v0.17

Thanks

[2021-05-10 16:36] lberk commented on #5375
@matzew I think this week is your week for community help -- would you be able to look into this? thanks!

[2021-05-10 19:31] evankanderson commented on #5364
Two questions:

1. Do we have any existing channels using the `status.deadLetterChannel`?
2. Do we want to resolve `deadLetterSinkUri` in the status and add a field for it like other destinations??

[2021-05-11 02:22] #5374 closed

[2021-05-11 09:41] vaikas commented on #5364
1. I'm not aware of them, @slinkydeveloper @pierDipi does Kafka for example do this? I can't recall which channel was thought that this would be desireable.
2. That seems totally reasonable to me and consistency is good.

[2021-05-11 11:06] mgencur commented on #5357
@vaikas yes, these seem to be related. I think using secrets/roles/serviceaccounts that match the given namespace sound good. Looking at the Eventing test suite, some tests require two event logging pods (one for logging and one for transforming events) but not more - 2 is the max. So, all namespaces could be preconfigured to have 2 different secrets/roles/serviceaccounts matching the namespace na

[2021-05-11 12:08] knative-test-reporter-robot opened #5379 "[flaky] test/rekt.TestBrokerWithDLQ/SourceToTwoSinksWithDLQ/Setup/install_recorder2"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerWithDLQ/SourceToTwoSinksWithDLQ/Setup/install_recorder2
* **Repository name**: eventing

[2021-05-11 12:08] knative-test-reporter-robot opened #5380 "[flaky] test/rekt.TestBrokerWithDLQ/SourceToSinkWithDLQ/Setup/install_recorder"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerWithDLQ/SourceToSinkWithDLQ/Setup/install_recorder
* **Repository name**: eventing

[2021-05-11 14:06] vaikas commented on #5357
@mgencur I'm calling it a day, and will follow up later, but in Eventing for conformance, we actually create many pods when we're testing triggers, dlqs, etc.

[2021-05-12 01:57] nak3 opened #5388 "Collect `pod-logs` only when test failed"
Currently pod logs are always collected in `pod-logs` and so it takes long time to report "Test Passed!" and use a lot of storage.

For example, please see [this log directory](https://console.cloud.google.com/storage/browser/knative-prow/pr-logs/pull/knative_eventing/5385/pull-knative-eventing-conformance-tests/1392236961564987392/artifacts/9bc958d5-b2a3-11eb-be2c-0e6215532324?pageState=(%22Stora

[2021-05-12 12:06] knative-test-reporter-robot opened #5389 "[flaky] test/rekt.TestSmoke_Trigger//Setup/install_trigger_"name63-01234567890123456789012345678901234567890123456789012345""
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestSmoke_Trigger//Setup/install_trigger_"name63-01234567890123456789012345678901234567890123456789012345"
* **Repository name**: eventing

[2021-05-12 15:19] #4736 closed

[2021-05-13 01:33] #2461 closed

[2021-05-13 12:08] knative-test-reporter-robot opened #5395 "[flaky] test/rekt.TestSmoke_PingSource/PingSource_goes_ready./Setup/install_a_PingSource#17"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestSmoke_PingSource/PingSource_goes_ready./Setup/install_a_PingSource#17
* **Repository name**: eventing

[2021-05-13 12:08] knative-test-reporter-robot opened #5396 "[flaky] test/rekt.TestSmoke_PingSource"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestSmoke_PingSource
* **Repository name**: eventing

[2021-05-13 13:34] duglin commented on #5368
I may need to be clearer on this. We're not looking for eventing to do some kind of network security. Yes there are broader issues w.r.t. NS->NS communications. This issue is JUST about a config flag that will allow an admin to disable the ability for someone to specify a Namespace in the CR's Destination Object Reference. Meaning, it would force people to only specify a Sink in the same NS as the

[2021-05-14 01:27] #3444 closed

[2021-05-14 12:06] #5379 closed

[2021-05-14 12:06] #5380 closed

[2021-05-14 13:57] evankanderson commented on #5368
Does this need to be built in to Knative, or would something like [OPA gatekeeper] (https://github.com/open-policy-agent/gatekeeper) be sufficient to enforce that the namespace field is empty?

As an added bonus, this could also enforce things about the URL if needed...

[2021-05-14 14:03] evankanderson commented on #5368
If we decide policy controls is the way to go here, I'd say that a min bar would be documenting this in the admin guide on the website.

It's also possible that we'd want to document an equivalent pattern using identity, where the multi-tenant eventing components would need to be able to present a namespace-specific identity...

[2021-05-14 14:03] lionelvillard commented on #5368
/cc @aavarghese

[2021-05-14 16:59] snneji commented on #4912
/assign

[2021-05-15 12:07] #5389 closed

[2021-05-15 12:07] knative-test-reporter-robot opened #5399 "[flaky] _build_tests.Verify_CodeGen"
### Auto-generated issue tracking flakiness of test
* **Test name**: _build_tests.Verify_CodeGen
* **Repository name**: eventing

[2021-05-16 12:06] knative-test-reporter-robot opened #5400 "[flaky] 1.97% tests failed in repo eventing on 2021-05-16 08:52:19 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.97% tests failed in repo eventing on 2021-05-16 08:52:19 +0000 UTC
* **Repository name**: eventing

[2021-05-17 08:18] slinkydeveloper commented on #5364
Seems like we're not using it. Looking at code, the `channel.spec.deadlettersink` is resolved directly by the subscriptions (duck) reconciler when there is a deadlettersink in the channel, but not in the subscription. I can't find any usage of the field inside the status.

[2021-05-17 12:06] #5395 closed

[2021-05-17 12:06] #5396 closed

[2021-05-17 22:09] pierDipi commented on #3911
/remove-lifecycle stale

[2021-05-18 07:21] slinkydeveloper commented on #5086
Yet another issue with api version here: https://github.com/knative-sandbox/eventing-kafka/issues/624

[2021-05-18 07:38] slinkydeveloper commented on #5086
I refactored the issue as experimental feature, including an implementation plan. Unless there are any particular objections, I'm going to move forward with the initial implementation and the inclusion process.

[2021-05-18 12:06] #5399 closed

[2021-05-18 12:06] knative-test-reporter-robot opened #5406 "[flaky] kubetest2.Up"
### Auto-generated issue tracking flakiness of test
* **Test name**: kubetest2.Up
* **Repository name**: eventing

[2021-05-18 12:39] cardil opened #5407 "[QE] Wathola `ReceiveEvent` type should return `protocol.Result` to inform sender of failure of event processing"
Problematic code is in this line:

https://github.com/knative/eventing/blob/200e54c6ce48f1770df5e6c27ef2ac226fe9ee95/test/upgrade/prober/wathola/client/receiver.go#L34

It defines `ReceiveEvent` type as a function that can be passed as a handler for cloudevents client. This function should return `protocol.Result` as listed on [cloudevents StartReceiver func](https://pkg.go.dev/github.com/cloudeve

[2021-05-18 12:40] cardil commented on #5407
/area test-and-release

[2021-05-18 12:40] slinkydeveloper commented on #5407
It seems to me like `ReceiveEvent` is recreating the `binding.Receiver` interface from the sdk?

[2021-05-18 13:30] cardil commented on #5407
@slinkydeveloper That's not the point. The point is that the function should enforce returning error, so that cloudevents Client return non 200 code to sender in case of an error..

[2021-05-18 15:05] runzexia opened #5408 "Feature Request: request log in eventing"
**Problem**
no unified request log in the broker and channel, which makes the observability insufficient.
In serving area, has configurable request log
https://github.com/knative/serving/blob/main/pkg/http/request_log.go

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which persona is this feature for?
developer/producer/System Integrator
**Exit Criteria**
A measura

[2021-05-18 15:12] slinkydeveloper commented on #5407
Ah ok, my bad

[2021-05-18 22:20] #5347 closed

[2021-05-19 06:30] slinkydeveloper opened #5411 "`Subscription.Spec.Channel` should use `KReference` instead of `corev1.ObjectReference`"
**Describe the bug**
`Subscription.Spec.Channel` uses `corev1.ObjectReference`, which has fields we don't need, and we don't support. Per documentation:

https://github.com/knative/eventing/blob/0653ac408d380e779dad176daf455f171784572b/pkg/apis/messaging/v1/subscription_types.go#L76-L92

Also the CRD definition is wrong, because the schema contains those fields we don't support in that definition:

[2021-05-19 07:03] matzew commented on #5411
Ughh...  nice catch!

[2021-05-19 10:15] vaikas commented on #5411
Thanks for catching this. Yeah, KReference was added after that for the reasons you mention, and that particular field in subscription just apparently was never updated :(

"Nice thing" is that it's wire compatible for yaml so it won't break anything there, but if anybody is using client libraries they will need to change.

[2021-05-19 12:06] knative-test-reporter-robot opened #5415 "[flaky] test/upgrade.TestEventingUpgrades/UpgradeWith/EventingGitHead"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestEventingUpgrades/UpgradeWith/EventingGitHead
* **Repository name**: eventing

[2021-05-19 12:06] knative-test-reporter-robot opened #5416 "[flaky] test/rekt.TestBrokerConformance/Knative_Broker_Specification_-_Control_Plane/Delivery_Spec_-_dlq-test-1/Setup/Create_Trigger1_with_recorder"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerConformance/Knative_Broker_Specification_-_Control_Plane/Delivery_Spec_-_dlq-test-1/Setup/Create_Trigger1_with_recorder
* **Repository name**: eventing

[2021-05-19 12:40] #5411 closed

[2021-05-19 13:56] benmoss commented on #5415
I'm guessing this is some GKE environment issue, it boils down to a
[code]
coming from `kubectl apply`

[2021-05-19 13:58] benmoss commented on #5416
I think this is a chaosmonkey problem
[code]

[2021-05-19 22:12] evankanderson commented on #3092
/remove-lifecycle stale

[2021-05-19 22:16] evankanderson commented on #3092
It would be nice for Broker/Channel to implement this on both sides:

1. Ingress: respond to HTTP OPTIONS with `Allow: Post` and `Webhook-Allowed-Origin: *`
2. Sending: preflight HTTP OPTIONS with `Webhook-Request-Origin` of a DNS name for the subscriber (?). In a variance from the [webhook spec](https://github.com/cloudevents/spec/blob/master/http-webhook.md#4-abuse-protection), I'd suggest that

[2021-05-20 01:15] acodetailor commented on #5209
no error

[2021-05-20 11:46] #4812 closed

[2021-05-20 14:03] benmoss opened #5421 "pingsource-mt-adapter dispatcher panics during reconciler-tests"
While combing through the test artifacts output by https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_eventing/5419/pull-knative-eventing-reconciler-tests/1395112946597629952 I saw that there is a panic coming from the pingsource-mt-adapter dispatcher:

[code]

[2021-05-20 14:30] #5416 closed

[2021-05-20 14:44] lionelvillard commented on #5421
Which artifact? Can you paste the link here?

Do you see `Error building statsreporter` in the log?

[2021-05-20 14:48] benmoss commented on #5421
https://storage.googleapis.com/knative-prow/pr-logs/pull/knative_eventing/5419/pull-knative-eventing-reconciler-tests/1395112946597629952/artifacts/19d75780-b8e0-11eb-88d1-f258dea675b6/k8s.log.txt

Nope, I don't see that error

[2021-05-20 15:35] xinydev opened #5422 "imc-dispatcher serve requests before synced all channel-host map"
**Describe the bug**

In a cluster with lots of in-memory-channels(300+ ) and high QPS to each channel, when we scale up imc-dispatcher, the newly created dispatcher pod may suffer an error

[code]

 **Expected behavior**

no error in the newly created imc-dispatcher pod

 **To Reproduce**

1. create 300+ or more inmemorychannels
2. keep sending requests to all these channels
3. scale up imc-dispa

[2021-05-20 22:01] #5421 closed

[2021-05-21 03:10] #5215 closed

[2021-05-21 12:35] antoineco opened #5427 "Un-deliverable events not sent to dead-letter sink if original receiver responds with non-CE data"
**Describe the bug**

Given the following topology, where "Sockeye" is configured as a dead-letter sink in the Subscription, events are dropped by the dispatcher if the "405 HTTP" receiver responds with non-CloudEvent data:

[code]

The error logged by the dispatcher is:

[code]

 **Expected behavior**

Although I purposely used a broken receiver in the scenario above, it is easy to imagine a situ

[2021-05-21 14:25] antoineco opened #5428 "Ping source shows Ready but doesn't send events when `contentType` is not set"
**Describe the bug**

The Ping source silently stops sending events when `contentType` isn't set, although it is an optional attribute.

 **Expected behavior**

The source either:
- rejects a spec without contentType via webhook or CRD
- shows a failure
- sends events without content type

 **To Reproduce**

[code]

 **Knative release version**

v0.22

cc. @lionelvillard @eclipselu

[2021-05-21 14:50] antoineco commented on #5428
I'm unsure why this is happening. The CloudEvents Go SDK seems to default to "text/plain" when an empty string is passed to `SetData("", data)`. I also can't find any error message in the logs.

[2021-05-22 12:06] #5415 closed

[2021-05-22 21:01] cjhetzle commented on #5069
Just to say that I'm interested in looking into this. @Cam.Machi

[2021-05-23 12:06] knative-test-reporter-robot opened #5430 "[flaky] test/upgrade.TestEventingUpgrades/VerifyContinualTests/EventingContinualTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestEventingUpgrades/VerifyContinualTests/EventingContinualTest
* **Repository name**: eventing

[2021-05-24 01:29] #2880 closed

[2021-05-24 01:29] #2584 closed

[2021-05-24 01:29] #2221 closed

[2021-05-24 01:29] #2039 closed

[2021-05-24 05:55] pierDipi commented on #3359
/remove-lifecycle stale

[2021-05-24 08:52] aliok commented on #4514
/remove-lifecycle stale

[2021-05-24 08:56] #5388 closed

[2021-05-24 10:24] antoineco commented on #5428
This is actually a Sockeye issue.

[code]

Closing

[2021-05-24 10:24] #5428 closed

[2021-05-24 12:06] knative-test-reporter-robot opened #5431 "[flaky] test/rekt.TestEventTransformationForSubscriptionV1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestEventTransformationForSubscriptionV1
* **Repository name**: eventing

[2021-05-24 12:06] knative-test-reporter-robot opened #5432 "[flaky] test/rekt.TestEventTransformationForSubscriptionV1/EventTransformation/Assert/[Stable/MUST]sink_receives_events_sink_receives_events"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestEventTransformationForSubscriptionV1/EventTransformation/Assert/[Stable/MUST]sink_receives_events_sink_receives_events
* **Repository name**: eventing

[2021-05-24 12:06] knative-test-reporter-robot opened #5433 "[flaky] test/rekt.TestEventTransformationForSubscriptionV1/EventTransformation/Assert/[Stable/MUST]events_have_passed_through_transform_service_events_have_passed_through_transform_service"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestEventTransformationForSubscriptionV1/EventTransformation/Assert/[Stable/MUST]events_have_passed_through_transform_service_events_have_passed_through_transform_service
* **Repository name**: eventing

[2021-05-24 15:50] cardil commented on #5430
/assign

[2021-05-24 16:05] cardil commented on #5430
Looking at the failed reports we got missing events, despite we are now using retry options of:

https://github.com/knative/eventing/blob/e48c80d7f969df12aff6a7f5e7f34625f95efbbd/test/upgrade/prober/sut/broker.go#L33-L35

Stats:

- [#1396207256462168064](https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-eventing-continuous/1396207256462168064): 2 missed  in 32118 events - 0.0062% chan

[2021-05-25 14:30] benmoss commented on #5431
/assign

[2021-05-25 17:27] devguyio commented on #3567
decided and being implemented [here](https://github.com/knative/eventing/projects/19) and on the TOC level [here](https://github.com/knative/community/issues/383)

[2021-05-25 17:27] #3567 closed

[2021-05-25 21:34] benmoss commented on #5432
Duplicate of https://github.com/knative/eventing/issues/5431

/close

[2021-05-25 21:34] #5432 closed

[2021-05-25 21:35] benmoss commented on #5433
Duplicate of https://github.com/knative/eventing/issues/5431

/close

[2021-05-25 21:35] #5433 closed

[2021-05-26 01:30] #4623 closed

[2021-05-26 06:37] tzununbekov commented on #5427
/assign

[2021-05-26 15:30] #5431 closed

[2021-05-27 09:56] #5427 closed

[2021-05-27 09:59] slinkydeveloper commented on #5086
The implementation PRs for the inclusion are ready to review:

* https://github.com/knative/pkg/pull/2127
* https://github.com/knative/eventing/pull/5440

I'm working on the doc PR right now.

[2021-05-27 11:23] cardil opened #5441 "[QE] Default SUT for upgrade tests shouldn't wait to be ready, but rely on WaitForAllTestResourcesReadyOrFail"
Currently, there is a code that waits for triggers to report ready:

https://github.com/knative/eventing/blob/674815e0fb549fb34ea23a28b2f84c068ad300ce/test/upgrade/prober/sut/broker.go#L136-L139

And that code is invoked before those trigger's subscribers are even deployed:

https://github.com/knative/eventing/blob/674815e0fb549fb34ea23a28b2f84c068ad300ce/test/upgrade/prober/prober.go#L192-L196

W

[2021-05-27 11:24] cardil commented on #5441
/assign

[2021-05-27 11:24] cardil commented on #5441
/area test-and-release

[2021-05-27 12:40] cardil opened #5442 "Trigger can pass `duck.WaitForResourceReady` on GKE without subscriber being deployed yet"
**Describe the bug**
We have been hit by upgrade tests, which hadn't passed `duck.WaitForResourceReady` on trigger with subscriber that haven't deployed yet.

See related #5441 for description.

The code passes `duck.WaitForResourceReady` on GKE, but failed (properly) on OpenShift.

 **Expected behavior**
Trigger shouldn't report _Ready_ without subscriber being deployed.

 **To Reproduce**
https:

[2021-05-28 01:30] #4513 closed

[2021-05-28 01:30] #4462 closed

[2021-05-28 21:49] pierDipi commented on #4946
Hi @n3wscott, can you please update this issue with what is already done?
I see, we have some features here https://github.com/knative/eventing/tree/main/test/rekt/features/broker, that might cover the `Smoketest for minimum required fields.` and `Simple integrations.`

[2021-05-30 12:06] knative-test-reporter-robot opened #5452 "[flaky] test/rekt.TestBrokerConformance/Knative_Broker_Specification_-_Control_Plane/Trigger,_With_Filters/Setup/Install_Subscriber#01"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerConformance/Knative_Broker_Specification_-_Control_Plane/Trigger,_With_Filters/Setup/Install_Subscriber#01
* **Repository name**: eventing

[2021-05-31 04:53] xinydev commented on #2980
@lionelvillard  Hi, I am interested in this issue. Do you still working on this? Thanks!

[2021-05-31 12:07] knative-test-reporter-robot opened #5454 "[flaky] test/e2e.TestPingSourceV1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestPingSourceV1
* **Repository name**: eventing

[2021-05-31 12:49] #5441 closed

[2021-05-31 13:14] aliok commented on #5375
/assign

[2021-05-31 13:14] aliok commented on #4945
/assign

[2021-05-31 13:25] lionelvillard commented on #2980
@xinydev I haven't started yet. Reassigning to you, thanks!

As a starting point, you can look at how PingSource implements retries: https://github.com/knative/eventing/blob/main/pkg/adapter/mtping/runner.go#L88

[2021-05-31 13:26] lionelvillard commented on #2980
/assign @xinydev

[2021-05-31 18:10] abrennan89 commented on #4909
@omerbensaadon I don't think so, this one isn't assigned to me, I just did some clean up re apiserversource docs in #3351 - probably won't work on this any time soon

[2021-06-01 07:46] rhuss commented on #2474
@slinkydeveloper so, is it that you can specify the namespace of a sink in the SinkBindingSpec and this is accepted even when it points to another namespace ? If so, I'm fine with closing this issue.

/remove-lifecycle stale

[2021-06-01 07:57] slinkydeveloper commented on #2474
TBH I don't know, @vaikas @n3wscott might know it better

[2021-06-01 10:49] skonto opened #5460 "Allow sidecar containers for Sources"
**Problem**
There are cases where a sidecar container is required to run along with the source container, in my case its [rbac-proxy](https://github.com/brancz/kube-rbac-proxy) and the goal is to secure metric endpoints. Right now it seems that the reconciler logic updates the source deployment with an expected hard-coded spec eg. apiserversource, kafkasource etc, prohibiting any changes to the de

[2021-06-01 12:05] #5452 closed

[2021-06-01 13:31] n3wscott commented on #2474
We do not support cross namespace resource resolution at the moment. The controller is not setting the namespace btw, it is the defaulting webhook.

[2021-06-01 13:33] n3wscott commented on #2474
You should be able to set the namespace of the same namespace as the top level resource, other namespaces will return an error from the validating webhook.

[2021-06-01 15:29] benmoss commented on #5454
https://github.com/kubernetes/kubernetes/issues/67761
[code]

[2021-06-02 01:31] #4753 closed

[2021-06-02 01:32] berlinsaint opened #5463 "Broker not ready .even i have changed the default broker class"
**Describe the bug**
according to the doc , i have create  broker like this;
![image](https://user-images.githubusercontent.com/10629930/120409890-7d497e80-c384-11eb-989b-1f5710bafd2d.png)

![image](https://user-images.githubusercontent.com/10629930/120409798-4d9a7680-c384-11eb-9175-13dc474a1633.png)

but i have this output..
![image](https://user-images.githubusercontent.com/10629930/120410294-49

[2021-06-02 08:09] pierDipi commented on #5463
You need to install a broker implementation: https://knative.dev/docs/install/install-eventing-with-yaml/#optional-install-a-broker-layer and since you want to use the MTChannelBasedBroker class, you need a channel implementation https://knative.dev/docs/install/install-eventing-with-yaml/#optional-install-a-default-channel-messaging-layer

[2021-06-02 09:48] cardil commented on #5430
I've looked at recent failures, and Change of this lost event is quite low, but continue to flag this test as flaky.

I think this isn't a problem of test, but Eventing fault.

/cc @vaikas @lionelvillard @aliok

[2021-06-02 12:31] aliok commented on #5375
I tried understanding this and I couldn't.
No problems at all locally. I can't see anything strange in the test code or in the ApiServerSource code.

Stopping working on it.

[2021-06-03 07:47] aliok commented on #5375
/unassign

[2021-06-03 09:11] slinkydeveloper commented on #5086
And here is the doc PR: https://github.com/knative/docs/pull/3713

[2021-06-03 12:08] #5454 closed

[2021-06-03 14:55] xinydev commented on #5375
@aliok  Do we need to add a step to wait for eventshub sink to be ready before eventasssert ?

[2021-06-04 03:34] berlinsaint commented on #5463
Thanks a lot, my fault ...

[2021-06-04 03:34] #5463 closed

[2021-06-04 07:41] vaikas commented on #5086
The one thing that's not in the 'todo list' is that now every component that potentially does the resolving will need their RBAC rules updated to include listing/watching of the CRDs so as not to always hit the api server.

[2021-06-04 07:59] slinkydeveloper commented on #5086
Yep, but it sounds like we already require it for other reasons: https://github.com/knative/eventing/blame/main/config/core/roles/controller-clusterroles.yaml#L129. Is that what you are referring to?

[2021-06-04 08:46] aliok commented on #5375
@xinydev thanks for the help.

Test does call `eventshub.Install(sink, eventshub.StartReceiver)` https://github.com/knative/eventing/blob/25f0fcb068f312a272c13211f80e5af12877e3b4/test/rekt/features/apiserversource/data_plane.go#L252

`eventshub.StartReceiver`argument is a function which adds a special `EVENT_GENERATORS` environment variable.

Later within `eventshub.Install`, there's a check for t

[2021-06-04 09:16] vaikas commented on #5086
Right, for Subscription not necessary, but once this rolls out, say for example something like Sources will need this if it's injected. Not sure if it's only necessary if we flip the flag or if it gets injected and will prevent the controller from starting up. Just jotted it down as I was thinking about it :) We'll see.

[2021-06-04 09:46] slinkydeveloper commented on #5086
Ah I see what you mean... I'm not aware of any "dynamic" way for the controller to request RBAC at runtime (e.g. based on whether that flag is flipped or not), so the only viable solution I know is to request the RBAC for CRD anyway... Do you think this may be a problem?

[2021-06-04 12:04] vaikas commented on #5086
I'm not sure it's necessarily a problem, but what I was wondering is that once there's something in pkg that uses the CRD lister, then any code that depends on it might need to be updated with those permissions. Again, I'm not sure if that's the case, but just jotted it down. Should be easy enough to test on something that doesn't have that permission, bring your branch in and see if anything brea

[2021-06-04 12:41] slinkydeveloper commented on #5086
I see what you mean, that shouldn't be a problem because, unless you use `Kreference.ResolveGroup()` **directly**, everything behaves as usual and validation won't need such permissions, so nothing should be touched by that.

I can give it a spin with eventing-kafka-broker, which uses that kreference code (importing trigger spec) but doesn't require CRD RBAC

[2021-06-04 13:41] slinkydeveloper commented on #5086
@vaikas all E2E tests work properly here, so I think we're good: https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative-sandbox_eventing-kafka-broker/965/pull-knative-sandbox-eventing-kafka-broker-integration-tests/1400799445372637184

[2021-06-05 00:31] xtreme-sameer-vohra commented on #5039
Hey @devguyio
Do we have the `why` behind this issue stated somewhere ? It would be useful to share this context for newer folks, specially since this is substantial effort.

[2021-06-06 03:36] 2020testuser opened #5472 "Source in v1"
**Describe the bug**
This is not a bug nor a feature request ( I believe). In the older version of eventing, I used the package 'v1beta1'  for my Source creation. Now, I see 'v1beta1'(knative.dev/eventing/pkg/apis/sources/v1beta1)  has been removed. Could anyone please let me know how I can create an instance of PingSource in version 'v1'(knative.dev/eventing/pkg/apis/sources/v1) . The functions t

[2021-06-06 04:29] 2020testuser commented on #5472
Sorry. Wrong post. Closing...

[2021-06-06 04:29] #5472 closed

[2021-06-07 07:06] aliok commented on #5375
/open

This is closed by mistake

[2021-06-07 07:40] xinydev commented on #5375
@aliok

Hi, this PR https://github.com/knative/eventing/pull/5446 may fix this flaky test.

But I am still curious if there is a scenario where `reflector.Run(stop)` will execute for a long time. The actual watch operation will happen after the example pod is created

https://github.com/knative/eventing/blob/db83525661ba235742764277b2f18f424090d68d/pkg/adapter/apiserver/adapter.go#L110-L111

[2021-06-07 07:53] aliok commented on #5375
@xinydev that's great! I think your solution makes sense and I hope it fixes the problem.

About, `reflector.Run(stop)`: I don't see any scenarios where it will take long time. Let's see first if the flakiness is gone.

Thanks!

[2021-06-07 10:10] vaikas commented on #5086
Ok cool! Thanks for checking :)

[2021-06-07 12:06] knative-test-reporter-robot opened #5473 "[flaky] pkg/adapter/v2.TestNewCloudEventsClient_receiver/malformed_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/adapter/v2.TestNewCloudEventsClient_receiver/malformed_event
* **Repository name**: eventing

[2021-06-07 12:06] knative-test-reporter-robot opened #5474 "[flaky] pkg/adapter/v2.TestNewCloudEventsClient_receiver/binary_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/adapter/v2.TestNewCloudEventsClient_receiver/binary_event
* **Repository name**: eventing

[2021-06-07 12:11] omerbensaadon commented on #4998
If anyone in the Eventing WG can contribute to this effort, the UX WG will be happy to have them.

@skonto is currently working on a reference architecture based on Istio's bookstore, which may be relevant here.

[2021-06-07 16:44] lberk commented on #5430
@zhongduo as the community contact this week, would you be able to take a look at this flaky test? thanks!

[2021-06-07 16:49] lberk commented on #5407
@cardil any suggestions as the priority for this issue?

[2021-06-07 19:35] zhongduo commented on #5474
@tzununbekov Can you check the test failure here: https://prow.knative.dev/view/gs/knative-prow/logs/ci-knative-eventing-continuous/1401522371126366208

The failure rate is still low so I think it is OK to not worry about it for now, but in case you see any possible errors.

[2021-06-07 20:00] zhongduo commented on #5430
@cardil  I remember that we believe the in memory channel will not pass the upgrade test. I am not sure how the retry can solve the problem if it is still in memory. The event missing rate is very low to me, so if we don't want to guarantee that the in-memory broker should pass the upgrade test, should we make it ignore error?

[2021-06-08 07:49] aliok commented on #5023
/remove-lifecycle stale

[2021-06-08 12:05] knative-test-reporter-robot opened #5482 "[flaky] test/upgrade.TestEventingUpgrades/DowngradeWith/EventingLatestRelease"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestEventingUpgrades/DowngradeWith/EventingLatestRelease
* **Repository name**: eventing

[2021-06-08 13:28] zhongduo commented on #5482
the failure is due to unable to download release version, which likely means network issue.

[2021-06-08 14:34] cardil commented on #5407
It's unlikely we are hitting problems because of this, but it would be good to properly fix this. I think this issue might be a requirement to fix knative/operator#297

[2021-06-08 15:16] dprotaso commented on #5185
As a precursor this PR should setup the right schemes: https://github.com/knative/eventing/pull/5477

This should enable my k8s bump (https://github.com/knative/pkg/pull/2145) to re-wire these schemes to use `unstructured.*` types.when the fake dynamic client is setup (using injection).

[2021-06-08 16:15] benmoss commented on #5474
If I was a betting man I would put money on these lines being the problem: https://github.com/knative/eventing/blob/92d85bf916e967a229fe636105f73daf391ff609/pkg/adapter/v2/cloudevents_test.go#L381-L382

[2021-06-08 19:35] zhongduo commented on #5474
@benmoss did you mean the sleep should be longer?

[2021-06-08 20:01] benmoss commented on #5474
Ideally we wouldn't need to sleep, I tried to implement a retrying http request with https://github.com/hashicorp/go-retryablehttp but weirdly it then failed more often. Tried to dig into the cloudevents receiver code but got lost.

[2021-06-09 11:38] matzew opened #5484 "Use v1 API for PodDisruptionBudget"
**Describe the bug**

apply against 1.21 gives this warning:

[code]

[2021-06-09 12:05] #5473 closed

[2021-06-09 15:32] benmoss commented on #5482
More network issues on today's run:
[code]

[2021-06-09 16:38] #5482 closed

[2021-06-09 17:05] cardil commented on #5430
@zhongduo after recent changes (retries configured) the IMC mostly passes this test. I think we should guarantee the broker with IMC with retries should pass this test. It looks like it mostly do. Only sometimes it misses just 1-2 events, but that's in about 30k.

I think we should know what is happening to those 1-2 missed events. Where and why are we missing them?!?

[2021-06-10 11:13] pierDipi commented on #2841
/remove-lifecycle stale

[2021-06-12 12:07] knative-test-reporter-robot opened #5499 "[flaky] test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1/min-event_encoding_structured_version_1.0"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1/min-event_encoding_structured_version_1.0
* **Repository name**: eventing

[2021-06-12 12:07] knative-test-reporter-robot opened #5500 "[flaky] test/conformance.TestChannelDataPlaneSuccess"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess
* **Repository name**: eventing

[2021-06-14 11:08] snneji commented on #4909
/assign

[2021-06-14 13:03] mkaim opened #5506 "Can I get events from Knative broker on request?"
Hi!

Is it possible to connect to the Knative broker as a consumer for event reading without using a trigger mechanism? I'm trying to gather events (let's say N latest) on request rather than starting consumer HTTP server and setting up a trigger.

Thanks,
M. Kaim

_Originally posted by @mkaim in https://github.com/knative/eventing/discussions/5497_

[2021-06-14 14:12] cardil commented on #5442
This isn't yet fixed in eventing, the #5443 still fails. Eventing needs updated knative/pkg to fix this.

[2021-06-14 14:12] cardil commented on #5442
/reopen

[2021-06-14 15:35] #4912 closed

[2021-06-14 17:10] pierDipi commented on #5506
Hi @mkaim 👋, thanks for opening this issue!

The problem with this is that not all implementations might support your use case since some backing technologies aren't pull-based by design, can you share what's your setup is? what channel or broker are you using?

[2021-06-14 22:01] cardil opened #5510 "SinkBinding with subject described with `MatchLabels` on `metav1.LabelSelector` can report Ready without subject being deployed"
**Describe the bug**
SinkBinding sometimes reports _Ready_ even if its subject isn't ready (or even deployed). This bug is similar to #5442.

 **Expected behavior**
SinkBinding shouldn't report _Ready_ without matching subject being ready.

 **To Reproduce**
#5511

 **Knative release version**
TBD

[2021-06-15 06:40] maschmid commented on #5510
Why can't the SinkBinding be ready without a matching subject? IMHO the SinkBinding readiness signifies that it is Ready to properly modify a matching subject when it is created, but it is perfectly fine to create it afterwards.

(SinkBinding Readiness should signify the webhook is ready to properly modify a matching subject when it exists, so. e.g. if it ready before the webhook is modified to ac

[2021-06-15 06:46] maschmid commented on #5510
e.g. consider the example with SinkBinding and CronJob in https://knative.dev/docs/eventing/sources/sinkbinding/ ,   The whole setup is ready when SinkBinding and CronJob are created.  (but SinkBinding's subjects are the Jobs created by the CronJob later)

[2021-06-15 07:14] mkaim commented on #5506
I've created the broker basing on: https://knative.dev/docs/eventing/broker/create-mtbroker/.
Maybe my question could be more specific: does InMemoryChannel support pull-based requests?

[2021-06-15 07:43] cardil commented on #5510
SinkBinding actually returns the Ready status as "subject not present" or something in some cases. So, now, it's mixed, sometimes the absense of subject is propagated to Ready status but in other cases not. See the repro #5511.

I think that in cases where it is possible to report Readiness of SinkBinding, we should propagate the subject status as well. There are some exceptions to this, as you ha

[2021-06-15 07:48] cardil commented on #5430
@zhongduo Yes. It is in memory. The deleted deployment should send all accepted events while doing a teardown. If it's not doing that, it's a bug.

But, I doubt that is the case here. We'd be missing a lot more events if so.

[2021-06-15 13:45] aliok commented on #5506
@mkaim

Broker is something you would send your events to. It doesn't pull anything from anywhere.

Normally, you would have something that sends messages to the broker. For example a Knative source can do that.

However, you can write your own event puller that sends events to the broker. You can even use a Knative SinkBinding (https://knative.dev/docs/eventing/sources/sinkbinding/) to bind your

[2021-06-15 13:56] aliok commented on #5460
It would be a nice feature overall.

There are 2 options IMO:
1. Make things extensible: provide a mechanism to mutate the deployment spec
2. Feature flag: Hardcode the required sidecar container and only enable it when there's some boolean is equal to true

(2) is kind of no-go alttough it would be simpler but what happens if we add more stuff in the future?

@skonto Did you have the same issue i

[2021-06-15 13:59] aliok commented on #5375
/close

thanks @xinydev  for fixing this!

[2021-06-15 13:59] #5375 closed

[2021-06-15 14:30] xinydev commented on #5375
It was @benmoss who fixed this. I just quoted it. Thanks, benmoss!

[2021-06-15 15:08] mkaim commented on #5506
OK, probably I'm not still clear with my question, so maybe I'll ask in this way:
There is a broker that receives some events from producers. I (the consumer) want to connect to the broker (or channel) and as long as the connection exists I want to receive the events that just appears in broker, or I want on single request gather bunch of latest events. Can I achieve that somehow?

[2021-06-15 15:16] aliok commented on #5506
I understand.

I don't think there's any mechanism that can do that out of the box.

You can write your own consumer that keeps the events it receives from the broker and sends them over to the consumer when consumer asks from it in a pull based fashion you mention. I can't think of anything else.

[2021-06-15 15:50] benmoss commented on #5474
weird, this test is gone now, i think there might just have been one last run with it

/close

[2021-06-15 15:50] #5474 closed

[2021-06-16 07:56] mkaim commented on #5506
I thought so, but I wasn't sure. Thank you for the answer.

[2021-06-16 07:56] #5506 closed

[2021-06-16 12:02] #2776 closed

[2021-06-16 17:24] slinkydeveloper commented on #5086
The feature it's been approved and merged for the inclusion!

[2021-06-16 21:18] ghaih opened #5518 "Can add authentication to broker endpoint?"
Broker endpoint is accessible universally, from any name space. Someone could create malicious events passing HTTP post requests to the broker. Is there a way to add authentication to broker endpoint, a basic authentication, or having a service account attached to it.

Thanks.

[2021-06-17 12:06] knative-test-reporter-robot opened #5521 "[flaky] test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Data_Plane/Delivery_Spec_1/Assert/[Stable/SHOULD]Conformance_Channels_SHOULD_support_various_retry_configuration_parameters:_[the_maximum_number_of_retries]"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Data_Plane/Delivery_Spec_1/Assert/[Stable/SHOULD]Conformance_Channels_SHOULD_support_various_retry_configuration_parameters:_[the_maximum_number_of_retries]
* **Repository name**: eventing

[2021-06-17 19:07] xtreme-sameer-vohra opened #5522 "List of all enabled-by-default Annotations/Labels on Broker+Trigger objects & Configmaps that impact their behaviour"
# Ask
List of enabled by default Annotations & Labels on Broker+Trigger objects and their deprecation/support guarantees
List of all Configmap keys that impact the behaviour of those objects and their deprecation/support guarantees

# Context
Knative GA Requirements ->
- [Documenting Annotations/Labels](https://docs.google.com/document/d/1mC_nDpLIycqiBn5Om1tvbcY3yyAR3WUNXcHiyloEzhg/edit?ts=609d1aa

[2021-06-17 19:08] xtreme-sameer-vohra opened #5523 "List of all enabled-by-default Annotations/Labels on Channel+Subscription objects that impact their behaviour"
# Ask
List of enabled by default Annotations & Labels on Channel+Subscription objects and their deprecation/support guarantees

# Context
Knative GA Requirements ->
- [Documenting Annotations/Labels](https://docs.google.com/document/d/1mC_nDpLIycqiBn5Om1tvbcY3yyAR3WUNXcHiyloEzhg/edit?ts=609d1aaf#heading=h.rfuit899h5eb)

After gathering the list, we can confirm if identified items are already docum

[2021-06-17 19:09] xtreme-sameer-vohra opened #5524 "List of all enabled-by-default Annotations/Labels on Sequence+Parallel objects that impact their behaviour"
# Ask
List of enabled by default Annotations & Labels on Sequence+Parallel objects and their deprecation/support guarantees

# Context
Knative GA Requirements ->
- [Documenting Annotations/Labels](https://docs.google.com/document/d/1mC_nDpLIycqiBn5Om1tvbcY3yyAR3WUNXcHiyloEzhg/edit?ts=609d1aaf#heading=h.rfuit899h5eb)

After gathering the list, we can confirm if identified items are already document

[2021-06-17 19:10] xtreme-sameer-vohra opened #5525 "List of all enabled-by-default Annotations/Labels on Source objects that impact their behaviour"
# Ask
List of enabled by default Annotations & Labels on Source objects and their deprecation/support guarantees

# Context
Knative GA Requirements ->
- [Documenting Annotations/Labels](https://docs.google.com/document/d/1mC_nDpLIycqiBn5Om1tvbcY3yyAR3WUNXcHiyloEzhg/edit?ts=609d1aaf#heading=h.rfuit899h5eb)

After gathering the list, we can confirm if identified items are already documented (eg. [Br

[2021-06-17 19:46] xtreme-sameer-vohra opened #5526 "List of all Broker+Trigger related Configmap keys that impact their behaviour"
# Ask
List of ConfigMap keys that are used to manage Broker+Trigger configuration including the support policy.

# Context
Knative GA Requirements ->
- [Documenting ConfigMap fields](https://docs.google.com/document/d/1mC_nDpLIycqiBn5Om1tvbcY3yyAR3WUNXcHiyloEzhg/edit?ts=60cb80c1#heading=h.4uzygo1c6hqe)

After gathering the list, we can confirm if identified items are already documented (eg. [Broke

[2021-06-17 19:50] xtreme-sameer-vohra opened #5527 "List of all Channel+Subscription related Configmap keys that impact their behaviour"
# Ask
List of ConfigMap keys that are used to manage Channel+Subscription configuration including the support policy.

# Context
Knative GA Requirements ->
- [Documenting ConfigMap fields](https://docs.google.com/document/d/1mC_nDpLIycqiBn5Om1tvbcY3yyAR3WUNXcHiyloEzhg/edit?ts=60cb80c1#heading=h.4uzygo1c6hqe)

After gathering the list, we can confirm if identified items are already documented (eg.

[2021-06-17 19:50] xtreme-sameer-vohra opened #5528 "List of all Sequence+Parallel related Configmap keys that impact their behaviour"
# Ask
List of ConfigMap keys that are used to manage Sequence+Parallel configuration including the support policy.

# Context
Knative GA Requirements ->
- [Documenting ConfigMap fields](https://docs.google.com/document/d/1mC_nDpLIycqiBn5Om1tvbcY3yyAR3WUNXcHiyloEzhg/edit?ts=60cb80c1#heading=h.4uzygo1c6hqe)

After gathering the list, we can confirm if identified items are already documented (eg. [Br

[2021-06-17 19:51] xtreme-sameer-vohra opened #5529 "List of all Eventing Source related Configmap keys that impact their behaviour"
# Ask
List of ConfigMap keys that are used to manage Source configuration including the support policy.

# Context
Knative GA Requirements ->
- [Documenting ConfigMap fields](https://docs.google.com/document/d/1mC_nDpLIycqiBn5Om1tvbcY3yyAR3WUNXcHiyloEzhg/edit?ts=60cb80c1#heading=h.4uzygo1c6hqe)

After gathering the list, we can confirm if identified items are already documented (eg. [Broker Defaul

[2021-06-17 21:40] benmoss commented on #5442
It's been merged now, in https://github.com/knative/eventing/pull/5495

[2021-06-18 21:31] devguyio commented on #3359
There are many duplicates of the same issue. I'm cleaning old ones like this for the favor of the newest more up to date #5204. We can reopen if needed.

[2021-06-18 21:31] #3359 closed

[2021-06-18 21:31] devguyio commented on #930
There are many duplicates of the same issue. I'm cleaning old ones like this for the favor of the newest more up to date #5204.

[2021-06-18 21:31] #930 closed

[2021-06-18 21:32] devguyio commented on #5204
/assign

[2021-06-20 12:07] knative-test-reporter-robot opened #5533 "[flaky] test/conformance.TestBrokerDataPlaneIngress"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerDataPlaneIngress
* **Repository name**: eventing

[2021-06-20 12:07] knative-test-reporter-robot opened #5534 "[flaky] test/conformance.TestBrokerDataPlaneIngress/MTChannelBasedBroker-eventing.knative.dev/v1/Respond_with_2XX_on_good_CE"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerDataPlaneIngress/MTChannelBasedBroker-eventing.knative.dev/v1/Respond_with_2XX_on_good_CE
* **Repository name**: eventing

[2021-06-21 08:46] Spenhouet opened #5535 "Event Prioritization"
**Problem**
Given many events of the same type but for example for different groups. The group could be anything provided by the event producer e.g. a customer.

In our specific use-case we are limited by hardware resources (GPUs specifically).
There might be 1000 requests by group 1 and only 10 requests by group 2.
We would like the ability to apply some fairness factor so that group 2 will be sc

[2021-06-21 12:06] knative-test-reporter-robot opened #5536 "[flaky] test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_deprecated_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_deprecated_triggers
* **Repository name**: eventing

[2021-06-21 13:31] Shashankft9 commented on #5148
Hey, I have recently been looking at the option of configuring timeouts based on the workload to which the cloudevent is going. I have a knative service which takes a bit of time to do some processing to give back the response (basically file conversion use case). Currently I am just directly using the knative service URL to do the work - where we can set the maxTimeout period (in serving), but I

[2021-06-22 08:17] slinkydeveloper commented on #5148
Inclusion of this feature is approved! https://groups.google.com/g/knative-dev/c/7h1p0eBmUuo/m/lTzaSULKAQAJ

[2021-06-22 18:12] pierDipi commented on #5518
cc @knative/security-wg-leads

[2021-06-22 22:00] travis-minke-sap opened #5543 "Source CRD Controller Incorrectly Reconciling ALL CRDs"
**Describe the bug**
The `eventing-controller` is logging errors due to erroneously attempting to reconcile non Knative Source CRDs.

Sample error... (occurs for all non-knative CRDs in the cluster)
[code]

I spent a decent amount of time trying to resolve this but wasn't able to find the root cause.  From what I can tell the `FilterFunc` logic which filters the CRDs by label DOES work, and return

[2021-06-23 12:09] knative-test-reporter-robot opened #5544 "[flaky] pkg/kncloudevents.TestHTTPMessageSenderSendWithRetriesWithSingleRequestTimeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/kncloudevents.TestHTTPMessageSenderSendWithRetriesWithSingleRequestTimeout
* **Repository name**: eventing

[2021-06-23 12:09] #5536 closed

[2021-06-23 12:09] #5534 closed

[2021-06-24 08:01] ustiugov commented on #3126
hi all, I wonder when we could expect eventing to support OpenTelemetry.

[2021-06-24 08:38] skonto commented on #3126
@ustiugov if you are referring to the OTEL client go lib afaik it is not ready from a metrics perspective. Tracing is in better shape upstream. Integrating with the OTEL collector is possible as described in the [docs](https://knative.dev/docs/install/collecting-metrics/).

[2021-06-24 09:18] ustiugov commented on #3126
@skonto thank you. OpenTelemetry traces for Serving and our gRPC based functions work well.

With eventing, we are able to visualize Knative components but we do not know how to add the functions (also deployed with Serving), which generate ClouEvents and get triggered by them, to the same traces.

I wonder if there are any examples for that.

[2021-06-24 10:36] skonto commented on #3126
@ustiugov cloudevents client is observability aware so if you try setup tracing as in https://knative.dev/docs/eventing/accessing-traces/ you should see them for existing components. Same applies to services that utilize the same api and setup tracing accordingly: https://github.com/cloudevents/sdk-go/blob/43b8eca508219f50e528e86de1aa3df0f97546fa/samples/http/receiver-traced/main.go. For a concret

[2021-06-24 12:10] knative-test-reporter-robot opened #5548 "[flaky] test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1/full-event_encoding_binary_version_0.3"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1/full-event_encoding_binary_version_0.3
* **Repository name**: eventing

[2021-06-24 12:50] benmoss commented on #5543
/assign

[2021-06-24 13:35] benmoss commented on #5543
I think this is because the [informers are started before the controllers](https://github.com/knative/pkg/blob/a1bc850346b8d30906fabde6cb0457dae1624dbc/injection/sharedmain/main.go#L224-L231), so essentially the CRD informer is created and syncs all CRDs, and then the controller is created and adds the filtering event handler.

This lines up with what I'm seeing which is that it only reconciles th

[2021-06-24 14:08] lionelvillard commented on #5543
it seems like when the controller becomes the leader, all resources are put in the queue. There is a TODO: https://github.com/knative/pkg/blob/main/client/injection/apiextensions/reconciler/apiextensions/v1/customresourcedefinition/controller.go#L74

[2021-06-24 14:52] benmoss commented on #5543
Hmm my earlier comment was wrong at least in one sense, the event handler is added in the controller's constructor, not when the controller is started, so it should in theory be configured before the informer is started

[2021-06-24 19:13] benmoss commented on #5400
/close

[2021-06-24 19:13] #5400 closed

[2021-06-25 12:11] #5544 closed

[2021-06-25 13:08] benmoss commented on #5363
/assign

[2021-06-26 12:06] knative-test-reporter-robot opened #5552 "[flaky] test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1/min-event_encoding_binary_version_1.0"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1/min-event_encoding_binary_version_1.0
* **Repository name**: eventing

[2021-06-27 12:07] #5548 closed

[2021-06-28 10:44] cardil opened #5554 "[QE] Remove all deprecated code in test/upgrade package"
Remove all deprecated code in `test/upgrade` package introduced by #5321 and #4815. Example:

https://github.com/knative/eventing/blob/14ae489212d9083f0c5f635876b09a1c12b3becc/test/upgrade/prober/configuration.go#L53

Other places:

[code]

/assign
/area test-and-release

[2021-06-28 15:03] devguyio commented on #5204
Some updates

* Updated the description of the issue.
* Created a new Feature Track  (link above).

@omerbensaadon and @csantanapr would be great to give your feedback specially with the suggested involvement of the UX WG.

@vaikas @lionelvillard @n3wscott @matzew @slinkydeveloper  PTAL as tech WG leads.

[2021-06-28 15:27] omerbensaadon commented on #5204
@slinkydeveloper @devguyio can someone bring this to the DUX WG call tomorrow?

[2021-06-28 17:59] n3wscott commented on #4935
/remove-lifecycle stale

[2021-06-28 18:00] n3wscott commented on #4954
/remove-lifecycle stale

[2021-06-28 18:00] n3wscott commented on #4939
/remove-lifecycle stale

[2021-06-28 18:00] n3wscott commented on #4940
/remove-lifecycle stale

[2021-06-28 18:00] n3wscott commented on #4942
/remove-lifecycle stale

[2021-06-28 18:00] n3wscott commented on #4925
/remove-lifecycle stale

[2021-06-28 18:00] n3wscott commented on #4941
/remove-lifecycle stale

[2021-06-28 18:00] n3wscott commented on #4937
/remove-lifecycle stale

[2021-06-28 18:00] n3wscott commented on #4936
/remove-lifecycle stale

[2021-06-28 18:00] n3wscott commented on #4919
/remove-lifecycle stale

[2021-06-28 18:00] n3wscott commented on #4915
/remove-lifecycle stale

[2021-06-28 18:00] n3wscott commented on #4952
/remove-lifecycle stale

[2021-06-28 18:00] n3wscott commented on #4920
/remove-lifecycle stale

[2021-06-28 18:00] n3wscott commented on #4955
/remove-lifecycle stale

[2021-06-28 18:00] n3wscott commented on #4951
/remove-lifecycle stale

[2021-06-28 18:00] n3wscott commented on #4949
/remove-lifecycle stale

[2021-06-28 18:01] n3wscott commented on #4953
/remove-lifecycle stale

[2021-06-28 18:01] n3wscott commented on #4957
/remove-lifecycle stale

[2021-06-28 18:01] n3wscott commented on #4933
/remove-lifecycle stale

[2021-06-28 18:01] n3wscott commented on #4944
/remove-lifecycle stale

[2021-06-28 18:01] n3wscott commented on #4934
/remove-lifecycle stale

[2021-06-29 00:22] duglin commented on #5204
obviously I think this is great!  :-)  Nice write-up!

[2021-06-29 01:22] #4125 closed

[2021-06-29 01:22] #3933 closed

[2021-06-29 01:22] #3263 closed

[2021-06-29 01:22] #3299 closed

[2021-06-29 01:22] #2901 closed

[2021-06-29 01:22] #2507 closed

[2021-06-29 01:22] #2266 closed

[2021-06-29 01:22] #2161 closed

[2021-06-29 01:22] #2191 closed

[2021-06-29 01:22] #2154 closed

[2021-06-29 01:22] #2153 closed

[2021-06-29 01:22] #2152 closed

[2021-06-29 01:22] #1349 closed

[2021-06-29 05:21] #5554 closed

[2021-06-29 06:16] embano1 commented on #5147
Is this still of interest? Would using named ports be an implementation the team is fine with?

[2021-06-29 08:14] cardil commented on #4592
/remove-lifecycle stale

[2021-06-29 12:09] #5552 closed

[2021-06-29 15:37] #4909 closed

[2021-06-30 13:53] benmoss commented on #4950
I think this is covered by the existing tests being run with the ChannelImpl set to use IMC: https://github.com/knative/eventing/pull/5371#discussion_r629567576

/close

[2021-06-30 13:53] #4950 closed

[2021-07-01 07:22] khaeghar opened #5558 "Question: What's the difference between a Kafka Broker and a Kafka Channel based Broker?"
Just that, I wanted to know what's the difference between those two kind of brokers, because in our Openshift instalation we have the second one, but not the first, and I didn't find a comparative between the two of them.

Thanks in advance! :D!

[2021-07-01 22:15] upodroid opened #5559 "Adopt `app.kubernetes.io` labels"
The yaml files need to be edited to apply the following labels to all k8s resources it creates as well as pod selectors:

[code]

Part of https://github.com/knative/community/issues/667

app and version labels will be deprecated at a later date.

[2021-07-01 22:15] upodroid commented on #5559
/assign me

[2021-07-01 22:16] upodroid commented on #5559
/assign @upodroid

[2021-07-01 22:32] n3wscott commented on #5147
it would not be a great choice because the source of truth for which port should be the duck type status not the ref.

[2021-07-02 12:10] knative-test-reporter-robot opened #5561 "[flaky] test/rekt.TestApiServerSourceDataPlane_ResourceMatching/Knative_ApiServerSource_-_Data_Plane_-_Resource_Matching/Send_events_for_label-expression-matching_resources/Assert/[Stable/MUST]ApiServerSource_as_event_source_delivers_events"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestApiServerSourceDataPlane_ResourceMatching/Knative_ApiServerSource_-_Data_Plane_-_Resource_Matching/Send_events_for_label-expression-matching_resources/Assert/[Stable/MUST]ApiServerSource_as_event_source_delivers_events
* **Repository name**: eventing

[2021-07-02 12:10] knative-test-reporter-robot opened #5562 "[flaky] test/rekt.TestApiServerSourceDataPlane_ResourceMatching"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestApiServerSourceDataPlane_ResourceMatching
* **Repository name**: eventing

[2021-07-02 15:16] abrennan89 commented on #5039
This was listed as a short term priority in the [roadmap doc](https://github.com/knative/eventing/blob/main/docs/roadmap-2021.md), i.e. ~3 months
The issue was opened in March though and I think we're still quite a bit away from having 1.0, is there a targeted date set yet for this? Does the roadmap doc need an update?
I'd also agree that this issue might not be needed unless it's going to be an e

[2021-07-02 15:20] abrennan89 commented on #4595
@evankanderson are there any documentation updates for the site required relating to this?

[2021-07-02 15:36] abrennan89 commented on #4865
/remove-lifecycle stale

@lionelvillard is this still relevant, and does it require doc updates?

[2021-07-03 02:12] matzew commented on #2050
/reopen

On Sat 3. Jul 2021 at 03:21, github-actions[bot] ***@***.***>
wrote:

--
Sent from Gmail Mobile

[2021-07-04 12:07] knative-test-reporter-robot opened #5563 "[flaky] test/e2e.TestParallel"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestParallel
* **Repository name**: eventing

[2021-07-04 12:07] knative-test-reporter-robot opened #5564 "[flaky] test/e2e.TestParallel/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestParallel/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2021-07-04 20:18] evankanderson commented on #4595
I don't think so; this is mostly in https://github.com/knative/specs/pull/25

If there are changes, I think we'll feed them off the PRs for fixing it.

[2021-07-05 07:47] rhuss commented on #4514
I still think that the issue described here is more than just helping kn to run the e2e tests and is a general issue with other clients as well that do not add the namespace to the request (which IMO is totally legit)

[2021-07-05 09:52] slinkydeveloper opened #5566 "[mtbroker] Trigger.DeliverySpec is ignored"
**Describe the bug**
mtbroker trigger does not support delivery spec

 **Expected behavior**
mtbroker trigger should support delivery spec

 **To Reproduce**

1. Create a trigger with a delivery spec, including a dead letter sink
2. Create a sink that always fails
3. Dead letter sink never receives messages

 **Knative release version**
0.24

 **Additional context**
There is no code at all using `

[2021-07-05 12:06] #5406 closed

[2021-07-06 17:09] #5363 closed

[2021-07-07 12:06] knative-test-reporter-robot opened #5570 "[flaky] test/rekt.TestBrokerConformance/Knative_Broker_Specification_-_Control_Plane/Event_Routing_Spec_-_routing-test-3/Setup/install_recorder_for_broker_dlq"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerConformance/Knative_Broker_Specification_-_Control_Plane/Event_Routing_Spec_-_routing-test-3/Setup/install_recorder_for_broker_dlq
* **Repository name**: eventing

[2021-07-07 12:06] knative-test-reporter-robot opened #5571 "[flaky] test/rekt.TestBrokerConformance/Knative_Broker_Specification_-_Control_Plane/Event_Routing_Spec_-_routing-test-4/Assert/[Stable/SHOULD]Conformance_Two_triggers,_with_filter,_only_matching_one_gets_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerConformance/Knative_Broker_Specification_-_Control_Plane/Event_Routing_Spec_-_routing-test-4/Assert/[Stable/SHOULD]Conformance_Two_triggers,_with_filter,_only_matching_one_gets_the_event
* **Repository name**: eventing

[2021-07-07 12:06] knative-test-reporter-robot opened #5572 "[flaky] test/rekt.TestBrokerConformance/Knative_Broker_Specification_-_Control_Plane/Event_Routing_Spec_-_routing-test-2/Setup/install_recorder_for_t0dlq"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerConformance/Knative_Broker_Specification_-_Control_Plane/Event_Routing_Spec_-_routing-test-2/Setup/install_recorder_for_t0dlq
* **Repository name**: eventing

[2021-07-07 12:06] #5564 closed

[2021-07-07 12:06] #5563 closed

[2021-07-07 13:22] lionelvillard commented on #4865
This is done. https://dev-knative.netlify.app/development/eventing/sources/ping-source/ is up-to-date but we should probably do a full audit in the doc to make sure we are using `v1` all over the places (found this: https://dev-knative.netlify.app/development/eventing/samples/parallel/multiple-branches/)

[2021-07-07 13:33] lionelvillard commented on #5558
@khaeghar a good starting point is to look at the documentation: https://knative.dev/docs/eventing/broker/kafka-broker/

/cc @pierDipi @slinkydeveloper @matzew

[2021-07-07 13:52] joke opened #5573 "Sequence.channelTemplate.spec unmarshalling error"
**Describe the bug**

If you create a KafkaChannel with `spec` on a `Sequence.channelTemplate` the channel is not created. The `eventing-controller` complains about the typing:

[code]

If you omit the `channelTemplate` the channel specification is derived from the default cluster configuration causing the same error.

[code]

Creating a KafkaChannel manually works as expected. A topic is created.

[2021-07-07 15:55] curtbushko opened #5574 "Several images are missing version tags"
**Problem**

There are a couple images that are part of the release that are missing version tags and are only in the image registry as 'latest'.

Specifically, these ones are missing the v0.24.0, v0.22.2 etc tags

gcr.io/knative-releases/knative.dev/eventing/cmd/in_memory/channel_controller
gcr.io/knative-releases/knative.dev/eventing/cmd/in_memory/channel_dispatcher
gcr.io/knative-releases/knati

[2021-07-08 01:22] #4501 closed

[2021-07-08 13:00] #2980 closed

[2021-07-08 14:55] omerbensaadon opened #5576 "[1.0.Alpha] Annotations identified: Broker+Trigger"
//TODO

[2021-07-09 01:24] #1976 closed

[2021-07-09 12:06] knative-test-reporter-robot opened #5577 "[flaky] test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_attribute_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_attribute_triggers
* **Repository name**: eventing

[2021-07-09 12:07] knative-test-reporter-robot opened #5578 "[flaky] test/e2e.TestChannelBasedBrokerWithManyTriggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelBasedBrokerWithManyTriggers
* **Repository name**: eventing

[2021-07-09 12:07] #5562 closed

[2021-07-09 12:07] knative-test-reporter-robot opened #5579 "[flaky] test/e2e.TestChannelBasedBrokerWithManyTriggers/Channel-messaging.knative.dev/v1/test_default_broker_with_many_deprecated_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelBasedBrokerWithManyTriggers/Channel-messaging.knative.dev/v1/test_default_broker_with_many_deprecated_triggers
* **Repository name**: eventing

[2021-07-09 12:07] #5561 closed

[2021-07-10 00:17] duglin commented on #4617
:(

[2021-07-10 12:07] #5572 closed

[2021-07-10 12:07] #5570 closed

[2021-07-10 12:07] #5571 closed

[2021-07-11 12:05] knative-test-reporter-robot opened #5580 "[flaky] test/conformance.TestBrokerDataPlaneIngress/MTChannelBasedBroker-eventing.knative.dev/v1/Ingress_Supports_Binary_Mode"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerDataPlaneIngress/MTChannelBasedBroker-eventing.knative.dev/v1/Ingress_Supports_Binary_Mode
* **Repository name**: eventing

[2021-07-12 12:07] knative-test-reporter-robot opened #5581 "[flaky] test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1/min-event_encoding_structured_version_0.3"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1/min-event_encoding_structured_version_0.3
* **Repository name**: eventing

[2021-07-12 12:07] knative-test-reporter-robot opened #5582 "[flaky] test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1/full-event_encoding_structured_version_0.3"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1/full-event_encoding_structured_version_0.3
* **Repository name**: eventing

[2021-07-12 20:10] duglin opened #5584 "ping source supports "@every 1s" for schedule"
Not sure we want to support a flood of pings like that :-)
/cc @lionelvillard

[2021-07-13 12:06] #5580 closed

[2021-07-13 12:06] #5533 closed

[2021-07-13 13:17] chandrasrt opened #5589 "[Experimental]KNative(0.24) Request Tracing does not work per instructions, please clarify."
**Describe the bug**
Knative request traces not seen at Jaeger collector, kindly confirm the availability of this feature and documentation -  https://knative.dev/docs/serving/accessing-traces/

 **Expected behavior**
We expected to see KNative events for Event Broker to see complete end to end on event flow. Upon doing tcpdump on target we did not see any traces reaching the jaeger collector.

 *

[2021-07-13 13:30] #5584 closed

[2021-07-14 09:37] pierDipi commented on #5558
The main user-visible differences are:

- Kafka Broker runs fewer deployments for the data plane and the path to deliver events is shorter, concretely, if you have a Kafka Channel-based broker, the path to deliver an event looks like this:
[code]
  while with a Kafka Broker looks like this:
[code]
- As you can see from the path described above, Kafka Channel-based Broker runs a single deployment (

[2021-07-14 09:37] #5558 closed

[2021-07-14 12:04] mgencur commented on #5357
@vaikas Hi! Any other thoughts on this? I think going with secrets and roles matching the namespace name sounds good. I.e. use some conventions for naming.

[2021-07-14 14:54] lionelvillard opened #5593 "[Experimental] Object reference resolver to support non-Addressable objects"
**Description**

This proposal is about extending the KReference resolver to support non-addressable objects (no `status.address` field). For those objects, we propose to ~delegate the reference resolution to an external service which upon receiving a KReference object replies with a resolved URI or an "not supported" error~ allow people to define a mapping between "Kind" and "URL-Template", where

[2021-07-14 15:40] lionelvillard commented on #5593
/cc @duglin @cr22rc @n3wscott

[2021-07-14 15:57] vaikas commented on #5357
I'd be down for starting with conventions and revisiting if we need more complex solutions. Are you willing to tackle this?

[2021-07-14 16:00] mgencur commented on #5357
@vaikas Cool. Yes, I wanna jump on this.

[2021-07-14 18:53] evankanderson commented on #5593
Questions, since I missed the presentation:

1. How does this work with ContainerSource / SinkBinding, which today takes a `K_SINK` URL?

2. Is there a mechanism to re-trigger the address resolution if the backend mapping of the resource -> URL changes?

3. The given example is a custom resource, which seems like it could implement `status.address` fairly easily. Are there compelling use cases whe

[2021-07-14 21:01] duglin commented on #5593
All, thanks for the chat on today's WG call.  A couple of additional thoughts:
- obviously this isn't just about the PingSource, it's just a simple example. Any Source could need to be connected to some non-duck-typed-Addressable resource as its Sink
- this also doesn't just apply to Sources, Triggers would fall into the same problem space. Making this change in `pkg` would help make support for t

[2021-07-14 21:02] lionelvillard commented on #5593
Thanks @evankanderson for looking at this. Answers:

1. The same way as today: the `K_SINK` URL is resolved by the SinkBinding controller which, under the cover, relies on `URIFromObjectReference`.
2. No.
3. It's not easy if the custom resource is out of our control and owned by a different community. The next logical step is indeed to have an adapter (`EventTriggeredJob` (or a parameterizable ser

[2021-07-14 22:10] vaikas commented on #5573
This is what I'm seeing (running from the head). When I try to apply the example exactly like that, I get:
[code]

which is a wonky error for one, but when I remove the pipe from the spec here:
[code]

And change it to:
[code]

it seems to create the kafkachannel just fine:
[code]

Would you mind trying that to see if that works?

[2021-07-15 00:31] lionelvillard commented on #2721
/remove-lifecycle stale

[2021-07-15 00:35] lionelvillard commented on #2721
@duglin what about disabling `uri` in the destination?

[2021-07-15 01:23] #5027 closed

[2021-07-15 03:04] duglin commented on #2721
@lionelvillard how do you see that being enabled? Flag and then a webhook rejecting its usage if enabled? If so, seems reasonable. We'd need to check to make sure it only rejects absolute URIs, right?

[2021-07-15 08:19] devguyio commented on #5593
1. Disclaimer: I'm 100% fine adding this as an experimental feature. EFs is our vehicle for innovation with safety (p.s. according to our [experimental feature ](https://github.com/knative/eventing/blob/main/docs/experimental-features.md#feature-proposal-development-and-graduation-process) you can already go ahead and provide an implementation as part of the buy-in phase and before kicking in the

[2021-07-15 08:29] joke commented on #5573
If I changed the spec as described by removing the pipe and applied everything again:

[code]

[2021-07-15 08:50] markusthoemmes commented on #5593
I agree with @devguyio's sentiment. It feels like what you want is a resource in between, that can then implement whichever semantics you like (in your case calling some external service to fetch the URL the source should sink into) while also implementing the `Addressable` interface. Has that been considered?

[2021-07-15 09:12] rhuss commented on #5593
I haven't yet read fully through the issue, but my first question about the use case given:

* Why not using a Kubernetes `CronJob` ? (and just out of curiosity, the `JobDefinition` resource looks very much like a standard K8s `Job`, is there any particular reason to not use a standard `Job` ?)

* Besides the PingSource + custom Job use case (which I believe can be solved with standard K8s means)

[2021-07-15 09:39] rhuss commented on #5593
Side note to `CronJob` vs. `PingSource`: Are we sure that our PingSource is hardened enough for edge cases ? Funnily enough, my very first Open Source project was https://metacpan.org/pod/Schedule::Cron which I supported for more than ten years (not anymore), and there were tons of edge cases that people found out and that needed to be fixed. Especially dealing with daylight saving switches is tri

[2021-07-15 12:07] #5581 closed

[2021-07-15 12:07] #5499 closed

[2021-07-15 12:07] #5582 closed

[2021-07-15 13:16] lionelvillard commented on #5593
Thanks guys for looking at this.

@devguyio @markusthoemmes: there is an intermediate data-plane object, but no corresponding CRD. See my comment above about double reffing.

@devguyio Agree with all you points expect:
- The reference does directly expose a webhook. The intermediate data-plane object does.
- `SinkAdapter` CRD since that's exactly what we are trying to avoid

@rhuss looping @cr22rc

[2021-07-15 13:18] lionelvillard commented on #2721
yes and yes.

[2021-07-15 13:42] devguyio commented on #5593
@lionelvillard ack. that's my understanding as well.

I also understood the same, and it's what I meant by `specify any arbitrary resource as a Sinkor a Subscriber given that such resource exposes a webhook at an arbitrary URI `

My understanding is that you are trying to avoid making the user use an adapter CRD, right? and the example I gave above will do exactly that. The user doesn't have to kn

[2021-07-15 13:50] vaikas commented on #5573
Hm, that's super odd. I'll try with the .24 (instead of head). Would you mind pasting the output of the:

[code]

here as well?

[2021-07-15 14:18] lionelvillard commented on #5593
@devguyio this is an interesting solution. I don't really like the idea of changing the Destination API. `ref` is my mind is just fine.

I really like @dug idea about the configmap that allows people to define a mapping between "Kind" and "URL-Template". Easy to implement, no external dependencies, no extra network hop (one of Scott's concerns). It also addresses @evankanderson question/concern ab

[2021-07-15 14:30] lionelvillard commented on #5593
I just realized this has an impact on DomainMapping
/cc @julz

[2021-07-15 14:54] benmoss commented on #5589
/assign I'm investigating this

[2021-07-15 14:55] benmoss commented on #5589
/assign

[2021-07-16 07:22] joke commented on #5573
I'm running on AWS EKS:

[code]

[2021-07-17 22:11] pierDipi commented on #5589
@chandrasrt what source are you using?

[2021-07-18 12:04] knative-test-reporter-robot opened #5597 "[flaky] test/e2e.TestChannelBasedBrokerWithManyTriggers/Channel-messaging.knative.dev/v1/test_default_broker_with_many_attribute_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelBasedBrokerWithManyTriggers/Channel-messaging.knative.dev/v1/test_default_broker_with_many_attribute_triggers
* **Repository name**: eventing

[2021-07-18 17:48] pierDipi commented on #2005
This seems to be still an issue.

/triage accepted

[2021-07-19 12:07] knative-test-reporter-robot opened #5598 "[flaky] test/rekt.TestBrokerWithDLQ/SourceToTwoSinksWithDLQ/Requirement/receiver_1_is_finished"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerWithDLQ/SourceToTwoSinksWithDLQ/Requirement/receiver_1_is_finished
* **Repository name**: eventing

[2021-07-19 19:25] evankanderson commented on #5593
If we aren't as worried about an extra network hop, it also seems feasible to create a service which uses URLs containing k8s `kind` + `name` exposed in the Destination along with a special "resolver" object `ref`, where the resolver contains both the naming oracle and a proxy (or define 3xx behavior for Eventing as something other than a retry).

Note that the key behavior we're depending on for

[2021-07-19 20:04] chandrasrt commented on #5589
Yep, we are doing same thing... our event source is rest service sending cloud event to broker...and we see triggers fire and handling work end to end...

[2021-07-19 21:20] lionelvillard commented on #5593
@evankanderson  The current approach (kind->URL mapping in ConfigMap) preserves this key behavior:
- When the referenced object is changed, a new URL is potentially generated since any objects can be tracked (modulo RBAC, not implemented in #5599)
- When the ConfigMap containing the mapping Kind->URL is changed, all objects containing `ref`s can be re-reconciled. (not implemented in #5599)

[2021-07-20 07:07] pierDipi commented on #5589
We don't generate trace metadata, there is only propagation, is your service sending tracing metadata to the broker?

[2021-07-20 12:06] #5597 closed

[2021-07-21 15:50] chandrasrt commented on #5589
Thanks for the clarification! We have a central tracing location where we send all the traces to, and we took that broker will trace all its operations based on the configuration provided.

Our goal is to trace the event from event source<=>broker<=>Triggers<=>event consumers

From your response, I take it that:
- As a event source and consumers, we send all tracing info to broker and then it will

[2021-07-21 18:08] cardil commented on #5176
/remove-lifecycle stale

[2021-07-22 12:07] #5598 closed

[2021-07-22 22:42] #4595 closed

[2021-07-23 12:06] knative-test-reporter-robot opened #5607 "[flaky] test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_attribute_and_extension_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_attribute_and_extension_triggers
* **Repository name**: eventing

[2021-07-26 15:03] davidlanouette opened #5609 "README: Link to the working-groups page is wrong"
**Describe the bug**
The link for "Knative WORKING-GROUPS.md" is broken.  If you click it, it takes you to a page that says the requested page doesn't exist.

 **Expected behavior**
Clicking on the link takes you to the right page on the knative.dev site.

 **To Reproduce**
View the README (anywhere - github, a local version, etc).  Find the "Knative WORKING-GROUPS.md" link.  Click it.

 **Knative

[2021-07-26 16:10] markusthoemmes commented on #5593
Just to speak it out loud (re @devguyio's suggestion): You could install a webhook that leaves the API intact and does the translation for you

[code]

becomes

[code]

automatically and all interfaces can stay intact. That'd leave the interface to be purely K8s API based, which has some level of beauty to it, imo anyway.

[2021-07-26 16:18] #5609 closed

[2021-07-26 18:06] chandrasrt commented on #5589
Verified the basic tracing works via Knative Eventing...end to end tracing is out of scope for this ask, referring to https://github.com/knative-sandbox/eventing-kafka-broker/issues/1098...

Thanks for clarifying the Eventing tracing behaviour

[2021-07-26 18:06] #5589 closed

[2021-07-27 14:15] abrennan89 commented on #4917
@n3wscott might be better to open an issue for this in /docs if there isn't one already and it's still required?

[2021-07-28 01:23] #5046 closed

[2021-07-28 12:05] knative-test-reporter-robot opened #5614 "[flaky] test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1/full-event_encoding_structured_version_1.0"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1/full-event_encoding_structured_version_1.0
* **Repository name**: eventing

[2021-07-28 12:05] #5607 closed

[2021-07-28 14:55] chandrasrt opened #5617 "[Experimental] Knative Eventing Metrics (v0.24) - does not contain the documented metrics... and also missing count."
**Describe the bug**
Knative Eventing Metrics does not display expected metrics per https://knative.dev/docs/admin/collecting-metrics/eventing-metrics/metrics/ and also displays unexpected output...

 **Expected behavior**
When exposing broker ingress metrics, we expected to see "broker_ingress_**event_count", "broker_ingress_event_dispatch_latencies ...but saw the attached metrics and they look d

[2021-07-28 15:17] #5576 closed

[2021-07-28 18:37] andrewwebber opened #5618 "HA Guidence"
**Problem**
In the knative.dev documentation an administration section exists for knative-serving but not eventing. There should be guidence on configuring knative-eventing for HA

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
An admin persona does not exist

**Exit Criteria**
Update docs on knative.dev

**Time Estimate (optional):**
1-3 days

**Additional context

[2021-07-29 00:46] chandrasrt commented on #5617
NAME              VERSION   READY   REASON
knative-serving   0.24.0    True
NAME               VERSION   READY   REASON
knative-eventing   0.24.0    True

Also please share a  away to patch if any available...

[2021-07-29 01:23] #4813 closed

[2021-07-29 01:23] #3785 closed

[2021-07-29 10:13] #5236 closed

[2021-07-29 22:06] lionelvillard commented on #5593
@markusthoemmes that's an interesting solution. However I don't like the idea of having the webhook *changing* the spec, too confusing. It's fine for the webhook to populate the defaults but nothing more than that IMO. It also makes exporting applied resources to yaml non-trivial.

that's nice to have but not a requirement.

k8s or knative? ref is k8s, Addressable is Knative.

FWIW, the resolved s

[2021-07-30 09:49] markusthoemmes commented on #5593
I'm not quite parsing in which way that's more confusing vs. having the resolution been done by some service that the user can't even inspect. In the outlined approach, the user would see exactly what's happening and can check the respective adapter to see what the actually resolved URL was (aka: Where their stuff is sent).

This is similar behavior to what istio sidecar-injection is doing as well

[2021-07-30 12:06] #5614 closed

[2021-07-30 12:06] #5500 closed

[2021-07-30 14:45] lionelvillard commented on #5593
we moved away for this solution. Sorry I didn't update the issue description (will do).

This is still the case with the mapping solution (see above): the user sees exactly where events are sent by looking at the resolved URL in the status section. The adapter may or may not send events. In the example above, the adapter creates jobs.

Is this just adding stuff or also changing the original spec?

[2021-07-30 14:47] skonto commented on #5617
The name of the component is added by default for the Prometheus. We made this configurable lately check [here](https://github.com/knative/pkg/pull/2198).
The dump you provided is correct check [here](https://gist.github.com/skonto/5df94ad68e4935ea49f89bd6f3e43990).
To get more metrics like event counts you need to actually create events that hit the ingress, eg a pingsource.
MT stands for multi-t

[2021-07-30 15:30] julz commented on #5593
Just to make sure I understand, in the JobDefinition example, is it the case that if we wrote status.address.url to the JobDefinition in a controller (i.e. made it implement Addressable) things would "just work" without needing this? Putting aside whether doing that is a good idea or not, are there examples where something like that (or indeed Evan's suggestion of an EventingJobDefinition with the

[2021-07-30 15:42] lionelvillard commented on #5593
yes

Yes for the use case and no for the desired UX. We would like to hide (in the spec, not in the status) EventingJobDefinition.

[2021-07-30 15:47] julz commented on #5593
Just to push on this for a moment, in what way is the UX different in this approach? If we added a controller which placed status.address on JobDefinition (which I think we could do, and which could even be driven by a configmap), wouldn't the UX be identical, other than - to @markusthoemmes's point - the user could predict which URL would be used by looking at the JobDefinition, without having to

[2021-07-30 16:06] lionelvillard commented on #5593
That's an interesting idea. It's not always possible though, since it's possible to define closed schema.

[2021-07-30 16:40] benmoss opened #5620 "GitHub actions kind tests are failing"
**Describe the bug**
Due to the addition of CPU requests in #5612 and #5611 the kind e2e tests can no longer consistently pass on GitHub actions.

The initial pods schedule successfully, but it seems that we try to schedule the `pingsource-mt-adapter` pod when we create the first PingSource during tests and that frequently fails due to the node being out of CPU quota and causes PingSource tests to

[2021-07-30 17:55] lionelvillard commented on #4486
/remove-lifecycle stale

[2021-07-31 12:06] knative-test-reporter-robot opened #5621 "[flaky] pkg/inmemorychannel.TestDispatcher_dispatch"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/inmemorychannel.TestDispatcher_dispatch
* **Repository name**: eventing

[2021-08-02 06:38] #5357 closed

[2021-08-02 09:21] mgencur opened #5623 "Do not tear down resources from upgrade tests on failure"
**Describe the bug**
When upgrade tests fail there are often missed events and one has to investigate individual components such as Brokers, Triggers, Kafka Topics/Messages (in case of using Kafka) and then test resources such as watchola-fetcher and wathola-receiver. The tests should not be cleaning these resources when they fail.

 **Expected behavior**
The test resources remain in the cluster w

[2021-08-02 09:21] mgencur commented on #5623
/assign

[2021-08-02 12:06] #5521 closed

[2021-08-02 18:28] maganaluis commented on #5139
Hi is this something that it's being considered? If it was to be implemented we could create Triggers using Kubeflow Pipelines, in the user's namespace and point to a single Kafka topic. Otherwise we need to create a new SA or give the default one access to create Triggers in the namespace where the Broker is located.

[2021-08-02 18:56] #5543 closed

[2021-08-02 20:33] pierDipi commented on #3681
/triage accepted
/remove-lifecycle stale

[2021-08-03 11:15] devguyio commented on #5204
@evankanderson I've responded to your comments on the Feature Track

[2021-08-03 12:06] #5621 closed

[2021-08-03 18:35] devguyio commented on #5204
@matzew responded to your comment.

[2021-08-05 12:19] antoineco commented on #5430
Regarding the flake on 2021-08-05:
[code]

[2021-08-05 14:09] #5623 closed

[2021-08-06 09:23] #3092 closed

[2021-08-09 05:39] mgencur commented on #5358
Just a note. At least for Conformance tests this has been resolved in https://github.com/knative/eventing/pull/5596 . The point is that the admin user will create the namespaces in advance and also create/copy the pull secret. If the flag `-reusenamespace` is passed then copying the secret is skipped.

[2021-08-09 15:37] #5620 closed

[2021-08-10 08:59] acodetailor opened #5630 "split one cloudevent to many events"
**Problem**
in my case , i want split one cloudevent to many events (one to more), how can i  do it gracely

[2021-08-10 09:26] vaikas commented on #4398
This is still present, even though we're using 1.20 of api machinery

[code]

[2021-08-10 09:34] vaikas commented on #5185
/close

This was fixed.

[2021-08-10 09:34] #5185 closed

[2021-08-10 12:06] #5579 closed

[2021-08-12 01:22] #5193 closed

[2021-08-12 01:22] #5038 closed

[2021-08-12 01:22] #4769 closed

[2021-08-12 16:59] vaikas commented on #3133
There's functions Task Force so we don' think there's anything that's necessary from the SC at this point on this. If there are specific issues, please reopen.
/close

[2021-08-12 16:59] #3133 closed

[2021-08-13 13:14] lionelvillard commented on #4611
/reopen
/remove-lifecycle stale

[2021-08-13 13:15] lionelvillard commented on #5368
/reopen
/remove-lifecycle stale

[2021-08-15 12:06] knative-test-reporter-robot opened #5633 "[flaky] test/e2e.TestChannelBasedBrokerWithManyTriggers/InMemoryChannel-messaging.knative.dev/v1/test_default_broker_with_many_attribute_and_extension_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelBasedBrokerWithManyTriggers/InMemoryChannel-messaging.knative.dev/v1/test_default_broker_with_many_attribute_and_extension_triggers
* **Repository name**: eventing

[2021-08-17 12:06] #5633 closed

[2021-08-17 12:39] lionelvillard commented on #4481
/remove-lifecycle stale

[2021-08-17 20:21] lionelvillard opened #5638 "ceOverrides extensions are not validated"
**Describe the bug**
Sources silently fail sending events when specifying invalid extension names in `ceOverrides.extensions`. True for at least the core sources.

 **Expected behavior**
A clear and concise description of what you expected to happen.

The validation webhook should validate `ceOverrides` and reject invalid extension names/values.

 **To Reproduce**
Steps to reproduce the behavior.

[2021-08-18 03:07] knguyen0125 opened #5639 "Trigger deadLetterUri does not conform to specification, should be deadLetterSinkUri"
**Describe the bug**
A clear and concise description of what the bug is.

In [Trigger Lifecycle](https://github.com/knative/specs/blob/main/specs/eventing/control-plane.md#trigger-lifecycle) specification, it specify the following:

[code]

The newly merged new feature https://github.com/knative/eventing/pull/5551 does not conform to this specification.

Additionally, since the CRD for Broker and

[2021-08-18 06:09] dhruvbehl commented on #4481
Watching this issue for an update, looking forward to having a flexibility in the `ApiServerSource` to allow watching pan cluster level / different namespaces.

[2021-08-18 08:50] pierDipi commented on #5639
Hi @knguyen0125 :wave:, thanks for reporting!

Since you find the fix (`4. Manually add deadLetterUri to Trigger CRD`), can you please create a PR to fix this issue?

The Trigger CRD is in https://github.com/knative/eventing/blob/main/config/core/resources/trigger.yaml

/good-first-issue
/area brokers

[2021-08-18 13:12] lionelvillard commented on #5209
/remove-lifecycle stale

@acodetailor Are you still seeing this ?

[2021-08-18 16:23] benmoss commented on #5639
/assign

[2021-08-19 09:34] astelmashenko opened #5643 "Does channels expect structured cloudevents format?"
I set up knative channel and subscription:
[code]

and sending events there from java service, using cloudevents java sdk (`implementation "io.cloudevents:cloudevents-http-basic:2.2.0"`), code:
[code]
event is sent in binary mode.

getting error:
[code]

 **Expected behavior**
Channel accepts event and subscription sends to event to the target.

 **To Reproduce**
Set up channel and subscription. E

[2021-08-19 10:57] astelmashenko commented on #5643
I switched to cloudevents structured mode and it is working now. Should I close this ticket now?

[2021-08-19 12:06] knative-test-reporter-robot opened #5646 "[flaky] test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Data_Plane/Delivery_Spec_0/Assert/[Stable/SHOULD]Conformance_Channels_SHOULD_retry_resending_CloudEvents_when_they_fail_to_either_connect_or_send_CloudEvents_to_subscribers."
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Data_Plane/Delivery_Spec_0/Assert/[Stable/SHOULD]Conformance_Channels_SHOULD_retry_resending_CloudEvents_when_they_fail_to_either_connect_or_send_CloudEvents_to_subscribers.
* **Repository name**: eventing

[2021-08-19 12:45] lionelvillard commented on #5643
@astelmashenko I'm glad it's working. Yes we can close this issue now.

[2021-08-19 12:45] #5643 closed

[2021-08-19 12:49] lionelvillard commented on #5118
/remove-lifecycle stale

[2021-08-19 14:15] astelmashenko commented on #5643
@lionelvillard , can you please confirm that **knative channels expect structured mode only** and **do not support binary mode**?

[2021-08-19 15:28] lionelvillard commented on #5643
Knative channels must support both structured mode and binary mode. Seems like NATSS channel is not compliant. Can you open an issue against the natss repo: https://github.com/knative-sandbox/eventing-natss

Thanks!

[2021-08-19 16:32] benmoss commented on #5639
/reopen

[2021-08-20 01:21] #4913 closed

[2021-08-21 12:06] #5646 closed

[2021-08-22 01:21] #4969 closed

[2021-08-23 15:49] JackSilk opened #5654 "DeliverySpec.Timeout not available on Trigger"
**Describe the bug**
After setting the experimental feature to be enabled, Kubernetes still rejects Triggers that have a value for the DeliverySpec.Timeout field

Error is like follows:
error: error validating "./eventing/templates/triggers/failure-trigger.yaml": error validating data: ValidationError(Trigger.spec.delivery): unknown field "timeout" in dev.knative.eventing.v1.Trigger.spec.delivery;

[2021-08-23 16:05] benmoss commented on #4947
/close

[2021-08-23 16:05] #4947 closed

[2021-08-24 13:55] snneji commented on #4914
/reopen
/remove-lifecycle stale

[2021-08-24 14:13] ayoub-elbachiri commented on #5069
/reopen

[2021-08-24 14:13] ayoub-elbachiri commented on #5069
any updates for this issue ?

[2021-08-24 14:19] lionelvillard commented on #5069
/remove-lifecycle stale

[2021-08-24 14:20] lionelvillard commented on #5069
no progress on this. We are looking for volunteers to work on this.

[2021-08-24 14:39] joke commented on #5573
Still the same problem with version 0.25.

`json: error calling MarshalJSON for type *duck.channelTemplateSpecInternalSpec: json: cannot unmarshal string into Go value of type map[string]interface {}`

The CRD of `sequences.flows.knative.dev` says: `channelTemplate.spec` is of type `string`. So it should be

[code]

rather than:

[code]

[2021-08-25 07:20] salaboy opened #5663 "[Conformance] Broker `spec.config` is not immutable as described in the spec"
**Describe the bug**
You can patch a broker `spec.config` field and you shouldn't be able to do that as it should be immutable as described here:
https://github.com/knative/specs/blob/main/specs/eventing/control-plane.md#broker-lifecycle

 **Expected behavior**
You should get an error when you try to patch the `spec.config` of a broker.

 **To Reproduce**

1) Create a Broker (my-broker)
2) Run: `k

[2021-08-25 12:05] knative-test-reporter-robot opened #5668 "[flaky] test/e2e.TestParallel/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestParallel/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2021-08-25 12:05] knative-test-reporter-robot opened #5669 "[flaky] test/e2e.TestParallel"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestParallel
* **Repository name**: eventing

[2021-08-25 12:05] knative-test-reporter-robot opened #5670 "[flaky] test/conformance.TestChannelDataPlaneFailure"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneFailure
* **Repository name**: eventing

[2021-08-25 12:05] knative-test-reporter-robot opened #5671 "[flaky] test/conformance.TestChannelDataPlaneFailure/InMemoryChannel-messaging.knative.dev/v1/expecting-400"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneFailure/InMemoryChannel-messaging.knative.dev/v1/expecting-400
* **Repository name**: eventing

[2021-08-25 15:18] pierDipi commented on #5669
[code]
Pretty generic and not useful ...

[2021-08-25 15:20] pierDipi commented on #5670
[code]
etcd leader changed, closing

[2021-08-25 15:21] pierDipi commented on #5671
[code]
etcd leader changed, closing

[2021-08-25 15:21] #5671 closed

[2021-08-25 15:23] pierDipi commented on #5668
[code]
Pretty generic and not useful ...

[2021-08-25 15:23] pierDipi commented on #5669
This actual failed subtest is https://github.com/knative/eventing/issues/5668

[2021-08-26 01:20] #5232 closed, assigned to lionelvillard

[2021-08-27 11:55] csantanapr opened #5678 "Add heartbeats image as part of nightly release"
**Problem**
The nightly image for heartbeats is not available

**Exit Criteria**
For the hearbeats image to be available on ghcr with the other images as part of nightly build

**Time Estimate (optional):**
10 minutes

**Additional context (optional)**
I can do the PR if I get guidance on what files I nee to add or edit. My guess is a ContainerSource YAML under tools referencing the location of th

[2021-08-28 01:19] #4928 closed

[2021-08-28 12:05] #5670 closed

[2021-08-29 01:22] #4876 closed

[2021-08-30 08:01] #5678 closed

[2021-08-31 14:00] gabo1208 opened #5685 "Add outbound identity to the Broker delivery to identify the Trigger that sent the request"
**Problem**
We need to add some outbound identity to the Broker delivery so the recipient can distinguish which Trigger the request is coming from.

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Consumer

**Exit Criteria**
A consumer can identify from which broker the message came from

[2021-08-31 14:02] #5663 closed

[2021-08-31 14:46] lionelvillard commented on #5685
@gabo1208, can you elaborate on your scenario?

[2021-08-31 19:24] evankanderson commented on #5685
Hey, this came up from some discussions elsewhere, asking about the history of why Triggers are attached to Brokers in the same namespace. The history of that decision is that Brokers generally can be considered to "hold" some amount of data which may need to be protected, and the namespace acts as a "data owner" of the Broker's in-flight messages.

From this, we can reason that Triggers provide a

[2021-09-01 06:18] #5654 closed

[2021-09-01 12:07] knative-test-reporter-robot opened #5691 "[flaky] test/conformance.TestChannelDataPlaneSuccess"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess
* **Repository name**: eventing

[2021-09-01 12:07] knative-test-reporter-robot opened #5692 "[flaky] test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1/min-event_encoding_structured_version_0.3"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1/min-event_encoding_structured_version_0.3
* **Repository name**: eventing

[2021-09-01 13:16] dprotaso commented on #5574
cc @chizhg from productivity

[2021-09-01 14:34] Shashankft9 opened #5693 "Changes done in configmaps not reflected during runtime"
**Describe the bug**
When I am updating configmaps like `config-logging` or `config-tracing`, the changes are not reflected in the runtime, I have to delete the running pods to get those changes in the new one. I am using v0.24 release and I remember that this was working with my older setup which was 0.18.
I changed the logging level in `config-logging` and added tracing configuration in `config-

[2021-09-01 14:36] benmoss commented on #5693
I think maybe it makes sense to have the [ConfigWatcher](https://github.com/benmoss/eventing/blob/tracing/pkg/reconciler/source/config_watcher.go) offer a way to add an arbitrary event handler so that we don't need to create a separate watch

[2021-09-02 07:09] cbl315 opened #5696 "docs enhancemane: CRD apiVersion compatibility matrix"
**Problem**
Is there eventing CRDs apiVersion compatibility matrix like below in docs?
||v0.25.0|v0.24.0|v0.23.0|v0.22.0|...|
|--|--|--|--|--|--|
|broker|v1|v1|v1|v1,v1beta1|...|
|kind|...|...|...|...|...|

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Cluster admin: Knative users who maintain an older version and want to upgrade to the newer version.

**Exit Crite

[2021-09-02 18:20] pierDipi opened #5700 "Test runner: Couldn't initialize clients: unable to find available namespace"
**Describe the bug**

Sometimes the integration testing pipeline in https://github.com/knative-sandbox/eventing-kafka-broker/ fails with:

 **Expected behavior**

No errors, just create a namespace if there isn't one.

 **To Reproduce**

N/A

 **Knative release version**
`devel`

 **Additional context**

/area test-and-release

[2021-09-03 07:59] pierDipi commented on #5700
Hi @mgencur,
I see this error was introduced in https://github.com/knative/eventing/pull/5337/files,
do you have a suggested fix for this error? Could increasing `MaxNamespaceSkip` fix this error?

[2021-09-03 08:06] mgencur commented on #5700
hi @pierDipi , yes, increasing MaxNamespaceSkip should help. Basically increasing any of these three: https://github.com/knative/eventing/blob/main/test/lib/test_runner.go#L51-L53 . But I'd start with increasing MaxNamespaceSkip to 50.

[2021-09-03 08:13] pierDipi commented on #5700
Thanks Martin!

Would you make it configurable with an env var or is it hardcoded by design?

/assign

[2021-09-03 09:21] odacremolbap commented on #2005
Can I get assigned this one please?

[2021-09-03 10:12] cardil commented on #5322
/remove-lifecycle stale
/reopen

I think this is still needed. Back by @lionelvillard reaction to my draft PR.

[2021-09-03 11:34] cardil commented on #5442
Confirmed by passing a repro PR - https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_eventing/5443/pull-knative-eventing-integration-tests/1433744473778556928. Closing.

[2021-09-03 11:34] #5442 closed

[2021-09-03 12:06] knative-test-reporter-robot opened #5704 "[flaky] test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1/full-event_encoding_binary_version_1.0"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1/full-event_encoding_binary_version_1.0
* **Repository name**: eventing

[2021-09-03 13:08] lionelvillard commented on #2005
thanks @odacremolbap !

[2021-09-03 22:04] cardil opened #5710 "SinkBinding fails to operate on CronJob:batch/v1 as subject"
**Describe the bug**
_SinkBinding_ fails to operate on Kubernetes CronJob's as subject. Trying to do so leads to an error:

[code]

 **Expected behavior**
Using CronJob should be possible. Knative.dev docs website even show an example of exactly that - [here](https://knative.dev/docs/developer/eventing/sources/sinkbinding/getting-started/#create-a-subject). If CronJob us used as an SB subject, the

[2021-09-03 22:07] cardil commented on #5710
PS. I'll prepare a reproduction test to be attached to e2e suite while this issue is resolved.

[2021-09-04 12:05] #5692 closed

[2021-09-04 12:05] knative-test-reporter-robot opened #5711 "[flaky] test/e2e.TestChannelBasedBrokerWithManyTriggers/Channel-messaging.knative.dev/v1/test_default_broker_with_many_attribute_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelBasedBrokerWithManyTriggers/Channel-messaging.knative.dev/v1/test_default_broker_with_many_attribute_triggers
* **Repository name**: eventing

[2021-09-06 01:23] #4943 closed

[2021-09-06 05:26] mgencur commented on #5700
These are not parameters that would be changing with each test run or test environment. I believe we can figure out numbers that will be working well for a longer time. No need to introduce new params or env vars, IMO.

[2021-09-06 09:07] antoineco commented on #5086
/unassign slinkydeveloper

[2021-09-06 12:04] #5704 closed

[2021-09-06 12:04] #5691 closed

[2021-09-06 12:18] cardil commented on #5710
This issue is invalid. _SinkBinding_ should be created targeting the _Job_, that _CronJob_ will create on firing, and that needs to be selected by label as name is random. Also, depending on namespace selection behavior, the `bindings.knative.dev/include: "true"` may be necessary to be added to _CronJob_ _jobTemplate_.

The _UX_ of the error message, could be improved, thought. The actual message

[2021-09-06 12:18] #5710 closed

[2021-09-06 14:28] mattmoor opened #5714 "ConfigWatcher doesn't global resync on config changes"
**Describe the bug**

The `ConfigWatcher` for sources doesn't have a mechanism for globally resyncing adapters when one of the logging, metrics or tracing configmaps change.

 **Expected behavior**

Some sort of logic to handle global resyncs similar to: https://github.com/knative/serving/blob/03823ca01e24185747f105155406b20c35ea4cac/pkg/reconciler/nscert/controller.go#L57-L63

 **To Reproduce**

[2021-09-06 14:29] mattmoor commented on #5714
cc @lionelvillard @dprotaso

[2021-09-07 14:39] lionelvillard commented on #5714
seems like a dup of https://github.com/knative/eventing/issues/5693

[2021-09-07 14:41] lionelvillard commented on #5714
I wonder what caused the regression. Anyhow looks like another gap in our e2e tests.

[2021-09-07 15:49] mattmoor commented on #5714
Did it ever resync?  I don't see any logic that would suggest that the ConfigWatcher supports resync on particular config changes the way the config store does.  I could be wrong, but as I was integrating it in tekton/triggers I was looking for logic similar to what I linked from knative/serving for resync handling.

[2021-09-07 16:03] lionelvillard commented on #5714
#5693 suggests it did resync (in 0.18)

[2021-09-07 16:12] mattmoor commented on #5714
Maybe back then it was based on a config store?  Without something connecting the watcher to the workqueue, I just don't see how it's possible.  Maybe what they saw was incidental resyncs...?  🤷

[2021-09-07 17:29] JeffNeff commented on #5630
out of curiosity.. can I ask why you would want to split the events? @acodetailor

[2021-09-08 12:17] tzununbekov commented on #5422
/assign

[2021-09-08 12:48] pierDipi commented on #5700
https://github.com/knative/eventing/pull/5706 didn't work for us.

[2021-09-08 13:00] mgencur commented on #5700
@pierDipi can you tell me how you're running the tests? I can see `Running go test with args: -tags=e2e -count=1 -race -timeout=30m ./test/e2e_new/...` which doesn't seem to exist upstream.

Are you using the REKT framework? If yes, you might need these two?
https://github.com/knative-sandbox/reconciler-test/pull/233
https://github.com/knative-sandbox/reconciler-test/pull/234

More info would be a

[2021-09-08 13:15] pierDipi commented on #5700
Sure, this happens in `knative-sandbox/eventing-kafka-broker` for tests that are using the eventing testlib (no rekt).

This is how we run them https://github.com/knative-sandbox/eventing-kafka-broker/blob/f76d520f1759179c756f7a65b07d119444aacd79/test/e2e-tests.sh#L45

Test directory is https://github.com/knative-sandbox/eventing-kafka-broker/tree/main/test/e2e

[2021-09-08 13:18] pierDipi commented on #5700
The `./test/e2e_new/` are tests based on REKT which run fine, failed tests are the one based on eventing testlib which are in `test/e2e`.

[2021-09-08 13:21] mgencur commented on #5700
OK. I'm trying something in https://github.com/knative-sandbox/eventing-kafka/pull/859 . Looking at the dump - there are no `eventing-e2eX` namespaces left after the run. So, I believe it's just a matter of running many tests in parallel and the MaxNamespaceSkip number is still too low.

[2021-09-08 13:23] mgencur commented on #5700
But, maybe I'm wrong and it will need another fix. Let's see.

[2021-09-08 13:24] pierDipi commented on #5700
Right, we run many tests in parallel but the repo where this manifests is https://github.com/knative-sandbox/eventing-kafka-broker (note the trailing `-broker`, I know it's confusing :))

[2021-09-08 17:02] pierDipi opened #5719 "Test event sender doesn't validate response from sink"
**Describe the bug**

We get the following logs in the sender pod:
[code]

but the test failure is:
[code]

 **Expected behavior**
A clear and concise description of what you expected to happen.

 **To Reproduce**
Steps to reproduce the behavior.

Send event with the test sender image to a non-existing endpoint.

 **Additional context**

/area test-and-release

[2021-09-09 01:23] #5354 closed

[2021-09-09 01:23] #5051 closed

[2021-09-09 01:23] #4927 closed

[2021-09-09 01:58] jhill072 opened #5721 "Sugar Controller does not use default broker class during injection"
**Describe the bug**
After enabling a namespace for injection using the label `eventing.knative.dev/injection: enabled`, the sugar controller attempts to create a broker named "default" in that namespace. However, it does not use the default broker class for the namespace and instead always creates a MTChannelBroker instead.

This does not seem to follow the documentation for the [sugar controller

[2021-09-09 03:33] jhill072 commented on #5721
I have a PR ready to be created, but I wanted to make sure the tests passed locally first. Seems to be taking a bit, will check back in on this in the morning.

[2021-09-10 01:23] #4748 closed

[2021-09-10 10:23] pierDipi commented on #2841
/remove-lifecycle stale

[2021-09-13 12:08] knative-test-reporter-robot opened #5724 "[flaky] test/e2e.TestChannelBasedBrokerWithManyTriggers/InMemoryChannel-messaging.knative.dev/v1/test_default_broker_with_many_attribute_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelBasedBrokerWithManyTriggers/InMemoryChannel-messaging.knative.dev/v1/test_default_broker_with_many_attribute_triggers
* **Repository name**: eventing

[2021-09-13 15:53] snowwolf007cn opened #5725 "MTChannelBasedBroker not working"
**Describe the bug**
I was running v0.25 knative-eventing get-started  cloudevents-player examples on docker-desktop k8s local cluster,
while I sent an events found that the trigger is not working.

 **Expected behavior**
cloudevents-player received the events triggered successfully.

 **To Reproduce**
1. create the example-broker according to the tutorial
2. create the events-player service accor

[2021-09-13 18:52] travis-minke-sap opened #5726 "Enhance DLQ Messages With Destination URL"
**Problem**
It is a common architecture to route many disparate Subscriptions to a single Dead Letter Sink in order to facilitate centralized processing of failed events. Such centralized processing is made overly-complicated, or nearly-impossible, by the lack of context as to the original destination of the failed CloudEvent. It would be generally useful if the failed CloudEvent were enhanced wit

[2021-09-13 18:53] travis-minke-sap commented on #5726
/assign

[2021-09-14 11:28] skonto commented on #5460
@aliok no because I am able to modify deployments for other components eg. control plane ones via the knative operator (extensions).

[2021-09-14 12:05] #5700 closed

[2021-09-14 13:04] lionelvillard commented on #5460
/remove-lifecycle stale

[2021-09-14 21:00] #5559 closed

[2021-09-15 17:35] GarrettPoore opened #5738 "Allow Metadata Configuration in ChannelTemplateSpec"
**Problem**
ChannelTemplateSpec only allows setting of the spec for the Channel, but in some cases it may be useful to set some metadata for the Channel as well.

My specific use case is with the [KafkaChannel](https://knative.dev/docs/admin/eventing/kafka-channel-configuration/), which has the `eventing.knative.dev/scope` annotation to change where the Kafka dispatcher is run (cluster/namespace).

[2021-09-15 21:42] #5726 closed

[2021-09-17 06:46] #5638 closed

[2021-09-17 12:06] knative-test-reporter-robot opened #5741 "[flaky] test/conformance.TestChannelStatusSubscriber/Channel-messaging.knative.dev/v1/Channel_has_required_status_subscriber_fields"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatusSubscriber/Channel-messaging.knative.dev/v1/Channel_has_required_status_subscriber_fields
* **Repository name**: eventing

[2021-09-17 12:06] knative-test-reporter-robot opened #5742 "[flaky] test/e2e.TestChannelBasedBrokerWithManyTriggers/Channel-messaging.knative.dev/v1/test_default_broker_with_many_attribute_and_extension_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelBasedBrokerWithManyTriggers/Channel-messaging.knative.dev/v1/test_default_broker_with_many_attribute_and_extension_triggers
* **Repository name**: eventing

[2021-09-17 12:06] knative-test-reporter-robot opened #5743 "[flaky] test/conformance.TestChannelStatusSubscriber"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatusSubscriber
* **Repository name**: eventing

[2021-09-17 18:20] lionelvillard commented on #5526
/remove-lifecycle stale

[2021-09-17 18:21] lionelvillard commented on #5526
seems like this is done: https://knative.dev/docs/admin/eventing/broker-configuration/#configure-broker-defaults

@xtreme-sameer-vohra can we close?

[2021-09-17 18:46] lionelvillard commented on #5523
/remove-lifecycle stale

[2021-09-17 19:16] lionelvillard commented on #5523
there is no user-facing annotations/labels for GA.

[2021-09-17 19:16] lionelvillard commented on #5524
/remove-lifecycle stale

[2021-09-17 19:17] lionelvillard commented on #5524
nothing to document

[2021-09-19 12:06] #5577 closed

[2021-09-20 12:51] lionelvillard commented on #5535
/remove-lifecycle stale

[2021-09-20 14:05] lionelvillard commented on #5639
@benmoss what the status on the one?

[2021-09-20 14:22] benmoss commented on #5639
Not actively working on it, took myself off as assignee

[2021-09-20 17:15] evankanderson commented on #5364
/reopen

[2021-09-21 17:54] pierDipi opened #5747 "Default dead letter sink namespace to the object namespace"
**Problem**

Dead letter sink namespace is not defaulted to the object namespace for:
- Broker
- Trigger
- Channel
- Subscription

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which persona is this feature for?
- Everyone

**Exit Criteria**

Given:
[code]
Expected:
[code]

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve?

[2021-09-21 18:20] cardil opened #5749 "Possible DoS by using overlapping multiple SinkBindings"
**Describe the bug**
Eventing allows users to create a faulty situation, where multiple sink bindings are constantly reconfiguring a single subject. This may lead to a DoS of a whole Kubernetes cluster, by resource depletion. Such situation can happen both intentionally, but also by chance by using different but overlapping labels.

[code]

 **Expected behavior**
Knative Eventing should detect tha

[2021-09-21 18:20] cardil commented on #5510
/remove-lifecycle stale

[2021-09-21 18:22] cardil commented on #5749
/area security

[2021-09-21 18:34] lionelvillard commented on #5747
@duglin any concerns?

[2021-09-22 12:05] knative-test-reporter-robot opened #5750 "[flaky] test/e2e.TestSequenceV1/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSequenceV1/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2021-09-22 12:05] knative-test-reporter-robot opened #5751 "[flaky] test/e2e.TestSequenceV1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSequenceV1
* **Repository name**: eventing

[2021-09-22 12:48] duglin commented on #5747
Seems ok to me, but I do have a question. If we don't do this today, what happens today? Do we just implicitly default to the current NS but just not say so in the yaml?

[2021-09-22 13:05] pierDipi commented on #5747
Yes, we just implicitly default to the current namespace.

Yes, we don't have any restriction of the namespace, users can specify any namespace.

[2021-09-22 13:26] duglin commented on #5747
ok thanks for the clarification!

[2021-09-22 15:06] #2005 closed

[2021-09-23 11:24] cardil commented on #5749
Maybe this issue should be treated as [CWE-400](https://cwe.mitre.org/data/definitions/400.html)

[2021-09-23 13:23] #5364 closed

[2021-09-24 01:23] #5436 closed

[2021-09-24 12:05] knative-test-reporter-robot opened #5755 "[flaky] test/e2e.TestChannelBasedBrokerWithManyTriggers/Channel-messaging.knative.dev/v1/test_default_broker_with_many_deprecated_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelBasedBrokerWithManyTriggers/Channel-messaging.knative.dev/v1/test_default_broker_with_many_deprecated_triggers
* **Repository name**: eventing

[2021-09-24 12:26] #5747 closed

[2021-09-24 16:44] evankanderson opened #5756 "[Experimental] Spec non-compliance: `spec.subscriber` MUST be set"
**Describe the bug**
As part of https://github.com/knative/specs/pull/30 to simplify the user experience of Subscriptions, the spec was changed from requiring one of `spec.subscriber` or `spec.reply` to be set to requiring that `spec.subscriber` is set.

 **Expected behavior**
An admission validation error if a Subscription is created without a subscriber.

 **To Reproduce**
Create a Subscription

[2021-09-24 16:46] evankanderson commented on #4127
/reopen

It looks like the implementation of this was never completed.

[2021-09-25 12:05] #5751 closed

[2021-09-25 12:05] #5750 closed

[2021-09-26 01:23] #4946 closed

[2021-09-26 12:07] #5755 closed

[2021-09-26 12:07] #5742 closed

[2021-09-27 01:23] #3911 closed

[2021-09-27 07:04] odacremolbap opened #5757 "Removing a branch at Parallel does not clean up underlying resources"
**Describe the bug**
Removing a branch in a parallel object does not remove underlying resources

 **Expected behavior**
Removing a branch in a parallel object should remove the no longer used channel and subscription.
This same issue was recently fixed for [sequences](https://github.com/knative/eventing/issues/2005).

 **To Reproduce**
Follow docs to create a Parallel object with at least 2 branc

[2021-09-27 12:55] odacremolbap commented on #5757
/assign

[2021-09-27 12:59] lionelvillard commented on #4127
If this needed for 1.0? Related question: does the spec mention that senders MUST somehow (e.g. print a message in the log) that reply events are not supported?

[2021-09-27 13:26] lionelvillard commented on #4865
I audited the doc and open this PR: https://github.com/knative/docs/pull/4294

This issue can now be closed.

[2021-09-27 13:26] #4865 closed

[2021-09-27 15:06] salaboy commented on #4127
@lionelvillard I am trying to find the answer to the same question.. is this a blocker for GA?

[2021-09-27 15:07] salaboy commented on #5756
@evankanderson is this a blocker for GA?
Can you assign it to me? I can probably work on this one

[2021-09-27 15:22] evankanderson commented on #5756
I think it should be a blocker for GA (possibly with a flag to disable the validation until Oct 2022 because this is a `v1` resource).

You can assign an issue to yourself with `/assign` (fyi)

/assign @salaboy

[2021-09-27 15:23] lionelvillard commented on #5756
I agree, this is a blocker for GA.

[2021-09-27 15:37] dprotaso commented on #4127
/unassign @grantr
/assign @salaboy

[2021-09-27 16:45] gabo1208 opened #5759 "Channels spec control plante conformance tests completion"
**Problem**
Channels control plane conformance tests are not complete when comparing them with the specs

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Developers

**Exit Criteria**
Have at least the `MUST` clauses covered in the conformance tests (in rekt and normal conformance directories if possible)

**Additional context (optional)**
This is based on the confor

[2021-09-27 16:45] gabo1208 commented on #5759
/assign

[2021-09-28 05:19] evankanderson commented on #4127
https://github.com/knative/specs/blob/main/specs/eventing/data-plane.md#derived-reply-events

I think this should be as simple as setting the `Prefer: reply` header on the `spec.subscriber` delivery, but not the subsequent delivery to the Broker or the `spec.reply` destination.

[2021-09-28 08:21] salaboy commented on #5756
@evankanderson @lionelvillard from the change in the spec I am assuming that `spec.reply` shouldn't be validated anymore. In other words, a missing reply will not cause validation to fail. Is this a correct assumption?

[2021-09-28 09:56] salaboy commented on #4127
@evankanderson  @lionelvillard
From what I can understand, this only applies to the Subscriber Message dispatcher implementation. The PR that I've just submitted adds the header only to the destination as @evankanderson mentioned.
From my current understanding this doesn't affect the Broker/Trigger logic at all, as the `spec.reply` field is just for Subscription. Am I correct with this assumption?

[2021-09-28 15:40] gabo1208 commented on #5759
Fixed in https://github.com/knative/specs/pull/67

[2021-09-28 15:40] #5759 closed

[2021-09-29 13:25] duglin opened #5769 "Add kref.UID to the list of available template fields for "Knative Reference mapping" feature"
See: https://github.com/knative/docs/blob/ac1128f4c64a1ac645f9a5f9f8ed17f295bad9b1/docs/eventing/experimental-features.md

We'd like to add the UID of the referenced object to the list template values that can be used in the template URI. This would be useful for security purposes. Using the example listed, this would allow the "jobrunner" to verify that the incoming request contains the UID of th

[2021-09-29 15:33] xtreme-sameer-vohra commented on #5526
sorry for the late reply @lionelvillard
That looks good to me. IIRC there aren't any Trigger related ConfigMapss 🤔
However, I just created the issue to move things along on the [GA requirements doc](https://docs.google.com/document/d/1mC_nDpLIycqiBn5Om1tvbcY3yyAR3WUNXcHiyloEzhg/edit#heading=h.4uzygo1c6hqe), so I'd defer to @devguyio

[2021-09-29 15:37] xtreme-sameer-vohra commented on #5523
Thanks @lionelvillard. If there are no action items, should I close this ?

[2021-09-29 15:38] xtreme-sameer-vohra commented on #5524
Thanks @lionelvillard
Going ahead and closing it 🍾

[2021-09-29 15:38] #5524 closed

[2021-09-29 17:39] gabo1208 commented on #5639
Is this a GA blocker by any means? @lionelvillard @salaboy

[2021-09-29 18:43] lionelvillard commented on #5526
That's correct.

[2021-09-29 18:44] lionelvillard commented on #5523
yes, but I can do it for you :-)

[2021-09-29 18:44] #5523 closed

[2021-09-30 01:25] #4945 closed

[2021-09-30 21:23] cardil commented on #4810
/remove-lifecycle stale
/reopen

This is still a TODO

[2021-09-30 21:26] cardil commented on #4592
/remove-lifecycle stale

[2021-09-30 22:29] cardil commented on #5407
/remove-lifecycle stale

[2021-10-01 07:30] salaboy opened #5771 "Forward Header `Prefer: reply` to brokers"
**Problem**

`Prefer: reply` Header is forward by channels it also needs to be forwarded by brokers:

https://github.com/knative/eventing/pull/5764#issuecomment-931589249

Which persona is this feature for?

Following the Spec and focused on hinting developers about the behavior that they can follow when receving an event.

**Exit Criteria**
The `Prefer: reply` Header should be forwarded by trigge

[2021-10-01 07:40] salaboy opened #5772 "E2E test for `Prefer: reply` Header"
**Problem**

The `Prefer: reply` header is being forwarded to Channels (message_dispatcher.go) and to Brokers (filter_handler.go), so this new feature needs to be covered by e2e tests:
Related issues:

https://github.com/knative/eventing/issues/5771
https://github.com/knative/eventing/issues/4127

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which persona is this

[2021-10-01 07:41] salaboy commented on #4127
I've created this issue to track down the e2e tests: https://github.com/knative/eventing/issues/5772
Need to define if those tests are needed for GA or not

[2021-10-01 07:41] salaboy commented on #5772
/assign @gabo1208 Gabriel can you help me out with this one?

[2021-10-01 07:42] salaboy commented on #5771
/assign

[2021-10-01 10:56] salaboy commented on #5639
@gabo1208 good stuff.. can you please keep me posted about this one as well

[2021-10-01 12:25] lionelvillard commented on #5039
/remove-lifecycle stale

[2021-10-01 12:26] gabo1208 commented on #5772
Sure thing @salaboy !

[2021-10-01 13:00] gabo1208 commented on #5725
Tried to replicate your issue @snowwolf007cn but failed.
Could you send the payload details you are trying to send?
Are you using the InMemory channel implementation?

[2021-10-01 17:10] pierDipi commented on #5725
I see that this was the solution ([Slack message](https://knative.slack.com/archives/C017X0PFC0P/p1631635799032900)):

Closing, please reopen if that's not the solution.

[2021-10-01 17:10] #5725 closed

[2021-10-01 21:47] travis-minke-sap opened #5776 "Channel & Subscription Validation Does Not Include DeliverySpec"
**Describe the bug**
The `ChannelSpec` and `SubscriptionSpec` Validate() implementations do **not** validate the optional `DeliverySpec` in the same way that the `BrokerSpec` and `TriggerSpec` do.  I don't know all the history to be able to say whether this is intentional or not but it seems inconsistent.

Aside from the obvious impact of the Webhook not validating the DeliverySpecs, is the side-e

[2021-10-01 21:48] travis-minke-sap commented on #5776
/assign

[2021-10-02 09:40] #5771 closed

[2021-10-04 07:08] #5776 closed

[2021-10-04 12:05] #5724 closed

[2021-10-04 12:51] lionelvillard commented on #5566
/remove-lifecycle stale

[2021-10-04 12:51] lionelvillard commented on #5566
@pierDipi do you know if this is still the case?

[2021-10-04 13:04] gabo1208 opened #5781 "Triggers Conformance Tests completion"
**Problem**
We don't have all the MUST clauses in the Triggers spec covered by tests in the project

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Developers

**Exit Criteria**
Have at least one test per MUST clause from the Trigger specs

**Additional context (optional)**
This is part of the Conformance GA plan

[2021-10-04 13:04] gabo1208 opened #5782 "Triggers Conformance Tests completion"
**Problem**
We don't have all the MUST clauses in the Subscription spec covered by tests in the project

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Developers

**Exit Criteria**
Have at least one test per MUST clause from the Subscription specs

**Additional context (optional)**
This is part of the Conformance GA plan

[2021-10-04 15:28] lionelvillard commented on #5422
@tzununbekov did you have a chance to look at this?

[2021-10-04 15:37] tzununbekov commented on #5422
@lionelvillard yes, I [did](https://github.com/knative/eventing/pull/5752). Working on a test to bring coverage back to 80%

[2021-10-04 16:11] gabo1208 commented on #5772
/assign

[2021-10-05 07:14] salaboy commented on #5527
For Channels the following ConfigMap is documented:
- `default-ch-webhook`: which allows to set up defaults for channels creations: https://knative.dev/docs/eventing/channels/channel-types-defaults/

[2021-10-05 07:14] salaboy commented on #5527
/assign

[2021-10-05 07:23] salaboy commented on #5529
- Sources that needs to be documented because we know that they have a ConfigMap:
  - PingSource:
    - ConfigMap
      - Name: `config-ping-defaults`
      - Parameter(s):
        - dataMaxSize

[2021-10-05 07:23] salaboy commented on #5529
/assign

[2021-10-05 12:41] snmohan83 opened #5785 "Some images are not released with tags"
**Describe the bug**

The following images have not been released to the repository with suitable Tags (eg: v0.22.1).
Due to this, the manifests using these images are forced to use SHA256 digests to download the images.

This is problematic when uploading them and using through private registry.

1. apiserver_receive_adapter
2. channel_controller
3. channel_dispatcher
4. mtchannel_broker

 **Expe

[2021-10-05 13:04] lionelvillard commented on #5785
I wonder is this is a bug/limitation/misuse of ko not tagging all images in an YAML file. For instance the `apiserver_receive_adapter` is declared in an env variable: https://github.com/knative/eventing/blob/main/config/core/deployments/controller.yaml#L75

Pinging some people I think might know off-the-bat: @imjasonh @mattmoor @dprotaso

[2021-10-05 13:30] gabo1208 commented on #5639
this was fixed by @pierDipi here https://github.com/knative/eventing/pull/5748

[2021-10-05 14:56] mattmoor commented on #5785
`ko` is virtually unaware of the schema, so it doesn't care where a `ko://` reference is, it does the same thing.

If you pass `--tags foo` you should get `gcr.io/bar/baz:foo@sha256deadbeef`

[2021-10-05 16:12] benmoss commented on #5566
Using [this topology](https://gist.github.com/benmoss/0b7ab69b70a062106267e604ab561dd2) against the latest on the main branch (a6f2a7093fd81b5b8151fc63dc1b0c279f2a8e07), it seems to work fine, so I'd say we can close this issue.

[2021-10-05 16:20] pierDipi commented on #5566
Yes, I think we can close this, for MTChannelBasedBroker we delegate the retry handling to the underlying Subscription in https://github.com/knative/eventing/blob/8274c41b142ea311cb7396d0d4dc419317a30f6b/pkg/reconciler/broker/resources/subscription.go#L63

[2021-10-05 17:00] cardil commented on #5749
@knative/security-wg-leads PTAL

[2021-10-05 19:14] gabo1208 commented on #5639
It is fixed for the Triggers and is unclear for the Brokers so we should discuss this in a separate issue for the brokers i think.

[2021-10-05 19:38] gabo1208 opened #5787 "Brokers status deadLetterUri is not been updated"
**Problem**
Brokers and Triggers have the same status property: `status.deadLetterSinkUri`

In Trigger's Spec is clear how it should behave and when to update it. In the Broker's spec is not even mentioned.
I think we should decide between:
- Removing `status.deadLetterSinkUri` from the Broker's status (don't know if that is a good decision, if anyone can give a little bit more context about this

[2021-10-05 19:40] gabo1208 commented on #5639
Since this is more specific to Triggers, have been divided into two issues:
- This one for the Triggers that is already fixed and should be closed
- https://github.com/knative/eventing/issues/5787

[2021-10-06 05:22] devguyio commented on #5639
@gabo1208 that makes sense, I'm closing this issue . Fixed by #5748

/close

[2021-10-06 05:22] #5639 closed

[2021-10-06 09:00] #5422 closed

[2021-10-06 09:02] salaboy commented on #5529
PR sent, please review @abrennan89 @snneji
@lionelvillard @devguyio Can you folks please also check? is there something else that we should add here?

[2021-10-06 09:15] salaboy commented on #5527
@lionelvillard @devguyio I think that we can close this one. As the ConfigMap is already documented

[2021-10-06 09:39] salaboy commented on #5522
I've been looking at all the annotations available for Brokers and Triggers:

For Broker:
- `eventing.knative.dev/broker.class`: is documented here, inside an example:  https://knative.dev/docs/eventing/broker/example-mtbroker/ I think that we can create a separate section if there are more annotations that need to be described

For Trigger:
- There is one automatically generated label for trigger

[2021-10-06 12:55] abrennan89 commented on #5529
@salaboy I think it's enough to get reviews from Lionel and Ahmed on this. Not sure what input docs can really provide.
When you've settled on what needs to be documented, please open an issue in the /docs repo to track the work.

[2021-10-06 13:11] #5525 closed

[2021-10-06 13:30] lionelvillard commented on #5522
IMO we don't need a separate doc.

For trigger there is another annotation:

https://github.com/knative/eventing/blob/main/pkg/apis/eventing/v1/trigger_types.go#L32

[2021-10-06 13:32] lionelvillard commented on #5527
sounds good.

[2021-10-06 13:37] lionelvillard opened #5789 "Case convention inconsistent in Knative Eventing config maps"
Similar to https://github.com/knative/serving/issues/7300 but for eventing.

These eventing-specific configmaps don't use camel-case:

- https://github.com/knative/eventing/blob/main/config/core/configmaps/default-broker-channel.yaml
- https://github.com/knative/eventing/blob/main/config/core/configmaps/default-pingsource.yaml

[2021-10-06 14:34] lionelvillard commented on #5522
maybe there: https://knative.dev/docs/eventing/broker/triggers/

since this is a annotation on Trigger.

[2021-10-06 17:12] #5529 closed

[2021-10-06 19:31] benmoss commented on #5787
/assign @gabo1208

[2021-10-08 01:41] matzew commented on #5484
/reopen

On Fri 8. Oct 2021 at 03:24, github-actions[bot] ***@***.***>
wrote:

--
Sent from Gmail Mobile

[2021-10-08 12:06] knative-test-reporter-robot opened #5795 "[flaky] test/upgrade.TestEventingUpgrades/InstallingBase/EventingLatestRelease"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestEventingUpgrades/InstallingBase/EventingLatestRelease
* **Repository name**: eventing

[2021-10-08 12:06] knative-test-reporter-robot opened #5796 "[flaky] test/upgrade.TestEventingUpgrades/PreUpgradeTests/EventingPreUpgradeTest/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestEventingUpgrades/PreUpgradeTests/EventingPreUpgradeTest/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2021-10-08 12:06] knative-test-reporter-robot opened #5797 "[flaky] test/upgrade.TestEventingUpgrades/PreUpgradeTests/EventingPreUpgradeTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestEventingUpgrades/PreUpgradeTests/EventingPreUpgradeTest
* **Repository name**: eventing

[2021-10-08 15:18] benmoss commented on #5430
/assign

[2021-10-08 19:20] gabo1208 opened #5799 "[Channel based Brokers] Set Brokers status.deadLetterSink Based on the underlying Channel DLS resolution"
**Problem**
Set Brokers status.deadLetterSink Based on the underlying Channel DLS resolution

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Developers

**Exit Criteria**
Implemented Brokers status.deadLetterSink update based on the underlying Channel DLS resolution, including e2e

**Additional context (optional)**
First suggested here https://github.com/knative/eve

[2021-10-09 14:57] gabo1208 commented on #5799
And this happens with the v0.26 or just with my change?

[2021-10-10 12:05] #5711 closed

[2021-10-11 10:59] rhuss commented on #4514
/remove-lifecycle stale

[2021-10-11 12:05] knative-test-reporter-robot opened #5801 "[flaky] test/rekt.TestBrokerConformance/Knative_Broker_Specification_-_Control_Plane/Delivery_Spec_-_dlq-test-4/Setup/install_recorder_for_broker_dlq"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerConformance/Knative_Broker_Specification_-_Control_Plane/Delivery_Spec_-_dlq-test-4/Setup/install_recorder_for_broker_dlq
* **Repository name**: eventing

[2021-10-12 12:06] knative-test-reporter-robot opened #5803 "[flaky] test/e2e.TestChannelBasedBrokerWithManyTriggers/InMemoryChannel-messaging.knative.dev/v1/test_default_broker_with_many_deprecated_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelBasedBrokerWithManyTriggers/InMemoryChannel-messaging.knative.dev/v1/test_default_broker_with_many_deprecated_triggers
* **Repository name**: eventing

[2021-10-13 12:05] knative-test-reporter-robot opened #5804 "[flaky] test/conformance.TestChannelTracingWithReply"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelTracingWithReply
* **Repository name**: eventing

[2021-10-13 12:05] knative-test-reporter-robot opened #5805 "[flaky] test/conformance.TestChannelTracingWithReply/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelTracingWithReply/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2021-10-13 12:05] #5801 closed, assigned to nobody

[2021-10-13 12:05] knative-test-reporter-robot opened #5806 "[flaky] test/conformance.TestBrokerTracing/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerTracing/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2021-10-13 12:05] knative-test-reporter-robot opened #5807 "[flaky] test/conformance.TestBrokerTracing/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerTracing/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2021-10-13 12:05] knative-test-reporter-robot opened #5808 "[flaky] test/conformance.TestChannelTracingWithReply/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelTracingWithReply/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2021-10-13 12:05] knative-test-reporter-robot opened #5809 "[flaky] test/conformance.TestBrokerTracing"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerTracing
* **Repository name**: eventing

[2021-10-13 20:02] travis-minke-sap opened #5811 "[Experimental] DeliverySpec RetryAfter"
**Description**
The **Retry-After** header is a standard part of the HTTP spec which can be returned with **429** and **503** responses in order to specify a duration, or timestamp, which subsequent retries should wait before attempting to resend.  It provides downstream event recipients with a mechanism to provide back-pressure when requests are arriving too frequently.  The event retry mechanism

[2021-10-14 01:23] #3422 closed

[2021-10-14 16:28] evankanderson commented on #5811
Do we need the `enabled` bool, or could we require a max duration (even if it's something silly like "1 week")?

Other questions:

1. Any guidance to implementers about handling this in-process vs in the storage layer?

2. Should a `Retry-After` apply to all deliveries to that host, or only that specific delivery?

3. Should there be an administrator-level ConfigMap parameter to specify a max retr

[2021-10-14 19:42] matzew commented on #5811
On Thu 14. Oct 2021 at 21:22, Travis Minke ***@***.***> wrote:

more compact and reasonable to express it like this

...and during the experimental-features Alpha/Beta stages the feature flag

ACK, that’s right. Especially if I set retry to “n” (larger 0)

but I thought this was undesirable from a *"don't change the existing

I’d use it: if I can honor the retry-after header I’d like to do so.

IM

[2021-10-14 19:46] travis-minke-sap commented on #5811
I like it!  I can re-tool to that implementation if folks agree (or no-one disagrees after a week and a summary at next weeks WG) ?

[2021-10-14 23:15] gabo1208 opened #5814 "Resolve Channel based Broker DLS in its underlying channel"
**Problem**
Channel based brokers have the status property: `status.deadLetterSinkUri`

We should be resolving the Broker DLS in the Channel

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
All

**Exit Criteria**
Resolve Channel based Broker DLS in its underlying channel

[2021-10-15 12:06] #5803 closed

[2021-10-15 14:25] lionelvillard commented on #5811
+1 for `retryAfterMax`. The default behavior should be to always respect `retry-after`.

Setting `retryAfterMax: PT0S` provides an effective way to disable this feature. We could provide a post-install job to set this field, as a way to make sure that existing applications won't break when upgrading.

[2021-10-16 01:24] #5528 closed

[2021-10-16 12:06] knative-test-reporter-robot opened #5819 "[flaky] _build_tests.Verify_CodeGen"
### Auto-generated issue tracking flakiness of test
* **Test name**: _build_tests.Verify_CodeGen
* **Repository name**: eventing

[2021-10-16 12:06] #5806 closed, assigned to nobody

[2021-10-16 12:06] #5804 closed

[2021-10-16 12:06] #5805 closed

[2021-10-16 12:06] #5809 closed, assigned to nobody

[2021-10-16 12:06] #5808 closed, assigned to nobody

[2021-10-17 12:06] knative-test-reporter-robot opened #5820 "[flaky] test/upgrade.TestEventingUpgrades/UpgradeWith/EventingGitHead"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestEventingUpgrades/UpgradeWith/EventingGitHead
* **Repository name**: eventing

[2021-10-18 12:06] knative-test-reporter-robot opened #5821 "[flaky] test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_deprecated_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_deprecated_triggers
* **Repository name**: eventing

[2021-10-19 01:24] #2474 closed

[2021-10-19 08:00] pierDipi commented on #2050
/remove-lifecycle stale

[2021-10-19 12:04] knative-test-reporter-robot opened #5826 "[flaky] 3.32% tests failed in repo eventing on 2021-10-19 08:53:14 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 3.32% tests failed in repo eventing on 2021-10-19 08:53:14 +0000 UTC
* **Repository name**: eventing

[2021-10-19 14:46] tzununbekov opened #5828 "Additional checks before IMC status propagation"
In-memory dispatcher scaling causes channels unavailability.
As a solution, we can check if the dispatcher is available and if deployment scaling is in progress before propagating channels statuses.

**Context**
https://github.com/knative/operator/issues/807

[2021-10-19 14:47] tzununbekov commented on #5828
/assign

[2021-10-19 23:28] gabo1208 opened #5829 "We are using in some places the %v format for the logs and error messages, we should discuss if that is the right format to use"
**Problem**
We are using in some places the %v format for the logs and error messages, we should discuss if that is the right format to use

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Developers

**Exit Criteria**
Decide when is worth to use %v against %w for example, and change them accordingly

** Extra context **
[In this PR](https://github.com/knative/eventi

[2021-10-19 23:29] gabo1208 opened #5830 "Need some refactor regarding the triggers, brokers and channel naming, code and methods"
**Problem**
Need some refactor regarding the triggers, brokers and channel naming, code and methods.
Following up #5824 issue, there are some inconsistent naming convention around DeadLetterSinks. This including crds and testing methods, variables and descriptions.

Some examples can be found in [this PR](https://github.com/knative/eventing/pull/5783/files) where some of this details are around so

[2021-10-20 10:40] #5814 closed

[2021-10-20 12:08] knative-test-reporter-robot opened #5831 "[flaky] 3.26% tests failed in repo eventing on 2021-10-20 08:52:51 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 3.26% tests failed in repo eventing on 2021-10-20 08:52:51 +0000 UTC
* **Repository name**: eventing

[2021-10-20 16:11] odacremolbap opened #5832 "Broker (Channel based) delivery options updates are not propagated to Channels."
**Describe the bug**

Channel based Broker is not propagating updates to the the underlying physical channel.

 **Expected behavior**

If an existing (channel based) broker is updated with a different delivery section than before, the underlying channel should consequently update the delivery section.

 **To Reproduce**

(Using InMemoryChannel) Create a Broker with delivery options

[code]

Make s

[2021-10-20 16:11] odacremolbap commented on #5832
/assign

[2021-10-20 16:39] odacremolbap opened #5834 "Channel does not allow delivery options update."
**Describe the bug**
Although I haven't found any explicit [reference to the Channel delivery configuration](https://github.com/knative/specs/blob/main/specs/eventing/control-plane.md) being mutable, all other objects {Broker|Trigger|Subscription} delivery options are mutable.

 **Expected behavior**
It is my understanding that Channel object should let users update the delivery configuration.

 *

[2021-10-20 16:43] xtreme-sameer-vohra opened #5835 "SinkBinding matching a subject using labels doesn't update the subject when label is removed"
**Describe the bug**
When a SinkBinding is created with a subject using labels
[code]
The binding injects expected variables like `K_SINK` into a Knative Service such as
[code]

When the service is updated to remove the label
[code]
The binding injected variables are still present in the Knative Service
[code]

 **Expected behavior**
The binding injected variables are removed when a subject's matc

[2021-10-20 18:00] benmoss opened #5836 "Broker DLS conformance test does not respect BROKER_CLASS config"
**Describe the bug**
https://github.com/knative/eventing/pull/5793 introduced some changes that make a new broker, and it appears to always be a MTChannelBasedBroker even when you run the conformance tests with a different `BROKER_CLASS` environment variable.

 **Expected behavior**
It should always use the broker class you specify

 **To Reproduce**
Run conformance tests with a different broker c

[2021-10-20 18:01] benmoss commented on #5836
/assign

[2021-10-21 01:25] #5518 closed

[2021-10-22 12:06] #5819 closed, assigned to nobody

[2021-10-25 12:05] knative-test-reporter-robot opened #5843 "[flaky] test/conformance.TestChannelDataPlaneSuccess"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess
* **Repository name**: eventing

[2021-10-25 12:05] knative-test-reporter-robot opened #5844 "[flaky] test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1/full-event_encoding_structured_version_0.3"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1/full-event_encoding_structured_version_0.3
* **Repository name**: eventing

[2021-10-27 12:07] #5844 closed, assigned to nobody

[2021-10-27 23:17] bennidhamma opened #5852 "Unable to get a basic broker working"
## Expected Behavior

When I create a broker and look at it with `kn broker list`, I would expect it to look something like this:

[code]

## Actual Behavior

Instead, it looks like this:

[code]

## Steps to Reproduce the Problem

1. Install knative-serving and knative-eventing into a kubernetes cluster (I downloaded the serving and eventing yamls from https://knative.dev/docs/admin/install/servi

[2021-10-28 03:34] #5852 closed, assigned to nobody

[2021-10-28 12:08] knative-test-reporter-robot opened #5853 "[flaky] test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Data_Plane/Delivery_Spec_1/Assert/[Stable/SHOULD]Conformance_Channels_SHOULD_support_various_retry_configuration_parameters:_[the_maximum_number_of_retries]"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestChannelConformance/Knative_Channel_Specification_-_Data_Plane/Delivery_Spec_1/Assert/[Stable/SHOULD]Conformance_Channels_SHOULD_support_various_retry_configuration_parameters:_[the_maximum_number_of_retries]
* **Repository name**: eventing

[2021-10-28 19:20] #5828 closed, assigned to tzununbekov

[2021-10-29 05:10] #5834 closed, assigned to odacremolbap

[2021-10-29 11:22] soaand01 opened #5858 "Knative broker Not able to stream to Event Hubs in Azure."
**Describe the bug**
The issue:
I installed Knative-eventing  with Knative kafka-broker to streaming and consume messages from Azure Event Hubs.
However I'm getting Failed to create topic:
[code]

 **Expected behavior**
Produce/stream and consume messages/events on Azure Event Hub via the Knative Kafka Broker.

 **To Reproduce**
I'm following this guide https://knative.dev/docs/eventing/broker/kaf

[2021-10-29 12:08] knative-test-reporter-robot opened #5859 "[flaky] test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1/min-event_encoding_binary_version_1.0"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1/min-event_encoding_binary_version_1.0
* **Repository name**: eventing

[2021-10-29 16:37] gabo1208 opened #5860 "Use Channels status.deadLetterSinkURI in Subscriptions DLS fallback instead of re-resolving the Channel's DLS ref"
**Problem**
Subscriptions have the status property: `status.physicalSubscription.deadLetterSinkUri`
and as it was happening on the Channels, Brokers and Triggers they are re-resolving the
fallback DLS URI, in this case the one from the Channel they are subscribed to

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
All

**Exit Criteria**
Use Subscription fallback Chan

[2021-10-30 12:06] knative-test-reporter-robot opened #5861 "[flaky] test/rekt.TestBrokerConformance/Knative_Broker_Specification_-_Control_Plane/Event_Routing_Spec_-_routing-test-6/Assert/[Stable/SHOULD]Conformance_Two_triggers,_with_no_filters,_both_get_the_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerConformance/Knative_Broker_Specification_-_Control_Plane/Event_Routing_Spec_-_routing-test-6/Assert/[Stable/SHOULD]Conformance_Two_triggers,_with_no_filters,_both_get_the_event
* **Repository name**: eventing

[2021-10-30 12:06] #5821 closed

[2021-10-30 19:25] lamw commented on #4481
+1 @dhruvbehl

I think being able to watch resources across cluster level and different namespaces is where this will be super powerful! Having to deploy this for each NS make this operationally challenging

[2021-10-30 19:31] dhruvbehl commented on #4481
I did try making a few changes to the ApiServerSource code and got it working pan cluster on my local setup recently. Would love to discuss on the path to production for this.

[2021-10-31 12:06] knative-test-reporter-robot opened #5862 "[flaky] test/e2e.TestChannelBasedBrokerWithManyTriggers/Channel-messaging.knative.dev/v1/test_default_broker_with_many_attribute_and_extension_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelBasedBrokerWithManyTriggers/Channel-messaging.knative.dev/v1/test_default_broker_with_many_attribute_and_extension_triggers
* **Repository name**: eventing

[2021-10-31 12:06] #5853 closed

[2021-10-31 17:55] soaand01 commented on #5858
@pierDipi I destroyed everything and redeployed again.
The password issue seems to be fine now, for some reason I'm still getting this.
I have no idea why states this **Is your cluster reachable?**
I know it's working because I created a **python** script to produce and consume messages, I run it from my laptop and it works, so the service is reachable, but for some reason I get this from the knat

[2021-10-31 18:10] pierDipi commented on #5858
Hi @soaand01, that error means that we can't connect to your Kafka cluster correctly with `SASL_SSL`.

Can you post here your python program?

[2021-10-31 18:17] soaand01 commented on #5858
Hmmm, weird because I get no authentication issue messages.
Sure, below you have both, the one which receive and the one which send the messages.

You can even try **telnet** and you will see it's fine` telnet streaming-demo.servicebus.windows.net 9093
`you can netcat as well.
`nc -v streaming-demo.servicebus.windows.net 9093`

sender.py
[code]

_In the script below you will the **saaccount_name**

[2021-10-31 18:27] soaand01 commented on #5858
Hi @pierDipi ,

I refreshed and I'm getting this.

`Warning  InternalError    50s (x2 over 50s)     broker-controller  failed to create topic: knative-broker-default-newbroker: [protocol SASL_SSL] SASL user required (key: user)`

[2021-10-31 19:05] pierDipi commented on #5858
Ok, I see you're using their library which hides the weird stuff they're doing.

I'm reading this article https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-quickstart-kafka-enabled-event-hubs
and I think by creating a secret like the following we should be able to have a proper secret to connect to their service.
[code]

_Note: `$ConnectionString` is a constant._

[2021-10-31 19:05] pierDipi commented on #5858
I was also reading this example [code], and what I'm worried about next is that there is no way to change `Version` and `InsecureSkipVerify` via a configuration.

Version:
[code]
and `InsecureSkipVerify` set to true:
[code]

[code]: https://github.com/Azure/azure-event-hubs-for-kafka/blob/013b9defcad7c8e79e57b791d3c2e88d6c531b2f/quickstart/go-sarama-client/consumer/sarama-consumer.go#L93-L103

[2021-10-31 19:28] soaand01 commented on #5858
Hi @pierDipi ,

Wow, the topics have been created, that's amazing. Thank you very much.
I used your example:

[code]

The only one difference between  yours and mine is that I have used `--from-literal=user="$ConnectionString"` ("") and you have used `--from-literal=user='$ConnectionString'` ('').

I didn't know that '' and "" could impact.

Below is the result.

[code]

Now I'm getting **dql-serv

[2021-10-31 20:20] soaand01 commented on #5858
@pierDipi  and @csantanapr .

Now that I have the broker working. (Topic has been successfully created in my azure event hub).
Should I create a trigger to produce the messages and another trigger to consume these messages ?
It's not that clear for me, maybe you guys had tried it produce and consume messages from the broker.

[2021-11-01 12:06] csantanapr commented on #5858
@soaand01
You can now use examples from the docs
Like this one to produce an event with curl and event-display to print the message

https://knative.dev/development/eventing/getting-started/#creating-event-consumers

[2021-11-01 12:06] #5859 closed

[2021-11-01 12:46] lionelvillard commented on #4481
@dhruvbehl Do you want to submit a PR? We can then discuss there.

[2021-11-02 08:45] soaand01 opened #5866 "Knative event display do not reproduce logs"
**Describe the bug**
I'm following this instructions https://knative.dev/docs/eventing/getting-started/.
Everything goes fine **except when I try to read the application and pod logs.**

 **Expected behavior**
Be able to load the deployments and pods logs.

 **To Reproduce**
[code]
[code]
[code]

[code]

[code]

 **Knative release version**
0.26

 **Additional context**
[code]

[2021-11-02 12:07] #5861 closed

[2021-11-02 13:29] lionelvillard commented on #5866
@soaand01 Can you check if the broker is ready (run `kubectl get broker default`)?

[2021-11-02 13:35] soaand01 commented on #5866
Hello @lionelvillard ,

Yes, the broker it's working, I can produce messages to the broker in a specific topic as well.

[code]

[2021-11-02 13:39] pierDipi commented on #5858
Ah, ok, bash interprets `$ConnectionString` as a variable inside double-quotes.

[2021-11-02 13:40] pierDipi commented on #5858
The deadLetterSink service should be created before referencing it, if you don't have it remove this block from your broker:
[code]

[2021-11-02 14:02] andersonsoares-tomtom commented on #5858
Hello @pierDipi ,

Thank you again, I just removed and now it's working, I can produce messages to the broker.
Now I will find out how to consume it.

[2021-11-02 15:13] soaand01 commented on #5858
Hello @pierDipi ,

Thank you again, I just removed and now it's working, I can produce messages to the broker.
Now I will find out how to consume it.

[2021-11-02 15:16] soaand01 commented on #5858
@csantanapr Thanks, I followed the steps.

Everything goes fine, except when I try to get the logs.

[code]
Something weird with the tracing, unfortunately, any idea?

[2021-11-02 15:17] soaand01 commented on #5858
@csantanapr
Since this is a different issue, I raised a new one.

`https://github.com/knative/eventing/issues/5866`

[2021-11-02 15:20] pierDipi commented on #5858
Thanks, closing this for now.

[2021-11-02 15:20] #5858 closed

[2021-11-02 16:44] ahuret opened #5867 "Docs broken links"
**Describe the bug**
There are broken links in documentation markdown files.

 **Expected behavior**
No broken link in documentation

 **To Reproduce**
https://gist.github.com/ahuret/4529b7c50eeff488d4e06b2a1bfdf644

 **Knative release version**

 **Additional context**
Add any other context about the problem here such as proposed priority

[2021-11-02 20:16] gabo1208 opened #5868 "The event test grid link on the community contacts md is not working as intended"
**Describe the bug**
The event test grid link is wrong here: [Community_contacts.md](https://github.com/knative/eventing/blob/6ce29caf717fff302d4a14ec2f7ca42bfd305834/support/COMMUNITY_CONTACTS.md?plain=1#L37)

 **Expected behavior**
For this link to point to the current test grid: https://testgrid.k8s.io/r/knative-own-testgrid/eventing

 **To Reproduce**
Go to this link and click the ref: [https:

[2021-11-02 20:17] gabo1208 commented on #5868
/assign

[2021-11-02 20:41] #5868 closed

[2021-11-03 08:40] odacremolbap commented on #5829
2 cents:

* `%w` when sending back to a caller an error plus context information, even if the caller is not unwrapping it, it could become useful at some point and I think it is a recommended pattern.
* `zap.Error` for logging (if available) because it makes it very easy to inspect logs.
* `%v` when none of the cases above, like writing a message to a status condition.

[2021-11-03 09:43] odacremolbap commented on #5789
/assign

[2021-11-03 12:07] knative-test-reporter-robot opened #5870 "[flaky] test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_attribute_and_extension_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_attribute_and_extension_triggers
* **Repository name**: eventing

[2021-11-03 12:07] #5862 closed

[2021-11-04 08:35] #5069 closed

[2021-11-04 19:33] gabo1208 opened #5876 "Remove Ginkgo from the project tests"
**Problem**
Ginkgo is generating versioning problems and is not something we are using extensively on the project's test. Im proposing to remove it as a dependency on knative/eventing

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Developers

**Exit Criteria**
Ginko is no more on the project

**Additional context (optional)**
https://github.com/knative/eventing/pul

[2021-11-08 07:32] #5876 closed

[2021-11-09 07:40] pierDipi commented on #5866
@soaand01 can you please show the trigger associated with the broker `lasbroker`?

[2021-11-10 09:46] embano1 opened #5884 "Injected CE Client should allow for customization"
Typically, eventing `sources` use [`adapterv2.MainWithContext`](https://github.com/vmware-tanzu/sources-for-knative/blob/eb93df2f1492ddaef6e9b931549cd574b0776529/vendor/knative.dev/eventing/pkg/adapter/v2/main.go#L79) for injecting clients, etc. into the adapter to benefit from automatic logging configuration, metrics reporting, CR status integration (in case of send errors, etc.).

However, this

[2021-11-10 12:06] knative-test-reporter-robot opened #5885 "[flaky] 1.96% tests failed in repo eventing on 2021-11-10 08:52:50 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.96% tests failed in repo eventing on 2021-11-10 08:52:50 +0000 UTC
* **Repository name**: eventing

[2021-11-10 15:06] odacremolbap commented on #5884
Just to make sure, can you elaborate on the behavior for the source you are building?

The `DeliverySpec` can be configured with a `DeadLetterSink` which I don't think is in the scope of CloudEvents HTTP options.
Also the `DeliverySpec` at the InMemoryChannel afaik does not leverage CloudEvents options to retry and backoff.

On the retries, there is a default retriable function that matches some e

[2021-11-10 17:12] csantanapr opened #5887 "Can't apply broker yaml twice without change when kind is lowercase"
**Describe the bug**
Can't apply broker yaml twice without change

 **Expected behavior**
That in a CICD and the YAML get's re-apply I don't get errors

 **To Reproduce**
Install Eventing, in-memory, and mt-channel-broker I use this script (https://github.com/csantanapr/knative-kind/blob/master/04-eventing.sh#L49)
Run the script twice or apply the broker yaml twice
[code]
On the first create works

[2021-11-10 19:36] embano1 commented on #5884
A concrete example is this [source](https://github.com/vmware-tanzu/sources-for-knative/). Across several of the Tanzu related Knative projects (brokers, sources, etc.) we‘re trying to standardize on `kncloudevents` to keep client logic similar. In this particular case its retry codes which requires me to customize the injected CE client (without completely swapping the client for now).

I agree t

[2021-11-10 20:03] lionelvillard opened #5888 "Traces should include k8s/knative attributes"
**Problem**
Traces generated by Knative Eventing components do not include k8s specific attributes, which makes it hard to understand where they are coming from.

For instance, when the IMC dispatcher sends an event, it produces this kind of traces (showing tags only):

[code]

What I would like to see is the Subscription name and namespace (and from there retrieve the Sequence CR when applicable)

[2021-11-11 07:01] pierDipi opened #5891 "Sources WG roadmap is not public"
**Describe the bug**

- Go to https://github.com/orgs/knative/projects/34 (in incognito mode)
- Get a 404

 **Expected behavior**

Source WG roadmap is public

[2021-11-11 07:03] pierDipi commented on #5891
I can't find a button to convert the project from private to public in project settings https://github.com/orgs/knative/projects/34/settings

[2021-11-11 09:36] #5860 closed

[2021-11-11 10:33] pierDipi opened #5892 "Retry on webhook errors in rekt tests"
**Describe the bug**

We have a workaround for https://github.com/knative/pkg/issues/1509 in the
existing eventing testing library that is currently not used in rekt:

https://github.com/knative/eventing/blob/a8a30634681b2f0b23e5218348d9ae9a42cc00ff/test/lib/creation.go#L55-L72

 **Expected behavior**

Mitigation for https://github.com/knative/pkg/issues/1509

 **To Reproduce**

N/A

 **Knative re

[2021-11-11 12:07] knative-test-reporter-robot opened #5893 "[flaky] 2.07% tests failed in repo eventing on 2021-11-11 08:52:45 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 2.07% tests failed in repo eventing on 2021-11-11 08:52:45 +0000 UTC
* **Repository name**: eventing

[2021-11-11 13:54] lionelvillard commented on #5891
thanks @pierDipi. Fixed

[2021-11-11 13:54] #5891 closed

[2021-11-11 15:39] pierDipi commented on #5885
Tracked in https://github.com/knative/eventing/issues/5893

[2021-11-11 15:39] #5885 closed

[2021-11-11 21:51] benmoss commented on #5884
I think I'd lean most towards 2 or 3. Injecting the cloudevents client via context seems like a pattern we use all over the rest of the place, why not here too?

[2021-11-12 08:00] pierDipi commented on #5368
/remove-lifecycle stale

[2021-11-12 12:07] knative-test-reporter-robot opened #5896 "[flaky] pkg/scheduler/statefulset.TestStatefulsetScheduler/two_replicas,_15_vreplicas,_scheduled"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/scheduler/statefulset.TestStatefulsetScheduler/two_replicas,_15_vreplicas,_scheduled
* **Repository name**: eventing

[2021-11-12 12:07] knative-test-reporter-robot opened #5897 "[flaky] test/rekt.TestBrokerWithDLQ/SourceToSinkWithDLQ/Requirement/sender_is_finished"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerWithDLQ/SourceToSinkWithDLQ/Requirement/sender_is_finished
* **Repository name**: eventing

[2021-11-12 12:07] knative-test-reporter-robot opened #5898 "[flaky] test/rekt.TestBrokerWithDLQ/SourceToSinkWithDLQ/Setup/install_source"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerWithDLQ/SourceToSinkWithDLQ/Setup/install_source
* **Repository name**: eventing

[2021-11-12 12:07] knative-test-reporter-robot opened #5899 "[flaky] test/rekt.TestBrokerAsMiddleware//Assert/[Stable/MUST]broker_as_middleware_deliver_an_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerAsMiddleware//Assert/[Stable/MUST]broker_as_middleware_deliver_an_event
* **Repository name**: eventing

[2021-11-12 13:25] #5892 closed

[2021-11-13 12:06] knative-test-reporter-robot opened #5901 "[flaky] test/e2e.TestChannelBasedBrokerWithManyTriggers/Channel-messaging.knative.dev/v1/test_default_broker_with_many_attribute_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelBasedBrokerWithManyTriggers/Channel-messaging.knative.dev/v1/test_default_broker_with_many_attribute_triggers
* **Repository name**: eventing

[2021-11-14 12:08] #5899 closed

[2021-11-14 12:08] #5896 closed

[2021-11-16 12:08] knative-test-reporter-robot opened #5909 "[flaky] test/e2e.TestChannelBasedBrokerWithManyTriggers/InMemoryChannel-messaging.knative.dev/v1/test_default_broker_with_many_deprecated_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelBasedBrokerWithManyTriggers/InMemoryChannel-messaging.knative.dev/v1/test_default_broker_with_many_deprecated_triggers
* **Repository name**: eventing

[2021-11-16 12:08] #5901 closed

[2021-11-17 08:20] rhuss commented on #5618
/remove-lifecycle stale

[2021-11-17 10:19] odacremolbap commented on #5884
@embano1 the rate limiter at the CE producer client confused me (I still think that is not a valid scenario) but customizing HTTP options for custom retrying when sending sounds good.

Focusing on that [send](https://github.com/cloudevents/sdk-go/blob/1170e89edb9b504a806f2c6a26563c3c26b68276/v2/protocol/http/protocol.go#L142) function, the [context that gets evaluated when configuring the retry st

[2021-11-17 12:23] tzununbekov commented on #5738
/assign

[2021-11-18 12:55] mayuchau opened #5915 "knative eventing pods are not getting created"
I have followed below document to build knative eventing

https://github.com/knative/eventing/blob/knative-v1.0.0/DEVELOPMENT.md

when I am trying to start eventing-controller using **ko apply -f config/** command
then all the yamls are getting applied successfully and images are getting pulled and pushed to correct repository.

but pods are not getting created inside the knative-eventing namespac

[2021-11-19 09:27] embano1 commented on #5884
In order to keep the goodies of the factory, e.g. event recorder and tracing, how could that be achieved if I only want to customize certain options instead of supplying/creating my own CE client? (more thinking about UX here)

[2021-11-19 09:36] embano1 commented on #5884
Any form of bulk-heading, including rate limiting/quotas, to protect a service from overload is considered good practice so I think this is still a valid scenario to add inbound rate limiting to a CE client/receiver. Should I explain this further or does this resiliency aspect make sense?

Yup, but currently that doesn't allow to customize retry behavior (codes) since this is hardcoded in the clie

[2021-11-19 10:10] odacremolbap commented on #5884
The receiver case is clear (and people like me who have been developing sinks using the adapter would benefit from it, I'm all in for this), I am still not sure about the CE producer scenario. Do you mean to buffer or discard events at sources when the configured sink returns 429?

:+1: so you want to customize the `isRetriable`, then you are right and can forget my suggestion about adding that `W

[2021-11-19 10:15] embano1 commented on #5884
Oh, I was only talking about the receiver case here (as a webhook `source` will receive incoming events and hence need to protect itself). Evan made a comment to also have rate limiting for `Send()`, e.g. to a `broker` or other `sink` since this is also highly desirable when the downstream has a hardcoded limit one should adhere too (and avoid dealing with 429s right away).

Certainly an option to