[2020-10-13 22:26] mattmoor commented on #4275
So @dprotaso is removing this here: https://github.com/knative/serving/pull/9807

Is anyone looking at this?  Should we `t.Skip` these tests until they can be fixed?

[2020-10-14 02:37] dprotaso commented on #4275
the other temp option is to pull monitoring from the latest serving release vs. nightly

[2020-10-14 08:34] runzexia commented on #3866
I find that the code coverage is low because
https://github.com/knative/eventing/blob/master/pkg/tracing/setup.gohas no unit test, and there are many TODO in this file, Can someone show me some advice on how to start

[2020-10-14 08:37] vaikas commented on #4295
Short of using Structured Content Mode where the extension is in the payload seems like we can not safely rely on the headers not getting too large. One option would be to compress the header value, but then we'd have to encode it so it's safe so that might not give that much benefits in the end. @n3wscott @slinkydeveloper any other thoughts here?

[2020-10-14 09:04] slinkydeveloper opened #4314 "Move recordevents related eventing code to pkg"
**Problem**
In order to port the recordevents test image to the new test framework (https://github.com/knative-sandbox/reconciler-test/issues/22), we need to port the code recordevents depends on of eventing in pkg

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for? Knative developer

**Exit Criteria**
Recordevents doesn't depend on

[2020-10-14 09:04] slinkydeveloper commented on #4314
/assign

[2020-10-14 09:05] slinkydeveloper opened #4315 "Move tracing code to pkg"
## Expected Behavior
Tracing setup code should live in pkg

## Actual Behavior
Tracing setup code lives in eventing/pkg/tracing

## Steps to Reproduce the Problem

## Additional Info
For more details, look at https://github.com/knative/eventing/issues/4314

[2020-10-14 09:05] slinkydeveloper commented on #4315
/assign
/area test-and-release

[2020-10-14 09:05] slinkydeveloper commented on #4314
/area test-and-release

[2020-10-14 09:36] pierDipi commented on #3866
@runzexia There is an issue open https://github.com/knative/eventing/issues/4315 for moving the tracing bits to pkg.

[2020-10-14 10:06] slinkydeveloper commented on #4295
My thought is that this header shouldn't exists at all: we have end-to-end tracing, it's super easy to configure, why do we need to have our custom header too to figure out which hops the event did?

[2020-10-14 12:00] cr22rc commented on #4206
I thought we wanted to move away from any data manipulation?
**string** Is just what's in the body may it be json, xml, etc.
**binary**  binary is encoded in base64 we only decode it before sending.
**json**   should be handled by string
**contentType** is just meta data we pass along as the cloud event content type. What's in there we don't care.

[2020-10-14 12:19] #4283 closed

[2020-10-14 12:19] #4289 closed

[2020-10-14 12:19] #4284 closed

[2020-10-14 12:19] #4286 closed

[2020-10-14 12:19] #4281 closed

[2020-10-14 13:08] vaikas commented on #3408
@grantr @matzew @n3wscott Now that we have GHA and can notice this, do we think we're in a good enough state here?

[2020-10-14 13:09] vaikas commented on #3175
@slinkydeveloper Are there any other remaining tasks, or can we call this good?

[2020-10-14 13:19] slinkydeveloper commented on #3175
@vaikas WDYM?

@cardil I think you can reuse recordevents as is, without any changes to the test image itself. When the report is ready, send the result wrapper in a cloudevent to the recordevents image brought up and then assert on the other side using the eventTracker (just look at one of our usages of recordevents inside an e2e and you'll figure it out)

[2020-10-14 13:22] vaikas commented on #3175
@slinkydeveloper when I asked (offline the other day) if we had changed all uses, I mistook it to mean you had converted these as well :) My bad.

[2020-10-14 14:07] slinkydeveloper commented on #3175
@vaikas ah no i left the upgrade tests untouched

[2020-10-14 14:16] pierDipi commented on #4275
We install it from the latest release:
https://github.com/knative/eventing/blob/733adb7b34d89c95263dddf4462aa1c61aa1168e/test/e2e-common.sh#L154-L155

The `KNATIVE_MONITORING_RELEASE` variable [comes from test-infra scrips](
https://github.com/knative/test-infra/blob/322fb08edae794c9078d6ecb8794fa1f19e09e27/scripts/library.sh#L761):
[code]

[2020-10-14 15:28] runzexia commented on #4172
/assign
i want to try this

[2020-10-14 16:11] chasewalden opened #4322 "Deleting Trigger does not remove the underlying Subscription"
**Describe the bug**
Creating a Trigger creates an underlying Subscription. However deleting this Trigger seems to not cascade to the Subscription

 **Expected behavior**
Deleting a Trigger should cause the underlying Subscription to also be deleted.

 **To Reproduce**
Follow the `Eventing Component: Getting Started` Docs to create a default Broker and Trigger (MTBroker, InMemChannel)
Delete the T

[2020-10-14 17:50] Harwayne commented on #4275
We discussed this in the WG meeting. We feel that it is important to keep the tracing tests. Rather than write our own trace aggregator, we plan to continue to use an in-memory Zipkin endpoint. But, rather than depend on one from serving's build, we will include the YAML in our own repo that is used exclusively for testing.

[2020-10-14 18:55] mattmoor commented on #4275
Awesome, thanks!

[2020-10-14 20:56] eclipselu opened #4325 "Make v1 the storage version of ContainerSource"
**Problem**
Follow up to https://github.com/knative/eventing/issues/4175 , we need to do the following in v0.20:

- Flip the storage version of ContainerSource to v1
- Add a post-install job to migrate existing ContainerSource objects to v1

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
Developer

**Exit Criteria**
ContainerSour

[2020-10-14 22:26] grantr commented on #4295
I'm with @slinkydeveloper, this header is probably obsolete. Is anyone using it? Do we have an intended use case? If we're nervous about removing it, we can slice off the beginning when it gets too long.

[2020-10-14 22:31] grantr commented on #3408
:+1: to close this as resolved by downstream GHA builds.

[2020-10-15 07:22] vaikas commented on #4275
Also there was some talk that Serving might benefit for having some tracing tests, so mayhaps this is something that we could look at adding there at some point as well?

[2020-10-15 07:40] matzew commented on #3408
I am fine with closing Github Actions are a good vehicle for this :+1:

[2020-10-15 07:44] vaikas commented on #3408
Thanks!

[2020-10-15 07:44] #3408 closed

[2020-10-15 08:19] #4315 closed

[2020-10-15 10:30] pierDipi commented on #4322
Does the subscription have the owner reference set to the trigger?

[2020-10-15 12:15] #4302 closed

[2020-10-15 12:15] #4305 closed

[2020-10-15 13:44] runzexia commented on #3700
/assign

[2020-10-15 14:02] mattmoor commented on #4275
🙏 🤩

[2020-10-15 17:16] lberk commented on #4322
@vaikas do you have any spare cycles to take a look into this issue?

[2020-10-15 17:25] lberk commented on #4292
This is somewhat related to https://github.com/knative/eventing/issues/3883

[2020-10-15 17:35] grantr commented on #4292
Do we need to control the requirements for each individual source object, or can it be all objects of a type/in a namespace? Trying to understand if the object annotation is required.

[2020-10-15 17:36] lberk commented on #4248
We're leaving this issue without a milestone to make sure we revisit it next triage to see if needs more attention

[2020-10-15 17:40] lberk commented on #4219
@lionelvillard mentioned it might not be needed to backport anymore.  Closing this issue for now, feel free to reopen if we need this.

[2020-10-15 17:40] #4219 closed

[2020-10-15 17:41] arghya88 commented on #4276
/assign

[2020-10-15 17:43] lberk commented on #3559
@LiYa-Xu hi! Thanks for reporting the original issue, it looks like it was fixed.  If you're having follow up issues, please feel free to reopen this issue or create a new, more specific one, thanks!

[2020-10-15 17:43] #3559 closed

[2020-10-15 17:45] lberk commented on #1894
@aslom going to close this for now as it seems to be fixed, please feel free to reopen if needed, thanks!

[2020-10-15 17:45] #1894 closed

[2020-10-15 17:47] lberk commented on #4057
Closing for now as it seems the resolution is to not remove it (just a small matter of implementing it :) )

[2020-10-15 17:48] lberk commented on #4051
@yuchunyu97 please feel free to reopen this issue if you're still hitting it.  Otherwise we're assuming #4009 fixed the issue, thanks!

[2020-10-15 17:48] #4051 closed

[2020-10-15 17:50] lberk commented on #3931
@runzexia feel free to reopen this issue if you're still hitting this issue, for now we're going to close it, thanks!

[2020-10-15 17:50] #3931 closed

[2020-10-15 17:53] lberk commented on #3796
@matzew is this still an issue you're hitting?

[2020-10-15 17:53] grantr commented on #3993
We have this for knative-sandbox now. Probably that example will work for other external repos as well

[2020-10-15 17:56] lberk commented on #3618
@Benson666 please feel free to reopen this issue if you're still hitting this bug, otherwise we're going to close for now, thanks!

[2020-10-15 17:56] #3618 closed

[2020-10-15 17:57] lberk commented on #3578
@LiYa-Xu feel free to reopen this issue if you're still hitting it, otherwise we're going to close it for now, thanks!

[2020-10-15 17:57] #3578 closed

[2020-10-15 18:06] grantr commented on #3775
Sorry for missing your reply earlier @cpate3! It looks like your broker isn't being reconciled at all, and I think I might know why.

In the script you posted above, you are using this URL to install the broker:

`kubectl apply -f "https://github.com/knative/eventing/releases/download/v${KNATIVE_VERSION}/deprecated-channel-broker.yaml"`

but this is the `deprecated-channel-broker.yaml`. You need t

[2020-10-15 18:49] cardil commented on #3175
At @slinkydeveloper

I actually notify cluster (HTTP test runner outside cluster -> wathola-receiver service) that tests has been finished, and that produce the report that I parse back at test runner. How I would achieve the same with recordevents? It communication is outside of the cluster, as test are executed outside.

[2020-10-16 05:16] runzexia commented on #4322
I deployed eventing 0.18.0 and reproduced this problem according to the getting-started document, but everything is ok in my environment.

[2020-10-16 10:30] #3866 closed

[2020-10-16 17:21] grantr commented on #3826
These failures are caused by missing monitoring.yaml which was fixed by #4330. Hasn't failed in the last 3 runs, so closing.

[2020-10-18 03:48] runzexia commented on #3868
/close

[2020-10-18 03:48] #3868 closed

[2020-10-18 12:10] knative-test-reporter-robot opened #4336 "[flaky] test/conformance.TestBrokerTracing/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerTracing/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-10-18 12:10] knative-test-reporter-robot opened #4337 "[flaky] test/conformance.TestBrokerTracing/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerTracing/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-10-18 12:10] #4290 closed

[2020-10-18 12:10] knative-test-reporter-robot opened #4338 "[flaky] pkg/inmemorychannel.TestDispatcher_dispatch"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/inmemorychannel.TestDispatcher_dispatch
* **Repository name**: eventing

[2020-10-18 13:49] runzexia commented on #3513
/assign

[2020-10-19 07:09] #4276 closed

[2020-10-19 07:24] slinkydeveloper commented on #3175
@cardil with recordevents the idea is pretty simple: recordevents push k8s events, test runner watches for k8s events and parse them

[2020-10-19 07:25] slinkydeveloper commented on #4057
@lberk should we keep it open up until it's implemented?

[2020-10-19 07:43] cardil commented on #3175
The problem is to notify service from client, from outside cluster, that test should end.

Can I create such k8s event from outside cluster?

I was thinking about using configmap. So, that receiver would wait for specific configmap to tell it should end. If so it will generate report k8s event, which could be read from client.

[2020-10-19 07:54] slinkydeveloper commented on #3175
Sure you can, the test runner always has "admin" access to the cluster

[2020-10-19 08:29] #4172 closed

[2020-10-19 12:15] knative-test-reporter-robot opened #4339 "[flaky] 3.51% tests failed in repo eventing on 2020-10-19 08:53:26 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 3.51% tests failed in repo eventing on 2020-10-19 08:53:26 +0000 UTC
* **Repository name**: eventing

[2020-10-19 14:31] pierDipi commented on #4186
/close

[2020-10-19 14:31] #4186 closed

[2020-10-20 00:12] grantr commented on #4322
@runzexia when you say everything is ok in your environment, do you mean the Subscription still exists but is not causing an issue? Or that the Subscription does not exist?

[2020-10-20 01:24] runzexia commented on #4322
Subscription does not exist

[2020-10-20 11:43] #3700 closed

[2020-10-20 12:16] #4253 closed

[2020-10-20 12:16] knative-test-reporter-robot opened #4345 "[flaky] test/conformance.TestChannelTracingWithReply/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelTracingWithReply/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-10-20 12:16] knative-test-reporter-robot opened #4346 "[flaky] test/e2e.TestBrokerRedelivery/InMemoryChannel-messaging.knative.dev/v1/sequence"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerRedelivery/InMemoryChannel-messaging.knative.dev/v1/sequence
* **Repository name**: eventing

[2020-10-20 12:21] pierDipi commented on #4346
[code]

[2020-10-20 12:22] pierDipi commented on #4345
[code]

[2020-10-20 12:24] pierDipi commented on #4202
[code]

[2020-10-20 16:49] #4175 closed

[2020-10-21 07:31] devguyio commented on #2357
### Upgrade Events Loss
The main reason behind this is that the dispatcher can lose events while dispatching if a network error occurs and the dispatcher is in the fire-and-forget mode (the default mode unless retries are configured).
During upgrade the filter pod gets a rolling update and while the event gets published in the channel, there can be a time when the broker filter pod is unreachable

[2020-10-21 12:14] #4337 closed

[2020-10-21 12:14] #4336 closed

[2020-10-21 12:14] #4288 closed

[2020-10-21 12:15] #4338 closed

[2020-10-21 16:11] grantr commented on #2357
Was this an intentional default? Seems to me like the default should lean toward safety, with the more dangerous mode being an explicit choice by the user.

[2020-10-21 22:18] antoineco opened #4362 "ContainerSource fails to create Deployments with `brokers.eventing.knative.dev "Lister" not found`"
**Describe the bug**

Create a ContainerSource (see below for a full manifest to reproduce the issue).

The ContainerSource reports the following failure as an API event

[code]

 **Expected behavior**

The ContainerSource controller creates a matching Deployment successfully.

 **To Reproduce**

Apply the following manifest:

[code]

 **Knative release version**

v0.18.0

 **Additional context**

[2020-10-21 22:22] antoineco opened #4363 "ContainerSource can not list Brokers in eventing.knative.dev/v1 API"
**Describe the bug**

Create a ContainerSource with a `eventing.knative.dev/v1` Broker defined as a sink (see below for a full manifest to reproduce the issue).

The ContainerSource reports the following failure as an API event and doesn't create a Deployment:

[code]

 **Expected behavior**

The ContainerSource controller find the Broker and eventually creates a matching Deployment successfully.

[2020-10-21 23:38] grantr opened #4364 "Support DomainMapping for brokers and channels"
**Problem**
From [this slack thread](https://knative.slack.com/archives/CA9RHBGJX/p1603321244104800):

If brokers and channels implemented the probe handler, seems like KIngress would be able to make them externally accessible the same way ksvcs are.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Operator

**Exit Criteria**
I can forward requests to a broker or c

[2020-10-21 23:41] mattmoor commented on #4364
This is probably a superset: https://github.com/knative/eventing/issues/3911

[2020-10-22 07:19] slinkydeveloper commented on #4295
@grantr just in case we decide to get rid of this https://github.com/knative/eventing/pull/4366

[2020-10-22 12:11] #4202 closed

[2020-10-22 12:11] knative-test-reporter-robot opened #4367 "[flaky] _go_tests.DataRaceAnalysis"
### Auto-generated issue tracking flakiness of test
* **Test name**: _go_tests.DataRaceAnalysis
* **Repository name**: eventing

[2020-10-22 12:11] #4345 closed

[2020-10-22 12:11] #4255 closed

[2020-10-22 13:22] slinkydeveloper opened #4368 "Event-sender and request-sender should publish k8s events to log the sent events"
**Problem**
Today the only way to figure out if event-sender and request-sender actually sent the event/request is to check its logs. It may be useful to publish to k8s events the event sent. We can also publish the response in k8s logs, more than piping them back to another recordevents. The goal of this feature is to simplify debugging even further.

**[Persona:](https://github.com/knative/event

[2020-10-22 13:22] slinkydeveloper commented on #4368
/assign

[2020-10-22 15:50] vaikas commented on #2357
It was mainly my bad. A long time ago in a galaxy far away, there were too many retries which would mask bugs. So, just like I feel like flaky tests shouldn't be retried, I felt that we should not be retrying around flaky things as a default mode of operation. Now, I feel like we've gotten to a point of much better stability and we _know_ there are cases where things with IMC will get dropped, so

[2020-10-22 18:17] lionelvillard commented on #2357
I agree with @grantr. IMO, the broker implementation should be fixed not the test. An alternative is to make the test configurable and remove the delivery spec for brokers inherently supporting lossless upgrade.

[2020-10-22 20:00] grantr commented on #2357
Just to confirm I understand @vaikas, you are saying that you disabled retries in the IMC _during the test_ to increase test sensitivity.

IIUC, @ahmed's research is about something slightly different: The KafkaChannel is implemented so that retry is disabled _in production_ unless explicitly configured.

I'm most concerned about the apparent usability issue if users are expecting the KafkaChannel

[2020-10-22 20:05] Ahmed commented on #2357
Yes?

On Thu, Oct 22, 2020, 16:00 Grant Rodgers <notifications@github.com> wrote:

[2020-10-22 20:09] grantr commented on #2357
Sorry `@ahmed` I accidentally used a slack username as a github username... Please ignore 😅

[2020-10-22 20:12] #4364 closed

[2020-10-22 20:13] grantr commented on #4364
Oops, thanks for pointing that out @mattmoor. I think #3911 captures this already, so closing this one.

[2020-10-23 01:11] lberk commented on #4363
@antoineco could you try reproducing this with #4161 and see if this fixes it for you?

[2020-10-23 08:07] antoineco commented on #4363
@lberk on it 👍

[2020-10-23 08:25] antoineco commented on #4363
Strangely this issue occurs consistently in one of my environments, but never in another. Same Knative version (deployed using the operator), same Kubernetes version (v1.17.12-gke.500). Restarting the Eventing controller doesn't help.

[2020-10-23 09:14] antoineco commented on #4363
@lberk restarting `eventing-webhook` fixed the issue, I'm not able to reproduce anymore. I was I had collected logs but I haven't 😞

Closing, until I can reproduce again and collect webhook logs this time.

/close

[2020-10-23 09:14] #4363 closed

[2020-10-23 09:16] antoineco commented on #4362
Restarting `eventing-webhook` seems to have fixed both this and #4363. I'm gonna close this until I can reproduce and collect logs (which I didn't).

/close

[2020-10-23 09:16] #4362 closed

[2020-10-23 11:54] vaikas commented on #2357
@grantr Yes that's what was saying. However, maybe we're mixing a few issues here together. One is adding retries for our upgrade tests and one is the prod config.
I'm just saying that we have found quite a few underlying bugs that would've been masked by retries in the past. Also saying that there are cases where we know there will be failures with say IMC as is, so for the upgrade tests seems to

[2020-10-23 12:01] vaikas commented on #3686
We not see these failures in core eventing anymore. I am going to close this and we can track additional work in other issues.
/close

[2020-10-23 12:01] #3686 closed

[2020-10-23 12:54] #4275 closed

[2020-10-23 13:29] vaikas opened #4375 "Updating channel delivery options diff logic needs work"
**Describe the bug**
Currently, and in here:
https://github.com/knative/eventing/pull/4359#discussion_r510788952

we store two functions which makes it very hard (if not impossible) to determine if delivery functions have differed because the original args are not stored away. This means that for some changes we do not update the delivery options. We should probably store the arguments along for t

[2020-10-23 13:30] vaikas opened #4376 "Validate that delivery gets properly resolved to URI."
Ah, i see your point, I recall i looked into this a while ago, and my understanding is that when this function is invoked, we're 100% sure that the ref is resolved, because it's done by the subscription duck controller (or the channel duck controller, i don't remember) before this one is invoked. So it can't happen that this sub.Delivery doesn't contain the url. But I may be wrong, feel free to ch

[2020-10-23 14:37] embano1 opened #4378 "Nil pointer exception on v2.(*client).reportError()"
**Describe the bug**
With a knative source example [1] and the following versions `github.com/cloudevents/sdk-go/v2 v2.2.0` and `knative.dev/eventing v0.18.1-0.20201022155237-554e4b306de4` I am getting `nil` pointer exceptions in the source adapter after invoking `Send()` on the client:

[code]

The code path:

[code]

[1]
https://github.com/vmware-tanzu/sources-for-knative

 **Expected behavior**

[2020-10-23 14:43] dprotaso commented on #4378
Unwrapping returned nil

`err := errors.Unwrap(result)`

causing the panic at
`reportArgs.Error = err.Error()`

https://play.golang.org/p/WAnHGnn5Llp

[2020-10-23 15:14] embano1 commented on #4378
Likely caused due to `result` in this case not implementing `Unwrap`, i.e. not constructed via `%w` thus becoming `nil`.

[2020-10-23 16:02] n3wscott commented on #4378
https://github.com/knative/eventing/pull/3085/files#diff-edcf3408191e5c1035d184fd9b6cabb49928ab76d56a1b5b1d162502fc109218R109

/cc @lionelvillard

[2020-10-23 16:56] lionelvillard commented on #4378
Yeah looks like `Result` is not implementing `Unwrap`: https://github.com/cloudevents/sdk-go/blob/master/v2/protocol/http/result.go

[2020-10-23 18:01] embano1 commented on #4378
It actually does IIUC, because it depends on how you construct `result` (uses `fmt.Error`). If args are using `%w` then it will is my understanding.

[2020-10-23 23:57] cardil commented on #2357
In my opinion default implementation should be resilient. Pods may be rescheduled at any time, so retry should always be the case, by default.

If we feel cocky we can run our tests without retries, but that should be not binding. Currently, it's like that. As any error in event propagation will cause test being skipped. But, apart from that there should be "production" test running with greater l

[2020-10-24 12:15] #4185 closed

[2020-10-24 13:35] cpate3 commented on #3775
thanks @grantr. It works. Appreciate for prompt support on this. Yes if this is covered in latest release than there will be no confusion.

[2020-10-25 12:15] knative-test-reporter-robot opened #4381 "[flaky] test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_attribute_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_attribute_triggers
* **Repository name**: eventing

[2020-10-26 02:22] capri-xiyue commented on #4206
@n3wscott
For example, if user wants to send PingSource with contentType "application/xml"  and specify data as `<doit/>`,
Should the user specify PingSource look like this,
[code]
(`PGRvaXQvPg==` is the base64 encoded for `<doit/>`)
And the event user received will look like this:
[code]
Maybe I missed some context.
What's the usage of `spec.data.binary` here? Or `spec.data.binary` won't be used

[2020-10-26 07:36] antoineco commented on #2750
/remove-lifecycle stale

[2020-10-26 08:22] vaikas commented on #4381
[code]

[2020-10-26 08:24] vaikas commented on #3881
@n3wscott now that natss has been moved off of v1alpha1, is there anything else that needs to be done?

[2020-10-26 12:15] knative-test-reporter-robot opened #4388 "[flaky] test/conformance.TestChannelStatusSubscriber/Channel_has_required_status_subscriber_fields#01"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatusSubscriber/Channel_has_required_status_subscriber_fields#01
* **Repository name**: eventing

[2020-10-26 12:52] vaikas commented on #4238
Failed with:
[code]

[2020-10-26 12:56] vaikas commented on #4238
[code]

[2020-10-26 13:07] vaikas commented on #2357
I don't view it as being cocky, but just the exact opposite. When I dug into some of these failures they seemed like real bugs and I did not want to mask them by retrying and making them pass.

I don't understand "that should be not binding" about the tests.

Regarding the visibility absolutely there are gabs in visibility, with Positive Ville talking here, this has been a great motivator to impro

[2020-10-26 13:09] lionelvillard commented on #2357
FWIW, PingSource creates a k8s event when an CE event couldn't be sent after X retries.

[2020-10-26 16:37] grantr commented on #4388
Probably related to #4238

[2020-10-26 16:41] grantr commented on #4381
We need to adopt the new version of retrying code in pkg, which is... somewhere. Probably related to #3681.

[2020-10-26 16:53] grantr commented on #4375
IIUC, this means delivery spec is not properly reconciled in IMC. We haven't had any complaints about it though.

[2020-10-26 17:00] grantr commented on #4367
This seems like it might be a race in zap's test logging adapter. #3978 was supposed to fix this, along with Go 1.15.1 (but maybe it isn't actually fixed until a later version). @julz @markusthoemmes did Go 1.15 fix this race?

Note that the failures here are using Go 1.14.10.

[2020-10-26 17:03] markusthoemmes commented on #4367
This doesn't look like a Golang race @grantr. Rather, the test is likely outputting logs after it has actually finished, which surfaces as a race on the `t` variable.

[2020-10-26 17:07] grantr commented on #4339
Probably related to the monitoring.yaml issue

[2020-10-26 17:07] #4339 closed

[2020-10-26 17:10] grantr commented on #4295
@slinkydeveloper let's remove it. Nobody has spoken up to save it, and there's no evidence it was anything but an experiment that predated full tracing support.

[2020-10-26 17:15] grantr commented on #3883
#4292 describes the same problem with a different solution (annotations on the source object). Still need a feature track for this. @matzew can you collaborate with @lionelvillard on this issue? Thanks!

[2020-10-26 17:15] grantr commented on #4292
Closing as duplicate of #3883.

[2020-10-26 17:15] #4292 closed

[2020-10-26 17:19] grantr commented on #4248
Probably same failure as #3217, #3796, #4202, #3218

[2020-10-26 17:20] #4248 closed

[2020-10-26 17:21] grantr commented on #4231
@vaikas says I can close this as won't fix :D

[2020-10-26 17:21] #4231 closed

[2020-10-26 17:22] #3775 closed

[2020-10-26 17:26] grantr commented on #3796
@matzew have you seen this recently? Looks like it passes in GitHub Actions conformance tests, so we think it's fixed now.

[2020-10-26 17:27] grantr commented on #3993
@nachocano are you still available to work on this?

[2020-10-26 17:27] vaikas commented on #3796
Should be closed here?
https://github.com/knative/eventing/pull/4324

[2020-10-26 17:47] grantr commented on #4016
This seems related to https://github.com/knative/eventing/issues/3570. We think that's fixed in https://github.com/knative/eventing/pull/4171.

@nailushapotnuru Could you test in your environment with the current master branch or a recent nightly release?

Instructions for installing a nightly release are in the pre-release docs at https://knative.dev/development/install/any-kubernetes-cluster/.

[2020-10-26 17:47] nachocano commented on #3993
Forgot about this one. I might not have cycles this upcoming week(s). If nobody grabs it, I'll later next week.

[2020-10-26 17:48] nachocano commented on #3993
Will leave it unassigned for now

[2020-10-26 19:27] #4295 closed

[2020-10-27 01:40] #4378 closed

[2020-10-27 09:28] vaikas opened #4398 "Remove fuzzers from our binaries"
**Describe the bug**
We discovered this while looking at some fuzzer code, it was dealt with in serving:
https://github.com/knative/serving/issues/9725

 **Expected behavior**
We should not be baking in our testing libraries into our binaries.

 **To Reproduce**
There are other binaries, but just looking at one:

vaikas@vaikas-a01 eventing % go build ./cmd/controller/main.go
vaikas@vaikas-a01 even

[2020-10-27 10:18] vaikas commented on #4398
Moving things into _test files, results in a small amount of reduction in binary size:
vaikas@vaikas-a01 eventing % ls -l main
-rwxr-xr-x  1 vaikas  staff  61103260 Oct 27 12:00 main

vaikas@vaikas-a01 mink % echo '61121452 61103260 - p' | dc
18192

However, that change alone does not get rid of all the fuzzer code, I think we need to do some additional work in the pkg code base.

[2020-10-27 12:13] #4147 closed

[2020-10-27 12:13] #4346 closed

[2020-10-27 14:42] vaikas commented on #4398
Ok, we no longer have any knative.dev/* related fuzzery in our binary. However we'll tackle that later:

vaikas@vaikas-a01 eventing % go tool nm -size  main  | grep fuzz | wc -l
      78
vaikas@vaikas-a01 eventing % go tool nm -size  main  | grep fuzz | grep -v github.com/google/gofuzz | wc -l
       0

[2020-10-27 21:47] antoineco opened #4409 "Support batched CloudEvent content mode in dispatcher"
**Problem**

Sending a [batch of CloudEvents](https://github.com/cloudevents/spec/blob/edab0616e6760981a804a140b3da8b9251a4e935/http-protocol-binding.md#33-batched-content-mode) with `datacontenttype: application/cloudevents-batch+json` results in the creation of a single CloudEvent - composed of an aggregation of multiple CloudEvents serialized as a JSON document - instead of individual CloudEven

[2020-10-27 21:53] antoineco commented on #4409
It's been raised in #2880 already but this issue hasn't seen much activity.

I think part of the job could be delegated to the CloudEvents SDK, where a Message with a batch content type could be split by calling e.g. `batchMessage.Events()`, but I haven't seen any support for batch events in the SDK. cc. @slinkydeveloper @n3wscott

[2020-10-28 07:43] slinkydeveloper commented on #4409
Hi @antoineco, the sdk doesn't have batch support, we never came out with a proper interface definition and, most important, with how to model the behaviours of the client around an incoming batch. Look at https://github.com/cloudevents/sdk-go/issues/301 for more details

[2020-10-28 07:47] slinkydeveloper commented on #4409
We're also now looking at implementing the new Websockets protocol binding, which solves similar issues of batched CloudEvent but it's more efficient https://github.com/cloudevents/sdk-go/issues/598

[2020-10-28 10:32] antoineco commented on #4409
Sounds good! 🙏

I'll close this issue then, and people who use the search and stumble upon it can refer to your links to track support for batching.

[2020-10-28 10:32] #4409 closed

[2020-10-28 11:26] #4375 closed

[2020-10-28 12:13] knative-test-reporter-robot opened #4414 "[flaky] test/e2e.TestChannelChainV1beta1/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelChainV1beta1/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-10-28 12:13] knative-test-reporter-robot opened #4415 "[flaky] test/e2e.TestChannelChainV1beta1/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelChainV1beta1/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-10-28 12:13] knative-test-reporter-robot opened #4416 "[flaky] test/e2e.TestChannelChainV1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelChainV1beta1
* **Repository name**: eventing

[2020-10-28 12:13] knative-test-reporter-robot opened #4417 "[flaky] test/e2e.TestChannelChainV1beta1/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelChainV1beta1/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-10-28 12:13] knative-test-reporter-robot opened #4418 "[flaky] test/e2e.TestChannelChainV1beta1/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelChainV1beta1/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-10-28 12:13] #4388 closed

[2020-10-28 12:13] knative-test-reporter-robot opened #4419 "[flaky] test/e2e.TestChannelChainV1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelChainV1
* **Repository name**: eventing

[2020-10-28 12:18] vaikas commented on #4419
Failed because endpoint didn't become ready:
[code]

[2020-10-28 12:20] vaikas commented on #4416
Failed with endpoints not becoming ready.

[2020-10-28 12:20] vaikas commented on #4415
Failed with endpoints not becoming ready.

[2020-10-28 12:24] lionelvillard commented on #4409
@aslom @dug @cr22rc any thoughts?

[2020-10-28 12:35] cardil opened #4420 "Upgrade tests prober shouldn't have static constants that can't be overridden at vendor level"
**Describe the bug**
Currently, we are experiencing problem with integrating Eventing upgrade tests in our product (see: https://github.com/openshift-knative/serverless-operator/pull/530#issuecomment-717367653). That is caused by the fact, that we are using a different base image for test images. That also changes the path in which wathola config is search for. The _ConfigMap_ mount point is now a

[2020-10-28 12:36] cardil commented on #4420
/assign @cardil

[2020-10-28 15:02] slinkydeveloper opened #4425 "Retry sometimes fail"
**Describe the bug**
Sometimes retry fails and lose the event with reason:

[code]

 **Expected behavior**
This failure should not happen and retry should properly work

 **Knative release version**
0.17, 0.18, master

[2020-10-28 15:02] slinkydeveloper commented on #4425
/assign

[2020-10-28 16:19] n3wscott commented on #4206
I was pulling from how secrets work, because it sucks to have to create a base64 string as the operator. It would be better to accept a string and then based on content type, interpret what to do with it. See my original comments

[2020-10-28 16:54] #4425 closed

[2020-10-28 18:22] #4420 closed

[2020-10-29 07:54] slinkydeveloper commented on #4367
Yep the issue is as @markusthoemmes explained https://github.com/golang/go/issues/40343, I'm gonna remove the usage of the zap test logger in that particular test because the shutdown of the dispatcher happens way after the test ends

[2020-10-29 07:54] slinkydeveloper commented on #4367
/assign

[2020-10-29 14:32] #4367 closed

[2020-10-29 17:11] MohamedElhawaty opened #4437 "--skip-knative-setup flag has no effect"
**Describe the bug**
When running e2e tests using `test/e2e-tests.sh --run-tests --skip-knative-setup`, the script will start by setting up the cluster for testing (installing knative, .. etc) ignoring the fact that the `--skip-knative-setup` flag was used.

 **Expected behavior**
The e2e script should assume that the environment requirements are met and start executing the tests right away as per

[2020-10-29 17:58] n3wscott commented on #4206
Something we could look at is how I define cloudevents in the conformance tool: https://github.com/cloudevents/conformance/blob/master/yaml/v1.0/v1_minimum.yaml

Possibly take some of those ideas and use that same shape for the next version of pingsource spec?

[2020-10-29 19:17] cr22rc commented on #4206
Summary of  our pingsource _conference_
We agreed to minimize doing any interpretation or validation of data. As much as possible just be conduit to passing the data to the cloudevent.
For these changes we'll be moving  to v1beta2 api version of pingsource.
v1beta2 will  look like
spec:
 data:
  string:  "Hello World."
  contentType: "text/plain"

Both string and contentType are optional  String a

[2020-10-29 22:03] eclipselu commented on #4206
I'm wondering if we can support **binary** here as well, by introducing a boolean field, something like

[code]

[code]

So we can be compatible with v1beta1 as @cr22rc suggested, and support binary data.
If we do this, when `isBinary=true` I think (but not sure) when we convert it to CloudEvent format, we'll need to make sure that it's populating the [data_base64](https://github.com/cloudevents/s

[2020-10-29 22:16] cr22rc commented on #4206
I'm not sure how it may help with being compatible with prior version. One limitation I may see if in the future some other encode binary we may want support then isBinary would not do.  We could easily add zipBinary64 that would not break any contract.

[2020-10-29 22:34] lionelvillard commented on #4206
For binary we may want to use the binary content mode since it's simpler and all conformant sinks [must support it](https://github.com/knative/eventing/blob/master/docs/spec/data-plane.md#content-modes-supported).

[2020-10-29 22:41] n3wscott commented on #4206
I think what Lionel is saying is to not reinvent how binary content is defined. We treat the ping source spec similar to how structured mode (json) cloudevents are formatted, ie: strings use `data`, and binary uses `dataBase64` (really data-base64 but that is not a valid spec field in k8s I think).

[2020-10-29 23:05] capri-xiyue commented on #4206
I think for the backwards compatibility, whether we have `isBinary` or not does not matter. We can just treat any data attached with PingSource v1beta1 as application/json content type and wrap them around a JSON if the user specify non-json data in v1beta1 pingsource.

[2020-10-29 23:20] capri-xiyue commented on #4206
I agree that we should not reinvent how binary content is defined and it will be better that pingsource spec is similar to how structured mode (json) and binary mode cloudevents are formatted,

[2020-10-29 23:40] n3wscott commented on #4206
I agree with this, binary is a new option and not possible before v1beta2 so no need to think about supporting it.

I am on the same page as @capri-xiyue 👍

[2020-10-30 00:21] eclipselu commented on #4206
I agree with this, sorry I did not dive deep enough 😅  Thanks everyone for the pointers!

[2020-10-30 00:33] capri-xiyue commented on #4206
Based on the discussion,  does everyone agree on this?
[code]
For binary mode,
[code]

[code]
Both `content` and `contentBase64` could not both be specified.

Or we already reached a conclusion that in v1beta2, we won't add support for `binary` and we may add binary support when we get more user feedback?

[2020-10-30 11:33] cardil opened #4441 "Prober test name length can easily cause DNS label too long error"
**Describe the bug**
Having too long namespace or kservice name can lead to an error like:

[code]

In this case my namespace is `test-continuous-events-propagation-with-prober-zxmkp` and knative service name is `wathola-receiver`. The namespace is taken from Go test method name. The limit is 63 characters. In this example
the subdomain has 69 characters.

This does affect OpenShift Serverless as

[2020-10-30 12:10] #4418 closed

[2020-10-30 12:10] #4417 closed

[2020-10-30 12:10] #4415 closed

[2020-10-30 12:10] #4304 closed

[2020-10-30 12:10] #4416 closed

[2020-10-30 12:10] #4303 closed

[2020-10-30 12:10] #4419 closed

[2020-10-30 12:10] #4414 closed

[2020-10-30 12:30] cr22rc commented on #4206
As far as I can tell, is this not what I originally  posted  s/string/content/ s/binary/contentBase64/  ?  I'm not partial to the actual names used.  I think when we met we decided on having defaults for contentType depending on whether binary or not, but once again I don't feel strongly on that. I'll also state once again pingsource shouldn't interpret or validate any of these other than decode t

[2020-10-30 12:54] lionelvillard commented on #4206
I'm fine with that, although I would prefer this:

[code]

as it's closer to what's a CloudEvent.  1-1 mapping is always easier IMO.

The default `contentType` value is `text/plain`, as agreed during the call.

[2020-10-30 14:17] eclipselu commented on #4206
I'm more inclined with the naming @capri-xiyue proposed, it's more explicit, but OK with either.

include a field binary It will be interpreted as base64 encoded data that's decoded and sent in the cloudevent data
The default contentType for binary would be "application/octet-stream" Both string and binary could not both be specified

Do we need to support binary in v1beta2, or we want to support

[2020-10-30 14:21] cr22rc commented on #4206
I'm leaning to leave binary out and see if there's any feedback for it.  Do we really need to change the apiVersion if it's non-breaking?

[2020-10-30 15:01] n3wscott commented on #4206
In the call I thought we decided to go with a flatter structure like this ^^ but also add dataBase64 for some future proofing:

[code]

or

[code]

So a valid v1beta2 spec is `spec.data` OR `spec.dataBase64` and it is an error to set both. This would like you do things like set a json array as the payload and not worry about quoting or unquoting correctly.

[2020-10-30 15:06] n3wscott commented on #4206
Only default to `text/plain` if data is set.

[2020-10-30 15:06] n3wscott commented on #4206
SORRY! did not mean to close it... wrong button :D

[2020-10-30 15:10] lberk commented on #4206
Sorry, if data is set? or if `contentType`is **not** set? (and data **is**)

[2020-10-30 15:22] #4441 closed

[2020-10-30 16:29] cardil opened #4444 "Disparity of using pod vs deployment in upgrade tests wathola components"
**Describe the bug**
On OpenShift Serverless, we've observed a disparity when using pods vs deployments. Using both of those can lead to having a different effective user for bare pods and pods managed by deployment. Deployment on OpenShift adds `spec.securityContext.fsGroup` to pod with values like `1000700000`. That causes the pod to run effectively as that UID, and thus having different home di

[2020-10-30 16:32] cardil commented on #4444
\assing @cardil

[2020-10-30 16:33] cardil commented on #4444
\assign @cardil

[2020-10-30 16:46] capri-xiyue commented on #4206
I'm sorry I may miss something in the call.
Yep I agree this flatter structure is better.
In addition, I'd prefer we bump version to v1beta2 so that we can use webhook to do the conversion instead of reconciler

[2020-10-30 16:50] lionelvillard commented on #4206
@capri-xiyue sounds good to me!

[2020-10-30 19:11] n3wscott commented on #4206
+1 to https://github.com/knative/eventing/issues/4206#issuecomment-719705471

With one exception

It is valid to have `dataBase64` set and and be any content type, the default should maybe be `text/plain`, for example:

[code]

Which ends up as a cloudevent that has a body: `{"hello": "world"}` on the wire.

which you could also set as

[code]

[2020-10-30 19:27] grantr commented on #4206
Maybe if database64 is used then the default should be `application/octet-stream`?

[2020-10-30 19:28] lionelvillard opened #4446 "The MT broker status URL should not point directly to knative eventing"
**Problem**
The MT broker status URL is something like `http://broker-ingress.knative-eventing.svc.cluster.local/default/broker`. To be consistent with the rest of Knative eventing, it should be `http://<broker>-ingress.<default>.svc.cluster.local`

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (b

[2020-10-30 20:15] lberk commented on #4167
@capri-xiyue were you taking this one on (given the discussions on #4206)?

[2020-10-30 20:18] n3wscott commented on #4206
I disagree, https://github.com/knative/eventing/issues/4206#issuecomment-719744908

[2020-10-30 20:18] capri-xiyue commented on #4167
@eclipselu  will take this one on.

[2020-10-30 20:28] capri-xiyue commented on #4206
Any reason that the default contenttype for `dataBase64` is `text/plain`, why not `application/octet-stream`?

[2020-10-30 20:58] eclipselu commented on #4167
/assign @eclipselu

[2020-10-30 23:33] n3wscott commented on #4206
The intent behind dataBase64 is to allow the sender to not need to understand what is in the byte buffer.

Perhaps if they do not set a content type for `dataBase64` we do not set the content type on the outbound message? `application/octet-stream` is likely just as wrong as `text/plain`. It could be the data is just a string buffer or json or xml, or an image...

I guess I am trying to say is we

[2020-11-02 10:18] #4444 closed

[2020-11-02 13:34] vaikas commented on #4446
Could you provide little more detail on the reason for this? I would rather not assume that the shape of the URL is hardcoded to provide alternate implementations and by leveraging the addressable contract that it supports now.

[2020-11-02 13:57] lionelvillard commented on #4446
the main reason is in multi-tenant environment, the tenant should only see URLs going to its own namespace(s) (or external), at least of Knative objects, like the broker (meaning that for k8s service it's ok to have redirect to other namespace).

Are you suggesting we do something like `domainTemplate`?

[2020-11-02 14:35] vaikas commented on #4398
Looks like we need to pull this commit in to get rid of the gofuzz:
https://github.com/kubernetes/apimachinery/commit/08191f1ad41c5d5fd3b70930e751dcf91929be2f#diff-44ee78478149e26a30a4185475298d442bb9e53daa49e22bc355d436aff7b144

Currently we don't have that version and we're seeing this (after the PR to rename fuzzer -> fuzzer_test.go).
# github.com/google/gofuzz
knative.dev/eventing/cmd/mtbroker

[2020-11-02 14:46] n3wscott commented on #4437
/cc @chizhg

[2020-11-02 14:50] n3wscott commented on #3881
I think we are good to go.

/close

[2020-11-02 14:50] #3881 closed

[2020-11-02 16:03] #4376 closed

[2020-11-02 16:22] vaikas commented on #4446
No, I mean, that we resolve the URL from the addressable contact. So, we do not assume it is of one form or another, but it's really status.Address that tells where to send events to.

[2020-11-02 16:33] lionelvillard commented on #4446
ah got it! thanks! Make sense to me.

[2020-11-02 16:53] capri-xiyue commented on #4206
Yep. It may be better that we don't set default when we don't know what it is.

[2020-11-02 16:55] vaikas opened #4449 "Increase timeouts for Prow jobs."
**Describe the bug**
Quite a few of our CI tests in testgrid are ending up with timeouts. We should do something like this:
https://github.com/knative/test-infra/pull/2539/files

 **Expected behavior**
Tests to not time out. Or make them run within the existing timeout limit. Increasing timeout is probably fine to do for now.

 **To Reproduce**
Look at the testgrid.knative.dev/eventing and see sev

[2020-11-02 16:58] eclipselu commented on #4206
One more thing to clarify: do we want to convert from v1beta2 to v1beta1? More specifically here:

[code]

My opinion is we don't convert, just throw an error, because it's hard for us to know if a v1beta2 object is converted from v1beta1, and if it's not, v1beta2 -> v1beta1 is a lossy conversion.

I'm wondering what the behaviour would be if implement v1beta1 -> v1beta2 conversion but not the oth

[2020-11-02 17:07] lionelvillard commented on #4206
In the past we added the missing fields in v1beta1 API to support round-tripping. I suppose if we don't want to implement v1beta1 -> v1beta2 conversion we have to change the reconciler to work on top of the v1beta2 API and provide a post-upgrade job. That might work.

@vaikas @n3wscott WDYT?

[2020-11-02 17:38] lberk commented on #4446
Similar issue to: https://github.com/knative/eventing/issues/3097

[2020-11-02 17:45] #4282 closed

[2020-11-02 17:45] #4285 closed

[2020-11-02 17:45] #4287 closed

[2020-11-02 17:48] lberk commented on #3796
@matzew please let us know if you're still hitting this issue, otherwise closing for now.

[2020-11-02 17:48] #3796 closed

[2020-11-02 17:53] lberk commented on #3186
@cardil given the movement/features added in knative since may, specifically tracing, has anything changed to the scope of this issue/request?

[2020-11-02 17:55] lberk commented on #4155
It looks like we've gathered feedback and promoted the apis to v1 (pingsource will be moving to v1beta2).  Closing this issue as done for now.  Thanks @capri-xiyue!

[2020-11-02 17:55] #4155 closed

[2020-11-02 18:47] grantr commented on #4449
Fixed by https://github.com/knative/test-infra/pull/2548

[2020-11-02 18:47] #4449 closed

[2020-11-03 01:04] grantr commented on #4206
:+1:

Looking at the HTTP Transport Binding, it seems that Binary Mode allows Content-Type to be empty because it maps to datacontenttype which is optional (the spec suggests that a default datacontenttype can be implied by the event type). All other modes require Content-Type to be present. If we can assume PingSource will always use Binary Mode, it seems fine to omit the default regardless of wh

[2020-11-03 08:42] maschmid opened #4453 "imc-dispatcher doesn't retry on connection failures or EOFs"
**Describe the bug**
Having a Broker with retries

[code]

Sending random events and randomly deleting mt-broker-filter pods (to simulate failover on node-evictions or upgrades),
events are sometimes not delivered and retries are not attempted, with errors in the inmemorychannel-dispatcher logs like:

[code]

[code]

The problem is that `checkRetry` doesn't retry on network errors (and retries onl

[2020-11-03 10:45] pierDipi commented on #4453
/assign

[2020-11-03 13:42] cardil commented on #4444
An OpenShift bug [1894063](https://bugzilla.redhat.com/show_bug.cgi?id=1894063) was registered

[2020-11-03 14:01] matzew opened #4455 "Broken 0.16 release after upgrading from 0.15"
**Describe the bug**
when the PRE job from 0.16 is "skipped" (because the user did not read the doc, forgot it, or it failed via the operator, since it was not exectuted before the CRD updated), you end up in broken state of Knative Eventing.

PingSource and Broker are broken, like:

[code]

 **Expected behavior**
All good, and I can fix the problem afterwards. without going back to 0.15

 **To Re

[2020-11-03 14:03] matzew commented on #4455
I found a similar bug report: https://github.com/knative/eventing/issues/3804#issuecomment-675110829

but looks like it was recommend to go with 0.17 - but installing on-top of the broken system is not possible.

[2020-11-03 14:04] matzew commented on #4455
I think the only fix to get away from a broken eventing-0.16 is really:

* downgrade to 0.15
* install the 0.16 pre-job manually :smile:
* install the 0.16 eventing + post job

But not sure that is really a great recommendation or UX for the users

[2020-11-03 15:29] matzew commented on #4455
/assign @lionelvillard
/assign @grantr
/assign @vaikas

Looks like a serious issue

[2020-11-03 17:18] #4453 closed

[2020-11-03 20:43] grantr commented on #4455
Any suggestions for how we could do better than this? I agree this is pretty much a worst case for UX but it is at least possible to recover.

[2020-11-04 19:13] maschmid opened #4461 "imc-dispatcher dial tcp <IP>: connect: cannot assign requested address"
**Describe the bug**

After about a day of cluster runtime, deploying brokers backed by InMemoryChannels (at the time of the errors there are 24 brokers on the cluster, each with a single trigger), sending events with replies, I have noticed the following errors present in imc-dispatcher logs:

"dial tcp <IP>: connect: cannot assign requested address"

in errors like these:

`
{"level":"error","ts

[2020-11-04 19:16] slinkydeveloper commented on #4461
/assign

[2020-11-04 19:37] matzew commented on #4461
related? https://github.com/cloudevents/sdk-go/issues/98

[2020-11-04 19:45] matzew commented on #4461
looks like by default, the `net/http` allows `2` connections in its connection pool to a single host

see: https://github.com/golang/go/issues/16012#issuecomment-224948823

[2020-11-04 20:02] slinkydeveloper commented on #4461
Yeah that's what i was suspecting, my feeling is that we set this parameter too high

[2020-11-04 22:46] aslom opened #4462 "Add scaling tests for Knative Eventing"
**Problem**
There is no tests that could be run for all Knative Eventing components (sources, channels, brokers, …) and their compositions (sequences etc.) to determine scaling limits of Knative Eventing and experiment with autoscaling (with Knative Serving, HPA and KEDA autoscalers). The scaling tests should be easy to configure, run, and get results.

High level plan:
* [ ] - running tests direc

[2020-11-04 22:46] aslom commented on #4462
/assign

[2020-11-04 23:09] aslom commented on #4462
The first step is to explore [options for Autoscaling of Knative Pull-based Event Sources](https://docs.google.com/document/d/18Ma-uqsB0SYzwvRZ_rz5c8m21JAXGP0oLZpr8W0Jwak/edit#heading=h.c3mnlfk7wun) by running tests against Knative Kafka event source: determine max supported load for particular config and then autoscaling with KEDA.

To determine scaling limits the test will run first against Kafk

[2020-11-05 07:36] slinkydeveloper commented on #4461
So the actual limit config is:

[code]

Which means it can open a maximum of 1000 sockets, i guess not enough to leak all sockets on the machine... Let me try to figure out if we always use the same http client, or if somewhere we create new ones

[2020-11-05 08:33] maschmid opened #4464 "mt-broker-filter logs "http: superfluous response.WriteHeader call from go.opencensus.io/plugin/ochttp.(*trackingResponseWriter).WriteHeader (server.go:221)" on event replies"
**Describe the bug**
Having a Broker and a Trigger subscribing a ksvc that returns events as a reply, the following error is logged in mt-broker-filter pod for each event:

`
2020/11/04 10:23:56 http: superfluous response.WriteHeader call from go.opencensus.io/plugin/ochttp.(*trackingResponseWriter).WriteHeader (server.go:221)
`

 **Expected behavior**
mt-broker-filter should use HTTP connections

[2020-11-05 10:57] slinkydeveloper commented on #4464
/assign

[2020-11-05 12:08] vaikas commented on #3096
@aliok FYI

[2020-11-05 14:33] #4461 closed

[2020-11-05 15:50] slinkydeveloper opened #4469 "Remove watch on config-imc-event-dispatcher"
**Problem**
We have a watch on `config-imc-event-dispatcher` that leads to a global resync when it's configured (and to a potential leak of sockets b/c of too much open connections with different clients).

My proposal is to remove the ability to configure on-fly these fields: these are usually configured by the sysadmin when they deploy knative eventing. This makes the code simpler and less prone

[2020-11-05 17:25] #4464 closed

[2020-11-05 20:30] maschmid opened #4473 "broker-ingress pods Ready before accepting connections, "Fanout had an error": "failed to forward reply", "connection refused""
**Describe the bug**

When horizontalpodautoscaler.autoscaling/broker-ingress-hpa decides to scale up broker-ingress, imc-dispatcher sometimes fails to forward replies, as the new broker-ingress pods are Ready before accepting connections (as they lack Readiness probe)

The following error can be seen in imc-dipatcher log (the 172.30.107.69 is broker-ingress svc)

`
{"level":"error","ts":"2020-11-

[2020-11-05 22:47] capri-xiyue opened #4475 "ApiServerSource does not set Ce Overrides Extensions"
**Describe the bug**
ApiServerSource with spec.ceOverrides.Extensions does not send Cloudvents with Ce Overrides Extensions

 **Expected behavior**
ApiServerSource should set Ce Overrides Extensions if it exists

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative release version**

 **Additional context**
Add any other context about the problem here such as proposed priority

[2020-11-06 01:46] eclipselu commented on #4206
@vaikas @n3wscott do you have any thoughts on this? thanks!

[2020-11-06 02:03] n3wscott commented on #4206
I think we should change the storage to v1beta2 and have the upgrade be one way? Could that work?

We don't have to add over fields to new fields, but if you do not change the storage you do need to add new fields to old objects.

[2020-11-06 04:05] #4475 closed

[2020-11-06 08:49] ade8850 opened #4481 "ApiServerSource should be able to watch resources in other namespaces besides the one in which it resides"
**Problem**
currently apiserversource can only watch resources within the namespace in which it was created. This prevents you, for example, from transparently create injection logics within managed namespaces by services residing in a "system" namespace using an apiserversource. The only way is to create the source in the namespace where the injection is to take place then sink in some kind of ad

[2020-11-06 10:02] slinkydeveloper commented on #4473
This issue is valid only in 0.17 and 0.18 branches, for master this was fixed with https://github.com/knative/eventing/pull/3917

[2020-11-06 14:47] #4473 closed

[2020-11-06 15:51] #3175 closed

[2020-11-06 16:20] duglin commented on #4481
valid usecase, we just need to find a way to make it configurable at the admin level so that the admin can control whether users can control this scope flag.

[2020-11-06 23:32] grantr commented on #4206
I think we should avoid one way upgrades. If my cluster needs to be downgraded for some reason, then I don't want to be stuck with all my PingSources inoperable.

[2020-11-07 01:11] #2573 closed

[2020-11-07 01:11] #1763 closed

[2020-11-09 13:18] lionelvillard commented on #2980
/remove-lifecycle stale

[2020-11-09 13:34] lionelvillard commented on #4206
if we want to support downgrading then the stored version shouldn't be upgraded to v1beta2, in which case the webhook needs to support round-tripping.

The release versioning principles doc says:

Considering this and that we have no automated downgrade tests, I don't think we can claim that we support downgrading.

[2020-11-09 16:05] lionelvillard opened #4486 "[Broker/Trigger] Make it easier to consume events directly from specific sources"
**Problem**
The current solution involves setting the right attributes on both the source and the triggers. For example:

[code]

[code]

While this solution allows for a trigger to specify that they want events from a specific source, it is quite brittle as there is no way to statically check that the CE extension attribute `sourceid` matches.

This is a common scenario and Knative Eventing shoul

[2020-11-09 17:01] eclipselu commented on #4167
discussion around the design of v1beta2: https://github.com/knative/eventing/issues/4206

[2020-11-09 17:42] vaikas commented on #4486
Also as discussed in the triage, how does this fit in with trigger-dependency-annotation.

[2020-11-09 17:46] lberk commented on #4481
@ade8850 how urgently are you looking for this feature?

[2020-11-09 17:52] lberk commented on #4469
@matzew might be worth bringing this up in the delivery working group?

[2020-11-09 17:57] lberk commented on #4462
@aslom Thanks for filing this issue!  IIRC there were a variety of similar scaling issues, is there any way we could organize them so that we have a common entrypoint? (project/umbrella issue perhaps?) thanks!

[2020-11-09 17:59] lionelvillard commented on #4486
@vaikas is the trigger-dependency-annotation feature documented somewhere? Or at least an example?

[2020-11-09 18:07] vaikas commented on #4455
Given that this would involve work either in .15 or .16 and it's not even clear how we might be able to automate this, and given that there's a manual work around, and .15 is no longer supported I'm not sure what we could/should do here. @matzew what path forward would you suggest? My suggestion is that this is 'wont-fix'.

[2020-11-09 18:22] lberk commented on #4016
@nailushapotnuru after the release tomorrow upstream will be dropping support for 0.16 era releases, please try this out with a newer release (0.17+).  If you're still hitting the issue please feel free to reopen!

[2020-11-09 18:22] #4016 closed

[2020-11-09 18:30] lberk commented on #3806
@anishj0shi if the `FailurePolicy` was set to open by default, would this fix your issue?

[2020-11-09 18:32] lionelvillard commented on #3806
More info on failure policy: https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#failure-policy

@matzew

[2020-11-09 18:42] capri-xiyue opened #4488 "PingSource leverages v2/adapter client to support ceOverrides Extensions"
**Problem**
Currently, pingsource relies on setting the ceOverrides.Extensions in adapter by itself (#3331). It doesn't rely on v2/adapter client to support  ceOverrides Extensions. PingSource  need to leverage v2/adapter client to support ceOverrides Extensions like what ApiServerSource does(https://github.com/knative/eventing/pull/4477)

**[Persona:](https://github.com/knative/eventing/blob/mast

[2020-11-09 19:09] ade8850 commented on #4481
it's not urgent for me, but it would be very welcome

[2020-11-09 19:42] eclipselu commented on #4206
From here it looks like in the upgrade tests, there's also a downgrade test step: https://github.com/knative/eventing/blob/master/test/upgrade/README.md#flow

If we do want to support downgrade, then the `jsonData` field might need to be preserved in v1beta2, as per @n3wscott 's original comment: https://github.com/knative/eventing/issues/4206#issuecomment-707841285

[code]

For upgrade, we still

[2020-11-09 19:55] lionelvillard commented on #4206
Oops, I missed the fact that we have some downgrade test, thanks @eclipselu !

We don't have to support all downgrade scenarios. By that I mean we should at least support PingSource v1beta1 instances that have been upgraded to v1beta2, but we don't have to support downgrading new v1beta2 instances (only if we can).

Knowing that, do you still need the `jsonData` field in v1beta2? If yes then I sug

[2020-11-09 20:50] eclipselu commented on #4206
Yes, imo, `jsonData` is to help making the v1beta2 -> v1beta1 downgrade deterministic. For example:

[code]

we cannot know if this is converted from `jsonData: '{"body": "hello world"}'` or `jsonData: "hello world"`, or it's even not converted from v1beta1, but if we add `jsonData` in, we'll have a clear answer.

[2020-11-09 21:14] lionelvillard commented on #4206
| but in this case I guess if user started from v1beta2, it probably makes sense to not downgrade it

that's right.

I strongly suggest to use an annotation in v1beta2, not `jsonData`. We want to make it clear that `jsonData` is not part of the API anymore.

[2020-11-10 09:33] matzew opened #4491 "The Channel "xyz" is invalid: spec.channelTemplate.spec: Invalid value: "object""
**Describe the bug**

Starting with 0.18, when setting a default channel (e.g. Kafka), creating a (generic) channel fails:

[code]

 **Expected behavior**
Works, like it was for 0.17

 **To Reproduce**

Set the default channel to `KafkaChannel`, like:

[code]

Than have a `Channel`, like:

[code]

When applying (`k apply -f xyz-channel.yaml`), you will get:

[code]

From the webhook:

[code]

 **K

[2020-11-10 09:33] matzew commented on #4491
I saw that @nlopezgi added some descriptions and schema for `k explain`, here: https://github.com/knative/eventing/commit/31ef0946172e9bafef7235eb7f3b51aa5b0ece69#diff-0231d3c043c857ee3a2e2f93630b183580a12e09d21affb1b1970f483e5c0bd8

[2020-11-10 14:02] pierDipi commented on #4491
/assign

[2020-11-10 16:29] aslom opened #4494 "Improve scaling in Knative Eventing"
**Problem**
This is umbrella issue to gather pointers to various efforts to improve scaling in Knative Eventing

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
System Integrator
Contributors

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.
Links to related feature docs, issues,

[2020-11-10 16:30] aslom commented on #4494
Following work on autoscaling and [feature proposal doc](https://docs.google.com/document/d/18Ma-uqsB0SYzwvRZ_rz5c8m21JAXGP0oLZpr8W0Jwak/edit#heading=h.rzzrbz2k6doy) I have opened issue and started implementing simple tests for scaling: https://github.com/knative/eventing/issues/4462#issuecomment-724175399

[2020-11-10 17:39] slinkydeveloper opened #4495 "Json Schema as expression language for trigger filter"
**Problem**
Now the `Trigger` filtering abilities are poor, because they require direct match on specific `CloudEvent` attributes.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
User

**Exit Criteria**
`Trigger` APIs should have a more powerful filtering abilities

**Time Estimate (optional):**
2

**Additional context (optional)**

Json Schema pro:

* widely used

[2020-11-10 18:44] vaikas opened #4496 "Kind e2e tests sometimes fail with the webhook pod not becoming ready."
**Describe the bug**
Eventing webhook does not sometimes become ready, looks like maybe the specific one that the wait loop is waiting for gets replaced (maybe because of chaos duck?) by another pod that does become ready.

From one example here:
https://github.com/knative/eventing/pull/4492/checks?check_run_id=1381350649

[code]

Then when the artifacts are dumped, note a different webhook pod co

[2020-11-10 18:55] #4491 closed

[2020-11-10 19:04] vaikas commented on #4496
Looking...

Here's the step doing the wait:
[code]

[2020-11-10 20:04] aslom commented on #4494
Related issue: Make pull-based receive adapter HA and scalable #3157 https://github.com/knative/eventing/issues/3157

[2020-11-10 20:06] aslom commented on #4494
There was also very good discussions few moths ago in two issues:
* Make Knative eventing sources more serverless and scalable https://github.com/knative/eventing/issues/2153
* Make Knative eventing channels more serverless and scalable https://github.com/knative/eventing/issues/2154

[2020-11-10 20:26] vaikas opened #4498 "Race condition in TestChannelNamespaceDefaulting."
**Describe the bug**

There appears to be a race condition between updating the configmap and webhook defaulting getting set up properly.

https://github.com/knative/eventing/runs/1381792073?check_suite_focus=true

[code]

A clear and concise description of what the bug is.

 **Expected behavior**
A clear and concise description of what you expected to happen.

 **To Reproduce**
Steps to reproduce

[2020-11-10 21:03] pierDipi commented on #4498
/assign

[2020-11-10 22:49] pierDipi opened #4501 "How externally determine if a webhook has observed a ConfigMap update"
Today, `ConfigMap`s (`config-br-defaults`, `default-ch-webhook`, etc) keep configuration but there is no clear way how an external actor (user, system integrator, test runner) can determine whether they've been processed or not.

## Additional Info

- It's painful (and racy/unstable) writing E2E tests for those ConfigMaps. (In fact, coverage is almost zero)
- https://github.com/knative/eventing/pu

[2020-11-10 23:40] #4498 closed

[2020-11-11 01:13] #3805 closed

[2020-11-11 07:37] matzew opened #4505 "Remove 0.19 prejob"
**Describe the bug**

0.19 seems to not need a pre-job

 **Knative release version**
0.19

 **Additional context**

With any 0.18.x release it's simple to reproduce: https://github.com/knative/eventing/issues/4491
The fix changes the CRD itself - and updatest the 0.18 pre-job.

Looking at the commits of the folder:
Looking here:   https://github.com/knative/eventing/commits/v0.19.0/config/pre-inst

[2020-11-11 07:39] matzew commented on #4505
Having a "Broken" 0.18x release (to reproduce https://github.com/knative/eventing/issues/4491 )

I am able to:
* install 0.19.0 (without the PRE-JOB)
* change the CM, like:
[code]

* I am now able to create a Kafka based topic (since that was fixed on 0.19)

[2020-11-11 08:18] pierDipi opened #4506 "E2E test for broker defaulting"
- Create an E2E test to make sure that the webhook properly sets (at the namespace level):
  - the broker class
  - the delivery spec (`retry`, `DLS`, `backoffDelay`, `backoffPolicy`)

/area test-and-release
/kind feature-request

[2020-11-11 15:05] slinkydeveloper commented on #4495
The doc is updated explaining the json schema proposal: https://docs.google.com/document/d/1Pz2vaLWKUrMQDLNyDW7ksjgLG4GAxBY546dT7_jF5Rk/edit?usp=sharing

[2020-11-12 00:54] mattmoor opened #4509 "FinalizeKind is overkill for IMC dispatcher"
**Describe the bug**

Today the IMC Dispatcher uses finalizers:
https://github.com/knative/eventing/blob/66db463e394053ac1bff0556f5a584a6f31a90ec/pkg/reconciler/inmemorychannel/dispatcher/inmemorychannel.go#L96-L105

 **Expected behavior**

When everything is in-memory, it makes more sense to actually do this kind of work directly in the informer callback rather than effectively blocking resource

[2020-11-12 01:20] lionelvillard commented on #1777
/remove-lifecycle stale

[2020-11-12 01:21] lionelvillard commented on #2005
/remove-lifecycle stale

[2020-11-12 02:02] vaikas opened #4512 "Remove any existing finalizer"
**Describe the bug**
Prior to #4511  IMC would have finalizer. If this gets upgraded, then the IMC will not get removed. So, we should remove all the existing finalizers.

 **Expected behavior**
Existing IMC after an upgrade to .20 will get properly deleted.

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative release version**
0.20

 **Additional context**
In 0.19, IMC dispatcher would

[2020-11-12 05:25] Cynocracy commented on #4509
I'm curious to learn more about the awkward handling if you have examples.
The x-ns thing is a bit strange, anything with fg/bg deletion you've seen
cause issues?

On Wed, Nov 11, 2020 at 4:55 PM Matt Moore <notifications@github.com> wrote:

[2020-11-12 05:53] mattmoor opened #4513 "Brokers created by sugar controller can get wedged"
**Describe the bug**

When the sugar controller is in opt-out mode, Broker creation occasionally fails with:
[code]

This seem to stay in this state until the key is reprocessed due to some sort of resync.

 **Expected behavior**

Transient failures like this should stay in the workqueue (non-permanent) so that when the key can be properly processed the resource becomes Ready in a timely fashion.

[2020-11-12 06:03] mattmoor commented on #4509
Essentially if you uninstall CRD-based systems (incl. CRD + controller) that make use of finalizers while instances of those resources still exist what will happen is:
1. CRD will be deleted (resources exist, so tombstoned)
2. Controller will be deleted
3. Instance of the tombstoned CRD will be marked for deletion

Now we're in trouble.  The instances have finalizers, but the controller responsibl

[2020-11-12 09:05] aliok opened #4514 "Defaulting for Channel should resolve the namespace from context, not the resource"
**Describe the bug**
When I use Kube REST api in the way `kn` uses it, I can see behavior differences when I post these 2:

- `{"kind":"Channel","apiVersion":"messaging.knative.dev/v1beta1","metadata":{"name":"my-channel"}}`
- `{"kind":"Channel","apiVersion":"messaging.knative.dev/v1beta1","metadata":{"name":"my-channel", "namespace":"knativetutorial"}}`

URL posted is same: `apis/messaging.knativ

[2020-11-12 09:06] aliok commented on #4514
This doesn't happen when you apply YAML with `kubectl` since `kubectl` embeds the namespace in the request body.

[2020-11-12 09:10] navidshaikh commented on #4514
kn could carry this as workaround for now, it'll embed the namespace in the request body.

[2020-11-12 09:11] aliok commented on #4514
sounds good!

[2020-11-12 09:16] aliok commented on #4514
so,
- this problem doesn't happen with `kubectl`
- `kn` is adding a workaround, that should also be fine
- all the other usecases where people are creating `Channel`s programmatically with namespace defaults: just embed the namespace in the request as a workaround

[2020-11-12 10:49] slinkydeveloper opened #4515 "What's the role of BrokerSpec.Delivery outside mtbroker implementations?"
My understanding of `BrokerSpec.Delivery` documentation (https://github.com/knative/eventing/blob/master/pkg/apis/eventing/v1/broker_types.go#L77) is that it leaks the details of the mtbroker implementation:

[code]

In fact this is used inside the broker controller to configure the subscription to internal channels https://github.com/knative/eventing/blob/master/pkg/reconciler/mtbroker/resources/

[2020-11-12 10:58] matzew commented on #4515
seems like imp detail that was exposed, to early ?

well, or for channel based brokers.. (unlike w/ Rabbit / Kafka broker)... but than the `Broker` type has no more direct ref w/ the Channels...

so that field feels "wrong"

[2020-11-12 11:00] slinkydeveloper commented on #4515
Looping @pierDipi too in the discussion

[2020-11-12 13:24] lionelvillard commented on #4515
that's the original intent.

[2020-11-12 13:39] slinkydeveloper commented on #4515
If that's the case, then the doc is wrong and our usage in mtbroker is wrong too

[2020-11-12 14:06] runzexia commented on #3911
I found that almost all HTTP endpoint are wrapped with drainer, and maybe we just need to modify the [drainer](https://github.com/knative/pkg/blob/master/network/handlers/drain.go) in pkg and update deps to support it

[2020-11-12 14:11] pierDipi commented on #4515
A trigger has no delivery spec.

This is related to this issue: https://github.com/knative/eventing/issues/4057 (We should re-open it)

[2020-11-12 16:53] pierDipi commented on #4496
https://github.com/knative/eventing/pull/4517/checks?check_run_id=1391428727

Dumping some log lines:
[code]

[2020-11-12 17:38] #4368 closed

[2020-11-12 18:53] cardil opened #4518 "Migrate Eventing upgrade tests to use new upgrade framework (knative/pkg#1652)"
**Problem**
Eventing upgrade tests should be migrated to utilize new upgrade tests framework (knative/pkg#1652), and remove reliance on huge bash scripting and enable to easily compose tests from reusable operations.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

[2020-11-12 18:53] cardil commented on #4518
/assign

[2020-11-12 19:05] zhongduo commented on #4518
Thanks @cardil . I would love to help test and review once the PR is ready. IIUC, due to the limitation of IMC, we will still ignore the errors in eventing after this, right? This if more for refactoring.

[2020-11-12 19:15] grantr commented on #4515
In GCP broker we interpret broker's delivery spec as a global default for all triggers attached to the broker (https://github.com/google/knative-gcp/pull/1536). The backend is capable of per-trigger delivery specs, but we don't have an API that can set them.

We also have a configmap that sets a default delivery spec for all brokers (https://github.com/google/knative-gcp/pull/1566).

We currently

[2020-11-12 19:24] cardil commented on #4518
PR is up. Yes. This is a pure refactor to consume new composite friendly test framework.

[2020-11-12 19:39] vaikas commented on #4515
My $.02 here is, do we have a concrete use case for having a per trigger delivery spec that's different from a Broker specific. I know there's a lot of things we can do, but before complicating things by having various places to have this configured, want to make sure that we have a concrete use case (aka, somebody is trying to do something that they can't). I haven't heard anybody asking for it,

[2020-11-12 23:24] Cynocracy commented on #4509
Oof, thanks, we've definitely seen those sorts of issues as well

On Wed, Nov 11, 2020, 10:03 PM Matt Moore <notifications@github.com> wrote:

[2020-11-13 06:42] matzew commented on #2461
@grac3gao @grantr
see here https://github.com/knative/eventing/blob/master/config/brokers/mt-channel-broker/deployments/hpa.yaml   ?

[2020-11-13 06:43] matzew commented on #4462
@maschmid see here for "scaling" tests, like HPA ...

[2020-11-13 08:44] slinkydeveloper commented on #4515
So I guess you misinterpreted like we did in eventing-kafka-broker :smile:

[2020-11-13 08:46] slinkydeveloper commented on #4515
TBH this sounds like a next step to the simpler solution of supporting `Delivery` in trigger. Although this is not the point of this issue, so maybe can we open a new one for that? I'm interested in this too.

[2020-11-13 14:30] cardil opened #4523 "[Upgrade tests] Control if event doubles should be counted as errors with a flag"
**Problem**
Currently, the upgrade tests count a double event delivery as an error. That assumption is ambitious goal, and it isn't well inline with the following paragraph (ref: [cloudevents/spec/spec.md#id](https://github.com/cloudevents/spec/blob/v1.0/spec.md#id)):

There should be added a flag that can enable treating doubles as warnings instead of errors.

**[Persona:](https://github.com/knat

[2020-11-13 16:12] zhongduo commented on #4523
This makes sense. In knative-gcp I also have to filter out duplicate errors, otherwise there will be too much failure.

[2020-11-13 16:12] zhongduo commented on #4523
I can work on this once your refactoring is finished.

[2020-11-14 16:15] #4256 closed

[2020-11-16 02:44] lberk commented on #4322
I just tried this with `release-0.18.5` and found the underlying subscriptions were deleted when I deleted the triggers.

Going to close this for now -- thanks for reporting and feel free to reopen if you're still able to reproduce this.  If you do, please include the specific commands you used for us to reproduce, thanks!

[2020-11-16 02:44] #4322 closed

[2020-11-16 07:38] matzew commented on #3508
@lionelvillard any comments on this ?

[2020-11-16 12:17] knative-test-reporter-robot opened #4527 "[flaky] test/conformance.TestChannelStatusSubscriber/Channel_has_required_status_subscriber_fields#03"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatusSubscriber/Channel_has_required_status_subscriber_fields#03
* **Repository name**: eventing

[2020-11-16 12:17] knative-test-reporter-robot opened #4528 "[flaky] test/conformance.TestChannelStatusSubscriber/Channel_has_required_status_subscriber_fields"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatusSubscriber/Channel_has_required_status_subscriber_fields
* **Repository name**: eventing

[2020-11-16 13:24] lionelvillard commented on #3508
Starting from 0.18.0 it is possible, for the operator, to add annotations to `pingsource-mt-adapter` (previously `pingsource-jobrunner`).

It is not possible for the user to add annotations as it makes little sense since all PingSource instances share the same deployment.

@nak3 `oc patch ...` should now work. Please let us know if this works for you.

[2020-11-16 15:28] mattmoor opened #4530 "Promote WEBHOOK_NAME convention, use consistently across knative"
**Problem**

Eventing defines and uses: https://github.com/knative/eventing/blob/52597d174b52a680756b52b377c81bfb96fb636b/pkg/logconfig/config.go#L37

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**

Contributor

**Exit Criteria**

Knative consistently defines/uses WEBHOOK_NAME.

**Time Estimate (optional):**

1 to move to PKG and cleanup eventing.
2-3 to cleanup t

[2020-11-16 16:19] #3513 closed

[2020-11-16 17:13] vaikas commented on #4496
https://github.com/knative/eventing/runs/1406746500?check_suite_focus=true

[code]

Yet the test failed with:
[code]

[2020-11-16 17:50] grantr commented on #4523
:+1: that the upgrade tests should be verifying at least once not exactly once.

[2020-11-16 18:03] grantr commented on #4514
This might also affect broker class defaulting by namespace (if we even have that feature, I can't remember)

[2020-11-16 18:12] grantr commented on #4505
Fixed by #4503

[2020-11-16 18:12] #4505 closed

[2020-11-16 18:18] grantr commented on #4501
@n3wscott I heard you had a possible solution to this?

[2020-11-16 18:28] grantr commented on #4455
Closing this, but reopen if you disagree with that :)

[2020-11-16 18:30] grantr commented on #3186
@cardil, I'm closing this so you can open a new issue with the remaining work after the discussion. Thanks for bringing this up!

[2020-11-16 18:30] #3186 closed

[2020-11-16 21:48] #4509 closed

[2020-11-17 02:56] nak3 commented on #3508
Thank you. Then I think we can close this now.

[2020-11-17 02:56] #3508 closed

[2020-11-17 07:59] aliok commented on #4092
/unassign aliok

The task here is to first find out if these docs are still used, how they are created, ...

[2020-11-17 11:51] arghya88 commented on #4530
@mattmoor should we move this to https://github.com/knative/pkg/blob/master/webhook/env.go ?

[2020-11-17 12:15] knative-test-reporter-robot opened #4534 "[flaky] test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_attribute_triggers_using_v1beta1_trigger"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_attribute_triggers_using_v1beta1_trigger
* **Repository name**: eventing

[2020-11-17 14:35] zhongduo commented on #4496
Does this look like: https://github.com/knative/eventing/issues/3244

In knative-gcp, we will get crashed webhook, but maybe knative eventing automatically restart?

[2020-11-17 14:51] mattmoor commented on #4530
Yeah, that SGTM

[2020-11-17 15:27] arghya88 commented on #4530
/assign

[2020-11-17 17:03] slinkydeveloper commented on #4469
/assign

[2020-11-17 17:50] #4167 closed

[2020-11-17 19:27] eclipselu opened #4538 "Update docs/examples for PingSource to use v1beta2"
**Problem**
We introduced PingSource v1beta2 in https://github.com/knative/eventing/issues/4167, docs and examples need to be updated to reflect the new PingSource version.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
developer

**Exit Criteria**
Docs/Examples updated

**Time Estimate (optional):**
1 day

**Additional context (optional)**
This should release al

[2020-11-17 19:35] eclipselu opened #4539 "PingSource: make v1beta2 the storage version and migrate existing objects to v1beta2"
**Problem**
We introduced PingSource v1beta2 in https://github.com/knative/eventing/issues/4167 and use v1beta1 as the storage version to make it downgrade-able, this is scheduled to release in 0.20.
After 0.20, we should use v1beta2 as the storage version and migrate existing objects to v1beta2.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
developer

**Exit Cr

[2020-11-17 20:24] zhongduo opened #4540 "[upgrade-test] More insight of the sender pods"
**Problem**
Currently the sender has infinite retries when an event is rejected, eg ingress not available during the upgrade. It will be helpful to pass how many events have been rejected by the ingress to get the availability metric too.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
The final report will include number of requests t

[2020-11-17 20:30] vaikas commented on #4496
@zhongduo I don't think so because the webhook becomes ready.

[2020-11-17 20:36] zhongduo commented on #4496
But as you said, it is a different pod already. So it might as well be that we have some logic to detect the crash or unreadiness and restart the pod, which accidentally will solve the problem.

[2020-11-17 20:46] eclipselu commented on #4538
/assign @eclipselu

[2020-11-18 02:06] dprotaso opened #4542 "bump k8s to v0.18.12 to get leader election release bug fixes"
Context: https://github.com/knative/pkg/issues/1835

Example PR:
https://github.com/knative-sandbox/net-contour/pull/361

[2020-11-18 12:15] knative-test-reporter-robot opened #4544 "[flaky] test/e2e.TestPingSourceV1Beta2EventTypes"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestPingSourceV1Beta2EventTypes
* **Repository name**: eventing

[2020-11-18 14:52] pierDipi opened #4545 "eventing.yaml missing for nightly release"
**Describe the bug**

There is no eventing.yaml in nightly release.

- https://console.cloud.google.com/storage/browser/knative-nightly/eventing%2Flatest%2F;tab=objects?prefix=&forceOnObjectsSortingFiltering=false

 **Expected behavior**

- Release `eventing.yaml`

 **Knative release version**
`devel`

 **Additional context**

- https://console.cloud.google.com/storage/browser/knative-nightly/even

[2020-11-18 14:59] navidshaikh commented on #4545
FYI https://github.com/knative/hack/pull/24

[2020-11-18 15:07] #4314 closed

[2020-11-18 16:27] grantr commented on #4206
Fixed by #4474

[2020-11-18 16:27] #4206 closed

[2020-11-18 16:34] grantr commented on #3903
We decided to move forward with the (WIP) https://github.com/knative-sandbox/reconciler-test framework. Working on docs at https://github.com/knative-sandbox/reconciler-test/pull/38. The RabbitMQ broker is dogfooding to validate that it works.

[2020-11-18 16:34] #3903 closed

[2020-11-18 16:39] grantr commented on #3806
Removing from the release milestone pending further investigation of whether this is a bug.

[2020-11-18 17:23] n3wscott opened #4547 "Add Auto-Trigger to Sugar Controller"
**Problem**

Simplify operations for developers using Knative by allowing addressable resources to have autotrigger sugar labels.

See PoC here: https://github.com/n3wscott/autotrigger

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
The sugar controller enables auto-trigger

[2020-11-19 01:21] #1837 closed

[2020-11-19 01:32] #4545 closed

[2020-11-19 18:14] #4538 closed

[2020-11-20 12:12] #4534 closed

[2020-11-20 12:12] knative-test-reporter-robot opened #4562 "[flaky] test/e2e.TestSinkBindingV1Deployment"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSinkBindingV1Deployment
* **Repository name**: eventing

[2020-11-20 15:36] danyinggu opened #4563 "Nightly e2e test failed as it prevents KO_DOCKER_REPO being set to the nightly bucket"
**Describe the bug**
Failed run https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-eventing-nightly-release/1329714294278852608
Failed message
[code]

 **Expected behavior**
A clear and concise description of what you expected to happen.

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative release version**

 **Additional context**
Add any other context about the problem her

[2020-11-20 15:49] cardil commented on #4563
In this PR https://github.com/knative/test-infra/pull/785 @adrcunha set `KO_DOCKER_REPO=gcr.io/knative-nightly`. It was previously empty, so the code set it to proper functional value.

After merging https://github.com/knative/hack/pull/22 it isn't forcefully set by the script if already has a value. That is logical, described in `DEVELOPMENT.md`, in repos, and described in https://github.com/knat

[2020-11-20 17:30] cardil commented on #4523
@grantr I agree that by default we should not treat doubles as errors. But, there might be some channel implementations that gives 100% guarantee that they will send each event exactly once.

This flag should be there to let vendors decide how to treat doubles. I see 3 possible ways of acting. Either:

 * silence about doubles as it's expected behavior
 * warn about them (maybe also error if too m

[2020-11-20 18:09] cardil commented on #4540
That's a cool idea to have that. I'm wondering that maybe we should discuss this requirement a little further.

For example, lets say sender managed to send only 5 events to the broker, but then broker became unavailable for whatever reason. Sender then tried to send events to it for 30 minutes, unsuccessfully. At last, broker became available again, and sender send another 5 events and then get c

[2020-11-20 18:52] zhongduo commented on #4540
@cardil Thanks for the idea. I think coming up with a well accepted metric like percentage threshold might not be feasible. On the other hand, I would vote for having this total count as in the PR for now because:

1. It is possible to have 0 down time if the rollout is doing properly.
2. The way that the availability rate is calculated: `received count/sent count` is a decent metric IMO. Eg. in y

[2020-11-20 18:59] chizhg commented on #4563
The reason for this error is in the `release.sh`, `KO_DOCKER_REPO` is set to the gcr where we publish the release images, and `release.sh` will invoke `e2e-tests.sh` to run the tests before publishing the release. `KO_DOCKER_REPO` was overwritten there because we don't want to publish the *test images* to the *release gcr*, and we have a force check to prevent that.

[2020-11-20 19:22] chizhg commented on #4563
https://github.com/knative/hack/pull/29 is the best fix I can think of...

[2020-11-20 19:29] #4563 closed

[2020-11-20 19:47] cardil commented on #4540
I would like to have some metric that will fail test, or warn at least. Just printing that out isn't enouth as nobody will look at Prow logs if they succeed the build.

What about following idea:

Collect information about unavailability on sender. So, collect how many retries was needed to send each event. Send total number of request and successful request, and also send unavailability periods l

[2020-11-21 12:14] knative-test-reporter-robot opened #4565 "[flaky] test/e2e.TestSinkBindingV1Alpha2Deployment"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSinkBindingV1Alpha2Deployment
* **Repository name**: eventing

[2020-11-21 12:14] knative-test-reporter-robot opened #4566 "[flaky] test/e2e.TestContainerSourceV1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestContainerSourceV1
* **Repository name**: eventing

[2020-11-21 12:14] knative-test-reporter-robot opened #4567 "[flaky] test/e2e.TestPingSourceV1Alpha2EventTypes"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestPingSourceV1Alpha2EventTypes
* **Repository name**: eventing

[2020-11-22 12:10] knative-test-reporter-robot opened #4568 "[flaky] test/e2e.TestPingSourceV1Alpha2"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestPingSourceV1Alpha2
* **Repository name**: eventing

[2020-11-22 12:10] knative-test-reporter-robot opened #4569 "[flaky] test/conformance.TestChannelTracingWithReply"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelTracingWithReply
* **Repository name**: eventing

[2020-11-22 12:10] knative-test-reporter-robot opened #4570 "[flaky] test/conformance.TestChannelTracingWithReply/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelTracingWithReply/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-11-22 12:10] knative-test-reporter-robot opened #4571 "[flaky] test/e2e.TestSinkBindingV1Beta1Deployment"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSinkBindingV1Beta1Deployment
* **Repository name**: eventing

[2020-11-22 12:10] knative-test-reporter-robot opened #4572 "[flaky] test/e2e.TestPingSourceV1Beta1EventTypes"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestPingSourceV1Beta1EventTypes
* **Repository name**: eventing

[2020-11-22 12:10] knative-test-reporter-robot opened #4573 "[flaky] test/conformance.TestChannelDataPlaneSuccess"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess
* **Repository name**: eventing

[2020-11-22 12:10] knative-test-reporter-robot opened #4574 "[flaky] test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1beta1/min-event_encoding_structured_version_0.3"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1beta1/min-event_encoding_structured_version_0.3
* **Repository name**: eventing

[2020-11-23 02:30] mattmoor commented on #3590
/lifecycle frozen

@vaikas worth trying this again after your recent changes?

[2020-11-23 08:27] slinkydeveloper commented on #3312
/remove-lifecycle stale

[2020-11-23 08:27] slinkydeveloper commented on #3359
/remove-lifecycle stale

[2020-11-23 12:11] knative-test-reporter-robot opened #4576 "[flaky] test/e2e.TestApiServerSourceV1EventTypes"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestApiServerSourceV1EventTypes
* **Repository name**: eventing

[2020-11-23 12:19] pierDipi commented on #4544
[code]
Tests passed but `gotestsum` reports them as failed.
related: https://github.com/gotestyourself/gotestsum/issues/141

[2020-11-23 12:20] pierDipi commented on #4576
[code]
Tests passed but `gotestsum` reports them as failed.
related: https://github.com/gotestyourself/gotestsum/issues/141

[2020-11-23 12:22] pierDipi commented on #4573
[code]

issue: https://github.com/knative/test-infra/issues/2346

[2020-11-23 12:23] pierDipi commented on #4568
[code]
Tests passed but `gotestsum` reports them as failed.
related: https://github.com/gotestyourself/gotestsum/issues/141

[2020-11-23 12:25] pierDipi commented on #4570
[code]

issue: https://github.com/knative/test-infra/issues/2346

[2020-11-23 12:27] pierDipi commented on #4569
Parent of https://github.com/knative/eventing/issues/4570

/close

[2020-11-23 12:27] #4569 closed

[2020-11-23 12:30] pierDipi commented on #4574
[code]

issue: https://github.com/knative/test-infra/issues/2346

[2020-11-23 12:31] pierDipi commented on #4573
Parent of https://github.com/knative/eventing/issues/4574

/close

[2020-11-23 13:23] pierDipi commented on #3351
/remove-lifecycle stale

[2020-11-23 13:34] pierDipi commented on #4567
[code]
Tests passed but `gotestsum` reports them as failed.
related: https://github.com/gotestyourself/gotestsum/issues/141

[2020-11-23 13:35] pierDipi commented on #4565
[code]
Tests passed but `gotestsum` reports them as failed.
related: https://github.com/gotestyourself/gotestsum/issues/141

[2020-11-23 14:37] #4530 closed

[2020-11-23 16:09] pierDipi opened #4578 "[Tracing] Consistent span attribute key for CloudEvent id"
MTBroker filter and ingress use `messaging.message_id`:
https://github.com/knative/eventing/blob/2e9f6a27290288339454405fa3fe4230e3eba151/pkg/tracing/attributes.go#L30-L44

and the dispatcher uses `cloudevents.id`:

https://github.com/knative/eventing/blob/2e9f6a27290288339454405fa3fe4230e3eba151/pkg/kncloudevents/populate_span_transformer.go#L38-L44

## Expected Behavior

Consistently use one of

[2020-11-23 18:24] vaikas commented on #3590
@mattmoor yeah, thought about that just haven't gotten around to it yet :)

[2020-11-23 18:29] vaikas commented on #3566
We haven't seen these failures in awhile, closing, we can reopen if necessary.

[2020-11-23 18:29] #3566 closed

[2020-11-23 22:02] zhongduo commented on #4540
Mostly same as what @cardil suggested, except that there is already a CoolDown interval that can be used as this already, I would actually think we can keep the CoolDown time to be same as interval in this test so that we can get more accurate down time, 1 seconds seems a lot to me considering the fact that it is possible to get 0 down time if rollout works properly.

[2020-11-24 08:33] pierDipi commented on #3263
/remove-lifecycle stale

[2020-11-24 09:48] pierDipi commented on #3188
/remove-lifecycle stale

[2020-11-24 10:17] rhuss opened #4584 "PingSource: Conversion issue with v1alpha2 -> storage version"
**Describe the bug**

`kn` still uses `v1alpha2` API version for managing `PingSources`. The usage of this API however leads to inconsistent
results.

When creating a PingSource and then updating it via this api vesion via the following commands:

[code]

Leads to the following inconsisten resource definition:

[code]

Note that the `pingsources.sources.knative.dev/v1beta1-spec:` annotation points

[2020-11-24 10:25] navidshaikh commented on #4584
here is the `log-http` output for ping source update request via kn:

[code]
ref: [logs](https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_client/1133/pull-knative-client-integration-tests/1331172932973498368#1:build-log.txt%3A725)

[2020-11-24 10:26] rhuss commented on #4584
This behaviour has been detected by the client e2e tests, so a big +1 to the end2end tests and the Knative CI in general. They are all worth the effort and the fights with test gremlins.

[2020-11-24 12:12] knative-test-reporter-robot opened #4585 "[flaky] test/conformance.TestChannelStatusSubscriber/Channel_has_required_status_subscriber_fields#02"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatusSubscriber/Channel_has_required_status_subscriber_fields#02
* **Repository name**: eventing

[2020-11-24 12:12] knative-test-reporter-robot opened #4586 "[flaky] test/e2e.TestPingSourceV1Beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestPingSourceV1Beta1
* **Repository name**: eventing

[2020-11-24 12:12] #4571 closed

[2020-11-24 12:24] pierDipi commented on #4565
Same issue :arrow_up:

[2020-11-24 12:25] pierDipi commented on #4544
Same issue :arrow_up:

[2020-11-24 13:03] duglin opened #4587 "Discover all event CRs in a NS"
It would be nice if there was some way for a user to perform a query where it returned all Event Source CRs in a Namespace so they can easily see which event sources they are connected up to. I believe that today this would require a query for each type of event source (CRD) known to the system - which isn't the greatest UX.

Just brainstorming... I wonder how `kubectl get all` does it? I suspect

[2020-11-24 13:34] lionelvillard commented on #4584
Thanks @rhuss!

@eclipselu do you have cycles to take a look at it?

[2020-11-24 13:57] lionelvillard commented on #4587
@n3wscott

[2020-11-24 13:57] navidshaikh commented on #4587
kn has `source list-types` which filters available CRDs on label `eventing.knative.dev/source: "true"` to subset only source CRDs.
[code]
However there are challenges on variant k8s distributions which has stricter access rules to access (read) CRD resources and a non-kubeadmin user may see 'restricted resource' warning when running above.

https://github.com/knative-sandbox/discovery gets you tho

[2020-11-24 14:13] eclipselu commented on #4584
@lionelvillard sure I can take a look

[2020-11-24 14:18] eclipselu commented on #4584
Thank you @rhuss @navidshaikh for reporting this!

[2020-11-24 15:48] eclipselu commented on #4584
I am able to reproduce this bug in using both:

[code]

and

[code]

only part of the spec is updated, annotations(v1beta1-spec, v1beta2-spec) are not updated because the annotation logic is in pingsource_conversion and not triggered in this patch/update case.

[2020-11-24 17:06] eclipselu commented on #4584
/assgin @eclipselu

[2020-11-25 08:33] aliok commented on #3422
@n3wscott I remember seeing some activity around this but not sure if this is really done. any info?

[2020-11-25 08:44] pierDipi commented on #2411
/remove-lifecycle stale

[2020-11-25 08:48] pierDipi commented on #2738
`chaosduck` has been enabled for almost all components, is there anything left?

[2020-11-25 09:12] meteatamel commented on #2266
I think the issue still applies. It's difficult for someone to get GKE and Knative setup properly. I have setup instructions here that works as of Knative v0.19.0: https://github.com/meteatamel/knative-tutorial/tree/master/setup

[2020-11-25 09:22] nicolaferraro commented on #2544
/close

[2020-11-25 09:22] #2544 closed

[2020-11-25 09:30] pierDipi commented on #2660
This is "done".

/close

[2020-11-25 09:30] #2660 closed

[2020-11-25 12:11] #4574 closed

[2020-11-25 12:11] #4576 closed

[2020-11-25 12:11] #4570 closed

[2020-11-25 14:11] lionelvillard commented on #3422
I think it's done: https://github.com/knative-sandbox/sample-source/pull/224

[2020-11-25 14:23] n3wscott commented on #3422
We need to take that pattern and use it in eventing too

[2020-11-25 15:06] cardil opened #4592 "Don't dump K8s events on console log"
**Describe the bug**
We are dumping K8s events on console log, no matter if the test is successful or not. That makes it really hard to know what actually happened as it makes the log extremely long.

This is the code that does this:

https://github.com/knative/eventing/blob/ede5a2ac8beb888edeae49539f041ea9bb085476/test/lib/test_runner.go#L214-L216

 **Expected behavior**
We should dump those dire

[2020-11-25 15:06] cardil commented on #4592
/cc @vaikas

[2020-11-25 15:07] cardil commented on #4592
/cc @mgencur

[2020-11-25 15:07] matzew opened #4593 "Remove environment variables that point to their default values"
**Background**

We have a few deployments that have ENV_VARs for configurations, like:
* https://github.com/knative/eventing/blob/master/config/core/deployments/controller.yaml#L63
* https://github.com/knative/eventing/blob/master/config/core/deployments/webhook.yaml#L69
(to only give two examples)

In this specific case the two deployment just reflect the value that's generally the default:
* htt

[2020-11-25 15:08] matzew commented on #4593
Creating this ticket based on a slack convo w/ @jcrossley3, here: https://knative.slack.com/archives/CEPGNPHP1/p1606312606106700

Perhaps @houshengbo might have some inputs here too ?

It is NOT just a "problem" for eventing, same is true for serving

[2020-11-25 15:08] cardil commented on #4592
/assign

[2020-11-25 15:13] zhongduo commented on #4592
I think those are k8s events, typically it is not that bad in upgrade test. I guess no one really check the log if the test succeeds. I would vote for keeping the default to always log. Logging to artifact can be difficult to use when multiple tests are run in the same job.

[2020-11-25 15:17] cardil commented on #4592
Yeah, those are K8s events.

We are having hard time reading those logs, especially when they are interwoven with serving logs.

We could create a separate directory for each execution, and print that directory on console log, so it is easy to find those logs if you like to. The same already is happening for XML junit logs, for example.

[2020-11-25 15:30] zhongduo commented on #4592
This might be a little tricky for k8s events. For example, in upgrade test
there are preupgrade/postupgrade jobs that will emit k8s events too even
they are in the same test. Distinguishing them will be tricky unless we tag
them as preupgrade and postupgrade logs. I personally use the k8s events a
lot to debug a flakiness in our upgrade test. But as long as the default is
the same bahavior, there

[2020-11-25 16:25] AlexandraRoatis commented on #4092
/assign

[2020-11-25 16:37] pierDipi commented on #4585
[code]

[2020-11-25 16:38] pierDipi commented on #4238
[code]

[2020-11-25 16:55] pierDipi commented on #4238
[code]

Subscription condition: `AddedToChannel` => `True`, but then channel has no subscribers :upside_down_face:

[code]

[2020-11-25 17:23] AceHack commented on #2880
Bump

[2020-11-25 18:16] houshengbo commented on #4593
I am now supporting the first approach as a quick and easy fix.

For a longer term, what are the valid ways to configure Knative?
We have configuration options by the API's, by the ConfigMaps, and even by the env vars. Do we still support them all as valid ways to configure?

[2020-11-25 18:31] AlexandraRoatis opened #4595 "Validate and update Specs for correctness"
**Problem**
The documented specification does not reflect the current state of the implementation (v1 API).
This issue will be used to track different aspects of the spec update.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
- System Integrator
- Contributor

**Exit Criteria**
Solve the following set of issues:
- [x] update `sp

[2020-11-25 18:40] AlexandraRoatis opened #4596 "Move the produced events details out of spec.md"
**Problem**
The produced events listed below are no longer viewed as part of the specification. However, they can be useful for debugging. They should be relocated to another document.

- [Trigger Events](https://github.com/knative/eventing/blob/master/docs/spec/spec.md#events)
- [Broker Events](https://github.com/knative/eventing/blob/master/docs/spec/spec.md#events-1)
- [Channel Events](https://

[2020-11-25 19:58] matzew commented on #4593
any link for how this is currently working/supported?

On Wed 25. Nov 2020 at 19:17, Vincent <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-11-25 20:34] houshengbo commented on #4593
No. It was just discussion in the community before.

[2020-11-26 01:17] #3629 closed

[2020-11-26 06:16] #4584 closed

[2020-11-26 12:12] #4568 closed

[2020-11-26 12:12] #4586 closed

[2020-11-26 13:01] cardil commented on #4592
@zhongduo I can add additional environment variable, let's say `TEST_RUNNER_DUMP_EVENTS_LOCATION=stdout|logfile`. And if `logfile` will be used I would put those events to a file and write on console:

[code]

Then it will be super easy to look them up if you like to. Or, you can set that flag to `stdout`, to keep current behavior.

[2020-11-26 13:03] mgencur commented on #4592
This logging of events at the end of the test is annoying and I agree that dumping them in a file would make the logs more concise and readable. It should be fine as long as the main log insludes references to the files where events are logged for each test.

[2020-11-26 14:43] zhongduo commented on #4592
Awesome, that is a good idea.

On Thu, Nov 26, 2020 at 8:02 AM Chris Suszynski <notifications@github.com>
wrote:

[2020-11-26 14:49] eclipselu commented on #4584
@rhuss @navidshaikh this issue should be fixed by the latest nightly version, I did a test using the steps above it worked. Can you verify from your side? Again, thanks very much for flagging this issue! this reminded me of the edge case that I missed.

[2020-11-26 14:51] pierDipi commented on #4381
`"gke-resource-quotas"`
[code]

[2020-11-26 14:52] pierDipi commented on #4567
[code]
Tests passed but `gotestsum` reports them as failed.
related: https://github.com/gotestyourself/gotestsum/issues/141

[2020-11-26 19:51] zhongduo opened #4599 "Broken performance test"
**Describe the bug**
One cannot follow the [performance test](https://github.com/knative/eventing/tree/master/test/performance) any more. Despite the ongoing discussion about moving away from Mako, I believe we should keep the performance test ready to run, especially considering the fact that the test can be run locally.

 **Expected behavior**
Following the performance test doc should allow us t

[2020-11-26 19:52] zhongduo commented on #4599
/assign

[2020-11-27 00:53] #4518 closed

[2020-11-27 11:15] navidshaikh commented on #4584
@eclipselu : Thank you for fixing this! client e2e tests now runs against eventing nightly knative/client#1151

[2020-11-27 12:12] knative-test-reporter-robot opened #4601 "[flaky] test/conformance.TestChannelForwardHeadersPrependedWithKnative"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelForwardHeadersPrependedWithKnative
* **Repository name**: eventing

[2020-11-27 12:12] knative-test-reporter-robot opened #4602 "[flaky] test/conformance.TestChannelForwardHeadersPrependedWithKnative/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelForwardHeadersPrependedWithKnative/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-11-27 12:12] knative-test-reporter-robot opened #4603 "[flaky] test/rekt.TestSmoke_Trigger/Assert#04/[Stable/MUST]trigger_be_ready"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestSmoke_Trigger/Assert#04/[Stable/MUST]trigger_be_ready
* **Repository name**: eventing

[2020-11-27 12:12] knative-test-reporter-robot opened #4604 "[flaky] test/rekt.TestSmoke_Trigger/Assert#04"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestSmoke_Trigger/Assert#04
* **Repository name**: eventing

[2020-11-27 12:12] knative-test-reporter-robot opened #4605 "[flaky] test/rekt.TestSmoke_Trigger/Setup#04/install_a_service_and_install_trigger_"name63-01234567890123456789012345678901234567890123456789012345""
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestSmoke_Trigger/Setup#04/install_a_service_and_install_trigger_"name63-01234567890123456789012345678901234567890123456789012345"
* **Repository name**: eventing

[2020-11-27 13:42] pierDipi commented on #4605
[code]

[2020-11-27 13:43] pierDipi commented on #4603
[code]

[2020-11-27 13:43] pierDipi commented on #4602
[code]

[2020-11-27 13:46] pierDipi commented on #4601
Actual failure: https://github.com/knative/eventing/issues/4602

[2020-11-27 13:49] pierDipi commented on #4604
Actual failure: https://github.com/knative/eventing/issues/4603

[2020-11-27 15:11] Shashankft9 commented on #3133
/remove-lifecycle stale

[2020-11-28 12:12] knative-test-reporter-robot opened #4608 "[flaky] test/upgrade.TestEventingUpgrades/PreUpgradeTests/EventingPreUpgradeTest/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestEventingUpgrades/PreUpgradeTests/EventingPreUpgradeTest/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-11-28 12:12] knative-test-reporter-robot opened #4609 "[flaky] test/e2e.TestApiServerSourceV1Beta1EventTypes"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestApiServerSourceV1Beta1EventTypes
* **Repository name**: eventing

[2020-11-28 12:12] knative-test-reporter-robot opened #4610 "[flaky] test/upgrade.TestEventingUpgrades/PreUpgradeTests/EventingPreUpgradeTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestEventingUpgrades/PreUpgradeTests/EventingPreUpgradeTest
* **Repository name**: eventing

[2020-11-29 12:13] #4602 closed

[2020-11-29 12:13] #4601 closed

[2020-11-30 12:11] #4610 closed

[2020-11-30 12:11] #4604 closed

[2020-11-30 12:11] #4608 closed

[2020-11-30 12:11] #4605 closed

[2020-11-30 12:11] #4603 closed

[2020-11-30 15:04] travis-minke-sap commented on #3069
/remove-lifecycle stale

[2020-11-30 18:00] grantr commented on #4587
@duglin does `kubectl get sources` work for you? That should list all instances of CRDs with the `sources` category. This is the standard kubectl categories support: https://github.com/knative/eventing/blob/master/config/core/resources/pingsource.yaml#L472

[2020-11-30 18:05] lberk commented on #4547
Feature track doc: https://docs.google.com/document/d/11OJyM6ioAal22rrfRegKMo_Qr4qPJky-FQP-L_lXbbE/edit

[2020-11-30 18:06] lionelvillard commented on #4587
@dug Does `kubectl get sources` work?

Example:

[code]

[2020-11-30 18:09] grantr commented on #4578
Seems pretty obvious that we should use the standard `messaging.message_id`. This should be mentioned in the Knative eventing spec documents as as requirement for doing event tracing.

[2020-11-30 18:11] grantr commented on #4542
@dprotaso How does this affect the leader election patch? Do we still need it? https://github.com/knative/eventing/blob/master/hack/k8s-client-go.patch

[2020-11-30 18:26] lberk commented on #2221
@aslom is this eventing diagram still accurate? Is it something that could be currently included?

if so, @abrennan89 would there be an area/directory in docs that @aslom could PR this to?

[2020-11-30 18:28] lberk commented on #3541
/close

[2020-11-30 18:28] grantr commented on #3567
/remove-lifecycle stale
/milestone clear

[2020-11-30 18:28] #3541 closed

[2020-11-30 19:07] #4523 closed

[2020-11-30 20:16] aavarghese opened #4611 "Uninstalled Event Source results in "Failed to list *v1.Source: the server could not find the requested resource""
**Describe the bug**
If we create a new Event Source, ie. we install Redis Stream Sources, the parent controller successfully creates a new dynamic controller for this particular Source. But if we uninstall this Source, the created dynamic controller is not properly destroyed. This results in error messages in the log:

[code]

This code to delete controller is never called: https://github.com/kna

[2020-12-01 00:09] zhongduo opened #4612 "[upgrade-test] allow configurable broker type"
**Problem**
Currently there is no easy way to use the upgrade test to test a different broker.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
developers

**Exit Criteria**
Provide a way to add configuration to existing upgrade code so that an annotation can be added when deploying the broker to test different broker type.

**Time Estimate (optional):**
1 day

[2020-12-01 00:09] zhongduo commented on #4612
/assign

[2020-12-01 04:59] dprotaso commented on #4542
you can drop that patch

[2020-12-01 13:07] duglin commented on #4587
yes it does - cool!  thanks!

[2020-12-01 13:07] #4587 closed

[2020-12-01 19:41] grantr commented on #3183
Looks like this was fixed a while ago. The current ConfigMap is correct at https://github.com/knative/eventing/blob/master/config/core/configmaps/default-broker.yaml.

[2020-12-01 19:41] #3183 closed

[2020-12-01 19:41] #2982 closed

[2020-12-01 19:41] #4455 closed

[2020-12-01 20:31] zhongduo opened #4614 "[upgrade-test] Allow configuration from configuration file to prober"
**Problem**
Currently the upgrade test will create a configmap which a template file called `config.toml`, which can be used to configure almost all Wathola pods. However there is not easy way to specify another `config.toml` from the upgrade test. So currently options for sender/receiver will have to be registered from the top level and compile with the template. One example is the `Interval` of

[2020-12-01 20:31] zhongduo commented on #4614
/assign @zhongduo

[2020-12-01 20:32] zhongduo commented on #4614
@cardil WDYT?

[2020-12-01 23:44] n3wscott opened #4617 "[Feature Request] Ability to "Pause" Event Producing and Consuming resources."
**Problem**
Sometimes you just need the system to stop churning. If we added a new duck type or something that had a setting to turn off the resource from producing or consuming events, we would enable use-cases like disaster recovery environments or even help contributors debug components without deleting resources.

Things that you might want to pause:
- Broker
- Trigger
- Flow resources
- Sourc

[2020-12-01 23:49] grantr commented on #4566
It looks like the most recent failure may have been caused by the golang parsing bug. I don't know if we're still supposed to be seeing that. But I don't know how else to interpret this log saying both fail and pass:

[code]

@vaikas I think you're the expert on this. What's going on?

[2020-12-01 23:53] grantr commented on #4572
I think this is somehow related to the golang parsing bug. The tests that failed have final log lines that look like this:

`Failed to get test-ping-source-v1-beta2-event-types-45vmp/default: brokers.eventing.knative.dev "default" not foundFailed to get test-api-server-source-v1-alpha2-event-types-8bl6s/default: brokers.eventing.knative.dev "default" not found--- PASS: TestApiServerSourceV1Beta1Ev

[2020-12-01 23:54] grantr commented on #4609
I think this is somehow related to the golang parsing bug. The tests that failed have final log lines that look like this:

`Failed to get test-ping-source-v1-beta2-event-types-45vmp/default: brokers.eventing.knative.dev "default" not foundFailed to get test-api-server-source-v1-alpha2-event-types-8bl6s/default: brokers.eventing.knative.dev "default" not found--- PASS: TestApiServerSourceV1Beta1Ev

[2020-12-02 07:39] slinkydeveloper commented on #3126
/reopen

[2020-12-02 07:52] slinkydeveloper commented on #3126
/remove-lifecycle stale

[2020-12-02 12:12] knative-test-reporter-robot opened #4619 "[flaky] test/rekt.TestBrokerAsMiddleware/Assert"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerAsMiddleware/Assert
* **Repository name**: eventing

[2020-12-02 12:12] knative-test-reporter-robot opened #4620 "[flaky] test/rekt.TestBrokerAsMiddleware/Assert/[Stable/MUST]broker_as_middleware_deliver_an_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/rekt.TestBrokerAsMiddleware/Assert/[Stable/MUST]broker_as_middleware_deliver_an_event
* **Repository name**: eventing

[2020-12-02 17:22] aslom commented on #3933
/remove-lifecycle stale

[2020-12-02 22:33] aslom commented on #2221
@abrennan89 that would be great to start PR or improving docs - let me know what is the best place in docs? i will update diagram and we can iterate over it?

[2020-12-03 04:04] xinydev opened #4623 "Ability to correlation cloud events in Trigger"
**Problem**

As the correlation definition in this [spec](https://github.com/serverlessworkflow/specification/blob/master/specification.md#event-definition)

when create a Trigger, we can add correlation rules, filter rules and trigger rules for broker. Only when all conditions are met, will the message be sent to Trigger's Reply.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/

[2020-12-03 08:35] rhuss commented on #2464
/remove-lifecycle stale

[2020-12-03 08:41] rhuss commented on #2474
It this still the case that a user can't specify the namespace field of a Destination ? (sorry. haven't verified it lately). If so, this might make the planned client feature to add namespace support for sinks obsolete (https://github.com/knative/client/issues/1143)

[2020-12-03 08:41] rhuss commented on #2474
/remove-lifecycle stale

[2020-12-03 10:24] xinydev opened #4624 "Extra period at the end of Inmemorychannels"
**Describe the bug**
the url for kafkachannel is :`http://sequencename-kn-sequence-0-kn-channel.helloworldflow1-v16.svc.cluster.local`

the url for inmemorychannels is:`http://sequencename-kn-sequence-0-kn-channel.helloworldflow1-v16.svc.cluster.local.`, with a `.` in the end

Is this specially designed like this?

 **Expected behavior**

no period in the end of inmemorychannels

 **To Reproduce**

[2020-12-03 11:44] rhuss commented on #4593
Without being into the weeds, I think the proper solution is to configure only via the operator's CRD which then translate to the environment variable values (or in the configuration of the managed entities). Having two different places for configuring the installation of an application should not be the goal. The operator "owns" the deployment and hence should be the only one who manages this (id

[2020-12-03 11:48] rhuss commented on #4593
On another note, I'm not even a fan of default values if not absolutely needed (e.g. I would even remove those from the code).

My take on that (a bit opinionated though, from the book that I've written):

First, changing default values means replacing them within the code, which requires a rebuild. Second, people relying on defaults (either by convention or consciously) will always be surprised w

[2020-12-03 12:14] #4566 closed

[2020-12-03 13:13] cardil commented on #4614
Idea seams perfectly fine, with one small nit.

Maybe lets discuss on PR: https://github.com/knative/eventing/pull/4615#issuecomment-737977530

[2020-12-03 14:34] zhongduo commented on #4624
Can you specify where it is from?

[2020-12-03 15:54] xtreme-sameer-vohra opened #5436 "event_display displays received events on an HTTP endpoint"
**Problem**
All examples using event_display on knative.dev site include instructions to check for received events via
[code]
It would also be beneficial to be able to view events on the service's http endpoint via a `GET`.
I naturally clicked the link once the service was deployed and incorrectly assumed it was broken until I followed through the rest of the example and realized that the output i

[2020-12-03 16:40] xinydev commented on #4624
very sorry about this. we have wrong config in KubeletConfiguration, the `clusterDomain` configuration is incorrectly set to `cluster.local.`

[2020-12-03 16:41] #4624 closed

[2020-12-04 12:13] #4544 closed

[2020-12-04 14:16] VIjayHP opened #4626 "E2E tests are failing for Knative-eventing"
**Following pods are running under knative-eventing namespace:**
eventing-controller-66c877b879-7ffzz    1/1     Running   0          61m
eventing-webhook-644c5c7667-d5qzg       1/1     Running   0          61m
imc-controller-587f98f97d-68smx         1/1     Running   0          59m
imc-dispatcher-6db95d7857-c5j2z         1/1     Running   0          59m
mt-broker-controller-76b65f7c96-lxsvm   1/1

[2020-12-04 17:43] matzew opened #4627 "Pingsource restarts on fresh installation"
**Describe the bug**

Install Eventing 0.18+ via the operator, and have one (or more) `PingSources`, you will see the `pingsource-mt-adapter` terminates and creates new container, terminates than again creates new container, and so and so on ...:

[code]

 **Expected behavior**

None of this happens

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative release version**
0.18 +

 **Additi

[2020-12-04 17:44] matzew commented on #4627
@lionelvillard this is a funny one...

From an operator perspective, any ideas @houshengbo  ?

[2020-12-04 17:55] lionelvillard commented on #4627
@matzew What was the other related issue with the operator overriding configurations? Maybe we should have only one issue in the operator repo?

[2020-12-04 17:56] matzew commented on #4627
Eventually this mess does relax, though...

[2020-12-04 17:57] matzew commented on #4627
Here is another issue with "owning" manifests (or not): https://github.com/knative/eventing/issues/4593

[2020-12-04 18:28] houshengbo commented on #4627
I am now using 0.19.1 to try to install knative-eventing.
I only see
[code]
constantly.

Nothing flips-flop.

[2020-12-04 19:10] lionelvillard commented on #4627
@houshengbo you need to install a source

[2020-12-05 12:11] #4565 closed

[2020-12-05 12:11] #4620 closed

[2020-12-05 12:11] #4619 closed

[2020-12-06 10:34] VIjayHP commented on #4626
Could someone help me with the above failures or any additional setup/procedure I need to follow for running e2e tests for eventing?

[2020-12-06 15:38] avivex1000 opened #4628 "Support MT broker match triggers defined in external namespaces"
**Problem**
In my current implementation, I would like to create an event mesh that is shared across multiple namespaces.
This design relies on the choreography oriented event-driven architecture, where every source in the system isn't aware of the targets that may subscribe and act upon the created events.

This design is currently not very intuitive to implement using knative.

One solution coul

[2020-12-06 22:57] aslom commented on #2152
/reopen

[2020-12-06 22:57] aslom commented on #2153
/reopen

[2020-12-06 22:58] aslom commented on #2154
/reopen

[2020-12-06 22:58] aslom commented on #2161
/reopen

[2020-12-06 22:58] aslom commented on #2191
/reopen

[2020-12-06 23:00] aslom commented on #2880
/reopen

[2020-12-06 23:03] aslom commented on #2460
/reopen

[2020-12-06 23:04] aslom commented on #2507
/reopen

[2020-12-06 23:05] aslom commented on #2584
/reopen

[2020-12-06 23:06] aslom commented on #2614
/reopen

[2020-12-06 23:06] aslom commented on #2656
/reopen

[2020-12-06 23:07] aslom commented on #2657
/reopen

On Tue, Nov 24, 2020 at 8:18 PM github-actions[bot] <
notifications@github.com> wrote:

[2020-12-06 23:10] aslom commented on #2658
/reopen

[2020-12-06 23:29] aslom commented on #2901
/reopen

[2020-12-07 05:27] VIjayHP opened #4629 "Install the core components of Eventing fails"
Hi All,
Command given in the official documentation to install knative-eventing core component's is not working:

$kubectl apply --filename https://github.com/knative/eventing/releases/download/v0.19.0/eventing-core.yaml

Error from server (InternalError): error when creating "https://github.com/knative/eventing/releases/download/v0.19.0/eventing-core.yaml": Internal error occurred: failed calling

[2020-12-07 05:30] VIjayHP commented on #3244
@zhongduo @Harwayne
Hi All,
Command given in the official documentation to install knative-eventing core component's is not working:

$kubectl apply --filename https://github.com/knative/eventing/releases/download/v0.19.0/eventing-core.yaml

Error from server (InternalError): error when creating "https://github.com/knative/eventing/releases/download/v0.19.0/eventing-core.yaml": Internal error occu

[2020-12-07 12:12] knative-test-reporter-robot opened #4630 "[flaky] test/e2e.TestContainerSourceV1Alpha2"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestContainerSourceV1Alpha2
* **Repository name**: eventing

[2020-12-07 12:12] #4562 closed

[2020-12-07 12:13] knative-test-reporter-robot opened #4631 "[flaky] test/e2e.TestChannelNamespaceDefaulting"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelNamespaceDefaulting
* **Repository name**: eventing

[2020-12-07 15:45] antoineco opened #4632 "Broker does not update apiVersion in ownerReference of the underlying Channel"
**Describe the bug**

I found a few of those `ownerReferences` in Brokers that were created when Knative was `v0.15.0`.

[code]

Those are invalid and do cause issues with garbage collection, because the `eventing.knative.dev/v1alpha1` API doesn't exist anymore:

[code]

[code]

[code]

 **Expected behavior**

Whatever the current "preferred version" is, the Broker reconciler should set that in th

[2020-12-07 17:57] lberk commented on #4626
You might need to export the envvar `SYSTEM_NAMESPACE="knative-eventing"`

[2020-12-07 18:10] vaikas commented on #4611
I think the problem is that with genReconciler the ReconcileKind never gets called with deleted resources. You probably need to manually add a handler, kind of like we do in IMC here so that you can call the cleanup:
https://github.com/knative/eventing/blob/master/pkg/reconciler/inmemorychannel/dispatcher/controller.go#L130

[2020-12-07 18:12] antoineco opened #4633 "Subscription/Trigger spec doesn't honor namespace in subscriber.ref"
**Describe the bug**

When a Subscription or Trigger is created with a `spec.subscriber.ref` which references an object in a different namespace, it ignores that namespace and defaults to its own.

 **Expected behavior**

The `namespace` is taken into account when assembling the subscriber URI:

 **To Reproduce**

[code]

[code]

[code]

 **Knative release version**

Eventing `v0.19.2`

 **Additio

[2020-12-07 18:13] lberk commented on #4609
This is a go test bug. closing for now

[2020-12-07 18:15] lberk commented on #4631
seems like another go test bug, closing.

[2020-12-07 18:15] lberk commented on #4630
seems like another go test bug, closing.

[2020-12-07 18:17] lberk commented on #4633
This looks similar to #4628 (though specific to channels instead of broker/triggers)

[2020-12-07 18:24] lberk commented on #1976
@AlexandraRoatis is this close to the issue you're currently working on? Would it make sense to reassign this issue to you (covered under your issue)?

[2020-12-07 18:25] antoineco commented on #4633
Good point, I haven't tried with a Trigger.

[2020-12-07 18:27] AlexandraRoatis commented on #1976
Yes. This is very closely related to what I was working on. I'm happy to take this task.

[2020-12-07 18:28] lberk commented on #3806
@matzew would setting `FailurePolicy` to open better address this? would you be able to look into this and drive it?

[2020-12-07 18:30] antoineco commented on #4633
@lberk Issue confirmed with a Trigger. I updated the issue description, including the repro.

[2020-12-07 18:55] grantr opened #4634 "Test log is missing a newline and causing flakes"
**Describe the bug**
Most/all of our recent test flakes have been passes that were incorrectly marked as failures. According to https://github.com/golang/go/issues/38063 this is caused by a log line missing a newline. Here's an example from #4609:

`Failed to get test-ping-source-v1-beta2-event-types-45vmp/default: brokers.eventing.knative.dev "default" not foundFailed to get test-api-server-sourc

[2020-12-07 19:11] aslom opened #4635 "Define what happens when Sink sends unexpected response"
**Problem**
The problem is with Eventing Sources that are connected to Sinks that may send Reply event over HTTP connection. Currently Sink has no way to know if Response event is expected.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
Event consumer (developer)
Event producer
System Integrator

**Exit Criteria**
Resolve and do

[2020-12-07 19:12] aslom commented on #4635
@zhongduo @grantr @vaikas @lionelvillard trying to distill what is the underlying use case for event replies

[2020-12-07 19:25] lionelvillard commented on #4627
After discussing this on [slack](https://knative.slack.com/archives/CEPGNPHP1/p1607356851115700), it seems the current solution is for the operator to ignore some fields.

I wonder if we can somehow leverage k8s 1.18 `managedFields` feature. I don't have much experience with it but at a high-level it seems to provide the capability we need. For instance, looking at a deployment:

[code]

In this e

[2020-12-07 20:02] lionelvillard commented on #4627
More info about server-side apply: https://kubernetes.io/docs/reference/using-api/server-side-apply

[2020-12-07 20:15] zhongduo commented on #4635
For http protocol, the response is considered the last step of one request. So notifying the sink will require a new http request. Also, note that the sink can be connected to both Sources and Brokers, this might have an implication of changing the source behavior too, which we are trying avoid in the proposal. On the other hand, for the current broker spec, event reply will always be supported an

[2020-12-07 22:39] abrennan89 commented on #2221
@aslom completely depends on the content of the diagram(s). There's no specific place where these should go really, just somewhere that it makes sense, e.g. if the diagram was about brokers, add it to the docs about brokers, etc.

[2020-12-08 04:45] VIjayHP commented on #4626
@lberk : Also the yaml file from the documentation is not working
$kubectl apply --filename https://github.com/knative/eventing/releases/download/v0.19.0/eventing-core.yaml
After applying this webhook pod fails
issue is mentioned here: https://github.com/knative/eventing/issues/4629

[2020-12-08 05:17] LiYa-Xu commented on #4629
@VIjayHP For your above errors, I think you can try to delete webhooks like below commands:
[code]

[2020-12-08 05:40] VIjayHP commented on #4629
@LiYa-Xu  Thanks it worked , but while running the tests it's failing here:
$go test -v -timeout=0m -tags=e2e -count=1 ./test/e2e --dockerrepo <registry-ip:port>/local-images

Error: Failed to get test-default-broker-with-many-triggers-test-default-brokerffn6k/default: brokers.eventing.knative.dev "default" not foundFailed to get test-default-broker-with-many-triggers-test-default-brokerdxmkd/defa

[2020-12-08 05:41] VIjayHP commented on #4626
$go test -v -timeout=0m -tags=e2e -count=1 ./test/e2e --dockerrepo registry-ip:port/local-images

Error: Failed to get test-default-broker-with-many-triggers-test-default-brokerffn6k/default: brokers.eventing.knative.dev "default" not foundFailed to get test-default-broker-with-many-triggers-test-default-brokerdxmkd/default: brokers.eventing.knative.dev "default" not foundFailed to get test-defaul

[2020-12-08 05:48] VIjayHP commented on #4626
@lberk
After exporting this environmental variable only i am getting the issue:
Failed to get test-default-broker-with-many-triggers-test-default-brokergslcs/default: brokers.eventing.knative.dev "default" not foundFailed to get test-default-broker-with-many-triggers-test-default-broker2zcpd/default: brokers.eventing.knative.dev "default" not foundFailed to get test-default-broker-with-many-trigge

[2020-12-08 08:32] pierDipi commented on #4626
You need to install the [sugar controller](https://knative.dev/docs/install/any-kubernetes-cluster/#optional-eventing-extensions) for running E2E tests.
Also, it's recommended to use the latest patch release [v0.19.2](https://github.com/knative/eventing/releases/tag/v0.19.2).

[2020-12-08 08:39] pierDipi commented on #4626
Also, there are test-specific configurations to apply: https://github.com/knative/eventing/tree/master/test/config.

You can also try to follow these steps:

1. `source test/e2e-common.sh`
2. `knative_setup`
3. `test_setup`
4. Run tests:
[code]

[2020-12-08 08:52] pierDipi opened #4637 "Fail in goroutine after TestBrokerAsMiddleware/Setup has completed"
**Describe the bug**

Upgrading dependencies brings a bug in `TestBrokerAsMiddleware`: https://github.com/knative/eventing/pull/4622

[code]

 **Expected behavior**

No failures after the test finishes.

 **To Reproduce**

Run TestBrokerAsMiddleware many times.

 **Knative release version**
`devel`

 **Additional context**

- https://github.com/knative/eventing/issues/4619
- https://github.com/kna

[2020-12-08 11:26] rhuss commented on #2003
/remove-lifecycle stale

I think this feature would still make sense ? // @n3wscott

If not, feel free to close the issue.

[2020-12-08 13:56] lionelvillard commented on #4630
I'll try to workaround the go test bug by adding a newline after

`Failed to get <blah> not found`

[2020-12-08 15:00] jcrossley3 commented on #4627
I don't have much experience with SSA either, but I believe it encapsulates much of manifestival's current behavior.

As I understand it, invoking SSA via client-go amounts to specifying `types.ApplyPatchType` in the call to the dynamic client's `Patch` function. But manifestival doesn't use `Patch`, only `Create` and `Update`. So that would be a significant change, and it may result in trading on

[2020-12-08 15:16] lionelvillard commented on #4627
Yup that's my assessment as well.

After chatting with @houshengbo it seems it's a quick fix to ignore `replicas` and the env vars at the operator level. It seems to be the right direction at the moment.

[2020-12-08 15:24] #4567 closed

[2020-12-08 15:24] #4572 closed

[2020-12-08 15:24] #4609 closed

[2020-12-08 15:24] #4630 closed

[2020-12-08 15:24] #4631 closed

[2020-12-08 17:03] #4629 closed

[2020-12-08 17:04] VIjayHP commented on #4626
It worked after applying above changes, Thanks @pierDipi

[2020-12-08 17:04] #4626 closed

[2020-12-08 18:33] antoineco opened #4638 "Leader election prevents scaling of IMC dispatcher, causes dropped events"
**Describe the bug**

When I scale IMC dispatchers, only **1 instance** seems to accept events for a given channel.

I have currently 5 replicas, send events to the channel's URL using Vegeta, and see the following report:

[code]

Only ~20% (100% / 5 replicas) of events are accepted.

With 1 replica, the success ratio 100% given a node with sufficient capacity.

 **Expected behavior**

Leader ele

[2020-12-08 18:34] antoineco commented on #4638
@mattmoor pointed me to the implementation in Kourier:  https://github.com/knative-sandbox/net-kourier/blob/105c052d845634e88462d76e2ae384a95ffaba62/pkg/reconciler/ingress/ingress.go#L81

/assign

[2020-12-08 19:49] #4599 closed

[2020-12-09 05:06] aavarghese commented on #4611
@vaikas thanks for taking a look at this issue. I did attempt to implement the solution you suggested (similar to IMC) in the other sibling issue for this ... in eventing-autoscaler-keda: https://github.com/knative-sandbox/eventing-autoscaler-keda/pull/54/files#diff-9f218382398a14e88cf9424a19a54422d028e7df5a80e6d107b8d33052897859R64-R68 and unfortunately, the deleteFunc in CRD pkg doesn't get call

[2020-12-09 16:04] pierDipi commented on #4455
It seems that a user encountered this issue (discussion https://knative.slack.com/archives/C9JP909F0/p1607013924079500), and it's not clear how to recover.

[2020-12-09 16:13] aslom commented on #4635
That also related to async processing: after Sink received event it may reply but continue running (and sending events).

Longer term that means that data contract for Sinks should be extendable and support both sync and async processing models.

[2020-12-09 17:45] ntzlqx opened #4641 "Kafka Channel Throughput Constrained to 5 msg per second"
**Describe the bug**
We are using  a default broker backed by a Kafka channel. We have 20+ subscribers to the channel and I am load testing only two of them.
The scenario is simple - I am generating thousands of events targeting subscriber A. Subscriber  A does some work (saves the event to the DB) and turns around and sends an event to subscriber B.
Subscribers A and B are ksvscs with respective

[2020-12-09 18:17] aslom commented on #4127
In what ways the reply is unsafe? Today it is ignored AFAK. First problem is to document that reponse events may be silently dropped? https://github.com/knative/eventing/issues/4635

[2020-12-09 18:18] aslom commented on #4635
Today for current version of Knative Eventing the behavior is that unexpected response is simply ignored.

[2020-12-09 18:26] lionelvillard commented on #4641
@ntzlqx about 5 rps sounds right. By default the Kafka dispatcher waits for the outgoing request to finish before processing the next message (strict ordering). Since you have 3 partitions and a processing time of 400ms, you should get 7.5 rps.

An easy fix is to increase the number of partitions.

What kind of guarantees are you expecting from Kafka, in terms of message ordering, duplicated messa

[2020-12-09 18:57] ntzlqx commented on #4641
for this scenario I am looking for best effort - ordering is not important - but I have event types that I need ordering - is the best way to achieve this to define additional brokers with respective Kafka channels (topics) and change the QoS per broker-channel-topic?

[2020-12-09 19:02] ntzlqx commented on #4641
also I am seeing that different type of events are triggering despite there is a large queue of the load tested event type...and I have a single topic - how is this achieved - the other events somehow get on different partition? how do you control the partition distribution of event types - topics feels like the right answer but what is the right abstraction to achieve this - topic per broker?

[2020-12-10 06:37] matzew commented on #3118
/remove-lifecycle stale

[2020-12-10 06:38] matzew commented on #3115
/remove-lifecycle stale

[2020-12-10 06:38] matzew commented on #3119
/remove-lifecycle stale

[2020-12-10 06:38] matzew commented on #3120
/remove-lifecycle stale

[2020-12-10 06:38] matzew commented on #3121
/remove-lifecycle stale

[2020-12-10 12:14] knative-test-reporter-robot opened #4643 "[flaky] test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1beta1/full-event_encoding_structured_version_1.0"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1beta1/full-event_encoding_structured_version_1.0
* **Repository name**: eventing

[2020-12-10 16:04] lionelvillard commented on #4626
FWIW `source test/e2e-common.sh` does not work on v0.19.2 since `$0` is bound to where bash is located.

[2020-12-10 17:14] antoineco opened #4645 "Broker ingresses and filters silently stop exposing metrics"
**Describe the bug**

At some point, broker ingresses and filters start showing the following error messages at `:9092/metrics` instead of showing metrics.

_Ingress_

[code]

I noticed this **always** happens with the following tags, although I'm currently sending a lot more event types than that:

[code]

_Filter_

[code]

This becomes obvious when looking at a Grafana dashboard that uses those

[2020-12-11 07:59] VIjayHP commented on #4626
@lionelvillard : I have used v.0.19.0 in this case

[2020-12-11 15:39] #4627 closed

[2020-12-11 20:50] ntzlqx commented on #4641
Happy to report that scaling the partitions to 1000 across 10 kafka brokers and 10 zookeepers with 10 channel dispatchers did the trick. Now the database is maxed out. @lionelvillard thank you very much.
Question:
1. Are there recommendations about the number of channel dispatchers, kafka brokers and zookeepers?
2. Number of topics/channels
Thank you very much for all your help!

[2020-12-11 23:21] antoineco commented on #4645
/assign

[2020-12-13 11:29] duglin commented on #2721
/remove-lifecycle stale

[2020-12-13 12:13] #4643 closed

[2020-12-14 06:24] pierDipi commented on #3861
/remove-lifecycle stale

[2020-12-14 16:53] antoineco commented on #4645
I tried updating `github.com/prometheus/client_golang` to `v1.8.0` today, just to ensure the problem was still happening with the latest version, and unfortunately it does.

I'll keep investigating.

![image](https://user-images.githubusercontent.com/3299086/102109808-bfadec00-3e34-11eb-89c3-e08bd8538531.png)

[2020-12-14 17:49] lberk commented on #4637
@n3wscott In case you're bored while on vacation :)

[2020-12-14 17:51] lionelvillard commented on #4641
@ntzlqx I opened an issue [there](https://github.com/knative-sandbox/eventing-kafka/issues/276) since it is Kafka-specific.

[2020-12-14 17:51] #4641 closed

[2020-12-14 17:56] lberk commented on #4634
Closing for now -- please feel free to reopen if the truncated line issue appears again

[2020-12-14 17:56] #4634 closed

[2020-12-14 18:03] lberk commented on #4501
@slinkydeveloper is this something you'd be interested in tackling?

[2020-12-14 18:05] lberk commented on #4515
@slinkydeveloper have you gotten answers to your questions above?  Should we open a new issue to track the different issue as you described?

[2020-12-14 21:02] xtreme-sameer-vohra commented on #4578
Hey @pierDipi, @grantr,
I can take a look at this as a `good first issue`

I am going to make the assumption that since this is for tracing, we want to respect the Open Telemetry Spec (aka use messaging.* conventions)
and want the **dispatcher**

<img width="1437" alt="Screen Shot 2020-12-14 at 2 56 51 PM" src="https://user-images.githubusercontent.com/1062564/102134889-bf095b80-3e1c-11eb-9da0-d2d

[2020-12-14 21:05] antoineco commented on #4645
I can see the issue occur by simply adding a few print statements in the the file below:

[code]

After about 3 min the first duplicate metric appeared. I got lucky because it took another 30 min for the second ingress replica to fail. Same metric.

The 2 cases are shown below:

[code]

[code]

I find the second log interesting because, contrary to the first log, the metric value is different when

[2020-12-15 08:01] slinkydeveloper commented on #4501
@pierDipi do you have in mind any particular action item for this one? Or do we just know that there is a problem, but we still don't know how to tackle it?

[2020-12-15 08:03] slinkydeveloper commented on #4515
I think we still didn't agreed on this issue, let me go through it at today eventing delivery wg

[2020-12-15 08:05] slinkydeveloper commented on #4057
/assign

[2020-12-15 08:18] slinkydeveloper commented on #4057
/unassign

[2020-12-15 08:25] slinkydeveloper commented on #4057
/assign

I'm going to adjust the spec

[2020-12-15 10:06] pierDipi commented on #4501
The first action item is to list possible solutions and their pros and cons.

[2020-12-15 10:08] slinkydeveloper commented on #4057
Spec: #4650
Implementation: #4652

[2020-12-15 11:56] antoineco commented on #4645
This issue doesn't ever occur with the channel dispatcher (to me). The only difference I see in the Broker's code in terms of stats reporting is this

https://github.com/knative/eventing/blob/1e06e5ce4c64d0f31e7f687fff942493e35fe060/pkg/mtbroker/ingress/stats_reporter.go#L144-L152

versus just

https://github.com/knative/eventing/blob/1e06e5ce4c64d0f31e7f687fff942493e35fe060/pkg/channel/stats_repo

[2020-12-15 12:34] pierDipi commented on #4578
Correct.

[2020-12-15 12:55] pierDipi commented on #4056
This is done in https://github.com/knative/eventing/pull/4126.
/close

[2020-12-15 12:55] #4056 closed

[2020-12-15 12:56] pierDipi commented on #4325
/assign

[2020-12-15 14:20] pierDipi commented on #4264
/assign

[2020-12-15 16:10] #4057 closed

[2020-12-15 17:15] antoineco commented on #4645
I'm trying to reproduce the issue via brute force at knative/pkg#1965 but haven't been successful so far.

[2020-12-15 19:21] #4542 closed

[2020-12-15 20:19] lance commented on #4635
I read the doc with interest, but have a related question that is not addressed in the document. When a Sink receives an event and replies `204 No Content`, it is possible that the reply is asynchronous and the Sink is continuing to do some work, although there is no indication this is the case because the network connection was released immediately with the 204 response. In scenarios like this, i

[2020-12-15 21:11] antoineco commented on #4645
After a sufficient amount of time, I sometimes get more than 2 occurrences of the same metric with different values. For example, this namespace has 2 ping sources (same schedule, different brokers), and for each ping source I see 3 occurrences of the error, with different counter values:

[code]

[2020-12-15 22:01] zhongduo commented on #4635
This is related to async reply support, which AFAIK is not supported yet in
knative eventing.

On Tue, Dec 15, 2020 at 3:19 PM Lance Ball <notifications@github.com> wrote:

[2020-12-16 09:42] pierDipi commented on #3681
/reopen

[2020-12-16 09:43] pierDipi commented on #3681
/remove-lifecycle stale

[2020-12-16 10:48] slinkydeveloper commented on #4501
TBH I have not enough knowledge of the issue, i'm not sure what pros and cons should I evaluate here :smile:

[2020-12-16 13:18] lionelvillard commented on #3662
/reopen
/remove-lifecycle stale

[2020-12-17 03:39] antoineco commented on #4645
I noticed something interesting regarding ping sources, since breakages _always_ happen with ping events. About every 10 minutes I see this happening:

[code]

I noticed the pingsource adapter Pod was replaced regularly:

[code]

I'm not sure how this influences metrics, but that's I'm not going the explore next.

[2020-12-17 12:12] #4381 closed

[2020-12-17 14:10] lionelvillard commented on #4645
Can you try to capture the adapter logs? Maybe the lease does not get renewed, or a crash?

How come you have two pods with the exact same name?

[2020-12-17 14:34] antoineco commented on #4645
@lionelvillard I don't, I used `get -w`.

I could but let's do that in another issue then (I think it's the operator scaling the adapter to 0).

Back to the topic, given the information above, do you have any idea why the ping source (and only this source apparently) could cause Prometheus metrics to become inconsistent? I've spent 3 entire says digging and writing tests to reproduce without succe

[2020-12-17 14:40] houshengbo opened #4669 "The number of replicas SHOULD not be specified in the released manifests"
**Describe the bug**
There are multiple deployments in eventing that have set a specific number of replicas, like sugar-controller, eventing-controller, pingsource-mt-adapter, eventing-webhook, imc-controller, imc-dispatcher, and mt-broker-controller. Each time reconciling loop runs for the operator, the number of replicas are set to 1. However, if the cluster automatically increases the number of

[2020-12-17 17:19] #4669 closed

[2020-12-17 22:18] zhongduo opened #4671 "The default webhook port does not work"
**Describe the bug**
Kubernets adds additional env vars for each service with name
*_SERVICE_PORT, *_SERVICE_HOST and *_PORT, this causes trouble
in the webhook as it is using WEBHOOK_PORT to configure the
webhook port. Disabling it will enable using a default port.

 **Expected behavior**
Without WEBHOOK_PORT env the default port should be used.

 **To Reproduce**
remove the WEBHOOK_PORT env var

[2020-12-17 22:18] zhongduo commented on #4671
/assign

[2020-12-19 01:47] #3777 closed

[2020-12-19 18:31] Uvindu96 opened #4674 "Reconcile failure in Pub/Sub topics"
**Describe the bug**
I'm trying out the knative eventing code sample https://github.com/meteatamel/knative-tutorial/blob/master/docs/image-processing-pipeline.md. In this I have to create a CloudStorageSource, but it gives me the following error.

 **Expected behavior**
I need to create a Cloud storage source that is going to connect my storage events

 **To Reproduce**
Steps to reproduce the beha

[2020-12-19 20:47] antoineco commented on #4645
Since I haven't been successful in my attempt to forcibly cause the issue in a test, I'll just dump a manifest with the entire list of ping sources running in the affected cluster (together with namespaces + brokers for convenience), this way anyone can try and observe what happens to the metrics endpoint of the Broker's ingress after some time.

[cluster-dump-issue-4645.yaml.gz](https://github.co

[2020-12-19 20:52] antoineco commented on #4674
This might be an issue for https://github.com/google/knative-gcp, since this source is not part of the Knative core.

[2020-12-21 16:27] #4674 closed

[2020-12-22 18:52] #4638 closed

[2020-12-23 01:52] #3819 closed

[2020-12-23 01:52] #3455 closed

[2020-12-23 12:12] knative-test-reporter-robot opened #4678 "[flaky] test/conformance.TestBrokerV1Beta1ControlPlane/MTChannelBasedBroker-eventing.knative.dev/v1beta1/Ready_Trigger_V1Beta1_(no_Broker)_set_Broker_and_includes_status.subscriber_Uri"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerV1Beta1ControlPlane/MTChannelBasedBroker-eventing.knative.dev/v1beta1/Ready_Trigger_V1Beta1_(no_Broker)_set_Broker_and_includes_status.subscriber_Uri
* **Repository name**: eventing

[2020-12-23 12:12] knative-test-reporter-robot opened #4679 "[flaky] test/conformance.TestBrokerV1Beta1ControlPlane"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerV1Beta1ControlPlane
* **Repository name**: eventing

[2020-12-24 02:01] #3305 closed

[2020-12-25 01:53] #3322 closed

[2020-12-25 01:53] #3130 closed

[2020-12-25 01:53] #3112 closed

[2020-12-25 01:53] #3048 closed

[2020-12-25 01:53] #2981 closed

[2020-12-25 01:53] #2879 closed

[2020-12-25 01:53] #2864 closed

[2020-12-25 01:53] #2796 closed

[2020-12-25 01:53] #2715 closed

[2020-12-25 01:53] #2718 closed

[2020-12-25 01:53] #2714 closed

[2020-12-25 01:53] #2690 closed

[2020-12-25 01:53] #2666 closed

[2020-12-25 01:53] #2652 closed

[2020-12-25 01:53] #2637 closed

[2020-12-25 01:53] #2629 closed

[2020-12-25 01:53] #2597 closed

[2020-12-25 01:53] #2594 closed

[2020-12-25 01:53] #2580 closed

[2020-12-25 01:53] #2581 closed

[2020-12-25 01:53] #2562 closed

[2020-12-25 01:53] #2551 closed

[2020-12-25 01:53] #2523 closed

[2020-12-25 01:54] #2493 closed

[2020-12-25 01:54] #2485 closed

[2020-12-25 01:54] #2472 closed

[2020-12-25 01:54] #2471 closed

[2020-12-25 01:54] #2438 closed

[2020-12-25 01:54] #2435 closed

[2020-12-25 01:54] #2416 closed

[2020-12-25 01:54] #2421 closed

[2020-12-25 01:54] #2409 closed

[2020-12-25 01:54] #2375 closed

[2020-12-25 01:54] #2365 closed

[2020-12-25 01:54] #2321 closed

[2020-12-25 01:54] #2311 closed

[2020-12-25 01:54] #2288 closed

[2020-12-25 01:54] #2287 closed

[2020-12-25 01:54] #2277 closed

[2020-12-25 01:54] #2275 closed

[2020-12-25 01:54] #2273 closed

[2020-12-25 01:54] #2248 closed

[2020-12-25 01:54] #2242 closed

[2020-12-25 01:54] #2239 closed

[2020-12-25 01:54] #2238 closed

[2020-12-25 01:54] #2188 closed

[2020-12-25 01:54] #2146 closed

[2020-12-25 01:54] #2138 closed

[2020-12-25 01:54] #2081 closed

[2020-12-25 10:16] iamejboy commented on #3883
I hope this issue covers passing of annotations on spec template onto pod level for all types of annotations customs or known.

[2020-12-25 12:11] #4678 closed

[2020-12-25 12:11] #4679 closed

[2020-12-25 12:11] knative-test-reporter-robot opened #4683 "[flaky] pkg/inmemorychannel.TestDispatcher_dispatch"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/inmemorychannel.TestDispatcher_dispatch
* **Repository name**: eventing

[2020-12-26 01:52] #2061 closed

[2020-12-26 01:52] #2060 closed

[2020-12-26 01:52] #2055 closed

[2020-12-26 02:20] duglin commented on #1396
/remove-lifecycle stale

[2020-12-27 01:57] #2019 closed

[2020-12-27 01:57] #2025 closed

[2020-12-27 01:58] #2011 closed

[2020-12-27 14:39] lionelvillard commented on #930
/remove-lifecycle stale

[2020-12-27 14:40] lionelvillard commented on #1226
/remove-lifecycle stale

[2020-12-27 14:40] lionelvillard commented on #1349
/remove-lifecycle stale

[2020-12-27 14:41] lionelvillard commented on #1515
/remove-lifecycle stale

[2020-12-27 14:41] lionelvillard commented on #1521
/remove-lifecycle stale

[2020-12-28 12:11] #4683 closed

[2020-12-29 08:51] slinkydeveloper commented on #2039
/reopen

[2020-12-29 12:12] knative-test-reporter-robot opened #4685 "[flaky] test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1beta1/min-event_encoding_binary_version_1.0"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1beta1/min-event_encoding_binary_version_1.0
* **Repository name**: eventing

[2020-12-31 02:07] #2933 closed

[2021-01-01 12:10] #4685 closed

[2021-01-03 12:11] knative-test-reporter-robot opened #4687 "[flaky] test/conformance.TestChannelDataPlaneFailure/InMemoryChannel-messaging.knative.dev/v1beta1/expecting-400"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneFailure/InMemoryChannel-messaging.knative.dev/v1beta1/expecting-400
* **Repository name**: eventing

[2021-01-03 12:11] knative-test-reporter-robot opened #4688 "[flaky] test/conformance.TestChannelDataPlaneFailure"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneFailure
* **Repository name**: eventing

[2021-01-03 20:46] lionelvillard commented on #2426
/remove-lifecycle stale

[2021-01-04 14:14] Shashankft9 commented on #1889
I have been getting the same issue in the v0.19.0 APIServerSource, I changed my `config-tracing` cm to work with jaeger as:
[code]
one ques: is `enable` key really required here? I saw that its mentioned in the docs but not really in the `_example` of the configmap itself?
the logs that I get:
[code]

additional ref: https://knative.slack.com/archives/C9JP909F0/p1609755646382100

[2021-01-04 16:39] lionelvillard commented on #4486
The `knative.dev/dependency` annotation solves only half of this problem: it marks a trigger ready only when the dependency is ready.

The second half is about filtering out events not coming from the dependency.

The example above shows how this can be done when the dependency is a source. All what we really need to make it less brittle is to let Knative managing the Trigger `filter` and the `ceO

[2021-01-04 23:02] xtreme-sameer-vohra commented on #4506
Hey @pierDipi
I'd look into doing this.
Would the assertions be along the same lines as [this](https://github.com/knative/eventing/blob/master/test/e2e/namespace_default_channel_test.go) ?

[2021-01-04 23:45] xtreme-sameer-vohra commented on #4506
Also noticed that the file's name `namespace_default_channel_test.go` is a bit confusing with `channel_defaulter_test.go`. The former is asserting the webhook sets the appropriate defaults and the latter is checking the resulting channel is functional.

Would `channel_defaults_webhook_test` be a better name for the former ?

[2021-01-05 11:19] pierDipi commented on #4506
Yes, the ConfigMap we use for this is [`config-br-defaults`](https://github.com/knative/eventing/blob/master/config/core/configmaps/default-broker.yaml).
The format is:

[code]

I agree, feel free to change it, thanks!

[2021-01-05 14:19] lionelvillard commented on #4486
Pinging the client team as they might have looked into this scenario. @rhuss @maximilien

[2021-01-05 15:58] xtreme-sameer-vohra commented on #4506
Thanks, after some digging I came across the [config schema](https://github.com/knative/eventing/blob/master/pkg/apis/config/defaults.go#L85-L96). Is there a better method to discover the config map schemas that doesn't require looking at the src code ?

[2021-01-05 16:21] matzew commented on #3883
I see the point of leaking information (see: https://github.com/knative/eventing/issues/4292#issuecomment-707234966)

@lionelvillard  what should we do with this?

[2021-01-05 16:54] lionelvillard commented on #3883
I'm fine leaking implementation details in a ConfigMap.

I still want to explore the idea around server-side apply managed fields. More on this hopefully soon.

[2021-01-05 23:25] cardil commented on #2665
/reopen
/remove-lifecycle stale

[2021-01-05 23:28] #4612 closed

[2021-01-06 09:08] vaikas opened #4696 "Disable unnecessary servicelinks."
**Describe the bug**
As discussed in https://github.com/knative/eventing/pull/4672 we should disable the servicelinks in all the components we use. Not only for the bug like described in #4671 but it also causes other issues.

 **Expected behavior**
Since we make no use of them, we should disable them in our components.

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative release versio

[2021-01-06 09:40] #4671 closed

[2021-01-06 12:11] #4688 closed

[2021-01-06 12:11] knative-test-reporter-robot opened #4697 "[flaky] test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_deprecated_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_deprecated_triggers
* **Repository name**: eventing

[2021-01-06 12:11] #4687 closed

[2021-01-06 20:29] #4614 closed

[2021-01-06 20:29] #4189 closed

[2021-01-07 09:14] slinkydeveloper commented on #3092
/reopen

[2021-01-07 12:11] knative-test-reporter-robot opened #4706 "[flaky] .Up"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Up
* **Repository name**: eventing

[2021-01-07 16:03] #4325 closed

[2021-01-07 17:10] #4264 closed

[2021-01-08 10:08] #4506 closed

[2021-01-08 10:59] Shashankft9 opened #4709 "APIServerSource prometheus metrics showing labels with Unknown values"
**Describe the bug**
When accessing metrics on port `9090` of the APServerSource RA pod, it shows the metrics which have certain labels with `unknown` values, example:
[code]

 **Expected behavior**
this metric should have shown name, namespace and resource as `test`, `serverless` and `v1.Event` (not sure about the resource) respectively.

 **To Reproduce**
[code]

sample-event:
[code]

 **Knative

[2021-01-08 12:03] vaikas opened #4710 "Panic in the TestBrokerNamespaceDefaulting."
**Describe the bug**

Panic in the TestBrokerNamespaceDefaulting.
https://github.com/knative/eventing/pull/4693/files#diff-d5ffd7ccedaa63b719888c0fdffa388fc8527e396063f47c86d982d8403290d0R179

[code]

 **Expected behavior**
No panics in tests.

 **To Reproduce**
Seen in:
https://github.com/knative/eventing/runs/1668070418?check_suite_focus=true

 **Knative release version**
HEAD

 **Additional con

[2021-01-08 12:04] vaikas commented on #4710
@xtreme-sameer-vohra mind taking a look?

[2021-01-08 12:12] #4697 closed

[2021-01-08 12:37] pierDipi commented on #4710
/assign

[2021-01-08 12:45] pierDipi commented on #4710
- https://github.com/knative/eventing/pull/4711
- https://github.com/knative/eventing/pull/4712

[2021-01-08 13:41] #4710 closed

[2021-01-08 15:13] xtreme-sameer-vohra commented on #4710
Whoops :(
Yep, I'll take a look at it.

[2021-01-08 15:31] xtreme-sameer-vohra commented on #4710
Thanks @pierDipi for getting both sets of tests.

[2021-01-08 16:18] pierDipi commented on #4710
Glad to help!

[2021-01-08 22:30] ethai commented on #4026
I have the same use case but this issue is closed can someone clarify the solution to this scenario.

[2021-01-09 12:13] #4527 closed

[2021-01-11 09:23] vaikas opened #4715 "Tests failing with panic when a broker being created already exists."
**Describe the bug**
As witnessed by several failing runs (one example here):
https://github.com/knative/eventing/runs/1677836817?check_suite_focus=true

Looks like we're trying to create a Broker that already exists and it fails:

[code]

A clear and concise description of what the bug is.

 **Expected behavior**
Tests to work consistently.

 **To Reproduce**
Steps to reproduce the behavior.

 **

[2021-01-11 10:16] pierDipi opened #4717 "Replace assert with require in test"
Makes sense to me, let's see if the test pass.

I think the reason why we see segfault more than properly failing with that error is that we use `assert.` at the line above, that doesn't fail the test immediately. Should it be replaced with `require.` instead?

_Originally posted by @slinkydeveloper in https://github.com/knative/eventing/issues/4716#issuecomment-757791794_

/kind cleanup
/good-fir

[2021-01-11 10:30] pierDipi commented on #4026
@ethai this feature isn't yet available and there is an open issue https://github.com/knative/eventing/issues/4633.

[2021-01-11 11:14] vaikas commented on #4715
fixed by #4716

[2021-01-11 11:14] #4715 closed

[2021-01-11 12:09] knative-test-reporter-robot opened #4718 "[flaky] 4.12% tests failed in repo eventing on 2021-01-11 08:52:43 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 4.12% tests failed in repo eventing on 2021-01-11 08:52:43 +0000 UTC
* **Repository name**: eventing

[2021-01-11 15:31] ethai commented on #4026
@pierDipi - somehow i was able to get my trigger working across namespace by explicitly setting it via the uri attribute and simply removed the ref section so it doesn't try to construct the end point service.

@maxiloEmmmm  can you update your trigger's subscriber section with the following
[code]

[2021-01-11 17:44] lberk commented on #4718
@vaikas looking at the continuous testing https://testgrid.knative.dev/eventing#continuous&sort-by-flakiness=10&width=20 it seems like this might be the result of a single bad test run -- feel free to close this if you agree (I dont think the bot auto-closes repo wide flake issues?)

[2021-01-11 17:51] xtreme-sameer-vohra commented on #4717
/assign @xtreme-sameer-vohra

[2021-01-11 19:04] lionelvillard commented on #4709
This is how it's done in the ping source adapter: https://github.com/knative/eventing/blob/master/pkg/adapter/mtping/runner.go#L96

The context should also be extended with the metric tags before sending the API server events there: https://github.com/knative/eventing/blob/master/pkg/adapter/apiserver/delegate.go

[2021-01-11 20:36] xtreme-sameer-vohra opened #4721 "Broker instantiation fails in e2e test"
**Describe the bug**
Running: ` SYSTEM_NAMESPACE=knative-eventing go test -v -tags=e2e -count=1 ./test/e2e -run ^TestBrokerNamespaceDefaulting$` succeeds as all the assertions are successful. However, looking at the output logs the broker failed to be `READY` due to
[code]
 **Expected behavior**
The broker should be instantiated and reach "READY" status
While the failure doesn't impact the test re

[2021-01-11 20:37] xtreme-sameer-vohra commented on #4721
/assign

[2021-01-12 07:56] vaikas commented on #4718
Yeah, sorry I mentioned in the slack I looked into this and thought that was the problem indeed. I just failed to update this issue.
/close

[2021-01-12 07:56] #4718 closed

[2021-01-12 07:57] vaikas commented on #4718
This was the issue that caused the other tests to fail:
https://github.com/knative/eventing/issues/4715

[2021-01-12 10:07] vaikas opened #4725 "e2e tests fail with pods not coming up."
**Describe the bug**

Here's one example
https://github.com/knative/eventing/pull/4724/checks?check_run_id=1687176531

Every now and then we observe a failure where the pods are supposedly not coming up even though they are. Working theory is that things get started, chaos duck kills something and somehow the list gets screwed because of this:

[code]

Yet, after collecting the system diagnostics

[2021-01-12 12:12] knative-test-reporter-robot opened #4726 "[flaky] test/conformance.TestChannelStatusSubscriber/Channel_has_required_status_subscriber_fields#01"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatusSubscriber/Channel_has_required_status_subscriber_fields#01
* **Repository name**: eventing

[2021-01-12 13:17] Shashankft9 commented on #4709
I am doing some changes in downstream, thanks for the leads. I will update if it works.

[2021-01-12 16:01] #4696 closed

[2021-01-12 16:06] slinkydeveloper commented on #3883
I wonder, given we're slowly moving to mt sources, where the user is the one that **owns** the data plane deployments (so she/he has the responsibility to them maintain up and running and configure them properly), does it really makes sense to invest time on this? Isn't there a risk here to end up reimplementing pod spec, or better "proxying" pod spec, making a whole more complex the source reconc

[2021-01-12 17:43] lionelvillard commented on #3883
Which user? The data plane deployment is still managed by controllers, even for MT sources.

[2021-01-12 17:49] #4721 closed

[2021-01-12 17:51] slinkydeveloper commented on #3883
@lionelvillard really? Then my bad, ignore the previous comment :smile:

[2021-01-12 17:52] slinkydeveloper opened #4728 "Cleanup the api packages to remove unused duck templates"
**Describe the bug**
In a previous PR https://github.com/knative/eventing/pull/4652 I've found out there are some types we don't need anymore between the templates, some of them probably doesn't even need to be versioned following the k8s convention.

 **Expected behavior**
Cleanup that code

/assign

[2021-01-12 21:48] lionelvillard commented on #3883
Design doc draft: https://docs.google.com/document/d/1VvlgoWP1_enKIaH9LBbGkLvwWUluLjPdtPezULCmzfE/edit?resourcekey=0-MFetW356DuH58TntTv3CjQ#

[2021-01-13 02:30] #4037 closed

[2021-01-13 02:31] #3157 closed

[2021-01-13 10:56] vaikas commented on #4637
Still failing.

I'll take a look

https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_eventing/4727/pull-knative-eventing-integration-tests/1349302296709697536

[code]
 

[2021-01-13 11:21] vaikas opened #4732 "If this only pertains to the ChannelBased Broker, then I think we should state that up front so it's clear which implementation details we're talking about. Otherwise the conditions, for example L40 should be matched with the spec."
If this only pertains to the ChannelBased Broker, then I think we should state that up front so it's clear which implementation details we're talking about. Otherwise the conditions, for example L40 should be matched with the spec.

_Originally posted by @vaikas in https://github.com/knative/eventing/pull/4594#discussion_r555568228_

[2021-01-13 11:40] vaikas commented on #4725
Failed again here:
https://github.com/knative/eventing/pull/4729/checks?check_run_id=1694274951

[code]

[2021-01-13 12:19] vaikas commented on #4528
Root cause #4726

[code]

[2021-01-13 12:19] vaikas commented on #4196
Root cause #4726

[code]

[2021-01-13 12:20] vaikas commented on #4726
[code]

[2021-01-13 12:21] vaikas commented on #4238
Root cause is the #4726 and it shows up as this test failing.

[code]

[2021-01-13 13:09] #4092 closed

[2021-01-13 14:08] lionelvillard commented on #3444
/remove-lifecycle stale

We still need to remove v1beta1.

[2021-01-13 14:27] #4732 closed

[2021-01-13 14:33] kthakar1990 opened #4736 "Enable metrics for sources in Knative-eventing using Prometheus"
## Expected Behavior
This is a request for adding feature for[ metrics-related](https://github.com/knative/eventing/blob/master/docs/metrics.md) tasks in importers (event_count - already present, event_processing_latencies - needed, retry_event_count- needed):
- ApiServerSource
- PingJobSource
- KafkaSource
- GitHubSource

[Persona](https://github.com/knative/eventing/blob/master/docs/personas.md)

[2021-01-13 14:35] kthakar1990 opened #4737 "Metrics for Importer Model"
## Expected Behavior
This is a request for adding feature for[ metrics-related](https://github.com/knative/eventing/blob/master/docs/metrics.md) tasks in importers (event_count - already present, event_processing_latencies, event_dispatch_latencies - needed):
- ApiServerSource
- PingJobSource
- KafkaSource
- GitHubSource

[Persona](https://github.com/knative/eventing/blob/master/docs/personas.md)

[2021-01-13 14:36] kthakar1990 opened #4738 "Metrics for importer model"
## Expected Behavior
This is a request for adding feature for[ metrics-related](https://github.com/knative/eventing/blob/master/docs/metrics.md) tasks in importers (event_count - already present, event_processing_latencies, event_dispatch_latencies - needed):
- ApiServerSource
- CronJobSource
- KafkaSource
- GitHubSource

[Persona](https://github.com/knative/eventing/blob/master/docs/personas.md)

[2021-01-13 15:35] #4469 closed

[2021-01-13 16:18] rhuss commented on #1940
/remove-lifecycle stale

[2021-01-13 16:21] kthakar1990 commented on #4738
duplicate issue

[2021-01-13 16:21] #4738 closed

[2021-01-13 19:24] #4717 closed

[2021-01-14 00:16] xtreme-sameer-vohra opened #4739 "Replace assert with require in e2e channel defaults webhook test"
**Problem**
use "require.Nil" instead of "assert.Equal" for test setup. The latter
notes a failure but doesn't fail immediately. This resulted in panics
in subsequent sections of the test and made it hard to pin point the
reason. "require.Nil" will output the error and fail immediately
making it easier to debug issues with test setup.

[Channel Defaults Webhook Test](https://github.com/knative/eve

[2021-01-14 00:19] xtreme-sameer-vohra commented on #4739
I'd appreciate some feedback regarding:
This can be a good first issue or the scope could be expanded to audit other e2e tests so that the usage is more clearer and consistent across the suite.

[2021-01-14 00:33] zhongduo commented on #4739
I think "not failing immediately" might be useful in unit tests due to table testing. But I cannot think of any reason for e2e test, so I would vote for failing early.

[2021-01-14 01:54] xtreme-sameer-vohra commented on #4739
Thanks and is it better do have an issue/test or issue/e2e suite? The former makes it more suitable for folks getting started and doable in tiny quick chunks but adds overhead of many issues/prs 🤷

[2021-01-14 07:47] rhuss commented on #4486
How can you check if a dependency is a "source" in the case the dependency is not available yet ? Inspecting the CRD for a 'sink' field ? or base it on naming conventions ?

[2021-01-14 07:49] rhuss commented on #4486
If this backend feature would be available, the client could offer an option `--source` to `kn trigger create`, which would add those annotations, using the same naming conventions for the value as we do for a `--sink` specification.

[2021-01-14 09:37] vaikas commented on #4725
Ok, so moar logs:
[code]

We're trying to fetch two different webhooks, one is found, other is not.

It fails because the first is not found there:
[code]

And the st8fw pod is found there to be running:
[code]

From timestamps, I'd guess chaos killed them, but I can't seem to find the logs for chaos. Will look into it more. But furthermore will look at the waiting code to see if there's something

[2021-01-14 09:40] vaikas commented on #4725
Yeah, so the step that does this is:
[code]

Which seems to turn into list calls where it is looking for specific pod names in the lists.

[2021-01-14 09:58] pierDipi commented on #4725
chaos is disabled on KinD tests.
https://github.com/knative/eventing/blob/d74dc25193d0724f55b2f9c9e14efb5e5b0b56af/.github/workflows/kind-e2e.yaml#L161-L162

Do we have more than one replica?

[2021-01-14 10:04] pierDipi commented on #4725
I'm testing on KinD eventing-kafka-broker and failures I see are never related to the eventing webhook not coming up.
However, since creating a Kafka cluster is slow and contains some dynamic resources to be created by the operator we added a `sleep` to prevent, "yes resources are ready but not all are there tho", so I guess eventually the webhook recovers.

[2021-01-14 11:40] #4725 closed

[2021-01-14 11:47] vaikas opened #4742 "TestBrokerChannelFlowV1Beta1BrokerV1 test failed to send events"
**Describe the bug**
Test failed to send an event.

https://github.com/knative/eventing/runs/1701285475?check_suite_focus=true

[code]

[code]

 **Expected behavior**
Tests not to fail

 **To Reproduce**
First time I've seen this. Just jotting this down in case we see it again.

 **Knative release version**
HEAD

 **Additional context**
Add any other context about the problem here such as proposed

[2021-01-14 12:33] vaikas commented on #4725
@pierDipi hehe, that explains the no logs and disproves my theory :)

[2021-01-14 12:40] #4578 closed

[2021-01-14 12:49] matzew opened #4743 "E2E tests dont work on kubernetes 1.20.0"
**Describe the bug**

On 1.20.0 (via KIND), the e2e tests are failing:
https://github.com/knative/eventing/pull/4729/checks?check_run_id=1694713248

 **Expected behavior**

Works...

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative release version**
0.20+

[2021-01-14 13:29] vaikas opened #4744 "TestBrokerTracing test fails"
**Describe the bug**

TestBrokerTracing failed to get a trace here:
https://github.com/mattmoor/mink/runs/1701843155?check_suite_focus=true#step:11:42

[code]

 **Expected behavior**
Tests to pass

 **To Reproduce**
First time I've seen this fail.

 **Knative release version**
HEAD

 **Additional context**
Add any other context about the problem here such as proposed priority

[2021-01-14 13:29] vaikas commented on #4744
@xtreme-sameer-vohra would you mind taking a look since you were playing with traces for IMC?

[2021-01-14 13:37] vaikas opened #4745 "TestChannelTracing fails"
**Describe the bug**

TestChannelTracing fails:
https://github.com/mattmoor/mink/runs/1701843508?check_suite_focus=true#step:11:43

[code]

 **Expected behavior**
Tests to pass

 **To Reproduce**
First time I've seen this

 **Knative release version**
HEAD

 **Additional context**
Add any other context about the problem here such as proposed priority

[2021-01-14 13:38] vaikas commented on #4745
@xtreme-sameer-vohra would you mind taking a look since you were recently working with the traces?

[2021-01-14 14:44] zhongduo commented on #4739
Not sure if I understand the concern, I would expect this to be in one PR.
Previously I made the webhook fix a PR because that's a bug fix and I don't
want to be delayed. But I do think all the changes can be in one PR.

On Wed, Jan 13, 2021 at 8:55 PM Sameer Vohra <notifications@github.com>
wrote:

[2021-01-14 14:50] mattmoor commented on #4745
I wonder if mink just needs to pull this in 🤔

[2021-01-14 14:50] mattmoor commented on #4745
https://github.com/knative/eventing/pull/4659

[2021-01-14 14:53] mattmoor commented on #4745
Should land in this morning's automated PR: https://github.com/knative-sandbox/knobots/runs/1702179030?check_suite_focus=true

[2021-01-14 17:41] xtreme-sameer-vohra commented on #4745
Looking at the failure, @mattmoor is right that the change doesn't appear to be propagated.

[2021-01-14 17:49] xtreme-sameer-vohra commented on #4745
Is this failing because Github Actions uses the HEAD for the test definitions and not the vendor'ed version of eventing ?

[2021-01-14 17:51] mattmoor commented on #4745
That's what I'm thinking.  Things passed in the latest update PR, so let's close until we see further issues.

[2021-01-14 17:51] #4745 closed

[2021-01-14 18:02] xtreme-sameer-vohra commented on #4744
Assuming this failed due to the same reason as #4745
And is now happy in the [latest run](https://github.com/mattmoor/mink/runs/1702903805?check_suite_focus=true)

@vaikas going to close this but feel free to re-open if I didn't address the problem.

[2021-01-14 18:03] xtreme-sameer-vohra commented on #4744
/close

[2021-01-14 18:07] xtreme-sameer-vohra commented on #4739
Sorry, I wasn't clear. What I was trying to get some guidance on was for a cross cutting change like this is it better to
- have one issue per test file eg. channel_defaults_webhook_test.go and then the PR can close it out
- have one issue for the entire suite e2e suite

Option 1 makes it good for new contributors as the changes are minor but there is the extra overhead of many issues & PRs to spa

[2021-01-14 18:28] zhongduo commented on #4739
IMO option 2 makes more sense.

On Thu, Jan 14, 2021 at 1:07 PM Sameer Vohra <notifications@github.com>
wrote:

[2021-01-15 08:15] vaikas commented on #4744
Failed again:
https://github.com/mattmoor/mink/runs/1706367255?check_suite_focus=true#step:11:22

[2021-01-15 09:04] Shashankft9 opened #4748 "Filtering k8s api events on the basis of name through APIServerSource"
**Problem**
Currently, k8s api events can only be filtered through label selectors and the namespace in which APIServerSource is deployed. It would be handy if this filtering could be done on the name of k8s api events as well - if the user wants.
Although this can be achieved by defining the sink to be a broker and then using a trigger to filter on the basis of event name, but in my use case, I a

[2021-01-15 09:40] vaikas commented on #4743
@matzew The logs don't really have much to go by. Normal tests + rekt / conformance tests work. I'm curious if it's simply taking longer to run the tests. Would you mind trying to bump the test timeout (other versions are hovering around 25 minutes (from a quick look), so mayhaps try with 40m to see if it's a timeout issue?

[2021-01-15 09:41] vaikas commented on #4743
A datapoint, we test rabbitmq with 1.20 and all seems good there:
https://github.com/knative-sandbox/eventing-rabbitmq/actions/runs/487498661

[2021-01-15 12:13] #4726 closed

[2021-01-15 15:43] xtreme-sameer-vohra commented on #4744
/assign

[2021-01-15 16:54] aavarghese commented on #3119
/assign

[2021-01-15 19:25] AlexandraRoatis commented on #4596
Fixed in #4594. The new file is [helper.md](https://github.com/knative/eventing/blob/master/docs/spec/helper.md).

[2021-01-15 19:25] #4596 closed

[2021-01-16 07:31] xtreme-sameer-vohra commented on #4744
Span references a parentID `8ac255f4ed4407e6`  that isn't present in the list of spans captured in the [latest failure](https://github.com/mattmoor/mink/runs/1706367255?check_suite_focus=true#step:11:22)
[code]
which then caused a failure [here](https://github.com/knative/eventing/blob/0f2f5671d73814f327353c019c5758bd87d1db6d/test/conformance/helpers/tracing/traces.go#L173)
The span above with tim

[2021-01-17 12:12] knative-test-reporter-robot opened #4751 "[flaky] test/e2e.TestChannelClusterDefaulter"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelClusterDefaulter
* **Repository name**: eventing

[2021-01-17 12:12] knative-test-reporter-robot opened #4752 "[flaky] test/e2e.TestChannelClusterDefaulter/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelClusterDefaulter/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2021-01-18 02:35] yuchunyu97 opened #4753 "Failure to renew lease results in the pingsource-mt-adapter POD restart"
**Describe the bug**

Due to a bug in the old version of client-go, renew the lease failed when the cluster response time was too long, causing the pingsource-mt-adapter POD reboot.

[code]

[code]

 **Expected behavior**

Even if the lease renew fails, POD will not restart.

 **To Reproduce**

Deploy PingSource in a slow cluster.

 **Knative release version**

v0.17.x

 **Additional context**

Yo

[2021-01-18 07:06] Shashankft9 commented on #1889
I tried solving the error same way @Harwayne did earlier, in here: https://github.com/knative/eventing/blob/master/pkg/adapter/v2/config.go#L187 I changed `e.Component` to `""` and it started working.
I can create a PR for this if this is indeed the solution.

[2021-01-18 12:11] #4528 closed

[2021-01-18 12:50] vaikas commented on #4752
Failed with unable to list the channels:
[code]

https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-eventing-continuous/1350425690289213440

[2021-01-18 12:51] vaikas commented on #4751
#4752 is the root cause for this failure.

[2021-01-18 12:51] #4751 closed

[2021-01-18 13:44] Shashankft9 commented on #4709
added the metric tags in this PR: https://github.com/knative/eventing/pull/4723#issuecomment-762191057

[2021-01-18 13:45] pierDipi opened #4754 "Namespace scoped channel doesn't work"
**Describe the bug**

[code]

 **Expected behavior**

It works.

 **To Reproduce**

1. Apply:

[code]
2. Send events to it

 **Knative release version**
`>= 0.17`

**Additional context**

- Reproducer as test https://github.com/knative-sandbox/eventing-kafka/pull/314

[2021-01-18 17:27] zhongduo commented on #4635
As discussed in the eventing WG meeting on 2021-01-13, to be compatible with the old spec, the sender can ignore event reply. https://github.com/knative/eventing/blob/master/docs/spec/data-plane.md#event-reply-contract

IMO this issue can be closed.

[2021-01-19 02:38] #3672 closed

[2021-01-19 10:48] matejvasek commented on #2880
What is status of this? Is it being actively developed?

[2021-01-19 13:48] lionelvillard commented on #2880
AFAIK, no one is working on this. One potential blocker is the lack of support for batched content mode in the CloudEvent SDK. @n3wscott @slinkydeveloper

[2021-01-19 14:04] vaikas commented on #4754
Hrm. We used to have finalizers on the IMC, but no longer require them, is this some left over cruft from that era?

[2021-01-19 14:16] slinkydeveloper commented on #2880
We're not actively working on this.

[2021-01-19 14:23] Shashankft9 opened #4757 "Cloudevent traces not available on jaeger for PingSource"
**Describe the bug**
Even though the PingSource is sending cloudevents to a sink every minute, I cant see the traces on jager UI.

 **Expected behavior**
The traces should come up with cloudevent tags.

 **To Reproduce**
 PingSource CR:
[code]

Edited `config-tracing` cm:
[code]

 **Knative release version**
v0.19.0

 **Additional context**
I can see APIServerSource traces on jaeger properly, a sc

[2021-01-19 15:06] kthakar1990 commented on #4737
duplicate issue!

[2021-01-19 15:06] #4737 closed

[2021-01-19 15:10] lionelvillard commented on #4736
/assign kthakar1990

[2021-01-19 15:18] lionelvillard commented on #4757
Pinging @slinkydeveloper and @pierDipi  as they recently worked on enabling tracing for other components.

[2021-01-19 15:52] dprotaso commented on #4752
cc https://github.com/knative/pkg/issues/1509

[2021-01-19 16:19] n3wscott commented on #2880
Batched mode still has all sorts of issues around what to do with the ack/nack on each inner event. we would have to define a runtime contract for knative on how we use batched processing in http.

[2021-01-19 16:44] slinkydeveloper commented on #4757
@lionelvillard mtping watches and properly configures the config-tracing CM?

[2021-01-19 20:45] travis-minke-sap opened #4759 "Enhance DLQ Messages With Dispatch Error Info"
**Problem**
Currently the `MessageDispatcherImpl` fowards failed messages (CloudEvents) to the dead-letter (DLQ) URL if specified.  The messages do not currently include any context as to what might have gone wrong in the dispatching of the event.  It would be helpful if the original event could be enhanced to include meta information about the dispatching error.

The need for this issue was raise

[2021-01-19 20:45] travis-minke-sap commented on #4759
/assign

[2021-01-19 20:55] lionelvillard commented on #4753
@yuchunyu97 thanks for (re)opening this issue! I'm not sure updating the client-go will fix it since the leader election in Knative relies on lease objects, not ConfigMap. Am I missing something?

Anyhow I agree this is less than ideal and we should find a fix for this.

[2021-01-20 02:40] #4050 closed

[2021-01-20 02:40] #4049 closed

[2021-01-20 09:03] vaikas opened #4762 "Downstream keda tests are failing."
**Describe the bug**

As seen (for example) here:
https://github.com/knative/eventing/pull/4761/checks?check_run_id=1732166469

[code]

 **Expected behavior**
Downstream tests not to fail.

 **To Reproduce**
Look at recent actions after the upgrade to 0.20 release and it started happening. @slinkydeveloper and I believe this to be related to the unsuccessful attempt to release awssqs to 0.20 and t

[2021-01-20 09:10] slinkydeveloper commented on #4762
My understanding of this issue is that there is some cache here that cached the wrong revision of awssqs, because i had the same exact problem on my local machine after removing and readding the new tag. Wiping the gomod cache fixed it.

Just tried locally:

[code]

And it worked.

[2021-01-20 12:13] #4238 closed

[2021-01-20 12:13] #4752 closed

[2021-01-20 15:01] aslom commented on #4635
LGTM

/close

[2021-01-20 15:02] #4635 closed

[2021-01-20 15:40] #4539 closed

[2021-01-20 18:27] grantr commented on #4706
Looks like a GKE flake:
`zone: 'us-central1'>] finished with error: All cluster resources were brought up, but: component "kube-apiserver" from endpoint "gke-b3016115aa5f48889b35-ffb5" is unhealthy.`

[2021-01-21 11:47] skonto commented on #3126
We discussed this a bit yesterday (meeting minutes [here](https://docs.google.com/document/d/1AUn8lw_V4PpEbbARmyMzN2ws8RkBzbN3ffao676YVCA/edit#)), I will take a look by porting api server source to the new model and then we can discuss the next steps.

[2021-01-21 11:53] devguyio commented on #3126
@skonto that sounds great, can you please create an issue for that ?

[2021-01-21 12:13] knative-test-reporter-robot opened #4767 "[flaky] test/upgrade.TestEventingUpgrades/PreUpgradeTests/EventingPreUpgradeTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestEventingUpgrades/PreUpgradeTests/EventingPreUpgradeTest
* **Repository name**: eventing

[2021-01-21 12:13] knative-test-reporter-robot opened #4768 "[flaky] test/upgrade.TestEventingUpgrades/PreUpgradeTests/EventingPreUpgradeTest/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestEventingUpgrades/PreUpgradeTests/EventingPreUpgradeTest/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2021-01-21 12:34] skonto commented on #3126
Sure @devguyio

[2021-01-21 13:06] vaikas commented on #4762
@grantr since you're oncall this week, would you mind digging into this?

[2021-01-21 14:53] skonto opened #4769 "[Spike] Migrate API Server Source to the Open Telemetry lib"
**Problem**
As discussed [here](https://github.com/knative/eventing/issues/3126#issuecomment-764589246) and as a sub-task of https://github.com/knative/eventing/issues/3126 we should start exploring migrating to the new lib.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Affects everyone consuming Knative metrics (ops etc)

**Exit Criteria**
Check if migration is

[2021-01-21 14:59] lionelvillard commented on #4769
@kthakar1990 FYI

[2021-01-22 12:14] knative-test-reporter-robot opened #4772 "[flaky] test/upgrade.TestEventingUpgrades/PostUpgradeTests/EventingPostUpgradeTest/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestEventingUpgrades/PostUpgradeTests/EventingPostUpgradeTest/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2021-01-22 12:14] knative-test-reporter-robot opened #4773 "[flaky] test/upgrade.TestEventingUpgrades/InstallingBase/EventingLatestRelease"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestEventingUpgrades/InstallingBase/EventingLatestRelease
* **Repository name**: eventing

[2021-01-22 12:15] knative-test-reporter-robot opened #4774 "[flaky] test/upgrade.TestEventingUpgrades/ContinualTests/SetupEventingContinualTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestEventingUpgrades/ContinualTests/SetupEventingContinualTest
* **Repository name**: eventing

[2021-01-22 12:15] knative-test-reporter-robot opened #4775 "[flaky] test/upgrade.TestEventingUpgrades/UpgradeWith/EventingGitHead"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestEventingUpgrades/UpgradeWith/EventingGitHead
* **Repository name**: eventing

[2021-01-22 12:15] knative-test-reporter-robot opened #4776 "[flaky] test/upgrade.TestEventingUpgrades/PostDowngradeTests/EventingPostDowngradeTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestEventingUpgrades/PostDowngradeTests/EventingPostDowngradeTest
* **Repository name**: eventing

[2021-01-22 12:15] #4706 closed

[2021-01-22 12:15] knative-test-reporter-robot opened #4777 "[flaky] test/upgrade.TestEventingUpgrades/PostUpgradeTests/EventingPostUpgradeTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestEventingUpgrades/PostUpgradeTests/EventingPostUpgradeTest
* **Repository name**: eventing

[2021-01-22 12:15] knative-test-reporter-robot opened #4778 "[flaky] test/upgrade.TestEventingUpgrades/VerifyContinualTests/EventingContinualTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestEventingUpgrades/VerifyContinualTests/EventingContinualTest
* **Repository name**: eventing

[2021-01-22 17:45] skonto commented on #4623
I think this requires some form of state management as in traditional streaming systems where you emit events based on some conditions in general or CEP implementations.

[2021-01-22 21:17] aavarghese commented on #3118
/assign

[2021-01-23 12:12] knative-test-reporter-robot opened #4781 "[flaky] test/upgrade.TestEventingUpgrades/PostDowngradeTests/EventingPostDowngradeTest/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestEventingUpgrades/PostDowngradeTests/EventingPostDowngradeTest/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2021-01-23 12:12] knative-test-reporter-robot opened #4782 "[flaky] test/upgrade.TestEventingUpgrades/DowngradeWith/EventingLatestRelease"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestEventingUpgrades/DowngradeWith/EventingLatestRelease
* **Repository name**: eventing

[2021-01-23 21:16] yasharne opened #4783 "Eventing namespace images cannot be pulled: Client.Timeout exceeded while awaiting headers"
**Describe the bug**
I'm trying the documents on version 0.20 for the Eventing component, I'm using the in-memory messaging layer and  the MT-Channel-Based broker layer, in the fifth step, for the running pods I got this output:
[code]
If I describe one of the pods, I get this output:
[code]

So all of the pods have the same problem as the cannot pull the images  from the `https://gcr.io/v2/`, app

[2021-01-25 02:40] #1920 closed

[2021-01-25 02:40] #1905 closed

[2021-01-25 02:40] #1833 closed

[2021-01-25 02:40] #1823 closed

[2021-01-25 02:40] #1819 closed

[2021-01-25 02:40] #1820 closed

[2021-01-25 02:40] #1818 closed

[2021-01-25 02:40] #1817 closed

[2021-01-25 02:40] #1815 closed

[2021-01-25 02:40] #1769 closed

[2021-01-25 02:40] #1768 closed

[2021-01-25 02:40] #1767 closed

[2021-01-25 02:40] #1764 closed

[2021-01-25 02:40] #1762 closed

[2021-01-25 02:40] #1755 closed

[2021-01-25 02:40] #1693 closed

[2021-01-25 02:40] #1678 closed

[2021-01-25 02:40] #1645 closed

[2021-01-25 02:40] #1660 closed

[2021-01-25 02:40] #1591 closed

[2021-01-25 02:40] #1527 closed

[2021-01-25 02:40] #1516 closed

[2021-01-25 02:40] #1449 closed

[2021-01-25 02:40] #1437 closed

[2021-01-25 02:40] #1417 closed

[2021-01-25 02:40] #1211 closed

[2021-01-25 02:40] #1018 closed

[2021-01-25 02:40] #1202 closed

[2021-01-25 02:40] #909 closed

[2021-01-25 02:40] #816 closed

[2021-01-25 07:44] slinkydeveloper commented on #4623
The workflow spec assumes there is a workflow engine behind the hood with state management that will be able to handle correlations, joins, etc... Eventing doesn't have any stateful streaming operation, so implementing this feature requires to create some "building blocks" first.

[2021-01-25 10:35] pierDipi commented on #4783
I can pull images, can you try to follow solutions in this issue https://github.com/kubernetes/minikube/issues/3799?

[2021-01-25 12:10] #4775 closed

[2021-01-25 12:10] #4776 closed

[2021-01-25 12:10] #4767 closed

[2021-01-25 12:10] #4772 closed

[2021-01-25 12:10] #4781 closed

[2021-01-25 12:10] #4782 closed

[2021-01-25 12:10] #4774 closed

[2021-01-25 12:10] #4773 closed

[2021-01-25 12:10] #4768 closed

[2021-01-25 12:10] #4777 closed

[2021-01-25 16:26] yasharne commented on #4783
@pierDipi Thanks for your help, reinstalling minikube fixed the problem

[2021-01-25 16:26] #4783 closed

[2021-01-25 17:38] n3wscott commented on #3993
The downstream test will do this job. We already do downstream tests for out of org for things like knative-gcp repo and things in knative-sandbox.

/close

[2021-01-25 17:38] #3993 closed

[2021-01-25 17:40] n3wscott commented on #4446
This seems like it is WAI. The contract says to look at the addressable url.

ok to close @lionelvillard ?

[2021-01-25 17:49] lberk commented on #4753
related: #4051

[2021-01-25 17:50] lberk commented on #4753
@yuchunyu97 just as an unsure observer, could you perhaps elaborate on why you think that's the fix? Thanks!

[2021-01-25 17:55] lberk commented on #4748
Could you give an explicit example that you'd like to filter this way?  It would help further clarify the usecase here, thanks!

[2021-01-25 17:56] lionelvillard commented on #4446
@duglin Is this something we need?

[2021-01-25 17:56] lberk commented on #4744
@xtreme-sameer-vohra looking at the related updates, is this something that might be solved/able to close?

[2021-01-25 17:58] lberk commented on #4743
The e2e test run that was linked seems to have succeeded.  Are you still seeing these failures?

[2021-01-25 18:06] lberk commented on #4739
@xtreme-sameer-vohra it might be worth adding a checklist of all the places we need to make this replacement to this issue, and check them off as they're fixed.  Thanks!

[2021-01-25 18:10] lberk commented on #4728
@slinkydeveloper just looking at the age of the issue, is this something you're actively working on? (trying to determine the best milestone to put this in)

[2021-01-25 18:12] lberk commented on #4728
also, just a quick word of caution (via Scott), lets be careful with what we remove considering the number of places eventing is vendor'd (both what we know, knative-sandbox) as well as others we don't know about.

[2021-01-25 19:22] skonto commented on #4769
Apiserver source is recording metrics in three separate places one is [memstats ](https://github.com/knative/eventing/blob/86bc2391952af6f0e7d3c9aec5bde85f772edde1/pkg/adapter/v2/main.go#L119)as usual eg.

[code]
the other is the source specific metrics [here](https://github.com/knative/eventing/blob/86bc2391952af6f0e7d3c9aec5bde85f772edde1/pkg/adapter/v2/main.go#L151) eg.

[code]

and there are m

[2021-01-25 19:48] duglin commented on #4446
@lionelvillard and I chatted off-line and as of now we don't think we need this since the message in question is already in the cluster - since the URL is cluster local. If the message was being sent from outside of the cluster, directly to the broker, then we'd want the user's NS in the URL.

Having said that, it might be nice from a UX perspective to not expose the internal URL to the user - but

[2021-01-25 20:04] slinkydeveloper commented on #4728
I already fixed that, but i forgot to link the PR: https://github.com/knative/eventing/pull/4749

/close

[2021-01-25 20:04] #4728 closed

[2021-01-25 20:44] n3wscott commented on #4398
We should still do this.

[2021-01-25 21:22] xtreme-sameer-vohra commented on #4739
done. Since this hasn't been picked up yet, I'll take it.

/assign

[2021-01-26 02:06] yuchunyu97 commented on #4753
@lionelvillard Sorry, I misunderstand it. Has nothing to do with configmap.

But, If renew lease timeout, the pod will indeed restart. As this log says:

[code]

The last line: `"msg":"Shutting down workers"`

If the pod stop leading, shoule it be stopped? Because the current pingsource has only one pod.

Sorry I‘m not very clear about the logic of this piece. @lberk What do you think?

[2021-01-26 02:33] xtreme-sameer-vohra commented on #4744
Hey @lberk,
Unfortunately this was a flake and we don't have a reproducible failure case. It is possible bumping zipkin https://github.com/knative/eventing/pull/4755 solved the issue 🤷
I took a look through [MinKinD Upstream E2Es tests](https://github.com/mattmoor/mink/actions?query=workflow%3A%22MinKinD+Upstream+E2Es%22) and don't see the issue in the last ~5 days.

@vaikas do you reckon we can r

[2021-01-26 02:34] xtreme-sameer-vohra commented on #4744
/close

[2021-01-26 02:34] #4744 closed

[2021-01-26 07:50] vaikas commented on #4743
It was indeed the timeout was too short as I suspected. It was increased here:
https://github.com/knative/eventing/pull/4729

[2021-01-26 07:50] #4743 closed

[2021-01-26 08:21] Shashankft9 commented on #4748
Sure, something like this:
[code]

[2021-01-26 08:30] vaikas commented on #4398
Yeah, absolutely, but if I read the upstream correctly, we need 1.20 of the apimachinery to get this.

[2021-01-26 08:43] vaikas opened #4791 "Kind e2e tests seem to flake during install with webhook error."
**Describe the bug**

Last couple of days seen a few failures to install the eventing component (e2e tests are not failing, but install of eventing is):

Couple of examples are here:
https://github.com/knative/eventing/runs/1763499662?check_suite_focus=true
https://github.com/knative/eventing/runs/1763499632?check_suite_focus=true

[code]

A clear and concise description of what the bug is.

 **Ex

[2021-01-26 11:09] #4739 closed

[2021-01-26 12:10] #4196 closed

[2021-01-26 12:10] #4585 closed

[2021-01-26 19:37] lionelvillard commented on #4757
@Shashankft9 do you see this error in the PingSource adapter logs: `Error setting up trace publishing` ?