[2020-03-07 00:24] duglin opened #2721 "block the use of external URLs from eventing Destinations"
**Problem**

We're running Knative in a managed environment where the eventing infrastructure is something that will be hidden from the user and is really there to drive traffic to the hosted KnServices. In this environment, if we allow the user to specify external URLs for the destinations of the Eventing components (e.g. Sink in an adapter) then we'd get into a situation where people can setup t

[2020-03-07 15:19] duglin opened #2728 "HA'ing the eventing user-created components"
This issue is more about just starting a discussion around how we can HA the various components that users can create. For example, how do we HA-enable Brokers, or Pull-style event adapters?

Since the various types of components might require different solutions, I suspect the result of this issue might be:
1) a set of documented best practices and guidance for people who create new versions of t

[2020-03-08 12:03] #2712 closed

[2020-03-08 22:35] guimou commented on #2643
FYI, it does not happen only with a CronJob event source. I have a KafkaSource event defined, with a Service sink. It works perfectly well, but after 25 minutes (at least I have exactly the same behavior with two sources of the same kind, not created at the same time) it begins throwing this error every second.
[code]
Ref:
[code]

[2020-03-09 09:04] #2706 closed

[2020-03-09 12:03] knative-test-reporter-robot opened #2729 "[flaky] test/e2e.TestBrokerDeadLetterSink/TestBrokerDeadLetterSink-{Channel_messaging.knative.dev/v1alpha1}"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerDeadLetterSink/TestBrokerDeadLetterSink-{Channel_messaging.knative.dev/v1alpha1}
* **Repository name**: eventing

[2020-03-09 12:03] knative-test-reporter-robot opened #2730 "[flaky] test/e2e.TestBrokerDeadLetterSink"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerDeadLetterSink
* **Repository name**: eventing

[2020-03-09 12:03] knative-test-reporter-robot opened #2731 "TestBrokerDeadLetterSink/TestBrokerDeadLetterSink is flaky"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerDeadLetterSink/TestBrokerDeadLetterSink-{InMemoryChannel_messaging.knative.dev/v1alpha1}
* **Repository name**: eventing

[2020-03-09 12:03] knative-test-reporter-robot opened #2732 "[flaky] test/e2e.TestSingleBinaryEventForChannel/TestSingleBinaryEventForChannel-{InMemoryChannel_messaging.knative.dev/v1alpha1}"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleBinaryEventForChannel/TestSingleBinaryEventForChannel-{InMemoryChannel_messaging.knative.dev/v1alpha1}
* **Repository name**: eventing

[2020-03-09 12:03] knative-test-reporter-robot opened #2733 "[flaky] test/e2e.TestSingleBinaryEventForChannel"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleBinaryEventForChannel
* **Repository name**: eventing

[2020-03-09 14:13] lionelvillard commented on #2728
All components using either the webhook shared main or the controller (injection) shared main should now support HA.

The receive adapters are not HA yet.

For the record, here the HA design document: https://docs.google.com/document/d/1zHtVjVmzivO2PEhZkpqNo-M9cPnmfvBWMYzP8ehVXtM/edit

The docs is WIP: https://github.com/knative/docs/pull/2279

[2020-03-09 15:43] akashrv commented on #2728
Notes from milestone planning: Let's discuss this issue and figure out detailed work needed. Not prioritizing in the milestone as there is no clear exit criteria

[2020-03-09 15:46] akashrv commented on #2671
Lets plan for 0.15

[2020-03-09 15:52] grantr commented on #2497
Lionel are you able to start a draft of this document for 0.14?

[2020-03-09 15:53] grantr commented on #2274
@n3wscott Seems like this is done. Can this issue be closed?

[2020-03-09 15:54] grantr commented on #2179
Maybe this should be considered with #2500

[2020-03-09 15:55] grantr commented on #2179
@lionelvillard is this still relevant since the ApiServerSource API rework discussion?

[2020-03-09 16:03] lionelvillard commented on #2179
Not relevant anymore since the PingSource rework (`resources` has been removed).

[2020-03-09 16:03] #2179 closed

[2020-03-09 16:04] lionelvillard commented on #2497
/assign

[2020-03-09 16:17] akashrv commented on #2609
Milestone planning notes:

1. Decouple the bug from codegen. Make sure that the bug is fixed and not postponed forever due to lack of auto-generation
2. Not high priority for 0.14

[2020-03-09 16:21] grantr commented on #2163
Remaining renames from the list above:

Resource | Condition Origin Name | Condition Updated Name
-- | -- | --
subscription | Resolved | ReferenceResolved
trigger | Subcribered | SubscriptionReady

[2020-03-09 16:27] grantr opened #2735 "Rename Trigger condition Subscribed to SubscriptionReady"
**Describe the bug**
The Subscribed condition name is confusing. From #2163:

 **Expected behavior**
The condition name is clearly related to the Subscription object under the trigger (if one exists).

 **To Reproduce**
https://github.com/knative/eventing/blob/master/pkg/apis/eventing/v1beta1/trigger_lifecycle.go#L34

 **Knative release version**
0.13.0

 **Additional context**
 As recommended by

[2020-03-09 16:39] grantr opened #2736 "Rename Subscription condition Resolved to ReferenceResolved"
**Describe the bug**
The Resolved condition name is confusing. What has been resolved? As a user I don't understand what this is telling me just from the condition name.

Note that the name of the constant in the Go type is `SubscriptionConditionReferencesResolved`.

 **Expected behavior**
The condition name is clearly related to the Subscription's reference and is of the form "NounVerb" indicatin

[2020-03-09 16:43] grantr commented on #2163
I created #2735 and #2736 to track remaining work. I think this issue can be closed with a general recommendation:

**Condition names should indicate what child object or field they refer to and the status of that child object or field. The recommended format is `<Child or Field><Status Verb>`. A condition that is only a status implicitly refers to the entire object.**

[2020-03-09 16:43] #2163 closed

[2020-03-09 19:08] lionelvillard opened #2738 "Add e2e HA tests"
**Problem**
HA is currently not being e2e tested.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

e2e tests covering HA for all eventing components supporting HA

**Time Estimate (optional):**
How many developer-days do you thin

[2020-03-09 19:09] lionelvillard commented on #2738
@pmorie do you have an example showing how to test HA?

[2020-03-09 23:11] nachocano commented on #2499
Forgot to close this old issue.
No renaming will take place. The previous majority turned around, and most folks didn't find this useful.
Closing the issue.

[2020-03-09 23:11] #2499 closed

[2020-03-09 23:29] grantr commented on #2721
@duglin A cluster operator could implement this (and other optional validations) as an additional ValidatingWebhookConfiguration and webhook pod. Would that be sufficient?

[2020-03-09 23:35] nachocano opened #2739 "Bring back ContainerSource?"
**Problem**
In 0.12 we deprecated `ContainerSource` in favor of `SinkBinding`. Once 0.13 was cut, we removed `ContainerSource` [#2693](https://github.com/knative/eventing/pull/2693), according to our deprecation guidelines.
Thanks to @matzew that started the [migration plan](https://github.com/knative/docs/pull/2275), I think we can now easily compare both solutions, and revisit whether we made th

[2020-03-10 00:06] duglin commented on #2721
@grantr as a last resort yes we may have to do something like that, but I’d prefer if there was a more standard option available so that any one who needed this restriction didn’t have to reinvent the wheel.

[2020-03-10 03:42] nachocano commented on #2484
/assign so that I don't miss this... I got us into this mess long time back, I will fix it :)

[2020-03-10 05:03] mikehelmick opened #2740 "Trigger subscriptions not updated on upgrade"
**Describe the bug**

On upgrade from 0.12 to 0.13, using a channel based broker config.

Triggers seem to be correctly upgraded from v1alpha1 to v1beta1, but the subscriptions on the underlying channel do not get upgraded correctly, and end up with invalid spec because of it.

 **Expected behavior**

User facing model objects should continue to work on cluster upgrade.

 **To Reproduce**

Using 0

[2020-03-10 12:04] knative-test-reporter-robot opened #2741 "[flaky] test/e2e.TestSinkBindingV1Alpha2CronJob"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSinkBindingV1Alpha2CronJob
* **Repository name**: eventing

[2020-03-10 12:04] knative-test-reporter-robot opened #2742 "[flaky] pkg/channel/fanout.TestFanoutHandler_ServeHTTP/fanout_times_out"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/channel/fanout.TestFanoutHandler_ServeHTTP/fanout_times_out
* **Repository name**: eventing

[2020-03-10 15:39] mikehelmick commented on #2740
/cc @vaikas @grantr

[2020-03-10 16:02] liu-cong commented on #2497
Maybe you can clarify the `resource-scope` but I don't get the value to make it a separate scope. It's just a special case of `namespace-scoped`, and a `resource-scoped` component may evolve to `namespace-scoped`.  And also it's pretty common that a component need to touch multiple resources such as configmaps, secrets, etc. What's the motivation to make `resource-scope` stand out?

[2020-03-10 16:13] lionelvillard commented on #2497
They are many components today that are resource-scoped so at least we should mention it.

I'm not so sure that all components will evolve to be namespace-scoped. Like the APIServerSource requires special RBAC rules per resource.

[2020-03-10 16:31] liu-cong commented on #2497
Yeah I agree there is such a case. I am just trying to argue if we should make it an explicit user facing concept that forces the users to understand it.

Under a multi-tenancy context people mostly talk about cluster vs namesapce scoped. Adding a new scope adds complexity for user to understand. We can mention it maybe in docs but I will try not to make it an explicit scope, unless there are use

[2020-03-10 17:01] lionelvillard commented on #2497
yes agree. It all boils down to whether there is a compelling use case.

One idea is channel prioritization where the traffic is first send to a resource-scoped channel and then to the ns/cluster scoped channels...

[2020-03-10 18:47] grantr opened #2745 "Release 0.13.2 created with invalid image URLs"
**Describe the bug**
Release 0.13.2 contains image URLs that look like `knative.dev/eventing/cmd/...` because ko didn't process them into real image URLs. These image URLs don't actually point to images, so applying the yaml will cause all pods to go into image pull backoff.

Point releases use the `hack/release.sh` from master which was updated to use `ko --strict`. The strict mode ignores any pa

[2020-03-10 18:49] mattmoor commented on #2745
Link to the root issue: https://github.com/knative/test-infra/issues/1262

[2020-03-10 18:52] lionelvillard commented on #2731
Failed due to:

`FailedMount MountVolume.SetUp failed for volume "eventing-broker-filter-token-bwbc9" : couldn't propagate object cache: timed out waiting for the condition `

It seems this kind of errors happens when the k8s API server is overloaded. See https://github.com/kubernetes/kubernetes/issues/70044

I'd be nice to start collecting API server metrics, like the number of requests, for each

[2020-03-10 18:53] mattmoor commented on #2745
@grantr if getting this out is time critical, then my suggestion would be that we drop the `--strict` at HEAD and manually rerun the release.  If it can wait for a fix from @chizhg (assuming we can resolve in the next day or so?) then I have a mild preference for the global fix.

Happy to help cut/review PRs here to unblock things based on needs, just lmk how I can help.

[2020-03-10 19:01] grantr commented on #2745
Here's the diff: https://github.com/knative/eventing/compare/v0.13.1...v0.13.2

@pmorie how critical is this backport?

[2020-03-10 19:13] grantr commented on #2745
I updated the release note for 0.13.2 with a warning not to install the release. I can also delete the assets from the release to effectively yank it. Let me know if we want to do that.

[2020-03-10 19:27] liu-cong commented on #2718
Another example is broker. As a user I probably only care about triggers and I don't want to manage the broker deployment.

If we start to manage infra on behalf of end users, we need more thoughts on isolation, observability, etc.  In addition to user namespace vs. system namespace, there could be a mode in between where we create a "shadow" user namespace (managed by the system) which hosts the

[2020-03-10 19:37] grantr commented on #2718
I like the idea of having separate namespaces for shared control and data plane components. That makes it easier to set quotas on data plane services that can scale aggressively without affecting non-scaling controllers. But the more namespaces we create, the more likely we are to need [Hierarchical Namespace Controller](https://github.com/kubernetes-sigs/multi-tenancy/tree/master/incubator/hnc) t

[2020-03-10 20:05] grantr commented on #2740
Broker yaml as provided by @mikehelmick:

[code]

[2020-03-10 20:15] grantr commented on #2740
Is the `default-kne-trigger` InMemoryChannel a v1alpha1 or a v1beta1? If the channel doesn't exist anymore, we can probably assume it was the same as the one used by `config-br-default-channel`, [which still uses `v1alpha1`](https://github.com/knative/eventing/blob/master/config/core/configmaps/default-imc.yaml).

The error on the Subscription looks like it's the Subscription controller failing to

[2020-03-10 21:21] mattmoor commented on #2484
So I think there's an interesting use case that we should be sensitive to: Can I write a source without any Knative bits pre-installed in my cluster?

We started in a good place, and the current scheme regresses that in the sense the Source writers are expected to create EventType resources, which means they need the EventType CRD pre-installed 😬

Our goal state should be a model for source author

[2020-03-10 21:54] markfisher commented on #2484
+1 @mattmoor

I would think any workload that emits CloudEvents should be a valid source. Likewise, any workload should be able to access a registry directly to look up CloudEvent schemas. Neither of those should necessarily require anything to be installed in the cluster.

CRDs and the reconcilers that watch/manage them can then provide support for higher-level experiences, such as injecting conf

[2020-03-10 22:42] vaikas commented on #2484
curl is a valid source, you post to something :) I totally agree with the sentiment however, and as we have talked about in the past, I think exposing the configured event types in the status and decouple who injects them for other consumption would alleviate that concern.

[2020-03-10 22:57] grantr commented on #2739
I think ContainerSource should return as a source in this repo.

We've heard feedback that there are too many concepts to understand when getting started in eventing. [Here's a recent one](https://twitter.com/KarlKFI/status/1234686021675012096):

One way to keep users from running away screaming is to reduce the number of concepts they need to understand before they "get it", or feel invested enou

[2020-03-10 23:18] duglin commented on #2718
w.r.t shadow namespaces... yup that would be interesting. One use case we have is similar... we need to put the infra (e.g. github adapter) into a namespace that isn't the user's, but we still want the adapter's URL that is registered with github to include the user's namespace and not the system namespace. There are a couple of issues in serving talking about custom or vanity URLs for services an

[2020-03-10 23:21] duglin commented on #2739
For a while now I've been thinking that Eventing needs a "Steve".... the way Serving used to.

[2020-03-10 23:47] vaikas commented on #2740
One interesting bit here is that the Subscription is marked as deleted, has:
  deletionTimestamp: "2020-03-09T19:55:52Z"

as far as the reference being v1alpha1 or v1beta1 should be fine because it will be converted on the fly, so they should be equivalent.
As far as clobbering, I just checked (but if @mikehelmick could check this also) like so:
Here's my v1beta1 broker status:
  status:
    addre

[2020-03-11 00:18] vaikas commented on #2721
Seems like you could just write a super simple function that just takes the incoming event and calls the external URL? seems like it's semi complex feature that's extremely straightforward to bypass, what am I missing?

[2020-03-11 00:21] vaikas commented on #2721
I see, because they'd still be paying for the function invocation?

[2020-03-11 00:26] n3wscott commented on #2721
Blocking that will do nothing because I can make an addressable crd that hosts an external url and trigger just sees an object ref to a thing that has an address.

Maybe a better solution would be to force your cluster to use an istio mesh?

[2020-03-11 01:22] daisy-ycguo commented on #2266
+1000
I totally agree with this. But I think it's a bug for GKE Istio Add-on, not for Knative Eventing. I met the same issue and described it at a PR [comment](https://github.com/knative/client/pull/719#issuecomment-597015940). For me, I think a possible solution is to have Knative Test Infrastructure to avoid using Google Istio Add-on but install a standard istio. @chizhg

I tried both URL: `disp

[2020-03-11 02:48] duglin commented on #2721
Yup. The issue isn't about blocking all outbound connections, it's blocking outbound connections from the eventing infrastructure.

If I'm following... nope, you can't. In our managed environment people can't create random CRDs.

[2020-03-11 06:25] matzew commented on #2739
I still like Container Source

Writing the migration shows, converting is not that hard. But I also ended
up struggling with a typo in the label, preventing it to work directly

Perhaps it makes sense to continue it, for newbies?

Thinking a bit more ... perhaps we should also have samples/doc how to
write the image for Sinkbinding / ContainerSource ? like the hello world in
serving?

On Tue 10. M

[2020-03-11 12:03] #2733 closed

[2020-03-11 12:03] #2729 closed

[2020-03-11 12:03] #2730 closed

[2020-03-11 12:03] #2732 closed

[2020-03-11 12:52] lionelvillard commented on #2731
reopening to keep my quick analysis alive.

[2020-03-11 15:23] aslom commented on #2739
I think UX or DX (developer experience) is very important to success of native eventing.

It should be easy to get started, get simple things done, and then build on it to do more complex.

Simple event sources are good striating point if they are simple to create. Having one YAML file that has exactly all I need is simple starting point. Then if users need more flexibility they may start using si

[2020-03-11 16:03] n3wscott commented on #2739
If you bring it back, it should land in eventing-contrib, not eventing. It should be an optional piece.

[2020-03-11 16:34] mikehelmick commented on #2740
I retested this going from 12.0 to 13.1 and the .1 release patch doesn't have this issue.

[2020-03-11 16:58] mikehelmick commented on #2740
and verified this works with 12.0 to 13.0 as well.

Going to close this since I can't reproduce it. Thanks for the help / investigation here.

[2020-03-11 16:58] #2740 closed

[2020-03-11 18:15] vaikas commented on #2740
Thanks for checking Mike! :)

[2020-03-11 18:47] lionelvillard commented on #2739
I looked at the migration guide (thanks @matzew) and it occurred to me that it only works when the SinkBinding selection mode is set to `exclusion`. Yet another concept to learn.

[2020-03-11 18:50] nachocano opened #2750 "Improve EventType Registry"
**Problem**
EventType is tightly coupled with Broker. In fact, it has a `broker` attribute in its `spec`. We should decouple EventType from it.
The EventType registry itself should be "autonomous", while other constructs (e.g., brokers, channels) should be able to refer to it (ack @markfisher )
This idea has been floating around for a while now, probably since the EventType registry inception (ack

[2020-03-11 18:55] nachocano commented on #2484
Just as FYI, created #2750 to track API improvements to EventType (which might take longer), and let this one to just focus on improving the current implementation.

[2020-03-11 18:58] grantr commented on #2745
0.13.3 has been released and doesn't have this issue.

0.13.2 has had its release notes removed with a warning not to install, and its assets have been renamed to clarify that they should not be installed. Assets may be removed later.

[2020-03-11 18:58] #2745 closed

[2020-03-11 22:18] lionelvillard commented on #2739
TD;LR: +1 for bringing back `ContainerSource`.

Here my take, assuming the primary use case for `ContainerSource` is to make writing sources easier (as opposed as being able to consume events from existing Deployments) for the user.

A source usually consists of:
* a runtime producing events
* a sink
* event types
* delivery options (not yet supported by any sources but we talked about it)

`Conta

[2020-03-11 22:53] duglin commented on #2739
would it make sense to include additional flags, such as whether it needs a URL/Route to accept incoming events? E.g. Github vs Cron

[2020-03-11 23:25] lionelvillard commented on #2739
I think so.

A flag or would you be happy if the selected podspecable is a Knative Service, which indirectly provide a URL?

[2020-03-11 23:52] duglin commented on #2739
being a KnService has some nice aspects to it. We'd just need to also support making it a "private" KnService so people can choose to not expose it on the internet.

However, if I'm understanding how ContainerSources should work, not all of them would require an http server in the image - e.g. Cron. And KnServices don't do well with images w/o http servers.  I do have a PoC that supports those tho

[2020-03-12 07:24] sebgoa commented on #2739
Having been MIA for a bit I discovered SinkBinding couple weeks back and I still don't get it. The Deployment still needs to emit CloudEvents so why not use ContainerSource directly. It may be more powerful but is certainly confusing.

+1 on getting ContainerSource back, we use it a ton.

[2020-03-12 12:04] #2741 closed

[2020-03-12 12:04] #2699 closed

[2020-03-12 12:04] #2731 closed

[2020-03-12 12:04] #2742 closed

[2020-03-12 16:28] cab105 commented on #2739
Having spent a little bit of time with eventing over the last few weeks, and looking at ContainerSource as a means of rolling my own event source, I was surprised that the current [documentation](https://knative.dev/docs/eventing/samples/container-source/) (tagged as v0.13) makes no mention that this is deprecated let alone slated for removal.

Without proper documentation reflecting the discontin

[2020-03-13 11:30] FWiesner opened #2753 "Trigger not coming online because of subscription error"
**Describe the bug**
I'm deploying the following Trigger to my default `Broker` (still on 0.12 and using a KafkaChannel):
[code]
The trigger does not subscribe with the Broker for the following reason:
[code]
To me this looks like as if a subscription would be auto-generated that is made like this: `<broker>-<trigger>-<trigger-uid>` and with a regex that does not strip the trailing `.` from my str

[2020-03-13 11:45] FWiesner commented on #2753
Quick update: changing my `trigger` to have only dashes and no `.` avoids the problem

[2020-03-13 12:59] lionelvillard commented on #2753
Names should be validated by the webhook.

/kind good-first-issue

[2020-03-13 16:22] yolocs commented on #2705
/assign @liu-cong

[2020-03-13 18:30] grantr commented on #2705
/assign grantr
/unassign liu-cong

[2020-03-13 18:31] grantr commented on #2704
/assign grantr
/unassign liu-cong

[2020-03-14 00:10] nachocano commented on #2739
Today was our ETA for the decision.

Thanks everyone for commenting. Going over the comments, I see that the vast majority of the community considers we should bring ContainerSource back. So let's do so.

I'll take care of it. Will have a PR ready sometime next week.

[2020-03-14 00:10] #2739 closed

[2020-03-14 00:12] nachocano opened #2755 "Add ContainerSource to core eventing"
**Problem**
We should add ContainerSource back to eventing.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
Developer

**Exit Criteria**
ContainerSource is available for developers

**Time Estimate (optional):**
1d

**Additional context (optional)**
The rationale of the decision is mainly documented in https://github.com/knative/

[2020-03-15 12:03] #2686 closed

[2020-03-16 17:06] mikehelmick opened #2757 "Reconsider support for CloudEvents HTTP Structured Encoding"
**Problem**

The CloudEvents specification for [HTTP Structured Content Mode](https://github.com/cloudevents/spec/blob/v1.0/http-protocol-binding.md#32-structured-content-mode) allow for deliver of the CloudEvent encoded as a single JSON message (all context attributes + data) that is send in the body portion of the HTTP message. This structured encoding works for both request and response message

[2020-03-16 20:15] duglin commented on #2757
@mikehelmick in general I have a preference for binary mode because it only added data to existing messages and would therefore have less impact/change, but for these auth checks, do you see them needing the CE metadata? I'm not sure auth info would normally appear inside of the structured CE body

[2020-03-16 20:39] mikehelmick commented on #2757
Yes - the context attributes, in particular `ce-type`, are being used in the authz checks.

I know that for structured mode, it is possible to replicate the context attributed to `ce-` attribute headers, but that poses a risk of spoofing if the attributes from the header are overridden by the ones in the structured body.

[2020-03-16 22:54] duglin commented on #2757
never thought of the ce- attributes for auth, but ok that makes sense - thanks.

[2020-03-16 23:01] #2046 closed

[2020-03-17 09:14] pierDipi commented on #2636
Hi @lionelvillard, I would like to work on this issue and before that, I want to share some thoughts.

Is this issue related only to the `InMemoryChannel`?
Even the [`KafkaChannel` documentation](https://github.com/knative/eventing-contrib/tree/master/kafka/channel#namespace-dispatchers) mentions that the `eventing.knative.dev/scope` annotation is immutable but I didn't find where this check is do

[2020-03-17 12:50] lionelvillard commented on #2636
Hi @pierDipi, great! This issue is for all components supporting  `eventing.knative.dev/scope` (so far InMemoryChannel, KafkaChannel and PingSource).

As for checking immutability, it can be done by the validation webhook. You can check if the current operation is an update or a create. See https://github.com/knative/pkg/blob/master/apis/contexts.go#L68.

[2020-03-17 18:19] nachocano opened #2767 "Autoscaling annotation should be immutable"
**Describe the bug**
The autoscaling annotation should be made immutable, otherwise the correct controller won't be called if changed.

 **Expected behavior**
Autoscaling annotation cannot be changed

 **To Reproduce**
Change the annotation and you can save the object

 **Knative release version**
0.13

[2020-03-17 18:20] nachocano commented on #2767
/close wrong repo!

[2020-03-17 18:20] #2767 closed

[2020-03-17 21:20] #2672 closed

[2020-03-18 09:23] #2671 closed

[2020-03-18 14:48] odacremolbap commented on #2753
I can take this one if no one is working on it

[2020-03-18 15:16] MIBc commented on #2735
I can help.

[2020-03-18 16:34] pierDipi commented on #2636
/assign

[2020-03-18 17:44] lionelvillard commented on #2735
cool, thanks @MIBc!

/assign @MIBc

[2020-03-18 17:45] lionelvillard commented on #2753
thanks @odacremolbap !

/assign @odacremolbap

[2020-03-18 19:05] duglin opened #2776 "Allow for tests to run in a pre-created NS"
**Problem**

In some environments it won't be possible for the testing infrastructure to easily create new namespaces at will, so it would be nice if there was a way to run the e2e tests all within a single, pre-created, namespace.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Eventing contributors/devs

**Exit Criteria**
Ability to run all unit and e2e tests ag

[2020-03-19 12:05] knative-test-reporter-robot opened #2782 "[flaky] pkg/channel/fanout.TestFanoutMessageHandler_ServeHTTP/all_subs_succeed"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/channel/fanout.TestFanoutMessageHandler_ServeHTTP/all_subs_succeed
* **Repository name**: eventing

[2020-03-19 12:05] knative-test-reporter-robot opened #2783 "[flaky] pkg/channel/fanout.TestFanoutMessageHandler_ServeHTTP"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/channel/fanout.TestFanoutMessageHandler_ServeHTTP
* **Repository name**: eventing

[2020-03-19 12:05] knative-test-reporter-robot opened #2784 "[flaky] pkg/channel/fanout.TestFanoutMessageHandler_ServeHTTP/all_subs_succeed_with_async_handler"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/channel/fanout.TestFanoutMessageHandler_ServeHTTP/all_subs_succeed_with_async_handler
* **Repository name**: eventing

[2020-03-19 19:02] mikehelmick commented on #2750
/cc @mikehelmick

[2020-03-19 20:27] vaikas opened #2786 "TestTriggerDependencyAnnotation fails 100%"
**Describe the bug**
TestTriggerDependencyAnnotation is failing consistently.

 **Expected behavior**
test should pass

 **To Reproduce**
test fails consistently with:
    trigger_dependency_annotation_test.go:88: Event(s) not found in logs of subscriber pod "subscriber-annotation": the server rejected our request for an unknown reason (get pods subscriber-annotation)

 **Knative release version**

[2020-03-19 20:38] vaikas commented on #2786
Looks like the test is not waiting for the subscriber pod to be ready before trying to read the logs?

[code]

[2020-03-19 20:47] grantr commented on #2786
I think the test needs a `client.WaitForAllTestResourcesReadyOrFail()` around here https://github.com/knative/eventing/blob/master/test/e2e/trigger_dependency_annotation_test.go#L86

[2020-03-19 21:08] otavioprado commented on #1573
@lionelvillard @n3wscott @grantr
I have tried to use KafkaChannel with an event-display as deadLetterSink, but it does not work:

[code]
In the configuration example above the event disappears if the "http-caller" sets cloud event to status code 500. This should work, right?

[2020-03-19 22:59] #2786 closed

[2020-03-20 12:09] slinkydeveloper commented on #2783
/assign

[2020-03-20 12:09] slinkydeveloper commented on #2782
/assign

[2020-03-20 14:53] aliok opened #2794 "Eventing container names are not unique"
**Describe the bug**
In eventing and serving operators, we have a feature that we can override the image for a container  using a structure like this:

[code]

However, the container names are not unique.

Deployments and their container names are listed below:

[code]

 **Expected behavior**
Clear, consistent and unique container names.

 **To Reproduce**
Try overriding the image as explained abo

[2020-03-20 20:34] mattmoor opened #2796 "Setting knative-eventing-injection=disabled should clean up auto-Broker"
**Describe the bug**
When a namespace has had a Broker automatically generated, either by opt-in (namespace) or default (mtnamespace), applying the label `knative-eventing-injection=disabled` should clean up the auto-generated resources.

The actual behavior today is that they just stick around.

[2020-03-20 20:47] grantr commented on #2796
:+1: for this feature. Is the `disabled` value actually documented somewhere, or is this a feature request?

[2020-03-20 21:05] mattmoor commented on #2796
I'm not sure we document `disabled` anywhere (yet, I have a PR), though I'd argue that removing the `enabled` label should revert to the default state, so similar effect for the `namespace` reconciler.  Today cleaning up the injected Broker is a bit tedious (disable injection, and know what to delete).

[2020-03-20 22:22] grantr commented on #2796
:-1: on removing the label also deleting the Broker. The Broker is stateful, so deleting it could cause data loss. Using the absence of a label as an indicator that the user wants their data discarded seems dangerous to me. Safer to wait for a positive indicator like the `disabled` value.

[2020-03-21 00:21] #2484 closed

[2020-03-21 11:56] siddharth952 commented on #2643
@sciamp-dev Are you still working on this?

[2020-03-21 11:58] siddharth952 commented on #2794
I would like to work on this.

[2020-03-21 12:06] knative-test-reporter-robot opened #2799 "[flaky] pkg/channel/fanout.TestFanoutMessageHandler_ServeHTTP/reply_fails"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/channel/fanout.TestFanoutMessageHandler_ServeHTTP/reply_fails
* **Repository name**: eventing

[2020-03-22 10:54] odacremolbap commented on #2736
If no one is working on this, can I get this one assigned please?

[2020-03-22 12:06] knative-test-reporter-robot opened #2801 "[flaky] test/e2e.TestChannelChain/TestChannelChain-{InMemoryChannel_messaging.knative.dev/v1alpha1}"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelChain/TestChannelChain-{InMemoryChannel_messaging.knative.dev/v1alpha1}
* **Repository name**: eventing

[2020-03-22 12:06] knative-test-reporter-robot opened #2802 "[flaky] test/e2e.TestChannelChain"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelChain
* **Repository name**: eventing

[2020-03-22 12:06] knative-test-reporter-robot opened #2803 "[flaky] pkg/channel/fanout.TestFanoutMessageHandler_ServeHTTP/one_sub_succeeds"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/channel/fanout.TestFanoutMessageHandler_ServeHTTP/one_sub_succeeds
* **Repository name**: eventing

[2020-03-22 12:06] knative-test-reporter-robot opened #2804 "[flaky] test/conformance.TestBrokerTracing/TestBrokerTracing-{InMemoryChannel_messaging.knative.dev/v1beta1}"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerTracing/TestBrokerTracing-{InMemoryChannel_messaging.knative.dev/v1beta1}
* **Repository name**: eventing

[2020-03-22 12:06] knative-test-reporter-robot opened #2805 "[flaky] test/conformance.TestBrokerTracing"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerTracing
* **Repository name**: eventing

[2020-03-22 12:06] #2713 closed

[2020-03-22 12:06] knative-test-reporter-robot opened #2806 "[flaky] test/conformance.TestBrokerTracing/TestBrokerTracing-{InMemoryChannel_messaging.knative.dev/v1beta1}/includes_incoming_trace_id"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerTracing/TestBrokerTracing-{InMemoryChannel_messaging.knative.dev/v1beta1}/includes_incoming_trace_id
* **Repository name**: eventing

[2020-03-22 19:52] vaikas opened #2807 "Investigate the need for sleeps in E2E tests for Channel config changes."
**Describe the bug**
https://github.com/knative/eventing/blob/master/test/e2e/helpers/channel_defaulter_test_helper.go#L161

Has a sleep for 1 minute which makes the tests run longer that should be necessary. I poked at the code a little that's pointed to from the comment, but I don't see it there.
Do we really need a one minute sleep there?

 **Expected behavior**
Tests should run as fast as poss

[2020-03-22 19:57] vaikas opened #2808 "Make Channel Based Broker separate install from the Eventing Core"
**Problem**
We want to install just the bare bones Eventing that does not include a Broker Class so that it's easier to test different Broker Classes. As per:
https://github.com/knative/eventing/pull/2798

I added code that runs the eventing tests, then uninstalls the Channel Based Broker controller (and namespace watcher + configmap propagation and so forth) then installs the Multi Tenant Channel

[2020-03-22 19:59] vaikas commented on #2808
Basically all the pieces necessary to run the Channel Based Broker should be in the brokers/channel-based-broker directory just like mt-channel-based-broker. This includes the CRDs for things like configmap propagation and so forth.

[2020-03-22 20:37] vaikas opened #2809 "Traces are not correctly set for MT Channel Based Broker"
**Describe the bug**
Conformance tests for MT Channel Based Broker are failing because of the Tracing. Working with @ian-mi on getting this story set up properly.
Also need to make the Resources that the test creates be conditional, currently with the MT Channel Based Broker the tests won't even run because it creates the ConfigMapPropagation resource which never becomes ready.

 **Expected behavi

[2020-03-23 08:14] slinkydeveloper commented on #2664
@nlopezgi #2671 is done, you can start looking into this :smile:

[2020-03-23 08:29] aliok commented on #2794
@siddharth952 sorry I didn't see your comment :( I already created a PR for this: https://github.com/knative/eventing/pull/2810

We need this change at Red Hat side, so I just worked on it as soon as I can.

[2020-03-23 12:05] #2799 closed

[2020-03-23 14:11] nlopezgi commented on #2664
thanks! will start work on this soon!

[2020-03-23 14:54] n3wscott commented on #2794
All the controller container names should be called `controller`.

[2020-03-23 15:00] lionelvillard commented on #2794
@n3wscott why?

[2020-03-23 15:08] n3wscott commented on #2794
because that would be more consistent and easier to debug these things. Needing to know the unique container name for each snowflake deployment I find very annoying.

[2020-03-23 15:10] matzew commented on #2794
not sure why the more explicit name is an issue on the debugging side of the house?

[2020-03-23 15:18] n3wscott commented on #2794
if the name is always controller, I can use scripts to inspect the deployments, but if they are all unique names, I have to write something very custom to each deployment.

[2020-03-23 15:21] lionelvillard commented on #2794
or all have a common suffix, eg `(-?)controller`.

[2020-03-23 16:09] grantr commented on #2808
This is just about the `ko apply -f config` experience. Release is already split in this way.

[2020-03-23 16:11] grantr commented on #2807
cc @chizhg

Now that webhook and defaulter code has changed maybe this isn't needed anymore?

[2020-03-23 16:22] vaikas commented on #2794
Are multiple containers being wrapped into a single deployment? In which case you'd need unique controller names.

[2020-03-23 16:24] grantr commented on #2776
This seems like a lot of work. How important is this to you @duglin?

[2020-03-23 16:30] nachocano commented on #2484
eventing-contrib counterpart merged: https://github.com/knative/eventing-contrib/pull/1036
Need to add more UTs in eventing, will do in the upcoming days.
Overall, these changes cleaned up a **bunch** of things, and put us in a much better position to address changes to EventType https://github.com/knative/eventing/issues/2750

[2020-03-23 16:57] duglin commented on #2776
Unfortunately, it's kind of important. We have a managed environment where people cant' just do `kubectl create ns ...` at will, they need to go through a custom process to ask for a new workspace/namespace. So, as of today I don't think we can run the community tests against our env to know if something is broken.

Aside from specific cross-ns testing, is it really required to run the tests in ne

[2020-03-24 01:35] ian-mi commented on #2809
Thanks for the repro! The immediate issue seems to be a problem setting up the exporter:

`{"level":"error","ts":"2020-03-24T00:56:38.138Z","logger":"mt_broker_filter","caller":"tracing/opencensus.go:146","msg":"error building zipkin endpoint","commit":"f2224af","error":"lookup cluster-broker-filter.knative-eventing on 10.96.0.10:53: no such host","stacktrace":"knative.dev/eventing/vendor/knative.

[2020-03-24 02:46] n3wscott commented on #2739
ContainerSource does nothing to help you send CloudEvents. That is your code or a CloudEvents SDK.  SinkBinding does all that container source does except it works for anything that is podspecable. So you can make a KnativeService into a source with SinkBinding. ContainerSource only resolves the sink and sticks it into the EnvVar, same as SinkBinding.

Bringing it back is pure techdept.

[2020-03-24 07:10] aliok commented on #2794
Let's ping @k4leung4 and @houshengbo on the operators side of things. We need to improve the way  of overriding images.

[2020-03-24 11:15] aliok commented on #2794
Not yet. But with non-unique container names, we cannot override the container images using the operator.

I created a ticket to improve this mechanism on the operator: https://github.com/knative/eventing-operator/issues/148

[2020-03-24 12:04] #2801 closed

[2020-03-24 16:12] slinkydeveloper commented on #2803
/assign

[2020-03-24 16:31] #2809 closed

[2020-03-24 17:05] vaikas opened #2833 "Broker conformance tests are too specific"
**Describe the bug**
Currently the Broker conformance tests can not work against any other broker implementation. There are pieces of the code that assume things like ConfigMapPropagation, RBAC rules, etc.
So, running these against any other Broker will result in failure because they do not use ConfigMapPropagation for example because nothing is reconciling it.
https://github.com/knative/eventing/

[2020-03-24 17:40] ian-mi commented on #2648
I'm not sure what was causing this, but it appears to be resolved in master.

[2020-03-24 17:40] #2648 closed

[2020-03-24 18:06] aslom commented on #2757
Related to documenting kantive eventing data plane: https://github.com/knative/eventing/issues/2658

[2020-03-24 18:59] #2559 closed

[2020-03-24 21:54] lionelvillard opened #2836 "MT PingSource restarts schedules from the beginning upon restart"
**Describe the bug**
MT PingSource restarts schedules from the beginning upon restart.

 **Expected behavior**
When restarting, the controller should check when is the last time the event was sent and adapt the schedule accordingly.

 **To Reproduce**
Create a PingSource with a 1mn schedule. Wait 30s and kill the jobrunner pod. The event will be send after 1mn, instead of 30s.

 **Knative release

[2020-03-24 23:47] akashrv commented on #2426
Individual WG Leads --> @vaikas @matzew @n3wscott @Harwayne - Could you please add your thoughts to the [roadmap document](https://docs.google.com/spreadsheets/d/10XRHJO7fg93advH67NKNgBTCxep0VfhvhJ8Rc6jipQU/edit#gid=1690166615). This is not the final document and we can always change the shape and structure of the document. It is meant to be something to start putting together our thoughts. Moreov

[2020-03-25 12:32] slinkydeveloper commented on #2697
/assign

This data race is related to #2803

[2020-03-25 15:06] houshengbo commented on #2794
@n3wscott What about we use the SAME deployment name for the container within it? (When you know the deployment name, then you know the container name). Deployment is unique, so container name will be unique as well.

[2020-03-25 15:14] liu-cong opened #2840 "Upgrade to class based broker controller"
**Describe the bug**
The broker controller now only reconciles brokers with `ChannelBasedBroker` annotation. And we have defaulting and conversion webhooks to set the default broker class.

However, for brokers created before the new controller/webhooks, our new controller will ignore them because they don't have the annotation. If you do `kubectl get`, you will still see the annotation set by the

[2020-03-25 15:20] aslom opened #2841 "Easier to use performance testing to test Knative Eventing (brokers, channels, sinks, etc)"
**Problem**
Knative eventing and eventing-contrib already have test/test_images/performance and test/performance/infra and they are used for infra testing and seems to work well but not for testing by developers, contributors, or system integrators (testing capacity etc)

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
Contributor

[2020-03-25 15:27] aslom commented on #2841
Current performance tests setup instructions: https://github.com/knative/eventing/blob/master/test/performance/README.md
and tests used by Kafka
https://github.com/knative/eventing-contrib/tree/master/test/performance

[2020-03-25 15:33] #2833 closed

[2020-03-25 16:07] aslom commented on #2841
Based on Knative Eventing Performance Task Force meeting it seems that we do need to document how developers could run tests against their already configure cluster.

Additional context: infra testing config could be split and reused in some ways so backend setup (such as Kafka or NATS) is separate from running actual tests

Anything more? /cc @vaikas @grantr @lionelvillard @slinkydeveloper

[2020-03-25 16:51] grantr commented on #2841
Another thing mentioned in the meeting is that the yamls in the perf testing directories like [this one](https://github.com/knative/eventing/blob/master/test/performance/benchmarks/broker-imc/200-broker-perf.yaml) aren't serving the use case of "run a test on an object I already have". It would be great to have a script that takes an object ref and runs a standard perf test on that object. That sc

[2020-03-25 17:01] grantr opened #2842 "Deprecate GenerateFixedName"
**Describe the bug**
`GenerateFixedName` is doing basically the same thing as [`kmeta.ChildName`](https://github.com/knative/pkg/blob/079ae277d3e94c710c1ba8822ec54817c7063cf2/kmeta/names.go#L39) but with slightly different results.

 **Expected behavior**
We only have one method to generate child object names.

 **Knative release version**
0.13.0

 **Additional context**
See https://github.com/kna

[2020-03-25 17:08] odacremolbap commented on #2842
If there is no one working on this, can I get this assigned please?

[2020-03-25 17:11] grantr commented on #2842
/assign odacremolbap

[2020-03-25 17:38] #2753 closed

[2020-03-25 17:57] vaikas commented on #2841
Right, I was trying to say that we should be able to break the tests into:
 - Set up the Unit under test [broker, channel, etc.]
 - run tests [conformance, performance, etc.] against the thing you just setup
second bit should have 0 knowledge of the impl details of the first 1

[2020-03-25 18:10] #2735 closed

[2020-03-25 19:41] ian-mi commented on #1756
/close tracing conformance tests are passing for both ChannelBasedBroker and MTChannelBasedBroker

[2020-03-25 19:50] vaikas opened #2848 "Investigate speeding up e2e tests by launching parallel deploys"
**Problem**
When setting up the test cluster, we sequentially install serving, monitoring, eventing and test images. Is there a reason why we don't launch all these in parallel and join in the end once they call complete?

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
Once all the things that can be in parallel are done and test set

[2020-03-25 20:45] #2807 closed

[2020-03-25 21:05] sciamp-dev commented on #2643
@siddharth952 ideally, yes. But at the moment I have some delay due to coronavirus. If you want to take over, feel free to do so. I'll not have time before next week.

[2020-03-25 22:30] #1756 closed

[2020-03-26 08:14] slinkydeveloper opened #2850 "Prune pkg/channel code that uses cloudevents client"
Pre-requisite:

* [x] IMC Channel ported
* [x] Kafka Channel ported
* [x] Natss Channel ported

Code to remove:

* `EventDispatcher`
* `EventReceiver`
* `AppendHistory`
* `fanout.Handler`
* `multichannelfanout.Handler`
* `swappable.Handler`

/assign

[2020-03-26 10:03] softputer opened #2851 "Kafkachannel version"
**Describe the bug**
Does Different version of kafka channel  match different version of kafka version?
 **Expected behavior**
When i use the kafkachannel , i do not need to care about the version of the kafka i used for the channel?

Now i want to use the kafka in my company as the kafkachannel , does the kafka version need to match the kantive eventing version

[2020-03-26 11:15] #2851 closed

[2020-03-26 22:56] #2755 closed

[2020-03-26 23:52] #2808 closed

[2020-03-27 12:05] knative-test-reporter-robot opened #2856 "[flaky] test/conformance.TestBrokerTracing/TestBrokerTracing-{InMemoryChannel_messaging.knative.dev/v1alpha1}"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerTracing/TestBrokerTracing-{InMemoryChannel_messaging.knative.dev/v1alpha1}
* **Repository name**: eventing

[2020-03-27 12:05] #2804 closed

[2020-03-27 12:05] #2806 closed

[2020-03-27 12:05] knative-test-reporter-robot opened #2857 "[flaky] test/conformance.TestBrokerTracing/TestBrokerTracing-{InMemoryChannel_messaging.knative.dev/v1alpha1}/includes_incoming_trace_id"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerTracing/TestBrokerTracing-{InMemoryChannel_messaging.knative.dev/v1alpha1}/includes_incoming_trace_id
* **Repository name**: eventing

[2020-03-27 13:04] lionelvillard commented on #2836
invalid. That's not how cronjob works.

[2020-03-27 13:04] #2836 closed

[2020-03-28 12:05] knative-test-reporter-robot opened #2860 "[flaky] pkg/channel/fanout.TestFanoutMessageHandler_ServeHTTP/sync_-_all_subs_succeed"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/channel/fanout.TestFanoutMessageHandler_ServeHTTP/sync_-_all_subs_succeed
* **Repository name**: eventing

[2020-03-30 08:48] zroubalik opened #2864 "Channels: Implement scale subresource"
**Problem**
[Scale subresource](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#scale-subresource) provides unified kubernetes way on scaling resources.

KEDA is currently [planning to support scaling](https://github.com/kedacore/keda/issues/703) of any Resource that has scale subresource. If we define scale subresource on Channel, we will able

[2020-03-30 08:49] zroubalik commented on #2864
@aslom @matzew @n3wscott you might be interested in this^

[2020-03-30 12:05] knative-test-reporter-robot opened #2865 "[flaky] test/e2e.TestSingleStructuredEventForChannel/TestSingleStructuredEventForChannel-{Channel_messaging.knative.dev/v1alpha1}"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleStructuredEventForChannel/TestSingleStructuredEventForChannel-{Channel_messaging.knative.dev/v1alpha1}
* **Repository name**: eventing

[2020-03-30 12:05] knative-test-reporter-robot opened #2866 "[flaky] test/e2e.TestSingleStructuredEventForChannel"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleStructuredEventForChannel
* **Repository name**: eventing

[2020-03-30 12:06] slinkydeveloper commented on #2860
/assign

[2020-03-30 15:16] slinkydeveloper opened #2868 "Port fanout handler config to SubscriberSpec v1beta1"
**Problem**
`fanout.MessageHandler` now uses a struct called `Config` which uses `v1alpha1.SubscriberSpec`, this must be ported to `v1beta.SubscriberSpec`

**Time Estimate (optional):**
1

/assign

[2020-03-30 16:13] grantr commented on #2864
Let's discuss this at the next WG meeting.

[2020-03-30 16:53] grantr opened #2869 "Investigate error in recent flaky tests"
**Describe the bug**
We've started seeing this error message in recent flaky test runs: `FailedMount MountVolume.SetUp failed for volume "default-token-qvp22" : couldn't propagate object cache: timed out waiting for the condition`. All these flaky test issues link to logs that contain this message: #2866 #2865 #2860 #2857 #2856 #2805 #2803 #2784 #2783 #2782

**Note some of the above issues are abo

[2020-03-30 17:09] #2736 closed

[2020-03-30 18:33] Harwayne commented on #2869
I should be able to investigate starting on Wednesday, if no one else has before then.

[2020-03-31 12:56] matzew commented on #2864
On the surface this sounds better than the previously proposed approach with annotations, that are less or more directly tied to an implementation.

So, yeah - I am for a more generic approach here, where KEDA is an impl. details

:+1:

[2020-03-31 14:02] zroubalik commented on #2864
With this you will have `scale` endpoint on the `Channel`, which could be targeted by KEDA or any other autoscaling tool or even with `kubectl scale channel-foo`.

To enable autoscaling you will still need the integration part, something that creates the resource (KEDA's `ScaledObject`), it tells KEDA what metrics it should consume, what is min/max replica count etc. To support another autoscaling

[2020-03-31 15:28] matzew opened #2879 "Add descriptor metadata to Source CRDs"
**Problem**

providing info on the CRD metadata for tools, e.g. generating forms on a "Knative UI", to edit the sources

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**

Developer

**Exit Criteria**

metadata is three

**Time Estimate (optional):**

1-2 hours per source

**Additional context (optional)**

Our Source CRDs contain (used to contain) some information a

[2020-03-31 16:37] AceHack opened #2880 "Please support CloudEvents Batched Content Mode"
It would be great for Knative to support cloud events batched content mode on all of its components.

Thanks.

[2020-03-31 16:48] AceHack opened #2881 "Security: Please set pod Security Context on all Pods"
Many companies have a security requirement in place that all pods must not run as root and set the run as user.  Please set this (Or allow it to be set) on all pods.  This would mean either adding it yourself or adding it to any CRDs that end up creating pods so the user can set it.  Note this is at the pod level, not the container level.  I will be creating a separate feature request for the cont

[2020-03-31 16:57] AceHack opened #2882 "Security: Please set container Security Context on all Containers"
Many companies have a security requirement in place that all containers must have a read-only file system and not allow privileged escalation.  Please set this (Or allow it to be set) on all containers.  This would mean either adding it yourself or adding it to any CRDs that end up creating containers so the user can set it.  Note this is at the container level, not the pod level.  I have created

[2020-03-31 17:19] AceHack opened #2883 "Operations: Please allow setting nodeSelector, tolerations, and affinity on all Pods"
Most companies with complex enough kubernetes deployments that have multiple different node groups require some sort of topology selection so pods will run on the correct group of nodes.  Please allow setting nodeSelector, tolerations, and affinity on all Pods to accomplish this.  This includes adding it to any CRDs that create pods so these values are settable.

https://kubernetes.io/docs/concept

[2020-03-31 18:33] n3wscott commented on #1712
/open

This is still 🔥

[2020-03-31 18:33] n3wscott commented on #1758
/open

This is still real broken.

[2020-03-31 22:44] mattmoor opened #2884 "pkg/utils has redundancies with knative/pkg"
In particular the handling of cluster domains is redundant with: https://github.com/knative/pkg/blob/master/network/domain.go

/kind good-first-issue

[2020-03-31 22:46] aslom commented on #2584
Public google doc to discuss and define eventing autoscaling goals:
https://docs.google.com/document/d/1usNmsuHBWzVaL5GGC873iGVrkKXGbc6t7bLHJL38Cyg/edit?usp=sharing

[2020-03-31 22:47] aslom commented on #2864
Annotations are used in Knative Serving so would be good to use them as well in Knative Eventing?

Last time we discussed it in WG we decided to define the goals - here is public google doc with initial notes from the meeting: https://docs.google.com/document/d/1usNmsuHBWzVaL5GGC873iGVrkKXGbc6t7bLHJL38Cyg/edit?usp=sharing (anybody should be able to edit it)

[2020-04-01 03:04] #2842 closed

[2020-04-01 07:43] #2052 closed

[2020-04-01 09:02] odacremolbap commented on #2884
Can I get assigned here please?

[2020-04-01 09:36] #2868 closed

[2020-04-01 12:06] #2865 closed

[2020-04-01 12:06] #2866 closed

[2020-04-01 12:06] knative-test-reporter-robot opened #2888 "[flaky] pkg/channel/fanout.TestFanoutMessageHandler_ServeHTTP/sync_-_one_sub_succeeds"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/channel/fanout.TestFanoutMessageHandler_ServeHTTP/sync_-_one_sub_succeeds
* **Repository name**: eventing

[2020-04-01 12:06] #2860 closed

[2020-04-01 12:08] slinkydeveloper commented on #2783
This one should definitely settle this https://github.com/knative/eventing/pull/2876

[2020-04-01 12:18] slinkydeveloper commented on #2697
This data race is fixed by https://github.com/knative/eventing/pull/2876

[2020-04-01 12:30] lionelvillard commented on #2884
/assign

[2020-04-01 12:44] matzew opened #2889 "Installation doc of eventing is a bit funky"
When you follow the (nightly) install-doc (https://knative.dev/development/install/any-kubernetes-cluster/)

You do these:

1) `kubectl apply --filename https://storage.googleapis.com/knative-nightly/eventing/latest/eventing-crds.yaml`

2) `kubectl apply --filename https://storage.googleapis.com/knative-nightly/eventing/latest/eventing-core.yaml`

and see the `webhook`, crashing, with smth like:

[2020-04-01 14:35] n3wscott opened #2892 "ApiServerSource does not seem to work with cluster scoped resources."
Can you open an issue tracking this?

_Originally posted by @lionelvillard in https://github.com/knative/eventing/pull/2872_

[2020-04-01 19:28] grantr commented on #2705
I probably won't have time to finish this for 0.14 release, so moving to 0.15.

[2020-04-01 19:29] grantr commented on #2704
I probably won't have time to finish this for 0.14 release, so moving to 0.15.

[2020-04-01 23:04] n3wscott commented on #2134
fixed.

[2020-04-02 01:04] #2134 closed

[2020-04-02 15:14] aslom commented on #2864
Just as a clarification when talk about scaling channels we want to scale part it is doing delivery of events (take from form event source and dispatches over HTTP to subscribers) - that means that we may expose part of channel as Scale subresource?

[2020-04-02 15:55] markfisher commented on #2864
I understand the general idea that having a Scale subresource on the Channel would leave it up to each Channel implementation to determine what "internally-managed" resources (e.g. Deployments) need to scale.

However, taking the Kafka channel as an example, the underlying Deployments are multi-tenant from a consumer group perspective, while the metrics that should drive scaling must be per consum

[2020-04-02 16:30] scothis commented on #2864
The [scale subresource](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#scale-subresource) enables getting/setting the number of replicas for the resource. What does it mean for a channel to have replicas? How does a scale of `1` vs `2` manifest itself? For the scale subresource to work with HPA a label selector must be defined, what is it selec

[2020-04-02 18:38] aslom opened #2901 "[WIP] Define autoscaling for Knative Eventing"
**Problem**
Users of Knative Eventing expect that autoscaling is available and works. We should define what  autoscaling for Knative Eventing means and how user experience would work to make it serverless and Knative-way.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
All personas

**Exit Criteria**
Documented what autoscaling should be in Knative Eventing

**Tim

[2020-04-02 18:40] aslom commented on #2901
Please view, comment and edit proposals for autoscaling goals in public google doc:
https://docs.google.com/document/d/1usNmsuHBWzVaL5GGC873iGVrkKXGbc6t7bLHJL38Cyg/edit?usp=sharing

/cc @grantr @vaikas @matzew @lionelvillard

[2020-04-02 18:54] vaikas commented on #2889
Hm, maybe I mentioned this in the slack, but adding it here.
So, I'd suggest that we look at possibly not failing if the configmap does not exist and then if the user creates a Broker, no defaults will be available and creation of a broker should fail.

[2020-04-02 18:57] matzew commented on #2889
yeah, that's good call.

I can take a look here

[2020-04-03 07:23] odacremolbap commented on #2892
I can take this one if you are not working on it @n3wscott

[2020-04-03 12:06] #2888 closed

[2020-04-03 12:06] #2783 closed

[2020-04-03 12:06] #2697 closed

[2020-04-03 13:53] n3wscott commented on #2892
Go for it!!

[2020-04-03 14:00] lionelvillard commented on #2892
/assign @odacremolbap

[2020-04-03 17:05] slinkydeveloper commented on #2864
I have two concerns about scaling the actual KafkaChannel implementation i want to share, I'm not sure if they apply to the general discussion here (for sure they apply to IMC too):

* With the actual KafkaChannel architecture (more channels handled by the same dispatcher) scaling it as a black box can be more harmful than useful. If you scale it as is know and you have a channel hammered with req

[2020-04-03 17:58] markfisher commented on #2864
@slinkydeveloper

do you mean "what **subscription** it wants to handle"?

and....

"dispatcher per **subscription**"?

[2020-04-05 11:19] pierDipi opened #2912 "MessageDispatcherImpl should not Finish the message with no errors if there is an error"
**Describe the bug**
The dispatcher finishes messages with no error.

 **Expected behavior**
The dispatcher finishes messages with the occurred error

 **Knative release version**
`master`

 **Additional context**
`Message` implementations of `cloudevents/sdk-go` rely on the `Finish(err)` method to ack the message, therefore if the message is finished with no error the message is incorrectly ack'e

[2020-04-05 11:19] pierDipi commented on #2912
/assign

[2020-04-05 12:05] knative-test-reporter-robot opened #2913 "[flaky] test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_attribute_triggers_using_v1beta1_trigger"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_attribute_triggers_using_v1beta1_trigger
* **Repository name**: eventing

[2020-04-06 06:20] slinkydeveloper commented on #2864
I suppose it makes sense to agree on what channel it wants to agree in our actual architecture

Dispatcher per subscription is the ultimate goal i think

[2020-04-06 07:19] #2912 closed

[2020-04-06 15:28] lionelvillard commented on #2199
this is not-applicable anymore. MT here means `in user-namespace`. We are not going to go that.

[2020-04-06 15:28] #2199 closed

[2020-04-06 16:09] grantr commented on #2913
Related to https://github.com/knative/eventing/issues/2869

[2020-04-06 16:11] grantr commented on #2901
@aslom is there a single tracking issue that we can link all the autoscaling bugs to? That will make these easier to triage. Thanks!

[2020-04-06 16:19] grantr commented on #2883
Whatever we do here, we need to coordinate with the rest of knative.

[2020-04-06 16:22] grantr commented on #2880
@aslom Are you interested in working on this?

[2020-04-06 16:25] grantr commented on #2879
@n3wscott you've had some thoughts about generating schema for CRDs as well

[2020-04-06 17:01] n3wscott commented on #2879
I think we should look at making a first class CRD for this in the discovery API.

Let's target a prototype in v0.15.

[2020-04-06 18:24] lberk commented on #2901
Hi, what is the overlap (and can we get a single tracker for) all these related issues?
knative/eventing#2161
knative/eventing#2154
knative/eventing#2153
knative/eventing#2152

[2020-04-06 18:50] aslom commented on #2901
@lberk they all talk about "scaling" different part of KnE - I hope we can reach here consensus on definition of (auto)scaling in Knative Eventing and then apply it to plan what we do those parts

[2020-04-06 18:55] grantr commented on #2901
Sounds like you'd like this issue to be the overall tracking issue then?

[2020-04-06 19:15] aslom commented on #2880
Yes @AceHack just to document: why do yo think it needs to be supported?

[2020-04-06 19:34] mikehelmick commented on #2880
@yolocs

Batched events complicates the authorization story if we allow for multiple event types to be on that channel.

Any design for this should address that issue.

[2020-04-06 21:37] #2840 closed

[2020-04-07 06:35] ian-mi opened #2918 "HTTP Transport Should Clear the CE Traceparent Extension"
**Problem**
Setting both the CE Traceparent extension as well as the HTTP Traceparent header is permitted but is unnecessary duplication. In the case that an incoming event has already set the CE Traceparent extension the extension should be cleared before sending over HTTP to avoid conflicts.

[2020-04-07 06:43] slinkydeveloper commented on #2918
I think this all comes down to clarify the spec

1. If the distributed tracing attributes must be encoded both as cloudevents attributes and as http headers conformant to https://www.w3.org/TR/trace-context/, then we need to have the `AddTraceparent` which overwrites any existing traceparent
2. If the distributed tracing attributes must be encoded just as http headers conformant to trace context,

[2020-04-07 12:05] #2857 closed

[2020-04-07 12:05] #2856 closed

[2020-04-07 12:05] #2805 closed

[2020-04-07 13:42] matzew opened #2919 "Problems terminating knative-eventing namespace because of config-br-defaults"
**Describe the bug**

The "core" defines a config map for the broker `config-br-defaults`, and the same is provided by the two different broker impls

* `channel-broker`
* `mt-channel-broker`

Now, when you install bits, like:

[code]

you get a working knative.

But it is currently not possible to remove the `knative-eventing`, when doing a serious of `ko delete` to uninstall the above componets.

[2020-04-07 13:43] matzew commented on #2919
some related issue: https://github.com/knative/eventing/issues/2889

[2020-04-07 13:44] matzew commented on #2919
/assign

[2020-04-07 13:54] matzew commented on #2919
@k4leung4  @aliok   something relevant for the upstream operator, when doing the `broker` field, I guess

[2020-04-07 14:13] matzew commented on #2919
@houshengbo  see ^

[2020-04-07 15:13] antoineco opened #2924 "Broker reconciliation fails indefinitely if Channel kind is not found upon startup"
**Describe the bug**

If I deploy the Channel-based Broker with the following (default) configuration,

[code]

and the `inmemorychannels.messaging.knative.dev` resource is _not_ registered when the Broker controller starts, the reconciliation of Brokers fails indefinitely with the error

[code]

Registering the type after the controller started is not enough

 **Expected behavior**

The Broker co

[2020-04-07 15:50] #2664 closed

[2020-04-07 16:13] slinkydeveloper commented on #2803
/close

[2020-04-07 16:13] #2803 closed

[2020-04-07 16:13] slinkydeveloper commented on #2784
/close

[2020-04-07 16:13] #2784 closed

[2020-04-07 16:13] slinkydeveloper commented on #2782
/close

[2020-04-07 16:13] #2782 closed

[2020-04-07 17:08] evankanderson commented on #2881
We're going to track this in https://github.com/knative-sandbox/operator/issues/3 and address it comprehensively rather than on a per-repo basis.

/close

[2020-04-07 17:08] #2881 closed

[2020-04-07 17:09] evankanderson commented on #2883
We're going to track this in https://github.com/knative-sandbox/operator/issues/5 and address it comprehensively rather than on a per-repo basis.

/close

[2020-04-07 17:09] #2883 closed

[2020-04-07 17:11] evankanderson commented on #2882
We're going to track this in https://github.com/knative-sandbox/operator/issues/4 and address it comprehensively rather than on a per-repo basis.

/close

[2020-04-07 19:11] matzew opened #2933 "Deleting SinkBinding hangs if a KSVC sink is deleted first"
**Describe the bug**
Deleting the SinkingBinding hangs when the `ksvc` is being deleted before.

It hangs with the finalizer:
[code]

 **Expected behavior**

Deleting does not hang, and regardless of the `ksvc` deleted first, the `SinkBinding` should be deleted.

 **To Reproduce**

Apply this yaml file:

[code]

E.g. like:
[code]

Now wait a bit to let one iteration of the cronjob run....

Next ru

[2020-04-07 19:43] matzew opened #2934 "remove default configs for the Brokers ?"
**Problem**

current BOTH borker impls come with some `ConfigMap` that sets them as default.

This is different how channels are handling it.

Perhaps we can follow that model from the channel? to explicitly have the user decide when applying a "yaml distribution" for a channel if she wants that as a default?

** Proposal / Problem **

The brokers both, come with the same configmap, with different

[2020-04-07 20:40] grantr commented on #2934
The current scheme for default channels is:
- In `eventing-core.yaml`, include a configmap that assumes `InMemoryChannel` is the default, but don't install InMemoryChannel.
- In `eventing.yaml` include core and the InMemoryChannel.

User scenarios:
- Anyone who installs `eventing.yaml` has a default channel out of the box.
- Anyone who installs `eventing.yaml` and another channel MAY update the co

[2020-04-08 08:28] matzew opened #2935 "MT Broker the new default?"
Since some time we ship the original (channel-broker) as default.

Now, the `mt-channel-broker` seems more lightweight, and would be good to make this the new default.

Target: 0.15

Thoughts ?

/cc @vaikas @grantr @lionelvillard

[2020-04-08 09:42] matzew opened #2937 "MT broker creates a lot of brokers when not configured as the default broker"
**Describe the bug**

the `mt-channel-broker` is automatically creating a broker for every single namespace in the cluster. This option can be disabled.

However, when the mt-channel-broker is "just" deployed, next to the "normal" `channel-broker`, and the "normal" channel broker is configured as the default (and NOT the mt-broker), it still does create brokers for all namespaces.

 **Expected beh

[2020-04-08 17:15] grantr commented on #2937
Since the mt broker's default broker AND the channel-based default broker are both called `default`, this seems like it could create confusion when there's a conflict. If I install both brokers, any namespace without a channel-based broker already will get a default mt broker. Then if I label a namespace to get a channel-based broker, that broker won't be created because the default broker already

[2020-04-09 04:38] #2934 closed

[2020-04-09 08:27] aliok opened #2945 "Missing broker defaults in eventing.yaml"
**Describe the bug**
After https://github.com/knative/eventing/pull/2936, when I build the release yamls using `./hack/release.sh --skip-tests`, I don't see `config-br-default-channel` and `config-br-defaults` in the release manifest `eventing.yaml.

 **Expected behavior**
Default broker config to be included in the release manifest, `eventing.yaml`.

Contents of these 2 files should be in the out

[2020-04-09 08:33] aliok commented on #2945
Could be 2 ways to fix it:
* Adding `400-config-br-default-channel.yaml` and `400-config-br-defaults.yaml` to the release manifest manually: https://github.com/knative/eventing/blob/e5d39ee04a65e6ddee3d4ce3b71febc335c0d31b/hack/release.sh#L36
* Moving those files back, but only having them in channel-broker

[2020-04-09 08:49] matzew commented on #2937
@grantr related:   https://github.com/knative/eventing/pull/2946

[2020-04-09 08:50] matzew commented on #2919
/close

this now fixed, with recent config changes

[2020-04-09 08:50] #2919 closed

[2020-04-09 08:53] matzew commented on #2945
@aliok

my bad!

* https://github.com/knative/eventing/blob/master/config/400-config-br-default-channel.yaml
* https://github.com/knative/eventing/blob/master/config/400-config-br-defaults.yaml

need to go into `core` folder

and the two `400-config-br-XXXX` should be symlinks to that - OK ?

Can you PR that ?

[2020-04-09 09:04] aliok commented on #2945
That's a better solution!

[2020-04-09 10:00] #2945 closed

[2020-04-09 11:10] antoineco opened #2949 "Rename PingSource's adapter test to be more meaningful"
**Describe the bug**

A couple of tests within `pkg/adapter/ping/adapter_test.go` claim to test sending event against a HTTP server, but they don't.

https://github.com/knative/eventing/blob/62e741cf1298cd5945d6e0137e483ba0d9721ca5/pkg/adapter/ping/adapter_test.go#L92-L122

 **Expected behavior**

Either the tests are renamed, or the test lib supports starting a server for tests.

 **Knative relea

[2020-04-09 13:11] lionelvillard commented on #2949
single tenant ping is deprecated in favor of MT ping. We should delete this code and update the ping source controller accordingly

[2020-04-09 13:20] antoineco commented on #2949
@lionelvillard where is that MT ping source?

[2020-04-09 13:30] lionelvillard commented on #2949
in the wrong place :-). It's there: https://github.com/knative/eventing/tree/master/pkg/reconciler/pingsource/jobrunner

[2020-04-09 15:35] antoineco commented on #2949
OK thanks, I get it now.

* The `ping` reconciler creates either a receive adapter, or something called a "jobrunner".
* The entry point (`main`) for both of them is inside `cmd/ping`.
* `jobrunner` is actually another controller, not an adapter.

Is the plan to replace the `ping` reconciler+adapter combo with the newer `jobrunner`. If yes, when?

[2020-04-09 16:31] grantr opened #2950 "ConfigMaps don't have release labels"
**Describe the bug**
Some eventing configmaps have a release label (`eventing.knative.dev/release: devel`), but some don't.

 **Expected behavior**
All eventing configmaps have release labels.

 **To Reproduce**
The `default-*` [core configmaps](https://github.com/knative/eventing/tree/master/config/core/configmaps) don't have labels, all others do.

 **Knative release version**
0.13

 **Additiona

[2020-04-09 18:17] houshengbo commented on #2950
/assign

[2020-04-09 19:58] ian-mi opened #2956 "Integration Tests did not Prevent Broken Nightly Release"
**Describe the bug**
The nightly release after https://github.com/knative/eventing/pull/2936 was broken due to missing config-br-defaults causing the eventing webhook to crashloop.

 **Expected behavior**
Such a breakage should have caused integration tests to fail.

 **Knative release version**
v20200409-e5d39ee0

[2020-04-09 20:00] Harwayne opened #2957 "Integration Tests did not Prevent Broken Nightly Release"
**Describe the bug**
Nightlies can be released that do not work. The specific bad nightly encountered is mentioned in the additional context section. However this issue is more concerned with how an unusable nightly was released.

 **Expected behavior**
Nightlies should pass E2E tests on a fresh cluster.

 **To Reproduce**
Try to apply the 2020-04-09 nightly, https://storage.googleapis.com/knative

[2020-04-09 20:23] #2950 closed

[2020-04-09 22:21] houshengbo commented on #2957
I confirmed this issue, after picking it for operator.

[2020-04-09 23:28] ian-mi opened #2958 "Define Broker Tracing Conventions"
**Problem**
A set of conventions and recommendations for broker tracing is needed.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
System Integrator

**Additional context (optional)**
Tracing conventions can use the opentelemetry messaging conventions as a starting point: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace

[2020-04-10 13:47] aliok commented on #1960
/assign @aliok

[2020-04-10 13:47] aliok commented on #1960
We don't have these tests. I started working on them.

[2020-04-10 16:37] trisberg opened #2962 "Triggers fail with "PhysicalChannelSyncFailed""
**Describe the bug**
When creating a trigger it fails with "PhysicalChannelSyncFailed". I'm using in-memory channel as default. I also see `'PhysicalChannelSyncFailed' Failed to synchronize to channel \"default-kne-trigger\": admission webhook \"webhook.eventing.knative.dev\" denied the request: mutation failed: cannot decode incoming new object: json: unknown field \"subscribers\""` in the contro

[2020-04-10 21:48] ericlem commented on #1634
Looking through the docs, both the referring document and the pointed to documents do now list the .yaml file to be installed for the example sources, so this seems fixed.

/close

[2020-04-10 21:48] #1634 closed

[2020-04-11 12:40] antoineco commented on #2924
/assign

[2020-04-12 11:33] antoineco commented on #2924
I just ran a debugger and found the source of the issue.

In the call to [`*pkg/duck.listableTracker.ensureTracking`](https://github.com/knative/eventing/blob/1e68f1cfe5bb4f8c67aca7b09b36b973cde278dc/pkg/duck/listable.go#L119-L121) we try to get a pair of lister/informer for the given GVR (where `gvr` is `{Group: "messaging.knative.dev", Version: "v1alpha1", Resource: "inmemorychannels"}`):

https

[2020-04-12 18:51] aliok commented on #1850
/assign @aliok

I can work on this one, while doing https://github.com/knative/eventing/issues/1960

[2020-04-13 08:27] aliok commented on #1850
@aslom

Do we really need to retrieve the CRD? We already have the GVK of the channel passed to the test and we can just check the `Kind` from GVK passed.

[2020-04-13 09:28] matzew commented on #1850
+1 Ali

On Mon 13. Apr 2020 at 10:27, Ali Ok <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-04-13 10:43] aliok commented on #1765
/assign @aliok

I can work on this along with https://github.com/knative/eventing/issues/1960

[2020-04-13 12:04] knative-test-reporter-robot opened #2967 "[flaky] test/e2e.TestChannelChain/TestChannelChain-{InMemoryChannel_messaging.knative.dev/v1beta1}"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelChain/TestChannelChain-{InMemoryChannel_messaging.knative.dev/v1beta1}
* **Repository name**: eventing

[2020-04-13 15:33] n3wscott commented on #2962
What version of the in-memory-channel controller do you have running?

[2020-04-13 16:21] grantr commented on #2956
Duplicate of #2957

[2020-04-13 16:21] #2956 closed

[2020-04-13 16:27] #623 closed

[2020-04-13 16:27] #647 closed

[2020-04-13 16:28] #891 closed

[2020-04-13 16:32] grantr commented on #993
Fixed by the switch to Destination.

[2020-04-13 16:32] #993 closed

[2020-04-13 16:36] grantr commented on #1267
This was fixed by introducing the Destination type.

[2020-04-13 16:36] #1267 closed

[2020-04-13 16:37] grantr commented on #1268
NATSS channel now lives in https://github.com/knative/eventing-contrib. Please reopen there if this is still an issue.

[2020-04-13 16:37] #1268 closed

[2020-04-13 16:43] grantr commented on #1370
We now use URIResolver from knative/pkg for this, but SinkReconciler still exists and seems unused. Closing this and creating a new bug to remove it.

[2020-04-13 16:43] #1370 closed

[2020-04-13 16:53] grantr opened #2969 "SinkReconciler is unused and should be removed"
**Describe the bug**
SinkReconciler has been replaced by URIResolver but still exists in https://github.com/knative/eventing/blob/master/pkg/duck/sinks.go. No code in eventing or eventing-contrib (or knative-gcp) uses it.

 **Expected behavior**
Dead code is deleted.

 **Knative release version**
0.14.0

**Additional context**
Replaces #1370

/cc @n3wscott because you opened https://github.com/kna

[2020-04-13 17:03] trisberg commented on #2962
Hmmm, tried again with Eventing 0.13.5 and a new cluster, couldn't reproduce the issue. Maybe I had some old version resource left on the cluster last time I tried this new version. Closing this issue for now.

[2020-04-13 18:00] n3wscott commented on #2962
I can confirm this is happening with eventing nightly release. which is annotated `eventing.knative.dev/release: v0.13.6`

[2020-04-13 18:00] n3wscott commented on #2962
I am going to try with eventing master now.

[2020-04-13 18:27] n3wscott commented on #2962
Ok on master it works, I clean installed from current master.

I think this is related to the mid-migration that was happening for IMC last week.

[2020-04-13 18:45] antoineco opened #2970 "Create a default Broker upon Trigger creation by default"
_This echoes a thread [started on Slack](https://knative.slack.com/archives/C9JP909F0/p1586510617326500) (#eventing, April 10th)_

**Problem**

We've had multiple discussion, especially in knative/docs#2325 and knative/eventing#2946, about making the automatic injection of a (MT-)Broker per namespace the default.

To sum up the current state of the discussion:

* _pro_
    Creating a MT-Broker is

[2020-04-14 07:13] antoineco commented on #2970
/kind proposal
/area eventing

[2020-04-14 07:15] antoineco commented on #2970
/help

[2020-04-14 07:15] antoineco commented on #2970
/remove-help

[2020-04-14 07:16] antoineco commented on #2970
/remove-kind feature-request

[2020-04-14 08:30] matzew opened #2972 "Applying Trigger gives errors on 1.18"
**Describe the bug**

Applying a trigger like:

[code]

on 1.18 gives error:

[code]

 **Expected behavior**
Works with out an issue

 **To Reproduce**

Can be reproduced running the `TestTriggerDependencyAnnotation` against 1.18

 **Knative release version**
HEAD / 0.14

[2020-04-14 08:32] matzew commented on #2972
This leaves the trigger in some weird state:

[code]

and some details:

[code]

[2020-04-14 08:48] matzew commented on #2972
Is true for "normal" triggers as well.

e.g.

[code]

and see logs:

[code]

[2020-04-14 08:51] slinkydeveloper commented on #2918
@ian-mi I'm dumping this problem to the spec

[2020-04-14 09:14] slinkydeveloper commented on #2918
@ian-mi I've opened an issue in the spec repo https://github.com/cloudevents/spec/issues/603

[2020-04-14 10:45] matzew commented on #2889
/close

fixed via:
* https://github.com/knative/eventing/pull/2936
* https://github.com/knative/eventing/pull/2946

[2020-04-14 10:45] #2889 closed

[2020-04-14 10:45] matzew commented on #2937
/close

fixed via https://github.com/knative/eventing/pull/2946

[2020-04-14 10:45] #2937 closed

[2020-04-14 11:19] antoineco commented on #2972
Does it work if you add this to the CRD?

https://github.com/triggermesh/aws-event-sources/blob/9fbff64d4ba683320d8b6c4b0d217295229c9d57/config/300-awscodecommit.yaml#L47-L56

[2020-04-14 11:26] matzew commented on #2972
No.

it's already set on the CRD, for both versions, e.g.:
https://github.com/knative/eventing/blob/master/config/core/resources/trigger.yaml#L115

[2020-04-14 11:27] matzew commented on #2972
ah, wait that was for the spec ...

[2020-04-14 11:27] antoineco commented on #2972
Actually the error says it all `.spec.subscriber.ref.namespace: field not declared in schema`. We didn't declare that field: https://github.com/knative/eventing/blob/8b84739/config/core/resources/trigger.yaml#L143-L159

The line you referenced if for the `status`, not the `spec`.

[2020-04-14 11:28] antoineco commented on #2972
/assign

[2020-04-14 11:32] matzew commented on #2972
yeah, that works

[2020-04-14 12:02] #2972 closed

[2020-04-14 15:53] antoineco opened #2974 "CEAttributes for new types are ignored until the eventing controller gets restarted"
**Describe the bug**

My cluster contains a custom object that exposes the following `ceAttributes`:
[code]

The custom resource for that object was registered (its CRD was created) _while_ the eventing controller was up.

After registering the custom resource and creating an instance of that resource (the custom object), the eventing controller did not create the corresponding `EventTypes`:

[cod

[2020-04-14 16:35] matzew commented on #2970
kinda related... https://github.com/knative/eventing/issues/1837

[2020-04-14 16:45] matzew commented on #2434
the team is already doing this.

I guess this is now obsolete ?

[2020-04-14 17:00] matzew commented on #2355
@n3wscott @antoineco  is this still a thing ?

or can be closed ?

[2020-04-14 17:03] #2274 closed

[2020-04-14 17:03] grantr commented on #1573
@lionelvillard will break this issue down into smaller, more concrete tasks so we can measure progress more accurately.

[2020-04-14 17:06] akashrv commented on #2869
Closing as all the related issues are closed.

[2020-04-14 17:06] #2869 closed

[2020-04-14 17:08] antoineco commented on #2355
It wasn't addressed as far as I can see in `Gopkg.toml`.

[2020-04-14 17:10] akashrv commented on #2609
P0: Let's fix the issue and add missing fields manually
P1: Auto-gen

[2020-04-14 17:14] matzew commented on #2355
mind addressing it @antoineco  ? :-)

[2020-04-14 17:15] antoineco commented on #2355
Done

[2020-04-14 17:42] #2355 closed

[2020-04-14 18:31] lionelvillard opened #2977 "Sequence does not propagate delivery parameters"
**Describe the bug**
Sequence and Parallel do not propagate delivery parameters

 **Expected behavior**
Sequence and Parallel should propagate delivery parameters to underlying subscriptions.

 **To Reproduce**
See https://github.com/knative/eventing/issues/1573#issuecomment-601417512

 **Knative release version**
master

 **Additional context**
Add any other context about the problem here such as

[2020-04-14 18:42] grantr commented on #1755
Looks like most of these items have their own issues now. @Harwayne are you able to create issues for any tasks that don't have them and close this one?

[2020-04-14 18:47] matzew opened #2978 "Hard coded istio-system usage on tracing"
**Describe the bug**

Some tracing code has hard coded `istio-system` dependency:

* https://github.com/knative/eventing/blob/master/pkg/tracing/setup.go
* https://github.com/knative/eventing/blob/master/test/conformance/helpers/tracing/zipkin.go

 **Expected behavior**

I guess no hard coded usage of `istio-system`

 **Knative release version**
HEAD

 **Additional context**

Perhaps related:
* ht

[2020-04-14 18:51] lionelvillard opened #2979 "PingSource mt adapter should retry sending events"
**Problem**
The mt ping adapter does not retry sending events when they failed to be consumed

**Exit Criteria**
The mtping adapter send message to a non-ready subscriber and retries until it succeeds.

[2020-04-14 18:57] lionelvillard opened #2980 "APIServerSource adapter should retry sending events"
**Problem**
The apiserver source adapter does not retry sending events when they failed to be consumed

**Exit Criteria**
The apiserver adapter sends message to a non-ready subscriber and retries until it succeeds.

[2020-04-14 18:57] lionelvillard commented on #1573
The remaining tasks are:
- https://github.com/knative/docs/issues/2043
- https://github.com/knative/eventing/issues/2977
- https://github.com/knative/eventing/issues/2210
- https://github.com/knative/eventing/issues/2979
- https://github.com/knative/eventing/issues/2980

[2020-04-14 18:57] #1573 closed

[2020-04-14 18:59] grantr opened #2981 "Report controller metrics in test runs"
**Problem**
In https://github.com/knative/eventing/issues/2869 we suspect that some recent flakiness may be related to a controller overloading the apiserver during test runs. This is hard to verify because we don't have reporting of controller metrics in the test results.

I think it would be a good idea to report the standard controller metrics (number of reconciles, time spent reconciling, reco

[2020-04-14 19:48] pierDipi commented on #2636
/close

[2020-04-14 21:34] grantr opened #2982 "Document the release notes compilation procedure"
**Describe the bug**
@grantr hasn't told anyone how to write release notes.

 **Expected behavior**
Any contributor can write the notes for a release by following the docs.

[2020-04-14 22:44] #1850 closed

[2020-04-15 08:30] aliok commented on #1765
I will stop working on this one.
I can't make tracing running properly on Minikube nor on OpenShift and I don't have access to GKE setup that the Prow job uses with GKE's _Istio Addon_.

Some discussion here: https://knative.slack.com/archives/C9JP909F0/p1586885155386900

@aslom How did you develop the existing tracing tests? Did you target GKE during development?

Also, I see following in 0.14 se

[2020-04-15 08:32] aliok commented on #1765
/unassign @aliok

[2020-04-15 08:36] matzew commented on #2337
/close

tested on Openshift 4.5 (1.18 k8s)

all works as expected:

[code]

USED 0.14 release

[2020-04-15 08:36] #2337 closed

[2020-04-15 09:56] v0id3r opened #2985 "Channel subscribers not updated properly on subscriber deletion"
**Describe the bug**
Common flow: when subscription is reconciled - channel is patched.
Right now on subscription deletion, channel subscribers are not patched properly:
- subscription deleted
- in channel subscribers list we still see old entry about this subscription

 **Expected behavior**
When subscription is deleted - it should always be removed from channel subscribers list.

 **To Reproduce

[2020-04-15 11:11] aliok opened #2987 "Conformance tests for channel annotation requirements"
**Problem**

Extracting from the [spec](https://github.com/knative/eventing/blob/master/docs/spec/channel.md):

[code]

Tests:
- [ ] Instantiated channel should have `messaging.knative.dev/subscribable` annotation with value `v1alpha1` or `v1beta1`

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
System Integrator, Contributors

**Exit Criteria**
Test required beha

[2020-04-15 11:11] aliok commented on #2987
/project Channels

[2020-04-15 11:17] matzew commented on #2987
/project Channels

[2020-04-15 11:18] aliok opened #2988 "Conformance tests for channel CRD spec requirements"
**Problem**

Extracting from the [spec](https://github.com/knative/eventing/blob/master/docs/spec/channel.md):

Tests:
- [ ] Channel CRD MUST have `spec.subscribable.subscribers` or `spec.subscribers`. As there's no way of knowing what channel spec version the channel supports, instantiate a channel and then check the annotation `messaging.knative.dev/subscribable` in the channel instance . There'

[2020-04-15 11:47] aliok opened #2989 "Conformance tests for channel CRD status requirements"
**Problem**

Following tasks are created according to the [spec](https://github.com/knative/eventing/blob/master/docs/spec/channel.md).

**Note**: this ticket is only for CRD validation. Values of the fields in the status are to be tested in https://github.com/knative/eventing/issues/2992.

Tests:
- [ ] v1alpha1: Channel CRD MUST have a`status` subresource which contains `address` and
`subscribabl

[2020-04-15 12:04] knative-test-reporter-robot opened #2990 "[flaky] test/e2e.TestEventTransformationForSubscription"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForSubscription
* **Repository name**: eventing

[2020-04-15 12:04] knative-test-reporter-robot opened #2991 "[flaky] test/e2e.TestEventTransformationForSubscription/TestEventTransformationForSubscription-{InMemoryChannel_messaging.knative.dev/v1beta1}"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForSubscription/TestEventTransformationForSubscription-{InMemoryChannel_messaging.knative.dev/v1beta1}
* **Repository name**: eventing

[2020-04-15 12:04] #2967 closed

[2020-04-15 12:04] #2802 closed

[2020-04-15 12:05] aliok opened #2992 "Conformance tests for channel status requirements"
**Problem**

Following tasks are created according to the [spec](https://github.com/knative/eventing/blob/master/docs/spec/channel.md).

Tests:
- [ ] v1alpha1: When the channel instance is ready to receive events `status.address.hostname` and `status.address.url` MUST be populated and `status.addressable` MUST be set to `True`.
- [ ] v1beta1: When the channel instance is ready to receive events `s

[2020-04-15 12:20] aliok opened #2993 "Conformance tests for channel subscriber status requirements"
**Problem**

Following tasks are created according to the [spec](https://github.com/knative/eventing/blob/master/docs/spec/channel.md).

**Note**: There is a separate ticket for CRD conformance: https://github.com/knative/eventing/issues/2989

Tests:
- [ ] v1alpha1: Each subscription to a channel is added to the channel `status.subscribableStatus.subscribers` automatically. The ready field of the

[2020-04-15 12:24] aliok commented on #2987
/assign @aliok

[2020-04-15 12:51] matzew opened #2994 "PingSource broken when created before the KSVC"
**Describe the bug**

create a ping source before a ksvc, and notice that it will _never_ go to `READY` state.

[code]

 **Expected behavior**

once the `ksvc` is there, it should go to ready state.

 **To Reproduce**

1. Install eventing first
1. Creates a pingsource
1. Install Serving
1. Creates a ksvc
1. Creates a new PingSource
1. Creates a new ksvc
1. Notice that none of the PingSources becom

[2020-04-15 12:53] aslom commented on #1765
@aliok I was using external cluster however that was few months ago so there may have been chnages in cloudevents go SDK that changed how tracing works

[2020-04-15 12:58] matzew commented on #2994
In the `eventing controller` log I see something like:

[code]

[2020-04-15 12:59] matzew commented on #2994
the `ksvc` objects are `READY`:

[code]

but the not so the sources:

[code]

[2020-04-15 13:00] matzew commented on #2994
when I _kill_ the `eventing controller` pod,

the sources are correctly reconciled and eventually will be true.  but only when I kill the pod...

[2020-04-15 14:02] n3wscott commented on #2994
The first failure is expected. The watch on the ksvc kind fails.

Why it does not recover with the new source is interesting...

[2020-04-15 14:58] antoineco commented on #1837
The paragraph linked in the issue description was moved to https://github.com/knative/docs/blob/master/docs/eventing/channel-based-broker.md

[2020-04-15 15:16] matzew opened #2996 "Trigger without a broker does not correctly reflect ready status"
**Describe the bug**

apply a trigger with a missing broker, the `READY` and `REASON` status fields have no info

 **Expected behavior**

It should be stated that the trigger is not `ready` and give a `reason`

 **To Reproduce**

apply a trigger, but have no broker

 **Knative release version**
* 0.13
* 0.14
* HEAD

 **Additional context**

From the controller log:

[code]

and the output of the t

[2020-04-15 16:23] grantr commented on #2996
This happens because triggers are not reconciled when their broker doesn't exist.

One possible solution is to alter the reconciler so that instead of immediately returning when encountering a broker key that doesn't exist, it instantiates a new broker and reconciles anyway. The reconciler would need to be aware that if it receives a broker that has not been created yet, it should only reconcile t

[2020-04-15 19:22] lionelvillard opened #2998 "Remove single-tenant pingsource adapter"
now that we have a multitenant receive adapter.

[2020-04-15 19:47] #2985 closed

[2020-04-16 06:40] aliok commented on #2987
/In Progress

[2020-04-16 06:40] aliok commented on #2987
/Project In Progress

[2020-04-16 06:45] aliok commented on #2987
/area channels
/area test-and-release

[2020-04-16 06:46] aliok commented on #2988
/area channels
/area test-and-release

[2020-04-16 06:46] aliok commented on #2989
/area channels
/area test-and-release

[2020-04-16 06:46] aliok commented on #2992
/area channels
/area test-and-release

[2020-04-16 06:46] aliok commented on #2993
/area channels
/area test-and-release

[2020-04-16 06:46] aliok commented on #1591
/area channels
/area test-and-release

[2020-04-16 07:39] aliok commented on #2987
Unless there's a way of checking what channel duck type version the channel supports without creating an instance of the channel, this test doesn't make sense.

Say it supports v1alpha1 channel duck type. The annotation value will be either empty or `v1alpha1`.

Say it supports `v1beta1` channel duck type. The annotation value will be `v1beta1`.

But, we can only find out the channel duck type ver

[2020-04-16 07:39] #2987 closed

[2020-04-16 09:16] matzew opened #2999 "eventtypes isn't configured for webhook conversion"
**Describe the bug**

Installing 0.14 on 1.18, I am getting:

[code]

[2020-04-16 10:49] aliok commented on #2992
/assign @aliok

[2020-04-16 10:49] aliok commented on #2989
/assign @aliok

[2020-04-16 10:58] pierDipi commented on #2636
@lionelvillard, can you close this issue?

[2020-04-16 11:33] aliok commented on #2989
/close

This case is invalid. A Channel implements Channelable and these things in the PR description are always available in Channelables.
We cannot check if the CRD has these. We can only check if the instance, CR, has these fields set properly. There are other tests for them: https://github.com/knative/eventing/issues/2992, https://github.com/knative/eventing/issues/2993

[2020-04-16 11:33] #2989 closed

[2020-04-16 13:12] #2636 closed

[2020-04-16 13:50] aliok commented on #2993
/assign @aliok

[2020-04-16 14:31] #2992 closed

[2020-04-16 15:54] markfisher commented on #2970
I believe auto-creating a Broker upon Trigger creation sets a precedent that goes against the fine-grained level-triggered reconciliation model of Kubernetes, leading to a more coarse-grained transactional view of a collection of collaborating resources.

Kubernetes resource reconciliation often involves cascading creation of lower-level _dependency_ resources which are owned/managed and/or delega

[2020-04-16 18:31] grantr opened #3002 "Default broker channel configmap points to v1alpha1 IMC"
**Describe the bug**
Default broker channel configmap uses v1alpha1 IMC version: https://github.com/knative/eventing/blob/618199c51d896ccdf32dc653128f15500773de52/config/core/configmaps/default-broker-channel.yaml

 **Expected behavior**
Seems like we should default to v1beta1 IMC now.

 **Knative release version**
0.14.0

 **Additional context**

[2020-04-16 18:49] lberk commented on #3002
/assign

[2020-04-16 18:51] grantr opened #3003 "Channel broker controller uses v1alpha1 broker and trigger types"
**Describe the bug**
The channel broker still uses the v1alpha1 types to work with brokers and triggers.

 **Expected behavior**
The channel broker uses v1beta1 types.

 **Knative release version**
0.14.0

 **Additional context**
I'm not sure if this is actually causing any issues, but it seems like it could theoretically cause failed trigger updates since the trigger validation in v1beta1 is diff

[2020-04-16 18:51] matzew commented on #2933
@n3wscott should this be for milestone 0.15 ?

[2020-04-16 20:33] evankanderson opened #3006 "Fill out compatibility matrix here for release versioning"
**Describe the issue**
The [Knative community release principles](https://github.com/knative/community/blob/master/mechanics/RELEASE-VERSIONING-PRINCIPLES.md) describes the general release and compatibility philosophy for Knative, and includes a table of Knative API versions along with Knative release versions and compatible Kubernetes versions.

 **Expected behavior**
The current release principl

[2020-04-16 20:39] #3002 closed

[2020-04-16 23:56] AceHack commented on #2880
@aslom we are looking to push 50k+ events per second through Knative serving and eventing so batching would help meet that goal cost effectively.

[2020-04-17 00:15] duglin commented on #2880
@AceHack which protocol/event-source are you looking at using?

[2020-04-17 12:04] #2990 closed

[2020-04-17 12:04] #2991 closed

[2020-04-17 16:02] #2924 closed

[2020-04-17 16:46] #2850 closed

[2020-04-18 22:03] AceHack opened #3009 "v0.14.0-upgrade job fails when using Istio auto-injection"
**Describe the bug**
When installing the knative eventing operator the `v0.14.0-upgrade` jobs fails with the following error.  It appears the service account it uses: `eventing-controller` does have permission to namespaces so the problem appears to be it's not waiting for the envoy proxy to become ready.
[code]
**Expected behavior**
Job to complete successfully

**To Reproduce**
Install upgrade j

[2020-04-19 17:33] antoineco commented on #2949
#2998

[2020-04-19 17:48] haf opened #3011 "Hello world sample doesn't work"
**Describe the bug**
The hello world sample here doesn't work: https://knative.dev/development/eventing/samples/helloworld/helloworld-go/

 **Expected behavior**
Should be possible to compile the app with the dockerfile.

 **To Reproduce**

Follow the hello world guide.

1) missing package statement in the entry point file
2) missing instructions on how to download/initialise go mod or otherwise d

[2020-04-20 01:38] AceHack commented on #2880
By the end of year, we need durability guarantees but I'm happy to use any channel with those guarantees.  Before the end of the year in memory channel will suit our needs.

[2020-04-20 01:39] AceHack commented on #2880
FYI our source originator is two-fold, AWS SQS, and a custom one we wrote for Cassandra.

[2020-04-20 07:19] matzew opened #3012 "triggers.eventing.knative.dev CRD, wrong subscriberUri jsonpath in additionalPrinterColumns"
**Describe the bug**

`k get triggers <name>` does not show `SUBSCRIBER_URI`:

[code]

 **Expected behavior**

It's shown

 **Knative release version**
* HEAD
* 0.14

[2020-04-20 07:32] matzew opened #3014 "PhysicalChannelSyncFailed when mixing v1alpha1 and v1beta1 Subscriptions"
**Describe the bug**

Getting `PhysicalChannelSyncFailed` error, when mixing alpha/beta APIs on subscribers, see:

[code]

 **Expected behavior**

Not sure, tbh ... since IMO the usage of the channel is wrong:

[code]

Or should this work and be "converted" ?

/cc @vaikas
/cc @lionelvillard

 **Knative release version**
* 0.13
* 0.14

[2020-04-20 07:54] #3012 closed

[2020-04-20 09:25] nicolaferraro commented on #3014
This happens in Camel K as well. The inmemorychannel is both served and stored in version v1alpha1, so I'd expect that I can reference it that way.

[2020-04-20 11:15] matzew commented on #3014
and, even if you query via version, you get the channel, see:

[code]

and via beta, same object:
[code]

[2020-04-20 15:12] #3009 closed

[2020-04-20 16:48] AceHack opened #3019 "Broker ingress constantly scaled up and down in 0.14.0"
**Describe the bug**
About every 30 seconds broker ingress is scaled from 1 to 2 and then about 30 seconds later it's scaled from 2 to 1 over and over in a loop.  Currently, there are no brokers in the system.

 **Expected behavior**
A more stable broker ingress scaling.

 **To Reproduce**
install eventing 0.14.0.

 **Knative release version**
0.14.0

 **Additional context**
Logs from the broker c

[2020-04-20 16:53] vaikas commented on #3019
Sorry, are you seeing the broker-ingress deployment (assuming MT Broker?) being scaled, or? Having a hard time seeing from the logs what's going on here :)

[2020-04-20 17:04] AceHack commented on #3019
I'm just taking a shot in the dark here but this appears it could be the hpa and the broker controller fighting each other.  hpa is trying to set replica count to 2 and broker controller keeps setting it back to 1.  Again this is just a guess.

It's not the MT broker, it's the channel broker ingress.

[2020-04-20 17:06] AceHack commented on #3019
The "Reconcile succeeded" correspond to when the deployment gets scaled back down to 1

[2020-04-20 17:06] vaikas commented on #3019
Hm, ok, the "channel broker" should not have HPA, perhaps the selectors are set incorrectly. HPA should only target the MT Broker ingress.

[2020-04-20 17:09] AceHack commented on #3019
I see:
[code]

Also I really would hope broker ingress has hpa or else how will it ever scale.  I think the broker controller just needs to relax it reconcile loop to ignore replica count.

[2020-04-20 17:16] grantr commented on #3019
I haven't looked at the code, but if this is the issue then it can probably be fixed by using `equality.Semantic.DeepDerivative` instead of `equality.Semantic.DeepEqual` when the broker controller checks to see if the deployment needs to be updated.

[2020-04-20 17:59] AceHack commented on #3019
I'm having a hard time following the code, can you tell me where this points?
https://github.com/knative/eventing/blob/d86dd6d96c564e0af008b2b40a85cff8ea7aa9a6/pkg/reconciler/broker/controller.go#L121-L124

[2020-04-20 18:11] grantr commented on #3019
That event handler says: "When a deployment is updated and has an OwnerReference pointing to a Broker, reconcile the owning Broker".

Here's where the deployment is actually compared for update: https://github.com/knative/eventing/blob/d86dd6d96c564e0af008b2b40a85cff8ea7aa9a6/pkg/reconciler/broker/broker.go#L365

Of course it already uses DeepDerivative, so there goes my theory. And [the ingress d

[2020-04-20 18:13] grantr commented on #3019
@AceHack can you paste in the yaml of the deployment being scaled up and down?

[2020-04-20 18:32] AceHack commented on #3019
Seems it's the operator, they commented in slack

[2020-04-20 18:33] AceHack commented on #3019
I'll move this issue over there.

[2020-04-20 18:34] AceHack commented on #3019
Closing because moved to operator

[2020-04-20 19:16] AceHack commented on #3019
reopened here since the problem seems to need yaml changes here.

[2020-04-20 19:32] brindasanth opened #3023 "Event Sink destination service with method pathUrl"
**Problem**
Couldn't send multiple event message types to Knative services having multiple service http post paths exposed.

I have Knative services exposes multiple http post methods to collect events from multiple sources. I don't know how to configure http method paths in Knative Sink( Destination) configuration.

In this case, I wanted to avoid multiple service creations with default method pa

[2020-04-20 20:03] vaikas commented on #3023
You should be able to point to a full URL or refer an object and add a relative URL in the URL part:

https://github.com/knative/pkg/blob/master/apis/duck/v1/destination.go#L26

[2020-04-20 20:04] vaikas commented on #3019
@AceHack look good?

[2020-04-20 20:08] vaikas commented on #3014
The channels should have the label indicating if they do v1alpha1 or v1beta1. I think we do this in the IMC conversions.

[2020-04-20 20:09] vaikas commented on #3011
@akashrv would you mind taking a look here? I think you wrote this sample?

[2020-04-20 20:12] vaikas commented on #3003
This is in the reconcilers?

[2020-04-20 20:29] akashrv commented on #3011
Ack. Will take a look.

[2020-04-20 20:47] #3019 closed

[2020-04-20 20:55] grantr commented on #3003
Yes: https://github.com/knative/eventing/blob/a5df82ad0178d946912099b87d4d2e1d03a083fc/pkg/reconciler/broker/broker.go#L42-L49

[2020-04-21 00:52] brindasanth commented on #3023
Thanks for your response.

[2020-04-21 00:52] #3023 closed

[2020-04-21 08:06] slinkydeveloper commented on #2978
/assign

I can take care of this one

[2020-04-21 08:12] slinkydeveloper commented on #2978
Looks like the `adapter.Main`, used by most sources, uses the hardcoded istio-system config: https://github.com/knative/eventing/blob/master/pkg/adapter/main.go#L118

While other components, like the IMC dispatcher, uses a dynamic config based on `config-tracing` ConfigMap: https://github.com/knative/eventing/blob/master/pkg/reconciler/inmemorychannel/dispatcher/controller.go#L59

[2020-04-21 10:22] #2044 closed

[2020-04-21 11:55] slinkydeveloper commented on #2643
As soon as #3026 is merged, this should be fixed easily injecting the config map in the envs of the cron job receive adapter, like done here for `ApiServerSource`:

* https://github.com/knative/eventing/pull/3026/files#diff-d99b024fa0cd240e5a9ba150e807531a
* https://github.com/knative/eventing/pull/3026/files#diff-edbbfc473b7a21fb3031e92071dcca86
* https://github.com/knative/eventing/pull/3026/fil

[2020-04-21 12:38] lionelvillard commented on #2643
Is this issue still relevant? The single tenant ping adapter is not used anymore.

Can you try with 0.14?

[2020-04-21 12:46] slinkydeveloper commented on #2643
It's not relevant to the ping source, but the same problem applies to other sources i think, please look this discussion https://knative.slack.com/archives/CQBKVH4QY/p1587470867045600

[2020-04-21 19:59] houshengbo opened #3033 "All resources in channel-broker and mt-channel-broker have been defined twice"
**Describe the bug**
All resources in channel-broker and mt-channel-broker have been defined twice.

 **Expected behavior**
All resources in channel-broker and mt-channel-broker should be defined only once.

 **To Reproduce**
Check the yaml files of channel-broker and mt-channel-broker.

 **Knative release version**
0.14.x

 **Additional context**
Add any other context about the problem here such

[2020-04-21 20:09] sebgoa commented on #3011
I confirm that this is a bug. I am commenting on the PR

[2020-04-21 20:29] jingweno commented on #2357
I just met this error with the same exact errors and stacktrace as mentioned in https://github.com/knative/eventing/issues/2357#issuecomment-575376198. Any update on this?

[2020-04-22 03:06] AceHack opened #3035 "pingsource-jobrunner has no ownerref"
**Describe the bug**
pingsource-jobrunner gets created as needed by the eventing-operator but without a ownerref, this causes problems on uninstall of eventing as the pingsource-jobrunner deployment never gets cleaned up and is left around as an orphan crash loop forever.

 **Expected behavior**
pingsource-jobrunner to get cleaned up on uninstall of knative eventing.

 **To Reproduce**
Install kna

[2020-04-22 03:13] vaikas commented on #3035
@lionelvillard

[2020-04-22 03:58] mattmoor opened #3036 "IMC dispatcher has unreasonable resource requests/limits"
**Describe the bug**
I consider this a bug because IMC is clearly only suitable for "development" environments, and the way things are configured today the IMC dispatcher cannot even be scheduled on a single-core node (and may struggle to schedule in other resource constrained environments).

 **Expected behavior**
IMC should probably omit its resource block and run just about anywhere it can boot

[2020-04-22 08:05] #1960 closed

[2020-04-22 08:45] aliok opened #3037 "Meta `Channel` doesn't conform the spec's status subscribers requirement"
**Describe the bug**
As noted in https://github.com/knative/eventing/pull/3016#issuecomment-616518504, `Channel` doesn't have `subscribers` in the `status`.

[That PR](https://github.com/knative/eventing/pull/3016) is about adding conformance tests for channels around having `subscribers` array in the `status`.

[Spec](https://github.com/knative/eventing/blob/master/docs/spec/channel.md#channel-su

[2020-04-22 09:58] aliok commented on #3037
/area channels
/area test-and-release

[2020-04-22 09:59] aliok commented on #3037
/project Channels

[2020-04-22 20:02] lionelvillard opened #3041 "watch of *v1.Source ended with: ... error"
**Describe the bug**
I'm getting this error in `eventing-controller`:
[code]

[2020-04-23 07:03] #1846 closed

[2020-04-23 14:56] lionelvillard opened #3043 "Cannot upgrade dependencies"
**Describe the bug**
See https://github.com/knative/eventing/pull/3039

 **Expected behavior**
A clear and concise description of what you expected to happen.

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative release version**

 **Additional context**
Add any other context about the problem here such as proposed priority

[2020-04-24 09:00] matzew commented on #3043
progress: #3045

[2020-04-24 13:42] aliok commented on #2988
/close

This test does not make a lot of sense.
Similar to https://github.com/knative/eventing/issues/2989#issuecomment-614596892

[2020-04-24 13:57] aliok commented on #2988
/reopen

No, it makes sense

[2020-04-24 14:36] lionelvillard commented on #3043
fixed: https://github.com/knative/eventing/pull/3046. Thanks @lberk  and @matzew!

[2020-04-24 14:36] #3043 closed

[2020-04-24 16:46] grantr commented on #2660
#3044 is a WIP on switch to go mod, based on https://github.com/knative/pkg/pull/1179.

[2020-04-24 16:57] sebgoa commented on #3014
Yeah...I cannot create triggers anymore :(

[code]

Which I get with reason `PhysicalChannelSyncFailed`

[2020-04-24 18:06] aslom commented on #2271
Could we document here what we agreed during meeting how to proceed with https://github.com/knative/eventing/pull/2388 ?

[2020-04-24 21:37] vaikas commented on #3014
Ok, I have a fix for this. I'll try to get all the tests, etc. done today, but if not, Monday.

[2020-04-24 21:57] jchesterpivotal commented on #3014
I just hit this too. It appeared after restarting a cluster, but I don't know if that's related or coincidental.

[2020-04-24 23:58] vaikas commented on #3014
Can @sebgoa & @jchesterpivotal send me a repro, esp. if it's related to triggers as I wouldn't expect that to fail. So, I want to make sure I cover those in my tests. The @matzew example I can totes understand.

[2020-04-25 00:01] jchesterpivotal commented on #3014
[code]

[2020-04-25 00:07] aliok opened #3048 "All the controller container names should be called controller"
**Problem**
Image override within operator is problematic at the moment.
Some containers have the same names. Some have different name but their pattern is also different.

I proposed making all container names unique at https://github.com/knative/eventing/issues/2794 but that looks like is not the way to go.

However, to be consistent, let's make all controller container names `controller`.
This

[2020-04-25 00:08] aliok commented on #2794
/close

We now do image overriding with deploymentName+container name in the operator: https://github.com/knative/eventing-operator/pull/159

So, this issue doesn't block the image override in eventing operator.
However, because of varying container names and container name patterns it is a bit confusing.
Created https://github.com/knative/eventing/issues/3048

[2020-04-25 00:09] #2794 closed

[2020-04-25 20:30] vaikas commented on #3014
[code]

[2020-04-26 09:05] #3014 closed

[2020-04-27 00:04] aliok opened #3051 "Meta `Channel` doesn't conform the spec's CRD spec.subscribers requirement"
**Describe the bug**
As noted in https://github.com/knative/eventing/pull/3050#issuecomment-619645369, `Channel` doesn't doesn't allow `subscribers` in the spec.

[Spec](https://github.com/knative/eventing/blob/master/docs/spec/channel.md#spec-requirements) says this:

When a `channel.messaging.knative.dev` is created, by default Knative creates an `InMemoryChannel`. When we create a `subscription

[2020-04-27 12:34] sebgoa opened #3054 "Objects don't have a description via `kubectl explain`"
**Describe the bug**
No description when running `kubectl explain`

[code]

 **Expected behavior**
I expected a description like all other k8s objects.

Maybe it comes from the `kubectl` code and we cannot get `explain` to work on CRDs.

[2020-04-27 12:39] matzew commented on #2988
With a `v1beta1` Channel (backed by `IMC`) I get nothing in the spec, for the channel. but for the actual IMC

[code]

[2020-04-27 12:40] matzew commented on #2988
the `spec.subscribers` is updated by the subscription

[2020-04-27 12:56] lionelvillard commented on #3054
related to  #2609

[2020-04-27 15:16] vaikas commented on #3014
@nicolaferraro when you say this happens with camel-k, I only see a source in the eventing-contrib, do you have a repro that I could try to look at, or did this fix your issue as well?

[2020-04-27 19:50] grantr commented on #2996
It's actually more complicated than I originally thought. Triggers created before their brokers exist cannot be reconciled by any broker-classed reconciler because they aren't classified on creation. They only get a broker class indirectly by being related to an existing classified broker. In the quote above, no broker-classed reconciler can correctly be "the reconciler" that reconciles the trigge

[2020-04-27 20:19] grantr commented on #2957
@Harwayne did the tests fail and the nightly was still released or did the nightly tests pass? Trying to identify this as a release script issue or a test coverage issue.

[2020-04-27 20:26] grantr commented on #3036
Seems fine to me to remove these. If we do that, the perf tests for IMC will need to be updated to match (or removed).

[2020-04-27 20:34] grantr commented on #3054
Fixing #2609 (adding OpenAPI to CRDs) will fix this one.

[2020-04-27 20:36] grantr commented on #3006
@vaikas is anyone working on this currently?

[2020-04-27 20:39] grantr commented on #2212
The channel-based Broker should propagate the delivery spec down to the channel.

[2020-04-27 20:40] grantr commented on #2221
Should this still be in 0.15? Is anyone working on it?

[2020-04-27 20:44] grantr commented on #2841
So is the concrete ask here to add documentation of how to write performance tests, or is there a specific architecture issue in the performance tests that needs to be fixed? @vaikas are you able to break this down a bit more?

[2020-04-27 20:45] grantr commented on #2609
Is anyone working on fixing this for 0.15?

[2020-04-27 20:48] grantr commented on #1816
CronJobSource was replaced by PingSource and PingSource generates `event_count` metrics using the CloudEvents client, which already has a test for this.

[2020-04-27 20:48] #1816 closed

[2020-04-27 20:49] grantr commented on #1845
@aliok are you working on data plane conformance tests or just control plane?

[2020-04-27 20:50] grantr commented on #2848
Is anyone looking into this for 0.15?

[2020-04-27 20:52] grantr commented on #2999
@matzew are you interested in looking at this?

[2020-04-27 22:07] jchesterpivotal commented on #2933
I'm seeing the same behaviour with deleting `routes` and `ingresses` as well. It's making it impossible for me to perform from-scratch redeployments of Eventing.

[2020-04-28 00:22] jchesterpivotal commented on #2409
I've encountered this issue also. I'm unable to immediately use the suggested fix as `istio-knative-extras.yaml` is provided for 1.4 and 1.5 ... but GKE's stable channel [only supports Istio 1.2](https://cloud.google.com/istio/docs/istio-on-gke/versions) at time of writing.

So I guess I'll be standing up another cluster :|

[2020-04-28 08:19] aliok commented on #1845
@grantr I haven't done anything around this ticket. I only added tests for control plane.

[2020-04-28 11:59] matzew opened #3056 "Finalizer issue w/ mt ping source deployment"
Running the mt ping source on openshift, I get:

[code]

Looks like related to #3040

[2020-04-28 14:08] matzew commented on #3036
Related - I remove them on our internal build:

https://github.com/openshift/knative-eventing/pull/557

As I get:

[code]

[2020-04-28 14:11] mattmoor commented on #3036
@matzew yeah that's exactly why we should remove it.  If we can't schedule IMC we're doing something wrong 😂

[2020-04-28 14:12] matzew commented on #3036
@mattmoor https://github.com/knative/eventing/pull/3059

than I close "our" own PR for our CI system

[2020-04-28 14:13] #3056 closed

[2020-04-28 15:10] #3036 closed

[2020-04-28 18:16] jchesterpivotal commented on #2409
A followup. Upgrading the the "rapid" GKE channel gets me access to their managed Istio 1.4. What I didn't consider is that the changes in `istio-knative-extras.yaml` are oriented towards patching the version of Istio that Knative *itself* provides. That means that it doesn't work to resolve the issue -- in fact, it breaks the cluster gateway.

I observe the same issue regardless of how I define m

[2020-04-28 19:46] vaikas commented on #2409
I'm little bit at a loss here as to what is b0rk3d in eventing. My understanding from the previous issues was that the endpoints were not being resolved correctly. I agree that we should have one issue tracking these, but what I'm struggling with is if this belongs to serving so we get the right set of eyes looking at it.
@tcnghia (apologies if I misunderstood the issue at hand here)

[2020-04-29 04:30] AceHack commented on #3035
I'm having the same issue with the Kafka channel dispatcher
deployment.apps/kafka-ch-dispatcher

[2020-04-29 08:27] matzew commented on #2999
@grantr two PRs:
* https://github.com/knative/eventing/pull/3063
* https://github.com/knative/eventing/pull/3064

[2020-04-29 08:28] matzew commented on #2999
/assign @matzew

[2020-04-29 10:38] cardil commented on #2271
I think I'll document that on #2388 itself as most people are looking there, and not reading this.

[2020-04-29 12:05] knative-test-reporter-robot opened #3065 "[flaky] _build_tests.Check_Licenses"
### Auto-generated issue tracking flakiness of test
* **Test name**: _build_tests.Check_Licenses
* **Repository name**: eventing

[2020-04-29 15:01] #2978 closed

[2020-04-29 15:43] vaikas opened #3066 "Broker v1alpha1 -> v1beta1 storage & api plan"
**Problem**
v1beta1 is not backwards compatible with v1alpha1 broker and will be lossy. In particular the shape of the API dropped the reference to Channels, because Brokers should not be exposing those implementation details. Plan was to move the storage version of the api forward in the .14 release (which we did not make the cut for), but we're going to do this in 0.15, but if we do so, folks mi

[2020-04-29 15:44] vaikas commented on #3066
We can additionally provide a tool (just like we had the upgrade) that will convert the channel template to configmap and update the Brokers. If we do this, we could stop accepting any new v1alpha1 brokers in .15.

[2020-04-29 20:58] travis-minke-sap opened #3069 "Expose ChannelReference in UnknownChannelError for external use."
**Problem**
Developers of additional Channel implementations would like to use the UnknownChannelError but the struct has a private ChannelReference.  This means we're creating the error with empty information.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributors

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been re

[2020-04-29 21:41] vaikas commented on #3035
@AceHack would you mind creating an issue in the eventing-contrib repo so it gets the appropriate 👀

[2020-04-29 21:56] tcnghia commented on #2409
Hi @jchesterpivotal  for older Istios, maybe we can use https://github.com/knative/serving/blob/release-0.10/third_party/istio-1.2.7/istio-knative-extras.yaml  to install a local gateway?

We removed Istio 1.2 (and 1.3) in our third_party code since both of those versions are deprecated.   However I think the Istio add-on only support up to 1.2.

The *-extras.yaml file for 1.4 should be usable for

[2020-04-29 22:07] vaikas commented on #3051
So, not allowing the setting of subscribers is definitely intentional. Without this it's impossible to have a source of truth that's reliable. If we allow modifications to both channel as well as the backing channel, hilarity will ensue in trying to understand what the actual intent is.

Not propagating the status seems like a bug as they should be propagated to the Channel (from the backing chann

[2020-04-29 22:08] jchesterpivotal commented on #2409
I tried it with 1.4 and didn't have any joy. The problem ultimately was as noted above -- GKE's Istio doesn't work for some reason as yet undetermined. In the meantime I tried Kourier and it seems to be working OK.

[2020-04-30 10:56] aliok commented on #3037
Some info here: https://github.com/knative/eventing/issues/3051#issuecomment-621490834
That ticket is about the `subscribers` info in `status`, not in `spec` but it is also said that status should be propogated from the underlying channel to meta `Channel`

[2020-04-30 11:21] aliok commented on #3051
So, for this issue, is it enough to change the spec statement

to

?

[2020-04-30 11:35] matzew commented on #3051
Right, setting the `subscribers` is not for the `spec`, I added a comment here: https://github.com/knative/eventing/pull/3050#discussion_r415779805

[2020-04-30 11:35] matzew commented on #3051
@vaikas I think I would lean towards the later ?

[2020-04-30 13:29] cliveseldon commented on #2962
@n3wscott I hit this with istio 1.3.1 and knative 0.14.0.

[2020-04-30 14:58] cliveseldon commented on #2962
I'm even getting this on a fresh cluster with 0.13.1 installed.
I create a trigger:
[code]
All is fine until the first event hits it:
then
[code]

[2020-04-30 15:10] matzew commented on #2962
it was fixed on `HEAD` and ported to 0.14:

https://github.com/knative/eventing/commit/4a7a081cccd98468545985445249b557d01ec89f

we can release a 0.14.x "soon" :tm:

[2020-04-30 15:47] vaikas commented on #3051
That was my knee jerk reaction as well.

[2020-04-30 16:02] lberk commented on #3051
ok I'll try and tackle this as part of reviewing's @aliok's #3016
/unassign @aliok
/assign @lberk

[2020-04-30 16:26] cliveseldon commented on #2962
Thanks @matzew Any reason I should hit this in a 0.13.1 fresh installed when previously I had not hit this?

[2020-04-30 17:02] matzew commented on #2962
all I say is with the upcoming 0.14.2 it is fixed

I dont think we cherry pick it to 0.13.x 🤔

On Thu 30. Apr 2020 at 18:27, cliveseldon <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-04-30 17:35] #2999 closed

[2020-04-30 22:56] Harwayne commented on #2962
[0.14.2](https://github.com/knative/eventing/releases/tag/v0.14.2) has been cut and should include the fix.

[2020-05-01 09:50] cliveseldon commented on #2962
Thanks @Harwayne . Tested and works for me with 0.14.2.

[2020-05-01 12:05] #3065 closed

[2020-05-01 22:49] #2962 closed

[2020-05-02 16:16] #3033 closed

[2020-05-04 20:06] vaikas commented on #3069
We should mosdef allow for channel implementations to expose internal errors. Not sure about having it be called UnknownChannelError is the best way to expose this, since the channel impl knows what the error is:
Maybe something like:
"ChannelSpecificError"
or
"InternalChannelError"
or something, but the point about exposing this is 👍

[2020-05-04 20:11] vaikas commented on #2609
@Harwayne would this be something that you might be able to tackle for 0.15? purty please :)

[2020-05-04 20:12] vaikas commented on #3011
@akashrv have you had a chance to take a look at this?

[2020-05-04 20:15] vaikas commented on #3041
Could this be related to the EventTypes? Can you dig up more deets here?

[2020-05-04 20:15] grantr commented on #3041
Might be coming from something related to https://github.com/knative/eventing/blob/master/pkg/reconciler/source/duck/duck.go

[2020-05-04 20:17] vaikas commented on #3006
Messaging == eventing == flows was the plan, we just didn't clean up the MD file. Let's do that first.
Then for sources we need a different matrix.

[2020-05-04 20:21] vaikas commented on #3003
https://github.com/knative/eventing/issues/3066
Let's just hold off on this work until 0.16 for Broker. In 0.15 we can reconcile Triggers using v1beta1.

[2020-05-05 14:58] matzew opened #3084 "knative-eventing-namespace-controller creates events in the "default" namespace"
With eventing 0.13.3  (installed with current CI build of Serverless operator 1.7.0)

Initiating a broker injection (e.g. via a Trigger annotated with ...)

creates k8s Events in the default namespace (instead of the expected namespace in which the broker injection is happening)

[code]

[2020-05-05 15:15] matzew commented on #3084
happens with `foobar2` ns as well:

[code]

[2020-05-05 15:16] matzew commented on #3084
To reproduce:

[code]

than `k get events -n default`

Notice the "default" namespace is now polluted with events related to the "test1" namespace

[2020-05-05 15:27] #3006 closed

[2020-05-05 16:08] lionelvillard commented on #2994
@matzew this scenario works with mtping because the receive adapter is created after the sink existence check. However there is no sink tracker, strange...

[2020-05-05 18:11] #3066 closed

[2020-05-05 22:29] aliok commented on #2988
I added the conformance tests in https://github.com/knative/eventing/pull/3050 but there's some things that are not compliant. Created https://github.com/knative/eventing/issues/3051 for that.

[2020-05-06 05:00] rhuss commented on #2879
For the `kn` client I already started a discussion for adding UI related meta-data some times ago in #1940 with some ideas around this as well (but it never got any traction). IMO the best place would be directly in the `openAPISchema` section of the CRD, by adding `x-...` annotation to the declarations of the fields themselves. However there is lacking support for this in Kubernetes itself, see h

[2020-05-06 05:14] rhuss commented on #2879
@n3wscott you mean something like a `DuckType` named `describable.duck.knative.dev` that then every source author is supposed to implement ?  Sounds good to me ...

[2020-05-06 06:54] zqzzq opened #3090 "the default broker not ready"
**Describe the bug**
A clear and concise description of what the bug is.
label the ns:
[code]
but the broker is not ready:
[code]
my pod in knative-eventing:
[code]
 **Expected behavior**
A clear and concise description of what you expected to happen.
the default broker becomes ready
 **To Reproduce**
Steps to reproduce the behavior.

 **Knative release version**
v0.14.1
 **Additional context**
Ad

[2020-05-06 07:59] slinkydeveloper commented on #1757
I think this one can be closed, since now it works correctly and passes e2e tests, @ian-mi ?

[2020-05-06 12:07] zroubalik commented on #2864
Thank you all for the great input, there are difinitely things I was missing before :)

[2020-05-06 13:56] n3wscott commented on #2879
I was thinking of adding it to the discovery.knative.dev api group.

[2020-05-06 15:48] n3wscott opened #3092 "Adding support for CloudEvents WebHook Spec"
**Problem**
The CloudEvents WG has defined a [webhook spec](https://github.com/cloudevents/spec/blob/master/http-webhook.md) that we at Knative have mostly overlooked.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Knative Developers and Integrators

**Exit Criteria**
Knative can be subscribers for producers that follow the webhook specification. And we can deliv

[2020-05-06 16:03] slinkydeveloper commented on #3092
@n3wscott I don't get where do you plan to support it, can you elaborate it a bit further?

[2020-05-06 16:09] n3wscott commented on #3092
This would be need to be added in the following locations:

For any http based consumers (HTTP Ingress source that is consuming CloudEvents)
Channel ingress would be a Consumer
Channel Invokers could choose to implement the Producer side.
Broker ingress would be a Consumer
Broker Invokers could choose to implement the Producer side.
Flows as well if they implement any active layers between the und

[2020-05-06 16:36] n3wscott commented on #3092
OK! I am miss-understanding the spec.

It seems like the webhook spec is for anything that would like to bridge between two systems, such as HTTP ingress for cloudevents.

the proposal for next actions is this:

- Implement an ingress source that implements the webhook spec (consumer side).
- Implement an egress sink that implements the wehbook spec (producer side).

[2020-05-06 16:39] n3wscott commented on #3092
The webhook spec would still apply to any subscriber or sink from a broker or channel that is using an off-cluster url. That off-cluster consumer might implement the webhook spec and reject events and we will not understand how to deal with that.

[2020-05-06 16:40] slinkydeveloper commented on #3092
So If i understand correctly:

* for sources we just need to do it in the sdk
* for channel, we need to add this handshake to https://github.com/knative/eventing/blob/master/pkg/kncloudevents/message_sender.go and https://github.com/knative/eventing/blob/master/pkg/kncloudevents/message_receiver.go

What I'm thinking is: do we really need it on the sender side? The receiver webhook compliant expec

[2020-05-06 16:41] slinkydeveloper commented on #3092
If we don't implement any auth/rate limiting feature described by the webhook, can we just skip, _for now_, the implementation of the handshake on sender side?

[2020-05-06 16:46] n3wscott commented on #3092
The options dance is optional for the producer, but not optional for a consumer to respond to if it would like to accept events from an options-enabled producer if that makes sense.

[2020-05-06 18:26] slinkydeveloper commented on #3092
Good, I can work on that for https://github.com/knative/eventing/blob/master/pkg/kncloudevents/message_receiver.go

[2020-05-06 20:50] grantr commented on #3090
@zqzzq Thanks for the report. Do you have any pods in the `test` namespace?

[2020-05-06 21:21] vaikas commented on #3003
Ok, triggers are now being reconciled with v1beta1:
https://github.com/knative/eventing/pull/3093

[2020-05-06 21:39] grantr opened #3094 "Alternate brokers need alternate ConditionSets for Broker and Trigger"
**Problem**
When implementing an alternate broker, we need to add/remove conditions to the ConditionSets on Broker and Trigger to reflect the characteristics of the alternate implementation. Currently ConditionSet is an unexported variable so it can't be modified for alternate implementations, requiring workarounds.

I know of two workarounds and neither are great:
* [Ignore the standard Condition

[2020-05-06 22:17] vaikas commented on #3090
From a quick look my guess is that you have installed the MT Broker but the default broker is configured to use ChannelBroker:
See the default broker annotation:
eventing.knative.dev/broker.class: ChannelBasedBroker

And I don't see 'broker-controller' running in knative-eventing.
So, for this particular broker you can change the BrokerClass to MTChannelBasedBroker
So, if you do kubectl -n test ed

[2020-05-06 22:36] vaikas opened #3095 "We need to add a post install job for upgrading storage versions."
**Problem**
For v0.15 we need to run a job to upgrade the storage version for objects from v1alpha1 -> v1beta1. We should be able to do something like this:
https://github.com/knative/serving/pull/7499/files
https://github.com/knative/docs/pull/2369/files
https://github.com/knative/serving/pull/7204/files

One caveat is that _I think_ for all the channels we need to ensure that for all the channel

[2020-05-06 22:42] vaikas commented on #3095
It would be probably interesting to look at how we might be able to extend this:
https://github.com/knative/pkg/blob/master/apiextensions/storageversion/migrator.go#L90

So we could do any conversion necessary to the object there.

[2020-05-06 23:06] akashrv opened #3096 "Collect ideas for sample use cases or reference applications"
To promote Knative Eventing adoption and help customers understand how to embrace event-driven with Knative Eventing we need to create a set of sample or reference applications. These are not hello-world or how-to examples, but are applications that depict real scenarios and something end-users could relate to. Example: Image/Video processing ML-based pipeline, retail shopping cart experience. Ide

[2020-05-06 23:12] akashrv commented on #3096
@nlopezgi Since you had some ideas. Here is a public issue to collect ideas.

[2020-05-07 00:25] akashrv commented on #3011
Looking at it now. I have the build fix + switch to go mod. I'll wait for a day to see if @haf responds on his PR, or else will send a PR and we can get this fixed.

[2020-05-07 00:58] akashrv commented on #3011
https://github.com/knative/docs/pull/2438 --> Please approve.

[2020-05-07 08:13] zqzzq commented on #3090
@vaikas thank you very much! The default broker becomes ready according to your suggestion, closing this.

[2020-05-07 08:13] #3090 closed

[2020-05-07 09:09] matzew commented on #2879
here is a proposal from @n3wscott with some more details:

https://docs.google.com/document/d/1CVMI0IpGqZH7j64-KQ6_8hJVUkeYEM0pdXslJ10a69E/edit#

[2020-05-07 14:07] n3wscott commented on #2879
You need to join the knative users or dev group to read

[2020-05-07 16:47] vaikas commented on #3090
Great to hear!! 👍

[2020-05-07 16:48] vaikas commented on #3090
sigh, I had made a typo in the original instructions, but looks like despite this oversight you figured it out :) For future references it should have said:
[code]
eventing.knative.dev/broker.class: ChannelBasedBroker
[code]
eventing.knative.dev/broker.class: MTChannelBasedBroker
[code]

[2020-05-07 16:48] #3011 closed

[2020-05-07 17:16] akashrv opened #3097 "User experience Issue with Broker URL"
**Context**
While migrating some of my apps to use the new MT-Broker I came across a bad use experience. My container code sent an event to the Broker and used the url "http://default-broker". After moving to the new Broker the code had to be changed to use the new URL. With the introduction of broker class, we leave it to the broker impl to determine what URL to use. The Broker spec says that the

[2020-05-07 17:26] vaikas commented on #3097
On different clusters for example the assumption that the URL is deterministic was a poor assumption and did not work:

[code]

Is not correct.
https://github.com/knative/eventing/issues/714

[2020-05-07 17:29] mattmoor commented on #3097
Use a SinkBinding and K_SINK.

[2020-05-07 17:35] mattmoor commented on #3097
Also note that if you use SinkBinding and the address changes it will patch your subject to pick up the change.

[2020-05-07 17:36] akashrv commented on #3097
Are you suggesting we ask all end-users to use sink-binding?

[2020-05-07 17:39] akashrv commented on #3097
Having a local K8s service resolves this as K8s will do DNS resolution, so app code can just refer to http://default-broker

[2020-05-07 19:48] mattmoor commented on #3097
I don't think the scenario you describe pertains to "all end-users", but a subset.  We re-introduced ContainerSource for the express purpose of making this simpler for that subset, so for the subset of the subset of folks that fall outside of that?  Yes, I'm suggesting that's our answer.

[2020-05-07 19:55] vaikas commented on #3094
https://docs.google.com/document/d/1LFE4IwQ7yj6zjO7qwMSXDRfPk8ll9hSk6uCh2Xx--AE/edit#

If we do something like "inject proper condition set", do you foresee still needing something like proposed in that document?

[2020-05-07 20:14] grantr commented on #3094
Related but orthogonal. This issue is about how to manage the relationships between the broker's conditions. Fixing it doesn't add any new capabilities to the API. It would still be useful IMO for broker controllers to be able to set implementation-specific status information beyond condition status.

[2020-05-07 20:15] vaikas commented on #3094
Ack, that was my read as well, but wanted to check 👍

[2020-05-07 23:57] akashrv commented on #3097
I agree it is a subset but a substantial subset. We have two kinds of scenarios here:

1. A "Knative Source" produces an event. Here is where sink binding will help
2. End-user application such as a ksvc, or a pod that produces events. These are not really knative sources (as they don't have to adhere to the source spec). Asking folks to use sink binding for these seems like a stretch to me.

Base

[2020-05-08 00:02] vaikas commented on #3097
But even for that use case, seems like there's some sort of configuration necessary? This could also be sinking to a Channel, or sequence, etc. or sinking to different things in different environments (dev, test,staging, etc.)?
Seems like building things that have some hard codings is fragile.
Also I know some folks have had talked about brokers living off of cluster as well, so this seems non-opt

[2020-05-08 00:05] akashrv commented on #3097
Is there a way to define a sink binding in the namespace that will bind all the ksvcs or some deployments to the Broker? That might be reasonable. So I deploy my app (that contains ksvc, triggers etc) and then have one sink binding that binds these ksvcs to the Broker endpoint.

Moreover, is it possible to configure the variable to be something other than K_SINK. Trying to see if we can have sinkb

[2020-05-08 00:09] akashrv commented on #3097
I agree. I am not suggesting hardcoding. It should be some config that updates itself. See my above comment on sinkbindings.

[2020-05-08 01:17] whaught opened #3099 "Implement the KRShaped interface in Eventing"
**Problem**
In the upstream knative.dev/pkg repo I've created a new interface that specifies accessors for resources that conform to the duckv1 shape with a duckv1.Status, objectmeta, and type meta.

https://github.com/knative/pkg/blob/66f1d63f10199087aa2aada31a07f25f516fadd0/apis/duck/v1/kresource_type.go#L30

We use this to automatically handle ObservedGeneration (and future common logic) from t

[2020-05-08 03:37] mattmoor commented on #3097
Yes, you can literally match all ksvcs in a namespace with a single SinkBinding (tho I'd probably suggest an opt-in/out label).  You'd still need one per kind.

[2020-05-08 09:11] aliok commented on #3051
/reopen

There's somethings mixed here. The PR https://github.com/knative/eventing/pull/3088 is great (thanks @lberk ). It fixes https://github.com/knative/eventing/issues/3037 and not this issue.

Reopening this and closing that one.

[2020-05-08 09:13] aliok commented on #3037
/close

Fixed by https://github.com/knative/eventing/pull/3088

https://github.com/knative/eventing/pull/3016 is now green

[2020-05-08 09:13] #3037 closed

[2020-05-08 09:28] slinkydeveloper opened #3100 "ConfigWatcher to watch CM updates for tracing/logging/metrics"
**Problem**
We have some code duplication for what regards watching config changes on tracing/logging/metrics configs.

We could avoid that duplication creating a struct that handles itself the watching and serves these configurations, in order to avoid duplicating this code across several sources controllers

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contrib

[2020-05-08 09:28] slinkydeveloper commented on #3100
/assign

[2020-05-08 12:18] lberk commented on #3051
@aliok As @vaikas mentioned in his comment:

That's why we adjusted the channel to properly reflect the subscribers status in the 'meta' channel.  As stated, it is be design that we do **not** **allow** setting the subscriber field directly, if we did, we'd end up in a reconciler war between the `backingChannel` and the `Channel` itself.

If you still feel this issue is keeping open, then we'd nee

[2020-05-08 12:36] matzew commented on #3051
not sure if we need to be that extreme ;-)

but how about saying, or "specifying" that the _abstract_ channel is not supporting this, b/c it is handled by the "backing implementation(s)" ?

@lberk thoughts?

[2020-05-08 12:41] aliok commented on #3051
That's https://github.com/knative/eventing/issues/3037

Either we keep this open and change the spec and close this OR we close this create a new ticket for spec change

[2020-05-08 12:41] lberk commented on #3051
I'm open to whatever the colour of the bikeshed you'd prefer in terms of phrasing it, but yes, the point being if we'd like to further address the issue (which I assume so because it was reopened), then we need to tackle in the spec

[2020-05-08 12:42] lberk commented on #3051
no need for more issues & extra churn, lets just open a PR and reference this issue

[2020-05-08 13:04] #3100 closed

[2020-05-08 14:02] slinkydeveloper opened #3103 "Port to cloudevents/sdk-go v2"
Umbrella issue about porting eventing codebase to cloudevents/sdk-go v2. Please add here additional issues about this porting as soon as you identify it

* [x] https://github.com/knative/eventing/pull/3206
* [x] https://github.com/knative/eventing/pull/3205
* [x] https://github.com/knative/eventing/issues/3139
* [ ] https://github.com/knative/eventing/issues/3107
* [x] https://github.com/knative/e

[2020-05-08 14:05] slinkydeveloper opened #3104 "Port test images to cloudevents/sdk-go v2"
**Problem**
Port test/test_images to cloudevents/sdk-go v2

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
test_images uses only cloudevents/sdk-go v2 and not v1 anymore

**Time Estimate (optional):**
1

[2020-05-08 14:07] slinkydeveloper opened #3105 "Port performance/infra to cloudevents/sdk-go v2"
**Problem**
Port test/performance/infra to cloudevents/sdk-go v2

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
performance/infra uses only cloudevents/sdk-go v2 and not v1 anymore

**Time Estimate (optional):**
1

[2020-05-08 14:09] slinkydeveloper opened #3106 "Port pkg/broker to cloudevents/sdk-go v2"
**Problem**
pkg/broker still uses cloudevents/sdk-go v1

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
pkg/broker uses only cloudevents/sdk-go v2

**Time Estimate (optional):**
2/3

**Additional context (optional)**
Add any other context about the feature request here.

[2020-05-08 14:10] slinkydeveloper commented on #3106
/assign

[2020-05-08 14:16] slinkydeveloper opened #3107 "Port pkg/mtbroker to cloudevents/sdk-go v2"
**Problem**
pkg/mtbroker still uses cloudevents/sdk-go v1

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
pkg/mtbroker uses only cloudevents/sdk-go v2

**Time Estimate (optional):**
2/3

**Additional context (optional)**
Add any other context about the feature request here.

[2020-05-08 16:01] #2993 closed

[2020-05-08 17:55] #2892 closed

[2020-05-10 04:16] mattmoor opened #3112 "Eventing webhook without IMC spits errors"
I just installed knative/eventing without the IMC and I'm seeing:

[code]

[2020-05-10 07:06] pierDipi commented on #3106
/assign

[2020-05-10 20:27] chizhg commented on #2271
/unassign
/assign @cardil

[2020-05-11 01:58] chizhg opened #3114 "Export pod logs for e2e tests debugging"
**Problem**
When we run e2e tests for eventing, we only print out very limited logs, which do not help debugging if one test fails, since we don't have visibility on which component fails in the flow.

One thing we can improve is to export pod logs for each test, and upload them to GCS after the test finishes.

**Exit Criteria**
The pod logs for the e2e tests are exported and uploaded to GCS after

[2020-05-11 05:41] invincibleJai commented on #2879
@matzew @n3wscott i am part of `knative users` can view however not sure if can add some comments

[2020-05-11 06:53] pierDipi commented on #2352
@chizhg Are you working on it? I can take a look if you haven't yet.

[2020-05-11 07:10] aliok opened #3115 "Conformance tests should report "Should" cases properly"
**Problem**
There are some "should" statements in the specs which mean a statement is optional.
We currently ignore these statements.
We should report them.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
Those statements checked and reported.

It would be actually nicer to create a nice table that's showing sp

[2020-05-11 07:11] slinkydeveloper commented on #3106
@pierDipi since pkg/broker will be removed in next releases, i think this could be a waste of time, i'm keeping it open until pkg/broker is removed

[2020-05-11 07:13] aliok commented on #3115
@grantr @coryrc  any comments?

[2020-05-11 07:15] pierDipi commented on #3106
Ok, `mtbroker` won't be removed, right?

[2020-05-11 07:16] slinkydeveloper commented on #3106
Nope, i've opened this issue for `mtbroker` https://github.com/knative/eventing/issues/3107

[2020-05-11 07:26] aliok opened #3116 "Source conformance tests - CRD label"
**Problem**
Spec: https://github.com/knative/eventing/blob/master/docs/spec/sources.md#source-crds

- CRDs that are to be understood as a source MUST be labeled
- CRDs SHOULD be added to the sources category
- Source CRDs SHOULD provide additional printer columns

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
System Integrator, Contributors

**Exit Criteria**
Tes

[2020-05-11 07:27] aliok commented on #3116
/area sources
/area test-and-release

[2020-05-11 07:29] chizhg commented on #2352
I'm not. Feel free to pick it up :)

On Sun, May 10, 2020, 11:53 PM Pierangelo Di Pilato <
notifications@github.com> wrote:

[2020-05-11 07:30] pierDipi commented on #2352
/assign
/unassign @chizhg

[2020-05-11 07:32] aliok opened #3117 "Source conformance tests - CRD validation"
**Problem**
Spec: https://github.com/knative/eventing/blob/master/docs/spec/sources.md#source-crds

- Sources MUST implement conditions with a Ready condition
- Sources MUST propagate the sinkUri
- Sources SHOULD provide OpenAPI validation

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
System Integrator, Contributors

**Exit Criteria**
Test required behavior, may

[2020-05-11 07:35] aliok opened #3118 "Source conformance tests - CRD source registry"
**Problem**
Spec: https://github.com/knative/eventing/blob/master/docs/spec/sources.md#source-crds

- Source CRDs SHOULD use a standard annotation to expose the types of events
- If specified, the annotation MUST be a valid JSON array
- each object in the array MUST contain the following fields

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
System Integrator, Con

[2020-05-11 07:36] aliok opened #3119 "Source conformance tests - CRD RBAC"
**Problem**
Spec: https://github.com/knative/eventing/blob/master/docs/spec/sources.md#source-crds

- new sources MUST include a ClusterRole

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
System Integrator, Contributors

**Exit Criteria**
Test required behavior, maybe report on optional capabilities.

**Time Estimate (optional):**
1d

/area sources
/area test-and

[2020-05-11 07:41] aliok opened #3120 "Source conformance tests - event type registry"
**Problem**
Spec: https://github.com/knative/eventing/blob/master/docs/spec/sources.md#source-custom-objects

- Upon instantiation of a Source Custom Object, a controller (potentially the source controller) SHOULD realize the EventType(s) this instantiation brings onto the eventing mesh

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
System Integrator, Contributor

[2020-05-11 07:42] pierDipi commented on #2352
If you want I'll ping you when I'm finished working on it and opening the PR

[2020-05-11 07:43] aliok opened #3121 "Source conformance tests - event delivery"
**Problem**
Spec: https://github.com/knative/eventing/blob/master/docs/spec/sources.md#source-event-delivery

- Sources SHOULD produce CloudEvents.
- The output SHOULD be via the HTTP binding [...]
- The usage of CloudEvents version 1.0 is RECOMMENDED.
- Every Source SHOULD support sending events via [...]
- Sources SHOULD send events to its Destination.

**[Persona:](https://github.com/knative/ev

[2020-05-11 07:46] aliok opened #3122 "Adapt testing structure to run source conformance tests"
**Problem**
Similar to brokers and channels, we need to provide what sources to run conformance tests against

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
System Integrator, Contributors

**Time Estimate (optional):**
1d

**Additional context (optional)**
See `ChannelTestRunner` in knative/eventing

/area so

[2020-05-11 08:47] pierDipi commented on #3107
/assign

[2020-05-11 14:57] nmnellis opened #3125 "Duplicate Entries in https://github.com/knative/eventing/releases/download/v0.14.2/eventing.yaml"
**Describe the bug**
There appears to be lots of duplicate entries in the release file
https://github.com/knative/eventing/releases/download/v0.14.2/eventing.yaml

Examples
[code]

 **Knative release version**
1.14.2

[2020-05-11 15:05] slinkydeveloper opened #3126 "Port opencensus integration to opentelemetry"
**Problem**
Now we use opencensus, which is going to be deprecated, we need to switch to https://github.com/open-telemetry/opentelemetry-go

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Knative contributor

**Exit Criteria**
We don't depend anymore on opencensus

**Time Estimate (optional):**
:man_shrugging:

**Additional context (optional)**
We also need to han

[2020-05-11 16:45] lionelvillard commented on #3126
Related to https://github.com/knative/pkg/issues/855

[2020-05-11 16:46] slinkydeveloper commented on #3126
Oh thanks for spotting it!

[2020-05-11 16:50] n3wscott opened #3127 "PingSource dataplane lifecycle is tied to the controller lifecycle."
Setting the owner ref to the controller deployment seems like a bug to me, this means that the dataplane and control plane lifecycles are tied together and an upgrade of the control plane takes down the dataplane.

_Originally posted by @n3wscott in https://github.com/knative/eventing/pull/3040/files_

[2020-05-11 16:57] n3wscott commented on #3127
mattmoor(opens in new tab):ducktagon: Today at 9:55 AM
I just noticed the CONTROLLER_{UID,NAME} in ping source.  There is a nasty bug here that likely manifests from a misunderstanding of the downward API. :thread:

5 replies

mattmoor(opens in new tab):ducktagon:  1 minute ago
These env vars are consumed here: https://github.com/knative/eventing/blob/004ebd45161f783c18b4d64aea90a840421d7cae/pkg/r

[2020-05-11 19:40] grantr commented on #3125
Duplicate of #3033, fixed by #3032 which will be included in the next minor release (0.15). @nmnellis is this causing issues for you? Trying to determine if a backport is needed.

[2020-05-11 20:04] grantr commented on #3127
Seems like this is fixed by #3128. Reopen if I'm misunderstanding.

[2020-05-11 20:04] #3127 closed

[2020-05-11 20:05] grantr commented on #3035
#3040 had to be reverted in #3128, so reopening.

[2020-05-11 20:09] grantr commented on #3126
Looks like OpenTelemetry Go SDK is in beta now: https://github.com/open-telemetry/opentelemetry-go. So the next step is making sure that OT meets all our requirements.

[2020-05-11 20:15] grantr commented on #3112
@lionelvillard mentioned that the eventing webhook may have an explicit dependency on the IMC for defaulting. If so that would explain this error.

Is this causing any user-visible failure besides a log message?

[2020-05-11 20:20] liu-cong opened #3130 "Should we drop undelivered events if a Broker is deleted while its Triggers still exist"
**Problem**
The [Broker Conformance Spec](https://github.com/knative/eventing/blob/master/docs/spec/broker.md) says a Trigger can be created before its Broker exists. However, it doesn't specify the expected behavior if a Broker is deleted while its Triggers still exist. Specifically, if there are events that haven't been delivered, should they continue to be delivered, or should they be dropped?

[2020-05-11 20:25] grantr commented on #3095
@vaikas are you working on this? Is https://github.com/knative/eventing/pull/3110 related?

[2020-05-12 07:13] slinkydeveloper commented on #3126
@grantr do we have some document with these requirements defined? How would you proceed?

[2020-05-12 18:01] aslom commented on #2401
Now that official WG name is [Eventing Delivery](https://github.com/knative/community/blob/master/working-groups/WORKING-GROUPS.md#event-delivery) to keep naming consistent in Slack we should rename eventing-channels slack channel to eventing-delivery? @Abd4llA @matzew  @grantr

[2020-05-12 19:57] markfisher commented on #2996
I stumbled upon this one also. The trigger reconciler currently checks for the existence of a Trigger's Broker, so it should also be setting the `BrokerReady` status to "False" with a "BrokerDoesNotExist" reason.

[2020-05-12 20:13] vaikas commented on #2996
yep, on my todo list, hoping to get this banged out today or tmw

[2020-05-12 21:02] vaikas commented on #3130
Why is broker being deleted a special case from the other delivery guarantees in the Spec? Not saying we shouldn't add this there, but given the existing language, I'd be little hesitant to add a specified behaviour to the language for the deletion case. I think with the current Should / May, there's some freedom there left for the Broker implementers to work with the model that suits their partic

[2020-05-12 21:56] vaikas commented on #2996
Ho hum. As discussed a couple of weeks ago, we were going to look at defaulting the status field, so started to play with that. I'm either screwing something up (most likely), or you can't update the status in the defaulter. Anyways, after trying to add that logic in the defaulter, I see the patch bytes being properly set, but they are not making it into the storage. You can see it's defaulting th

[2020-05-12 22:36] scothis commented on #2996
@vaikas even if you get the defaulter working, writing an inaccurate status condition is a bad idea. Even if the status lives for only a few milliseconds until the reconciler sets the correct status, other tools watching the resource will see the false status and be confused.

A common pattern we've used in CLIs is to create a resource and then watch for its Ready condition to become True or False

[2020-05-12 22:40] vaikas commented on #2996
Well, we could set the status to unknown if that would make it better.

[2020-05-12 22:47] scothis commented on #2996
That resolves my objection, but doesn't do anything in the context of this issue

[2020-05-12 22:51] vaikas commented on #2996
I think the fundamental issue is that the user gets no feedback, and setting the status to Unknown with the message saying why that might not be the case seems to do something about this issue?
But I'm all open for better suggestions.

[2020-05-12 22:53] markfisher commented on #2996
right here it is _valid_ to set the Trigger's BrokerReady status to "False": https://github.com/knative/eventing/blob/master/pkg/reconciler/trigger/trigger.go#L55

why not do it there?

[2020-05-12 22:55] #3114 closed

[2020-05-12 23:02] vaikas commented on #2996
We talked about that (having a 'catch-all' reconciler for Trigger resources) and IIRC we tried this in the past with some other resource, maybe channels? where there was a controller that would modify a resource that it was not responsible for and it lead to race conditions and hilarity.  @Harwayne you recall the deets here?
So, in this case, the reconciler does not actually modify the resource bu

[2020-05-12 23:07] grantr commented on #2996
I think it makes sense to use Unknown in the webhook with the message proposed above or something similar. That gives the user some idea of what the current state of the trigger is (waiting for a broker to show up).

@scothis I think it mostly resolves this issue because it gives the user feedback about what would help the trigger progress to a ready state. As far as whether the trigger's status i

[2020-05-12 23:13] markfisher commented on #2996
If the catch-all Trigger reconciler is only taking responsibility when there is no Broker, then it shouldn't be competing with anything, since based on the current design of relying on the broker's annotation, the Trigger will only be managed by that Broker's reconciler once the Broker itself _is_ available and the associated reconciler then takes over control with no overlap.

As far as creating

[2020-05-12 23:18] grantr commented on #2996
There was a controller that would update a channel's status if it didn't get a provisioner after some time. Might be worth revisiting since I think we have more sophisticated ways to patch an object's status now (there was recent conversation about this somewhere). If we're using it to flip from unknown to false, we still need to decide at least part of the "when is non-existence terminal" questio

[2020-05-12 23:34] #2352 closed

[2020-05-12 23:50] liu-cong commented on #3130
Leaving the freedom to Broker implementations can be the answer for my question :)

Rather than arguing whether the conformance spec should include this, I am more interested in hearing some opinions on this. I asked a few people and it seems the expectations are quite different. To summarize a few:

* Broker shouldn't be deleted if there are triggers. Amazon EventBridge does not allow deleting an

[2020-05-13 00:14] grantr commented on #3130
PubSub and RabbitMQ essentially implement the 3rd bullet: Deleting a Topic or Exchange does not affect consumption of the undelivered messages in the PullSubscription or Queue respectively.

[2020-05-13 00:24] vaikas commented on #2996
So, it's impossible to set the Status in defaulting webhook today, live and learn ✅

Ok, so we have couple of options here for where to set this (decouple to what we set it to):
 1. With V1 CRDs, we can set this (not dynamically, but for this use case I reckon it's fine) to be upon creation to a known good state. say, unknown, no broker
 2. We can set the status in the catch-all, which should be e

[2020-05-13 00:25] vaikas commented on #2996
@markfisher yeah, knew there was another issue tracking that, so didn't want to lump that into here :)

[2020-05-13 08:13] Shashankft9 opened #3133 "Support for mentioning runtime and function handler"
**Problem**
Wouldn't it be better if during function deployement we can simply provide the code (could be go code), mention the runtime in which the code has been written and the handler name to run that code. This way the need to write Dockerfile or creating an image will no longer be there (hence removing an overhead for a developer?)

Also, in reference to this: https://knative.dev/docs/eventin

[2020-05-13 12:02] knative-test-reporter-robot opened #3134 "[flaky] test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_deprecated_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_deprecated_triggers
* **Repository name**: eventing

[2020-05-13 13:32] aslom commented on #2401
Slack channel was renamed and calendar updated - anything else left? Google doc was also updated.

Not sure about "The folder on the shared Google Drive" ? How do you find in which folder is google doc such as https://docs.google.com/document/d/1uxlulaAf2m_yZUqCIeI-inul2gsqP69PElnZdO0FHUo/edit#heading=h.6s9tvd9v01tq ?

[2020-05-13 13:48] Abd4llA commented on #2401
@aslom Drive directory was already renamed. This is the link of the drive https://drive.google.com/drive/u/0/folders/0APnJ_hRs30R2Uk9PVA

[2020-05-13 14:14] matzew commented on #2970
I agree that the creation of the broker should be much easier.  I try to start that by making the `MTChannelBased` broker a default: https://github.com/knative/eventing/pull/3135

I agree that it is a bit of odd that you create a broker, when you add some annotation on a trigger. Perhaps with the `MTChannelBased` broker the default we can also skip that.

And I think the desire is based on stateme

[2020-05-13 14:50] vaikas commented on #3130
So, perhaps saying something that Broker should not be deleted if there are Triggers pointing to it around would suffice? Then during the finalization process, the standard language around delivery guarantees would still apply?

[2020-05-13 16:12] mattmoor commented on #2970
I completely agree with Mark's sentiment that having the Trigger create Brokers is backwards.

The parallel is simple:
* Pods cannot exist without SAs, Triggers cannot exist without Brokers.
* If I create a Pod/Trigger without the corresponding SA/Broker, the former is broken (fails to "bootstrap")
* The *defaulting* for Pod/Trigger fill in a "default" for the SA/Broker, which is assumed by the de

[2020-05-13 16:19] aslom commented on #2401
Great thank you @Abd4llA so after checking tomorrow in Eventing WG that issue may be closed?

[2020-05-13 16:23] markfisher commented on #2970
@mattmoor I disagree. It's a very different case precisely due to the fact that a Pod needs a ServiceAccount to "bootstrap" (cannot even recover if the ServiceAccount is created later). That's not true for a Trigger. A Trigger can be created and have a BrokerReady status "False" until the Broker is available. That would also be the same situation if a Broker disappears/reappears, which as I see it

[2020-05-13 16:39] liu-cong commented on #3130
* What is the use case leading to this situation?
  * Accidental delete
  * recreate broker with new configuration
* Administrator sets up broker, user sets up trigger
* Paul's Least Surprise: attempt to deliver for some short time before broker is finalized. Expects undelivered events are owned by broker
* When deletion timestamp is set, should Broker ingress stop accepting events?
* During broke

[2020-05-13 16:49] markfisher commented on #2970
@mattmoor here's what I think is a better parallel based on something I just happened to do:

I created a PingSource and its sink is my "default" Broker. I didn't create the Broker yet, but the PingSource reconciler doesn't therefore try to go create it. Instead its status simply reflects that its sink is unavailable. As soon as I create the Broker and its ingress is ready, that status changes. Th

[2020-05-13 17:16] Abd4llA commented on #3104
/assign

[2020-05-13 18:34] slinkydeveloper commented on #3104
Be aware that there is already a pr open for this one https://github.com/knative/eventing/pull/3034

[2020-05-13 19:11] mattmoor commented on #2970
Unless we've started defaulting sinks to the "default" Broker as well, then it's not the same.

Can you point me to another example where an `ObjectReference` is **defaulted** to a resource that doesn't exist?

I'm not arguing against this at all, in fact this is exactly what I would expect in general[1].

What I'm arguing against is the fact that we **default** this reference to something, but ar

[2020-05-13 19:12] vaikas commented on #2970
I think (and maybe I'm wrong), there are two distinct things that are at play here:

 1. Having an operator tool that says, inject a Broker automatically into some set of namespaces. Having this off by default is fine with me, as long as there's a knob. The role here is to have a way to have a Eventing enabled experience, where the user walking into the namespace can use eventing by using Trigger

[2020-05-13 19:49] markfisher commented on #2970
sorry @mattmoor - my example was confusing because the **name** of my broker is literally "default" as that was the example I started from, but to be clear, I am in favor of NO default creation of Brokers at all. That's exactly what I'm trying to say. My broker should be named "rabbit" :-)

[2020-05-13 19:52] markfisher commented on #2970
@vaikas I am trying to make the case for "no knob" but rather ensure that Brokers are easy to create. I feel like the complexity of channel-based brokers started this whole tangent. Creating a Broker should be as simple as applying what's actually quite simple YAML, like any other k8s resource.

[2020-05-13 20:05] #2958 closed

[2020-05-13 20:25] mattmoor commented on #2970
I think this is exactly what we are saying eventing core should be:
1. No defaulted broker in the Trigger,
2. No namespace reconciler (opt in or our).

What @vaikas means by "knob" is what I've been thinking of as a separate installable component (not in core!), where folks can opt-in to the magic.  So from the perspective of "core" we've effectively deleted mtnamespace, but folks can opt-back-int

[2020-05-13 20:51] vaikas commented on #2970
Yes, sorry for being sloppy with terminology, by knob I meant that it's a choice. If you do not want the behaviour that auto creates brokers, then that's fine.

I think the existing mtnamespace (let's rename it) that explicitly (not via namespace labeling) creates the brokers is precisely what we want.
Second thing is that it can provide defaulting (if we want) for Triggers in the namespaces that

[2020-05-13 21:50] grantr commented on #2970
:hand: I have concerns:
- The action proposed here is a larger scope than the original request. This issue is about adding a feature, and the conclusion so far is that we will not add the feature AND remove another feature.
- There are stakeholders relying on the current behavior that are not included in the discussion (users and contributors). Removal of a feature deserves a separate discussion w

[2020-05-13 22:30] mattmoor commented on #2970
I agree that this is an inappropriate place to discuss this, but alas I was linked here from a PR that was removing an unrelated feature that we use 😉

I'll open another issue to discuss this because it keeps getting smeared across other issues, PRs and slack threads.

[2020-05-13 22:36] antoineco commented on #2970
I still think the discussion here was valuable, obviously there are different opinions and expectations about the user expedience around Brokers.

Regarding the original request, it seems like we have a conclusion: most people do _not_ want to have a mechanism that creates Brokers automatically in core, whether it's controlled by a Trigger or not.

[2020-05-13 22:50] vaikas commented on #2970
@grantr I was not proposing on dropping features, just being able to select which pieces of functionality we provide and where :) And agree on other stakeholders, just hoping to get some consensus amongst the group on what we think we want and what are the contentious bits. But opening a new issue to discuss seems like a good idea :) Until it forks lol :)

[2020-05-13 23:57] Abd4llA commented on #3104
@slinkydeveloper thanks for the heads up
@n3wscott wanna take this over?

[2020-05-14 01:30] mattmoor opened #3138 "Clarify the purpose of the Broker namespace reconcilers"
Today knative/eventing supports reconciling namespaces to create "default" Brokers within "relevant" namespaces.

The "goal state" here has been a topic of some debate in recent months and we need a clear articulation of the "goal state" that we can discuss and debate, and use to frame future judgements.

cc @grantr @matzew @vaikas @antoineco @markfisher

[2020-05-14 01:32] mattmoor commented on #2970
I've opened https://github.com/knative/eventing/issues/3138 and tried to keep the initial "goal" free of my biases.  I will follow up with my own thoughts, but I'd encourage folks to weigh in there.  Please feel free to loop in others, but I've seeded it with several folks involved in recent convos.

[2020-05-14 04:14] mattmoor commented on #3138
In my eyes 👀 , the "goal state" of the namespace reconciler is a DevX feature that aims to reduce the number of concepts users deal with by enabling an ambient "default" Broker in each namespace.

The two key elements of this are:
1. Creating a "default" Broker in each namespace, and
1. Default the Trigger's `spec.broker` to be this `"default"` Broker (when one isn't specified).

---

Historically

[2020-05-14 05:35] mattmoor commented on #3112
Judging from the error it's the webhook attempting to set up the IMC for conversion: https://github.com/knative/eventing/blob/1689191fdf85740340ec32fb12cb1dea729aaf76/cmd/webhook/main.go#L281-L288

There may be some additional cases, but since the error appears to be fetching the CRD, my money is on this.

I'm not aware of this manifesting in a user-visible way.

[2020-05-14 06:10] #2970 closed

[2020-05-14 08:57] matzew opened #3139 "Remove the Single tenant Broker"
For release 0.16 we remove the _single tenant_ broker.

# Background

With the advent of the multitenant broker class in v0.14 of Eventing, we now have an easier to use and less resource consuming broker. The creation for the mt broker is mostly done via injection/labeling and applying CR files, backing different implementations. No special ClusterRoles are needed for the “non default” broker.

#

[2020-05-14 09:27] slinkydeveloper commented on #3139
:+1: for targeting 0.16

[2020-05-14 09:33] matzew commented on #3139
/assign @matzew

[2020-05-14 10:12] slinkydeveloper commented on #3106
Invalid because of https://github.com/knative/eventing/issues/3139

/invalid

[2020-05-14 10:12] #3106 closed

[2020-05-14 10:13] slinkydeveloper commented on #3103
@grantr how do you feel to target 0.16 for this?

[2020-05-14 12:54] Abd4llA commented on #3104
/assign

[2020-05-14 15:03] Harwayne commented on #2401
/close

[2020-05-14 15:03] #2401 closed

[2020-05-14 20:29] vaikas opened #3145 "Parallel does not expose Delivery parameter."
**Problem**
https://github.com/knative/eventing/issues/2977
Went to fix that, but turns out parallel does not even have Delivery, so it can't really propagate it. Should probably add it there as seems to be the expectation of the bug.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
Developer

**Exit Criteria**
When a developer ca

[2020-05-14 21:02] vaikas commented on #1740
@grantr @lionelvillard I think this has been fixed through all the other bugs. If there are remaining issues, I think we should open more targeted issues for those? Thoughts?

[2020-05-14 21:12] #2969 closed

[2020-05-14 21:48] grantr commented on #1740
:+1: Conditions were surveyed and fixed in #2163. All the `"nil"` messages identified in the body have been fixed.

[2020-05-14 21:49] #1740 closed

[2020-05-14 21:50] vaikas commented on #2977
Turns out Parallel does not even expose Delivery in the API, so moved that part into #3145 as a feature request.

[2020-05-14 22:20] vaikas commented on #3138
TL;DR: I agree with the goal state roughly but will add a few more words and
maybe just a few wrinkles to the mix.

From the point of view of the Operator, they would like to have an option to
make the Eventing experience seamless and consistent for their users. For this
to work, they will want to have an option (explicitly stating that this is not
required) to control the Eventing experience for

[2020-05-14 22:49] vaikas commented on #3139
I think we should also set the Broker status as deprecated with pointer to upgrade to other broker.
Something like this:
https://github.com/knative/eventing/pull/2374/files

[2020-05-15 00:45] antoineco opened #3149 "Sink replies sent back to sink despite non-matching Trigger filter"
**Describe the bug**

When a sink behind a filtered Trigger receives events of a type T1 and replies with events of type T2, it receives its own responses although the T2 doesn't match the filter.

 **Expected behavior**

The filter matches on T1 exclusively, so the sink should not receive any T2.

 **To Reproduce**

1. Create a broker:

[code]

2. Create a simple hello responder (the image was bu

[2020-05-15 01:03] antoineco commented on #3149
Before somebody asks: there is no other Trigger or even Subscription inside that cluster.

[2020-05-15 03:19] vaikas commented on #3149
zomg, that seems totes broken. I'll take a look tmw.

[2020-05-15 03:22] vaikas commented on #3149
Just to clarify, there's no 'exactly once' delivery guarantees, but repeatedly getting multiple events delivered seems very broken...

[2020-05-15 06:47] aliok commented on #3051
/close

Fixed by https://github.com/knative/eventing/pull/3132

[2020-05-15 06:47] #3051 closed

[2020-05-15 08:46] #2988 closed

[2020-05-15 12:02] knative-test-reporter-robot opened #3152 "[flaky] test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_attribute_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_attribute_triggers
* **Repository name**: eventing

[2020-05-15 14:12] #3145 closed

[2020-05-15 17:52] grantr commented on #3149
It would be a really bad bug if replies from triggers were skipping the filters somehow. I'll take a look at this today. Thanks for the clear repro @antoineco.

[2020-05-15 21:17] grantr commented on #3149
I'm unable to repro this.

### Steps

1. Create a new cluster using GKE regular channel (K8s 1.15)
1. Apply eventing from master
1. Apply IMC channel
1. Apply MT broker
1. Create a consumer. I cheated a bit by creating a v1 Service and Deployment rather than using a ksvc, since I didn't know which version of serving you were using and I wanted to eliminate that a variable.
1. Create MT broker `hel

[2020-05-15 21:32] antoineco commented on #3149
I won't have much time over the weekend but I'll try re-running the experiment with/without istio before Monday evening.

[2020-05-15 21:34] antoineco commented on #3149
Oh, before I forget, that cluster was using KafkaChannel as the default.

[2020-05-15 22:15] markfisher commented on #3149
@antoineco I just ran through your example using the in-memory channel and witnessed the expected behavior (same as @grantr), but when I get a chance, I will also setup the Kafka Channel to see if that could be a factor.

[2020-05-16 17:34] markfisher commented on #3149
@antoineco I am seeing one response per-minute using the Kafka Channel also:

[code]

[2020-05-16 17:46] antoineco commented on #3149
I also can't reproduce in a fresh cluster, it's driving me mad 😄  I'll try to replay what I did before this happened, and if I can't repro myself I'll just close this issue.

Thanks @grantr and @markfisher for trying on your side.

[2020-05-16 23:12] antoineco commented on #3149
I tried with Deployments, with Knative Services (Serving + Istio minimal from master), with InMemoryChannel, with KafkaChannel. I can't reproduce this, for the better.

The only way I can reproduce the symptoms is by creating this Subscription in the same namespace:
[code]

The result I observed is of course expected with the presence of that extra Subscription, since it sends every response back

[2020-05-16 23:12] #3149 closed

[2020-05-18 17:34] lionelvillard opened #3157 "Make pull-based receive adapter HA and scalable"
The current multi-tenant receive adapter architecture does not scale which is a problem particularly for direct event delivery (from a source to a service).

Some background context:
- The original receive adapter architecture scales but at the cost of consuming lot of resources and does not scale down to zero.
- For PingSources specifically, the propose CronJob and SinkBinding model scales (argua

[2020-05-18 17:42] #2996 closed

[2020-05-18 18:05] lionelvillard commented on #3157
Additional note: it seems that Knative service is the right solution for the proxy. Only possibility is to implement the proxy in `knative-sandbox` and to have a configuration parameter named `event-forwarding-proxy` in `eventing`.

[2020-05-18 18:35] #2977 closed

[2020-05-18 20:21] vaikas commented on #3152
We might need to add something like this (discussed in #test on 2020-05-12):
https://github.com/kubernetes/kubernetes/issues/67761#issuecomment-604179932

[2020-05-18 20:32] vaikas commented on #3138
added to agenda for 2020-05-20

[2020-05-18 20:33] vaikas commented on #3133
There's been quite a lot of discussion about whether Knative should provide the FaaS experience or if it should be built on top of it. Perhaps we could discuss this in the TOC?
@grantr

[2020-05-18 20:35] vaikas commented on #3130
@liu-cong would you mind taking a crack at crafting the language?

[2020-05-18 20:36] vaikas commented on #3126
@evankanderson @anniefu would you mind sharing what you had in mind? I know you had done a lot of work here.

[2020-05-18 20:38] vaikas commented on #3125
@nmnellis does this need to get backported or is it just extra cruft in our release files?

[2020-05-18 20:39] nmnellis commented on #3125
@vaikas we cleaned up the file locally so we dont need a back port

[2020-05-18 20:41] #3125 closed

[2020-05-18 20:52] anniefu commented on #3126
The upcoming metrics plan that Evan wrote up https://github.com/knative/pkg/blob/master/metrics/README.md is primarily about moving to a centralized collector service model for metrics.

Since, the OpenCensus Collector Service agent and the OpenTelemetry Collector Service agent will both support the OpenCensus client libraries, we can port from opencensus client libraries to the opentelemetry clie

[2020-05-18 20:57] anniefu commented on #3126
In terms of https://github.com/knative/eventing-contrib/pull/1155, tracing and metrics in Knative are handled completely separately right now, so it is possible to migrate to OpenTelemetry for tracing, but not metrics.

I'm not very familiar with the world of tracing, so I'll leave that judgment call to others.

[2020-05-18 21:00] antoineco commented on #3138
I like the idea of delegating the broker management magic to an opinionated component outside of core. We could still have a default b0rk3r implementation which does what Matt suggests ("brokers are cheap so let's have a default instance in every namespace"), and which one would have to run separately from core. People in need for something different could still run their own b0rk3r.

[2020-05-18 21:29] vaikas commented on #3125
Great, thanks for closing the loop!

[2020-05-18 22:43] mattmoor commented on #3138
Yeah, I just wanted to set clear expectations around the goals of running the namespace reconciler.  To me it only makes sense to run it if it's stamping things out everywhere (opt-out).  If we need to take action per-namespace, then sticking with the pattern folks are familiar with for creating resources feels more right to me.

I think that we can separate the namespace magic from core and have

[2020-05-19 07:00] Shashankft9 commented on #3133
@vaikas Hi, I have elaborated the feature more in the comments here: https://github.com/knative/serving/issues/7938
This way, broadly speaking, knative could provide both FaaS and leverage the serverless architecture as the functions here could be a deployment through knative-serving.

[2020-05-19 13:46] lionelvillard commented on #3157
Additional note 2: direct event delivery does not have to be reliable (no guarantees). Think of the proxy as a trimmed down version of the IMC without the fan-out and without the channel/subscription.

[2020-05-19 19:03] vaikas opened #3164 "Possible data race in inmemory dispatcher"
**Describe the bug**
As part of a failed unit test for (should be totally unrelated change):

[code]

 **Expected behavior**
Tests to pass

 **To Reproduce**
Not sure, yet, just jotting down what the logs say:

 **Knative release version**
HEAD

 **Additional context**
Add any other context about the problem here such as proposed priority

https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pul

[2020-05-19 19:05] vaikas commented on #3164
@slinkydeveloper could this be related to some of the work with the sdks? I recall you had seen something like this before?

[2020-05-19 19:08] whaught commented on #3099
/assign

[2020-05-19 19:37] slinkydeveloper commented on #3157
I have some questions about some specific things i don't get:

* About _static partitioning_: You cannot watch the same CRD instances from several controllers, unless you find some way to mutually exclude them (eg a "third part controller" applies a label that partition the CR, assigning it to a specific receive adapter instance). Even in that case, this sounds quite hard and convoluted to impleme

[2020-05-19 19:39] slinkydeveloper commented on #3164
Mhh it doesn't sound from the trace, but i'll give a look at that

[2020-05-19 21:01] n3wscott opened #3166 "Create Knative Integration Testing repo."
Per https://docs.google.com/document/d/1dYtOqwVgG2O80fMlEDMobJPSoHv8xSRjbu1OO7KgLzU/

We would like to make a repo inside of github.com/knative to hold integration tests for eventing and serving + others.

[2020-05-19 21:02] n3wscott opened #3167 "Create Discovery API repo"
Per: https://docs.google.com/document/d/1CVMI0IpGqZH7j64-KQ6_8hJVUkeYEM0pdXslJ10a69E/edit#heading=h.lnql658xmg9p

We would like to create a discovery api repo at github.com/knative/discovery

[2020-05-20 08:39] markusthoemmes commented on #3164
/assign

Talked with @slinkydeveloper in Slack :)

[2020-05-20 09:13] #3164 closed

[2020-05-20 10:56] #2271 closed

[2020-05-20 11:33] cardil opened #3173 "Run upgrade tests in separate Prow check"
**Problem**
Now, that PR #2388 is merged the upgrade tests are executed in the same run as regular e2e tests, sequential. It isn't perfect as the log is double the size and it's harder to follow.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for? _Contributors_

**Exit Criteria**
There are separate Prow runs defined, one for regular

[2020-05-20 12:30] cardil opened #3174 "Fetch the URL from the Broker.Status instead of hardcoding it for upgrade tests"
**Problem**
PR #2388 introduce an upgrade tests. In those I utilize feeding events directly to a broker. At that time there was only `ChannelBasedBroker`. Now, it will be removed. We should fetch the URL of the broker from the `Broker.Status` field instead of hardcoding it in:

https://github.com/knative/eventing/blob/f1a586b34f23dbb9e7c4ee6b4fd378d9b6a25e3c/test/upgrade/prober/config.toml#L3

**[

[2020-05-20 12:30] cardil commented on #3174
/assign @cardil

[2020-05-20 13:37] cardil opened #3175 "Use K8s etcd database to publish and fetch upgrade tests reports"
**Problem**
PR #2388 introduced upgrade tests for eventing. In those I fetch execution report after the test. It's done with simple REST invocation. Drawback of this approach is the need to somehow connect to that REST endpoint from outside the cluster. It's done by getting external address of one of the nodes and usage of `NodePort`. @vaikas during PR review propose that maybe we can use K8s infr

[2020-05-20 14:03] lionelvillard commented on #3157
- About static partitioning: the idea is to let the controller assigning CRs to a given receive adapter. I agree it's hard and convoluted and that's why I don't like this solution. I just put it there for the record.
- The user does not necessarily care about scaling direct event delivery. They just want it to just work. However, in a multi-tenant environment, the operator *do* care about it. They

[2020-05-20 14:08] slinkydeveloper commented on #3157
I think I lack some context to fully understand the implications and provide some meaningful feedback here :smile: Do you have any document explaining this + the mt architecture and the reasons behind it?

[2020-05-20 14:21] lionelvillard commented on #3157
I'll have to dig up some old issues/PRs I guess :-)

In a nutshell, the multi-tenant receive adapters are more resource efficient compare to their single-tenant equivalent. For instance, most of the time the stping receive adapter is idle, wasting resources. Instead let's have one not-so-idle mtping receive adapter handling hundred or thousands of pingsources. That's a win.

Note that this is not

[2020-05-20 16:17] cardil commented on #2665
After #2388 been updated to the latest master, instead of lost events now we have event received twice.

[2020-05-20 16:23] matzew commented on #3157
Isn't this more like some "ksvc" acting as a source, and have some sink injected ?

[2020-05-20 16:25] cardil opened #3178 "Upgrade tests should have status of skipped if any issues are found and FailOnMissingEvents is set to false"
**Describe the bug**
In PR #2388 upgrade tests have been introduced. They fail due to unresolved #2665. WG decided to merge them, but instead of failing warning is used if `FailOnMissingEvents` configuration is set to false. It's okay for now, but in that case the `TestProbe` test should have status of Skipped instead of Pass.

 **Expected behavior**
`TestProbe` should be skipped if issues are fou

[2020-05-20 16:25] cardil commented on #3178
/assing @cardil

[2020-05-20 17:36] cardil commented on #3178
/assign @cardil

[2020-05-20 17:40] lionelvillard commented on #3157
@matzew yes.

[2020-05-20 19:00] akashrv commented on #3138
Agree with both b0rk3r and simplifying default experience. Couple of extra things to think about
 - Could the b0rk3r options be exposed through the operator? For end-user ( cluster operator), Operator (component) is the entry point.
 - The more I think about broker experience, I think ability to have multiple brokers per namespace is a good technical feature, but for most use cases having a defaul

[2020-05-20 19:07] akashrv commented on #3138
If I could extend this user experience  (referring to #3097 ).
 Could we have some form of extended version of sinkbinding implementation (lets call is AddressableBinding for the discussion) where I can configure multiple ENV_VAR <--> Addressable pairs? Then as part of b0rk3r we can have an instance of this AddressableBinding, such that application code can always have handy Env_Var that resolve t

[2020-05-20 19:08] akashrv commented on #3097
I am assuming the awaiting-more-evidence is waiting for me. Please refer to https://github.com/knative/eventing/issues/3138#issuecomment-631667944
and let me know if it makes sense. I am not adamant with the specifics of the solution, but trying to highlight the problem from the lens of app developer.

[2020-05-20 20:04] grantr commented on #2982
I have a first attempt at documenting this here: https://docs.google.com/document/d/1innH6t-cHkf-71BrOf9HJdr3RtBRhLTfzfgtiPuvdL8/edit

If it works we can copy it to the repo as markdown.

[2020-05-20 21:37] Abd4llA commented on #3084
/assign

[2020-05-20 21:38] Abd4llA commented on #2426
/assign

[2020-05-21 09:07] bvboca opened #3183 "configmaps "imc-channel" not found"
**Describe the bug**
1. After deploying the helloworld-go sample. kubectl get broker -n knative-samples will return a "**ChannelTemplateFailed**" error.
2. kubectl get event will report "**configmaps "imc-channel" not found**".

 **Expected behavior**
Return the broker and the service url

 **To Reproduce**
Steps to reproduce the behavior.
1. Install kubernetes 1.18;
2. Install metallb;
3. Install

[2020-05-21 12:03] knative-test-reporter-robot opened #3185 "[flaky] test/upgrade/prober/wathola/receiver.TestReceiverReceive"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade/prober/wathola/receiver.TestReceiverReceive
* **Repository name**: eventing

[2020-05-21 16:55] cardil opened #3186 "API for custom apps that like to produce events (CloudEvents) in easy, secure and tracable way"
**Problem**
I feel like Knative Eventing doesn't quite address most common use case. That use case would be to write custom business app that like to produce events.

Let's imagine for example a use case for a banking company. We have a "MyBank" that would like to use Knative as primary deployment model. They would like to create a couple (hundred :-P) microservices, that will focus on their busin

[2020-05-21 17:31] jchesterpivotal commented on #3186
As an immediate bit of bikeshedding, `Tap` may cause confusion with the [Wire Tap pattern](https://www.enterpriseintegrationpatterns.com/patterns/messaging/WireTap.html). Perhaps `Faucet`, if you're looking for a hydraulic theme?

[2020-05-21 17:31] evankanderson commented on #3186
Have you looked at the CloudEvents SDKs here? https://github.com/cloudevents/

For constructing the event payload and envelope via code, I'd suggest contributing to the CloudEvents libraries rather than duplicating them in Knative.

In terms of configuring the destination, have you looked at [SinkBinding](https://knative.dev/docs/eventing/samples/sinkbinding/) as a way to supply (a single) destina

[2020-05-21 17:36] cardil commented on #3186
Of course. This assumes you would like to send custom CloudEvents. I should have stated that.

This is not about destination. This is about source.

[2020-05-21 17:42] vaikas commented on #3186
Could you clarify little more about this?

[code]
I don't understand what you mean by the internal part?
https://github.com/knative/eventing/blob/master/docs/spec/broker.md

For the security there's this:
https://github.com/knative/eventing/issues/2273

For visibility, there was talk and should be an issue (that I can't find right now) about being able to control what events are allowed to be sent

[2020-05-21 17:49] evankanderson commented on #3186
Broker is intended to be part of the external surface area of eventing. The purpose of having "a bucket of events that you can filter by attribute" is to make it easy for event producers to send events -- they should go into the bucket. Most of the time, there should be just one bucket (per namespace), but there are good cases for allowing multiple buckets, so that's why you can create multiple Br

[2020-05-21 19:42] evankanderson commented on #3186
If the details from https://github.com/knative/eventing/issues/3186#issuecomment-632250524 were helpful, would it be useful to add them to the Knative Docs eventing landing page? I wouldn't expect eventing consumers to have paid attention or found any of the notes from the December meeting two years ago.

[2020-05-21 21:23] #3178 closed

[2020-05-22 08:26] chizhg commented on #1904
We have enabled analyzer to catch performance regressions for the two benchmarks in eventing.

/close

[2020-05-22 08:26] #1904 closed

[2020-05-22 09:37] nicolaferraro opened #3188 "Support group ordering of events in (some) channels and brokers"
**Problem**
Writing real life event-driven applications on Knative eventing is hard.

Many non-hello-world services are expected to use a backing **datastore** for persistence, that they **update in response to events**. Knative eventing does **not give any ordering guarantee** for event delivery, hence a developer needs to always care about chances that related events (e.g. events that produce ch

[2020-05-22 10:24] cardil commented on #3186
Reply to @vaikas

I treated Broker as internal part. Mostly due to fact it accepts all events without authentication. Also, the name suggest that, as Brokers are the people that operate stocks. You can send them request, but often it's fronted with some other infrastructure like IT system, secretary, etc. Just to keep their minds focus on their main job - stocks, not outside human interaction. @ev

[2020-05-22 11:44] cardil commented on #3186
Reply to @evankanderson

Thanks for explanation. This paragraph surly be included in [Broker docs](https://knative.dev/docs/eventing/channel-based-broker).

Thanks for referencing those.

[2020-05-22 12:03] knative-test-reporter-robot opened #3189 "[flaky] test/e2e.TestChannelNamespaceDefaulter"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelNamespaceDefaulter
* **Repository name**: eventing

[2020-05-22 12:03] knative-test-reporter-robot opened #3190 "[flaky] test/e2e.TestChannelNamespaceDefaulter/InMemoryChannel-messaging.knative.dev/v1alpha1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelNamespaceDefaulter/InMemoryChannel-messaging.knative.dev/v1alpha1
* **Repository name**: eventing

[2020-05-22 12:10] aliok commented on #1959
/assign

[2020-05-22 12:16] cardil commented on #3186
Rethinking my proposition after comments I stand down with it as currently Broker is wide open. But, I would like to change my proposition a little.

I propose creating a `FaucetBinding` type (mirroring `SinkBinding`). It will define event type that can be sent, and their source. We can also specify signing algorithm. User must sign events while sending them to prove oneself indisputably. After cr

[2020-05-22 12:48] cardil opened #3191 "Rename FailOnMissingEvents flag to FailOnErrors for upgrade tests"
https://github.com/knative/eventing/blob/12c1ec1d407b377215d8ff5555edb59a364a7f8e/test/upgrade/prober/prober.go#L57

Right now `FailOnMissingEvents` has double meaning and without reading the code it's hard to know that setting that flag results on this behavior. It would be better to rename `FailOnMissingEvents` to `FailOnErrors`.

This is follow-up issue to PR https://github.com/knative/eventing

[2020-05-22 12:48] cardil commented on #3191
/assign @cardil
/type bug

[2020-05-22 12:49] cardil commented on #3191
/kind bug

[2020-05-22 13:49] duglin commented on #3157
Note that if knServices supported async natively (meaning returning a 202 quickly) then I think it would lessen the need for this because then the clients (event sources) get their outbound connection resources freed-up quickly, but the sink (the ksvc) would still scale up based on it processing lots of async requests and not be limited to just scaling on inbound requests (which are not there once

[2020-05-22 15:53] markfisher commented on #3138
I am in the "no magic" (at least for now) camp. I believe it's too early to know what the common pain points are for Brokers until a couple more implementations exist. I've been working on a [RabbitMQ Broker/Trigger](https://github.com/markfisher/rokn), and I've been discussing a few things with @grantr along the way as we're in somewhat of a similar boat delegating to external messaging systems d

[2020-05-22 17:56] lionelvillard commented on #2998
/close

we are keeping it.

[2020-05-22 17:56] #2998 closed

[2020-05-22 17:58] lionelvillard commented on #2497
/reopen

[2020-05-22 18:45] #3191 closed

[2020-05-22 19:10] evankanderson commented on #3186
We're aware that lacking authentication and authorization primitives is big gap. There are some environments where this can be mitigated in other ways -- network security policies, service mesh functionality, or "not that important" data are some of the cases we've seen.

There's definitely other workloads where this is a critical _feature_ gap, and I think it's well within the current architectur

[2020-05-22 19:59] vaikas opened #3195 "Flaky ChannelDefaultTest"
**Describe the bug**
As part of investigating failing tests, @n3wscott found this flakiness:

https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_eventing/3168/pull-knative-eventing-integration-tests/1263883762312155136

[code]

 **Expected behavior**
Tests not to be flaky

 **To Reproduce**
Run tests enough...

 **Knative release version**
Head

 **Additional context**
https://git

[2020-05-22 20:08] vaikas commented on #3195
#3190
More details related to that.

[2020-05-22 20:18] vaikas commented on #3195
We should wrap and use this.
https://github.com/knative/eventing/blob/45da93561fc02d7b6420030a9cb63aac3b02f344/vendor/knative.dev/pkg/reconciler/retry.go#L24

[2020-05-23 00:12] #3174 closed

[2020-05-23 12:03] #3185 closed

[2020-05-23 12:03] knative-test-reporter-robot opened #3198 "[flaky] test/e2e.TestChannelClusterDefaulter"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelClusterDefaulter
* **Repository name**: eventing

[2020-05-23 12:03] knative-test-reporter-robot opened #3199 "[flaky] test/e2e.TestChannelClusterDefaulter/InMemoryChannel-messaging.knative.dev/v1alpha1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelClusterDefaulter/InMemoryChannel-messaging.knative.dev/v1alpha1
* **Repository name**: eventing

[2020-05-23 18:40] #3195 closed

[2020-05-23 18:42] vaikas commented on #3190
Fixed by: #3196

[2020-05-23 18:42] #3190 closed

[2020-05-23 18:43] vaikas commented on #3198
Fixed by: #3196

[2020-05-23 18:43] #3198 closed

[2020-05-23 18:44] vaikas commented on #3189
Fixed by: #3196

[2020-05-23 18:49] vaikas commented on #3189
Actually, this one is not, closed the wrong one. That only dealt with the cluster one.

[2020-05-23 18:53] vaikas commented on #3189
Nah, it should have fixed this one too, since they both now use that wrapped retry method.