[2019-06-14 10:38] #1380 closed

[2019-06-14 11:19] #904 closed

[2019-06-14 11:19] #948 closed

[2019-06-14 14:53] vaikas-google commented on #1381
For completeness sake, can we jot down why FaaS case is not answered by wiring a Source.directly. I.E. not using Broker/Trigger.

[2019-06-14 15:49] duglin commented on #1381
+1 to what I think is the broader point @vaikas-google is making.... we shouldn't assume people are using (or want to use) all of the features of KnEventing. Meaning, they may not want/need brokers, channels, triggers, etc... in all scenarios - they should be used only when they need to be used.

And this may not be possible, or too much magic is involved, but if we can get to the point where a us

[2019-06-14 18:25] lionelvillard commented on #1396
Here a strawman proposal: https://docs.google.com/document/d/1Yzvr6WFq1F9d6y-h-bMTK69FlU4jSgD5u9G9XAqZvx4/edit

[2019-06-14 20:43] grantr commented on #930
/milestone clear

[2019-06-14 20:46] grantr commented on #1343
Since the provisioned-based channels are still supported but deprecated in 0.7, this can be moved to 0.8.

/milestone v0.8.0

[2019-06-14 23:39] Fredy-Z commented on #939
In 0.7.0, we decide to only measure the latency between sending an event into a `Broker` and receiving that event via a `Trigger`.
Since `Knative Serving` has done a lot of work for performance testing, it would be nice if we can leverage their work as much as possible. However, as `Eventing` is not simple `send and wait for reply` model, we'll need to derive a new way to measure the latencies. Bu

[2019-06-15 00:57] lindydonna commented on #1381
I'll answer here, since I haven't yet started a doc.

Some folks on the Google side feel that it is best to have a single user model across both scenarios. So, per @sixolet's [comment above](https://github.com/knative/eventing/issues/1381#issuecomment-501097001), her option \# 1 would present a different model, depending on which case you are in.

As she put it:

My personal view is that these two

[2019-06-15 01:32] mikehelmick commented on #1381
I am over the opinion that there is value in being able to have a consistent trigger writing experience, without regard to where the events are sourced from (off cluster producer talking directly to broker, off producer through importer, on cluster producers).

There are great building blocks and we shouldn't prevent people from assembling them in whichever way they see fit. However, for building

[2019-06-15 10:15] #1356 closed

[2019-06-15 11:27] vaikas-google commented on #1213
As far as the CRDs go, we need to make sure that we also spec out:
 - channel-manipulator roles
 - label for subscribable:
    messaging.knative.dev/subscribable: "true"

Categories:
 - channelable type.

[2019-06-15 20:40] n3wscott commented on #1375
I can work on this, I am doing work to upstream common channel components for writing out-of-tree channel impls.

[2019-06-15 20:41] n3wscott commented on #1375
/assign

[2019-06-17 08:16] matzew opened #1414 "[BUG] e2e test fail on minikube"
running the e2e tests on minikube, I get:

[code]

[2019-06-17 08:33] Abd4llA commented on #1414
I saw same thing with:
- serving 0.6
- eventing master

[2019-06-17 12:31] cliveseldon commented on #1396
@lionelvillard Your routing proposal covers what we need for MLGraph routing use case. In our case we would create GenericRouters to cover the "multi-armed bandit" routers we need.

We also need state management but that sounds like a separate discussion in the knative world.

[2019-06-17 21:17] akashrv commented on #1375
- Totally Agree :)

 - Yes, will that be a problem or conflict?

[2019-06-17 21:32] grantr opened #1416 "[BUG] Broker tracing requires a config map in the broker's namespace"
**Describe the bug**
_This may be WAI by @harwayne, but I think the UX is poor and would like to see it changed._

Currently the Broker's ingress and filter pods are instrumented for tracing, but getting these pods to send traces requires the namespace to have a `config-tracing` configmap **separate from the identical configmap in `knative-eventing`**.

This is confusing, and an onerous requiremen

[2019-06-17 21:41] grantr opened #1417 "[BUG] Broker pods die if tracing configmap is malformed on start"
**Describe the bug**
If the tracing configmap is updated to include the key `enabled: "true"` but no `zipkin-endpoint` key, the Broker pods log an error but keep operating. They will fail to start upon the next restart.

 **Expected behavior**
The pod should use the default value, or disable tracing and continue. Tracing is an observability feature and its misconfiguration shouldn't cause the Brok

[2019-06-18 06:00] Fredy-Z commented on #1414
This issue is a general problem, not specific to minikube, see #1419 .

[2019-06-18 06:08] vaikas-google commented on #1353
@lionelvillard if you get a chance, can you retry from HEAD and if it still fails, can you share the details of your setup for repro purposes.

[2019-06-18 06:25] vaikas-google commented on #1375
I would think that the ducks wouldn't necessarily be composed like that, but rather that there would be a duck that defines the pieces that we want. I could totally be wrong, but the way Channelable is defined today makes it very hard to convey meaningful status, so I'd rather fix that unless we have a concrete line-of-sight problem that will cause us grief.

[2019-06-18 12:37] akashrv commented on #1375
No concrete immediate problem that I can foresee. The type conflict is something that can be avoided and just needs to be aware of.

[2019-06-18 12:42] vaikas-google opened #1421 "[BUG] Can not feed back events from a Sequence to a broker"
**Describe the bug**
If I create a Trigger targeting a Sequence, the Sequence will see the events and do the right things. However, if I specify the Reply as the Broker, like so:

  reply:
    kind: Broker
    apiVersion: eventing.knative.dev/v1alpha1
    name: broker-test

The seemingly right things happen, but in the data plane the events are discarded because there is no TTL in that message (fr

[2019-06-18 13:27] lionelvillard commented on #1353
I cannot reproduce either. Must have been fixed, so closing.

[2019-06-18 13:27] #1353 closed

[2019-06-18 13:35] rinormaloku commented on #1395
:+1: This requires attention...

[2019-06-18 14:48] vaikas-google commented on #1421
FYI, the example that won't go is the:
https://github.com/knative/docs/pull/1481
And in particular the Broker / Trigger example:
https://github.com/knative/docs/pull/1481/files#diff-59937fbaf184fcdfd710aa128b30a9e2

[2019-06-18 16:52] grantr opened #1423 "Tag broker metrics by type"
**Problem**
I want to see a histogram of the events flowing through the Broker by type.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer or Operator

**Exit Criteria**
Metrics are tagged by type.

**Time Estimate (optional):**
1-2 days

**Additional context (optional)**
Requested by @mikehelmick.

Since type is unbounded, this could cause a tag explosion

[2019-06-18 18:05] jonbcampos-alto opened #1424 "default TTL is too short for pubsub messages"
**Describe the bug**
When using pubsub messages the default subscription that is created is too short (10 seconds). Stopping pubsub messages from reaching the service.

 **Expected behavior**
An easier way to config this through yaml? It "just working"?

 **To Reproduce**
Can provide code if requested.

 **Knative release version**
v0.6.0

 **Additional context**
seen through video chat with @n3ws

[2019-06-18 18:05] jonbcampos-alto commented on #1424
need to assign to @n3wscott, don't have the permissions

[2019-06-18 18:58] Fredy-Z commented on #1233
The tests are not flaky anymore, close this issue.

[2019-06-18 18:58] #1233 closed

[2019-06-18 20:54] n3wscott opened #1425 "[BUG] Servings Addressable usage not working with eventing?"
**Describe the bug**

Confirm Serving master (pre 0.8 cut) still works with the addressable ducktypes in use with Eventing sinks and subscribers.

[2019-06-18 22:49] lindydonna commented on #1381
I've started a doc in the shared drive so we can collaborate more easily. See [High\-level eventing scenarios \(June 2019\)](https://docs.google.com/document/d/1DpiSL2dUcYS2n7yXOIG5LJwyIC1lY9q_W8-56U1SvKM/edit?hl=en#)

[2019-06-19 03:23] #1416 closed

[2019-06-19 03:52] #1414 closed

[2019-06-19 09:36] vaikas-google commented on #1425
I cut from the head and verified that everything worked using v1beta1 with Service as part of the docs for Sequence. Is there something else?
Worked for Triggers, Sequences and Channels.
https://github.com/knative/docs/pull/1481

The way you phrased the subject, did you see some issues?

[2019-06-19 09:36] vaikas-google commented on #1424
/assign @n3wscott

[2019-06-19 10:33] vaikas-google opened #1427 "[BUG] messaging/v1alpha1 not being validated (yikes)"
**Describe the bug**
We never wired the validations into the webhooks, so even though we had bunch of unit tests, the webhook was actually never validating them

 clear and concise description of what the bug is.

 **Expected behavior**
That all resources get validated properly at the webhook.
A clear and concise description of what you expected to happen.

 **To Reproduce**
a malformed Sequence (

[2019-06-19 11:29] #1427 closed

[2019-06-19 12:57] n3wscott commented on #1425
It was a tracking bug to test it. Thanks for testing it!!!

On Wed, Jun 19, 2019, 2:36 AM Ville Aikas <notifications@github.com> wrote:

[2019-06-19 13:54] vaikas-google commented on #1343
I think we should have a way to specify the default behaviours for things like Broker / Sequence. For those, it would be nice to have a default. Otherwise, the injection used for Broker becomes harder.So for higher level things we could default the Channel CRD template to use with similar mechanism using the configmap like before.

[2019-06-19 20:53] jingweno opened #1435 "Remove deprecated fields for `ContainerSource`"
**Problem**

https://github.com/knative/eventing/pull/1321 introduces `PodTemplateSpec` to `ContainerSourceSpec`. Existing deprecated fields (`image`, `args`, `env` and `serviceAccountName`) can be removed after 0.7.x is released.

Ref: https://github.com/knative/eventing/blob/master/pkg/apis/sources/v1alpha1/containersource_types.go#L55-L80.

**Exit Criteria**

Deprecated fields in container sour

[2019-06-19 22:58] n3wscott opened #1437 "Integrate with logstream"
See https://github.com/knative/serving/pull/4431

[2019-06-20 01:00] akashrv commented on #1425
/close
It seems Matt already fixed this in #1296

[2019-06-20 01:00] #1425 closed

[2019-06-20 17:06] Fredy-Z commented on #939
/reopen

[2019-06-20 17:47] akashrv commented on #1437
@n3wscott Please provide some more context (Why and What) rather than just pointing to a PR that too doesn't have any description.

[2019-06-20 17:53] akashrv commented on #1437
priority/awaiting-more-evidence

[2019-06-20 17:55] akashrv commented on #1437
/priority 4
Need more info

[2019-06-20 18:22] akashrv commented on #1189
/close

[2019-06-20 18:22] #1189 closed

[2019-06-20 18:22] akashrv commented on #1096
/close

[2019-06-20 18:22] #1096 closed

[2019-06-20 19:03] akashrv commented on #1275
@Fredy-Z We can ignore the provisioner based channels as they are being deprecated. However, I am assuming the E2E test is needed for the new CRD based channels too. Could you confirm? If so, could you make this part of the existing issues to add e2e test for each channel, or do we need this separate issue?

[2019-06-20 19:07] Fredy-Z commented on #1077
This test case isn't flaky anymore, close it.

[2019-06-20 19:07] #1077 closed

[2019-06-20 19:07] akashrv commented on #1250
@srvaroa Are you actively working on this issue? If so, could you please assign it to yourself "/assign srvaroa" and also update status?

[2019-06-20 19:13] Fredy-Z commented on #1275
Yes, we'll still need this E2E test.
As I talked with Adam before, for the provisioner based channels, we can have one single E2E test for all provisioners. I'm not sure about CRD based channels, but if we can do the similar thing, we can keep this as a separate issue, and the same for https://github.com/knative/eventing/issues/1274

[2019-06-20 19:13] akashrv commented on #1125
/assign @n3wscott

For GCP pubsub CRD channel, this is already part of the design. Hence just assigning to Scott.

[2019-06-20 19:17] akashrv commented on #1125
This will be part of #1214

[2019-06-20 19:19] akashrv commented on #950
@vaikas-google @n3wscott : Could one of you verify if this issue is needed and close/update it?

[2019-06-20 19:22] akashrv commented on #946
@n3wscott: @mattmoor had some proposal in last TOC meeting about pkg dependency. @mattmoor Could you provide more details or guidance?
Trying to figure out if this work item is still needed and if so what and how much work it is?

[2019-06-20 19:35] mattmoor commented on #946
We no longer depend on a commit, and there are daily jobs to fast-forward things.

[2019-06-20 19:35] #946 closed

[2019-06-20 21:09] akashrv commented on #1417
/priority 1

[2019-06-20 21:11] akashrv commented on #1417
/priority important-soon

[2019-06-20 21:13] akashrv commented on #1417
/milestone v0.8.0

[2019-06-20 21:14] akashrv commented on #1417
/milestone v0.8.0

[2019-06-20 21:20] akashrv commented on #1395
/priority critical-urgent

[2019-06-20 21:23] akashrv commented on #1395
/milestone v.0.7.0

[2019-06-20 21:24] akashrv commented on #1395
/milestone v0.7.0

[2019-06-20 21:36] akashrv commented on #1375
/priority important-soon

[2019-06-20 21:36] akashrv commented on #1375
/milestone v0.8.0

[2019-06-20 21:37] akashrv commented on #1370
/priority important-longterm

[2019-06-20 21:37] akashrv commented on #1367
/priority important-soon

[2019-06-20 21:38] akashrv commented on #1367
/miestone v0.8.0

[2019-06-20 21:39] akashrv commented on #1336
/priority important-soon

[2019-06-20 21:39] akashrv commented on #1336
/milestone v0.8.0

[2019-06-20 21:40] akashrv commented on #1326
/priority important-soon

[2019-06-20 21:40] akashrv commented on #1322
/priority important-soon

[2019-06-20 21:41] akashrv commented on #1322
/milestone v0.8.0

[2019-06-20 21:41] akashrv commented on #1268
/priority important-longterm

[2019-06-20 21:43] akashrv commented on #1268
/remove-priority important-longterm

[2019-06-20 21:45] akashrv commented on #1076
/priority important-soon

[2019-06-20 21:46] akashrv commented on #1072
/close
This is now handled and subscribable status set accordingly with CRD based channel

[2019-06-20 21:46] #1072 closed

[2019-06-20 21:47] akashrv commented on #1070
/priority important-longterm

[2019-06-20 21:47] akashrv commented on #1059
/priority important-longterm

[2019-06-20 21:49] akashrv commented on #1036
/close

[2019-06-20 21:49] #1036 closed

[2019-06-20 21:51] akashrv commented on #1027
I'll close this for now. When we move channels to contrib repo, I believe there will be ample opportunity to do this. @matzew  If you think otherwise then please re-open as an improvement/feature.

[2019-06-20 21:51] akashrv commented on #1027
/close

[2019-06-20 21:51] #1027 closed

[2019-06-20 22:08] akashrv commented on #993
/priority important-long-term

[2019-06-20 22:09] akashrv commented on #896
/priority important-longterm

[2019-06-20 22:09] akashrv commented on #895
/priority important-longterm

[2019-06-20 22:09] akashrv commented on #895
/kind good-first-issue

[2019-06-20 22:10] akashrv commented on #895
/kind good-first-issue

[2019-06-20 22:10] akashrv commented on #926
/close

[2019-06-20 22:10] #926 closed

[2019-06-20 22:11] akashrv commented on #1059
/kind good-first-issue

[2019-06-20 22:12] akashrv commented on #1326
/kind good-first-issue

[2019-06-20 22:13] akashrv commented on #1392
Is this related to #1421

[2019-06-20 22:13] akashrv commented on #1421
/priority important-soon

[2019-06-20 22:14] akashrv commented on #1392
priority/important-soon

[2019-06-20 22:15] akashrv commented on #1424
/priority important-soon

[2019-06-20 22:16] akashrv commented on #890
/close

This is fixed with pkg/controllers

[2019-06-20 22:16] #890 closed

[2019-06-20 22:17] akashrv commented on #268
/close

[2019-06-20 22:17] #268 closed

[2019-06-20 22:18] akashrv commented on #827
/priority awaiting-more-evidence

[2019-06-20 22:40] mikehelmick opened #1444 "[BUG] V02TTLAttribute gets changed by http libraries"
**Describe the bug**
In the broker, an http event sent with binary encoding is received with the V02TTLAttribute having the wrong casing.

knativebrokerttl is the current value, but net/textproto's canonical encoding function causes this to be received as Knativebrokerttl

https://github.com/golang/go/blob/master/src/net/textproto/reader.go#L575

This ultimately causes broker events to be dropped

[2019-06-20 22:40] mikehelmick commented on #1444
/assign mikehelmick

[2019-06-20 22:43] akashrv commented on #1370
/assign n3wscott

[2019-06-20 22:46] akashrv commented on #1336
/priority important-longterm

[2019-06-20 22:46] akashrv commented on #1336
/remove-priority important-soon

[2019-06-20 22:51] akashrv commented on #1268
@Abd4llA Would you appetite to work on some of these NATSS bugs in v0.8.0? We will prioritize it accordingly.

[2019-06-20 22:52] akashrv commented on #1202
/priority important-longterm

[2019-06-20 23:02] akashrv commented on #1010
/close

[2019-06-20 23:02] #1010 closed

[2019-06-20 23:05] akashrv commented on #885
/close

[2019-06-20 23:05] #885 closed

[2019-06-20 23:10] akashrv commented on #627
/close

[2019-06-20 23:10] #627 closed

[2019-06-20 23:46] akashrv commented on #1444
Seems like #1421 #1392 are related. @mikehelmick Could you take a look at them too when working on this bug?

[2019-06-20 23:46] akashrv commented on #1444
/priority important-soon

[2019-06-20 23:51] akashrv commented on #1076
/assign @n3wscott
This should get fixed once the new channel starts supporting subscribableStatus

[2019-06-21 09:09] mikehelmick commented on #1392
/assign mikehelmick

[2019-06-21 10:00] matzew opened #1446 "Remove Kafka CCP in 0.8.0 release"
Kafka CCP is now deprecated (with 0.7.0)

and in 0.8.0 it will go away

Instead, folks should/must use the `kind: KafkaChannel`

[2019-06-21 10:01] matzew commented on #1446
/assign @matzew

[2019-06-21 14:59] akashrv commented on #1446
/priority important-soon

[2019-06-21 14:59] akashrv commented on #1446
/milestone v0.8.0

[2019-06-21 15:01] akashrv commented on #1446
/remove-kind bug
/kind feature-request
/kind cleanup

[2019-06-21 16:18] #1395 closed

[2019-06-21 17:46] akashrv opened #1449 "Dataplane security - Work based on #705"
<Placeholder to be considered in planning @mikehelmick will fill in details>
#Work based on  #705
**Problem**
A short explanation of the problem, including relevant restrictions.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

*

[2019-06-22 10:32] #1375 closed

[2019-06-22 20:31] mikehelmick commented on #1449
/assign mikehelmick

[2019-06-23 05:57] Fredy-Z opened #1453 "Docs need to be updated due to provisioner deprecation in release 0.7"
**Problem**
Due to the deprecation of provisioner in Eventing 0.7, a couple of doc pages need to be updated. Below are the page links I can find for now:
- https://github.com/knative/docs/tree/master/docs/eventing
- https://github.com/knative/docs/blob/master/docs/eventing/broker-trigger.md
- https://github.com/knative/docs/blob/master/docs/eventing/default-channels.md
- https://github.com/knative

[2019-06-24 02:15] Fredy-Z opened #1456 "[BUG]A couple of unit test cases are flaky"
**Describe the bug**
The unit test case `TestRunnableServerShutdownContext`, `pkg/provisioners/fanout.TestFanoutHandler_ServeHTTP/all_subs_succeed`, `pkg/provisioners/fanout.TestFanoutHandler_ServeHTTP/fanout_times_out` are flaky, see https://testgrid.knative.dev/eventing#continuous.

 **Expected behavior**
The test cases can consistently pass.

[2019-06-24 20:11] #1392 closed

[2019-06-24 20:11] #1444 closed

[2019-06-24 20:17] grantr commented on #704
Documentation is now tracked in https://github.com/knative/docs/issues/1515. Closing this one.

[2019-06-24 20:17] #704 closed

[2019-06-24 20:18] grantr commented on #1456
#1460 extends the `TestRunnableServerShutdownContext` timeout which might help for resource-constrained CI nodes.

[2019-06-24 20:31] grantr commented on #1214
This is being worked on in the https://github.com/google/cloud-run-events repo, but it's not ready yet.

/milestone v0.8.0

[2019-06-24 22:04] grantr commented on #705
/milestone v0.8.0

[2019-06-24 22:25] grantr opened #1461 "Throughput testing for core eventing components"
**Problem**
We have no way to repeatably measure throughput of eventing components like importers, channels, and brokers, or track throughput improvements/regressions.

If we focus on a few core components like Broker and InMemoryChannel, we can extend those tests to support other components later.

This was broken out of https://github.com/knative/eventing/issues/939.

**[Persona:](https://github

[2019-06-24 22:25] grantr commented on #939
We have a latency test for Broker. #1461 tracks throughput tests.

[2019-06-24 22:25] #939 closed

[2019-06-24 22:29] grantr commented on #1213
/milestone v0.8.0

[2019-06-24 22:54] mikehelmick commented on #1421
I suspect this is fixed based on the PR that went int today, but I'll run through the docs to verify.

[2019-06-24 22:54] mikehelmick commented on #1421
/assign mikehelmick

[2019-06-24 23:00] grantr opened #1462 "[BUG] Unreachable addressable reference causes error in duck informer"
**Describe the bug**
Referencing an unreachable object causes the duck informer to log an error. This error seems to stop the controller from updating the object's status, so the user never sees that an error occurred.

 **Expected behavior**
The user sees an error condition in the status of their object  along with a message explaining what went wrong.

 **To Reproduce**
Create a source with an i

[2019-06-25 03:16] adrcunha commented on #1214
/milestone v0.8.0

[2019-06-25 03:17] adrcunha commented on #1214
/milestone v0.5.0

[2019-06-25 03:17] adrcunha commented on #1214
/milestone v0.7.0

[2019-06-25 03:27] adrcunha commented on #1214
/milestone v0.7.0

[2019-06-25 03:32] adrcunha commented on #1214
/milestone v0.7.0

[2019-06-25 03:33] adrcunha commented on #1214
/milestone v0.7.0

[2019-06-25 03:34] adrcunha commented on #1214
/milestone v0.7.0

[2019-06-25 03:34] adrcunha commented on #1214
/milestone v0.7.0

[2019-06-25 03:35] adrcunha commented on #1214
/milestone v0.7.0

[2019-06-25 03:36] adrcunha commented on #1214
/milestone v0.7.0

[2019-06-25 03:36] adrcunha commented on #1214
/milestone v0.7.0

[2019-06-25 03:37] adrcunha commented on #1214
/milestone v0.7.0

[2019-06-25 03:38] adrcunha commented on #1214
/milestone v0.7.0

[2019-06-25 03:42] adrcunha commented on #1214
/milestone v0.7.0

[2019-06-25 07:00] sebgoa commented on #1214
I assume this is a private repo , it gives a 404 !!

[2019-06-25 16:01] Harwayne commented on #1214
Sorry, typo in the repo name. The correct one is: https://github.com/GoogleCloudPlatform/cloud-run-events

[2019-06-25 17:46] #1367 closed

[2019-06-25 18:00] #1348 closed

[2019-06-25 19:07] n3wscott opened #1471 "Migrate to use v0.3 of CloudEvents Spec"
[v0.3 of CloudEvents](https://github.com/cloudevents/spec/releases/tag/v0.3) has been released, let's use it.

[2019-06-26 20:05] #1322 closed

[2019-06-27 06:39] aliok opened #1478 "Adapt to user info annotations changes in knative/pkg"
**Problem**
How to add user info annotations is changed with https://github.com/knative/pkg/pull/467.

Now resources from Knative modules need to implement `HasSpec` interface to get annotations automatically.

~~With that PR, a standard is set for the annotation keys to be used for all modules. So, not every module will have a different key scheme for the annotations. That means, for eventing res

[2019-06-28 11:57] matzew opened #1485 "[BUG] deprecated Kafka CCP yaml missing in 0.7.0"
**Describe the bug**
the deprecated CCP for Kafka is already gone (not in code, but in config)

 **Knative release version**
0.7.0

 **Additional context**
Add any other context about the problem here such as proposed priority

[2019-06-28 23:49] #1388 closed

[2019-07-01 11:20] matzew commented on #1485
merged to branch ->   #1486

[2019-07-01 11:20] #1485 closed

[2019-07-02 00:21] evankanderson commented on #1396
For the "Join" operation, can you use a key-value store like Redis or Memcache for state management, rather than keeping the state in-process?

Other than that, Broker/Trigger is intended to provide the multi-armed bandit solution (assuming that you actually mean "independent selection of events on each subscriber" and not the [Machine Learning technique](https://www.optimizely.com/optimization-gl

[2019-07-02 02:08] daisy-ycguo commented on #1326
/assign @daisy-ycguo

[2019-07-02 06:00] atamon opened #1493 "[BUG] Missing support for event processing retries"
**Describe the bug**
Using  KafkaChannel, when my Adressable pod fails to process the message, either responding with a non 2XX or not at all to the HTTP request, the message is lost forever.

 **Expected behavior**
I would expect my pods to receive the event over and over until I have properly acknowledged that the message has been properly processed by my application. If there are multiple pods

[2019-07-02 06:38] daisy-ycguo commented on #1456
+1.

My PR didn't change anything related with FanoutHandler. My local unit tests passed very smoothly. Yet in CI, my PR met with below error several times in the unit test:

[code]

[2019-07-02 07:01] cliveseldon commented on #1396
@evankanderson For our [MLGraph](https://github.com/SeldonIO/mlgraph) use case mentioned we do mean the machine learning multi-armed bandit solvers - so stateful algorithms that decide a route. I see a [simple solution](https://github.com/SeldonIO/mlgraph/blob/master/docs/knative-impl.md#route) where they add headers so the usual triggers can be activated. Not sure if this could be covered by @lio

[2019-07-02 07:39] yuzisun opened #1494 "Make kafka channel dispatcher optionally non-blocking for topics that does not require ordering"
**Problem**
For kafka topic that does not require ordering, blocking call in kafka dispatcher really limits the throughput of the eventing pipeline. Currently the overall concurrency is limited by the number of partitions when using kafka channel due to which we are not able to fully leverage autoscaling.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which perso

[2019-07-02 09:28] n3wscott opened #1496 "[BUG] CamelCase subscribablestatus"
In eventing/pkg/apis/duck/v1alpha1/subscribable_types.go `subscribablestatus` is not camel cased and it should be.

This changes the api so it needs review and approval.

[2019-07-02 12:21] n3wscott opened #1498 "[BUG] SubscriberSpec.URI should be a apis.URL"
knative/pkg/apis/URL is a url that json encodes to a string at rest, but hydrates to a URL in code. We should use it in SubscriberSpec.URI.

[2019-07-02 13:46] aliok commented on #1059
I would like to work on this task, sounds interesting.

[2019-07-02 13:46] aliok commented on #1059
/assign @aliok

[2019-07-02 14:48] n3wscott opened #1500 "[Proposal] We should have sources.knative.dev"
`sources.eventing.knative.dev` is too long and should not include eventing. I think we should move the resources to `sources.knative.dev`

Thoughts?

Update:

Here is my thinking, I am attempting to define the internal brands inside of Knative.

 - Eventing brand is event based mesh-like interactions. Sources are not this.
 - Messaging is point to point persistence delivery. Sources are also not t

[2019-07-02 15:32] matzew commented on #1182
IMO this needs some more details or a concrete proposal

[2019-07-02 18:23] daisy-ycguo commented on #1456
TestRunnableServerShutdownContext failed again in [another CI job](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_eventing/1501/pull-knative-eventing-unit-tests/1146084103225872384). Maybe the timeout needs to be even longer:

[code]

[2019-07-02 19:52] grantr commented on #1456
#1502 disables RunnableServerShutdownContext, ServeHTTP/all_subs_succeed, and TestTTL_Start.

[2019-07-02 22:20] Harwayne commented on #903
/kind good-first-issue

[2019-07-02 22:44] #1456 closed

[2019-07-03 01:33] daisy-ycguo opened #1504 "[BUG] default broker shall be removed when label `knative-eventing-injection` is removed"
**Describe the bug**
A `default` broker will be created when `kubectl label namespace default knative-eventing-injection=enabled`. Yet the `default` broker will not be deleted when removing the label by `kubectl label namespace default knative-eventing-injection-` or disabling the label by `kubectl label namespace default knative-eventing-injection=disabled --overwrite`

 **Expected behavior**
- T

[2019-07-03 05:21] mikehelmick commented on #1381
I wanted to give an update here and I would be happy to discuss this at the next WG meeting.

We are currently exploring an extension to Trigger to support the scenarios described for the **storm** object and the scenarios in the high-level eventing scenarios doc.

What we are looking at is

- Extending the registry to [optionally] describe how to create an importer for a given source type
- Exten

[2019-07-03 06:55] daisy-ycguo commented on #1417
`in-memory-channel-dispatcher` is using the same logic to manage tracing and it has the same problem. Without `zipkin-endpoint` configured, `in-memory-channel-dispatcher` pod will get `error` when starting up.

[code]

So the logic to manage tracing with Zipkin shall be reviewed and updated.

[2019-07-03 14:23] lionelvillard commented on #1381
when you say:

through the broker or directly? I think you mean through the broker, is that correct?

[2019-07-03 14:54] daisy-ycguo commented on #1417
Several pods with dependency on Zipkin affect by this issue, not only `broker` and `in-memory-channel-dispatcher`. They are:
- broker filter
- broker ingress
- in-memory channel dispatcher
- gcppubsub channel dispatcher
- kafka channel dispatcher
- natss channel dispatcher

The root cause is `vendor/knative.dev/pkg/tracing/config/trace.go: NewTracingConfigFromMap` returning nil when tracing config

[2019-07-03 15:11] mikehelmick commented on #1381
Correct - through the broker.

[2019-07-03 17:48] alanconway commented on #1226
I'm pushing for something like this on a couple of fronts.
I did some prototyping way back https://github.com/alanconway/lightning which is obsoleted by developments in the CNCF libraries, so I'm currently working to update the CNCF libraries to support this kind of transport-to-transport negotiation

https://github.com/knative/eventing-contrib/issues/343
https://github.com/cloudevents/sdk-go/issu

[2019-07-03 20:46] alanconway opened #1507 "[BUG] Dont require gcloud when not available or needed"
**Describe the bug**
Scripts like test/upload-test-images.sh work fine without gcloud but break because it can't be found.
Make the calls to gcloud no-ops rather than errors if gcloud is not available.

 **Expected behavior**
test/upload-test-images.sh works on non-google clusters (minikube, kubeadm)

[2019-07-04 06:40] daisy-ycguo commented on #1225
A feature-request [PR #4616](https://github.com/knative/serving/issues/4616) and a [PR #4617](https://github.com/knative/serving/pull/4617) is submitted to Knative Serving, in order to support other Knative components to leverage the same Prometheus to manage metrics.

After this PR is approved, we can add annotation `prometheus.io/scrape: "true"` to broker services, e.g. default-broker and defaul

[2019-07-05 08:27] Abd4llA commented on #1471
I would like to take this

[2019-07-05 08:28] Abd4llA commented on #1471
/assign

[2019-07-05 08:33] Abd4llA commented on #1336
/assign

[2019-07-05 08:38] Abd4llA commented on #1453
/assign

[2019-07-08 12:49] lionelvillard commented on #1494
@yuzisun Have you tried changing the Kakfa `consumerMode` to `partitions`? Look for `knative-eventing/config-kafka`. By default the consumer mode is `multiplex` which uses a single go routine.

[2019-07-08 16:35] jonbcampos-alto opened #1513 "fanout timeout due to large docker image"
**Describe the bug**
When I try to run a pubsub -> ksvc eventing flow I get a fanout timeout from the in-memory dispatcher.

 **Expected behavior**
Success? Or maybe just some better documentation of the error.

 **To Reproduce**
Create a dockerfile with a super simple function from the following file (from lots of various Google documents)
[code]
The `gcr.io/google_appengine/nodejs` is large appa

[2019-07-08 16:42] #1213 closed

[2019-07-08 17:39] #1326 closed

[2019-07-08 21:39] lionelvillard opened #1515 "Sequence should only accept Callable"
**Problem**
It does not make sense to have an addressable as part of a sequence since all subsequent steps will be ignored.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
consumer

**Exit Criteria**
The status of the Sequence should show NotCallable

**Time Estimate (optional):**
less than a day

**Additional context (optional)*

[2019-07-08 22:50] lionelvillard commented on #1515
Sequence should also accept Addressable and "Repliable" object to make Sequence composable (ie Sequence of sequences)

[2019-07-09 01:51] chizhg opened #1516 "[BUG]E2E test cases cannot consistently pass without hacky sleeps"
**Describe the bug**
Right now there are hacky sleeps in eventing e2e test framework, if we remove them and run `go test ...`, a couple of (random) test cases cannot pass.
https://github.com/knative/eventing/blob/3c6e1cfb6feb705a71f2236243e2929bb93b41ea/test/common/operation.go#L114
https://github.com/knative/eventing/blob/3c6e1cfb6feb705a71f2236243e2929bb93b41ea/test/test_images/sendevents/main.g

[2019-07-09 16:21] mikehelmick opened #1519 "Add documentation around consuming events"
**Problem**
Current documentation talks a lot

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event consumer (developer)

**Exit Criteria**
Documentation includes instructions + code samples

**Time Estimate (optional):**
1-2 days

[2019-07-09 16:21] mikehelmick commented on #1519
/label kind/doc

[2019-07-09 18:39] #1507 closed

[2019-07-09 19:10] lionelvillard commented on #1039
Should this issue be closed?

[2019-07-09 19:17] lionelvillard opened #1521 "Sequence is not composable"
**Problem**
When a sequence A is part of another sequence B, the last event produced by A should be fed to the step following A in B.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
Consumer

**Exit Criteria**
Create a sequence of sequences and see it works properly

**Time Estimate (optional):**
1 day

**Additional context (opti

[2019-07-09 20:25] akashrv commented on #1519
We started with this work few weeks back and have a draft documentation. Docs team is currently working on final version based on the draft.

[2019-07-09 21:01] lionelvillard commented on #1521
link to design document: https://docs.google.com/document/d/17_6ONVtE397X_H5J0mlzvJKiqFWzoHLOqapis6f7nlo/edit

[2019-07-09 21:55] Harwayne commented on #1381
The event is sent via the Broker exclusively to that Trigger. The event will _not_ be seen by other Triggers associated with the same Broker. The event will go through the same general Broker ingress validation as all events transiting that Broker (e.g. auth checks from #705). Replies from the Trigger will go back into the Broker, broadcasting to all Triggers associated with that Broker.

For exam

[2019-07-09 22:22] #1424 closed

[2019-07-09 22:52] yuzisun commented on #1494
@lionelvillard I originally implemented `partitions` for consumer mode but it still does not satisfy our performance requirement since it is bounded to the number of partitions of the topic.

[2019-07-10 00:12] lionelvillard commented on #1381
For me, as an user, it makes more sense to have targeted triggers receiving only targeted events. Then I don't have to worry about receiving events I didn't ask for.

[2019-07-10 00:27] grantr commented on #1381
Several of us are working on a prototype to explore the ideas @mikehelmick described in https://github.com/knative/eventing/issues/1381#issuecomment-507942384 with the goal of understanding better how the UX and implementation could actually work. We hope to share our findings next week.

[2019-07-10 14:30] rakesh-garimella commented on #1336
I would like to look into this issue @Abd4llA  can you assign it to me ?

[2019-07-10 15:20] lionelvillard opened #1525 "Be able to easily define branches"
**Problem**
It would be nice to easily define mutually exclusive branches.
[code]

The F1 branch is invoked only when the condition C1 is true. The F2 branch is invoked only when C1 is false and C2 is true.

This is similar to [sequence](https://github.com/knative/eventing/issues/1067).

**Persona:**
Which persona is this feature for?
Event Consumer

**Exit Criteria**
A measurable (binary) test th

[2019-07-10 15:57] Abd4llA commented on #1336
/assign @rakesh-garimella

[2019-07-10 15:58] Abd4llA commented on #1336
/unassign

[2019-07-10 16:15] sixolet commented on #1381
I'm also nervous (like @lionelvillard ) about having replies sent to *every* trigger, but perhaps triggers could keep filtering on event type and source, which would allow you to subscribe to only particular classes of replies if you like. This also makes the on-cluster eventing case better.

It also makes

[2019-07-10 16:23] lindydonna opened #1526 "Update user stories and personas doc and add to repo"
Summarize the user stories in [this doc](https://docs.google.com/document/d/15uhyqQvaomxRX2u8s0i6CNhA86BQTNztkdsLUnPmvv4/edit#) and add as a markdown file in this repo.

Also update https://github.com/knative/eventing/blob/master/docs/personas.md.

[2019-07-10 16:24] lindydonna commented on #1526
/assign

[2019-07-10 16:28] Harwayne commented on #1381
Sorry, I elided that information above. Whenever I say that 'a Trigger receives an event', that Trigger will:
1. Check its filter. If the event does not pass the filter, then immediately drop the event.
1. Send the event to its subscriber.
1. If the subscriber replies to the event, then send that reply to the Trigger's Broker as a broadcast event.

So when I wrote that 'replies sent to _every_ tri

[2019-07-10 17:06] lionelvillard opened #1527 "Provide builtin filter function(s)"
**Problem**
Several Knative eventing components rely on filtering (Trigger and the proposed Choice object). It should be a builtin function, or a set of builtin functions.

I'm more in favor for multiple builtin functions, one per data model (eg. Json, XML, Proto, etc..). For instance I wouldn't use CEL for filtering XML data.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/pers

[2019-07-10 17:44] grantr commented on #1494
Kafka allows a consumer group to commit one offset per partition, where a committed offset means "all messages up to this offset have been processed". Imagine this timeline:

T-1: current committed offset is 3
T+0: deliver message 4
T+1: deliver message 5
T+2: message 5 is acked

At T+2, message offset 5 cannot be committed, because message 4 hasn't been acked. The coordinator must store the messa

[2019-07-10 18:57] duglin commented on #1381
Keep in mind that if the user to sets this up by only saying something like "Send this github's events to this KnService" and under the covers we route things thru Brokers and Triggers, then I think they would be kind of surprised to even have to think about whether replies from the KnService are sent to any other Triggers/Services in the environment - rather than just being dropped on the floor.

[2019-07-10 23:00] mikehelmick commented on #1381
As mentioned in the working group meeting, i've added some CLI context to the doc

https://docs.google.com/document/d/1DpiSL2dUcYS2n7yXOIG5LJwyIC1lY9q_W8-56U1SvKM/edit?hl=en#heading=h.vf9gotlemjs8

[2019-07-11 17:32] grantr opened #1530 "[BUG] Injected Broker relies on the default Channel provisioner"
**Describe the bug**
The default Broker injected when a namespace is labeled with `knative-eventing-injection=enabled` has an empty `channelTemplate` value. When the template is empty, the Broker creates `Channel` objects which require an installed ClusterChannelProvisioner.

 **Expected behavior**
ClusterChannelProvisioner is not used because it's deprecated.

 **To Reproduce**
1. Find a namespac

[2019-07-11 17:41] grantr commented on #1530
The simplest path forward might be to add the ability for `Channel` to choose a default CRD channel when `provisioner` is empty. Then the existing `Channel` object still works as expected. The only real difference from a user perspective is that there's an extra object (the CRD channel object).

Once that's done, we can keep the `Channel` object as the standard way to create a default channel, whi

[2019-07-11 18:21] lionelvillard commented on #1521
/assign

[2019-07-11 20:49] lionelvillard commented on #1494
Why persisting the in-flight message database? What kind of guarantee were you trying to preserve (at-least-once, at-most-once, ...)?

[2019-07-11 21:14] brosner commented on #1336
This happened to me, but I am using the GCP pubsub dispatcher.

[2019-07-11 21:22] grantr commented on #1336
@tcnghia for networking expertise

[2019-07-12 09:54] rhuss commented on #1381
Does this mean that all supported importer types need to be known in advance or is it possible to plugin a yet-unknown importer with an arbitrary CR schema later on? (e.g. like a `TwitterSource` CRD) so that the flat list of options can be translated into a specific nested CR instance ?

In other words, is the number of supporter importers planned to be restricted or is it open to extension ?

[2019-07-12 16:17] grantr commented on #1494
Persisting the in flight db allows the API to scale horizontally and recover from a crash. At least once is the goal. It is possible without persistence but the number of redeliveries is potentially very large, and could include messages that were previously successfully acked.

[2019-07-12 16:35] mikehelmick commented on #1381
@duglin - Yes, replies is something that can be hazy in this model. I think that external event, leading to a reply which triggers another service will be a common pattern. This needs some more design thought. A couple of options that readily come to mind

1. Rethink replies from a trigger going back onto the broker. This is simply an optimization, any function could open a connection to the broke

[2019-07-12 17:31] duglin commented on #1381
Definitely needs more design thought.... one other thing to consider is that the replies will most likely not be CloudEvents. How those get converted into CEs so they can leverage the rest of the eventing infrastructure (for things like filtering) will be an interesting nut to crack.

Also, are you assuming the registry is a required component? I've been assuming it's optional - and, in fact, for

[2019-07-12 17:35] mikehelmick commented on #1381
The trigger centric model on this issue makes the registry a required component. Other than that, I think it can be treated as optional right now.

We do need to do more on the data plane security and any kind of security policy might make the registry or something like the registry required to enforce policies.

[2019-07-12 18:04] duglin commented on #1381
I think this goes to a point I made in some gdoc this morning. Whatever we come up might be best placed on a new resource so that we don't make a common component (like trigger) be overloaded with additional semantics or force the inclusion of an optional thing, like the registry.

It's also not clear to me that all of the features of what's being proposed requires the registry. For some of the "g

[2019-07-12 18:33] aslom commented on #1527
Could filters be generalized to have non-boolean return values? Then they could be used to choose branches in https://github.com/knative/eventing/pull/1529 ?

[2019-07-12 18:33] aslom commented on #1527
I was assuming that choice has one function that will choose where to send event as that would be more efficient. Right now I think the choice is evaluating a filter for every subscriber  - so there is constant work required even if event is not sent anywhere? How would spec.exclusive work - will there be additional (optional) function referenced in yaml? And that means that filters in cases would

[2019-07-14 05:45] MrBokeh opened #1533 "[Feature Request] Add Redis as Knative Eventing channels"
**Problem**
A lot of existing backend systems uses Redis for caching, it would be good to use Redis as the event channel which is better "out of the box" than the in-memory channel for both development and production.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event consumer

**Exit Criteria**
Able to use Redis as eventing channels for integration

**Time Est

[2019-07-15 09:32] Abd4llA commented on #1471
/assign @anishj0shi

[2019-07-15 14:05] rhuss commented on #1381
How would the mapping from flat key=value configuration to a nested CR schema happen when a user creates an instance of an importer type ?

[2019-07-15 14:50] lionelvillard commented on #1527
Choice can be optimized by generating routing tables (see #1396), from filtering or predicate expressions.

[2019-07-15 14:52] lionelvillard commented on #1533
I can this is as a useful feature especially in the context of joining parallel branches (fan-in)

[2019-07-15 15:01] lionelvillard commented on #1494
Redelivery isn't an issue for at-least-once and with event batching it should be fairly efficient.

My point is there might be a simple, low-hanging fruit solution for reliable async event delivery that does not require too many moving parts (like a DB).

[2019-07-15 16:02] yuzisun commented on #1494
agreed, we have used storm kafka spout before (https://github.com/apache/storm/blob/master/external/storm-kafka-client/src/main/java/org/apache/storm/kafka/spout/KafkaSpout.java) which implemented the at-least-once semantic.

It manages the offsets in memory and commits until all lower offsets have been acked. (https://github.com/apache/storm/blob/master/external/storm-kafka-client/src/main/java/o

[2019-07-15 17:30] lionelvillard commented on #1525
The current proposed implementation #1529 defines a new CRD `Choice` with `cases` and `filter`, eg:

[code]

Here some naming alternatives:
1. `Routes`, `choices`, `predicate`
1. `Routes`, `choices`, `when`
1. `Branches`, `routes` and `filter`
1. others?

I like 1.

[2019-07-16 08:54] anishj0shi opened #1536 "e2e test script waits indefinitely for knative-eventing namespace to be deleted"
**Describe the bug**
While running e2e suite, if the tests fails, script waits indefinitely at https://github.com/knative/eventing/blob/1bfb3465ae0946e15b151ab9226203ff7ab66251/test/e2e-common.sh#L106

but the teardown function has given no instruction to delete the namespace :
https://github.com/knative/eventing/blob/1bfb3465ae0946e15b151ab9226203ff7ab66251/test/e2e-common.sh#L100-L107

 **Expect

[2019-07-16 11:47] dicarlo2 commented on #1268
FWIW - https://github.com/knative/eventing/pull/953 should fix the issue described here (among others). The PR is woefully out of date though, but from the looks of it not much has changed with the dispatcher code itself where most of the fixes were made. AFAICT, the only piece that would need to change to fit the Channel CRD changes (rather than using the provisioner) is triggering reconciliation

[2019-07-17 15:05] #1536 closed

[2019-07-18 13:00] duglin opened #1543 "[BUG] github source can't find knService - v0.7.1"
**Describe the bug**
Github event source can't find the KnService defined in its "sink", claiming there is no hostname associated with it.

 **Expected behavior**
github event source can find the KnService and doesn't report an error

 **To Reproduce**
Start with doing `kubectl create` on this yaml:
[code]
Then do: `kubectl get githubsource/githubsource -o yaml`
and in the status section you shoul

[2019-07-18 20:18] vaikas-google commented on #1421
Just verified this now works.

[2019-07-18 20:18] #1421 closed

[2019-07-19 12:55] MrBokeh commented on #1533
@lionelvillard that would be awesome, thank you!

[2019-07-19 15:50] n3wscott opened #1546 "[BUG] CustomResourceDefinition.spec.version is deprecated, migrate to spec.versions"
The structs say the following:

[code]

And a version looks like

[code]

[2019-07-19 18:01] vaikas-google commented on #1521
Just a clarifying question here. I agree this kind of composition should work. Just want to make sure I understand the problem, I think the problem is that oneseq.spec.reply is not set automatically? If you modified the oneseq.spec.reply to be:
 apiVersion: messaging.knative.dev/v1alpha1
 kind: Service
 name: identity

I think it should just work. But I think you would like sequence to treat the s

[2019-07-19 18:10] vaikas-google commented on #1513
IIRC there seems to be two issues here:
 1. Cold start time of the large image is greater than the timeout of the in-memory dispatcher
 2. there are no easily discoverable error messages

We could at least mitigate the issue by making the timeout larger in the in-memory one. I also am curious if the in-memory dispatcher does not retry, since that also should mitigate the problem.

As far as discov

[2019-07-19 18:20] jonbcampos-alto commented on #1513
Yes. I went into the log files to see the error.

Jonathan Campos
CTO and Vice-president of Engineering
ridealto.com

On Fri, Jul 19, 2019, 1:10 PM Ville Aikas <notifications@github.com> wrote:

[2019-07-19 18:50] lionelvillard commented on #1521
It's a bit more than that. Just setting `spec.reply` is dangerous as it might has been set before, either manually or by another sequence. How do you check you own the sequence?

Probably the most sensible thing to do is to clone the sequence and set the reply field. However what happen when the original sequence is updated? Should the the clones be updated? Maybe it could be an option?

[2019-07-19 18:53] vaikas-google commented on #1521
Yes, sorry, understood, just wanted to make sure that "functionally" this could be made to work :)
I think starting with the clone would be a good starting point.

[2019-07-19 20:57] #1546 closed

[2019-07-19 23:08] chhsia0 commented on #1543
I also hit this on v0.7.0 when trying out the [github source code sample](https://knative.dev/docs/eventing/samples/github-source/). The following shows up in `github-controller-manager`'s log:
[code]
I'm new to k8s and knative so not sure if the error is the same as the one reported here though.

[2019-07-22 12:47] rakesh-garimella commented on #1336
@bacherfl do you have natss dispatcher inside the istio-mesh ?

[2019-07-22 16:51] nachocano commented on #1343
/assign
Assigning this back to me, will start working on this as we need it to be able to properly remove the provisioner-based channels

[2019-07-22 16:52] nachocano commented on #1343
/unassign @grantr

[2019-07-22 23:09] chhsia0 commented on #1543
I fixed the problem by applying the following patch:
[code]
Basically this is the main change in `sinks.go` between v0.7.0 and v0.7.1. Note that the github soruce controller cannot be deployed directly because of this issue: https://github.com/knative/eventing-contrib/issues/481

However the github source cannot successfully set up a webhook for me and I have to do it manually. After that the sink

[2019-07-22 23:33] mikehelmick opened #1550 "Discovery of importers and how to create them"
**Problem**
In working through #1381 one of the key things that we have found when targeting the user experience is that discoverability is highly important. For motivations, we look to the Scenarios for Knative Eventing.

To recap the 3 scenarios describe there

1. FaaS - directly connect an importer (specific instance) to a consumer

1. Event-Driven - current implementation of Broker + Trigger

[2019-07-23 00:05] vaikas-google commented on #1550
One additional benefit of the importer registry is that for some eventtypes you may need to specify different kinds of arguments. With the current CRD this is not easily doable because the schema does not (at least seem) to support selective arguments on the fields. For example, say an importer that has 2 events foo,bar and for foo you need to provide parameter X and for bar you need Y, I'm not aw

[2019-07-23 15:11] sayanh opened #1551 "Change log level for natss dispatcher to debug for message headers"
**Problem**
It is found that natss dispatcher spits the headers in the logs. This is undesirable in a normal circumstance which is `INFO` mode. Whereas, this is fine during debugging.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
[System Integrator](https://github.com/knative/eventing/blob/master/docs/personas.md#system-integra

[2019-07-23 16:27] nachtmaar commented on #1453
As discussed with @Abd4llA I will work on this issue.

[2019-07-23 18:27] lionelvillard commented on #1543
I cannot reproduce on master. I tried after knative/eventing-contrib#481 and it works.

[2019-07-23 18:31] chhsia0 commented on #1543
Yeah I also tested w/ my fix mentioned above and none of the problems described in this issue occurs.

[2019-07-23 21:03] Harwayne commented on #1250
/assign

[2019-07-23 21:06] vaikas-google commented on #1504
@Harwayne

[2019-07-23 21:23] Harwayne commented on #1250
Looking through the code, I see we use GenerateName in the following places. Each has slightly distinct properties, so will be handled differently.

1. Channel Reconcilers
    a. **K8s Services** - Create the new fixed name K8s Service and use it as the Channel's Address. Leave the old K8s Service in existence, it will be deleted when the Channel is deleted. The old K8s Service is an ExternalName

[2019-07-23 21:33] Harwayne commented on #1504
This is by design, but you are correct that we need to clearly document it. My guess is that [this](https://github.com/knative/docs/blob/d284c36655ae13d6bf205ce174f692642c7764d5/docs/eventing/broker-trigger.md#annotation) is the correct place to do so.

The reasoning is:
- If you have the Broker injected and are using the Broker, do you expect the Broker to stop working when you remove the label?

[2019-07-24 04:14] mikehelmick opened #1554 "Define an importer specification"
This is broken out from #1381

**Problem**
There is currently no specification for how a behaved importer should be written.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event producer and System Integrator

**Exit Criteria**

1.  Agreed upon importer specification and documentation

1. Conformance test so importers can be tested for their level of conformance

[2019-07-24 04:16] mikehelmick commented on #1182
This is related to #705 and #1449

[2019-07-24 04:27] mikehelmick opened #1555 "Broker internal design improvements"
This is broken out from #1381

**Problem**

The current implementation of the broker uses a single internal channel for delivery and another internal channel for replies. This is not ideal for a scalable workload with dozens or hundreds of triggers and thousands of events per second flowing through the broker.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**

Event

[2019-07-24 05:54] mikehelmick commented on #1381
# Background

Based on the product concerns raised in this issue, we expanded the CLI scenarios and proposed changes to the user model to match go/events-cli-model-changes. (see previous comments)

The proposed model changes were actually built and we’ve demonstrated this working end to end. The summary of these changes are as follows:

*   Enhance the events registry (EventType CR) to specify how

[2019-07-24 07:39] sayanh opened #1556 "Adapt to knative.dev for all imports"
**Problem**
Right now, `$GOPATH/github.com/knative/eventing` is being used imports everywhere. This makes my IDE unhappy as we moved to `$GOPATH/knative.dev`. The fix is to migrate `github.com/knative` to `knative.dev/eventing`.

[2019-07-24 10:48] maschmid opened #1558 "[BUG] [e2e] test/base.GetGenericObject lists resources at cluster scope"
**Describe the bug**

Running the e2e tests (e.g. TestCronJobSource ) as a non-clusteradmin user on OpenShift hangs, continuously logging

stuck polling:

The problem seems to be that https://github.com/knative/eventing/blob/master/test/base/resource_getters.go#L74 perhaps misuses TypedInformerFactory here, which reads all resources of the given GVR at cluster scope (and only filters the resources

[2019-07-24 13:22] lionelvillard commented on #1555
From a logical point of view, is it fair to say that a broker is a Choice/Routing (see #1525 and #1529) object, where the `Filter` object handles at least `sourceid`? Also see #1436 to give you an idea on how routing can be optimized.

[2019-07-24 16:11] n3wscott commented on #1554
/assign

Actively working on this.

[2019-07-24 16:14] n3wscott commented on #1556
We have not move eventing yet, just pkg and a few other deps.

[2019-07-24 16:19] sixolet commented on #1381
Thing to consider: `Ready` state of Trigger
* Before the Importer is created (should be Unknown)
* If the importer goes away (should be False)

[2019-07-24 16:20] sixolet commented on #1381
The gitops view of this might lack a little in terms of ergonomics — you have to create two objects to get your one concept. This might be the best we can do, though.

[2019-07-25 17:04] nachocano opened #1561 "Remove Deprecated Channel Provisioners"
**Problem**
Now that Channel CRDs are in place with the new default Channel mechanism, we should remove all the deprecated channel provisioner stuff in 0.9.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor/Developer

**Exit Criteria**
No channel provisioner related objects are in the codebase.

**Time Estimate (optional):**
1 day

**Additional context (

[2019-07-25 17:19] nachocano opened #1562 "Move Subscription to messaging.knative.dev"
**Problem**
As per [this](https://github.com/knative/eventing/blob/master/docs/decisions/eventing-and-messaging.md) decision, we should move Subscription down to messaging.knative.dev.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
Contributor/Developer

**Exit Criteria**
There is a subscription in messaging.knative.dev.

**Time

[2019-07-25 17:26] #1551 closed

[2019-07-25 19:10] mikehelmick commented on #342
/assign @nachocano

This is related to some of the other channel pieces you are working on, can you add this test as well?  #1560

[2019-07-25 19:11] mikehelmick commented on #351
@n3wscott is this still relevant?

[2019-07-25 19:13] vaikas-google commented on #424
obsolete

[2019-07-25 19:13] #424 closed

[2019-07-25 19:14] vaikas-google commented on #419
@n3wscott this is done right? Reopen if not.

[2019-07-25 19:14] #419 closed

[2019-07-25 19:15] mikehelmick commented on #461
/assign grantr

Can you clarify with an example of where this is done?

[2019-07-25 19:16] mikehelmick commented on #503
/kind wont-fix

[2019-07-25 19:16] #503 closed

[2019-07-25 19:21] vaikas-google commented on #508
Just revisiting this old issue. Are we saying that we should make AMPQ Broker Importer expose a subscribable interface? So, it would both be an importer as well as a Subscribable? Just checking.

[2019-07-25 19:22] mikehelmick commented on #510
@grantr is this fixed?

[2019-07-25 19:22] mikehelmick commented on #510
/assign @grantr

[2019-07-25 19:24] nachocano commented on #342
Will do!

[2019-07-25 19:25] mikehelmick commented on #512
/wont-fix

/close

[2019-07-25 19:25] #512 closed

[2019-07-25 19:25] mikehelmick commented on #536
/label wont-fix
/close

[2019-07-25 19:25] #536 closed

[2019-07-25 19:27] #427 closed

[2019-07-25 19:27] akashrv commented on #535
Each subscription status is part of channel's status.
/close

[2019-07-25 19:27] #535 closed

[2019-07-25 19:28] mikehelmick commented on #596
/assign @grantr

[2019-07-25 19:28] mikehelmick commented on #590
/label wont-fix
this is obsolete

/close

[2019-07-25 19:28] #590 closed

[2019-07-25 19:28] #572 closed

[2019-07-25 19:30] #671 closed

[2019-07-25 19:35] mikehelmick commented on #591
/assign @akashrv

[2019-07-25 19:36] mikehelmick commented on #502
/kind wont-fix

We have issues open to do this for each specific piece now

/close

[2019-07-25 19:36] #502 closed

[2019-07-25 19:36] #310 closed

[2019-07-25 19:36] #706 closed

[2019-07-25 19:38] vaikas-google commented on #647
/assign @duglin

Are you planning on working on this, or has this been done, or ?

[2019-07-25 19:39] mikehelmick commented on #462
/close

[2019-07-25 19:39] #462 closed

[2019-07-25 19:40] vaikas-google commented on #732
/close

[2019-07-25 19:40] #732 closed

[2019-07-25 19:43] #737 closed

[2019-07-25 19:43] vaikas-google commented on #753
we plenty of linters now :)

[2019-07-25 19:43] #753 closed

[2019-07-25 19:45] mikehelmick commented on #765
/assign @meteatamel

Can you provide more information on this?

[2019-07-25 19:45] mikehelmick commented on #765
/kind bug

[2019-07-25 19:45] akashrv commented on #765
/priority awaiting-more-evidence
/kind bug

[2019-07-25 19:47] vaikas-google commented on #770
these are moving to eventing-contrib tracked in #1387

[2019-07-25 19:48] vaikas-google commented on #814
@bbrowning closing as this has been fixed, reopen if you don't feel so.

[2019-07-25 19:48] #814 closed

[2019-07-25 19:48] vaikas-google commented on #815
@bbrowning closing as this has been fixed, reopen if you don't feel so.

[2019-07-25 19:48] mikehelmick commented on #848
this goes away w/ channel CRDs

/close

[2019-07-25 19:48] #848 closed

[2019-07-25 19:50] mikehelmick commented on #849
This has been superseded by newer issues around requirements and personas.

/close

[2019-07-25 19:50] #849 closed

[2019-07-25 19:51] mikehelmick commented on #852
/assign @mikehelmick

[2019-07-25 19:52] mikehelmick commented on #823
/close

[2019-07-25 19:52] #823 closed

[2019-07-25 19:53] mikehelmick commented on #893
This doesn't appear in the code any longer

https://github.com/knative/eventing/search?q=getRequiredEnv&unscoped_q=getRequiredEnv

/close

[2019-07-25 19:53] vaikas-google commented on #893
I think we've moved everything to envconfig.

[2019-07-25 19:53] #893 closed

[2019-07-25 19:55] mikehelmick commented on #912
Related to #705

[2019-07-25 19:57] mikehelmick commented on #927
/assign @evankanderson

[2019-07-25 20:01] vaikas-google commented on #581
/assign @adrcunha
now that we're using test infra, is this still relevant?

Reopen if it still is.

[2019-07-25 20:01] #581 closed

[2019-07-25 20:02] vaikas-google commented on #982
These should be good, let's open explicit bugs if this is not the case.

[2019-07-25 20:02] #982 closed

[2019-07-25 20:22] nachocano commented on #342
Actually @mikehelmick it seems that is not relevant anymore? They were using some plain strings to specify a channel Bus and clusterBus, and they were checking those were actually qualified names with [this](https://github.com/kubernetes/apimachinery/blob/bfcf53abc9f82bad3e534fcb1c36599d3c989ebf/pkg/util/validation/validation.go#L42).
We do not have those fields, and we are mainly using ObjectRefs

[2019-07-25 20:42] duglin opened #1564 "Align github/gitlab event source with cloudevents adapter spec"
Now that https://github.com/cloudevents/spec/blob/master/adapters/github.md is approved. It would be good to have the Knative Github event source support it.

[2019-07-25 21:08] vaikas-google opened #1565 "Move contrib/gcppubsub to github.com/knative/eventing-contrib"
**Problem**
#1387
This issue just tracks work specific to gcppubsub

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
contributor

**Exit Criteria**
No contrib/gcppubsub folder and non-core components in eventing repo and they've been moved to github.com/knative/eventing-contrib

**Time Estimate (optional):**
3-4

**Additional context (optional)**
Add any other cont

[2019-07-25 21:08] vaikas-google opened #1566 "Move contrib/kafka to github.com/knative/eventing-contrib"
**Problem**
#1387
This issue just tracks work specific to kafka

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
contributor

**Exit Criteria**
No contrib/kafka folder and non-core components in eventing repo and they've been moved to github.com/knative/eventing-contrib

**Time Estimate (optional):**
3 to 4

**Additional context (optional)**
Add any other context a

[2019-07-25 21:09] vaikas-google opened #1567 "Move contrib/natss to github.com/knative/eventing-contrib"
**Problem**
#1387
This issue just tracks work specific to natss

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
contributor

**Exit Criteria**
No contrib/natss folder and non-core components in eventing repo and they've been moved to github.com/knative/eventing-contrib

**Time Estimate (optional):**
3 to 4

**Additional context (optional)**
Add any other context a

[2019-07-25 21:09] vaikas-google commented on #1387
- [ ] #1565
- [ ] #1566
- [ ] #1567

[2019-07-25 21:11] #1558 closed

[2019-07-25 21:22] nachocano commented on #1343
Documentation [PR](https://github.com/knative/docs/pull/1619)

[2019-07-25 21:45] n3wscott commented on #1565
/assign

[2019-07-25 22:30] vaikas-google commented on #944
#1566
Closing it since I assume we should focus on getting that done.

[2019-07-25 22:30] #944 closed

[2019-07-26 00:03] gyliu513 commented on #647
We are working at https://github.com/knative/build/issues/514 for all Knative images, and the code is almost finished, but the major concern is how to enable CI/CD in Knative community for POWER, I was checking this.

[2019-07-26 00:21] evankanderson commented on #852
We should probably redict the roadmap link to
https://github.com/knative/eventing/blob/master/docs/planning/sprintplanning.md

On Thu, Jul 25, 2019 at 12:51 PM Mike Helmick <notifications@github.com>
wrote:

--
Evan Anderson <argent@google.com>

[2019-07-26 08:00] meteatamel commented on #765
I haven't seen this issue for a while now with the recent versions of Knative. I'm closing it.

[2019-07-26 08:00] #765 closed

[2019-07-26 12:29] nicolaferraro commented on #1344
@grantr does this still apply (it's due for milestone v0.8.0) or the direction has changed after e.g. #1554, #1381 ?

[2019-07-26 16:23] #1009 closed

[2019-07-26 17:11] alexander-alvarez opened #1573 "Dead-Letter Queue or other Error Handling"
**Problem**
Brokers forward events to subscribers which in turn route traffic to revisions. Knative can work properly and get these events to the proper revision handler that is running correctly, but the execution of the events can fail for a variety of reasons (downstream system is down, application logic rejects the invalid message, a runtime exception occurs, etc) but right now there is no way

[2019-07-26 17:20] lionelvillard commented on #1573
This is an important pattern and there is a beginning of a solution in the context of `Choice`, which needs to be generalized to other `Composable` objects (like Sequence).

[2019-07-26 17:48] mikehelmick commented on #342
great, thanks for the update.

/close

[2019-07-26 17:48] #342 closed

[2019-07-26 17:58] #852 closed

[2019-07-26 18:27] akashrv commented on #897
/assign @capri_xiyue

[2019-07-26 18:43] mikehelmick commented on #1381
I think the gitops scenario is ok, because everything here can be fully declarative, and we don't need output from one object to go back and update the other in the client side.

I think the same can be said for other pieces of using kubernetes more directly like putting a service in front of a deployment.

[2019-07-26 18:53] capri-xiyue commented on #897
/assign @capri-xiyue

[2019-07-26 20:03] vaikas-google commented on #1530
/assign @nachocano
I think with the default channel you added, this can be closed?

[2019-07-26 20:07] nachocano commented on #1530
Yes, this can be closed as per [PR](https://github.com/knative/eventing/pull/1560)
Thanks!

/close

[2019-07-26 20:07] #1530 closed

[2019-07-26 20:12] #1471 closed

[2019-07-26 20:58] vaikas-google commented on #1504
https://github.com/knative/docs/pull/1620

[2019-07-26 20:58] vaikas-google commented on #1504
oh, neat, magic happened automatically (linked the issues... YAY!)

[2019-07-26 21:28] nachocano commented on #1550
What if we could use a modified version of the current sources CRDs, thus there is no need to create any new resources?

Some of the current importers provide a list of event types as strings (e.g., the [GithubImporter](https://github.com/knative/eventing-contrib/blob/5ce18048c08b19437ac72fbdfeb4bf4a8d17c862/contrib/github/config/300-githubsource.yaml#L52)). I think if instead of being a list of s

[2019-07-26 22:28] mikehelmick commented on #1573
related to #1555

[2019-07-26 22:30] #1504 closed

[2019-07-27 08:23] Abd4llA commented on #1567
we'll take it

[2019-07-27 08:23] Abd4llA commented on #1567
/assign

[2019-07-27 21:10] montaro commented on #1567
/assign

[2019-07-28 19:05] duglin opened #1583 "DockerHub and Docker Registry event source"
It would be nice if there was a DockerHub and Docker Registry event source so that we can subscribe to, and receive, events related to images changing. I think this will be a critical piece in many CI/CD workflows.

[2019-07-29 18:56] n3wscott commented on #1344
We can revisit the name next week. Let's revisit the name next week.

[2019-07-29 20:19] grantr commented on #1550
The only example I can think of right now is GitHub. Depending on whether you're subscribing to an org-level event or a repo-level event, the repo argument may be invalid ([membership](https://developer.github.com/v3/activity/events/types/#membershipevent)) or required ([push](https://developer.github.com/v3/activity/events/types/#pushevent)).[1] This seems like an edge case rather than a normal c

[2019-07-29 20:56] lionelvillard opened #1590 "Add E2E tests for Choice CRD"
**Problem**
A new Choice CRD is available (once #1529  is merged). We need an E2E test case to properly verify this feature.

**Exit Criteria**
An E2E test case is added to verify the Choice CRD.

[2019-07-29 21:11] #1525 closed

[2019-07-29 21:43] nachocano commented on #1550
+1 to source registry, but I have no strong opinions otherwise.

[2019-07-29 22:27] mikehelmick commented on #1550
source registry is a fine way to think of it. The idea behind this is that users have a way to discover what event sources are available and how to configure them. Generally this will involve creating an importer.

I do wonder if we want to place a restriction that all importers must be backed by a CRD in order to be discoverable. Is that too heavyweight and are the other alternatives we should co

[2019-07-29 22:42] grantr commented on #1550
We may also want to keep in mind that the validation spec for CRDs will soon change to a subset of OpenAPI: https://kubernetes.io/blog/2019/06/20/crd-structural-schema/. Will that subset support what we want to do here?

In general I'm a bit concerned about locking our registry API to the CRD API. We already know CRD validation is switching to be per-version shortly. Do we want that? Is CRD versio

[2019-07-29 23:15] nachocano commented on #1550
Here is a [working prototype](https://github.com/nachocano/gcs/tree/importer-reg-crd) of a GCSImporter using the CRD-based approach introduced above. Note that the documentation is outdated.

Example usage:

*Discover the sources/importers*

[code]

*Discover the event types that GCS can emit and their schema*
[code]

*Create a GCS Importer*

[code]

// TODO populate the EventType registry with th

[2019-07-30 00:10] Harwayne commented on #1550
This is the rough outline of a design for the Importer Registry. It is similar in some ways to @nachocano's design in https://github.com/knative/eventing/issues/1550#issuecomment-515604913. I believe that proposal is superior, but wanted to write this down both to have a record of it and in case others see more potential in it.

Create a new CRD, ImporterRegistration. The installation of any Impor

[2019-07-30 02:48] mikehelmick commented on #1550
@nachocano - Can you also describe how this fits in with the [candidate CLI](https://docs.google.com/document/d/1DpiSL2dUcYS2n7yXOIG5LJwyIC1lY9q_W8-56U1SvKM/edit?hl=en#heading=h.vf9gotlemjs8)

 - those commands might need to be updated for a source first, event type second experience.

And coordinate with @n3wscott on #1554 - the solution to this issue and that issue must work together.

[2019-07-30 13:29] aslom commented on #1555
Mike, did you consider creating in-memory channels implementation that is based on knative serving?  That should make brokers scalable? If we are concerned about cold start we can keep min-instances=1?

[2019-07-30 13:32] duglin commented on #1381
Where? I'd like to play with it

[2019-07-30 13:33] aslom opened #1591 "Conformance testing for channels"
**Problem**
As more implementations of channels are created we should have an automated way to check that they are conforming to minimum interoperability requirements.

In particular as we define [channel specification](https://github.com/knative/eventing/blob/master/docs/spec/channel.md) we should validate control and data plane behavior of in-memory channel implementation and provide an easy way

[2019-07-30 13:43] aslom commented on #1591
As the first step to have conformance testing of knative channel I think that starting with few tests of data plane would be the easiest? We would test a channel as a black box.

For now leaving out setup of a channel - we would assume test channel is already running.

The simplest would be to start test sink pod that is then configured to be used with a channel. Then we have a simple way to trigg

[2019-07-30 13:54] nicolaferraro opened #1592 "[BUG] KafkaChannel should contain a role for the addressable-resolver"
**Describe the bug**

There's no `duck.knative.dev/addressable` annotation for any cluster role related to KafkaChannel, so no permission gets aggregated into the `addressable-resolver` cluster role. Then KafkaChannels are not addressable by defaults.

 **Expected behavior**
KafkaChannels are addressable without hacking with roles.

 **To Reproduce**
Run camel controller from contrib with standard

[2019-07-30 14:37] duglin commented on #1381
This actually isn't a 'side effect' or a bad thing. This is exactly what the user specified should happen. And it's worth pointing out that they are not the same events from a CloudEvents perspective. They will have different `id`s. Additionally, I would think GCS sees them as different events too since each one is associated with a different user. Which means it's very possible that each user mig

[2019-07-30 14:43] duglin commented on #1543
hmm unless I'm building incorrectly, I'm still seeing the crash loop backoff referenced in #481 - when using master

[2019-07-30 14:51] duglin commented on #1554
As I mentioned in #1381 - this should be `importerId` since it is not a "source" in the CloudEvents perspective.

Also, I'm not clear on how, or who, will use this information. Can a concrete example be provided?

[2019-07-30 15:05] matzew commented on #1591
:+1:

[2019-07-30 15:31] duglin commented on #1564
Gitlab alignment would be good too:  https://github.com/cloudevents/spec/blob/master/adapters/gitlab.md

[2019-07-30 15:32] n3wscott commented on #1564
I do not think we want to use that event type. It stomps the namespace of event types and will cause problems for GitHub in the future if they want to send CloudEvents.

[2019-07-30 15:40] duglin commented on #1381
@n3wscott I believe you would claim this is incorrect and should be knative namespaces, right?  This is a pretty big decision point. I'll open an issue to discuss.

[2019-07-30 15:55] n3wscott opened #1596 "[BUG] Broker ingress and dispatcher use controller runtime, they should migrate."
It would be nice to drop the controller runtime dep in eventing.

[2019-07-30 15:56] duglin opened #1597 "Importers: Namespace of event types"
**Problem**

What should Event types look like?  Knative namespaced ot producer namespaced?

Taking the Github importer as an example, it will receive events from Github and while converting it to a CloudEvent, it will set its `ce-type` to something like `dev.knative.source.github.*`. It becomes something Knative specific and not Github specific.

In the CloudEvents spec, they've defined a mapping

[2019-07-30 15:58] duglin commented on #1564
Github has approved that mapping. The point of the spec is to get inteop and portability.

[2019-07-30 16:08] n3wscott commented on #1597
Regardless of approval from GitHub, the code that is doing this translation is maintained by Knative and it will have implementation choices that may or may not be compatible with the current and future plans of GitHub. `dev.knative.source.github.*` is our signal that we have touched the payload and it may or may not be the same as documented in GitHub's docs. We do this because we do not want to

[2019-07-30 16:14] duglin commented on #1597
- end-users will not care it's going thru knative middle-ware
- Knative is converting it to CE, which means just adding a few headers, it should not be "touching" it in any material way
- if we're going to knative-ize github events then should do it for all events. Saying "we're google" isn't good enough nor consistent for end-users
- if github starts to send CEs then we'll have to change our gith

[2019-07-30 16:28] grantr commented on #1597
CloudEvents v0.1 included event type versions, but those were removed in 0.2. Looks like the conclusion in https://github.com/cloudevents/spec/issues/142 was that event type versions should actually be part of the schema url. Is that still the official recommendation for versioning of event types?

[2019-07-30 17:04] duglin commented on #1597
The schemaURL defines the shape of the event payload and if that's related to the version of the event types, then I guess so. But I also think that if some event producer creates a v2 of their events, then they might put a version string into their `type` attribute. It's kind of up to them.

I view schemaURL as more of a machine readable thing to help do schema validation more than anything else.

[2019-07-30 17:07] lionelvillard commented on #1597
I would use `dev.knative.*` for non-standard event type and producer namespaced (eg. `com.github.*`) when the event type is officially part of the CE spec. The message be careful when you see `dev.knative.*`, the event type is only supported by Knative. When I don't see `dev.knative.*` it means I can use the event type in other contexts.

[2019-07-30 17:11] mikehelmick commented on #1555
@lionelvillard - I don't think that broker + trigger +sourceid covers the choice CRD as defined in #1525 - in particular it doesn't provide the mutually exclusive branches condition. If you set up your triggers correctly, you would get that behavior, but we haven't introduce anything that allows for single subscriber only.

I think it would be interesting to work through the user experience of cho

[2019-07-30 17:11] #1225 closed

[2019-07-30 17:11] lionelvillard commented on #1597
as a follow up to my comment above, since github/gitlab are part of the CE spec, these event types should be producer namespaced.

[2019-07-30 17:19] mikehelmick commented on #1554
`sourceid` vs `importerid` doesn't matter much to me.

As for how the information will be used, a trigger might look like this (using `importerid` in this case)

[code]

[2019-07-30 17:26] duglin commented on #1597
@n3wscott and I have  been chatting about this off-line a bit and we have differing views on what is probably an even more basic question.... what are "importers" ?

I'll offer my (biased) view, Scott can offer his, but I'd also like to hear from others.

To me, an importer does a couple of things:
1 - it will create/manage any subscription to the event producer
2 - it gets the event from the even

[2019-07-30 17:40] grantr commented on #1381
Instructions here: https://github.com/nachocano/eventing/blob/wat-demo/DEMO.md

[2019-07-30 17:43] duglin commented on #1554
@mikehelmick can you elaborate on why someone would do this? I thought that part of this UX design was to try to hide some of the complexities, and asking the user to find this UUID doesn't seem to align with that - especially if the importer can choose the value it'll use and it's not required to be the same thing for all importers.

If the user wants to specify the importer then I kind of wonder

[2019-07-30 17:56] mikehelmick commented on #1554
Sorry - I totally mess that example up. No, I don't expect users to go look up the UID of their importer and that doesn't work with a gitops scenario. I would expect something like this instead

[code]

As for one broker, vs multiple brokers. I think that should be an operator concern. If expected throughput of certain event types is low, you get better resource utilization by putting them on the

[2019-07-30 18:02] mikehelmick commented on #1381
The duplication here would be if essentially the same importer was configured twice, covering a well written filter to match both. The requirement from @lindydonna was to _allow_ for binding a trigger to a specific importer, but not prohibit the existing behavior.

I agree that in general what might be seen as "over-subscription" isn't in itself a bad thing as it leads to more flexible systems.

U

[2019-07-30 18:23] grantr commented on #1554
This is an important point. Several of our current importers delegate data plane responsibilities to another object with a different name and uid. This internal object must know what filter attribute(s) the broker will expect, **or** the Broker needs to know how resolve the correct filter attribute(s) on the internal object. Seems like something that should be part of the importer specification.

[2019-07-30 18:35] grac3gao commented on #1596
/assign @grac3gao

[2019-07-30 18:46] duglin commented on #1554
@mikehelmick ok, that objRef makes more sense from a syntax perspective. Thanks

I have more comments, but I think they're more on the overall design than just this one point so I'll make them over in the other issue.

[2019-07-30 20:06] nachocano commented on #1550
I think a potential CLI might look as follows:

**Discover Sources**:
The ability to discover the sources of events is a prerequisite for being able to connect events from producers to consumers.

[code]

[code]

**Discover Source's Event Types and how to Configure the Source**:
In order to configure delivery of events from one of the sources, a user needs to know what events the source can emit a

[2019-07-30 20:48] mikehelmick commented on #1597
related #1554

[2019-07-30 21:09] vaikas-google commented on #1550
I'd prefer to extend the existing CRD model and not create additional registry for now. If we feel we need something like that in the future we can add it. If there are cases that @nachocano proposal doesn't cover, then I'd suggest we move forward with it. Main focus is to handle discovery from my point of view and I believe this case is handled by this proposal.
As far as validation goes, I don't

[2019-07-30 21:43] vaikas-google commented on #1597
agree on the @duglin steps on what the importer does and we're talking about number 3. I think our concern has really been who owns and has the authority to decide that yes, this is ok. As @n3wscott said, gcs is Googles and we are ok to use that domain name, for Github importer we did not have that blessing especially the first proof of concept I did, wasn't sure if I could even map it to CE ;)  I

[2019-07-30 21:45] nachocano commented on #1550
By talking with @Harwayne, it seems that his [AutoContainerSource](https://github.com/Harwayne/auto-container-source) magic would allow us to avoid writing a controller, but there is still need for CRDs, that would specify the supported event types with their schemas. For example, in his example [K8sEventSource CRD](https://github.com/Harwayne/auto-container-source/blob/master/k8s-event-source/k8s

[2019-07-31 00:05] nachocano commented on #1550
@n3wscott I'm wondering if we can use a similar mechanism like [AutoContainerSource](https://github.com/Harwayne/auto-container-source) to make this Importer Registry work with the PullSubscription?

[2019-07-31 13:06] duglin commented on #1381
Am I correct to say ?
- this is trying to allow people to specify a Trigger for a Broker w/o any knowledge of the event source (what they can do today)
- this is trying to allow people to specify the creation of a new event source at the same time as their Trigger definition
- this is trying to allow people to specify an existing event source of interest at the same time as their Trigger definitio

[2019-07-31 16:58] mikehelmick commented on #1381
Yes - this is scenarios 2 and 3

Yes, and to bind to that event source only, scenario 1

Wasn't specifically trying to solve that, but yes this can also be done by binding to an existing source by objectRef. A well behaved clients should add an additional owner reference to that importer.

[2019-07-31 17:13] vaikas-google opened #1610 "Allow Trigger Filter to filter on any Cloud Event Attribute (except data)"
**Problem**
Currently in Knative you can filter Trigger events based on two fields of a Cloud Event:
Source
Type
As discussed in the #1381  we have decided to introduce a convention for defining an instance of an importer (or function) by adding an attribute to CloudEvent called ‘sourceid’ (working name). In order to support filtering based on that, we’ll need to modify the Trigger to be able to f

[2019-07-31 17:51] nachocano commented on #1550
@n3wscott made some suggestions to the CRD approach, which IMO make sense. Basically, that we should decouple importer registry from "filtering" on the source (i.e., from specifying what event types to subscribe to). In other words, it would be nice to have, as the GitHub importer currently has, an `eventTypes` array with the possible types (for filtering), and an internal eventTypes object with d

[2019-07-31 19:09] n3wscott commented on #1550
I like [this](https://github.com/knative/eventing/issues/1550#issuecomment-516953016) plan.

[2019-07-31 19:59] mikehelmick commented on #1610
Proposal LGTM

For the sourceId/importerid - that would still be auto populated by an objectRef to the importer.

we should make sure that attribute isn't specified in both places (objectRef + attributes map)

[2019-07-31 20:07] grantr commented on #1610
Seems like the design @mikehelmick mentions (filter by objectref to an importer object) makes the proposal in this PR (Trigger-specified attribute filters) unrelated functionality, because an objectref can't be an attribute filter.

[2019-07-31 20:10] mikehelmick commented on #1610
@grantr - see [this comment](https://github.com/knative/eventing/issues/1554#issuecomment-516525933)

My only comment here was that we wouldn't want someone using the objectRef for `sourceid` and then adding that same `sourceid` to the attribute map.

[2019-07-31 20:43] n3wscott commented on #1214
fixed by https://github.com/GoogleCloudPlatform/cloud-run-events/pull/26

[2019-07-31 20:43] n3wscott commented on #1214
/close

[2019-07-31 20:43] #1214 closed

[2019-07-31 21:14] vaikas-google commented on #1550
so the EventTypes stays as is:
https://github.com/vaikas-google/gcs/blob/master/pkg/apis/gcs/v1alpha1/types.go#L73

(Looks like I forgot to add the EventTypes to the openapi spec, oops)

And would the __eventTypes be added to the above file _or_ only to the openapi spec? If only to the spec, that seems fine. I assume that will not cause any gried?

[2019-07-31 21:20] grantr commented on #1550
Can we call it `_eventTypesSupported` instead of `_eventTypes`? Might be less confusing to users (and contributors when they accidentally forget the `_`)

[2019-07-31 21:22] n3wscott commented on #1550
I like `_eventTypesSupported` or `_eventTypesProduced`.

-Scott

On Wed, Jul 31, 2019 at 2:20 PM Grant Rodgers <notifications@github.com>
wrote:

[2019-07-31 21:23] nachocano commented on #1550
Yes, but I made them to be an enum. See here:

https://github.com/nachocano/gcs/blob/600e3f38cab7c9efe8b01fdb77aa31e97cd11d87/config/300-gcs.yaml#L74

I added them in both, see [here](https://github.com/nachocano/gcs/blob/600e3f38cab7c9efe8b01fdb77aa31e97cd11d87/pkg/apis/gcs/v1alpha1/gcs_types.go#L92). But in the webhook I'm validating the internal ones are not populated. Didn't try not adding the

[2019-07-31 21:24] nachocano commented on #1550
+1 to `_eventTypesSupported`

[2019-07-31 21:29] grantr commented on #1550
Will every importer (that wants to be in the registry) need to run a webhook to deny edits to these fields?

I expect we'll need to read these values at some point in go code, but maybe it doesn't have to be the concrete importer type. Seems like it could be a duck type only.

[2019-07-31 21:35] vaikas-google commented on #1550
I would expect those (__eventTypesSupported) to be only for discovery and not used by the types. I could see us reading the CRD openapi for tooling, but I can't think (off the top of my head) when we'd want them to be in the objects Spec field, that seems a bit wonky.

[2019-07-31 21:37] nachocano commented on #1550
Hopefully not... Do you know if the pattern in the CRD is enforced without having a webhook? If a user wants to put something different than the pattern, it should fail.

Yes, if we need to read them in go it can end up being a `CloudEventable` duck maybe...

[2019-07-31 21:39] nachocano commented on #1550
I don't see a github webhook, and IIRC the enum values in eventTypes were being validated

[2019-07-31 21:47] nachocano commented on #1550
I guess we might need to read them for extracting the schema and the type if we don't want them hardcoded when creating the entries in the EventType registry... I might be wrong

[2019-07-31 21:57] vaikas-google commented on #1550
Would you mind doing the experiment of removing it from the types.Spec? It feels wrong to me to have a field there that's only used to convey information to the user, leave it to the openapi spec.
After reading a bit more, perhaps instead of adding them to the properties section of the schema, we could utilize the additionalProperties and add the __eventTypesSupported there (or maybe in that case

[2019-07-31 22:00] n3wscott commented on #1550
I think that is nice.

On Wed, Jul 31, 2019 at 2:57 PM Ville Aikas <notifications@github.com>
wrote:

[2019-07-31 22:04] nachocano commented on #1550
I removed them from the spec and it works... And if you want to set them in yaml to some invalid value, it gets validated without a webhook...

[code]

It might be better to have it as an additionalProperties. I think I tried that and you couldn't have both of them specified (properties and additionalProperties), but I can try again

[2019-07-31 22:06] nachocano commented on #1550
Yes, @n3wscott mentioned this, and it makes sense. But even in that case, if we don't want the type and schema hardcoded in go, we will need to read those values.

[2019-07-31 22:09] vaikas-google commented on #1550
Ok, so leaving them out of the spec (types.go file) and adding them to the config/CRD.yaml definition is cool?
I think I'm fine with that esp. given the documentation there, I just don't want them in the code if possible.

as far as hardcoding, I don't quite understand. Who was setting those values in the actual code? I can see you defining the types.go spec.__eventTypes, but where was the populat

[2019-07-31 22:14] grantr commented on #1550
:+1: to putting it in `additionalProperties`. That will remain supported in CRD structural schemas (https://kubernetes.io/blog/2019/06/20/crd-structural-schema/)

[2019-07-31 22:14] nachocano commented on #1550
Yes, agree. Let's not put them in types.go..

In GCS we were never creating EventTypes in the registry... By hardcoding I mean for example [here](https://github.com/knative/eventing/blob/4005ecf8042e491ff53c8c21005ea2d6cefc0892/pkg/apis/sources/v1alpha1/apiserver_types.go#L45)

[2019-07-31 22:22] nachocano commented on #1550
Cannot put properties and additionalProperties under the same field, `spec` in this case. I recall I tried that.

`The CustomResourceDefinition "gcssources.sources.aikas.org" is invalid: spec.validation.openAPIV3Schema.properties[spec].additionalProperties: Forbidden: additionalProperties and properties are mutual exclusive`

Having something else than `spec` and `status` doesn't comply with k8s,

[2019-07-31 22:23] nachocano commented on #1343
/close

all PRs have been merged

[2019-07-31 22:23] #1343 closed

[2019-07-31 22:29] grantr commented on #1550
Kubernetes doesn't mandate `spec` and `status`; it's just a convention. Several core objects have neither.

[2019-07-31 22:35] nachocano commented on #1550
OK, in that case, if we still want them separated from `spec.eventTypes`, we can add some other property... But I'm OK with leaving `_eventTypesSupported` under `spec`.

[2019-07-31 22:48] grantr commented on #1610
Are you referring to mutual exclusion of filter types? In other words, will it be possible to specify multiple filter types, e.g. a Trigger with both `importer` and `attributes` filters?

[code]

If this isn't possible, then we rely on importers to implement ALL filtering that a user might ever need, because the only option for an importer filter is "give me every event from this importer".

If th

[2019-08-01 06:50] daisy-ycguo commented on #1554
A question here: Can a trigger use an importer in a different namespace in the `filter` field ?

[2019-08-01 06:58] daisy-ycguo commented on #1554
According to #1555,

I think `importer` here shall be `selector`. Is that correct ?

[2019-08-01 07:55] daisy-ycguo commented on #1550
My thought after reading this discussion is that we definitely need a CLI to easily manipulate these concepts (importers, eventTypes), other than introducing new CRDs. Eventing CLI can be a higher abstraction for users and a wrapper of low level implementations. If we only depends on CRD and `kubectl`, things are complicated.

[2019-08-01 12:53] lionelvillard commented on #1555
It's funny how some people see eventing being built on top of messaging and some other people see the exact opposite.

[2019-08-01 14:40] lionelvillard commented on #1493
I would like to take a look at this one

\assign

[2019-08-01 14:43] lionelvillard commented on #1493
/assign

[2019-08-01 15:39] mikehelmick commented on #1554
Yes - sorry, I wasn't clear on the terminology. Selector was from an earlier revision when we considered a `Selectable` duck type, see alternatives considered on #1381 comments.

As for a trigger using an importer in a different namespace - the key is that the importer and the trigger are attached to the same broker.

[2019-08-01 16:34] Harwayne commented on #1250
An update to https://github.com/knative/eventing/issues/1250#issuecomment-514389208.

 1. Channel reconcilers.
There are three CRD based Channel reconcilers:
* InMemoryChannel
* KafkaChannel
* NatssChannel

InMemoryChannel and KafkaChannel already used a fixed name, `fmt.Sprtintf("%s-kn-channel", channel.Name)`. NatssChannel, as of #1588, now uses a fixed name too. So this work is complete.

2. Im

[2019-08-01 17:11] waeljammal opened #1619 "Support multiple natss provisioners"
**Problem**
I'm working on a multi tenant system where each tenant has their own natss instance, the reason for this is that our platform allows for both a managed solution where it runs in our cloud or for a remotely self managed solution where they run an agent and their own natss cluster amongst a few other services, we'd like to use knative for our business flows so would be good if there was

[2019-08-01 19:09] vaikas-google commented on #623
This would be a great addition, but as we're tightening up the core, the most likely place for this should be in github.com/knative/eventing-contrib.

[2019-08-01 19:11] vaikas-google commented on #527
@Harwayne is the tracing in place to handle this? iirc we forward the headers, or is something still missing from here?

[2019-08-01 19:12] vaikas-google commented on #1082
I think knobots handle this now for us.
@grantr if you don't think this has been fixed, please reopen.

[2019-08-01 19:12] #1082 closed

[2019-08-01 19:14] lionelvillard commented on #527
tracing is working for me so I guess this is done.

[2019-08-01 19:15] vaikas-google commented on #1084
CCP are no longer being used. I think this can be closed. @n3wscott reopen if you don't agree.

[2019-08-01 19:15] #1084 closed

[2019-08-01 19:18] vaikas-google commented on #680
this should have been fixed, if not, please reopen with the most recent release.

[2019-08-01 19:18] #680 closed

[2019-08-01 19:20] vaikas-google commented on #1093
Tracker has a TTL in it, so they'll get aged out.
@Harwayne I think we confirmed this and were happy with the answers, please reopen if you're not convinced or I misunderstood something.

[2019-08-01 19:20] #1093 closed

[2019-08-01 19:22] vaikas-google commented on #1080
Fixed, we added documentation that removing the label will not remove the broker and you have to manually remove the broker.
For other particular issues, let's create more focused issues.

[2019-08-01 19:22] #1080 closed

[2019-08-01 19:25] vaikas-google commented on #1085
@Harwayne did this get fixed somewhere along the way?

[2019-08-01 19:26] vaikas-google commented on #1166
@matzew are you still seeing this issue? I recall some minikube related issues floating by (in at least some of the repos) :)

[2019-08-01 19:29] vaikas-google commented on #1196
They should be added here, right?
https://github.com/knative/eventing/blob/master/cmd/webhook/main.go#L139

@n3wscott can help with questions on this.

[2019-08-01 19:32] vaikas-google commented on #830
That page doesn't exist. release.sh points to that as well.

[2019-08-01 19:35] vaikas-google commented on #1022
@Abd4llA Is this something that you can tackle as part of moving the nats to eventing-contrib?

[2019-08-01 19:36] vaikas-google commented on #1262
@lionelvillard are you still planning on working on this?

[2019-08-01 19:42] vaikas-google commented on #1267
Next time we think there's a new resource that requires subscriberspec, let's revisit this and what's all involved in it.

[2019-08-01 19:45] vaikas-google commented on #1076
moved to github.com/GoogleCloudPlatform
Let's make sure to fix this in there
@n3wscott

If it works with subscribableStatus we're good.

[2019-08-01 19:48] vaikas-google commented on #1274
@Fredy-Z is this something that might be worked on as part of the Channel Task Force.
@Harwayne
@matzew

[2019-08-01 19:50] vaikas-google commented on #1325
We should have a guideline for Channel writers (such as running webook in the controller as one suggestion, etc.), I'd suggest that we loop in Channel task force.
@Harwayne
@matzew

[2019-08-01 19:53] lionelvillard commented on #1262
yes

[2019-08-01 19:57] vaikas-google commented on #1378
#1596

[2019-08-01 19:57] #1378 closed

[2019-08-01 19:59] vaikas-google commented on #1435
I think we're going to take care of this in the v1beta1 move and not before.

[2019-08-01 20:09] Harwayne commented on #1093
Yes, we confirmed that the tracker stops after a time out and we do not need to manually disassociate anything.

[2019-08-01 20:13] Harwayne commented on #1085
I don't think so. The removal of Istio has likely made it far less likely to occur, but I think it would still present the same problems. I think the readiness probe described in https://github.com/knative/eventing/issues/1085#issuecomment-487755028 is still the proper, long term fix.

[2019-08-01 20:44] vaikas-google commented on #1085
Should we then have an issue to add a readiness probe to explicitly spell out what the problem is. Title seems to state a different issue?

[2019-08-01 23:34] akashrv commented on #1567
/milestone v0.9.0

[2019-08-01 23:34] akashrv commented on #1566
/milestone v0.9.0

[2019-08-01 23:34] akashrv commented on #1565
/milestone v0.9.0

[2019-08-01 23:35] akashrv commented on #1561
/milestone v0.9.0

[2019-08-01 23:35] akashrv commented on #1554
/milestone v0.9.0

[2019-08-01 23:36] akashrv commented on #1550
/milestone v0.9.0

[2019-08-01 23:46] akashrv commented on #1387
/milestone v.0.9.0

[2019-08-02 15:25] marcobebway commented on #1336
This issue is fixed in Knative 0.7.0. I have verified that subscribers can receive events in both cases with and without the ksvc label **serving.knative.dev/visibility: cluster-local**.

<details><summary>Click to see the knative service details</summary>
<p>

[code]

</p>
</details>

<details><summary>Click to see the subscriber logs</summary>
<p>

[code]

</p>
</details>

[2019-08-02 17:15] grantr commented on #1381
I propose using "producer" for this concept instead of "source" or "importer". See the [CloudEvents definition of producer](https://github.com/cloudevents/spec/blob/master/spec.md#producer):

I think that definition fits the filtering concept being introduced better than importer or source. I like that it refers to the producing component immediately upstream of the consumer, regardless of whether

[2019-08-02 17:15] mikehelmick commented on #1381
/milestone v0.8.0

was originally approved for 0.8, never tagged.

[2019-08-02 17:19] mikehelmick commented on #705
I think the requirements and principles outlined here give us enough to move forward. Future work will take place under #1449

/close

[2019-08-02 17:19] #705 closed

[2019-08-02 18:53] Harwayne opened #1627 "Remove ClusterChannelProvisioner and Channel from eventing.knative.dev"
**Problem**
The ClusterChannelProvisioner and Channel types in eventing.knative.dev are deprecated with messages in 0.8. They should be completely removed by 0.9.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor and system integrator.

**Exit Criteria**
The eventing.knative.dev API has neither the ClusterChannelProvisioner nor the Channel types. Those t

[2019-08-02 18:56] grantr commented on #1381
I think the value should actually be a qualified object name, e.g. `gcppubsubsources.sources.eventing.knative.dev/<namespace>/<name>`. This makes implementation easier (the value of the attribute is deterministic from the ObjectReference value) and eliminates temporal gotchas.

If the importer is deleted and replaced, then the uid will be different even if the name is the same. **Now the trigger c

[2019-08-02 19:05] akashrv commented on #1627
Duplicate of #1561
@Harwayne Can we close this one? #1561 is already in 0.9 milestone.

[2019-08-02 19:09] akashrv commented on #1562
/kind good-first-issue

[2019-08-02 19:10] Harwayne commented on #1627
#1561 only mentions the ClusterChannelProvisioner, not Channel itself. We can either augment that issue to include Channel too or make this issue just for Channel.

[2019-08-02 19:11] akashrv commented on #1519
/assign @samodell

[2019-08-02 19:13] akashrv commented on #1498
/kind good-first-issue

[2019-08-02 19:14] akashrv commented on #1493
related to #1573

[2019-08-02 19:16] akashrv commented on #1461
/milestone v0.9.0

[2019-08-02 19:19] akashrv commented on #1446
/milestone v0.9.0

[2019-08-02 19:19] akashrv commented on #1446
related to #1561

[2019-08-02 19:20] akashrv commented on #1387
/milestone v0.9.0

[2019-08-02 19:22] samodell commented on #1519
@kzjackson1  Is handling the first part of turning that draft into published documentation -- see https://github.com/knative/docs/pull/1592

I'm started work now on documenting importers for Knative Eventing, but I will be OOO Aug. 5-9th.

[2019-08-02 21:22] akashrv commented on #1627
/milestone v0.9.0
Let's have just one single issue. Since this issue talks about both the channel and the provisioner, I'll close #1561

[2019-08-02 21:23] akashrv commented on #1561
/close
Dup of #1627

[2019-08-02 21:23] #1561 closed

[2019-08-02 21:52] nachocano commented on #1550
/assign

[2019-08-02 22:15] nachocano commented on #1550
Talking more with @n3wscott, and following up on a [comment](https://github.com/knative/eventing/issues/1550#issuecomment-517037640) made by @vaikas-google and @grantr [here](https://github.com/knative/eventing/issues/1550#issuecomment-517046454), it seems that we should have a separate attribute for registry-related things in the CRD (which should be specified in the importer spec), so as not to

[2019-08-02 23:58] vaikas-google commented on #1550
validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        metadata:
          type: object
        registry:
          type: object

Do we need the k8s typemeta stuff here? otherwise, LGTM. thanks for working on this!

[2019-08-02 23:59] grantr commented on #1344
Now that the importer concept has a name and is in general use by contributors, it's less clear that the busy work of renaming all the identifiers is necessary. Let's close this for now and reopen if confusion persists.

We do still need to ensure that importer and source are used correctly in docs, but that's tracked in https://github.com/knative/docs/issues/1417.

[2019-08-02 23:59] grantr commented on #1344
/close

[2019-08-02 23:59] #1344 closed

[2019-08-03 00:08] #897 closed

[2019-08-03 00:12] grantr commented on #830
That doc was added in https://github.com/knative/eventing/pull/1020 and deleted in https://github.com/knative/eventing/pull/1548, replaced with [a link in `hack/release.sh`](https://github.com/knative/eventing/blob/master/hack/release.sh#L18).

That link is clearly hard to find, so I'll make it more obvious.

[2019-08-03 00:52] nachocano commented on #1550
I think is not needed. It was just a copy/paste from the current one. Safe to remove them. Thanks!

[2019-08-03 19:46] k opened #1633 "[BUG] Install fails when following instructions (Race condition?)"
**Describe the bug**
Source:  https://knative.dev/docs/install/knative-with-any-k8s/
[code]

 **Expected behavior**
Successful install

 **To Reproduce**
v1.11 cluster with no knative install, run . the above the command in the docs

 **Knative release version**
v0.7.0

 **Additional context**
Istio install process was better with a two phase helm chart `istio-init` and `istio`. I also miss the ab

[2019-08-03 20:50] k opened #1634 "[BUG] Docs misleading for installation of knative eventing sources"
**Describe the bug**
I followed through this installation https://knative.dev/docs/install/knative-with-any-k8s/, but the githubsource does not exist… this is really misleading because there is a *What’s next Section* and it links to: https://knative.dev/docs/eventing/samples/. What’s not explained is that these don’t already exist in the cluster, after digging through the knative-eventing code to

[2019-08-05 12:46] lionelvillard commented on #1498
Probably we should do the same for SubscriberSpec.ReplyURI

[2019-08-05 13:49] lionelvillard commented on #1550
LGTM. My only concern is this solution might not be forward-compatible if the CRD controller decides to validate `validation` and rejects additional top-level properties. Unlikely?

[2019-08-05 15:29] lionelvillard commented on #1590
/assign

[2019-08-05 15:35] lionelvillard opened #1637 "Consolidate sequence resource creation used in tests."
**Problem**
Sequence can be created using functions in `pkg/reconciler/testing/sequence.go` and `test/base/resources/messaging.go`

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
developer

**Exit Criteria**
E2E sequence testing should use `pkg/reconciler/testing/sequence.go` only.

**Time Estimate (optional):**
How many develope

[2019-08-05 17:55] grantr commented on #1562
/help

[2019-08-05 17:56] grantr commented on #1562
/remove-help

/help help

[2019-08-05 18:13] capri-xiyue commented on #1627
/assign capri-xiyue

[2019-08-05 18:30] grantr commented on #1633
That error is saying that the `Image` and `ClusterChannelProvisioner` kinds don't exist yet, but you're trying to create objects with those kinds.

Did you run this command first?

[code]

That command installs the CRDs first, so it's the equivalent of `istio-init`. You can then create instances of those CRDs in the next command (the one you quoted in your comment).

[2019-08-05 18:33] grantr commented on #1633
This is a race condition, but it's a known race condition that we can't fix.

The install docs (https://knative.dev/docs/install/knative-with-any-k8s/) direct users to use a workaround of running two `kubectl apply` commands. That's the best we can do for now, but in the future we hope to have an operator to make this easier.

[2019-08-05 18:33] #1633 closed

[2019-08-05 18:40] grantr commented on #1634
https://knative.dev/docs/eventing/samples/github-source/ lists this as a prerequisite:

Actually those instructions link to the standard Knative install docs,which don't install eventing-contrib (they used to).

This sample should add this step as part of the instructions:

[code]

[2019-08-05 18:40] grantr commented on #1634
/kind doc
/remove-kind bug

[2019-08-05 19:14] akashrv commented on #1633
/wont-fix

[2019-08-05 20:27] #830 closed

[2019-08-05 20:45] akashrv commented on #1627
Related to #1446

[2019-08-05 20:50] akashrv commented on #1336
/close

[2019-08-05 20:50] #1336 closed

[2019-08-05 21:35] n3wscott commented on #1076
Fixed.

The root cause was the GCP account used to do testing was the same for each test, so if two tests ran at the same time, flakes happened.

/close

[2019-08-05 21:35] #1076 closed

[2019-08-05 23:41] #1610 closed

[2019-08-05 23:44] Harwayne commented on #1591
Ideas for a few tests:

- [ ] channelable-manipiulator - Creates a new ServiceAccount and ClusterRoleBinding giving that ServiceAccount the `channelable-manipulator` role. Verifies that the ServiceAccount can create, get, list, watch, update, and patch the Channel CRD and its status subresource.
- [ ] addressable-resolver - Creates a new ServiceAccount and ClusterRoleBinding giving that ServiceAcc

[2019-08-06 00:01] grantr opened #1645 "Clean up spacing and indent style in yaml files"
Our yaml files vary in style. Some use 4 spaces, some 2. Some indent list items, some don't (some do both). Let's decide on a style and update everything to conform (also eventing-contrib).

[2019-08-06 00:01] grantr commented on #1645
/remove-kind bug
/kind cleanup

[2019-08-06 00:09] #1250 closed

[2019-08-06 00:32] Harwayne opened #1646 "[BUG] Trigger's spec.attributes does not work with numbers"
**Describe the bug**
Trigger's spec.attributes is a map[string]string, for exact matching with CloudEvents attributes. If the value of the attribute happens to look like a number (e.g. `42`), then you cannot match it. As it is considered a number, which is never equal to a string.

 **Expected behavior**
If spec.attributes is `{ the: "42" }`, and I send a CloudEvent with an attribute in HTTP binar

[2019-08-06 09:56] daisy-ycguo commented on #527
Here is what I find out.

- Broker ingress and filter has reported traces. Yet I don't think it contains the full chain.
- Channels don't report traces.

<img width="515" alt="image" src="https://user-images.githubusercontent.com/1657701/62530539-53e86600-b873-11e9-8d68-9a99318fcc10.png">

<img width="849" alt="image" src="https://user-images.githubusercontent.com/1657701/62530575-64004580-b873-11

[2019-08-06 14:16] rhuss commented on #1550
I've read through the issue, but I couldn't find the answer to the following question (sorry for my ignorance if hidden somewhere ;-):

From a CLI perspective who would be responsible for mapping flat key-value options given on the command line to a nested and structure schema for the CR to create ? The client can discover the openapi schema from the registry, but is the mapping also done by the i

[2019-08-06 16:39] #1590 closed

[2019-08-06 17:18] #1371 closed

[2019-08-06 17:32] nachocano commented on #1550
I think the CLI should be responsible for the mapping. There is a proposed CLI experience [here](https://github.com/knative/eventing/issues/1550#issuecomment-516575284). It's slightly outdated with the latest changes in this thread, but the overall idea is kind of the same.

I'm not very aware of the Camel importer. I couldn't find a place in the code where it's actually emitting CloudEvents. Is i

[2019-08-06 17:36] #1566 closed

[2019-08-06 18:28] akashrv opened #1650 "E2E Tracing for Importer/Broker/Trigger model"
**Problem**
This is a placeholder feature and observability subgroup should drive detailed requirement and scope it down to 0.9, 0.9+
Minimal expectations from 0.9: End user should be able to trace an event all the way through the eventing pipeline from source to sink - Importer, Broker, Trigger.
- [ ] Identify gaps in current tracing and complete the scenario
- [ ] Document how an end user should

[2019-08-06 18:29] akashrv commented on #1650
/milestone v0.9.0

[2019-08-06 19:02] akashrv commented on #1650
@adamharwayne @grantr

[2019-08-06 19:40] rhuss commented on #1550
From the example given it looks to me, this works only nicely for top-level elements of a simple CR. How would you dive into deeper structures, supporting complex CR parts like object and arrays? I'm not sure how this could be kept in a general fashion and still provide a good user experience. Using typeless, comma-separated properties which could grow endlessly is typically not such a good thing

[2019-08-06 19:41] rhuss commented on #1550
/cc @nicolaferraro

[2019-08-06 19:53] rhuss commented on #1550
I think it's not a big issue for scalar data values which are short (e.g not big DSL like files). A json path like mapping could be used in this case. However, for values with a lot of content or CR using complex data structures like arrays, or deep CRs schemas, this might be not so user-friendly anymore, were people typically expect short, typed options (e.g. `--gcsCredential .... --topic ...`) w

[2019-08-06 21:56] nachocano commented on #1573
@lionelvillard have you started with some of this work? I'd be happy to help/collaborate... And also on #1493. IIRC @Harwayne mentioned you guys have started discussing this in the Channel task force group?

[2019-08-06 22:06] #1567 closed

[2019-08-06 23:57] lionelvillard commented on #1573
I haven't started other than thinking about how to do it.

Regarding retrying (#1493), what about adding this capability into the CloudEvent SDK? @n3wscott any thoughts on that?

[2019-08-07 00:04] nachocano commented on #1550
The main idea of the importer registry as it is right now is to enable the discovery of the event types that the importers can provide, thus that additional `registry` property in the CRD. There will be an Importer Spec, anytime soon (cc @n3wscott), which will specify what a "well-behaved" importer should look like, e.g., have this `registry` property with `eventTypes` that have CloudEvents `type`

[2019-08-07 04:00] mikehelmick commented on #1381
On Addendum that came out of discussions with @rgregg

The three use cases that we've identified, are all supported by a common solution (as already proposed).

This design is also useful in supporting graduated complexity. It is possible for a system to start using the FaaS scenario and graduate to the entirely event-driven scenario. In order to avoid some of the duplicate delivery problems, this

[2019-08-07 04:01] #1381 closed

[2019-08-07 14:23] davidbreitgand opened #1654 "APIServerSource support for event filtering by object labels"
**Problem**

APIServerSource does not support event filtering by object labels.
While it is possible to filter events in an external function, it will introduce an unnecessary delay, and imply a need to support a "filtering service" eventually.  A better no hassle developer experience is to filter by label at the source.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.m

[2019-08-07 14:40] lionelvillard commented on #1654
/assign

[2019-08-07 16:10] matzew commented on #1446
See: https://github.com/knative/eventing-contrib/pull/515

[2019-08-07 16:13] matzew commented on #1627
@akashrv  for in-memory CCP impl: https://github.com/knative/eventing/pull/1484  (merged)

and Kafka (contrib repo): https://github.com/knative/eventing-contrib/pull/515

[2019-08-07 16:31] grantr commented on #1654
/milestone v0.9.0

[2019-08-07 16:46] lionelvillard commented on #1527
Is this issue out of scope? If so, should we close it?

[2019-08-07 16:48] lionelvillard commented on #1521
/milestone v0.9.0

[2019-08-07 16:49] grantr commented on #1521
/milestone v0.9.0

[2019-08-07 16:49] lionelvillard commented on #1262
/milestone v0.9.0

[2019-08-07 16:52] grantr commented on #1262
/milestone v0.9.0

[2019-08-07 17:16] Harwayne opened #1656 "Liveness and Readiness Checks for the Broker Ingress and Filter"
**Problem**
The Broker Ingress and Filter Pods have no liveness or readiness checks. If for some reason, the HTTP server stops working, while the Pod is still running, the Broker will be broken until manual intervention by an operator to delete the Pod.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event Consumer

**Exit Criteria**
Liveness checks on both the Br

[2019-08-07 17:17] Harwayne commented on #1085
/close

Closing in favor of #1656, which describes the desired solution.

[2019-08-07 17:17] #1085 closed

[2019-08-07 17:18] Harwayne commented on #1656
/assign @grac3gao

[2019-08-07 17:22] Harwayne commented on #1596
Is the desire to totally remove controller runtime? Or just to not use a controller runtime based reconciler?

The Broker Ingress uses Controller Runtime's manager, but as far as I can tell does not use any portion of the reconciler logic. It seems to exclusively use CR to run multiple servers in parallel and quit if any one of them fails.

[2019-08-07 17:47] Harwayne commented on #1562
I think the migration will be hard if we simply have the new and old Subscriptions co-exist. If we do that, all the code making subscriptions will need to both create the new Subscription and delete the old Subscription. If it doesn't delete the old Subscription, then both new and old will exist, leading to duplicate event delivery. There is precedent for doing deleting old things while creating n

[2019-08-07 18:35] n3wscott commented on #1556
doing it! https://github.com/knative/eventing/pull/1655

[2019-08-07 19:30] lionelvillard commented on #1562
Sounds good to me. Instead of a finalizer, what about using OwnerReferences (assuming cyclic dependencies are permitted)?

[2019-08-07 19:34] rhuss commented on #1550
Thanks for response, really very helpful. However, I have a bit of a hard time to wrap my head around this [GCS CRD example](https://github.com/knative/eventing/issues/1550#issuecomment-517859395).

My first assumption this is the CRD that a client can lookup from the importer registry. Is this the case ? Or does the client lookups an instance of this CRD (a CR) ?

If it is the CRD, than IIUR a CR

[2019-08-07 20:02] grac3gao commented on #1656
/assign @grac3gao

[2019-08-07 21:55] #1556 closed

[2019-08-07 22:36] grantr commented on #1461
/project Performance: Measurement

[2019-08-08 02:18] daisy-ycguo commented on #1650
/assign
I would like to take this issue.

[2019-08-08 11:55] sayanh commented on #1498
/assign @sayanh

[2019-08-08 13:15] Abd4llA commented on #1562
would like to work on this

[2019-08-08 13:16] Abd4llA commented on #1562
/assign

[2019-08-08 14:29] lionelvillard opened #1660 "[BUG] Remove the guessing in APIServerSource"
**Describe the bug**
The APIServerSource adapter uses `UnsafeGuessKindToResource`. It should not.

 **Expected behavior**
Use Resource, instead of Kind

[2019-08-08 16:54] akashrv opened #1662 "Trigger filtering with <sourceid>"
**Problem**
Refer to #1381. This feature will track the design, implementation and testing of the functionality that will enable clients to create triggers that are loosely coupled  with importer instances via sourceid.

- [x] Design: Decide how this will work
- [x] Code: Trigger accepts attribute filters from client
- [x] Code: Importer accepts sourceid and/or enrichment attribute(s) from client

[2019-08-08 16:55] akashrv commented on #1662
/milestone v0.9.0
/assign @grantr

[2019-08-08 17:22] akashrv commented on #1656
/milestone v0.9.0

[2019-08-08 17:41] akashrv commented on #1417
/milestone v0.9.0

[2019-08-08 17:43] akashrv commented on #1573
/milestone v0.9.0

[2019-08-08 17:43] akashrv commented on #1493
/milestone v0.9.0

[2019-08-08 17:44] akashrv commented on #1449
/milestone v0.9.0

[2019-08-08 17:45] akashrv commented on #1453
/milestone v0.9.0

[2019-08-08 17:46] akashrv opened #1663 "Migrate to knative.dev/eventing, knative.dev/eventing-contrib"
@n3wscott To fill in details

[2019-08-08 17:46] akashrv commented on #1663
/milestone v0.9.0

[2019-08-08 17:47] akashrv commented on #1663
/assign @n3wscott

[2019-08-08 17:50] n3wscott commented on #1565
/close

done.

[2019-08-08 17:50] #1565 closed

[2019-08-08 17:51] n3wscott commented on #1660
Alternatively the controller could look up the resource from the CRD list by Kind.

[2019-08-08 18:53] lionelvillard commented on #1660
yes great idea!

[2019-08-08 18:53] lionelvillard commented on #1660
/assign

[2019-08-08 22:13] nachocano commented on #1550
The client should lookup for the CRDs, not a particular CR...

The idea is that CRs only populate `spec`, as is typically done. We are hacking the CRD to include additional info for registry purposes, but we do not expect users to configure in their CRs the `registry` section.  I added a description there saying something like: "Internal information for registry purposes. Users should not set this

[2019-08-08 22:47] nachocano commented on #1573
/assign

[2019-08-09 06:09] rhuss commented on #1550
tbh, that is indeed very hackish and totally confuses types with values. Also misusing the openAPI "pattern" field to be used as concrete values does not feel right. According to the [openAPI documentation](https://swagger.io/specification/#schemaObject) pattern "SHOULD be a valid regular expression, according to the ECMA 262 regular expression dialect" (so e.g. "." in there should be escaped if t

[2019-08-09 07:32] rhuss commented on #1550
If insisting of this design (but still feels wrong, as any field which should not be populated by a user, like `status:` should not be part of a validation schema), then maybe instead of `pattern` --> `default` could be used as value field as this is a plain string without implied semantics. And then this `registry:` field should be populated for a given CR by the controller with these values as r

[2019-08-12 09:40] Abd4llA commented on #1496
/assign @anishj0shi

[2019-08-12 09:41] anishj0shi commented on #1496
I'd like to work on this.

[2019-08-12 09:41] Abd4llA commented on #1496
/assign @anishj0shi

[2019-08-12 20:11] lindydonna commented on #1597
Note also that Google implementations of event payloads may not all be knative-based. For instance, there are currently event types supported by Google Cloud Functions, that have nothing to do with Knative. From a user perspective, it's more natural to use the vendor-specific names, especially if you aren't explicitly using Knative.

[2019-08-13 14:43] aslom commented on #1591
I have started on coformance testing - looking for feedback.
I modeled conformance tests on what serving is doing https://github.com/knative/serving/tree/master/test/conformance

I am starting with testing event headers - I got basic setup and working on adding logic to check headers. Added test image that shoudl print cloud event headers (from context?)

It is time consuming as tests tend to fail

[2019-08-13 16:29] nachocano opened #1672 "Add E2E test for new Attributes Filters in Triggers"
**Problem**
In 0.8 we included an `attributes` filter for Triggers to be able to filter on any CloudEvents attributes. We should have an E2E test for it.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
Developers

**Exit Criteria**
Some E2E tests showing that the attribute-based filtering is working.

**Time Estimate (optional):*

[2019-08-13 16:31] nachocano commented on #1573
/unassign
as I'm not actively working on this...
just in case someone wants to grab it

[2019-08-13 17:21] nachocano commented on #1592
I think this has been solved. I see a `200-addressable-resolver-clusterrole.yaml` in master.
Is that correct @Harwayne @matzew

[2019-08-13 17:33] lionelvillard commented on #1573
I'll grab it in about 3 weeks, unless someone wants to take a look at it before.

[2019-08-13 17:53] Harwayne commented on #1592
I see https://github.com/knative/eventing-contrib/blob/master/kafka/channel/config/200-addressable-resolver-clusterrole.yaml exists, which appears to be the desired ClusterRole.

This was missing from the 0.7.1 release. It appears that 0.8.0 missed the Kafka Channel entirely. But 0.8.1 should have it. It looks like the 0.8.1 cut occurred, but failed. I'll follow up to ensure that release goes out.

[2019-08-13 18:05] #1627 closed

[2019-08-13 22:11] Harwayne commented on #1592
/close

https://github.com/knative/eventing-contrib/releases/tag/v0.8.1 has kafka-channel.yaml with the correct ClusterRole.

[2019-08-13 22:11] #1592 closed

[2019-08-14 00:49] Fredy-Z commented on #1461
/project clear Performance: Measurement

[2019-08-14 00:52] Fredy-Z commented on #1461
/project clear Performance: Measurement

[2019-08-14 00:53] Fredy-Z commented on #1461
/project clear Performance: Measurement

[2019-08-14 01:02] Fredy-Z commented on #1461
/project clear Performance: Measurement

[2019-08-14 01:07] Fredy-Z commented on #1461
/project Eventing Usability

[2019-08-14 01:08] Fredy-Z commented on #1461
/project clear Eventing Usability

[2019-08-14 01:08] Fredy-Z commented on #1461
/project clear Performance: Measurement

[2019-08-14 16:12] mikehelmick commented on #1573
@rgregg - This needs requirements / product input.

[2019-08-14 16:22] aslom commented on #1573
I am also interested in this. Let start on design/requirement document

using template:
https://docs.google.com/document/d/1QRREfL8gSVSURHMkDLjDtMh1BBsNiwfmaBiGnJUDQ2g/edit
via 0.9 plan
https://docs.google.com/document/d/1iR9Vfmgi1Dkf_ge95LXA-VdZ3shV0611C3vtIF6-7c4/edit#heading=h.ltzumxehvfdz

[2019-08-14 16:27] Abd4llA commented on #1453
/assign @nachtmaar

[2019-08-14 16:27] grantr commented on #1461
/project clear Performance: Measurement

[2019-08-14 16:42] grantr commented on #1461
/project clear "Performance: Measurement"

[2019-08-14 16:43] rgregg commented on #1573
We need to follow the Knative Feature Tracks template that @aslom linked to. Before we start writing code, someone with the insights on what we need to do here needs to complete steps 1 & 2 for review. Step 1 may be covered by the original text of this issue, but the need for a design doc that we can review seems clear here.

[2019-08-14 16:51] grantr commented on #1461
/project Performance: Measurement

[2019-08-14 16:51] grantr commented on #1461
/project "Performance: Measurement"

[2019-08-14 16:51] grantr commented on #1461
/project "Performance: Measurement" To do

[2019-08-14 16:51] Fredy-Z commented on #1461
/project Performance: Measurement

[2019-08-14 16:52] grantr commented on #1461
/project Eventing Usability

[2019-08-14 16:52] grantr commented on #1461
/project Eventing Usability To do

[2019-08-14 16:55] grantr commented on #1461
/project Performance To do

[2019-08-14 16:56] grantr commented on #1461
/project perf/measurement To do

[2019-08-14 16:57] grantr commented on #1461
/project perf/measurement To do

[2019-08-14 16:59] grantr commented on #1461
/project perf/measurement To do

[2019-08-14 17:09] grantr commented on #1461
/project perf/measurement

[2019-08-14 17:09] grantr commented on #1461
/project perf/measurement to do

[2019-08-14 17:10] grantr commented on #1461
/project perf/measurement To do

[2019-08-14 23:17] capri-xiyue commented on #1672
/assign @capri-xiyue

[2019-08-15 18:11] syedriko commented on #1059
/assign @syedriko

[2019-08-15 20:39] zsxking opened #1678 "Custom labels to pod"
**Problem**
As a developer, I want a way to add custom labels to the pod generated by event source, so that I can select them along with pods from other resources, to get logs together. e.g. seeing logs of pods from cronjobsource and pods for the consumer service together in the [cron job source example](https://knative.dev/docs/eventing/samples/cronjob-source/).

**[Persona:](https://github.com/k

[2019-08-15 20:40] zsxking commented on #1678
@n3wscott

[2019-08-16 00:29] Fredy-Z commented on #1637
/assign
I will fix it along with other cleanups.

[2019-08-16 17:59] grantr opened #1688 "Use ko:// image paths"
Ko now supports `ko://` image paths since https://github.com/google/ko/pull/58, and complains when one of those cannot be resolved. This feature would have prevented the issue with eventing-contrib 0.8.1 (https://github.com/knative/test-infra/issues/1269).

We should add `ko://` to all our image paths in yaml and ask developers to upgrade to the latest version of ko.

/cc @ImJasonH @matzew

[2019-08-16 17:59] grantr commented on #1688
/remove-kind feature-request
/kind cleanup

[2019-08-16 18:14] ImJasonH commented on #1688
You'll also need to make sure that `ko resolve` invocations in tests and release scripts pass the `--strict` flag.

[2019-08-19 16:23] #1637 closed

[2019-08-19 17:21] nachocano opened #1693 "E2E Metrics for Importer/Broker/Trigger model"
**Problem**
This is a placeholder feature for metrics-related tasks that will be driven by the eventing-observability subgroup and scoped down to 0.9, 0.9+ releases.
Here are some initial tasks we identified:

- [ ] Infrastructure setup, scraping of metrics - Prometheus
  - Add prometheus operator [issue #1925](https://github.com/knative/eventing/issues/1925)
    - [x] knative-observability change

[2019-08-19 17:22] nachocano commented on #1693
/assign @nachocano
/assign @sayanh

[2019-08-19 17:22] nachocano commented on #1693
fyi @sayanh
apparently we cannot have two persons assigned.

[2019-08-19 17:23] nachocano commented on #1693
fyi @Harwayne

[2019-08-19 18:19] grantr opened #1696 "Set up Mako configs for eventing"
**Problem**
We need configurations to use Mako as a result store and viewer.

**Exit Criteria**
Contributors can create, run, and analyze the results of perf tests with Mako.

[2019-08-19 18:24] akashrv commented on #1693
/milestone v0.9.0

[2019-08-19 18:26] grantr commented on #1696
/project perf/measurement

[2019-08-19 18:26] grantr commented on #1696
/project perf/measurement To do

[2019-08-19 18:27] akashrv commented on #1693
The way we defined the metrics for Broker, could we define for Importers and add it to the data plane contract of the importer (@n3wscott @nachocano )  ?

[2019-08-19 18:33] grantr commented on #1696
/area test-and-release

[2019-08-19 18:45] grantr opened #1697 "Convert latency test to use Mako"
**Problem**
Our current latency test exports results to testgrid, but we'd like to use Mako for performance analysis. Converting the test to use Mako could be a good way to learn about the new perf testing infrastructure.

**Exit Criteria**
Latency test runs continuously and exports results to Mako.

[2019-08-19 18:45] grantr commented on #1697
/project perf/measurement To do

[2019-08-19 18:46] grantr commented on #1697
/area test-and-release

[2019-08-19 20:38] grantr opened #1698 "Design a throughput test for channels"
**Problem**
We need to measure and understand throughput characteristics of channels as they are the foundation of higher-level constructs like broker and sequence.

**Exit Criteria**
A test that can be applied to any Channel implementation and produce measurements of throughput and error rate.

/area test-and-release
/project perf/measurement To do

[2019-08-19 20:40] grantr commented on #1461
/project clear perf/measurement

[2019-08-19 21:52] grantr commented on #1696
This issue now tracks Mako configs only. The continuous perf clusters will be deployed after we have repeatable perf tests checked in.

[2019-08-19 21:54] grantr opened #1700 "Set up continuous perf testing environment"
**Problem**
Once we have repeatable perf tests, we need a perf testing environment running continuously to detect regressions.

**Exit Criteria**
Repeatable perf tests running continuously and alerting when regressions occur.

/area test-and-release
/project perf/measurement To do

[2019-08-19 22:08] grantr commented on #1697
Here are some existing Mako tests for serving:
- https://github.com/knative/serving/tree/master/test/performance/load-test
- https://github.com/knative/serving/tree/master/test/performance/dataplane-probe

[2019-08-20 16:16] nachocano commented on #1693
I think we can do that.

[2019-08-20 16:21] sayanh commented on #1693
Working on a first prototype with configmaps. After discussion with @nachocano, few to more concrete stuff came up:
[ ] - Have a working Prometheus scrape config for eventing pods
[ ] - Have a reconciler dashboard
[ ] - Create a common repo for dashboards ( as patching from serving is not ideal)

[2019-08-20 16:27] nachocano commented on #1693
I think this one refers to something like have a common repo for cross-observability things. There is one called `knative-observability`, but not sure about the work being done there.
I think for 0.9 we'll have to patch, but we can start the discussions on what is the right approach.

Thanks for working on this @sayanh

[2019-08-20 17:49] akashrv commented on #1693
Then lets add it to the list of tasks (checkboxes) and follow-up with @n3wscott to add to importer spec.

[2019-08-20 18:52] nachocano commented on #1693
Current documentation: https://github.com/knative/eventing/blob/master/docs/metrics.md

[2019-08-20 21:19] grantr opened #1707 "[BUG] Broker allows changes to channel template that aren't reconciled"
_Originally reported by @mattmoor. I haven't verified this personally._

 **Describe the bug**
The channelTemplate in the Broker spec is mutable, but any changes made are ignored.

 **Expected behavior**
Either:
A) the Broker updates its internal channels to use the new channel template, **or**
B) changes to the channel template are rejected by the webhook.

 **To Reproduce**
1. Create a Broker
2.

[2019-08-20 21:56] grantr opened #1708 "Broker doesn't preserve trace id on incoming requests"
**Describe the bug**
Based on the report in https://github.com/knative/eventing/issues/527#issuecomment-518600408 and my own anecdotal testing, trace ids on requests to the Broker's ingress endpoint are not preserved. This causes the trace of the Broker internals to be separate, and the external trace to stop at the Broker.

 **Expected behavior**
Incoming trace ids are preserved by the Broker suc

[2019-08-20 23:43] #1656 closed

[2019-08-21 00:31] Fredy-Z opened #1711 "Add E2E test for channel default logic"
**Problem**
We don't have e2e test coverage for channel defaulter logic.

**Exit Criteria**
We should have an e2e test that:
1. Modify the `default-ch-webhook` configmap to change the default channel
2. Create a `Channel` with empty `ChannelTemplate` spec
3. Verify the `Channel` can work as expected, optionally check the created channel `Kind` is the same as set in the `default-ch-webhook` configm

[2019-08-21 00:33] mattmoor opened #1712 "[BUG] OnePercentSampling assumes zipkin"
**Describe the bug**
The logic in `pkg/tracing/setup.go` with `OnePercentSampling` assumes tracing should be enabled, that the exporter is zipkin, and that the zipkin endpoint is relatively fixed.

 **Expected behavior**
The sites using a "static" importer should be pulling that static configuration from the environment, which should be set up when the resources around them are provisioned by cont

[2019-08-21 09:55] nachtmaar commented on #1453
@Fredy-Z can we close the issue now? Did one PR in `docs` and one in `eventing` repo.

[2019-08-21 16:46] grantr commented on #1697
Blocked by #1696

[2019-08-21 16:57] grantr opened #1718 "Measure latency of event delivery end-to-end"
**Problem**
Unlike a serving request, an event delivery includes multiple requests to different components. We need to measure the combined latency across these components.

**Exit Criteria**

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve?

**Additional context (optional)**
We have a latency test at https://github.com/knative/eventing/blob/master/test/

[2019-08-21 17:43] nachocano commented on #1693
I'm looking at `Infrastructure setup and scraping of metrics - Stackdriver`

[2019-08-21 19:26] Fredy-Z commented on #1453
Thank you so much for jumping on this! There are still some residues but most of them are code and comments. We can close this and clean them up in followup PRs.
/close

[2019-08-21 19:26] #1453 closed

[2019-08-21 19:56] n3wscott commented on #1708
/assign

I am going to work on a fix in the sdk for this issue.

[2019-08-21 19:56] n3wscott commented on #1708
/remove-good-first-issue

[2019-08-21 20:18] paulrossman opened #1719 "[BUG] temp #BUG"
Do not work on this.

[2019-08-22 00:39] #1696 closed

[2019-08-22 16:44] anishj0shi opened #1725 "Remove Deprecated Field from SubscribableTypeStatus"
As a followup to #1685, we have to remove DeprecatedSubscribableStatus field from the struct type *SubscribableTypeStatus* (pkg/api/duck) This has to be done in release 0.10.0

[2019-08-22 16:45] Harwayne commented on #1725
Release 0.10.0.

[2019-08-22 16:46] Harwayne commented on #1725
/kind cleanup

[2019-08-22 17:04] #1496 closed

[2019-08-22 17:29] capri-xiyue commented on #1423
/assaign @capri-xiyue

[2019-08-22 17:30] capri-xiyue commented on #1423
/assign @capri-xiyue

[2019-08-22 17:41] #1719 closed

[2019-08-22 21:36] Harwayne opened #1727 "[CLEAN UP] Delete the old Receive Adapter code in Core Importers"
**Describe the clean up**
While fixing #1250, each of the three importers in core had code added to delete the old generate name based receive adapters. That code should be removed now that 0.8.0 has been released.

 **Expected behavior**
Remove the `deleteOldReceiveAdapter` functions in:
* https://github.com/knative/eventing/blob/146f6403ce9e408450a03defab93823a21f04fc1/pkg/reconciler/apiserverso

[2019-08-22 21:36] Harwayne commented on #1727
/kind clean-up
/kind good-first-issue

[2019-08-22 21:37] Harwayne commented on #1727
/kind cleanup
/remove-kind bug

[2019-08-22 22:48] Harwayne commented on #1708
Working with @grac3gao, we figured out why the trace worked all the way through the Broker for me, but not others.

1. I was using InMemoryChannel.
1. I added a trace ID to the request going into the Broker.

First, I think it only works for InMemoryChannel, none of the others. That is because, as @n3wscott said, the CloudEvents SDK we use does not serialize the trace headers and neither did our c

[2019-08-22 22:49] Harwayne commented on #527
@daisy-ycguo I think I figured out the problem. See https://github.com/knative/eventing/issues/1708#issuecomment-524106461 for my full description. The short answer is that tracing works through the broker if:
1. InMemoryChannel is used.
1. The original request sent to the Broker ingress has a trace id.

[2019-08-22 22:58] Harwayne commented on #1650
Here is the work items I think I see for this:
- [ ] Tracing through Broker
    - [ ] Incoming request already has a trace id
    - [ ] Incoming request does not have a trace id (#1708)
- [ ] Tracing through Channels
    - [ ] InMemoryChannel
    - [ ] KafkaChannel
    - [ ] NatssChannel
    - [ ] PullSubscription
- [ ] Tracing through Sequences
- [ ] Traces contain information about why the reque

[2019-08-23 11:54] matzew commented on #1727
/assign @matzew

[2019-08-23 11:55] matzew commented on #1070
/close

CCP is gone anyways

[2019-08-23 11:55] #1070 closed

[2019-08-23 15:42] Harwayne opened #1733 "Interactive Debugging Guide"
Create a guide that explains how to use [squash](https://github.com/solo-io/squash) to interactively debug a container running in K8s. Give a concrete example debugging the eventing controller.

[2019-08-23 15:42] Harwayne commented on #1733
/assign

[2019-08-23 16:05] #1672 closed

[2019-08-23 17:22] jonjohnsonjr commented on #1733
Might be worth committing it to the ko repo and linking to it from the knative repos, since it's not really knative specific.

[2019-08-23 18:09] #1662 closed

[2019-08-23 18:28] grantr opened #1734 "Allow Trigger status to be dependent on importer status"
**Problem**
#1381 asks for a way to hide the complexity of creating importers from trigger creators for the simplest scenarios. One downside is that the ready status of hidden objects is also hidden: if an importer created on behalf of a user's trigger creation request fails to become ready, the user isn't able to easily determine that the importer is unready.

One way to solve this is to allow th

[2019-08-26 16:23] n3wscott opened #1740 "Verify all status messages of core eventing resources and make sure they are actionable and useful."
Describe the bug
Several of the status propagation methods, when propagating messages from non-ready statuses, use nil as the propagated message when no message is present:

eventing/pkg/apis/eventing/v1alpha1/trigger_lifecycle.go

Line 57 in 93a2e64

 msg := "nil"
eventing/pkg/apis/eventing/v1alpha1/trigger_lifecycle.go

Line 73 in 93a2e64

 msg := "nil"
eventing/pkg/apis/eventing/v1alpha1/broker

[2019-08-27 20:23] grantr opened #1746 "Use Vegeta to manage throughput in broker latency test"
**Problem**
The broker latency tests (the Testgrid one and the Mako one from #1728) publish all events as quickly as possible at the beginning of the test. This causes a big, short traffic spike. Results would be more predictable and repeatable if we stuck to a particular throughput for a period of time.

Knative Serving is using [vegeta](https://github.com/tsenart/vegeta) for this purpose. We sho

[2019-08-28 21:50] capri-xiyue opened #1753 "Can't find "broker_filter_event_latencies" in prometheus"
**Describe the bug**

Can't find metrics "broker_filter_event_latencies" in prometheus("event_latencies" in pkg/broker/filter/stats_reporter.go)

I found it's because we only suppor *string in the ExtensionAs() of eventcontext.

Here is the error log messgage: event extension is map[knativearrivaltime:2019-08-28T18:43:22.986315189Z knativehistory:default-kn2-trigger-kn-channel.default.svc.cluster.

[2019-08-28 21:55] Harwayne commented on #1753
As a potential solution, we can store the time in a known format in the CE attribute, then parse that back into a time.Time in the filter.

[2019-08-28 23:13] Harwayne commented on #1708
/project Observability

[2019-08-28 23:18] Harwayne opened #1755 "Tracing Work Items"
Here is the work items I think I see for tracing:
- [ ] Tracing through Broker
    - [x] Incoming request already has a trace id (#1756)
    - [ ] Incoming request does not have a trace id (#1708)
- [ ] Tracing through Channels
    - [x] InMemoryChannel (#1757)
    - [ ] KafkaChannel (knative/eventing-contrib#563)
    - [ ] NatssChannel (knative/eventing-contrib#564)
    - [ ] PullSubscription (go

[2019-08-28 23:22] Harwayne opened #1756 "Tracing through the Broker - incoming request has a Trace ID"
**Problem**
A request made to the Broker, with a Trace ID present, should continue that trace through the Broker and via any replies.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event Producer

**Exit Criteria**
The following curl sent from inside the cluster results in a single trace that shows the Broker ingress, the underlying Channel, all the Triggers, and

[2019-08-29 00:11] Harwayne opened #1757 "Tracing through InMemoryChannel"
**Problem**
A request made to the InMemoryChannel should generate traces that link the request to the subscribers. It should either use an existing Trace if present, or create a new Trace if one isn't.

The trace from the Channel to any subscribers MUST be annotated with the subscription's name.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
System Integrator

**

[2019-08-29 08:37] sayanh opened #1758 "Send observability related configmaps to destination namespaces"
**Problem**
A short explanation of the problem, including relevant restrictions.

Right now, the `config-observability` and `config-tracing` configmaps are watched by different broker filters/ingress deployments across namespaces. E.g. a broker is created in namespace `A` then the corresponding broker filters/ingresses watch the observability configmaps in `knative-eventing` namespace while living

[2019-08-29 09:43] anishj0shi commented on #1698
Hi,  I'd like to work on this task. But would gladly pair with someone for better solution.

[2019-08-29 09:43] anishj0shi commented on #1698
/assign

[2019-08-29 10:23] antoineco commented on #1698
I'll be working with @anishj0shi on this.

[2019-08-29 11:43] duglin commented on #1564
@jamesramsay this is the issue I was referring to.

For knEventing folks, see this: https://gitlab.com/gitlab-org/gitlab-ce/issues/62698#note_182362196

[2019-08-29 11:46] duglin commented on #1597
Related: https://github.com/knative/eventing/issues/1564

[2019-08-29 13:32] slinkydeveloper commented on #1718
Links to https://github.com/knative/eventing/issues/1698

[2019-08-29 13:33] slinkydeveloper commented on #1698
Depends on https://github.com/knative/eventing/issues/1746. We can reuse the same test pod for all tests related to eventing latency

[2019-08-29 14:04] anishj0shi commented on #1698
/assign @slinkydeveloper

[2019-08-29 16:35] Harwayne commented on #1708
/project Observability

[2019-08-29 16:35] Harwayne commented on #1708
/project Observability In Progress

[2019-08-29 16:35] Harwayne commented on #1708
/project Observability "In Progress"

[2019-08-29 16:36] Harwayne commented on #1708
/project Observability "In progress"

[2019-08-29 16:37] Harwayne commented on #1708
/project Observability In progress

[2019-08-29 17:21] grantr commented on #1758
A general solution to this problem could be a controller that watches specific configmaps and replicates them to other namespaces. Then we don't need to setup unsual cross-namespace RBAC, and pods can get new config without restarting.

[2019-08-29 17:29] grantr commented on #1734
/assign @capri-xiyue

[2019-08-29 17:40] grantr opened #1759 "Scale latency measurement to multiple sending and receiving pods"
**Problem**
The [current latency test](https://github.com/knative/eventing/tree/master/test/performance/broker-latency) uses a single pod to both send and receive events. To measure throughput accurately we'll need to scale both send and receive to multiple pods.

**Exit Criteria**
Run a latency test using multiple publish and receive pods.

**Additional context (optional)**
Related to https://git

[2019-08-29 17:41] grantr commented on #1759
/assign @anishj0shi
/assign @antoineco

[2019-08-29 17:42] antoineco commented on #1759
/assign

[2019-08-29 17:43] #1596 closed

[2019-08-29 19:07] #251 closed

[2019-08-29 19:08] paulrossman commented on #251
Already started on channel conformance tests, this issue is too wide.

[2019-08-29 19:11] akashrv commented on #934
We currently support individual importers support filters. Client tools can be smart to add them to imdividual importers and triggers. But we wont work on auto propagating filters at least in forseable future. Closing this for now.

[2019-08-29 19:11] akashrv commented on #934
/close

[2019-08-29 19:11] #934 closed

[2019-08-29 19:16] paulrossman commented on #891
Is this something someone else can take, is this needed for observability?

[2019-08-29 19:24] paulrossman commented on #1275
Each channel should have their own E2E tests

[2019-08-29 19:24] #1275 closed

[2019-08-29 19:27] paulrossman commented on #950
This is done

[2019-08-29 19:27] #950 closed

[2019-08-29 19:27] vaikas-google commented on #1125
this is fixed in the http://github.google.com/google/knative-gcp

[2019-08-29 19:27] #1125 closed

[2019-08-29 19:32] #770 closed

[2019-08-29 19:33] #912 closed

[2019-08-29 19:40] paulrossman commented on #1619
This should be in eventing-contrib

[2019-08-29 19:40] #1619 closed

[2019-08-29 19:40] paulrossman commented on #1562
Can this be closed?

[2019-08-29 19:41] paulrossman commented on #1543
Is this issue resolved?

[2019-08-29 19:42] paulrossman commented on #1533
Please file this in eventing-contrib

[2019-08-29 19:42] #1533 closed

[2019-08-29 19:42] #1526 closed

[2019-08-29 19:44] Harwayne commented on #1562
Yes, closed by #1742.

[2019-08-29 19:44] Harwayne commented on #1562
/close

[2019-08-29 19:44] #1562 closed

[2019-08-29 19:49] paulrossman commented on #1478
@aliok Is this completed?

[2019-08-29 19:50] paulrossman commented on #1387
We believe this is done

[2019-08-29 19:50] #1387 closed

[2019-08-29 19:53] #1166 closed

[2019-08-29 19:56] #596 closed

[2019-08-29 19:57] paulrossman commented on #510
Is this fixed?

[2019-08-29 19:58] paulrossman commented on #461
@grantr what's the status on this bug?

[2019-08-29 19:59] paulrossman commented on #351
@n3wscott is this still relevant?

[2019-08-29 20:04] grantr commented on #461
It's been a long time since I thought about this. I think it had something to do with the way we validated the content of ObjectReference objects in webhooks. I don't see that anymore, so this can probably be closed.

[2019-08-29 20:04] #461 closed

[2019-08-29 20:09] grantr commented on #510
I think we don't use these interfaces anymore.

[2019-08-29 20:09] #510 closed

[2019-08-29 22:09] Harwayne commented on #891
It is not needed for Observability. My understanding is that this issue is about completely removing MessageDispatcher and MessageReceiver and instead using the CloudEvents SDK. Is that why it is still open @n3wscott?

The existing MessageDispatcher and MessageReceiver propagate the traces via the whitelist of headers @n3wscott mentioned above. So traces do work through them.

[2019-08-29 22:10] Harwayne commented on #1756
/project Observability To do

[2019-08-29 22:11] Harwayne commented on #1757
/project Observability To do

[2019-08-29 22:24] Harwayne opened #1762 "Tracing through Sequences"
**Problem**
A request made to a Sequence should generate traces that link the request through all stages of the sequence and its reply (if present). It should either use an existing Trace if present, or create a new Trace if one isn't.

This should mostly be done by the underlying Channel, this issue is to verify it works as expected. And explore whether the spans should be annotated with somethin

[2019-08-29 22:24] Harwayne commented on #1762
/project Observability To do

[2019-08-29 22:29] Harwayne opened #1763 "Traces from Triggers include the Trigger's name"
**Problem**
In order to understand a trace generated by sending an event, the spans connecting the Trigger to its subscriber and reply should include the Trigger's name.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
System Integrator

**Exit Criteria**
The trace spans associated with a Trigger sending an event to its subscriber and a Trigger sending an event to

[2019-08-29 22:34] Harwayne opened #1764 "Broker Tracing works with Istio"
**Problem**
Once #1756 is completed, tracing will work through a Broker, linking the incoming request with all Triggers and their responses. However, eventing often does not use Istio, serving does. We need to ensure that if the incoming request to a Broker is made by a Pod with an Istio side car, then we have a single trace rooted at that request from the Istio-ified Pod through the Broker and ev

[2019-08-29 22:44] Harwayne opened #1765 "Channel Conformance Test - Tracing"
**Problem**
All conforming Channels are expected to generate traces. We need to have a test that we can run against a specific Channel implementation to determine if it is generating traces correctly.

We require the following spans:
- The request to POST to the Channel. -- Annotated with the Channel's name.
- The request to each Subscriber. -- Annotated with the Subscription's name.
- The request

[2019-08-29 22:49] Harwayne opened #1766 "E2E Test - Trace through Broker"
**Problem**
Once #1708 and #1756 are finished, tracing through a Broker will work. To ensure it continues to work, we need an E2E test that verifies it.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
A test in the e2e suite that runs before every PR merge. The test verifies that an event sent to the Broker has at least the following

[2019-08-29 22:54] Harwayne opened #1767 "E2E Test - Tracing through Sequences"
**Problem**
Once #1762 is finished, tracing through a Sequence will work. To ensure it continues to work, we need an E2E test that verifies it.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
A test in the e2e suite that runs before every PR merge. The test verifies that an event sent to a Sequence has at least the following spans ap

[2019-08-29 22:59] Harwayne opened #1768 "E2E Test - Tracing through ApiServerSource"
This should not be started until after #1758 is closed.

**Problem**
In order to ensure that ApiServerSource generates traces correctly, we need an E2E test.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
A test in the e2e suite that runs before every PR merge. The test verifies that an event sent from an ApiServerSource sent to som

[2019-08-29 23:00] Harwayne opened #1769 "E2E Test - Tracing through CronJobSource"
This should not be started until after #1758 is closed.

**Problem**
In order to ensure that CronJobSource generates traces correctly, we need an E2E test.

**Persona**:
Contributor

**Exit Criteria**
A test in the e2e suite that runs before every PR merge. The test verifies that an event sent from a CronJobSource sent to something that doesn't emit traces (e.g. a simple web server) still creates

[2019-08-29 23:01] Harwayne commented on #1769
/project Observability To do

[2019-08-29 23:01] Harwayne commented on #1767
/project Observability To do

[2019-08-29 23:01] Harwayne commented on #1763
/project Observability To do

[2019-08-29 23:02] Harwayne commented on #1764
/project Observability To do

[2019-08-29 23:02] Harwayne commented on #1765
/project Observability To do

[2019-08-29 23:02] Harwayne commented on #1766
/project Observability To do

[2019-08-29 23:02] Harwayne commented on #1768
/project Observability To do

[2019-08-29 23:03] Harwayne commented on #1318
/close

Closing in favor of #1765, #1766, #1767, #1768, and #1769.

[2019-08-29 23:03] #1318 closed

[2019-08-29 23:04] Harwayne commented on #1650
/close

Closing in favor of the general tracking issue #1755 and individual issues in the [Observability project](https://github.com/knative/eventing/projects/10).

[2019-08-29 23:04] #1650 closed

[2019-08-29 23:06] Harwayne commented on #1417
/project Observability To do

[2019-08-29 23:06] Harwayne commented on #1712
/project Observability To do

[2019-08-30 14:40] duglin opened #1774 "Rename "Choice""
The newly created "Choice" resource, as I understand it, is about taking a single incoming Event and allowing it to be sent to multiple Sinks where the specification of each Sink also allows for a Filter. Ignoring the Filter for a second, this sounds like a bit of a Fan-Out type of semantics, and as such the name "Choice" feels a bit misleading to me. W/o any additional insight, I think a lot of p

[2019-08-30 16:10] lionelvillard commented on #1774
"Choice" is really about message routing. This is a basic building block for many message routing patterns (fanout, split, content-base routing, etc...). Mutual-exclusivity (implied by the current name) can be built on top of "Choice".

Additional possible names:
- Routing
- Router
- Branching

[2019-08-30 17:02] nachocano commented on #1423
/close
fixed as part of https://github.com/knative/eventing/pull/1739

[2019-08-30 17:02] #1423 closed

[2019-08-30 17:31] lionelvillard commented on #1758
I like the idea of having a generic controller for replicating configmaps. In the future, it will then be easy to extend this controller for instance to support namespace-scoped configuration by merging the `knative-eventing` configmaps with the one provided in the namespace.

[2019-08-30 17:48] lionelvillard commented on #1573
/assign

I'm back

[2019-08-30 17:52] n3wscott opened #1777 "Add a config map to hold data plane timeout and other settings"
Related to https://github.com/knative/eventing/pull/1776

**Problem**
Timeouts need to be configurable for brokers and channels.
Also HTTP transport settings, such as MaxIdleConns, etc.

**Exit Criteria**
A configmap controls timeouts and other transport settings.

**Additional context (optional)**
Look at serving for how they are using data plane timeouts.

[2019-08-30 17:54] n3wscott commented on #1777
/good-first-issue

[2019-08-30 17:54] n3wscott commented on #1777
/kind good-first-issue

[2019-08-30 18:20] akashrv commented on #1519
@mikehelmick Could you please provide some specifics on what is the ask of this issue. I am planning to create some concrete issues with specific asks around documentation. So before I create the other issue and close this one, would like to check what specifics are expected from this issue.

[2019-08-30 20:07] nachocano commented on #1753
/assign

[2019-08-30 20:13] #1753 closed

[2019-08-30 21:43] sayanh commented on #1693
Working on:
Data plane metrics -> Importers -> CronJobSource
Infrastructure setup -> Control plane -> NATSS Channel

[2019-08-30 21:45] mikehelmick commented on #1519
If you look at the top level docs
  https://knative.dev/docs/eventing/
And the samples
  https://knative.dev/docs/eventing/samples/

There is lots of talk about the various components, but nothing that tells a developer "how to write an event consumer"

[2019-08-30 22:43] akashrv commented on #1519
Got it. I am planning to write a Hello World Sample for GoLang and C# and
then create issues for each other language for others (similar to serving).
I'll refer to this issue with my PR for golang and close it. And open other
language-specific issues so that it is clear what is expected and community
can contribute.

On Fri, Aug 30, 2019 at 2:45 PM Mike Helmick <notifications@github.com>
wrote:

-

[2019-08-31 10:40] slinkydeveloper commented on #1718
/assign

[2019-09-01 05:44] amir3code opened #1783 "How to setup a simple testing environemnt for knative eventing testing?"
**Problem**
I am starting to learn knative eventing but I dont know where to start. I am using vagrant to provision an environment and I installed k3s on it.

I wanted to start learning Knative and specially Knative Eventing part. I am struggling more than two weeks with setting up the environment.
There is always an error happening. Sometimes kubernetes stuck on ImagePullBackOFF, sometimes ErrPul

[2019-09-02 05:24] Fredy-Z commented on #1783
Hi, did you walk through https://github.com/knative/eventing/tree/master/test#environment-requirements?

[2019-09-02 16:15] antoineco commented on #1759
Depends on #1787

[2019-09-02 17:05] amir3code commented on #1783
@Fredy-Z Hello! Actually yeah I know that thing exists. In some part it says (install knative).
The real thing here is I have been trying to setup an environment for last one week! and I have not been able to make it, there are always errors that I dont understand, sometimes images dont get pulled, every time there is some kind of error.

I was looking for a `Vagrantfile` or something that can get

[2019-09-03 12:27] slinkydeveloper opened #1791 "Design throughput send & receive test image"
Design a send & receive test image (one image or two different, it doesn't matter) to work with mako to measure throughput. It should emit just timestamp of when messages are sent/received. Then mako or a data aggregator should be able to calculate the thpt on various points.

Depends on https://github.com/knative/eventing/pull/1787 to reuse same vegeta/cloud events code

/area performance
/projec

[2019-09-03 12:27] slinkydeveloper commented on #1791
/kind feature-request

[2019-09-03 12:28] slinkydeveloper commented on #1791
/remove kind/bug

[2019-09-03 12:30] slinkydeveloper commented on #1791
/remove kind

[2019-09-03 12:31] slinkydeveloper commented on #1791
/remove-kind bug

[2019-09-03 15:49] n3wscott opened #1795 "Use new trigger filters in metric tags."
https://github.com/knative/eventing/pull/1784/files#r320347557

[2019-09-03 16:05] n3wscott commented on #1795
my mistake, already done with `tag.Insert(r.triggerFilterTypeKey, valueOrAny(args.filterType)),`

[2019-09-03 16:05] n3wscott commented on #1795
/close

[2019-09-03 16:05] #1795 closed

[2019-09-03 16:15] grantr commented on #1791
/project perf/measurement To do

[2019-09-03 21:00] lionelvillard commented on #1573
link to the design document (WIP): https://docs.google.com/document/d/1qRrzGoHJQO-oc5p-yRK8IRfugd-FM_PXyM7lN5kcqks/edit#

[2019-09-04 13:30] MrBokeh commented on #1533
Done
https://github.com/knative/eventing-contrib/issues/570

[2019-09-04 16:01] aslom commented on #1573
The proposal looks good to me. I added section about impact. Should we put estimates on how much impact implementing it would have (in-memory channel, other channels)? Is it required feature? Add MUST and SHOULD? Additions to eventing tests?

[2019-09-04 16:11] aslom commented on #1774
Name it after Enterprise Integration Patterns could be named Dynamic Router (or just Router)?
https://www.enterpriseintegrationpatterns.com/patterns/messaging/DynamicRouter.html
https://www.enterpriseintegrationpatterns.com/patterns/messaging/MessageRouter.html

[2019-09-04 16:50] n3wscott commented on #1513
fixed by https://github.com/knative/eventing/pull/1776
/close

[2019-09-04 16:50] #1513 closed

[2019-09-04 18:00] #1746 closed

[2019-09-04 18:35] grantr opened #1804 "Test InMemoryChannel throughput and latency"
**Problem**
Similar (or identical) to the throughput and latency test for Broker, we should test InMemoryChannel throughput and latency.

**Exit Criteria**
Test(s) can be run manually to submit throughput and latency metrics to Mako.

**Time Estimate (optional):**

**Additional context (optional)**

/area performance
/project Perf/Measurement To do

[2019-09-04 18:37] grantr opened #1805 "Test KafkaChannel throughput and latency"
**Problem**
Similar (or identical) to the throughput and latency tests for InMemoryChannel (#1804), we should test KafkaChannel throughput and latency.

**Exit Criteria**
Test(s) can be run manually to submit throughput and latency metrics to Mako.

**Time Estimate (optional):**

**Additional context (optional)**

/area performance
/project Perf/Measurement To do

@slinkydeveloper

[2019-09-04 18:41] grantr commented on #1805
Depends on #1698

[2019-09-04 18:41] grantr commented on #1804
Depends on #1698

[2019-09-04 18:45] n3wscott commented on #1759
We should also test that we can work at high load from functions that do not return instantly. The function should work for more than 1 minute, ideally 3-5.

[2019-09-04 18:46] slinkydeveloper commented on #1805
/assign

[2019-09-04 18:46] slinkydeveloper commented on #1805
Maybe we should move it to eventing-contrib?

[2019-09-04 20:03] grantr commented on #1805
Good point! We can move this to eventing-contrib.

[2019-09-04 20:03] #1805 closed

[2019-09-04 20:15] grantr commented on #1805
Moved to https://github.com/knative/eventing-contrib/issues/573

[2019-09-04 20:49] #1654 closed

[2019-09-05 00:51] aslom opened #1807 "Test image sendevents does not work in master"
**Describe the bug**
Test image sendevents does nto work in master

 **Expected behavior**

test_images/sendevents shoudl be able to send event without exit status 1

 **To Reproduce**
Steps to reproduce the behavior.

Run logevents or event display

[code]

Then run test_images/sendevents

[code]

 **Knative release version**
master

 **Additional context**
It worked fine few days ago - removing

[2019-09-05 04:36] amir3code commented on #1783
Looks like all things are ok but the real problem is with gloo.
I have [this](https://github.com/solo-io/gloo/issues/1106) issue if you could help me fix that. Actually the real problem is with how to configure K3S to disable RBAC or something.

[2019-09-05 12:49] lionelvillard commented on #1774
Here another proposal: `Parallel`.

Goes well with `Sequence` :-)

[2019-09-05 13:15] duglin commented on #1774
I like `Parallel` - I agree, the symmetry with Sequence is very nice!

[2019-09-05 13:46] aslom commented on #1774
AFACT filter conditions are optional so you could use it as parallel without need to write any filters? In that sense it is parallel as it may send copy of one event to every subscirber?

However, it is not really parallel as events are delivered in order - first subscriber, then second and so on?

[2019-09-05 13:58] lionelvillard commented on #1774
`Parallel` does not say anything about sending events in order. It's about defining multiple branches. How and in which order events flow through these branches is unspecified at this level.

[2019-09-05 17:31] aslom opened #1814 "Developer productivity: faster test cycle"
**Problem**
When I run tests during development I have to repeat them seeveral times until they succeed (or fail in useful way) because of resource conflicts between multiple test runs, for example test fails because namespace is not cleaned

[code]

or previous artifacts like channels were not deleted

[code]

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which

[2019-09-05 17:31] aslom commented on #1814
/assign @nachocano
/assign @Fredy-Z

[2019-09-05 17:36] nachocano opened #1815 "Metrics: E2E Test for ApiServerSource"
**Problem**
In order to ensure that ApiServerSource generates metrics correctly, we need an E2E test.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
A test in the e2e suite that runs before every PR merge. The test verifies that an event sent from an ApiServerSource sends at least `event_count` metrics.

[2019-09-05 17:38] nachocano opened #1816 "Metrics: E2E Test for CronJobSource"
**Problem**
In order to ensure that CronJobSource generates metrics correctly, we need an E2E test.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
A test in the e2e suite that runs before every PR merge. The test verifies that an event sent from a CronJobSource sends at least `event_count` metrics.

[2019-09-05 17:41] nachocano opened #1817 "Metrics: E2E Test for InMemoryChannel"
**Problem**
In order to ensure that the InMemoryChannel generates metrics correctly, we need an E2E test.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
A test in the e2e suite that runs before every PR merge. The test verifies that an event sent from an InMemoryChannel sends at least `event_count` metrics.

**Additional Context**
T

[2019-09-05 17:44] nachocano opened #1818 "Metrics: Data Plane metrics for InMemoryChannel"
**Problem**
We need to add data plane metrics to the InMemoryChannel. We can start with simple event_count metrics, as done for example in the Broker.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor, Operator

**Exit Criteria**
A manual test that the metrics are being sent to at least two monitoring backends, prometheus and stackdriver.

[2019-09-05 17:48] nachocano opened #1819 "Metrics: E2E Test for Broker"
**Problem**
In order to ensure that the Broker generates metrics correctly, we need an E2E test.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
A test in the e2e suite that runs before every PR merge. The test verifies that an event sent from a the Broker sends at least `event_count` and `event_dispatch_latencies` metrics.

[2019-09-05 17:52] nachocano opened #1820 "Metrics: E2E Test for Triggers"
**Problem**
In order to ensure that the Triggers generates metrics correctly, we need an E2E test.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
A test in the e2e suite that runs before every PR merge. The test verifies that an event received in a Trigger sends at least `event_count`, `event_processing_latencies`, and `event_dispat

[2019-09-05 18:22] nachocano opened #1821 "Metrics: Graphana Dashboards for Broker/Trigger"
**Problem**
Add Graphana dashboard for Broker/Trigger metrics.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
A manual test that allows to see Broker/Trigger metrics in graphana dashboards, decomposed by relevant tags.

[2019-09-05 18:24] nachocano opened #1822 "Metrics: Graphana Dashboards for Source metrics"
**Problem**
Add Graphana dashboard for Source metrics.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
A manual test that allows to see Source metrics in graphana dashboards, decomposed by relevant tags.

[2019-09-05 18:24] nachocano opened #1823 "Metrics: Graphana Dashboards for Channels metrics"
**Problem**
Add Graphana dashboard for Channels metrics.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
A manual test that allows to see Channel metrics in graphana dashboards, decomposed by relevant tags.

[2019-09-05 18:29] Harwayne commented on #1823
/project Observability To do

[2019-09-05 18:29] Harwayne commented on #1822
/project Observability To do

[2019-09-05 18:29] Harwayne commented on #1821
/project Observability To do

[2019-09-05 18:29] Harwayne commented on #1820
/project Observability To do

[2019-09-05 18:29] Harwayne commented on #1819
/project Observability To do

[2019-09-05 18:29] Harwayne commented on #1818
/project Observability To do

[2019-09-05 18:29] Harwayne commented on #1817
/project Observability To do

[2019-09-05 18:29] Harwayne commented on #1816
/project Observability To do

[2019-09-05 18:29] Harwayne commented on #1815
/project Observability To do

[2019-09-05 18:36] #1807 closed

[2019-09-05 18:43] Fredy-Z commented on #1814
An easy fix could be adding random postfix for the namespace of each test.
WDYT?

[2019-09-05 21:11] aslom commented on #1814
Yes - and some easy way to delete all namespace that share the same prefix?

[2019-09-05 21:12] aslom commented on #1814
@Fredy-Z on related note: is there some way to run tests without parallel option and/or other option so I can see test logging output if there is timeout? Currently all I get is lot of stack traces but logging is lost :(

[code]

[2019-09-05 21:16] aslom opened #1824 "Add random suffix to test namespaces to avoid spurious test failures"
**Problem**
If tests are run during development they fail as k8s may take some time to cleanup or some artifacts are never removed.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
Contributor

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.
Repeated test execution avoids errors

[2019-09-05 21:16] aslom commented on #1814
@Fredy-Z what do you think about https://github.com/knative/eventing/issues/1824 ?

[2019-09-05 21:38] aslom commented on #1814
I was expecting to see log output such as

[code]

instead I only getting stack traces because of timeout and no idea how far test got and where it got stack as there is no logging ...

[2019-09-05 22:20] Fredy-Z commented on #1814
That is an issue of Go, and there is an issue tracking it - https://github.com/golang/go/issues/24929. It has been there for quite a while but still hasn't been fixed..

[2019-09-05 22:27] #1759 closed

[2019-09-06 13:58] aslom commented on #1814
Yes from April and not merged :( THe workaround seems to be to "replace all t.Logf calls with either fmt.Printf or a custom logger" - could we do that and replace back custom logger when the problem is fixed in go?

If I suspect which test failed I can figure out the file and get the line - but logs files can help to see what was actually happening and what was the input

[code]

[code]

[2019-09-06 17:15] Fredy-Z commented on #1824
/assign

[2019-09-06 18:13] #1711 closed

[2019-09-06 18:40] aslom opened #1833 "Document running e2e test with non gcloud cluster"
**Problem**

Following https://github.com/knative/eventing/tree/master/test
used `./e2e-tests.sh --run-tests` but fails as I do not have gcloud - I do have k8s cluster $KUBECONFIG

[code]

and with --skip-knative-setup

[code]

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

Contributor

**Exit Criteria**
A measurable (binary) te

[2019-09-06 19:10] aslom commented on #1833
/assign @Fredy-Z

Let me know if I am missing something. I would happy to test it

[2019-09-06 19:12] aslom commented on #1774
Let document it then that filer is optional and order of execution is unspecified and people can expect parallel execution not always sequential checking of branches?
In https://github.com/knative/docs/blob/master/docs/eventing/choice.md ?

[2019-09-09 12:44] matzew opened #1837 "Simplify manual broker creation"
**Problem**
While creating the default broker is pretty easy (via injection), doing a manual setup is pretty hard, and requires some manual steps:

https://github.com/knative/docs/blob/master/docs/eventing/broker-trigger.md#manual-setup

However, most of this could be done for the user, so that they could just do

[code]

Now, when  reconciling any Broker, the broker reconciler sets the required R

[2019-09-09 13:14] lionelvillard commented on #1774
let's go for `Parallel`. I'll submit a PR soon.

[2019-09-09 13:14] lionelvillard commented on #1774
/assign

[2019-09-09 13:15] lionelvillard commented on #1774
/milestone 0.9.0

[2019-09-09 14:54] lionelvillard commented on #1774
What about renaming `cases` to either
- `branches`
- `flows`
- `cases` is fine. Don't rename.

other ideas?

I vote for `branches`

[2019-09-09 14:56] antoineco commented on #1774
/milestone 0.9.0

[2019-09-09 19:12] aslom commented on #1833
/assign @grantr

[2019-09-09 19:42] aslom commented on #1591
Implemented in https://github.com/knative/eventing/pull/1813

[2019-09-09 20:03] aslom opened #1845 "Conformance testing for channel data plane"
**Problem**
We need conformance tests for channel data plane.

From [channel specification](https://github.com/knative/eventing/blob/master/docs/spec/channel.md)
Extracted testable statements about HTTP transport:
* “Every Channel must expose either an HTTP or HTTPS endpoint.
* “The endpoint(s) MUST conform to [HTTP Transport Binding for CloudEvents - Version 0.3](https://github.com/cloudevents/sp

[2019-09-09 20:03] grantr commented on #1833
@adrcunha @chaodaiG were there changes to the e2e test process recently that would have made this stop working without gcloud?

[2019-09-09 20:07] aslom commented on #1845
Proposed conformance test (TestChannelHttpTransport):
* Channel is created by test e2e (by default in-memory, can be configured ot be Kafka with helpers)
* Parametrize test
  * Create channel with http and https:// ?
  * Send CloudEvents V0.3 format binary and structured content
  * Send valid and invalid cloud-events (JSON and non-JSON data)
  * Send different HTTP methods - check only POST is ac

[2019-09-09 20:13] aslom opened #1846 "Conformance testing for channel control plane channelable-manipulator ClusterRole"
**Problem**
We need conformance tests for channel control plane channelable-manipulato ClusterRole manipulator.

From [channel specification](https://github.com/knative/eventing/blob/master/docs/spec/channel.md) extracted testable statements about channel channelable-manipulator ClusterRole:
* “Each Channel implementation is backed by its own CRD (e.g. `InMemoryChannel` or
`KafkaChannel`).
* “Ever

[2019-09-09 20:14] aslom commented on #1591
channelable-manipiulator test has now separate issue: https://github.com/knative/eventing/issues/1846

[2019-09-09 20:17] aslom commented on #1846
Proposed conformance test (TestChannelHttpTransport):
* Channel is created by test e2e (by default in-memory, can be configured ot be Kafka with helpers)
or Test Prerequisite: channel configuration provided (installed)
* Create ServiceAccount.
* Create ClusterRoleBinding the ServiceAccount from 1 granting the channelable-manipulator ClusterRole.
* Verify that the ServiceAccount is allowed to do al

[2019-09-09 20:53] Fredy-Z commented on #1833
Seems it's line 327-332 that caused the script not being able to run without `gcloud`.
https://github.com/knative/test-infra/blob/fabb00f0c0a9cb3707c594488b4114ea968859fd/scripts/e2e-tests.sh#L327

@adrcunha do you remember why we need the cluster admin role in the e2e tests?

[2019-09-09 21:06] adrcunha commented on #1833
No. This is required for all E2E tests in order to install Knative.

[2019-09-09 21:08] adrcunha commented on #1833
It doesn't make sense, this is old code. Are you sure you're not creating a cluster or. nstalling Knative in a non-standard way?

Because it's required to install Knative. That's been this way since at least for a year. If this is broken, almost all E2E tests should be broken then.

[2019-09-09 21:12] grantr commented on #1833
Oops, my mistake. I interpreted `cluster admin` as a GCP thing, but you're right it's a K8s thing. It's been a long time since I thought about it.

[2019-09-09 21:47] aslom opened #1850 "Conformance testing for Channel CRD suffix name"
**Problem**

From [channel specification](https://github.com/knative/eventing/blob/master/docs/spec/channel.md) extracted testable
“Each Channel implementation is backed by its own CRD (e.g. `InMemoryChannel` or
`KafkaChannel`).

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

System Integrator, Contributors

**Exit Criteria**
A

[2019-09-09 21:49] aslom commented on #1850
Test:
* Retrieve channel CRD.
* Check that CRD name has “Channel” substring in its name and report warning if not.

CC @Harwayne @lionelvillard @alanconway @matzew @lberk

[2019-09-09 22:45] adrcunha commented on #1833
The README file doesn't mention it, but `--run-tests` won't work outside a GCP environment.

[2019-09-10 01:58] Fredy-Z commented on #1833
I double-checked the guidance for different Kubernetes vendors in https://knative.dev/docs/install/, it seems the cluster admin role is only required by GKE (or the document is wrong?)

Further more, I also tried to install a `minikube`, and commented out line 327-332, then run `./test/e2e-tests.sh --run-tests`. The script was able to finish, though with some test failures (which might be bugs of

[2019-09-10 02:14] Fredy-Z commented on #1833
I double-checked the Knative installation guidance for different Kubernetes vendors in https://knative.dev/docs/install/, it seems the cluster admin role is only required by GKE (or the document is wrong?)

Further more, I also tried to install a `minikube`, and commented out line 327-332, then run `./test/e2e-tests.sh --run-tests`. The script was able to finish, though with a couple of test cases

[2019-09-10 06:02] qiujian16 commented on #1196
@n3wscott i would like to help if no one is working on this... To my understanding, it needs to add validation function in apis, and register the API in resourceHandler https://github.com/knative/eventing/blob/master/cmd/webhook/main.go#L142?

[2019-09-10 09:35] matzew commented on #1059
/close

fixed w/ https://github.com/knative/eventing-contrib/pull/579

[2019-09-10 09:35] #1059 closed

[2019-09-10 13:45] aslom commented on #1833
@Fredy-Z @grantr @adrcunha thank you fir helping wiht it and testing it. I will try commenting and test it with minikube, external cluster, and other test options like https://kind.sigs.k8s.io

If it works I am going to submit PR

[2019-09-10 14:44] aslom commented on #1833
I have tested with kind cluster and could nto run until commented out the lines 327-332 in vendor/knative.dev/test-infra/scripts/e2e-tests.sh

[code]

Then it started tests until this error below - is it the error you see @Fredy-Z ?

[code]

[2019-09-10 15:01] n3wscott commented on #1196
I think so.

[2019-09-10 15:31] aslom commented on #1833
I was looking for the first error - it seems to be

[code]

any idea what could be causing  `broker_default_test.go:141: Error annotating namespace: Get https://kubernetes.docker.internal:6443/api/v1/namespaces/test-default-broker-with-many-attribute-triggers: EOF`

[code]

https://github.com/knative/eventing/blob/master/test/e2e/broker_default_test.go#L141

[2019-09-10 15:32] Harwayne commented on #1765
/assign

[2019-09-10 15:52] lionelvillard commented on #1833
For me the first error I get is this one:
[code]

[2019-09-10 15:57] lionelvillard commented on #1833
which is fixed by running the tests from the eventing root dir:

[code]

[2019-09-10 17:34] aslom commented on #1845
I will start on first version of that test - should be relatively easy?
/assign @aslom

[2019-09-10 18:40] n3wscott opened #1857 "Revert Importer naming decision."
**Problem**

`Importer` is an imperative name being used to describe a declarative concept of configuring a system to deliver events to an endpoint.

**Solution**

Revert [sources-to-importers.md](https://github.com/knative/eventing/blob/5e6b3c847a9f4c4a21f51f59c69c40cea42d46bd/docs/decisions/sources-to-importers.md).

Our usage of `source` is consistent with how CloudEvents describes source.

The

[2019-09-10 18:48] grantr commented on #1857
Previous discussion at https://github.com/knative/eventing-contrib/issues/402

[2019-09-10 19:22] deissnerk commented on #1857
In many cases this is not true, because the *source* actually refers to some intermediary like PubSub, Kafka or RabbitMQ. If the name wasn't taken, imho _ingress_ would be the perfect term.

There are also real sources in kn-eventing:
Any function or app inside the namespace/cluster that emits events, can be regarded as _source_. What if in the future we decide to somehow describe these sources wi

[2019-09-10 19:32] mattmoor commented on #1857
I too think that the term Ingress (and frankly Egress) pair conceptually very well with events entering and leaving the system (it is fundamentally what those terms mean), and have a duality with Subscriptions and Topics in APIs like Pub/Sub.

That said, of the choices give, I think Source (and it's dual Sink) are my favorite.

[2019-09-10 19:48] n3wscott commented on #1857
In the case of Knative with GCP, the _source_ is something like Google Cloud Storage, but it uses a Pub/Sub Topic and Subscription to bring the event into the cluster and convert it. This is the choice we use for general k8s clusters, but we could optimize this for GKE and skip the receive adapter if we had enough control over the ingress of the cluster. This is my point about picking a declarativ

[2019-09-10 20:29] duglin commented on #1857
I tend to think of "sources" as utility functions that do a couple of things:
1 - connect me up to some event stream/producer/whatever - it's like a subscribe()
2 - send those events to someplace - a "sink"
3 - if necessary it might do some adaptation of the event - e.g. converting it into a CloudEvent

There might be other things that go on, but from an end-user perspective I think they mostly ju

[2019-09-10 21:44] grantr opened #1861 ""nil" is a bad choice for default error message"
**Describe the bug**
Several of the status propagation methods, when propagating messages from non-ready statuses, use `nil` as the propagated message when no message is present:

https://github.com/knative/eventing/blob/93a2e64e2b66cdfda06543ca8f1fc13aa56675d1/pkg/apis/eventing/v1alpha1/trigger_lifecycle.go#L57

https://github.com/knative/eventing/blob/93a2e64e2b66cdfda06543ca8f1fc13aa56675d1/pkg

[2019-09-10 23:06] Harwayne commented on #1846
Here is a code snippet to get whether something is allowed:
[code]

Where client is a [test/common/client.go Client](https://github.com/knative/eventing/blob/a146086f423bb64d1c1d7302596cd7eca3e30251/test/common/client.go#L31).

We might need a second request with `Subresource: "status"`, I _think_ that the above request only checks the main object, not its status subresource.

[2019-09-10 23:17] Harwayne commented on #1850
As this is a SHOULD, not a MUST, I think "report warning if not" is a good idea. But how do we do so? For the most part I ignore the logs a test generates, unless it fails.

Perhaps we should have the test fail, but gate the test on a [Channel Feature](https://github.com/knative/eventing/blob/a146086f423bb64d1c1d7302596cd7eca3e30251/test/common/config.go#L33). So that Channel implementations can '

[2019-09-10 23:19] Harwayne commented on #1765
/project Observability In Progress

[2019-09-10 23:19] Harwayne commented on #1765
/project Observability In progress

[2019-09-10 23:34] Harwayne commented on #1845
LGTM

[2019-09-10 23:34] Harwayne commented on #1845
A general observation, it may be easier to have multiple tests that each test one small thing, rather than a single test that tests everything. I leave it to your judgement on which you will actually choose to implement.

[2019-09-11 00:17] duglin commented on #1833
I managed to get it to work (with a few hacks) by using:
[code]
is there any reason to use the `e2e-tests.sh` script if I already have an env set up?

[2019-09-11 00:22] duglin opened #1862 "`knative-eventing-injection` can't be used with private registry"
**Describe the bug**
While trying to get the e2e tests to work using a private registry, I found that the tests that add the `knative-eventing-injection` label to a namespace will fail because the pods that get automatically created will fail to be able to pull the needed images. This is because those pods are associated with the `eventing-broker-filter` ServiceAccount which was also automatically

[2019-09-11 00:22] duglin commented on #1833
This issue is related: https://github.com/knative/eventing/issues/1862

[2019-09-11 00:23] duglin commented on #1862
To be clear, I think this is an issue with Eventing itself, not the test infrastructure since this situation will happen during normal usage not just testing.

[2019-09-11 00:32] adrcunha commented on #1833
No. You actually shouldn't use the script if.you have an env setup. That's why I said the readme is outdated; see the one in serving, which mentions exactly what I just said.

[2019-09-11 00:41] grantr commented on #1862
Good catch. This does seem to be a fundamental issue with the approach, and should at least be documented.

[2019-09-11 06:15] matzew commented on #1857
Honestly, we (our team) try to call them importer, but we end-up always talking "source"... I do appreciate this revert, to be very honest.

Fortunately none of the CRDs have been renamed, and yeah.... let's never talk about it again, like @n3wscott said!!!! :rofl:

[2019-09-11 07:59] matzew opened #1865 "Move Sequence/Choice to eventing contrib"
**Proposal to move Sequence and Choice out of eventing core**

While looking for stable APIs of the eventing core repository, we have solid APIs that act like a stable foundation for other APIs to be build on-top.

Stable/Robust APIs are:
* `Channel` (and `InMemoryChannel`)
* `Subscription` (even it was moved to a new API group recently)
* `*Source` (e.g. ApiServerSource, or ContainerSource)

We a

[2019-09-11 13:18] lionelvillard commented on #1865
Sequence and Parallel are both fairly low level, fundamental building blocks. I do think they should both be part of `eventing`. On the other hand, both are more experimental compare to what you mentioned above.

Here an alternative proposal: keep them in `eventing` but do not promote them to `v1beta1`?

[2019-09-11 14:32] duglin commented on #1865
+1 to keeping them in core but having different components be at different levels of maturity.

I find that moving stuff out of the repo makes it harder for people to find and manage stuff. I even find the eventing-contrib stuff falls into this category. And now that some things are even moving out of there, I think it'll be even harder for people to know 1) what's "official" vs "someone's toy", 2

[2019-09-11 15:21] akashrv commented on #1865
Please refer to https://github.com/knative/eventing-contrib/issues/372#issuecomment-497460072 to decide between the two repos.

[2019-09-11 16:00] aslom commented on #1857
@matzew I noticed the same thing - people call it source and rarely importer.

[2019-09-11 16:02] aslom commented on #1857
Just for reference here is CLoudEvents souce definition https://github.com/cloudevents/spec/blob/v0.3/spec.md#source

[code]

[2019-09-11 16:03] bbrowning commented on #1857
Obviously the name Importer never stuck for whatever reason. It's telling that we didn't update all the code, docs, etc to refer to Sources as Importers. So, I'm +1 for sticking with Source as that's the most widely used term for this in our community at this point.

[2019-09-11 16:20] lionelvillard commented on #1857
+1 for Source because

[2019-09-11 16:35] sixolet commented on #1857
"Source" meaning "the thing that produces events and eventually gets them to a sink" is great. That's what's meant by cloud events in the source field in the first place

"Source" as a piece of software like `GithubEventSource` is really confusing, because now you're confused between the source field in the event itself, github, the github importer, the type of the github importer...

The goal of

[2019-09-11 16:35] nachocano commented on #1857
+ 1 for Source because

- Probably nobody will change the existing code (nor documentation!) to use Importer. I think there are much more important things to do in the project.
- Talking about Importer as a concept but not backing that up in code, IMO will be confusing for new developers as they will only see Source in the code.
- Leaving existing code using Source and only new code start using Im

[2019-09-11 16:41] alanconway commented on #1857
Good move. Source may not be perfect, but in the absence of a perfect
replacement it's Good Enough. The rename is too much work with no really
significant payoff.

On Wed, Sep 11, 2019 at 12:35 PM Ignacio Cano <notifications@github.com>
wrote:

[2019-09-11 16:42] deissnerk commented on #1857
@n3wscott

If you want to hide the transport aspect, just get rid of _source/importer_ and use _trigger_. The some clever controllers can watch _triggers_ and decide when and how to create connections to event sources. I thought _source_ is actually about all the transport stuff, so that _trigger_ can be just about events and (CloudEvent) sources.

[2019-09-11 17:13] akashrv commented on #1857
A while back when we were discussing things on paper (in issues and docs) it seemed obvious that importer is the technically correct name as it does the work on importing events into the cluster (knative eventing developer perspective).
However, the more I use the eventing system to build apps and work with customers, I think "source" makes more sense because the control plane object that I am cre

[2019-09-11 17:21] akashrv opened #1869 "Identify v1Beta1 API candidates and potential gaps"
**Problem**
We need to figure out v1beta1 api surface for Knative Eventing. We could either start moving stable apis to v1beta1, or identify a minimum set of apis that make sense to promote together to v1beta1 and identify what is missing so that we can target to fill the gaps in v0.10 and promote to v1beta1 in v0.11

**Exit Criteria**
 - Identify minimal set of APIs that will be part of v1beta1 a

[2019-09-11 17:21] akashrv commented on #1869
/milestong v0.10
/assign @matzew @vaikas-google

[2019-09-11 17:39] nachocano opened #1871 "Assert metrics tags in UTs"
**Describe the bug**
We should assert the metrics tags in UTs

 **Expected behavior**
Metrics tags are asserted and validated in UTs

 **Additional context**
From PR review https://github.com/knative/eventing/pull/1864#pullrequestreview-286931281

[2019-09-11 17:40] lionelvillard commented on #1869
I would add
- identity what needs to be cleaned up/tuned in the minimal set of APIs

For instance
- `channel.spec.subscribable.subscribers` -> `channel.spec.subscribers` (if possible)
- `subscription.spec.subscriber.ref` -> `channel.spec.subscriber`

[2019-09-11 18:17] matzew commented on #1774
I think, if we do this rename, I also like `branches` @lionelvillard

[2019-09-11 19:58] lionelvillard commented on #1573
/milestone v0.10.0

[2019-09-11 19:59] lionelvillard commented on #1493
/milestone v0.10.0

[2019-09-11 20:07] nachocano commented on #1871
Actually this should be done in the StatsReporter object, which knows about the underlying tags that are sent. We are doing that. E.g., https://github.com/knative/eventing/blob/3794bdbd2b19dbc120314b8371dd74967f0a49c2/pkg/broker/ingress/stats_reporter_test.go#L53

Closing this bug.
fyi @Harwayne

[2019-09-11 20:07] #1871 closed

[2019-09-11 22:02] deissnerk commented on #1857
@akashrv I suppose for AWS EventBridge you could create a knative importer/source. If the name change was reverted back, you would then have an EventBridge source. From what I saw so far in their documentation, they only list actual event sources: services and applications that actually emit events. Regarding the GCP PubSub event source you mentioned, a topic is not a source. It is just the destin

[2019-09-11 23:45] akashrv commented on #1493
/milestone v0.10.0

[2019-09-11 23:46] akashrv commented on #1573
/milestone v0.10.0

[2019-09-11 23:59] grantr opened #1873 "CronJobSource reconciles continuously and creates infinite pods"
**Describe the bug**
A CronJobSource reconciled a few times a second on my cluster. It created over 18K pods and caused the cluster to fall over eventually.

I created this CronJob:

[code]

There was an permissions error listing Brokers (as Addressables):

`knative.dev/pkg/apis/duck/typed.go:60: Failed to list *v1alpha1.AddressableType: brokers.serving.knative.dev is forbidden: User "system:servi

[2019-09-12 07:55] matzew commented on #1446
/closed has been removed

[2019-09-12 07:55] #1446 closed

[2019-09-12 07:55] matzew commented on #1663
This is done. no?

[2019-09-13 19:24] vaikas-google commented on #1857
Thanks all for the useful and thoughtful thoughts. There's really no consensus and nor will there be. We're currently in a little bit of a mixed worlds and hence at this point based on the actual feedback and experience with the difficulty of adopting the importer, I'm going to say that we'll just use Source until such a time that we can do a proper UX study and then re-visit this. I know some fol

[2019-09-13 20:07] akashrv commented on #1857
I would stick with WG Leads decision (Ville) and move forward. Let's focus on the bigger problems we have (beta apis, more robust constructs that can support production workloads reliably, more documentation, the list goes on...) and re-visit this when @steren comes back with results from UX study.
/close

[2019-09-13 20:07] #1857 closed

[2019-09-16 11:35] nachtmaar commented on #1693
Working on:
Infrastructure setup -> Control plane -> GitHubSource

[2019-09-16 14:23] matzew opened #1889 "Problem running ApiServerSource"
**Describe the bug**

Running the API Server Source gives me:

[code]

 **Expected behavior**

messages are published to the (default) broker.

 **Knative release version**

no release: I run with nightly build ...

[2019-09-16 16:28] Harwayne commented on #1693
/project Observability In progress

[2019-09-16 17:32] akashrv commented on #1693
/milestone v0.10.0

[2019-09-16 17:38] akashrv commented on #1889
/assign @Harwayne

[2019-09-16 17:40] akashrv commented on #1869
/milestone v0.10.0

[2019-09-16 17:40] vaikas-google commented on #1873
@grantr is there a step missing from the setup that caused the lack of permissions? Agree this is a terrible state to get into, just trying to understand how this happened?

[2019-09-16 17:42] vaikas-google commented on #1865
As discussed during the WG meeting last week, we'll keep these in the core. We can later revisit this, but right now code churn seems like something we don't want to tackle.
/close

[2019-09-16 17:42] #1865 closed

[2019-09-16 17:42] akashrv commented on #1862
/assign @duglin

[2019-09-16 17:43] akashrv commented on #1862
/milestone v0.10.0

[2019-09-16 17:44] vaikas-google commented on #1861
We should audit the messages so that we are confident the Status messages are consistent and not only for the error messages.

[2019-09-16 17:47] akashrv commented on #1850
/milestone v0.10.0

[2019-09-16 17:47] akashrv commented on #1846
/milestone v0.10.0

[2019-09-16 17:47] akashrv commented on #1845
/milestone v0.10.0

[2019-09-16 17:49] akashrv commented on #1837
/milestone v0.11.0

[2019-09-16 17:50] paulrossman commented on #1833
@Fredy-Z could you update the readme?

[2019-09-16 17:50] akashrv commented on #1824
/milestone v0.10.0

[2019-09-16 17:51] akashrv commented on #1822
/milestone v0.10.0

[2019-09-16 17:51] akashrv commented on #1821
/milestone v0.11.0

[2019-09-16 17:51] akashrv commented on #1820
/milestone v0.11.0

[2019-09-16 17:51] akashrv commented on #1819
/milestone v0.11.0

[2019-09-16 17:51] akashrv commented on #1821
/milestone v0.10.0

[2019-09-16 17:51] akashrv commented on #1820
/milestone v0.11.0

[2019-09-16 17:52] akashrv commented on #1820
/milestone v0.10.0

[2019-09-16 17:52] akashrv commented on #1819
/milestone v0.10.0

[2019-09-16 17:52] akashrv commented on #1818
/milestone v0.10.0

[2019-09-16 17:52] akashrv commented on #1817
/milestone v0.10.0

[2019-09-16 17:52] akashrv commented on #1816
/milestone v0.10.0

[2019-09-16 17:52] akashrv commented on #1815
/milestone v0.10.0

[2019-09-16 17:53] akashrv commented on #1814
/milestone v0.10.0

[2019-09-16 17:54] vaikas-google commented on #1814
Looks like there are two issues maybe in this issue IIUC?
 1. namespaces
 2. logging improvements

Could we split second into its own issue?

[2019-09-16 17:54] akashrv commented on #1804
/milestone v0.10.0

[2019-09-16 17:54] akashrv commented on #1791
/milestone v0.10.0

[2019-09-16 17:56] grantr commented on #1873
@vaikas-google actually looking closer, the error message is not broken permissions, but an incorrect apiGroup:

`brokers.serving.knative.dev is forbidden: ... cannot list resource "brokers" in API group "serving.knative.dev" at the cluster scope`

This suggests the CronJobSource was somehow using this (broken) reference:

[code]

But I don't have the original CronJobSource anymore (it was deleted