[2020-08-03 15:15] nlopezgi commented on #2841
hi @lberk ,
I am doing some work related to this, but it's not likely I will extend the scope to cover fixing this specific issue. Details of my current scope are here: https://docs.google.com/document/d/1GWtAEegoz5F3ex0mok9liboGyeYFr0H54YsAa4r87BE/edit#heading=h.7bl2ddeqn7ur.

iiuc, this issue is related to the dev experience for running this tests, which I can confirm, could use lots of improvem

[2020-08-03 15:16] nlopezgi commented on #3446
Added to description

[2020-08-03 20:00] aslom commented on #3359
AFAIK OPA policy language is used in Kubernetes already - is it expressive enough for filter expressions? Deny/Allow should map well to filtering events? They have to deal with making sure resources used for OPA execution are wll controlled as nobody wants policy language runtime to impact cluster performance:

https://www.openpolicyagent.org/docs/latest/deployments/#kubernetes

AFAIR OPA is to be

[2020-08-04 09:55] devguyio opened #3777 "New e2e and conformance tests approach"
### Description

Based on WG discussions and feedback from Eventing e2e and conformance tests authors and downstream implementors, a new approach is needed for e2e and conformance tests living in `eventing/test`. We've been piggy backing off of golang's testing package along with some bash scripts as our e2e and conformance test driver. We've also built up some tooling to support this effort but w

[2020-08-04 12:04] #3749 closed

[2020-08-04 12:05] #3748 closed

[2020-08-04 13:38] lberk commented on #3633
@MPeyrard86 yes please!

[2020-08-04 14:35] nlopezgi commented on #3584
/assign

[2020-08-04 15:53] nachocano commented on #3675
Talked about this in the Sources WG. We added name, namespace, and kind as extension attributes.
Decided not to add labels nor annotations for the reasons Grant mentioned above.
I'm closing this one, please reopen if you have different thoughts and we can discuss further.

[2020-08-04 15:53] #3675 closed

[2020-08-04 22:07] evankanderson commented on #3700
Do you need to be able to set the securityContext for these pods, or would a pre-canned restrictive policy be sufficient?

[2020-08-04 22:12] evankanderson commented on #3700
Proposed securityContext:

[code]

[2020-08-04 22:57] cpate3 commented on #3775
Ready and URL has no value somehow popup. The "KNATIVE-EVENTING-INJECTION" sidecar is enabled for default namespace. Today have upgraded ISTIO_VERSION to latest "1.6.7" and keep KNATIVE_VERSION "0.16.0" but it bring same behavior. pls advice..

) kubectl get namespace -L knative-eventing-injection
NAME                                STATUS   AGE   KNATIVE-EVENTING-INJECTION
default

[2020-08-05 07:50] slinkydeveloper commented on #3359
I propose a solution using JS here: https://github.com/knative/eventing/pull/3771 feel free to take a look and review

[2020-08-05 12:05] #3773 closed

[2020-08-05 12:05] #3653 closed

[2020-08-05 12:05] #3720 closed

[2020-08-05 12:05] knative-test-reporter-robot opened #3781 "[flaky] test/conformance.TestBrokerV1Beta1DataPlaneIngress/Ingress_Supports_CE0.3"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerV1Beta1DataPlaneIngress/Ingress_Supports_CE0.3
* **Repository name**: eventing

[2020-08-05 12:05] #3772 closed

[2020-08-05 12:05] #3722 closed

[2020-08-05 14:34] aslom commented on #3359
That looks ot me as non-trivial feature - I could not find google doc with the proposal?

https://knative.dev/community/contributing/mechanics/feature-tracks/#step-2-the-proposal

Was it maybe linking in some other issue?

My concern is how pluggable is the YAML and code? Could "opa:" or "js:" prefix for expressions be used?

[2020-08-05 15:27] slinkydeveloper commented on #3359
In that case, just renaming the field `expression` to `jsExpression` seems reasonable and extensible enough

[2020-08-05 15:27] aslom commented on #2221
It seems that it is not feasible to add everything from Knative Eventing into one diagram.

Instead I thin it makes sense to start with conceptual architecture diagrams and then sho how they map to implementations. The focus is to help contributors to understand Knative Eventing and give them a conceptual "map" how different concepts and implementation artifacts fit together.

Current draft https:

[2020-08-05 16:29] nachocano commented on #3529
Assigning it to Lionel as he is working on the last piece missing, the PingSource updates.
/assign @lionelvillard

[2020-08-05 16:35] nachocano opened #3785 "Ability for ApiServerSource to extract information from remote clusters."
**Problem**
In https://github.com/knative/eventing/issues/3295 we asked for feedback regarding Core Sources. One ask was to allow ApiServerSource to specify a kubeconfig in order to be able to point to a different cluster. See https://github.com/knative/eventing/issues/3295#issuecomment-658917295.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit C

[2020-08-05 16:38] nachocano commented on #3295
Created https://github.com/knative/eventing/issues/3785 to track the addition of kubeconfig to ApiServerSource.
Thanks everyone who provided feedback. I think we can close this issue, as we have been addressing the comments in different issues/PRs. If you think otherwise, please feel free to reopen and we can further discuss it.

[2020-08-05 16:38] #3295 closed

[2020-08-05 17:36] grantr commented on #3775
Hi @cpate3, thanks for the report and sorry you're having trouble. You'll need to install the sugar-controller component for the namespace injection feature to work. Here's the yaml: https://github.com/knative/eventing/releases/download/v0.16.0/eventing-sugar-controller.yaml

Can you install that and see if it fixes the issue for you?

@n3wscott for visibility. We should make this clearer in the d

[2020-08-05 19:29] cpate3 commented on #3775
Thanks @grantr. After successfully deploying sugar-controller, now can see default broker is coming up and I can see reconciliation loop in controller pod logs. But now there is BLANK value in READY and URL as well. We should get true READY value with certain URL. I can see in document it refer to broker endpoint "http://broker-ingress.knative-eventing.svc.cluster.local/default/default'.

{"level"

[2020-08-05 19:34] nlopezgi commented on #3541
I'd like to take a stab at helping with this issue. I'll start work tomorrow.
fyi @abrennan89 , could I bother you with reviews? Are there any other resources I should be looking at (e.g., any templates for how this type of doc should look like?)

[2020-08-05 19:34] nlopezgi commented on #3541
/assign

[2020-08-05 19:39] nachocano commented on #3422
@bharattkukreja this is something we can explore with ContainerSource. Let me know if you are interested in this, and we can sync later

[2020-08-05 20:10] bharattkukreja commented on #3422
Sounds good

[2020-08-05 20:57] n3wscott commented on #3775
it is under `Optional Eventing extensions` + `Sugar Controller` and also linked a few places, but yeah, it should be a bit more clear. Maybe @knative/tbd-google-tech-writers have some ideas?

[2020-08-06 08:36] aliok commented on #3582
/assign @nlopezgi

https://github.com/knative/eventing/pull/3787
https://github.com/knative/eventing/pull/3788

[2020-08-06 12:06] knative-test-reporter-robot opened #3791 "[flaky] test/conformance.TestBrokerV1Beta1DataPlaneConsumer/Replies_are_accepted_and_delivered"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerV1Beta1DataPlaneConsumer/Replies_are_accepted_and_delivered
* **Repository name**: eventing

[2020-08-06 12:06] knative-test-reporter-robot opened #3792 "[flaky] test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_attribute_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_attribute_triggers
* **Repository name**: eventing

[2020-08-06 15:16] matzew opened #3796 "Tracing conformance test not really working w/ KIND ?"
Running in KIND (1.18.2) the `TestChannelTracingWithReply` test-case, like:

[code]

I am constantly getting this:

[code]

But, looks like our CI, does actually work :thinking:

[2020-08-06 16:13] chizhg commented on #3796
Could you also paste the error log for that test here?

[2020-08-06 18:52] grantr commented on #3701
Thanks for the bug report @zhaogaiwen, and sorry for the delay in answering. It looks like your issue is related to the KafkaSource. I recommend you create the same issue in https://github.com/knative/eventing-contrib instead. This repo (https://github.com/knative/eventing) doesn't contain any of the Kafka-specific components.

Include this line in the issue body to direct it to the KafkaSource ma

[2020-08-06 18:54] grantr commented on #3633
Seems like a KafkaChannel-specific error, or possibly a Subscription controller error. The Broker seems to be operating correctly but something in the KafkaChannel controller or the Subscription controller is not working properly.

[2020-08-06 20:21] bryeung commented on #2221
Thanks for getting this started! Overall I like the progression of diagrams, but I think that things could be further clarified. I've left comments in the doc.

[2020-08-06 20:25] nlopezgi commented on #3584
The migration for channel and subscription might be blocked on a possible issue I have identified in #3789. Copying (with modifications) the comment I have there and bringing it here for better visibility:

 I think there is some missing bits in the type migration from v1beta1 -> v1. Need confirmation from someone with more experience before I can proceed to make changes to the types.

Currently,

[2020-08-06 20:44] aslom commented on #3701
WHat is the message you are sending - is it valid CloudEvents JSON?

[2020-08-06 21:28] n3wscott commented on #3584
I think you will want to add the `v1` shape to `ChannelableCombined` to make progress.

If there are missing fields we need to know asap, it will cause a huge storage headache for us in the next release with v1 going out. There should be round trip tests to catch this. v1 -> v1beta1 -> v1 should be lossless.

[2020-08-07 12:09] knative-test-reporter-robot opened #3797 "[flaky] test/conformance.TestBrokerV1Beta1ControlPlane/Channel-messaging.knative.dev/v1beta1/Ready_Trigger_V1Beta1_(no_Broker)_set_Broker_and_includes_status.subscriber_Uri"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerV1Beta1ControlPlane/Channel-messaging.knative.dev/v1beta1/Ready_Trigger_V1Beta1_(no_Broker)_set_Broker_and_includes_status.subscriber_Uri
* **Repository name**: eventing

[2020-08-07 12:09] #3781 closed

[2020-08-07 12:10] knative-test-reporter-robot opened #3798 "[flaky] test/conformance.TestChannelStatusSubscriber/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatusSubscriber/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-08-07 12:10] knative-test-reporter-robot opened #3799 "[flaky] test/conformance.TestBrokerV1Beta1ControlPlane/Channel-messaging.knative.dev/v1/Ready_Trigger_V1Beta1_(no_Broker)_set_Broker_and_includes_status.subscriber_Uri"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerV1Beta1ControlPlane/Channel-messaging.knative.dev/v1/Ready_Trigger_V1Beta1_(no_Broker)_set_Broker_and_includes_status.subscriber_Uri
* **Repository name**: eventing

[2020-08-07 12:10] knative-test-reporter-robot opened #3800 "[flaky] test/conformance.TestChannelStatusSubscriber/Channel_has_required_status_subscriber_fields#02"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatusSubscriber/Channel_has_required_status_subscriber_fields#02
* **Repository name**: eventing

[2020-08-07 13:48] nlopezgi commented on #3584
Thanks for confirming. I'll prepare a PR to add the `v1` shape to `ChannelableCombined`

[2020-08-07 17:13] nlopezgi opened #3802 "Add missing bits to ChannelableCombined and SubscribableTypes for v1 migration"
**Problem**

The type migration from v1beta1 -> v1 (https://github.com/knative/eventing/issues/3336) is missing some bits:

* The [ChannelableCombined](https://github.com/knative/eventing/blob/master/pkg/apis/duck/v1alpha1/channelable_combined_types.go#L39) is a type that represents `a skeleton type wrapping Subscribable and Addressable of both v1alpha1 and v1beta1 duck types`. This type also need

[2020-08-07 17:13] nlopezgi commented on #3802
/assign

[2020-08-07 17:14] nlopezgi commented on #3584
Created https://github.com/knative/eventing/issues/3802 to track fixing this issue.

[2020-08-07 18:13] aslom commented on #3777
Initial draft of Requirements Gathering for
Knative Enhanced Testing Task Force: https://docs.google.com/document/d/1zuGSMLXGJlsjyZIpuNZXhMbbCtE2yFe8dxbQ03FZrS0/edit?usp=sharing

[2020-08-07 20:01] aslom commented on #2221
@bryeung thank you for your comments they were very useful. Please take a look again - I tried to address the issues you identified and made lot of changes in the conceptual part. The implementation is work-in-progress.

[2020-08-07 21:34] bryeung commented on #2221
Thanks for making those improvements!

[2020-08-08 10:11] xinydev opened #3804 "Eventing webhook Conversion failed"
**Describe the bug**

follow the steps in [Sequence wired to event-display](https://knative.dev/docs/eventing/samples/sequence/sequence-reply-to-event-display/)
so many conversion errors in eventing webhook controllers,

[code]

 **Expected behavior**

no errors in eventing-webhook

 **To Reproduce**
Steps to reproduce the behavior.
Versions:
* kubernetes: 1.16.13-gke.1
* knative-serving v0.16.0
*

[2020-08-08 10:37] xinydev opened #3805 "collect logs for eventing controllers by fluentd"
**Problem**

When I finished Installing logging, metrics, and traces by [docs](https://knative.dev/docs/serving/installing-logging-metrics-traces/), I can not find logs for eventing releated components such as eventing-controller,imc-controller in ElasticSearch,because there is no rules in fluentd [config](https://github.com/knative/serving/blob/master/config/monitoring/logging/elasticsearch/100-f

[2020-08-10 06:57] slinkydeveloper commented on #3701
@zhaogaiwen Can you open this issue in https://github.com/knative/eventing-contrib?

[2020-08-10 08:38] matzew opened #3806 "Creating of a SinkBinding the webhook touches all deployments on the cluster"
By default we have the `SINK_BINDING_SELECTION_MODE` set to `exclusion`, see here:

https://github.com/knative/eventing/blob/master/config/core/deployments/webhook.yaml#L76-L84

However this means that after you create a SinkBinding the Knative eventing webhook goes and touches all deployments, on the cluster, in all namespaces.

For instance:

[code]

or

[code]

[2020-08-10 08:39] matzew commented on #3806
Not sure this is really a bug, but I think this behavior is one of those"I installed Knative Eventing and broke my whole cluster" kind of scenarios waiting to happen

[2020-08-10 08:43] matzew commented on #3806
/cc @grantr
/cc @lionelvillard
/cc @vaikas

[2020-08-10 12:10] knative-test-reporter-robot opened #3808 "[flaky] test/conformance.TestBrokerTracing"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerTracing
* **Repository name**: eventing

[2020-08-10 12:10] knative-test-reporter-robot opened #3809 "[flaky] test/conformance.TestChannelStatusSubscriber/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatusSubscriber/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-08-10 12:10] knative-test-reporter-robot opened #3810 "[flaky] test/conformance.TestChannelStatusSubscriber/Channel_has_required_status_subscriber_fields"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatusSubscriber/Channel_has_required_status_subscriber_fields
* **Repository name**: eventing

[2020-08-10 12:10] knative-test-reporter-robot opened #3811 "[flaky] test/conformance.TestChannelStatusSubscriber/Channel_has_required_status_subscriber_fields#03"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatusSubscriber/Channel_has_required_status_subscriber_fields#03
* **Repository name**: eventing

[2020-08-10 12:10] knative-test-reporter-robot opened #3812 "[flaky] test/conformance.TestBrokerTracing/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerTracing/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-08-10 14:10] cpate3 commented on #3775
thanks @n3wscott @grantr. yes the doc seems straight forward. As a part of deployment, i have small bash code to take care those dependencies but there is question about why do I still see READY and URL has no value in default broker. Is there anything miss in ConfigMap or there is some compatibility issue or its bug.

`#!/bin/bash
export KNATIVE_VERSION="0.16.0"
export ISTIO_VERSION="1.6.7"

set

[2020-08-10 14:24] nlopezgi commented on #3541
/unassign
I'm not likely going to have the cycles to work on this issue anytime soon, unassigning myself.

[2020-08-10 14:59] n3wscott commented on #3806
Is it really doing a status update? What is it changing? If it is, then there is a bug somewhere and we need to switch it to the observer mode.

[2020-08-10 15:20] anishj0shi commented on #3806
I could share some pain in this area 😉  , its not just  the deployment resource but other the v1 resources like Jobs, Daemonsets, statefulsets as well.. We’ve seen some crazy errors in our resources like daemonsets and jobs present in namespaces created purely for operational purpose and the sinkbinding webhook was being raising conflicts (because it was unreachable sometimes) and responded with e

[2020-08-10 15:36] aslom commented on #3541
I will take a look on it as it is related to contributor diagrams i am working on
/assign

[2020-08-10 19:43] lionelvillard commented on #3806
I would expect only the SinkBinding subject(s) to be updated. Sounds like a bug to me.

[2020-08-11 07:14] #3802 closed

[2020-08-11 09:41] skonto commented on #3623
I can do that could you assign me to it.

[2020-08-11 09:45] pierDipi commented on #3623
@skonto You can comment with `"/assign"`

[2020-08-11 12:21] matzew commented on #3712
/close

[2020-08-11 12:21] #3712 closed

[2020-08-11 12:40] lionelvillard commented on #3621
We are not going to do this for the reference Knative eventing distribution.

[2020-08-11 12:40] #3621 closed

[2020-08-11 12:46] lionelvillard commented on #2609
@Harwayne Any progress on this front? What about adding the missing fields by hand until the auto-generator is ready to be used?

[2020-08-11 12:49] lionelvillard commented on #3623
/assign @skonto

[2020-08-11 20:51] aslom opened #3819 "Define desired expressivity of Knative Eventing Trigger Filtering"
**Problem**
Current trigger filtering expression are limited.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Everybody?

**Exit Criteria**
Define level of expressivity and required performance/scaling levels.

**Time Estimate (optional):**
1w

**Additional context (optional)**
This is ongoing discussion and currently there is no one place that define what filteri

[2020-08-11 20:55] aslom commented on #3819
I have created google doc where I tried to list existing efforts for improving filtering expressions with links to related issues and docs: https://docs.google.com/document/d/1bgM3xUQG722aZh_F6uGatYaLWXMU0s43xteQmcSYjHA/edit#

[2020-08-12 07:56] pierDipi commented on #3732
This is fixed.

/close

[2020-08-12 07:56] #3732 closed

[2020-08-12 12:07] knative-test-reporter-robot opened #3823 "[flaky] 1.68% tests failed in repo eventing on 2020-08-12 08:52:44 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.68% tests failed in repo eventing on 2020-08-12 08:52:44 +0000 UTC
* **Repository name**: eventing

[2020-08-12 13:09] skonto commented on #3623
updated list:
[code]

[2020-08-12 16:26] nlopezgi commented on #3054
/assign

I'm going to take a stab at helping with this one

[2020-08-12 17:38] lionelvillard commented on #1976
@matzew any update on this one?

[2020-08-12 17:47] cardil opened #3825 "Tracking of events"
**Problem**
Users would likely require to trace events being propagated with Knative Eventing. That might be the case for highly regulated industries like finance, healthcare etc., or while development & testing to find missing events and other errors. Having this feature already would also help us to fix issues like #2357

Knative Eventing should support some industry standard like https://opentr

[2020-08-13 12:07] #3812 closed

[2020-08-13 12:07] knative-test-reporter-robot opened #3826 "[flaky] .Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Test
* **Repository name**: eventing

[2020-08-13 12:07] knative-test-reporter-robot opened #3827 "[flaky] test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-08-13 12:07] #3764 closed

[2020-08-13 12:07] #3808 closed

[2020-08-13 12:07] #3376 closed

[2020-08-13 12:07] #3797 closed

[2020-08-13 14:28] aslom commented on #3777
The next task for "Requirements gathering" is "Comparison of frameworks and approaches" - it seems to me they can be done in parallel and what we learn from comparisons may affect requirements @devguyio

[2020-08-13 23:45] #3642 closed

[2020-08-14 12:06] knative-test-reporter-robot opened #3838 "[flaky] test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1Beta1/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1Beta1/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-08-14 12:06] knative-test-reporter-robot opened #3839 "[flaky] test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1Beta1/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1Beta1/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-08-14 12:06] knative-test-reporter-robot opened #3840 "[flaky] test/e2e.TestChannelBasedBrokerWithManyTriggers/InMemoryChannel-messaging.knative.dev/v1/test_default_broker_with_many_attribute_triggers_using_v1beta1_trigger"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelBasedBrokerWithManyTriggers/InMemoryChannel-messaging.knative.dev/v1/test_default_broker_with_many_attribute_triggers_using_v1beta1_trigger
* **Repository name**: eventing

[2020-08-14 12:06] knative-test-reporter-robot opened #3841 "[flaky] test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1Beta1/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1Beta1/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-08-14 12:06] knative-test-reporter-robot opened #3842 "[flaky] test/e2e.TestBrokerChannelFlowV1Beta1BrokerV1/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowV1Beta1BrokerV1/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-08-14 12:07] knative-test-reporter-robot opened #3843 "[flaky] test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1Beta1/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1Beta1/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-08-14 12:07] #3640 closed

[2020-08-14 19:24] nlopezgi commented on #3054
@aavarghese will be taking care of Sequence and Parallel (as reported to me by @lionelvillard).
I'm working on Trigger, Sinkbinding (both almost ready to merge) and Subscription (tests are failing, I'm debugging).

Still up for grabs are: channel, containerresource, and eventtype.

I'll probably pick one of these 3 to continue work on Monday, if anyone else wants to help please ping here noting wh

[2020-08-14 19:55] aavarghese commented on #3054
Running the generator (https://github.com/Harwayne/knative-gcp/tree/reflective-schema/hack/schema) for Sequence and Parallel is throwing a panic.

`panic: can't handle kind runtime.Object`

[code]

[2020-08-14 20:04] nlopezgi commented on #3054
I had

iirc, I had the same error happen for channel. Lets get the easy ones out of the way and then deal later with whatever type this generator dislikes.
cc @Harwayne would you happen to know what this error means and which type it's related to?

[2020-08-15 12:05] #3827 closed

[2020-08-15 12:05] knative-test-reporter-robot opened #3852 "[flaky] test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_attribute_and_extension_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_attribute_and_extension_triggers
* **Repository name**: eventing

[2020-08-15 12:05] knative-test-reporter-robot opened #3853 "[flaky] test/e2e.TestBrokerChannelFlowV1Beta1BrokerV1/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowV1Beta1BrokerV1/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-08-16 12:07] #3843 closed

[2020-08-16 12:07] #3838 closed

[2020-08-16 12:07] #3841 closed

[2020-08-16 12:07] #3725 closed

[2020-08-16 12:07] #3799 closed

[2020-08-16 12:08] #3840 closed

[2020-08-16 12:08] #3839 closed

[2020-08-17 08:12] pierDipi opened #3854 "Unable to update Broker - status.address.url required value"
**Describe the bug**

When the reconciliation of a Broker fails for any reason, the `status.address.url` isn't set, the status update is rejected and so the Broker status remains empty with no reasons in it.

https://github.com/knative/eventing/blob/e8307cbbcecbf464a87f3a99f1f393b7a3ebf0f9/config/core/resources/broker.yaml#L127-L135

 **Expected behavior**

The update is accepted.

 **To Reproduce

[2020-08-17 12:06] knative-test-reporter-robot opened #3856 "[flaky] test/e2e.TestSingleStructuredEventForChannelV1/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleStructuredEventForChannelV1/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-08-17 13:17] #3854 closed

[2020-08-17 13:56] aavarghese commented on #3054
@nlopezgi I'm working on containersource next

[2020-08-17 15:16] nlopezgi commented on #3054
@aavarghese thanks for letting me know. I'm working on eventtype next.

[2020-08-17 18:32] nlopezgi commented on #3054
I think we only have left the ones for which the generator is problematic:
- Parallel, sequence, channel
I'll follow up with Adam to see if he has ideas and try to find the culprit type that causes the problem. Will report once I have more info.

[2020-08-17 18:50] #3588 closed

[2020-08-17 19:25] michelle192837 opened #3858 "Tide merge requirements don't match GitHub"
Got an error in Knative's Prow with merging a PR on this repo. Full error here:

[code]

May be worth double-checking the repo settings in GitHub!

[2020-08-17 20:09] grantr commented on #3633
@slinkydeveloper Can you move this issue to eventing-contrib (or whatever repo Kafka Channel lives in these days)?

@vaikas you might try reproing this with IMC to check if it's a subscription controller issue.

[2020-08-17 20:13] grantr commented on #3662
The tests developed here can be used as a model for the other source upgrade tests. Then those can be GFIs.

[2020-08-17 20:20] grantr commented on #3674
Blocked until 0.17 release.

[2020-08-17 20:22] grantr commented on #3681
Blocked by https://github.com/knative/pkg/issues/1509.

[2020-08-17 20:31] grantr commented on #3716
Is this a documentation issue? Or are there places in the code that need to be fixed?

[2020-08-17 20:34] grantr commented on #3766
Fixed by #3767

[2020-08-17 20:34] #3766 closed

[2020-08-17 20:38] grantr commented on #3775
@cpate3 could you paste the broker yaml here so we can see the error message? Run this command: `kubectl get broker default -oyaml`

[2020-08-17 20:45] grantr commented on #3785
Decided against adding this for v1beta1. @arzarif how important is this feature for you?

[2020-08-17 20:51] grantr commented on #3792
@n3wscott you're community contact this week :grin:

[2020-08-17 20:53] grantr commented on #3796
ping @matzew for logs :)

[2020-08-17 20:56] grantr commented on #3804
@xinydev Is the only issue the error in the logs, or are you seeing other problems?

This is probably an issue with the webhook and CRDs with v1alpha1 as `served: false` and `storage: false`. It will be fixed in the 0.17 release tomorrow.

[2020-08-17 21:06] grantr commented on #3805
Thanks for the feature request @xinydev! It makes sense for the fluentd config to collect logs from eventing components as well as serving components. It's a bit tricky that the configmap lives in serving. I'm asking around to figure out the right approach.

[2020-08-18 02:10] xinydev commented on #3805
Thanks! and I wrote some fluentd config rules in this issue, https://github.com/knative/serving/issues/9071 . It is a bit tricky and I hope there is  a less tricky approach.

[2020-08-18 02:15] xinydev commented on #3804
@lionelvillard  It seems that you have some problems in editing PingSource? and removing v1alpha1 in the CRD fixes it?

[2020-08-18 12:06] #3489 closed

[2020-08-18 12:06] #3792 closed

[2020-08-18 12:52] lionelvillard commented on #3804
@xinydev yes. Do you see other problems aside from the error in the webhook log? Can the errors be ignored?

[2020-08-18 13:00] xinydev commented on #3804
I only see these conversion errors in webhook log. In my case, the errors can be ignored, controllers and CRDs work well.

[2020-08-18 15:05] n3wscott commented on #3858
/cc @chaodaiG

Please help route this Chao, I do not think I have access to the prow logs.

[2020-08-18 15:06] n3wscott commented on #508
This is now solved with custom implementations of a broker, take the kafka broker or pubsub broker as an example.

/close

[2020-08-18 15:06] #508 closed

[2020-08-18 15:07] n3wscott commented on #527
/close

This should now work and we have a few tests to confirm added by @Harwayne . @slinkydeveloper has also done some revaps in this area. This should be good to go.

[2020-08-18 15:08] #527 closed

[2020-08-18 15:11] chaodaiG commented on #3858
@n3wscott , I think it has something to do with the repo settings, let's hop on a call if you're available. I'll ping you on Slack

[2020-08-18 15:13] n3wscott opened #3861 "Increase code coverage for apis/flows/v1/parallel_validation.go"
Increase code coverage for knative.dev/eventing/pkg/apis/flows/v1/parallel_validation.go

## Expected Behavior
Stated goal for the V0.2 release is >70% test coverage.

## Actual Behavior
Some packages do not meet this goal. See https://testgrid.knative.dev/eventing#coverage&sort-by-failures=

Expands on https://github.com/knative/eventing/issues/591

/good-first-issue

[2020-08-18 15:14] n3wscott opened #3862 "Increase code coverage for flows/v1/sequence_validation.go"
Increase code coverage for knative.dev/eventing/pkg/apis/flows/v1/sequence_validation.go

## Expected Behavior
Stated goal for the V0.2 release is >70% test coverage.

## Actual Behavior
Some packages do not meet this goal. See https://testgrid.knative.dev/eventing#coverage&sort-by-failures=

Expands on https://github.com/knative/eventing/issues/591

/good-first-issue

[2020-08-18 15:15] n3wscott opened #3863 "Increase code coverage for flows/v1beta1/parallel_validation.go"
Increase code coverage for knative.dev/eventing/pkg/apis/flows/v1beta1/parallel_validation.go

## Expected Behavior
Stated goal for the V0.2 release is >70% test coverage.

## Actual Behavior
Some packages do not meet this goal. See https://testgrid.knative.dev/eventing#coverage&sort-by-failures=

Expands on https://github.com/knative/eventing/issues/591

/good-first-issue

[2020-08-18 15:15] #3863 closed

[2020-08-18 15:16] n3wscott opened #3864 "Increase code coverage for reconciler/apiserversource/resources/labels.go"
Increase code coverage for knative.dev/eventing/pkg/reconciler/apiserversource/resources/labels.go

## Expected Behavior
Stated goal for the V0.2 release is >70% test coverage.

## Actual Behavior
Some packages do not meet this goal. See https://testgrid.knative.dev/eventing#coverage&sort-by-failures=

Expands on https://github.com/knative/eventing/issues/591

/good-first-issue

[2020-08-18 15:17] n3wscott opened #3865 "Increase code coverage for reconciler/sugar"
Increase code coverage for knative.dev/eventing/pkg/reconciler/sugar

## Expected Behavior
Stated goal for the V0.2 release is >70% test coverage.

## Actual Behavior
Some packages do not meet this goal. See https://testgrid.knative.dev/eventing#coverage&sort-by-failures=

Expands on https://github.com/knative/eventing/issues/591

/good-first-issue

[2020-08-18 15:18] n3wscott opened #3866 "Increase code coverage for knative.dev/eventing/pkg/tracing"
Increase code coverage for knative.dev/eventing/pkg/tracing

## Expected Behavior
Stated goal for the V0.2 release is >70% test coverage.

## Actual Behavior
Some packages do not meet this goal. See https://testgrid.knative.dev/eventing#coverage&sort-by-failures=

Expands on https://github.com/knative/eventing/issues/591

/good-first-issue

[2020-08-18 15:18] n3wscott opened #3867 "Increase code coverage for knative.dev/eventing/pkg/utils"
Increase code coverage for knative.dev/eventing/pkg/utils

## Expected Behavior
Stated goal for the V0.2 release is >70% test coverage.

## Actual Behavior
Some packages do not meet this goal. See https://testgrid.knative.dev/eventing#coverage&sort-by-failures=

Expands on https://github.com/knative/eventing/issues/591

/good-first-issue

[2020-08-18 15:19] n3wscott opened #3868 "Increase code coverage for pkg/reconciler/source/crd"
Increase code coverage for knative.dev/eventing/pkg/reconciler/source/crd

## Expected Behavior
Stated goal for the V0.2 release is >70% test coverage.

## Actual Behavior
Some packages do not meet this goal. See https://testgrid.knative.dev/eventing#coverage&sort-by-failures=

Expands on https://github.com/knative/eventing/issues/591

/good-first-issue

[2020-08-18 15:19] n3wscott commented on #591
the project is now overall at 81% with a few low spots, we can open issues to track those individually.
/close

[2020-08-18 15:19] #591 closed

[2020-08-18 15:21] n3wscott commented on #896
This issue is not actionable by most that visit it, we need specific examples of offenders.

[2020-08-18 15:22] n3wscott commented on #923
/close
stale, we have changed this several times since the issue was reported.

[2020-08-18 15:22] #923 closed

[2020-08-18 15:23] n3wscott commented on #930
@slinkydeveloper is also trying to fix this.

[2020-08-18 15:24] n3wscott commented on #1039
sounds like a pipeline.
/close

[2020-08-18 15:24] #1039 closed

[2020-08-18 16:09] n3wscott commented on #816
This might be what the Discovery API is also trying to help with.

[2020-08-18 16:13] n3wscott commented on #1555
/close
We added conformance tests and additional implementations of Broker, the broker inside of knative eventing is MT and should be used as a reference, but likely there are more robust and production ready brokers available to install.

[2020-08-18 16:13] #1555 closed

[2020-08-18 16:20] n3wscott commented on #1678
We should make sure there is a conformance test for this too.

[2020-08-18 16:20] n3wscott commented on #1688
strict is now on by default, so this is done.
/close

[2020-08-18 16:20] #1688 closed

[2020-08-18 16:21] n3wscott commented on #1733
Tracked in the ko repo, closing from knative.
/close

[2020-08-18 16:21] #1733 closed

[2020-08-18 16:30] #1564 closed

[2020-08-18 16:31] n3wscott commented on #1597
/close
it has been a year and this has been ok. No official work from GitHub. Reopen if GitHub wants to give control of the GitHub CloudEvents namespace to Knative.

[2020-08-18 16:31] #1597 closed

[2020-08-18 16:40] n3wscott commented on #1310
This is possible with a subscription subscriber, we have not had a lot of demand for more channel based filters, the focus has been on broker/trigger:
https://github.com/knative/eventing/issues/3359
https://github.com/knative/eventing/issues/930

Please reopen if this is still something that is wanted. I think we can get what this is asking for with the linked issues.

/close

[2020-08-18 16:40] #1310 closed

[2020-08-18 16:42] n3wscott commented on #1527
Would built in functions or a language be better? See https://github.com/knative/eventing/issues/930

[2020-08-18 16:43] n3wscott commented on #1833
This is one of the goals of the knative-sandbox/integration repo.

[2020-08-18 16:45] n3wscott commented on #1955
/close

this points to stale code.

[2020-08-18 16:45] #1955 closed

[2020-08-18 16:46] n3wscott commented on #1515
We can enable this if we use the new ClusterDuckType and leverage that new api in eventing!
/area sources

[2020-08-18 16:47] n3wscott commented on #1940
YEAH!!!  WOOO with the Manual CRD via Discovery API.

[2020-08-18 16:49] n3wscott commented on #1783
/close

stale

[2020-08-18 16:49] #1783 closed

[2020-08-18 16:50] n3wscott commented on #2002
Still an issue @lionelvillard ? can we close?

[2020-08-18 16:53] n3wscott commented on #1764
Ping on this @Harwayne

Still a thing?

[2020-08-18 16:54] n3wscott commented on #2111
/close

We do now.

[2020-08-18 16:54] #2111 closed

[2020-08-18 16:56] n3wscott commented on #2083
/close
We have moved on to optional installable broker implementations. No config needed, install the Knative Serving based broker, if it existed.

[2020-08-18 16:56] #2083 closed

[2020-08-18 17:21] lionelvillard commented on #2002
we did this.

[2020-08-18 17:21] #2002 closed

[2020-08-18 17:29] akashrv commented on #816
@nachocano

[2020-08-18 17:35] n3wscott commented on #3825
We already support open tracing, is there more that is needed?

[2020-08-18 17:48] n3wscott commented on #3858
False alarm it sounds like.

Please reopen if another error is seen.
/close

[2020-08-18 17:48] #3858 closed

[2020-08-18 19:02] cardil commented on #3825
Cool. I didn't know that. But, if that's true we should be able to use that to track where we are loosing events, or receiving doubles, in upgrade test. I looked at recent executions, and we still have many errors with this one.

Is current implementation able to pinpoint this invalid behavior? If not, then maybe we should improve it until it can.

[2020-08-18 19:48] vaikas commented on #3633
Ok, so I've been playing with this from the head with the following set up:

Broker:
[code]

PingSource:
[code]

And two functions:
[code]

and:
[code]

And by creating an initial trigger like this:
[code]

Then I've done things like:
* delete / recreate the trigger, the right things happen
* edit the trigger by modifying the filter (bumps the generation of the trigger, but does not really change

[2020-08-18 20:46] vaikas commented on #3804
@xinydev Thanks for the update. As mentioned this should be fixed in the release cut today.

[2020-08-18 21:45] lberk commented on #2705
/close
this was fixed earlier via #3531

[2020-08-18 21:45] #2705 closed

[2020-08-19 07:31] matzew opened #3873 "Eventing.yaml missing for 0.17"
**Describe the bug**

While the script still has it:
https://github.com/knative/eventing/blob/master/hack/release.sh#L33

we do not have a release asset `eventing.yaml` for our 0.17 release, see:

https://github.com/knative/eventing/releases

 **Expected behavior**

a convenient `eventing.yaml` file is there for download

[2020-08-19 09:38] xinydev commented on #3804
Fixed! Thank you guys

[2020-08-19 09:38] #3804 closed

[2020-08-19 09:41] matzew opened #3874 "DeprecatedInjectionAnnotation should be removed"
**Problem**

We should remove the

[code]

It's deprecated since 0.16 and 0.17

[2020-08-19 09:42] matzew commented on #3874
@n3wscott not sure if this should have been removed before 0.17 did cut?  just wondering ..

[2020-08-19 12:07] knative-test-reporter-robot opened #3875 "[flaky] test/e2e.TestBrokerRedelivery"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerRedelivery
* **Repository name**: eventing

[2020-08-19 12:07] #3856 closed

[2020-08-19 12:07] knative-test-reporter-robot opened #3876 "[flaky] test/e2e.TestBrokerRedelivery/InMemoryChannel-messaging.knative.dev/v1/fibonacci"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerRedelivery/InMemoryChannel-messaging.knative.dev/v1/fibonacci
* **Repository name**: eventing

[2020-08-19 12:07] knative-test-reporter-robot opened #3877 "[flaky] .Up"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Up
* **Repository name**: eventing

[2020-08-19 12:07] #3499 closed

[2020-08-19 12:07] #3852 closed

[2020-08-19 12:07] knative-test-reporter-robot opened #3878 "[flaky] test/e2e.TestBrokerRedelivery/InMemoryChannel-messaging.knative.dev/v1/sequence"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerRedelivery/InMemoryChannel-messaging.knative.dev/v1/sequence
* **Repository name**: eventing

[2020-08-19 13:19] n3wscott commented on #3874
Yeah it is time. It needs to be removed from the code and scrubbed from the docs. For 0.18 is fine.

[2020-08-19 13:52] lionelvillard commented on #3873
@Harwayne

[2020-08-19 14:48] pierDipi commented on #3873
The upgrade test is failing because of the missing file.

[2020-08-19 14:54] matzew commented on #3874
I can follow up on this

/assign matzew

[2020-08-19 15:53] n3wscott commented on #3825
cc @Harwayne did a lot of this work for eventing originally.

[2020-08-19 15:53] matzew commented on #3874
doc pr: https://github.com/knative/docs/pull/2761

[2020-08-19 16:08] cardil commented on #3825
@Harwayne pointed my to https://knative.dev/docs/eventing/accessing-traces It looks like what I wanted. I'll try using it and try to find those invalid events in upgrade tests.

I'll post my findings here. If it's okay then I think the issue is to be closed. If I find something off with it, then I'll update this issue to point to that.

[2020-08-19 16:46] grantr opened #3881 "Verify that no channels use v1alpha1 Channelable"
To remove v1alpha1 Channelable we need to verify that no channels are using it.

List of channels off the top of my head:
- IMC
- Kafka
- NATSS (still using v1alpha1, https://github.com/knative/eventing-contrib/issues/1485)
- PubSub (in https://github.com/google/knative-gcp)

[2020-08-19 16:53] MPeyrard86 commented on #3633
Thanks for looking into it! Yeah, I'll give it a try with IMC. And yes, I think it's probably a KafkaChannel issue. We've been seeing some stability issues with the Kafka Channel. Since logging the bug, we've also seen this issue coincide with the ``kafka-ch-dispatcher`` going into a crash loop. But not always. I'll get back to you when I've done some tests with the IMC.

[2020-08-19 18:23] Harwayne commented on #3873
This is the [prow job](https://prow.knative.dev/view/gs/knative-prow/logs/ci-knative-eventing-auto-release/1295795769571282945) that created the release.

I can see that it created the YAML file:
[code]
And then inspected it:
[code]

It appears to have attempted to upload `eventing.yaml`:
[code]

[2020-08-19 18:30] Harwayne commented on #3873
It looks like `eventing-post-install-jobs.yaml` has a problem uploading. That causes publishing to stop uploading, so it never reaches the files that are later in the command, namely `eventing.yaml`.

[code]

Oddly enough, we seem to generate the same YAML for both 0.16 and 0.17 post-release jobs.

Trying to figure out:
1. Why we are still generating post-release jobs for 0.16 in the 0.17 release.

[2020-08-19 18:47] vaikas commented on #3633
superduper, thanks much and sorry for the troubles :(

[2020-08-19 18:56] nachocano commented on #3674
/assign @nlopezgi

[2020-08-19 18:57] nachocano commented on #3630
/assign @nlopezgi

[2020-08-19 18:57] nachocano commented on #3615
/assign @nlopezgi

[2020-08-19 19:03] Harwayne commented on #3873
I don't think `eventing-post-install-jobs.yaml` was empty because it should have passed through the line:

[code]

And we don't see the error line.

[2020-08-19 19:05] Harwayne commented on #3873
Questions from above:
1. Why we are still generating post-release jobs for 0.16 in the 0.17 release.
This was an oversight. It is being removed.
1. Why the YAML does not upload correctly.
Still investigating.
1. Why does the system continue to tag a release when uploading its assets partially fail.
https://github.com/knative/test-infra/issues/2374

[2020-08-19 19:09] lionelvillard opened #3883 "Make dynamically created resources configurable"
**Problem**
Most of the resources created dynamically are not configurable. For instance see how the [PingSource receive adapter](https://github.com/knative/eventing/blob/master/pkg/reconciler/pingsource/resources/mt_receive_adapter.go#L49) is created.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
Operator

**Exit Criteria**
A

[2020-08-19 19:14] cr22rc commented on #3883
/lgtm

[2020-08-19 19:16] vaikas commented on #3804
Awesome! Thanks @xinydev for following up 👍

[2020-08-19 19:19] Harwayne commented on #3873
I think this is caused by having the same file being uploaded twice. The first upload succeeds. The second fails with `Exception in UIThread: 'file://eventing-post-install-jobs.yaml'`. We can see that it is in the list of files to upload twice based on the log line:

[code]

So removing the old post-install job should allow `eventing.yaml` to be added to the release correctly.

[2020-08-19 20:06] lionelvillard opened #3886 "Make PingSource v1beta1 the stored version and add a migration tool"
Problem
In 0.17, we promoted PingSource to v1beta1.
This is to track that we should make v1beta1 the storage version for 0.18, and we should add a migration tool for it.
Similar to: https://github.com/knative/eventing/blob/master/config/pre-install/v0.16.0/storage-version-migration.yaml

Persona:
Which persona is this feature for?
Developer

Exit Criteria
PingSource in v1beta1 and able to migrate

[2020-08-19 20:08] lionelvillard commented on #3886
@cr22rc @aavarghese FYI.

[2020-08-19 21:03] Harwayne commented on #896
This issue was more of a 'someone should check our existing status messages', #895 had concrete examples.

In any case, this is hilariously out of date.

/close

[2020-08-19 21:03] #896 closed

[2020-08-19 22:19] vaikas commented on #3826
Just jotting this down while I dig deeper, but it appears like some things are crashing because of possibly metrics reporter crashing or not being set up properly, or flat out missing:

[code]

Continuing to debug...

[2020-08-19 22:26] vaikas commented on #3826
this also seems sus:

[code]

[2020-08-20 08:03] pierDipi commented on #3873
`eventing.yaml` released https://github.com/knative/eventing/releases/tag/v0.17.1
/close

[2020-08-20 08:03] #3873 closed

[2020-08-20 09:16] #3667 closed

[2020-08-20 09:23] pierDipi opened #3888 "Outdated docs in docs/broker"
**Describe the bug**
The `ChannelBasedBroker` has been deleted.

 **Expected behavior**

Documentation reports reality.

 **To Reproduce**

- Read https://github.com/knative/eventing/blob/master/docs/broker/README.md

 **Knative release version**
`0.16 <= devel`

 **Additional context**
Add any other context about the problem here such as proposed priority

- https://github.com/knative/eventing/tr

[2020-08-20 09:35] pierDipi commented on #3888
/assign

[2020-08-20 12:06] knative-test-reporter-robot opened #3891 "[flaky] test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1/min-event_encoding_binary_version_0.3"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1/min-event_encoding_binary_version_0.3
* **Repository name**: eventing

[2020-08-20 12:10] #3888 closed

[2020-08-20 13:16] lionelvillard commented on #3883
From slack:

I wonder why not directly in the CR then. I'm curious whether the motivation was to separate the application's config from the infrastructure requirements.
MongoDB exposes both in [the same CR](https://www.mongodb.com/blog/post/introducing-the-mongodb-enterprise-operator-for-kubernetes), I did that for some larger application controlled by an operator too. It doesn't mean I believe it

[2020-08-20 14:31] chiragkumarp commented on #3775
✗ kubectl get broker default -oyaml
apiVersion: eventing.knative.dev/v1
kind: Broker
metadata:
  annotations:
    eventing.knative.dev/broker.class: MTChannelBasedBroker
    eventing.knative.dev/creator: system:serviceaccount:knative-eventing:eventing-controller
    eventing.knative.dev/lastModifier: system:serviceaccount:knative-eventing:eventing-controller
  creationTimestamp: "2020-08-05T19:24:

[2020-08-20 17:16] vaikas commented on #3826
Last run that failed with this:

https://console.cloud.google.com/storage/browser/_details/knative-prow/logs/ci-knative-eventing-continuous/1296309151302946817/artifacts/knative-eventing-logs/knative-eventing-4rwpxyhod6/mt-broker-ingress-d6b54c768-4h4c2-ingress.log

[code]

[2020-08-20 17:28] vaikas commented on #3826
That's actually a red herring.

[2020-08-20 18:48] vaikas commented on #3791
Another panic. I'm focusing on looking at this:

[code]

[2020-08-20 19:38] vaikas commented on #3791
After fixing the panic. I now see these failures instead of panics. Digging into those next...

[code]

[2020-08-20 19:39] n3wscott commented on #1766
/close

We have broker tracing tests now at `./test/conformance/broker_tracing_test.go`

[2020-08-20 19:39] #1766 closed

[2020-08-20 19:43] n3wscott commented on #1767
similar to https://github.com/knative/eventing/blob/master/test/conformance/broker_tracing_test.go and https://github.com/knative/eventing/blob/master/test/conformance/channel_tracing_test.go.

/good-first-issue

[2020-08-20 19:43] n3wscott commented on #1768
similar to https://github.com/knative/eventing/blob/master/test/conformance/broker_tracing_test.go and https://github.com/knative/eventing/blob/master/test/conformance/channel_tracing_test.go.

/good-first-issue

[2020-08-20 19:43] n3wscott commented on #1769
similar to https://github.com/knative/eventing/blob/master/test/conformance/broker_tracing_test.go and https://github.com/knative/eventing/blob/master/test/conformance/channel_tracing_test.go.

/good-first-issue

[2020-08-20 19:46] n3wscott commented on #1396
also related to https://github.com/knative/eventing/issues/3359

[2020-08-20 19:50] vaikas commented on #3791
My next hunch/guess/whatevs is that we make sure pod is up, but the service is not up yet or endpoints are not there, and hence it's actually not ready. Looking at this next...

[2020-08-20 22:12] devguyio opened #3903 "Evaluate the right solution for implementing and running different tests phases"
### Background
Every test can be represented as a ["Given-When-Then" ](https://martinfowler.com/bliki/GivenWhenThen.html) or as ["Setup-Exercise-Verify-Teardown"](http://xunitpatterns.com/Four%20Phase%20Test.html) but the idea for both is similar. Some even split the "Setup/Teardown" phase into "Test environment setup/teardown", and "Test setup/teardown".

For e2e and conformance tests you can obs

[2020-08-20 22:22] n3wscott commented on #3903
I think this is too linear in thinking or I am not explaining myself well enough.

- We want to be able to run the test with a given cluster, with no setup.
- We want to be able to run the test setup and test with no cluster setup.
- We want to be able to run the cluster setup, the test setup and the test with just a credit card.

There are at least 3 entry points to the testing framework, and the

[2020-08-20 22:41] devguyio commented on #3903
This is exactly what this task is about. Find a generic approach to described different stages, the contract between them, and how run tests with 0, one or more of those stages.

Do you find a gap in the following requirements to satisfy those 3 points? Or maybe the wording is not clear enough?
1. Knative developers need the ability to invoke tests on an existing cluster and within an existing nam

[2020-08-20 22:49] grantr commented on #3874
Was this ever announced as deprecated? I don't see anything in the release notes, but I could be missing it. @matzew @n3wscott can you point to an announcement?

[2020-08-21 06:55] matzew commented on #3874
I do not see the release notes, but the code landed via: https://github.com/knative/eventing/pull/3459

That said, I think the FQN way for labeling is IMO the way to go;

[2020-08-21 06:56] matzew commented on #3874
Proposal:

* I rollback my change
* we have an announcement for deprecation on 0.18
* we remove for 0.19

OR can we announce this for 0.17.2 ?  (given that 0.17.1 was created after 0.17.0 was broken)

[2020-08-21 12:08] knative-test-reporter-robot opened #3904 "[flaky] test/e2e.TestBrokerChannelFlowV1Beta1BrokerV1/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowV1Beta1BrokerV1/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-08-22 12:08] knative-test-reporter-robot opened #3907 "[flaky] test/conformance/helpers/tracing.TestSpanMatcher/kind_matcher"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/helpers/tracing.TestSpanMatcher/kind_matcher
* **Repository name**: eventing

[2020-08-22 12:08] knative-test-reporter-robot opened #3908 "[flaky] test/conformance/helpers/tracing.TestSpanMatcher/empty_matcher"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/helpers/tracing.TestSpanMatcher/empty_matcher
* **Repository name**: eventing

[2020-08-22 12:08] knative-test-reporter-robot opened #3909 "[flaky] test/conformance/helpers/tracing.TestSpanMatcher/tag_matcher"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/helpers/tracing.TestSpanMatcher/tag_matcher
* **Repository name**: eventing

[2020-08-22 12:08] knative-test-reporter-robot opened #3910 "[flaky] test/conformance/helpers/tracing.TestSpanMatcher/local_endpoint_service_name_matcher"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/helpers/tracing.TestSpanMatcher/local_endpoint_service_name_matcher
* **Repository name**: eventing

[2020-08-22 17:31] mattmoor opened #3911 "Ingress points should implement the knative/networking dataplane contract."
**Problem**
I would like to see the HTTP endpoints exposed by `knative/eventing` as Addressables start implementing the `knative/networking` dataplane contract.

**Exit Criteria**
The contract is relatively simple: When a request comes in with:
[code]
Then we respond with `200 OK` and `K-Network-Hash: {string}`

**Time Estimate (optional):**

I'd expect this to take roughly **a few days**, the cha

[2020-08-22 17:42] mattmoor opened #3912 "pkg/health doesn't properly implement K8s lifecycle"
**Describe the bug**
I noticed that eventing has:
   https://github.com/knative/eventing/blob/master/pkg/health/probes.go

This blindly responds to liveness and readiness probes with "200 OK", which is fine for things coming up, but it doesn't properly implement lame ducking, which is critical to avoid dropped requests during scale down or rollouts.

 **Expected behavior**

We have libraries for h

[2020-08-24 07:54] aliok commented on #3868
@ShaileshSurya , sure, please go ahead.

[2020-08-24 12:11] #3907 closed

[2020-08-24 12:11] #3910 closed

[2020-08-24 12:11] #3909 closed

[2020-08-24 12:11] #3908 closed

[2020-08-24 13:37] cr22rc opened #3913 "Pingsource crontick minor enhancements"
**Problem**
Pingsource crontick log source and target for the event.
Pingsouce crontick  set event ID
Pingsource provide small time delay for many events at top of minute.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
All

[2020-08-24 15:48] vaikas commented on #3891
This looks eerily similar to this issue here:

[code]

https://github.com/knative/eventing/issues/3686

[2020-08-24 16:34] nlopezgi commented on #3054
with the current PRs in progress I think we should complete this issue? do you know if there are other resources that we should also be fixing similarly as part of this issue @lionelvillard ?

[2020-08-24 16:38] aavarghese commented on #3054
@nlopezgi I'm curious, what was the issue with the generator that caused the failures for parallel, sequence, channel? How did we get past it?

[2020-08-24 17:39] vaikas commented on #3791
all the failed tests are still connection refused:

[code]

[2020-08-24 17:50] nlopezgi commented on #3054
It's an issue related to handling type Object that is transitively part of a `ChannelTemplateSpec`'s Spec defined here:
https://github.com/knative/eventing/blob/master/vendor/k8s.io/apimachinery/pkg/runtime/types.go#L101
I "fixed" it by bypassing how the Interface type is handled in generate_schema [here](https://github.com/Harwayne/knative-gcp/blob/reflective-schema/hack/schema/pkg/schema/generat

[2020-08-24 19:58] nlopezgi commented on #3630
@n3wscott could you provide an update about https://github.com/knative/eventing/pull/2872/files#r401917238. I'm ready to start working on this issue but it seems something like https://github.com/knative/eventing/pull/3895 will not be sufficient from what in can understand from the comment above? Thanks for any advice!

[2020-08-24 20:15] grantr commented on #3819
Related to #3359 and https://github.com/cloudevents/spec/blob/master/subscriptions-api.md

[2020-08-24 20:16] grantr commented on #3823
Dealing with this in test-specific issues.

[2020-08-24 20:16] #3823 closed

[2020-08-24 20:17] grantr commented on #3825
@cardil I'll close this for now. If you find anything else you need, please reopen.

[2020-08-24 20:17] #3825 closed

[2020-08-24 20:20] grantr commented on #3826
The filter tries to send event to transformer and gets connection refused. This is being handled in https://github.com/knative/eventing/issues/3791.

[2020-08-24 20:27] grantr commented on #3881
@n3wscott my memory is that you offered to work on this (thanks!)

[2020-08-24 20:33] grantr commented on #3883
This should probably have a feature track since it applies generally

[2020-08-24 20:39] grantr commented on #3911
This part is probably not a good first issue, but once that list is in hand, the rest of it is.

[2020-08-25 09:32] matzew commented on #3874
/assign matzew

[2020-08-25 09:32] matzew commented on #3874
@grantr I did a revert: https://github.com/knative/eventing/pull/3919

and added the suggested hint.

For 0.19, I will give this a shot again

[2020-08-25 11:40] aliok commented on #3584
/close

This is done

[2020-08-25 11:41] aliok commented on #3582
/close

This is done

[2020-08-25 11:41] #3582 closed

[2020-08-25 12:11] knative-test-reporter-robot opened #3920 "[flaky] test/e2e.TestBrokerChannelFlowTriggerV1Beta1BrokerV1Beta1/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowTriggerV1Beta1BrokerV1Beta1/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-08-25 12:11] knative-test-reporter-robot opened #3921 "[flaky] test/e2e.TestBrokerChannelFlowTriggerV1Beta1BrokerV1Beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowTriggerV1Beta1BrokerV1Beta1
* **Repository name**: eventing

[2020-08-25 12:11] knative-test-reporter-robot opened #3922 "[flaky] test/e2e.TestBrokerChannelFlowTriggerV1Beta1BrokerV1Beta1/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowTriggerV1Beta1BrokerV1Beta1/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-08-25 13:10] aliok commented on #3035
Some chat about this issue: https://knative.slack.com/archives/C9JP909F0/p1598343887067500

[2020-08-25 13:27] aliok commented on #3583
/assign

[2020-08-25 13:51] aliok commented on #3581
/assign

[2020-08-25 13:51] aliok commented on #3579
/assign

[2020-08-25 14:15] nlopezgi commented on #3615
i think this can be closed now that #3895 is in

[2020-08-25 14:59] nlopezgi commented on #3615
/close

[2020-08-25 15:01] #3579 closed

[2020-08-25 15:03] aliok commented on #3411
/close

These are all done, except removing the v1beta1 resources.
I think we will do the removal in a batch, no need to keep this ticket open.

[2020-08-25 15:03] #3411 closed

[2020-08-25 15:06] nlopezgi commented on #3584
I think Subscription is still missing: https://github.com/knative/eventing/tree/master/pkg/reconciler/subscription. I can probably work on it if no one else is currently working on it

[2020-08-25 15:08] aliok commented on #3584
@nlopezgi

oh sorry, I thought that was done too.

Please take it over. Thanks!

Feel free to reopen this ticket or create a new one.

[2020-08-25 15:13] nlopezgi commented on #3584
/reopen

[2020-08-25 15:17] aliok opened #3929 "Storage version change for subscriptions.messaging.dev"
**Problem**
Make the stored version for `subscriptions` v1 and provide migration job.

This was done in https://github.com/knative/eventing/pull/3925 but then [realized](https://github.com/knative/eventing/issues/3584#issuecomment-680082962) that `subscription` reconciler is not using v1 shape, so needed to revert the changes for `subscriptions`.

The revert commit is in the same PR.

**[Persona:]

[2020-08-25 15:17] vaikas commented on #3769
The last failed run here:

[code]

However, the channel appears to be ready when it goes to clean it.
[code]
Looking...

[2020-08-25 16:07] grantr commented on #2609
What's left to do here? Just ContainerSource?

[2020-08-25 16:18] lionelvillard commented on #2609
I think so. @aavarghese are you still working on it?

[2020-08-25 16:29] aavarghese commented on #2609
Yes. I'm getting back to it today. Apologize for the delay. @lionelvillard

[2020-08-25 16:49] nlopezgi commented on #3674
/reopen
per https://github.com/knative/eventing/pull/3895#issuecomment-680140225:  we also need to update the CRDs to mark that we are storing v1beta1 now, so that a fresh install has that, not just the updated clusters.

[2020-08-25 16:50] nlopezgi commented on #3615
/reopen
per https://github.com/knative/eventing/pull/3895#issuecomment-680140225:  we also need to update the CRDs to mark that we are storing v1beta1 now, so that a fresh install has that, not just the updated clusters.

[2020-08-25 22:38] vaikas commented on #3686
Just saw this again and seems to be some cause of flakiness.

https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-eventing-continuous/1298121216283906048

[code]

And yet again the resource is seemingly thought to be Ready, but clearly it is not:

[code]

It has not even been reconciled once.

[2020-08-25 23:47] grantr commented on #3874
Thanks @matzew. I assigned this to v0.19.0 milestone to remind us to do the revert then.

[2020-08-26 12:30] runzexia opened #3931 "could not upgrade to v0.17.2"
**Describe the bug**
# customresourcedefinitions.apiextensions.k8s.io "triggers.eventing.knative.dev" was not valid:
# * status.storedVersions[0]: Invalid value: "v1alpha1": must appear in spec.versions

 **Expected behavior**
apply crds success

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative release version**
v0.16.1

 **Additional context**
kubernetes v0.18.5

[2020-08-26 14:11] aliok commented on #3931
@runzexia

Can you provide more context please?

What were you trying to do?
Where did you see this error?

[2020-08-26 14:34] runzexia commented on #3931
hi @aliok i just apply v0.17.2 crd yaml to install new version.
kubectl apply -f https://github.com/knative/eventing/releases/download/v0.17.2/eventing-crds.yaml
i saw this error in kubectl response message.
and in my cluster crds status:
[code]

[2020-08-26 14:52] matzew commented on #3706
I have seen this case too, and here is the NONE `ready` trigger status:

[code]

[2020-08-26 16:18] aslom opened #3933 "document steps for new contributors"
**Problem**
A short explanation of the problem, including relevant restrictions.
There was issue raised and discussed during retrospective: "Reviewers get PRs merged in a few hours, while PRs from non-reviewers often stay LGTMed without approval for over a week."
https://funretro.io/publicboard/xYJrkNyhBrOrFvowHSCj7PrTpVQ2/5f65793b-9976-4758-bb0b-c67d240d8867?sort=votes

**[Persona:](https://githu

[2020-08-26 16:37] aavarghese commented on #2609
@grantr ContainerSource done and merged. https://github.com/knative/eventing/pull/3859

[2020-08-26 16:39] aslom commented on #3933
the link to contributing is a link to docs contribution?
https://github.com/knative/eventing/blob/master/CONTRIBUTING.md
https://github.com/knative/eventing-contrib/blob/master/CONTRIBUTING.md

[2020-08-26 16:39] aslom commented on #3933
There is link to PRs workflow in DEVELOPMENT
https://github.com/knative/eventing/blob/master/DEVELOPMENT.md
but it is very generic and nothing abot expectations of reviewing PRs for new contributors? Actuually links back to CONTRIBUTING.md
https://github.com/knative/eventing/blob/master/DEVELOPMENT.md#contributing

[2020-08-26 16:40] aslom commented on #3933
I could not find docs specific about Knative Eventng contributing?
Linked from https://github.com/knative/eventing/blob/master/DEVELOPMENT.md is
https://knative.dev/community/contributing/reviewing/
but that links to
https://knative.dev/community/contributing/mechanics/feature-tracks/
which is only for larger new feature PRs?

[2020-08-26 16:41] aslom commented on #3933
do you where are other docs about contributing and reviewing PRs? Should we advertise more https://gubernator.knative.dev/pr ? @n3wscott @vaikas @grantr @lionelvillard

[2020-08-26 17:17] #3583 closed

[2020-08-26 20:38] aavarghese commented on #3886
/assign @aavarghese

[2020-08-26 21:52] grantr commented on #3805
It looks like these config files are deprecated and scheduled to be removed from serving. I don't think we can commit to modifying them or copying them into eventing while their maintenance status is unknown.

I'll add this to the TOC backlog so we can discuss what we want to do about this at the overall Knative level. For the moment, it looks like you'll have to add these rules manually. Sorry @x

[2020-08-27 08:55] aliok commented on #3035
I like @lionelvillard 's idea of having the jobrunner properly in the manifest yaml.

So, no lazy deployment created by the reconciler.

[2020-08-27 09:12] pierDipi commented on #3911
Does it need to be documented into our `addressables` (Broker, Channel, ...) specs?

[2020-08-27 10:10] aliok commented on #3446
/close

These are all done, except removing the v1beta1 resources.
I think we will do the removal in a batch, no need to keep this ticket open.

[2020-08-27 10:10] #3446 closed

[2020-08-27 10:20] aliok commented on #3931
I tried only applying the CRDs for 0.16.1 and then 0.17.2, as you said.

[code]

This worked fine. Let me try applying the full YAML .

[2020-08-27 10:34] aliok commented on #3931
@runzexia

I can see that stored versions for trigger in 0.16 is v1beta1.
v1alpha1 is not stored nor served.

I see following on a fresh 0.16 installation on a fresh cluster:
[code]

So, if you upgraded from 0.15 to 0.16 before trying to upgrade to 0.17, there was a problem at migration from 0.15 to 0.16.
If you have done that upgrade, make sure you did the "action required" steps at https://githu

[2020-08-27 10:53] #3929 closed

[2020-08-27 12:09] knative-test-reporter-robot opened #3937 "[flaky] test/conformance.TestChannelStatusSubscriber/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatusSubscriber/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-08-27 12:09] knative-test-reporter-robot opened #3938 "[flaky] test/conformance.TestChannelStatusSubscriber/Channel_has_required_status_subscriber_fields#01"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatusSubscriber/Channel_has_required_status_subscriber_fields#01
* **Repository name**: eventing

[2020-08-27 12:09] #3769 closed

[2020-08-27 12:09] knative-test-reporter-robot opened #3939 "[flaky] test/conformance.TestChannelStatusSubscriber/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatusSubscriber/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-08-27 12:09] #3920 closed

[2020-08-27 14:22] nlopezgi commented on #3584
/close

[2020-08-27 14:22] mattmoor commented on #3911
cc @tcnghia @vaikas

I think it would be useful, as well as probably expanding the appropriate conformance to ensure folks adhere.  I started a thread in the delivery channel, but haven't heard anything.

https://knative.slack.com/archives/CR2141CGY/p1598117546001800

[2020-08-27 14:22] #3584 closed

[2020-08-27 14:25] nlopezgi commented on #3054
/close
I think all the work here is done now. Please reopen if we're missing anything.

[2020-08-27 14:25] #3054 closed

[2020-08-27 14:55] vaikas commented on #3809
Endpoints didn't become ready for the last failure:
https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-eventing-continuous/1298785655098183680

[code]

[2020-08-27 14:59] #3581 closed

[2020-08-27 15:08] vaikas commented on #3800
Failed due to #3809

[2020-08-27 15:08] vaikas commented on #3826
Last failure was due to: #3809

[2020-08-27 15:09] vaikas commented on #3811
Last failure was due to #3809

[2020-08-27 15:11] vaikas commented on #3810
Failed due to #3809

[2020-08-27 15:36] vaikas commented on #3706
#3686

[code]

[2020-08-27 16:14] evankanderson commented on #3805
/assign @evankanderson

I think we need to document how to set up fluentd/fluentbit rules, but not ship a released configuration:

https://docs.fluentd.org/v/0.12/articles/kubernetes-fluentd
https://fluentbit.io/kubernetes/

Previous experience suggests that we want to avoid repackaging the log collection components, and instead have some documentation that points to the above and then suggests so

[2020-08-27 16:39] vaikas opened #3945 "Updating parallel by adding a branch causes a panic."
**Describe the bug**
From Slack:

https://knative.slack.com/archives/C9JP909F0/p1598546036094500

[code]

A clear and concise description of what the bug is.

 **Expected behavior**
No panic.

 **To Reproduce**
Create parallel, add a branch to it, eventing-controller goes into crash loop.

 **Knative release version**

 **Additional context**
Add any other context about the problem here such as pr

[2020-08-27 17:11] vaikas commented on #3633
Just checking if you have had any luck trying to repro this. @slinkydeveloper any luck on kafka? Is there an issue we could link from here?

[2020-08-27 17:58] aliok commented on #3444
@lionelvillard

@nlopezgi was working on this, I think it is done (or mostly done)

IMO let's do this separately.

Others are done

[2020-08-27 18:03] vaikas commented on #3931
Yeah, from what I see here @aliok is right. You need to run the Storage Version Migration job.
https://github.com/knative/eventing/releases/download/v0.15.3/storage-version-migration-v0.15.0.yaml

Once that runs successfully you should only see a single stored version, that you can check with:
[code]

[2020-08-27 18:10] vaikas opened #3949 "Trying to create a subscription without a name in tests??"
**Describe the bug**

https://github.com/knative/eventing/pull/3946 failed with this test. Tracking this here.

[code]

A clear and concise description of what the bug is.

 **Expected behavior**
A clear and concise description of what you expected to happen.

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative release version**

 **Additional context**
Add any other context about the p

[2020-08-27 18:42] #3674 closed

[2020-08-27 18:50] tcnghia commented on #3911
I am +1 on this.

Having a probing contract has been super helpful for us in networking (allowing KIngress to have a meaningful Status even if the underlying networking framework / API does not provide one out-of-the-box). It may be even possible to try probing through different transport options (H2C or H1) to allow some sort of plain-text protocol selection logic (very useful given that H2C upgr

[2020-08-27 18:54] nachocano commented on #3615
/close
Fixed by https://github.com/knative/eventing/pull/3942
I think it didn't automatically close because the Fixes # needs to be in different lines...
Thanks @nlopezgi !!!

[2020-08-27 18:54] #3615 closed

[2020-08-27 19:38] #3945 closed

[2020-08-27 21:43] vaikas opened #3952 "Add retries for webhook failures."
**Describe the bug**

While looking at this CI failure:
https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-eventing-continuous/1299057320398950401

[code]

We should probably add retries here (and other places in these helpers):
https://github.com/knative/eventing/blob/master/test/conformance/helpers/broker_control_plane_test_helper.go#L138

Kind of like this:
https://github.com/knativ

[2020-08-27 22:15] vaikas commented on #3706
Failed with:

[code]

[2020-08-27 22:57] vaikas commented on #3949
While looking at this issue, noticed that Broker/Trigger calls have potentially a similar bug lurking, so fixed those as well.

[2020-08-28 02:26] runzexia commented on #3931
i have upgrade to v0.15.4 a few day ago.
and the storage migration job shows `Completed`.
I think the upgrade is successful until I want to upgrade 0.17.x.
I can get is yaml of job/pod, and the log has been cleared.
[code]

[2020-08-28 04:48] #3949 closed

[2020-08-28 09:55] yuchunyu97 opened #3957 "Is it possible to disable the HA of pingsource through comfigmap?"
**Problem**
Pingsource is created automatically, I don’t want to modify the deployment manually. Is it possible to increase the configuration in configmap whether to enable the HA of pingsource?

[2020-08-28 13:53] pierDipi commented on #3957
cc @lionelvillard

/remove-kind feature-request
/label question

[2020-08-28 14:12] #3623 closed

[2020-08-28 14:36] lionelvillard commented on #2426
I think we should start by leveraging the [feature tracks](https://github.com/knative/community/blob/master/mechanics/FEATURE-TRACKS.md#2.1) mechanics to formally describe our short to medium (maybe long term?) roadmap.

A feature track does not have to be very long, only few sentences in the motivation section is a good start.

I would extend the template to indicate:
- when is the last time the

[2020-08-28 14:42] lionelvillard commented on #3957
Hi @yuchunyu97, PingSource HA is disabled by default and can be enabled by modifying the `config-leader-election` ConfigMap. As for the number of replicas and affinity rules there is current no ways to set this other than manually modifying the deployment. We have an issue tracking this: https://github.com/knative/eventing/issues/3883. Is that what you are looking for?

[2020-08-28 14:51] vaikas opened #3959 "TestChannelSpec/InMemoryChannel-messaging.knative.dev/v1beta1 flake, when trying to update subscribers."
**Describe the bug**
In:
https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-eventing-continuous/1299178242036469761

The test failed with:
[code]

We should probably wrap this with the retry helper:
https://github.com/knative/eventing/blob/master/test/conformance/helpers/channel_spec_test_helper.go#L122

 **Expected behavior**
A clear and concise description of what you expected to hap

[2020-08-28 14:57] vaikas opened #3960 "Data race in IMC dispatcher"
**Describe the bug**
From:
https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-eventing-continuous/1299329237383122944

[code]

 **Expected behavior**
Not that

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative release version**

 **Additional context**
Add any other context about the problem here such as proposed priority

[2020-08-28 17:52] vaikas commented on #3931
What does this report?
[code]

[2020-08-28 18:34] MPeyrard86 commented on #3633
Hi @vaikas
OK I was able to reproduce this using the IMC, as well.

After adding and deleting a trigger using the in-memory channel, I see this:
[code]
As you can see, the subscription is still there, with ``Generation: 2``.

I created the broker like this:
[code]

And the trigger like this:
[code]

Could this somehow be a problem that's specific to my cluster? I'm not sure how...
I'll take anothe

[2020-08-28 20:05] #3524 closed

[2020-08-29 06:51] yuchunyu97 commented on #3957
@lionelvillard
I did not do additional configuration, but pingsource-mt-adapter conducted a leader election.

The following is part of the startup log:

[code]

Pod restarted due to leader election failure.

This caused my scheduled task to be interrupted.

[2020-08-29 12:09] knative-test-reporter-robot opened #3965 "[flaky] 1.43% tests failed in repo eventing on 2020-08-29 08:54:05 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.43% tests failed in repo eventing on 2020-08-29 08:54:05 +0000 UTC
* **Repository name**: eventing

[2020-08-30 11:30] ShaileshSurya commented on #3868
@aliok I couldn't find time to look into this and looks like I am packed for quite some time from now.

Having said that if anyone is interested in picking this up. Please feel free to do that.

[2020-08-31 08:13] slinkydeveloper commented on #930
This issue is duplicate/more specific i think #3359

[2020-08-31 10:18] slinkydeveloper commented on #3903
I think all these points underlined by @devguyio are fine. I think point 5 covers the use case underlined by @n3wscott

[2020-08-31 11:32] aliok commented on #3959
The entire test is within a retry loop, but it doesn't completely solve the problem I think: https://github.com/knative/eventing/blob/master/test/conformance/helpers/channel_spec_test_helper.go#L58

I want to add something in that line you pointed at, but not sure what :) ? `retryConflict` may not work there.

[2020-08-31 12:09] #3938 closed

[2020-08-31 12:09] knative-test-reporter-robot opened #3969 "[flaky] test/e2e.TestTriggerDependencyAnnotation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestTriggerDependencyAnnotation
* **Repository name**: eventing

[2020-08-31 12:09] #3800 closed

[2020-08-31 12:09] #3939 closed

[2020-08-31 12:09] #3798 closed

[2020-08-31 12:09] #3706 closed

[2020-08-31 12:09] knative-test-reporter-robot opened #3970 "[flaky] test/conformance.TestBrokerV1Beta1DataPlaneConsumer/Attributes_received_should_be_the_same_as_produced_(attributes_may_be_added)"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerV1Beta1DataPlaneConsumer/Attributes_received_should_be_the_same_as_produced_(attributes_may_be_added)
* **Repository name**: eventing

[2020-08-31 12:09] #3810 closed

[2020-08-31 12:09] #3809 closed

[2020-08-31 12:09] #3937 closed

[2020-08-31 12:09] #3811 closed

[2020-08-31 12:09] #3791 closed

[2020-08-31 12:50] lionelvillard commented on #3957
@yuchunyu97 What version of Knative are you using?

Can you run this command and copy the output to this issue:

[code]

[2020-08-31 13:24] pierDipi commented on #3959
We need to use the following method:
https://github.com/knative/eventing/blob/0f8e0c8eeff121a2960d05736ae702b31bc380e5/test/lib/creation.go#L66

[2020-08-31 13:39] aliok commented on #3959
hmm, got it, let me give it a try

[2020-08-31 13:52] aliok commented on #3959
Trial here: https://github.com/knative/eventing/pull/3971

[2020-08-31 13:53] aliok commented on #3959
/assign

[2020-08-31 14:25] pierDipi opened #3973 "Decide Sink duck type shape"
**Problem**
We need to decide the Sink duck type shape.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
- Event Consumer
- System Integrator

**Exit Criteria**
Sink duck type shape and related documentation.

**Additional context (optional)**
- @lionelvillard comment: https://github.com/knative-sandbox/eventing-kafka-broker/pull/

[2020-08-31 16:11] pierDipi commented on #3973
/remove-help

[2020-08-31 16:57] arzarif commented on #3785
Hi @grantr - apologies for the delayed response. I'd say it's an important feature, but not a pressing one currently (for me anyway). The specific use case I had in mind was pulling in events from across multiple clusters into an event bus that resides within a centralized operations cluster; my intention was to be able to kick off Tekton-based pipelines from this operations cluster using these ev

[2020-08-31 17:26] vaikas commented on #3970
Failed with:
[code]

[2020-08-31 18:04] #3959 closed

[2020-08-31 18:41] n3wscott commented on #3973
Yep, we need to make up a design doc.

[2020-08-31 19:09] tommyreddad commented on #2841
/assign

[2020-08-31 20:07] lberk commented on #3970
/assign

[2020-08-31 20:09] lionelvillard commented on #3913
this has landed.

[2020-08-31 20:09] #3913 closed

[2020-08-31 20:09] vaikas commented on #3969
[code]

[2020-08-31 20:25] lberk commented on #2918
@ian-mi @slinkydeveloper just reviewing the awaiting more evidence issues, is this still a desired feature request? or have the changes in the CE Spec satisfied this issue?

[2020-08-31 20:26] lberk commented on #2957
@chizhg would you be willing to take a look at this and verify if this is still an issue with the nightlies?

[2020-08-31 20:29] lberk commented on #2957
@Harwayne assuming that you haven't hit this gap in testing in awhile (#2945) has been closed for awhile, are we able to close this issue?

[2020-09-01 00:03] vaikas opened #3978 "Data race"
**Describe the bug**

https://github.com/knative/eventing/pull/3977

https://pipelines.actions.githubusercontent.com/bKLCgxJiOFbBYdUOBsQKz1cgYvVQDD39Qqd5vw3H9ib0xObBRA/_apis/pipelines/1/runs/82/signedlogcontent/3?urlExpires=2020-09-01T00%3A02%3A04.8460083Z&urlSigningMethod=HMACV1&urlSignature=OtS2jkBdQXCBYY65pIGXXlsDDHhtvrfqSvg7RCpAguM%3D

[code]

 **Expected behavior**
Tests not to fail

 **To Re

[2020-09-01 01:07] yuchunyu97 commented on #3957
@lionelvillard
[code]

[code]

[code]

[2020-09-01 02:56] devguyio commented on #2933
/assign
/unassign @n3wscott

[2020-09-01 07:22] slinkydeveloper commented on #1757
Closing since this works and it's tested properly

/close

[2020-09-01 07:22] #1757 closed

[2020-09-01 07:33] slinkydeveloper commented on #2918
We don't need this anymore, at this point we just don't touch the ce distributed tracing extension

/close

[2020-09-01 07:33] #2918 closed

[2020-09-01 07:33] pierDipi commented on #2609
Done. :tada:

/close

[2020-09-01 07:33] #2609 closed

[2020-09-01 08:09] devguyio commented on #2933
it seems that when the `sink` is missing, this line failes https://github.com/knative/pkg/blob/master/webhook/psbinding/reconciler.go#L362 and the deletion reconciliation fails and never reaches the finalizer remove.

The reason this line fails is that the `SinkBinding` controller initializes `WithContext` to retrieve the sink (which in the case of the delete/undo does not exist).

One solution wo

[2020-09-01 11:13] aliok commented on #3035
/assign

[2020-09-01 11:52] lberk commented on #2933
@devguyio I had proposed a fix in knative/pkg#1647 but am in the middle of reworking it as suggested by @mattmoor

[2020-09-01 12:09] knative-test-reporter-robot opened #3981 "[flaky] test/conformance.TestChannelStatus/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatus/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-09-01 12:09] knative-test-reporter-robot opened #3982 "[flaky] test/e2e.TestSingleBinaryEventForChannelV1/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleBinaryEventForChannelV1/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-09-01 12:09] knative-test-reporter-robot opened #3983 "[flaky] test/e2e.TestSingleBinaryEventForChannelV1/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleBinaryEventForChannelV1/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-09-01 12:09] knative-test-reporter-robot opened #3984 "[flaky] test/e2e.TestSingleBinaryEventForChannelV1/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleBinaryEventForChannelV1/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-09-01 12:09] knative-test-reporter-robot opened #3985 "[flaky] test/e2e.TestSingleBinaryEventForChannelV1/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleBinaryEventForChannelV1/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-09-01 12:39] pierDipi commented on #3765
[code]
[code]

[2020-09-01 12:45] pierDipi commented on #3982
[code]
https://github.com/gotestyourself/gotestsum/issues/141

[2020-09-01 12:47] pierDipi commented on #3983
[code]
https://github.com/gotestyourself/gotestsum/issues/141

[2020-09-01 12:47] pierDipi commented on #3984
[code]
https://github.com/gotestyourself/gotestsum/issues/141

[2020-09-01 12:48] pierDipi commented on #3985
[code]
https://github.com/gotestyourself/gotestsum/issues/141

[2020-09-01 13:31] lionelvillard commented on #3957
@yuchunyu97 There is a couple of issues here.

First check `config-leader-election.yaml` and remove the `pingsource-mt-adapter` from the list of `enabledComponents`. Check that `pingsource-mt-adapter` has been removed from `K_LEADER_ELECTION_CONFIG`.

The second issue is the lease failing to be reacquired and causing a restart when leader election is enabled. Do you have any ideas why this is happ

[2020-09-01 13:37] lionelvillard commented on #3978
Looks like an race in the zap library.

[2020-09-01 13:54] nlopezgi commented on #3630
I've been looking in more detail at the effort required for this issue:
There are differences between v1alpha1 and v1beta1 for `ApiServerSource` that make the migration tool non trivial.
`controller` and `controllerSelector` defined in `ApiServerResource` have been deprecated.
The documentation mentions
"Per-resource controller flag will no longer be supported in v1alpha2, please use Spec.Owner as

[2020-09-01 14:22] devguyio commented on #2933
/unassign

[2020-09-01 15:39] vaikas commented on #3826
Failed with:
[code]

And when cleaning channel looks like this:
[code]
Looking at the controller logs, it seems like the Channel does not even get reconciled. I only see reconcile events for InMemoryChannel.

[2020-09-01 15:54] aslom commented on #3973
There should be some way to distinguish between different Sinks that only consume events (Addressable) and those that may return events (Callable)? The sink that has response? And also what content types must be supported by data plane - it is now described in details for sinks, channels and brokers linked from
https://github.com/knative/eventing/blob/master/docs/spec/data-plane.md

[2020-09-01 16:46] devguyio commented on #2426
I would like to have the following tracked in the markdown as opposed to document

1. The feature track status: So makes the action of changing the status say from "Proposed" to "Approved" happens in a PR where discussions take place, and where approvers explicitly approve it.
1. The targeted milestone: To surface this info into a single place that can be seen in a glance.
1. The feature owner: Sa

[2020-09-01 17:46] lionelvillard commented on #2426
@vaikas suggested to use Github issue labels instead of a markdown file to track feature tracks. I like this proposal. Maybe we could have a set of labels: `feature-track/proposed`, `feature-track/approved` and `feature-track/rejected`. It's then easy to set a targeted milestone and an owner

@mattmoor suggested to create a Github project board for each active feature track. I also like this becau

[2020-09-02 02:38] yuchunyu97 commented on #3957
@lionelvillard Yes, it is indeed possible to disable HA via `--disable-ha`.

But why is there no `enabledComponents` configuration in the configmap in version 0.17.2?

---

The second issue may be tricky. Here are some logs before the Pod restarts:
[code]

[2020-09-02 06:43] devguyio commented on #2426
/unassign
/unassign @akashrv
/assign @vaikas
/assign @lionelvillard
/assign @grantr

[2020-09-02 10:14] julz commented on #3978
Possible fix: https://github.com/knative/serving/pull/9262.

[2020-09-02 10:22] pierDipi commented on #3973
I'm not sure a _Sink_ as I think about it can be _Callable_, we need probably another name (?) to express this concept.

Also, adding a `contentMode` in the duck type means that all our sink must support both `binary` and `structured` mode, and it's not always the case, or even if we add the _MAY_ keyword to one content mode, users need to know the underlying implementation, so pushing the having

[2020-09-02 10:44] markusthoemmes commented on #3978
For posterity: The trace indicates a race with `t.Logf` and sure enough @julz found a golang bug that causes it in golang/go#40908. Switching respective tests to use `defer` indeed fixes this.

[2020-09-02 12:11] #3969 closed

[2020-09-02 14:19] devguyio commented on #3903
/milestone v0.18.0

[2020-09-02 14:22] mattmoor commented on #3903
/milestone v0.18.0

[2020-09-02 15:04] slinkydeveloper commented on #3960
/assign

[2020-09-02 15:45] slinkydeveloper commented on #3126
Links to https://github.com/cloudevents/sdk-go/issues/554

[2020-09-02 15:53] aslom commented on #3903
Could we start a google doc to gather list of projects that have similar testing requirements to Knative and describe what do they use, identify best practices? Create one in eventing folder in Knative google drive?

[2020-09-02 16:03] aslom commented on #3903
I agree with @n3wscott that more modular approach may work the best - are all phases meant to run independently? How are they chained? @devguyio

[2020-09-02 16:17] julz commented on #3978
@vagababov [pointed out](https://github.com/knative/serving/pull/9262#issuecomment-685837344) that 1.15.1 cut today with the fix for this in! So just bumping go in our GitHub actions (etc) should also fix this.

[2020-09-02 16:24] n3wscott commented on #2957
We need to use the released yaml to run the e2e test. If we leverage the release script to bootstrap the e2e tests then we would get better signal.

[2020-09-02 16:25] n3wscott commented on #2957
It is a duplicate of https://github.com/knative/eventing/issues/3513

I think we should track and fix https://github.com/knative/eventing/issues/3513 and close this.

/close

[2020-09-02 16:26] #2957 closed

[2020-09-02 16:28] n3wscott commented on #3186
/remove-lifecycle stale

This might be a better project to explore in knative-sandbox vs core eventing.

[2020-09-02 16:28] nachocano opened #3993 "GitHub actions to track downstream repos outside knative"
**Problem**
Now that we have Github actions to track downstream repos inside knative, it might be also useful for folks to track external downstream repos. For example, knative-sandbox, knative-gcp, etc.
Creating the issue here to keep track. Should sync with @n3wscott as we may need to create a different file for external repos.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/p

[2020-09-02 18:04] vaikas commented on #3978
awesome, thanks @julz

[2020-09-03 04:38] devguyio commented on #3903
Some thoughts:
1. I agree with @n3wscott comments that we need to also look how operators folks do their e2e tests and if there're valuable patterns from it.
1. The goal of this task is to have a comparison document (TBD) of alternatives (e.g. how other similar projects do their e2e and conformance tests, pros and cons, green field project alternative..etc) . The goal is NOT to implement a specifi

[2020-09-03 12:09] #3984 closed

[2020-09-03 12:09] knative-test-reporter-robot opened #3995 "[flaky] test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-09-03 12:09] #3983 closed

[2020-09-03 12:09] #3982 closed

[2020-09-03 12:19] pierDipi commented on #3708
[code]
[code]

[2020-09-03 13:01] lionelvillard commented on #3957
`enabledComponents` has been deprecated in favor of the temporary `--disable-ha` flag. The idea is to always enable HA.

As for the error, it seems the lease couldn't be renewed after 10s, suggesting your cluster might be overloaded. Could this be the case?

[2020-09-03 15:09] lionelvillard commented on #3973
The CloudEvent spec [says](https://github.com/cloudevents/spec/blob/v1.0/http-protocol-binding.md#13-content-modes):

At some point we made the decision to support [both](https://github.com/knative/eventing/blob/master/docs/spec/data-plane.md#content-modes-supported).

This makes sense because:

If Sinks support only one of the two modes, then there is no guarantee of interoperability, which is ba

[2020-09-03 15:24] slinkydeveloper commented on #3973
Yeah I think i wrongly explained myself: of course, on the ingress side of the sink, you should support both binary and structured.

But downstream (the sink egress) could not have support for both (just think about natss that supports only structured), or even better, it could not even support cloudevents. For example, think about an eventual github sink we may design: when it gets events of type

[2020-09-03 15:48] Ask-Subhasmita commented on #3861
Hello @n3wscott  I'm really interested in this project and I would like to get started with this issue, can you suggest me some resources to look upon while solving this issue?

[2020-09-03 16:00] #3960 closed

[2020-09-04 01:05] yuchunyu97 commented on #3957
This may be the case, sometimes the cluster speed is a bit slow.

Is it normal that the lease cannot be renewed leading to a restart? @lionelvillard

[2020-09-04 07:43] #3035 closed

[2020-09-04 11:58] lberk commented on #3970
it's been four days since we've seen a flake, closing for now
/close

[2020-09-04 11:58] #3970 closed

[2020-09-04 12:08] knative-test-reporter-robot opened #4001 "[flaky] test/e2e.TestParallel/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestParallel/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-09-04 12:09] knative-test-reporter-robot opened #4002 "[flaky] test/e2e.TestChannelBasedBrokerWithManyTriggers/Channel-messaging.knative.dev/v1beta1/test_default_broker_with_many_deprecated_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelBasedBrokerWithManyTriggers/Channel-messaging.knative.dev/v1beta1/test_default_broker_with_many_deprecated_triggers
* **Repository name**: eventing

[2020-09-04 12:09] knative-test-reporter-robot opened #4003 "[flaky] test/e2e.TestParallel/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestParallel/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-09-04 12:09] knative-test-reporter-robot opened #4004 "[flaky] test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_attribute_triggers_using_v1beta1_trigger"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_attribute_triggers_using_v1beta1_trigger
* **Repository name**: eventing

[2020-09-04 12:09] knative-test-reporter-robot opened #4005 "[flaky] test/e2e.TestParallel/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestParallel/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-09-04 12:09] knative-test-reporter-robot opened #4006 "[flaky] test/e2e.TestParallel/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestParallel/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-09-04 12:12] pierDipi commented on #4002
[code]

https://github.com/knative/eventing/issues/3570

[2020-09-04 12:14] pierDipi commented on #3491
https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-eventing-continuous/1301654559894016002#1:build-log.txt%3A37871

https://github.com/gotestyourself/gotestsum/issues/141

[2020-09-04 12:14] pierDipi commented on #3904
https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-eventing-continuous/1301654559894016002#1:build-log.txt%3A37871

https://github.com/gotestyourself/gotestsum/issues/141

[2020-09-04 12:15] pierDipi commented on #3853
https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-eventing-continuous/1301654559894016002#1:build-log.txt%3A37871

https://github.com/gotestyourself/gotestsum/issues/141

[2020-09-04 12:15] pierDipi commented on #3842
https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-eventing-continuous/1301654559894016002#1:build-log.txt%3A37871

https://github.com/gotestyourself/gotestsum/issues/141

[2020-09-04 12:17] pierDipi commented on #3922
[code]

[code]

[2020-09-04 12:20] pierDipi commented on #4001
[code]

https://github.com/gotestyourself/gotestsum/issues/141

[2020-09-04 12:20] pierDipi commented on #4005
[code]

https://github.com/gotestyourself/gotestsum/issues/141

[2020-09-04 12:20] pierDipi commented on #4003
[code]

https://github.com/gotestyourself/gotestsum/issues/141

[2020-09-04 12:20] pierDipi commented on #4006
[code]

https://github.com/gotestyourself/gotestsum/issues/141

[2020-09-04 12:22] pierDipi commented on #4004
[code]
https://github.com/knative/eventing/issues/3570

[2020-09-05 12:08] #3995 closed

[2020-09-05 12:08] knative-test-reporter-robot opened #4010 "[flaky] test/e2e.TestBrokerChannelFlowTriggerV1Beta1BrokerV1Beta1/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowTriggerV1Beta1BrokerV1Beta1/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-09-05 12:09] knative-test-reporter-robot opened #4011 "[flaky] test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1/min-event_encoding_structured_version_0.3"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1/min-event_encoding_structured_version_0.3
* **Repository name**: eventing

[2020-09-05 12:09] knative-test-reporter-robot opened #4012 "[flaky] test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1/full-event_encoding_binary_version_1.0"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1/full-event_encoding_binary_version_1.0
* **Repository name**: eventing

[2020-09-06 12:10] #3904 closed

[2020-09-06 12:10] #3853 closed

[2020-09-06 12:11] #3488 closed

[2020-09-06 12:11] #3491 closed

[2020-09-06 12:11] #4002 closed

[2020-09-07 07:54] aliok commented on #3861
hi @Ask-Subhasmita

This task is about to increase the code coverage for the file https://github.com/knative/eventing/blob/master/pkg/apis/flows/v1/parallel_validation.go

What I would suggest is, check other `*_validation.go` files that package or in another packages and see how the code coverage for them is. Try finding a file with a high coverage and see what is done.

If you're new to Go, I wo

[2020-09-07 12:09] #4010 closed

[2020-09-07 12:09] #4012 closed

[2020-09-07 12:09] #4011 closed

[2020-09-07 14:02] skonto commented on #1823
@grantr I would like to help on this, could I be assigned?

[2020-09-08 14:53] nailushapotnuru opened #4016 "Failing e2e tests for knative/eventing-v0.16.1"
TestName   : e2e tests
Repository : knative/eventing
Tag: v0.16.1
## Steps followed:
1. Deployed knative-eventing on OCP4.5
[code]
2. Built the test-images under eventing/test/test_images (https://github.com/knative/eventing/tree/v0.16.1/test/test_images)

3. Created image streams for these test-images and replaced under respective pod.yaml files of https://github.com/knative/eventing/tree/v0.16.1

[2020-09-08 16:22] pierDipi commented on #4016
Can you check again by running tests using the following statement?

[code]

I think there is a missing `brokerClass` flag that leads to `Broker`s not becoming ready.

[2020-09-08 16:51] nailushapotnuru commented on #4016
@pierDipi , Thanks for looking into the issue.

Failures still persists even after passing the above flags. Here is the test output of above command.

[eventing_e2e_test_outputv0.1.txt](https://github.com/knative/eventing/files/5189687/eventing_e2e_test_outputv0.1.txt)

[2020-09-08 16:56] pierDipi commented on #4016
Do you have installed the `sugar-controller`? https://github.com/knative/eventing/releases/download/v0.16.0/eventing-sugar-controller.yaml

[2020-09-08 16:58] pierDipi commented on #4016
Yeah, you have.

[2020-09-08 17:16] pierDipi commented on #4016
Are you upgrading from `0.15.*`?

[2020-09-08 17:21] pierDipi commented on #4016
I followed these steps and tests are working:

[code]

[2020-09-09 02:20] capri-xiyue commented on #3630
It looks like `controller` and `controllerSelector` defined in ApiServerResource have been deprecated since `v1alpha2` and this is a break feature change.
Based on the code comments, it looks like in `v1alpha1`, we supported `Per-resource owner refs` and `Per-resource controller flag`. I don't think we can create a tool  similar to #3110 for ApiServerSource.
And in the reconciler logic, we no long

[2020-09-09 05:03] nailushapotnuru commented on #4016
I have deployed knative-eventing on OCP from https://github.com/knative/eventing/tree/v0.16.1/config and built all the test-images from (https://github.com/knative/eventing/tree/v0.16.1/test/test_images) and then tried e2e testing.

[2020-09-09 05:33] nailushapotnuru commented on #4016
I am working on v0.16.1 for power architecture.

[2020-09-09 07:33] pierDipi commented on #1823
@skonto Great! you can comment `/assign` to get the issue assigned to yourself.

[2020-09-09 13:46] skonto commented on #1396
@n3wscott, @lionelvillard @evankanderson I have created a related [proposal](https://docs.google.com/document/d/1TOd-tPJzoTnNXlMRPQ-M0TUxi_7NZi4QD3m3fg0lQMw/edit?usp=sharing), let me know WDYTH.

[2020-09-09 13:55] n3wscott commented on #1396
@skonto interesting! We have been looking at using the CloudEvents subscription api to propagate the filters from the broker to the upstream sources, allowing filtering to happen as close to the source as possible, do you think that would let you do what you are thinking about?

[2020-09-09 13:58] skonto commented on #1396
@n3wscott yes the idea is to do the filtering or similar logic at the source, as streaming engines or other frameworks do it to avoid the overhead.

[2020-09-09 14:53] skonto commented on #1823
/assign

[2020-09-09 16:07] aliok commented on #3952
/assign

[2020-09-10 03:45] maxiloEmmmm opened #4023 "Failed to watch *v1.Source: unknown"
**Describe the bug**
A clear and concise description of what the bug is.
`E0910 03:26:41.173256       1 reflector.go:309] k8s.io/client-go@v11.0.1-0.20190805182717-6502b5e7b1b5+incompatible/tools/cache/reflector.go:105: Failed to watch *v1.Source: unknown
E0910 03:26:42.176262       1 reflector.go:309] k8s.io/client-go@v11.0.1-0.20190805182717-6502b5e7b1b5+incompatible/tools/cache/reflector.go:105

[2020-09-10 08:55] #4023 closed

[2020-09-10 09:06] maxiloEmmmm opened #4026 "trigger's subscriber use other namespace but use trigger namespace"
**Describe the bug**
![image](https://user-images.githubusercontent.com/16779121/92706836-6a6ec400-f387-11ea-8670-50442783370c.png)
![image](https://user-images.githubusercontent.com/16779121/92707129-a2760700-f387-11ea-96f4-ea25b207bdd4.png)
![image](https://user-images.githubusercontent.com/16779121/92707681-11536000-f388-11ea-90f2-89c4e50ebcc7.png)

 **Expected behavior**
my-service-trigger tri

[2020-09-10 12:11] knative-test-reporter-robot opened #4027 "[flaky] test/conformance.TestBrokerV1Beta1DataPlaneConsumer"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerV1Beta1DataPlaneConsumer
* **Repository name**: eventing

[2020-09-10 13:22] lionelvillard opened #4028 "pingsource-controller cannot update pingsources/status"
**Describe the bug**
seeing this in the log:

[code]

 **Expected behavior**
no error

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative release version**

 **Additional context**
Add any other context about the problem here such as proposed priority

[2020-09-10 14:16] lionelvillard commented on #4028
The pingsource-mt-adapter should not update the status. The generated reconciler should be configured as such.

[2020-09-10 20:11] lberk commented on #4027
hmm, ```    creation.go:697: Failed to configure pod "second-logger-pod": Operation cannot be fulfilled on resourcequotas "gke-resource-quotas": StorageError: invalid object, Code: 4, Key: /registry/resourcequotas/test-broker-v1-beta1-data-plane-consumer-rl25p/gke-resource-quotas, ResourceVersion: 0, AdditionalErrorMsg: Precondition failed: UID in precondition: a8763566-3331-4a7d-b48f-96b477080350

[2020-09-10 20:33] vaikas commented on #4027
This is because the test error message changed. @mattmoor added this to the tests. I think we should get rid of our version of the retries and now that there's better ways to reuse and customize the errors being handled. So things like this should go away:
https://github.com/knative/eventing/blob/master/test/lib/creation.go#L62

And reuse this one:
https://github.com/knative/pkg/pull/1695

[2020-09-10 20:34] vaikas commented on #4027
not answering your question :) Yes, it's not a failure in the test, it's the test infra failure and while we used to work around this (and webhook errors), the error code changed and that's why it started failing again :) Thanks for digging.

[2020-09-10 22:15] capri-xiyue commented on #3630
/assign @capri-xiyue

[2020-09-10 23:17] capri-xiyue commented on #3716
This is not a documentation issue. Ideally when we do the conversion, we need to do deep copies if necessary to avoid undesired and potentially dangerous mutations. But since webhook already does the deep copy, in most cases, we won't have any problem.

Previously in knative-eventing, "besides the webhook, we also call conversions directly for some ducktypes"
Example here: https://github.com/knati

[2020-09-10 23:17] #3716 closed

[2020-09-11 21:31] #3630 closed

[2020-09-12 08:45] pierDipi commented on #4026
We don't allow cross namespace references, are you interested in allowing them?

_Additional context_
https://github.com/knative/eventing/blob/a44dbdbbcec54b1abe9c1b82faf607eff2a8324f/pkg/reconciler/mtbroker/trigger/trigger.go#L120-L124

/remove-kind bug
/kind feature-request

[2020-09-12 14:40] lionelvillard opened #4037 "Error when upgrading PingSource adapter from 0.16 to 0.17"
**Describe the bug**
The Deployment "pingsource-mt-adapter" is invalid: spec.template.spec.containers[0].env[0].valueFrom: Invalid value: "": may not be specified when `value` is not empty

 **Expected behavior**
no error

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative release version**

 **Additional context**
Add any other context about the problem here such as proposed priority

[2020-09-13 07:46] RohanGupta06 commented on #3861
Hello @n3wscott I am interested in solving this issue, can I work on this project ?

[2020-09-13 12:09] knative-test-reporter-robot opened #4038 "[flaky] test/e2e.TestParallelV1/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestParallelV1/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-09-13 12:09] knative-test-reporter-robot opened #4039 "[flaky] test/e2e.TestParallelV1/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestParallelV1/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-09-13 12:09] knative-test-reporter-robot opened #4040 "[flaky] test/e2e.TestParallelV1/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestParallelV1/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-09-13 12:09] knative-test-reporter-robot opened #4041 "[flaky] test/e2e.TestParallelV1/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestParallelV1/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-09-13 14:56] n3wscott commented on #3861
For sure! If you have any questions come ask in the knative slack or you can ping me. Good luck and have fun!!! Welcome @RohanGupta06 🤩

[2020-09-13 14:58] n3wscott commented on #3861
I missed this one, but anyone is welcome to join and contribute! Welcome @Ask-Subhasmita !!

[2020-09-13 15:32] RohanGupta06 commented on #3861
Thanks @n3wscott . I am new to it so can you guide me so that i can get success in this work.

[2020-09-13 22:06] duglin commented on #2721
@lionelvillard FYI

[2020-09-14 06:53] slinkydeveloper commented on #4026
@maxiloEmmmm can you be more specific about the issue/feature request?

[2020-09-14 07:02] slinkydeveloper commented on #3973
In the case of [`KafkaSink`](https://github.com/knative-sandbox/eventing-kafka-broker/pull/134) we ended up implementing only `Addressable`, since it's the most appropriate ducktype for a `*Sink`.

As discussed in the 2020-09-01 Eventing Source meeting, we probably don't need atm any particular `Sink` ducktype because `Addressable` already address our needs. For me we can close this issue and reop

[2020-09-14 07:08] matzew commented on #4016
Not really sure why the tests fails for you, but we have our own (OCP) CI setup, testing against 4.5 and 4.6

For instance:
* https://github.com/openshift/knative-eventing/tree/release-v0.16.0
* https://github.com/openshift/knative-eventing/tree/release-v0.17.2

Here is how those tests on CI got invoked:
https://github.com/openshift/knative-eventing/blob/release-v0.16.0/openshift/e2e-common.sh#L13

[2020-09-14 07:15] maxiloEmmmm commented on #4026
@pierDipi ok
@slinkydeveloper sink and trigger not exist same namespace

[2020-09-14 07:15] #4026 closed

[2020-09-14 07:46] aliok commented on #3861
@RohanGupta06
I think my comment above, https://github.com/knative/eventing/issues/3861#issuecomment-688121231, is a good place to start :)

[2020-09-14 09:21] Ask-Subhasmita commented on #3861
Thank you @aliok and @n3wscott I am trying to solve this, I'll let you know as soon as I'm completed.

[2020-09-14 09:25] devguyio commented on #2357
I'd like to work on this
/assign

[2020-09-14 09:25] devguyio commented on #2357
/remove-lifecycle stale

[2020-09-14 12:49] lionelvillard commented on #3973
sounds good to me.

[2020-09-14 13:03] pierDipi commented on #3973
Sounds good, let's collect users' inputs first.

/close

[2020-09-14 13:03] #3973 closed

[2020-09-14 13:58] lionelvillard commented on #3886
this is done.

[2020-09-14 13:58] #3886 closed

[2020-09-14 13:59] lionelvillard commented on #3606
all done.

[2020-09-14 13:59] #3606 closed

[2020-09-14 13:59] lionelvillard commented on #3529
PingSource is now done.

[2020-09-14 13:59] #3529 closed

[2020-09-14 20:10] #3978 closed

[2020-09-14 20:12] grantr commented on #3993
@nachocano is this fixed now with the new actions that run downstream unit tests on eventing PRs? Are there more repos to add?

[2020-09-14 20:17] grantr commented on #4016
@nailushapotnuru For another data point, have you tried running the tests with the latest version 0.17.2?

[2020-09-14 20:19] vaikas commented on #4016
Did you install a broker. This one or another one?
https://github.com/knative/eventing/tree/v0.16.1/config/brokers/mt-channel-broker

[2020-09-14 20:27] grantr commented on #4028
We might need to make this change in other adapters using gen-reconciler as well.

[2020-09-14 20:28] grantr commented on #4037
We need to clear out `valueFrom` when we try to set `value`

[2020-09-14 20:35] grantr commented on #4038
Same run and cause as #4039 #4040 #4041. Seems like a go test bug.

[2020-09-14 20:37] vaikas commented on #4016
Oops, sorry, I see it there in the initial list of pods.Would it be possible to get the logs for the:
mt-broker-controller-9968b99f4-zxj2c       1/1     Running     0          2d5h

[2020-09-14 20:58] grantr commented on #4038
Here's the relevant go bug: https://github.com/golang/go/issues/40771

[2020-09-14 21:00] grantr opened #4049 "Document PingSource --disable-ha flag"
**Problem**
Followup from #3957. HA for pingsource mt adapter can be disabled with the (undocumented) `--disable-ha` flag. We should document it.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
User

**Exit Criteria**
PingSource docs mention this flag

[2020-09-14 21:04] grantr commented on #3957
I created #4049 to track documenting the --disable-ha flag. @yuchunyu97 if you have a chance, can you create a new issue regarding the lease renewal issue? That will help us keep better track of it. Thanks!

[2020-09-14 21:04] #3957 closed

[2020-09-15 00:23] nachocano commented on #3993
I haven't looked at it. But I think the new actions that run downstream unit tests were meant just for repos within knative (e.g, eventing-contrib), and not external ones. If they have enabled running unit tests for some external repo, then this can be closed, and i'll just have to add knative-gcp to the list.
I'll get back to this later this week

[2020-09-15 00:45] lberk opened #4050 "Migrate Eventing Tests to use Test Observer"
**Problem**
#3954 introduce the test observer for testing with etcd events.  We still need to hook into it and change over existing tests from the event recorder.  This issue is meant to track progress on this
**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developers, Productivity

**Exit Criteria**
Tests use the TestObserver

**Time Estimate (optional):**
7-14 Da

[2020-09-15 01:15] n3wscott commented on #4050
I have started this in eventing-rabbitmq btw. I will upstream finding.

[2020-09-15 01:36] yuchunyu97 opened #4051 "pingsource-mt-adapter lease renewal failed, causing pod to restart"
**Describe the bug**
[code]

[code]

From #3957
@grantr

 **Expected behavior**
Even if the lease renewal fails, the pod should not restart.

 **To Reproduce**
1. Enable HA
2. Reduce the timeout period.
3. Make the response speed of the cluster slower.

In this way, the lease renewal process may time out and cause the renewal to fail.

 **Knative release version**
v0.17.2

[2020-09-15 05:08] nailushapotnuru commented on #4016
Yes I have installed mt-channel-broker from the same one.

[2020-09-15 05:09] nailushapotnuru commented on #4016
No I haven't tried with 0.17.2 version, have only tried with 0.16.1. Do you want me to try with the latest one ?

[2020-09-15 05:14] nailushapotnuru commented on #4016
Please find the mt-broker-controller logs attached in the below txt file.
[mt-broker-controller.log](https://github.com/knative/eventing/files/5222596/mt-broker-controller.log)

[2020-09-15 07:39] slinkydeveloper commented on #3952
@vaikas some of these failures may be connected to failing webhook-certs https://github.com/knative/pkg/issues/1641

[2020-09-15 07:40] slinkydeveloper commented on #4051
ping @lionelvillard

[2020-09-15 10:03] #3952 closed

[2020-09-15 12:10] knative-test-reporter-robot opened #4052 "[flaky] 1.46% tests failed in repo eventing on 2020-09-15 08:54:01 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.46% tests failed in repo eventing on 2020-09-15 08:54:01 +0000 UTC
* **Repository name**: eventing

[2020-09-15 15:52] cr22rc opened #4055 "Pingsource limit jsonData size"
**Problem**
The user can today create a pingsource CRD with unlimited jsonData size message.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event producer

**Exit Criteria**
Means with configuration option to set a limit in the eventing webhook on the size of jsonData that is accepted.

[2020-09-15 16:06] cr22rc opened #4056 "Limit pingsource event message wait time."
**Problem**
Currently a sink can wait indefinitely to respond to an event message. This can hold up releasing resources on the pingsource adapter.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event producer

**Exit Criteria**
Provide a configurable means to limit the connection time out when sending the event message.

[2020-09-16 06:47] slinkydeveloper commented on #4055
@lionelvillard

[2020-09-16 06:47] slinkydeveloper commented on #4056
@lionelvillard

[2020-09-16 06:54] slinkydeveloper opened #4057 "Unused Delivery in the ChannelableSpec"
**Describe the bug**
We have a Delivery field in the ChannelableSpec, but it's orphan: nothing is using this field.

**Expected behavior**
:question:

 **Additional context**
What should we do with this field?
* Implement it
  * Where? on the duck type controllers? on the downstream channel controllers?
* Remove it

[2020-09-16 07:11] devguyio commented on #4057
@lionelvillard do you have any issue, PR or document that has some context around this? Or do you remember it being discussed in the Channel taskforce meetings?
/cc @Harwayne @matzew

[2020-09-16 07:17] aliok commented on #4057
I actually like the idea of defining the delivery spec in the channel level and with an option to be able to override them in the subscriptions. ...but what I understand is that this is never implemented.

[2020-09-16 07:22] aliok commented on #4057
Now I checked the 0.15 and 0.16 branches to see if it was used before and if we mistakenly deleted its usages while updating the reconcilers. But, nope, it was not used previously as well.

[2020-09-16 07:52] matzew commented on #4057
I don't have exact references, but recall that @aliok had some problems regarding this

[2020-09-16 12:10] #4038 closed

[2020-09-16 12:10] knative-test-reporter-robot opened #4058 "[flaky] test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1/min-event_encoding_structured_version_1.0"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/Channel-messaging.knative.dev/v1/min-event_encoding_structured_version_1.0
* **Repository name**: eventing

[2020-09-16 12:11] #4039 closed

[2020-09-16 12:11] #4040 closed

[2020-09-16 12:11] knative-test-reporter-robot opened #4059 "[flaky] test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-09-16 12:11] #4041 closed

[2020-09-16 15:12] vaikas commented on #3569
Failed with:
[code]

[2020-09-16 17:05] vaikas commented on #4016
You can certainly try the .17.X releases to see if things have been fixed there. What happens if you just create a Broker like this:
kubectl create -f - <<EOF
apiVersion: eventing.knative.dev/v1
kind: Broker
metadata:
  name: default
  namespace: reprobroker
EOF

Does that become ready? If not, can you send the logs again?

Then if it does work, maybe just run a single test like:
go test -v -tags=

[2020-09-17 12:11] knative-test-reporter-robot opened #4063 "[flaky] test/conformance.TestSourceCRDMetadata/ContainerSource-sources.knative.dev/v1alpha2/Source_CRD_has_required_label"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestSourceCRDMetadata/ContainerSource-sources.knative.dev/v1alpha2/Source_CRD_has_required_label
* **Repository name**: eventing

[2020-09-17 12:12] knative-test-reporter-robot opened #4064 "[flaky] test/conformance.TestSourceCRDMetadata/ApiServerSource-sources.knative.dev/v1beta1/Source_CRD_has_required_label"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestSourceCRDMetadata/ApiServerSource-sources.knative.dev/v1beta1/Source_CRD_has_required_label
* **Repository name**: eventing

[2020-09-17 12:12] knative-test-reporter-robot opened #4065 "[flaky] test/e2e.TestBrokerChannelFlowTriggerV1Beta1BrokerV1Beta1/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowTriggerV1Beta1BrokerV1Beta1/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-09-17 12:12] knative-test-reporter-robot opened #4066 "[flaky] test/conformance.TestSourceCRDMetadata/PingSource-sources.knative.dev/v1beta1/Source_CRD_has_required_label"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestSourceCRDMetadata/PingSource-sources.knative.dev/v1beta1/Source_CRD_has_required_label
* **Repository name**: eventing

[2020-09-17 17:57] lberk commented on #3965
Reviewing the last 7 days of flakiness on testgride, continuously we're at a ~0.5% failure rate.  Closing this issue for now and will let prow open another one if required

[2020-09-17 17:57] #3965 closed

[2020-09-17 19:35] ntzlqx opened #4070 "Kafka channel dispatcher logs HTTP error 502 on malformed response from an event handling client function"
**Describe the bug**
The issue does not result in a real failure if the response is not meaningful, but creates confusion in logs and traces.
There is an explicit conversion in code of a http status code 200 to 502 without some additional logging context

 **Expected behavior**
Clear indication that the client function responded with a malformed cloudevent

 **To Reproduce**
Respond from a kn hand

[2020-09-17 19:35] ntzlqx opened #4071 "Kafka channel dispatcher logs HTTP error 502 on malformed response from an event handling client function"
**Describe the bug**
The issue does not result in a real failure if the response is not meaningful, but creates confusion in logs and traces.
There is an explicit conversion in code of a http status code 200 to 502 without some additional logging context

 **Expected behavior**
Clear indication that the client function responded with a malformed cloudevent

 **To Reproduce**
Respond from a kn hand

[2020-09-18 10:18] pierDipi opened #4073 "Use WaitForPodRunning instead of WaitForResourceReady on pods"
## Problem

Since conformance tests cannot be run for non-channel based brokers, we copy-pasted them in https://github.com/knative-sandbox/eventing-kafka-broker, and we started to observe flaky tests.
After digging we found out that the use of ` WaitForResourceReady` on pods makes our tests flaky, see https://github.com/knative-sandbox/eventing-kafka-broker/pull/183, discussion, and [diff](https:/

[2020-09-18 12:15] knative-test-reporter-robot opened #4074 "[flaky] test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1Beta1/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1Beta1/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-09-18 12:15] knative-test-reporter-robot opened #4075 "[flaky] test/conformance.TestChannelStatus/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatus/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-09-18 12:15] knative-test-reporter-robot opened #4076 "[flaky] test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1Beta1/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1Beta1/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-09-18 12:15] knative-test-reporter-robot opened #4077 "[flaky] test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1Beta1/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1Beta1/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-09-18 12:15] knative-test-reporter-robot opened #4078 "[flaky] test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1/full-event_encoding_binary_version_1.0"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1/full-event_encoding_binary_version_1.0
* **Repository name**: eventing

[2020-09-18 12:15] knative-test-reporter-robot opened #4079 "[flaky] test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1Beta1/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1Beta1/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-09-18 12:15] knative-test-reporter-robot opened #4080 "[flaky] test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1Beta1/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1Beta1/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-09-18 12:15] #4058 closed

[2020-09-18 12:15] knative-test-reporter-robot opened #4081 "[flaky] test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1/full-event_encoding_binary_version_0.3"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1/full-event_encoding_binary_version_0.3
* **Repository name**: eventing

[2020-09-18 12:35] lionelvillard commented on #4073
Could we also fix WaitForResourceReady to work on pods and get rid of WaitForPodRunning?

[2020-09-18 12:56] pierDipi commented on #4073
That could be another option, but I've not identified the root cause.

[2020-09-18 15:39] ntzlqx commented on #4071
/approve

[2020-09-18 15:40] ntzlqx commented on #4071
Thank you guys!

[2020-09-18 17:59] #4071 closed

[2020-09-19 12:15] #4006 closed

[2020-09-19 12:15] #4003 closed

[2020-09-19 12:15] #4066 closed

[2020-09-19 12:15] knative-test-reporter-robot opened #4085 "[flaky] test/e2e.TestPingSourceV1Alpha2EventTypes"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestPingSourceV1Alpha2EventTypes
* **Repository name**: eventing

[2020-09-19 12:15] #4001 closed

[2020-09-19 12:15] #4064 closed

[2020-09-19 12:15] knative-test-reporter-robot opened #4086 "[flaky] test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1/full-event_encoding_structured_version_0.3"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1/full-event_encoding_structured_version_0.3
* **Repository name**: eventing

[2020-09-19 12:15] #4005 closed

[2020-09-19 12:15] #4065 closed

[2020-09-19 12:16] #4063 closed

[2020-09-20 12:11] #4081 closed

[2020-09-20 12:11] #4077 closed

[2020-09-20 12:11] #4074 closed

[2020-09-20 12:11] #4080 closed

[2020-09-20 12:12] #4079 closed

[2020-09-20 12:12] #4078 closed

[2020-09-20 12:12] #4076 closed

[2020-09-20 12:12] #3490 closed

[2020-09-21 06:22] nailushapotnuru commented on #4016
@vaikas,  Thanks for your response!
Even with the latest eventing git version 0.17.2 e2e tests are failing for power architecture.
Broker pods are not creating for me when I tried as above.
Please find the mt-broker-controller logs attached and let me know your suggestions.

[mt-broker-controller-6dd59d6fc8-25gb7.log](https://github.com/knative/eventing/files/5253713/mt-broker-controller-6dd59d6fc

[2020-09-21 09:10] matzew commented on #4016
@nailushapotnuru hello,

have you tried applying these yamls:
* https://raw.githubusercontent.com/openshift/knative-eventing/release-v0.17.2/openshift/release/knative-eventing-ci.yaml
* https://raw.githubusercontent.com/openshift/knative-eventing/release-v0.17.2/openshift/release/knative-eventing-mtbroker-ci.yaml

[2020-09-21 12:11] knative-test-reporter-robot opened #4087 "[flaky] 1.55% tests failed in repo eventing on 2020-09-21 08:55:00 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.55% tests failed in repo eventing on 2020-09-21 08:55:00 +0000 UTC
* **Repository name**: eventing

[2020-09-21 16:03] nailushapotnuru commented on #4016
@matzew , Yes I have installed eventing using the above yaml as well, But still the e2e tests fails with the below error logs.
[eventingci.log](https://github.com/knative/eventing/files/5256640/eventingci.log)

[2020-09-21 16:14] vaikas commented on #4016
Can you create a broker like this:
[code]

And then see what state it goes in. I'm trying to just simplify and see if anything works :)

Then dump it:
kubectl get brokers brokertest -oyaml

After waiting a little bit to give it time to reconcile.

[2020-09-21 20:15] aliok commented on #4057
/assign

I will try to gather some information about this one:
- Is this there because of the contract in the spec doc?
- No wants this feature or nobody wants to implement it?

[2020-09-21 20:25] lberk commented on #4055
@cr22rc just a heads up -- pkg cut is happening tomorrow (sept 22nd, 2020), so we need to make sure this gets in soon to meet the v0.18.0 release deadline

[2020-09-21 20:29] lberk commented on #4051
@yuchunyu97 are you able to reproduce this with master? #4009 may have fixed this.

[2020-09-21 20:33] lberk commented on #4050
We should (at some point) categorise the tests that we want to migrate and if there are any we want to leave as is.  Once that takes place we can break this issue out further to good first issues

[2020-09-21 20:39] lberk commented on #3993
@nachocano have you had time to take a look into this?  Is this issue still valid?

[2020-09-22 06:14] nailushapotnuru commented on #4016
@vaikas ,
Here is the output of "kubectl get brokers brokertest -oyaml"

[code]
Please find the pod logs of mt-broker-controller:
[mt-broker-controller-589f57b6f6-m7m5s.log](https://github.com/knative/eventing/files/5259440/mt-broker-controller-589f57b6f6-m7m5s.log)

[2020-09-22 06:52] aliok commented on #4057
Some info:
- This was introduced some time ago to support the idea of defining the delivery config in the channel and being able to override it in the subscriber level
- The channel spec doesn't talk about this: https://github.com/knative/eventing/blob/master/docs/spec/channel.md/spec.md#kind-channel, the API reference also doesn't talk about this: https://github.com/knative/eventing/blob/master/d

[2020-09-22 06:59] aliok opened #4092 "Update object model spec with v1 api"
**Describe the bug**
https://github.com/knative/eventing/blob/master/docs/spec/spec.md talks about v1beta1 API.

 **Expected behavior**
https://github.com/knative/eventing/blob/master/docs/spec/spec.md talks about v1 API :)

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative release version**

 **Additional context**
Add any other context about the problem here such as proposed priorit

[2020-09-22 07:02] slinkydeveloper commented on #4057
@aliok since nobody implemented it, nobody is using it, so perhaps can we just remove it from v1 apis?

[2020-09-22 07:04] aliok commented on #4057
That's also an option. I will bring this in today's Event Delivery WG.

[2020-09-22 07:23] Harwayne commented on #3686
Just noticed this again: https://prow.knative.dev/view/gs/knative-prow/logs/ci-knative-eventing-0.17-dot-release/1305801172795265025

[code]

Although, distinct from the previous instance, it looks like this one was reconciled, roughly one second after it was created.

[code]

[2020-09-22 07:43] pierDipi commented on #4073
/assign

[2020-09-22 12:13] #4086 closed

[2020-09-22 12:13] #4085 closed

[2020-09-22 12:13] knative-test-reporter-robot opened #4094 "[flaky] test/conformance.TestChannelStatus/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatus/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-09-22 15:56] Harwayne commented on #4057
I don't think we can remove it from the v1 API.

---

In the Event Delivery we WG agreed to implement this, rather than removing it from the API. The first step will be defining exactly how the Delivery Specs interact with each other. E.g. if there is a delivery spec on the Channel and the Subscription, does one override the either entirely? Do they merge? If so, how? Similarly, if there is a Deli

[2020-09-22 19:54] aliok commented on #4094
[code]

We create the channel and then wait until it is ready.
[code]

Later we fetch it and check if the field `status.address` is present. In this case, it is not present.

So, there's a race here. The resource is sometimes marked as `Ready` before `status.address` is set.

I would like to give this a try, but I don't have time at the moment.

[2020-09-23 11:29] #4028 closed

[2020-09-23 12:14] knative-test-reporter-robot opened #4103 "[flaky] test/conformance.TestBrokerV1Beta1DataPlaneIngress"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerV1Beta1DataPlaneIngress
* **Repository name**: eventing

[2020-09-23 12:36] pierDipi commented on #4103
[code]
related: https://github.com/knative/eventing/issues/3570

[2020-09-23 17:23] rhuss opened #4106 "SinkBinding doesn't work with KServices that uses BYO revision names"
**Describe the bug**

When using a  `SinkBinding` with a Knative Service as subject that uses BYO revision names (i.e. setting the revision name from the client), then no `K_SINK` environment variable is injected to the KService.

 **Expected behavior**

`K_SINK` should be injected to the Pod Template as a container env var regardless whether a Knative Service is configured for BYO revision names

[2020-09-23 17:24] rhuss commented on #4106
See also discussion at https://knative.slack.com/archives/C9JP909F0/p1600876741003800

[2020-09-23 17:43] evankanderson commented on #4106
This is probably a serving, rather than eventing, issue -- it would apply equally to a hypothetical `OsbBinding` which set the `VCAP_SERVICES` environment variable on a Knative Service which was in the "BYO revision" mode.

I wonder if the best solution would be to clear `spec.template.metadata.name` on the resource before applying the patch, or adding a default to clear that field into the patch

[2020-09-23 21:30] #4073 closed

[2020-09-23 22:29] antoineco commented on #2949
obsolete

[2020-09-23 22:29] #2949 closed

[2020-09-24 16:11] tommyreddad commented on #2841
To clarify, it sounds to me like this issue calls for the following modifications:

1. A ConfigMap, e.g., `config-perf`, which specifies an addressable `sink` for events to be sent to during performance tests, and the `pace` at which events should be delivered.
2. An agnostic performance test job runner yaml, which should not need to be modified between tests, and which instead mounts `config-perf

[2020-09-24 16:28] ntzlqx opened #4111 "KafkaChannel dispatcher is not retrying according to the provided event delivery spec"
**Describe the bug**
Attempted to set reties for failed requests on the KafkaChannel backed broker. Issued cloud events that resulted in a 400 and
500 in the triggered function. No reties occurred.
 **Expected behavior**
The function handler is triggered the number of times with the configured delay according to the provided spec

 **To Reproduce**
Set up the following broker event delivery spec:

[2020-09-24 20:26] pierDipi commented on #4111
/assign

[2020-09-24 20:49] travis-minke-sap opened #4113 "Incorrect exponential backoff algorithm in RetryConfigFromDeliverySpec()"
**Describe the bug**
The default exponential backoff algorithm defined in `RetryConfigFromDeliverySpec()` is incorrect and does not implement the advertised calculation from `DeliverySpec.BackoffDelay`.  Instead of implementing `backoffDelay*2^<numberOfRetries>` as advertised, it is coded as `(backoffDelay*2)^<numberOfRetries>`.

Not only does this not operate as expected, but results in negative

[2020-09-24 20:49] travis-minke-sap commented on #4113
/assign @travis-minke-sap

[2020-09-24 21:59] #4113 closed

[2020-09-25 12:11] knative-test-reporter-robot opened #4119 "[flaky] test/e2e.TestSingleStructuredEventForChannelV1Beta1/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleStructuredEventForChannelV1Beta1/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-09-25 12:11] knative-test-reporter-robot opened #4120 "[flaky] test/e2e.TestSingleStructuredEventForChannelV1Beta1/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleStructuredEventForChannelV1Beta1/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-09-25 12:11] knative-test-reporter-robot opened #4121 "[flaky] test/e2e.TestSingleStructuredEventForChannelV1Beta1/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleStructuredEventForChannelV1Beta1/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-09-25 12:11] knative-test-reporter-robot opened #4122 "[flaky] test/e2e.TestSingleStructuredEventForChannelV1Beta1/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleStructuredEventForChannelV1Beta1/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-09-25 12:11] #4103 closed

[2020-09-25 14:11] markusthoemmes opened #4124 "Track master terminology due to Kubernetes roles"
We currently have to resort to master terminology due to K8s naming choices.

See
https://github.com/knative/eventing/blob/f1a586b34f23dbb9e7c4ee6b4fd378d9b6a25e3c/test/lib/nodes/nodes_test.go#L34

Upstream is tracking to remove this, so we should consume once ready: https://github.com/kubernetes/kubeadm/issues/2200

[2020-09-25 19:00] grantr opened #4125 "Broker spec doesn't specify HTTP status codes from consumer"
**Describe the bug**
The Broker spec isn't clear about what HTTP status codes consumers should use.

 **Expected behavior**
It is clear to readers which status codes should be used to indicate success or failure.

[2020-09-25 20:48] grantr opened #4127 "Make reply safe to use"
**Problem**
Currently a consumer can't tell if an event is being sent by a source that doesn't support reply or a broker/channel that does. If the consumer needs to reply as part of its success criteria, it can't know for sure whether the reply will be handled successfully.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event consumer (developer)

**Exit Criteria

[2020-09-26 12:13] knative-test-reporter-robot opened #4128 "[flaky] test/conformance.TestChannelCRDMetadata/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelCRDMetadata/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-09-26 12:13] knative-test-reporter-robot opened #4129 "[flaky] test/conformance.TestChannelCRDMetadata/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelCRDMetadata/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-09-26 12:13] knative-test-reporter-robot opened #4130 "[flaky] test/conformance.TestChannelCRDMetadata/Channel_CRD_has_required_label#03"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelCRDMetadata/Channel_CRD_has_required_label#03
* **Repository name**: eventing

[2020-09-26 12:14] knative-test-reporter-robot opened #4131 "[flaky] test/conformance.TestChannelCRDMetadata/Channel_is_namespaced#03"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelCRDMetadata/Channel_is_namespaced#03
* **Repository name**: eventing

[2020-09-26 12:14] knative-test-reporter-robot opened #4132 "[flaky] test/conformance.TestBrokerV1Beta1DataPlaneConsumer/MTChannelBasedBroker-eventing.knative.dev/v1beta1/Events_are_filtered"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerV1Beta1DataPlaneConsumer/MTChannelBasedBroker-eventing.knative.dev/v1beta1/Events_are_filtered
* **Repository name**: eventing

[2020-09-26 12:14] knative-test-reporter-robot opened #4133 "[flaky] test/conformance.TestChannelCRDMetadata/Channel_CRD_has_required_label#04"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelCRDMetadata/Channel_CRD_has_required_label#04
* **Repository name**: eventing

[2020-09-26 12:14] knative-test-reporter-robot opened #4134 "[flaky] test/conformance.TestChannelCRDMetadata/Channel_is_namespaced#01"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelCRDMetadata/Channel_is_namespaced#01
* **Repository name**: eventing

[2020-09-26 12:14] knative-test-reporter-robot opened #4135 "[flaky] test/conformance.TestChannelCRDMetadata/Channel_CRD_has_required_label"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelCRDMetadata/Channel_CRD_has_required_label
* **Repository name**: eventing

[2020-09-26 12:14] knative-test-reporter-robot opened #4136 "[flaky] test/conformance.TestChannelCRDMetadata/Channel_is_namespaced#02"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelCRDMetadata/Channel_is_namespaced#02
* **Repository name**: eventing

[2020-09-26 12:14] knative-test-reporter-robot opened #4137 "[flaky] test/conformance.TestChannelCRDMetadata/Channel_CRD_has_required_label#05"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelCRDMetadata/Channel_CRD_has_required_label#05
* **Repository name**: eventing

[2020-09-26 12:14] knative-test-reporter-robot opened #4138 "[flaky] test/conformance.TestChannelCRDMetadata/Channel_CRD_has_required_label#02"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelCRDMetadata/Channel_CRD_has_required_label#02
* **Repository name**: eventing

[2020-09-26 12:14] knative-test-reporter-robot opened #4139 "[flaky] test/conformance.TestChannelCRDMetadata/Channel_CRD_has_required_label#01"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelCRDMetadata/Channel_CRD_has_required_label#01
* **Repository name**: eventing

[2020-09-26 12:14] knative-test-reporter-robot opened #4140 "[flaky] test/conformance.TestChannelCRDMetadata/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelCRDMetadata/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-09-26 12:14] knative-test-reporter-robot opened #4141 "[flaky] test/conformance.TestChannelCRDMetadata/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelCRDMetadata/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-09-26 12:14] knative-test-reporter-robot opened #4142 "[flaky] test/conformance.TestChannelCRDMetadata/Channel_CRD_has_required_label#07"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelCRDMetadata/Channel_CRD_has_required_label#07
* **Repository name**: eventing

[2020-09-26 12:14] knative-test-reporter-robot opened #4143 "[flaky] test/conformance.TestChannelCRDMetadata/Channel_is_namespaced"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelCRDMetadata/Channel_is_namespaced
* **Repository name**: eventing

[2020-09-26 12:14] knative-test-reporter-robot opened #4144 "[flaky] test/conformance.TestChannelCRDMetadata/Channel_CRD_has_required_label#06"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelCRDMetadata/Channel_CRD_has_required_label#06
* **Repository name**: eventing

[2020-09-27 12:12] knative-test-reporter-robot opened #4145 "[flaky] test/conformance.TestChannelStatus/Channel_has_required_status_fields#03"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatus/Channel_has_required_status_fields#03
* **Repository name**: eventing

[2020-09-28 12:12] knative-test-reporter-robot opened #4146 "[flaky] test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1beta1/full-event_encoding_structured_version_1.0"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelDataPlaneSuccess/InMemoryChannel-messaging.knative.dev/v1beta1/full-event_encoding_structured_version_1.0
* **Repository name**: eventing

[2020-09-28 12:12] #4136 closed

[2020-09-28 12:12] knative-test-reporter-robot opened #4147 "[flaky] test/e2e.TestBrokerRedelivery"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerRedelivery
* **Repository name**: eventing

[2020-09-28 12:12] #4133 closed

[2020-09-28 12:12] #4143 closed

[2020-09-28 12:13] #4144 closed

[2020-09-28 12:13] #4130 closed

[2020-09-28 12:13] #4134 closed

[2020-09-28 12:13] #4139 closed

[2020-09-28 12:13] #4132 closed

[2020-09-28 12:13] knative-test-reporter-robot opened #4148 "[flaky] test/e2e.TestBrokerRedelivery/Channel-messaging.knative.dev/v1/fibonacci"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerRedelivery/Channel-messaging.knative.dev/v1/fibonacci
* **Repository name**: eventing

[2020-09-28 12:13] #4137 closed

[2020-09-28 12:13] #4142 closed

[2020-09-28 12:13] #4027 closed

[2020-09-28 12:13] #4135 closed

[2020-09-28 12:13] #4131 closed

[2020-09-28 12:13] #4004 closed

[2020-09-28 12:13] #4141 closed

[2020-09-28 12:13] knative-test-reporter-robot opened #4149 "[flaky] test/e2e.TestEventTransformationForTriggerV1BrokerV1/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1BrokerV1/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-09-28 12:13] knative-test-reporter-robot opened #4150 "[flaky] test/e2e.TestEventTransformationForTriggerV1BrokerV1/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1BrokerV1/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-09-28 12:13] #4140 closed

[2020-09-28 12:13] knative-test-reporter-robot opened #4151 "[flaky] test/e2e.TestEventTransformationForTriggerV1BrokerV1/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1BrokerV1/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-09-28 12:13] #4138 closed

[2020-09-28 12:13] #4129 closed

[2020-09-28 12:13] knative-test-reporter-robot opened #4152 "[flaky] test/e2e.TestEventTransformationForTriggerV1BrokerV1/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1BrokerV1/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-09-28 12:13] #4128 closed

[2020-09-28 12:30] vaikas opened #4153 "20200928 Nightly release failure"
**Describe the bug**
Nightly release failed 20200928

https://prow.knative.dev/view/gs/knative-prow/logs/ci-knative-eventing-nightly-release/1310508020312051712

[code]

But it's there from the looks of it:
[code]

Mayhaps related to:
https://github.com/knative/eventing/issues/3686

A clear and concise description of what the bug is.

 **Expected behavior**
Nightly release not to fail.

 **To Repr

[2020-09-28 20:41] capri-xiyue opened #4155 "Request for sources.knative.dev api feedback for v1beta1 --> v1"
We are looking at moving the sources api to v1

This is a request for any feedback or changes needed for the following resources:

- ApiServerSource
- ContainerSource
- PingSource
- SinkBinding

[2020-09-28 20:46] capri-xiyue commented on #4155
/area sources

[2020-09-28 20:46] capri-xiyue commented on #4155
/area api

[2020-09-28 20:46] capri-xiyue commented on #4155
/priority important-soon

[2020-09-28 20:47] capri-xiyue commented on #4155
/remove-area feature-request

[2020-09-28 20:47] capri-xiyue commented on #4155
/remove-kind feature-request

[2020-09-28 20:48] capri-xiyue commented on #4155
fyi @nachocano

[2020-09-29 12:12] knative-test-reporter-robot opened #4157 "[flaky] test/conformance.TestChannelStatus/Channel_has_required_status_fields#01"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatus/Channel_has_required_status_fields#01
* **Repository name**: eventing

[2020-09-29 12:12] knative-test-reporter-robot opened #4158 "[flaky] test/conformance.TestChannelStatus/Channel_has_required_status_fields"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatus/Channel_has_required_status_fields
* **Repository name**: eventing

[2020-09-29 12:12] knative-test-reporter-robot opened #4159 "[flaky] test/conformance.TestChannelStatus/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatus/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-09-29 13:16] runzexia commented on #2884
Is there anyone still dealing with this problem? If not, I could help.

[2020-09-29 13:27] lionelvillard commented on #2884
/unassign @odacremolbap
/assign @runzexia

Thanks @runzexia for taking a look at this one!

[2020-09-29 14:46] runzexia commented on #3865
Interested in this
/assign

[2020-09-29 19:34] ian-mi opened #4163 "Webhook Certs Should be Created Before Webhook"
**Describe the bug**
If the eventing-webhook deployment is created before the the eventing-webhook-certs secret, the pod will crash with an error such as

 **Expected behavior**
The eventing-webhook-certs secret should be ordered so that it is always created before the eventing-webhook deployment.

 **To Reproduce**
Apply the eventing release yaml sufficiently many times to reproduce this error.

[2020-09-29 21:48] ian-mi opened #4165 "Webhook Can Enter Infinite Crashloop"
**Describe the bug**
The eventing-webhook will continually crash with errors such as

The eventing-webhook-certs secret remains unpopulated and does not appear to get reconciled by the webhook.

 **Expected behavior**
The webhook certificate reconciler should populate the secret on startup.

 **To Reproduce**
This occurs some small percentage of the time when applying the release yaml.

 **Knative

[2020-09-29 21:57] ian-mi commented on #4163
This doesn't appear to be the root cause, see #4165.

[2020-09-29 21:57] #4163 closed

[2020-09-29 22:19] ian-mi commented on #4165
This scenario appears to occur when the webhook must obtain a previously held leader lease but the eventing-webhook-certs has not yet been reconciled. In this case the webhook will shutdown before the leader lease can be acquired and the cert can be reconciled.

[2020-09-29 22:22] capri-xiyue opened #4166 "Move APIServerSource to v1"
**Problem**
We need to promote APIServerSource to v1.
Some tasks this will entail, and can probably be done in different PRs.

- [x] - v1 types with UTs
- [x] - add new version to CRD
- [x] - defaulting and conversion webhook
- [x] - Update docs and examples (most in knative/docs)
- [x] - Migrate reconciler to v1 with UTs
- [x] - Update e2e tests to use v1
- [x] - Create issue to make v1 the stora

[2020-09-29 22:26] capri-xiyue opened #4167 "Move PingSource to v1beta2"
**Problem**
We need to promote PingSource to v1beta2.
Some tasks this will entail, and can probably be done in different PRs.

- [ ] - v1beta2 types with UTs
- [ ] - add new version to CRD
- [ ] - defaulting and conversion webhook
- [ ] - Update docs and examples (most in knative/docs)
- [ ] - Migrate reconciler to v1beta2 with UTs
- [ ] - Update e2e tests to use v1beta2
- [ ] - Create issue to ma

[2020-09-29 23:18] lionelvillard commented on #4167
/cc @cr22rc @duglin

[2020-09-30 00:00] capri-xiyue commented on #4166
/assign @capri-xiyue

[2020-09-30 06:52] FWiesner opened #4170 "When releasing new minor versions, please include a Knative Operator CR file with the new image sha256s"
**Problem**
there was a release of Eventing yesterday that is not yet reflected in a new seed on the operator. The operator should not even need a new seed, if the Eventing release page had an appropriate `KnativeEventing` CR document.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event Consumer in my case

**Exit Criteria**
When a new Eventing release comes out

[2020-09-30 07:18] vaikas commented on #4170
Discussed offline, we could produce an additional release artifact, say a text file that would include each of the released images with their SHAs, something like this:

[code]

and so forth. Did I get that right @FWiesner

[2020-09-30 07:21] FWiesner commented on #4170
yes @vaikas

[2020-09-30 08:07] FWiesner commented on #4170
actually, I think this won't suffice as then I can have the new images, but wat if configuration changes happened. I think the only real viable alternative is to have a new CRD for the operator that describes Eventing and Serving loads that can be deployed, similar to what https://github.com/knative/operator/tree/master/cmd/operator/kodata/knative-eventing contains as directories with files

[2020-09-30 12:12] #4149 closed

[2020-09-30 12:12] #4152 closed

[2020-09-30 12:12] #3708 closed

[2020-09-30 12:12] #4150 closed

[2020-09-30 12:12] #4151 closed

[2020-09-30 12:12] #4148 closed

[2020-09-30 12:13] #4059 closed

[2020-09-30 12:13] #4146 closed

[2020-09-30 12:13] #3569 closed

[2020-09-30 12:21] #2884 closed

[2020-09-30 12:54] runzexia commented on #2884
/reopen

[2020-09-30 12:59] nailushapotnuru commented on #4016
Could some one help me with the test errors for testsuite: "TestPingSourceV1Alpha2", some of my test cases are failing with the same error.
[code]

Architecture: ppc64le
OCP version: 4.5
knative-eventing: v0.16.1
[code]
Command executed:
[code]
Please find the test logs attached below:
[TestPingSourceV1Alpha2.log](https://github.com/knative/eventing/files/5305571/TestPingSourceV1Alpha2.log)

[2020-09-30 13:13] lionelvillard commented on #4016
Can you dump the pingsource-mt-adapter-6f5c79f96c-hbg6v logs?

[2020-09-30 13:26] nailushapotnuru commented on #4016
Please find the ping source pod logs:

[pingsource-mt-adapter-6f5c79f96c-hbg6v.log](https://github.com/knative/eventing/files/5305806/pingsource-mt-adapter-6f5c79f96c-hbg6v.log)

[2020-09-30 14:12] lionelvillard commented on #4016
@nailushapotnuru thanks! Looks like a permission issue. Can you check this clusterrole exists in your cluster: https://github.com/knative/eventing/blob/v0.16.1/config/core/roles/pingsource-mt-adapter-clusterrole.yaml ?

[2020-09-30 14:13] lionelvillard commented on #4016
how did you install knative ?

[2020-09-30 14:24] nailushapotnuru commented on #4016
@lionelvillard , thanks for looking into the issue
I have installed eventing using the below yamls:

kubectl apply -f https://github.com/knative/eventing/releases/download/v0.16.1/eventing-core.yaml \
-f https://github.com/knative/eventing/releases/download/v0.16.1/eventing-crds.yaml \
-f https://github.com/knative/eventing/releases/download/v0.16.1/eventing-sugar-controller.yaml \
-f https://gith

[2020-09-30 14:37] FWiesner opened #4172 "config-br-defaults should support setting delivery spec defaults"
**Problem**
No way to set delivery spec defaults today

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event Consumer

**Exit Criteria**
Update `config-br-defaults` and set delivery spec defaults (retry). Label a new namespace with `knative-eventing-injection: enabled` and see the Sugar Controller create a new broker with retry enabled (pass) or not (no pass)

**T

[2020-09-30 14:41] nailushapotnuru commented on #4016
Now I have tried applying this yaml but failed with below error:
[code]

[2020-09-30 14:42] lionelvillard commented on #4016
Please check `knative-eventing-pingsource-mt-adapter` ClusterRole. You should see this:

[code]

[2020-09-30 14:46] nailushapotnuru commented on #4016
Please find the ClusterRole below:
[code]

[2020-09-30 14:58] lionelvillard commented on #4016
`pingsource-mt-adapter-clusterrole.yaml` does not have 128 lines. What's its content?

[2020-09-30 15:03] nailushapotnuru commented on #4016
Sorry I tried to download the file and apply it, It didn't download correctly.
Now I am able to apply the yaml file.
[code]

[2020-09-30 17:10] matzew commented on #3874
/assign @matzew

[2020-09-30 18:25] capri-xiyue opened #4175 "Move ContainerSource to v1"
**Problem**
We need to promote ContainerSource to v1.
Some tasks this will entail, and can probably be done in different PRs.

- [x] - v1 types with UTs
- [x] - add new version to CRD
- [x] - defaulting and conversion webhook
- [x] - Update docs and examples (most in knative/docs)
- [x] - Migrate reconciler to v1 with UTs
- [x] - Update e2e tests to use v1
- [x] - Create issue to make v1 the stora

[2020-09-30 18:29] capri-xiyue opened #4176 "Move Sinkbiding to v1"
Problem
We need to promote Sinkbiding to v1.
Some tasks this will entail, and can probably be done in different PRs.

- [x]  - v1 types with UTs
- [x]  - add new version to CRD
- [x]  - defaulting and conversion webhook
- [x]  - Update docs and examples (most in knative/docs)
- [x]  - Migrate reconciler to v1 with UTs
- [x]  - Update e2e tests to use v1
- [x]  - Create issue to make v1 the storage

[2020-09-30 21:22] capri-xiyue commented on #3628
closed via https://github.com/knative/eventing/pull/4169

[2020-09-30 21:22] #3628 closed

[2020-09-30 23:41] capri-xiyue opened #4180 "ApiServerSource should set Status.Ce Attributes based on the mode"
**Describe the bug**
Now ApiServerSourcewill set in the status the 6 EventTypes. It should only set the three that correspond to the mode. Say you configure the mode to be ref, we should just set the add, update, delete event types that belong to ref. Not the ones from resource

 **Expected behavior**
ApiServerSource should set Status.Ce Attributes based on the mode

 **To Reproduce**
Create a Api

[2020-09-30 23:41] capri-xiyue commented on #4180
![Uploading Screen Shot 2020-09-30 at 4.38.47 PM.png…]()

[2020-09-30 23:42] capri-xiyue commented on #4180
<img width="1436" alt="Screen Shot 2020-09-30 at 4 42 17 PM" src="https://user-images.githubusercontent.com/52932582/94750865-f13a0f80-033b-11eb-9c09-e7b52eba7158.png">
The EventType set in the status should be based on the mode of ApiServerSource

[2020-10-01 01:17] #3097 closed

[2020-10-01 01:17] #2728 closed

[2020-10-01 01:17] #1712 closed

[2020-10-01 08:41] #4170 closed

[2020-10-01 09:21] vaikas commented on #3686
Just jotting down what I'm looking at, maybe useful, maybe not:

[code]

Drilling through these, they are both using the dynamicclient to get the resources:
https://github.com/knative/eventing/blob/20d1e7a1483aed28caf95c25c38a02cd85025c02/test/lib/duck/resource_getters.go#L59

Waitforresourceready goes here:
https://github.com/knative/eventing/blob/20d1e7a1483aed28caf95c25c38a02cd85025c02/test/lib

[2020-10-01 10:07] #4165 closed

[2020-10-01 10:34] vaikas commented on #3686
Looking more at @Harwayne last failure and digging into that. The object that we get from the dynamic client for address URL is:
[code]
And in particular the version it got is: `ResourceVersion:31100`
and for completeness, uid is: `UID:02e1525e-9079-4166-bb36-70fc818ff957`

But the resourceversion of the cleaned resource is;
[code]

The resourceversion is different:
            "resourceVersion":

[2020-10-01 12:12] knative-test-reporter-robot opened #4183 "[flaky] test/upgrade.TestPostUpgrade"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestPostUpgrade
* **Repository name**: eventing

[2020-10-01 12:12] knative-test-reporter-robot opened #4184 "[flaky] test/upgrade.TestPostUpgrade/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestPostUpgrade/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-10-01 12:12] knative-test-reporter-robot opened #4185 "[flaky] test/e2e.TestBrokerRedelivery/InMemoryChannel-messaging.knative.dev/v1/fibonacci"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerRedelivery/InMemoryChannel-messaging.knative.dev/v1/fibonacci
* **Repository name**: eventing

[2020-10-01 12:12] knative-test-reporter-robot opened #4186 "[flaky] test/upgrade.TestContinuousEventsPropagationWithProber"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestContinuousEventsPropagationWithProber
* **Repository name**: eventing

[2020-10-01 12:52] vaikas commented on #3686
more logs, why not, But it's with the minimal repro, chaos is not running on my cluster, etc. so something is flaky there for sure.

[code]

Resource versions on failure: 127267425
Resource versions when dumping: 127267431

But now we see (or I think I see...) something interesting on the controller logs:

[code]

[2020-10-01 13:29] vaikas commented on #3686
So, my guess is that the resource goes ready and the check for if the resource is ready gets version 16 which is indeed ready, but then for some reason it gets reconciled and the address check looks at it version ...25 and it's not ready nor does it have address. What's really troubling to me is that when it does go ready, when we reconcile it all over again, but it almost (it's getting late and I

[2020-10-01 17:48] capri-xiyue opened #4189 "Make ApiServerSource v1 the stored version and add a migration tool"
**Problem**
In 0.19, we promoted ApiServerSource to v1.
This is to track that we should make v1 the storage version for 0.20, and we should add a migration tool for it.
Similar to: https://github.com/knative/eventing/blob/master/config/pre-install/v0.16.0/storage-version-migration.yaml.
(May need to avoid using pre-install and try to use post-install)

**[Persona:](https://github.com/knative/event

[2020-10-01 18:57] tommyreddad commented on #2841
My last comment should be generally ignored: the whole testing framework is being reworked. The new framework should be more dev-friendly for performance testing, and in particular should allow for easy configurability and running performance tests on existing objects in existing clusters. This conversation is still in early stages with the enhanced testing task force.

[2020-10-01 19:20] tommyreddad commented on #3686
I pretty-printed a successful and failed run for the sake of comparison.

<details>
<summary>A successful run:</summary>

[code]
</details>

<details>
<summary>A failed run:</summary>

[code]
</details>

[2020-10-01 22:02] capri-xiyue commented on #4180
/assign @capri-xiyue

[2020-10-01 22:34] #3874 closed

[2020-10-02 12:12] knative-test-reporter-robot opened #4195 "[flaky] test/conformance.TestChannelStatusSubscriber/Channel_has_required_status_subscriber_fields"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatusSubscriber/Channel_has_required_status_subscriber_fields
* **Repository name**: eventing

[2020-10-02 12:12] knative-test-reporter-robot opened #4196 "[flaky] test/conformance.TestChannelStatusSubscriber/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatusSubscriber/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-10-03 12:13] knative-test-reporter-robot opened #4200 "[flaky] test/e2e.TestSequence/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSequence/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-10-03 12:13] knative-test-reporter-robot opened #4201 "[flaky] test/e2e.TestSequence/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSequence/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-10-03 12:13] knative-test-reporter-robot opened #4202 "[flaky] test/conformance.TestChannelTracingWithReply"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelTracingWithReply
* **Repository name**: eventing

[2020-10-03 12:13] knative-test-reporter-robot opened #4203 "[flaky] test/e2e.TestSequence/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSequence/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-10-03 12:13] knative-test-reporter-robot opened #4204 "[flaky] test/e2e.TestSequence/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSequence/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-10-03 12:13] knative-test-reporter-robot opened #4205 "[flaky] test/conformance.TestChannelTracingWithReply/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelTracingWithReply/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-10-03 20:13] duglin opened #4206 "Ping source should treat "data" as binary"
Today it appears that the `data` is required to be JSON, I'd like to suggest that this be changed and we support any random set of bytes (as long as it can be serialized into the CR's yaml/json). From an end user's point of view they will only see two things... the CR/CLI and the data that is delivered to the sink. There is no reason to for the user (in either of those cases) to deal with JSON. If

[2020-10-04 12:09] knative-test-reporter-robot opened #4208 "[flaky] test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_attribute_and_extension_triggers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDefaultBrokerWithManyTriggers/test_default_broker_with_many_attribute_and_extension_triggers
* **Repository name**: eventing

[2020-10-04 12:09] #4184 closed

[2020-10-04 12:09] #4183 closed

[2020-10-04 12:10] #3842 closed

[2020-10-05 05:33] #3862 closed

[2020-10-05 07:21] runzexia commented on #3867
We could close this issue. the coverage of knative.dev/eventing/pkg/utils` is 93%.
ref https://github.com/knative/eventing/pull/4160

[2020-10-05 07:30] pierDipi commented on #3867
Thanks @runzexia!
[Testgrid reports 93%](https://testgrid.knative.dev/eventing#coverage&width=20&sort-by-failures=), closing
/close

[2020-10-05 07:30] #3867 closed

[2020-10-05 08:04] #3864 closed

[2020-10-05 09:58] #3865 closed

[2020-10-05 12:11] #4203 closed

[2020-10-05 12:11] #4205 closed

[2020-10-05 12:11] knative-test-reporter-robot opened #4211 "[flaky] test/e2e.TestSingleStructuredEventForChannelV1/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleStructuredEventForChannelV1/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-10-05 12:11] knative-test-reporter-robot opened #4212 "[flaky] test/e2e.TestSingleStructuredEventForChannelV1/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleStructuredEventForChannelV1/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-10-05 12:11] #4201 closed

[2020-10-05 12:11] #4200 closed

[2020-10-05 12:11] #4204 closed

[2020-10-05 12:12] knative-test-reporter-robot opened #4213 "[flaky] test/e2e.TestSingleStructuredEventForChannelV1/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleStructuredEventForChannelV1/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-10-05 12:12] knative-test-reporter-robot opened #4214 "[flaky] test/e2e.TestSingleStructuredEventForChannelV1/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleStructuredEventForChannelV1/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-10-05 12:38] lionelvillard commented on #4167
blocked by https://github.com/knative/eventing/issues/4206

[2020-10-05 13:42] lionelvillard commented on #4206
`jsonData` (aka `data`) still accepts non-json payload. When the payload is not JSON, the data is wrapped around a JSON object with one field, `body`, whose value is `jsonData`. As you said we should fix that and send the data as is.

So here a plan for v1:
- rename `jsonData` to `data`
- send events via binary content mode (no JSON wrapper)
- v1beta1 to v1 conversion webhook does the wrapping for

[2020-10-05 17:32] pierDipi commented on #4111
/close

[2020-10-05 17:32] #4111 closed

[2020-10-05 20:10] lberk commented on #4206
/assign @lionelvillard

[2020-10-05 20:16] lberk commented on #4189
@capri-xiyue are you aware of anything that require the need for a pre-install job? We're trying to avoid those for upcoming releases, instead, focusing on only using post-installs.  Thanks!

[2020-10-05 20:29] lberk commented on #4153
perhaps #4182 is related as well?

[2020-10-05 20:35] lberk commented on #4125
@grantr would you be willing to elaborate a bit more on the problem and which status codes the user was specifically looking for specification on?  Perhaps a link to the original request?

[2020-10-05 20:38] lberk commented on #4124
(Iceboxed until upstream has changed and then we can tackle this change)

[2020-10-05 20:45] lberk commented on #4092
Do we know how these documents are used?  (This is the first I'm hearing about them -- just want to make sure we aren't manually generating this or generating bad docs from an out of date source)

[2020-10-05 20:49] #4052 closed

[2020-10-05 20:52] lberk opened #4218 "Backport: Limit pingsource event message wait time. (#4056)"
**Problem**
PR for #4056 should be backported to 0.18 branch
**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developers: @cr22rc

[2020-10-05 20:55] lionelvillard opened #4219 "Backport: Pingsource limit jsonData size (#4055)"
PR for#4055 should be backported to 0.18 branch
Persona:
Developers: @cr22rc

[2020-10-05 20:56] lberk commented on #3881
@n3wscott was there any progress on this issue? is v1alpha1 still supported and do you still have bandwidth to look into this issue?

[2020-10-05 21:08] capri-xiyue commented on #4189
Based on my understanding, https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning/#upgrade-existing-objects-to-a-new-stored-version, it looks like the upgrade can be done as a post-installs.

[2020-10-06 00:12] n3wscott commented on #3881
I do, let me get it tomorrow.

[2020-10-06 02:57] #4180 closed

[2020-10-06 06:12] #4153 closed

[2020-10-06 11:29] vaikas commented on #4214
Looks like this might be the go test issues again?

From: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-eventing-continuous/1312858494797352960

Yet, the logs say:
[code]

=== Failed
=== FAIL: test/e2e TestSingleStructuredEventForChannelV1/InMemoryChannel-messaging.knative.dev/v1beta1 (unknown)

=== FAIL: test/e2e TestSingleStructuredEventForChannelV1/Channel-messaging.knative.dev

[2020-10-06 11:29] vaikas commented on #4213
Looks like this might be the go test issues again?

From: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-eventing-continuous/1312858494797352960

Yet, the logs say:
[code]

=== Failed
=== FAIL: test/e2e TestSingleStructuredEventForChannelV1/InMemoryChannel-messaging.knative.dev/v1beta1 (unknown)

=== FAIL: test/e2e TestSingleStructuredEventForChannelV1/Channel-messaging.knative.dev

[2020-10-06 11:30] vaikas commented on #4212
Looks like this might be the go test issues again?

From: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-eventing-continuous/1312858494797352960

Yet, the logs say:
[code]

=== Failed
=== FAIL: test/e2e TestSingleStructuredEventForChannelV1/InMemoryChannel-messaging.knative.dev/v1beta1 (unknown)

=== FAIL: test/e2e TestSingleStructuredEventForChannelV1/Channel-messaging.knative.dev

[2020-10-06 11:30] vaikas commented on #4211
Looks like this might be the go test issues again?

From: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-eventing-continuous/1312858494797352960

Yet, the logs say:
[code]

=== Failed
=== FAIL: test/e2e TestSingleStructuredEventForChannelV1/InMemoryChannel-messaging.knative.dev/v1beta1 (unknown)

=== FAIL: test/e2e TestSingleStructuredEventForChannelV1/Channel-messaging.knative.dev

[2020-10-06 11:35] vaikas commented on #4208
I think we need to update our retry logic, iirc, something changed with the way GKE reports their errors for quotas?

[code]

[2020-10-06 11:38] vaikas commented on #4208
Yeah... So, we basically need to switch our retry helpers to use this instead so it's all in one place.
https://github.com/knative/pkg/pull/1695

[2020-10-06 12:13] #4208 closed

[2020-10-06 13:06] vaikas commented on #3826
#3922 was the real mvp here.

[2020-10-06 13:06] vaikas commented on #3921
#3922 was the real mvp here too...

[2020-10-06 13:09] vaikas commented on #3922
[code]
@tommyreddad Let's hope this is the last of these we'll be seeing :)

[2020-10-06 13:39] slinkydeveloper commented on #1274
I think this is something @pierDipi solved, right? Now we have retry tests for brokers

[2020-10-06 14:32] pierDipi commented on #1274
We have redelivery tests for brokers, however, IMO testing persistency is a bit different because a channel can retry in memory and never persist events.

I didn't see any reference to the persistence feature in the spec, do we really want this to be a conformance test? (inferred from the label `area/conformance`)

[2020-10-06 14:43] slinkydeveloper commented on #1274
Yes this is probably something that was thought in the past and never really spec-ed, implemented. I think we can close it, reopen if you need it

/close

[2020-10-06 14:43] #1274 closed

[2020-10-06 15:31] #3570 closed

[2020-10-06 17:10] vaikas opened #4231 "Change the Delivery backoff time to something that golang time.Duration can parse"
**Problem**
Currently the way we specify the BackoffDelay is (IMHO) not all that friendly for specifying the Duration.
https://github.com/knative/eventing/blob/master/pkg/apis/duck/v1/delivery_types.go#L44

The format is wonky and it does not (seemingly, maybe I'm wrong) allow for sub second retries.
https://en.wikipedia.org/wiki/ISO_8601

I think it would be friendlier and easier to document to u

[2020-10-06 17:25] grantr commented on #4231
Since ISO8601 intervals always starts with P and Go durations always starts with a numeral, we might be able to allow both.

[2020-10-06 17:35] vaikas commented on #4231
@grantr that was my thinking as well, and we can have a helper in the duck so should be easy enough to support both _and_ not have everybody have this parsing logic.

[2020-10-06 17:55] tommyreddad opened #4232 "Incorrect linear backoff algorithm in RetryConfigFromDeliverySpec()"
**Describe the bug**
Linear backoff used to be incorrectly described in documentation. This has been recently fixed: https://github.com/knative/eventing/pull/4174. But the implementation has not yet been adjusted. Specifically, the linear backoff calculated in `RetryConfigFromDeliverySpec` is incorrect, and this is also reflected in unit tests.

 **Expected behavior**
The linear backoff in `RetryC

[2020-10-06 18:19] grantr commented on #4231
Oops I missed that part of your issue description. Sorry for not reading it carefully!

General thought: I don't think a single, universally applicable specification for this value is achievable. Even if we mandate that all time intervals are ISO8601, the validation of this field still depends on the backing system. For example, RabbitMQ might support sub-second intervals but Kafka might not. A va

[2020-10-06 18:23] pierDipi commented on #4231
[From ISO 8601 Wikipedia page:](https://en.wikipedia.org/wiki/ISO_8601)

Although the implementation we use in eventing allows expressing subsecond expression in ISO 8601 format with only one decimal. (see [Go Playground](https://play.golang.org/p/Jwnq0z00gkA)).
I think it shouldn't be a big deal since if we find it's too limiting for us we can contribute or fork the library.
(Note: [knative-gcp s

[2020-10-07 00:25] grantr commented on #4125
This issue was prompted by this Slack thread: https://knative.slack.com/archives/C9JP909F0/p1601055597044200

@csantanapr asks:

The spec says callable sinks must reply with 200 and non-callable sinks must reply with 202. So which response code should a consumer use if it doesn't want to include an event in its response? Is this a callable sink or a non-callable sink?

I think the spec was written

[2020-10-07 00:48] #4166 closed

[2020-10-07 01:29] n3wscott commented on #3393
This was a docs issue, it was fixed

/Close

[2020-10-07 01:29] #3393 closed

[2020-10-07 07:23] antoineco commented on #2974
/remove-lifecycle stale

[2020-10-07 11:50] vaikas commented on #4125
I kind of think that 202 is wrong and very difficult for us to reason about:
https://tools.ietf.org/html/rfc7231#section-6.3.3

[code]

Seems like 200/204 are the most reasonable response codes to expect:

[code]

[2020-10-07 12:12] #4212 closed

[2020-10-07 12:12] #4213 closed

[2020-10-07 12:12] #4214 closed

[2020-10-07 12:12] knative-test-reporter-robot opened #4238 "[flaky] test/conformance.TestChannelStatusSubscriber/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatusSubscriber/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-10-07 12:12] #4211 closed

[2020-10-07 12:14] vaikas commented on #4122
[code]

Yet:
[code]

[2020-10-07 12:17] vaikas commented on #4121
[code]

Yet:
[code]

[2020-10-07 12:17] vaikas commented on #4120
[code]

Yet:
[code]

[2020-10-07 12:17] vaikas commented on #4119
[code]

Yet:
[code]

[2020-10-07 12:54] vaikas commented on #4195
From:
https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-eventing-continuous/1313582984644792321

[code]

And the channel looks like this:
[code]

[code]

[2020-10-07 13:05] #3912 closed

[2020-10-07 14:50] #4232 closed

[2020-10-07 16:36] abrennan89 commented on #4155
cc @n3wscott think this is related to the PR we merged earlier to update ApiServerSources to v1.
@capri-xiyue could you please open an issue in the docs repo to update any other doc instances that need it? :pray:

[2020-10-07 17:25] capri-xiyue commented on #4155
This issue is to ask for any feedback or changes needed for v1 sources.
For each specific source, devs will open an issue in the docs repo to update it like what I did for ApiServerSource.

[2020-10-07 17:29] lionelvillard commented on #4218
we did this

[2020-10-07 17:29] #4218 closed

[2020-10-07 17:31] lionelvillard commented on #4155
For PingSource, we need this: https://github.com/knative/eventing/issues/4206

[2020-10-08 11:23] vaikas opened #4248 "Nightly release failed 2020-10-08"
**Describe the bug**
Nightly release failed

https://prow.knative.dev/view/gs/knative-prow/logs/ci-knative-eventing-nightly-release/1314131851975069697

[code]

And the corresponding k8s events
[code]

A clear and concise description of what the bug is.

 **Expected behavior**
A clear and concise description of what you expected to happen.

 **To Reproduce**
Steps to reproduce the behavior.

 **Kn

[2020-10-08 11:25] vaikas commented on #4248
So, looks like there's one cloud event we observed:
[code]

[2020-10-08 12:13] #3921 closed

[2020-10-08 12:13] knative-test-reporter-robot opened #4249 "[flaky] test/conformance/helpers/tracing.TestSpanMatcher/tag_matcher"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/helpers/tracing.TestSpanMatcher/tag_matcher
* **Repository name**: eventing

[2020-10-08 12:13] knative-test-reporter-robot opened #4250 "[flaky] test/conformance/helpers/tracing.TestSpanMatcher/empty_matcher"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/helpers/tracing.TestSpanMatcher/empty_matcher
* **Repository name**: eventing

[2020-10-08 12:13] knative-test-reporter-robot opened #4251 "[flaky] test/conformance/helpers/tracing.TestSpanMatcher/kind_matcher"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/helpers/tracing.TestSpanMatcher/kind_matcher
* **Repository name**: eventing

[2020-10-08 12:13] knative-test-reporter-robot opened #4252 "[flaky] test/conformance.TestChannelStatusSubscriber/Channel_has_required_status_subscriber_fields#03"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatusSubscriber/Channel_has_required_status_subscriber_fields#03
* **Repository name**: eventing

[2020-10-08 12:13] knative-test-reporter-robot opened #4253 "[flaky] test/conformance.TestChannelStatusSubscriber/Channel_has_required_status_subscriber_fields#02"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelStatusSubscriber/Channel_has_required_status_subscriber_fields#02
* **Repository name**: eventing

[2020-10-08 12:13] knative-test-reporter-robot opened #4254 "[flaky] test/conformance/helpers/tracing.TestSpanMatcher/local_endpoint_service_name_matcher"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/helpers/tracing.TestSpanMatcher/local_endpoint_service_name_matcher
* **Repository name**: eventing

[2020-10-08 12:13] knative-test-reporter-robot opened #4255 "[flaky] .Up"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Up
* **Repository name**: eventing

[2020-10-08 12:13] #3922 closed

[2020-10-08 14:20] zhongduo opened #4256 "Outdated doc or possible bugs in e2e test"
**Describe the bug**
I recently tried to follow the e2e test locally to see the whole flow, including creating cluster, running all e2e tests and cleanup. Here are several problems I have found and would like to check if they are due to out of sync doc or bug in test script. Either way I will be happy to fix them.

1. `test/e2e-tests.sh` is unable to infer the project id. I have tried setting env

[2020-10-08 14:29] pierDipi commented on #4231
Note: I'm _not_ against this change, I just want to make sure we have a formal definition of what ends up being part of the API.
Since now we demanded that to the ISO 8601, now we're introducing a new format for a cleaner API and better UX, so +1 (for supporting both), but I would like to avoid introducing a different format without a precise definition of it.
Then if Go parses it natively we'll w

[2020-10-08 19:00] capri-xiyue commented on #4175
@eclipselu  Please follow https://github.com/knative/eventing/pull/4179 regarding the e2e test and ut part. We will need to refactor the helper methods of testing. Currently, all versions of ContainerSource UT and E2E helper methods are in one file https://github.com/knative/eventing/blob/master/pkg/reconciler/testing/containersource.go. It will be better if we can put the test helper methods of s

[2020-10-08 20:42] capri-xiyue opened #4264 "Make SinkBinding v1 the stored version and add a migration tool"
**Problem**
In 0.19, we promoted Sinkbinding to v1.
This is to track that we should make v1 the storage version for 0.20, and we should add a migration tool for it.
Similar to: https://github.com/knative/eventing/blob/master/config/pre-install/v0.16.0/storage-version-migration.yaml.
(May need to avoid using pre-install and try to use post-install)

**[Persona:](https://github.com/knative/eventing/

[2020-10-09 09:08] vaikas commented on #4231
I was supposed to look for prior art, and sure enough:
https://godoc.org/k8s.io/apimachinery/pkg/apis/meta/v1#Duration

So, I wonder if we should add a new field with metav1.Duration as type and support both fields. That would be an additive change, and should be fine?

[2020-10-09 12:12] #3765 closed

[2020-10-09 12:12] #4094 closed

[2020-10-09 12:12] knative-test-reporter-robot opened #4267 "[flaky] test/e2e.TestChannelNamespaceDefaulter"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelNamespaceDefaulter
* **Repository name**: eventing

[2020-10-09 12:12] #4121 closed

[2020-10-09 12:12] #4159 closed

[2020-10-09 12:12] #4120 closed

[2020-10-09 12:12] #4145 closed

[2020-10-09 12:12] #4157 closed

[2020-10-09 12:12] knative-test-reporter-robot opened #4268 "[flaky] test/e2e.TestChannelNamespaceDefaulter/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelNamespaceDefaulter/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-10-09 12:12] #4158 closed

[2020-10-09 12:12] #4075 closed

[2020-10-09 12:12] #4119 closed

[2020-10-09 12:12] #3981 closed

[2020-10-09 12:12] #4195 closed

[2020-10-09 12:12] #4122 closed

[2020-10-10 12:10] #4249 closed

[2020-10-10 12:11] #4254 closed

[2020-10-10 12:11] #4250 closed

[2020-10-10 12:11] #4252 closed

[2020-10-10 12:11] #4251 closed

[2020-10-11 12:14] #4268 closed

[2020-10-11 12:14] #4267 closed

[2020-10-11 12:14] knative-test-reporter-robot opened #4274 "[flaky] test/e2e.TestBrokerChannelFlowV1Beta1BrokerV1/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowV1Beta1BrokerV1/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-10-11 13:57] mattmoor opened #4275 "Stop installing monitoring, we are going to delete it."
**Describe the bug**

I noticed in a CI run that Eventing seems to be installing `https://storage.googleapis.com/knative-nightly/serving/latest/monitoring.yaml`.  We deprecated this in 0.14, and plan to remove this, so eventing's prow jobs will be broken.

 **Expected behavior**

Don't install deprecated things.

 **To Reproduce**

N/A

 **Knative release version**

HEAD

 **Additional context**

[2020-10-11 14:30] mattmoor commented on #4275
`TestBrokerTracing` and `TestChannelTracingWithReply` seem to have a dependency on this, they fail with:
[code]

When monitoring isn't installed.

[2020-10-11 14:46] mattmoor opened #4276 "Replace `resources.SystemNamespace` with `system.Namespace`"
Eventing e2e tests use `resources.SystemNamespace` to capture the namespace in which system components run, which is configured in `TEST_EVENTING_NAMESPACE`.  This should simply be using `SYSTEM_NAMESPACE` and the library we have (for consistency).

cc @houshengbo

[2020-10-12 05:13] nailushapotnuru commented on #4016
Most of my test cases are failing with below error:
Architecture: PPC64LE
Eventing: v0.16.1
Command executed:
[code]
Error Message:
[code]
Could some one help me resolve this issue ?

[2020-10-12 10:47] vaikas commented on #3480
Latest failure was no url again:
[code]

[2020-10-12 12:14] knative-test-reporter-robot opened #4281 "[flaky] test/conformance.TestChannelSpec/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelSpec/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-10-12 12:14] knative-test-reporter-robot opened #4282 "[flaky] test/conformance.TestChannelSpec/Channel_spec_allows_subscribers#02"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelSpec/Channel_spec_allows_subscribers#02
* **Repository name**: eventing

[2020-10-12 12:14] knative-test-reporter-robot opened #4283 "[flaky] test/conformance.TestChannelSpec/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelSpec/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-10-12 12:14] knative-test-reporter-robot opened #4284 "[flaky] test/conformance.TestChannelSpec/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelSpec/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-10-12 12:14] knative-test-reporter-robot opened #4285 "[flaky] test/conformance.TestChannelSpec/Channel_spec_allows_subscribers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelSpec/Channel_spec_allows_subscribers
* **Repository name**: eventing

[2020-10-12 12:14] knative-test-reporter-robot opened #4286 "[flaky] test/conformance.TestChannelSpec/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelSpec/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-10-12 12:14] knative-test-reporter-robot opened #4287 "[flaky] test/conformance.TestChannelSpec/Channel_spec_allows_subscribers#03"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelSpec/Channel_spec_allows_subscribers#03
* **Repository name**: eventing

[2020-10-12 12:14] knative-test-reporter-robot opened #4288 "[flaky] test/conformance.TestBrokerTracing"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerTracing
* **Repository name**: eventing

[2020-10-12 12:14] knative-test-reporter-robot opened #4289 "[flaky] test/conformance.TestBrokerTracing/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBrokerTracing/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-10-12 12:14] knative-test-reporter-robot opened #4290 "[flaky] test/conformance.TestChannelSpec/Channel_spec_allows_subscribers#01"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelSpec/Channel_spec_allows_subscribers#01
* **Repository name**: eventing

[2020-10-12 13:58] vaikas commented on #4290
[code]
Go test flake

[2020-10-12 13:58] vaikas commented on #4287
[code]
Go test flake

[2020-10-12 13:58] vaikas commented on #4286
[code]
Go test flake

[2020-10-12 13:58] vaikas commented on #4285
[code]
Go test flake

[2020-10-12 13:59] vaikas commented on #4284
[code]
Go test flake

[2020-10-12 13:59] vaikas commented on #4283
[code]
Go test flake

[2020-10-12 13:59] vaikas commented on #4282
[code]
Go test flake

[2020-10-12 13:59] vaikas commented on #4281
[code]
Go test flake

[2020-10-12 14:01] vaikas commented on #4289
[code]

[2020-10-12 14:02] vaikas commented on #4288
#4289 is what actually failed.

[2020-10-12 16:45] matzew opened #4292 "Use annotations to specify the resources request/limits for a Source' Receive Adapter"
**Problem**
Sources there is currently on way on the yaml to define the resources `request`/`limits` setting, like:

[code]

We used to have something like that, but it got deprecated:

https://github.com/knative/client-contrib/blob/edd53ce5216bf14217fa9226812372f40a930cd6/plugins/source-github/vendor/knative.dev/eventing/pkg/apis/sources/v1alpha1/ping_types.go#L92-L93

It still would be nice to t

[2020-10-12 16:55] n3wscott commented on #4292
this is leaking way too many details of the impl into the resource.

How does this with with multi-tenant sources? Which one wins?

[2020-10-12 16:55] grantr commented on #4275
IIRC, those tests rely on zipkin's presence in the cluster.

@Harwayne @ian-mi Any thoughts on what to do here?

[2020-10-12 17:04] matzew commented on #4292
Ok, there is some valid point here.

For those, we have setting on the deployment of the mt:
https://github.com/knative/eventing/blob/master/config/core/deployments/pingsource-mt-adapter.yaml#L67-L73

For those I could _potentially_ be set/overriden via the `KnativeEventing` CR from the operator... :thinking:

For non MT sources, using annotation makes sense? and the actual source is able to ignor

[2020-10-12 17:13] mattmoor commented on #4275
I'm sort of puzzled by conformance tests that "rely on zipkin's presence in the cluster" too, but that's probably another discussion 🤣

[2020-10-12 18:57] #4176 closed

[2020-10-13 06:50] vaikas opened #4294 "TestTriggerDependencyAnnotation failing on Mink fairly consistently"
**Describe the bug**

TestTriggerDependencyAnnotation seems to be failing fairly frequently on Mink using Github Actions on kind.

[code]

However, the pingsource is ready as seen by the fact that when it goes to get cleaned up:
[code]

Yet the Trigger is still looking like it has not observed the PingSource becoming ready:
[code]

 **Expected behavior**
Test to pass consistently.

 **To Reproduce

[2020-10-13 06:51] vaikas commented on #4294
Oh, due to the way the tests are ran, the timestamps are meaningless since all the output from the test gets buffered until the test fails.

[2020-10-13 07:47] xinydev opened #4295 "Error 431 occurs when there are too many flow steps"
**Describe the bug**

knative-eventing now add every url of the step in flow to a cloudevent extensions(knativehistory).  but if there are two many steps(in my case, about 66 steps), the knativehistory header in cloudevent is so large that imc-dispatcher get a http 431 error.

 **Expected behavior**
A clear and concise description of what you expected to happen.

no error occurs while there are tw

[2020-10-13 10:13] #4294 closed

[2020-10-13 10:43] antoineco commented on #4125
What sounds the most natural to me, and seems aligned with Ville's comment above:

* **[204](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/204)**: ACK without event in the response.
* **[200](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/200)**: ACK with an event / a batch in the response.

Alternative ACKs which are valid but shouldn't be treated differently by the Broker:

[2020-10-13 12:23] knative-test-reporter-robot opened #4302 "[flaky] test/e2e.TestChannelChainV1/Channel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelChainV1/Channel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-10-13 12:23] #3480 closed

[2020-10-13 12:23] #4274 closed

[2020-10-13 12:23] knative-test-reporter-robot opened #4303 "[flaky] test/e2e.TestChannelChainV1/Channel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelChainV1/Channel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-10-13 12:23] knative-test-reporter-robot opened #4304 "[flaky] test/e2e.TestChannelChainV1/InMemoryChannel-messaging.knative.dev/v1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelChainV1/InMemoryChannel-messaging.knative.dev/v1
* **Repository name**: eventing

[2020-10-13 12:23] knative-test-reporter-robot opened #4305 "[flaky] test/e2e.TestChannelChainV1/InMemoryChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelChainV1/InMemoryChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing

[2020-10-13 12:26] pierDipi commented on #4305
https://github.com/gotestyourself/gotestsum/issues/141
[code]

[2020-10-13 12:26] pierDipi commented on #4304
https://github.com/gotestyourself/gotestsum/issues/141
[code]

[2020-10-13 12:26] pierDipi commented on #4303
https://github.com/gotestyourself/gotestsum/issues/141
[code]

[2020-10-13 12:27] pierDipi commented on #4302
https://github.com/gotestyourself/gotestsum/issues/141
[code]

[2020-10-13 15:00] runzexia commented on #3868
Now it is 70.5%
/close

[2020-10-13 15:56] runzexia commented on #3866
/assign
I'm going to divide it into the following steps
1. refactor https://github.com/knative/eventing/blob/master/pkg/tracing/setup.go
2. move https://github.com/knative/eventing/blob/master/pkg/tracing/setup.go to knative/pkg
3. add test cases

[2020-10-13 15:59] n3wscott commented on #4206
I see, I think this was legacy from when the go sdk was not quite good enough to parse a json string body, and I added the wrapper to help with that issue.

If we are going to go down this path, I recommend:

- not promoting PingSource to `v1`.
- adding data Base64
- adding data Content Encoding

I wonder if the answer is we do something like:

[code]

Something like that ^