[2019-09-16 18:01] paulrossman commented on #1583
This should go in eventing-contrib.

[2019-09-16 18:42] nachocano opened #1892 "InMemoryChannel Dispatcher Refactor"
**Problem**
In order to be able to report data plane metrics for the InMemoryChannel, we need to refactor it to use the CloudEvents SDK, instead of MessageDispatcher and MessageReceiver.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
Contributor

**Exit Criteria**
The InMemoryChannel dispatcher uses the CloudEvents SDK.

[2019-09-16 18:42] nachocano commented on #1892
/assign

[2019-09-16 18:54] #1734 closed

[2019-09-16 19:09] capri-xiyue opened #1893 "Update status.ObservedGeneration for sources resources when sources resources get reconciled successfully"
**Problem**
In PR https://github.com/knative/eventing/pull/1849, we tried to validate dependency by checking whether the ObjectMeta.generation of dependency is equal to the Status.ObservedGeneration of dependency.
However, we found we don't update status.ObservedGeneration for sources resources when sources resources get reconciled successfully. We should do that when sources resources get reconci

[2019-09-16 19:14] #1774 closed

[2019-09-16 19:25] aslom opened #1894 "Developer productivity: logs lost when timeout in tests"
**Describe the bug**

Logs are lost when timeout in tests there is timeout:  currently all I get is lot of stack traces but logging is lost - see stack traces in context below. If I suspect which test failed I can figure out the file and get the line - but logs files can help to see what was actually happening and what was the input

 **Expected behavior**
A clear and concise description of what y

[2019-09-16 19:25] aslom commented on #1814
@vagababov @Fredy-Z moved logging to new issue: https://github.com/knative/eventing/issues/1894

[2019-09-16 19:27] aslom commented on #1894
If I suspect which test failed I can figure out the file and get the line - but logs files can help to see what was actually happening and what was the input

[code]

[code]

[2019-09-16 19:27] aslom commented on #1894
As @Fredy-Z suggested it is related to parallel execution and timeout in go test behavior: https://github.com/golang/go/issues/24929

The issue is April and not merged  in golang so no fix available :(

The workaround seems to be to "replace all t.Logf calls with either fmt.Printf or a custom logger" - could we do that and replace back custom logger when the problem is fixed in go?

[2019-09-16 19:30] aslom commented on #1894
What would be the best way to tackle the issue - add some flag to replace test logger with new logger? Could it be doen without modifying every test code that uses `t *testing.T` calls `t.Logf`.
Is that what this comment https://github.com/golang/go/issues/24929#issuecomment-436003027 suggests?

[2019-09-16 19:41] nachocano commented on #1819
/assign

[2019-09-16 20:12] capri-xiyue commented on #1893
/assign @capri-xiyue

[2019-09-16 20:24] vagababov commented on #1894
/cc @mattmoor

Why not just run the tests with infinite timeout?

[2019-09-16 20:37] nachocano commented on #1819
fyi @Fredy-Z

[2019-09-16 20:42] aslom commented on #1894
It will never finish? the test may be blocked on something that failed before so WaitForAllTestResourcesReady may never succeed? And if you have no logs you do not know what failed before :(

[2019-09-16 20:53] Fredy-Z commented on #1889
There is an e2e test guarding `ApiServerSource` - https://github.com/knative/eventing/blob/master/test/e2e/source_api_server_test.go.
It seems your setup is different from the e2e setup?

[2019-09-16 21:00] nachocano commented on #1892
/milestone v0.10.0

[2019-09-16 21:24] grantr commented on #1892
/milestone v0.10.0

[2019-09-16 21:49] #1824 closed

[2019-09-16 23:02] #1893 closed

[2019-09-17 11:38] marcobebway commented on #1693
Working on:
Infrastructure setup -> Control plane -> NATSS Channel

Agreed with Sayan about it: https://github.com/knative/eventing/issues/1693#issuecomment-526759177.

[2019-09-17 15:12] matzew commented on #1869
documentation should be one a criteria as well

[2019-09-17 15:12] aslom commented on #1869
As we make those decisions maybe we could also document criteria and how we version APIs - and add to knative docs?

[2019-09-17 16:31] grantr commented on #1663
This is done with a few exceptions. Closing and creating a PR for those.

[2019-09-17 16:31] #1663 closed

[2019-09-17 16:34] grantr commented on #1521
/milestone v0.10.0

[2019-09-17 16:36] grantr commented on #1461
/milestone v0.10.0

[2019-09-17 16:41] grantr commented on #1417
/milestone v0.10.0

[2019-09-17 17:06] n3wscott commented on #1892
I think this will take more than 1-2 days.

[2019-09-17 17:08] nachocano commented on #1892
yeah, removed the bad estimate...

[2019-09-17 17:26] grantr commented on #1718
/close

I think this was fixed by #1812 and its followup PRs, but please reopen if not.

[2019-09-17 17:26] #1718 closed

[2019-09-17 17:27] grantr commented on #1698
/milestone v0.10.0

[2019-09-17 17:27] grantr commented on #1700
/milestone v0.10.0

[2019-09-17 17:30] grantr opened #1904 "Detect regressions in performance benchmarks"
**Problem**
Once we have steady performance numbers, we want our continuous perf testing environment to tell us when perf has regressed.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
We receive a comment on a PR or a new issue is created when performance numbers regress by some amount.

**Time Estimate (optional):**

**Additional c

[2019-09-17 17:31] grantr commented on #1904
/milestone v0.11.0

[2019-09-17 17:34] grantr opened #1905 "Determine performance benchmarks for eventing components"
**Problem**
When performance tests are running continuously in consistent CI environments, we should be able to determine each component's performance benchmarks.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
A document or Markdown table showing what the current expected performance benchmarks are per component.

**Time Estimate (o

[2019-09-17 17:34] grantr commented on #1905
/project perf/measurement To do

[2019-09-17 17:35] grantr commented on #1905
/milestone v0.10.0

[2019-09-17 17:49] grantr opened #1906 "Enable performance tests for sources"
**Problem**
From a performance testing perspective, sources are like channels without a standard ingress. Each source will likely need a custom event generator, but the receiver and everything downstream (aggregator, Mako setup) can be the same as for brokers and channels.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
A source has

[2019-09-17 17:52] grantr opened #1907 "Setup Mako for throughput tests"
**Problem**
Mako has a latency benchmark already, but no throughput benchmark.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
Mako has a benchmark for throughput testing.

**Time Estimate (optional):**

**Additional context (optional)**

/area performance
/project perf/measurement To do
/milestone v0.10.0
/assign

[2019-09-17 17:54] #1262 closed

[2019-09-17 18:58] dgerd opened #1908 "no matches for kind "ClusterChannelProvisioner""
**Describe the bug**
Attempting to install Knative Eventing from knative.dev instructions results in this error.

 **Expected behavior**
I expected to get no error since this is using the `--selector knative.dev/crd-install=true` two step install method.

 **To Reproduce**

[code]

 **Knative release version**
v0.8.0

 **Additional context**

[2019-09-17 22:46] #1196 closed

[2019-09-17 23:35] capri-xiyue opened #1911 "Mark Dependency status as Unknown when the dependency object’s ObjectMetadata.Generation and Status.ObservedGeneration are not equal during the trigger reconcile process"
**Problem**
We should mark Dependency status as Unknown when the dependency object’s ObjectMetadata.Generation and Status.ObservedGeneration are not equal during the trigger reconcile process.

**Exit Criteria**
Dependency status is marked as Unknown when the dependency object’s ObjectMetadata.Generation and Status.ObservedGeneration are not equal during the trigger reconcile process.
**Time Estim

[2019-09-17 23:35] capri-xiyue commented on #1911
/assign @capri-xiyue

[2019-09-18 08:48] nachtmaar opened #1912 "Remove deprecated CCP from code"
ClusterChannelProvisioner has already been removed from documentation as part of https://github.com/knative/eventing/issues/1453.

There are still [leftovers](https://github.com/knative/eventing/issues/1453#issuecomment-523613835) in code which should be removed too.
Just search for `provisioner` in `eventing` repo.

[2019-09-18 09:36] matzew opened #1913 "Sequence and Parallel in different API group ?"
**Problem**

With the goal for stable APIs, it might make sense to move `Sequence` and `Parallel` to a different API group, like `flows.knative.dev` ?

The `messaging` API group is for me more a home for foundational APIs, like `Channel`, `InMemoryChannel`, `Subscription`, or `Broker`.

In my opinion the `Sequence` and `Parallel` are more application specific aspects to build "application flows".

[2019-09-18 09:38] matzew commented on #1908
I don't see this with the 0.9.0 ?

Also, the CCP `ClusterChannelProvisioner` is removed, therefore should not be there.

[2019-09-18 10:00] matzew opened #1914 "mako test image broken"
Trying to build the `latencymako` image, I am getting an issue:

[code]

[2019-09-18 10:03] matzew commented on #1914
weird... ?!

[2019-09-18 10:30] matzew commented on #1914
/close

I haz go 1.11 ...

[2019-09-18 10:30] #1914 closed

[2019-09-18 12:50] lionelvillard commented on #1913
I like the idea of having foundational messaging APIs and then build two abstractions on top of it, namely the event mesh (or event-driven service choreography) and flows (or event-driven service orchestration).

[2019-09-18 14:15] matzew commented on #1550
I agree with this concern

[2019-09-18 14:53] matzew commented on #1550
could this be as `label` or `annotation` for stashing this info? IMO it's a pitty that the user is not _allowed_ to set the field, and kinda make that in internal, but exposed, API

[2019-09-18 14:55] rhuss commented on #1550
E.g. I could imagine to use annotations of the form

[code]

and then a query on all annotations with a prefix `knative.dev.source.eventType.`

[2019-09-18 14:56] matzew commented on #1550
I like that suggestion, @rhuss

[2019-09-18 14:57] n3wscott commented on #1550
or like
[code]

[2019-09-18 16:15] n3wscott opened #1918 "Adopt Destination in Subscriptions and Triggers."
**Problem**
adding uri and path to subscribers and sinks in Eventing/Messaging via [Destination](https://github.com/knative/pkg/blob/0a0c4972cd7134ce54b1ce6a6de8f189257a64fb/apis/v1alpha1/destination.go#L32).

Also there is a new resolver helper for Destinations also in pkg.

[2019-09-18 16:53] nachocano commented on #1550
Thanks @matzew for reviving this thread. And thanks @rhuss for all your comments. I've been working on observability so I lost track of this....
I think we might be able to use annotations for this, you guys are right. And it might be cleaner. The reason why we didn't in the first place was to "address" the case where you might need different configuration params for different event types (some re

[2019-09-18 16:59] grantr commented on #1550
/milestone v0.10.0

[2019-09-18 17:53] Harwayne commented on #1765
/project Channels In progress

[2019-09-18 17:54] Harwayne commented on #1765
/milestone v0.10.0

[2019-09-18 17:54] Harwayne commented on #1708
/milestone v0.10.0

[2019-09-18 17:54] Harwayne commented on #1766
/milestone v0.10.0

[2019-09-18 17:54] Harwayne commented on #1764
/milestone v0.10.0

[2019-09-18 17:55] Harwayne commented on #1763
/milestone v0.10.0

[2019-09-18 17:55] Harwayne commented on #1757
/milestone v0.10.0

[2019-09-18 17:55] Harwayne commented on #1756
/milestone v0.10.0

[2019-09-18 17:55] nachocano opened #1920 "Metrics: E2E Tests Setup for Prometheus"
**Problem**
In order to ensure that metrics are reported correctly to Prometheus, we need to setup the E2E metrics infra for metrics. This will mean setting up prometheus and be able to collect metrics from it.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
E2E tests for metrics can be written using this infrastructure.

[2019-09-18 17:56] nachocano commented on #1920
/assign

[2019-09-18 17:56] grantr commented on #1920
/milestone v0.10.0

[2019-09-18 17:57] Harwayne commented on #1712
/milestone v0.10.0

[2019-09-18 17:58] Harwayne commented on #1758
/project Observability To do
/milestone v0.10.0

[2019-09-18 17:59] Harwayne commented on #1712
Closing in favor of #1758, which describes multiple ways of achieving the goal (configs are available in multiple namespaces).

[2019-09-18 17:59] Harwayne commented on #1712
/close

[2019-09-18 18:00] Harwayne commented on #1920
/project Observability To do

[2019-09-18 18:01] Harwayne commented on #1920
Came across this in knative/pkg, which might be helpful: https://github.com/knative/pkg/blob/9d9cb54ed007b00acecb866815836914b25ecb04/test/prometheus/prometheus.go#L54.

You might need to make changes similar to the ones we needed for tracing: https://github.com/knative/pkg/pull/693 and https://github.com/knative/pkg/pull/658.

[2019-09-18 18:08] sixolet commented on #1550
I like the idea that if you need different configuration params for different event types, that's a different ~~importer~~source CRD.

[2019-09-18 18:12] n3wscott commented on #1913
I feel like these are fundamental messaging components.

[2019-09-18 18:19] n3wscott opened #1921 "Move over new PodSpecable sources to Eventing."
Move the resulting work of Spencer's internship on Knative into Eventing.

/assign @n3wscott

[2019-09-18 19:06] grantr opened #1922 "Be consistent in latency test metric names"
From https://github.com/knative/eventing/pull/1917#pullrequestreview-290135783:

- Choose one of `send-` and `publish-` and use it in all related metrics
- Choose one of `deliver-` and `delivery-` and use it in all related metrics

/area performance
/project Perf/Measurement To do
/assign @slinkydeveloper

[2019-09-18 19:35] slinkydeveloper commented on #1922
This subtle difference must be documented
https://github.com/knative/eventing/pull/1917#discussion_r325853304

[2019-09-18 19:49] #1791 closed

[2019-09-18 19:51] slinkydeveloper commented on #1907
#1917 shows how to calculate thpt starting from a timestamp vector

/close

[2019-09-18 19:51] #1907 closed

[2019-09-18 20:15] lionelvillard opened #1923 "CronJobSource swaps resources"
**Describe the bug**
CronJobSources uses `resource.Limits` to configure the deployment `resource.Requests` and vice and versa.

 **Expected behavior**
the other way around

 **To Reproduce**
try that:

[code]

 **Knative release version**
 master

[2019-09-18 20:24] lionelvillard commented on #1923
/assign

[2019-09-18 20:51] nachocano opened #1925 "Add Prometheus Operator"
**Problem**
For metrics, we have been patching the prometheus configuration installed with serving. See [here](https://github.com/knative/eventing/blob/master/docs/metrics.md#prometheus-collection). This is kind of a hack. We can start using the prometheus operator across Knative to avoid such issues.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**

[2019-09-18 20:52] Harwayne commented on #1925
/project Observability To do

[2019-09-18 20:53] nachocano commented on #1925
@sayanh @Abd4llA so that you have it on your radar in case you have the cycles

[2019-09-19 08:30] Abd4llA commented on #1913
I don't mind them staying in messaging, but I like the idea of moving them to a separate api group  specially if we'll name it something similar to `flows` as an extra organization step IMHO.

[2019-09-19 14:48] syedriko commented on #1925
+1 for this, it would help test https://github.com/knative/eventing-contrib/issues/612 once its done.

[2019-09-19 15:13] matzew commented on #1869
@akashrv I think I will start a document like this:  https://docs.google.com/document/d/149LMccHt-gFEG52XoauVG2f-crjMk3-biu-pJPQGxCo/edit

I think that serving did well w/ their APIs, so I guess this is good for eventing too

[2019-09-19 15:36] akashrv commented on #1869
Sounds good. If you could start a draft in eventing shared drive, we can
all then pitch in and add to it.

On Thu, Sep 19, 2019, 08:13 Matthias Wessendorf <notifications@github.com>
wrote:

[2019-09-19 16:01] akashrv commented on #1554
/milestone v0.10.0

[2019-09-19 16:02] akashrv commented on #1449
/milestone v0.10.0

[2019-09-19 16:02] akashrv commented on #909
/milestone v0.10.0

[2019-09-19 17:23] grantr opened #1932 "Report publish errors per second in latency/throughput test"
**Problem**
We need a publish error rate series in perf test charts to know when errors are happening during the run.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
Mako run shows a publish error rate series.

/assign @slinkydeveloper
/project Perf/Measurement To do
/area performance

[2019-09-19 18:21] dgerd commented on #1908
This happened installing 0.8.0 following the instructions on knative.dev

I am not sure about 0.9.0...

[2019-09-19 18:24] slinkydeveloper commented on #1932
Delivery error rates too

[2019-09-19 18:42] matzew commented on #1908
fixed in0.9.0...

On Thu 19. Sep 2019 at 20:21, Dan Gerdesmeier <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2019-09-19 18:42] capri-xiyue opened #1934 "Delete cluster role to get, list, watch sources of eventing-contrib and knative-gcp in eventing repo"
**Problem**
Delete cluster role to get, list, watch sources of eventing-contrib and knative-gcp in eventing repo.
In PR knative/eventing#1849, we added ClusterRole to get, list and watch sources of eventing-contrib and knative-gcp in config/200-source-resolvers-clusterrole.yaml.
This is a temporary solution. Such ClusterRole should eventually be moved to config directories in https://github.com/go

[2019-09-19 19:29] nachocano commented on #1821
/assign @grac3gao

[2019-09-19 19:29] nachocano commented on #1822
/assign @grac3gao

[2019-09-19 19:33] matzew commented on #1022
/close CCP is no longer a thing

[2019-09-19 20:11] #1923 closed

[2019-09-19 21:55] grantr opened #1935 "Accept additional tags as a flag in performance test image"
**Problem**
We may need to tag individual runs with specifics of their environment, for example the type of channel under test. Currently the only way to set tags on the Mako run is with `additionalTags` in the ConfigMap, but that applies to all runs equally.

There are potentially other ways to accomplish this (separate namespaces per run variant) but having a flag is particularly low-effort for

[2019-09-19 21:55] grantr commented on #1935
/area performance
/project Perf/Measurement To do

[2019-09-19 23:07] #1911 closed

[2019-09-20 04:59] capri-xiyue commented on #1873
I can't reproduce the bug.
`apiVersion: sources.eventing.knative.dev/v1alpha1
kind: CronJobSource
metadata:
  name: incorrect-minute
spec:
  schedule: "* * * * *"
  sink:
    apiVersion: serving.knative.dev/v1alpha1
    kind: Broker
    name: default`

[2019-09-20 07:19] rhuss opened #1936 "Rename `subscription.reply.channel` to `subscription.reply.sink`"
**Problem**

The reply strategy for a subscription can be any addressable:

[code]

However, the field in the strategy is still called "Channel". I suggest to rename it to "Sink" resulting in a field `subscription.reply.sink` instead of `subscription.reply.channel`, which would also align nicely with the naming scheme of source CRDs.

[2019-09-20 07:25] matzew commented on #1936
I _think_ that is from the time of the first spec rewrite (Oct 2018), where we just had channels there. So a returned value from the subscriber of a subscription would be routed to the reply channel.

[2019-09-20 07:28] rhuss commented on #1936
I also found that PR which widened the scope of this field, but did not rename the key for some reason --> https://github.com/knative/eventing/pull/1283

[2019-09-20 12:21] montaro commented on #1935
I wanna work on this, please assign to me

[2019-09-20 12:28] montaro commented on #1935
/assign

[2019-09-20 15:04] rhuss opened #1940 "Discussion: How to add CLI meta data to Source CRDs ?"
**Problem**

For helping `kn` (or any other CLI) it would be very helpful when a Source CRD would carry some extra meta information for mapping cli-options (like `--access-token` or `--event-types` for a GitHubSource) to the property within the CR (e.g. `.spec.accessToken.secreteKeyRef` for `--access-token` and `.spect.eventTypes` for `--event-types`).

Fortunately, OpenAPI schema supports so-call

[2019-09-20 18:02] Harwayne opened #1945 "Reliable header logging in tests"
**Problem**
From https://github.com/knative/eventing/pull/1858#discussion_r324948300:

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
A reliable way for E2E test pods to record both Cloud Events and HTTP headers that can be extracted from their logs by test code.

[2019-09-20 18:25] capri-xiyue commented on #1758
/assign @capri-xiyue

[2019-09-23 10:35] montaro commented on #1935
@grantr Two questions, please.

1. Is it better to implement it like ` --additionalTags=tag1, tag2, tag3`, CSV I mean?
2. Is the current implementation is enough according to the exit criteria, and passing the tags through the code to mako will come in a different task?
Thanks!

[2019-09-23 15:24] anishj0shi commented on #1817
I'd like to work on this

/assign

[2019-09-23 18:10] nachocano commented on #1817
@anishj0shi this still needs for the IMC to report data plane metrics....
I'm doing a big refactor here https://github.com/knative/eventing/pull/1933 to allow easy addition of data plane metrics to the InMemoryChannel, and all channels in general... but until that gets merged, I think it might be hard to start this test...

This main issue has all the pending items we have currently for metrics ht

[2019-09-23 18:16] lionelvillard commented on #1936
For Sequence and Parallel, Reply is an ObjectReference:

[code]

So maybe we should just get rid of `ReplyStrategy`.

[2019-09-23 19:10] lionelvillard commented on #1521
Composable objects meant to be referenced by other composable objects should not be reconciled. This could be accomplished by adding an annotation on the composable object, eg. `messaging.knative.dev/template: true`

[2019-09-23 20:19] lionelvillard opened #1950 "Updating Sequence step does not update subscriptions"
**Describe the bug**
Updating `sequence.spec.steps` does not update managed subscriptions and channels

**Expected behavior**
Updating `sequence.spec.steps` should update managed subscriptions and channels

 **To Reproduce**
 Create a sequence with one step referencing a service. Change the step to reference another service

 **Knative release version**
0.9.0

[2019-09-23 23:02] nachocano opened #1951 "Remove extra tracing span"
**Describe the bug**
It seems that we are creating an extra unreported span. #1944 improved on this a bit, but assumes that there is a *Span resident in memory, which works for InMemory, but probably not other channel implementations.
Need to use the traceparent event attribute for serialization into the CloudEvent itself.

 **Expected behavior**
E2E tracing test checking for span should be uncomm

[2019-09-23 23:02] nachocano commented on #1951
fyi @Harwayne

[2019-09-23 23:07] nachocano opened #1952 "Change signature of ResolveChannelFromHostFunc"
**Problem**
Change `event_receiver.ResolveChannelFromHostFunc` signature to take in a URL, rather than just the host string. That will allow us to use the path to distinguish between Channels too.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
Contributor

**Exit Criteria**
An updated signature taking a URL

**Additional context

[2019-09-23 23:14] nachocano opened #1953 "Use current context in utils.ContextFrom"
**Describe the bug**
Use the current context instead of context.Background. Currently, if doing so, reply http headers are added to the ones in the request.
Either solve it at the cloudevents sdk level. Maybe  we should set a list of whitelist-ed extensions that we allow to pass through as an extension, and filter based on that.

 **Expected behavior**
Using the same context does not duplicate htt

[2019-09-23 23:34] #1892 closed

[2019-09-24 07:01] anishj0shi commented on #1817
/unassign
@nachocano Absolutely, I'm assigning myself to #1920

[2019-09-24 07:01] anishj0shi commented on #1920
/assign

I'd like to work on this

[2019-09-24 08:05] qiujian16 commented on #1950
meet the same issue, i will try to fix it.

[2019-09-24 08:41] matzew commented on #1952
Note: this is used in kafka/natss channels

[2019-09-24 09:10] matzew commented on #1936
Than the `ReplyStrategy` itself has objectRef as wll, to its channel field:

[code]

[2019-09-24 09:11] matzew commented on #1936
and as Roland said, seems to imply a channel only... not addressable.

so, perhaps best to get rid of it, and do what Sequence/Parallel do ?

any thoughts @vaikas-google, @Harwayne or @n3wscott  ?

[2019-09-24 09:43] rhuss commented on #1936
Yes, I think skipping the `ReplyStrategy` level and just use an objectReference as value of the `reply` field (as suggested in https://github.com/knative/eventing/issues/1936#issuecomment-534220437) makes much sense.

[2019-09-24 09:50] marcobebway commented on #1925
/assign @marcobebway

[2019-09-24 11:26] matzew opened #1955 "Design for drained subscriptions"
**Problem**

As stated by @Harwayne in [this comment](https://github.com/knative/eventing/pull/1947#pullrequestreview-292091822) we do currently lack a proper, documented design for drained subscriptions

**Exit Criteria**
Spec documents updated, and PR filed for potential fix of the "design"

[2019-09-24 14:58] aslom opened #1958 "Conformance testing for Channel URL"
**Problem**
From [channel specification](https://github.com/knative/eventing/blob/master/docs/spec/channel.md) extracted testable
“The HTTP event queueing request's URL MUST correspond to a single, unique
Channel at any given moment in time. This MAY be done via the host, path, query
string, or any combination of these. This mapping is handled exclusively by the
Channel implementation, exposed via

[2019-09-24 14:58] aslom commented on #1958
Testable enough by checking status.address is URL and modify URL with random changes to verify 404?

[2019-09-24 15:00] aslom opened #1959 "Conformance testing for channel control plane aggregated addressable resolver ClusterRole"
**Problem**
From [channel specification](https://github.com/knative/eventing/blob/master/docs/spec/channel.md) extracted testable

“Every CRD MUST create a corresponding ClusterRole, that will be aggregated into
the `addressable-resolver` ClusterRole. This ClusterRole must include
permissions to get, list, and watch the CRD's custom objects and their status.
“Each channel MUST have the `duck.knati

[2019-09-24 15:00] aslom commented on #1959
Test
Channel is created by test e2e (by default in-memory, can be configured to be Kafka with helpers)
Create ServiceAccount.
Create ClusterRoleBinding the ServiceAccount from 1 granting addressable-resolver role.
Verify channel has the `duck.knative.dev/addressable: "true"` label on its`addressable-resolver` ClusterRole.
Clean up - delete the ClusterRoleBinding and the ServiceAccount from steps 1

[2019-09-24 15:03] aslom opened #1960 "Conformance testing for channel metadata"
**Problem**
From [channel specification](https://github.com/knative/eventing/blob/master/docs/spec/channel.md) extracted testable
“Each channel is _namespaced_ and MUST have the following:
- label of `messaging.knative.dev/subscribable: "true"`
- The category `channel`.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

System Inte

[2019-09-24 15:03] aslom commented on #1960
Test
Channel is created by test e2e (by default in-memory, can be configured ot be Kafka with helpers)
Verify the channel is _namespaced_ (?)
Verify the channel has label of `messaging.knative.dev/subscribable: "true"
Verify the channel has he category `channel`.

[2019-09-24 15:56] Harwayne commented on #1925
/project Observability In progress

[2019-09-24 16:06] nachocano commented on #1925
fyi @mdemirhan

[2019-09-24 17:07] vaikas-google commented on #1936
For consistency, it should probably be duck.Destination.

[2019-09-24 17:15] n3wscott commented on #1936
The history here was there were two levels of addressable. One was not persistent and assumed to be a filter or a mutator. One assumed control over the event and had no reply. This `channel` was required to be the persistent type but we did not have a way to force that. I bet this was updated to be a ref for the channel provisioner-to-CRD migration and no one noticed.

[2019-09-24 19:39] aslom commented on #1960
/project Channels In progress

[2019-09-24 19:40] aslom commented on #1960
@Harwayne Channel projects can be found with https://github.com/knative/eventing/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+Conformance
(I am not able to add them ^^)

[2019-09-24 19:40] Harwayne commented on #1960
/project Channels In progress

[2019-09-24 19:41] Harwayne commented on #1591
/project Channels In progress

[2019-09-24 19:41] Harwayne commented on #1845
/project Channels In progress

[2019-09-24 19:41] Harwayne commented on #1846
/project Channels To do

[2019-09-24 19:42] Harwayne commented on #1850
/project Channels To do

[2019-09-24 19:43] Harwayne commented on #1850
Yes, that makes sense to me. In essence we need a section about running the conformance tests and which features to mark for SHOULDs.

[2019-09-24 19:43] Harwayne commented on #1958
/project Channels To do

[2019-09-24 19:43] Harwayne commented on #1959
/project Channels To do

[2019-09-24 19:46] aslom commented on #1573
Added initial version about impact of implementing DLC/ErrorHandling in existing channel implementations and related work showing how DLQ is used in other products: https://docs.google.com/document/d/1qRrzGoHJQO-oc5p-yRK8IRfugd-FM_PXyM7lN5kcqks/edit#heading=h.h0cxm9mbzria

[2019-09-24 19:49] aslom commented on #1573
One issue raised today was do we need error sink separately form channel - there are several comments about it and one observation was that wrapping events may be avoided by using cloud events extensions?
https://docs.google.com/document/d/1qRrzGoHJQO-oc5p-yRK8IRfugd-FM_PXyM7lN5kcqks/edit#heading=h.j3wn3hkg5qre

[2019-09-24 19:51] aslom commented on #1573
Should we open issues to document discussion or continue using google doc comments?

[2019-09-24 20:07] #1935 closed

[2019-09-25 00:06] #1932 closed

[2019-09-25 00:18] grantr opened #1961 "ApiServerSource controllerSelector and labelSelector cannot be empty"
**Describe the bug**
When creating an ApiServerSource without controllerSelector or labelSelector fields, the webhook complains about the values being the wrong type ("null" vs object). To get the object created, you have to specify their value as the empty object:

[code]

 **Expected behavior**
These fields are actually optional.

 **To Reproduce**
Create an ApiServerSource without `labelSelecto

[2019-09-25 00:18] grantr commented on #1961
@grac3gao actually reported this, I'm just creating the issue.

[2019-09-25 07:48] Abd4llA commented on #1777
/assign

[2019-09-25 09:47] daisy-ycguo opened #1962 "Local e2e test fail because of `kodata/refs`"
**Describe the bug**
When I run test on my local environment by `test/e2e-tests.sh --run-tests`, it is reported:
[code]

 **Expected behavior**
Local e2e test works well.

 **To Reproduce**
1. Set up a local Knative test environment, including istio, serving and monitoring
2. Run `test/e2e-tests.sh --run-tests`

 **Knative release version**
0.9

 **Additional context**
`kodata/refs` files are adde

[2019-09-25 12:38] lionelvillard commented on #1962
@daisy-ycguo If my memory serves well, you need to update ko.

[2019-09-25 12:41] lionelvillard commented on #1777
this is related to #1573

[2019-09-25 12:44] lionelvillard commented on #1961
/assign
/milestone 0.10.0

[2019-09-25 16:04] daisy-ycguo commented on #1962
Thanks @lionelvillard
I upgraded `ko` to latest version, it works well now.
Close this issue.

[2019-09-25 16:04] #1962 closed

[2019-09-25 16:08] aslom commented on #1573
PR proposal (day "one" solution): https://github.com/knative/eventing/pull/1949

[2019-09-25 18:17] #1821 closed

[2019-09-25 20:10] Harwayne commented on #1846
/assign @grac3gao

[2019-09-25 20:10] Harwayne commented on #1846
/project Channels In progress

[2019-09-25 21:49] #1961 closed

[2019-09-25 22:04] grac3gao commented on #1906
/assign @grac3gao

[2019-09-25 22:10] grac3gao commented on #1822
/close

[2019-09-25 22:10] #1822 closed

[2019-09-25 23:44] nachocano commented on #1550
Resuming this thread so that we can reach an agreement and close this...
How about adding a single registry annotation to source CRDs with all the info we were previously putting inside the openAPIV3Schema schema.
It will look something like:

[code]

where the annotation value is a valid json object. In particular, a list of "EventTypes". Any tooling will be able to easily unmarshall it...

Examp

[2019-09-26 00:20] lionelvillard commented on #1521
Getting closer to a solution. Here the outline:
* The subscription controller checks if the subscriber is Composable (label `messaging.knative.dev/addressableType: composable` on CRD). If yes, continue. If no, fallback to previous behavior
* The subscription controller checks is the subscriber is a template (label `messaging.knative.dev/template: true` on the subscriber). If yes, continue, otherwi

[2019-09-26 06:11] rhuss commented on #1550
I am ok with this approach as this approach worked nicely in previous iterations of Kubernetes (anyone remembering init-containers done as annotations ?). However, in practice, these JSONs can become quite unwieldy as the formatting never stays the same and everything becomes a single line once applied. This was hard to maintain, but as this is not supposed to be edited once created (at least not

[2019-09-26 21:27] grantr commented on #1758
I've written a design doc describing a general ConfigMap propagation solution that solves this problem for Knative Eventing and other projects with this need. It suggests creating a namespaced CRD `ConfigMapPropagation` that signals the intent to copy ConfigMaps from one namespace to another:

[code]

More details in https://docs.google.com/document/d/19kubGE8RQWlPFxz38G7hAtcqfihHosXCr6zXnWWOfOI/e

[2019-09-26 23:04] aaron-lerner commented on #1940
An issue I see with this is that I don't think all CLIs will be able to be able to dynamically add flags for each `x-cli-option`.

[2019-09-26 23:27] #1922 closed

[2019-09-26 23:28] grantr commented on #1804
Fixed in #1941

[2019-09-26 23:28] #1804 closed

[2019-09-26 23:28] #1461 closed

[2019-09-26 23:30] grantr opened #1970 "Run perf tests continuously for IMC channel"
**Problem**
Once #1969 goes in, we'll have continuous tests for the Broker using IMC. We also need to run the IMC channel standalone perf test continuously.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
CI that runs the channel-imc test on a schedule.

/area performance
/project Perf/Measurement To do

[2019-09-26 23:41] grantr commented on #1970
Blocked by https://github.com/knative/pkg/issues/721

[2019-09-27 00:14] grantr commented on #1906
/unassign

[2019-09-27 05:37] nachocano commented on #1550
Thanks @rhuss , @matzew @n3wscott and others for all the comments.
Upon discussions, we will go with the approach mentioned above and agreed by @rhuss . If we need something more advanced in the future, we can certainly revisit and see if we should introduce new object(s). For now, this is sufficient to cover the discoverability use case.

As soon as https://github.com/knative/eventing-contrib/pul

[2019-09-27 07:37] rhuss commented on #1940
Yes, but they alway could ;-).

This meta-data is helpful for CLI authors if they want to support dynamic cli options, based on the CR at hand. This is supported by any language, but it could be that your favourite options parsing library doesn't support this. However, you can still do the CLI options parsing manually, this is not a principal limitation for a client.

[2019-09-27 07:47] rhuss commented on #1940
Following the lines of the discussion starting at https://github.com/knative/eventing/issues/1550#issuecomment-535267670 and the fact that we won't see support for arbitrary `x-cli-` schema fields in K8s, I suggest the following approaching:

We introduce in the Source Schema Spec the support of an annotation `client.knative.dev/options` which takes the form:

[code]

[2019-09-27 07:49] rhuss commented on #1940
@adamharwayne if this sounds ok, I would add this to the "Kn eventing" proposal, too.

[2019-09-27 08:47] matzew commented on #1550
/close

It got merged :tada:

[2019-09-27 08:47] #1550 closed

[2019-09-27 21:36] #1700 closed

[2019-09-27 23:06] milantracy commented on #1018
@grantr would you mind assigning the issue to me if no one is working on it?

[2019-09-27 23:15] grantr commented on #1018
/assign @milantracy

[2019-09-27 23:15] grantr commented on #1018
@milantracy it's yours now. Thanks for offering to work on it :)

[2019-09-29 12:39] richard2006 opened #1973 "Runing CronJobSource Problem "53: no such host""
**Describe the bug**
About Knative Eventing v0.9.0， creating the CronJobSource, but got the problem :
[code]

 **Expected behavior**
Send the message to the event-display

 **To Reproduce**
Create the CronJobSource:
[code]
And the event-display:
[code]

Error Output:
[code]
 **Knative release version**
v0.9.0

 **Additional context**
event-display service is running normally:
[code]

[2019-09-29 18:12] yuzisun commented on #1494
why this is closed ?

[2019-09-29 18:21] yuzisun commented on #1494
/reopen

[2019-09-29 18:22] yuzisun commented on #1494
I'd still like to follow up with a possible solution or what's the plan long term for this.

[2019-09-30 14:23] #1951 closed

[2019-09-30 16:07] matzew opened #1976 "API spec for Eventing (core) APIs"
Similar to [KN Serving](https://github.com/knative/docs/blob/master/docs/serving/spec/knative-api-specification-1.0.md), we want to document the CORE APIs in a MD file.

The task here involved migrating existing content (e.g. the different specs) into one document.

The idea is to group by api groups:

* eventing.knative.dev
* messaging.knative.dev
* sources.eventing.knative.dev

**Exit criteria**

[2019-09-30 16:08] matzew commented on #1976
NOTE: this doc will also help w/ the `v1beta1` API promotion and is helpful with [this document](https://docs.google.com/document/d/1wJrRGyeVEacs6CQuys4ytSVu8WVbKCLkTf6SiBWxVKo/edit#).

/cc @akashrv @vaikas-google

[2019-09-30 16:08] matzew commented on #1976
/assign @matzew

[2019-09-30 16:28] grantr commented on #1494
Probably because the Kafka code has moved to eventing-contrib. I created https://github.com/knative/eventing-contrib/issues/636 to track this request in that repo.

[2019-09-30 16:28] #1494 closed

[2019-09-30 16:43] #1478 closed

[2019-09-30 16:47] lionelvillard opened #1977 "Cannot creates InMemoryChannel with empty spec"
**Describe the bug**
this:
[code]
fails to be deployed

 **Expected behavior**
it should not fail

 **To Reproduce**
`kubectl apply -f channel-without-spec.yaml`

 **Knative release version**
0.9.0

[2019-09-30 20:06] lionelvillard commented on #1973
Have you tried invoking `event-display` directly, eg. by using curl? See https://knative.dev/development/serving/samples/hello-world/helloworld-go/index.html for instructions.

[2019-09-30 21:37] aliok opened #1980 "Missing user info annotations on resources"
**Describe the bug**
With https://github.com/knative/eventing/issues/1063 and https://github.com/knative/eventing/pull/1479 brokers, triggers and subscriptions have 2 annotations:
- `xxx.knative.dev/creator`
- `xxx.knative.dev/lastModifier`

These annotations are missing for other resources.

 **Expected behavior**
Other resources should also have them.

 **To Reproduce**
Just create the resources

[2019-09-30 21:41] aliok commented on #1980
I would like to work on this follow up task. Until there's some clarification, I will simply try to add the annotations to *all* resources. Let me know if there's any resource that should not have them.

[2019-09-30 21:42] aliok commented on #1980
/assign @aliok

[2019-10-01 04:40] matzew commented on #1980
@aliok wanna open an issue for our "contrib" CRDs as well ?

[2019-10-01 08:22] aliok commented on #1980
Yes! https://github.com/knative/eventing-contrib/issues/638

[2019-10-01 09:30] matzew commented on #1977
Not able to reproduce this!

[code]

using this "tutorial":

https://github.com/matzew/knative-eventing-samples/tree/master/02-source_channel

[2019-10-01 09:32] matzew commented on #1977
Applying 0.9.0 like:

[code]

where `eventing_version` is:
[code]

[2019-10-01 09:32] matzew commented on #1977
@lionelvillard mind looking here:

https://github.com/matzew/lberk-misc/blob/eventing_090_kafka_source/setup.sh#L88

[2019-10-01 13:18] lionelvillard commented on #1977
I'll double check on a clean install.

[2019-10-01 13:48] lionelvillard commented on #1977
cannot reproduce.

[2019-10-01 13:48] #1977 closed

[2019-10-01 15:55] jamesward commented on #1973
Similar error for me:
[code]

[2019-10-01 15:57] marcobebway commented on #1925
The PR is created on the knative/observability repository https://github.com/knative/observability/pull/52.

[2019-10-01 17:36] aslom commented on #1940
This is great idea to make CLI easier to use.

[2019-10-01 18:00] #1950 closed

[2019-10-01 18:20] jamesward commented on #1973
I'm getting similar errors with any event consumer that is a knative service.  Switching to a deployment + k8s service gets things working, but not ideal.

[2019-10-01 19:20] rgregg commented on #1554
I assume now that #1857 has landed, this is just a dupe of #1856?

[2019-10-01 19:53] meteatamel commented on #1973
I also ran into the same issue with my HelloWorld [step](https://github.com/meteatamel/knative-tutorial/blob/master/docs/01-helloworldserving.md) in knative-tutorial. I was told that I need to update Istio use cluster local gateway as explained [here](https://knative.dev/docs/install/installing-istio/#updating-your-install-to-use-cluster-local-gateway). I haven't tried this yet.

[2019-10-01 20:09] lionelvillard opened #1986 "Getting a panic in the inmemory dispatcher"
**Describe the bug**

A cronjob sending an event to a ksvc causes this panic:

[code]

 **Expected behavior**
no panic

 **To Reproduce**
Create a cronjob sending event to channel?

 **Knative release version**
nightly

[2019-10-01 20:10] grantr commented on #1986
@Harwayne this looks like a tracing issue

[2019-10-01 20:10] lionelvillard commented on #1986
was working before this PR:  #1972

[2019-10-01 20:11] lionelvillard commented on #1986
This is running in a cluster without tracing enabled.

[2019-10-01 20:15] grantr commented on #1554
Not a dupe - this is the issue that PR #1856 fixes.

[2019-10-01 20:19] lionelvillard commented on #1986
It seems more complicated than a cronjob to event-display. The failing config is this one: https://github.com/lionelvillard/knative-examples/tree/master/examples/sequence/config

[2019-10-01 20:19] vaikas-google commented on #1973
@tcnghia Are there any known issues? Is this something that should work with the 0.9 comprehensive install, or do you need to do something else to get this working? I'd expect that the comprehensive version of the install would support this out of the box?
Is there some step missing from our documentation? I'm just curious if this is indeed an eventing problem (looks like it might not be?) but see

[2019-10-01 20:26] jamesward commented on #1973
The similarity to [this](https://github.com/knative/serving/issues/5734) hints that there is something else wrong underneath this all.

[2019-10-01 20:29] lionelvillard commented on #1973
or maybe this: https://knative.dev/development/install/installing-istio/ section `Updating your install to use cluster local gateway`

[2019-10-01 20:50] Harwayne commented on #1986
/assign

[2019-10-01 20:50] grantr opened #1987 "Eventing release file names aren't consistent with serving"
**Describe the bug**
Serving uses `serving.yaml` as the default install asset and `serving-core.yaml` as the essentials asset. Eventing has a similar split, but with different names: `release.yaml` is the default asset and `eventing.yaml` is the essentials asset[1]. Anyone who installs `serving.yaml` and then `eventing.yaml` will get a functional serving, but a non-functional eventing because `eve

[2019-10-01 20:53] lionelvillard commented on #1986
here a simpler config: https://github.com/lionelvillard/knative-examples/tree/master/issues/eventing-1986

[2019-10-01 20:58] Harwayne commented on #1986
The failing line is:
https://github.com/knative/eventing/blob/ec33114501eb77ae83bb59b5b8c17321754b3248/vendor/go.opencensus.io/trace/trace.go#L265
So either `s` or `s.data` is nil.

It is being called from here https://github.com/knative/eventing/blob/3f243b58834839857efd55ab0ed2e7593264b569/pkg/tracing/traceparent.go#L82-L83.

So either `span` or `span.data` is nil.

`span` is set to StartSpanWit

[2019-10-01 21:54] Harwayne commented on #1986
Note that for this to reproduce, tracing has to be set to disabled. Or at least a request has to go through that isn't sampled.

[2019-10-02 13:03] lionelvillard commented on #1986
Can we reopen? Still not working. I'm testing against nightly, so it could an issue with the nightly image.

[2019-10-02 13:07] lionelvillard commented on #1889
@matzew Could be an istio problem :-)

[2019-10-02 13:20] lionelvillard commented on #1515
Related to #1521

[2019-10-02 13:44] lionelvillard commented on #1936
/assign

[2019-10-02 14:03] lionelvillard commented on #1936
waiting for #1978 to either be merged or closed. It configures the subscription reconciler with a uriresolver that can be used to fix this bug

[2019-10-02 14:55] lionelvillard opened #1989 "sharedMain for receive adapters"
**Problem**
receive adapters main code is not shared, resulting in lots of duplicated code.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

Event source implementors

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

CronJob and ApiServer sources receive adapter main code is si

[2019-10-02 15:00] matzew commented on #1889
love it!!

On Wed 2. Oct 2019 at 15:14, Lionel Villard <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2019-10-02 15:57] Harwayne commented on #1986
/reopen

Can you give some more details? Is it the same stack trace? What image is the imc-dispatcher running as? What is your config-tracing configmap in knative-eventing look like?

[2019-10-02 16:47] #927 closed

[2019-10-02 16:49] #827 closed

[2019-10-02 16:49] #1543 closed

[2019-10-02 16:49] akashrv commented on #1543
/close since the issue cannot be reproed

[2019-10-02 16:50] akashrv commented on #1543
/close

[2019-10-02 16:51] paulrossman commented on #1660
@lionelvillard are you still working on this? if so, could you move to the current milestone and update progress.

[2019-10-02 16:53] akashrv commented on #1634
related to https://github.com/knative/docs/issues/1853

[2019-10-02 17:05] lionelvillard commented on #1660
this problem is all over the place (not only specific to the APIServerSource). Not sure how to fix it.

/unassign

[2019-10-02 17:09] akashrv commented on #1987
/asssign @grantr
/milestone v0.10.0

[2019-10-02 17:09] akashrv commented on #1987
/assign @grantr

[2019-10-02 17:09] akashrv commented on #1987
/milestone v0.11.0

[2019-10-02 17:10] akashrv commented on #1986
/milestone v0.10.0
/priority important-soon

[2019-10-02 17:53] Harwayne commented on #1889
The log from the original is a problem, but it should be limited to only tracing, not actually problematic sending events. https://github.com/knative/eventing/blob/96384412d4698fd27470b48a03e6ec64808576f6/cmd/apiserver_receive_adapter/main.go#L152

#1990 fixes the error message from the initial issue. I agree with @lionelvillard that the actual problem of not sending/receiving events is likely cau

[2019-10-02 20:52] lionelvillard commented on #1986
This is fixed in the master branch. The nightly build failed last night so I was still using the wrong image.

[2019-10-02 20:52] #1986 closed

[2019-10-02 21:52] akashrv commented on #1462
@grantr @n3wscott @mattmoor  - Is this still an active and valid issue?

[2019-10-02 21:54] grantr commented on #1698
Closed by #1941.

[2019-10-02 21:54] #1698 closed

[2019-10-02 21:58] akashrv commented on #1498
@anishj0shi @sayanh any updates on this one? Is it fixed?

[2019-10-02 22:03] grantr commented on #1462
This might be related to #1873

[2019-10-02 22:06] wu105 opened #1991 "Failed version check running on a v1.12.5 cluster."
**Describe the bug**
Failed version check running on a v1.12.5 cluster.

 **Expected behavior**
Should pass the check.

 **To Reproduce**
See below.

 **Knative release version**
See below.

 **Additional context**
Deploy on k8s cluster running v1.12.5+2.1.1.el7 on RH linux, using the following commands:
kubectl apply --selector knative.dev/crd-install=true \
   --filename https://github.com/knati

[2019-10-03 00:29] wu105 commented on #1991
activator in namespace knative-serving has a similar problem:
[code]

[2019-10-03 05:55] richard2006 commented on #1973
Yes, I have tried invoking `event-display` directly, but it seems no problem.
[code]

[2019-10-03 05:59] richard2006 commented on #1973
Hi @vaikas-google , I tried using the same istio. In Knative v0.8.0, it is correct. But with the 0.9,  I found the issue.

[2019-10-03 12:47] lionelvillard commented on #1973
Have you upgraded to serving 0.9.0? In that case you also need to install the istio cluster-local-gateway.

[2019-10-03 15:47] vaikas-google commented on #1973
Thanks all for the pointers, yes, the current instructions that I had been following for the repro omitted the installation of the cluster-local-gateway.

[2019-10-03 20:26] grac3gao commented on #1970
/ assign @grac3gao

[2019-10-03 20:29] grac3gao commented on #1970
/assign @grac3gao

[2019-10-03 21:27] vaikas-google commented on #1908
/close

Thanks @matzew

[2019-10-03 21:27] #1908 closed

[2019-10-03 21:30] vaikas-google commented on #1894
Yeah, so we probably don't want tests to hang forever, or did I misunderstand something @vagababov ?

[2019-10-03 21:36] vaikas-google commented on #1913
To reduce the churn, definitely feel strongly not even thinking about this for v0.10, we're going to revisit this in v0.11. I'd suggest we do some UX before renaming, given how much fun they've been in the past :)

[2019-10-03 21:47] vaikas-google commented on #1940
We should also add this to the Source Spec after it lands, I don't want to hold off on that before merging, but once it lands on the spec, we can close this?
https://github.com/knative/eventing/pull/1856

[2019-10-03 21:48] vaikas-google commented on #1940
I'd like to get the Source Spec changes in for v0.10.0-M2 and finish the CRDs to support this with little more leeway, if we can get everything done for 10-M2, awesome :)

[2019-10-04 01:06] vagababov commented on #1894
I think we already run the tests with -1 timeout on Prow

[2019-10-04 05:02] wu105 commented on #1991
It seems that the following versions do not have this issue:
https://github.com/knative/eventing/releases/download/v0.8.0/release.yaml
https://github.com/knative/serving/releases/download/v0.3.0/serving.yaml

[2019-10-04 14:39] maschmid opened #1996 "[e2e] TestApiServerSource should be runnable as a namespace-admin"
**Describe the bug**
TestApiServerSource creates a ClusterRole unnecessarily, as it is only interested in events occuring in the test namespace, it should only use a namespaced Role, instead of a ClusterRole.

Currently this prevents this test to be run as an admin of the test namespace, and must be run as a cluster admin.

 **Expected behavior**
Scenarios that should be implementable by non-clust

[2019-10-04 17:12] vaikas-google commented on #1973
and little more, I had been using GKE Istio addon, and trying to install the cluster-local-gateway appeared to be problematic, so mayhaps we need to update the installation instructions for that.
@lionelvillard did you install Istio manually yourself? Or did the Istio come with your cluster? Just trying to figure out what all might need to get updated in our docs.
@richard2006 which platform are y

[2019-10-04 17:17] lionelvillard commented on #1973
I installed istio manually and added the cluster-local-gateway manually, following the knative.dev doc.

[2019-10-04 18:55] Harwayne opened #1998 "Trigger doesn't notice Broker changes"
**Describe the bug**
Triggers have gotten stuck unready with the status:

[code]

The Broker's status:
[code]

The Trigger should have re-reconciled once the Broker changed its status.

 **Expected behavior**
Triggers should reconcile when the Broker they are associated with change. In particular https://github.com/knative/eventing/blob/d0952676383e2d062d8bd75a42d434217727cfe0/pkg/reconciler/trigg

[2019-10-05 00:11] akashrv commented on #1861
Closing this as duplicate of #1740
/close

[2019-10-05 00:11] #1861 closed

[2019-10-05 00:18] akashrv commented on #1783
@amir3code Can we close the issue?

[2019-10-05 00:27] akashrv commented on #1025
@grantr Since you have been taking care of releases for a while=. Could you quickly add an example based on one of the previous release notes?

[2019-10-05 00:30] #815 closed

[2019-10-05 00:31] akashrv commented on #647
@gyliu513 any updates?

[2019-10-05 07:57] richard2006 commented on #1973
Hi @lionelvillard , yes, I have upgraded to serving 0.9.0. And i have seen the knative.dev doc about the cluster-local-gateway, but it seems need to disable the ingressgateway. And I still need the ingressgateway.

[2019-10-05 08:16] richard2006 commented on #1973
Hi, @vaikas-google , I use the knative in alibaba cloud.  it has the ingressgateway now, but it seem that I still need install the cluster-local-gateway manually in istio after upgrading to the v0.9.0.
[code]

[2019-10-06 13:17] meteatamel commented on #1973
@vaikas-google I also used Istio add-on on GKE. Is it straightforward to add cluster-local-gateway onto that?

[2019-10-07 07:10] anishj0shi commented on #1498
Hello @akashrv , I'm just waiting for a reply over here https://github.com/knative/eventing/pull/1691#discussion_r330114108

Besides this, i think we are done with this.

[2019-10-07 13:59] lionelvillard opened #2002 "Changing parallel spec does not update underlying subscription/channels"
**Describe the bug**
Changing parallel spec does not update underlying subscription/channels

 **Expected behavior**
Changing parallel spec should update underlying subscription/channels

 **To Reproduce**
Create a parallel object and add a new branch.

 **Knative release version**
0.9.0

[2019-10-07 14:00] lionelvillard commented on #2002
/assign

[2019-10-07 16:13] n3wscott opened #2003 "Should sources have a spec.eventType always, start support for upstream filtering?"
Expand on the source registry with https://github.com/knative/eventing/pull/1856#issuecomment-536914865

While working on the [Kn Eventing proposal](https://docs.google.com/document/d/1B8VK-5nuxt3D-i1Up3onmUbzcztQXE0GRgf1lfx49P8/edit#), I remarked that this proposal [supports a field `.spec.eventTypes`](https://docs.google.com/document/d/1B8VK-5nuxt3D-i1Up3onmUbzcztQXE0GRgf1lfx49P8/edit#bookmark=i

[2019-10-07 17:19] lionelvillard opened #2005 "Removing a step in a sequence does not properly update the underlying resources"
**Describe the bug**
Removing a step in a sequence does not properly update the underlying resources.

 **Expected behavior**
Removing a step in a sequence should properly update the underlying resources.

 **To Reproduce**
Create a sequence with 3 steps, then remove the last one.

 **Knative release version**
0.8.0+

[2019-10-07 17:22] nachocano commented on #2003
fyi @aaron-lerner

[2019-10-07 19:23] nachocano commented on #1998
/assign

[2019-10-07 22:57] chizhg commented on #1894
Actually we have timeout set for all the integration tests running on Prow, see https://github.com/knative/serving/blob/7d87f88c65981e1905429a02bb1942fe4b96d9f7/test/e2e-tests.sh#L51

[2019-10-07 23:02] adrcunha commented on #1894
Prow jobs have a 2h timeout. The running job is simply killed, so the log output can be partial. But you can easily check that by using a 3h timeout with the above mentioned test.

[2019-10-07 23:35] coryrc commented on #1894
/assign @coryrc I'm working on a solution for better logging

[2019-10-07 23:38] chizhg commented on #1894
/assign @coryrc
Additional text is not allowed for this command 🤷‍♂

[2019-10-08 00:17] capri-xiyue opened #2009 "Change Content-Type to those Content-Type that cloud sdk-go supports"
**Describe the bug**
Got Response as follows when I did performance test for broker with pubsub channel:
`400 Bad Request 400 HTTP/1.1 1 1 map[Content-Length:[197] Content-Type:[text/plain; charset=utf-8] Date:[Fri, 04 Oct 2019 03:01:38 GMT]] 0xc000371400 197 [] false false map[] 0xc0004a1600 <nil>}`
Currently cloudevents sdk-go only supports type as follows:
`
"application/json" and
"text/json" a

[2019-10-08 00:18] capri-xiyue commented on #2009
/assign @capri-xiyue

[2019-10-08 13:50] aslom commented on #1894
I think it is more important to have test logs than running tests in parallel. Maybe we should disable parallel test running until golang test is fixed? @coryrc @vaikas-google @chizhg ?

[2019-10-08 14:47] aslom commented on #1894
If test logs are lost then how do you diagnose what caused timeouts?

[2019-10-08 14:56] #1925 closed

[2019-10-08 16:39] Harwayne opened #2011 "Test Helpers should return the created resources"
We probably should return the created resource for every `create` function, to make them consistent, but can be in a different PR.

_Originally posted by @chizhg in https://github.com/knative/eventing/pull/1995_

---

We have many functions in https://github.com/knative/eventing/blob/master/test/common/creation.go of the form `CreateFooOrFail`. Those functions should return the Foo that was create

[2019-10-08 17:45] nachocano commented on #1925
@marcobebway thanks for doing this! Quick question, can we remove the [ugly patching](https://github.com/knative/eventing/blob/master/docs/metrics.md#access-metrics) we are doing to the config maps in eventing with this? If so, would it be possible to update the docs there?

[2019-10-08 17:51] nachocano commented on #1693
@nachtmaar was wondering if you were able to finish these ones, or if there are things pending?

[2019-10-08 18:13] #1996 closed

[2019-10-08 18:29] nachocano commented on #1818
/assign @yolocs

[2019-10-08 18:36] vaikas-google commented on #1973
Sorry for the tardy reply... work got in the way of things ;)

Yes, so the workaround is to install the _correct_ version from the serving stack. So, if you create a GKE cluster using the Istio Add on, you need to then install this (mine is 1.1.13).

https://github.com/knative/serving/blob/master/third_party/istio-1.1.15/istio-knative-extras.yaml

You can figure out which version of istio is by lo

[2019-10-08 18:40] grantr commented on #1646
Is this still an issue now that CloudEvent extensions are always strings?

[2019-10-08 18:42] nachtmaar commented on #1693
Hey @nachocano. I am currently only working on `Control Plane`. Did not start with Data plane yet.
Here is a quick status update:
- I already refactored GitHubSource to make use of `knative.dev/pkg/controller` runtime.
- For that I had to refactor the whole Reconciler, it was still using `sigs.k8s.io/controller-runtime`
- Metrics are working now with `knative.dev/pkg/controller` runtime
- Currentl

[2019-10-08 19:42] akashrv opened #2012 "Enable eventing when a Trigger is created for first time"
**Problem**
Today, users have to enable eventing on the namespace using the label:knative-eventing-injection: enabled, and then create triggers that target default broker. Labelling the namespace creates the default broker and necessary roles and sets things up for the default user experience.
To improve UX, can trigger reconciler label the namespace if needed (if no default broker present, and na

[2019-10-08 19:49] nachocano commented on #1693
Thanks @nachtmaar for the detailed update! Sounds great, thanks for taking care of this. And yeah, whenever you have the tests working, let's get the control plane part in, and then we can focus on data plane in another PR.

[2019-10-08 19:49] vaikas-google commented on #1973
https://github.com/knative/docs/issues/1842

[2019-10-08 19:50] nachocano commented on #1693
@yolocs is starting to work on Data Plane metrics for InMemoryChannel

[2019-10-08 20:31] Harwayne commented on #2012
My preference would be to do #1837. Then we could solve this by having the Trigger optionally create the Broker, if the Trigger's `spec.broker` is `default`.

[2019-10-08 20:57] grantr commented on #2012
I think this is the same as what you're saying @Harwayne, but just to be clear: Broker autocreation should probably only happen for the `default` Broker, not for any other Broker.

[2019-10-08 20:57] #2009 closed

[2019-10-08 22:38] Harwayne commented on #1814
/close

#1896 added the randomness to the namespace names. As far as I can tell, that is all that is being tracked by this issue, as the logging portion was moved to #1894.

[2019-10-08 22:38] #1814 closed

[2019-10-08 23:22] #1554 closed

[2019-10-09 02:10] richard2006 commented on #1973
@vaikas-google Tks,  and I can refer the https://github.com/knative/serving/blob/master/third_party/istio-1.2.6/istio-knative-extras.yaml to install the 'cluster-local-gateway'.

[2019-10-09 11:34] marcobebway commented on #1925
@nachocano, I agree with you about removing the scrape config patching from eventing! Please let me think about how we can move this forward! Also, I think that this might involve how the monitoring config is bundled as part of the Knative release, what do you think?

[2019-10-09 13:24] ratamovic commented on #1973
Still no luck on my side even with a default namespace broker, either with Istio add-on or a manually installed Istio (1.3.1) with extras applied (that is, cluster-local-gateway created).
Here is what I do to create and setup my cluster: https://pastebin.com/jLWvg4s8
I can't manage to find out why it's not working...

[2019-10-09 17:40] nachocano commented on #1998
It seems the problem is that we are using listers from different informers for the same types.
The resource tracker dynamically creates an informer (with its lister), but in the reconciler code we end up using the brokerLister from other informer, thus there caches might not be synced. The brokerLister cache still sees the broker as not ready, whereas the dynamically generated informer cache, whic

[2019-10-09 20:05] grac3gao commented on #2012
/assign @grac3gao

[2019-10-09 20:58] lionelvillard opened #2019 "One controller for managing receive adapters"
**Problem**
Today there is one controller per receive adapter, and they are all doing the same thing.
It'd be nice to have only one.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
Source developer

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**

[2019-10-09 21:06] capri-xiyue opened #2020 "Delete 200-source-resolvers-clusterrole.yaml and bind clusterrole source-observer to eventing-controller service account"
## Expected Behavior

## Actual Behavior
Currently we have two clusterrole source-resolvers and source-observer to provide read access to sources. We should only keep one.
## Steps to Reproduce the Problem

1.
2.
3.

## Additional Info

[2019-10-09 21:32] vaikas-google commented on #1973
@ratamovic
I can repro what you see in the logs, however in my case it's non-fatal. My belief is that this is because istio hasn't come up fully yet, so our container can't reach the API server. My logs show something like this:
E1009 18:34:40.411161       1 reflector.go:125] k8s.io/client-go/informers/factory.go:131: Failed to list *v1.ConfigMap: Get https://10.63.240.1:443/api/v1/namespaces/knat

[2019-10-09 21:50] #2020 closed

[2019-10-09 23:38] #1707 closed

[2019-10-10 00:08] grantr commented on #1918
This would be a breaking API change. Trigger spec changes from:

[code]

to:
[code]

Why is this breaking change necessary or useful?

[2019-10-10 00:23] grantr commented on #1918
I'm concerned that putting all the fields at the top level of the Destination struct makes validation complex for the user. Similar concerns were expressed in https://github.com/knative/pkg/pull/561. The validation message [here](https://github.com/knative/pkg/blob/0a0c4972cd7134ce54b1ce6a6de8f189257a64fb/apis/v1alpha1/destination.go#L121-L123) considers the three fields `apiVersion`, `kind`, and

[2019-10-10 03:54] richard2006 commented on #1973
Hi @ratamovic, you can see 'https://github.com/knative/docs/tree/master/docs/eventing/debugging' to find the problem.

[2019-10-10 06:49] romachalm opened #2024 "404 when downloading in-memory-channel-crd.yaml v0.9.0"
**Describe the bug**
The file https://github.com/knative/eventing/releases/download/v0.9.0/in-memory-channel-crd.yaml does not exist and returns 404

 **To Reproduce**
wget https://github.com/knative/eventing/releases/download/v0.9.0/in-memory-channel-crd.yaml

[2019-10-10 12:31] lionelvillard commented on #2024
Where did you get that link?

[2019-10-10 12:31] lionelvillard commented on #2024
@romachalm

[2019-10-10 12:54] ratamovic commented on #1973
Hi. Thanks @vaikas-google @richard2006 . Indeed it works the "extras" yaml works.
I was mislead by the non-fatal error message. My container source now sends correctly messages trough the broker (and are received by a sequence) and doesn't receive a 404 anymore.
So all is good now :+1:

[2019-10-10 13:23] lionelvillard opened #2025 "Consider using k8s cronjob for CronJobSource"
**Problem**
k8s supports natively CronJob. Maybe (or maybe not) CronJobSource should use it.

[2019-10-10 13:46] lionelvillard commented on #1873
same here, cannot reproduce.

[2019-10-10 13:47] romachalm commented on #2024
I got it from "Installing Knative/Customizing your Install" doc : https://knative.dev/docs/install/knative-custom-install/

[2019-10-10 13:59] romachalm opened #2026 ""Getting Started" doc : error in list of expected running pods"
**Describe the bug**
In doc https://knative.dev/docs/eventing/getting-started/
in step 3 of "Installing Knative Eventing" :

When installing the eventing `release.yaml` v0.9, there is no `in-memory-channel-*` deployment installed.

 **Expected behavior**
It is misleading on the actual status of the install. `in-memory-channel-*` are deprecated. They should be simply removed from the expected pods

[2019-10-10 16:52] lionelvillard opened #2028 "CronJob and APIServer sources should report conditions on deployment"
**Problem**
CronJob and APIServer sources does not report the conditions of the receive adapter deployment.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

Event consumer

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

Two new conditions: one for successful deployment, one f

[2019-10-10 16:57] CelsoSantos opened #2029 "0.9.0 eventing.yaml manifest contains rogue `null`"
**Describe the bug**
The manifest file for Knative eventing `eventing.yaml` (on the release tags) contains a rogue `null` value on line 419. This causes issues when installing knative with tools such as `glooctl` from Gloo (by Solo.io).
However, this does NOT seem to cause issues when using `kubectl` or `ko`.

 **Expected behavior**
No invalid values are present on the manifest

 **To Reproduce**

[2019-10-10 16:59] grantr commented on #2029
According to @Harwayne this was caused by the trailing `---` in https://github.com/knative/eventing/blob/a1a098150e5b624573c391563cd13f1703dcc10d/config/200-source-resolvers-clusterrole.yaml#L79

We should add a build test that verifies no config files have empty yaml segments.

[2019-10-10 17:36] paulrossman commented on #1462
Removing important-soon due to age

[2019-10-10 17:37] paulrossman commented on #1435
Removing important-soon due to age

[2019-10-10 17:38] paulrossman commented on #1268
Removing important-soon due to age

[2019-10-10 17:38] paulrossman commented on #1516
Removing important-soon due to age

[2019-10-10 18:02] vaikas-google commented on #1973
@ratamovic Fantastic to hear, sorry for the troubles 😢

[2019-10-10 18:03] vaikas-google commented on #1973
@meteatamel were you able to get unblocked with the extras installed?

[2019-10-10 18:09] meteatamel commented on #1973
I haven't tried yet, need to keep my cluster for talks I'm giving this week but I will report back soon.

[2019-10-10 18:51] matzew commented on #1918
After this statement and re-reading [this comment](https://github.com/knative/eventing/issues/1918#issuecomment-540258305), I tend to agree w/ @grantr

[2019-10-10 18:53] lionelvillard commented on #1918
- regarding breaking the API concern: it shouldn't be a concern for v1alpha1.
- regarding the validation concern: OpenAPI (and k8s) supports `oneOf` so I would expect users to be somewhat familiar with it. Maybe a bit confusing at first.

Also related to https://github.com/knative/eventing/issues/1936. For Sequence and Parallel, `Reply` is an ObjectReference (should be Destination), without `ref`.

[2019-10-10 18:58] aslom commented on #1918
Where is design documentation for it that explains https://github.com/knative/pkg/pull/561/files ? Will it change for v1 vs v1alpha1?  If I have uri why do I need path? Any place that have examples how it would be used?

[2019-10-10 19:32] vaikas-google commented on #2024
It should just be in-memory-channel.yaml. I'll fix.

[2019-10-10 20:22] #2024 closed

[2019-10-10 20:22] meteatamel commented on #1973
@vaikas-google Looks like `istio-1.1.15` was removed from https://github.com/knative/serving/blob/master/third_party/. The closest one that exists in that folder is `istio-1.2.7` but how can I ensure that this will work with `1.1.13` that I have with GKE add-on?

As a bigger point, is this going to be the developer experience for installing Knative eventing with Knative Service sinks on GKE? The c

[2019-10-10 20:27] nicolaferraro commented on #1918
I agree that removing `res` from the current objects is an unnecessary complication.

Also from a semantic point of view, by keeping `res` you can say that a `Destination` contains either a `ref` or a `uri`, while if you flatten `res` into three fields that becomes not so obvious.

Another concern is: why calling it `uri` if it's a URL? Can it contain anything different from a resource locator? `A

[2019-10-10 22:22] vaikas-google commented on #1973
@meteatamel You're 💯 % correct that this experience is totally b0rk3d :) We're working on updating the docs as well as finding a way to cherrypick so the docs make sense. Oh snap on the version of the Istio, it was there just the other day.
There seems to be some signs that 1.2.7 worked:
@richard2006 @ratamovic which version did you use?
I will carve time to try this so we can make sure docs are v

[2019-10-10 23:11] nachocano commented on #1998
I cannot reproduce the previous failure. The PR uncommented the lines @Harwayne pointed out in the TestBrokerTracing. I re-ran locally 4 times and all passed so far.

`go test -v -tags=e2e -timeout 3000s -count 10 ./test/conformance -run '^TestBrokerTracing'`

[2019-10-10 23:55] ovkhasch commented on #1973
I had this issue with istio 1.3.2 and running this command fixed the eventing (and cronjob):
`kubectl apply -f https://raw.githubusercontent.com/knative/serving/master/third_party/istio-1.3.2/istio-knative-extras.yaml`

[2019-10-11 08:32] rhuss commented on #1918
True, but if you have a "reference" then you might need a path if the addressed service exposes its endpoint not under the root context.

However, an alternative would be to move the path part to the `ref:` section, too (and let the URI stand alone for it, as it can have the path already included.

[code]

and

[code]

This would also solve the issue, whether when `path` and `uri` is given, whethe

[2019-10-11 08:39] rhuss commented on #1918
Also 👍 for renaming `uri` to `url`.

[2019-10-11 08:42] matzew commented on #1918
I really like @rhuss suggestion:

[code]

Same here :+1:

[2019-10-11 12:19] richard2006 commented on #1973
Hi, @vaikas-google , I used the 1.2.6. And It works fine.
[code]

[2019-10-11 13:01] lionelvillard commented on #1918
If we keep `ref`, +1 on path. I wished I had it a while back: https://github.com/knative/docs/blob/master/docs/eventing/samples/parallel/mutual-exclusivity/parallel.yaml#L11

[2019-10-11 16:28] n3wscott commented on #1918
Uri is the right name, it could be anything. Like a urn.

[2019-10-11 16:30] n3wscott commented on #1918
We need both uri and path to allow for root urls and an additional path. This is the case where a destination is a resolved uri plus a custom path. It could be non trivial to combine them at resolve time.

[2019-10-11 16:30] n3wscott commented on #1918
I assert subscriber.ref was a mistake. Destination resolves that mistake, and the API is not beta yet, so good time to break it.

[2019-10-11 16:50] grantr commented on #1918
This may be true, but can you give an example so we understand what you're thinking about? If the resolver is responsible for combining them, and the resolution is non-trivial, the user must still understand how the combination process works so they can predict what the resolved URL will be.

Can you explain why you think so? I'd like to understand your reasoning.

[2019-10-11 17:50] akashrv commented on #1918
I prefer @rhuss suggestion.
1. Path and URL at the same root level is confusing because a URL is already fully qualified with all the constructs "scheme:[//authority]path[?query][#fragment]"
2. Problems we are trying to solve with path (and this could extend with more pieces) is for resolved urls from object references such as addressable and k8s service, hence grouping them together in a single s

[2019-10-11 18:14] n3wscott commented on #1918
I think the field `ref` as a named field is the mistake. It would also be a mistake to use `url`.

I would be fine doing as grant said:

[code]

if that makes it more clear what in the world is happening.

then validation is as follows:

[code]

[2019-10-11 18:28] lberk opened #2036 "0.9.0 eventing yaml contains references to cloud.run & gcp-source-resolver"
**Describe the bug**
Upstream release yaml contains references to gcp specific rbac
[code]
 **Expected behavior**
Upstream releases shouldnt' contain vendor specific apis and rbac

 **To Reproduce**
`curl -L https://github.com/knative/eventing/releases/download/v0.9.0/release.yaml | grep "knative-gcp-source-resolver"`

 **Knative release version**
eventing 0.9.0

[2019-10-11 18:43] grantr commented on #2036
Thanks for noticing! I think this is fixed by https://github.com/knative/eventing/pull/2021.

[2019-10-11 19:10] akashrv commented on #1918
@n3wscott I believe that you must have spent time thinking about this and made the opinion. However as everyone else has explained the rationale, it helps to explain the rationale. That way we all help each other see things that we might have missed. so asking again - Could you consider the rationale provided by others in this thread (including myself), and then explain yours too? That will help u

[2019-10-11 19:17] #2026 closed

[2019-10-11 19:18] capri-xiyue commented on #1918
Currently I prefer

1. The field ref as a named field since it makes more clear that Ref member fields are logically distinct from URI and Path fields.
2. Regarding URL and URI, I think URL makes more sense since the object in the destination should be a locator.
For point 1 and 2, @n3wscott  I still don't understand why do you think Ref named field and URL naming is a mistake. Could you help expl

[2019-10-11 19:45] lionelvillard commented on #1918
I personally prefer *not* having the `ref` field because:
- I understand `oneOf`
- It's easier to write and to read (less nesting)
- The learning curve is minimal: it's `apiVersion`, `name`, `kind`, `path` *or* `ur(i|l)`

I would keep `path` only as part to the inlined object ref to remove the confusion about why having both `url` and `path`.

`uri` is more flexible than`url` but I don't have a co

[2019-10-11 22:13] matzew commented on #2029
See https://github.com/knative/eventing/pull/2021/files

/close

[2019-10-11 22:13] #2029 closed

[2019-10-11 22:13] matzew commented on #2036
/close

[2019-10-11 22:13] #2036 closed

[2019-10-11 22:33] n3wscott commented on #1918
@akashrv my why is as @lionelvillard has commented.

a flat structure is better for the person writing the yaml. less nesting and clearer to understand from their point of view.

I argue for _uri_ to support it as a resolvable component, such as custom schemes that resolve to a url, that resolved url then is used with path. Path is optional and you could opt to just use uri with path embedded.

@c

[2019-10-14 13:42] meteatamel commented on #1973
I just verified that Istio GKE add-on version `1.1.13` works fine against `https://raw.githubusercontent.com/knative/serving/master/third_party/istio-1.2.7/istio-knative-extras.yaml` and I was able to get Knative Services as eventing sinks in my samples.

My [Hello World Eventing](https://github.com/meteatamel/knative-tutorial/blob/master/docs/08-helloworldeventing.md) sample shows all the steps n

[2019-10-14 14:19] slinkydeveloper opened #2039 "Channels reply doesn't work on minikube"
**Describe the bug**
The channels reply functionality doesn't work. I tried both `InMemoryChannel` and `KafkaChannel`. After the subscriber service replies, the dispatcher receives the message but it fails to forward it. Dispatcher log (IMC):

[code]

Dispatcher log (KafkaChannel master version):
[code]

The ip you see in the logs is the dispatcher cluster ip

 **Expected behavior**
I apply a subs

[2019-10-14 14:45] slinkydeveloper commented on #2039
I experience the same problem with eventing v0.8.0

[2019-10-14 14:56] yolocs commented on #2039
Purely speculating here. Do you have `cluster-local-gateway` deployed? Like mentioned https://github.com/knative/serving/blob/master/DEVELOPMENT.md#deploy-istio

[2019-10-14 15:01] slinkydeveloper commented on #2039
Yes. Also services are available as usual, pinging them directly

[2019-10-14 15:09] n3wscott commented on #2012
I think this is a red flag feature. The broker is not free, it is really quite expensive to start depending on the channel type.

Just making a trigger is not enough for us to understand what the user is intending. If you want a feature like this, I would recommend adding an annotation to the trigger allowing for auto-creation of the broker specified in that trigger.

[2019-10-14 15:28] slinkydeveloper commented on #2039
[code]

[2019-10-14 15:34] lionelvillard commented on #2039
stupid question: I suppose `example-outbound-channel` exists and accessible?

[2019-10-14 15:41] n3wscott commented on #2039
I think you also need one in the namespace you are attempting to communicate in.

[2019-10-14 16:02] slinkydeveloper commented on #2039
Yes

I've created a container and i've sent requests using curl. All ksvc and channels lives in the same namespace

[2019-10-14 16:03] slinkydeveloper commented on #2039
There's any it test i can try to run locally to check it? It could a good help to diagnose the issue (or at least understand if there's any)

[2019-10-14 16:13] lionelvillard commented on #2039
you can try running this: https://github.com/knative/docs/tree/master/docs/eventing/samples/sequence/sequence-reply-to-event-display

[2019-10-14 16:15] slinkydeveloper commented on #2039
I already tried using sequences (the one you see on top doesn't work for the same problem too) but they don't work. I'm wondering if there is an it test i can debug it

[2019-10-14 17:14] vaikas-google commented on #2039
There are e2e tests here that you should be able to run on your cluster.
https://github.com/knative/eventing/tree/master/test

[2019-10-14 17:16] vaikas-google commented on #1973
Great! Thanks for checking, much appreciated!

On Mon, Oct 14, 2019 at 6:42 AM Mete Atamel <notifications@github.com>
wrote:

[2019-10-14 18:18] slinkydeveloper commented on #2039
I experience the same error running the e2e test `TestSequence`

[2019-10-14 18:21] vaikas-google commented on #2039
I'm in the process of setting up a repro also. My PR is failing also:
https://github.com/knative/eventing/pull/2032
Though, not necessarily related :)

[2019-10-14 18:32] slinkydeveloper commented on #2039
This is the script i use to setup the minikube cluster: [setup.zip](https://github.com/knative/eventing/files/3725888/setup.zip)

Sometime there is a known race condition when installing serving: in case it happens, repeat the serving installation command and then install manually eventing

[2019-10-14 18:44] evankanderson commented on #1918
What if `url`/`uri` parameter is [resolved in reference to a base URI of the Addressable in `ref`](https://tools.ietf.org/html/rfc3986#section-5.1)?

If it's an absolute URL, it overrides whatever is in `ref`, and we might want to validate that `ref` is empty. If it's relative, it works like `path` in some of the designs here.

This could give us a resource like:

[code]

[2019-10-14 19:01] lionelvillard commented on #2039
ah: https://knative.slack.com/archives/C9JP909F0/p1568723863013900

I had the same problem a while ago. I switched to kind

[2019-10-14 19:09] slinkydeveloper commented on #2039
noob question: what is kind? :)

[2019-10-14 19:32] lionelvillard commented on #2039
yup: https://github.com/kubernetes-sigs/kind

here the script I use: https://github.com/lionelvillard/knative-examples/blob/master/hack/setup-knative-kind.sh

[2019-10-14 19:36] grantr commented on #2012
This is true, but the feature only ever creates a single Broker per namespace.

If a user creates a Trigger, that seems like a strong signal that they want a Broker to exist. I think your argument is that we don't know what the user's intended Broker spec looks like, and if the user differs from what we expect, this feature introduces a race condition.

Consider the scenario of applying a yaml fil

[2019-10-14 19:39] akashrv commented on #1918
I think this is a good suggestion and resolves all comments/concerns. Let's just make sure that all validations and how to resolve this struct to a url/uri is centralized in destination and all corner cases handles in one place (such as ref nil, uri relative; ref not nil, uri absotlute; etc)
And in this case, the variable name will be `URI` and not a `URL` as it can be relative and not always abso

[2019-10-14 19:48] akashrv commented on #2012
Thats a good catch @grantr and @n3wscott esp the race condition, and I totally agree with doing this for "default" broker only. For everything else we expect the user to know what they are doing.
Do you see issues with annotations too or does that seem to be okay? Trying to make sure that there aren't more corner cases.

[2019-10-14 19:54] #1980 closed

[2019-10-14 20:19] n3wscott commented on #1918
just having `ref` and `uri` breaks the usecase of having a root uri and a path, but it opens up fun cases like:

[code]

I could live with this.

[2019-10-14 20:38] Harwayne opened #2040 "E2E Tracing tests are flaky on Prow"
**Describe the bug**
E2E tests for tracing are flaky on Prow.

https://testgrid.knative.dev/eventing#continuous&exclude-non-failed-tests= between 1183117880577757184 and 1183782284847747072, all on commit f1d169f8b, succeed about 50% of the time.

An example of a failed run: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-eventing-continuous/1183752083967315968. The error is:

[code

[2019-10-14 20:38] Harwayne commented on #2040
/assign

[2019-10-14 20:39] akashrv commented on #1918
Could you provide and example of which use it breaks? Couldn't the ref be root uri, and the uri=relative uri with path?

[2019-10-14 20:46] n3wscott commented on #1918
Here is an example: I am implementing a router with eventing, I have /a /b /c handlers. They are implemented in an off cluster FaaS:

[code]

[code]

[code]

to make these I can make a template:

[code]

Now, if I need too change the off cluster url, I could just update `{{host}}`

But if I do not have `path`, then I would have routes like

[code]

And a template like:

[code]

Which is more error

[2019-10-14 20:48] n3wscott commented on #1918
Also, having `uri` assumed to be non-resolving means we miss out on cases like:

[code]

Resolves to sending messages to `http://exmaple.com/foo`

[2019-10-14 20:54] grantr commented on #1918
I think the official term for the field proposed by @evankanderson is _URI reference_ as summarized
 at https://en.wikipedia.org/wiki/Uniform_Resource_Identifier#URI_references:

The same page further specifies in https://en.wikipedia.org/wiki/Uniform_Resource_Identifier#URI_resolution that

and gives some informative examples of how a relative reference would be resolved against a base URI.

The

[2019-10-14 20:55] Harwayne commented on #2040
The error message comes from: https://github.com/knative/eventing/blob/f1d169f8bb3088d9c8a7a4f25b71b9fae0d23e49/test/conformance/helpers/channel_tracing_test_helper.go#L122

The relevant portion of the error message is `invalid character 'I' after top-level value`, which is returned by zipkin.JSONTrace. That commit of the knative/eventing repo uses [knative/pkg at c119a8065cf96c7f9bb5cf27aa4f5ddb5

[2019-10-14 20:56] slinkydeveloper commented on #2039
I didn't managed to run my application on kind for other reasons.

Anyway, I tried to ping the kafka-ch-dispatcher service **from inside** the kafka-ch-dispatcher container:

[code]

[code]

And as expected, it doesn't work.

[2019-10-14 20:58] akashrv commented on #1918
URI reference is how I understood it. @n3wscott Does that solve the use case you mentioned - It seems like, isn't it?

[2019-10-14 21:01] n3wscott commented on #1918
It complicates my usecase, but am not sure my usecase is real, and can be done with having `ref` and `uri`, plus adding path or others later could be an option.

I am still +1 on this idea for just `uri` and `ref`.

[2019-10-14 21:02] akashrv commented on #1918
I will agree with you previous comment that we can live with this.
And yes as @grantr pointed out I assumed them to be uri references.

So it seems like we have a consensus (thanks @evankanderson) - @lionelvillard, @matzew @rhuss  - Would like to hear your views, before @capri-xiyue implements this.

[2019-10-14 21:04] n3wscott commented on #1918
It is already all implemented in pkg in the original format. Make sure to update that impl, not reimpl.

[2019-10-14 21:14] lionelvillard commented on #1918
+1 for `uri` and neutral for `ref`. I have a preference for having a flat structure but not a deal breaker :-)

[2019-10-14 21:52] lionelvillard commented on #1918
To be clear on why I prefer a flat structure is because I believe specifying an object reference is the common case. And since `uri` replaces `path`, this makes perfect sense:

[code]

For sequence, it would look like this:

[code]

instead of:

[code]

But again preferences are very subjective. I'm fine with what the majority decides.

[2019-10-14 21:57] n3wscott commented on #1918
@lionelvillard I totally agree with you, and the only point that wins me over to "it's ok with `ref`" is to not break the current api...

[2019-10-14 22:07] matzew commented on #1918
Actually, the sequence is a good example against having „ref“, I agree with
that!

On Mon 14. Oct 2019 at 23:52, Lionel Villard <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2019-10-14 23:41] grantr commented on #2012
The race condition is still there with the annotation, but we expect that users adding the annotation are more likely to "know what they are doing". To guard against users who cargo cult without reading the manual, we might want to choose an annotation name and value that makes clear this feature will clash with manually created default Brokers.

[2019-10-14 23:44] #1998 closed

[2019-10-15 00:50] nachocano commented on #1936
Yes, that's right. And I did the change. Oops... :)

[2019-10-15 11:45] kameshsampath commented on #2039
I tired with v0.9.0 and minikube 1.4.0 and get the same issue

[2019-10-15 15:58] #1989 closed

[2019-10-15 16:43] vaikas-google commented on #1918
Just trying to summarize the discussion to make sure we're not missing anything. So, Destination becomes like so:

`
type Destination struct {
	corev1.ObjectReference `json::",inline"`
	URI *apis.URL `json:"uri,omitempty"`
}
`

This is then decoded as:
1. If there's an ObjectReference
    A: There's no URI, then resolve ObjectReference duck and use that as is
    B: There's a URI, it's a relative

[2019-10-15 17:27] akashrv commented on #1869
related to #1976

[2019-10-15 17:29] akashrv commented on #1869
@matzew @vaikas-google Were you able to make any progress on this? Given we have just 2 weeks left for v10 milestone, shall we prioritize this work?

[2019-10-15 17:31] mikehelmick commented on #1869
Since we're still making API changes in v10 that haven't landed yet (destination), I think that rushing beta API version in the next 2 weeks probably isn't the best idea. If we're happy with the changes that are going in, perhaps a v1beta1 candidate for v11 is more realistic.

We added an item to the WG agenda for this week to discuss a task force to solidify this API. We did this for knative serv

[2019-10-15 17:36] vaikas-google commented on #1869
We're still trying to distill what the changes are, once we figure them out, then it would be useful to understand in the context of the actual Deltas to see how likely things are to land or not.

[2019-10-15 17:39] matzew commented on #1869
I agree. In the channel task force we spoke about parts of `messaging` APIs (e.g. Channel, Subscription, and IMC (as default impl)), but now there are coming changes to at least Subscription, or they are being discussed.

Between 0.10 and 0.11 we should see that we get a list, to be promoted by 0.12 or 0.13 ?

[2019-10-15 17:42] vaikas-google commented on #1918
@mattmoor yeah, sorry for not being clearer about this:
What I was trying to decouple was:
 - What should the API look like (hence your concerns about the shape of the api)
 - How it gets rolled out and how it's supported.

[2019-10-15 17:44] grantr commented on #1918
I still prefer `ref` from an API design point of view because it seems weird to have the object's validation rules change based on which fields are set:

1. Set `uri`: validation passes
1. Set `apiVersion`: validation fails, now you need `kind` and `name`
1. Remove `apiVersion`, set `uid`: validation succeeds?

My general feeling on the Kubernetes APIs that already exist is that consistency of sha

[2019-10-15 17:48] matzew commented on #1869
Mike, sign me up for that task force. I started a document, will share
later tonight or tomorrow

-M

On Tue 15. Oct 2019 at 19:32, Mike Helmick <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2019-10-15 17:53] mattmoor commented on #1918
I think that generally I agree with @grantr: **if** we are embedding `corev1.ObjectReference`, distinguishing it explicitly is probably preferable.

However, I'd also point out that there are quite a few more specialized reference types in K8s type system:
 - [ObjectReference](https://godoc.org/k8s.io/api/core/v1#ObjectReference): What we're using
 - [LocalObjectReference](https://godoc.org/k8s.io

[2019-10-15 17:53] vaikas-google commented on #1918
oops :)

[2019-10-15 17:55] mattmoor commented on #1918
Shape aside, FWIW this makes sense to me:

[2019-10-15 19:13] vaikas-google commented on #1918
After chatting with @grantr offline, I realized the validation concern is wrt OpenAPI validation, not in the code on the backend, I was missing that context. Mea culpa.

Leaving the Ref there makes it clearer that ObjectReference is optional (vs. just some fields of it if they are flattened). So, that would mosdef be a pro for having it there. I can live with the extra yaml indentation (though I s

[2019-10-15 19:18] grantr commented on #1918
I think to capture the validation rules of `apiVersion`, `kind`, and `name` as implemented in https://github.com/knative/pkg/blob/0a0c4972cd7134ce54b1ce6a6de8f189257a64fb/apis/v1alpha1/destination.go#L119-L133, the OpenAPI schema for destination would need to define a sub-schema that looks like ObjectReference, and make that part of the oneOf.

Something like this:

[code]

Is this the right way t

[2019-10-15 19:29] grantr opened #2044 "Can't specify the zipkin namespace for E2E tracing tests"
**Problem**
The zipkin namespace for tests is hardcoded to `istio-system` (we update the ConfigMap with hardcoded values during the test run). I'd like to run tests in alternate environments with zipkin installed in a different namespace.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
Tests pass with zipkin in an alternate namespace

[2019-10-15 19:33] grantr commented on #2044
Oops, submitted early. Here's the actual title and body for email subscribers. I'll delete this comment after saving.

# Can't specify the zipkin namespace for E2E tracing tests

**Problem**
The zipkin namespace for tests is hardcoded to `istio-system` (we update the ConfigMap with hardcoded values during the test run). I'd like to run tests in alternate environments with zipkin installed in a dif

[2019-10-15 19:39] grantr opened #2045 "Occasional race condition in ApiServerSource tests"
**Describe the bug**
I've seen a data race test failure in two test runs now on unrelated PRs:
https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_eventing/2013/pull-knative-eventing-unit-tests/1184187868977827841
https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_eventing/1992/pull-knative-eventing-unit-tests/1179548169378205696

Looks like TestResourceStub may ha

[2019-10-15 19:40] lionelvillard commented on #1918
Well it's not so easy now. `oneOf` worked when we had `path` inside `ref`.

Maybe we should so what @mattmoor suggests: create our own `FooReference` and call it `Destination` without embedding `ObjectReference`. :-)

[2019-10-15 19:44] #1970 closed

[2019-10-15 19:56] lionelvillard commented on #2045
@n3wscott might know better. If not I can investigate.

[2019-10-15 21:26] Harwayne opened #2046 "Tracing tests need to be more lenient"
**Problem**
Currently the tracing tests, TestChannelTracing and TestBrokerTracing, assert the entire Span tree. This will only work if Channels do not add any tracing information of their own. That is true for InMemoryChannel, but not necessarily true for others.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
TestChannelTracing and

[2019-10-15 21:45] akashrv commented on #1516
@chizhg Would you be able to please investigate this?

[2019-10-15 21:45] akashrv commented on #1493
@paulrossman Can we move this to eventing-contrib?

[2019-10-15 21:48] akashrv commented on #1025
@grantr ??

[2019-10-15 21:50] akashrv commented on #1869
#1134

[2019-10-15 21:51] grantr commented on #1025
This is on my list, but gets pushed down by higher priority things. I'll come back to it on 0.10 release day when release notes are top of mind.

[2019-10-15 21:53] akashrv commented on #1182
Triage notes: Let's create explicit use case issues and tackle separately - example security policies.
Closing this generic issue
/close

[2019-10-15 21:53] #1182 closed

[2019-10-15 22:00] vaikas-google commented on #1869
#1500

[2019-10-15 22:11] chizhg commented on #1516
Sure, I will look into it when I get some time.
/assign

[2019-10-15 23:22] akashrv commented on #1516
thanks @chizhg

[2019-10-16 06:54] rhuss commented on #1918
Does this imply it is an error condition if there is an ObjectReference _and_ a fully qualified URI ? Also will the be a difference for a [relative URI reference](https://tools.ietf.org/html/rfc3986#section-4.2) "context" (relative path) and "/context" (absolute path) ? Are both supposed to be appended to a base URL coming from the ObjectReference Duck or does an absolute path override the path co

[2019-10-16 12:24] ruromero opened #2047 "sources-controller can't recover from faulty sink"
**Describe the bug**
When a CronJobSource is created but has an invalid sink defined, the sources-controller starts failing and is not able to recover not even once the sink has been fixed or the CronJobSource deleted. It doesn't process new sources until the pod is deleted.

 **Expected behavior**
The sources-controller should be able to process Sources even if exists an invalid Source shouldn't

[2019-10-16 13:01] lionelvillard commented on #1918
If you look at [section 5.4.1](https://tools.ietf.org/html/rfc3986#section-5.4.1) it's clear that `/context` is appended to the base URL. `//context` overrides the path.

When there is an ObjectReference it is used as base URL. [section 5.2.2](https://tools.ietf.org/html/rfc3986#section-5.2.2) precisely defines how the URI reference is converted to the target URI. At first glance and past experien

[2019-10-16 14:25] rhuss commented on #1918
Hmm, for me this is not so clear. I.e. for the base URL `http://a/b/c/d;p?q` the examples in 5.4.1 say

[code]

So it's different for a path "/g" (which overrides the path "/b/c/d") wheras "g" appends to the current context (leading to a path "/b/c/g")

IMO `//context` is a _network path_ which is something totally different. But maybe I really profoundly misunderstand something here ... (and we a

[2019-10-16 14:29] rhuss commented on #1918
My reference is from 4.2:

[2019-10-16 14:35] rhuss commented on #1918
Agreed if it is an _absolute URI reference_ (i.e. starting with a scheme), but for anything else which is a relative URI reference as described in [4.2](https://tools.ietf.org/html/rfc3986#section-4.2). This includes `//path` (i think we should ignore those), `/path` and `path` but also 	`../path` etc.)

[2019-10-16 14:56] deoryp commented on #1918
to @rhuss 's points, having a uri does complicate it over path. We will not just tack it on, but have to merge the two. Both what resolves from ref and uri could have query params, fragments, and paths.

And there is an error case in the `both` because if you provide both, you should not have provided a host in `uri`

[2019-10-16 16:13] n3wscott commented on #1869
I will join. I like APIs.

[2019-10-16 16:24] capri-xiyue commented on #1918
For me, having Ref and URI reference  as the shape of Destination is confusing.
For URI reference, the wiki said it supports things as follows:
`Within a representation with a well defined base URI of

http://a/b/c/d;p?q

"g:h"     -> "g:h"
"g"       -> "http://a/b/c/g"
"./g"     -> "http://a/b/c/g"
"g/"      -> "http://a/b/c/g/"
"/g"      -> "http://a/g"
"//g"     -> "http://g"
"?y"      -> "http

[2019-10-16 20:03] Harwayne commented on #2040
#2041 didn't seem to have the desired effect. There seem to be about the same number of flaky failures. All with the error message `timeout getting JSONTrace, most recent error: <nil>. Trace so far []`.

[2019-10-16 20:19] rhuss commented on #1918
Good point, @n3wscott

So where do we stand now ? Having both `path:` and `uri:` added to the Destination (with or without some nesting) ? And `path:` needs to be relative but without any other URI adornments (like fragments or query params) and an absolute path (i.e. starting with `/`) will override any uri's path whereas a relative path (not starting with `/`) will be appended to the uri (which

[2019-10-16 21:03] lionelvillard commented on #1918
why not using this to resolve the reference: https://golang.org/pkg/net/url/#URL.ResolveReference

More programming language implements the rfc 3986 resolution algorithm to a some degree of accuracy.

[2019-10-16 21:09] n3wscott commented on #1918
`ResolveReference` seems to eat the root path in the case of `ref--> http://example.com/foo` and `uri--> bar`

I want `http://example.com/foo/bar`

`ResolveReference` gives `http://example.com/bar`

[2019-10-16 21:09] grantr commented on #1918
I did some experimentation with that method: https://play.golang.org/p/12IfWdV7siU

I'm not convinced it's the behavior users will expect. For example, if the resolved `ref` is `http://base.com/foo` and the `uri` is `bar`, I think given the discussion here, we'd want the resolved uri to be `http://base.com/foo/bar`. But actually the result is `http://base.com/foo`.

Looking at the examples in http

[2019-10-16 21:10] n3wscott commented on #1918
We already implemented this using for uris and a path using `path.Join`: https://github.com/knative/pkg/blob/b55b842259e0723498a8792794928b232ca8f223/resolver/addressable_resolver.go#L135-L142

[2019-10-16 21:12] lionelvillard commented on #2028
The resource tracking has been removed (handled differently) and both sources already propagate the deployment availability. Closing.

[2019-10-16 21:12] #2028 closed

[2019-10-16 21:18] n3wscott commented on #1918
@rhuss I am in this camp

I think we are now working on the conflict resolution rules. The interesting thing comes from the Addressable _could_ have path and query params. I expect uri to be merged+appended to it. If query params clash, who wins... (i think the uri). Navigating the path seems scary and we should not allow it (`uri: "../../foo"`).

[2019-10-16 21:24] grantr commented on #1918
I haven't seen anyone mention a need for query and fragment support. The only use case I've heard for URI manipulation is "append path segments to a URI that may or may not contain path segments". Unfortunately it doesn't look like standard URI reference resolution can do that. Maybe URI templates can, but that's potentially a lot more complexity:

[code]

[2019-10-16 21:41] grantr commented on #1918
I feel a little nervous about changing the reference resolution rules for a field called `uri`. If we do that, we need to be clear in the docs that this field doesn't follow the RFC3986 rules when used as a relative reference.

A field called `path` may be easier to define as non-standard.

[2019-10-16 22:06] lionelvillard commented on #1918
@grantr yup agree.

`ResolveReference` does the right thing I believe:

[code]

Note the `/` after `bar`.

[2019-10-16 22:17] n3wscott commented on #1918
🤯

ok in that case, I could live with `ResolveReference` as long as we hold it right.

[2019-10-16 22:19] grantr commented on #1918
Oh good, nice catch @lionelvillard.

The reference clobbers query params from the base uri, even with the trailing slash, but that seems like a reasonable limitation (and it's standardized):

[code]

[2019-10-16 23:14] capri-xiyue commented on #1918
I agree with the proposal with "ref" and "uri" field and using ResolveReference to merge it with "ref". I searched some docs and it said whether URI has trailing slash or not depends on whether it's a collection node or not. And it's standard to have target URI like "http://base.com/foo/bar" when base URI is "http://base.com/foo/" and relative URI is "foo".

[2019-10-17 00:08] grantr commented on #1918
Ok I'll summarize what I think is the final recommendation for those following along:

[code]

Validation rules for Destination:
- If Ref is absent and URI is absent, the Destination is invalid.
- If Ref is present and URI is absolute (`URL.IsAbs()` returns true), the Destination is invalid.
- If Ref is absent and URI is relative (`URL.IsAbs()` returns false), the Destination is invalid.
- All oth

[2019-10-17 17:03] Harwayne commented on #2047
I noticed something similar when a Channel's API group was changed. It caused my Subscriptions to stop being reconciled. In the eventing controller logs, I saw:

`E1016 21:11:44.036623       1 reflector.go:125] knative.dev/pkg/apis/duck/typed.go:60: Failed to list *v1alpha1.Channelable: channels.messaging.cloud.run is forbidden: User "system:serviceaccount:knative-eventing:eventing-controller" can

[2019-10-17 17:43] vaikas-google commented on #1918
LGTM.

[2019-10-17 17:47] vaikas-google commented on #1973
I'm closing this as the documentation has been updated on GKE specific instructions to install the cluster local gateway and it's been cherrypicked into 0.9 documents.

[2019-10-17 17:47] #1973 closed

[2019-10-17 17:59] lionelvillard commented on #1918
Just to make sure: what people think about `ref`, considering that lot of things have changed since we first discussed about it.

[2019-10-17 18:41] aslom commented on #1918
If I read correctly the algorithm https://github.com/knative/eventing/issues/1918#issuecomment-542941078 and https://github.com/knative/eventing/issues/1918#issuecomment-542303282 rules are:

* if Ref is present then
    * if there's no URI then resolve Ref and use that as URI
    * else if URI a relative then resolve Ref with relative URI and use resolved URI
    * else Error: URI can not be abso

[2019-10-17 18:47] vaikas-google commented on #1918
Correct.

On Thu, Oct 17, 2019 at 11:41 AM Aleksander Slominski <
notifications@github.com> wrote:

[2019-10-17 19:52] devguyio opened #2050 "Broker-to-broker event routing across namespaces"
**Problem**
Using the `Broker` objects, it's not straight forward how to deliver a set of events across namespaces. Specifically when you have a many-to-many relationship between Event Sources and Brokers. Using existing primitives, one would need to funnel in all events through channels/subscriptions across namespaces to the namespace broker, where they will be finally filtered by the triggers, w

[2019-10-17 20:40] Abd4llA commented on #2050
This is another attempt to solve it using existing primitives to achieve a closer to source filtering using `Trigger` objects. Problem here is that there should be a sort of controller or manager that creates a Trigger per event type per source whenever one is needed, as well as the original `Trigger` object which the user creates for his serverless function.

![knative-broker-bridge-trigger](http

[2019-10-17 21:28] akashrv commented on #1755
@Harwayne Could you please update this issue and mark things that are done and things that are left. Need it to plan next milestones.

[2019-10-17 22:37] grantr opened #2052 "We patch OpenCensus to add SetSpanID method"
https://github.com/knative/eventing/pull/1972 added a patch to the vendored opencensus library that adds the `SetSpanID` method.
@harwayne calls this a viral patch: any project importing eventing will also need to patch their opencensus.

 This was used only as a last resort because OpenCensus doesn't provide the functionality we need to set the parent span id (see [pkg/tracing/traceparent.go](htt

[2019-10-17 23:38] chizhg commented on #1905
/assign

[2019-10-17 23:42] chizhg commented on #1906
Can you be more specific about this requirement? Like which source do we want to test, and which metrics do we want to measure from it?

[2019-10-17 23:46] lionelvillard commented on #1521
can we move this to the next milestone?

[2019-10-17 23:49] grantr commented on #1521
/milestone v0.11.0

[2019-10-18 04:35] nachocano opened #2053 "Perf: Better Connection Reuse in Broker's Http Clients"
**Problem**
Golang HTTP client does connection pooling by default. The problem is that the defaults are too low.  `MaxIdleConns: 100`, `MaxIdleConnsPerHost: 2`. Only two connections will be able to be reused for a particular host. We should boost those numbers to increase the throughput.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature

[2019-10-18 04:35] nachocano commented on #2053
/assign

[2019-10-18 08:24] Violet-Guo opened #2055 "inmemorychannel_dispatcher fanout had an error"
**Describe the bug**
When running the example of [Sequence with no reply (terminal last Step)](https://knative.dev/docs/eventing/samples/sequence/sequence-terminal/index.html), service can not receive the event.

When using the command in the eventing debugging process:

[code]
I get the error log:

[code]

The error information are same in the [eventing debugging doc](https://knative.dev/docs/eve

[2019-10-18 09:14] sayanh commented on #2050
The double trigger approach is good and would be one way to solve the problem. I have a concern  based on the current implementation of the broker:
- Currently, I'm skeptical about using a broker with an event source because a broker comes with 2 channels by ingress and filter. Filter channel stores all the events irrespective of a trigger. This implies cost(cpu, network, etc) incurred on the pers

[2019-10-18 11:30] sayanh commented on #2050
I have another approach in my mind where I'm introducing a new component called BrokerManager(BM). This lies between an Event Source and other brokers. It maintains a map that stores filter criteria mapped to a broker URL. The functions of a BM are as follows:
BM watches for all the brokers in the cluster and reconciles on the `Broker` custom resource:
- If a broker is found, it searches for trigg

[2019-10-18 15:35] n3wscott commented on #2050
Try to use a Parallel component instead of building a new BrokerManager. The filter function could even live in the namespace of the BrokerN using uris of those functions and the broker ingress uri to link it all together.

[2019-10-18 16:55] nachocano commented on #1777
this should also include connection settings for the broker components, and other things...
See https://github.com/knative/eventing/pull/2054

[2019-10-18 17:53] rhuss opened #2058 "Clarification how many CE can be returned by a `Callable` needed"
**Problem**

`Callable` is a pure data plane concept which does not manifest in any schema. So its definition is via documentation only, but the documentation is not fully clear.

* https://github.com/knative/docs/blob/release-0.9/docs/eventing/README.md#event-consumers :

  (Please note also the plural form "events")

* https://github.com/knative/eventing/blob/master/docs/spec/interfaces.md#calla

[2019-10-18 18:05] grac3gao commented on #2047
/assign

[2019-10-18 18:06] grantr commented on #2058
This should be documented as allowing 0 or 1 events in Callable responses. We may support multiple events returned in the future (possibly with CE batch support?), but nothing supports it today.

[2019-10-18 19:11] #2053 closed

[2019-10-18 20:55] Abd4llA commented on #1869
@matzew @vaikas-google would like to join the taskforce

[2019-10-18 21:16] nachocano opened #2060 "Perf: Configurable Liveness & Readiness Probes settings for Broker pods"
**Problem**
Under heavy load, the liveness pod of the Broker ingress starts failing, and the pod is restarted. We are using the default timeout of 1 second, which might not be enough for periods of high traffic.
Also, having a [2 second period](https://github.com/knative/eventing/blob/0f0cdaa5c1046722c877fc7c69525491f3fca063/pkg/reconciler/broker/resources/ingress.go#L74) for each check seems rath

[2019-10-18 21:16] nachocano commented on #2060
fyi @grantr

[2019-10-18 21:30] nachocano opened #2061 "Perf: Throttler for Broker"
**Problem**
Under heavy load, the Broker cannot cope with all the requests and starts restarting due to liveness checks failures. In order to prevent DoS attacks, a first step would be to add throttling configuration in each Broker. This should be done on a "per-user" basis, to avoid starvation from heavy users.
The Broker should return with an HTTP Status Code 429 if a user exceeds its quota.

**

[2019-10-18 21:30] nachocano commented on #2061
fyi @grantr

[2019-10-21 01:13] richard2006 commented on #1973
@vaikas-google Good.

[2019-10-21 22:07] evankanderson commented on #1918
https://github.com/knative/pkg/pull/774 is related?

[2019-10-21 23:42] capri-xiyue commented on #1918
I'm working on adopting Destination in Knative eventing(https://github.com/knative/eventing/issues/1918). When I tried to adopt Destination in Sources(for example: ApiServerSource), I noticed that we will have breaking api change.
At first, the interface of sources looks like this:
[code]
After we adopt Destination, the interface will look like this:
[code]
Is that ok that we change the type of si

[2019-10-21 23:53] n3wscott commented on #1918
given this datapoint that the modified destination will break sources, and how this looks:

[code]

vs

[code]

I will vote again for dropping ref from from destination, and adjust the rules for uri to be it is an override using the builtin go method with no other qualifications. Meaning:

- it is valid to have a ref and a full uri, the uri wins.
- It is valid to have relative uri and ref, the res

[2019-10-21 23:54] n3wscott commented on #1918
to be clear: my vote is make an API breaking change for subscriptions and triggers.

This is something we could decide to adopt in a v1beta1 api.

[2019-10-22 14:05] lionelvillard commented on #1918
for 1.10 we could have both, `ref` and inlined ObjectReference, and we can "slowly" phase out `ref`.

[2019-10-22 17:01] n3wscott commented on #1918
how about this:

[code]

[2019-10-22 17:49] aslom commented on #1918
My .02c I think simpler is better unless complexity (and ref) is really required? Why not make destination to be URI ? I was hoping users could write simple URI for sink:

[code]

instead of

[code]

and similarly:

[code]

and with path /hello

[code]

URI class should be able to parse custom URI schema with kind/version for service or broker if versioning is needed?

[code]

and if course regula

[2019-10-22 17:56] n3wscott commented on #1918
@aslom I do like this idea, but it does not work so well with unknown types that having a ref does let you do. The ref is a core idea in the ducktyping system we have been building. We would have to have a gvk/gvr version of the ObjectRef as a uri. WHICH COULD WORK! but we are really inventing something very new...

like `k8s://eventing.knative.dev/v1alpha1/default/default` or something...

[2019-10-22 18:08] aslom commented on #1918
@n3wscott I like k8s. That could be suported as generic URI resolved by parsing
`k8s://[apiVersion/?]kind:name[/?path]` (example as above `k8s://eventing.knative.dev/v1alpha1/brokers/default/path`) and shortcut with `kind:[apiVersion/?]name[/?path] (example `broker:default/path` or `broker://eventing.knative.dev-v1alpha1/default`

URI rules are well described and readability is excellent: https://

[2019-10-22 18:52] capri-xiyue commented on #1918
I checked the codebase. We will need to adopt Destination in multiple resources as follows:

- Trigger (https://github.com/knative/eventing/blob/master/pkg/apis/eventing/v1alpha1/trigger_types.go)
- Parallel
(https://github.com/knative/eventing/blob/master/pkg/apis/messaging/v1alpha1/parallel_types.go)
- Sequence
(https://github.com/knative/eventing/blob/master/pkg/apis/messaging/v1alpha1/sequence

[2019-10-22 19:45] vaikas-google commented on #1918
@aslom that's definitely an interesting idea, each k8s object does have a selfLink already, like a broker would be:
/apis/eventing.knative.dev/v1alpha1/namespaces/my-namespace/brokers/default
just note the leading /apis/ otherwise, same as your example.

Not having thought about this quite as deeply yet, but mixing the URI to represent a Reference to object holding the actual URI feels a bit clunk

[2019-10-22 19:45] grantr commented on #1918
A URI format for object reference is interesting and seems useful for some cases, e.g. annotations. @n3wscott alluded to this in https://github.com/knative/eventing/issues/1918#issuecomment-541912459 when he brought up the use case of a URI that isn't a hostname.

But I still think we should retain ObjectReference. It's the standard Kubernetes (and Knative) way to refer to another object, and we n

[2019-10-22 20:21] aslom commented on #1918
@grantr  @n3wscott @lionelvillard can configuration be "duck typed"? I think it is possible with JSON schema for CRD with oneOf but not sure if tooling supports it?

If supported we could have both ObjectReference and URI

[code]

https://json-schema.org/understanding-json-schema/reference/combining.html#oneof

so then both would be valid:

[code]

and

[code]

[2019-10-22 20:40] grantr commented on #1918
I would avoid a field that can be either a string or object. That can be difficult to deal with in languages with static typing.

[2019-10-22 23:16] capri-xiyue commented on #1918
It looks like `json:",inline"` doesn't work when we have a naming DeprecatedObjectReference.
It only works with
[code]
FYI: https://goplay.space/#a8IYOIWh1iG
I tried to search the official docs of golang json tags. But I don't find it. Is there anyone familiar with the usage of json tags?

[2019-10-23 01:28] capri-xiyue commented on #1918
I'm wondering whether it's necessary to support backwards compatibility. To support backwards compatibility,  we will have struct like
[code]
However, `DeprecatedAPIVersion`, `DeprecatedKind` and `DeprecatedName` are implementation details. Users won't see it unless they check the codebase. I think when we finally deprecate [apiVersion, kind, name], users will still feel it's a breaking api change

[2019-10-23 07:43] rhuss commented on #1918
me, too, as introducing new fields (i.e. formerly unknown) as _deprecated_ for Trigger, Parallel, Sequence and Subscription feels weird, too (and opens the chance that these fields are started to be used). Making the usage of a `Destination` symmetrically now in all Eventing without artificially introducing deprecated fields looks to me to be the right thing.

[2019-10-23 14:04] deissnerk commented on #508
@vaikas-google Sorry, I missed your post. It was in the middle of my summer vacation. 🌴 😃
What you describe comes close to what I had in mind when creating the issue. That was before Broker and Trigger were introduced, though. I wonder, if that changes things. Imagine you have a topic structure on the broker that somehow reflects CE type und source. In that case it would be very inefficient to jus

[2019-10-23 15:30] matzew opened #2075 "shared webhook main"
Like we already have for `controller main` (https://github.com/knative/eventing-contrib/blob/master/couchdb/source/cmd/controller/main.go#L21)
 and for the `adapter` (https://github.com/knative/eventing-contrib/blob/master/couchdb/source/cmd/receive_adapter/main.go#L20)

we should look to get some common code for a shared webhook main.

/assign @matzew

[2019-10-23 15:32] matzew commented on #2075
tbd if it lives here, or even `pkg` repo ...

[2019-10-23 15:33] matzew commented on #2075
/cc @lionelvillard

[2019-10-23 16:28] vaikas-google commented on #1918
The one problem is that we should allow existing objects to be operated on, by not having the fields present will break every existing object. So, without having any backwards compatible way to upgrade the existing objects to the newer version would be bad IMHO.
We're going to make the Destination a priority in our API task force to make sure that we can provide a sane user experience.

[2019-10-23 16:28] capri-xiyue commented on #1918
Another way to supports backwards compatibility and still alerts users about the deprecation might be adding a warning message when users use the deprecated fields.

[2019-10-23 16:29] vaikas-google commented on #1918
Yes, we have done this in the past for deprecated fields.

[2019-10-23 16:37] lionelvillard opened #2076 "Eventing source sample project"
**Problem**
It is quite overwhelming to implement an event source from scratch. For event sources following the receive adapter pattern it should be dead-simple to get started.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

Event source implementator

**Exit Criteria**
A measurable (binary) test that would indicate that the pro

[2019-10-23 16:37] lionelvillard commented on #2076
/cc @lberk @matzew @alanconway

[2019-10-23 16:45] mikehelmick commented on #2076
/cc @n3wscott

[2019-10-23 16:46] matzew commented on #2076
esentislly its a fork from sample ctroller

[2019-10-23 17:03] nachocano opened #2077 "Add registry documentation to Source spec"
**Describe the bug**
The source spec was merged in https://github.com/knative/eventing/pull/1856 without registry information. We should add that.

 **Expected behavior**
The source spec contains registry-related information

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative release version**
Hopefully 0.10, otherwise 0.11

/assign

[2019-10-23 19:22] vaikas-google commented on #2075
Do you mean here?
https://github.com/knative/eventing/blob/master/cmd/webhook/main.go

Or are you talking about something different?

[2019-10-23 19:55] n3wscott opened #2078 "Broker has no status if no channels are installed in the cluster."
**Describe the bug**

1. Install eventing without a channel installed.
1. Note that the broker has no status.

 **Expected behavior**

1. Install eventing without a channel installed.
1. See the broker gives an error for no channel provided.

 **Knative release version**
Master@Oct23

[2019-10-23 19:55] n3wscott commented on #2078
/good-first-issue

[2019-10-23 22:20] grantr opened #2081 "Run Broker perf tests with different trigger counts"
**Problem**
The Broker perf test measures performance with a single trigger. We should also measure performance with multiple triggers.

Ideally we could measure both total throughput and per-trigger throughput, but I haven't thought carefully about how to do that.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
A broker perf test ru

[2019-10-23 23:03] nachocano opened #2083 "Perf: Configurable Broker implementation"
**Problem**
As of now, the Broker ingress and filter pods are k8s Deployments. When stress testing them, they keep on restarting due to liveness checks failures. Upon high traffic, we need to be able to scale these out.
We should be able to configure the underlying resources that a broker will use. @grantr suggested an annotation that enables us to either create Deployments or Knative Services. I

[2019-10-24 18:04] capri-xiyue commented on #1918
I did some investigation of how to deprecate fields.
1. OpenAPI 3.0 supports "deprecated". However, it looks like we use K8s OpenAPI 3.0 which only implements a subset of features of OpenAPI. Now K8s OpenAPI 3.0  doesn't support "deprecated".

2. For the webhook validation, it only  returns*apis.FieldError. Therefore currently we can't use webhook validation to show deprecation warning

3. We can

[2019-10-24 18:21] aslom commented on #1918
If we are doing non-backward compatible changes then why not radically improve operator and developer experience - if we can make YAML code much more readable without loss of functionality then why not do making writing and reading YAML with many destinations easy, compare current sequence and parallel example from
https://knative.dev/development/eventing/samples/sequence/sequence-reply-to-sequenc

[2019-10-24 18:47] n3wscott commented on #1918
We will track this adoption in a doc https://docs.google.com/document/d/1EAf9NLwDX3c9DS8lr6KxjtgRXUmkFGIcG6DeAYd5UHI/edit#

[2019-10-24 20:12] vaikas-google commented on #1918
For the reasons indicated above, we are going to use the .10 release to provide backwards compatibility, add the new agreed upon Ref field for all the reasons mentioned, and then get rid of the Deprecated fields (necessary for backwards compat) as.11  with the eye towards the v1beta1 api shape. I do not want to invent a new way to code up something at this point that will basically go against the

[2019-10-24 21:13] #2077 closed

[2019-10-25 02:47] daisy-ycguo opened #2092 "Use ApiServerSource to monitor the creation of a new Revision"
**Problem**
Is it possible to use ApiServerSource to monitor the creation of a new Serving Revision ?

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
As a DevOps flow designer, I want to monitor the creation of a new Revision, and trigger an integration test with the new Revision URL.

**Exit Criteria**
When a new Revision is created, ApiServerSource could generat

[2019-10-25 12:42] lionelvillard commented on #2092
@daisy-ycguo what version?

[2019-10-28 02:02] daisy-ycguo commented on #2092
@lionelvillard  0.8.0

[2019-10-28 09:16] daisy-ycguo commented on #2092
I finally got messages when deleting and creating Revisions after updating the `ClusterRole` definition. Based on my experience, I suggest to do a few improvements for ApiServerSource:
1. ServiceAccount is very hard for beginners to manage. If we could automate the ServiceAccount creation when creating ApiServerSource, it will get a better user experience
2. The `Data` of creating Revision and del

[2019-10-28 17:45] n3wscott opened #2111 "Eventing Sources should use the Source Ducktype"
RE: Should this be SourceSpec? If not in this PR, then as a TODO and a GitHub issue?

_Originally posted by @Harwayne in https://github.com/knative/eventing/pull/2107_

[2019-10-28 17:47] lionelvillard commented on #2092
@daisy-ycguo if you want to receive the `revision` object reference in `data`, remove `controller`. It's normal to get the same data (when `mode` is `Ref`), only the event type changes.

[2019-10-28 18:54] lionelvillard opened #2112 "APIServerSource should automatically configure clusterroles"
**Problem**
It's cumbersome and error prone to create cluster roles especially when the rules can be automatically derived from the APIServerSource spec.

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve?
A day

**Additional context (optional)**
Add any other context about the feature request here.

See https://github.com/knative/eventing/issues/2092

[2019-10-28 19:15] lionelvillard opened #2113 "APIServerSource and CronJob custom columns"
Just exposing Ready and it's Reason is super useful

[2019-10-28 19:31] lionelvillard commented on #2113
/assign

[2019-10-28 21:08] #2113 closed

[2019-10-28 22:03] grantr commented on #1906
The title and requirement of this issue is vague, sorry about that. In concrete terms, we want to plug in load generators for any source so that its output can be measured by the generic performance testing tools. I think this was fixed by https://github.com/knative/eventing/pull/1979, and https://github.com/knative/eventing-contrib/pull/669 is an example of how to use it (for KafkaSource).

[2019-10-28 22:03] #1906 closed

[2019-10-29 01:44] daisy-ycguo commented on #2092
Thank you @lionelvillard . Since you open an issue to config cluster roles automatically, I will close this one.

[2019-10-29 01:44] #2092 closed

[2019-10-29 14:55] grebois commented on #2055
I'm experiencing the same issue with kubedns 1.15.4

[2019-10-29 16:52] #2058 closed

[2019-10-29 18:35] #2012 closed

[2019-10-29 18:48] Harwayne commented on #2112
We have to be careful with things like this. I'm worried that if the roles and RBAC are automatically granted, then the permission to create/modify APIServerSources may end up as extremely powerful.

As an example, if APIServerSource sets up the RBAC automatically. And I have the capability to create APIServerSources. Can I now read every secret in the namespace?

[code]

[2019-10-30 14:22] lionelvillard commented on #2112
At least we should surface the permission errors to the source object. Something like this:

[code]

[2019-10-30 16:49] mikehelmick opened #2122 "Create Security Task Force"
**Problem**
The need for security and some high level principals were detailed in #705
and the work was scheduled in #1449

Because the importance of this work is so high, rather than having 1 or 2 folks do this work, instead I am proposing that we

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

Operator / developer

**Exit Crit

[2019-10-30 22:23] jamesward opened #2124 "No Way to Set Content-Type on Events Generated By Things Like CronJobSource"
With a recent change in `0.10.0` the content-type is no longer being set to `application/json` by Cloud Event SDK senders like `CronJobSource`.  Yet, some consumers expect that content type and there is no way to force it.

[2019-10-30 22:24] grantr commented on #2124
/assign @n3wscott

[2019-10-31 03:11] mattmoor opened #2128 "Replace the ChannelDefaulterSingleton with context snapshotting."
The way that `ChannelDefaulterSingleton` is plumbed into the webhook (via a singleton) should be replaced by logic that attaches a snapshot of the defaulter to the context that the webhook passes through to `SetDefaults()`.

Today throughout knative/serving, we snapshot our configs via "stores" onto context, and retrieve them off of context throughout reconciliation or other processes.  In the cas

[2019-10-31 03:49] #2124 closed

[2019-10-31 14:39] lionelvillard opened #2131 "e2e tests for inmem dead letter sink"
**Problem**
no  e2e tests for inmem dead letter sink

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve?
a day?

**Additional context (opti

[2019-10-31 15:16] lionelvillard commented on #2112
/assign

[2019-10-31 18:19] mikehelmick commented on #2078
Unable to reproduce this - cluster w/ InMemoryChannel removed, created a broker

$ kubectl get broker/default -oyaml
apiVersion: eventing.knative.dev/v1alpha1
kind: Broker
metadata:
  annotations:
    eventing.knative.dev/creator: system:serviceaccount:knative-eventing:eventing-controller
    eventing.knative.dev/lastModifier: system:serviceaccount:knative-eventing:eventing-controller
  creationTi

[2019-10-31 18:38] mikehelmick commented on #2078
@n3wscott - please see the output in the previous comment, let me know if you think there is more work needed here.

[2019-10-31 19:53] lionelvillard opened #2134 "APIServerSource validation hook should validate APIVersion"
**Problem**
It's currently done in the adapter, it should be done by the validation hook

[2019-10-31 20:27] mattmoor opened #2135 "Integrate configmap validation"
@nimakaviani added support to the webhook to register a namespace-scoped validating webhook that allows us to run our configmap constructors on the configmap contents before it is committed to etcd.

You can see it in use in knative/serving here: https://github.com/knative/serving/blob/143c72e47c3076e9d392c7c90c60f33da649554a/cmd/webhook/main.go#L103

We should do this for all of the configmaps in

[2019-10-31 20:27] mattmoor commented on #2135
/kind good-first-issue

[2019-11-04 14:11] grebois opened #2138 "[BUG] {"error":"error sending cloudevent: 404 Not Found"}"
**Describe the bug**

I followed this guide https://knative.dev/docs/eventing/broker-trigger/ and https://knative.dev/docs/eventing/samples/kafka/channel/index.html

with both I get:

[code]
on the broker ingress:

[code]

based on this yaml;

[code]
 **Expected behavior**

The cloudevent should pass through the broker to the service my-service

 **To Reproduce**

Install v0.9.0 or v0.10.0 and app

[2019-11-04 21:12] lionelvillard commented on #2135
/assign

[2019-11-04 22:17] Harwayne commented on #2138
What is the YAML of the Broker? `kubectl get broker default -n default -o yaml`

Do you have Istio installed?

[2019-11-05 01:54] grac3gao opened #2144 "Trigger reconciler doesn’t propagate status when trigger is no longer in ready status"
**Describe the bug**
Trigger reconciler doesn’t propagate status when trigger is no longer in ready status due to "Unable to get the Subscriber's URI"

 **Expected behavior**
When trigger is no longer in ready status due to "Unable to get the Subscriber's URI", trigger  should change status

 **To Reproduce**
1. Set up a broker, a Knative Service, a trigger coupled with this broker and subscribed

[2019-11-05 03:12] nachocano commented on #2138
Can you change the ce specversion to be 0.3 and try again?

[2019-11-05 08:55] grebois commented on #2138
@Harwayne sure

[code]

@nachocano same problem with 0.3 and 1.0

[2019-11-05 18:56] lionelvillard opened #2146 "APIServerSource registers only one event type"
**Describe the bug**
APIServerSource registers only one event type instead of 6.

 **Expected behavior**
6 event types should be registered

[2019-11-06 08:34] slinkydeveloper opened #2148 "Simplify profiling for sources"
**Problem**
Profiling sources now it's hard because it requires manual patching of sources to use expose go pprof data

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for? Contributor

**Additional context**
We can do in a similar fashion to [sharedmain pkg apis](https://github.com/knative/pkg/blob/master/injection/sharedmain/main.go#

[2019-11-06 08:36] slinkydeveloper commented on #2148
/assign

[2019-11-06 14:22] matzew commented on #1500
Yes, that makes sense to me, @n3wscott  !

[2019-11-06 14:24] lionelvillard commented on #2075
@matzew we can close this one, right?

[2019-11-06 14:31] grebois commented on #2138
I narrowed down the problem to istio being enabled on the namespace, when I disable it I stop getting the 404s and everything works as expected :/?

[code]

@nachocano @Harwayne any ideas?

[2019-11-06 15:40] aslom opened #2152 "Make Knative eventing more serverless and scalable"
Make Knative eventing more serverless and scalable

**Problem**
A short explanation of the problem, including relevant restrictions.

Knative eventing (sources, channels, brokers, ...) should scale to zero when not used and scale up in proportion to number of events

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

System Integrat

[2019-11-06 15:43] aslom opened #2153 "Make Knative eventing sources more serverless and scalable"
**Problem**
A short explanation of the problem, including relevant restrictions.

Sources are running and consuming resources even when there is no events. And when large number of events is received source do not automatically scale up

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

System Integrator, Event consumer (developer)

[2019-11-06 15:44] aslom opened #2154 "Make Knative eventing channels more serverless and scalable"
**Problem**
Today channels do not scale in response to number of events: if channel is not used it occupies resources (memory, cpu) and may stop processing events (if hitting memory, cpu limits)

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

System Integrator, Event consumer (developer)

**Exit Criteria**

In-memory channel and

[2019-11-06 16:04] aslom commented on #2152
Improvements should help with related issue:
https://github.com/knative/eventing/issues/1555

[2019-11-06 16:06] aslom commented on #2152
There may be other related issue such as about making control-plane scalable as well?

[2019-11-06 16:09] aslom commented on #2152
I would like to find who is interested in this topic: @nachocano @slinkydeveloper @Harwayne @matzew @lionelvillard ?

[2019-11-06 16:12] aslom commented on #2152
What would be the best way to capture possible options short term (MVP, before 1.0?) and long term ideal solution?

I am thinking to start with design docs for each sub-topic such as sources and channels?
Using design doc using template?
https://github.com/knative/community/blob/master/CONTRIBUTING.md#design-documents
https://docs.google.com/document/d/1QRREfL8gSVSURHMkDLjDtMh1BBsNiwfmaBiGnJUDQ2g/

[2019-11-06 16:23] vaikas commented on #1913
Decided in the task force to create a new API group, we'll have to decide on the name here.

[2019-11-06 16:26] vaikas commented on #1913
we'll use flows.knative.dev.

[2019-11-06 16:27] vaikas commented on #1500
sources.knative.dev it is.

[2019-11-06 16:35] mikehelmick commented on #2152
/cc @grantr

[2019-11-06 16:38] nachocano commented on #2152
Related to this: #2060 #2061 #2083

On Wed, Nov 6, 2019 at 8:36 AM Mike Helmick <notifications@github.com>
wrote:

[2019-11-06 17:06] grantr commented on #2152
/area performance

[2019-11-06 17:14] slinkydeveloper commented on #2152
I think it's quite interesting the idea to scale up, but I'm not sure it would be simple to go to 0.
Are we sure that we can consider every knative component stateless, so it can be scaled down to 0 without data loss?

[2019-11-06 17:15] slinkydeveloper commented on #2153
Same of this https://github.com/knative/eventing/issues/2152#issuecomment-550409573 + this requires non-HTTP autoscaling (eg autoscaling based on kafka messages like https://github.com/kedacore/keda)

[2019-11-06 17:50] Harwayne commented on #2154
We have discussed using Knative Services in particular in the Broker Deployments. Knative Services would allow it to scale down to zero and up as needed (which would probably help Broker performance too). Our hesitation is that currently, Knative Eventing does not require Knative Serving. Switching to Knative Services would make it a hard dependency.

I think the first step would be to create a Po

[2019-11-06 18:43] aslom commented on #2152
@slinkydeveloper hopefully we can scale control-plane to zero - only spin it up when CR is created/modified/deleted? For data plan may be more complex as some sources requires pull or persistent polling connection so something needs ot keep running even if there is no events recevied?

[2019-11-06 18:45] aslom commented on #2153
@slinkydeveloper Yes. Something like "activator" component that waits for activity related to registered sources and starts source? It could also work as auto-scaling to provide metrics to scale up source service/deployment (and down when no activity)?

[2019-11-06 18:53] aslom commented on #2154
I really like idea to have it configurable duck-typed for channel (and sources?) and avoiding hard dependency on ksvc (keeping things simple by default)

Eventually all channel implementations could share then the same basic code so they can Deployments or Knative Services and be scalable :)

[2019-11-06 19:23] nachocano commented on #2154
Some [initial work](https://github.com/nachocano/eventing/blob/9d651d301dd5c931643a9b73eef5478a247a0a6c/pkg/reconciler/broker/broker.go#L287) I did on broker ingress and filter deployments to make them "configurable": either Deployment or ksvc. Very initial work, but I guess whatever we decide for channel/sources, we can do the same for brokers.
The ideal thing as @Harwayne mentioned would be not

[2019-11-06 20:12] Harwayne commented on #2040
/close

There has been one failure in the last week. Even then, most of the trace was recorded.

[2019-11-06 20:12] #2040 closed

[2019-11-06 20:42] aslom commented on #2154
@nachocano @Harwayne what do you mean exactly by *strong* dependency? Does it mean that code is not importing libraries from serving?

[2019-11-06 21:43] Harwayne commented on #2154
The controller must run correctly if it is set to use Deployments and the Knative Serving CRDs are _not_ installed.

Using a straightforward, auto-generated, informer-lister for ksvcs, it would fail loop saying that it cannot list that kind int he given API version.

Ideally, we would also not have a compile time dependency, but I am more flexible on that.

[2019-11-06 21:52] lionelvillard commented on #2154
I do have a dynamic informer: https://github.com/lionelvillard/knative-functions-controller/tree/master/pkg/dynamic

Maybe I can move it to `pkg` if not there yet.

[2019-11-06 22:00] lionelvillard commented on #2154
Full disclosure, the original code is there: https://github.com/kubernetes/client-go/tree/master/dynamic

I just made it injection compatible and at the time I used an old client go

[2019-11-07 00:46] #2112 closed

[2019-11-07 09:29] slinkydeveloper commented on #2152
There is any way atm to let k8s spin up control-plane only when CR changes happens?

[2019-11-07 11:52] antoineco commented on #2152
@slinkydeveloper that would require one component to always be up and running to watch for changes to relevant resources and then start the corresponding controller. Kubernetes does not actively notify controllers when changes occur (push), the controllers maintain a long connection to receive events about resources they are interested in (pull).

[2019-11-07 14:05] slinkydeveloper commented on #2152
@antoineco If that's the case, I'm kinda worried this kind of solution only makes the architecture more complex without giving relevant benefits. If we consider only eventing, it's quite easy, but eventing itself is somewhat "extensible" adding eventing-contrib components, so how do we manage all components with same "listener & autoscaler" stuff? If we end up with multiple "listener & autoscaler"

[2019-11-07 14:39] antoineco commented on #2152
Fully agree with everything you said, I really don't see any benefit scaling the control plane.

[2019-11-07 14:55] zroubalik commented on #2153
[Keda](https://github.com/kedacore/keda) (is pull based autoscaler) so it supports mulitple event sources scaling (0-1) OOTB today, just as @slinkydeveloper mentioned. In case you are interested I could provide help with Keda on this.

[2019-11-07 16:20] nirmal-mehta commented on #2122
Could you please include me?

[2019-11-07 16:26] hrasadi commented on #2122
I am also interested to join. Thank you.

[2019-11-07 17:21] #2148 closed

[2019-11-07 19:06] evankanderson commented on #351
The original request was about mutability of the "Arguments" field on Buses:

Since "Buses" have been retired, I think this issue can go.

[2019-11-07 19:06] #351 closed

[2019-11-07 19:22] yolocs commented on #2122
+1

[2019-11-07 19:40] capri-xiyue commented on #2144
/assign

[2019-11-07 20:17] aslom commented on #2154
After reviewing with @lionelvillard it seems that the easiest first step is to modify [`eventing/config/channels/in-memory-channel/500-dispatcher.yaml`](https://github.com/knative/eventing/blob/master/config/channels/in-memory-channel/500-dispatcher.yaml)
to make it into ksvc and see dispatcher can be started? @Harwayne @nachocano

That requires to disable checks that assume deployment (`reconcile

[2019-11-07 20:30] aslom commented on #2153
@zroubalik @slinkydeveloper that would add KEDA as dependency for those knative sources that need pull based scaling?

If I understand correctly [KEDA design](https://github.com/kedacore/keda#how-keda-works) we could use ScaledObject ([example](https://github.com/kedacore/sample-typescript-kafka-azure-function/blob/master/deploy/deploy.yaml)) to scale knative source deployment?

[2019-11-07 20:42] aslom commented on #2152
@antoineco @slinkydeveloper that starts to matter if you have very small (and want scaling to zero to conserve resources) and very large knative cluster (lot of activity in control plane) and may ot of controllers installed for different source and channel types?

Also that may be bigger issue for multi-tenant cluster as you would want to run all supported types of sources and channels so tenants

[2019-11-07 20:42] aslom opened #2161 "Make Knative eventing control plane more serverless and scalable"
**Problem**
A short explanation of the problem, including relevant restrictions.

When running very small clusters would be good minimize footprint of knative eventing control plane (as it is used rarely). When running large and possibly multi-tenant clusters there may be many source and channel types installed that may be used rarely but take resources (memory, cpu).

**[Persona:](https://github.

[2019-11-07 20:43] aslom commented on #2161
We have ongoing discussion about scaling knative eventing control plane https://github.com/knative/eventing/issues/2152#issuecomment-550409573
 - moving it here as a separate issue.

[2019-11-07 21:00] aslom commented on #2161
The way I see scaling control-plane problem: each source type and channel will be running its own controller taking resources (memory, cpu) even when there is nothing to do.

Instead we could run one API server event listener in control-plane(with minimal footprint - scale almost to "zero') that spins up reconciler and stores status of reconciliation as k8s events for ease of use.

[2019-11-07 22:45] zroubalik commented on #2153
@aslom Exactly, in ScaledObject you can specify the specific settings for each Knative Source.
I can imagine a very simple controller that creates ScaledObject with preferred settings when Event Source is created.

[2019-11-07 23:15] capri-xiyue commented on #2144
I found this issue is because currently we don't have a Trigger Condition Type for the `subscriber`. We have a condition type `Subscribed`, but it's not for for `subscriber`, it's used when we subscriber to broker channel. For `subscriber`, We only use status.SubscriberURI to indicate whether `subscriber` is ready or not. And we never update `status.SubscriberURI`  when the status of `subscriber`

[2019-11-08 00:36] antoineco commented on #2152
You're right about the 2 scenarios, and both have a different problematic.

In the "very busy" scenario, it is not recommended to scale controllers horizontally, because multiple instances may end up synchronizing the same object at the same time, which could have undesired effects. You would have to move the work queues outside of the controllers if you wanted to scale horizontally, so that one o

[2019-11-08 00:42] antoineco commented on #2161
You're right about the 2 scenarios, and both have a different problematic.

In the "very busy" scenario, it is not recommended to scale controllers horizontally, because multiple instances may end up synchronizing the same object at the same time, which could have undesired effects. You would have to move the work queues outside of the controllers if you wanted to scale horizontally, so that one o

[2019-11-08 08:35] slinkydeveloper commented on #2161
Oh so k8s apis doesn't provide you the guarantee that only one picks up the stuff and synchronize it?

I drop the :bomb: : since knative eventing is a pluggable system, what if, to make controllers pluggable, we use the [golang plugin system](https://golang.org/pkg/plugin/) to create one big controller that manages all resources and scales? This for sure can make the controllers more efficient and

[2019-11-08 14:33] lionelvillard commented on #1862
/assign

[2019-11-08 15:02] lionelvillard commented on #1862
/unassign
/assign @beemarie

[2019-11-08 16:49] vaikas commented on #2144
I think for the most part these should not be that breaking, because as long as the correct logic is there to indicate whether the resource is ready or not is what most users care about. These dependant conditions to figure out if the resource is ready or not are really there to indicate if the resource is not ready and why not and that would be definitely great to get in, so thanks for doing this

[2019-11-08 17:44] beemarie commented on #1862
@lionelvillard It looks like if I comment, I should be able to be assigned?

[2019-11-08 18:03] lionelvillard commented on #1862
/assign @beemarie

[2019-11-08 18:06] capri-xiyue commented on #2144
@vaikas Thanks for your suggestion! I think `SubscriberReady` is pretty descriptive. Regarding the renaming of existing conditions, I don't think it's a breaking change. Do you have any concerns if we renaming the existing conditions now?

[2019-11-08 18:31] vaikas commented on #2138
If it's not too difficult, could you try seeing if you can have two pods communicate in a namespace with Istio enabled to see if it's only related to Broker, or Istio issue in general?

[2019-11-08 19:13] grebois commented on #2138
@vaikas of course;

[code]

[code]

[code]

[code]

all work even with different namespaces

[2019-11-08 19:18] grebois commented on #2138
One more interesting thing, it also works from an istio enabled namespace to a non istio namespace:

[code]

[2019-11-08 19:31] capri-xiyue commented on #2144
I will decouple the Trigger Readiness issue and Renaming issue. Will create a new issue to talk about the renaming.

[2019-11-08 19:33] #1936 closed

[2019-11-08 19:45] capri-xiyue opened #2163 "Verify all conditions of core eventing resources and make sure they are actionable and useful"
Describe the bug
The conditions of some eventing resources are confusing. For example,
the `subscribed` of Trigger is used when we subscribe to broker channel. However, in Trigger, we have `subscriber`. User might feel `subscribed` is to indicate the status of `subscriber`. We should go through the conditions of core eventing resources and make sure they are actionable and useful.

Expected behavi

[2019-11-08 19:46] capri-xiyue commented on #2163
This is related to https://github.com/knative/eventing/issues/1740

[2019-11-08 19:58] vaikas commented on #2144
I don't have any concerns.

[2019-11-08 20:54] aslom commented on #2161
If one of plugins panic then mega controller would restart potentially in loop?

Knative controllers are already doing bundling:

https://github.com/knative/eventing/blob/1cb281d91da222f6f86974d5aca8b04f3e577fa0/cmd/controller/main.go#L36-L44

https://github.com/knative/eventing/blob/1cb281d91da222f6f86974d5aca8b04f3e577fa0/cmd/sources_controller/main.go#L30-L33

Would use of golang plugin system

[2019-11-08 20:59] aslom commented on #2154
Update on experimenting - after converting imc-dispatcher into ksvc seems to run into race condition between two containers inside that try to bind to 9090 (see below).

Going to investigate more and see if I can get disable for now binding to 9090 to get imc dispatcher started and be able to dispatch one event.

[code]

[code]

[2019-11-08 21:19] grebois commented on #2138
There are also some errors in the broker ingress pod:

[code]

[2019-11-08 21:22] aslom commented on #2153
I can see that two ways to implement
* modify event source controller to add pulling event statistic logic and scaling (no dependency on KEDA)
* modify event source controller to create ScaledObject that is then used by KEDA to pull event statics and do scaling (dependency on KEDA )

Or do both which I think may the best - if users have KEDA they can configure Knative to use KEDA. Otherwise can us

[2019-11-08 22:52] aslom commented on #2154
After talking @lionelvillard  one idea to consider for future: allow channel dispatcher to be namespace bound ksvc (and not shared across namespaces) as that should improve scalability to have separately scaled dispatchers and make accounting easier for multi-tenant setups?

[2019-11-11 08:50] #2144 closed

[2019-11-11 08:55] slinkydeveloper commented on #2161
@aslom of course we need to pay attention to recover panics to isolate them and avoid the "mega controller" to crash, but yes that's more or less the idea. This could also improves the actual resource (cpu/mem) efficiency, avoiding running multiple controllers when just one could be used

yeah but not the bits from eventing-contrib

I think this could be an interesting first step :)

[2019-11-11 15:07] #2135 closed

[2019-11-11 16:35] zroubalik commented on #2153
@aslom Hi, I think the picture is correct and described correctly both options.

As for the options, Keda provides all necessary scaling capabilities for multiple sources OOTB today. So it is up for a decision, where do we want to put the effort. Whether we want to reimplement the same functionality inside Knative, reuse Keda or implement both options.

I am willing to help with the Keda and contr

[2019-11-11 18:49] capri-xiyue commented on #2163
I checked the core eventing resources and list the conditions that I think should get renamed as follows:

Resource | Condition Origin Name | Condition Updated Name
-- | -- | --
subscription | Resolved | ReferenceResolved
trigger | Broker | BrokerReady
trigger | Subcribered | SubscriptionReady
trigger | Dependency | DependencyReady

[2019-11-11 18:56] capri-xiyue commented on #2163
/assign

[2019-11-11 20:07] #1913 closed

[2019-11-11 20:56] aslom commented on #2154
I think found the right place to disable metrics server however currently it seems to be required?

Removed

[code]

but that leas to panic - going to do quick code change to make metrics optional so ksvc diaptcher can start without requiring port 9090 (and confilicting with serving)

[code]

[2019-11-11 21:41] lionelvillard opened #2171 "Add support for Installing the inmemory dispatcher in user-namespace"
**Problem**
Today, the in-memory dispatcher can only be installed in `knative-eventing`. It should also be possible to install it in the user namespace, eg. to improve scalability and debugging experience.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the pr

[2019-11-11 23:26] aslom commented on #2153
@zroubalik that sounds good. As the very first step we should be able to use Keda by creating Scaler yaml?

That means that controller when it sees KEDA in source configuration then it creates Scaler yaml and assumes KEDA will do scaling.

That should allow us to do quick testing - I will start with Kafka source that is already supported in KEDA and see how scaling works. (I already have experienc

[2019-11-11 23:28] aslom commented on #2161
@slinkydeveloper sounds good to me: a simple experiment to see if we can get eventing-contrib "mega" (or mini?) controller to work and what is difference in cpu/mem usage? And see if it could use plugins?

[2019-11-12 04:26] Abd4llA commented on #2122
please keep me posted

[2019-11-12 15:21] aslom commented on #2154
I could not find a diagram describing Knative data-plane architecture - do you know any good blog post? links?

I have put together a simple diagram showing current architecture:

![image](https://user-images.githubusercontent.com/1648338/68684201-15c7a600-0536-11ea-9b6a-da535f64683c.png)

and what it would look with ksvc and scaling:

![image](https://user-images.githubusercontent.com/1648338/686

[2019-11-12 16:25] mikehelmick commented on #2154
related to #1555

[2019-11-12 16:25] mikehelmick commented on #2154
/cc @grantr

[2019-11-12 17:00] mikehelmick commented on #2122
Working on writing up a charter - hope to have something by the WG meeting tomorrow.

[2019-11-12 20:25] lionelvillard commented on #2171
/assign

[2019-11-12 20:27] lionelvillard commented on #2171
The plan is to have the in-memory controller creating the dispatcher when the first in-memory channel is created. Eventually the dispatcher can be deleted when the last channel is deleted.

[2019-11-12 21:10] zroubalik commented on #2153
Yeah, that scenario sounds good. I have an experience with Keda, so I'll be happy to write the controller for managing it. @aslom or do you plan to write that?

[2019-11-12 23:40] capri-xiyue opened #2175 "Improve the e2e tests framework to be more dynamic so that it can uses flags to specify channel"
**Problem**
Currently, the e2e tests framework in knative eventing uses flags to specify the channel.
For example,
`go test -v -tags=e2e -count=1 ./test/e2e -channels=InMemoryChannel,KafkaChannel`
I found three defects as follows
1. It uses a ChannelFeatureMap to store the supported channels(https://github.com/knative/eventing/blob/master/test/common/config.go). Currently it only supports InMemory

[2019-11-12 23:41] capri-xiyue commented on #2175
/assign @adamharwayne

[2019-11-12 23:47] capri-xiyue commented on #2175
/assign @Harwayne

[2019-11-13 05:08] mikehelmick commented on #2122
Proposed charter

https://docs.google.com/document/d/1IjdOe-tE1ZJarIoKEykYeqrKGxlJUlPyJFkEfsZn6C8/edit#

Do folks have a preferred meeting day / time?

Some options

- Tuesdays @ 9 or 9:30 PST
- Thursdays @ 8:30 or 9:00 PST

These are pulled from EU friendly times that don't conflict with other eventing working groups or task forces already on the calendar.

[2019-11-13 14:19] lionelvillard commented on #2171
I'm hesitating between these two solutions for cluster-scope dispatchers:
1. Provide two manifests, `in-memory-channel-cluster.yaml` and `in-memory-channel-namespace.yaml` and tell the provider to install only one. The cluster manifest works the same way as today.
1. Provide only one manifest, tell the provider to edit it if they want to use namespace-scope dispatchers and let the in-memory contro

[2019-11-13 15:46] matzew commented on #2171
I like the idea that the dispatcher is only created once we really ahve a channel :+1:

I do believe, that having two manifests seems cleaner, at least on the surface !

[2019-11-13 16:42] lionelvillard opened #2179 "Rename apiserversource.spec.resources to apiserversource.spec.watches"
**Problem**
Can be confused with ResourceRequirements in v1.Container

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve?
1

**Additional c

[2019-11-13 17:00] aslom commented on #2153
@zroubalik yes going ot write first version for quick review

[2019-11-13 18:09] nachocano commented on #1500
late to the party... but still... +1

[2019-11-13 18:44] #2175 closed

[2019-11-13 23:15] n3wscott commented on #2171
cc @adamharwayne

[2019-11-14 01:47] hrasadi commented on #2122
Thanks Mike for putting this together.

+1 to Tuesdays @9 for the meetings.

[2019-11-14 06:08] konstantin-dzreev commented on #2039
Hi,
I'm getting a similar issue on ubuntu 19.04, minukube 1.5.2, knative 0.8.0, gloo 0.21.1.

There is a very simple setup: a broker, a service and a trigger without filters. Once a message gets pushed to the broker, it reaches the service, but a reply event causes an error:
[code]

[2019-11-14 07:11] nachocano commented on #2154
Yes, I think I had this same issue and IIRC it was because the queue-proxy container binds the port 9090. For initial testing I agree you can easily comment out the metrics.UpdateExporter part and see if you can get things running.

[2019-11-14 07:40] nachocano commented on #2078
hmm I think I reproduced this changing the default-ch-webhook configmap to use a non-existent apiVersion, and then annotating the namespace to create a broker...
E.g.,
[code]
And I think is related/duplicated of https://github.com/knative/eventing/issues/2047

[2019-11-14 16:23] konstantin-dzreev commented on #2039
P.S. Switching to kind mentioned above fixed the issue

[2019-11-14 16:36] mikehelmick commented on #2078
Thanks @nachocano  - I'll take a second look w/ that approach

[2019-11-14 16:53] rgregg commented on #1500
I’m against this change.

Sources.knative.dev has no clear connection with eventing and could be connected with source code, build, and/or FaaS scenarios in the future if the project moves that way.

I understand the desire to have a shorter string, but you need a connection to what kind of sources your talking about.

[2019-11-14 16:59] mikehelmick commented on #1500
@rgregg do you have other suggestions?

It is possible to use these sources without using eventing (or messaging) constructs.

I get what you're saying about reasons to not call it sources, but we didn't have anyone bring forward other options.

[2019-11-14 17:07] rgregg commented on #1500
From the context above, the problem was "string length". If that's the problem we're trying to solve, I think we should punt completely and keep "sources.eventing.knative.dev".

The primary use case for sources is with eventing, is it not? I'm struggling to imagine advanced use cases where you wouldn't use them with scenarios focused on "eventing" even if you aren't using the whole eventing framew

[2019-11-14 19:15] lionelvillard opened #2186 "The in-memory dispatcher shouldn't mount config-logging"
**Problem**
The in-memory dispatcher shouldn't mount config-logging. Instead we should let `sharedMain` reading it.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How many developer-days do you thi

[2019-11-14 19:56] aslom commented on #2154
@nachocano as a workaround I have added PROMETHEUS_PORT to allow overriding default 9090
https://github.com/knative/eventing/compare/master...aslom:channels-ksvc
and with this I can start imc-dispatcher as a ksvc but then it runs into problems i am investigating - probably conflicting with imc-controller and imc-dispatcher Deployment

[2019-11-14 20:19] capri-xiyue opened #2187 "Standardize True/False/Unknown status throughout eventing"
**Problem**
 Standardize True/False/Unknown status throughout eventing.
 Background: We have some open questions of the difference between status "Unknown" and status "False".Currently,  in some cases, we follow this doc https://github.com/knative/docs/blob/master/docs/serving/spec/knative-api-specification-1.0.md to make a decision. (
1. False MUST indicate a failure condition.
2. Unknown SHOULD

[2019-11-14 20:59] lionelvillard opened #2188 "APIServerSource has no status when resource does not exist"
**Describe the bug**
APIServerSource has no status when resource does not exist. It should.

 **Expected behavior**
A clear and concise description of what you expected to happen.

APIServerSource should have a condition for all resource existence.

 **To Reproduce**
Steps to reproduce the behavior.

Create an APIServerSource watching a dummy resource

 **Knative release version**

 **Additional c

[2019-11-14 21:18] grac3gao commented on #2047
The error comes from `knative.dev/pkg/apis/duck/typed.go`
When trying to get an implements of InformerFactory,  after an informer is produced, it will wait for cache sync by method `cache.WaitForCacheSync()`, and the poller method (a k8s.io method) inside it doesn't have a timeout. As the resource never exists, the poller will poll continually and block new source processing.
One way to fix it is

[2019-11-14 21:22] sixolet commented on #2187
Using the knative standard will make the command line support much easier to build!

[2019-11-14 21:26] nachocano commented on #2188
I think it might be related to #2047

On Thu, Nov 14, 2019 at 12:59 PM Lionel Villard <notifications@github.com>
wrote:

[2019-11-14 22:30] lionelvillard commented on #1758
This is becoming critical as we start to move event dispatchers in user-namespace (starting with the inmem dispatcher #2171).

I can take a stab at it.

/assign

@grantr

[2019-11-15 17:50] capri-xiyue commented on #2187
@sixolet
Hi Naomi, does the knative standard look as follows?

- True - the reconcile was successful. Clients should stop polling, and show a success result

- False - the reconcile was unsuccessful. Clients should stop polling, and show a failure result. This should be accompanied with a message, and ideally reason code, to help detail the failure and if it is system or user caused. Note that the

[2019-11-15 18:16] aslom commented on #2161
Following on Eventing WG https://docs.google.com/document/d/1uGDehQu493N_XCAT5H4XEw5T9IWlPN1o19ULOWKuPnY/edit#heading=h.br6wvqieqj5l recording related links mentioned in slack:

From @mikehelmick  "Update from WG - the “serverless controllers” for kubernetes work is more of a thought experiment and not as far along as I have thought. So, no prior art to worry about. Still if we come up with someth

[2019-11-15 18:52] grantr commented on #2187
The Trigger's readiness is complex because it depends on other objects outside its control. As currently defined, the Trigger requires readiness of both its subscriber and its dependency, but the Trigger controller doesn't know when those objects will exist (or more accurately, when they will appear in its cache).

If the Trigger gets a "not found" error when trying to read its dependency, that sh

[2019-11-15 18:54] aslom opened #2191 "Test eventing as multi-tenant (namespace scoped) installation and identify limitations"
**Problem**
A short explanation of the problem, including relevant restrictions.

It should be possible to deploy Knative eventing in multi-tenant environment where each user (tenant) gets its own namespace

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

System Integrator

**Exit Criteria**
A measurable (binary) test that would

[2019-11-15 18:57] aslom commented on #2191
Related to Kubernetes SIG on Multi-tenance and in particular incubator projects for "Hierarchical Namespace" and "Virtual Cluster":
https://github.com/kubernetes-sigs/multi-tenancy#incubator-directory

[2019-11-15 19:02] aslom commented on #2191
When installing knative eventing some of resources in config can be namespace-scoped (and non-default channel) used but some are cluster scoped such CRDs, ClusterRoleBinding and ClusterRole
(more on cluster and namespace scoped https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/#not-all-objects-are-in-a-namespace )

It seems thetre is some disucssion to make CRDs namespac

[2019-11-15 19:03] aslom commented on #2191
James Todd @jwtodd started configuring knative eventing natss for multi-tenant

[2019-11-15 19:23] sixolet commented on #2187
The trigger's readiness should allow for a short unknown period before going false if the dependency doesn't exist, with a "waiting for dependency" message. After the grace period, it can go False with "timed out waiting for dependency". You can use the creation time to determine this.

If you must have a condition that is false while the dependency doesn't exist, it should be info or warning.

[2019-11-18 00:10] mikehelmick commented on #2078
did a little more digging, this does appear to be related to #2047

status conditions are being initialized correctly, but the controller can't seem to recover from the faulty sink

[2019-11-18 16:38] lionelvillard commented on #1758
Second thought: for now let the in-memory dispatcher using the system configmaps (doing the same as brokers).

I'll get back to this issue later on.

/unassign

[2019-11-18 18:56] lionelvillard commented on #2171
Actually there is a solution 3, which is to provide only one manifest and use `selector` to pick only one mode. Solution 1 has the risk of user to install both manifests (not good at all), and solution 2 is too complicated.

With the solution 3, the namespace-scoped dispatcher is installed as follows:
[code]
/cc @grantr @Harwayne @matzew @vaikas

[2019-11-19 17:00] ratamovic commented on #2055
Any news or workaround on this issue? I have the same with events forwarded by a container source (so that my sequence is not even run):
```{"level":"error","ts":"2019-11-19T16:35:51.449Z","logger":"inmemorychannel_dispatcher.in-memory-channel-dispatcher","caller":"fanout/fanout_handler.go:120","msg":"Fanout had an error","commit":"fce0712","knative.dev/controller":"in-memory-channel-dispatcher","

[2019-11-19 18:09] lionelvillard commented on #2055
@ratamovic maybe you are missing the cluster local gateway: https://knative.dev/docs/install/installing-istio/ ?

[2019-11-19 18:42] lionelvillard opened #2199 "Provide e2e tests for multitenant in-memory release"
**Problem**
#2180 provides an alternative way to install Knative eventing to support multi-tenancy. When/If this PR gets merged, the integration tests should also run against it.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.
So

[2019-11-20 03:34] grebois commented on #2055
@Violet-Guo @ratamovic is istio enabled on the namespace?

[2019-11-20 13:43] ratamovic commented on #2055
No it's installed. I use the "extra" yaml from Knative serving repository to enable it.
And my eventing pipeline actually worked at first (eventing were flowing "rights"). In fact I destroyed and redeployed the exact same cluster with the exact same configuration (everything being automated by a script so that no mistake can be made) and now it works again.
What has caused the issue is unclear as

[2019-11-20 18:23] capri-xiyue commented on #2187
Currently, the status of each condition type of resources is set to unknown at initial stage(before reconcile process starts). And the reconcile process follows a "fail-fast" philosophy which means when we fail to reconcile one condition type, it will return error and the reconcile process will stop, for all the other condition types, they will still be unknown since they have not been reconciled

[2019-11-20 18:33] sixolet commented on #2187
The rules should be taken to include normative client behaviour in terms of interpreting what is an "error".

Clients are supposed to be able to create a trigger and then immediately create a related source. That means that doing so it's not an error and should not be interpreted as such.

That, in turn, means that a "not found" for the dependant source in the first ten seconds  after the create t

[2019-11-20 18:34] capri-xiyue commented on #2187
I summarized the eventing core resources condition summary in this doc https://docs.google.com/document/d/1iwWowvCEh_5wiBp8TvgNRkrVoxPLiezoF-s7018EV-M/edit#heading=h.567syk6hive0
In this doc, we can see that the standard of  True/False/Unknown status is not consistent through eventing.
For example,
For apiserversource, when the deployment(receiver adapter) is not available, the status of condition

[2019-11-20 18:43] capri-xiyue commented on #2187
I feel we don't have the same understanding for the "fatal error" and how the reconcile process happen.
For example, when dependency(source) of trigger is not ready in the first ten seconds. For those reconcile process happened in the first ten seconds, it will terminate. However, it won't stop them from reconcile again.
Everytime when we encounter error during reconcile process, it will immediate

[2019-11-20 20:04] akashrv commented on #2187
@dgerd @vaikas-personal @vaikas @cooperneil
This is an interesting discussion. Comments, suggestions?
I wonder what "short unknown period" means in a system like K8s where reconcilers watch and reconcile to make the observed stated eventually consistent with the desired state.

[2019-11-20 20:40] hrasadi commented on #2187
@capri-xiyue In your proposal, what will happen if the trigger is in False state and a second round of  reconciliation is ongoing (before it hopefully goes to True). There are two possibilities that I can think of:
1-  The trigger goes to 'Unknown' state everytime we start a reconcile phase. IMO, this will provide a bad customer experience (for an ever failing resource, it will show flip state bet

[2019-11-20 20:53] capri-xiyue commented on #2187
@hrasadi
The whole Unknown concept is only used for the first time the trigger is being initialized or the trigger or the reconcile process already gets terminated before it reconcile a specific resource.
For example, the trigger has condition type as follows: "Broker", "SubscriberResolved" and "Dependency". When we fail to get broker, the condition type "Broker" will set to "False". And the recon

[2019-11-20 21:46] yolocs commented on #2187
An error state (ready=false) doesn't mean it's not recoverable. A user (or client) has to look at the reason to understand if any intervention is required. It's less desirable (or even impossible) for the control plane to differentiate a "first-time" error vs. an error happened later.

I don't know what's the best client behavior - maybe a client-side timeout.

[2019-11-20 22:35] sixolet commented on #2187
To differentiate first time from later: look at the create time.

The entire purpose of having rules for conditions is so clients can use them. Let's make them actually useful to clients!

[2019-11-20 23:08] yolocs commented on #2187
I doubt that you can tell if it's a first time error by looking at just the create time. From your first comment, it seems you want to use the create time for timeout, which itself could be debatable (see questions from @capri-xiyue).
In my understanding, conditions should reflect the actual states of resources. The timeout strategy seems like an optimization for human interaction in the cost of s

[2019-11-20 23:16] grantr opened #2201 "Webhook SA gets too many permissions"
**Describe the bug**
The webhook gets [permission to read eventing objects](https://github.com/knative/eventing/blob/8e38791d3e4cba16df132c0b42ba68f62a746eac/config/200-webhook-clusterrole.yaml#L74-L91), but doesn't actually need them.

 **Expected behavior**
Only grant permissions to the webhook that are required.

 **Knative release version**
master

 **Additional context**
A fix for this and a

[2019-11-21 01:50] sixolet commented on #2187
"unknown" in the ready condition is meant to reflect that a normal process is still going on that may result in success or failure.

That is true during FaaS-style trigger creation by a client.

That is both state accuracy and better for human interaction.

After all, humans are the ultimate arbiters of meaning.

[2019-11-21 06:33] yolocs commented on #2187
But who knows there is an on going process? E.g. a trigger is waiting for a subscriber to appear. Controller doesn’t know and shouldn’t care if the subscriber will eventually appear. But the client (the user) who created the trigger should have the context - they know whether the subscriber will appear soon.

I’m advocating that when the controller finds out the subscriber doesn’t exist, it should

[2019-11-21 11:00] ratamovic commented on #2055
I got this error again this morning after deploying a trivial example to test a few issues I have (you can find it here https://gist.github.com/ratamovic/03395f7d98449285128dc016f96b40ad).
I have again the same "error while getting revision" in the activator.

I don't know if it's related, but I got 20 minutes before throttler errors although that was on another namespace:
[code]

[2019-11-21 14:36] lionelvillard commented on #2055
@ratamovic maybe this issue should be filed against the serving repo?

[2019-11-21 16:35] ratamovic commented on #2055
Sure I can do that. However, the trick is I only have these issues when dealing with eventing stuff. In fact, I haven't detected issues with "pure KNative services" (despite the serving activator being the one complaining). They still works: my sources work, my services work (when testing them by hand) but the things in-between don't (usually around the broker). And I'm not sure wether it's caused

[2019-11-21 18:46] grantr commented on #2201
/assign grac3gao

[2019-11-21 20:35] lionelvillard commented on #1725
/assign

[2019-11-21 21:00] lionelvillard commented on #2045
/assign

[2019-11-21 21:16] lionelvillard commented on #1065
This has been done.

[2019-11-21 21:52] grantr commented on #1065
Meaning we've upgraded to k8s 1.13, or we've upgraded to k8s 1.13 **and** the patch has been removed? Can this (finally) be closed? :smiley:

[2019-11-21 22:03] lionelvillard commented on #1065
both. I should have included the link to the PR fixing this: https://github.com/knative/eventing/pull/1910

[2019-11-21 22:09] grantr commented on #1065
Yay! Thanks for noticing @lionelvillard.

/close

[2019-11-21 22:09] #1065 closed

[2019-11-21 23:09] #2201 closed

[2019-11-21 23:32] yolocs commented on #1573
I wonder what's the status of this issue?

In addition to the current proposal, how people feel about:
1. Allow per-subscriber retry options. This comes handy when applications have very different capability of handling load.
2. Having runtime retry option returned by the subscriber. E.g. return 503 with `Retry-After` header. This gives applications the capability to adjust load dynamically.

[2019-11-21 23:33] #1725 closed

[2019-11-22 01:34] lionelvillard commented on #1573
We have a design document: https://github.com/knative/eventing/tree/master/docs/delivery

As of today the in-memory-channel supports `deadLetterSink` (only).

1 is planned. No implementations yet though.

We haven't discussed 2. Can you give more details, ie how to you see the load being adjusted dynamically? Usually Kubernetes handles load-balancing so I wonder if we need to support Retry-After.

[2019-11-22 06:17] yolocs commented on #1573
I think a better way of saying it is that #2 could provide subscribers the flexibility to intentionally delay receiving some events. If an application is load-aware, it can make use of this to delay the next delivery if it sees itself overloading. Or it might just want to delay handling some events because it’s not yet ready to handle them. To think, I feel this could be useful in general if we ca

[2019-11-22 07:48] slinkydeveloper opened #2208 "Flag to generate new payload at each request in performance test image"
**Problem**
Now we generate the payload of the test request at each new request, directly on goroutines of the load generator. This can impact the sender, slowing it down, under certain circumstances. We need a flag on the sender to configure if the payload must be generated before the test begin and use the same for all requests, or generate a new one on each request like now

**[Persona:](https:

[2019-11-22 09:20] #2045 closed

[2019-11-22 14:05] lionelvillard commented on #1573
I agree that can be useful. Do you have a concrete usecase?

[2019-11-22 14:39] lionelvillard opened #2210 "In-memory Dispatcher should retry sending events"
**Problem**
The in-memory dispatcher does not retry sending events when they failed to be consumed

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

The in-memory channel dispatches a message to a non-ready subscribers and retries

[2019-11-22 14:52] lionelvillard opened #2211 "Broker/Trigger should support deadLetterSink"
**Problem**
Broker/Trigger does not support deadLetterSink

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

A test with dead letter sink.

**Time Estimate (optional):**
How many developer-days do you think this may take to resolv

[2019-11-22 14:54] lionelvillard opened #2212 "Broker/Trigger should retry sending failed events."
**Problem**
Broker/Trigger does not retry sending failed events.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

A test showing it retries.

**Time Estimate (optional):**
How many developer-days do you think this may take to res

[2019-11-22 17:05] yolocs commented on #1573
I don't have a concrete usecase at the moment. I guess 2 is just an optimization for 1 so it's less important.

[2019-11-22 21:19] mikehelmick commented on #2210
Not sure if we want it to retry "until it succeeds"

I can get behind implementing some kind of exponential backoff retry. but eventually dropping or DLQ the message.

[2019-11-22 22:08] lionelvillard commented on #2210
I agree, this is just for a test. We should have more tests covering all aspects of the spec: https://github.com/knative/eventing/tree/master/docs/delivery.

[2019-11-22 22:41] mikehelmick commented on #2210
makes sense - thanks for the clarification.

[2019-11-22 22:52] grantr opened #2214 "A CE1.0 event replied to the Broker is never delivered"
**Describe the bug**
When replying to the Broker with a CloudEvents 1.0 event, the event is never delivered to interested subscribers. Replying with a 0.3 event in the same setup works.

 **Expected behavior**
A CloudEvents 1.0 event is delivered to the consumer same as a 0.3 event.

 **To Reproduce**
@akashrv can fill this in since he's the one who encountered this.

 **Knative release version**

[2019-11-25 16:38] yolocs commented on #1449
A security policy proposal for eventing: https://docs.google.com/document/d/1zPIDCy_hD8ADP48IArJfaUGuLBXlQZIz9nkbO-fjE20/edit?usp=sharing

[2019-11-25 16:45] yolocs commented on #2122
We should mention this on the coming eventing wg meeting. I'd like to start the task force meeting the week after (since this week is thanksgiving) on Dec 15th. I have an initial proposal to start the discussion: https://docs.google.com/document/d/1zPIDCy_hD8ADP48IArJfaUGuLBXlQZIz9nkbO-fjE20/edit?usp=sharing.

[2019-11-25 19:08] n3wscott commented on #1500
Here is my thinking, I am attempting to define the internal brands inside of Knative.

 - Eventing brand is event based mesh-like interactions. Sources are not this.
 - Messaging is point to point persistence delivery. Sources are also not this.
 - Flows are routing. Sources do not do this.
 - Sources are event producing resources.

So asking a user to use sources.eventing.knative.dev to _me_ mean

[2019-11-26 02:09] aslom commented on #2153
@zroubalik do you know what is current state of scaling to zero in KEDA and HPA? It seems that is not possible as defaultHPAMinReplicas is used if MinReplicaCount is set to zero?
https://github.com/kedacore/keda/search?q=defaultHPAMinReplicas&unscoped_q=defaultHPAMinReplicas

It seems to be related to HPA not supporting it in some versions of K8S? minReplicas is set in HPA created by KEDA to 1 (as

[2019-11-26 02:30] aslom opened #2221 "Knative eventing architecture diagrams"
**Problem**
When explaining how Knative eventing works would be very good to have validated architecture diagrams.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributors

**Exit Criteria**
Official architecture diagram in docs/specs:
https://github.com/knative/eventing/tree/master/docs/spec

**Time Estimate (optional):**
days

**Additional context (optional)

[2019-11-26 02:38] aslom commented on #2221
I was looking for official diagram(s) that show Knative eventing architecture but I could not find it - there are design and architecture diagrams in wbsite: https://knative.dev/docs/eventing/
but they are very high level and do not show actual implementation architecture (for example controllers or dispatchers)

I hope there may be good diagrams we could use?

I started drafting a simple one that

[2019-11-26 05:21] coryrc commented on #1894
Sorry, I haven't yet figured out how to use github so I missed your reply.

`go test` supposedly has a -p option you can set to 1; will that solve the problem for now?
(Why I can't find that in the help... I don't know...)

[2019-11-26 05:43] chizhg commented on #1894
I think you meant `-parallel`, which can be checked by running `go help testflag`.

IMO the core issue here is the test log are lost after `go test` gets timeout, which does not have much to do with parallel test runs.

[2019-11-26 14:41] aslom commented on #1894
@chizhg @coryrc I did not use parallel option but I do not expect anything would change buffering logs to streaming? https://github.com/golang/go/issues/24929#issuecomment-384484654

[2019-11-26 19:56] zroubalik commented on #2153
@aslom scaling to 0, is done by KEDA controller (it sets deployment to 0 replicas). It is not managed by HPA at the moment, as you correctly mentioned that this feature is fixed in k8s 1.16+, so it might get into the KEDA later, as we are supporting older k8s versions as well.

Scaling to 0 should work correctly, I wonder what caused the problem you are facing. You might hit the cooldown period?

[2019-11-26 21:06] aslom commented on #2153
@zroubalik are you sure that HAP is not used by KEDA? I am using the lates version I deployed from github 2 days ago. Where I can find about how ScaledObject and HPA works in KEDA? When I create ScaledObject I can see corresponding HPA is created. When I delete ScaledObject then HPA is deleted. The created HPA has minScale 1 and that prevents kafka source from going wiht replicas to 0 when I am ru

[2019-11-26 21:10] zroubalik commented on #2153
@aslom HPA are used by KEDA. But for the scaling itself: 0 <-> 1 is handled by KEDA, 1 <-> N is handled by HPA which si being created for each ScaledObject.

[2019-11-26 22:01] rgregg commented on #1500
I'm convinced.

[2019-11-27 16:16] aslom commented on #2153
@zroubalik That makes sense considering HPA will only allow scaling to zero in 1.16+. When scaling to zero what mechanism is used - does it disable HPA so it does not scale replica back to one from zero?

[2019-11-27 17:00] aslom commented on #1500
What about src-eventing.knative.dev - what is length limit?

[2019-11-27 22:32] chizhg commented on #1904
/assign

[2019-11-27 22:56] chizhg commented on #2081
/cc @slinkydeveloper

[2019-11-27 23:04] chizhg commented on #2061
Hmm, doesn't this issue conflict with https://github.com/knative/eventing/issues/2083?

If Broker is scalable, it should be able to automatically spin up more underlying resources to handle the extra load. Or are we talking about the situation when the autoscaler can be disabled/enabled, and this will be the expected behavior when it's disabled?

[2019-11-28 07:14] slinkydeveloper commented on #2081
I would also say that we need different senders too, so something like 2 sender - 2 receiver could be an interesting good start

[2019-11-28 07:21] slinkydeveloper commented on #2081
Also a more useful visualization imo could be run tests with n-sender & n-receiver with n from 1 to N. Then extract from every run the variance of the throughput and do a plot with x-axis n and y-axis variance. This could show us how quickly the SUT degradates in relation to the numbers of sender/receiver

[2019-11-28 15:10] xorver commented on #2187
I'm integrating Trigger statuses with UI, We have some prior work on handling statuses for other Knative resources, and basically if the status is Unknown we keep pooling, when the status becomes True/False, we stop pooling. I'm using the same logic for triggers.

I create the trigger first, it has dependency on yet nonexistent PubSub, then I create the PubSub owned by the the trigger. At this poi

[2019-11-29 15:24] loonybear commented on #2003
Hi, any progress on this?

Right now the only way to associate eventType with a source+trigger model is via trigger.spec.filter.attributes['type'], but I think we are hoping to decouple event type with trigger?

[2019-12-01 04:58] chizhg opened #2238 "Make performance benchmark results more stable and reproducible"
**Describe the bug**
We now have performance benchmarks running continuously against in-memory Channel and Broker, but the results are not consistent from run to run - sometimes all events are delivered without any error but mostly not, sometimes the throughput is 1500QPS but sometimes 1200QPS.

More details can be found from the Mako charts:
https://mako.dev/benchmark?benchmark_key=56838182162923

[2019-12-01 22:08] chizhg commented on #2238
In the `imc-dispatcher` log, there are a lot of such errors:
[code]

There are two possible reasons for these errors:
1. The receiver `channel-imc-consumer` is only a single Pod and cannot support such high load;
2. The cloudevent client used in `EventDispatcher` uses the default setting, which has `MaxIdleConns` to be 100, and `MaxIdleConnsPerHost` to be 2. It will end up with exhausting the port

[2019-12-02 00:01] chizhg commented on #2238
/area performance

[2019-12-02 00:15] chizhg opened #2239 "Add performance benchmarks with different message sizes"
**Problem**
Currently the continuous benchmark runs are sending events with message size set to 100 (bytes?), which is a factor that impacts the performance, e.g. throughput and latency.

To simulate the real world scenario more closely, and get more data points, we should have more benchmarks running with different message sizes. 100, 500, 1000 may be good numbers.

**Exit Criteria**
Benchmarks r

[2019-12-02 00:17] chizhg commented on #2239
/area performance

[2019-12-02 04:39] chizhg commented on #2238
There's also another kind of error, which might be caused due to a different reason:
[code]

[2019-12-02 07:46] slinkydeveloper commented on #2238
@chizhg for the error in `imc-dispatcher`, did you increased with `ulimit` the max file descriptors per process of host machines?

So the dispatcher didn't manage to dial with receiver, interesting... Are you sure you don't see them at the beginning or end of the benchmark, where respectively or the consumer endpoint is not ready yet or the receiver stopped before the end (the end signal was not r

[2019-12-02 07:50] slinkydeveloper commented on #2239
@chizhg What if we use 128, 1024, 8192 as dimension matrix? 8Kb it's a reasonable payload for an event imo

[2019-12-02 11:29] meteatamel opened #2240 "Automatic event registration does not work with GcpPubSubSource"
In Event Registry [docs](https://knative.dev/docs/eventing/event-registry/), it says that there's automatic registration for GcpPubSubSource. However, when I configure and test a GcpPubSubSource, I don't see automatic registration for Pub/Sub events. `kubectl get eventtypes` always returns `No resources found`.

 **Expected behavior**
When I configure GcpPubSubSource, I see an event type automatic

[2019-12-02 12:11] aliok commented on #1921
@n3wscott @vaikas
Can you give some more info on this? I am working on something that is related and interested in seeing the new PodSpecable resources.

[2019-12-02 15:32] zroubalik commented on #2153
@aslom it scales Deployment to 0 replicas

[2019-12-02 16:12] n3wscott commented on #1921
We have found a more sustainable way to move this forward. I can give a short preso at the sources WG meeting tomorrow, but TL;DR: SinkBinding is likely a better option as it does the same thing but it is less to maintain and fewer layers between you and k8s.

[2019-12-02 16:33] mikehelmick commented on #2122
charter: https://docs.google.com/document/d/1IjdOe-tE1ZJarIoKEykYeqrKGxlJUlPyJFkEfsZn6C8/edit#heading=h.r1rgwaddqb1j

meeting notes: https://docs.google.com/document/d/14CDLQ3nbh19fp4G6eMxEeZ_sajrPSvILhRERYhgXQF4/edit#heading=h.pglzpewu706h

[2019-12-02 16:33] #2122 closed

[2019-12-02 17:12] n3wscott opened #2242 "Allow the sink binding target name to be set-able from the spec of SinkBinding"
How would you feel about this being set-able from the spec of the binding? And default to `K_SINK` if not set. I think there will be a lot of existing code that uses `SINK`, `TARGET`, `OUTPUT`, etc that we could let folks just hook into (like code that was written before knative)

_Originally posted by @n3wscott in https://github.com/knative/eventing/diffs_

Likely we will have to inject some know

[2019-12-02 17:23] nachocano commented on #2240
This should be created in the knative-gcp repo. The PubSub source lies
there now.

On Mon, Dec 2, 2019 at 3:30 AM Mete Atamel <notifications@github.com> wrote:

[2019-12-02 17:29] meteatamel commented on #2240
I see the same issue for CrobJob event source too, so I don't think it's PubSub source specific.

[2019-12-02 17:40] nachocano commented on #2240
The issue particularly refers to GcpPubSub, so it should be in knative-gcp.
Did you see my reply on cronjob? Are you pointing to a sink?
In general this type of issues will be source specific, as it is a SHOULD in the Source Spec, and not a MUST. So Sources might decide not to register types. See [here](https://github.com/knative/eventing/blob/master/docs/spec/sources.md#eventtype-registry)

[2019-12-02 17:51] meteatamel commented on #2240
CronJob is point to a service directly, not through Broker. So, I guess, that's the issue? Either way though, the docs need to be updated because this is not clear at all from the docs. Can this serve as the doc bug or shall I open a separate doc bug?

[2019-12-02 18:08] nachocano commented on #2240
re: CronJob... Yes, can you try to point it to a broker and see if the event type is registered. I think they will, unless we introduced some bug lately.

In the docs, we say something like: `We currently only support automatic creation of EventTypes for Sources instances that point to Brokers.` I agree, it is kind of hidden, but is there. See https://knative.dev/docs/eventing/event-registry/

I w

[2019-12-02 22:56] grantr opened #2246 "Broker filter should reply with 400 when TTL is incorrect"
**Describe the bug**
Broker filter drops messages without an error response when the TTL extension is missing or incorrect.

 **Expected behavior**
An unrecoverable error should be returned upstream so the upstream can decide how to handle it. Now that we have error handling policies, the upstream might want to send that message to a DLQ.

 **To Reproduce**

 **Knative release version**
0.11.0

 *

[2019-12-02 23:24] grantr commented on #2047
Fixed by https://github.com/knative/pkg/pull/880

/close

[2019-12-02 23:24] #2047 closed

[2019-12-02 23:28] grantr commented on #1758
/assign @grac3gao

[2019-12-02 23:49] dgerd commented on #2187
I have been spending some time looking at this for Serving. See https://github.com/knative/serving/issues/5076#issuecomment-560711908.

We had an issue that seems fairly similar to the Trigger problem in our Route (https://github.com/knative/serving/issues/4173). The issue was that if you create a new revision and reference that newly created Revision at the same time you likely go through this Un

[2019-12-03 00:28] #2214 closed

[2019-12-03 00:29] chizhg opened #2248 "in-memory channel dispatcher has high CPU usage under heavy load"
**Describe the bug**
Based on the observation for running performance tests, the in-memory channel has high CPU usage (sometime above `2000m`) under heavy load, while the memory usage is always flat (under `300Mi`)
![image](https://user-images.githubusercontent.com/19399934/70006092-bea76680-1520-11ea-86d6-2368ca8d6f86.png)

 **Expected behavior**
1.  imc channel dispatcher should mostly be IO bou

[2019-12-03 00:33] chizhg commented on #2238
The `ulimit` command shows `unlimited` on my VMs, so it should not be a problem.

For the `dial tcp: i/o timeout` error, I'm pretty sure it happens mostly in the middle of the benchmark run.

[2019-12-03 01:57] aslom commented on #2153
@zroubalik thank you for your help - I have got it now working. TLDR: I did not realize that knative kafka source controller was scaling back to one from zero (and it was doing it very fast ...) *and* ran into problem with KEDA 1.0 and had to use latest install form git master (details below)

Short screen recording: https://vimeo.com/376958832

Now that it is working with manual setup next step I

[2019-12-03 02:03] aslom commented on #2153
As next step going to create PR to eventing-contrib Kafka source to modify controller to create ScaledObject if there are scaling parameters in yaml.

[2019-12-03 10:30] xorver commented on #2187
I think the main problems that I'm hitting right now is that PubSub depends on PullSubscription (which is created internally) and it's following `(PullSubscription) Unknown -> (Pubsub) False` logic, whereas more reasonable would be `(PullSubscription) Unknown -> (Pubsub) Unknown`.

This can be seen when creating PubSub and Trigger for nonexistent topic, the resources for around a minute are in sta

[2019-12-03 11:50] meteatamel commented on #2240
Ok, I agree. Thanks for the explanation. Opened https://github.com/google/knative-gcp/issues/435

[2019-12-03 11:50] #2240 closed

[2019-12-03 12:45] aliok commented on #1921
@n3wscott
What I want to achieve is this:

* Service binding operator (https://github.com/redhat-developer/service-binding-operator) reads some annotations from the backing service (e.g. Postgres) CRD
* It then extracts information from the backing service (e.g. URL of the Postgres DB)
* Then injects this information to a PodSpecable thing (e.g. a Knative service or a deployment) using env vars

I

[2019-12-03 17:27] n3wscott commented on #1921
hmmmmm, in this case you are mixing our usage of ducktypes.

(This is new world, not implemented 100% yet):

As we have been thinking about it, the source controller makes some podspeciable, like a deployment, and also a SinkBinding. The sinkbinding points to the deployment and the resource ref-ed in the `spec.sink` place in the source spec.

In that world, you need an addressable. If you made the

[2019-12-03 19:09] capri-xiyue commented on #2187
@dgerd Just wanna clarify your points, you mentioned that ` NotCreated == False and NotYetReady == Unknown logic`.
For example, in the Trigger and Source scenario:

CRD | Scenario | ConditionType | ConditionStatus | Trigger Status
-- | -- | -- | -- | --
trigger | Source does not exist | "Dependency" | False | False
trigger | Failed to get Source | "Dependency" | False | False
trigger | Source is n

[2019-12-03 19:43] dgerd commented on #2187
@capri-xiyue It looks more like:

CRD | Scenario | ConditionType | ConditionStatus | Trigger Status
-- | -- | -- | -- | --
trigger | Source does not exist | "Dependency" | False | False
trigger | Source is not ready, the observedGeneration (status) != generation (spec) | "Dependency" | Unknown | Unknown
trigger | Source is not ready, the status of Source is False | "Dependency" | False | False
tri

[2019-12-03 19:55] chizhg commented on #2239
I'm not sure normally what's the size for an event, but 8Kb sounds really large (128 events will be 1Gb).
@grantr do you have any recommendation for this issue?

[2019-12-03 21:48] yolocs opened #2254 "Proposal: remove broker ingress channel"
**Problem**
Broker currently creates two channels: trigger and ingress. The ingress channel is used to stage events replied by triggers. However, it seems like it's a meaningless additional hop that introduced latency and reliability issue. I think a better approach is to **directly send replies to the ingress service**.

One might argument the ingress channel can help with reliability. Since a re